Repository autowarefoundation/autoware_universe, pull requests merged in 2021-12, with the labels that each got.

#160 ci: fix ci settings
  .github/workflows/build-and-test-pr-arm.yaml
  .github/workflows/delete-closed-pr-docs.yaml
  .github/workflows/deploy-docs.yaml
  .github/workflows/generate-docs.yaml
  .github/workflows/spell-check.yaml
  .pre-commit-config.yaml
  common/autoware_debug_tools/scripts/stop_reason2tf
  common/autoware_rosbag_recorder/scripts/record.sh
  mkdocs.yaml
Labels: ARM64

#162 ci: fix CI settings
  .github/workflows/build-and-test-arm-pr.yaml
  .github/workflows/deploy-docs.yaml
  .github/workflows/semantic-pull-request.yaml
Labels: documentation

#163 ci: fix CI settings
  .github/workflows/build-and-test-arm-pr.yaml
  .github/workflows/build-and-test-pr.yaml
  .github/workflows/build-and-test-scheduled.yaml
  .github/workflows/delete-closed-pr-docs.yaml
  .github/workflows/deploy-docs.yaml
Labels: ARM64

#157 feat: add control_launch package
  launch/control_launch/CMakeLists.txt
  launch/control_launch/README.md
  launch/control_launch/config/trajectory_follower/lateral_controller.param.yaml
  launch/control_launch/config/trajectory_follower/latlon_muxer.param.yaml
  launch/control_launch/config/trajectory_follower/longitudinal_controller.param.yaml
  launch/control_launch/config/vehicle_cmd_gate/vehicle_cmd_gate.param.yaml
  launch/control_launch/control_launch.drawio.svg
  launch/control_launch/launch/control.launch.py
  launch/control_launch/package.xml
Labels: documentation

#173 ci: fix the way to check labels before running unsafe workflows
  .github/workflows/build-and-test-arm-pr.yaml
  .github/workflows/deploy-docs.yaml
Labels: bug, duplicate, ARM64
