Repository autowarefoundation/autoware_universe, pull requests merged in 2022-01, with the labels that each got.

#228 fix(behavior_velocity_planner): fix before/after line of virtual_traffic_light
  planning/behavior_velocity_planner/config/virtual_traffic_light.param.yaml
  planning/behavior_velocity_planner/include/scene_module/virtual_traffic_light/scene.hpp
  planning/behavior_velocity_planner/src/scene_module/virtual_traffic_light/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/virtual_traffic_light/scene.cpp
Labels: merge after porting

#230 fix(behavior_path_planner): fix/frenet coordinate 3d
  planning/behavior_path_planner/src/utilities.cpp
Labels: merge necessary before rc

#242 fix(dummy_perception): fix ns and topic
  simulator/dummy_perception_publisher/launch/dummy_perception_publisher.launch.xml
Labels: merge necessary before rc

#149 fix: use transient_local qos for route
  perception/traffic_light_map_based_detector/src/node.cpp
  planning/mission_planner/src/goal_pose_visualizer/goal_pose_visualizer.cpp
  planning/scenario_selector/src/scenario_selector_node/scenario_selector_node.cpp
Labels: merge after porting

#154 fix(ndt_scan_matcher): fix compiler flags and Eigen aligned allocator to support general SIMD architecture
  localization/ndt/CMakeLists.txt
  localization/ndt/include/ndt/base.hpp
  localization/ndt/include/ndt/impl/omp.hpp
  localization/ndt/include/ndt/impl/pcl_generic.hpp
  localization/ndt/include/ndt/impl/pcl_modified.hpp
  localization/ndt/include/ndt/omp.hpp
  localization/ndt/include/ndt/pcl_generic.hpp
  localization/ndt/include/ndt/pcl_modified.hpp
  localization/ndt_pcl_modified/CMakeLists.txt
  localization/ndt_pcl_modified/include/ndt_pcl_modified/ndt.hpp
  localization/ndt_scan_matcher/CMakeLists.txt
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
Labels: ARM64, merge after porting

#263 fix(system_monitor): fix build error on aarch64
  system/system_monitor/src/cpu_monitor/arm_cpu_monitor.cpp
  system/system_monitor/src/cpu_monitor/raspi_cpu_monitor.cpp
  system/system_monitor/src/cpu_monitor/tegra_cpu_monitor.cpp
Labels: ARM64

#273 test(behavior velocity): fix unstable gtest
  planning/behavior_velocity_planner/CMakeLists.txt
  planning/behavior_velocity_planner/test/src/test_occlusion_spot_utils.cpp
  planning/behavior_velocity_planner/test/src/test_performances.cpp
Labels: ARM64

#309 docs: fix invalid links
  launch/tier4_vehicle_launch/README.md
  perception/multi_object_tracker/README.md
  planning/behavior_velocity_planner/README.md
  sensing/imu_corrector/README.md
  system/system_error_monitor/README.md
Labels: documentation
