Repository autowarefoundation/autoware_universe, pull requests merged in 2022-07, with the labels that each got.

#1205 docs(lanelet2_extention): add route cheker and update launching args
  map/lanelet2_extension/README.md
Labels: documentation, map

#1050 fix(tier4_pcl_extensions): refactoring using range-v3 library
  sensing/tier4_pcl_extensions/include/tier4_pcl_extensions/voxel_grid_nearest_centroid_impl.hpp
  sensing/tier4_pcl_extensions/package.xml
Labels: sensing

#944 feat(crosswalk_traffic_light_estimator): add new package for crosswalk traffic light signals estimation
  perception/crosswalk_traffic_light_estimator/CMakeLists.txt
  perception/crosswalk_traffic_light_estimator/README.md
  perception/crosswalk_traffic_light_estimator/images/intersection1.svg
  perception/crosswalk_traffic_light_estimator/images/intersection2.svg
  perception/crosswalk_traffic_light_estimator/images/straight.drawio.svg
  perception/crosswalk_traffic_light_estimator/include/crosswalk_traffic_light_estimator/node.hpp
  perception/crosswalk_traffic_light_estimator/launch/crosswalk_traffic_light_estimator.launch.xml
  perception/crosswalk_traffic_light_estimator/package.xml
  perception/crosswalk_traffic_light_estimator/src/node.cpp
Labels: documentation, perception

#922 feat(map_based_prediction): output rich prediction paths based on lanelet map for crosswalk users
  perception/map_based_prediction/README.md
  perception/map_based_prediction/config/map_based_prediction.param.yaml
  perception/map_based_prediction/images/exception.svg
  perception/map_based_prediction/images/inside_road.svg
  perception/map_based_prediction/images/outside_road.svg
  perception/map_based_prediction/images/target_objects.svg
  perception/map_based_prediction/include/map_based_prediction/map_based_prediction_node.hpp
  perception/map_based_prediction/include/map_based_prediction/path_generator.hpp
  perception/map_based_prediction/src/map_based_prediction_node.cpp
  perception/map_based_prediction/src/path_generator.cpp
Labels: documentation, perception

#1027 feat(ekf_localizer): allow multi sensor inputs in ekf_localizer
  launch/tier4_localization_launch/launch/pose_twist_fusion_filter/pose_twist_fusion_filter.launch.xml
  localization/ekf_localizer/README.md
  localization/ekf_localizer/include/ekf_localizer/ekf_localizer.hpp
  localization/ekf_localizer/launch/ekf_localizer.launch.xml
  localization/ekf_localizer/src/ekf_localizer.cpp
Labels: localization

#1224 fix(tier4_localization_launch): remove unnecessary param from pose_twist_fusion_filter.launch
  launch/tier4_localization_launch/launch/pose_twist_fusion_filter/pose_twist_fusion_filter.launch.xml
Labels: localization

#1216 feat(map_tf_generator)!: launching planning_simulator without pointcloud map
  launch/tier4_map_launch/launch/map.launch.py
  launch/tier4_map_launch/launch/map.launch.xml
  map/map_tf_generator/CMakeLists.txt
  map/map_tf_generator/Readme.md
  map/map_tf_generator/launch/map_tf_generator.launch.xml
  map/map_tf_generator/package.xml
  map/map_tf_generator/src/pcd_map_tf_generator_node.cpp
  map/map_tf_generator/src/vector_map_tf_generator_node.cpp
  system/ad_service_state_monitor/config/ad_service_state_monitor.planning_simulation.param.yaml
Labels: enhancement, map

#991 feat(pointpainting fusion): add pointpainting
  perception/image_projection_based_fusion/CMakeLists.txt
  perception/image_projection_based_fusion/config/pointpainting.param.yaml
  perception/image_projection_based_fusion/docs/images/pointpainting_fusion.jpg
  perception/image_projection_based_fusion/docs/pointpainting-fusion.md
  perception/image_projection_based_fusion/include/image_projection_based_fusion/fusion_node.hpp
  perception/image_projection_based_fusion/include/image_projection_based_fusion/pointpainting_fusion/node.hpp
  perception/image_projection_based_fusion/include/image_projection_based_fusion/pointpainting_fusion/pointpainting_trt.hpp
  perception/image_projection_based_fusion/include/image_projection_based_fusion/pointpainting_fusion/preprocess_kernel.hpp
  perception/image_projection_based_fusion/include/image_projection_based_fusion/pointpainting_fusion/voxel_generator.hpp
  perception/image_projection_based_fusion/launch/pointpainting_fusion.launch.xml
  perception/image_projection_based_fusion/package.xml
  perception/image_projection_based_fusion/src/fusion_node.cpp
  perception/image_projection_based_fusion/src/pointpainting_fusion/node.cpp
  perception/image_projection_based_fusion/src/pointpainting_fusion/pointpainting_trt.cpp
  perception/image_projection_based_fusion/src/pointpainting_fusion/preprocess_kernel.cu
  perception/image_projection_based_fusion/src/pointpainting_fusion/voxel_generator.cpp
  perception/lidar_centerpoint/include/lidar_centerpoint/centerpoint_trt.hpp
Labels: perception

#1254 docs(behavior_velocity_planner): update crosswalk module document
  planning/behavior_velocity_planner/crosswalk-design.md
  planning/behavior_velocity_planner/docs/crosswalk/crosswalk.png
  planning/behavior_velocity_planner/docs/crosswalk/crosswalk_attention_range.svg
  planning/behavior_velocity_planner/docs/crosswalk/example.png
  planning/behavior_velocity_planner/docs/crosswalk/limitation.svg
  planning/behavior_velocity_planner/docs/crosswalk/no-intension.svg
  planning/behavior_velocity_planner/docs/crosswalk/stop_line.svg
  planning/behavior_velocity_planner/docs/crosswalk/stop_line_distance.svg
  planning/behavior_velocity_planner/docs/crosswalk/stop_line_margin.svg
  planning/behavior_velocity_planner/docs/crosswalk/stop_margin.svg
  planning/behavior_velocity_planner/docs/crosswalk/stuck_vehicle_attention_range.svg
  planning/behavior_velocity_planner/docs/crosswalk/ttc-ttv.svg
  planning/behavior_velocity_planner/docs/crosswalk/virtual_collision_point.svg
Labels: documentation, planning

#1282 feat(localization_error_monitor): add a config file
  launch/tier4_localization_launch/config/localization_error_monitor.param.yaml
  launch/tier4_localization_launch/launch/localization_error_monitor/localization_error_monitor.launch.xml
  localization/localization_error_monitor/config/localization_error_monitor.param.yaml
  localization/localization_error_monitor/launch/localization_error_monitor.launch.xml
Labels: localization

#1339 docs(tensorrt-yolo): add how to convert
  perception/tensorrt_yolo/README.md
Labels: perception

#1299 docs(behavior_velocity_planner): use markdown extensions for image alignment
  mkdocs.yaml
  planning/behavior_velocity_planner/crosswalk-design.md
Labels: documentation

#1354 fix(ndt_scan_matcher): update timestamp of the return value of alignUsingMonteCarlo() service
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
Labels: bug, localization

#1230 fix(gnss_poser): add new autoware sensing msgs for covariance default value problem
  build_depends.humble.repos
  build_depends.repos
  sensing/gnss_poser/include/gnss_poser/gnss_poser_core.hpp
  sensing/gnss_poser/launch/gnss_poser.launch.xml
  sensing/gnss_poser/launch/ubloxfix2mgrs.launch.xml
  sensing/gnss_poser/package.xml
  sensing/gnss_poser/src/gnss_poser_core.cpp
Labels: high priority, sensing

#1227 fix(gnss_poser): added local coordinate system in UTM to gnss_poser
  sensing/gnss_poser/README.md
  sensing/gnss_poser/config/set_local_origin.param.yaml
  sensing/gnss_poser/include/gnss_poser/convert.hpp
  sensing/gnss_poser/include/gnss_poser/gnss_stat.hpp
  sensing/gnss_poser/launch/gnss_poser.launch.xml
  sensing/gnss_poser/src/gnss_poser_core.cpp
Labels: high priority, localization

#1449 fix(behavior_velocity_planner): consider all lane_ids of path points
  planning/behavior_velocity_planner/src/utilization/util.cpp
Labels: planning

#1453 feat(trajectory_follower): fix steering_tire_rotation_rate
  control/trajectory_follower/src/mpc.cpp
Labels: control

#1450 fix(tier4_control_launch): pass vehicle_info_param to trajectory_follower
  launch/tier4_control_launch/launch/control.launch.py
Labels: control

#1292 feat(shape_estimation): add boost optimizer
  perception/shape_estimation/include/shape_estimation/model/bounding_box.hpp
  perception/shape_estimation/include/shape_estimation/shape_estimator.hpp
  perception/shape_estimation/launch/shape_estimation.launch.xml
  perception/shape_estimation/lib/model/bounding_box.cpp
  perception/shape_estimation/lib/shape_estimator.cpp
  perception/shape_estimation/src/node.cpp
Labels: perception

#1424 fix(trajectory_follower): detect driving direction with yaw
  common/motion_utils/include/motion_utils/trajectory/trajectory.hpp
  control/trajectory_follower/include/trajectory_follower/mpc.hpp
  control/trajectory_follower/include/trajectory_follower/mpc_trajectory.hpp
  control/trajectory_follower/include/trajectory_follower/mpc_utils.hpp
  control/trajectory_follower/src/mpc.cpp
  control/trajectory_follower/src/mpc_utils.cpp
  planning/behavior_velocity_planner/include/behavior_velocity_planner/node.hpp
  planning/behavior_velocity_planner/src/node.cpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/node.hpp
  planning/obstacle_avoidance_planner/src/node.cpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/node.hpp
  planning/obstacle_cruise_planner/src/node.cpp
  planning/obstacle_stop_planner/include/obstacle_stop_planner/node.hpp
  planning/obstacle_stop_planner/src/node.cpp
Labels: planning, control
