Repository autowarefoundation/autoware_universe, pull requests merged in 2022-11, with the labels that each got.

#2107 refactor(ekf_localizer): add a struct to load hyper parameters
  localization/ekf_localizer/include/ekf_localizer/ekf_localizer.hpp
  localization/ekf_localizer/include/ekf_localizer/hyper_parameters.hpp
  localization/ekf_localizer/src/ekf_localizer.cpp
Labels: localization

#2196 fix(behavior_path_planner): fix offset sign expanding side shift drivable area
  planning/behavior_path_planner/src/scene_module/side_shift/side_shift_module.cpp
Labels: planning

#2199 refactor(ndt_scan_matcher): isolate align function into ndt_omp
  localization/ndt_scan_matcher/include/ndt_scan_matcher/ndt_scan_matcher_core.hpp
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
Labels: localization

#2240 fix(ndt_scan_matcher): fix ndt_ptr in align_using_monte_carlo
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
Labels: localization

#2241 fix(ndt_scan_matcher): add regularization_scale_factor declaration
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
Labels: localization

#2242 refactor(ndt_scan_matcher): simplify parameter interface of ndt_ptr_
  localization/ndt_scan_matcher/include/ndt_scan_matcher/ndt_scan_matcher_core.hpp
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
Labels: localization

#2249 refactor(ndt_scan_matcher): modularize map_callback
  localization/ndt_scan_matcher/CMakeLists.txt
  localization/ndt_scan_matcher/include/ndt_scan_matcher/map_module.hpp
  localization/ndt_scan_matcher/include/ndt_scan_matcher/ndt_scan_matcher_core.hpp
  localization/ndt_scan_matcher/src/map_module.cpp
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
Labels: localization

#2243 refactor(map_loader): modularization
  map/map_loader/CMakeLists.txt
  map/map_loader/include/map_loader/pointcloud_map_loader_node.hpp
  map/map_loader/package.xml
  map/map_loader/src/pointcloud_map_loader/pointcloud_map_loader_module.cpp
  map/map_loader/src/pointcloud_map_loader/pointcloud_map_loader_module.hpp
  map/map_loader/src/pointcloud_map_loader/pointcloud_map_loader_node.cpp
  map/map_loader/src/pointcloud_map_loader/pointcloud_map_loader_node.hpp
Labels: map

#2254 refactor(ndt_scan_matcher): modularize pose initialization
  localization/ndt_scan_matcher/CMakeLists.txt
  localization/ndt_scan_matcher/include/ndt_scan_matcher/ndt_scan_matcher_core.hpp
  localization/ndt_scan_matcher/include/ndt_scan_matcher/pose_initialization_module.hpp
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
  localization/ndt_scan_matcher/src/pose_initialization_module.cpp
Labels: localization

#2266 ci: add automatic PR labeler
  .github/labeler.yaml
  .github/workflows/pr-labeler.yaml
Labels: ci

#2281 fix(tier4_simulator_launch): fix path
  launch/tier4_simulator_launch/launch/simulator.launch.xml
Labels: bug, launch

#2149 feat(behavior_path_planner): debug message for lane change
  planning/behavior_path_planner/CMakeLists.txt
  planning/behavior_path_planner/include/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/include/behavior_path_planner/behavior_tree_manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/debug_utilities.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/lane_change_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_following/lane_following_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_out/pull_out_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/pull_over_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_visitor.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/side_shift/side_shift_module.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/behavior_tree_manager.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/scene_module_visitor.cpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: enhancement, planning

#2284 fix(behavior_path_planner): delete unnecessary codes
  planning/behavior_path_planner/src/scene_module/pull_out/pull_out_module.cpp
Labels: planning

#2114 feat(tier4_localization_launch): pass pc container to localization
  launch/tier4_localization_launch/launch/localization.launch.xml
  launch/tier4_localization_launch/launch/util/util.launch.py
  launch/tier4_localization_launch/launch/util/util.launch.xml
Labels: localization

#2283 fix(motion_velocity_smoother): mismatch of v0/a0 between optimization and external velocity limit
  planning/motion_velocity_smoother/include/motion_velocity_smoother/motion_velocity_smoother_node.hpp
  planning/motion_velocity_smoother/src/motion_velocity_smoother_node.cpp
Labels: planning

#2286 feat(behavior_path_planner): delete unnecessary procedure
  planning/behavior_path_planner/src/scene_module/pull_out/util.cpp
Labels: planning

#2289 fix(motion_velocity_smoother): fix taking long time to start in "l2_smoother"
  planning/motion_velocity_smoother/src/smoother/l2_pseudo_jerk_smoother.cpp
Labels: planning

#2155 fix: add check for external_emergency_stop_heartbeat_received_time to isDataReady
  control/vehicle_cmd_gate/README.md
  control/vehicle_cmd_gate/src/vehicle_cmd_gate.cpp
Labels: control, document

#2013 feat(static centerline optimizer): new package
  planning/static_centerline_optimizer/CMakeLists.txt
  planning/static_centerline_optimizer/README.md
  planning/static_centerline_optimizer/config/static_centerline_optimizer.param.yaml
  planning/static_centerline_optimizer/include/static_centerline_optimizer/collision_free_optimizer_node.hpp
  planning/static_centerline_optimizer/include/static_centerline_optimizer/static_centerline_optimizer_node.hpp
  planning/static_centerline_optimizer/include/static_centerline_optimizer/type_alias.hpp
  planning/static_centerline_optimizer/include/static_centerline_optimizer/utils.hpp
  planning/static_centerline_optimizer/launch/run_planning_server.launch.xml
  planning/static_centerline_optimizer/launch/static_centerline_optimizer.launch.xml
  planning/static_centerline_optimizer/media/rviz.png
  planning/static_centerline_optimizer/media/unsafe_footprints.png
  planning/static_centerline_optimizer/msg/PointsWithLaneId.msg
  planning/static_centerline_optimizer/package.xml
  planning/static_centerline_optimizer/rviz/static_centerline_optimizer.rviz
  planning/static_centerline_optimizer/scripts/app.py
  planning/static_centerline_optimizer/src/collision_free_optimizer_node.cpp
  planning/static_centerline_optimizer/src/main.cpp
  planning/static_centerline_optimizer/src/static_centerline_optimizer_node.cpp
  planning/static_centerline_optimizer/src/utils.cpp
  planning/static_centerline_optimizer/srv/LoadMap.srv
  planning/static_centerline_optimizer/srv/PlanPath.srv
  planning/static_centerline_optimizer/srv/PlanRoute.srv
Labels: documentation, planning, document

#2274 refactor(motion_common, motion_testing): remove packages
  common/motion_common/CMakeLists.txt
  common/motion_common/include/motion_common/config.hpp
  common/motion_common/include/motion_common/motion_common.hpp
  common/motion_common/include/motion_common/trajectory_common.hpp
  common/motion_common/include/motion_common/visibility_control.hpp
  common/motion_common/package.xml
  common/motion_common/scripts/autogeneration_code_snippets/kinematic_bicycle.snippet.hpp
  common/motion_common/scripts/autogeneration_code_snippets/linear_tire.snippet.hpp
  common/motion_common/src/motion_common/config.cpp
  common/motion_common/src/motion_common/motion_common.cpp
  common/motion_common/src/motion_common/trajectory_common.cpp
  common/motion_common/test/gtest_main.cpp
  common/motion_common/test/interpolation.cpp
  common/motion_common/test/sanity_checks.cpp
  common/motion_common/test/trajectory.cpp
  common/motion_testing/CMakeLists.txt
  common/motion_testing/include/motion_testing/motion_testing.hpp
  common/motion_testing/include/motion_testing/visibility_control.hpp
  common/motion_testing/package.xml
  common/motion_testing/src/motion_testing/motion_testing.cpp
  common/motion_testing/test/constant_trajectory.cpp
  common/motion_testing/test/gtest_main.cpp
  common/motion_testing/test/trajectory_checks.cpp
Labels: document, common

#1831 fix(behavior_velocity_planner): vehicle points lateral calculation
  planning/behavior_velocity_planner/include/scene_module/occlusion_spot/occlusion_spot_utils.hpp
  planning/behavior_velocity_planner/include/scene_module/run_out/utils.hpp
  planning/behavior_velocity_planner/include/utilization/util.hpp
  planning/behavior_velocity_planner/src/scene_module/occlusion_spot/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/occlusion_spot/occlusion_spot_utils.cpp
  planning/behavior_velocity_planner/src/scene_module/run_out/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/run_out/scene.cpp
  planning/behavior_velocity_planner/src/utilization/util.cpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/common_structs.hpp
  planning/obstacle_avoidance_planner/src/node.cpp
  planning/obstacle_avoidance_planner/src/utils/cv_utils.cpp
  planning/obstacle_avoidance_planner/src/utils/debug_utils.cpp
Labels: planning

#2298 chore(motion_velocity_smoother): add debug print for non-supported function
  planning/motion_velocity_smoother/src/motion_velocity_smoother_node.cpp
Labels: planning

#2185 fix(lidar_apollo_segmentation_tvm, tvm_utility): fixed output dim and pipeline
  common/tvm_utility/include/tvm_utility/pipeline.hpp
  common/tvm_utility/tvm_utility-extras.cmake
  perception/lidar_apollo_segmentation_tvm/include/lidar_apollo_segmentation_tvm/lidar_apollo_segmentation_tvm.hpp
  perception/lidar_apollo_segmentation_tvm/src/lidar_apollo_segmentation_tvm.cpp
  perception/lidar_apollo_segmentation_tvm/test/main.cpp
  perception/lidar_apollo_segmentation_tvm_nodes/param/test.param.yaml
Labels: perception, common

#2301 ci(labeler): fix labeler target
  .github/labeler.yaml
Labels: ci

#2299 fix(external_cmd_selector): add diagnostic force_update
  control/external_cmd_selector/src/external_cmd_selector/external_cmd_selector_node.cpp
Labels: control

#2127 refactor(pure_pursuit): make lookahead distance calculation more tunable
  control/pure_pursuit/config/pure_pursuit_lateral_controller_plotjuggler_debug.xml
  control/pure_pursuit/include/pure_pursuit/pure_pursuit_lateral_controller.hpp
  control/pure_pursuit/package.xml
  control/pure_pursuit/src/pure_pursuit/pure_pursuit_lateral_controller.cpp
Labels: control

#2305 fix(map_based_prediction): fix too short predicted path
  perception/map_based_prediction/include/map_based_prediction/map_based_prediction_node.hpp
  perception/map_based_prediction/src/map_based_prediction_node.cpp
Labels: perception

#1569 feat(default_ad_api): add operation mode api
  system/default_ad_api/CMakeLists.txt
  system/default_ad_api/launch/default_ad_api.launch.py
  system/default_ad_api/package.xml
  system/default_ad_api/src/interface.hpp
  system/default_ad_api/src/localization.hpp
  system/default_ad_api/src/operation_mode.cpp
  system/default_ad_api/src/operation_mode.hpp
Labels: documentation, system

#2141 feat(pure_pursuit): adding average trajectory smoother
  control/pure_pursuit/include/pure_pursuit/pure_pursuit_lateral_controller.hpp
  control/pure_pursuit/src/pure_pursuit/pure_pursuit_lateral_controller.cpp
Labels: control

#2315 ci(update-codeowners-from-packages): add global codeowners
  .github/workflows/update-codeowners-from-packages.yaml
Labels: ci

#2282 feat(avoidance): improve avoidance target filter
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/debug.hpp
  planning/behavior_path_planner/package.xml
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_utils.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/debug.cpp
Labels: planning, launch

#2313 fix(behavior_path_planner): use expand lanelet in pull over
  planning/behavior_path_planner/src/scene_module/pull_over/pull_over_module.cpp
Labels: planning

#2226 fix(intersection): fixed stuck vehicle stop line and refactor stop line logic
  planning/behavior_velocity_planner/include/scene_module/intersection/util.hpp
  planning/behavior_velocity_planner/intersection-design.md
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_intersection.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_merge_from_private_road.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/util.cpp
Labels: documentation, planning

#2303 feat(perception_utils): enable tracker to track smaller object by adapting min_union_area
  common/perception_utils/include/perception_utils/matching.hpp
  perception/multi_object_tracker/src/data_association/data_association.cpp
  perception/multi_object_tracker/src/multi_object_tracker_core.cpp
  perception/object_merger/src/object_association_merger/data_association/data_association.cpp
Labels: perception, common

#2136 feat: remove launch for old routing api
  launch/tier4_autoware_api_launch/launch/include/internal_api_adaptor.launch.py
Labels: launch

#2323 feat(behavior_velocity_planner): output stop reason of traffic light whenever a stop point is inserted
  planning/behavior_velocity_planner/src/scene_module/traffic_light/scene.cpp
Labels: planning

#2320 feat(behavior_path_planner): update expansion function for drivable area
  planning/behavior_path_planner/include/behavior_path_planner/data_manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/util.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_out/pull_out_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_out/util.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/pull_over_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/util.cpp
  planning/behavior_path_planner/src/scene_module/lane_following/lane_following_module.cpp
  planning/behavior_path_planner/src/scene_module/pull_out/geometric_pull_out.cpp
  planning/behavior_path_planner/src/scene_module/pull_out/pull_out_module.cpp
  planning/behavior_path_planner/src/scene_module/pull_out/shift_pull_out.cpp
  planning/behavior_path_planner/src/scene_module/pull_out/util.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/pull_over_module.cpp
  planning/behavior_path_planner/src/scene_module/side_shift/side_shift_module.cpp
  planning/behavior_path_planner/src/utilities.cpp
  planning/behavior_path_planner/test/test_utilities.cpp
  planning/static_centerline_optimizer/src/utils.cpp
Labels: planning

#2300 feat(radar_threshold_filter): add radar_threshold_filter package
  sensing/radar_threshold_filter/CMakeLists.txt
  sensing/radar_threshold_filter/README.md
  sensing/radar_threshold_filter/config/radar_threshold_filter.param.yaml
  sensing/radar_threshold_filter/include/radar_threshold_filter/radar_threshold_filter_node.hpp
  sensing/radar_threshold_filter/launch/radar_threshold_filter.launch.xml
  sensing/radar_threshold_filter/package.xml
  sensing/radar_threshold_filter/src/radar_threshold_filter_node/radar_threshold_filter_node.cpp
Labels: documentation, sensing

#2324 feat(behavior_path_planner): fix lane change drivable lanes
  planning/behavior_path_planner/src/scene_module/lane_change/util.cpp
Labels: planning

#2294 fix(static_centerline_optimizer): fixed TODOs and implemented changed interfaces
  planning/static_centerline_optimizer/include/static_centerline_optimizer/static_centerline_optimizer_node.hpp
  planning/static_centerline_optimizer/scripts/app.py
  planning/static_centerline_optimizer/src/static_centerline_optimizer_node.cpp
  planning/static_centerline_optimizer/srv/LoadMap.srv
  planning/static_centerline_optimizer/srv/PlanPath.srv
Labels: planning

#2337 fix(behavior_path_planner): fix expandLanelets for drivable lanes
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#2285 fix(system_monitor): add parameter to launch system_monitor and fix hdd_monitor
  launch/tier4_system_launch/config/system_monitor/hdd_monitor.param.yaml
  launch/tier4_system_launch/launch/system.launch.xml
Labels: bug, enhancement, launch

#2317 revert: "feat(pointcloud_preprocessor): use point_cloud_msg_wrapper"
  common/autoware_auto_common/include/common/types.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/concatenate_data/concatenate_data_nodelet.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/distortion_corrector/distortion_corrector.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/polygon_remover/polygon_remover.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/utility/utilities.hpp
  sensing/pointcloud_preprocessor/package.xml
  sensing/pointcloud_preprocessor/src/concatenate_data/concatenate_data_nodelet.cpp
  sensing/pointcloud_preprocessor/src/crop_box_filter/crop_box_filter_nodelet.cpp
  sensing/pointcloud_preprocessor/src/distortion_corrector/distortion_corrector.cpp
  sensing/pointcloud_preprocessor/src/utility/utilities.cpp
Labels: sensing, common

#2342 fix(pointcloud_preprocessor): remove unused definition
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/outlier_filter/ring_outlier_filter_nodelet.hpp
Labels: sensing

#2344 feat(route_handler): add invert flag
  planning/route_handler/include/route_handler/route_handler.hpp
  planning/route_handler/src/route_handler.cpp
Labels: planning

#2346 feat(behavior_velocity_planner): parameterize ego_yield_query_stop_duration for crosswalk module
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/crosswalk.param.yaml
  planning/behavior_velocity_planner/config/crosswalk.param.yaml
  planning/behavior_velocity_planner/crosswalk-design.md
  planning/behavior_velocity_planner/include/scene_module/crosswalk/scene_crosswalk.hpp
  planning/behavior_velocity_planner/src/scene_module/crosswalk/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/crosswalk/scene_crosswalk.cpp
Labels: documentation, planning, launch

#2347 feat(behavior_path_planner): enable invert lanelet flag
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#2348 ci(sync-files): sync .pre-commit-config.yaml
  .github/sync-files.yaml
Labels: ci

#2295 feat(default_ad_api): add fail-safe api
  common/autoware_ad_api_specs/include/autoware_ad_api_specs/fail_safe.hpp
  common/component_interface_specs/include/component_interface_specs/system.hpp
  system/default_ad_api/CMakeLists.txt
  system/default_ad_api/launch/default_ad_api.launch.py
  system/default_ad_api/src/fail_safe.cpp
  system/default_ad_api/src/fail_safe.hpp
Labels: system, common

#2322 fix(component_interface_utils): fix error level
  common/component_interface_utils/include/component_interface_utils/rclcpp/exceptions.hpp
Labels: common

#2198 feat(behavior_path_planner): add avoid_margin for over distance case
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#2175 feat(image_projection_based_fusion): substitute message filter with custom synchronizer
  perception/image_projection_based_fusion/config/roi_sync.param.yaml
  perception/image_projection_based_fusion/include/image_projection_based_fusion/fusion_node.hpp
  perception/image_projection_based_fusion/include/image_projection_based_fusion/pointpainting_fusion/node.hpp
  perception/image_projection_based_fusion/launch/pointpainting_fusion.launch.xml
  perception/image_projection_based_fusion/launch/roi_cluster_fusion.launch.xml
  perception/image_projection_based_fusion/launch/roi_detected_object_fusion.launch.xml
  perception/image_projection_based_fusion/src/fusion_node.cpp
  perception/image_projection_based_fusion/src/pointpainting_fusion/node.cpp
Labels: perception

#2318 feat(operation_mode_transition_manager): modify transition timeout
  control/operation_mode_transition_manager/config/operation_mode_transition_manager.param.yaml
  control/operation_mode_transition_manager/src/node.cpp
  control/operation_mode_transition_manager/src/node.hpp
  launch/tier4_control_launch/config/operation_mode_transition_manager/operation_mode_transition_manager.param.yaml
Labels: control, launch

#2311 feat(ad_service_state_monitor)!: remove ad_service_state_monitor
  .github/CODEOWNERS
  launch/tier4_system_launch/config/ad_service_state_monitor/ad_service_state_monitor.param.yaml
  launch/tier4_system_launch/config/ad_service_state_monitor/ad_service_state_monitor.planning_simulation.param.yaml
  launch/tier4_system_launch/config/component_state_monitor/topics.yaml
  launch/tier4_system_launch/config/system_error_monitor/system_error_monitor.param.yaml
  launch/tier4_system_launch/config/system_error_monitor/system_error_monitor.planning_simulation.param.yaml
  launch/tier4_system_launch/launch/system.launch.xml
  launch/tier4_system_launch/package.xml
  launch/tier4_system_launch/system_launch.drawio.svg
  system/ad_service_state_monitor/CMakeLists.txt
  system/ad_service_state_monitor/README.md
  system/ad_service_state_monitor/config/ad_service_state_monitor.param.yaml
  system/ad_service_state_monitor/config/ad_service_state_monitor.planning_simulation.param.yaml
  system/ad_service_state_monitor/include/ad_service_state_monitor/ad_service_state.hpp
  system/ad_service_state_monitor/include/ad_service_state_monitor/ad_service_state_monitor_node.hpp
  system/ad_service_state_monitor/include/ad_service_state_monitor/config.hpp
  system/ad_service_state_monitor/include/ad_service_state_monitor/module_name.hpp
  system/ad_service_state_monitor/include/ad_service_state_monitor/state_machine.hpp
  system/ad_service_state_monitor/launch/ad_service_state_monitor.launch.xml
  system/ad_service_state_monitor/package.xml
  system/ad_service_state_monitor/src/ad_service_state_monitor_node/ad_service_state_monitor_node.cpp
  system/ad_service_state_monitor/src/ad_service_state_monitor_node/diagnostics.cpp
  system/ad_service_state_monitor/src/ad_service_state_monitor_node/main.cpp
  system/ad_service_state_monitor/src/ad_service_state_monitor_node/state_machine.cpp
  system/default_ad_api/CMakeLists.txt
  system/default_ad_api/launch/default_ad_api.launch.py
  system/default_ad_api/package.xml
  system/default_ad_api/src/compatibility/autoware_state.cpp
  system/default_ad_api/src/compatibility/autoware_state.hpp
  system/default_ad_api/src/routing.cpp
  system/default_ad_api/src/routing.hpp
  system/system_error_monitor/config/diagnostic_aggregator/sensing.param.yaml
  system/system_error_monitor/config/system_error_monitor.param.yaml
  system/system_error_monitor/config/system_error_monitor.planning_simulation.param.yaml
Labels: documentation, system, ci, launch

#2319 feat(default_ad_api): interface version 1.0.0
  system/default_ad_api/src/interface.cpp
Labels: system

#2363 feat(behavior_path_planner): add missing header
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_utils.cpp
Labels: planning

#2365 fix(default_ad_api): fix test
  system/default_ad_api/test/node/interface_version.py
Labels: system

#2345 fix(behavior_path_planner): replace object_hold_max_count with object_last_seen_threshold
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
Labels: bug, planning, launch

#2361 chore: add api maintainers
  common/autoware_ad_api_specs/package.xml
  common/component_interface_specs/package.xml
  common/component_interface_utils/package.xml
  common/path_distance_calculator/package.xml
  common/tier4_api_utils/package.xml
  common/tier4_datetime_rviz_plugin/package.xml
  common/tier4_localization_rviz_plugin/package.xml
  launch/tier4_autoware_api_launch/package.xml
  system/component_state_monitor/package.xml
  system/default_ad_api/package.xml
  system/default_ad_api_helpers/ad_api_adaptors/package.xml
  system/default_ad_api_helpers/automatic_pose_initializer/package.xml
Labels: system, launch, common

#2372 feat(motion_utils): add a resample funciton
  common/motion_utils/include/motion_utils/resample/resample.hpp
  common/motion_utils/src/resample/resample.cpp
  common/motion_utils/test/src/resample/test_resample.cpp
Labels: common

#2366 refactor(radar_threshold_filter): fix changing to autoware_cmake dependency
  sensing/radar_threshold_filter/CMakeLists.txt
  sensing/radar_threshold_filter/package.xml
Labels: sensing

#2368 refactor(radar_tracks_msgs_converter): delete unused cmake option
  perception/radar_tracks_msgs_converter/CMakeLists.txt
  perception/radar_tracks_msgs_converter/package.xml
Labels: perception

#2367 refactor(radar_fusion_to_detected_object): delete unused cmake option
  perception/radar_fusion_to_detected_object/CMakeLists.txt
  perception/radar_fusion_to_detected_object/package.xml
Labels: perception

#2369 refactor(front_vehicle_velocity_estimator): delete unused cmake option
  perception/front_vehicle_velocity_estimator/CMakeLists.txt
  perception/front_vehicle_velocity_estimator/package.xml
Labels: perception

#1926 feat(lidar_centerpoint): single inference lidar centerpoint node
  perception/lidar_centerpoint/CMakeLists.txt
  perception/lidar_centerpoint/README.md
  perception/lidar_centerpoint/include/lidar_centerpoint/single_inference_node.hpp
  perception/lidar_centerpoint/launch/single_inference_lidar_centerpoint.launch.xml
  perception/lidar_centerpoint/package.xml
  perception/lidar_centerpoint/scripts/lidar_centerpoint_visualizer.py
  perception/lidar_centerpoint/src/single_inference_node.cpp
Labels: documentation, perception

#2287 fix(behavior_path_planner): fix lane change logic on the edge case
  planning/behavior_path_planner/behavior_path_planner_lane_change.md
  planning/behavior_path_planner/config/behavior_path_planner.param.yaml
  planning/behavior_path_planner/config/lane_change/lane_change.param.yaml
  planning/behavior_path_planner/image/lane_change/lane_change-enable_collision_check_at_prepare_phase.png
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/util.cpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: documentation, planning

#2377 refactor(behavior_path_planner): remove unused pull_over member variable
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/pull_over_module.hpp
  planning/behavior_path_planner/src/scene_module/pull_over/pull_over_module.cpp
Labels: planning

#2358 refactor(behavior_path_planner): refactor lane change main functions
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/lane_change_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/util.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/util.cpp
Labels: planning

#2371 feat(behavior_path_planner): abort deceleration for abort condition
  planning/behavior_path_planner/config/behavior_path_planner.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/util.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/util.cpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#2378 fix(mrm_emergency_stop_operator): fix parameter loading in mrm operators
  launch/tier4_system_launch/config/mrm_comfortable_stop_operator/mrm_comfortable_stop_operator.param.yaml
  launch/tier4_system_launch/config/mrm_emergency_stop_operator/mrm_emergency_stop_operator.param.yaml
  launch/tier4_system_launch/launch/system.launch.xml
  system/mrm_comfortable_stop_operator/config/mrm_comfortable_stop_operator.param.yaml
  system/mrm_comfortable_stop_operator/launch/mrm_comfortable_stop_operator.launch.py
  system/mrm_emergency_stop_operator/config/mrm_emergency_stop_operator.param.yaml
  system/mrm_emergency_stop_operator/launch/mrm_emergency_stop_operator.launch.py
Labels: system, launch

#2382 fix(behavior_path_planner): node died when change ego behavior
  planning/behavior_path_planner/src/turn_signal_decider.cpp
Labels: planning

#2349 feat(obstacle_avoidance_planner): parameterize non_fixed_trajectory_length
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/motion_planning/obstacle_avoidance_planner/obstacle_avoidance_planner.param.yaml
  planning/obstacle_avoidance_planner/config/obstacle_avoidance_planner.param.yaml
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/common_structs.hpp
  planning/obstacle_avoidance_planner/src/node.cpp
Labels: planning, launch

#2386 fix(gyro_odometer): fix variable name
  localization/gyro_odometer/src/gyro_odometer_core.cpp
Labels: localization

#2385 feat(lidar_centerpoint_tvm): add lidar centerpoint tvm package
  perception/lidar_centerpoint_tvm/.gitignore
  perception/lidar_centerpoint_tvm/CMakeLists.txt
  perception/lidar_centerpoint_tvm/README.md
  perception/lidar_centerpoint_tvm/config/centerpoint.param.yaml
  perception/lidar_centerpoint_tvm/config/centerpoint_tiny.param.yaml
  perception/lidar_centerpoint_tvm/include/lidar_centerpoint_tvm/centerpoint_config.hpp
  perception/lidar_centerpoint_tvm/include/lidar_centerpoint_tvm/centerpoint_tvm.hpp
  perception/lidar_centerpoint_tvm/include/lidar_centerpoint_tvm/network/scatter.hpp
  perception/lidar_centerpoint_tvm/include/lidar_centerpoint_tvm/node.hpp
  perception/lidar_centerpoint_tvm/include/lidar_centerpoint_tvm/postprocess/circle_nms.hpp
  perception/lidar_centerpoint_tvm/include/lidar_centerpoint_tvm/postprocess/generate_detected_boxes.hpp
  perception/lidar_centerpoint_tvm/include/lidar_centerpoint_tvm/preprocess/generate_features.hpp
  perception/lidar_centerpoint_tvm/include/lidar_centerpoint_tvm/preprocess/pointcloud_densification.hpp
  perception/lidar_centerpoint_tvm/include/lidar_centerpoint_tvm/preprocess/voxel_generator.hpp
  perception/lidar_centerpoint_tvm/include/lidar_centerpoint_tvm/ros_utils.hpp
  perception/lidar_centerpoint_tvm/include/lidar_centerpoint_tvm/utils.hpp
  perception/lidar_centerpoint_tvm/include/lidar_centerpoint_tvm/visibility_control.hpp
  perception/lidar_centerpoint_tvm/launch/lidar_centerpoint_tvm.launch.xml
  perception/lidar_centerpoint_tvm/lib/centerpoint_tvm.cpp
  perception/lidar_centerpoint_tvm/lib/network/scatter.cpp
  perception/lidar_centerpoint_tvm/lib/postprocess/circle_nms.cpp
  perception/lidar_centerpoint_tvm/lib/postprocess/generate_detected_boxes.cpp
  perception/lidar_centerpoint_tvm/lib/preprocess/generate_features.cpp
  perception/lidar_centerpoint_tvm/lib/preprocess/pointcloud_densification.cpp
  perception/lidar_centerpoint_tvm/lib/preprocess/voxel_generator.cpp
  perception/lidar_centerpoint_tvm/lib/ros_utils.cpp
  perception/lidar_centerpoint_tvm/lib/utils.cpp
  perception/lidar_centerpoint_tvm/package.xml
  perception/lidar_centerpoint_tvm/src/node.cpp
Labels: documentation, perception

#2360 feat(imu_corrector): publish /sensing/imu/imu_data in base_link
  sensing/imu_corrector/README.md
  sensing/imu_corrector/include/imu_corrector/imu_corrector_core.hpp
  sensing/imu_corrector/package.xml
  sensing/imu_corrector/src/imu_corrector_core.cpp
Labels: documentation, sensing

#2379 fix(behavior_path_planner): check lane departure and relative angle for lane change
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/lane_change_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#2393 chore(obstacle_stop_planner): add maintainers
  planning/obstacle_stop_planner/package.xml
Labels: planning

#2395 fix(behavior_path_planner): consider almost zero longitudinal start l…
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#2276 fix(slow_down_planner): improper parameter used in slow down
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/motion_planning/motion_planning.launch.py
  planning/obstacle_stop_planner/src/node.cpp
Labels: planning, launch

#2373 refactor: use type alias in behavior modules
  planning/behavior_velocity_planner/include/scene_module/blind_spot/scene.hpp
  planning/behavior_velocity_planner/include/scene_module/crosswalk/scene_crosswalk.hpp
  planning/behavior_velocity_planner/include/scene_module/crosswalk/scene_walkway.hpp
  planning/behavior_velocity_planner/include/scene_module/detection_area/scene.hpp
  planning/behavior_velocity_planner/include/scene_module/intersection/scene_intersection.hpp
  planning/behavior_velocity_planner/include/scene_module/intersection/scene_merge_from_private_road.hpp
  planning/behavior_velocity_planner/include/scene_module/no_stopping_area/scene_no_stopping_area.hpp
  planning/behavior_velocity_planner/include/scene_module/occlusion_spot/scene_occlusion_spot.hpp
  planning/behavior_velocity_planner/include/scene_module/run_out/scene.hpp
  planning/behavior_velocity_planner/include/scene_module/scene_module_interface.hpp
  planning/behavior_velocity_planner/include/scene_module/stop_line/scene.hpp
  planning/behavior_velocity_planner/include/scene_module/traffic_light/scene.hpp
  planning/behavior_velocity_planner/include/scene_module/virtual_traffic_light/scene.hpp
  planning/behavior_velocity_planner/src/scene_module/blind_spot/scene.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_intersection.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_merge_from_private_road.cpp
  planning/behavior_velocity_planner/src/scene_module/no_stopping_area/scene_no_stopping_area.cpp
  planning/behavior_velocity_planner/src/scene_module/occlusion_spot/scene_occlusion_spot.cpp
  planning/behavior_velocity_planner/src/scene_module/run_out/scene.cpp
  planning/behavior_velocity_planner/src/scene_module/stop_line/scene.cpp
  planning/behavior_velocity_planner/src/scene_module/traffic_light/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/traffic_light/scene.cpp
  planning/behavior_velocity_planner/src/scene_module/virtual_traffic_light/scene.cpp
  planning/surround_obstacle_checker/include/surround_obstacle_checker/debug_marker.hpp
Labels: planning

#2357 fix(obstacle_avoidance_planner): apply dynamic path length to fixed trajectory in eb
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/motion_planning/obstacle_avoidance_planner/obstacle_avoidance_planner.param.yaml
  planning/obstacle_avoidance_planner/config/obstacle_avoidance_planner.param.yaml
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/common_structs.hpp
  planning/obstacle_avoidance_planner/package.xml
  planning/obstacle_avoidance_planner/src/eb_path_optimizer.cpp
  planning/obstacle_avoidance_planner/src/node.cpp
Labels: planning, launch

#2392 fix(lidar_centerpoint_tvm): make sure ament_auto_package() is called in CMakeLists.txt
  perception/lidar_centerpoint_tvm/CMakeLists.txt
Labels: perception

#2396 docs: update traffic light ssd README.md
  perception/traffic_light_ssd_fine_detector/README.md
Labels: documentation, perception

#2399 fix(motion_velocity_smoother): add current_closest_point_from_prev_output
  planning/motion_velocity_smoother/include/motion_velocity_smoother/motion_velocity_smoother_node.hpp
  planning/motion_velocity_smoother/src/motion_velocity_smoother_node.cpp
Labels: planning

#2297 fix(tensorrt_yolo): multi gpu on component container
  perception/tensorrt_yolo/README.md
  perception/tensorrt_yolo/include/tensorrt_yolo/nodelet.hpp
  perception/tensorrt_yolo/src/nodelet.cpp
Labels: documentation, perception

#2333 feat(behavior_path_planner): add option to turn signal while obstacle swerving
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: high priority, planning, launch

#2356 feat!: replace HADMap with Lanelet
  common/component_interface_specs/include/component_interface_specs/planning.hpp
  control/lane_departure_checker/README.md
  control/lane_departure_checker/include/lane_departure_checker/lane_departure_checker.hpp
  control/lane_departure_checker/include/lane_departure_checker/lane_departure_checker_node.hpp
  control/lane_departure_checker/package.xml
  control/lane_departure_checker/src/lane_departure_checker_node/lane_departure_checker_node.cpp
  launch/tier4_system_launch/config/component_state_monitor/topics.yaml
  perception/crosswalk_traffic_light_estimator/README.md
  perception/crosswalk_traffic_light_estimator/include/crosswalk_traffic_light_estimator/node.hpp
  perception/crosswalk_traffic_light_estimator/src/node.cpp
  perception/traffic_light_map_based_detector/README.md
  perception/traffic_light_map_based_detector/include/traffic_light_map_based_detector/node.hpp
  perception/traffic_light_map_based_detector/src/node.cpp
  planning/behavior_path_planner/README.md
  planning/behavior_path_planner/include/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/freespace_planner/include/freespace_planner/freespace_planner_node.hpp
  planning/freespace_planner/src/freespace_planner/freespace_planner_node.cpp
  planning/mission_planner/README.md
  planning/mission_planner/include/mission_planner/mission_planner_plugin.hpp
  planning/mission_planner/src/goal_pose_visualizer/goal_pose_visualizer.cpp
  planning/mission_planner/src/goal_pose_visualizer/goal_pose_visualizer.hpp
  planning/mission_planner/src/lanelet2_plugins/default_planner.cpp
  planning/mission_planner/src/lanelet2_plugins/default_planner.hpp
  planning/mission_planner/src/mission_planner/mission_planner.cpp
  planning/mission_planner/src/mission_planner/mission_planner.hpp
  planning/route_handler/include/route_handler/route_handler.hpp
  planning/route_handler/package.xml
  planning/route_handler/src/route_handler.cpp
  planning/scenario_selector/README.md
  planning/scenario_selector/include/scenario_selector/scenario_selector_node.hpp
  planning/scenario_selector/src/scenario_selector_node/scenario_selector_node.cpp
  planning/static_centerline_optimizer/include/static_centerline_optimizer/type_alias.hpp
  planning/static_centerline_optimizer/src/static_centerline_optimizer_node.cpp
  system/component_state_monitor/config/topics.yaml
  system/default_ad_api/src/utils/route_conversion.cpp
  system/default_ad_api/src/utils/route_conversion.hpp
Labels: documentation, perception, planning, control, system, launch, common

#2404 fix(default_ad_api): fix adapi web server creates two nodes
  system/default_ad_api/launch/default_ad_api.launch.py
  system/default_ad_api/script/web_server.py
Labels: system

#2391 fix(behavior_path_planner): use SUCCESS instead of IDLE when onExit
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_bt_node_interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_interface.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_following/lane_following_module.cpp
  planning/behavior_path_planner/src/scene_module/pull_out/pull_out_module.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/pull_over_module.cpp
  planning/behavior_path_planner/src/scene_module/side_shift/side_shift_module.cpp
Labels: planning

#2340 fix(behavior_path): remove refineGoal which is never executed from the node and fix the function
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#2269 refactor(ekf_localizer): remove the prediction function to improve referential transparency
  localization/ekf_localizer/src/ekf_localizer.cpp
  localization/ekf_localizer/src/state_transition.cpp
Labels: localization

#2370 feat: add tensorrt_yolox package
  common/cuda_utils/CMakeLists.txt
  common/cuda_utils/include/cuda_utils/cuda_check_error.hpp
  common/cuda_utils/include/cuda_utils/cuda_unique_ptr.hpp
  common/cuda_utils/include/cuda_utils/stream_unique_ptr.hpp
  common/cuda_utils/package.xml
  common/tensorrt_common/CMakeLists.txt
  common/tensorrt_common/include/tensorrt_common/tensorrt_common.hpp
  common/tensorrt_common/package.xml
  common/tensorrt_common/src/tensorrt_common.cpp
  perception/tensorrt_yolox/CMakeLists.txt
  perception/tensorrt_yolox/README.md
  perception/tensorrt_yolox/include/tensorrt_yolox/tensorrt_yolox.hpp
  perception/tensorrt_yolox/include/tensorrt_yolox/tensorrt_yolox_node.hpp
  perception/tensorrt_yolox/package.xml
  perception/tensorrt_yolox/src/tensorrt_yolox.cpp
  perception/tensorrt_yolox/src/tensorrt_yolox_node.cpp
  perception/tensorrt_yolox/src/yolox_single_image_inference_node.cpp
Labels: documentation, perception, common
