Repository autowarefoundation/autoware_universe, pull requests merged in 2022-04, with the labels that each got.

#634 fix(motion_velocity_smoother): add missing rclcpp dependency
  planning/motion_velocity_smoother/package.xml
Labels: dependencies

#577 fix(ndt_scan_matcher): disable `march=native` when the target is Intel processor
  localization/ndt/CMakeLists.txt
  localization/ndt_pcl_modified/CMakeLists.txt
  localization/ndt_scan_matcher/CMakeLists.txt
Labels: ARM64

#661 fix(trajectory_follower_nodes): switch to isolated gtests
  control/trajectory_follower_nodes/CMakeLists.txt
  control/trajectory_follower_nodes/package.xml
Labels: enhancement

#696 feat(multi_object_tracker): add velocity observation
  perception/multi_object_tracker/include/multi_object_tracker/tracker/model/big_vehicle_tracker.hpp
  perception/multi_object_tracker/include/multi_object_tracker/tracker/model/normal_vehicle_tracker.hpp
  perception/multi_object_tracker/src/tracker/model/big_vehicle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/normal_vehicle_tracker.cpp
Labels: perception

#720 fix(tier4_autoware_utils): modify build error in rolling
  common/goal_distance_calculator/CMakeLists.txt
  common/interpolation/CMakeLists.txt
  common/path_distance_calculator/CMakeLists.txt
  common/tier4_autoware_utils/CMakeLists.txt
  common/tier4_autoware_utils/include/tier4_autoware_utils/geometry/geometry.hpp
  common/tier4_debug_tools/CMakeLists.txt
  common/tier4_vehicle_rviz_plugin/CMakeLists.txt
  control/control_performance_analysis/CMakeLists.txt
  control/lane_departure_checker/CMakeLists.txt
  control/obstacle_collision_checker/CMakeLists.txt
  control/pure_pursuit/CMakeLists.txt
  control/trajectory_follower/CMakeLists.txt
  control/trajectory_follower_nodes/CMakeLists.txt
  localization/ekf_localizer/CMakeLists.txt
  localization/ndt_scan_matcher/CMakeLists.txt
  map/lanelet2_extension/CMakeLists.txt
  perception/detected_object_validation/CMakeLists.txt
  perception/detection_by_tracker/CMakeLists.txt
  perception/ground_segmentation/CMakeLists.txt
  perception/lidar_centerpoint/CMakeLists.txt
  perception/map_based_prediction/CMakeLists.txt
  perception/multi_object_tracker/CMakeLists.txt
  perception/occupancy_grid_map_outlier_filter/CMakeLists.txt
  perception/shape_estimation/CMakeLists.txt
  perception/traffic_light_map_based_detector/CMakeLists.txt
  planning/behavior_path_planner/CMakeLists.txt
  planning/behavior_velocity_planner/CMakeLists.txt
  planning/freespace_planner/CMakeLists.txt
  planning/freespace_planning_algorithms/CMakeLists.txt
  planning/mission_planner/CMakeLists.txt
  planning/motion_velocity_smoother/CMakeLists.txt
  planning/obstacle_avoidance_planner/CMakeLists.txt
  planning/obstacle_stop_planner/CMakeLists.txt
  planning/planning_error_monitor/CMakeLists.txt
  planning/planning_evaluator/CMakeLists.txt
  planning/route_handler/CMakeLists.txt
  planning/surround_obstacle_checker/CMakeLists.txt
  sensing/probabilistic_occupancy_grid_map/CMakeLists.txt
Labels: rolling, humble

#750 fix: add pure_pursuit as lateral controller into launch files
  control/pure_pursuit/CMakeLists.txt
  launch/tier4_control_launch/launch/control.launch.py
Labels: bug

#734 fix: set correct frameid to transformed_cloud
  perception/lidar_apollo_instance_segmentation/src/detector.cpp
Labels: ignore-semantic-pull-request

#760 fix(dummy_diag_publisher): modify build error in rolling
  system/dummy_diag_publisher/package.xml
Labels: rolling, humble

#755 fix(accel_brake_map_calibrator): modify build error in rolling
  vehicle/accel_brake_map_calibrator/accel_brake_map_calibrator/CMakeLists.txt
  vehicle/accel_brake_map_calibrator/accel_brake_map_calibrator/include/accel_brake_map_calibrator/accel_brake_map_calibrator_node.hpp
  vehicle/accel_brake_map_calibrator/accel_brake_map_calibrator/package.xml
  vehicle/accel_brake_map_calibrator/accel_brake_map_calibrator/src/accel_brake_map_calibrator_node.cpp
Labels: rolling, humble

#756 fix(behavior_path_planner): modify build error in rolling
  planning/behavior_path_planner/CMakeLists.txt
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: rolling, humble

#757 fix(control_performance_analysis): modify build error in rolling
  control/control_performance_analysis/CMakeLists.txt
  control/control_performance_analysis/package.xml
Labels: rolling, humble

#761 fix(dummy_perception_publisher): modify build error in rolling
  simulator/dummy_perception_publisher/CMakeLists.txt
Labels: rolling, humble

#758 fix(costmap_generator): modify build error in rolling
  planning/costmap_generator/CMakeLists.txt
Labels: rolling, humble

#759 fix(detected_object_validation): modify build error in rolling
  perception/detected_object_validation/src/obstacle_pointcloud_based_validator.cpp
  perception/detected_object_validation/src/occupancy_grid_based_validator.cpp
Labels: rolling, humble

#718 fix(autoware_auto_tf2): modify build error in rolling
  common/autoware_auto_common/CMakeLists.txt
  common/autoware_auto_common/package.xml
  common/autoware_auto_geometry/CMakeLists.txt
  common/autoware_auto_tf2/CMakeLists.txt
  common/autoware_auto_tf2/include/autoware_auto_tf2/tf2_autoware_auto_msgs.hpp
  common/autoware_auto_tf2/package.xml
  common/autoware_auto_tf2/test/test_tf2_autoware_auto_msgs.cpp
  common/motion_common/CMakeLists.txt
  common/motion_common/include/motion_common/motion_common.hpp
  common/motion_common/src/motion_common/motion_common.cpp
  common/motion_testing/CMakeLists.txt
  common/motion_testing/src/motion_testing/motion_testing.cpp
  simulator/simple_planning_simulator/CMakeLists.txt
  simulator/simple_planning_simulator/package.xml
  simulator/simple_planning_simulator/test/test_simple_planning_simulator.cpp
Labels: rolling, humble

#716 fix(ad_service_state_monitor): modify build error in rolling
  system/ad_service_state_monitor/CMakeLists.txt
  system/ad_service_state_monitor/include/ad_service_state_monitor/state_machine.hpp
  system/ad_service_state_monitor/src/ad_service_state_monitor_node/ad_service_state_monitor_node.cpp
  system/ad_service_state_monitor/src/ad_service_state_monitor_node/diagnostics.cpp
  system/ad_service_state_monitor/src/ad_service_state_monitor_node/state_machine.cpp
Labels: rolling, humble

#775 fix(image_projection_based_fusion): modify build error in rolling
  perception/image_projection_based_fusion/package.xml
Labels: rolling, humble

#762 fix(fault_injection): modify build error in rolling
  simulator/fault_injection/CMakeLists.txt
  simulator/fault_injection/src/fault_injection_node/fault_injection_node.cpp
Labels: rolling, humble

#777 fix(map_loader): modify build error in rolling
  map/map_loader/CMakeLists.txt
Labels: rolling, humble

#785 fix(multi_object_tracker): modify build error in rolling
  perception/multi_object_tracker/include/multi_object_tracker/multi_object_tracker_core.hpp
  perception/multi_object_tracker/src/tracker/model/bicycle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/big_vehicle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/normal_vehicle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/pass_through_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/pedestrian_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/unknown_tracker.cpp
Labels: rolling, humble

#784 fix(map_based_prediction): modify build error in rolling
  perception/map_based_prediction/src/map_based_prediction_node.cpp
Labels: rolling, humble

#781 fix(freespace_planner): modify build error in rolling
  planning/freespace_planner/include/freespace_planner/freespace_planner_node.hpp
Labels: rolling, humble

#780 fix(elevation_map_loader): modify build error in rolling
  perception/elevation_map_loader/include/elevation_map_loader/elevation_map_loader_node.hpp
  perception/elevation_map_loader/src/elevation_map_loader_node.cpp
Labels: rolling, humble

#783 fix(lidar_centerpoint): modify build error in rolling
  perception/lidar_centerpoint/package.xml
Labels: rolling, humble

#778 fix(map_tf_generator): modify build error in rolling
  map/map_tf_generator/package.xml
Labels: rolling, humble

#776 fix(osqp_interface): modify build error in rolling
  common/osqp_interface/CMakeLists.txt
Labels: rolling, humble

#789 fix(probabilistic_occupancy_grid_map): modify build error in rolling
  sensing/probabilistic_occupancy_grid_map/package.xml
Labels: rolling, humble

#787 fix(obstacle_stop_planner): modify build error in rolling
  planning/obstacle_stop_planner/src/adaptive_cruise_control.cpp
  planning/obstacle_stop_planner/src/debug_marker.cpp
  planning/obstacle_stop_planner/src/node.cpp
Labels: rolling, humble

#786 fix(obstacle_collision_checker): modify build error in rolling
  control/obstacle_collision_checker/src/obstacle_collision_checker_node/obstacle_collision_checker.cpp
Labels: rolling, humble

#788 fix(system_monitor): modify build error in rolling
  system/system_monitor/CMakeLists.txt
  system/system_monitor/src/gpu_monitor/nvml_gpu_monitor.cpp
Labels: rolling, humble

#790 fix(pure_pursuit): modify build error in rolling
  control/pure_pursuit/CMakeLists.txt
  control/pure_pursuit/include/pure_pursuit/util/planning_utils.hpp
  control/pure_pursuit/include/pure_pursuit/util/tf_utils.hpp
  control/pure_pursuit/package.xml
Labels: rolling, humble

#791 fix(tier4_perception_rviz_plugin): modify build error in rolling
  common/tier4_perception_rviz_plugin/CMakeLists.txt
  common/tier4_perception_rviz_plugin/src/tools/interactive_object.hpp
Labels: rolling, humble

#782 fix(had_map_utils): modify build error in rolling
  common/had_map_utils/CMakeLists.txt
Labels: rolling, humble

#793 fix: modify build error of ndt related packages in rolling
  localization/ndt/CMakeLists.txt
  localization/ndt/include/ndt/base.hpp
  localization/ndt/include/ndt/impl/omp.hpp
  localization/ndt/include/ndt/impl/pcl_generic.hpp
  localization/ndt/include/ndt/impl/pcl_modified.hpp
  localization/ndt/include/ndt/omp.hpp
  localization/ndt/include/ndt/pcl_generic.hpp
  localization/ndt/include/ndt/pcl_modified.hpp
  localization/ndt_pcl_modified/CMakeLists.txt
  localization/ndt_pcl_modified/include/ndt_pcl_modified/impl/ndt.hpp
  localization/ndt_pcl_modified/include/ndt_pcl_modified/ndt.hpp
  localization/ndt_scan_matcher/include/ndt_scan_matcher/ndt_scan_matcher_core.hpp
  localization/ndt_scan_matcher/include/ndt_scan_matcher/util_func.hpp
  localization/ndt_scan_matcher/package.xml
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
Labels: rolling, humble

#795 fix(tier4_pcl_extensions): modify build error in rolling
  sensing/tier4_pcl_extensions/include/tier4_pcl_extensions/voxel_grid_nearest_centroid.hpp
  sensing/tier4_pcl_extensions/include/tier4_pcl_extensions/voxel_grid_nearest_centroid_impl.hpp
Labels: rolling, humble

#801 fix(gnss_poser): modify build error in rolling
  sensing/gnss_poser/CMakeLists.txt
  sensing/gnss_poser/include/gnss_poser/gnss_poser_core.hpp
  sensing/gnss_poser/package.xml
Labels: rolling, humble

#802 fix(shape_estimaion): modify build error in rolling
  perception/shape_estimation/CMakeLists.txt
  perception/shape_estimation/lib/corrector/utils.cpp
  perception/shape_estimation/lib/model/bounding_box.cpp
  perception/shape_estimation/src/node.cpp
Labels: rolling, humble

#729 fix(obstacle_collision_checker): fix bug with filterPointCloudByTrajectory
  control/obstacle_collision_checker/CMakeLists.txt
  control/obstacle_collision_checker/package.xml
  control/obstacle_collision_checker/src/obstacle_collision_checker_node/obstacle_collision_checker.cpp
  control/obstacle_collision_checker/test/test_obstacle_collision_checker.cpp
Labels: low priority

#806 fix(traffic_light_map_based_detector): modify build error in rolling
  perception/traffic_light_map_based_detector/package.xml
Labels: rolling, humble

#808 fix(tier4_planning_rviz_plugins): modify build error in rolling
  common/tier4_planning_rviz_plugin/src/tools/jsk_overlay_utils.hpp
Labels: rolling, humble

#805 fix(stop_filter): modify build error in rolling
  localization/stop_filter/package.xml
Labels: rolling, humble

#799 fix(behavior_velocity_planner): modify build error in rolling
  planning/behavior_velocity_planner/CMakeLists.txt
  planning/behavior_velocity_planner/include/scene_module/intersection/util.hpp
  planning/behavior_velocity_planner/include/scene_module/occlusion_spot/grid_utils.hpp
  planning/behavior_velocity_planner/include/scene_module/occlusion_spot/occlusion_spot_utils.hpp
  planning/behavior_velocity_planner/include/utilization/arc_lane_util.hpp
  planning/behavior_velocity_planner/src/node.cpp
  planning/behavior_velocity_planner/src/scene_module/detection_area/debug.cpp
  planning/behavior_velocity_planner/src/scene_module/detection_area/scene.cpp
  planning/behavior_velocity_planner/src/scene_module/no_stopping_area/debug.cpp
  planning/behavior_velocity_planner/src/scene_module/no_stopping_area/scene_no_stopping_area.cpp
  planning/behavior_velocity_planner/src/scene_module/stop_line/debug.cpp
  planning/behavior_velocity_planner/src/scene_module/traffic_light/debug.cpp
  planning/behavior_velocity_planner/src/scene_module/traffic_light/scene.cpp
  planning/behavior_velocity_planner/src/utilization/path_utilization.cpp
  planning/behavior_velocity_planner/test/src/test_occlusion_spot_utils.cpp
  planning/behavior_velocity_planner/test/src/utils.hpp
Labels: rolling, humble

#811 fix(lane_change): intersection check not considering size equal 1
  planning/behavior_path_planner/src/utilities.cpp
Labels: bug, planning

#818 fix(lane_change): intersection check caused incorrect stopping point
  planning/behavior_path_planner/src/utilities.cpp
Labels: bug, planning

#804 fix: modify build error of point cloud filters in rolling
  perception/compare_map_segmentation/include/compare_map_segmentation/compare_elevation_map_filter_node.hpp
  perception/compare_map_segmentation/include/compare_map_segmentation/distance_based_compare_map_filter_nodelet.hpp
  perception/compare_map_segmentation/include/compare_map_segmentation/voxel_based_approximate_compare_map_filter_nodelet.hpp
  perception/compare_map_segmentation/include/compare_map_segmentation/voxel_based_compare_map_filter_nodelet.hpp
  perception/compare_map_segmentation/include/compare_map_segmentation/voxel_distance_based_compare_map_filter_nodelet.hpp
  perception/compare_map_segmentation/src/distance_based_compare_map_filter_nodelet.cpp
  perception/compare_map_segmentation/src/voxel_based_approximate_compare_map_filter_nodelet.cpp
  perception/compare_map_segmentation/src/voxel_based_compare_map_filter_nodelet.cpp
  perception/compare_map_segmentation/src/voxel_distance_based_compare_map_filter_nodelet.cpp
  perception/detection_by_tracker/CMakeLists.txt
  perception/detection_by_tracker/include/detection_by_tracker/debugger.hpp
  perception/detection_by_tracker/include/detection_by_tracker/detection_by_tracker_core.hpp
  perception/euclidean_cluster/CMakeLists.txt
  perception/ground_segmentation/CMakeLists.txt
  perception/ground_segmentation/include/ground_segmentation/ransac_ground_filter_nodelet.hpp
  perception/ground_segmentation/include/ground_segmentation/ray_ground_filter_nodelet.hpp
  perception/ground_segmentation/include/ground_segmentation/scan_ground_filter_nodelet.hpp
  perception/ground_segmentation/src/ransac_ground_filter_nodelet.cpp
  perception/ground_segmentation/src/ray_ground_filter_nodelet.cpp
  perception/occupancy_grid_map_outlier_filter/include/occupancy_grid_map_outlier_filter/occupancy_grid_map_outlier_filter_nodelet.hpp
  perception/occupancy_grid_map_outlier_filter/src/occupancy_grid_map_outlier_filter_nodelet.cpp
  sensing/pointcloud_preprocessor/CMakeLists.txt
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/blockage_diag/blockage_diag_nodelet.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/concatenate_data/concatenate_data_nodelet.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/crop_box_filter/crop_box_filter_nodelet.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/distortion_corrector/distortion_corrector.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/downsample_filter/approximate_downsample_filter_nodelet.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/downsample_filter/random_downsample_filter_nodelet.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/downsample_filter/voxel_grid_downsample_filter_nodelet.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/filter.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/outlier_filter/dual_return_outlier_filter_nodelet.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/outlier_filter/radius_search_2d_outlier_filter_nodelet.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/outlier_filter/ring_outlier_filter_nodelet.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/outlier_filter/voxel_grid_outlier_filter_nodelet.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/passthrough_filter/passthrough_filter_nodelet.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/passthrough_filter/passthrough_filter_uint16_nodelet.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/passthrough_filter/passthrough_uint16.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/pointcloud_accumulator/pointcloud_accumulator_nodelet.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/vector_map_filter/lanelet2_map_filter_nodelet.hpp
  sensing/pointcloud_preprocessor/src/concatenate_data/concatenate_data_nodelet.cpp
  sensing/pointcloud_preprocessor/src/outlier_filter/radius_search_2d_outlier_filter_nodelet.cpp
Labels: rolling, humble

#828 fix(behavior_path_planner): getAvoidanceDebugMsgArray caused crash
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_interface.hpp
Labels: bug
