Repository autowarefoundation/autoware_universe, pull requests merged in 2022-10, with the labels that each got.

#1872 fix(freespace_planner): can't stop before blocking obstacle in parking#980
  planning/freespace_planner/src/freespace_planner/freespace_planner_node.cpp
Labels: planning

#1902 feat(object_merger): add distance_threshold_list
  common/perception_utils/include/perception_utils/perception_utils.hpp
  common/perception_utils/test/src/test_perception_utils.cpp
  perception/object_merger/README.md
  perception/object_merger/config/overlapped_judge.param.yaml
  perception/object_merger/include/object_association_merger/node.hpp
  perception/object_merger/launch/object_association_merger.launch.xml
  perception/object_merger/src/object_association_merger/node.cpp
Labels: perception

#2009 feat(rtc_manager_panel): add rtc all approval
  common/rtc_manager_rviz_plugin/README.md
  common/rtc_manager_rviz_plugin/images/rtc_manager_panel.png
  common/rtc_manager_rviz_plugin/images/rtc_selection.png
  common/rtc_manager_rviz_plugin/src/rtc_manager_panel.cpp
  common/rtc_manager_rviz_plugin/src/rtc_manager_panel.hpp
Labels: documentation, planning, tools

#1984 refactor(ndt_scan_matcher): modularize get_transform function
  localization/ndt_scan_matcher/CMakeLists.txt
  localization/ndt_scan_matcher/include/ndt_scan_matcher/ndt_scan_matcher_core.hpp
  localization/ndt_scan_matcher/include/ndt_scan_matcher/tf2_listener_module.hpp
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
  localization/ndt_scan_matcher/src/tf2_listener_module.cpp
Labels: localization

#2023 feat(behavior_path_planner): add turn signal document
  planning/behavior_path_planner/README.md
  planning/behavior_path_planner/behavior_path_planner_turn_signal-design.md
  planning/behavior_path_planner/image/turn_signal_decider/avoidance_and_turn.drawio.svg
  planning/behavior_path_planner/image/turn_signal_decider/avoidance_and_turn2.drawio.svg
  planning/behavior_path_planner/image/turn_signal_decider/avoidance_first_section.drawio.svg
  planning/behavior_path_planner/image/turn_signal_decider/avoidance_second_section.drawio.svg
  planning/behavior_path_planner/image/turn_signal_decider/continuous_turns.drawio.svg
  planning/behavior_path_planner/image/turn_signal_decider/lane_change.drawio.svg
  planning/behavior_path_planner/image/turn_signal_decider/lane_change_and_turn.drawio.svg
  planning/behavior_path_planner/image/turn_signal_decider/left_right_turn.drawio.svg
  planning/behavior_path_planner/image/turn_signal_decider/pattern1.drawio.svg
  planning/behavior_path_planner/image/turn_signal_decider/pattern2.drawio.svg
  planning/behavior_path_planner/image/turn_signal_decider/pattern3.drawio.svg
  planning/behavior_path_planner/image/turn_signal_decider/pattern4.drawio.svg
  planning/behavior_path_planner/image/turn_signal_decider/pattern5.drawio.svg
  planning/behavior_path_planner/image/turn_signal_decider/pull_out.drawio.svg
  planning/behavior_path_planner/image/turn_signal_decider/pull_over.drawio.svg
  planning/behavior_path_planner/image/turn_signal_decider/sections_definition.drawio.svg
  planning/behavior_path_planner/image/turn_signal_fig1.drawio.svg
Labels: documentation

#1981 fix(detected_object_validation): apply transformation to shape.footprint.points
  common/tier4_autoware_utils/include/tier4_autoware_utils/geometry/geometry.hpp
  common/tier4_autoware_utils/test/src/geometry/test_geometry.cpp
  perception/detected_object_validation/include/detected_object_filter/object_lanelet_filter.hpp
  perception/detected_object_validation/src/object_lanelet_filter.cpp
Labels: perception

#2018 refactor(ekf_localizer): add functions to compute the pose and twist covariances
  localization/ekf_localizer/CMakeLists.txt
  localization/ekf_localizer/include/ekf_localizer/covariance.hpp
  localization/ekf_localizer/src/covariance.cpp
  localization/ekf_localizer/src/ekf_localizer.cpp
  localization/ekf_localizer/test/test_covariance.cpp
Labels: localization

#2017 refactor(ekf_localizer): simplify duration conversion
  localization/ekf_localizer/src/ekf_localizer.cpp
Labels: localization

#2055 feat(tier4_debug_rviz_plugin): pie chart with float32 multi array stamped
  common/tier4_debug_rviz_plugin/CMakeLists.txt
  common/tier4_debug_rviz_plugin/README.md
  common/tier4_debug_rviz_plugin/icons/classes/Float32MultiArrayStampedPieChart.png
  common/tier4_debug_rviz_plugin/images/float32_multi_array_stamped_pie_chart.png
  common/tier4_debug_rviz_plugin/include/tier4_debug_rviz_plugin/float32_multi_array_stamped_pie_chart.hpp
  common/tier4_debug_rviz_plugin/include/tier4_debug_rviz_plugin/jsk_overlay_utils.hpp
  common/tier4_debug_rviz_plugin/package.xml
  common/tier4_debug_rviz_plugin/plugins/plugin_description.xml
  common/tier4_debug_rviz_plugin/src/float32_multi_array_stamped_pie_chart.cpp
  common/tier4_debug_rviz_plugin/src/jsk_overlay_utils.cpp
Labels: documentation

#2080 fix(raw_vehicle_cmd_converter): wrong for-loop bound in getColumnIndex
  vehicle/raw_vehicle_cmd_converter/src/csv_loader.cpp
Labels: vehicle

#2081 test(raw_vehicle_cmd_converter): extend unit tests for invalid maps
  vehicle/raw_vehicle_cmd_converter/test/map_data/test_1col_map.csv
  vehicle/raw_vehicle_cmd_converter/test/map_data/test_inconsistent_rows_map.csv
  vehicle/raw_vehicle_cmd_converter/test/test_raw_vehicle_cmd_converter.cpp
Labels: vehicle

#904 feat: add informed rrtstars
  planning/freespace_planner/README.md
  planning/freespace_planner/include/freespace_planner/freespace_planner_node.hpp
  planning/freespace_planner/src/freespace_planner/freespace_planner_node.cpp
  planning/freespace_planning_algorithms/CMakeLists.txt
  planning/freespace_planning_algorithms/README.md
  planning/freespace_planning_algorithms/figs/freespace_planning_algorithms_astar_test_results.png
  planning/freespace_planning_algorithms/figs/result_multi2.png
  planning/freespace_planning_algorithms/figs/summary-astar_single.png
  planning/freespace_planning_algorithms/figs/summary-rrtstar_fastest.png
  planning/freespace_planning_algorithms/figs/summary-rrtstar_informed_update.png
  planning/freespace_planning_algorithms/include/freespace_planning_algorithms/abstract_algorithm.hpp
  planning/freespace_planning_algorithms/include/freespace_planning_algorithms/astar_search.hpp
  planning/freespace_planning_algorithms/include/freespace_planning_algorithms/reeds_shepp.hpp
  planning/freespace_planning_algorithms/include/freespace_planning_algorithms/rrtstar.hpp
  planning/freespace_planning_algorithms/include/freespace_planning_algorithms/rrtstar_core.hpp
  planning/freespace_planning_algorithms/package.xml
  planning/freespace_planning_algorithms/rrtstar.md
  planning/freespace_planning_algorithms/src/abstract_algorithm.cpp
  planning/freespace_planning_algorithms/src/astar_search.cpp
  planning/freespace_planning_algorithms/src/reeds_shepp.cpp
  planning/freespace_planning_algorithms/src/rrtstar.cpp
  planning/freespace_planning_algorithms/src/rrtstar_core.cpp
  planning/freespace_planning_algorithms/test/debug_plot.py
  planning/freespace_planning_algorithms/test/debug_plot_rrtstar_core.py
  planning/freespace_planning_algorithms/test/src/test_freespace_planning_algorithms.cpp
  planning/freespace_planning_algorithms/test/src/test_rrtstar_core_informed.cpp
Labels: planning

#2109 chore: add maintainer in ekf_localizer and ndt_scan_matcher
  localization/ekf_localizer/package.xml
  localization/ndt_scan_matcher/package.xml
Labels: localization

#1873 feat!: deactivate localization component during the pose initialization
  localization/ekf_localizer/include/ekf_localizer/ekf_localizer.hpp
  localization/ekf_localizer/launch/ekf_localizer.launch.xml
  localization/ekf_localizer/package.xml
  localization/ekf_localizer/src/ekf_localizer.cpp
  localization/ndt_scan_matcher/include/ndt_scan_matcher/ndt_scan_matcher_core.hpp
  localization/ndt_scan_matcher/launch/ndt_scan_matcher.launch.xml
  localization/ndt_scan_matcher/package.xml
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
  localization/pose_initializer/CMakeLists.txt
  localization/pose_initializer/launch/pose_initializer.launch.xml
  localization/pose_initializer/package.xml
  localization/pose_initializer/src/pose_initializer/localization_trigger_module.cpp
  localization/pose_initializer/src/pose_initializer/localization_trigger_module.hpp
  localization/pose_initializer/src/pose_initializer/pose_initializer_core.cpp
  localization/pose_initializer/src/pose_initializer/pose_initializer_core.hpp
Labels: localization

#2119 docs(behavior_path_planner): update debug marker topic information
  planning/behavior_path_planner/behavior_path_planner_avoidance-design.md
  planning/behavior_path_planner/behavior_path_planner_lane_change.md
  planning/behavior_path_planner/image/drivable_area_plugin.png
Labels: documentation

#1567 fix(mpc): bilinear discretization
  control/trajectory_follower/src/vehicle_model/vehicle_model_bicycle_kinematics.cpp
  control/trajectory_follower/src/vehicle_model/vehicle_model_bicycle_kinematics_no_delay.cpp
Labels: control

#1349 feat(multi_object_tracking): enable delay compensation
  launch/tier4_perception_launch/launch/object_recognition/tracking/tracking.launch.xml
  perception/multi_object_tracker/launch/multi_object_tracker.launch.xml
Labels: perception

#1683 feat: use tracker shape size in detection by tracker
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/lidar_based_detection.launch.xml
  perception/detection_by_tracker/src/detection_by_tracker_core.cpp
  perception/object_merger/include/object_association_merger/node.hpp
  perception/object_merger/launch/object_association_merger.launch.xml
  perception/object_merger/src/object_association_merger/node.cpp
  perception/shape_estimation/CMakeLists.txt
  perception/shape_estimation/include/shape_estimation/corrector/bus_corrector.hpp
  perception/shape_estimation/include/shape_estimation/corrector/car_corrector.hpp
  perception/shape_estimation/include/shape_estimation/corrector/corrector.hpp
  perception/shape_estimation/include/shape_estimation/corrector/reference_shape_size_corrector.hpp
  perception/shape_estimation/include/shape_estimation/corrector/truck_corrector.hpp
  perception/shape_estimation/include/shape_estimation/corrector/utils.hpp
  perception/shape_estimation/include/shape_estimation/corrector/vehicle_corrector.hpp
  perception/shape_estimation/include/shape_estimation/shape_estimator.hpp
  perception/shape_estimation/launch/shape_estimation.launch.xml
  perception/shape_estimation/lib/corrector/bus_corrector.cpp
  perception/shape_estimation/lib/corrector/car_corrector.cpp
  perception/shape_estimation/lib/corrector/truck_corrector.cpp
  perception/shape_estimation/lib/corrector/utils.cpp
  perception/shape_estimation/lib/shape_estimator.cpp
  perception/shape_estimation/src/node.cpp
  perception/shape_estimation/src/node.hpp
Labels: perception

#2104 feat(multi object tracking): remove specific tracking
  perception/multi_object_tracker/src/multi_object_tracker_core.cpp
Labels: perception

#1973 feat(behavior_path_planner): params to expand drivable area in each module
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/drivable_area_expansion.param.yaml
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/lane_following/lane_following.param.yaml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.py
  planning/behavior_path_planner/config/drivable_area_expansion.yaml
  planning/behavior_path_planner/config/lane_following/lane_following.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_following/lane_following_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_out/pull_out_parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/pull_over_parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/side_shift/side_shift_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_following/lane_following_module.cpp
  planning/behavior_path_planner/src/scene_module/pull_out/pull_out_module.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/pull_over_module.cpp
  planning/behavior_path_planner/src/scene_module/side_shift/side_shift_module.cpp
  planning/behavior_path_planner/src/utilities.cpp
  planning/behavior_path_planner/test/test_utilities.cpp
Labels: planning

#2054 feat(map_height_fitter): improve height estimation logic
  localization/pose_initializer/src/map_height_fitter/map_height_fitter_core.cpp
Labels: localization

#2057 feat(motion_velocity_smoother): change max_lateral_accel from 0.8 to 1.0
  launch/tier4_planning_launch/config/scenario_planning/common/motion_velocity_smoother/motion_velocity_smoother.param.yaml
Labels: planning

#2053 feat(ndt): remove ndt package
  launch/tier4_localization_launch/config/ndt_scan_matcher.param.yaml
  localization/ndt/CMakeLists.txt
  localization/ndt/README.md
  localization/ndt/include/ndt/base.hpp
  localization/ndt/include/ndt/impl/base.hpp
  localization/ndt/include/ndt/impl/omp.hpp
  localization/ndt/include/ndt/impl/pcl_generic.hpp
  localization/ndt/include/ndt/impl/pcl_modified.hpp
  localization/ndt/include/ndt/omp.hpp
  localization/ndt/include/ndt/pcl_generic.hpp
  localization/ndt/include/ndt/pcl_modified.hpp
  localization/ndt/package.xml
  localization/ndt/src/base.cpp
  localization/ndt/src/omp.cpp
  localization/ndt/src/pcl_generic.cpp
  localization/ndt/src/pcl_modified.cpp
  localization/ndt_pcl_modified/CMakeLists.txt
  localization/ndt_pcl_modified/README.md
  localization/ndt_pcl_modified/include/ndt_pcl_modified/impl/ndt.hpp
  localization/ndt_pcl_modified/include/ndt_pcl_modified/ndt.hpp
  localization/ndt_pcl_modified/package.xml
  localization/ndt_pcl_modified/src/ndt.cpp
  localization/ndt_scan_matcher/CMakeLists.txt
  localization/ndt_scan_matcher/README.md
  localization/ndt_scan_matcher/config/ndt_scan_matcher.param.yaml
  localization/ndt_scan_matcher/include/ndt_scan_matcher/ndt_scan_matcher_core.hpp
  localization/ndt_scan_matcher/package.xml
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
Labels: localization
