Repository autowarefoundation/autoware_universe, pull requests merged in 2022-05, with the labels that each got.

#852 fix: suppress compiler warnings
  common/goal_distance_calculator/src/goal_distance_calculator_node.cpp
  common/tier4_planning_rviz_plugin/CMakeLists.txt
  common/tier4_planning_rviz_plugin/src/mission_checkpoint/mission_checkpoint.cpp
  common/tier4_vehicle_rviz_plugin/src/tools/steering_angle.cpp
  localization/gyro_odometer/CMakeLists.txt
  localization/gyro_odometer/include/gyro_odometer/gyro_odometer_core.hpp
  localization/gyro_odometer/src/gyro_odometer_core.cpp
  localization/localization_error_monitor/CMakeLists.txt
  localization/localization_error_monitor/src/node.cpp
  localization/pose2twist/CMakeLists.txt
  localization/pose2twist/src/pose2twist_core.cpp
  localization/pose_initializer/CMakeLists.txt
  localization/pose_initializer/src/pose_initializer_core.cpp
  perception/image_projection_based_fusion/CMakeLists.txt
  perception/image_projection_based_fusion/include/image_projection_based_fusion/utils/utils.hpp
  perception/image_projection_based_fusion/src/fusion_node.cpp
  perception/image_projection_based_fusion/src/roi_cluster_fusion/node.cpp
  perception/lidar_apollo_instance_segmentation/CMakeLists.txt
  perception/lidar_centerpoint/CMakeLists.txt
  perception/lidar_centerpoint/lib/include/pointcloud_densification.hpp
  perception/lidar_centerpoint/lib/src/pointcloud_densification.cpp
  perception/lidar_centerpoint/src/node.cpp
  perception/tensorrt_yolo/CMakeLists.txt
  perception/traffic_light_classifier/CMakeLists.txt
  perception/traffic_light_ssd_fine_detector/CMakeLists.txt
  planning/costmap_generator/CMakeLists.txt
  planning/costmap_generator/include/costmap_generator/costmap_generator.hpp
  planning/costmap_generator/include/costmap_generator/object_map_utils.hpp
  planning/costmap_generator/nodes/costmap_generator/costmap_generator_node.cpp
  planning/mission_planner/lib/mission_planner_base.cpp
  planning/mission_planner/src/mission_planner_lanelet2/mission_planner_lanelet2.cpp
  planning/planning_evaluator/src/metrics/stability_metrics.cpp
  planning/scenario_selector/CMakeLists.txt
  planning/scenario_selector/include/scenario_selector/scenario_selector_node.hpp
  planning/scenario_selector/src/scenario_selector_node/scenario_selector_node.cpp
  planning/surround_obstacle_checker/src/debug_marker.cpp
  planning/surround_obstacle_checker/src/node.cpp
  sensing/probabilistic_occupancy_grid_map/src/laserscan_based_occupancy_grid_map/laserscan_based_occupancy_grid_map_node.cpp
  sensing/probabilistic_occupancy_grid_map/src/pointcloud_based_occupancy_grid_map/occupancy_grid_map.cpp
  sensing/probabilistic_occupancy_grid_map/src/pointcloud_based_occupancy_grid_map/pointcloud_based_occupancy_grid_map_node.cpp
  simulator/dummy_perception_publisher/CMakeLists.txt
  simulator/dummy_perception_publisher/include/dummy_perception_publisher/node.hpp
  simulator/dummy_perception_publisher/src/node.cpp
  simulator/dummy_perception_publisher/src/signed_distance_function.cpp
  simulator/simple_planning_simulator/test/test_simple_planning_simulator.cpp
  system/system_monitor/CMakeLists.txt
Labels: rolling, humble

#820 fix(image_projection_based_fusion): set imagebuffersize
  perception/image_projection_based_fusion/include/image_projection_based_fusion/debugger.hpp
  perception/image_projection_based_fusion/launch/roi_cluster_fusion.launch.xml
  perception/image_projection_based_fusion/launch/roi_detected_object_fusion.launch.xml
  perception/image_projection_based_fusion/src/debugger.cpp
  perception/image_projection_based_fusion/src/fusion_node.cpp
Labels: bug, perception

#863 fix: update nvinfer api
  perception/lidar_apollo_instance_segmentation/CMakeLists.txt
  perception/lidar_apollo_instance_segmentation/lib/include/TrtNet.hpp
  perception/lidar_apollo_instance_segmentation/lib/src/TrtNet.cpp
  perception/lidar_apollo_instance_segmentation/src/detector.cpp
  perception/lidar_centerpoint/CMakeLists.txt
  perception/lidar_centerpoint/lib/include/tensorrt_wrapper.hpp
  perception/lidar_centerpoint/lib/src/tensorrt_wrapper.cpp
  perception/tensorrt_yolo/CMakeLists.txt
  perception/tensorrt_yolo/lib/include/trt_yolo.hpp
  perception/tensorrt_yolo/lib/src/trt_yolo.cpp
  perception/traffic_light_classifier/CMakeLists.txt
  perception/traffic_light_classifier/utils/trt_common.cpp
  perception/traffic_light_ssd_fine_detector/CMakeLists.txt
  perception/traffic_light_ssd_fine_detector/lib/include/trt_ssd.hpp
  perception/traffic_light_ssd_fine_detector/lib/src/trt_ssd.cpp
Labels: perception

#880 docs(obstacle_stop_planner): update documentation
  planning/obstacle_stop_planner/README.md
  planning/obstacle_stop_planner/docs/insert_decel_velocity.drawio.svg
  planning/obstacle_stop_planner/docs/insert_velocity1.drawio.svg
  planning/obstacle_stop_planner/docs/insert_velocity2.drawio.svg
Labels: documentation, planning

#905 docs(tier4_traffic_light_rviz_plugin): update documentation
  common/tier4_traffic_light_rviz_plugin/images/traffic_light_publish_panel.gif
Labels: documentation

#865 feat: add lidar point filter when debug
  perception/image_projection_based_fusion/include/image_projection_based_fusion/debugger.hpp
  perception/image_projection_based_fusion/include/image_projection_based_fusion/fusion_node.hpp
  perception/image_projection_based_fusion/include/image_projection_based_fusion/roi_cluster_fusion/node.hpp
  perception/image_projection_based_fusion/include/image_projection_based_fusion/roi_detected_object_fusion/node.hpp
  perception/image_projection_based_fusion/launch/roi_cluster_fusion.launch.xml
  perception/image_projection_based_fusion/src/fusion_node.cpp
  perception/image_projection_based_fusion/src/roi_cluster_fusion/node.cpp
  perception/image_projection_based_fusion/src/roi_detected_object_fusion/node.cpp
Labels: perception

#878 docs(surround obstacle checker): update documentation
  planning/surround_obstacle_checker/README.md
  planning/surround_obstacle_checker/media/surround_obstacle_checker_flow.svg
  planning/surround_obstacle_checker/media/surround_obstacle_checker_flow.uml
  planning/surround_obstacle_checker/surround_obstacle_checker-design.ja.md
Labels: documentation, planning

#885 feat(tensorrt_yolo): add multi gpu support to tensorrt_yolo node
  perception/tensorrt_yolo/README.md
  perception/tensorrt_yolo/launch/tensorrt_yolo.launch.xml
  perception/tensorrt_yolo/launch/yolo.launch.xml
  perception/tensorrt_yolo/lib/include/trt_yolo.hpp
  perception/tensorrt_yolo/src/nodelet.cpp
Labels: perception

#950 docs: update link style and fix typos
  common/autoware_auto_common/design/comparisons.md
  common/autoware_auto_geometry/design/interval.md
  common/autoware_auto_geometry/design/polygon_intersection_2d-design.md
  common/autoware_auto_geometry/design/spatial-hash-design.md
  common/autoware_auto_tf2/design/autoware-auto-tf2-design.md
  common/autoware_testing/design/autoware_testing-design.md
  common/fake_test_node/design/fake_test_node-design.md
  common/osqp_interface/design/osqp_interface-design.md
  common/vehicle_constants_manager/design/vehicle_constants_manager-design.md
  control/trajectory_follower/design/trajectory_follower-design.md
  control/trajectory_follower/design/trajectory_follower-mpc-design.md
  control/trajectory_follower/design/trajectory_follower-pid-design.md
  control/trajectory_follower_nodes/design/lateral_controller-design.md
  control/trajectory_follower_nodes/design/latlon_muxer-design.md
  control/trajectory_follower_nodes/design/longitudinal_controller-design.md
  control/trajectory_follower_nodes/design/trajectory_follower-design.md
  perception/tensorrt_yolo/README.md
  planning/behavior_velocity_planner/occlusion-spot-design.md
  simulator/simple_planning_simulator/design/simple_planning_simulator-design.md
Labels: documentation

#951 fix(crop_box_filter): crop_box_filter_without_pcl
  sensing/pointcloud_preprocessor/src/crop_box_filter/crop_box_filter_nodelet.cpp
Labels: sensing

#958 fix(fault_injection): fix diag name
  simulator/fault_injection/src/fault_injection_node/fault_injection_node.cpp
Labels: bug

#733 feat(lidar_centerpoint): make lidar_centerpoint a shared library
  perception/lidar_centerpoint/CMakeLists.txt
  perception/lidar_centerpoint/config/aip_x2.param.yaml
  perception/lidar_centerpoint/config/default.param.yaml
  perception/lidar_centerpoint/include/lidar_centerpoint/centerpoint_config.hpp
  perception/lidar_centerpoint/include/lidar_centerpoint/centerpoint_trt.hpp
  perception/lidar_centerpoint/include/lidar_centerpoint/cuda_utils.hpp
  perception/lidar_centerpoint/include/lidar_centerpoint/network/network_trt.hpp
  perception/lidar_centerpoint/include/lidar_centerpoint/network/scatter_kernel.hpp
  perception/lidar_centerpoint/include/lidar_centerpoint/network/tensorrt_wrapper.hpp
  perception/lidar_centerpoint/include/lidar_centerpoint/node.hpp
  perception/lidar_centerpoint/include/lidar_centerpoint/postprocess/circle_nms_kernel.hpp
  perception/lidar_centerpoint/include/lidar_centerpoint/postprocess/postprocess_kernel.hpp
  perception/lidar_centerpoint/include/lidar_centerpoint/preprocess/pointcloud_densification.hpp
  perception/lidar_centerpoint/include/lidar_centerpoint/preprocess/preprocess_kernel.hpp
  perception/lidar_centerpoint/include/lidar_centerpoint/preprocess/voxel_generator.hpp
  perception/lidar_centerpoint/include/lidar_centerpoint/ros_utils.hpp
  perception/lidar_centerpoint/include/lidar_centerpoint/utils.hpp
  perception/lidar_centerpoint/lib/centerpoint_trt.cpp
  perception/lidar_centerpoint/lib/include/config.hpp
  perception/lidar_centerpoint/lib/network/network_trt.cpp
  perception/lidar_centerpoint/lib/network/scatter_kernel.cu
  perception/lidar_centerpoint/lib/network/tensorrt_wrapper.cpp
  perception/lidar_centerpoint/lib/postprocess/circle_nms_kernel.cu
  perception/lidar_centerpoint/lib/postprocess/postprocess_kernel.cu
  perception/lidar_centerpoint/lib/preprocess/pointcloud_densification.cpp
  perception/lidar_centerpoint/lib/preprocess/preprocess_kernel.cu
  perception/lidar_centerpoint/lib/preprocess/voxel_generator.cpp
  perception/lidar_centerpoint/lib/ros_utils.cpp
  perception/lidar_centerpoint/lib/utils.cpp
  perception/lidar_centerpoint/src/node.cpp
Labels: perception

#970 docs: add link of universe docs
  README.md
Labels: documentation

#948 fix(system_monitor): move top command execution to a timer
  system/system_monitor/include/system_monitor/process_monitor/process_monitor.hpp
  system/system_monitor/package.xml
  system/system_monitor/src/process_monitor/process_monitor.cpp
Labels: bug, system

#933 fix: segmentation fault from uninitialized pointer
  sensing/pointcloud_preprocessor/src/concatenate_data/concatenate_data_nodelet.cpp
Labels: bug, sensing

#943 perf(behavior_velocity_planner): use faster PolygonIterator
  common/grid_map_utils/CMakeLists.txt
  common/grid_map_utils/README.md
  common/grid_map_utils/include/grid_map_utils/polygon_iterator.hpp
  common/grid_map_utils/media/runtime_comparison.png
  common/grid_map_utils/package.xml
  common/grid_map_utils/src/polygon_iterator.cpp
  common/grid_map_utils/test/benchmark.cpp
  common/grid_map_utils/test/test_polygon_iterator.cpp
Labels: enhancement

#989 feat: add manual controller
  common/tier4_control_rviz_plugin/CMakeLists.txt
  common/tier4_control_rviz_plugin/README.md
  common/tier4_control_rviz_plugin/images/manual_controller_not_ready.png
  common/tier4_control_rviz_plugin/images/manual_controller_ready.png
  common/tier4_control_rviz_plugin/images/select_manual_controller.png
  common/tier4_control_rviz_plugin/images/select_panels.png
  common/tier4_control_rviz_plugin/package.xml
  common/tier4_control_rviz_plugin/plugins/plugin_description.xml
  common/tier4_control_rviz_plugin/src/tools/manual_controller.cpp
  common/tier4_control_rviz_plugin/src/tools/manual_controller.hpp
  common/tier4_perception_rviz_plugin/README.md
Labels: documentation

#862 feat(bluetooth_monitor): add functionality to monitor Bluetooth connection
  system/bluetooth_monitor/CMakeLists.txt
  system/bluetooth_monitor/README.md
  system/bluetooth_monitor/config/bluetooth_monitor.param.yaml
  system/bluetooth_monitor/docs/block_diagram.drawio.svg
  system/bluetooth_monitor/include/bluetooth_monitor/bluetooth_monitor.hpp
  system/bluetooth_monitor/include/bluetooth_monitor/service/l2ping.hpp
  system/bluetooth_monitor/include/bluetooth_monitor/service/l2ping_interface.hpp
  system/bluetooth_monitor/include/bluetooth_monitor/service/l2ping_service.hpp
  system/bluetooth_monitor/launch/bluetooth_monitor.launch.xml
  system/bluetooth_monitor/package.xml
  system/bluetooth_monitor/service/l2ping.cpp
  system/bluetooth_monitor/service/l2ping_service.cpp
  system/bluetooth_monitor/service/main.cpp
  system/bluetooth_monitor/src/bluetooth_monitor.cpp
Labels: enhancement, system
