Repository autowarefoundation/autoware_universe, pull requests merged in 2022-09, with the labels that each got.

#1753 fix(lidar_centerpoint): fix has_twist condition
  perception/lidar_centerpoint/launch/lidar_centerpoint.launch.xml
  perception/lidar_centerpoint/lib/ros_utils.cpp
Labels: perception

#638 feat: add CRC error monitoring to net_monitor
  launch/tier4_system_launch/config/system_monitor/net_monitor.param.yaml
  system/system_error_monitor/config/diagnostic_aggregator/system.param.yaml
  system/system_monitor/README.md
  system/system_monitor/config/net_monitor.param.yaml
  system/system_monitor/docs/ros_parameters.md
  system/system_monitor/docs/topics_net_monitor.md
  system/system_monitor/include/system_monitor/net_monitor/net_monitor.hpp
  system/system_monitor/src/net_monitor/net_monitor.cpp
Labels: enhancement, system

#1776 feat(bag_time_manager_rviz_plugin): add bag time manager rviz plugin
  common/bag_time_manager_rviz_plugin/CMakeLists.txt
  common/bag_time_manager_rviz_plugin/README.md
  common/bag_time_manager_rviz_plugin/icons/classes/BagTimeManagerPanel.png
  common/bag_time_manager_rviz_plugin/images/add_bag_time_manager_panel.png
  common/bag_time_manager_rviz_plugin/images/bag_time_manager_panel.png
  common/bag_time_manager_rviz_plugin/images/select_panels.png
  common/bag_time_manager_rviz_plugin/package.xml
  common/bag_time_manager_rviz_plugin/plugins/plugin_description.xml
  common/bag_time_manager_rviz_plugin/src/bag_time_manager_panel.cpp
  common/bag_time_manager_rviz_plugin/src/bag_time_manager_panel.hpp
Labels: documentation

#1758 refactor(ekf_localizer): isolate state transition functions
  localization/ekf_localizer/CMakeLists.txt
  localization/ekf_localizer/include/ekf_localizer/ekf_localizer.hpp
  localization/ekf_localizer/include/ekf_localizer/matrix_types.hpp
  localization/ekf_localizer/include/ekf_localizer/state_index.hpp
  localization/ekf_localizer/include/ekf_localizer/state_transition.hpp
  localization/ekf_localizer/src/ekf_localizer.cpp
  localization/ekf_localizer/src/state_transition.cpp
  localization/ekf_localizer/test/test_state_transition.cpp
Labels: localization

#1587 docs(behavior_path_planner): update pull out docs
  planning/behavior_path_planner/README.md
  planning/behavior_path_planner/image/geometric_pull_out.drawio.svg
  planning/behavior_path_planner/image/pull_out_after_back.drawio.svg
  planning/behavior_path_planner/image/pull_out_collision_check.drawio.svg
  planning/behavior_path_planner/image/pull_out_fig1.drawio.svg
  planning/behavior_path_planner/image/shift_pull_out.drawio.svg
Labels: documentation

#1779 fix(radar_fusion_to_detected_object): add message_filter to radar fusion
  perception/radar_fusion_to_detected_object/include/radar_object_fusion_to_detected_object/radar_object_fusion_to_detected_object_node.hpp
  perception/radar_fusion_to_detected_object/package.xml
  perception/radar_fusion_to_detected_object/src/radar_object_fusion_to_detected_object_node/radar_object_fusion_to_detected_object_node.cpp
Labels: perception

#1772 fix(elevation_map_loader): remove and create map bagfile if it cannot be loaded
  perception/elevation_map_loader/package.xml
  perception/elevation_map_loader/src/elevation_map_loader_node.cpp
Labels: perception

#1787 fix(ekf_localizer): rename biased pose topics
  launch/tier4_localization_launch/launch/pose_estimator/pose_estimator.launch.xml
  launch/tier4_localization_launch/launch/pose_twist_fusion_filter/pose_twist_fusion_filter.launch.xml
  localization/ekf_localizer/README.md
  localization/ekf_localizer/include/ekf_localizer/ekf_localizer.hpp
  localization/ekf_localizer/launch/ekf_localizer.launch.xml
  localization/ekf_localizer/src/ekf_localizer.cpp
Labels: localization

#1720 refactor(obstacle_stop_planner): update params name for readability
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/motion_planning/obstacle_stop_planner/obstacle_stop_planner.param.yaml
  planning/obstacle_stop_planner/README.md
  planning/obstacle_stop_planner/config/obstacle_stop_planner.param.yaml
  planning/obstacle_stop_planner/docs/collision_parameters.svg
  planning/obstacle_stop_planner/docs/insert_decel_velocity.drawio.svg
  planning/obstacle_stop_planner/docs/insert_velocity.drawio.svg
  planning/obstacle_stop_planner/docs/insert_velocity1.drawio.svg
  planning/obstacle_stop_planner/docs/insert_velocity2.drawio.svg
  planning/obstacle_stop_planner/docs/min_longitudinal_margin.svg
  planning/obstacle_stop_planner/docs/point_cloud.drawio.svg
  planning/obstacle_stop_planner/docs/point_cloud_decel.drawio.svg
  planning/obstacle_stop_planner/docs/slow_down_parameters.svg
  planning/obstacle_stop_planner/docs/slow_down_target.svg
  planning/obstacle_stop_planner/docs/stop_target.svg
  planning/obstacle_stop_planner/docs/vehicle_shape.drawio.svg
  planning/obstacle_stop_planner/docs/vehicle_shape_decel.drawio.svg
  planning/obstacle_stop_planner/docs/velocity_limitation.drawio.svg
  planning/obstacle_stop_planner/include/obstacle_stop_planner/node.hpp
  planning/obstacle_stop_planner/include/obstacle_stop_planner/planner_data.hpp
  planning/obstacle_stop_planner/src/node.cpp
Labels: documentation

#1709 feat: change car size param in shape estimation
  perception/shape_estimation/include/shape_estimation/corrector/car_corrector.hpp
  perception/shape_estimation/lib/filter/car_filter.cpp
Labels: perception

#1728 feat(lidar_centerpoint): yaw norm filter
  perception/image_projection_based_fusion/src/pointpainting_fusion/node.cpp
  perception/lidar_centerpoint/include/lidar_centerpoint/centerpoint_config.hpp
  perception/lidar_centerpoint/launch/lidar_centerpoint.launch.xml
  perception/lidar_centerpoint/lib/postprocess/postprocess_kernel.cu
  perception/lidar_centerpoint/src/node.cpp
Labels: perception

#1071 feat(motion_velocity_smoother): add steering rate limit while planning velocity
  launch/tier4_control_launch/config/trajectory_follower/lateral_controller.param.yaml
  launch/tier4_planning_launch/config/scenario_planning/common/motion_velocity_smoother/motion_velocity_smoother.param.yaml
  planning/motion_velocity_smoother/README.md
  planning/motion_velocity_smoother/include/motion_velocity_smoother/motion_velocity_smoother_node.hpp
  planning/motion_velocity_smoother/include/motion_velocity_smoother/smoother/smoother_base.hpp
  planning/motion_velocity_smoother/media/motion_velocity_smoother_flow.drawio.svg
  planning/motion_velocity_smoother/package.xml
  planning/motion_velocity_smoother/src/motion_velocity_smoother_node.cpp
  planning/motion_velocity_smoother/src/smoother/smoother_base.cpp
Labels: planning

#1755 feat(radar_object_fusion_to_detected_object): enable confidence compensation in radar fusion
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_radar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/lidar_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/lidar_radar_based_detection.launch.xml
  perception/radar_fusion_to_detected_object/README.md
  perception/radar_fusion_to_detected_object/config/radar_object_fusion_to_detected_object.param.yaml
  perception/radar_fusion_to_detected_object/include/radar_fusion_to_detected_object.hpp
  perception/radar_fusion_to_detected_object/include/radar_object_fusion_to_detected_object/radar_object_fusion_to_detected_object_node.hpp
  perception/radar_fusion_to_detected_object/src/radar_fusion_to_detected_object.cpp
  perception/radar_fusion_to_detected_object/src/radar_object_fusion_to_detected_object_node/radar_object_fusion_to_detected_object_node.cpp
Labels: perception

#1805 fix(system_monitor): fix parameter threshold of CPU Usage monitoring
  launch/tier4_system_launch/config/system_monitor/cpu_monitor.param.yaml
  system/system_monitor/config/cpu_monitor.param.yaml
  system/system_monitor/src/cpu_monitor/cpu_monitor_base.cpp
Labels: bug, system

#1795 refactor(ekf_localizer): isolate measurement models as functions
  localization/ekf_localizer/CMakeLists.txt
  localization/ekf_localizer/include/ekf_localizer/measurement.hpp
  localization/ekf_localizer/src/ekf_localizer.cpp
  localization/ekf_localizer/src/measurement.cpp
  localization/ekf_localizer/test/test_measurement.cpp
Labels: localization

#1612 fix(simple_planning_simulator): fix param file levels
  simulator/simple_planning_simulator/param/simple_planning_simulator_default.param.yaml
  simulator/simple_planning_simulator/param/vehicle_characteristics.param.yaml
Labels: bug

#1774 fix(autoware_auto_perception_rviz_plugin): fix twist marker id
  common/autoware_auto_perception_rviz_plugin/src/object_detection/detected_objects_display.cpp
Labels: perception

#687 feat: add GPU clock monitoring to gpu_monitor
  system/system_error_monitor/config/diagnostic_aggregator/system.param.yaml
  system/system_monitor/README.md
  system/system_monitor/docs/topics_gpu_monitor.md
  system/system_monitor/include/system_monitor/gpu_monitor/nvml_gpu_monitor.hpp
  system/system_monitor/src/gpu_monitor/nvml_gpu_monitor.cpp
Labels: enhancement, system

#1692 fix(radar_fusion_to_detected_object): make has_twist_covariance enable
  perception/radar_fusion_to_detected_object/include/radar_fusion_to_detected_object.hpp
  perception/radar_fusion_to_detected_object/src/radar_fusion_to_detected_object.cpp
Labels: perception

#1833 fix(tier4_perception_launch): add input/pointcloud to ground-segmentation
  launch/tier4_perception_launch/launch/obstacle_segmentation/ground_segmentation/ground_segmentation.launch.py
Labels: perception

#1822 fix(ekf_localizer): remove a setter function to improve refenential trasparency
  localization/ekf_localizer/src/ekf_localizer.cpp
Labels: localization

#1835 feat(obstacle_cruise_planner): add explanations for holding the closest stop obstacle
  planning/obstacle_cruise_planner/README.md
Labels: documentation

#1818 feat(shift_decider): put the gear in park when vehicle reaches the goal
  control/shift_decider/include/shift_decider/shift_decider.hpp
  control/shift_decider/launch/shift_decider.launch.xml
  control/shift_decider/package.xml
  control/shift_decider/src/shift_decider.cpp
  launch/tier4_control_launch/launch/control.launch.py
Labels: control

#1851 fix(behavior_path_planner): fix check intersection for lane change
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_following/lane_following_module.cpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: bug, planning

#1442 feat(tier4_localization_launch): manual sync with tier4/localization_launch
  launch/tier4_localization_launch/launch/localization.launch.xml
Labels: localization

#1710 feat(multi_object_tracker): increase max-area for truck and trailer
  launch/tier4_perception_launch/config/object_recognition/tracking/multi_object_tracker/data_association_matrix.param.yaml
  perception/multi_object_tracker/config/data_association_matrix.param.yaml
Labels: perception

#1837 refactor(ekf_localizer): add a warning class
  localization/ekf_localizer/include/ekf_localizer/ekf_localizer.hpp
  localization/ekf_localizer/include/ekf_localizer/warning.hpp
  localization/ekf_localizer/package.xml
  localization/ekf_localizer/src/ekf_localizer.cpp
Labels: localization

#1874 refactor(lidar_centerpoint): change default threshold params
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/lidar_based_detection.launch.xml
  perception/lidar_centerpoint/include/lidar_centerpoint/centerpoint_config.hpp
  perception/lidar_centerpoint/launch/lidar_centerpoint.launch.xml
  perception/lidar_centerpoint/src/node.cpp
Labels: perception

#1775 feat(obstacle_avoidance_planner): fix can be applied to the first trajectory point
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/motion_planning/obstacle_avoidance_planner/obstacle_avoidance_planner.param.yaml
  planning/obstacle_avoidance_planner/README.md
  planning/obstacle_avoidance_planner/config/obstacle_avoidance_planner.param.yaml
  planning/obstacle_avoidance_planner/debug.md
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/common_structs.hpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/utils.hpp
  planning/obstacle_avoidance_planner/media/calculation_cost_plot.svg
  planning/obstacle_avoidance_planner/scripts/calclation_time_analyzer.py
  planning/obstacle_avoidance_planner/src/mpt_optimizer.cpp
  planning/obstacle_avoidance_planner/src/node.cpp
Labels: documentation

#1821 feat(trtexec_vendor): add vendor package for trtexec
  common/trtexec_vendor/CMakeLists.txt
  common/trtexec_vendor/env-hooks/trtexec_vendor.sh.in
  common/trtexec_vendor/package.xml
Labels: perception

#1855 feat(vehicle_info_util): add script to calculate turning radius
  vehicle/vehicle_info_util/CMakeLists.txt
  vehicle/vehicle_info_util/Readme.md
  vehicle/vehicle_info_util/scripts/min_turning_radius_calculator.py
Labels: documentation

#1887 feat(multi_object_tracker): update bus size
  launch/tier4_perception_launch/config/object_recognition/tracking/multi_object_tracker/data_association_matrix.param.yaml
  perception/multi_object_tracker/config/data_association_matrix.param.yaml
Labels: perception

#1885 fix(multi_object_tracker): add missing trailer tracker
  perception/multi_object_tracker/config/default_tracker.param.yaml
  perception/multi_object_tracker/include/multi_object_tracker/utils/utils.hpp
  perception/multi_object_tracker/src/multi_object_tracker_core.cpp
  perception/multi_object_tracker/src/tracker/model/big_vehicle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/multiple_vehicle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/normal_vehicle_tracker.cpp
Labels: perception

#1865 feat(tier4_perception_launch): add arg to swtich lidar_centerpoint model
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/lidar_based_detection.launch.xml
Labels: perception

#1427 feat(system_monitor): add IP packet reassembles failed monitoring to net_monitor
  launch/tier4_system_launch/config/system_monitor/net_monitor.param.yaml
  system/system_error_monitor/config/diagnostic_aggregator/system.param.yaml
  system/system_monitor/README.md
  system/system_monitor/config/net_monitor.param.yaml
  system/system_monitor/docs/ros_parameters.md
  system/system_monitor/docs/topics_net_monitor.md
  system/system_monitor/include/system_monitor/net_monitor/net_monitor.hpp
  system/system_monitor/src/net_monitor/net_monitor.cpp
Labels: enhancement, system

#1693 fix(gnss_poser): solve gnss_ins_orientation parameter name error
  sensing/gnss_poser/launch/gnss_poser.launch.xml
  sensing/gnss_poser/src/gnss_poser_core.cpp
Labels: sensing

#1749 feat(tensorrt_yolo): update Readme about model conversion
  perception/tensorrt_yolo/README.md
Labels: perception

#1916 fix(lidar_centerpoint): fixed the lidar_centerpoint related packages for their use without installing symlinks
  perception/image_projection_based_fusion/CMakeLists.txt
  perception/lidar_centerpoint/CMakeLists.txt
Labels: perception

#721 feat: add HDD monitoring items to hdd_monitor
  launch/tier4_system_launch/config/system_monitor/hdd_monitor.param.yaml
  system/system_error_monitor/config/diagnostic_aggregator/system.param.yaml
  system/system_monitor/README.md
  system/system_monitor/config/hdd_monitor.param.yaml
  system/system_monitor/docs/ros_parameters.md
  system/system_monitor/docs/topics_hdd_monitor.md
  system/system_monitor/include/hdd_reader/hdd_reader.hpp
  system/system_monitor/include/system_monitor/hdd_monitor/hdd_monitor.hpp
  system/system_monitor/reader/hdd_reader/hdd_reader.cpp
  system/system_monitor/src/hdd_monitor/hdd_monitor.cpp
Labels: enhancement, system

#1908 refactor(perception_utils): add label util function
  common/perception_utils/include/perception_utils/object_classification.hpp
Labels: perception

#1757 refactor(ndt_scan_matcher): refactor callbackSensorPoints
  localization/ndt_scan_matcher/CMakeLists.txt
  localization/ndt_scan_matcher/include/ndt_scan_matcher/debug.hpp
  localization/ndt_scan_matcher/include/ndt_scan_matcher/ndt_scan_matcher_core.hpp
  localization/ndt_scan_matcher/include/ndt_scan_matcher/pose_array_interpolator.hpp
  localization/ndt_scan_matcher/include/ndt_scan_matcher/util_func.hpp
  localization/ndt_scan_matcher/src/debug.cpp
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
  localization/ndt_scan_matcher/src/pose_array_interpolator.cpp
  localization/ndt_scan_matcher/src/util_func.cpp
Labels: localization

#1917 refactor(ekf_localizer): use covariance index util of tier4_autoware_util
  localization/ekf_localizer/src/ekf_localizer.cpp
  localization/ekf_localizer/src/measurement.cpp
Labels: localization

#1181 feat(lidar_apollo_segmentation_tvm): port package
  perception/lidar_apollo_segmentation_tvm/CMakeLists.txt
  perception/lidar_apollo_segmentation_tvm/design/lidar-segmentation-design.md
  perception/lidar_apollo_segmentation_tvm/include/lidar_apollo_segmentation_tvm/cluster2d.hpp
  perception/lidar_apollo_segmentation_tvm/include/lidar_apollo_segmentation_tvm/disjoint_set.hpp
  perception/lidar_apollo_segmentation_tvm/include/lidar_apollo_segmentation_tvm/feature_generator.hpp
  perception/lidar_apollo_segmentation_tvm/include/lidar_apollo_segmentation_tvm/feature_map.hpp
  perception/lidar_apollo_segmentation_tvm/include/lidar_apollo_segmentation_tvm/lidar_apollo_segmentation_tvm.hpp
  perception/lidar_apollo_segmentation_tvm/include/lidar_apollo_segmentation_tvm/log_table.hpp
  perception/lidar_apollo_segmentation_tvm/include/lidar_apollo_segmentation_tvm/util.hpp
  perception/lidar_apollo_segmentation_tvm/include/lidar_apollo_segmentation_tvm/visibility_control.hpp
  perception/lidar_apollo_segmentation_tvm/package.xml
  perception/lidar_apollo_segmentation_tvm/src/cluster2d.cpp
  perception/lidar_apollo_segmentation_tvm/src/feature_generator.cpp
  perception/lidar_apollo_segmentation_tvm/src/feature_map.cpp
  perception/lidar_apollo_segmentation_tvm/src/lidar_apollo_segmentation_tvm.cpp
  perception/lidar_apollo_segmentation_tvm/src/log_table.cpp
  perception/lidar_apollo_segmentation_tvm/test/main.cpp
  perception/lidar_apollo_segmentation_tvm_nodes/CMakeLists.txt
  perception/lidar_apollo_segmentation_tvm_nodes/design/lidar-segmentation-nodes-design.md
  perception/lidar_apollo_segmentation_tvm_nodes/include/lidar_apollo_segmentation_tvm_nodes/lidar_apollo_segmentation_tvm_node.hpp
  perception/lidar_apollo_segmentation_tvm_nodes/include/lidar_apollo_segmentation_tvm_nodes/visibility_control.hpp
  perception/lidar_apollo_segmentation_tvm_nodes/launch/lidar_apollo_segmentation_tvm_nodes.launch.py
  perception/lidar_apollo_segmentation_tvm_nodes/launch/lidar_apollo_segmentation_tvm_nodes.launch.xml
  perception/lidar_apollo_segmentation_tvm_nodes/package.xml
  perception/lidar_apollo_segmentation_tvm_nodes/param/test.param.yaml
  perception/lidar_apollo_segmentation_tvm_nodes/src/lidar_apollo_segmentation_tvm_node.cpp
  perception/lidar_apollo_segmentation_tvm_nodes/test/launch.test.py
Labels: help wanted, perception
