Repository autowarefoundation/autoware_universe, pull requests merged in 2022-06, with the labels that each got.

#752 feat(behavior_velocity): add run out module
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/behavior_velocity_planner.param.yaml
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/run_out.param.yaml
  launch/tier4_planning_launch/launch/planning.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.py
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/compare_map.launch.py
  launch/tier4_planning_launch/launch/scenario_planning/scenario_planning.launch.xml
  planning/behavior_velocity_planner/CMakeLists.txt
  planning/behavior_velocity_planner/README.md
  planning/behavior_velocity_planner/config/behavior_velocity_planner.param.yaml
  planning/behavior_velocity_planner/config/run_out.param.yaml
  planning/behavior_velocity_planner/docs/run_out/calculate_expected_target_velocity.svg
  planning/behavior_velocity_planner/docs/run_out/collision_detection_for_shape.svg
  planning/behavior_velocity_planner/docs/run_out/collision_points.svg
  planning/behavior_velocity_planner/docs/run_out/create_dynamic_obstacle.svg
  planning/behavior_velocity_planner/docs/run_out/create_polygon_on_path_point.svg
  planning/behavior_velocity_planner/docs/run_out/exclude_obstacles_by_partition.svg
  planning/behavior_velocity_planner/docs/run_out/insert_velocity.svg
  planning/behavior_velocity_planner/docs/run_out/run_out_overview.svg
  planning/behavior_velocity_planner/include/scene_module/run_out/debug.hpp
  planning/behavior_velocity_planner/include/scene_module/run_out/dynamic_obstacle.hpp
  planning/behavior_velocity_planner/include/scene_module/run_out/manager.hpp
  planning/behavior_velocity_planner/include/scene_module/run_out/path_utils.hpp
  planning/behavior_velocity_planner/include/scene_module/run_out/scene.hpp
  planning/behavior_velocity_planner/include/scene_module/run_out/utils.hpp
  planning/behavior_velocity_planner/run-out-design.md
  planning/behavior_velocity_planner/src/node.cpp
  planning/behavior_velocity_planner/src/scene_module/run_out/debug.cpp
  planning/behavior_velocity_planner/src/scene_module/run_out/dynamic_obstacle.cpp
  planning/behavior_velocity_planner/src/scene_module/run_out/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/run_out/scene.cpp
  planning/behavior_velocity_planner/src/scene_module/run_out/utils.cpp
Labels: planning

#1018 feat(behavior_velocity_planner): use grid_map_utils::PolygonIterator
  planning/behavior_velocity_planner/include/scene_module/occlusion_spot/grid_utils.hpp
  planning/behavior_velocity_planner/package.xml
  planning/behavior_velocity_planner/src/scene_module/occlusion_spot/grid_utils.cpp
  planning/behavior_velocity_planner/test/src/test_grid_utils.cpp
Labels: enhancement

#570 feat(obstacle_cruise_planner): add new package
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/obstacle_cruise_planner.param.yaml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/motion_planning/motion_planning.launch.py
  planning/obstacle_cruise_planner/CMakeLists.txt
  planning/obstacle_cruise_planner/config/obstacle_cruise_planner.param.yaml
  planning/obstacle_cruise_planner/config/plot_juggler_obstacle_velocity_planner.xml
  planning/obstacle_cruise_planner/image/collision_point.png
  planning/obstacle_cruise_planner/image/detection_area.png
  planning/obstacle_cruise_planner/image/obstacle_to_cruise.png
  planning/obstacle_cruise_planner/image/obstacle_to_stop.png
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/common_structs.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/node.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/optimization_based_planner/box2d.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/optimization_based_planner/optimization_based_planner.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/optimization_based_planner/resample.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/optimization_based_planner/s_boundary.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/optimization_based_planner/st_point.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/optimization_based_planner/velocity_optimizer.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/pid_based_planner/debug_values.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/pid_based_planner/pid_based_planner.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/pid_based_planner/pid_controller.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/planner_interface.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/polygon_utils.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/utils.hpp
  planning/obstacle_cruise_planner/launch/obstacle_cruise_planner.launch.xml
  planning/obstacle_cruise_planner/obstacle_cruise_planner-design.md
  planning/obstacle_cruise_planner/package.xml
  planning/obstacle_cruise_planner/scripts/trajectory_visualizer.py
  planning/obstacle_cruise_planner/src/node.cpp
  planning/obstacle_cruise_planner/src/optimization_based_planner/box2d.cpp
  planning/obstacle_cruise_planner/src/optimization_based_planner/optimization_based_planner.cpp
  planning/obstacle_cruise_planner/src/optimization_based_planner/resample.cpp
  planning/obstacle_cruise_planner/src/optimization_based_planner/velocity_optimizer.cpp
  planning/obstacle_cruise_planner/src/pid_based_planner/pid_based_planner.cpp
  planning/obstacle_cruise_planner/src/polygon_utils.cpp
  planning/obstacle_cruise_planner/src/utils.cpp
Labels: documentation

#1010 feat(traffic-light-rviz-panel): select traffic light ID from Combobox
  common/tier4_traffic_light_rviz_plugin/CMakeLists.txt
  common/tier4_traffic_light_rviz_plugin/README.md
  common/tier4_traffic_light_rviz_plugin/images/select_traffic_light_id.png
  common/tier4_traffic_light_rviz_plugin/package.xml
  common/tier4_traffic_light_rviz_plugin/src/traffic_light_publish_panel.cpp
  common/tier4_traffic_light_rviz_plugin/src/traffic_light_publish_panel.hpp
  mkdocs.yaml
Labels: tools

#925 feat(heatmap_visualizer): add heatmap visualizer
  perception/heatmap_visualizer/CMakeLists.txt
  perception/heatmap_visualizer/README.md
  perception/heatmap_visualizer/image/heatmap_sample.png
  perception/heatmap_visualizer/image/heatmap_visualizer.png
  perception/heatmap_visualizer/include/heatmap_visualizer/heatmap_visualizer_node.hpp
  perception/heatmap_visualizer/include/heatmap_visualizer/utils.hpp
  perception/heatmap_visualizer/launch/heatmap_visualizer.launch.xml
  perception/heatmap_visualizer/package.xml
  perception/heatmap_visualizer/src/heatmap_visualizer_node.cpp
  perception/heatmap_visualizer/src/utils.cpp
Labels: perception, Component: perception

#902 fix(freespace_planning_algorithms): initialize priority queue of astar algorithm
  planning/freespace_planning_algorithms/include/freespace_planning_algorithms/astar_search.hpp
  planning/freespace_planning_algorithms/src/astar_search.cpp
  planning/freespace_planning_algorithms/test/src/test_freespace_planning_algorithms.cpp
Labels: planning

#924 feat(pointcloud_preprocessor): add polygon remover
  sensing/pointcloud_preprocessor/CMakeLists.txt
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/polygon_remover/polygon_remover.hpp
  sensing/pointcloud_preprocessor/launch/polygon_remover.launch.py
  sensing/pointcloud_preprocessor/package.xml
  sensing/pointcloud_preprocessor/src/polygon_remover/polygon_remover.cpp
  vehicle/vehicle_info_util/config/polygon_remover.yaml
Labels: sensing

#1091 fix(behavior_path_planner): prevent modification of planning data while planner is running
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/util.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_out/util.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/util.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/util.cpp
  planning/behavior_path_planner/src/scene_module/pull_out/util.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/util.cpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: Bus ODD, planning

#992 fix: is_in_parking_lot check method
  map/lanelet2_extension/include/lanelet2_extension/utility/query.hpp
  map/lanelet2_extension/lib/query.cpp
  planning/costmap_generator/nodes/costmap_generator/costmap_generator_node.cpp
  planning/scenario_selector/src/scenario_selector_node/scenario_selector_node.cpp
Labels: planning, map

#1028 fix(behavior_velocity_planner): use only forward path for launching module
  map/lanelet2_extension/include/lanelet2_extension/utility/query.hpp
  map/lanelet2_extension/lib/query.cpp
  planning/behavior_velocity_planner/include/scene_module/crosswalk/manager.hpp
  planning/behavior_velocity_planner/include/scene_module/occlusion_spot/occlusion_spot_utils.hpp
  planning/behavior_velocity_planner/include/scene_module/scene_module_interface.hpp
  planning/behavior_velocity_planner/include/scene_module/stop_line/manager.hpp
  planning/behavior_velocity_planner/include/utilization/util.hpp
  planning/behavior_velocity_planner/src/scene_module/blind_spot/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/crosswalk/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/detection_area/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/no_stopping_area/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/stop_line/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/traffic_light/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/virtual_traffic_light/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/virtual_traffic_light/scene.cpp
  planning/behavior_velocity_planner/src/utilization/util.cpp
Labels: planning

#1089 feat(twist2accel)!: add new package for estimating acceleration in localization module
  launch/tier4_localization_launch/launch/pose_twist_fusion_filter/pose_twist_fusion_filter.launch.xml
  localization/twist2accel/CMakeLists.txt
  localization/twist2accel/README.md
  localization/twist2accel/include/twist2accel/twist2accel.hpp
  localization/twist2accel/launch/twist2accel.launch.xml
  localization/twist2accel/package.xml
  localization/twist2accel/src/twist2accel.cpp
  localization/twist2accel/src/twist2accel_node.cpp
Labels: localization

#1111 feat(bluetooth_monitor): run bluetooth monitor with new parameter
  system/bluetooth_monitor/include/bluetooth_monitor/service/l2ping.hpp
  system/bluetooth_monitor/include/bluetooth_monitor/service/l2ping_interface.hpp
  system/bluetooth_monitor/include/bluetooth_monitor/service/l2ping_service.hpp
  system/bluetooth_monitor/service/l2ping.cpp
  system/bluetooth_monitor/service/l2ping_service.cpp
Labels: enhancement

#1012 feat: add radar tracks msgs converter
  perception/radar_tracks_msgs_converter/CMakeLists.txt
  perception/radar_tracks_msgs_converter/README.md
  perception/radar_tracks_msgs_converter/include/radar_tracks_msgs_converter/radar_tracks_msgs_converter_node.hpp
  perception/radar_tracks_msgs_converter/launch/radar_tracks_msgs_converter.launch.xml
  perception/radar_tracks_msgs_converter/package.xml
  perception/radar_tracks_msgs_converter/src/radar_tracks_msgs_converter_node/radar_tracks_msgs_converter_node.cpp
Labels: perception

#892 feat(neural_networks_provider): port neural_networks_provider
  common/neural_networks_provider/CMakeLists.txt
  common/neural_networks_provider/design/neural_networks-design.md
  common/neural_networks_provider/download_neural_networks.sh
  common/neural_networks_provider/neural_networks_provider-extras.cmake
  common/neural_networks_provider/package.xml
Labels: perception

#1099 feat(control_performance_analysis): add low pass filter to control_performance_analysis tool
  control/control_performance_analysis/config/control_performance_analysis.param.yaml
  control/control_performance_analysis/include/control_performance_analysis/control_performance_analysis_core.hpp
  control/control_performance_analysis/include/control_performance_analysis/control_performance_analysis_node.hpp
  control/control_performance_analysis/src/control_performance_analysis_core.cpp
  control/control_performance_analysis/src/control_performance_analysis_node.cpp
Labels: control

#870 feat: unknown objects from perception
  launch/tier4_perception_launch/config/object_recognition/tracking/multi_object_tracker/data_association_matrix.param.yaml
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/lidar_based_detection.launch.xml
  perception/detected_object_feature_remover/launch/detected_object_feature_remover.launch.xml
  perception/detection_by_tracker/include/detection_by_tracker/utils.hpp
  perception/detection_by_tracker/launch/detection_by_tracker.launch.xml
  perception/detection_by_tracker/src/utils.cpp
  perception/multi_object_tracker/config/data_association_matrix.param.yaml
  perception/multi_object_tracker/include/multi_object_tracker/utils/utils.hpp
  perception/multi_object_tracker/src/multi_object_tracker_core.cpp
  perception/multi_object_tracker/src/tracker/model/bicycle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/big_vehicle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/multiple_vehicle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/normal_vehicle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/pedestrian_and_bicycle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/pedestrian_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/unknown_tracker.cpp
  perception/multi_object_tracker/src/utils/utils.cpp
Labels: perception

#1149 feat(lanelet2_extension): add route checker
  map/lanelet2_extension/CMakeLists.txt
  map/lanelet2_extension/include/lanelet2_extension/utility/route_checker.hpp
  map/lanelet2_extension/lib/route_checker.cpp
  map/lanelet2_extension/package.xml
  map/lanelet2_extension/test/src/test_route_checker.cpp
Labels: map

#1157 chore(behavior_path_planner): change logger throttle
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_following/lane_following_module.cpp
  planning/behavior_path_planner/src/scene_module/pull_out/pull_out_module.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/pull_over_module.cpp
  planning/behavior_path_planner/src/scene_module/side_shift/side_shift_module.cpp
Labels: planning

#1006 feat: regularized NDT matching
  launch/tier4_localization_launch/config/ndt_scan_matcher.param.yaml
  localization/ndt/include/ndt/base.hpp
  localization/ndt/include/ndt/impl/omp.hpp
  localization/ndt/include/ndt/omp.hpp
  localization/ndt/include/ndt/pcl_generic.hpp
  localization/ndt/include/ndt/pcl_modified.hpp
  localization/ndt_scan_matcher/README.md
  localization/ndt_scan_matcher/config/ndt_scan_matcher.param.yaml
  localization/ndt_scan_matcher/include/ndt_scan_matcher/ndt_scan_matcher_core.hpp
  localization/ndt_scan_matcher/launch/ndt_scan_matcher.launch.xml
  localization/ndt_scan_matcher/media/bridge_map.jpg
  localization/ndt_scan_matcher/media/bridge_map_less_feature.jpg
  localization/ndt_scan_matcher/media/trajectory_with_regularization.png
  localization/ndt_scan_matcher/media/trajectory_without_regularization.png
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
Labels: localization

#1155 feat(freespace_planner, mission_planner, scenario_selector): check if route handler is ready
  planning/freespace_planner/include/freespace_planner/freespace_planner_node.hpp
  planning/freespace_planner/package.xml
  planning/freespace_planner/src/freespace_planner/freespace_planner_node.cpp
  planning/mission_planner/src/mission_planner_lanelet2/mission_planner_lanelet2.cpp
  planning/scenario_selector/include/scenario_selector/scenario_selector_node.hpp
  planning/scenario_selector/package.xml
  planning/scenario_selector/src/scenario_selector_node/scenario_selector_node.cpp
Labels: planning

#1173 docs(tier4_perception_rviz_plugin): add interactive dummy object doc
  common/tier4_perception_rviz_plugin/README.md
  common/tier4_perception_rviz_plugin/images/tool_properties.png
Labels: documentation

#1120 feat(distortion_corrector): use gyroscope for correcting LiDAR distortion
  launch/tier4_localization_launch/launch/twist_estimator/twist_estimator.launch.xml
  sensing/pointcloud_preprocessor/docs/distortion-corrector.md
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/distortion_corrector/distortion_corrector.hpp
  sensing/pointcloud_preprocessor/src/distortion_corrector/distortion_corrector.cpp
  sensing/vehicle_velocity_converter/CMakeLists.txt
  sensing/vehicle_velocity_converter/README.md
  sensing/vehicle_velocity_converter/config/vehicle_velocity_converter.param.yaml
  sensing/vehicle_velocity_converter/include/vehicle_velocity_converter/vehicle_velocity_converter.hpp
  sensing/vehicle_velocity_converter/launch/vehicle_velocity_converter.launch.xml
  sensing/vehicle_velocity_converter/package.xml
  sensing/vehicle_velocity_converter/src/vehicle_velocity_converter.cpp
  sensing/vehicle_velocity_converter/src/vehicle_velocity_converter_node.cpp
Labels: sensing, localization

#1190 refactor(freespace_planner): parameterize margin.
  launch/tier4_planning_launch/config/scenario_planning/parking/freespace_planner/freespace_planner.param.yaml
  planning/freespace_planner/README.md
  planning/freespace_planner/config/freespace_planner.param.yaml
  planning/freespace_planner/include/freespace_planner/freespace_planner_node.hpp
  planning/freespace_planner/src/freespace_planner/freespace_planner_node.cpp
Labels: planning

#1001 feat: update data association in object merger
  perception/detection_by_tracker/src/utils.cpp
  perception/multi_object_tracker/src/utils/utils.cpp
  perception/object_merger/CMakeLists.txt
  perception/object_merger/README.md
  perception/object_merger/config/data_association_matrix.param.yaml
  perception/object_merger/include/object_association_merger/data_association/data_association.hpp
  perception/object_merger/include/object_association_merger/data_association/solver/gnn_solver.hpp
  perception/object_merger/include/object_association_merger/data_association/solver/gnn_solver_interface.hpp
  perception/object_merger/include/object_association_merger/data_association/solver/mu_successive_shortest_path.hpp
  perception/object_merger/include/object_association_merger/data_association/solver/successive_shortest_path.hpp
  perception/object_merger/include/object_association_merger/node.hpp
  perception/object_merger/include/object_association_merger/utils/utils.hpp
  perception/object_merger/launch/object_association_merger.launch.xml
  perception/object_merger/package.xml
  perception/object_merger/src/object_association_merger/data_association/data_association.cpp
  perception/object_merger/src/object_association_merger/data_association/mu_successive_shortest_path/mu_successive_shortest_path_wrapper.cpp
  perception/object_merger/src/object_association_merger/data_association/successive_shortest_path/successive_shortest_path.cpp
  perception/object_merger/src/object_association_merger/node.cpp
  perception/object_merger/src/object_association_merger/utils/utils.cpp
Labels: perception
