Repository autowarefoundation/autoware_universe, pull requests merged in 2022-08, with the labels that each got.

#909 fix(behavior_path_planner): fix velocity planning at avoidance
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#1483 fix(behavior_velocity_planner): avoid duplicates in intersection module
  planning/behavior_velocity_planner/include/scene_module/intersection/util.hpp
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_intersection.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_merge_from_private_road.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/util.cpp
Labels: enhancement, planning

#1321 feat(interpolation): add akima spline interpolation
  common/interpolation/include/interpolation/spline_interpolation.hpp
  common/interpolation/src/spline_interpolation.cpp
  common/interpolation/test/src/test_spline_interpolation.cpp
Labels: planning

#1266 docs(behavior_velocity_planner): add map format doc
  planning/behavior_velocity_planner/virtual-traffic-light-design.md
Labels: documentation

#1507 docs(behavior_velocity_planner, obstacle_stop_planner): add description of redundant restart prevention
  planning/behavior_velocity_planner/detection-area-design.md
  planning/behavior_velocity_planner/docs/detection_area/keep_stopping.svg
  planning/behavior_velocity_planner/docs/detection_area/restart.svg
  planning/behavior_velocity_planner/docs/detection_area/restart_prevention.svg
  planning/behavior_velocity_planner/docs/stop_line/keep_stopping.svg
  planning/behavior_velocity_planner/docs/stop_line/restart.svg
  planning/behavior_velocity_planner/docs/stop_line/restart_prevention.svg
  planning/behavior_velocity_planner/docs/virtual_traffic_light/keep_stopping.svg
  planning/behavior_velocity_planner/docs/virtual_traffic_light/restart.svg
  planning/behavior_velocity_planner/docs/virtual_traffic_light/restart_prevention.svg
  planning/behavior_velocity_planner/stop-line-design.md
  planning/behavior_velocity_planner/virtual-traffic-light-design.md
  planning/obstacle_stop_planner/README.md
  planning/obstacle_stop_planner/docs/keep_stopping.svg
  planning/obstacle_stop_planner/docs/restart.svg
  planning/obstacle_stop_planner/docs/restart_prevention.svg
Labels: documentation

#1532 feat(localization_error_monitor): change subscribing topic type
  launch/tier4_localization_launch/launch/localization_error_monitor/localization_error_monitor.launch.xml
  localization/localization_error_monitor/include/localization_error_monitor/node.hpp
  localization/localization_error_monitor/launch/localization_error_monitor.launch.xml
  localization/localization_error_monitor/package.xml
  localization/localization_error_monitor/src/node.cpp
Labels: localization

#1396 feat(motion_utils): add new nearest index function
  common/motion_utils/README.md
  common/motion_utils/include/motion_utils/motion_utils.hpp
  common/motion_utils/include/motion_utils/trajectory/path_with_lane_id.hpp
  common/motion_utils/include/motion_utils/trajectory/trajectory.hpp
  common/motion_utils/media/ego_nearest_search.svg
  common/motion_utils/test/src/trajectory/test_path_with_lane_id.cpp
  common/motion_utils/test/src/trajectory/test_trajectory.cpp
Labels: documentation

#1546 fix(scenario_selector): timing of handling route
  planning/scenario_selector/include/scenario_selector/scenario_selector_node.hpp
  planning/scenario_selector/src/scenario_selector_node/scenario_selector_node.cpp
Labels: planning

#1472 fix: update trt api
  perception/lidar_apollo_instance_segmentation/CMakeLists.txt
  perception/lidar_apollo_instance_segmentation/src/detector.cpp
  perception/lidar_centerpoint/lib/network/tensorrt_wrapper.cpp
  perception/tensorrt_yolo/lib/src/trt_yolo.cpp
  perception/traffic_light_classifier/utils/trt_common.cpp
  perception/traffic_light_classifier/utils/trt_common.hpp
  perception/traffic_light_ssd_fine_detector/lib/src/trt_ssd.cpp
Labels: perception

#1571 fix(behavior_path_planner): pull_over far goal bug
  planning/behavior_path_planner/src/scene_module/pull_over/pull_over_module.cpp
Labels: planning

#1565 fix(ekf_localizer): modified std deviation to deviation
  localization/ekf_localizer/include/ekf_localizer/ekf_localizer.hpp
  localization/ekf_localizer/src/ekf_localizer.cpp
Labels: localization

#1585 chore(motion_utils): minor change with nearest search readme
  common/motion_utils/README.md
  common/motion_utils/media/ego_nearest_search.svg
Labels: documentation

#1583 fix(ndt_scan_matcher): fix default parameter to 0.0225
  launch/tier4_localization_launch/config/ndt_scan_matcher.param.yaml
  localization/ndt_scan_matcher/config/ndt_scan_matcher.param.yaml
Labels: localization

#1601 fix(ekf_localizer): enable enable_yaw_bias
  launch/tier4_localization_launch/launch/pose_twist_fusion_filter/pose_twist_fusion_filter.launch.xml
  localization/ekf_localizer/launch/ekf_localizer.launch.xml
  localization/ekf_localizer/src/ekf_localizer.cpp
Labels: localization

#1608 refactor(tier4_localization_rviz_plugin): apply clang-tidy
  common/tier4_localization_rviz_plugin/src/pose_history/pose_history_display.cpp
  common/tier4_localization_rviz_plugin/src/pose_history/pose_history_display.hpp
Labels: localization

#1607 fix(ekf_localizer): update the state and publish the estimated pose only after initialization
  localization/ekf_localizer/include/ekf_localizer/ekf_localizer.hpp
  localization/ekf_localizer/src/ekf_localizer.cpp
Labels: localization

#1577 feat(surround_obstacle_checker): add vehicle footprint with offset
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/motion_planning/surround_obstacle_checker/surround_obstacle_checker.param.yaml
  planning/surround_obstacle_checker/README.md
  planning/surround_obstacle_checker/config/surround_obstacle_checker.param.yaml
  planning/surround_obstacle_checker/include/surround_obstacle_checker/debug_marker.hpp
  planning/surround_obstacle_checker/include/surround_obstacle_checker/node.hpp
  planning/surround_obstacle_checker/src/debug_marker.cpp
  planning/surround_obstacle_checker/src/node.cpp
Labels: enhancement, planning

#1688 fix(behavior_path_planner): drivable area extended while avoidance
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#1708 fix(behavior_velocity_planner): fix safety slow down crosswalk intersection check
  planning/behavior_velocity_planner/include/scene_module/crosswalk/scene_crosswalk.hpp
  planning/behavior_velocity_planner/src/scene_module/crosswalk/scene_crosswalk.cpp
Labels: bug, planning

#1640 feat(multi_object_tracker): change ekf_params_.use_measurement_covariance to has_covariance
  perception/multi_object_tracker/include/multi_object_tracker/tracker/model/bicycle_tracker.hpp
  perception/multi_object_tracker/include/multi_object_tracker/tracker/model/big_vehicle_tracker.hpp
  perception/multi_object_tracker/include/multi_object_tracker/tracker/model/normal_vehicle_tracker.hpp
  perception/multi_object_tracker/include/multi_object_tracker/tracker/model/pedestrian_tracker.hpp
  perception/multi_object_tracker/include/multi_object_tracker/tracker/model/unknown_tracker.hpp
  perception/multi_object_tracker/src/tracker/model/bicycle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/big_vehicle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/normal_vehicle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/pedestrian_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/unknown_tracker.cpp
Labels: perception

#1704 feat(motion_utils): add explanation of segment
  common/motion_utils/README.md
  common/motion_utils/media/segment.svg
Labels: documentation

#1696 docs(obstacle_stop_planner): add limitations of backward driving
  planning/obstacle_stop_planner/README.md
Labels: documentation

#1654 feat(pure_pursuit): add maximum steering angle limit
  control/pure_pursuit/include/pure_pursuit/pure_pursuit_lateral_controller.hpp
  control/pure_pursuit/src/pure_pursuit/pure_pursuit_lateral_controller.cpp
Labels: control

#1591 docs(trajectory_follower, trajectory_follower_nodes): update docs
  common/osqp_interface/design/osqp_interface-design.md
  common/vehicle_constants_manager/design/vehicle_constants_manager-design.md
  control/trajectory_follower/design/media/BrakeKeeping.drawio.svg
  control/trajectory_follower/design/media/LongitudinalControllerDiagram.drawio.svg
  control/trajectory_follower/design/media/LongitudinalControllerStateTransition.drawio.svg
  control/trajectory_follower/design/mpc_lateral_controller-design.md
  control/trajectory_follower/design/pid_longitudinal_controller-design.md
  control/trajectory_follower/design/trajectory_follower-design.md
  control/trajectory_follower/design/trajectory_follower-mpc-design.md
  control/trajectory_follower/design/trajectory_follower-pid-design.md
  control/trajectory_follower_nodes/design/latlon_muxer-design.md
  control/trajectory_follower_nodes/design/media/Controller.drawio.svg
  control/trajectory_follower_nodes/design/trajectory_follower-design.md
Labels: documentation

#1385 docs(behavior_path_planner): lane change docs update
  planning/behavior_path_planner/behavior_path_planner_lane_change.md
  planning/behavior_path_planner/image/lane_change/lane_change-candidate_path_samples.png
  planning/behavior_path_planner/image/lane_change/lane_change-collision_check.png
  planning/behavior_path_planner/image/lane_change/lane_change-collision_check_parked_vehicle.png
  planning/behavior_path_planner/image/lane_change/lane_change-debug.png
  planning/behavior_path_planner/image/lane_change/lane_change-intersection_case.png
  planning/behavior_path_planner/image/lane_change/lane_change-lane_change_phases.png
  planning/behavior_path_planner/image/lane_change/lane_change-when_cannot_change_lanes.png
  planning/behavior_path_planner/image/lane_change/lane_change.drawio.svg
Labels: documentation

#1727 fix(vehicle_velocity_converter): simpify parameter inputs
  sensing/vehicle_velocity_converter/README.md
  sensing/vehicle_velocity_converter/config/vehicle_velocity_converter.param.yaml
  sensing/vehicle_velocity_converter/include/vehicle_velocity_converter/vehicle_velocity_converter.hpp
  sensing/vehicle_velocity_converter/src/vehicle_velocity_converter.cpp
Labels: sensing

#1578 docs(behavior_path_planner): update pull over docs
  planning/behavior_path_planner/README.md
  planning/behavior_path_planner/image/arc_backward_parking.drawio.svg
  planning/behavior_path_planner/image/arc_forward_parking.drawio.svg
  planning/behavior_path_planner/image/behavior_path_planner_bt_config.png
  planning/behavior_path_planner/image/pull_over_fig1.drawio.svg
  planning/behavior_path_planner/image/shift_parking.drawio.svg
Labels: documentation

#1698 feat(tier4_perception_launch): make lanelet object filter optional
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_radar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/lidar_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/lidar_radar_based_detection.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
Labels: perception

#1486 perf(obstacle_stop_planner): prevent unnecessary duplicate points
  planning/obstacle_stop_planner/src/node.cpp
Labels: enhancement, planning

#1714 fix(system_monitor): multithreading support for boost::process
  system/system_monitor/include/system_monitor/ntp_monitor/ntp_monitor.hpp
  system/system_monitor/include/system_monitor/process_monitor/process_monitor.hpp
  system/system_monitor/src/cpu_monitor/cpu_monitor_base.cpp
  system/system_monitor/src/hdd_monitor/hdd_monitor.cpp
  system/system_monitor/src/mem_monitor/mem_monitor.cpp
  system/system_monitor/src/ntp_monitor/ntp_monitor.cpp
  system/system_monitor/src/process_monitor/process_monitor.cpp
Labels: bug, system
