Repository autowarefoundation/autoware_universe, pull requests merged in 2022-12, with the labels that each got.

#2412 fix: skip building tensorrt yolox packages if cuda is not found
  common/cuda_utils/CMakeLists.txt
  common/tensorrt_common/CMakeLists.txt
  perception/tensorrt_yolox/CMakeLists.txt
Labels: perception, common

#2362 feat(radar_static_pointcloud_filter): add radar_static_pointcloud_filter package
  sensing/radar_static_pointcloud_filter/CMakeLists.txt
  sensing/radar_static_pointcloud_filter/README.md
  sensing/radar_static_pointcloud_filter/docs/radar_static_pointcloud_filter.drawio.svg
  sensing/radar_static_pointcloud_filter/include/radar_static_pointcloud_filter/radar_static_pointcloud_filter_node.hpp
  sensing/radar_static_pointcloud_filter/launch/radar_static_pointcloud_filter.launch.xml
  sensing/radar_static_pointcloud_filter/package.xml
  sensing/radar_static_pointcloud_filter/src/radar_static_pointcloud_filter_node/radar_static_pointcloud_filter_node.cpp
Labels: documentation, sensing

#2416 chore(tier4_map_launch): add maintainers
  launch/tier4_map_launch/package.xml
Labels: launch

#2402 fix(ekf_localizer): lowpass filter initialization
  localization/ekf_localizer/include/ekf_localizer/ekf_localizer.hpp
  localization/ekf_localizer/src/ekf_localizer.cpp
Labels: localization

#1938 feat(map_loader): add partial map loading interface in pointcloud_map_loader
  launch/tier4_map_launch/CMakeLists.txt
  launch/tier4_map_launch/config/pointcloud_map_loader.param.yaml
  launch/tier4_map_launch/launch/map.launch.py
  launch/tier4_map_launch/launch/map.launch.xml
  map/map_loader/CMakeLists.txt
  map/map_loader/README.md
  map/map_loader/config/pointcloud_map_loader.param.yaml
  map/map_loader/launch/pointcloud_map_loader.launch.xml
  map/map_loader/package.xml
  map/map_loader/src/pointcloud_map_loader/partial_map_loader_module.cpp
  map/map_loader/src/pointcloud_map_loader/partial_map_loader_module.hpp
  map/map_loader/src/pointcloud_map_loader/pointcloud_map_loader_module.cpp
  map/map_loader/src/pointcloud_map_loader/pointcloud_map_loader_node.cpp
  map/map_loader/src/pointcloud_map_loader/pointcloud_map_loader_node.hpp
  map/map_loader/src/pointcloud_map_loader/utils.cpp
  map/map_loader/src/pointcloud_map_loader/utils.hpp
  map/map_loader/test/test_sphere_box_overlap.cpp
Labels: documentation, map, launch

#2411 fix(behavior_path_planner): apply resampling with spline around a goal pose
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
Labels: planning

#2420 chore(system_monitor): add maintainer
  launch/tier4_system_launch/package.xml
  system/system_monitor/package.xml
Labels: system, launch

#2398 fix(obstacle_avoidance_planner): add guard for failed optimized trajectory
  planning/obstacle_avoidance_planner/src/mpt_optimizer.cpp
Labels: planning

#2421 fix(behavior_path_planner): fix lane change path validation
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/lane_change_module.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/util.cpp
Labels: planning

#2384 feat(tier4_planning_rviz_plugin): add offset from baselink param
  common/tier4_planning_rviz_plugin/include/trajectory_footprint/display.hpp
  common/tier4_planning_rviz_plugin/src/trajectory_footprint/display.cpp
Labels: common

#2387 feat(tier4_localization_rviz_plugin): add pose history footprint
  common/tier4_localization_rviz_plugin/CMakeLists.txt
  common/tier4_localization_rviz_plugin/icons/classes/PoseHistoryFootprint.png
  common/tier4_localization_rviz_plugin/package.xml
  common/tier4_localization_rviz_plugin/plugins/plugin_description.xml
  common/tier4_localization_rviz_plugin/src/pose_history_footprint/display.cpp
  common/tier4_localization_rviz_plugin/src/pose_history_footprint/display.hpp
Labels: documentation, common

#2408 ci: remove Galactic CI workflows
  .github/sync-files.yaml
  .github/workflows/build-and-test-differential-self-hosted.yaml
  .github/workflows/build-and-test-differential.yaml
  .github/workflows/build-and-test-self-hosted.yaml
  .github/workflows/build-and-test.yaml
  .github/workflows/check-build-depends.yaml
  build_depends.humble.repos
  build_depends.repos
Labels: ci

#2410 revert: revert "ci(build-and-test-differential): disable no-cuda test"
  .github/sync-files.yaml
  .github/workflows/build-and-test-differential-self-hosted.yaml
  .github/workflows/build-and-test-differential.yaml
Labels: ci

#2336 feat(radar_scan_to_pointcloud2): add radar_scan_to_pointcloud2 package
  sensing/radar_scan_to_pointcloud2/CMakeLists.txt
  sensing/radar_scan_to_pointcloud2/README.md
  sensing/radar_scan_to_pointcloud2/include/radar_scan_to_pointcloud2/radar_scan_to_pointcloud2_node.hpp
  sensing/radar_scan_to_pointcloud2/launch/radar_scan_to_pointcloud2.launch.xml
  sensing/radar_scan_to_pointcloud2/package.xml
  sensing/radar_scan_to_pointcloud2/src/radar_scan_to_pointcloud2_node/radar_scan_to_pointcloud2_node.cpp
Labels: documentation, sensing

#2304 feat(tier4_perception_launch): add centerpoint_vs_centerpoint-tiny launch file
  perception/lidar_centerpoint/launch/centerpoint_vs_centerpoint-tiny/README.md
  perception/lidar_centerpoint/launch/centerpoint_vs_centerpoint-tiny/centerpoint_vs_centerpoint-tiny.launch.xml
  perception/lidar_centerpoint/launch/centerpoint_vs_centerpoint-tiny/rviz/centerpoint.rviz
  perception/lidar_centerpoint/launch/centerpoint_vs_centerpoint-tiny/rviz/centerpoint_tiny.rviz
Labels: documentation, perception

#2314 feat(behavior_path_planner): update path when object is gone
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/behavior_path_planner_avoidance-design.md
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: documentation, planning, launch

#2329 feat(avoidance): improve avoidance target filter
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/debug.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/debug.cpp
  planning/route_handler/include/route_handler/route_handler.hpp
  planning/route_handler/src/route_handler.cpp
Labels: planning, launch

#2435 chore(tier4_state_rviz_plugin): add maintainer
  common/tier4_state_rviz_plugin/package.xml
Labels: common

#2433 feat(tier4_state_rviz_plugin): use ADAPI v1 instead of old API
  common/tier4_state_rviz_plugin/package.xml
  common/tier4_state_rviz_plugin/src/autoware_state_panel.cpp
  common/tier4_state_rviz_plugin/src/autoware_state_panel.hpp
Labels: common

#2437 fix(simple_planning_simulator): sim model with gear acc
  simulator/simple_planning_simulator/src/simple_planning_simulator/vehicle_model/sim_model_delay_steer_acc_geared.cpp
  simulator/simple_planning_simulator/src/simple_planning_simulator/vehicle_model/sim_model_ideal_steer_acc_geared.cpp
Labels: simulator

#2418 feat(map_loader): add downsampled pointcloud publisher
  launch/tier4_map_launch/config/pointcloud_map_loader.param.yaml
  map/map_loader/README.md
  map/map_loader/config/pointcloud_map_loader.param.yaml
  map/map_loader/src/pointcloud_map_loader/pointcloud_map_loader_module.cpp
  map/map_loader/src/pointcloud_map_loader/pointcloud_map_loader_module.hpp
  map/map_loader/src/pointcloud_map_loader/pointcloud_map_loader_node.cpp
  map/map_loader/src/pointcloud_map_loader/pointcloud_map_loader_node.hpp
Labels: documentation, map, launch

#2436 feat(tier4_state_rviz_plugin): add API monitoring for Routing, Localization and Motion
  common/tier4_state_rviz_plugin/src/autoware_state_panel.cpp
  common/tier4_state_rviz_plugin/src/autoware_state_panel.hpp
Labels: common

#2444 chore(simple_planning_simulator): add maintainer
  simulator/simple_planning_simulator/package.xml
Labels: simulator

#2268 feat(simple_planning_simulator): add initial twist for debug purpose
  simulator/simple_planning_simulator/include/simple_planning_simulator/simple_planning_simulator_core.hpp
  simulator/simple_planning_simulator/src/simple_planning_simulator/simple_planning_simulator_core.cpp
Labels: simulator

#2446 fix(raw_vehicle_cmd_converter): fix unnecessary row check
  vehicle/raw_vehicle_cmd_converter/include/raw_vehicle_cmd_converter/csv_loader.hpp
  vehicle/raw_vehicle_cmd_converter/src/accel_map.cpp
  vehicle/raw_vehicle_cmd_converter/src/brake_map.cpp
  vehicle/raw_vehicle_cmd_converter/src/csv_loader.cpp
  vehicle/raw_vehicle_cmd_converter/src/steer_map.cpp
Labels: vehicle

#2406 refactor(behavior_path_planner): move turn_signal_on_swerving param to bpp.param.yaml
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/avoidance/avoidance.param.yaml
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/behavior_path_planner.param.yaml
  planning/behavior_path_planner/behavior_path_planner_turn_signal-design.md
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/config/behavior_path_planner.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: documentation, planning, launch

#2394 refactor(vehicle_info_util): add createFootprint function
  control/lane_departure_checker/include/lane_departure_checker/lane_departure_checker_node.hpp
  control/lane_departure_checker/include/lane_departure_checker/util/create_vehicle_footprint.hpp
  control/lane_departure_checker/src/lane_departure_checker_node/lane_departure_checker.cpp
  control/obstacle_collision_checker/include/obstacle_collision_checker/util/create_vehicle_footprint.hpp
  control/obstacle_collision_checker/src/obstacle_collision_checker_node/obstacle_collision_checker.cpp
  control/obstacle_collision_checker/src/obstacle_collision_checker_node/obstacle_collision_checker_node.cpp
  vehicle/steer_offset_estimator/package.xml
  vehicle/vehicle_info_util/include/vehicle_info_util/vehicle_info.hpp
  vehicle/vehicle_info_util/package.xml
  vehicle/vehicle_info_util/src/vehicle_info_util.cpp
Labels: control, vehicle

#2427 feat(operation_mode_transition_manager): transition to auto quickly when vehicle stops
  control/operation_mode_transition_manager/src/state.cpp
Labels: control

#2453 feat(transition_manager): add param to ignore autonomous transition condition
  control/operation_mode_transition_manager/config/operation_mode_transition_manager.param.yaml
  control/operation_mode_transition_manager/src/state.cpp
  control/operation_mode_transition_manager/src/state.hpp
  launch/tier4_control_launch/config/operation_mode_transition_manager/operation_mode_transition_manager.param.yaml
Labels: control, launch

#2407 fix(default_ad_api): fix autoware state to add wait time
  system/default_ad_api/src/compatibility/autoware_state.cpp
  system/default_ad_api/src/compatibility/autoware_state.hpp
Labels: system

#2459 chore(behaviror_velocity_planner): changed logging level for intersection
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_intersection.cpp
Labels: planning

#2414 fix(tvm_utility): copy test result to CPU
  common/tvm_utility/include/tvm_utility/pipeline.hpp
  common/tvm_utility/package.xml
  common/tvm_utility/test/yolo_v2_tiny/main.cpp
Labels: common

#2450 fix(raw_vehicle_cmd_converter): fix column index for map validation
  vehicle/raw_vehicle_cmd_converter/src/csv_loader.cpp
Labels: vehicle

#2460 revert(default_ad_api): fix autoware state to add wait time (#2407)
  system/default_ad_api/src/compatibility/autoware_state.cpp
  system/default_ad_api/src/compatibility/autoware_state.hpp
Labels: system

#2451 feat(behavior_path_planner): cut overlapped path
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_following/lane_following_module.cpp
  planning/behavior_path_planner/src/scene_module/pull_out/pull_out_module.cpp
  planning/behavior_path_planner/src/scene_module/pull_out/shift_pull_out.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/pull_over_module.cpp
  planning/behavior_path_planner/src/scene_module/side_shift/side_shift_module.cpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#2462 perf(behavior_velocity_planner): remove unnecessary debug data
  planning/behavior_velocity_planner/include/scene_module/blind_spot/scene.hpp
  planning/behavior_velocity_planner/include/scene_module/intersection/scene_intersection.hpp
  planning/behavior_velocity_planner/include/scene_module/occlusion_spot/occlusion_spot_utils.hpp
  planning/behavior_velocity_planner/src/scene_module/blind_spot/debug.cpp
  planning/behavior_velocity_planner/src/scene_module/blind_spot/scene.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/debug.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_intersection.cpp
  planning/behavior_velocity_planner/src/scene_module/occlusion_spot/debug.cpp
  planning/behavior_velocity_planner/src/scene_module/occlusion_spot/scene_occlusion_spot.cpp
Labels: planning

#2464 docs: update training data for traffic light
  perception/traffic_light_classifier/README.md
Labels: documentation, perception

#2465 feat(motion_utils): add points resample function
  common/motion_utils/include/motion_utils/resample/resample.hpp
  common/motion_utils/src/resample/resample.cpp
Labels: common

#2405 feat: remove web controller
  common/web_controller/CMakeLists.txt
  common/web_controller/README.md
  common/web_controller/images/web_controller.png
  common/web_controller/launch/web_controller.launch.xml
  common/web_controller/package.xml
  common/web_controller/www/web_controller/css/web_controller_style.css
  common/web_controller/www/web_controller/icon/autoware.ico
  common/web_controller/www/web_controller/index.html
  common/web_controller/www/web_controller/js/autoware_engage.js
  common/web_controller/www/web_controller/js/autoware_state.js
  common/web_controller/www/web_controller/js/lane_change_approval.js
  common/web_controller/www/web_controller/js/menu.js
  common/web_controller/www/web_controller/js/path_change_approval.js
  common/web_controller/www/web_controller/js/vehicle_engage.js
  common/web_controller/www/web_controller/js/velocity_limit.js
Labels: documentation, common

#2469 fix(motion_utils): rename sampling function
  common/motion_utils/include/motion_utils/resample/resample.hpp
  common/motion_utils/src/resample/resample.cpp
Labels: common

#2455 fix: rename `use_external_emergency_stop` to `check_external_emergency_heartbeat`
  control/vehicle_cmd_gate/README.md
  control/vehicle_cmd_gate/launch/vehicle_cmd_gate.launch.xml
  control/vehicle_cmd_gate/src/vehicle_cmd_gate.cpp
  control/vehicle_cmd_gate/src/vehicle_cmd_gate.hpp
  launch/tier4_control_launch/launch/control.launch.py
Labels: documentation, control, launch

#2457 fix: remove unnecessary DEBUG_INFO declarations
  localization/stop_filter/src/stop_filter.cpp
  localization/twist2accel/src/twist2accel.cpp
Labels: localization

#2423 feat(gyro_odometer): publish twist when both data arrives
  localization/gyro_odometer/CMakeLists.txt
  localization/gyro_odometer/include/gyro_odometer/gyro_odometer_core.hpp
  localization/gyro_odometer/launch/gyro_odometer.launch.xml
  localization/gyro_odometer/package.xml
  localization/gyro_odometer/src/gyro_odometer_core.cpp
Labels: localization

#2440 fix(freespace_planning_algorithms): comment out failing tests
  planning/freespace_planning_algorithms/test/src/test_freespace_planning_algorithms.cpp
Labels: planning

#1985 feat(behavior_velocity_planner): add velocity factors
  planning/behavior_velocity_planner/include/scene_module/scene_module_interface.hpp
  planning/behavior_velocity_planner/include/scene_module/velocity_factor_interface.hpp
  planning/behavior_velocity_planner/include/scene_module/virtual_traffic_light/scene.hpp
  planning/behavior_velocity_planner/package.xml
  planning/behavior_velocity_planner/src/scene_module/blind_spot/scene.cpp
  planning/behavior_velocity_planner/src/scene_module/crosswalk/scene_crosswalk.cpp
  planning/behavior_velocity_planner/src/scene_module/crosswalk/scene_walkway.cpp
  planning/behavior_velocity_planner/src/scene_module/detection_area/scene.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_intersection.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_merge_from_private_road.cpp
  planning/behavior_velocity_planner/src/scene_module/no_stopping_area/scene_no_stopping_area.cpp
  planning/behavior_velocity_planner/src/scene_module/occlusion_spot/scene_occlusion_spot.cpp
  planning/behavior_velocity_planner/src/scene_module/run_out/scene.cpp
  planning/behavior_velocity_planner/src/scene_module/stop_line/scene.cpp
  planning/behavior_velocity_planner/src/scene_module/traffic_light/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/traffic_light/scene.cpp
  planning/behavior_velocity_planner/src/scene_module/virtual_traffic_light/scene.cpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/planner_interface.hpp
  planning/obstacle_cruise_planner/package.xml
  planning/obstacle_cruise_planner/src/planner_interface.cpp
  planning/obstacle_stop_planner/include/obstacle_stop_planner/debug_marker.hpp
  planning/obstacle_stop_planner/package.xml
  planning/obstacle_stop_planner/src/debug_marker.cpp
  planning/surround_obstacle_checker/include/surround_obstacle_checker/debug_marker.hpp
  planning/surround_obstacle_checker/package.xml
  planning/surround_obstacle_checker/src/debug_marker.cpp
Labels: planning

#2476 fix(emergency_handler): fix mrm handling when mrm behavior is none
  system/emergency_handler/src/emergency_handler/emergency_handler_core.cpp
Labels: system

#2480 feat(behavior_velocity_planner): clean walkway module
  planning/behavior_velocity_planner/src/scene_module/crosswalk/scene_walkway.cpp
Labels: planning

#2482 fix(trajectory_follower): fix mpc trajectory z pos
  control/trajectory_follower/src/mpc_utils.cpp
Labels: control

#2448 fix(ground-segmentation): recheck gnd cluster pointcloud
  perception/ground_segmentation/include/ground_segmentation/scan_ground_filter_nodelet.hpp
  perception/ground_segmentation/src/scan_ground_filter_nodelet.cpp
Labels: perception

#2350 fix(freespace_planning_algorithms): fix rrtstar can't arrive goal error
  planning/freespace_planning_algorithms/src/rrtstar.cpp
Labels: high priority, planning

#2485 revert(behavior_path): revert removal of refineGoalFunction (#2340)"
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#2413 fix(behavior_path_planner): minimum distance for lane change
  planning/behavior_path_planner/config/behavior_path_planner.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/util.cpp
  planning/behavior_path_planner/src/scene_module/lane_following/lane_following_module.cpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#2426 fix(behavior_path_planner): lane change candidate resolution
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/util.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/util.cpp
Labels: planning

#2483 chore(simulator_compatibility_test): suppress setuptools warnings
  tools/simulator_test/simulator_compatibility_test/setup.py
Labels: tools

#2475 docs(tier4_state_rviz_plugin): update readme
  common/tier4_state_rviz_plugin/README.md
  common/tier4_state_rviz_plugin/images/select_auto.png
  common/tier4_state_rviz_plugin/images/select_engage.png
Labels: documentation, common

#2441 feat(trajectory_follower): pub steer converged marker
  control/trajectory_follower/src/mpc_lateral_controller.cpp
  control/trajectory_follower_nodes/include/trajectory_follower_nodes/controller_node.hpp
  control/trajectory_follower_nodes/src/controller_node.cpp
Labels: control

#2430 feat: replace python launch with xml launch for system monitor
  launch/tier4_system_launch/launch/system.launch.xml
  launch/tier4_system_launch/system_launch.drawio.svg
  system/system_monitor/launch/system_monitor.launch.py
  system/system_monitor/launch/system_monitor.launch.xml
Labels: documentation, system, launch

#2403 refactor(vehicle_cmd_gate): remove old emergency topics
  control/vehicle_cmd_gate/README.md
  control/vehicle_cmd_gate/launch/vehicle_cmd_gate.launch.xml
  control/vehicle_cmd_gate/src/vehicle_cmd_gate.hpp
  launch/tier4_control_launch/launch/control.launch.py
Labels: documentation, control, launch

#2472 feat(behavior_path_planner, obstacle_avoidance_planner): add new drivable area
  common/motion_utils/src/resample/resample.cpp
  common/tier4_planning_rviz_plugin/src/drivable_area/display.cpp
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/include/behavior_path_planner/data_manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/path_utilities.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_utils.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_following/lane_following_module.cpp
  planning/behavior_path_planner/src/scene_module/pull_out/pull_out_module.cpp
  planning/behavior_path_planner/src/scene_module/pull_out/shift_pull_out.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/pull_over_module.cpp
  planning/behavior_path_planner/src/scene_module/side_shift/side_shift_module.cpp
  planning/behavior_path_planner/src/utilities.cpp
  planning/behavior_velocity_planner/src/node.cpp
  planning/behavior_velocity_planner/src/scene_module/run_out/utils.cpp
  planning/obstacle_avoidance_planner/CMakeLists.txt
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/common_structs.hpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/costmap_generator.hpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/mpt_optimizer.hpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/node.hpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/utils/cv_utils.hpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/utils/debug_utils.hpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/utils/utils.hpp
  planning/obstacle_avoidance_planner/src/costmap_generator.cpp
  planning/obstacle_avoidance_planner/src/mpt_optimizer.cpp
  planning/obstacle_avoidance_planner/src/node.cpp
  planning/obstacle_avoidance_planner/src/utils/cv_utils.cpp
  planning/obstacle_avoidance_planner/src/utils/debug_utils.cpp
  planning/obstacle_avoidance_planner/src/utils/utils.cpp
  planning/route_handler/src/route_handler.cpp
  planning/static_centerline_optimizer/include/static_centerline_optimizer/collision_free_optimizer_node.hpp
  planning/static_centerline_optimizer/src/collision_free_optimizer_node.cpp
  planning/static_centerline_optimizer/src/static_centerline_optimizer_node.cpp
  planning/static_centerline_optimizer/src/utils.cpp
Labels: planning, launch, common

#2491 docs(default_ad_api): add readme
  system/default_ad_api/README.md
  system/default_ad_api/document/autoware-state.md
  system/default_ad_api/document/fail-safe.md
  system/default_ad_api/document/images/autoware-state-architecture.drawio.svg
  system/default_ad_api/document/images/autoware-state-table.drawio.svg
  system/default_ad_api/document/images/localization.drawio.svg
  system/default_ad_api/document/images/motion-architecture.drawio.svg
  system/default_ad_api/document/images/motion-state.drawio.svg
  system/default_ad_api/document/images/operation-mode-architecture.drawio.svg
  system/default_ad_api/document/images/operation-mode-state.drawio.svg
  system/default_ad_api/document/images/operation-mode-table.drawio.svg
  system/default_ad_api/document/images/routing.drawio.svg
  system/default_ad_api/document/interface.md
  system/default_ad_api/document/localization.md
  system/default_ad_api/document/motion.md
  system/default_ad_api/document/operation-mode.md
  system/default_ad_api/document/routing.md
Labels: documentation, system

#2417 feat(map_loader): add differential map loading interface
  launch/tier4_map_launch/config/pointcloud_map_loader.param.yaml
  map/map_loader/CMakeLists.txt
  map/map_loader/README.md
  map/map_loader/config/pointcloud_map_loader.param.yaml
  map/map_loader/src/pointcloud_map_loader/differential_map_loader_module.cpp
  map/map_loader/src/pointcloud_map_loader/differential_map_loader_module.hpp
  map/map_loader/src/pointcloud_map_loader/pointcloud_map_loader_node.cpp
  map/map_loader/src/pointcloud_map_loader/pointcloud_map_loader_node.hpp
Labels: documentation, map, launch

#2493 feat(behavior_path_planner): change turn signal output timing
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
Labels: planning

#2494 feat(behavior_path_planner): remove unnecessary code and clean turn signal decider
  planning/behavior_path_planner/include/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#2088 feat(mission_planner): check goal footprint
  planning/mission_planner/README.md
  planning/mission_planner/launch/mission_planner.launch.xml
  planning/mission_planner/media/goal_footprints.svg
  planning/mission_planner/package.xml
  planning/mission_planner/src/lanelet2_plugins/default_planner.cpp
  planning/mission_planner/src/lanelet2_plugins/default_planner.hpp
  planning/mission_planner/src/lanelet2_plugins/utility_functions.cpp
  planning/mission_planner/src/lanelet2_plugins/utility_functions.hpp
Labels: documentation, high priority, planning

#2498 feat(behavior_path_planner): fix overlap checker
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#2499 fix(behavior_path_planner): fix find nearest function from lateral distance
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#2502 refactor(simple_planning_simulator): make function for duplicated code
  simulator/simple_planning_simulator/src/simple_planning_simulator/vehicle_model/sim_model_delay_steer_acc_geared.cpp
  simulator/simple_planning_simulator/src/simple_planning_simulator/vehicle_model/sim_model_ideal_steer_acc_geared.cpp
Labels: simulator

#2508 fix(behavior_path_planner): fix goal lanelet extension
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#2447 feat(trajectory_follower): extend mpc trajectory for terminal yaw
  control/trajectory_follower/design/mpc_lateral_controller-design.md
  control/trajectory_follower/include/trajectory_follower/mpc.hpp
  control/trajectory_follower/include/trajectory_follower/mpc_lateral_controller.hpp
  control/trajectory_follower/include/trajectory_follower/mpc_utils.hpp
  control/trajectory_follower/src/mpc.cpp
  control/trajectory_follower/src/mpc_lateral_controller.cpp
  control/trajectory_follower/src/mpc_utils.cpp
  control/trajectory_follower/test/test_mpc.cpp
  control/trajectory_follower_nodes/param/lateral_controller_defaults.param.yaml
  launch/tier4_control_launch/config/trajectory_follower/lateral_controller.param.yaml
Labels: documentation, control, launch

#2500 feat(pose_initializer): partial map loading
  localization/pose_initializer/config/pose_initializer.param.yaml
  localization/pose_initializer/docs/map_height_fitter.md
  localization/pose_initializer/launch/pose_initializer.launch.xml
  localization/pose_initializer/package.xml
  localization/pose_initializer/src/map_height_fitter/map_height_fitter_core.cpp
  localization/pose_initializer/src/map_height_fitter/map_height_fitter_core.hpp
  localization/pose_initializer/src/map_height_fitter/map_height_fitter_node.cpp
Labels: documentation, localization

#2511 refactor(multi_object_tracker): clean up noisy tf warning message on terminal
  perception/multi_object_tracker/src/multi_object_tracker_core.cpp
Labels: perception

#2507 feat(obstacle_cruies_planner): improve pid_based cruise planner
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/obstacle_cruise_planner.param.yaml
  planning/obstacle_cruise_planner/README.md
  planning/obstacle_cruise_planner/config/plot_juggler_obstacle_velocity_planner.xml
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/common_structs.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/node.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/pid_based_planner/cruise_planning_debug_info.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/pid_based_planner/pid_based_planner.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/planner_interface.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/stop_planning_debug_info.hpp
  planning/obstacle_cruise_planner/src/node.cpp
  planning/obstacle_cruise_planner/src/pid_based_planner/pid_based_planner.cpp
  planning/obstacle_cruise_planner/src/planner_interface.cpp
Labels: documentation, planning, launch

#2516 feat(behavior_path_planner): remove unnecessary parameters
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/behavior_path_planner.param.yaml
  planning/behavior_path_planner/config/behavior_path_planner.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/parameters.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/static_centerline_optimizer/src/utils.cpp
Labels: planning, launch

#2518 feat(obstacle_cruise_planner): update plot config
  planning/obstacle_cruise_planner/config/plot_juggler_obstacle_cruise_planner.xml
  planning/obstacle_cruise_planner/config/plot_juggler_obstacle_velocity_planner.xml
Labels: planning

#2520 chore(tier4_autoware_utils): add maintainers
  common/tier4_autoware_utils/package.xml
Labels: common

#2486 feat(behavior_path_planner): output multiple candidate paths
  planning/behavior_path_planner/include/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/include/behavior_path_planner/behavior_tree_manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_interface.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/behavior_tree_manager.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/pull_out/pull_out_module.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/pull_over_module.cpp
  planning/behavior_path_planner/src/scene_module/scene_module_bt_node_interface.cpp
  planning/behavior_path_planner/src/scene_module/side_shift/side_shift_module.cpp
Labels: planning

#2519 feat(tier4_autoware_utils): add toHexString
  common/tier4_autoware_utils/include/tier4_autoware_utils/ros/uuid_helper.hpp
  common/tier4_autoware_utils/include/tier4_autoware_utils/tier4_autoware_utils.hpp
  common/tier4_autoware_utils/package.xml
  perception/map_based_prediction/src/map_based_prediction_node.cpp
  planning/behavior_velocity_planner/src/scene_module/crosswalk/scene_crosswalk.cpp
Labels: perception, planning, common

#2525 fix(map_based_prediction): return non-empty predicted path
  perception/map_based_prediction/include/map_based_prediction/map_based_prediction_node.hpp
  perception/map_based_prediction/src/map_based_prediction_node.cpp
  perception/map_based_prediction/src/path_generator.cpp
Labels: perception

#2490 fix: rename `use_external_emergency_stop` to `check_external_emergency_heartbeat` (#2455)
  control/vehicle_cmd_gate/README.md
  control/vehicle_cmd_gate/launch/vehicle_cmd_gate.launch.xml
  control/vehicle_cmd_gate/src/vehicle_cmd_gate.cpp
  control/vehicle_cmd_gate/src/vehicle_cmd_gate.hpp
  launch/tier4_control_launch/launch/control.launch.py
Labels: documentation, control, launch

#2527 feat(map_based_prediction): add maintainers
  perception/map_based_prediction/package.xml
Labels: perception

#2523 feat(operation_mode_transition_manager): add parameter about nearest search
  control/operation_mode_transition_manager/config/operation_mode_transition_manager.param.yaml
  control/operation_mode_transition_manager/src/state.cpp
  control/operation_mode_transition_manager/src/state.hpp
Labels: control

#2478 feat(behavior_path_planner): keep original points in resampling of pull over
  planning/behavior_path_planner/include/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/include/behavior_path_planner/path_utilities.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/path_utilities.cpp
Labels: planning

#2512 feat(behavior_path_planner): enable generating backward drivable area
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#2532 feat(behavior_path_planner): add a new document for the drivable area generation
  planning/behavior_path_planner/README.md
  planning/behavior_path_planner/behavior_path_planner_avoidance-design.md
  planning/behavior_path_planner/behavior_path_planner_drivable_area.md
  planning/behavior_path_planner/image/drivable_area/drivable_lines.drawio.svg
  planning/behavior_path_planner/image/drivable_area/expanded_lanes.drawio.svg
  planning/behavior_path_planner/image/drivable_area/sorted_lanes.drawio.svg
Labels: documentation, planning, deploy-docs

#2325 fix(tensorrt): update tensorrt code of traffic_light_classifier
  perception/traffic_light_classifier/utils/trt_common.cpp
  perception/traffic_light_classifier/utils/trt_common.hpp
Labels: perception, humble

#2529 fix(intersection): always set RTC distance to default stop line
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_intersection.cpp
Labels: planning

#2463 fix(intersection): fixed stuck vehicle detection area
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/intersection.param.yaml
  planning/behavior_velocity_planner/config/intersection.param.yaml
  planning/behavior_velocity_planner/include/scene_module/intersection/scene_intersection.hpp
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_intersection.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/util.cpp
Labels: planning, launch

#2536 fix(behavior_path_planner): candidate path header
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
Labels: planning

#2542 fix(tier4_control_launch): add parameter about nearest search
  launch/tier4_control_launch/config/operation_mode_transition_manager/operation_mode_transition_manager.param.yaml
Labels: launch

#2535 feat(behavior_path_planner): rename drivable area name
  planning/behavior_path_planner/behavior_path_planner_avoidance-design.md
  planning/behavior_path_planner/behavior_path_planner_drivable_area.md
  planning/behavior_path_planner/config/behavior_path_planner.param.yaml
  planning/behavior_path_planner/image/drivable_area/drivable_area_boundary_marker_example1.png
  planning/behavior_path_planner/image/drivable_area/drivable_area_boundary_marker_example2.png
  planning/behavior_path_planner/include/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/include/behavior_path_planner/parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: documentation, planning

#2526 refactor(obstacle_cruise_planner): clean up the code
  planning/obstacle_cruise_planner/README.md
  planning/obstacle_cruise_planner/config/obstacle_cruise_planner.param.yaml
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/common_structs.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/node.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/optimization_based_planner/optimization_based_planner.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/pid_based_planner/debug_values.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/pid_based_planner/pid_based_planner.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/planner_interface.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/polygon_utils.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/type_alias.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/utils.hpp
  planning/obstacle_cruise_planner/src/node.cpp
  planning/obstacle_cruise_planner/src/optimization_based_planner/optimization_based_planner.cpp
  planning/obstacle_cruise_planner/src/pid_based_planner/pid_based_planner.cpp
  planning/obstacle_cruise_planner/src/planner_interface.cpp
  planning/obstacle_cruise_planner/src/polygon_utils.cpp
  planning/obstacle_cruise_planner/src/utils.cpp
Labels: documentation, planning

#2549 chore(lidar_centerpoint): update maintainer
  perception/lidar_centerpoint/package.xml
Labels: perception

#2550 fix(trajectory_follower_node): remove unused include line
  control/trajectory_follower_nodes/include/trajectory_follower_nodes/controller_node.hpp
Labels: control

#2552 fix(component_state_monitor): fix lanelet route package
  system/component_state_monitor/config/topics.yaml
Labels: system

#2540 feat(tier4_system_launch): remove configs and move to autoware_launch
  launch/tier4_system_launch/CMakeLists.txt
  launch/tier4_system_launch/README.md
  launch/tier4_system_launch/config/component_state_monitor/topics.yaml
  launch/tier4_system_launch/config/emergency_handler/emergency_handler.param.yaml
  launch/tier4_system_launch/config/mrm_comfortable_stop_operator/mrm_comfortable_stop_operator.param.yaml
  launch/tier4_system_launch/config/mrm_emergency_stop_operator/mrm_emergency_stop_operator.param.yaml
  launch/tier4_system_launch/config/system_error_monitor/diagnostic_aggregator/vehicle.param.yaml
  launch/tier4_system_launch/config/system_error_monitor/system_error_monitor.param.yaml
  launch/tier4_system_launch/config/system_error_monitor/system_error_monitor.planning_simulation.param.yaml
  launch/tier4_system_launch/config/system_monitor/cpu_monitor.param.yaml
  launch/tier4_system_launch/config/system_monitor/gpu_monitor.param.yaml
  launch/tier4_system_launch/config/system_monitor/hdd_monitor.param.yaml
  launch/tier4_system_launch/config/system_monitor/mem_monitor.param.yaml
  launch/tier4_system_launch/config/system_monitor/net_monitor.param.yaml
  launch/tier4_system_launch/config/system_monitor/ntp_monitor.param.yaml
  launch/tier4_system_launch/config/system_monitor/process_monitor.param.yaml
  launch/tier4_system_launch/config/system_monitor/voltage_monitor.param.yaml
  launch/tier4_system_launch/launch/system.launch.xml
Labels: documentation, launch

#2543 feat(tier4_planning_launch): remove configs and move to autoware_launch
  launch/tier4_planning_launch/CMakeLists.txt
  launch/tier4_planning_launch/README.md
  launch/tier4_planning_launch/config/scenario_planning/common/common.param.yaml
  launch/tier4_planning_launch/config/scenario_planning/common/motion_velocity_smoother/Analytical.param.yaml
  launch/tier4_planning_launch/config/scenario_planning/common/motion_velocity_smoother/JerkFiltered.param.yaml
  launch/tier4_planning_launch/config/scenario_planning/common/motion_velocity_smoother/L2.param.yaml
  launch/tier4_planning_launch/config/scenario_planning/common/motion_velocity_smoother/Linf.param.yaml
  launch/tier4_planning_launch/config/scenario_planning/common/motion_velocity_smoother/motion_velocity_smoother.param.yaml
  launch/tier4_planning_launch/config/scenario_planning/common/nearest_search.param.yaml
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/avoidance/avoidance.param.yaml
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/behavior_path_planner.param.yaml
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/drivable_area_expansion.param.yaml
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/lane_change/lane_change.param.yaml
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/lane_following/lane_following.param.yaml
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/pull_out/pull_out.param.yaml
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/pull_over/pull_over.param.yaml
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/side_shift/side_shift.param.yaml
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/behavior_velocity_planner.param.yaml
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/blind_spot.param.yaml
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/crosswalk.param.yaml
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/detection_area.param.yaml
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/no_stopping_area.param.yaml
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/occlusion_spot.param.yaml
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/run_out.param.yaml
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/stop_line.param.yaml
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/traffic_light.param.yaml
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/virtual_traffic_light.param.yaml
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/behavior_planning/lane_change_planner/lane_change_planner.param.yaml
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/behavior_planning/rtc_auto_mode_manager/rtc_auto_mode_manager.param.yaml
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/motion_planning/obstacle_avoidance_planner/obstacle_avoidance_planner.param.yaml
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/obstacle_cruise_planner.param.yaml
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/motion_planning/obstacle_stop_planner/adaptive_cruise_control.param.yaml
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/motion_planning/obstacle_stop_planner/obstacle_stop_planner.param.yaml
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/motion_planning/obstacle_velocity_limiter/obstacle_velocity_limiter.param.yaml
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/motion_planning/surround_obstacle_checker/surround_obstacle_checker.param.yaml
  launch/tier4_planning_launch/config/scenario_planning/parking/freespace_planner/freespace_planner.param.yaml
  launch/tier4_planning_launch/launch/planning.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.py
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/motion_planning/motion_planning.launch.py
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/motion_planning/motion_planning.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/parking.launch.py
  launch/tier4_planning_launch/launch/scenario_planning/parking.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/scenario_planning.launch.xml
Labels: documentation, launch

#2539 feat(tier4_perception_launch): remove configs and move to autoware_launch
  launch/tier4_perception_launch/CMakeLists.txt
  launch/tier4_perception_launch/README.md
  launch/tier4_perception_launch/config/object_recognition/detection/object_lanelet_filter.param.yaml
  launch/tier4_perception_launch/config/object_recognition/detection/object_position_filter.param.yaml
  launch/tier4_perception_launch/config/object_recognition/detection/pointcloud_map_filter.param.yaml
  launch/tier4_perception_launch/config/object_recognition/tracking/multi_object_tracker/data_association_matrix.param.yaml
  launch/tier4_perception_launch/config/obstacle_segmentation/ground_segmentation/elevation_map_parameters.yaml
  launch/tier4_perception_launch/config/obstacle_segmentation/ground_segmentation/ground_segmentation.param.yaml
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/lidar_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/pointcloud_map_filter.launch.py
  launch/tier4_perception_launch/launch/object_recognition/tracking/tracking.launch.xml
  launch/tier4_perception_launch/launch/obstacle_segmentation/ground_segmentation/ground_segmentation.launch.py
  launch/tier4_perception_launch/launch/perception.launch.xml
Labels: documentation, launch

#2537 feat(tier4_localization_launch): remove configs and move to autoware_launch
  launch/tier4_localization_launch/CMakeLists.txt
  launch/tier4_localization_launch/README.md
  launch/tier4_localization_launch/config/crop_box_filter_measurement_range.param.yaml
  launch/tier4_localization_launch/config/localization_error_monitor.param.yaml
  launch/tier4_localization_launch/config/ndt_scan_matcher.param.yaml
  launch/tier4_localization_launch/config/random_downsample_filter.param.yaml
  launch/tier4_localization_launch/config/voxel_grid_filter.param.yaml
  launch/tier4_localization_launch/launch/localization.launch.xml
  launch/tier4_localization_launch/launch/localization_error_monitor/localization_error_monitor.launch.xml
  launch/tier4_localization_launch/launch/pose_estimator/pose_estimator.launch.xml
  launch/tier4_localization_launch/launch/util/util.launch.py
  launch/tier4_localization_launch/launch/util/util.launch.xml
Labels: documentation, launch

#2538 feat(tier4_map_launch): remove configs and move to autoware_launch
  launch/tier4_map_launch/CMakeLists.txt
  launch/tier4_map_launch/README.md
  launch/tier4_map_launch/config/pointcloud_map_loader.param.yaml
  launch/tier4_map_launch/launch/map.launch.py
  launch/tier4_map_launch/launch/map.launch.xml
Labels: documentation, launch

#2544 feat(tier4_control_launch): remove configs and move to autoware_launch
  launch/tier4_control_launch/CMakeLists.txt
  launch/tier4_control_launch/README.md
  launch/tier4_control_launch/config/common/nearest_search.param.yaml
  launch/tier4_control_launch/config/obstacle_collision_checker/obstacle_collision_checker.param.yaml
  launch/tier4_control_launch/config/operation_mode_transition_manager/operation_mode_transition_manager.param.yaml
  launch/tier4_control_launch/config/shift_decider/shift_decider.param.yaml
  launch/tier4_control_launch/config/trajectory_follower/lateral_controller.param.yaml
  launch/tier4_control_launch/config/trajectory_follower/longitudinal_controller.param.yaml
  launch/tier4_control_launch/config/vehicle_cmd_gate/vehicle_cmd_gate.param.yaml
  launch/tier4_control_launch/launch/control.launch.py
Labels: documentation, launch

#2541 feat(tier4_simulator_launch): remove configs and move to autoware_launch
  launch/tier4_simulator_launch/CMakeLists.txt
  launch/tier4_simulator_launch/config/fault_injection.param.yaml
  launch/tier4_simulator_launch/launch/simulator.launch.xml
Labels: launch

#2474 fix(system_monitor): prevent nethogs from monitoring all networks due to high CPU load
  system/system_monitor/CMakeLists.txt
  system/system_monitor/README.md
  system/system_monitor/config/net_monitor.param.yaml
  system/system_monitor/docs/ros_parameters.md
  system/system_monitor/docs/topics_net_monitor.md
  system/system_monitor/include/system_monitor/net_monitor/net_monitor.hpp
  system/system_monitor/include/traffic_reader/traffic_reader_common.hpp
  system/system_monitor/include/traffic_reader/traffic_reader_service.hpp
  system/system_monitor/reader/traffic_reader/traffic_reader.cpp
  system/system_monitor/reader/traffic_reader/traffic_reader_main.cpp
  system/system_monitor/reader/traffic_reader/traffic_reader_service.cpp
  system/system_monitor/src/net_monitor/net_monitor.cpp
Labels: bug, documentation, enhancement, system

#2546 fix(mission_planner): combined lanelet calculation
  planning/mission_planner/src/lanelet2_plugins/utility_functions.cpp
Labels: high priority, planning

#2560 fix(system_monitor): change default param path
  system/system_monitor/launch/system_monitor.launch.xml
Labels: enhancement, system

#2561 revert(tier4_map_launch): move config back to autoware.universe
  launch/tier4_map_launch/CMakeLists.txt
  launch/tier4_map_launch/config/pointcloud_map_loader.param.yaml
  launch/tier4_map_launch/launch/map.launch.py
  launch/tier4_map_launch/launch/map.launch.xml
Labels: launch

#2533 refactor(avoidance): generate shift line before the plan() function
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#2548 fix(mission_planner): set goal in shoulder lane
  planning/mission_planner/src/lanelet2_plugins/default_planner.cpp
Labels: planning

#2335 feat(behavior_path_planner): plan shift pull over/out on curve
  common/motion_utils/include/motion_utils/trajectory/trajectory.hpp
  planning/behavior_path_planner/README.md
  planning/behavior_path_planner/config/pull_out/pull_out.param.yaml
  planning/behavior_path_planner/config/pull_over/pull_over.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_out/pull_out_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_out/pull_out_parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_out/shift_pull_out.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/goal_searcher.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/goal_searcher_base.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/pull_over_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/pull_over_parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/pull_over_planner_base.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/shift_pull_over.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/util.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/pull_out/pull_out_module.cpp
  planning/behavior_path_planner/src/scene_module/pull_out/shift_pull_out.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/goal_searcher.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/pull_over_module.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/shift_pull_over.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/util.cpp
  planning/behavior_path_planner/src/scene_module/utils/geometric_parallel_parking.cpp
  planning/behavior_path_planner/src/utilities.cpp
  planning/planning_debug_tools/include/planning_debug_tools/trajectory_analyzer.hpp
  planning/planning_debug_tools/include/planning_debug_tools/util.hpp
Labels: documentation, planning, common

#2522 feat(tier4_perception_launch): change the merge priority of roi_cluster_fusion to the lowest
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_fusion_based_detection.launch.xml
Labels: launch

#2554 fix(tier4_planning_launch): remove unintended config file
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/intersection.param.yaml
Labels: launch

#2564 chore(motion_utils): add code owners
  common/motion_utils/package.xml
Labels: common

#2492 feat(behavior_path_planner): pull over no stopping area
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/goal_searcher.hpp
  planning/behavior_path_planner/src/scene_module/pull_over/goal_searcher.cpp
Labels: planning

#2509 fix(accel brake map calibrator): correction of forgotten support for util files change
  vehicle/accel_brake_map_calibrator/accel_brake_map_calibrator/launch/accel_brake_map_calibrator.launch.xml
  vehicle/accel_brake_map_calibrator/accel_brake_map_calibrator/scripts/new_accel_brake_map_server.py
Labels: vehicle

#2553 chore(lidar_centerpoint): updated centerpoint models and documentation
  perception/lidar_centerpoint/CMakeLists.txt
  perception/lidar_centerpoint/README.md
Labels: documentation, perception

#2510 feat(behavior_path_planner): change planner data update method
  planning/behavior_path_planner/include/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
Labels: planning

#2559 fix(tensor-rt): allow deprecated declarations for some tensorrt packages
  common/tensorrt_common/CMakeLists.txt
  perception/lidar_centerpoint/CMakeLists.txt
  perception/tensorrt_yolo/CMakeLists.txt
  perception/traffic_light_ssd_fine_detector/CMakeLists.txt
Labels: perception, common

#2565 fix(intersection): additional fix for #2463
  planning/behavior_velocity_planner/package.xml
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_intersection.cpp
Labels: planning

#2467 refactor(tvm_utility): redefine network node and inference config
  common/tvm_utility/include/tvm_utility/pipeline.hpp
  common/tvm_utility/test/yolo_v2_tiny/main.cpp
  common/tvm_utility/tvm_utility-extras.cmake
  perception/lidar_apollo_segmentation_tvm/include/lidar_apollo_segmentation_tvm/lidar_apollo_segmentation_tvm.hpp
  perception/lidar_apollo_segmentation_tvm/src/lidar_apollo_segmentation_tvm.cpp
Labels: perception, common

#2562 fix(gyro_odometer): fix output frame
  localization/gyro_odometer/src/gyro_odometer_core.cpp
Labels: localization

#2531 feat(behavior_velocity_planner): change planner data update
  planning/behavior_velocity_planner/include/behavior_velocity_planner/node.hpp
  planning/behavior_velocity_planner/src/node.cpp
Labels: planning

#2466 docs(accel_brake_map_calibrator): add calibration_method description
  vehicle/accel_brake_map_calibrator/accel_brake_map_calibrator/README.md
  vehicle/accel_brake_map_calibrator/accel_brake_map_calibrator/media/fourcell_RLS.png
Labels: documentation, vehicle

#2572 fix(behavior_path_planner): pull over emergency stop velocity
  planning/behavior_path_planner/src/scene_module/pull_over/pull_over_module.cpp
Labels: planning

#2576 fix(localization_error_monitor): fix CMakeLists.txt
  localization/localization_error_monitor/CMakeLists.txt
Labels: localization

#2573 refactor(oepration__mode_transition_manager): improve visibility for debug topic
  control/operation_mode_transition_manager/src/state.cpp
  control/operation_mode_transition_manager/src/util.hpp
Labels: control

#2577 fix(behavior_path_planner): return node status in each scene modules
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_out/pull_out_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/pull_over_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_interface.hpp
  planning/behavior_path_planner/src/scene_module/scene_module_bt_node_interface.cpp
Labels: planning

#2575 fix(behavior_path_planner): lane change check default parameters
  planning/behavior_path_planner/src/scene_module/lane_change/util.cpp
Labels: planning

#2428 feat(lane_change): update path generation logic to consider lateral jerk and lateral acceleration
  planning/behavior_path_planner/README.md
  planning/behavior_path_planner/behavior_path_planner_path_generation.md
  planning/behavior_path_planner/config/behavior_path_planner.param.yaml
  planning/behavior_path_planner/config/lane_change/lane_change.param.yaml
  planning/behavior_path_planner/image/path_shifter.png
  planning/behavior_path_planner/image/path_shifter_old.png
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/util.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/utils/path_shifter.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/util.cpp
  planning/behavior_path_planner/src/scene_module/utils/path_shifter.cpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: documentation, planning

#2534 feat(avoidance): implement avoidance path safety check logic
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/debug.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_utils.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/debug.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/util.cpp
  planning/behavior_path_planner/src/scene_module/pull_out/geometric_pull_out.cpp
  planning/behavior_path_planner/src/scene_module/pull_out/shift_pull_out.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/goal_searcher.cpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#2432 refactor(trajectory_follower_nodes): refactor the controller framework
  control/pure_pursuit/include/pure_pursuit/pure_pursuit_lateral_controller.hpp
  control/pure_pursuit/src/pure_pursuit/pure_pursuit_lateral_controller.cpp
  control/trajectory_follower/include/trajectory_follower/input_data.hpp
  control/trajectory_follower/include/trajectory_follower/lateral_controller_base.hpp
  control/trajectory_follower/include/trajectory_follower/longitudinal_controller_base.hpp
  control/trajectory_follower/include/trajectory_follower/mpc_lateral_controller.hpp
  control/trajectory_follower/include/trajectory_follower/pid_longitudinal_controller.hpp
  control/trajectory_follower/include/trajectory_follower/sync_data.hpp
  control/trajectory_follower/src/mpc_lateral_controller.cpp
  control/trajectory_follower/src/pid_longitudinal_controller.cpp
  control/trajectory_follower_nodes/include/trajectory_follower_nodes/controller_node.hpp
  control/trajectory_follower_nodes/src/controller_node.cpp
  control/trajectory_follower_nodes/test/test_controller_node.cpp
Labels: control

#2566 fix(mission_planner): fix initialize function
  planning/mission_planner/src/lanelet2_plugins/default_planner.cpp
  planning/mission_planner/src/lanelet2_plugins/default_planner.hpp
Labels: planning

#2570 fix(behavior_velocity_planner): fix blind spot over-detection
  perception/map_based_prediction/src/path_generator.cpp
  planning/behavior_velocity_planner/config/blind_spot.param.yaml
  planning/behavior_velocity_planner/include/scene_module/blind_spot/scene.hpp
  planning/behavior_velocity_planner/src/scene_module/blind_spot/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/blind_spot/scene.cpp
Labels: perception, planning

#2563 chore(behavior_path_planner): make the line of drivable are bound bolder
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
Labels: planning

#2557 fix(obstacle_avoidance_planner): add guard for empty points array to prevent dying
  planning/obstacle_avoidance_planner/src/eb_path_optimizer.cpp
Labels: planning

#2579 fix(obstacle_avoidance_planner): add guard for too large yaw deviation
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/common_structs.hpp
  planning/obstacle_avoidance_planner/src/mpt_optimizer.cpp
Labels: planning

#2583 refactor(pure_pursuit): minor refactoring for trajectory_follower_node
  control/pure_pursuit/include/pure_pursuit/pure_pursuit_lateral_controller.hpp
  control/pure_pursuit/src/pure_pursuit/pure_pursuit_lateral_controller.cpp
Labels: control

#2481 feat(default_ad_api): add planning api
  common/autoware_ad_api_specs/include/autoware_ad_api_specs/planning.hpp
  common/component_interface_specs/include/component_interface_specs/localization.hpp
  common/component_interface_specs/include/component_interface_specs/planning.hpp
  system/default_ad_api/CMakeLists.txt
  system/default_ad_api/launch/default_ad_api.launch.py
  system/default_ad_api/src/planning.cpp
  system/default_ad_api/src/planning.hpp
  system/default_ad_api_helpers/ad_api_visualizers/ad_api_visualizers/__init__.py
  system/default_ad_api_helpers/ad_api_visualizers/ad_api_visualizers/planning_factors.py
  system/default_ad_api_helpers/ad_api_visualizers/launch/ad_api_visualizers.launch.xml
  system/default_ad_api_helpers/ad_api_visualizers/package.xml
  system/default_ad_api_helpers/ad_api_visualizers/resource/ad_api_visualizers
  system/default_ad_api_helpers/ad_api_visualizers/setup.cfg
  system/default_ad_api_helpers/ad_api_visualizers/setup.py
  system/default_ad_api_helpers/ad_api_visualizers/test/test_copyright.py
  system/default_ad_api_helpers/ad_api_visualizers/test/test_pep257.py
Labels: system, common

#2588 feat(external_velocity_limit_selector): add code owners
  planning/external_velocity_limit_selector/package.xml
Labels: planning

#2581 fix(external_velocity_limit_selector): increase history depth external velocity limit selector
  planning/external_velocity_limit_selector/include/external_velocity_limit_selector/external_velocity_limit_selector_node.hpp
  planning/external_velocity_limit_selector/launch/external_velocity_limit_selector.launch.xml
  planning/external_velocity_limit_selector/package.xml
  planning/external_velocity_limit_selector/src/external_velocity_limit_selector_node.cpp
Labels: planning

#2582 fix(intersection): fix logger level
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_intersection.cpp
Labels: planning

#2584 fix(crosswalk): fix base path for stop point caluculation
  planning/behavior_velocity_planner/src/scene_module/crosswalk/scene_crosswalk.cpp
Labels: planning

#2578 feat(behavior_path_planner): generate pull over path candidates in advance
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/goal_searcher.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/goal_searcher_base.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/pull_over_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/pull_over_planner_base.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/shift_pull_over.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/utils/geometric_parallel_parking.hpp
  planning/behavior_path_planner/src/scene_module/pull_over/geometric_pull_over.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/goal_searcher.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/pull_over_module.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/shift_pull_over.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/util.cpp
  planning/behavior_path_planner/src/scene_module/utils/geometric_parallel_parking.cpp
Labels: planning

#2595 fix(simple_planning_simulator): fix ideal steer acc calc
  simulator/simple_planning_simulator/src/simple_planning_simulator/vehicle_model/sim_model_ideal_steer_acc_geared.cpp
Labels: simulator

#2592 fix(behavior_path_planner): reduce path shifter log
  planning/behavior_path_planner/src/scene_module/utils/path_shifter.cpp
Labels: planning

#2589 test(static_centerline_optimizer): add launch_testing-based test
  planning/static_centerline_optimizer/CMakeLists.txt
  planning/static_centerline_optimizer/config/common.param.yaml
  planning/static_centerline_optimizer/config/nearest_search.param.yaml
  planning/static_centerline_optimizer/config/vehicle_info.param.yaml
  planning/static_centerline_optimizer/package.xml
  planning/static_centerline_optimizer/rviz/static_centerline_optimizer.rviz
  planning/static_centerline_optimizer/test/data/lanelet2_map.osm
  planning/static_centerline_optimizer/test/test_static_centerline_optimizer.test.py
Labels: planning

#2517 feat(rtc_auto_mode_manager)!: add auto mode status array
  planning/rtc_auto_mode_manager/include/rtc_auto_mode_manager/node.hpp
  planning/rtc_auto_mode_manager/include/rtc_auto_mode_manager/rtc_auto_mode_manager_interface.hpp
  planning/rtc_auto_mode_manager/src/node.cpp
  planning/rtc_auto_mode_manager/src/rtc_auto_mode_manager_interface.cpp
Labels: planning

#2596 fix(path_shifter): fix log level for nominal case
  planning/behavior_path_planner/src/scene_module/utils/path_shifter.cpp
Labels: planning

#2585 refactor(tier4_control_launch): remove parameter definition in control.launch.py
  control/external_cmd_selector/CMakeLists.txt
  control/external_cmd_selector/config/external_cmd_selector.param.yaml
  control/external_cmd_selector/launch/external_cmd_selector.launch.py
  control/external_cmd_selector/src/external_cmd_selector/external_cmd_selector_node.cpp
  control/trajectory_follower_node/CMakeLists.txt
  control/trajectory_follower_node/param/trajectory_follower_node.param.yaml
  control/trajectory_follower_node/src/controller_node.cpp
  control/trajectory_follower_node/test/test_controller_node.cpp
  control/vehicle_cmd_gate/config/vehicle_cmd_gate.param.yaml
  control/vehicle_cmd_gate/src/vehicle_cmd_gate.cpp
  launch/tier4_control_launch/launch/control.launch.py
Labels: control, launch

#2359 feat(behavior_path_planner): abort lane change function
  planning/behavior_path_planner/config/lane_change/lane_change.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/lane_change_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/lane_change_path.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/util.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/util.cpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#2601 fix(behavior_path_planner): pull over emergency stop
  planning/behavior_path_planner/src/scene_module/pull_over/pull_over_module.cpp
Labels: planning
