Repository autowarefoundation/autoware_universe, pull requests merged in 2023-07, with the labels that each got.

#4126 docs(planning_validator): add unit
  planning/planning_validator/README.md
Labels: documentation, planning

#4011 docs(mpc): add mpc document
  control/mpc_lateral_controller/image/vehicle_error_kinematics.png
  control/mpc_lateral_controller/image/vehicle_kinematics.png
  control/mpc_lateral_controller/model_predictive_control_algorithm.md
Labels: documentation, control, deploy-docs

#3618 style: fix typos in PlotJuggler config files
  control/control_performance_analysis/config/controller_monitor.xml
  control/control_performance_analysis/config/error_rqt_multiplot.xml
  control/pure_pursuit/config/pure_pursuit_lateral_controller_plotjuggler_debug.xml
  control/trajectory_follower_node/config/plot_juggler_trajectory_follower.xml
  planning/obstacle_cruise_planner/config/plot_juggler_obstacle_cruise_planner.xml
  planning/obstacle_stop_planner/config/plot_juggler_adaptive_cruise.xml
  planning/obstacle_stop_planner/config/plot_juggler_slow_down.xml
  planning/planning_validator/config/planning_validator_plotjugler_config.xml
  sensing/pointcloud_preprocessor/config/processing_time_ms.xml
Labels: sensing, planning, control

#4122 ci: add JSON Schema validation
  .github/workflows/json-schema-check.yaml
Labels: ci

#2930 feat: add vehicle status api
  common/autoware_ad_api_specs/include/autoware_ad_api_specs/vehicle.hpp
  common/component_interface_specs/include/component_interface_specs/localization.hpp
  common/component_interface_specs/include/component_interface_specs/map.hpp
  common/component_interface_specs/include/component_interface_specs/vehicle.hpp
  common/component_interface_specs/package.xml
  system/default_ad_api/CMakeLists.txt
  system/default_ad_api/launch/default_ad_api.launch.py
  system/default_ad_api/package.xml
  system/default_ad_api/src/vehicle.cpp
  system/default_ad_api/src/vehicle.hpp
Labels: system, common

#3963 fix(radar_tracks_msg_converter): fix twist conversion
  perception/radar_tracks_msgs_converter/README.md
  perception/radar_tracks_msgs_converter/include/radar_tracks_msgs_converter/radar_tracks_msgs_converter_node.hpp
  perception/radar_tracks_msgs_converter/src/radar_tracks_msgs_converter_node/radar_tracks_msgs_converter_node.cpp
Labels: documentation, perception

#4140 chore: update maintainer
  common/global_parameter_loader/package.xml
  common/tier4_api_utils/package.xml
  common/tier4_autoware_utils/package.xml
  common/tier4_debug_tools/package.xml
  control/external_cmd_selector/package.xml
  control/joy_controller/package.xml
  control/lane_departure_checker/package.xml
  control/obstacle_collision_checker/package.xml
  control/pure_pursuit/package.xml
  launch/tier4_autoware_api_launch/package.xml
  launch/tier4_system_launch/package.xml
  planning/scenario_selector/package.xml
  sensing/livox/livox_tag_filter/package.xml
  system/component_state_monitor/package.xml
  system/dummy_diag_publisher/package.xml
  system/dummy_infrastructure/package.xml
  system/emergency_handler/package.xml
  system/system_error_monitor/package.xml
  system/topic_state_monitor/package.xml
Labels: sensing, planning, control, system, launch, common

#4151 feat(start_planner): add option for lane departure
  planning/behavior_path_planner/config/start_planner/start_planner.param.yaml
  planning/behavior_path_planner/docs/behavior_path_planner_start_planner_design.md
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/start_planner_parameters.hpp
  planning/behavior_path_planner/src/scene_module/start_planner/manager.cpp
  planning/behavior_path_planner/src/utils/start_planner/shift_pull_out.cpp
Labels: documentation, planning

#4154 fix(default_ad_api): pointer check
  system/default_ad_api/src/vehicle.cpp
Labels: system

#4155 feat(shift_decider): keep parking gear command after the state transitions from arrived_goal
  control/shift_decider/src/shift_decider.cpp
Labels: control

#4159 fix(closest_velocity_checker): add planning acceleration
  planning/planning_debug_tools/scripts/closest_velocity_checker.py
Labels: planning

#4146 feat(multi_object_tracker): suppress yaw rotation oscillation problem in bicycle tracking model
  perception/multi_object_tracker/src/tracker/model/bicycle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/big_vehicle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/normal_vehicle_tracker.cpp
Labels: perception

#4168 chore(behavior_path_planner): fix typo and remove unnecessary comment
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
Labels: planning

#4166 feat(behavior_path_planner): add getExtendedCurrentLanes with length args
  planning/behavior_path_planner/include/behavior_path_planner/utils/utils.hpp
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning

#4169 fix(default_ad_api): pointer check
  system/default_ad_api/src/vehicle.cpp
Labels: system

#4158 docs: fix msg type in traffic_light_multi_camera_fusion/README.md
  perception/traffic_light_multi_camera_fusion/README.md
Labels: documentation, perception

#4165 refactor(ndt_scan_matcher): integrate ndt_align_srv into ndt_scan_matcher_core.cpp
  localization/ndt_scan_matcher/CMakeLists.txt
  localization/ndt_scan_matcher/include/ndt_scan_matcher/map_update_module.hpp
  localization/ndt_scan_matcher/include/ndt_scan_matcher/ndt_scan_matcher_core.hpp
  localization/ndt_scan_matcher/include/ndt_scan_matcher/pose_initialization_module.hpp
  localization/ndt_scan_matcher/src/map_update_module.cpp
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
  localization/ndt_scan_matcher/src/pose_initialization_module.cpp
Labels: localization

#4037 feat(radar_tracks_noise_filter): add radar_tracks_noise_filter
  sensing/radar_tracks_noise_filter/CMakeLists.txt
  sensing/radar_tracks_noise_filter/README.md
  sensing/radar_tracks_noise_filter/include/radar_tracks_noise_filter/radar_tracks_noise_filter_node.hpp
  sensing/radar_tracks_noise_filter/launch/radar_tracks_noise_filter.launch.xml
  sensing/radar_tracks_noise_filter/package.xml
  sensing/radar_tracks_noise_filter/src/radar_tracks_noise_filter_node/radar_tracks_noise_filter_node.cpp
Labels: documentation, sensing

#4093 feat(object_velocity_splitter): add object_velocity_splitter
  perception/object_velocity_splitter/CMakeLists.txt
  perception/object_velocity_splitter/README.md
  perception/object_velocity_splitter/include/object_velocity_splitter/object_velocity_splitter_node.hpp
  perception/object_velocity_splitter/launch/object_velocity_splitter.launch.xml
  perception/object_velocity_splitter/package.xml
  perception/object_velocity_splitter/src/object_velocity_splitter_node/object_velocity_splitter_node.cpp
Labels: documentation, perception

#4147 feat(roi_cluster_fusion): check whether cluster RoI is inside of RoI detected by 2D detector
  perception/image_projection_based_fusion/docs/roi-cluster-fusion.md
  perception/image_projection_based_fusion/include/image_projection_based_fusion/roi_cluster_fusion/node.hpp
  perception/image_projection_based_fusion/include/image_projection_based_fusion/utils/geometry.hpp
  perception/image_projection_based_fusion/launch/roi_cluster_fusion.launch.xml
  perception/image_projection_based_fusion/src/roi_cluster_fusion/node.cpp
  perception/image_projection_based_fusion/src/utils/geometry.cpp
Labels: documentation, perception

#4172 feat(lane_change): update lane change object filter
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
Labels: planning

#4156 docs(traffic_light_arbiter): fix the datatype of input topics
  perception/traffic_light_arbiter/README.md
Labels: documentation, perception

#4129 feat: rename traffic signal element
  perception/traffic_light_arbiter/include/traffic_light_arbiter/traffic_light_arbiter.hpp
  perception/traffic_light_arbiter/launch/traffic_light_arbiter.launch.xml
  perception/traffic_light_arbiter/src/traffic_light_arbiter.cpp
  perception/traffic_light_multi_camera_fusion/src/node.cpp
  perception/traffic_light_visualization/src/traffic_light_map_visualizer/node.cpp
Labels: perception

#4141 feat(avoidance): improve avoidance stop & decel behavior
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/docs/behavior_path_planner_avoidance_design.md
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/helper.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_shifter/path_shifter.hpp
  planning/behavior_path_planner/src/marker_util/avoidance/debug.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/manager.cpp
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
  planning/behavior_path_planner/src/utils/path_shifter/path_shifter.cpp
Labels: documentation, planning

#4150 fix(avoidance): don't output new candidate path if there is huge offset between the ego and previous output path
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/docs/behavior_path_planner_avoidance_design.md
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/manager.cpp
Labels: documentation, planning

#4128 feat(map_height_fitter): add service node
  localization/pose_initializer/src/pose_initializer/gnss_module.cpp
  map/map_height_fitter/CMakeLists.txt
  map/map_height_fitter/include/map_height_fitter/map_height_fitter.hpp
  map/map_height_fitter/launch/map_height_fitter.launch.xml
  map/map_height_fitter/package.xml
  map/map_height_fitter/src/map_height_fitter.cpp
  map/map_height_fitter/src/node.cpp
  system/default_ad_api_helpers/ad_api_adaptors/src/initial_pose_adaptor.cpp
Labels: localization, system, map

#4157 refactor(behavior_velocity_crosswalk_module): clean up the code
  common/tier4_autoware_utils/include/tier4_autoware_utils/geometry/boost_geometry.hpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
  planning/behavior_velocity_crosswalk_module/src/scene_walkway.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_walkway.hpp
  planning/behavior_velocity_crosswalk_module/src/util.cpp
  planning/behavior_velocity_crosswalk_module/src/util.hpp
Labels: planning, common

#3947 feat(behavior_velocity_intersection_module): consider NPC vehicles driving on the wrong direction lane on intersection
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_intersection_module/src/scene_merge_from_private_road.cpp
  planning/behavior_velocity_intersection_module/src/scene_merge_from_private_road.hpp
  planning/behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_intersection_module/src/util.hpp
Labels: planning

#4137 fix(dynamic_avoidance): ignore objects on LC target lane
  planning/behavior_path_planner/config/dynamic_avoidance/dynamic_avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/dynamic_avoidance/dynamic_avoidance_module.hpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/dynamic_avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/manager.cpp
Labels: planning

#4187 feat(elevation_map_loader): add error handling for std::runtime_error
  perception/elevation_map_loader/src/elevation_map_loader_node.cpp
Labels: perception

#4189 feat(avoidance): extend lanelets for target filtering
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
Labels: planning

#4163 perf(behavior_path_planner): simplify calculateDistanceLimit for dynamic drivable area expansion
  planning/behavior_path_planner/src/utils/drivable_area_expansion/drivable_area_expansion.cpp
  planning/behavior_path_planner/src/utils/drivable_area_expansion/expansion.cpp
  planning/behavior_path_planner/test/test_drivable_area_expansion.cpp
Labels: planning

#4170 feat(probabilistic_occupancy_grid_map): add projective raytracing option from scan_origin
  perception/probabilistic_occupancy_grid_map/CMakeLists.txt
  perception/probabilistic_occupancy_grid_map/README.md
  perception/probabilistic_occupancy_grid_map/config/binary_bayes_filter_updater.param.yaml
  perception/probabilistic_occupancy_grid_map/config/grid_map_param.yaml
  perception/probabilistic_occupancy_grid_map/config/laserscan_based_occupancy_grid_map.param.yaml
  perception/probabilistic_occupancy_grid_map/config/pointcloud_based_occupancy_grid_map.param.yaml
  perception/probabilistic_occupancy_grid_map/image/pointcloud_based_occupancy_grid_map_side_view_2nd_projection.drawio.svg
  perception/probabilistic_occupancy_grid_map/include/pointcloud_based_occupancy_grid_map/occupancy_grid_map_base.hpp
  perception/probabilistic_occupancy_grid_map/include/pointcloud_based_occupancy_grid_map/occupancy_grid_map_fixed.hpp
  perception/probabilistic_occupancy_grid_map/include/pointcloud_based_occupancy_grid_map/occupancy_grid_map_projective.hpp
  perception/probabilistic_occupancy_grid_map/include/pointcloud_based_occupancy_grid_map/pointcloud_based_occupancy_grid_map_node.hpp
  perception/probabilistic_occupancy_grid_map/launch/debug.launch.xml
  perception/probabilistic_occupancy_grid_map/package.xml
  perception/probabilistic_occupancy_grid_map/pointcloud-based-occupancy-grid-map.md
  perception/probabilistic_occupancy_grid_map/src/pointcloud_based_occupancy_grid_map/occupancy_grid_map_base.cpp
  perception/probabilistic_occupancy_grid_map/src/pointcloud_based_occupancy_grid_map/occupancy_grid_map_fixed.cpp
  perception/probabilistic_occupancy_grid_map/src/pointcloud_based_occupancy_grid_map/occupancy_grid_map_projective.cpp
  perception/probabilistic_occupancy_grid_map/src/pointcloud_based_occupancy_grid_map/pointcloud_based_occupancy_grid_map_node.cpp
Labels: documentation, perception, deploy-docs

#4173 fix(behavior_path_planner): fix aborting duration
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
Labels: planning

#4167 fix(goal_planner): support following lanes over the next lane
  planning/behavior_path_planner/include/behavior_path_planner/utils/geometric_parallel_parking/geometric_parallel_parking.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/utils/geometric_parallel_parking/geometric_parallel_parking.cpp
  planning/behavior_path_planner/src/utils/goal_planner/geometric_pull_over.cpp
  planning/behavior_path_planner/src/utils/goal_planner/goal_searcher.cpp
  planning/behavior_path_planner/src/utils/goal_planner/shift_pull_over.cpp
Labels: planning

#4191 fix(behavior_velocity_intersection_module): behavior_velocity_intersection_module dies due empty conflicting_lanelets
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_intersection_module/src/util.hpp
Labels: planning

#4176 feat(tier4_perception_launch): update traffic light launch
  launch/tier4_perception_launch/launch/perception.launch.xml
  launch/tier4_perception_launch/launch/traffic_light_recognition/traffic_light.launch.xml
  launch/tier4_perception_launch/launch/traffic_light_recognition/traffic_light_node_container.launch.py
  launch/tier4_perception_launch/package.xml
  perception/traffic_light_multi_camera_fusion/src/node.cpp
Labels: perception, launch

#4182 refactor(behavior_velocity_crosswalk_module): clean up the code
  planning/behavior_velocity_crosswalk_module/src/debug.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
  planning/behavior_velocity_crosswalk_module/src/scene_walkway.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_walkway.hpp
  planning/behavior_velocity_crosswalk_module/src/util.hpp
Labels: planning

#4183 feat(avoidance): output avoidance path with unsafe flag when the yield is necessary
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#4208 chore(start_planner): fix typos
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/start_planner/start_planner_module.hpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
Labels: planning

#4181 refactor(behavior_path_planner): remove unused code
  planning/behavior_path_planner/config/behavior_path_planner.param.yaml
  planning/behavior_path_planner/config/behavior_path_planner_tree_lane_change_only.xml
  planning/behavior_path_planner/config/behavior_path_planner_tree_lane_change_only_old.xml
  planning/behavior_path_planner/config/behavior_path_planner_tree_old.xml
  planning/behavior_path_planner/config/behavior_path_planner_tree_pull_out.xml
  planning/behavior_path_planner/config/behavior_path_planner_tree_with_external_request_LC.xml
  planning/behavior_path_planner/include/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/external_request.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/normal.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/external_request.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/scene_module/side_shift/side_shift_module.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
  planning/behavior_path_planner/src/utils/goal_planner/freespace_pull_over.cpp
  planning/behavior_path_planner/src/utils/start_planner/shift_pull_out.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning

#4203 fix: max velocity display
  common/tier4_planning_rviz_plugin/src/tools/max_velocity.cpp
Labels: common

#4212 feat(roi_cluster_fusion): update default value of `only_allow_inside_cluster` is `true`
  perception/image_projection_based_fusion/launch/roi_cluster_fusion.launch.xml
  perception/image_projection_based_fusion/src/roi_cluster_fusion/node.cpp
Labels: perception

#4144 feat(radar_object_clustering): add radar_object_clustering
  perception/radar_object_clustering/CMakeLists.txt
  perception/radar_object_clustering/README.md
  perception/radar_object_clustering/docs/clustering.drawio.svg
  perception/radar_object_clustering/docs/radar_clustering.drawio.svg
  perception/radar_object_clustering/include/radar_object_clustering/radar_object_clustering_node.hpp
  perception/radar_object_clustering/launch/radar_object_clustering.launch.xml
  perception/radar_object_clustering/package.xml
  perception/radar_object_clustering/src/radar_object_clustering_node/radar_object_clustering_node.cpp
Labels: documentation, perception

#4197 fix(behavior_path_planner): fix execution request condition
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
Labels: planning

#4218 chore(behavior_path_planner): add message for invalid ego pose
  planning/behavior_path_planner/src/planner_manager.cpp
Labels: planning

#4223 docs(behavior_velocity_planner_common): add readme
  planning/behavior_velocity_planner_common/README.md
Labels: documentation, planning

#4226 docs(mrm_emergency_stop_operator): fix file name
  system/mrm_emergency_stop_operator/README.md
Labels: documentation, system

#4224 docs(velodyne_monitor): rename readme to README
  system/velodyne_monitor/README.md
Labels: documentation, system, deploy-docs

#4213 fix(shift_decider): prevent chattering of gear command when target speed is near 0
  control/shift_decider/include/shift_decider/shift_decider.hpp
  control/shift_decider/src/shift_decider.cpp
Labels: control

#4200 refactor(lane_change): update lane change safety check
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/safety_check.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/utils.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
  planning/behavior_path_planner/src/utils/safety_check.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning

#4227 fix(start_planner): use non shifted path is shift line idx invalid
  planning/behavior_path_planner/src/utils/start_planner/shift_pull_out.cpp
Labels: planning

#4206 feat(avoidance): use intersection area
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/data_manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/utils.hpp
  planning/behavior_path_planner/src/planner_manager.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/manager.cpp
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
  planning/static_centerline_optimizer/src/utils.cpp
Labels: planning

#4231 refactor(lane_change): separate some lane change specific codes from the safety check module
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/safety_check.hpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
  planning/behavior_path_planner/src/utils/safety_check.cpp
Labels: planning

#4221 docs(simple_planning_simulator): rename docs to readme
  simulator/simple_planning_simulator/README.md
Labels: documentation, simulator, deploy-docs

#4164 chore(operation_mode_transition_manager): update debug topic
  control/operation_mode_transition_manager/msg/OperationModeTransitionManagerDebug.msg
  control/operation_mode_transition_manager/src/node.cpp
Labels: control

#4216 fix(behavior_path_planner): fix sampling warning
  planning/behavior_path_planner/src/utils/path_utils.cpp
Labels: planning

#4235 docs: add readme for interface packages
  common/autoware_ad_api_specs/README.md
  common/component_interface_specs/README.md
  common/component_interface_tools/README.md
  common/tier4_api_utils/README.md
  system/component_state_monitor/README.md
Labels: documentation, system, common

#4234 chore: add maintainer
  common/autoware_auto_common/package.xml
  common/autoware_auto_tf2/package.xml
  common/autoware_testing/package.xml
  common/fake_test_node/package.xml
  common/time_utils/package.xml
  evaluator/kinematic_evaluator/package.xml
  evaluator/localization_evaluator/package.xml
  planning/behavior_velocity_no_drivable_lane_module/package.xml
  tools/simulator_test/simulator_compatibility_test/package.xml
Labels: planning, tools, common, evaluator

#4215 fix(behavior_path_planner): fix lane change path inside check
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/utils.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
Labels: planning

#4204 fix(obstacle_avoidance_planner): replace rear and front circle_radius_rate
  planning/obstacle_avoidance_planner/src/mpt_optimizer.cpp
Labels: planning

#4214 fix(start_planner): publish stop path when goal is behind from ego
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/start_planner/start_planner_module.hpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
Labels: planning

#4220 docs(pure_pursuit): add readme
  control/pure_pursuit/README.md
Labels: documentation, control

#4241 refactor(behavior_path_planner): remove unused config files
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.py
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.xml
  planning/behavior_path_planner/config/behavior_path_planner_tree.xml
  planning/behavior_path_planner/launch/behavior_path_planner.launch.xml
  planning/behavior_path_planner/test/test_behavior_path_planner_node_interface.cpp
Labels: planning, launch

#4244 fix(behavior_velocity_planner_common): add depend for inline functions
  planning/behavior_velocity_planner_common/include/behavior_velocity_planner_common/utilization/arc_lane_util.hpp
  planning/behavior_velocity_planner_common/package.xml
Labels: planning

#4195 fix: take dummy objects' height into calculation when locating their Z position
  simulator/dummy_perception_publisher/src/node.cpp
Labels: simulator

#4245 fix(avoidance_by_lc): fix execution requesting logic
  planning/behavior_path_planner/src/scene_module/lane_change/avoidance_by_lane_change.cpp
Labels: planning

#4186 feat(avoidance): consider acceleration during avoidance maneuver
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/docs/behavior_path_planner_avoidance_design.md
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/manager.cpp
Labels: documentation, planning

#4239 fix(lane_change): fix activation timing of the passParkedObject funtion
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/utils.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
Labels: planning

#4253 fix(avoidance): fix invalid vector access
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
Labels: planning

#4252 chore(route_handler): improve warning message
  planning/mission_planner/src/lanelet2_plugins/default_planner.cpp
  planning/route_handler/src/route_handler.cpp
Labels: planning

#4233 fix(lane_change): fix safety check velocity value
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/safety_check.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
  planning/behavior_path_planner/src/utils/safety_check.cpp
Labels: planning

#4145 feat(avoidance): output feasible avoidance path
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_shifter/path_shifter.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/utils/path_shifter/path_shifter.cpp
Labels: planning

#4255 fix(route_handler): route plan failed when ego is on the road shoulder
  planning/route_handler/src/route_handler.cpp
Labels: planning

#3476 test(pointcloud_preprocessor): add test for launch & publish (for both use_imu=true/false)
  sensing/pointcloud_preprocessor/CMakeLists.txt
  sensing/pointcloud_preprocessor/package.xml
  sensing/pointcloud_preprocessor/test/test_distortion_corrector.py
  sensing/pointcloud_preprocessor/test/test_distortion_corrector_use_imu_false.py
Labels: sensing

#4240 fix(run_out): clear stop pose to prevent virtual wall from remaining
  planning/behavior_velocity_run_out_module/src/debug.cpp
Labels: planning

#4260 refactor(lane_change): move isLaneChangePathSafe to normal lane change class
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/normal.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/utils.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
Labels: planning

#4265 docs: add readme to perception related utils
  common/cuda_utils/README.md
  common/object_recognition_utils/README.md
  common/perception_utils/README.md
  common/perception_utils/package.xml
  common/tensorrt_common/README.md
  common/traffic_light_utils/README.md
  common/trtexec_vendor/README.md
Labels: documentation, common

#4268 fix(yabloc): fix spell-check CI
  localization/yabloc/yabloc_image_processing/README.md
  localization/yabloc/yabloc_image_processing/launch/image_processing.launch.xml
  localization/yabloc/yabloc_image_processing/launch/overlay.launch.xml
  localization/yabloc/yabloc_image_processing/launch/yabloc_image_processing.launch.xml
  localization/yabloc/yabloc_image_processing/src/lanelet2_overlay/lanelet2_overlay_core.cpp
  localization/yabloc/yabloc_particle_filter/launch/yabloc_particle_filter.launch.xml
  localization/yabloc/yabloc_particle_filter/src/common/particle_visualize_node.cpp
Labels: documentation, localization

#4266 fix(avoidance): calculate distance between ego and goal pos properly
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
Labels: planning

#4249 refactor(no_drivable_lane): updating readme file to remove rtc table
  planning/behavior_velocity_no_drivable_lane_module/README.md
Labels: documentation, planning

#4269 fix(avoidance): fix previous data inconsistency
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#4261 refactor(lane_change): create lane change info data
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/lane_change_path.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/utils.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/avoidance_by_lane_change.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
Labels: planning

#4135 fix(obstacle_stop_planner): skip objects when not using predicted objects
  planning/obstacle_stop_planner/src/node.cpp
Labels: planning

#4136 fix(obstacle_stop_planner): add missing params to the default config file
  planning/obstacle_stop_planner/config/obstacle_stop_planner.param.yaml
Labels: planning

#4272 chore(cspell): add spell-check-all.yaml
  .github/workflows/spell-check-all.yaml
Labels: ci

#4264 feat(tensorrt_classifier): add README.md
  perception/tensorrt_classifier/README.md
Labels: documentation, perception

#4274 chore: backport fix PR to awsim-stable branch
  common/motion_utils/src/vehicle/vehicle_state_checker.cpp
  common/motion_utils/test/src/vehicle/test_vehicle_state_checker.cpp
Labels: common

#4273 refactor(lane_change): move several functions from lane change utils to NormalLaneChange
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/normal.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/utils.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
Labels: planning

#4280 fix(map_loader): fix spell-check
  map/map_loader/test/test_pointcloud_map_loader_module.cpp
Labels: map

#4270 refactor(ndt_scan_matcher): fixed as pointed out by clang-tidy
  localization/ndt_scan_matcher/include/ndt_scan_matcher/ndt_scan_matcher_core.hpp
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
Labels: localization

#4211 feat(behavior_velocity_crosswalk_module): looser stop decision
  planning/behavior_velocity_crosswalk_module/config/crosswalk.param.yaml
  planning/behavior_velocity_crosswalk_module/src/debug.cpp
  planning/behavior_velocity_crosswalk_module/src/manager.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
  planning/behavior_velocity_crosswalk_module/src/util.hpp
Labels: planning

#4251 feat(avoidance_by_lc): add special required/expired condition
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/avoidance_by_lane_change.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/base_class.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/interface.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/avoidance_by_lane_change.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
Labels: planning

#4112 feat(obstacle_avoidance_planner): make virtual wall green when no stop planning
  planning/obstacle_avoidance_planner/src/node.cpp
Labels: planning

#4285 chore(behavior_velocity_crosswalk/out_of_lane): add a maintainer
  planning/behavior_velocity_crosswalk_module/package.xml
  planning/behavior_velocity_out_of_lane_module/package.xml
Labels: planning

#4275 feat(behavior_velocity_crosswalk_module): different z for each debug text marker
  planning/behavior_velocity_crosswalk_module/src/debug.cpp
Labels: planning

#4242 feat(lane_change): removing parameterize minimum prepare distance
  planning/behavior_path_planner/include/behavior_path_planner/parameters.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning

#4262 refactor(euclidean clustering): read parameters from autoware_launch
  launch/tier4_perception_launch/launch/perception.launch.xml
  perception/euclidean_cluster/launch/euclidean_cluster.launch.py
  perception/euclidean_cluster/launch/voxel_grid_based_euclidean_cluster.launch.py
Labels: perception, launch

#4287 fix(image_projection_based_fusion): correct helper function parameter type
  perception/image_projection_based_fusion/include/image_projection_based_fusion/utils/geometry.hpp
Labels: perception

#4219 feat(simple_object_merger): add simple_object_merger
  perception/simple_object_merger/CMakeLists.txt
  perception/simple_object_merger/README.md
  perception/simple_object_merger/include/simple_object_merger/simple_object_merger_node.hpp
  perception/simple_object_merger/launch/simple_object_merger.launch.xml
  perception/simple_object_merger/package.xml
  perception/simple_object_merger/src/simple_object_merger_node/simple_object_merger_node.cpp
Labels: documentation, perception

#4295 fix(behavior_path_planner): check new modified goal in the node side
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
Labels: planning

#4297 fix(start_planner): set stop path drivable area
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
Labels: planning

#4301 feat(behavior_path_planner): support backward path drivable area
  planning/behavior_path_planner/src/planner_manager.cpp
Labels: planning

#4300 fix(start_planner): fix back pull out due to inability to get back lanes
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/shift_pull_out.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/util.hpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
  planning/behavior_path_planner/src/utils/start_planner/geometric_pull_out.cpp
  planning/behavior_path_planner/src/utils/start_planner/shift_pull_out.cpp
  planning/behavior_path_planner/src/utils/start_planner/util.cpp
Labels: planning

#4288 refactor(lane_change): fix lane change variable names inconsistency
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/normal.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/lane_change_path.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/utils.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
Labels: planning

#4283 fix(intersection): fix uninitialized tl_arrow_info variable issue
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_merge_from_private_road.cpp
  planning/behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_intersection_module/src/util.hpp
  planning/behavior_velocity_intersection_module/src/util_type.hpp
Labels: planning

#4107 fix(lane_change): separate visualization after path approval
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/base_class.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
Labels: planning

#4294 docs(avoidance): update parameter names
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/docs/behavior_path_planner_avoidance_design.md
  planning/behavior_path_planner/image/avoidance/use_adjacent_lane.svg
  planning/behavior_path_planner/image/avoidance/use_hatched_road_markings.svg
  planning/behavior_path_planner/image/avoidance/use_intersection_areas.svg
  planning/behavior_path_planner/image/avoidance/use_opposite_lane.svg
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/manager.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/manager.cpp
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
Labels: documentation, planning, deploy-docs

#4302 fix(goal_planner): fix publishing new modified goal
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/goal_planner_module.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
Labels: planning

#4127 feat(radar_crossing_objects_noise_filter): add radar_crossing_objects_filter
  perception/radar_crossing_objects_noise_filter/CMakeLists.txt
  perception/radar_crossing_objects_noise_filter/README.md
  perception/radar_crossing_objects_noise_filter/docs/radar_crossing_objects_noise_filter.drawio.svg
  perception/radar_crossing_objects_noise_filter/docs/turning_around.png
  perception/radar_crossing_objects_noise_filter/docs/vertical_velocity_objects.png
  perception/radar_crossing_objects_noise_filter/include/radar_crossing_objects_noise_filter/radar_crossing_objects_noise_filter_node.hpp
  perception/radar_crossing_objects_noise_filter/launch/radar_crossing_objects_noise_filter.launch.xml
  perception/radar_crossing_objects_noise_filter/package.xml
  perception/radar_crossing_objects_noise_filter/src/radar_crossing_objects_noise_filter_node/radar_crossing_objects_noise_filter_node.cpp
Labels: documentation, perception

#4304 fix(start_planner): fix loop lanes
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning

#4309 refactor(no_drivable_lane): updating readme file to remove rtc
  planning/behavior_velocity_no_drivable_lane_module/README.md
Labels: documentation, planning

#4312 feat(tier4_autoware_utils): add intersect function
  common/tier4_autoware_utils/include/tier4_autoware_utils/geometry/geometry.hpp
  common/tier4_autoware_utils/test/src/geometry/test_geometry.cpp
Labels: common

#4305 feat(intersection): add behavior for arrow signal
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_intersection_module/src/util.cpp
Labels: planning

#4319 fix(ndt_scan_matcher): update member variables properly in map_update_module
  localization/ndt_scan_matcher/src/map_update_module.cpp
Labels: localization

#4320 chore(cspell): add spell-check-partial
  .cspell-partial.json
  .github/workflows/spell-check-partial.yaml
Labels: ci

#4257 feat: use `pose_source` and `twist_source` for selecting localization methods
  launch/map4_localization_launch/CMakeLists.txt
  launch/map4_localization_launch/README.md
  launch/map4_localization_launch/eagleye_pose_twist_localization_launch/localization.launch.xml
  launch/map4_localization_launch/eagleye_pose_twist_localization_launch/localization_launch.drawio.svg
  launch/map4_localization_launch/eagleye_pose_twist_localization_launch/pose_twist_estimator/eagleye/eagleye_rt.launch.xml
  launch/map4_localization_launch/eagleye_pose_twist_localization_launch/pose_twist_estimator/pose_twist_estimator.launch.xml
  launch/map4_localization_launch/eagleye_pose_twist_localization_launch/util/util.launch.xml
  launch/map4_localization_launch/eagleye_twist_localization_launch/localization.launch.xml
  launch/map4_localization_launch/eagleye_twist_localization_launch/localization_launch.drawio.svg
  launch/map4_localization_launch/eagleye_twist_localization_launch/twist_estimator/eagleye/fix2pose.launch.xml
  launch/map4_localization_launch/eagleye_twist_localization_launch/twist_estimator/eagleye/gnss_converter.launch.xml
  launch/map4_localization_launch/eagleye_twist_localization_launch/twist_estimator/twist_estimator.launch.xml
  launch/map4_localization_launch/package.xml
  launch/tier4_localization_launch/README.md
  launch/tier4_localization_launch/launch/localization.launch.xml
  launch/tier4_localization_launch/launch/pose_twist_estimator/eagleye/eagleye_rt.launch.xml
  launch/tier4_localization_launch/launch/pose_twist_estimator/eagleye/fix2pose.launch.xml
  launch/tier4_localization_launch/launch/pose_twist_estimator/eagleye/gnss_converter.launch.xml
  launch/tier4_localization_launch/launch/pose_twist_estimator/gyro_odometer.launch.xml
  launch/tier4_localization_launch/launch/pose_twist_estimator/ndt_scan_matcher.launch.xml
  launch/tier4_localization_launch/launch/pose_twist_estimator/pose_twist_estimator.launch.xml
  launch/tier4_localization_launch/launch/pose_twist_estimator/yabloc.launch.xml
  launch/tier4_localization_launch/launch/util/util.launch.xml
  launch/tier4_localization_launch/localization_launch.drawio.svg
  launch/tier4_localization_launch/package.xml
  launch/tier4_simulator_launch/launch/simulator.launch.xml
  localization/pose_initializer/config/pose_initializer.param.yaml
  localization/pose_initializer/config/pose_initializer_common.param.yaml
  localization/pose_initializer/launch/pose_initializer.launch.xml
  localization/yabloc/README.md
  localization/yabloc/yabloc_image_processing/launch/image_processing.launch.xml
  localization/yabloc/yabloc_image_processing/launch/overlay.launch.xml
  localization/yabloc/yabloc_particle_filter/launch/yabloc_particle_filter.launch.xml
  localization/yabloc/yabloc_pose_initializer/launch/yabloc_pose_initializer.launch.xml
Labels: documentation, localization, launch

#4284 refactor(behavior_velocity_crosswalk_module): clean up the code of stop line calculation
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
  planning/behavior_velocity_crosswalk_module/src/util.hpp
Labels: planning

#4281 fix(yabloc): fix typo
  localization/yabloc/yabloc_common/README.md
  localization/yabloc/yabloc_common/include/yabloc_common/synchro_subscriber.hpp
  localization/yabloc/yabloc_common/src/ground_server/ground_server_core.cpp
  localization/yabloc/yabloc_common/src/ll2_decomposer/ll2_decomposer_core.cpp
  localization/yabloc/yabloc_image_processing/include/yabloc_image_processing/graph_segment/similar_area_searcher.hpp
  localization/yabloc/yabloc_image_processing/src/graph_segment/similar_area_searcher.cpp
  localization/yabloc/yabloc_image_processing/src/segment_filter/segment_filter_core.cpp
  localization/yabloc/yabloc_particle_filter/CMakeLists.txt
  localization/yabloc/yabloc_particle_filter/README.md
  localization/yabloc/yabloc_particle_filter/include/yabloc_particle_filter/camera_corrector/logit.hpp
  localization/yabloc/yabloc_particle_filter/include/yabloc_particle_filter/common/mean.hpp
  localization/yabloc/yabloc_particle_filter/include/yabloc_particle_filter/gnss_corrector/gnss_particle_corrector.hpp
  localization/yabloc/yabloc_particle_filter/src/camera_corrector/camera_particle_corrector_core.cpp
  localization/yabloc/yabloc_particle_filter/src/camera_corrector/filter_line_segments.cpp
  localization/yabloc/yabloc_particle_filter/src/common/mean.cpp
  localization/yabloc/yabloc_particle_filter/src/gnss_corrector/gnss_corrector_core.cpp
  localization/yabloc/yabloc_particle_filter/src/ll2_cost_map/hierarchical_cost_map.cpp
  localization/yabloc/yabloc_particle_filter/src/prediction/predictor.cpp
  localization/yabloc/yabloc_particle_filter/src/prediction/resampler.cpp
  localization/yabloc/yabloc_particle_filter/test/src/test_resampler.cpp
  localization/yabloc/yabloc_pose_initializer/include/yabloc_pose_initializer/camera/lane_image.hpp
  localization/yabloc/yabloc_pose_initializer/src/camera/camera_pose_initializer_core.cpp
  localization/yabloc/yabloc_pose_initializer/src/camera/lane_image.cpp
  localization/yabloc/yabloc_pose_initializer/src/camera/projector_module.cpp
Labels: documentation, localization

#4332 fix(yabloc_particle_filter): fix typo
  localization/yabloc/yabloc_particle_filter/src/correction/abstract_corrector.cpp
Labels: localization

#4323 fix(vehicle_cmd_gate): fix slow start
  control/vehicle_cmd_gate/src/vehicle_cmd_filter.hpp
  control/vehicle_cmd_gate/src/vehicle_cmd_gate.cpp
Labels: control

#4311 refactor(behavior_velocity_crosswalk_module): use std::optional instead of boost::optional
  planning/behavior_velocity_crosswalk_module/src/debug.cpp
  planning/behavior_velocity_crosswalk_module/src/manager.cpp
  planning/behavior_velocity_crosswalk_module/src/manager.hpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
  planning/behavior_velocity_crosswalk_module/src/scene_walkway.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_walkway.hpp
  planning/behavior_velocity_crosswalk_module/src/util.cpp
  planning/behavior_velocity_crosswalk_module/src/util.hpp
Labels: planning

#4334 feat(vehicle_cmd_gate): improve transition filter for longitudinal
  control/vehicle_cmd_gate/src/vehicle_cmd_gate.cpp
Labels: control

#4333 fix(vehicle_cmd_gate): auto mode check
  control/vehicle_cmd_gate/src/vehicle_cmd_gate.cpp
Labels: control

#4335 feat(lane_change): add safety check flags for lane change
  planning/behavior_path_planner/config/lane_change/lane_change.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/manager.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
Labels: planning

#4337 refactor(map_based_prediction): read parameters from autoware_launch
  launch/tier4_perception_launch/launch/object_recognition/prediction/prediction.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
Labels: launch

#4194 fix(obstacle_avoidance_planner): adding missing functionality for stop margin due to out of drivable area
  planning/obstacle_avoidance_planner/config/obstacle_avoidance_planner.param.yaml
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/node.hpp
  planning/obstacle_avoidance_planner/src/node.cpp
Labels: planning

#4232 feat(radar object tracking): add new object tracking package for radar object
  perception/radar_object_tracker/CMakeLists.txt
  perception/radar_object_tracker/README.md
  perception/radar_object_tracker/config/data_association_matrix.param.yaml
  perception/radar_object_tracker/config/default_tracker.param.yaml
  perception/radar_object_tracker/config/simulation_tracker.param.yaml
  perception/radar_object_tracker/config/tracking/linear_motion_tracker.yaml
  perception/radar_object_tracker/include/radar_object_tracker/data_association/data_association.hpp
  perception/radar_object_tracker/include/radar_object_tracker/data_association/solver/gnn_solver.hpp
  perception/radar_object_tracker/include/radar_object_tracker/data_association/solver/gnn_solver_interface.hpp
  perception/radar_object_tracker/include/radar_object_tracker/data_association/solver/mu_successive_shortest_path.hpp
  perception/radar_object_tracker/include/radar_object_tracker/data_association/solver/successive_shortest_path.hpp
  perception/radar_object_tracker/include/radar_object_tracker/radar_object_tracker_node/radar_object_tracker_node.hpp
  perception/radar_object_tracker/include/radar_object_tracker/tracker/model/linear_motion_tracker.hpp
  perception/radar_object_tracker/include/radar_object_tracker/tracker/model/tracker_base.hpp
  perception/radar_object_tracker/include/radar_object_tracker/tracker/tracker.hpp
  perception/radar_object_tracker/include/radar_object_tracker/utils/utils.hpp
  perception/radar_object_tracker/launch/radar_object_tracker.launch.xml
  perception/radar_object_tracker/models.md
  perception/radar_object_tracker/package.xml
  perception/radar_object_tracker/src/data_association/data_association.cpp
  perception/radar_object_tracker/src/data_association/mu_successive_shortest_path/mu_successive_shortest_path_wrapper.cpp
  perception/radar_object_tracker/src/data_association/successive_shortest_path/successive_shortest_path.cpp
  perception/radar_object_tracker/src/radar_object_tracker_node/radar_object_tracker_node.cpp
  perception/radar_object_tracker/src/tracker/model/linear_motion_tracker.cpp
  perception/radar_object_tracker/src/tracker/model/tracker_base.cpp
  perception/radar_object_tracker/src/utils/utils.cpp
Labels: documentation, perception

#4282 feat(utils): add function to visualize drivable lanes
  planning/behavior_path_planner/include/behavior_path_planner/marker_util/debug_utilities.hpp
  planning/behavior_path_planner/src/marker_util/debug_utilities.cpp
Labels: planning

#4296 feat(yabloc_pose_initializer): make yabloc independent of dnn model by default
  localization/yabloc/yabloc_pose_initializer/CMakeLists.txt
  localization/yabloc/yabloc_pose_initializer/README.md
  localization/yabloc/yabloc_pose_initializer/include/yabloc_pose_initializer/camera/camera_pose_initializer.hpp
  localization/yabloc/yabloc_pose_initializer/launch/semantic_segmentation.launch.xml
  localization/yabloc/yabloc_pose_initializer/src/camera/camera_pose_initializer_core.cpp
  localization/yabloc/yabloc_pose_initializer/src/camera/marker_module.cpp
  localization/yabloc/yabloc_pose_initializer/src/semantic_segmentation/semantic_segmentation_node.py
  localization/yabloc/yabloc_pose_initializer/src/semantic_segmentation/semantic_segmentation_server.py
  localization/yabloc/yabloc_pose_initializer/srv/SemanticSegmentation.srv
Labels: documentation, localization

#4341 feat(avoidance): output slow down wall marker
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#4342 fix(avoidance): guard umconfortable stop
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#4177 fix(behavior_velocity_planner): expend the ego_lane_with_next_lane area
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
Labels: planning

#4339 refactor(object_merger): read parameters from autoware_launch
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/lidar_based_detection.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
Labels: launch

#4293 fix(utils): fix unstable drivable area generation
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/utils.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning

#4330 feat(tier4_perception_launch): add radar faraway detection
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_radar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/lidar_radar_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/radar_based_detection.launch.xml
  launch/tier4_perception_launch/package.xml
Labels: launch

#4298 feat(avoidance): flexible avoidance path generation
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/helper.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/manager.cpp
Labels: planning

#4338 refactor(lane_change): use a single function for isEndOfLane
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/base_class.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/normal.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/utils.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
Labels: planning

#4354 fix(avoidance): overwrite backward path velocity
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#4364 chore(workflows): update build-and-test-differential to use self hosted runners
  .github/workflows/build-and-test-differential.yaml
Labels: ci

#4343 chore(tensorrt_common): fix spell-check
  common/tensorrt_common/src/tensorrt_common.cpp
Labels: common

#4355 refactor(utils): rename debug utils files
  planning/behavior_path_planner/CMakeLists.txt
  planning/behavior_path_planner/include/behavior_path_planner/marker_utils/avoidance/debug.hpp
  planning/behavior_path_planner/include/behavior_path_planner/marker_utils/lane_change/debug.hpp
  planning/behavior_path_planner/include/behavior_path_planner/marker_utils/utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/base_class.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/normal.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/safety_check.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/utils.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/marker_utils/avoidance/debug.cpp
  planning/behavior_path_planner/src/marker_utils/lane_change/debug.cpp
  planning/behavior_path_planner/src/marker_utils/utils.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
  planning/behavior_path_planner/src/scene_module/side_shift/side_shift_module.cpp
  planning/behavior_path_planner/src/utils/safety_check.cpp
  planning/behavior_path_planner/test/test_safety_check.cpp
Labels: planning

#4351 fix(out_of_lane): prevent crash when current footprint is empty
  planning/behavior_velocity_out_of_lane_module/src/debug.cpp
Labels: planning

#4368 ci: add label checks before running self-hosted runner
  .github/workflows/build-and-test-differential.yaml
Labels: ci, run-build-and-test-differential

#4123 fix(roi_cluster_fusion): fuse unknown roi
  perception/image_projection_based_fusion/docs/roi-cluster-fusion.md
  perception/image_projection_based_fusion/include/image_projection_based_fusion/roi_cluster_fusion/node.hpp
  perception/image_projection_based_fusion/launch/roi_cluster_fusion.launch.xml
  perception/image_projection_based_fusion/src/roi_cluster_fusion/node.cpp
Labels: documentation, perception, run-build-and-test-differential

#4362 fix(start_planner): fix geometric pull out start pose
  planning/behavior_path_planner/src/utils/start_planner/geometric_pull_out.cpp
Labels: planning

#4116 refactor(avoidance): parameterize magic number
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/helper.hpp
  planning/behavior_path_planner/src/marker_utils/avoidance/debug.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/manager.cpp
Labels: planning

#4054 feat(behavior_velocity_planner): enable auto mode without rtc_auto_mode_manager
  planning/behavior_velocity_blind_spot_module/config/blind_spot.param.yaml
  planning/behavior_velocity_blind_spot_module/src/manager.cpp
  planning/behavior_velocity_crosswalk_module/config/crosswalk.param.yaml
  planning/behavior_velocity_crosswalk_module/src/manager.cpp
  planning/behavior_velocity_detection_area_module/config/detection_area.param.yaml
  planning/behavior_velocity_detection_area_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_no_stopping_area_module/config/no_stopping_area.param.yaml
  planning/behavior_velocity_no_stopping_area_module/src/manager.cpp
  planning/behavior_velocity_planner_common/include/behavior_velocity_planner_common/scene_module_interface.hpp
  planning/behavior_velocity_traffic_light_module/config/traffic_light.param.yaml
  planning/behavior_velocity_traffic_light_module/src/manager.cpp
Labels: planning, run-build-and-test-differential

#4369 fix(perception_utils): fix `-Werror=reorder`
  common/perception_utils/include/perception_utils/prime_synchronizer.hpp
Labels: common, run-build-and-test-differential

#4370 feat(obstacle_avoidance_planner): make MPT's output not std::optional
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/mpt_optimizer.hpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/node.hpp
  planning/obstacle_avoidance_planner/src/mpt_optimizer.cpp
  planning/obstacle_avoidance_planner/src/node.cpp
Labels: planning, run-build-and-test-differential
