Repository autowarefoundation/autoware_universe, pull requests merged in 2023-08, with the labels that each got.

#4449 feat(behavior_velocity_crosswalk_module): suppress sudden stop for stuck vehicle
  planning/behavior_velocity_crosswalk_module/config/crosswalk.param.yaml
  planning/behavior_velocity_crosswalk_module/src/manager.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
Labels: planning, run-build-and-test-differential

#4474 docs(lane_change): update explanations for lane change safety check
  planning/behavior_path_planner/docs/behavior_path_planner_lane_change_design.md
  planning/behavior_path_planner/image/lane_change/lane_objects.drawio.svg
Labels: documentation, planning, run-build-and-test-differential

#4466 feat(intersection_occlusion): ignore occlusion behind parked vehicles on the attention lane
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
Labels: planning, run-build-and-test-differential

#4455 fix(start_planner): fix drivable lanes
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/start_planner/start_planner_module.hpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
Labels: planning, run-build-and-test-differential

#4468 feat(intersection): disable pass judge decision while peeking
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_intersection_module/src/util.cpp
Labels: planning, run-build-and-test-differential

#4459 refactor(interface): remove redundant member variables
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/dynamic_avoidance/dynamic_avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/dynamic_avoidance/manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/goal_planner_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/side_shift/manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/side_shift/side_shift_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/start_planner/manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/start_planner/start_planner_module.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/manager.cpp
Labels: planning, run-build-and-test-differential

#4476 chore: change TLR default model
  perception/traffic_light_arbiter/package.xml
  perception/traffic_light_classifier/launch/traffic_light_classifier.launch.xml
  perception/traffic_light_fine_detector/launch/traffic_light_fine_detector.launch.xml
  perception/traffic_light_fine_detector/package.xml
  perception/traffic_light_multi_camera_fusion/package.xml
  perception/traffic_light_occlusion_predictor/package.xml
Labels: perception, run-build-and-test-differential

#4467 feat(avoidance): add parameter to configurate avoidance return point
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/manager.cpp
Labels: planning, run-build-and-test-differential

#4463 feat(crosswalk): disable cancel yield at no traffic signals intersection
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
Labels: planning, run-build-and-test-differential

#4485 fix(gyro_odometer): fix output_frame parameter name
  localization/gyro_odometer/src/gyro_odometer_core.cpp
Labels: localization, run-build-and-test-differential

#4480 fix(crosswalk): fix the doc of TTC-TTV graph
  planning/behavior_velocity_crosswalk_module/docs/ttc-ttv.svg
Labels: documentation, planning, run-build-and-test-differential

#4479 fix(obstacle_avoidance_planner): fix the bug of inserting stop point
  planning/obstacle_avoidance_planner/src/node.cpp
Labels: planning, run-build-and-test-differential

#4481 chore(mpc_lateral_controller): fix typo
  control/mpc_lateral_controller/model_predictive_control_algorithm.md
Labels: documentation, control, run-build-and-test-differential

#4454 refactor(traffic_light_arbiter): read parameters from config file
  launch/tier4_perception_launch/launch/perception.launch.xml
  perception/traffic_light_arbiter/CMakeLists.txt
  perception/traffic_light_arbiter/config/traffic_light_arbiter.param.yaml
  perception/traffic_light_arbiter/launch/traffic_light_arbiter.launch.xml
Labels: perception, launch, run-build-and-test-differential

#4225 docs(topic_state_monitor): rename readme to README
  system/topic_state_monitor/README.md
Labels: documentation, system, run-build-and-test-differential

#4472 fix(goal_planner): plan path even if ego is on the original goal
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/goal_planner_module.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
Labels: planning, run-build-and-test-differential

#4217 feat(out_of_lane): add param for the min confidence of a predicted path
  planning/behavior_velocity_out_of_lane_module/README.md
  planning/behavior_velocity_out_of_lane_module/config/out_of_lane.param.yaml
  planning/behavior_velocity_out_of_lane_module/src/decisions.cpp
  planning/behavior_velocity_out_of_lane_module/src/decisions.hpp
  planning/behavior_velocity_out_of_lane_module/src/manager.cpp
  planning/behavior_velocity_out_of_lane_module/src/types.hpp
Labels: documentation, planning, run-build-and-test-differential

#4491 fix(start_planner): fix extending lanes in lane change case
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning, run-build-and-test-differential

#4483 ci: enable spell-check-partial for control
  .cspell-partial.json
Labels: run-build-and-test-differential

#4471 feat(crosswalk): suppress chattering of GO/STOP decision
  planning/behavior_velocity_crosswalk_module/config/crosswalk.param.yaml
  planning/behavior_velocity_crosswalk_module/src/manager.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
Labels: planning, run-build-and-test-differential

#4271 fix(behavior_path_planner): search duplicated lane id with remove_if
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning, run-build-and-test-differential

#4492 feat(crosswalk): add pass judge line
  planning/behavior_velocity_crosswalk_module/config/crosswalk.param.yaml
  planning/behavior_velocity_crosswalk_module/src/manager.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
Labels: planning, run-build-and-test-differential

#4495 refactor(lane_change): create new helper functions to clean code
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/utils.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
Labels: planning, run-build-and-test-differential

#4494 feat(crosswalk): gradable pass margin
  planning/behavior_velocity_crosswalk_module/config/crosswalk.param.yaml
  planning/behavior_velocity_crosswalk_module/src/manager.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
Labels: planning, run-build-and-test-differential

#4469 chore(tier4_planning_launch): enable to abort lane change from a parameter file
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.py
Labels: launch, run-build-and-test-differential

#4453 fix(start_planner): execute when curent pose is close to route start pose not receiving new route
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/start_planner/start_planner_module.hpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
  planning/route_handler/include/route_handler/route_handler.hpp
  planning/route_handler/src/route_handler.cpp
Labels: planning, run-build-and-test-differential

#4501 chore: add maintainer in localization and map packages
  localization/ekf_localizer/package.xml
  localization/gyro_odometer/package.xml
  localization/initial_pose_button_panel/package.xml
  localization/localization_error_monitor/package.xml
  localization/ndt_scan_matcher/package.xml
  localization/pose2twist/package.xml
  localization/pose_initializer/package.xml
  localization/stop_filter/package.xml
  localization/twist2accel/package.xml
  localization/yabloc/yabloc_common/package.xml
  localization/yabloc/yabloc_image_processing/package.xml
  localization/yabloc/yabloc_monitor/package.xml
  localization/yabloc/yabloc_particle_filter/package.xml
  localization/yabloc/yabloc_pose_initializer/package.xml
  map/map_height_fitter/package.xml
  map/map_loader/package.xml
Labels: localization, map, run-build-and-test-differential

#4493 fix(behavior_path_planner): insert stop point for multiple lane change
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/base_class.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/normal.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
Labels: planning, run-build-and-test-differential

#4499 fix(object_merger): preserve unknown objects close to known objects
  perception/object_merger/README.md
  perception/object_merger/config/overlapped_judge.param.yaml
  perception/object_merger/include/object_association_merger/node.hpp
  perception/object_merger/launch/object_association_merger.launch.xml
  perception/object_merger/src/object_association_merger/node.cpp
Labels: documentation, perception, run-build-and-test-differential

#4458 perf(planner_manger): remove lifo limitation
  planning/behavior_path_planner/include/behavior_path_planner/planner_manager.hpp
  planning/behavior_path_planner/src/planner_manager.cpp
  planning/route_handler/include/route_handler/route_handler.hpp
  planning/route_handler/src/route_handler.cpp
Labels: planning, run-build-and-test-differential

#4452 refactor(interface): use `weak_ptr` or `unique_ptr` instead of `shared_ptr`
  planning/behavior_path_planner/include/behavior_path_planner/planner_manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/dynamic_avoidance/manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_manager_interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/side_shift/manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/start_planner/manager.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/planner_manager.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/manager.cpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/manager.cpp
  planning/behavior_path_planner/src/scene_module/goal_planner/manager.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/manager.cpp
  planning/behavior_path_planner/src/scene_module/side_shift/manager.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/manager.cpp
Labels: planning, run-build-and-test-differential, openai-pr-reviewer

#4488 feat(lane_change): improve lane change sampled acceleration
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/normal.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/utils.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
Labels: planning, run-build-and-test-differential

#4473 feat(out_of_lane): ignore predicted paths of dynamic objects in irrelevent lanelets
  planning/behavior_velocity_out_of_lane_module/src/decisions.cpp
  planning/behavior_velocity_out_of_lane_module/src/decisions.hpp
Labels: planning, run-build-and-test-differential

#4392 feat(tier4_state_rviz_plugin): add init by gnss button
  common/tier4_state_rviz_plugin/src/autoware_state_panel.cpp
  common/tier4_state_rviz_plugin/src/autoware_state_panel.hpp
Labels: common, run-build-and-test-differential

#4489 fix(behavior_path_planner): drivable area front nearest segment index
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning, run-build-and-test-differential

#4507 feat(behavior_path_planner): change straight turn signal condition
  planning/behavior_path_planner/src/turn_signal_decider.cpp
Labels: planning, run-build-and-test-differential

#4511 fix(start_planner): invalid lane id access
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
Labels: planning, run-build-and-test-differential

#4513 feat(start_planner): ignore objects out of pull out lanes for start pose search
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
Labels: planning, run-build-and-test-differential

#4512 chore(start_planner): rename shoulder lane variables
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
  planning/behavior_path_planner/src/utils/start_planner/geometric_pull_out.cpp
  planning/behavior_path_planner/src/utils/start_planner/shift_pull_out.cpp
Labels: planning, run-build-and-test-differential

#4291 refactor(utils): remove unnecessary drivable area generation
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning, run-build-and-test-differential

#4514 feat(start_planner): use stop objects in pull out lanes for collision check
  planning/behavior_path_planner/config/start_planner/start_planner.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/start_planner_parameters.hpp
  planning/behavior_path_planner/src/scene_module/start_planner/manager.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
  planning/behavior_path_planner/src/utils/start_planner/geometric_pull_out.cpp
  planning/behavior_path_planner/src/utils/start_planner/shift_pull_out.cpp
Labels: planning, run-build-and-test-differential

#4520 fix(behavior_path_planner): fix turn signal for lane change abort
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
Labels: planning, run-build-and-test-differential

#4515 feat(workflow): run gpt review from forked pr
  .github/workflows/openai-pr-reviewer.yaml
Labels: ci, run-build-and-test-differential

#4506 feat(tier4_vehicle_rviz_plugin): add acceleration visualization plugin to RViz
  common/tier4_vehicle_rviz_plugin/CMakeLists.txt
  common/tier4_vehicle_rviz_plugin/README.md
  common/tier4_vehicle_rviz_plugin/icons/classes/AccelerationMeter.png
  common/tier4_vehicle_rviz_plugin/plugins/plugin_description.xml
  common/tier4_vehicle_rviz_plugin/src/tools/acceleration_meter.cpp
  common/tier4_vehicle_rviz_plugin/src/tools/acceleration_meter.hpp
Labels: documentation, common, run-build-and-test-differential

#4433 feat(dynamic_avoidance): memorize previous object information
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/dynamic_avoidance/dynamic_avoidance_module.hpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/dynamic_avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/manager.cpp
Labels: planning, run-build-and-test-differential

#4530 feat(goal_planner): publish stop reason
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/goal_planner_module.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
Labels: planning, run-build-and-test-differential

#4529 fix(goal_planner): goal planner sudden decel
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
Labels: planning, run-build-and-test-differential

#4528 fix(start_plannere): do not request when modifed route is received
  planning/route_handler/include/route_handler/route_handler.hpp
  planning/route_handler/src/route_handler.cpp
Labels: planning, run-build-and-test-differential

#4531 chore(route_handler): add takayuki5168 to route handler code owner
  planning/route_handler/package.xml
Labels: planning, run-build-and-test-differential

#4522 chore(tier4_simulator_launch): launch camera and V2X fusion module in simple planning simulator
  launch/tier4_simulator_launch/launch/simulator.launch.xml
Labels: launch, run-build-and-test-differential

#4534 feat(lane_change): remove unused parameters
  planning/behavior_path_planner/config/lane_change/lane_change.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/parameters.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
Labels: planning, run-build-and-test-differential

#4527 feat(dynamic_avoidance): precise cut-out decision
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/dynamic_avoidance/dynamic_avoidance_module.hpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/dynamic_avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/manager.cpp
Labels: planning, run-build-and-test-differential, openai-pr-reviewer

#4535 fix(behavior_path_planner): avoid infinity loop of polygons concatenation
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning, run-build-and-test-differential

#4517 chore(ci): ignore perception/bytetrack/lib in spell-check-partial
  .cspell-partial.json
Labels: run-build-and-test-differential

#4518 refactor(interface): rebuild state transition
  planning/behavior_path_planner/include/behavior_path_planner/module_status.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/dynamic_avoidance/dynamic_avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/goal_planner_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/side_shift/side_shift_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/start_planner/start_planner_module.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
Labels: planning, run-build-and-test-differential

#4347 feat(localization): add a new localization package `ar_tag_based_localizer`
  launch/tier4_localization_launch/launch/pose_twist_estimator/ar_tag_based_localizer.launch.xml
  launch/tier4_localization_launch/launch/pose_twist_estimator/pose_twist_estimator.launch.xml
  launch/tier4_localization_launch/package.xml
  localization/ar_tag_based_localizer/CMakeLists.txt
  localization/ar_tag_based_localizer/README.md
  localization/ar_tag_based_localizer/config/ar_tag_based_localizer.param.yaml
  localization/ar_tag_based_localizer/config/tag_tf_caster.param.yaml
  localization/ar_tag_based_localizer/doc_image/ar_tag_image.png
  localization/ar_tag_based_localizer/doc_image/lanelet2_data_structure.drawio.svg
  localization/ar_tag_based_localizer/doc_image/node_diagram.drawio.svg
  localization/ar_tag_based_localizer/doc_image/principle.png
  localization/ar_tag_based_localizer/doc_image/sample_result.png
  localization/ar_tag_based_localizer/include/ar_tag_based_localizer/ar_tag_based_localizer_core.hpp
  localization/ar_tag_based_localizer/include/ar_tag_based_localizer/tag_tf_caster_core.hpp
  localization/ar_tag_based_localizer/include/ar_tag_based_localizer/utils.hpp
  localization/ar_tag_based_localizer/launch/ar_tag_based_localizer.launch.xml
  localization/ar_tag_based_localizer/launch/tag_tf_caster.launch.xml
  localization/ar_tag_based_localizer/package.xml
  localization/ar_tag_based_localizer/src/ar_tag_based_localizer_core.cpp
  localization/ar_tag_based_localizer/src/ar_tag_based_localizer_node.cpp
  localization/ar_tag_based_localizer/src/tag_tf_caster_core.cpp
  localization/ar_tag_based_localizer/src/tag_tf_caster_node.cpp
  localization/ar_tag_based_localizer/src/utils.cpp
Labels: documentation, localization, launch, run-build-and-test-differential

#4542 fix(planner_manager): don't skip waiting approval module
  planning/behavior_path_planner/src/planner_manager.cpp
Labels: planning, run-build-and-test-differential

#4539 fix(accel_brake_map_calibrator_button_panel): fix calibration service name
  common/tier4_calibration_rviz_plugin/src/accel_brake_map_calibrator_button_panel.cpp
Labels: common, run-build-and-test-differential

#4541 feat(avoidance): prevent smoother undershoot
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning, run-build-and-test-differential

#4402 refactor(detected_object_validation): add an option for filtering and validation
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/lidar_based_detection.launch.xml
  launch/tier4_perception_launch/launch/occupancy_grid_map/probabilistic_occupancy_grid_map.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
  perception/detected_object_validation/CMakeLists.txt
  perception/detected_object_validation/launch/occupancy_grid_based_validator.launch.xml
  perception/probabilistic_occupancy_grid_map/launch/laserscan_based_occupancy_grid_map.launch.py
Labels: perception, launch, run-build-and-test-differential

#4308 feat(routing_no_drivable_lane_when_module_enabled): add solution for routing no_drivable_lane only when module enabled
  planning/mission_planner/README.md
  planning/mission_planner/config/mission_planner.param.yaml
  planning/mission_planner/src/lanelet2_plugins/default_planner.cpp
  planning/mission_planner/src/lanelet2_plugins/default_planner.hpp
  planning/route_handler/include/route_handler/route_handler.hpp
  planning/route_handler/src/route_handler.cpp
Labels: documentation, planning, run-build-and-test-differential

#4532 fix(behavior_path_planner): fix getExtendedCurrentLanes
  planning/behavior_path_planner/include/behavior_path_planner/utils/utils.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
  planning/behavior_path_planner/src/utils/goal_planner/geometric_pull_over.cpp
  planning/behavior_path_planner/src/utils/goal_planner/goal_searcher.cpp
  planning/behavior_path_planner/src/utils/goal_planner/shift_pull_over.cpp
  planning/behavior_path_planner/src/utils/start_planner/geometric_pull_out.cpp
  planning/behavior_path_planner/src/utils/start_planner/shift_pull_out.cpp
  planning/behavior_path_planner/src/utils/start_planner/util.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning, run-build-and-test-differential, openai-pr-reviewer

#4545 feat(dynamic_avoidance): consider shifting objects
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/dynamic_avoidance/dynamic_avoidance_module.hpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/dynamic_avoidance_module.cpp
Labels: planning, run-build-and-test-differential

#4547 feat(dynamic_avoidance): use decision with reason
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/dynamic_avoidance/dynamic_avoidance_module.hpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/dynamic_avoidance_module.cpp
Labels: planning, run-build-and-test-differential

#4548 feat(dynamic_avoidance): ignore oncoming crossing object
  planning/behavior_path_planner/config/dynamic_avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/dynamic_avoidance/dynamic_avoidance_module.hpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/dynamic_avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/manager.cpp
Labels: planning, run-build-and-test-differential

#4198 fix(behavior_path_planner): make use of the avoid_linestring.distance parameter
  planning/behavior_path_planner/src/utils/drivable_area_expansion/expansion.cpp
Labels: planning, run-build-and-test-differential

#4551 fix(crosswalk): set distance even when decision is GO
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
Labels: planning, run-build-and-test-differential

#4543 feat(behavior_path_planner): add reroute availability publisher
  planning/behavior_path_planner/include/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/include/behavior_path_planner/planner_manager.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
Labels: planning, run-build-and-test-differential

#4398 feat(avoidance): enable avoidance cancel
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/docs/behavior_path_planner_avoidance_design.md
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/manager.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/manager.cpp
Labels: documentation, planning, run-build-and-test-differential

#4556 fix(lane_change): add distance check for the lane change acceleration sampling
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
Labels: planning, run-build-and-test-differential

#4560 feat(goal_planner): visualize planner type even when goal is not found
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
Labels: planning, run-build-and-test-differential

#4558 fix(start_planner): add missing change of "do not request when modifed route is received #4528"
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
Labels: planning, run-build-and-test-differential

#4562 feat(goal_planner): add life time to debug markers
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
Labels: planning, run-build-and-test-differential

#4561 fix(start_planner): plan freespace pull over even if any path has never been found
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
Labels: planning, run-build-and-test-differential

#4564 feat(mission_planner): add a guard for rerouting while not following lane
  planning/mission_planner/package.xml
  planning/mission_planner/src/mission_planner/mission_planner.cpp
  planning/mission_planner/src/mission_planner/mission_planner.hpp
Labels: planning, run-build-and-test-differential

#4057 fix(image_projection_based_fusion): fix out-of-scope error
  perception/image_projection_based_fusion/include/image_projection_based_fusion/roi_detected_object_fusion/node.hpp
  perception/image_projection_based_fusion/src/roi_detected_object_fusion/node.cpp
Labels: perception, run-build-and-test-differential, openai-pr-reviewer

#4565 refactor(mission_planner): use snake case instead of camel case
  planning/mission_planner/src/mission_planner/mission_planner.cpp
  planning/mission_planner/src/mission_planner/mission_planner.hpp
Labels: planning, run-build-and-test-differential

#4566 feat(dynamic_avoidance): use hatched road markings
  planning/behavior_path_planner/config/dynamic_avoidance/dynamic_avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/dynamic_avoidance/dynamic_avoidance_module.hpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/dynamic_avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/manager.cpp
Labels: planning, run-build-and-test-differential

#4568 fix(route_handler): fix getRouteUuid to return initial value when route is not set
  planning/route_handler/src/route_handler.cpp
Labels: planning, run-build-and-test-differential

#4572 chore(image_projection_based_fusion): change to throttle log
  perception/image_projection_based_fusion/src/fusion_node.cpp
Labels: perception, run-build-and-test-differential

#4574 feat(planning_debug_tools): add perception_replayer.py
  planning/planning_debug_tools/CMakeLists.txt
  planning/planning_debug_tools/Readme.md
  planning/planning_debug_tools/scripts/perception_replayer/perception_replayer.py
  planning/planning_debug_tools/scripts/perception_replayer/perception_replayer_common.py
  planning/planning_debug_tools/scripts/perception_replayer/perception_reproducer.py
  planning/planning_debug_tools/scripts/perception_replayer/time_manager_widget.py
  planning/planning_debug_tools/scripts/perception_replayer/utils.py
  planning/planning_debug_tools/scripts/perception_reproducer.py
Labels: documentation, planning, run-build-and-test-differential

#4570 chore(radar_tracks_msgs_converter): change to throttle log
  perception/radar_tracks_msgs_converter/src/radar_tracks_msgs_converter_node/radar_tracks_msgs_converter_node.cpp
Labels: perception, run-build-and-test-differential

#4544 feat(image_projection_based_fusion): update pointpainting
  perception/image_projection_based_fusion/CMakeLists.txt
  perception/image_projection_based_fusion/config/pointpainting.param.yaml
  perception/image_projection_based_fusion/launch/pointpainting_fusion.launch.xml
  perception/image_projection_based_fusion/src/pointpainting_fusion/node.cpp
  perception/image_projection_based_fusion/src/pointpainting_fusion/preprocess_kernel.cu
  perception/image_projection_based_fusion/src/utils/utils.cpp
Labels: perception, run-build-and-test-differential, openai-pr-reviewer

#4546 feat(image_projection_based_fusion): add objects filter by rois
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_fusion_based_detection.launch.xml
  perception/image_projection_based_fusion/config/roi_detected_object_fusion.param.yaml
  perception/image_projection_based_fusion/docs/roi-detected-object-fusion.md
  perception/image_projection_based_fusion/include/image_projection_based_fusion/roi_detected_object_fusion/node.hpp
  perception/image_projection_based_fusion/launch/roi_detected_object_fusion.launch.xml
  perception/image_projection_based_fusion/package.xml
  perception/image_projection_based_fusion/src/roi_detected_object_fusion/node.cpp
Labels: documentation, perception, launch, run-build-and-test-differential, openai-pr-reviewer

#4575 feat(planning_debug_tools): manage time of perception_replayer by slider
  planning/planning_debug_tools/scripts/perception_replayer/perception_replayer.py
  planning/planning_debug_tools/scripts/perception_replayer/time_manager_widget.py
Labels: planning, run-build-and-test-differential

#4580 chore(behavior_velocity_intersection_module): fix spell-check errors
  planning/behavior_velocity_intersection_module/README.md
Labels: documentation, planning, run-build-and-test-differential

#4581 chore(multi_object_tracker): fix spell-check errors
  perception/multi_object_tracker/include/multi_object_tracker/utils/utils.hpp
  perception/multi_object_tracker/models.md
Labels: documentation, perception, run-build-and-test-differential

#4536 feat(avoidance): output unconfortable path with unsafe state
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/manager.cpp
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
Labels: planning, run-build-and-test-differential

#4569 fix(scnenario_selector): prevent changing scneario when same uuid route is received
  planning/scenario_selector/src/scenario_selector_node/scenario_selector_node.cpp
Labels: planning, run-build-and-test-differential

#4587 fix(avoidance): remove unexpected comment out
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning, run-build-and-test-differential

#4259 fix(behavior_path_planner): fix bad dynamic drivable area expansion at path extremities
  planning/behavior_path_planner/include/behavior_path_planner/utils/drivable_area_expansion/drivable_area_expansion.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/drivable_area_expansion/expansion.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/drivable_area_expansion/footprints.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/drivable_area_expansion/map_utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/drivable_area_expansion/types.hpp
  planning/behavior_path_planner/src/utils/drivable_area_expansion/drivable_area_expansion.cpp
  planning/behavior_path_planner/src/utils/drivable_area_expansion/expansion.cpp
  planning/behavior_path_planner/src/utils/drivable_area_expansion/footprints.cpp
  planning/behavior_path_planner/src/utils/drivable_area_expansion/map_utils.cpp
  planning/behavior_path_planner/test/test_drivable_area_expansion.cpp
Labels: planning, run-build-and-test-differential

#4589 fix(behavior_velocity_crosswalk_module): prevent to access null stop_factor
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
Labels: planning, run-build-and-test-differential

#4586 feat(map_projection_loader): add backward compatibility for local map
  map/map_projection_loader/src/load_info_from_lanelet2_map.cpp
  map/map_projection_loader/test/test_load_info_from_lanelet2_map.cpp
Labels: map, run-build-and-test-differential

#4519 refactor(initial_pose_button_panel): delete intial_pose_button_panel
  localization/initial_pose_button_panel/CMakeLists.txt
  localization/initial_pose_button_panel/README.md
  localization/initial_pose_button_panel/media/initialize_button.png
  localization/initial_pose_button_panel/package.xml
  localization/initial_pose_button_panel/plugins/plugin_description.xml
  localization/initial_pose_button_panel/src/initial_pose_button_panel.cpp
  localization/initial_pose_button_panel/src/initial_pose_button_panel.hpp
Labels: documentation, localization, run-build-and-test-differential

#4598 feat(dynamic_avoidance): object polygon based drivable area generation
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/dynamic_avoidance/dynamic_avoidance_module.hpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/dynamic_avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/manager.cpp
Labels: planning, run-build-and-test-differential

#4600 feat(obstacle_avoidance_planner): faster optimization by sparser re-formulation
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/mpt_optimizer.hpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/state_equation_generator.hpp
  planning/obstacle_avoidance_planner/src/mpt_optimizer.cpp
  planning/obstacle_avoidance_planner/src/state_equation_generator.cpp
Labels: planning, run-build-and-test-differential

#4605 feat(obstacle_avoidance_planner): add depth argument in plotter
  planning/obstacle_avoidance_planner/scripts/calculation_time_plotter.py
Labels: planning, run-build-and-test-differential

#4604 feat(route_handler): support shoulder lane in getLeft(Right)Lanelet
  planning/route_handler/src/route_handler.cpp
Labels: planning, run-build-and-test-differential

#4613 chore(scenario_selector): fix typo
  planning/scenario_selector/src/scenario_selector_node/scenario_selector_node.cpp
Labels: planning, run-build-and-test-differential

#4606 fix(avoidance): fix dying with empty lanes
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
Labels: planning, run-build-and-test-differential

#4611 feat(lane_departure_checker): add maintainer
  control/lane_departure_checker/package.xml
Labels: control, run-build-and-test-differential

#4573 fix(behavior_path_planner): change skip updataData() process condition
  planning/behavior_path_planner/src/scene_module/side_shift/side_shift_module.cpp
Labels: planning, run-build-and-test-differential

#4618 feat(map_based_prediction): plan paths of objects outside the lanelets.
  perception/map_based_prediction/include/map_based_prediction/map_based_prediction_node.hpp
  perception/map_based_prediction/package.xml
  perception/map_based_prediction/src/map_based_prediction_node.cpp
Labels: perception, run-build-and-test-differential

#4626 fix(behavior_path_planner): add guard to combineDrivableLanes
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning, run-build-and-test-differential

#4621 docs(traffic_light_multi_camera_fusion): fix broken table display
  perception/traffic_light_multi_camera_fusion/README.md
Labels: documentation, perception, run-build-and-test-differential

#4622 fix(behavior_path_planner): fix simultaneous execution
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_manager_interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/start_planner/manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/start_planner/start_planner_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/goal_planner/util.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/scene_module/goal_planner/manager.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/manager.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
  planning/behavior_path_planner/src/utils/goal_planner/util.cpp
Labels: planning, run-build-and-test-differential

#4607 feat(lane_departure_checker): add road_border departure checker
  control/lane_departure_checker/README.md
  control/lane_departure_checker/config/lane_departure_checker.param.yaml
  control/lane_departure_checker/include/lane_departure_checker/lane_departure_checker.hpp
  control/lane_departure_checker/include/lane_departure_checker/lane_departure_checker_node.hpp
  control/lane_departure_checker/src/lane_departure_checker_node/lane_departure_checker.cpp
  control/lane_departure_checker/src/lane_departure_checker_node/lane_departure_checker_node.cpp
Labels: documentation, control, run-build-and-test-differential

#4624 feat(map_based_prediction): consider opposite lanelets path planning
  perception/map_based_prediction/include/map_based_prediction/map_based_prediction_node.hpp
  perception/map_based_prediction/src/map_based_prediction_node.cpp
Labels: perception, run-build-and-test-differential

#4608 perf(obstacle_avoidance_planner): smaller calculation time
  planning/obstacle_avoidance_planner/config/obstacle_avoidance_planner.param.yaml
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/debug_marker.hpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/mpt_optimizer.hpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/node.hpp
  planning/obstacle_avoidance_planner/scripts/calculation_time_plotter.py
  planning/obstacle_avoidance_planner/src/debug_marker.cpp
  planning/obstacle_avoidance_planner/src/mpt_optimizer.cpp
  planning/obstacle_avoidance_planner/src/node.cpp
Labels: planning, run-build-and-test-differential

#4615 feat(planning_debug_tools): capture slider handle independently of mouse cursor
  planning/planning_debug_tools/scripts/perception_replayer/perception_reproducer.py
  planning/planning_debug_tools/scripts/perception_replayer/time_manager_widget.py
Labels: planning, run-build-and-test-differential

#4619 feat(probabilistic_occupancy_grid_map): add launch test and gtest for future debugging
  perception/probabilistic_occupancy_grid_map/CMakeLists.txt
  perception/probabilistic_occupancy_grid_map/launch/pointcloud_based_occupancy_grid_map.launch.py
  perception/probabilistic_occupancy_grid_map/package.xml
  perception/probabilistic_occupancy_grid_map/test/test_pointcloud_based_method.py
  perception/probabilistic_occupancy_grid_map/test/test_utils.cpp
Labels: perception, run-build-and-test-differential

#4623 fix(documents for behavior path planner): change output_debug_marker to publish debug marker following code changes.
  planning/behavior_path_planner/docs/behavior_path_planner_avoidance_design.md
Labels: documentation, planning, run-build-and-test-differential

#4609 feat(avoidance): reduce road shoulder margin if lateral distance is not enough to avoid
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/manager.cpp
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
Labels: planning, run-build-and-test-differential

#4625 fix(behavior_velocity_crosswalk_module): fix links to images
  planning/behavior_velocity_crosswalk_module/README.md
Labels: documentation, planning, run-build-and-test-differential

#4628 fix(avoidance): add gurard to generateTotalShiftLine
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning, run-build-and-test-differential

#4631 chore(ci): disable spell-check-partial for control directory
  .cspell-partial.json
Labels: run-build-and-test-differential

#4633 fix(avoidance): add guard for empty path in updateData
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning, run-build-and-test-differential

#4588 fix(planner_manager): don't back waiting approval besides last one in approved modules
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/planner_manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/src/planner_manager.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/manager.cpp
Labels: planning, run-build-and-test-differential

#4553 fix(system_monitor): extend command line to display
  system/system_monitor/include/system_monitor/process_monitor/diag_task.hpp
  system/system_monitor/src/process_monitor/process_monitor.cpp
Labels: enhancement, system, run-build-and-test-differential

#4635 fix(traffic_light_arbiter): use the shape as a key to find the highest confidence signal
  perception/traffic_light_arbiter/src/traffic_light_arbiter.cpp
Labels: perception, run-build-and-test-differential

#4525 feat(avoidance): create detection area from latest generated path
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/marker_utils/avoidance/debug.hpp
  planning/behavior_path_planner/include/behavior_path_planner/marker_utils/utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/utils.hpp
  planning/behavior_path_planner/src/marker_utils/avoidance/debug.cpp
  planning/behavior_path_planner/src/marker_utils/utils.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/manager.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/manager.cpp
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
Labels: planning, run-build-and-test-differential

#4632 fix(avoidance): fix trimmed shift line alignment
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning, run-build-and-test-differential

#4644 refactor(behavior_path_planner): create path_safety_checker directory
  planning/behavior_path_planner/CMakeLists.txt
  planning/behavior_path_planner/docs/behavior_path_planner_safety_check.md
  planning/behavior_path_planner/image/path_safety_checker/extended_polygons.drawio.svg
  planning/behavior_path_planner/image/path_safety_checker/front_object.drawio.svg
  planning/behavior_path_planner/image/path_safety_checker/safety_check_flow.drawio.svg
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_safety_checker/safety_check.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/utils.hpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
  planning/behavior_path_planner/src/utils/path_safety_checker/safety_check.cpp
  planning/behavior_path_planner/test/test_lane_change_utils.cpp
  planning/behavior_path_planner/test/test_safety_check.cpp
Labels: documentation, planning, run-build-and-test-differential

#4651 feat(intersection): consider object velocity direction
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/util.cpp
Labels: planning, run-build-and-test-differential

#4650 feat(occlusion spot): consider object velocity direction
  planning/behavior_velocity_occlusion_spot_module/src/occlusion_spot_utils.cpp
Labels: planning, run-build-and-test-differential

#4649 feat(obstacle_velocity_limiter): consider object velocity direction
  planning/obstacle_velocity_limiter/src/obstacles.cpp
Labels: planning, run-build-and-test-differential

#4647 feat(obstacle_cruise_planner): consider object velocity direction
  planning/obstacle_cruise_planner/src/node.cpp
Labels: planning, run-build-and-test-differential

#4616 feat(pid_longitudinal_controller): take into account the current acceleration to calculate delayed pose
  control/pid_longitudinal_controller/include/pid_longitudinal_controller/longitudinal_controller_utils.hpp
  control/pid_longitudinal_controller/src/longitudinal_controller_utils.cpp
  control/pid_longitudinal_controller/src/pid_longitudinal_controller.cpp
  control/pid_longitudinal_controller/test/test_longitudinal_controller_utils.cpp
Labels: control, run-build-and-test-differential

#4457 fix(intersection): refactor first stop timeout
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
Labels: planning, run-build-and-test-differential

#4655 fix(intersection): guard invalid access
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
Labels: planning, run-build-and-test-differential

#3992 refactor(joy_controller): rework parameters
  control/joy_controller/config/joy_controller.param.yaml
  control/joy_controller/schema/joy_controller.schema.json
Labels: control, run-build-and-test-differential

#4363 fix(start_planner): fix blinker direction
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
Labels: planning, run-build-and-test-differential

#4653 fix(planning_debug_tools): fix the bug of perception_replayer with detected objects publishing
  planning/planning_debug_tools/scripts/perception_replayer/perception_replayer.py
Labels: planning, run-build-and-test-differential

#4654 fix(system_monitor): high-memory process are not provided in MEM order
  system/system_monitor/src/process_monitor/process_monitor.cpp
Labels: bug, system, run-build-and-test-differential

#4658 refactor(behavior_path_planner): separete function in utils to objects_filtering
  planning/behavior_path_planner/CMakeLists.txt
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/normal.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_safety_checker/objects_filtering.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_safety_checker/path_safety_checker_parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_safety_checker/safety_check.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/utils.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/avoidance_by_lane_change.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
  planning/behavior_path_planner/src/utils/goal_planner/goal_searcher.cpp
  planning/behavior_path_planner/src/utils/path_safety_checker/objects_filtering.cpp
  planning/behavior_path_planner/src/utils/path_safety_checker/safety_check.cpp
  planning/behavior_path_planner/src/utils/start_planner/geometric_pull_out.cpp
  planning/behavior_path_planner/src/utils/start_planner/shift_pull_out.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
  planning/behavior_path_planner/test/test_safety_check.cpp
Labels: planning, run-build-and-test-differential

#4659 fix(ekf_localizer): fix True to true
  localization/ekf_localizer/config/ekf_localizer.param.yaml
Labels: localization, run-build-and-test-differential

#4661 fix: ekf localizer param
  launch/tier4_localization_launch/launch/pose_twist_fusion_filter/pose_twist_fusion_filter.launch.xml
  localization/ekf_localizer/launch/ekf_localizer.launch.xml
Labels: localization, launch

#4585 fix(map_loader, map_projection_loader): use component interface specs
  launch/tier4_map_launch/launch/map.launch.py
  map/map_loader/include/map_loader/lanelet2_map_loader_node.hpp
  map/map_loader/package.xml
  map/map_loader/src/lanelet2_map_loader/lanelet2_map_loader_node.cpp
  map/map_projection_loader/include/map_projection_loader/map_projection_loader.hpp
  map/map_projection_loader/launch/map_projection_loader.launch.xml
  map/map_projection_loader/package.xml
  map/map_projection_loader/src/map_projection_loader.cpp
  map/map_projection_loader/test/test_node_load_local_from_yaml.test.py
  map/map_projection_loader/test/test_node_load_mgrs_from_yaml.test.py
  map/map_projection_loader/test/test_node_load_utm_from_yaml.test.py
Labels: map, launch, run-build-and-test-differential

#4593 fix(avoidance): don't extend backward path if driving lane is updated
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning, run-build-and-test-differential

#4646 fix(behavior_path_planner): add fallback for splitting the dynamic drivable area into left and right bounds
  planning/behavior_path_planner/src/utils/drivable_area_expansion/drivable_area_expansion.cpp
  planning/behavior_path_planner/test/test_drivable_area_expansion.cpp
Labels: planning, run-build-and-test-differential

#4657 feat(behavior_path_planner): add combineLanelets
  planning/behavior_path_planner/include/behavior_path_planner/utils/utils.hpp
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning, run-build-and-test-differential

#4668 feat(goal_planner): add lane ids to freespace path
  planning/behavior_path_planner/include/behavior_path_planner/utils/goal_planner/freespace_pull_over.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_utils.hpp
  planning/behavior_path_planner/src/utils/goal_planner/freespace_pull_over.cpp
  planning/behavior_path_planner/src/utils/path_utils.cpp
Labels: planning, run-build-and-test-differential

#4648 feat(obstacle_stop_planner): consider object velocity direction
  planning/obstacle_stop_planner/src/adaptive_cruise_control.cpp
Labels: planning, run-build-and-test-differential

#4610 feat(start_planner): support freespace pull out
  planning/behavior_path_planner/CMakeLists.txt
  planning/behavior_path_planner/config/start_planner/start_planner.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/start_planner/start_planner_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/freespace_pull_out.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/pull_out_planner_base.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/start_planner_parameters.hpp
  planning/behavior_path_planner/src/scene_module/start_planner/manager.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
  planning/behavior_path_planner/src/utils/start_planner/freespace_pull_out.cpp
Labels: planning, run-build-and-test-differential

#4672 fix(start/goal_planner): set previous lane_ids if freespace path is out of lanes
  planning/behavior_path_planner/src/utils/path_utils.cpp
Labels: planning, run-build-and-test-differential

#4673 fix(mpc): use optimization result when polish failed
  control/mpc_lateral_controller/src/qp_solver/qp_solver_osqp.cpp
  control/mpc_lateral_controller/test/test_mpc.cpp
Labels: control, run-build-and-test-differential

#4666 feat(mpc): 1d interpolate in steering rate limit calculation
  control/mpc_lateral_controller/include/mpc_lateral_controller/mpc.hpp
  control/mpc_lateral_controller/src/mpc.cpp
Labels: control, run-build-and-test-differential

#4639 fix(lanelet2_map_loader): fixed parameter declaration timing
  map/map_loader/src/lanelet2_map_loader/lanelet2_map_loader_node.cpp
Labels: map, run-build-and-test-differential

#4662 ci: reverting control ignorance
  .cspell-partial.json
Labels: run-build-and-test-differential

#4676 fix(compare_map_segmentation): fix process died for invalid access
  perception/compare_map_segmentation/include/compare_map_segmentation/voxel_grid_map_loader.hpp
Labels: perception, run-build-and-test-differential, openai-pr-reviewer
