Repository autowarefoundation/autoware_universe, pull requests merged in 2023-04, with the labels that each got.

#3231 feat(behavior_path_planner): fix minimum prepare speed
  planning/behavior_path_planner/src/util/lane_change/util.cpp
Labels: planning

#3243 fix(crop_box_filter): invalid bool -> float -> bool conversion
  sensing/pointcloud_preprocessor/src/crop_box_filter/crop_box_filter_nodelet.cpp
Labels: sensing

#3169 refactor(lidar_apollo_segmentation_tvm): remove unused depend
  perception/lidar_apollo_segmentation_tvm/package.xml
Labels: perception

#3251 fix(tier4_perception_launch): add missing parameter for voxel based compare map filter
  launch/tier4_perception_launch/launch/object_recognition/detection/pointcloud_map_filter.launch.py
Labels: launch

#3253 feat(motion_utils): add new interpolation function
  common/motion_utils/include/motion_utils/trajectory/interpolation.hpp
  common/motion_utils/test/src/trajectory/test_interpolation.cpp
Labels: common

#3254 feat(behavior_path_planner): use util funcitons for interpolation
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/src/path_utilities.cpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#3248 fix(autonomous_emergency_braking): publish debug marker on base_link frame
  control/autonomous_emergency_braking/src/node.cpp
Labels: control

#3256 refactor(behavior_velocity_planner): remove unused "findEgoIndex"
  planning/behavior_velocity_planner/include/scene_module/scene_module_interface.hpp
Labels: planning

#3203 fix(planner_manager): don't use failure module output
  planning/behavior_path_planner/src/planner_manager.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
Labels: planning

#3255 refactor(behavior_path_planner): use perception utils for interpolation
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/package.xml
  planning/behavior_path_planner/src/util/lane_change/util.cpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#3257 fix(lane_change): guard invalid lc start point
  planning/behavior_path_planner/src/util/lane_change/util.cpp
Labels: planning

#3258 refactor(behavior_path_planner): use to polygon2d function
  planning/behavior_path_planner/src/util/lane_change/util.cpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#3246 refactor(behavior_path_planner): clean the code of common drivable area generation
  planning/behavior_path_planner/src/util/lane_change/util.cpp
Labels: planning

#3247 fix(behavior_path_planner): use computed acceleration rather than sampled acceleration
  planning/behavior_path_planner/src/util/lane_change/util.cpp
Labels: planning

#3260 fix(behavior_path_planner): fix overlapping function usage in parking
  planning/behavior_path_planner/src/util/geometric_parallel_parking/geometric_parallel_parking.cpp
Labels: planning

#3242 refactor(behavior_path_planner): unify rtc_interface_ptr in SceneModuleInterface
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/lane_change_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_out/manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_out/pull_out_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/pull_over_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_manager_interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/side_shift/manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/side_shift/side_shift_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/manager.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/external_request_lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/manager.cpp
  planning/behavior_path_planner/src/scene_module/lane_following/lane_following_module.cpp
  planning/behavior_path_planner/src/scene_module/pull_out/manager.cpp
  planning/behavior_path_planner/src/scene_module/pull_out/pull_out_module.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/manager.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/pull_over_module.cpp
  planning/behavior_path_planner/src/scene_module/side_shift/manager.cpp
  planning/behavior_path_planner/src/scene_module/side_shift/side_shift_module.cpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#3241 refactor(behavior_path_planner): unify onEntry/Exit function
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/external_request_lane_change_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/lane_change_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_following/lane_following_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_out/pull_out_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/pull_over_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/side_shift/side_shift_module.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/external_request_lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_following/lane_following_module.cpp
  planning/behavior_path_planner/src/scene_module/pull_out/pull_out_module.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/pull_over_module.cpp
  planning/behavior_path_planner/src/scene_module/side_shift/side_shift_module.cpp
Labels: planning

#3250 fix(mission_planner): add route loop check
  planning/route_handler/src/route_handler.cpp
Labels: planning

#3261 fix(static_centerline_optimizer): fix rviz for fooptrint
  planning/static_centerline_optimizer/rviz/static_centerline_optimizer.rviz
Labels: planning

#3267 refactor(behavior_path_planner): remove unnecessary conversion funtion
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/src/utilities.cpp
  planning/behavior_path_planner/test/test_utilities.cpp
Labels: planning

#3259 feat: change external lane change rtc name
  common/rtc_manager_rviz_plugin/src/rtc_manager_panel.cpp
  planning/behavior_path_planner/config/scene_module_manager.param.yaml
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/rtc_auto_mode_manager/config/rtc_auto_mode_manager.param.yaml
  planning/rtc_auto_mode_manager/src/rtc_auto_mode_manager_interface.cpp
  planning/rtc_interface/src/rtc_interface.cpp
Labels: planning, common

#3270 fix(behavior_path_planner): fix distance from original goal of goal search
  planning/behavior_path_planner/src/util/pull_over/goal_searcher.cpp
Labels: planning

#3271 refactor(behavior_path_planner): remove unnecessary functions
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/src/util/geometric_parallel_parking/geometric_parallel_parking.cpp
  planning/behavior_path_planner/src/utilities.cpp
  planning/behavior_path_planner/test/test_utilities.cpp
Labels: planning

#3265 fix(behavior_path_planner): fix path conversion
  planning/behavior_path_planner/include/behavior_path_planner/util/lane_change/util.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/external_request_lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/util/lane_change/util.cpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#3272 feat(motion_utils): add new insert stop point function
  common/motion_utils/include/motion_utils/trajectory/trajectory.hpp
  common/motion_utils/test/src/trajectory/test_trajectory.cpp
Labels: common

#3175 feat(behavior_velocity_planner::blind_spot): consider adjacent lane
  planning/behavior_velocity_planner/blind-spot-design.md
  planning/behavior_velocity_planner/config/blind_spot.param.yaml
  planning/behavior_velocity_planner/docs/blind_spot/bliind-spot.drawio.svg
  planning/behavior_velocity_planner/include/scene_module/blind_spot/scene.hpp
  planning/behavior_velocity_planner/src/scene_module/blind_spot/debug.cpp
  planning/behavior_velocity_planner/src/scene_module/blind_spot/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/blind_spot/scene.cpp
Labels: documentation, planning

#3281 chore(tier4_perception_launch): add custom parameters for roi_cluster_fusion
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detection.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
Labels: launch

#3249 feat(behavior_path_planner): change method to combine drivable lanes
  planning/behavior_path_planner/include/behavior_path_planner/util/lane_change/util.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/util/lane_change/util.cpp
Labels: planning

#3279 fix(behavior_path_planner): insert stop point for lane
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/external_request_lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#3283 refactor(behavior_path_planner): remove toPolygon functions
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/util/avoidance/util.cpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#3289 feat(tier4_autoware_utils): add toBoundingBox function
  common/tier4_autoware_utils/include/tier4_autoware_utils/geometry/boost_polygon_utils.hpp
  common/tier4_autoware_utils/src/geometry/boost_polygon_utils.cpp
  common/tier4_autoware_utils/test/src/geometry/test_boost_polygon_utils.cpp
Labels: common

#3284 fix(behavior_path_planner): fix the bug of short bound
  planning/behavior_path_planner/src/util/lane_change/util.cpp
Labels: planning

#3288 fix(obstacle_stop_planner): obstacle after goal
  planning/obstacle_stop_planner/src/node.cpp
Labels: planning

#3282 fix(behavior_path): add removeInvalidOrientationPoints to motion_utils for path shifter on a curve
  common/motion_utils/include/motion_utils/trajectory/trajectory.hpp
  common/motion_utils/test/src/trajectory/test_trajectory.cpp
  planning/behavior_path_planner/src/util/path_shifter/path_shifter.cpp
Labels: planning, common

#3276 feat(default_ad_api): add a node to show guidance messages depending on the system status
  system/default_ad_api/CMakeLists.txt
  system/default_ad_api/README.md
  system/default_ad_api/script/guide.py
Labels: documentation, system

#3290 refactor(behavior_path_planner): remove to bounding box
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#3275 fix(avoidance): remove unnecessary shift line
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#3125 feat(avoidance_by_lc): add new module to avoid obstacle by lane change
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.py
  planning/behavior_path_planner/CMakeLists.txt
  planning/behavior_path_planner/config/avoidance_by_lc/avoidance_by_lc.param.yaml
  planning/behavior_path_planner/config/scene_module_manager.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/include/behavior_path_planner/parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance_by_lc/manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance_by_lc/module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_visitor.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/avoidance_by_lc/module_data.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/avoidance_by_lc/manager.cpp
  planning/behavior_path_planner/src/scene_module/avoidance_by_lc/module.cpp
  planning/rtc_interface/src/rtc_interface.cpp
Labels: planning, launch

#3274 fix(map_loader): fix a bug that occurs when loading multiple pcds
  map/map_loader/src/pointcloud_map_loader/pointcloud_map_loader_node.cpp
  map/map_loader/src/pointcloud_map_loader/pointcloud_map_loader_node.hpp
Labels: map

#3236 refactor(behavior_path_planner): delete default values
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
Labels: planning

#3201 refactor(behavior_velocity_planner): delete default values
  planning/behavior_velocity_planner/include/behavior_velocity_planner/planner_data.hpp
  planning/behavior_velocity_planner/include/scene_module/scene_module_interface.hpp
  planning/behavior_velocity_planner/src/node.cpp
  planning/behavior_velocity_planner/src/scene_module/blind_spot/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/crosswalk/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/detection_area/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/no_stopping_area/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/occlusion_spot/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/run_out/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/speed_bump/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/stop_line/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/traffic_light/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/virtual_traffic_light/manager.cpp
Labels: planning

#3280 build(bytetrack): add missing dependencies
  perception/bytetrack/package.xml
Labels: perception

#3296 feat(behavior_path_planner): clean convert function
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#3300 refactor(behavior_path_planner): rename lane change parameters
  planning/behavior_path_planner/config/lane_change/lane_change.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/avoidance_by_lc/module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/external_request_lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/util/lane_change/util.cpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#3303 fix(lane_change): fix build error
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/util/lane_change/util.cpp
Labels: planning

#3295 fix(planner_manager): break while loop when the candidate module fails to generate valid path
  planning/behavior_path_planner/src/planner_manager.cpp
Labels: planning

#3302 refactor(behavior_path_planner): remove overlapping function
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/src/util/geometric_parallel_parking/geometric_parallel_parking.cpp
  planning/behavior_path_planner/src/util/pull_out/util.cpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#3305 refactor(behavior_path_planner): rename lane change variables and parameters
  planning/behavior_path_planner/config/lane_change/lane_change.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance_by_lc/module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/external_request_lane_change_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/lane_change_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/lane_change/util.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/avoidance_by_lc/module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/external_request_lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/util/lane_change/util.cpp
Labels: planning

#3252 fix(ndt_scan_matcher): fix initial pose timestamp for NDT algorithm
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
Labels: localization

#3308 refactor(behavior_path_planner): rename length distance variables
  planning/behavior_path_planner/include/behavior_path_planner/util/lane_change/util.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/src/scene_module/avoidance_by_lc/module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/util/lane_change/util.cpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#3310 chore(perception): workaround for nvcc > 11.6
  perception/lidar_centerpoint/include/lidar_centerpoint/cuda_utils.hpp
  perception/tensorrt_yolo/lib/include/cuda_utils.hpp
Labels: perception

#2835 feat(behavior_path_planner): cog centered path shape planning
  common/motion_utils/CMakeLists.txt
  common/motion_utils/include/motion_utils/trajectory/path_with_lane_id.hpp
  common/motion_utils/include/motion_utils/trajectory/trajectory.hpp
  common/motion_utils/src/trajectory/path_with_lane_id.cpp
  common/motion_utils/test/src/trajectory/test_path_with_lane_id.cpp
  planning/behavior_path_planner/include/behavior_path_planner/parameters.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning, common

#3311 feat(motion_utils): add insert stop point function from point
  common/motion_utils/include/motion_utils/trajectory/trajectory.hpp
  common/motion_utils/test/src/trajectory/test_trajectory.cpp
Labels: common

#3313 refactor(behavior_path_planner): use tier4_autoware_utils::updateParam
  planning/behavior_path_planner/include/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
Labels: planning

#3316 refactor(behavior_velocity_planner): use common utils functions
  planning/behavior_velocity_planner/include/utilization/util.hpp
  planning/behavior_velocity_planner/src/scene_module/detection_area/scene.cpp
  planning/behavior_velocity_planner/src/utilization/util.cpp
Labels: planning

#3317 refactor(behavior_path_planner): use tier4_autoware_utils::toHexString
  planning/behavior_path_planner/include/behavior_path_planner/util/avoidance/util.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance_by_lc/module.cpp
  planning/behavior_path_planner/src/util/avoidance/util.cpp
  planning/behavior_path_planner/src/util/lane_change/util.cpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#3319 refactor(avoidance): remove unused utils
  planning/behavior_path_planner/include/behavior_path_planner/util/avoidance/util.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/src/marker_util/avoidance/debug.cpp
  planning/behavior_path_planner/src/marker_util/debug_utilities.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/side_shift/side_shift_module.cpp
  planning/behavior_path_planner/src/util/avoidance/util.cpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#3325 refactor(behavior_velocity_planner): use utils for interpolation
  planning/behavior_velocity_planner/src/utilization/util.cpp
Labels: planning

#3323 feat(behavior_path_planner): clean lane change code
  planning/behavior_path_planner/include/behavior_path_planner/util/lane_change/util.hpp
  planning/behavior_path_planner/src/util/lane_change/util.cpp
Labels: planning

#3324 fix(behavior_path_planner): fix a ego footprint creation function
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/src/util/lane_change/util.cpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#3304 feat(behavior_path_planner): add new lateral acc condition
  planning/behavior_path_planner/config/lane_change/lane_change.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/util/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/util/lane_change/util.cpp
Labels: planning

#3315 fix(lane_change): prevent cancel at end of lane
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
Labels: planning

#3328 chore(mission_planner): add code owners
  planning/mission_planner/package.xml
Labels: planning

#3191 feat(behavior_velocity_planner): add out of lane module
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.py
  planning/behavior_velocity_planner/CMakeLists.txt
  planning/behavior_velocity_planner/README.md
  planning/behavior_velocity_planner/docs/out_of_lane/out_of_lane-footprints_other_lanes_overlaps_ranges.png
  planning/behavior_velocity_planner/docs/out_of_lane/out_of_lane_slow.png
  planning/behavior_velocity_planner/docs/out_of_lane/out_of_lane_stop.png
  planning/behavior_velocity_planner/include/scene_module/out_of_lane/debug.hpp
  planning/behavior_velocity_planner/include/scene_module/out_of_lane/decisions.hpp
  planning/behavior_velocity_planner/include/scene_module/out_of_lane/footprint.hpp
  planning/behavior_velocity_planner/include/scene_module/out_of_lane/lanelets_selection.hpp
  planning/behavior_velocity_planner/include/scene_module/out_of_lane/manager.hpp
  planning/behavior_velocity_planner/include/scene_module/out_of_lane/overlapping_range.hpp
  planning/behavior_velocity_planner/include/scene_module/out_of_lane/scene_out_of_lane.hpp
  planning/behavior_velocity_planner/include/scene_module/out_of_lane/types.hpp
  planning/behavior_velocity_planner/out-of-lane-design.md
  planning/behavior_velocity_planner/package.xml
  planning/behavior_velocity_planner/src/node.cpp
  planning/behavior_velocity_planner/src/scene_module/out_of_lane/debug.cpp
  planning/behavior_velocity_planner/src/scene_module/out_of_lane/decisions.cpp
  planning/behavior_velocity_planner/src/scene_module/out_of_lane/footprint.cpp
  planning/behavior_velocity_planner/src/scene_module/out_of_lane/lanelets_selection.cpp
  planning/behavior_velocity_planner/src/scene_module/out_of_lane/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/out_of_lane/overlapping_range.cpp
  planning/behavior_velocity_planner/src/scene_module/out_of_lane/scene_out_of_lane.cpp
Labels: documentation, planning, launch

#3292 feat(autonomous_emergency_braking): keep collision information for user specified seconds
  control/autonomous_emergency_braking/config/autonomous_emergency_braking.param.yaml
  control/autonomous_emergency_braking/include/autonomous_emergency_braking/node.hpp
  control/autonomous_emergency_braking/src/node.cpp
Labels: control

#3297 feat(mission_planner): move modified goal callback for reroute
  planning/mission_planner/README.md
  planning/mission_planner/include/mission_planner/mission_planner_interface.hpp
  planning/mission_planner/src/mission_planner/arrival_checker.cpp
  planning/mission_planner/src/mission_planner/arrival_checker.hpp
  planning/mission_planner/src/mission_planner/mission_planner.cpp
  planning/mission_planner/src/mission_planner/mission_planner.hpp
Labels: documentation, planning

#3058 feat(tier4_perception_launch): refactored occupancy_grid_map launcher
  launch/tier4_perception_launch/launch/occupancy_grid_map/laserscan_based_occupancy_grid_map.launch.py
  launch/tier4_perception_launch/launch/occupancy_grid_map/pointcloud_based_occupancy_grid_map.launch.py
  launch/tier4_perception_launch/launch/occupancy_grid_map/probabilistic_occupancy_grid_map.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
  perception/probabilistic_occupancy_grid_map/README.md
  perception/probabilistic_occupancy_grid_map/launch/laserscan_based_occupancy_grid_map.launch.py
  perception/probabilistic_occupancy_grid_map/launch/pointcloud_based_occupancy_grid_map.launch.py
  perception/probabilistic_occupancy_grid_map/src/pointcloud_based_occupancy_grid_map/pointcloud_based_occupancy_grid_map_node.cpp
Labels: documentation, perception, launch

#3332 refactor(lane_change): rename lane_change_utils namespace
  planning/behavior_path_planner/include/behavior_path_planner/util/lane_change/util.hpp
  planning/behavior_path_planner/src/scene_module/avoidance_by_lc/module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/external_request_lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/util/lane_change/util.cpp
  planning/behavior_path_planner/test/test_lane_change_utils.cpp
Labels: planning

#3331 refactor(behavior_path_planner): separate safety check from util
  planning/behavior_path_planner/CMakeLists.txt
  planning/behavior_path_planner/include/behavior_path_planner/util/safety_check.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/src/util/lane_change/util.cpp
  planning/behavior_path_planner/src/util/safety_check.cpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#3330 chore(component_interface_specs): update maintainers
  common/component_interface_specs/package.xml
Labels: common

#3333 fix(behavior_velocity_planner): properly get common params in 'run_out'
  planning/behavior_velocity_planner/src/scene_module/run_out/manager.cpp
Labels: planning

#3327 fix(behavior_velocity_planner::intersection): only zero hold velocity
  planning/behavior_velocity_planner/src/scene_module/intersection/util.cpp
Labels: planning

#3127 refactor(mission_planner): delete default values
  planning/mission_planner/src/lanelet2_plugins/default_planner.cpp
  planning/static_centerline_optimizer/test/test_static_centerline_optimizer.test.py
Labels: planning

#3338 feat(route_handler): add route clear function
  planning/route_handler/include/route_handler/route_handler.hpp
  planning/route_handler/src/route_handler.cpp
Labels: planning

#3321 fix(trtexec_vendor): support build with tensorrt 8.6
  common/trtexec_vendor/CMakeLists.txt
Labels: common

#3340 fix(tier4_simulator_launch): fix launch package name
  launch/tier4_simulator_launch/launch/simulator.launch.xml
Labels: launch

#3334 feat(mission_planner): add route updater
  planning/mission_planner/include/mission_planner/mission_planner_plugin.hpp
  planning/mission_planner/src/lanelet2_plugins/default_planner.cpp
  planning/mission_planner/src/lanelet2_plugins/default_planner.hpp
  planning/mission_planner/src/mission_planner/mission_planner.cpp
Labels: planning

#3342 fix(behavior_path_planner): use snake case for debug marker
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_interface.hpp
Labels: planning

#3314 perf(avoidance): remove unnecessary sampling
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#3343 refactor(behavior_path_planner): move utilities and rename the file
  planning/behavior_path_planner/CMakeLists.txt
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/lane_change/util.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/path_utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/pull_over/util.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/utils.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/behavior_tree_manager.cpp
  planning/behavior_path_planner/src/marker_util/avoidance/debug.cpp
  planning/behavior_path_planner/src/marker_util/debug_utilities.cpp
  planning/behavior_path_planner/src/planner_manager.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance_by_lc/module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/external_request_lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_following/lane_following_module.cpp
  planning/behavior_path_planner/src/scene_module/pull_out/pull_out_module.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/pull_over_module.cpp
  planning/behavior_path_planner/src/scene_module/side_shift/side_shift_module.cpp
  planning/behavior_path_planner/src/turn_signal_decider.cpp
  planning/behavior_path_planner/src/util/avoidance/util.cpp
  planning/behavior_path_planner/src/util/geometric_parallel_parking/geometric_parallel_parking.cpp
  planning/behavior_path_planner/src/util/lane_change/util.cpp
  planning/behavior_path_planner/src/util/path_shifter/path_shifter.cpp
  planning/behavior_path_planner/src/util/path_utils.cpp
  planning/behavior_path_planner/src/util/pull_out/geometric_pull_out.cpp
  planning/behavior_path_planner/src/util/pull_out/shift_pull_out.cpp
  planning/behavior_path_planner/src/util/pull_out/util.cpp
  planning/behavior_path_planner/src/util/pull_over/freespace_pull_over.cpp
  planning/behavior_path_planner/src/util/pull_over/geometric_pull_over.cpp
  planning/behavior_path_planner/src/util/pull_over/goal_searcher.cpp
  planning/behavior_path_planner/src/util/pull_over/shift_pull_over.cpp
  planning/behavior_path_planner/src/util/pull_over/util.cpp
  planning/behavior_path_planner/src/util/side_shift/util.cpp
  planning/behavior_path_planner/src/util/utils.cpp
  planning/behavior_path_planner/test/input.hpp
  planning/behavior_path_planner/test/test_utils.cpp
  planning/static_centerline_optimizer/src/utils.cpp
Labels: planning

#3346 fix(planner_manager): remove succeeded candidate module
  planning/behavior_path_planner/src/planner_manager.cpp
Labels: planning

#3335 refactor(lane_change): add debug messages for getLaneChangePaths
  planning/behavior_path_planner/src/util/lane_change/util.cpp
Labels: planning

#3345 fix(behavior_path_planner): fix lane change turn signal
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
Labels: planning

#3349 refactor(behavior_path_planner): remove unnecessary flag
  planning/behavior_path_planner/include/behavior_path_planner/util/lane_change/util.hpp
  planning/behavior_path_planner/src/scene_module/avoidance_by_lc/module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/external_request_lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/util/lane_change/util.cpp
Labels: planning

#2732 feat(route_handler-bpp): consider lane-ego angle diff in lane following module
  planning/behavior_path_planner/config/lane_following/lane_following.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/util/lane_following/module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/utils.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/lane_following/lane_following_module.cpp
  planning/behavior_path_planner/src/util/utils.cpp
  planning/route_handler/include/route_handler/route_handler.hpp
  planning/route_handler/src/route_handler.cpp
Labels: planning

#3006 refactor(obstacle_cruise_planner): clean up a part of the code
  planning/obstacle_cruise_planner/README.md
  planning/obstacle_cruise_planner/config/obstacle_cruise_planner.param.yaml
  planning/obstacle_cruise_planner/config/plot_juggler_obstacle_cruise_planner.xml
  planning/obstacle_cruise_planner/docs/debug.md
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/common_structs.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/node.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/optimization_based_planner/optimization_based_planner.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/pid_based_planner/pid_based_planner.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/pid_based_planner/pid_controller.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/planner_interface.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/polygon_utils.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/type_alias.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/utils.hpp
  planning/obstacle_cruise_planner/scripts/trajectory_visualizer.py
  planning/obstacle_cruise_planner/src/node.cpp
  planning/obstacle_cruise_planner/src/optimization_based_planner/optimization_based_planner.cpp
  planning/obstacle_cruise_planner/src/pid_based_planner/pid_based_planner.cpp
  planning/obstacle_cruise_planner/src/planner_interface.cpp
  planning/obstacle_cruise_planner/src/polygon_utils.cpp
  planning/obstacle_cruise_planner/src/utils.cpp
Labels: documentation, planning, deploy-docs

#3351 docs(behavior_velocity_planner): fix typo of file name
  planning/behavior_velocity_planner/docs/blind_spot/blind-spot.drawio.svg
Labels: documentation, planning

#3353 docs(traffic_light_ssd_fine_detector): fix outdated link
  perception/traffic_light_ssd_fine_detector/README.md
Labels: documentation, perception

#3234 fix(behavior_path_planner): pull over deceleration
  planning/behavior_path_planner/README.md
  planning/behavior_path_planner/behavior_path_planner_pull_over_design.md
  planning/behavior_path_planner/config/pull_over/pull_over.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/pull_over_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/pull_over/pull_over_parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/utils.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/pull_over_module.cpp
  planning/behavior_path_planner/src/util/utils.cpp
Labels: documentation, planning

#3357 fix(avoidance_by_lc): fix build error
  planning/behavior_path_planner/src/scene_module/avoidance_by_lc/module.cpp
Labels: planning

#3286 feat(map_loader): add selected map loader
  launch/tier4_map_launch/launch/map.launch.py
  map/map_loader/CMakeLists.txt
  map/map_loader/README.md
  map/map_loader/config/pointcloud_map_loader.param.yaml
  map/map_loader/launch/pointcloud_map_loader.launch.xml
  map/map_loader/src/pointcloud_map_loader/differential_map_loader_module.cpp
  map/map_loader/src/pointcloud_map_loader/partial_map_loader_module.cpp
  map/map_loader/src/pointcloud_map_loader/pointcloud_map_loader_node.cpp
  map/map_loader/src/pointcloud_map_loader/pointcloud_map_loader_node.hpp
  map/map_loader/src/pointcloud_map_loader/selected_map_loader_module.cpp
  map/map_loader/src/pointcloud_map_loader/selected_map_loader_module.hpp
Labels: documentation, map, launch

#3360 fix(static_centerline_optimizer): add mission_planner's param for launch
  planning/static_centerline_optimizer/launch/static_centerline_optimizer.launch.xml
Labels: planning

#3362 feat(route_handler): use pointer for route msgs
  planning/route_handler/include/route_handler/route_handler.hpp
  planning/route_handler/src/route_handler.cpp
Labels: planning

#3361 feat(route_handler): add lateral distance calculator
  planning/route_handler/include/route_handler/route_handler.hpp
  planning/route_handler/src/route_handler.cpp
Labels: planning

#3350 refactor(avoidance): remove duplicated utils function
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance_by_lc/module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/avoidance/util.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance_by_lc/module.cpp
  planning/behavior_path_planner/src/util/avoidance/util.cpp
Labels: planning

#3369 fix(lane change): change Logger level
  planning/behavior_path_planner/src/util/lane_change/util.cpp
Labels: planning

#3344 feat(elevation_map_loader): add support for seleceted_map_loader
  launch/tier4_perception_launch/launch/obstacle_segmentation/ground_segmentation/ground_segmentation.launch.py
  perception/elevation_map_loader/README.md
  perception/elevation_map_loader/include/elevation_map_loader/elevation_map_loader_node.hpp
  perception/elevation_map_loader/launch/elevation_map_loader.launch.xml
  perception/elevation_map_loader/package.xml
  perception/elevation_map_loader/src/elevation_map_loader_node.cpp
Labels: documentation, perception, launch

#3320 feat(lidar_apollo_instance_segmentation, tensorrt_common): use onnx instead of caffe for apollo cnnseg
  common/tensorrt_common/CMakeLists.txt
  common/tensorrt_common/package.xml
  perception/lidar_apollo_instance_segmentation/.gitignore
  perception/lidar_apollo_instance_segmentation/CMakeLists.txt
  perception/lidar_apollo_instance_segmentation/data/hdl-64.prototxt
  perception/lidar_apollo_instance_segmentation/data/vlp-16.prototxt
  perception/lidar_apollo_instance_segmentation/data/vls-128.prototxt
  perception/lidar_apollo_instance_segmentation/include/lidar_apollo_instance_segmentation/cluster2d.hpp
  perception/lidar_apollo_instance_segmentation/include/lidar_apollo_instance_segmentation/debugger.hpp
  perception/lidar_apollo_instance_segmentation/include/lidar_apollo_instance_segmentation/detector.hpp
  perception/lidar_apollo_instance_segmentation/include/lidar_apollo_instance_segmentation/disjoint_set.hpp
  perception/lidar_apollo_instance_segmentation/include/lidar_apollo_instance_segmentation/feature_generator.hpp
  perception/lidar_apollo_instance_segmentation/include/lidar_apollo_instance_segmentation/feature_map.hpp
  perception/lidar_apollo_instance_segmentation/include/lidar_apollo_instance_segmentation/log_table.hpp
  perception/lidar_apollo_instance_segmentation/include/lidar_apollo_instance_segmentation/node.hpp
  perception/lidar_apollo_instance_segmentation/include/lidar_apollo_instance_segmentation/util.hpp
  perception/lidar_apollo_instance_segmentation/launch/lidar_apollo_instance_segmentation.launch.xml
  perception/lidar_apollo_instance_segmentation/lib/LICENSE
  perception/lidar_apollo_instance_segmentation/lib/README.md
  perception/lidar_apollo_instance_segmentation/lib/include/TrtNet.hpp
  perception/lidar_apollo_instance_segmentation/lib/include/Utils.hpp
  perception/lidar_apollo_instance_segmentation/lib/src/TrtNet.cpp
  perception/lidar_apollo_instance_segmentation/package.xml
  perception/lidar_apollo_instance_segmentation/src/cluster2d.cpp
  perception/lidar_apollo_instance_segmentation/src/debugger.cpp
  perception/lidar_apollo_instance_segmentation/src/detector.cpp
  perception/lidar_apollo_instance_segmentation/src/feature_generator.cpp
  perception/lidar_apollo_instance_segmentation/src/feature_map.cpp
  perception/lidar_apollo_instance_segmentation/src/log_table.cpp
  perception/lidar_apollo_instance_segmentation/src/node.cpp
Labels: documentation, perception, common

#3347 fix(avoidance): fix clip forward length and backward length
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#3358 fix(mpc_lateral_controller): use contant instead of macros
  control/mpc_lateral_controller/src/mpc.cpp
Labels: control

#3371 feat(route_handler): add lateral intervals calculator
  planning/route_handler/include/route_handler/route_handler.hpp
  planning/route_handler/src/route_handler.cpp
Labels: planning

#3322 fix(avoidance): fix bug in yield judge logic
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#2942 refactor(pure_pursuit): delete default values
  control/pure_pursuit/src/pure_pursuit/pure_pursuit_lateral_controller.cpp
  control/pure_pursuit/src/pure_pursuit/pure_pursuit_node.cpp
Labels: control

#3379 refactor(behavior_path_planner): unify module manager param getter
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
Labels: planning

#3370 feat(default_ad_api_helpers): support goal modification for rviz
  system/default_ad_api_helpers/ad_api_adaptors/README.md
  system/default_ad_api_helpers/ad_api_adaptors/launch/rviz_adaptors.launch.xml
  system/default_ad_api_helpers/ad_api_adaptors/src/routing_adaptor.cpp
  system/default_ad_api_helpers/ad_api_adaptors/src/routing_adaptor.hpp
Labels: documentation, system

#2775 chore(behavior_velocity_planner): divide build target for faster recompile
  planning/behavior_velocity_planner/CMakeLists.txt
Labels: planning, reviewer assigned

#3377 fix(behavior_path_planner): fix pull over deceleration when stopped
  planning/behavior_path_planner/src/scene_module/pull_over/pull_over_module.cpp
Labels: planning

#3380 feat(tier4_adapi_rviz_plugin): add adapi rviz plugin
  common/tier4_adapi_rviz_plugin/CMakeLists.txt
  common/tier4_adapi_rviz_plugin/icons/classes/RouteTool.png
  common/tier4_adapi_rviz_plugin/package.xml
  common/tier4_adapi_rviz_plugin/plugins/plugin_description.xml
  common/tier4_adapi_rviz_plugin/src/route_tool.cpp
  common/tier4_adapi_rviz_plugin/src/route_tool.hpp
Labels: documentation, common

#3298 feat(mission_planner): add reroute interface for api
  common/component_interface_specs/include/component_interface_specs/planning.hpp
  planning/mission_planner/README.md
  planning/mission_planner/src/mission_planner/mission_planner.cpp
  planning/mission_planner/src/mission_planner/mission_planner.hpp
Labels: documentation, planning, common

#3388 chore(planning_evaluator): add dependency
  launch/tier4_planning_launch/package.xml
Labels: launch

#3392 fix(behavior_velocity_planner): revert pr #2775
  planning/behavior_velocity_planner/CMakeLists.txt
Labels: planning

#3002 feat(avoidance): margin can be set independently for each class
  planning/behavior_path_planner/include/behavior_path_planner/util/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/avoidance/util.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/util/avoidance/util.cpp
Labels: planning

#3394 chore(planning_test_utils): add maintainer
  planning/planning_test_utils/package.xml
Labels: planning

#3363 refactor: add param files in planning module
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/config/behavior_path_planner.param.yaml
  planning/behavior_path_planner/config/lane_change/lane_change.param.yaml
  planning/behavior_path_planner/config/pull_over/pull_over.param.yaml
  planning/behavior_velocity_planner/config/behavior_velocity_planner.param.yaml
  planning/behavior_velocity_planner/config/crosswalk.param.yaml
  planning/behavior_velocity_planner/config/intersection.param.yaml
  planning/behavior_velocity_planner/config/out_of_lane.param.yaml
  planning/behavior_velocity_planner/config/stop_line.param.yaml
  planning/behavior_velocity_planner/config/virtual_traffic_light.param.yaml
Labels: planning

#3382 refactor(planner_manager): cleanup code
  planning/behavior_path_planner/include/behavior_path_planner/planner_manager.hpp
  planning/behavior_path_planner/src/planner_manager.cpp
Labels: planning

#3397 refactor(lane_change): change lc util name
  planning/behavior_path_planner/CMakeLists.txt
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/utils.hpp
  planning/behavior_path_planner/src/scene_module/avoidance_by_lc/module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/external_request_lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
  planning/behavior_path_planner/test/test_lane_change_utils.cpp
Labels: planning

#3407 refactor(behavior_velocity_planner): removed external input from behavior_velocity
  planning/behavior_velocity_planner/config/crosswalk.param.yaml
  planning/behavior_velocity_planner/config/intersection.param.yaml
  planning/behavior_velocity_planner/config/traffic_light.param.yaml
  planning/behavior_velocity_planner/include/behavior_velocity_planner/node.hpp
  planning/behavior_velocity_planner/include/behavior_velocity_planner/planner_data.hpp
  planning/behavior_velocity_planner/include/scene_module/crosswalk/scene_crosswalk.hpp
  planning/behavior_velocity_planner/include/scene_module/crosswalk/scene_walkway.hpp
  planning/behavior_velocity_planner/include/scene_module/intersection/scene_intersection.hpp
  planning/behavior_velocity_planner/include/scene_module/traffic_light/scene.hpp
  planning/behavior_velocity_planner/launch/behavior_velocity_planner.launch.xml
  planning/behavior_velocity_planner/src/node.cpp
  planning/behavior_velocity_planner/src/scene_module/crosswalk/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/crosswalk/scene_crosswalk.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_intersection.cpp
  planning/behavior_velocity_planner/src/scene_module/traffic_light/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/traffic_light/scene.cpp
  planning/behavior_velocity_planner/traffic-light-design.md
Labels: documentation, planning

#3409 refactor(behavior_velocity_planner::intersection): organize param intersection
  planning/behavior_velocity_planner/config/intersection.param.yaml
  planning/behavior_velocity_planner/include/scene_module/intersection/scene_intersection.hpp
  planning/behavior_velocity_planner/src/scene_module/intersection/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_intersection.cpp
Labels: planning

#3398 refactor(lane_following): remove duplicated reference path generation process
  planning/behavior_path_planner/include/behavior_path_planner/planner_manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_following/lane_following_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/utils.hpp
  planning/behavior_path_planner/src/planner_manager.cpp
  planning/behavior_path_planner/src/scene_module/lane_following/lane_following_module.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning

#3410 fix(planning_test_utils): fix build error
  planning/planning_test_utils/include/planning_interface_test_manager/planning_interface_test_manager_utils.hpp
Labels: planning

#3122 fix(pointcloud_preprocessor): fix broken logic
  sensing/pointcloud_preprocessor/src/crop_box_filter/crop_box_filter_nodelet.cpp
Labels: sensing

#3245 refactor(crop_box_filter): remove always true condition
  sensing/pointcloud_preprocessor/src/crop_box_filter/crop_box_filter_nodelet.cpp
Labels: sensing

#3306 feat(pointcloud_preprocessor): add data layout check utils
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/utility/utilities.hpp
  sensing/pointcloud_preprocessor/src/utility/utilities.cpp
Labels: enhancement, sensing

#3408 fix(behavior_path_planner): process died for empty path
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
Labels: planning

#3355 docs(traffic_light_classifier): remove link
  perception/traffic_light_classifier/README.md
Labels: documentation, perception

#3339 feat(obstacle_cruise_planner): implement slow down planner
  planning/obstacle_cruise_planner/config/obstacle_cruise_planner.param.yaml
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/common_structs.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/node.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/pid_based_planner/pid_based_planner.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/planner_interface.hpp
  planning/obstacle_cruise_planner/src/node.cpp
  planning/obstacle_cruise_planner/src/pid_based_planner/pid_based_planner.cpp
  planning/obstacle_cruise_planner/src/planner_interface.cpp
Labels: planning

#3367 docs(traffic_light_classifier): fix typo
  perception/traffic_light_classifier/README.md
  perception/traffic_light_classifier/package.xml
Labels: documentation, perception

#3352 docs(obstacle_cruise_planner): fix wrong path
  planning/obstacle_cruise_planner/docs/debug.md
Labels: documentation, planning

#3403 test(freespace_planner): add interface test
  planning/freespace_planner/CMakeLists.txt
  planning/freespace_planner/package.xml
  planning/freespace_planner/src/freespace_planner/freespace_planner_node.cpp
  planning/freespace_planner/test/test_freespace_planner_node_interface.cpp
Labels: planning

#3406 test(planning_validator): add interface test
  planning/planning_validator/CMakeLists.txt
  planning/planning_validator/package.xml
  planning/planning_validator/test/src/test_planning_validator_node_interface.cpp
Labels: planning

#3425 fix(planning_test_utils): remove unused declaration
  planning/planning_test_utils/include/planning_interface_test_manager/planning_interface_test_manager.hpp
Labels: planning

#3414 feat(scenario_selector): change ego positioin source from tf to odom
  planning/scenario_selector/include/scenario_selector/scenario_selector_node.hpp
  planning/scenario_selector/src/scenario_selector_node/scenario_selector_node.cpp
Labels: planning

#3427 feat(behavior_path_planner): add guard for empty route and enable test
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/test/test_behavior_path_planner_node_interface.cpp
Labels: planning

#3431 refactor(behavior_path_planner): rename namespace to utils for behavior path planner
  planning/behavior_path_planner/include/behavior_path_planner/planner_manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_manager_interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/safety_check.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/utils.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/marker_util/debug_utilities.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance_by_lc/module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/external_request_lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_following/lane_following_module.cpp
  planning/behavior_path_planner/src/scene_module/pull_out/pull_out_module.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/pull_over_module.cpp
  planning/behavior_path_planner/src/scene_module/side_shift/side_shift_module.cpp
  planning/behavior_path_planner/src/turn_signal_decider.cpp
  planning/behavior_path_planner/src/utils/avoidance/util.cpp
  planning/behavior_path_planner/src/utils/geometric_parallel_parking/geometric_parallel_parking.cpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
  planning/behavior_path_planner/src/utils/path_shifter/path_shifter.cpp
  planning/behavior_path_planner/src/utils/path_utils.cpp
  planning/behavior_path_planner/src/utils/pull_out/geometric_pull_out.cpp
  planning/behavior_path_planner/src/utils/pull_out/shift_pull_out.cpp
  planning/behavior_path_planner/src/utils/pull_over/freespace_pull_over.cpp
  planning/behavior_path_planner/src/utils/pull_over/geometric_pull_over.cpp
  planning/behavior_path_planner/src/utils/pull_over/goal_searcher.cpp
  planning/behavior_path_planner/src/utils/pull_over/shift_pull_over.cpp
  planning/behavior_path_planner/src/utils/pull_over/util.cpp
  planning/behavior_path_planner/src/utils/safety_check.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
  planning/behavior_path_planner/test/test_utils.cpp
  planning/static_centerline_optimizer/src/utils.cpp
Labels: planning

#3366 feat(lane_change): separate lane change interface and implementation
  planning/behavior_path_planner/CMakeLists.txt
  planning/behavior_path_planner/include/behavior_path_planner/marker_util/debug_utilities.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/base_class.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/external_request.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/normal.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_visitor.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/lane_change_path.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/external_request.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/manager.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
Labels: planning

#3417 refactor(behavior_path_planner): move steering_factor_interface to abstract class
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_interface.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance_by_lc/module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/external_request_lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_following/lane_following_module.cpp
  planning/behavior_path_planner/src/scene_module/pull_out/pull_out_module.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/pull_over_module.cpp
  planning/behavior_path_planner/src/scene_module/side_shift/side_shift_module.cpp
Labels: planning

#3422 refactor(behavior_path_planner): move ego data getters to abstract class
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance_by_lc/module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/external_request_lane_change_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/lane_change_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/side_shift/side_shift_module.hpp
  planning/behavior_path_planner/src/scene_module/avoidance_by_lc/module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/external_request_lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
Labels: planning

#3432 docs(lidar_centerpoint): fix typo
  perception/lidar_centerpoint/README.md
  perception/lidar_centerpoint_tvm/README.md
Labels: documentation, perception

#3374 fix(compare_map_segmentation): fix namespace block syntax error
  perception/compare_map_segmentation/include/compare_map_segmentation/multi_voxel_grid_map_update.hpp
Labels: perception

#3412 refactor(mission_planner): merge set route service
  common/component_interface_specs/include/component_interface_specs/planning.hpp
  planning/mission_planner/README.md
  planning/mission_planner/src/mission_planner/mission_planner.cpp
  system/default_ad_api/src/routing.cpp
  system/default_ad_api/src/routing.hpp
  system/default_ad_api/src/utils/route_conversion.cpp
  system/default_ad_api/src/utils/route_conversion.hpp
Labels: documentation, planning, system, common

#3440 chore(default_ad_api): add yukkysaito and mitsudome-r to maintainer
  system/default_ad_api/package.xml
  system/default_ad_api_helpers/ad_api_adaptors/package.xml
  system/default_ad_api_helpers/ad_api_visualizers/package.xml
  system/default_ad_api_helpers/automatic_pose_initializer/package.xml
Labels: system

#3438 chore(lidar_apollo_segmentation_tvm): add maintainer
  perception/lidar_apollo_segmentation_tvm/package.xml
  perception/lidar_apollo_segmentation_tvm_nodes/package.xml
Labels: perception

#3439 docs(probabilistic_occupancy_grid_map): change link to official link in IEEE
  perception/probabilistic_occupancy_grid_map/laserscan-based-occupancy-grid-map.md
Labels: documentation, perception

#3433 fix(avoidance): fix guard condition
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#3441 docs(behavior_path_planner): clean up duplicated description
  planning/behavior_path_planner/README.md
  planning/behavior_path_planner/docs/behavior_path_planner_avoidance_design.md
  planning/behavior_path_planner/docs/behavior_path_planner_drivable_area_design.md
  planning/behavior_path_planner/docs/behavior_path_planner_lane_change_design.md
  planning/behavior_path_planner/docs/behavior_path_planner_limitations.md
  planning/behavior_path_planner/docs/behavior_path_planner_path_generation_design.md
  planning/behavior_path_planner/docs/behavior_path_planner_pull_out_design.md
  planning/behavior_path_planner/docs/behavior_path_planner_pull_over_design.md
  planning/behavior_path_planner/docs/behavior_path_planner_side_shift_design.md
  planning/behavior_path_planner/docs/behavior_path_planner_turn_signal_design.md
Labels: documentation, planning, deploy-docs

#3396 feat(mission_planner): inherit allow_goal_modification
  planning/mission_planner/src/mission_planner/mission_planner.cpp
Labels: planning

#3378 docs: comply with mkdocs style
  common/tvm_utility/README.md
  common/tvm_utility/artifacts/README.md
  common/tvm_utility/tvm-utility-yolo-v2-tiny-tests.md
  perception/lidar_apollo_segmentation_tvm/README.md
  perception/lidar_apollo_segmentation_tvm_nodes/README.md
Labels: documentation, perception, common

#3416 docs: remove typos and add cspell ignore
  localization/ndt_scan_matcher/README.md
  localization/pose_initializer/README.md
  perception/bytetrack/README.md
  perception/image_projection_based_fusion/README.md
  perception/lidar_centerpoint/launch/centerpoint_vs_centerpoint-tiny/README.md
  perception/probabilistic_occupancy_grid_map/README.md
  planning/behavior_velocity_planner/out-of-lane-design.md
  planning/freespace_planning_algorithms/README.md
  planning/obstacle_avoidance_planner/docs/debug.md
  planning/obstacle_avoidance_planner/docs/mpt.md
  vehicle/accel_brake_map_calibrator/accel_brake_map_calibrator/README.md
Labels: documentation, perception, localization, planning, vehicle

#3384 fix(lidar_apollo_segmentation_tvm): add missing dependency
  perception/lidar_apollo_segmentation_tvm/package.xml
Labels: perception

#3136 refactor(lidar_apollo_segmentation_tvm/_nodes): remove autoware_auto_common dependency
  common/tvm_utility/include/tvm_utility/pipeline.hpp
  perception/lidar_apollo_segmentation_tvm/include/lidar_apollo_segmentation_tvm/cluster2d.hpp
  perception/lidar_apollo_segmentation_tvm/include/lidar_apollo_segmentation_tvm/feature_generator.hpp
  perception/lidar_apollo_segmentation_tvm/include/lidar_apollo_segmentation_tvm/feature_map.hpp
  perception/lidar_apollo_segmentation_tvm/include/lidar_apollo_segmentation_tvm/lidar_apollo_segmentation_tvm.hpp
  perception/lidar_apollo_segmentation_tvm/include/lidar_apollo_segmentation_tvm/log_table.hpp
  perception/lidar_apollo_segmentation_tvm/include/lidar_apollo_segmentation_tvm/util.hpp
  perception/lidar_apollo_segmentation_tvm/package.xml
  perception/lidar_apollo_segmentation_tvm/src/cluster2d.cpp
  perception/lidar_apollo_segmentation_tvm/src/feature_generator.cpp
  perception/lidar_apollo_segmentation_tvm/src/feature_map.cpp
  perception/lidar_apollo_segmentation_tvm/src/lidar_apollo_segmentation_tvm.cpp
  perception/lidar_apollo_segmentation_tvm/src/log_table.cpp
  perception/lidar_apollo_segmentation_tvm/test/main.cpp
  perception/lidar_apollo_segmentation_tvm_nodes/package.xml
  perception/lidar_apollo_segmentation_tvm_nodes/src/lidar_apollo_segmentation_tvm_node.cpp
Labels: perception, common
