Repository autowarefoundation/autoware_universe, pull requests merged in 2023-02, with the labels that each got.

#2792 chore(rtc_manager_rviz_plugin): add code owner
  common/rtc_manager_rviz_plugin/package.xml
Labels: common

#2790 fix(behavior_velocity_planner): clean up expired intersection/merge_from_private/traffic_light
  planning/behavior_velocity_planner/include/scene_module/intersection/manager.hpp
  planning/behavior_velocity_planner/include/scene_module/traffic_light/manager.hpp
  planning/behavior_velocity_planner/src/scene_module/intersection/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/traffic_light/manager.cpp
Labels: planning

#2791 feat(rtc_manager_rviz_plugin): add the number of rtc status
  common/rtc_manager_rviz_plugin/src/rtc_manager_panel.cpp
  common/rtc_manager_rviz_plugin/src/rtc_manager_panel.hpp
Labels: common

#2797 fix(freespace_planning_algorithms): set goal z to path
  planning/freespace_planning_algorithms/include/freespace_planning_algorithms/astar_search.hpp
  planning/freespace_planning_algorithms/src/astar_search.cpp
  planning/freespace_planning_algorithms/src/rrtstar.cpp
Labels: planning

#2802 feat(interpolation): add option to enable akima spline for xy
  common/motion_utils/include/motion_utils/resample/resample.hpp
  common/motion_utils/src/resample/resample.cpp
Labels: common

#2801 feat(interpolation): add curvature calculation
  common/interpolation/include/interpolation/spline_interpolation.hpp
  common/interpolation/include/interpolation/spline_interpolation_points_2d.hpp
  common/interpolation/src/spline_interpolation.cpp
  common/interpolation/src/spline_interpolation_points_2d.cpp
  common/interpolation/test/src/test_spline_interpolation.cpp
  common/interpolation/test/src/test_spline_interpolation_points_2d.cpp
  planning/obstacle_avoidance_planner/src/mpt_optimizer.cpp
Labels: planning, common

#2785 fix(obstacle_avoidance_planner): check if bounds_candidates is empty for debug marker
  planning/obstacle_avoidance_planner/src/utils/debug_utils.cpp
Labels: planning

#2784 docs: add mkdocs material setting
  mkdocs.yaml
Labels: ci

#2808 fix(accel_brake_map_calibrator): set method to none as default in view plot py
  vehicle/accel_brake_map_calibrator/accel_brake_map_calibrator/scripts/view_plot.py
Labels: vehicle

#2805 fix(behavior_path_planner): do not access empty path in pull out module
  planning/behavior_path_planner/src/scene_module/pull_out/shift_pull_out.cpp
Labels: planning

#2780 feat(autoware_auto_perception_rviz_plugin): improve rviz performance
  common/autoware_auto_perception_rviz_plugin/include/object_detection/object_polygon_detail.hpp
  common/autoware_auto_perception_rviz_plugin/include/object_detection/object_polygon_display_base.hpp
  common/autoware_auto_perception_rviz_plugin/src/object_detection/object_polygon_detail.cpp
Labels: common

#2809 refactor(behavior_path_planner): common duplicated lines of getExtendedCurrentLanes
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#2798 refactor(motion_velocity_smoother): remove duplicated implementation
  planning/motion_velocity_smoother/include/motion_velocity_smoother/motion_velocity_smoother_node.hpp
  planning/motion_velocity_smoother/src/motion_velocity_smoother_node.cpp
Labels: planning

#2799 refactor(intersection): divide stop line function, cache lanelet object
  planning/behavior_velocity_planner/include/scene_module/intersection/scene_intersection.hpp
  planning/behavior_velocity_planner/include/scene_module/intersection/scene_merge_from_private_road.hpp
  planning/behavior_velocity_planner/include/scene_module/intersection/util.hpp
  planning/behavior_velocity_planner/include/scene_module/intersection/util_type.hpp
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_intersection.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_merge_from_private_road.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/util.cpp
Labels: planning

#2812 feat(interpolation): add maintainer
  common/interpolation/package.xml
Labels: common

#2718 fix(behavior_velocity_planner): fix misc concurrency issues
  planning/behavior_velocity_planner/src/node.cpp
Labels: planning

#2814 feat(autoware_auto_perception_rviz_plugin): add simple visualize mode
  common/autoware_auto_perception_rviz_plugin/include/object_detection/object_polygon_detail.hpp
  common/autoware_auto_perception_rviz_plugin/include/object_detection/object_polygon_display_base.hpp
  common/autoware_auto_perception_rviz_plugin/package.xml
  common/autoware_auto_perception_rviz_plugin/src/object_detection/object_polygon_detail.cpp
Labels: common

#2744 perf(motion_utils): improve performance of zero_order_hold
  common/interpolation/include/interpolation/zero_order_hold.hpp
  common/motion_utils/src/resample/resample.cpp
Labels: common

#2783 fix(bag_time_manager_rviz_plugin): update create_client API to use rc…
  common/bag_time_manager_rviz_plugin/src/bag_time_manager_panel.cpp
Labels: common

#2811 refactor(motion_velocity_smoother): remove unneccesary optional
  planning/behavior_velocity_planner/include/utilization/trajectory_utils.hpp
  planning/motion_velocity_smoother/include/motion_velocity_smoother/smoother/analytical_jerk_constrained_smoother/analytical_jerk_constrained_smoother.hpp
  planning/motion_velocity_smoother/include/motion_velocity_smoother/smoother/smoother_base.hpp
  planning/motion_velocity_smoother/src/motion_velocity_smoother_node.cpp
  planning/motion_velocity_smoother/src/smoother/analytical_jerk_constrained_smoother/analytical_jerk_constrained_smoother.cpp
  planning/motion_velocity_smoother/src/smoother/smoother_base.cpp
Labels: planning

#2813 refactor(motion_velocity_smoother): remove unneccesary resampling
  planning/motion_velocity_smoother/include/motion_velocity_smoother/smoother/analytical_jerk_constrained_smoother/analytical_jerk_constrained_smoother.hpp
  planning/motion_velocity_smoother/include/motion_velocity_smoother/smoother/smoother_base.hpp
  planning/motion_velocity_smoother/src/motion_velocity_smoother_node.cpp
  planning/motion_velocity_smoother/src/smoother/analytical_jerk_constrained_smoother/analytical_jerk_constrained_smoother.cpp
  planning/motion_velocity_smoother/src/smoother/smoother_base.cpp
Labels: planning

#2795 chore(ekf_localizer): typo
  localization/ekf_localizer/src/state_transition.cpp
Labels: localization

#2505 fix(freespace_planning_algorithms): throw error when no waypoints stored
  planning/freespace_planning_algorithms/include/freespace_planning_algorithms/abstract_algorithm.hpp
  planning/freespace_planning_algorithms/src/abstract_algorithm.cpp
  planning/freespace_planning_algorithms/test/src/test_freespace_planning_algorithms.cpp
Labels: planning

#2823 refactor(detection_by_tracker): remove unnecessary statement
  perception/detection_by_tracker/src/detection_by_tracker_core.cpp
Labels: perception

#2827 fix(motion_velocity_smoother): resample making empty path
  planning/motion_velocity_smoother/src/smoother/analytical_jerk_constrained_smoother/analytical_jerk_constrained_smoother.cpp
Labels: planning

#2824 fix(ground_segmentation): fix unuse_time_series_filter bug
  launch/tier4_perception_launch/launch/obstacle_segmentation/ground_segmentation/ground_segmentation.launch.py
Labels: launch

#2818 build(freespace_planning_algorithms): add nlohmann-json-dev dependency
  planning/freespace_planning_algorithms/package.xml
Labels: planning

#2816 chore(motion_velocity_smoother): add maintainer
  planning/motion_velocity_smoother/package.xml
Labels: planning

#2817 fix(behavior_path_planner): replace deprecated function
  planning/behavior_path_planner/include/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
Labels: planning

#2830 feat(behavior_path_planner): deal with non rectangle object avoidance
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_utils.cpp
Labels: planning

#2657 refactor(ekf_localizer): add a function to check the delay step
  localization/ekf_localizer/include/ekf_localizer/warning_message.hpp
  localization/ekf_localizer/src/ekf_localizer.cpp
  localization/ekf_localizer/src/warning_message.cpp
  localization/ekf_localizer/test/test_warning_message.cpp
Labels: localization

#2702 refactor(ekf_localizer): add a function to erase a slash from the beginning of a string
  localization/ekf_localizer/CMakeLists.txt
  localization/ekf_localizer/include/ekf_localizer/string.hpp
  localization/ekf_localizer/include/ekf_localizer/warning.hpp
  localization/ekf_localizer/src/ekf_localizer.cpp
  localization/ekf_localizer/test/test_string.cpp
Labels: localization

#2833 fix(behavior_path_planner): fix drivable area for long backawrd avoidance path
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_utils.cpp
Labels: planning

#2831 feat(behavior_path_planner): add option to disable path update
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#2847 fix(lane_change): get sorted lane ids
  planning/behavior_path_planner/src/scene_module/lane_change/util.cpp
Labels: planning

#2807 fix(lane_change): safe intervehicle distance in collision check
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#2853 fix(lane_change): checks only shifted path for isInLanelet check
  planning/behavior_path_planner/src/scene_module/lane_change/util.cpp
Labels: planning

#2856 feat(behavior_path_planner): fix z of extracted drivable area
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_utils.cpp
Labels: planning

#2388 feat(operation_mode_transition_manager): add guard to invalid parameter
  control/operation_mode_transition_manager/src/node.cpp
  control/operation_mode_transition_manager/src/state.cpp
Labels: control

#2843 feat(simple_planning_sim): publish sensing interface imu data
  simulator/simple_planning_simulator/include/simple_planning_simulator/simple_planning_simulator_core.hpp
  simulator/simple_planning_simulator/launch/simple_planning_simulator.launch.py
  simulator/simple_planning_simulator/package.xml
  simulator/simple_planning_simulator/src/simple_planning_simulator/simple_planning_simulator_core.cpp
Labels: simulator

#2861 fix(behavior_path_planner): fix drivable area expansion method outside intersection
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#2855 fix(behavior_path_planner): fix overlapping checker
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#2851 fix(behavior_path_planner): fix the reason of behind threshold
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#2844 feat(image_projection_based_fusion): add trust distance to fusion
  perception/image_projection_based_fusion/include/image_projection_based_fusion/roi_cluster_fusion/node.hpp
  perception/image_projection_based_fusion/launch/roi_cluster_fusion.launch.xml
  perception/image_projection_based_fusion/src/roi_cluster_fusion/node.cpp
Labels: perception

#2870 refactor(tier4_planning_rviz_plugin): create abstract class for footprint
  common/tier4_planning_rviz_plugin/CMakeLists.txt
  common/tier4_planning_rviz_plugin/include/path_footprint/display.hpp
  common/tier4_planning_rviz_plugin/include/path_footprint/display_base.hpp
  common/tier4_planning_rviz_plugin/include/path_with_lane_id_footprint/display.hpp
  common/tier4_planning_rviz_plugin/include/trajectory_footprint/display.hpp
  common/tier4_planning_rviz_plugin/src/path_footprint/display.cpp
  common/tier4_planning_rviz_plugin/src/path_with_lane_id_footprint/display.cpp
  common/tier4_planning_rviz_plugin/src/trajectory_footprint/display.cpp
Labels: common

#2871 refactor(tier4_planning_rviz_plugin): clean up the code of path
  common/tier4_planning_rviz_plugin/CMakeLists.txt
  common/tier4_planning_rviz_plugin/include/path/display.hpp
  common/tier4_planning_rviz_plugin/include/path/display_base.hpp
  common/tier4_planning_rviz_plugin/include/path_with_lane_id/display.hpp
  common/tier4_planning_rviz_plugin/include/trajectory/display.hpp
  common/tier4_planning_rviz_plugin/src/path/display.cpp
  common/tier4_planning_rviz_plugin/src/path_with_lane_id/display.cpp
  common/tier4_planning_rviz_plugin/src/trajectory/display.cpp
Labels: common

#2845 feat(tier4_perception_launch): update cam/lidar detection architecture
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_fusion_based_detection.launch.xml
Labels: launch

#2846 perf(detection_area): point and polygon inclusion check by minimum enclosing circle
  planning/behavior_velocity_planner/src/scene_module/detection_area/scene.cpp
Labels: planning

#2873 fix(behavior_path_planner): fix lane change path validation logic
  planning/behavior_path_planner/src/scene_module/lane_change/util.cpp
Labels: planning

#2859 fix(behavior_velocity_planner): continue collision checking after pass judge
  planning/behavior_velocity_planner/config/intersection.param.yaml
  planning/behavior_velocity_planner/include/scene_module/intersection/scene_intersection.hpp
  planning/behavior_velocity_planner/src/scene_module/intersection/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_intersection.cpp
Labels: planning

#2874 fix(behavior_velocity_planner): keep intersection module for lanes with same parent and same direction
  planning/behavior_velocity_planner/include/scene_module/intersection/manager.hpp
  planning/behavior_velocity_planner/src/scene_module/intersection/manager.cpp
Labels: planning

#2862 fix(behavior_path_planner): fix drivable area expansion method outside intersection
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#2869 build(lidar_centerpoint): use APT version of python3-open3d as dependency
  perception/lidar_centerpoint/package.xml
Labels: perception

#2746 feat(mission_planner): add random id to route
  planning/mission_planner/src/mission_planner/arrival_checker.cpp
  planning/mission_planner/src/mission_planner/arrival_checker.hpp
  planning/mission_planner/src/mission_planner/mission_planner.cpp
Labels: planning

#2842 docs: update expired links and fix internal links
  common/autoware_auto_geometry/design/polygon_intersection_2d-design.md
  perception/lidar_apollo_instance_segmentation/README.md
  perception/lidar_apollo_segmentation_tvm/design/lidar-segmentation-design.md
  vehicle/accel_brake_map_calibrator/accel_brake_map_calibrator/README.md
Labels: documentation, perception, vehicle, common

#2609 feat(behavior_path_planner): expand the drivable area based on the vehicle footprint
  common/tier4_autoware_utils/include/tier4_autoware_utils/geometry/boost_polygon_utils.hpp
  common/tier4_autoware_utils/src/geometry/boost_polygon_utils.cpp
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/drivable_area_expansion.param.yaml
  planning/behavior_path_planner/CMakeLists.txt
  planning/behavior_path_planner/behavior_path_planner_drivable_area.md
  planning/behavior_path_planner/image/drivable_area/drivable_area_expansion_footprints.png
  planning/behavior_path_planner/image/drivable_area/drivable_area_expansion_inputs.png
  planning/behavior_path_planner/image/drivable_area/drivable_area_expansion_result.png
  planning/behavior_path_planner/include/behavior_path_planner/data_manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/drivable_area_expansion/drivable_area_expansion.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/drivable_area_expansion/expansion.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/drivable_area_expansion/footprints.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/drivable_area_expansion/map_utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/drivable_area_expansion/parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/drivable_area_expansion/path_projection.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/drivable_area_expansion/types.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/util/drivable_area_expansion/drivable_area_expansion.cpp
  planning/behavior_path_planner/src/util/drivable_area_expansion/expansion.cpp
  planning/behavior_path_planner/src/util/drivable_area_expansion/footprints.cpp
  planning/behavior_path_planner/src/util/drivable_area_expansion/map_utils.cpp
  planning/behavior_path_planner/src/utilities.cpp
  planning/behavior_path_planner/test/test_drivable_area_expansion.cpp
Labels: documentation, planning, launch, common, deploy-docs

#2883 perf(map_based_prediction): performance improvement of interpolateReferencePath with cumulative sum
  perception/map_based_prediction/src/path_generator.cpp
Labels: perception

#2872 fix(avoidance): fix bug in calculation of rss longitudinal margin
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#2875 fix(avoidance): remove rtc status when the ego is in YIELD maneuver
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#2858 feat(crosswalk_traffic_light_estimator): estimate the corresponding pedestrian traffic light as red also when the vehicle traffic light is amber
  perception/crosswalk_traffic_light_estimator/README.md
  perception/crosswalk_traffic_light_estimator/include/crosswalk_traffic_light_estimator/node.hpp
  perception/crosswalk_traffic_light_estimator/src/node.cpp
Labels: documentation, perception

#2496 fix(trajectory_visualizer): fix topic callback
  planning/planning_debug_tools/scripts/trajectory_visualizer.py
Labels: planning

#2815 fix(lane_change): fix object predicted path getter logic
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#2826 fix(lane_following): remove lane change intersection check
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/src/scene_module/lane_following/lane_following_module.cpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#2876 feat(tier4_autoware_utils): remove drivable area plugin
  common/tier4_planning_rviz_plugin/CMakeLists.txt
  common/tier4_planning_rviz_plugin/include/drivable_area/display.hpp
  common/tier4_planning_rviz_plugin/plugins/plugin_description.xml
  common/tier4_planning_rviz_plugin/src/drivable_area/display.cpp
Labels: common

#2868 feat(tier4_planning_rviz_plugin): add drivable area plugin
  common/tier4_planning_rviz_plugin/include/path/display.hpp
  common/tier4_planning_rviz_plugin/include/path/display_base.hpp
  common/tier4_planning_rviz_plugin/package.xml
  common/tier4_planning_rviz_plugin/src/path/display.cpp
Labels: common

#2787 feat(obstacle_stop_planner): add configurable lateral_distance for different target objects
  planning/obstacle_stop_planner/config/obstacle_stop_planner.param.yaml
  planning/obstacle_stop_planner/include/obstacle_stop_planner/debug_marker.hpp
  planning/obstacle_stop_planner/include/obstacle_stop_planner/node.hpp
  planning/obstacle_stop_planner/include/obstacle_stop_planner/planner_data.hpp
  planning/obstacle_stop_planner/include/obstacle_stop_planner/planner_utils.hpp
  planning/obstacle_stop_planner/src/debug_marker.cpp
  planning/obstacle_stop_planner/src/node.cpp
  planning/obstacle_stop_planner/src/planner_utils.cpp
Labels: enhancement, planning

#2886 feat(planning_debug_tools): add perception_reproducer.py
  planning/planning_debug_tools/scripts/perception_reproducer.py
Labels: planning

#2786 fix(obstacle_avoidance_planner): add a margin for vehicle to stop before the end of drivable area boundary
  planning/obstacle_avoidance_planner/config/obstacle_avoidance_planner.param.yaml
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/node.hpp
  planning/obstacle_avoidance_planner/src/node.cpp
Labels: planning

#2890 fix(behavior_path_planner): fix tests failing in CI
  planning/behavior_path_planner/test/test_drivable_area_expansion.cpp
Labels: ARM64, planning

#2895 perf(map_based_prediction): calculate yaw without calling getLaneletAngle
  perception/map_based_prediction/src/map_based_prediction_node.cpp
Labels: perception

#2891 fix(pure_pursuit): return zero curvature when neighboring idx isn't found
  control/pure_pursuit/src/pure_pursuit/pure_pursuit_lateral_controller.cpp
Labels: control

#2892 fix(path_distance_calculator): do not calculate distance when too short path is subscribed
  common/path_distance_calculator/src/path_distance_calculator.cpp
Labels: common

#2840 feat(dummy diag publisher): change diag name specification method to YAML
  launch/tier4_system_launch/launch/system.launch.xml
  system/dummy_diag_publisher/CMakeLists.txt
  system/dummy_diag_publisher/README.md
  system/dummy_diag_publisher/config/_empty.param.yaml
  system/dummy_diag_publisher/config/dummy_diag_publisher.param.yaml
  system/dummy_diag_publisher/config/extra.param.yaml
  system/dummy_diag_publisher/include/dummy_diag_publisher/dummy_diag_publisher_core.hpp
  system/dummy_diag_publisher/launch/dummy_diag_publisher.launch.xml
  system/dummy_diag_publisher/launch/dummy_diag_publisher_node.launch.xml
  system/dummy_diag_publisher/package.xml
  system/dummy_diag_publisher/src/dummy_diag_publisher_core.cpp
  system/dummy_diag_publisher/src/dummy_diag_publisher_node.cpp
  system/dummy_diag_publisher/src/dummy_diag_publisher_node/dummy_diag_publisher_node.cpp
Labels: documentation, system, launch

#2820 feat(traffic_light_classifier): update classifier model
  perception/traffic_light_classifier/CMakeLists.txt
  perception/traffic_light_classifier/cfg/HSVFilter.cfg
  perception/traffic_light_classifier/include/traffic_light_classifier/cnn_classifier.hpp
  perception/traffic_light_classifier/include/traffic_light_classifier/nodelet.hpp
  perception/traffic_light_classifier/src/cnn_classifier.cpp
  perception/traffic_light_classifier/src/single_image_debug_inference_node.cpp
  perception/traffic_light_classifier/utils/trt_common.cpp
  perception/traffic_light_classifier/utils/trt_common.hpp
Labels: perception

#2822 feat(map_based_prediction): update lane change decision logic
  perception/map_based_prediction/config/map_based_prediction.param.yaml
  perception/map_based_prediction/include/map_based_prediction/map_based_prediction_node.hpp
  perception/map_based_prediction/src/map_based_prediction_node.cpp
Labels: perception

#2897 feat(motion_utils): add calc interpolated point for path with lane id
  common/motion_utils/include/motion_utils/trajectory/interpolation.hpp
  common/motion_utils/src/trajectory/interpolation.cpp
  common/motion_utils/test/src/trajectory/test_interpolation.cpp
Labels: common

#2889 fix(surround_obstacle_checker): delete default param
  planning/surround_obstacle_checker/src/node.cpp
Labels: planning

#2900 fix(avoidance): use previous output when the avoidance path generation is failed
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#2776 fix(lane_change): extend target lane range in safety check
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/util.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/external_request_lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/util.cpp
  planning/route_handler/include/route_handler/route_handler.hpp
  planning/route_handler/src/route_handler.cpp
Labels: planning

#2524 fix(tensorrt_yolox): set existence_probability
  perception/tensorrt_yolox/include/tensorrt_yolox/tensorrt_yolox_node.hpp
  perception/tensorrt_yolox/package.xml
  perception/tensorrt_yolox/src/tensorrt_yolox_node.cpp
Labels: perception

#2901 fix(behavior_path_planner): remove unused callback functions
  planning/behavior_path_planner/include/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/include/behavior_path_planner/behavior_tree_manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/data_manager.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/behavior_tree_manager.cpp
Labels: planning

#2898 fix(behavior_path_planner): fix pull over deceleration before search area start
  planning/behavior_path_planner/src/scene_module/pull_over/pull_over_module.cpp
Labels: planning

#2864 feat(behavior_velocity): add mandatory detection area for run out module
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.py
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/compare_map.launch.py
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/vector_map_inside_area_filter.launch.py
  planning/behavior_velocity_planner/CMakeLists.txt
  planning/behavior_velocity_planner/config/run_out.param.yaml
  planning/behavior_velocity_planner/include/scene_module/run_out/debug.hpp
  planning/behavior_velocity_planner/include/scene_module/run_out/dynamic_obstacle.hpp
  planning/behavior_velocity_planner/include/scene_module/run_out/manager.hpp
  planning/behavior_velocity_planner/include/scene_module/run_out/scene.hpp
  planning/behavior_velocity_planner/include/scene_module/run_out/utils.hpp
  planning/behavior_velocity_planner/package.xml
  planning/behavior_velocity_planner/src/scene_module/run_out/debug.cpp
  planning/behavior_velocity_planner/src/scene_module/run_out/dynamic_obstacle.cpp
  planning/behavior_velocity_planner/src/scene_module/run_out/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/run_out/scene.cpp
  planning/behavior_velocity_planner/src/scene_module/run_out/utils.cpp
Labels: planning, launch

#2902 feat(tier4_autoware_utils): add generateUUID to uuid helper
  common/tier4_autoware_utils/include/tier4_autoware_utils/ros/uuid_helper.hpp
Labels: common

#2881 build(system_monitor): added missing Boost dependencies
  system/system_monitor/package.xml
Labels: system

#2717 feat(vehicle_cmd_gate): enable filter with actual steer in manual mode
  control/vehicle_cmd_gate/config/vehicle_cmd_gate.param.yaml
  control/vehicle_cmd_gate/src/vehicle_cmd_gate.cpp
  control/vehicle_cmd_gate/src/vehicle_cmd_gate.hpp
  launch/tier4_control_launch/launch/control.launch.py
Labels: control, launch

#2911 chore(utils): move utils directory
  planning/behavior_path_planner/CMakeLists.txt
  planning/behavior_path_planner/include/behavior_path_planner/debug_utilities.hpp
  planning/behavior_path_planner/include/behavior_path_planner/path_utilities.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/debug.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/lane_change_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/lane_change_path.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_out/geometric_pull_out.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_out/pull_out_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_out/pull_out_path.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/geometric_pull_over.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/goal_searcher.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/pull_over_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/shift_pull_over.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/side_shift/side_shift_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/geometric_parallel_parking/geometric_parallel_parking.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/occupancy_grid_based_collision_detector/occupancy_grid_based_collision_detector.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/path_shifter/path_shifter.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/debug.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/util.cpp
  planning/behavior_path_planner/src/scene_module/pull_out/util.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/pull_over_module.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/util.cpp
  planning/behavior_path_planner/src/util/geometric_parallel_parking/geometric_parallel_parking.cpp
  planning/behavior_path_planner/src/util/occupancy_grid_based_collision_detector/occupancy_grid_based_collision_detector.cpp
  planning/behavior_path_planner/src/util/path_shifter/path_shifter.cpp
Labels: planning

#2912 fix(behavior_path_planner): move findEgoIndex & findEgoSegmentIndex to planner data
  planning/behavior_path_planner/include/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/include/behavior_path_planner/data_manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_interface.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_following/lane_following_module.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/pull_over_module.cpp
  planning/behavior_path_planner/src/scene_module/side_shift/side_shift_module.cpp
Labels: planning

#2705 docs(image_projection_based_fusion): add algorithm description of sensor synchronization
  perception/image_projection_based_fusion/README.md
  perception/image_projection_based_fusion/docs/images/roi_sync_1.png
  perception/image_projection_based_fusion/docs/images/roi_sync_2.png
Labels: documentation, perception

#2899 feat(intersection): consider lane change in intersection based on associative ids
  planning/behavior_velocity_planner/include/scene_module/intersection/manager.hpp
  planning/behavior_velocity_planner/include/scene_module/intersection/scene_intersection.hpp
  planning/behavior_velocity_planner/include/scene_module/intersection/scene_merge_from_private_road.hpp
  planning/behavior_velocity_planner/include/scene_module/intersection/util.hpp
  planning/behavior_velocity_planner/include/utilization/util.hpp
  planning/behavior_velocity_planner/src/scene_module/intersection/debug.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_intersection.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_merge_from_private_road.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/util.cpp
  planning/behavior_velocity_planner/src/utilization/util.cpp
Labels: planning

#2905 fix(occupancy_grid_map_ouliter_filter): reduce radius search region
  perception/occupancy_grid_map_outlier_filter/include/occupancy_grid_map_outlier_filter/occupancy_grid_map_outlier_filter_nodelet.hpp
  perception/occupancy_grid_map_outlier_filter/src/occupancy_grid_map_outlier_filter_nodelet.cpp
Labels: perception

#2914 fix(tier4_state_rviz_plugin): split into two panels
  common/tier4_state_rviz_plugin/CMakeLists.txt
  common/tier4_state_rviz_plugin/icons/classes/VelocitySteeringFactorsPanel.png
  common/tier4_state_rviz_plugin/plugins/plugin_description.xml
  common/tier4_state_rviz_plugin/src/autoware_state_panel.cpp
  common/tier4_state_rviz_plugin/src/autoware_state_panel.hpp
  common/tier4_state_rviz_plugin/src/velocity_steering_factors_panel.cpp
  common/tier4_state_rviz_plugin/src/velocity_steering_factors_panel.hpp
Labels: documentation, common

#2920 fix(behavior_path_planner): remove unnecessary include
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_utils.cpp
  planning/behavior_path_planner/test/input.hpp
Labels: planning

#2825 refactor(lane_change): compute obj indices return if safe path found
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/util.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/external_request_lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/util.cpp
Labels: planning

#2921 fix(behavior_path_planner): move module output interface definition
  planning/behavior_path_planner/include/behavior_path_planner/data_manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/turn_signal_decider.hpp
Labels: planning

#2894 feat(detected_object_validation): add dynamic min pointcloud num
  perception/detected_object_validation/include/obstacle_pointcloud_based_validator/obstacle_pointcloud_based_validator.hpp
  perception/detected_object_validation/obstacle-pointcloud-based-validator.md
  perception/detected_object_validation/src/obstacle_pointcloud_based_validator.cpp
Labels: documentation, perception

#2918 refactor(intersection): improve generate stopline functions
  planning/behavior_velocity_planner/include/scene_module/intersection/util.hpp
  planning/behavior_velocity_planner/include/scene_module/intersection/util_type.hpp
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_intersection.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_merge_from_private_road.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/util.cpp
Labels: planning

#2916 fix(behavior_path_planner): fix cutOverlappedLanes
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#2709 feat(lane_departure_checker): include neighbor lanelets as optional
  control/lane_departure_checker/config/lane_departure_checker.param.yaml
  control/lane_departure_checker/include/lane_departure_checker/lane_departure_checker_node.hpp
  control/lane_departure_checker/src/lane_departure_checker_node/lane_departure_checker_node.cpp
Labels: high priority, control

#2804 fix(motion_utils): add doxygen comments for utility functions in trajectory header
  common/motion_utils/include/motion_utils/trajectory/trajectory.hpp
Labels: common

#2926 fix(tier4_perception_launch): fix typo
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_fusion_based_detection.launch.xml
Labels: launch

#2924 refactor(behavior_planning): replace generateUUID() with tier4_autoware_utils's function
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_interface.hpp
  planning/behavior_velocity_planner/include/scene_module/scene_module_interface.hpp
Labels: planning

#2850 feat(behavior_path_planner): check if object is avoidable for drivable area generation
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_utils.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_utils.cpp
Labels: planning, reviewer assigned

#2852 feat(behavior_path_planner): drivable area with dynamic margin for static obstacles
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_utils.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_utils.cpp
Labels: planning, reviewer assigned

#2929 chore(pull_out/over): move pull out/over utils
  planning/behavior_path_planner/CMakeLists.txt
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_out/pull_out_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/pull_over_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/pull_out/geometric_pull_out.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/pull_out/pull_out_parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/pull_out/pull_out_path.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/pull_out/pull_out_planner_base.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/pull_out/shift_pull_out.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/pull_out/util.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/pull_over/geometric_pull_over.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/pull_over/goal_searcher.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/pull_over/goal_searcher_base.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/pull_over/pull_over_parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/pull_over/pull_over_planner_base.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/pull_over/shift_pull_over.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/pull_over/util.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/src/scene_module/pull_out/pull_out_module.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/pull_over_module.cpp
  planning/behavior_path_planner/src/util/pull_out/geometric_pull_out.cpp
  planning/behavior_path_planner/src/util/pull_out/shift_pull_out.cpp
  planning/behavior_path_planner/src/util/pull_out/util.cpp
  planning/behavior_path_planner/src/util/pull_over/geometric_pull_over.cpp
  planning/behavior_path_planner/src/util/pull_over/goal_searcher.cpp
  planning/behavior_path_planner/src/util/pull_over/shift_pull_over.cpp
  planning/behavior_path_planner/src/util/pull_over/util.cpp
Labels: planning

#2880 fix(behavior_path_planner): drivable area with static obstacles
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_utils.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_utils.cpp
Labels: planning, reviewer assigned

#2927 chore(behavior_path_planner): move scene module utils
  planning/behavior_path_planner/CMakeLists.txt
  planning/behavior_path_planner/include/behavior_path_planner/marker_util/debug_utilities.hpp
  planning/behavior_path_planner/include/behavior_path_planner/marker_util/lane_change/debug.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/debug.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/external_request_lane_change_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/lane_change_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/lane_change/lane_change_path.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/lane_change/util.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/side_shift/util.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/marker_util/debug_utilities.cpp
  planning/behavior_path_planner/src/marker_util/lane_change/debug.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/external_request_lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/side_shift/side_shift_module.cpp
  planning/behavior_path_planner/src/util/lane_change/util.cpp
  planning/behavior_path_planner/src/util/side_shift/util.cpp
Labels: planning

#2878 fix(obstacle_avoidance_planner): fix lateral calculations
  planning/obstacle_avoidance_planner/src/mpt_optimizer.cpp
  planning/obstacle_avoidance_planner/src/node.cpp
  planning/obstacle_avoidance_planner/src/utils/debug_utils.cpp
Labels: bug, high priority, planning

#2928 chore(avoidance): move avoidance utils directory
  planning/behavior_path_planner/CMakeLists.txt
  planning/behavior_path_planner/include/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/include/behavior_path_planner/marker_util/avoidance/debug.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/avoidance/util.hpp
  planning/behavior_path_planner/src/marker_util/avoidance/debug.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/util/avoidance/util.cpp
  planning/behavior_path_planner/test/test_avoidance_utils.cpp
Labels: planning

#2931 fix(obstacle_stop_planner): delete default values
  planning/obstacle_stop_planner/src/adaptive_cruise_control.cpp
  planning/obstacle_stop_planner/src/node.cpp
Labels: planning

#2604 refactor(planning_error_monitor): remove pkg
  launch/tier4_planning_launch/launch/planning_diagnostics/planning_error_monitor.launch.xml
  planning/planning_error_monitor/CMakeLists.txt
  planning/planning_error_monitor/README.md
  planning/planning_error_monitor/config/planning_error_monitor.param.yaml
  planning/planning_error_monitor/include/planning_error_monitor/debug_marker.hpp
  planning/planning_error_monitor/include/planning_error_monitor/invalid_trajectory_publisher.hpp
  planning/planning_error_monitor/include/planning_error_monitor/planning_error_monitor_node.hpp
  planning/planning_error_monitor/launch/invalid_trajectory_publisher.launch.xml
  planning/planning_error_monitor/launch/planning_error_monitor.launch.xml
  planning/planning_error_monitor/media/curvature_calculation_diagram.svg
  planning/planning_error_monitor/media/flowchart.png
  planning/planning_error_monitor/package.xml
  planning/planning_error_monitor/src/debug_marker.cpp
  planning/planning_error_monitor/src/invalid_trajectory_publisher.cpp
  planning/planning_error_monitor/src/planning_error_monitor_node.cpp
  planning/planning_error_monitor/test/src/test_main.cpp
  planning/planning_error_monitor/test/src/test_planning_error_monitor_functions.cpp
  planning/planning_error_monitor/test/src/test_planning_error_monitor_helper.hpp
  planning/planning_error_monitor/test/src/test_planning_error_monitor_pubsub.cpp
Labels: documentation, planning, launch, reviewer assigned

#2670 chore(tier4_map_launch): add lanelet2 config files to tier4_map_launch
  launch/tier4_map_launch/launch/map.launch.xml
  map/map_loader/launch/lanelet2_map_loader.launch.xml
Labels: map, launch

#2941 fix(tier4_perception_launch): remove unnecessary node
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_fusion_based_detection.launch.xml
Labels: launch

#2908 perf(crop_box_filter): performance tuning with filter() API change
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/crop_box_filter/crop_box_filter_nodelet.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/filter.hpp
  sensing/pointcloud_preprocessor/src/crop_box_filter/crop_box_filter_nodelet.cpp
  sensing/pointcloud_preprocessor/src/filter.cpp
Labels: sensing, reviewer assigned

#2917 build(signal_processing): add Boost to build_export_depend
  common/signal_processing/package.xml
Labels: common

#2937 build(obstacle_stop_planner): added libopencv-dev dependency
  planning/obstacle_stop_planner/package.xml
Labels: planning

#2558 feat(obstacle_stop_planner): extend trajectory along vehicle length
  planning/obstacle_stop_planner/README.md
  planning/obstacle_stop_planner/config/obstacle_stop_planner.param.yaml
  planning/obstacle_stop_planner/include/obstacle_stop_planner/planner_data.hpp
  planning/obstacle_stop_planner/src/node.cpp
Labels: documentation, planning

#2934 fix(external_velocity_limit_selector): delete default values
  planning/external_velocity_limit_selector/src/external_velocity_limit_selector_node.cpp
Labels: planning

#2951 chore(control, planning): add maintainers
  control/control_performance_analysis/package.xml
  control/external_cmd_selector/package.xml
  control/joy_controller/package.xml
  control/obstacle_collision_checker/package.xml
  planning/scenario_selector/package.xml
Labels: planning, control

#2946 refactor(shift_decider): delete default values
  control/shift_decider/src/shift_decider.cpp
Labels: control

#2945 refactor(obstacle_collision_checker): delete default values
  control/obstacle_collision_checker/src/obstacle_collision_checker_node/obstacle_collision_checker_node.cpp
Labels: control

#2944 refactor(control_performance_analysis): delete default values
  control/control_performance_analysis/src/control_performance_analysis_node.cpp
Labels: control

#2949 fix(avoidance): output stop point inserted reference path
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
Labels: bug, planning, reviewer assigned

#2943 refactor(joy_controller): delete default values
  control/joy_controller/src/joy_controller/joy_controller_node.cpp
Labels: control

#2935 refactor(motion_velocity_smoother): delete default values
  planning/motion_velocity_smoother/src/motion_velocity_smoother_node.cpp
  planning/motion_velocity_smoother/src/smoother/analytical_jerk_constrained_smoother/analytical_jerk_constrained_smoother.cpp
  planning/motion_velocity_smoother/src/smoother/jerk_filtered_smoother.cpp
  planning/motion_velocity_smoother/src/smoother/l2_pseudo_jerk_smoother.cpp
  planning/motion_velocity_smoother/src/smoother/linf_pseudo_jerk_smoother.cpp
  planning/motion_velocity_smoother/src/smoother/smoother_base.cpp
Labels: planning

#2953 feat(obstacle_stop_planner): add margin behind goal
  planning/obstacle_stop_planner/README.md
  planning/obstacle_stop_planner/config/obstacle_stop_planner.param.yaml
  planning/obstacle_stop_planner/include/obstacle_stop_planner/planner_data.hpp
  planning/obstacle_stop_planner/src/node.cpp
Labels: documentation, planning

#2839 perf(lane_change): only compute interpolate ego once
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/src/util/lane_change/util.cpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#2956 docs(behavior_path_planner): align document title
  planning/behavior_path_planner/behavior_path_planner_avoidance_design.md
  planning/behavior_path_planner/behavior_path_planner_drivable_area_design.md
  planning/behavior_path_planner/behavior_path_planner_lane_change_design.md
  planning/behavior_path_planner/behavior_path_planner_limitations.md
  planning/behavior_path_planner/behavior_path_planner_path_generation_design.md
  planning/behavior_path_planner/behavior_path_planner_side_shift_design.md
  planning/behavior_path_planner/behavior_path_planner_turn_signal_design.md
Labels: documentation, planning, deploy-docs

#2955 feat(motion_velocity_smoother): improve velocity planning around stop point
  planning/motion_velocity_smoother/src/smoother/jerk_filtered_smoother.cpp
Labels: planning

#2919 feat(behavior_path_planner): add new manager independent from behavior tree
  planning/behavior_path_planner/CMakeLists.txt
  planning/behavior_path_planner/include/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/include/behavior_path_planner/data_manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/planner_manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module_v2/scene_module_interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module_v2/scene_module_manager_interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/planner_manager.cpp
  planning/behavior_path_planner/src/scene_module/scene_module_visitor.cpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning, reviewer assigned
