Repository autowarefoundation/autoware_universe, pull requests merged in 2023-01, with the labels that each got.

#2593 fix(pointcloud_preprocessor): remove unused library
  sensing/pointcloud_preprocessor/CMakeLists.txt
Labels: sensing

#2599 feat(behavior path planner): lane change cancel/abort docs update
  planning/behavior_path_planner/behavior_path_planner_lane_change.md
  planning/behavior_path_planner/config/lane_change/lane_change.param.yaml
  planning/behavior_path_planner/image/lane_change/cancel_and_abort/lane_change-abort.png
  planning/behavior_path_planner/image/lane_change/cancel_and_abort/lane_change-cancel.png
  planning/behavior_path_planner/image/lane_change/cancel_and_abort/lane_change-cant_cancel_no_abort.png
Labels: documentation, planning

#2610 chore(planning-sim): change debug topic name
  simulator/simple_planning_simulator/src/simple_planning_simulator/simple_planning_simulator_core.cpp
Labels: simulator

#2591 perf(behavior_velocity_planner): remove pose.orientation from occlusion_spot
  planning/behavior_velocity_planner/include/scene_module/occlusion_spot/occlusion_spot_utils.hpp
  planning/behavior_velocity_planner/include/scene_module/occlusion_spot/risk_predictive_braking.hpp
  planning/behavior_velocity_planner/src/scene_module/occlusion_spot/debug.cpp
  planning/behavior_velocity_planner/src/scene_module/occlusion_spot/occlusion_spot_utils.cpp
  planning/behavior_velocity_planner/src/scene_module/occlusion_spot/risk_predictive_braking.cpp
  planning/behavior_velocity_planner/src/scene_module/occlusion_spot/scene_occlusion_spot.cpp
Labels: planning

#2568 fix(tier4_perception_launch): sync with tier4/autoware_launch
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/lidar_based_detection.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
Labels: launch

#2612 fix(avoidance): ignore unavoidable objects around the goal
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#2594 fix(obstacle_avoidance_planner): fix lat_dist_to_front_bound comparison
  planning/obstacle_avoidance_planner/src/utils/utils.cpp
Labels: bug, high priority, planning

#2617 fix(behavior_path_planner): consider length for unavoidable objects around the goal
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#2598 feat(tensorrt_yolox): add yolox launch
  perception/tensorrt_yolox/CMakeLists.txt
  perception/tensorrt_yolox/launch/yolox.launch.xml
Labels: perception

#2587 feat(behavior_path_planner): fix steering factor not publishing during turning
  planning/behavior_path_planner/src/turn_signal_decider.cpp
Labels: planning

#2376 docs(freespace-planner): fix syntax error
  planning/freespace_planning_algorithms/README.md
Labels: documentation, planning

#2625 chore: fix typo
  planning/behavior_velocity_planner/src/scene_module/detection_area/debug.cpp
  planning/obstacle_cruise_planner/src/pid_based_planner/pid_based_planner.cpp
Labels: planning

#2312 fix(ndt_scan_matcher): using de-ground points calculate ndt match score
  localization/ndt_scan_matcher/README.md
  localization/ndt_scan_matcher/config/ndt_scan_matcher.param.yaml
  localization/ndt_scan_matcher/include/ndt_scan_matcher/ndt_scan_matcher_core.hpp
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
Labels: documentation, high priority, localization

#2468 feat(tvm_utility, lidar_centerpoint_tvm): tvm pipeline extension
  common/tvm_utility/include/tvm_utility/pipeline.hpp
  common/tvm_utility/package.xml
  common/tvm_utility/tvm_utility-extras.cmake
  perception/lidar_centerpoint_tvm/CMakeLists.txt
  perception/lidar_centerpoint_tvm/README.md
  perception/lidar_centerpoint_tvm/include/lidar_centerpoint_tvm/centerpoint_tvm.hpp
  perception/lidar_centerpoint_tvm/include/lidar_centerpoint_tvm/network/scatter.hpp
  perception/lidar_centerpoint_tvm/lib/centerpoint_tvm.cpp
  perception/lidar_centerpoint_tvm/lib/network/scatter.cpp
Labels: documentation, perception, common

#842 feat(tier4_perception_launch): add option for euclidean lidar detection model
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_radar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/lidar_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/lidar_radar_based_detection.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
Labels: launch

#2622 feat(lane_change): update resamplePath function for target section
  planning/behavior_path_planner/include/behavior_path_planner/path_utilities.hpp
  planning/behavior_path_planner/src/path_utilities.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/util.cpp
Labels: planning

#2178 feat(image_projection_based_fusion): add filtering-based roi-detected-object fusion
  perception/image_projection_based_fusion/docs/pointpainting-fusion.md
  perception/image_projection_based_fusion/docs/roi-cluster-fusion.md
  perception/image_projection_based_fusion/docs/roi-detected-object-fusion.md
  perception/image_projection_based_fusion/include/image_projection_based_fusion/fusion_node.hpp
  perception/image_projection_based_fusion/include/image_projection_based_fusion/roi_detected_object_fusion/node.hpp
  perception/image_projection_based_fusion/launch/roi_detected_object_fusion.launch.xml
  perception/image_projection_based_fusion/src/debugger.cpp
  perception/image_projection_based_fusion/src/fusion_node.cpp
  perception/image_projection_based_fusion/src/roi_detected_object_fusion/node.cpp
Labels: documentation, perception

#2615 fix(lane_change): use current lane for num to preferred lane input
  planning/behavior_path_planner/config/lane_change/lane_change.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/util.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/util.cpp
Labels: planning

#2629 feat(pure_pursuit): update parameter file
  control/pure_pursuit/config/pure_pursuit.param.yaml
Labels: control

#2401 fix(detection_area): add color debug markers
  planning/behavior_velocity_planner/src/scene_module/detection_area/debug.cpp
Labels: high priority, planning

#2635 fix(pose_initializer): add default ad api description in readme
  localization/pose_initializer/docs/pose_initializer.md
Labels: documentation, localization

#2515 feat(avoidance): implement yield maneuver in avoidance module
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/debug.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_utils.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/debug.cpp
Labels: planning

#2634 fix(system_error_monitor): hold emergency when timeout happens
  system/system_error_monitor/include/system_error_monitor/system_error_monitor_core.hpp
  system/system_error_monitor/src/system_error_monitor_core.cpp
Labels: system

#2624 feat(obstacle_stop_planner): add parameter for voxel grid filter and publish pointcloud as debug
  planning/obstacle_stop_planner/config/obstacle_stop_planner.param.yaml
  planning/obstacle_stop_planner/include/obstacle_stop_planner/node.hpp
  planning/obstacle_stop_planner/include/obstacle_stop_planner/planner_data.hpp
  planning/obstacle_stop_planner/src/node.cpp
Labels: planning

#2640 refactor(ekf_localizer): remove 'dim_x_ex_' as it is no longer used
  localization/ekf_localizer/include/ekf_localizer/ekf_localizer.hpp
  localization/ekf_localizer/src/ekf_localizer.cpp
Labels: localization

#2623 fix(obstacle_stop_planner): remove `no_height_pointcloud_ptr` in filtering pointcloud
  planning/obstacle_stop_planner/src/node.cpp
Labels: planning

#2288 feat(behavior_path_planner): param to skip some linestring types when expanding the drivable area
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/drivable_area_expansion.param.yaml
  planning/behavior_path_planner/README.md
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_following/lane_following_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_out/pull_out_parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/pull_over_parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/side_shift/side_shift_module.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_following/lane_following_module.cpp
  planning/behavior_path_planner/src/scene_module/pull_out/pull_out_module.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/pull_over_module.cpp
  planning/behavior_path_planner/src/scene_module/side_shift/side_shift_module.cpp
Labels: documentation, high priority, planning, launch

#2571 feat(elevation_map_loader): reduce memory usage of elevation_map_loader
  perception/elevation_map_loader/include/elevation_map_loader/elevation_map_loader_node.hpp
  perception/elevation_map_loader/src/elevation_map_loader_node.cpp
Labels: perception

#2644 feat(behavior_path_planner): error messsage when no pull over/out planners
  planning/behavior_path_planner/src/scene_module/pull_out/pull_out_module.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/pull_over_module.cpp
Labels: planning

#2639 fix(obstacle_avoidance_planner): fix drivable area checker
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/utils/utils.hpp
  planning/obstacle_avoidance_planner/src/utils/utils.cpp
Labels: planning

#2438 feat: replace tier4_ad_api_adaptor with default_ad_api
  control/joy_controller/launch/joy_controller.launch.xml
  launch/tier4_autoware_api_launch/launch/autoware_api.launch.xml
  launch/tier4_autoware_api_launch/launch/deprecated_api.launch.xml
  launch/tier4_autoware_api_launch/launch/include/external_api_adaptor.launch.py
  launch/tier4_autoware_api_launch/launch/include/internal_api_adaptor.launch.py
  launch/tier4_autoware_api_launch/launch/include/internal_api_relay.launch.xml
Labels: control, launch

#2645 fix(behavior_path_planner): lane change turn signal during approval
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/lane_change_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/util.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/util.cpp
Labels: planning

#2641 feat(vehicle_velocity_converter): add `speed_scale_factor`
  sensing/vehicle_velocity_converter/README.md
  sensing/vehicle_velocity_converter/config/vehicle_velocity_converter.param.yaml
  sensing/vehicle_velocity_converter/include/vehicle_velocity_converter/vehicle_velocity_converter.hpp
  sensing/vehicle_velocity_converter/src/vehicle_velocity_converter.cpp
Labels: documentation, sensing

#2642 refactor(ekf_localizer): add a function that warns if delay time < 0
  localization/ekf_localizer/src/ekf_localizer.cpp
Labels: localization

#2574 fix(traffic_light_map_based_detector): remove pedestrain traffic lights which should not be extracted from map
  perception/traffic_light_map_based_detector/src/node.cpp
Labels: perception

#2648 fix(behavior_path_planner): fix overlapping lane cutter
  planning/behavior_path_planner/src/scene_module/lane_following/lane_following_module.cpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#2655 docs(behavior_path_planner): fix typos
  planning/behavior_path_planner/behavior_path_planner_avoidance-design.md
  planning/behavior_path_planner/image/avoidance_design/target_vehicle_selection.drawio.svg
Labels: documentation, planning

#2667 feat(behavior_path_planner): ignore pull over goal near lane start
  planning/behavior_path_planner/README.md
  planning/behavior_path_planner/config/pull_over/pull_over.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/pull_over_parameters.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/goal_searcher.cpp
Labels: documentation, planning

#2669 feat(behavior_path_planner): add option for combining arc pull out paths
  planning/behavior_path_planner/config/pull_out/pull_out.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_out/pull_out_parameters.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/pull_out/geometric_pull_out.cpp
Labels: planning

#2660 fix(ndt_scan_matcher): check first old_pose_msg for initialization
  localization/ndt_scan_matcher/src/util_func.cpp
Labels: high priority, localization

#2672 fix(lane_change): fix lane change force approval by rtc
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/lane_change_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
Labels: planning

#2673 fix(behavior_path_planner): pull_over checks lane departure only for parking part
  planning/behavior_path_planner/src/scene_module/pull_over/shift_pull_over.cpp
Labels: planning

#2666 refactor(tier4_planning_launch): organize arguments
  launch/tier4_planning_launch/launch/planning.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.py
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/motion_planning/motion_planning.launch.py
  launch/tier4_planning_launch/launch/scenario_planning/scenario_planning.launch.xml
  planning/behavior_path_planner/config/behavior_path_planner.param.yaml
Labels: planning, launch

#2676 fix(tier4_planning_launch): make use_experimental_lane_change_function available
  launch/tier4_planning_launch/launch/planning.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.py
Labels: launch

#2675 feat(behavior_path_planner): ignore pull out start near lane end
  planning/behavior_path_planner/README.md
  planning/behavior_path_planner/config/pull_out/pull_out.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_out/pull_out_parameters.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/pull_out/pull_out_module.cpp
Labels: documentation, planning

#2668 fix(map_loader): apply clang-tidy
  map/map_loader/src/pointcloud_map_loader/differential_map_loader_module.cpp
  map/map_loader/src/pointcloud_map_loader/differential_map_loader_module.hpp
  map/map_loader/src/pointcloud_map_loader/partial_map_loader_module.cpp
  map/map_loader/src/pointcloud_map_loader/partial_map_loader_module.hpp
  map/map_loader/src/pointcloud_map_loader/pointcloud_map_loader_module.cpp
  map/map_loader/src/pointcloud_map_loader/pointcloud_map_loader_module.hpp
Labels: map

#2656 refactor(ekf_localizer): remove info structs
  localization/ekf_localizer/include/ekf_localizer/ekf_localizer.hpp
  localization/ekf_localizer/src/ekf_localizer.cpp
Labels: localization

#2682 fix(accel_brake_map_calibrator): fix usage of transform listener
  vehicle/accel_brake_map_calibrator/accel_brake_map_calibrator/package.xml
  vehicle/accel_brake_map_calibrator/accel_brake_map_calibrator/src/accel_brake_map_calibrator_node.cpp
Labels: vehicle

#2683 fix(route_handler): fix getShoulderLaneletSequence
  planning/route_handler/src/route_handler.cpp
Labels: planning

#2646 feat(obstacle_avoidance_planner): add fitting_uniform_circle configuration for mpt
  planning/obstacle_avoidance_planner/config/obstacle_avoidance_planner.param.yaml
  planning/obstacle_avoidance_planner/src/node.cpp
Labels: enhancement, planning

#2685 chore(lidar_apollo_instance_segmentation): modify invalid link
  perception/lidar_apollo_instance_segmentation/README.md
Labels: documentation, perception

#2678 fix(behavior_path_planner): modify pull out stop path
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_out/pull_out_module.hpp
  planning/behavior_path_planner/src/scene_module/pull_out/pull_out_module.cpp
Labels: planning

#2692 fix(behavior_path_planner): fix pull out length to lane end
  planning/behavior_path_planner/src/scene_module/pull_out/pull_out_module.cpp
Labels: planning

#2628 feat(behavior_path_planner): update clipping boundary for obstacles
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_utils.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_utils.cpp
Labels: planning

#2671 refactor(bpp-avoidance): remove redundant parameters
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
Labels: planning

#2693 fix(behavior_path_planner): improve isPathInLanelet function for lane change
  planning/behavior_path_planner/src/scene_module/lane_change/util.cpp
Labels: planning

#2679 feat(multi_object_tracker): change vehicle model from constant velocity and turn rate model to bicycle model
  perception/multi_object_tracker/include/multi_object_tracker/tracker/model/bicycle_tracker.hpp
  perception/multi_object_tracker/include/multi_object_tracker/tracker/model/big_vehicle_tracker.hpp
  perception/multi_object_tracker/include/multi_object_tracker/tracker/model/normal_vehicle_tracker.hpp
  perception/multi_object_tracker/src/tracker/model/bicycle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/big_vehicle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/normal_vehicle_tracker.cpp
Labels: perception

#2699 fix(behavior_path_planner): fix pull out stop path
  planning/behavior_path_planner/src/scene_module/pull_out/pull_out_module.cpp
Labels: planning

#2700 fix(behavior_path_planner): prevent pull out back twice
  planning/behavior_path_planner/README.md
  planning/behavior_path_planner/config/pull_out/pull_out.param.yaml
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/pull_out/pull_out_module.cpp
Labels: documentation, planning

#2701 fix(roi_cluster_fusion): add unknown-object removal
  perception/image_projection_based_fusion/include/image_projection_based_fusion/roi_cluster_fusion/node.hpp
  perception/image_projection_based_fusion/launch/roi_cluster_fusion.launch.xml
  perception/image_projection_based_fusion/src/roi_cluster_fusion/node.cpp
Labels: perception

#2602 feat(behavior_path_planner): modified goal with uuid
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.py
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.xml
  planning/behavior_path_planner/include/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/pull_over_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_interface.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/pull_over_module.cpp
  planning/mission_planner/src/mission_planner/arrival_checker.cpp
  planning/mission_planner/src/mission_planner/arrival_checker.hpp
  planning/mission_planner/src/mission_planner/mission_planner.cpp
  planning/mission_planner/src/mission_planner/mission_planner.hpp
  planning/route_handler/include/route_handler/route_handler.hpp
  planning/route_handler/src/route_handler.cpp
Labels: planning, launch

#2662 feat(tier4_planning_rviz_plugin): visualize pose_with_uuid_stamped
  common/tier4_planning_rviz_plugin/CMakeLists.txt
  common/tier4_planning_rviz_plugin/icons/classes/PoseWithUuidStamped.png
  common/tier4_planning_rviz_plugin/include/pose_with_uuid_stamped/display.hpp
  common/tier4_planning_rviz_plugin/package.xml
  common/tier4_planning_rviz_plugin/plugins/plugin_description.xml
  common/tier4_planning_rviz_plugin/src/pose_with_uuid_stamped/display.cpp
Labels: documentation, common

#1947 feat(planning_validator): add planning validator package
  launch/tier4_planning_launch/launch/planning.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/scenario_planning.launch.xml
  launch/tier4_planning_launch/package.xml
  planning/planning_validator/CMakeLists.txt
  planning/planning_validator/README.md
  planning/planning_validator/config/planning_validator.param.yaml
  planning/planning_validator/config/planning_validator_plotjugler_config.xml
  planning/planning_validator/image/planning_validator.drawio.svg
  planning/planning_validator/include/planning_validator/debug_marker.hpp
  planning/planning_validator/include/planning_validator/planning_validator.hpp
  planning/planning_validator/include/planning_validator/utils.hpp
  planning/planning_validator/launch/invalid_trajectory_publisher.launch.xml
  planning/planning_validator/launch/planning_validator.launch.xml
  planning/planning_validator/msg/PlanningValidatorStatus.msg
  planning/planning_validator/package.xml
  planning/planning_validator/src/debug_marker.cpp
  planning/planning_validator/src/invalid_trajectory_publisher/invalid_trajectory_publisher.cpp
  planning/planning_validator/src/invalid_trajectory_publisher/invalid_trajectory_publisher.hpp
  planning/planning_validator/src/planning_validator.cpp
  planning/planning_validator/src/utils.cpp
  planning/planning_validator/test/src/test_main.cpp
  planning/planning_validator/test/src/test_planning_validator_functions.cpp
  planning/planning_validator/test/src/test_planning_validator_helper.cpp
  planning/planning_validator/test/src/test_planning_validator_helper.hpp
  planning/planning_validator/test/src/test_planning_validator_pubsub.cpp
  system/system_error_monitor/config/diagnostic_aggregator/planning.param.yaml
Labels: documentation, planning, system, launch

#2707 chore(planning_validator): fix typo
  planning/planning_validator/test/src/test_planning_validator_helper.cpp
Labels: planning

#2261 fix(behavior_path_planner): revise some content about avoidance in .md
  planning/behavior_path_planner/README.md
  planning/behavior_path_planner/behavior_path_planner_avoidance-design.md
Labels: documentation, planning

#2647 feat(obstacle_stop_planner): improve chattering prevention mechanism
  planning/obstacle_stop_planner/README.md
  planning/obstacle_stop_planner/config/obstacle_stop_planner.param.yaml
  planning/obstacle_stop_planner/include/obstacle_stop_planner/node.hpp
  planning/obstacle_stop_planner/include/obstacle_stop_planner/planner_data.hpp
  planning/obstacle_stop_planner/src/debug_marker.cpp
  planning/obstacle_stop_planner/src/node.cpp
Labels: documentation, planning

#2708 refactor(ekf_localizer): use tier4_autoware_utils to simplify syntax
  localization/ekf_localizer/src/ekf_localizer.cpp
Labels: localization

#2714 chore(route_handler, rtc_interface, rtc_auto_mode_manager): add maintainer
  planning/route_handler/package.xml
  planning/rtc_auto_mode_manager/package.xml
  planning/rtc_interface/package.xml
Labels: planning

#2713 chore(operation_mode_transition_manager): add maintainer
  control/operation_mode_transition_manager/package.xml
Labels: control

#2716 chore(vehicle_cmd_gate): add maintainer
  control/vehicle_cmd_gate/package.xml
Labels: control

#2606 docs(operation_mode_transition_manager): update readme
  control/operation_mode_transition_manager/README.md
  control/operation_mode_transition_manager/src/node.cpp
  control/operation_mode_transition_manager/src/node.hpp
Labels: documentation, control

#2627 refactor(vehicle_cmd_gate): using namespace, etc
  control/vehicle_cmd_gate/src/vehicle_cmd_filter.cpp
  control/vehicle_cmd_gate/src/vehicle_cmd_filter.hpp
  control/vehicle_cmd_gate/src/vehicle_cmd_gate.cpp
  control/vehicle_cmd_gate/src/vehicle_cmd_gate.hpp
  control/vehicle_cmd_gate/test/src/test_vehicle_cmd_filter.cpp
Labels: control

#2715 refactor(trajectory_follower_base): use shorter namespace expression
  control/trajectory_follower_base/include/trajectory_follower_base/input_data.hpp
  control/trajectory_follower_base/include/trajectory_follower_base/lateral_controller_base.hpp
  control/trajectory_follower_base/include/trajectory_follower_base/longitudinal_controller_base.hpp
  control/trajectory_follower_base/include/trajectory_follower_base/sync_data.hpp
  control/trajectory_follower_base/src/lateral_controller_base.cpp
  control/trajectory_follower_base/src/longitudinal_controller_base.cpp
  control/trajectory_follower_node/include/trajectory_follower_node/controller_node.hpp
  control/trajectory_follower_node/src/controller_node.cpp
Labels: control

#1999 feat(obstacle_avoidance_planner): check footprint with boost::geometry::intersection
  planning/obstacle_avoidance_planner/config/obstacle_avoidance_planner.param.yaml
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/node.hpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/utils/utils.hpp
  planning/obstacle_avoidance_planner/src/node.cpp
  planning/obstacle_avoidance_planner/src/utils/utils.cpp
Labels: planning

#2696 refactor(ekf_localizer): add a function to convert quaternion to euler angles
  localization/ekf_localizer/src/ekf_localizer.cpp
Labels: localization

#2681 refactor(ekf_localizer): add a class to manage queue elements with their ages
  localization/ekf_localizer/CMakeLists.txt
  localization/ekf_localizer/include/ekf_localizer/aged_object_queue.hpp
  localization/ekf_localizer/include/ekf_localizer/ekf_localizer.hpp
  localization/ekf_localizer/src/ekf_localizer.cpp
  localization/ekf_localizer/test/test_aged_object_queue.cpp
Labels: localization

#2530 refactor: ego's position source change from tf to topic in planning/control module
  control/pure_pursuit/src/pure_pursuit/pure_pursuit_lateral_controller.cpp
  planning/behavior_path_planner/include/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/include/behavior_path_planner/data_manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/side_shift/side_shift_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/utils/geometric_parallel_parking.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/external_request_lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/util.cpp
  planning/behavior_path_planner/src/scene_module/lane_following/lane_following_module.cpp
  planning/behavior_path_planner/src/scene_module/pull_out/pull_out_module.cpp
  planning/behavior_path_planner/src/scene_module/pull_out/util.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/pull_over_module.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/shift_pull_over.cpp
  planning/behavior_path_planner/src/scene_module/side_shift/side_shift_module.cpp
  planning/behavior_path_planner/src/scene_module/utils/geometric_parallel_parking.cpp
  planning/behavior_path_planner/src/turn_signal_decider.cpp
  planning/behavior_path_planner/src/utilities.cpp
  planning/behavior_velocity_planner/include/behavior_velocity_planner/node.hpp
  planning/behavior_velocity_planner/include/behavior_velocity_planner/planner_data.hpp
  planning/behavior_velocity_planner/include/scene_module/scene_module_interface.hpp
  planning/behavior_velocity_planner/include/utilization/trajectory_utils.hpp
  planning/behavior_velocity_planner/src/node.cpp
  planning/behavior_velocity_planner/src/scene_module/blind_spot/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/blind_spot/scene.cpp
  planning/behavior_velocity_planner/src/scene_module/crosswalk/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/crosswalk/scene_crosswalk.cpp
  planning/behavior_velocity_planner/src/scene_module/crosswalk/scene_walkway.cpp
  planning/behavior_velocity_planner/src/scene_module/detection_area/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/detection_area/scene.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_intersection.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_merge_from_private_road.cpp
  planning/behavior_velocity_planner/src/scene_module/no_stopping_area/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/no_stopping_area/scene_no_stopping_area.cpp
  planning/behavior_velocity_planner/src/scene_module/occlusion_spot/scene_occlusion_spot.cpp
  planning/behavior_velocity_planner/src/scene_module/run_out/scene.cpp
  planning/behavior_velocity_planner/src/scene_module/speed_bump/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/speed_bump/scene.cpp
  planning/behavior_velocity_planner/src/scene_module/stop_line/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/stop_line/scene.cpp
  planning/behavior_velocity_planner/src/scene_module/traffic_light/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/traffic_light/scene.cpp
  planning/behavior_velocity_planner/src/scene_module/virtual_traffic_light/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/virtual_traffic_light/scene.cpp
  planning/motion_velocity_smoother/include/motion_velocity_smoother/motion_velocity_smoother_node.hpp
  planning/motion_velocity_smoother/src/motion_velocity_smoother_node.cpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/node.hpp
  planning/obstacle_avoidance_planner/src/node.cpp
  planning/obstacle_stop_planner/include/obstacle_stop_planner/node.hpp
  planning/obstacle_stop_planner/src/adaptive_cruise_control.cpp
  planning/obstacle_stop_planner/src/node.cpp
  planning/obstacle_velocity_limiter/include/obstacle_velocity_limiter/obstacle_velocity_limiter_node.hpp
  planning/obstacle_velocity_limiter/src/obstacle_velocity_limiter_node.cpp
  planning/static_centerline_optimizer/src/utils.cpp
Labels: planning, control

#2658 fix(motion_utils/path_shifter): modify the sampling method
  common/motion_utils/include/motion_utils/trajectory/trajectory.hpp
  planning/behavior_path_planner/src/path_utilities.cpp
Labels: planning, common

#2727 fix(behavior_path_planner): lane change interpolated obj orientation
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#2725 refactor(behavior_path_planner): set occupancy grid map topic name from launch
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.py
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.xml
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
Labels: planning, launch

#2726 fix(behavior_path_planner): reduce obj indices call in lane change
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/util.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/external_request_lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/util.cpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#2720 feat(behavior_path_planner): enable lane change in intersection
  planning/behavior_path_planner/src/scene_module/lane_change/external_request_lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/util.cpp
  planning/behavior_velocity_planner/include/scene_module/intersection/manager.hpp
  planning/behavior_velocity_planner/include/scene_module/traffic_light/manager.hpp
  planning/behavior_velocity_planner/src/scene_module/intersection/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/traffic_light/manager.cpp
  planning/route_handler/include/route_handler/route_handler.hpp
  planning/route_handler/src/route_handler.cpp
Labels: planning

#2694 refactor(ekf_localizer): add a function to generate a delay time warning message
  localization/ekf_localizer/include/ekf_localizer/warning_message.hpp
  localization/ekf_localizer/src/ekf_localizer.cpp
  localization/ekf_localizer/src/warning_message.cpp
  localization/ekf_localizer/test/test_warning_message.cpp
Labels: localization

#2704 fix(behavior_path_planner): make lane change safety check adaptive
  planning/behavior_path_planner/config/lane_change/lane_change.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/lane_change_path.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/external_request_lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/util.cpp
Labels: planning

#2712 feat(lane_departure_checker): add braking distance offset to avoid unwanted move after stop
  control/lane_departure_checker/config/lane_departure_checker.param.yaml
  control/lane_departure_checker/include/lane_departure_checker/lane_departure_checker.hpp
  control/lane_departure_checker/src/lane_departure_checker_node/lane_departure_checker.cpp
  control/lane_departure_checker/src/lane_departure_checker_node/lane_departure_checker_node.cpp
Labels: high priority, control

#2719 feat(intersection): consider state transit margin time in collision detection
  planning/behavior_velocity_planner/config/intersection.param.yaml
  planning/behavior_velocity_planner/include/scene_module/intersection/scene_intersection.hpp
  planning/behavior_velocity_planner/include/scene_module/intersection/util.hpp
  planning/behavior_velocity_planner/src/scene_module/intersection/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_intersection.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_merge_from_private_road.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/util.cpp
Labels: planning

#2734 build(kalman_filter): add build dependency
  common/kalman_filter/package.xml
Labels: common

#2739 build(dummy_infrastructure): add build dependency
  system/dummy_infrastructure/package.xml
Labels: system

#2741 fix(lane_change): chattering issue when performing check
  planning/behavior_path_planner/src/scene_module/lane_change/util.cpp
Labels: planning

#2506 refactor(motion_utils): delete wall marker explicitly
  common/motion_utils/include/motion_utils/marker/marker_helper.hpp
  common/motion_utils/src/marker/marker_helper.cpp
  planning/behavior_velocity_planner/include/scene_module/blind_spot/scene.hpp
  planning/behavior_velocity_planner/include/scene_module/crosswalk/scene_crosswalk.hpp
  planning/behavior_velocity_planner/include/scene_module/crosswalk/scene_walkway.hpp
  planning/behavior_velocity_planner/include/scene_module/detection_area/scene.hpp
  planning/behavior_velocity_planner/include/scene_module/intersection/scene_intersection.hpp
  planning/behavior_velocity_planner/include/scene_module/intersection/scene_merge_from_private_road.hpp
  planning/behavior_velocity_planner/include/scene_module/no_stopping_area/scene_no_stopping_area.hpp
  planning/behavior_velocity_planner/include/scene_module/occlusion_spot/scene_occlusion_spot.hpp
  planning/behavior_velocity_planner/include/scene_module/run_out/debug.hpp
  planning/behavior_velocity_planner/include/scene_module/stop_line/scene.hpp
  planning/behavior_velocity_planner/include/scene_module/virtual_traffic_light/scene.hpp
  planning/behavior_velocity_planner/src/scene_module/blind_spot/debug.cpp
  planning/behavior_velocity_planner/src/scene_module/crosswalk/debug.cpp
  planning/behavior_velocity_planner/src/scene_module/detection_area/debug.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/debug.cpp
  planning/behavior_velocity_planner/src/scene_module/no_stopping_area/debug.cpp
  planning/behavior_velocity_planner/src/scene_module/occlusion_spot/debug.cpp
  planning/behavior_velocity_planner/src/scene_module/run_out/debug.cpp
  planning/behavior_velocity_planner/src/scene_module/stop_line/debug.cpp
  planning/behavior_velocity_planner/src/scene_module/virtual_traffic_light/debug.cpp
Labels: planning, common

#2687 fix(obstacle_avoidance_planner): fix offset signs for footprint corners
  planning/obstacle_avoidance_planner/src/utils/utils.cpp
Labels: bug, high priority, planning

#2689 feat(obstacle_avoidance_planner): add a separate marker for the first footprint which goes out of drivable area
  planning/obstacle_avoidance_planner/src/utils/debug_utils.cpp
Labels: enhancement, planning

#2691 fix(obstacle_avoidance_planner): fix drivable area polygon point order direction
  planning/obstacle_avoidance_planner/src/utils/utils.cpp
Labels: planning

#2738 build(bluetooth_monitor): add build dependency
  system/bluetooth_monitor/package.xml
Labels: system

#2740 build(system_monitor): add build dependency
  system/system_monitor/package.xml
Labels: system

#2751 fix(costmap_generator): fix invalid argument order
  planning/costmap_generator/nodes/costmap_generator/object_map_utils.cpp
Labels: planning

#2752 fix(lane_change): fix bug when target reference path is empty
  planning/behavior_path_planner/src/scene_module/lane_change/util.cpp
Labels: planning

#2722 refactor(tier4_map_launch): remove unused config
  launch/tier4_map_launch/CMakeLists.txt
  launch/tier4_map_launch/config/pointcloud_map_loader.param.yaml
  launch/tier4_map_launch/launch/map.launch.py
  launch/tier4_map_launch/launch/map.launch.xml
Labels: launch

#2737 build(gnss_poser): add build dependency
  sensing/gnss_poser/package.xml
Labels: sensing

#2731 fix(lane_change): set constructCandidatePath logger as debug
  planning/behavior_path_planner/src/scene_module/lane_change/util.cpp
Labels: planning

#2758 chore(control_launch): add maintainer
  launch/tier4_control_launch/package.xml
Labels: launch

#2756 feat(intersection): add param for stuck stopline overshoot margin
  planning/behavior_velocity_planner/config/intersection.param.yaml
  planning/behavior_velocity_planner/include/scene_module/intersection/scene_intersection.hpp
  planning/behavior_velocity_planner/src/scene_module/intersection/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_intersection.cpp
Labels: planning

#2757 fix(motion_utils): fixed virtual wall marker to appear
  common/motion_utils/src/marker/marker_helper.cpp
Labels: common

#2749 fix(euclidean_cluster): keep pointcloud resolution in long-range for Euclidean cluster
  perception/euclidean_cluster/config/voxel_grid_based_euclidean_cluster.param.yaml
  perception/euclidean_cluster/launch/voxel_grid_based_euclidean_cluster.launch.py
Labels: perception

#2711 fix(raw_vehicle_cmd_converter): remove external command converter validation
  vehicle/raw_vehicle_cmd_converter/include/raw_vehicle_cmd_converter/accel_map.hpp
  vehicle/raw_vehicle_cmd_converter/include/raw_vehicle_cmd_converter/brake_map.hpp
  vehicle/raw_vehicle_cmd_converter/include/raw_vehicle_cmd_converter/steer_map.hpp
  vehicle/raw_vehicle_cmd_converter/src/accel_map.cpp
  vehicle/raw_vehicle_cmd_converter/src/brake_map.cpp
  vehicle/raw_vehicle_cmd_converter/src/node.cpp
  vehicle/raw_vehicle_cmd_converter/src/steer_map.cpp
  vehicle/raw_vehicle_cmd_converter/test/test_raw_vehicle_cmd_converter.cpp
Labels: vehicle

#2760 chore(intersection): remove unnecessary marker
  planning/behavior_velocity_planner/include/scene_module/intersection/scene_intersection.hpp
  planning/behavior_velocity_planner/src/scene_module/intersection/debug.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_intersection.cpp
Labels: planning

#2729 feat(longitudinal_controller): add feedforward conversion to arc coordinate
  control/pid_longitudinal_controller/include/pid_longitudinal_controller/debug_values.hpp
  control/pid_longitudinal_controller/src/pid_longitudinal_controller.cpp
Labels: control

#2750 fix(mpc_lateral_controller): fix inconsistent argument order
  control/mpc_lateral_controller/include/mpc_lateral_controller/vehicle_model/vehicle_model_bicycle_dynamics.hpp
Labels: control

#2619 feat(longitudinal_controller): skip integral in manual mode
  control/pid_longitudinal_controller/include/pid_longitudinal_controller/pid_longitudinal_controller.hpp
  control/pid_longitudinal_controller/package.xml
  control/pid_longitudinal_controller/src/pid_longitudinal_controller.cpp
  control/trajectory_follower_base/include/trajectory_follower_base/input_data.hpp
  control/trajectory_follower_base/package.xml
  control/trajectory_follower_node/include/trajectory_follower_node/controller_node.hpp
  control/trajectory_follower_node/package.xml
  control/trajectory_follower_node/src/controller_node.cpp
  control/trajectory_follower_node/test/test_controller_node.cpp
  launch/tier4_control_launch/launch/control.launch.py
Labels: control, launch

#2730 feat(mpc_lateral_controller): add control input bias removal
  control/mpc_lateral_controller/CMakeLists.txt
  control/mpc_lateral_controller/include/mpc_lateral_controller/mpc_lateral_controller.hpp
  control/mpc_lateral_controller/include/mpc_lateral_controller/steering_offset/steering_offset.hpp
  control/mpc_lateral_controller/param/lateral_controller_defaults.param.yaml
  control/mpc_lateral_controller/src/mpc_lateral_controller.cpp
  control/mpc_lateral_controller/src/steering_offset/steering_offset.cpp
Labels: control

#2759 fix(behavior_path_planner): support the goal behind ego in pull out
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/utils/geometric_parallel_parking.hpp
  planning/behavior_path_planner/src/scene_module/pull_out/geometric_pull_out.cpp
  planning/behavior_path_planner/src/scene_module/pull_out/pull_out_module.cpp
  planning/behavior_path_planner/src/scene_module/pull_out/shift_pull_out.cpp
  planning/behavior_path_planner/src/scene_module/utils/geometric_parallel_parking.cpp
Labels: planning

#2765 fix(costmap_generator): wait for lanelet map
  planning/costmap_generator/nodes/costmap_generator/costmap_generator_node.cpp
Labels: planning

#2766 chore(costmap_generator): add maintainers
  planning/costmap_generator/package.xml
Labels: planning

#2735 build(detected_object_validation): add build dependency
  perception/detected_object_validation/package.xml
Labels: perception

#2733 build(autoware_auto_perception_rviz_plugin): add build dependency
  common/autoware_auto_perception_rviz_plugin/package.xml
Labels: common

#2551 feat(accel_map_calibrator): publish estimated covariance
  vehicle/accel_brake_map_calibrator/accel_brake_map_calibrator/include/accel_brake_map_calibrator/accel_brake_map_calibrator_node.hpp
  vehicle/accel_brake_map_calibrator/accel_brake_map_calibrator/src/accel_brake_map_calibrator_node.cpp
Labels: vehicle

#2771 refactor(accel_brake_map_calibrator): minor refactors
  vehicle/accel_brake_map_calibrator/accel_brake_map_calibrator/include/accel_brake_map_calibrator/accel_brake_map_calibrator_node.hpp
  vehicle/accel_brake_map_calibrator/accel_brake_map_calibrator/src/accel_brake_map_calibrator_node.cpp
  vehicle/accel_brake_map_calibrator/accel_brake_map_calibrator/src/main.cpp
Labels: vehicle

#2761 fix(lanelet2_map_loader): delete unused parameters
  map/map_loader/launch/lanelet2_map_loader.launch.xml
Labels: map

#2736 build(signal_processing): add build dependency
  common/signal_processing/package.xml
Labels: common

#2779 fix(behavior_path_planner): fix pull out module when enable_back is false
  planning/behavior_path_planner/src/scene_module/pull_out/pull_out_module.cpp
Labels: planning

#2781 fix(behavior_path_planner): disable avoidance if ego is not on preferred lane
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#2767 chore(freespace_planner): add maintainers
  planning/freespace_planner/package.xml
  planning/freespace_planning_algorithms/package.xml
Labels: planning

#2764 chore(tier4_planning_launch): add missing params and sort params of costmap generator
  launch/tier4_planning_launch/launch/scenario_planning/parking.launch.py
Labels: launch

#2632 feat(tier4_state_rviz_plugin): add planning API visualization
  common/tier4_state_rviz_plugin/src/autoware_state_panel.cpp
  common/tier4_state_rviz_plugin/src/autoware_state_panel.hpp
Labels: common
