Repository autowarefoundation/autoware_universe, pull requests merged in 2023-05, with the labels that each got.

#3576 refactor(behavior_path_planner): shorten pointToSegment function
  planning/behavior_path_planner/CMakeLists.txt
  planning/behavior_path_planner/src/utils/safety_check.cpp
  planning/behavior_path_planner/test/test_lane_change_utils.cpp
Labels: planning

#3534 feat(planner_manager): use distance & yaw constraints for closest lanelet search
  planning/behavior_path_planner/include/behavior_path_planner/planner_manager.hpp
Labels: planning

#3599 feat(motion_utils): add isTargetPointFront function
  common/motion_utils/include/motion_utils/trajectory/trajectory.hpp
  common/motion_utils/test/src/trajectory/test_trajectory.cpp
Labels: common

#3600 feat(behavior_path_planner): add isTargetObjectFront function
  planning/behavior_path_planner/include/behavior_path_planner/utils/safety_check.hpp
  planning/behavior_path_planner/src/utils/safety_check.cpp
Labels: planning

#3075 feat(behavior_path_planner): output shorten path if ego vehicle is out of route
  planning/behavior_path_planner/include/behavior_path_planner/behavior_tree_manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/data_manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/planner_manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/utils.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/behavior_tree_manager.cpp
  planning/behavior_path_planner/src/planner_manager.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning

#3602 refactor(behavior_path_planner): remove unnecessary modifyPathForSmoothGoalConnection
  planning/behavior_path_planner/include/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
Labels: planning

#3601 fix(behavior_path_planner): fix goal planner backward parking
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
Labels: planning

#3605 fix(behavior_path_planner): check ego is in shoulder lane when creating goal around path
  planning/behavior_path_planner/include/behavior_path_planner/behavior_tree_manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/planner_manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/utils.hpp
  planning/behavior_path_planner/src/behavior_tree_manager.cpp
  planning/behavior_path_planner/src/planner_manager.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning

#3580 feat(behavior): add interface in order to publish marker that is always shown in rviz
  planning/behavior_path_planner/include/behavior_path_planner/planner_manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_manager_interface.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/behavior_tree_manager.cpp
Labels: planning

#3611 fix(planner_manager): fix build error
  planning/behavior_path_planner/src/planner_manager.cpp
Labels: planning

#3617 style: fix typos
  common/autoware_auto_tf2/design/autoware-auto-tf2-design.md
  control/autonomous_emergency_braking/package.xml
  evaluator/kinematic_evaluator/package.xml
  evaluator/localization_evaluator/package.xml
  evaluator/planning_evaluator/package.xml
  launch/tier4_autoware_api_launch/README.md
  launch/tier4_control_launch/README.md
  launch/tier4_control_launch/launch/control.launch.py
  launch/tier4_localization_launch/launch/util/util.launch.py
  launch/tier4_localization_launch/launch/util/util.launch.xml
  launch/tier4_map_launch/README.md
  launch/tier4_map_launch/launch/map.launch.py
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.py
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/motion_planning/motion_planning.launch.py
  launch/tier4_planning_launch/launch/scenario_planning/parking.launch.py
  localization/gyro_odometer/package.xml
  map/map_loader/README.md
  perception/detected_object_validation/package.xml
  perception/detection_by_tracker/package.xml
  perception/euclidean_cluster/launch/voxel_grid_based_euclidean_cluster.launch.py
  perception/ground_segmentation/package.xml
  perception/ground_segmentation/src/ray_ground_filter_nodelet.cpp
  perception/lidar_apollo_instance_segmentation/README.md
  perception/multi_object_tracker/package.xml
  perception/occupancy_grid_map_outlier_filter/package.xml
  perception/shape_estimation/package.xml
  perception/traffic_light_ssd_fine_detector/README.md
  planning/external_velocity_limit_selector/package.xml
  planning/planning_test_utils/package.xml
  planning/scenario_selector/package.xml
  sensing/geo_pos_conv/CHANGELOG.rst
  sensing/geo_pos_conv/package.xml
  sensing/gnss_poser/package.xml
  sensing/imu_corrector/package.xml
  sensing/pointcloud_preprocessor/package.xml
  system/dummy_diag_publisher/package.xml
  system/emergency_handler/include/emergency_handler/emergency_handler_core.hpp
  system/emergency_handler/package.xml
  system/mrm_comfortable_stop_operator/include/mrm_comfortable_stop_operator/mrm_comfortable_stop_operator_core.hpp
  system/mrm_emergency_stop_operator/include/mrm_emergency_stop_operator/mrm_emergency_stop_operator_core.hpp
  system/system_error_monitor/package.xml
  system/system_monitor/CMakeLists.txt
Labels: documentation, perception, sensing, localization, planning, control, system, map, launch, common, evaluator

#3615 build: proper eigen deps and include
  common/kalman_filter/include/kalman_filter/kalman_filter.hpp
  common/kalman_filter/include/kalman_filter/time_delay_kalman_filter.hpp
  common/osqp_interface/include/osqp_interface/csc_matrix_conv.hpp
  common/osqp_interface/include/osqp_interface/osqp_interface.hpp
  common/osqp_interface/src/csc_matrix_conv.cpp
  common/osqp_interface/test/test_csc_matrix_conv.cpp
  common/osqp_interface/test/test_osqp_interface.cpp
  common/tier4_debug_tools/include/tier4_debug_tools/lateral_error_publisher.hpp
  common/tier4_localization_rviz_plugin/src/pose_history_footprint/display.cpp
  common/tier4_planning_rviz_plugin/include/path/display_base.hpp
  control/control_performance_analysis/include/control_performance_analysis/control_performance_analysis_core.hpp
  control/control_performance_analysis/include/control_performance_analysis/control_performance_analysis_utils.hpp
  control/mpc_lateral_controller/include/mpc_lateral_controller/mpc_utils.hpp
  control/mpc_lateral_controller/include/mpc_lateral_controller/qp_solver/qp_solver_interface.hpp
  control/mpc_lateral_controller/include/mpc_lateral_controller/qp_solver/qp_solver_osqp.hpp
  control/mpc_lateral_controller/include/mpc_lateral_controller/qp_solver/qp_solver_unconstr_fast.hpp
  control/mpc_lateral_controller/include/mpc_lateral_controller/vehicle_model/vehicle_model_bicycle_dynamics.hpp
  control/mpc_lateral_controller/include/mpc_lateral_controller/vehicle_model/vehicle_model_bicycle_kinematics.hpp
  control/mpc_lateral_controller/include/mpc_lateral_controller/vehicle_model/vehicle_model_bicycle_kinematics_no_delay.hpp
  control/mpc_lateral_controller/include/mpc_lateral_controller/vehicle_model/vehicle_model_interface.hpp
  control/pid_longitudinal_controller/include/pid_longitudinal_controller/longitudinal_controller_utils.hpp
  control/pid_longitudinal_controller/include/pid_longitudinal_controller/pid_longitudinal_controller.hpp
  control/trajectory_follower_node/include/trajectory_follower_node/controller_node.hpp
  evaluator/planning_evaluator/src/metrics/obstacle_metrics.cpp
  evaluator/planning_evaluator/src/metrics/stability_metrics.cpp
  localization/ekf_localizer/test/src/test_ekf_localizer.cpp
  localization/ndt_scan_matcher/include/ndt_scan_matcher/matrix_type.hpp
  perception/bytetrack/CMakeLists.txt
  perception/bytetrack/lib/include/data_type.h
  perception/bytetrack/lib/src/kalman_filter.cpp
  perception/probabilistic_occupancy_grid_map/include/updater/occupancy_grid_map_binary_bayes_filter_updater.hpp
  planning/motion_velocity_smoother/src/smoother/jerk_filtered_smoother.cpp
  planning/motion_velocity_smoother/src/smoother/l2_pseudo_jerk_smoother.cpp
  planning/motion_velocity_smoother/src/smoother/linf_pseudo_jerk_smoother.cpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/eb_path_smoother.hpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/mpt_optimizer.hpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/utils/geometry_utils.hpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/utils/trajectory_utils.hpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/vehicle_model/vehicle_model_bicycle_kinematics.hpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/vehicle_model/vehicle_model_interface.hpp
  planning/obstacle_cruise_planner/src/optimization_based_planner/velocity_optimizer.cpp
  planning/obstacle_stop_planner/include/obstacle_stop_planner/debug_marker.hpp
  planning/obstacle_stop_planner/src/node.cpp
  simulator/simple_planning_simulator/include/simple_planning_simulator/vehicle_model/sim_model_delay_steer_acc.hpp
  simulator/simple_planning_simulator/include/simple_planning_simulator/vehicle_model/sim_model_delay_steer_acc_geared.hpp
  simulator/simple_planning_simulator/include/simple_planning_simulator/vehicle_model/sim_model_delay_steer_vel.hpp
  simulator/simple_planning_simulator/include/simple_planning_simulator/vehicle_model/sim_model_ideal_steer_acc.hpp
  simulator/simple_planning_simulator/include/simple_planning_simulator/vehicle_model/sim_model_ideal_steer_acc_geared.hpp
  simulator/simple_planning_simulator/include/simple_planning_simulator/vehicle_model/sim_model_ideal_steer_vel.hpp
  simulator/simple_planning_simulator/include/simple_planning_simulator/vehicle_model/sim_model_interface.hpp
Labels: perception, localization, planning, control, common, simulator, evaluator

#3610 refactor(behavior_path_planner): refactoring goal_planner and pull_out params
  planning/behavior_path_planner/config/goal_planner/goal_planner.param.yaml
  planning/behavior_path_planner/docs/behavior_path_planner_goal_planner_design.md
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/goal_planner_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_out/pull_out_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/geometric_parallel_parking/geometric_parallel_parking.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/goal_planner/geometric_pull_over.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/goal_planner/goal_planner_parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/pull_out/geometric_pull_out.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/pull_out/pull_out_parameters.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/scene_module/pull_out/pull_out_module.cpp
  planning/behavior_path_planner/src/utils/geometric_parallel_parking/geometric_parallel_parking.cpp
  planning/behavior_path_planner/src/utils/goal_planner/freespace_pull_over.cpp
  planning/behavior_path_planner/src/utils/goal_planner/geometric_pull_over.cpp
  planning/behavior_path_planner/src/utils/goal_planner/shift_pull_over.cpp
  planning/behavior_path_planner/src/utils/pull_out/geometric_pull_out.cpp
Labels: documentation, planning

#3620 chore(sync): sync mkdocs.yaml
  .github/sync-files.yaml
  planning/behavior_path_planner/docs/behavior_path_planner_interface_design.md
Labels: documentation, planning, ci, deploy-docs

#3587 feat(planning_test_utils): add off-track test for path and trajectory
  planning/planning_test_utils/include/planning_interface_test_manager/planning_interface_test_manager.hpp
  planning/planning_test_utils/include/planning_interface_test_manager/planning_interface_test_manager_utils.hpp
  planning/planning_test_utils/src/planning_interface_test_manager.cpp
Labels: planning

#3593 test(freespace_planner): add off-track test
  planning/freespace_planner/test/test_freespace_planner_node_interface.cpp
Labels: planning

#3630 fix(planner_manager): check existance of running candidate module
  planning/behavior_path_planner/src/planner_manager.cpp
Labels: planning

#3598 fix(rviz_plugin): fx traffic light and velocity factor rviz plugin
  common/tier4_state_rviz_plugin/src/velocity_steering_factors_panel.cpp
  common/tier4_traffic_light_rviz_plugin/src/traffic_light_publish_panel.cpp
Labels: common

#3582 feat(avoidance): output avoidance target marker that are always shown in rviz
  planning/behavior_path_planner/include/behavior_path_planner/marker_util/avoidance/debug.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/src/marker_util/avoidance/debug.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#3586 fix(avoidance): fix visualization bug
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/utils.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
Labels: planning

#3625 docs(.pages): ignore top-level documents for better visibility
  .pages
Labels: deploy-docs

#3577 refactor(avoidance_by_lane_change): reuse lane change class
  planning/behavior_path_planner/CMakeLists.txt
  planning/behavior_path_planner/include/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/avoidance_by_lane_change.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/base_class.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/normal.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance_by_lc/module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/utils.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/avoidance_by_lc/module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/avoidance_by_lane_change.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/manager.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
Labels: planning

#3574 feat(behavior_path_planner): run fixed_goal_planner with other modules simutaneously
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/goal_planner_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_manager_interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/goal_planner/default_fixed_goal_planner.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/goal_planner/fixed_goal_planner_base.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/utils/goal_planner/default_fixed_goal_planner.cpp
Labels: planning

#3588 test(obstacle_velocity_limiter): add off-track test
  planning/obstacle_velocity_limiter/test/test_obstacle_velocity_limiter_node_interface.cpp
Labels: planning

#3589 test(obstacle_stop_planner): add off-track test
  planning/obstacle_stop_planner/test/test_obstacle_stop_planner_node_interface.cpp
Labels: planning

#3594 test(planning_validator): add off-track test
  planning/planning_validator/test/src/test_planning_validator_node_interface.cpp
Labels: planning

#3632 refactor(lane_change): remove avoidance_by_lc folder
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance_by_lc/manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance_by_lc/module.hpp
  planning/behavior_path_planner/src/scene_module/avoidance_by_lc/manager.cpp
  planning/behavior_path_planner/src/scene_module/avoidance_by_lc/module.cpp
Labels: planning

#3592 test(scenario_selector): add off-track test
  planning/scenario_selector/test/test_scenario_selector_node_interface.cpp
Labels: planning

#3590 test(obstacle_cruise_planner): add off-track test
  planning/obstacle_cruise_planner/test/test_obstacle_cruise_planner_node_interface.cpp
Labels: planning

#3631 fix(behavior_path_planner): terminate turn signal when it passes end point
  planning/behavior_path_planner/src/turn_signal_decider.cpp
Labels: planning

#3603 fix(intersection): fixed virtual wall marker id duplication
  planning/behavior_velocity_planner/src/scene_module/intersection/debug.cpp
Labels: planning

#3490 feat: handle NaNs when using OSQP
  control/mpc_lateral_controller/src/qp_solver/qp_solver_osqp.cpp
  planning/motion_velocity_smoother/src/smoother/jerk_filtered_smoother.cpp
  planning/motion_velocity_smoother/src/smoother/l2_pseudo_jerk_smoother.cpp
  planning/motion_velocity_smoother/src/smoother/linf_pseudo_jerk_smoother.cpp
  planning/obstacle_avoidance_planner/src/eb_path_smoother.cpp
  planning/obstacle_avoidance_planner/src/mpt_optimizer.cpp
  planning/obstacle_cruise_planner/src/optimization_based_planner/velocity_optimizer.cpp
Labels: planning, control

#3624 refactor(avoidance): remove hard code params
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/manager.cpp
Labels: planning

#3609 feat(behavior_path_planner): renew lane change collision check functions
  planning/behavior_path_planner/include/behavior_path_planner/utils/safety_check.hpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
  planning/behavior_path_planner/src/utils/safety_check.cpp
  planning/behavior_path_planner/test/test_lane_change_utils.cpp
Labels: planning

#3635 feat(behavior_path_planner): hold previous drivable area info in LC
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/base_class.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
Labels: planning

#2621 feat(freespace_planning_algorithms): fix performance issue in freespace planning with respect to collision table initialization using A-Search algo
  planning/freespace_planning_algorithms/include/freespace_planning_algorithms/abstract_algorithm.hpp
  planning/freespace_planning_algorithms/src/abstract_algorithm.cpp
Labels: planning

#3614 docs(behavior): update planner manager document
  planning/behavior_path_planner/docs/behavior_path_planner_interface_design.md
  planning/behavior_path_planner/docs/behavior_path_planner_manager_design.md
  planning/behavior_path_planner/image/manager/avoidance.svg
  planning/behavior_path_planner/image/manager/example_behavior.svg
  planning/behavior_path_planner/image/manager/lane_change.svg
  planning/behavior_path_planner/image/manager/module_select.svg
  planning/behavior_path_planner/image/manager/multiple_candidates.svg
  planning/behavior_path_planner/image/manager/output_module.svg
  planning/behavior_path_planner/image/manager/request_step1.svg
  planning/behavior_path_planner/image/manager/request_step2-2.svg
  planning/behavior_path_planner/image/manager/request_step2-3.svg
  planning/behavior_path_planner/image/manager/request_step2.svg
  planning/behavior_path_planner/image/manager/request_step3.svg
  planning/behavior_path_planner/image/manager/request_step4-2.svg
  planning/behavior_path_planner/image/manager/request_step4-3.svg
  planning/behavior_path_planner/image/manager/request_step4.svg
  planning/behavior_path_planner/image/manager/request_step5.svg
  planning/behavior_path_planner/image/manager/root_generation.svg
  planning/behavior_path_planner/image/manager/root_lanelet.svg
Labels: documentation, planning, deploy-docs

#3634 feat(behavior_path_planner): resolve multiple modules turn signal info
  planning/behavior_path_planner/include/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/include/behavior_path_planner/data_manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/turn_signal_decider.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/turn_signal_decider.cpp
Labels: planning

#3639 feat(map_loader): visualize hatched road markings
  map/map_loader/src/lanelet2_map_loader/lanelet2_map_visualization_node.cpp
Labels: map

#3383 fix(perception): remove UB reinterpret_cast
  perception/tensorrt_yolo/lib/src/plugins/nms_plugin.cpp
  perception/tensorrt_yolo/lib/src/plugins/yolo_layer_plugin.cpp
  sensing/pointcloud_preprocessor/src/crop_box_filter/crop_box_filter_nodelet.cpp
  system/system_monitor/reader/hdd_reader/hdd_reader.cpp
Labels: perception, sensing, system

#3637 feat(goal_planner): consider previous module's turn signal
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
Labels: planning

#3604 feat(behavior_path_planner): expand hatched road markings
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/data_manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/utils.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/planner_manager.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/scene_module/pull_out/pull_out_module.cpp
  planning/behavior_path_planner/src/scene_module/side_shift/side_shift_module.cpp
  planning/behavior_path_planner/src/utils/pull_out/shift_pull_out.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
  planning/static_centerline_optimizer/src/utils.cpp
Labels: planning

#3638 feat(lane_change): consider previous module's turn signal
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/base_class.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
Labels: planning

#3647 feat(behavior_path_planner): combine drivable area info from multiple modules
  planning/behavior_path_planner/include/behavior_path_planner/utils/utils.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/scene_module/pull_out/pull_out_module.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning

#3649 fix(avoidance): use lowest instead of min
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
Labels: planning

#3556 fix(obstacle_stop_planner): fix the issues when use_predicted_objects true
  planning/obstacle_stop_planner/README.md
  planning/obstacle_stop_planner/include/obstacle_stop_planner/adaptive_cruise_control.hpp
  planning/obstacle_stop_planner/include/obstacle_stop_planner/node.hpp
  planning/obstacle_stop_planner/include/obstacle_stop_planner/planner_data.hpp
  planning/obstacle_stop_planner/include/obstacle_stop_planner/planner_utils.hpp
  planning/obstacle_stop_planner/src/adaptive_cruise_control.cpp
  planning/obstacle_stop_planner/src/node.cpp
  planning/obstacle_stop_planner/src/planner_utils.cpp
Labels: documentation, planning

#3014 perf(ring_outlier_filter): performance tuning
  sensing/pointcloud_preprocessor/docs/ring-outlier-filter.md
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/outlier_filter/ring_outlier_filter_nodelet.hpp
  sensing/pointcloud_preprocessor/src/filter.cpp
  sensing/pointcloud_preprocessor/src/outlier_filter/ring_outlier_filter_nodelet.cpp
Labels: documentation, sensing

#3645 fix(tier4_perception_launch): fix duplicated topic name
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_fusion_based_detection.launch.xml
Labels: launch

#3651 fix(multi_object_tracker): fix unintended perturbation in tracking estimation via non initialized eigen vector
  perception/multi_object_tracker/src/tracker/model/big_vehicle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/normal_vehicle_tracker.cpp
Labels: perception

#3636 feat(avoidance): consider previous module's turn signal
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#3459 fix(radar_fusion_to_detected_object): fix input from TrackedObjects to DetectedObjects
  perception/radar_fusion_to_detected_object/README.md
  perception/radar_fusion_to_detected_object/include/radar_object_fusion_to_detected_object/radar_object_fusion_to_detected_object_node.hpp
  perception/radar_fusion_to_detected_object/src/radar_object_fusion_to_detected_object_node/radar_object_fusion_to_detected_object_node.cpp
Labels: documentation, perception

#3650 fix(behavior_path_planner): fix lateral distance calculation
  planning/behavior_path_planner/CMakeLists.txt
  planning/behavior_path_planner/src/utils/safety_check.cpp
  planning/behavior_path_planner/test/test_safety_check.cpp
Labels: planning

#3656 fix(behavior_path_planner): deal with empty drivable_lanes with old archi
  planning/behavior_path_planner/include/behavior_path_planner/data_manager.hpp
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning

#3652 fix(planner_manager): delete subsequent approved modules
  planning/behavior_path_planner/src/planner_manager.cpp
Labels: planning

#3655 feat(intersection): remove lanelets on path from detection area
  planning/behavior_velocity_planner/include/scene_module/intersection/util.hpp
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_intersection.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_merge_from_private_road.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/util.cpp
Labels: planning

#3646 fix(behavior_path_planner): fix side_shift module with old_architecture
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/side_shift/side_shift_module.hpp
  planning/behavior_path_planner/src/scene_module/side_shift/side_shift_module.cpp
Labels: planning

#3430 perf: yolox acceleration
  common/tensorrt_common/CMakeLists.txt
  common/tensorrt_common/include/tensorrt_common/logger.hpp
  common/tensorrt_common/include/tensorrt_common/simple_profiler.hpp
  common/tensorrt_common/include/tensorrt_common/tensorrt_common.hpp
  common/tensorrt_common/package.xml
  common/tensorrt_common/src/simple_profiler.cpp
  common/tensorrt_common/src/tensorrt_common.cpp
  perception/tensorrt_yolox/CMakeLists.txt
  perception/tensorrt_yolox/README.md
  perception/tensorrt_yolox/include/tensorrt_yolox/calibrator.hpp
  perception/tensorrt_yolox/include/tensorrt_yolox/preprocess.hpp
  perception/tensorrt_yolox/include/tensorrt_yolox/tensorrt_yolox.hpp
  perception/tensorrt_yolox/launch/yolox.launch.xml
  perception/tensorrt_yolox/package.xml
  perception/tensorrt_yolox/src/preprocess.cu
  perception/tensorrt_yolox/src/tensorrt_yolox.cpp
  perception/tensorrt_yolox/src/tensorrt_yolox_node.cpp
Labels: documentation, perception, common

#3658 feat(behavior_path_planner): add dynamic avoidance debug marker
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/dynamic_avoidance_module.cpp
Labels: planning

#3558 feat(obstacle_stop_planner): add filtering feature for predicted objects
  planning/obstacle_stop_planner/README.md
  planning/obstacle_stop_planner/config/obstacle_stop_planner.param.yaml
  planning/obstacle_stop_planner/include/obstacle_stop_planner/node.hpp
  planning/obstacle_stop_planner/include/obstacle_stop_planner/planner_data.hpp
  planning/obstacle_stop_planner/include/obstacle_stop_planner/planner_utils.hpp
  planning/obstacle_stop_planner/src/node.cpp
  planning/obstacle_stop_planner/src/planner_utils.cpp
Labels: documentation, planning

#3623 refactor(avoidance): remove redundant parameters
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/manager.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/avoidance_by_lane_change.cpp
Labels: planning

#3560 refactor(obstacle_stop_planner): remove unnecessary variables and functions, improve code performance
  planning/obstacle_stop_planner/include/obstacle_stop_planner/planner_data.hpp
  planning/obstacle_stop_planner/include/obstacle_stop_planner/planner_utils.hpp
  planning/obstacle_stop_planner/src/adaptive_cruise_control.cpp
  planning/obstacle_stop_planner/src/node.cpp
  planning/obstacle_stop_planner/src/planner_utils.cpp
Labels: planning

#3667 fix(map_loader): fix readme
  map/map_loader/README.md
Labels: documentation, map

#3659 refactor(lane_change): change prev info to non pointer
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/base_class.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/avoidance_by_lane_change.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
Labels: planning

#3485 feat(traffic_light_ssd_fine_detector): add support of ssd trained by mmdetection
  launch/tier4_perception_launch/launch/traffic_light_recognition/traffic_light_node_container.launch.py
  perception/traffic_light_ssd_fine_detector/CMakeLists.txt
  perception/traffic_light_ssd_fine_detector/README.md
  perception/traffic_light_ssd_fine_detector/include/traffic_light_ssd_fine_detector/nodelet.hpp
  perception/traffic_light_ssd_fine_detector/launch/traffic_light_ssd_fine_detector.launch.xml
  perception/traffic_light_ssd_fine_detector/lib/include/cuda_utils.hpp
  perception/traffic_light_ssd_fine_detector/lib/include/gather_topk.hpp
  perception/traffic_light_ssd_fine_detector/lib/include/gather_topk_kernel.hpp
  perception/traffic_light_ssd_fine_detector/lib/include/grid_priors.hpp
  perception/traffic_light_ssd_fine_detector/lib/include/grid_priors_kernel.hpp
  perception/traffic_light_ssd_fine_detector/lib/include/trt_plugin_helper.hpp
  perception/traffic_light_ssd_fine_detector/lib/include/trt_serialize.hpp
  perception/traffic_light_ssd_fine_detector/lib/include/trt_ssd.hpp
  perception/traffic_light_ssd_fine_detector/lib/src/plugins/gather_topk.cpp
  perception/traffic_light_ssd_fine_detector/lib/src/plugins/gather_topk_kernel.cu
  perception/traffic_light_ssd_fine_detector/lib/src/plugins/grid_priors.cpp
  perception/traffic_light_ssd_fine_detector/lib/src/plugins/grid_priors_kernel.cu
  perception/traffic_light_ssd_fine_detector/lib/src/trt_ssd.cpp
  perception/traffic_light_ssd_fine_detector/src/nodelet.cpp
Labels: documentation, perception, launch

#3668 feat(motion_velocity_smoother): suppress warning
  planning/motion_velocity_smoother/src/smoother/jerk_filtered_smoother.cpp
Labels: planning

#3662 fix(avoidance): clear waiting approval only when all target module are unavoidable
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#3538 docs(traffic_light_ssd_fine_detector): add document for training model with mmdetection
  perception/traffic_light_ssd_fine_detector/README.md
Labels: documentation, perception

#1080 feat(behavior_path_planner): add debug marker to side shift module
  planning/behavior_path_planner/config/side_shift/side_shift.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/side_shift/side_shift_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/side_shift/side_shift_parameters.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/side_shift/side_shift_module.cpp
Labels: planning

#3661 fix(behavior_path_planner): fix executor association with node
  planning/planning_test_utils/include/planning_interface_test_manager/planning_interface_test_manager_utils.hpp
Labels: planning

#3670 fix(behavior_path_planner): fix invalid access in goal_planner module
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
Labels: planning

#3672 fix(behavior_path_planner): fix invalid access to idling_module
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_manager_interface.hpp
Labels: planning

#3663 fix(behavior_path_planner): return FALSE when the uuid is not found
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_interface.hpp
  planning/behavior_path_planner/src/scene_module/lane_following/lane_following_module.cpp
  planning/behavior_path_planner/src/scene_module/side_shift/manager.cpp
  planning/behavior_path_planner/src/scene_module/side_shift/side_shift_module.cpp
Labels: planning

#3359 feat(tier4_autoware_utils): add and use transformPointcloud
  common/tier4_autoware_utils/include/tier4_autoware_utils/tier4_autoware_utils.hpp
  common/tier4_autoware_utils/include/tier4_autoware_utils/transform/transforms.hpp
  common/tier4_autoware_utils/package.xml
  common/tier4_autoware_utils/test/src/transform/test_transform.cpp
  localization/ndt_scan_matcher/include/ndt_scan_matcher/map_update_module.hpp
  localization/ndt_scan_matcher/include/ndt_scan_matcher/pose_initialization_module.hpp
  localization/ndt_scan_matcher/src/map_update_module.cpp
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
  localization/ndt_scan_matcher/src/pose_initialization_module.cpp
  perception/lidar_apollo_instance_segmentation/include/lidar_apollo_instance_segmentation/detector.hpp
  perception/lidar_apollo_instance_segmentation/src/detector.cpp
  perception/lidar_apollo_segmentation_tvm/src/lidar_apollo_segmentation_tvm.cpp
  planning/behavior_velocity_planner/src/node.cpp
  planning/behavior_velocity_planner/src/scene_module/run_out/dynamic_obstacle.cpp
  planning/surround_obstacle_checker/include/surround_obstacle_checker/node.hpp
  planning/surround_obstacle_checker/src/node.cpp
Labels: perception, localization, planning, common

#3671 docs(longitudinal_controller): add notation for slope compensation usage
  control/pid_longitudinal_controller/README.md
Labels: documentation, control

#3678 fix(behavior_path_planner): check modified goal uuid in isEgoOutOfRoute
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning

#3385 perf(control_cmd_gate): reduce delays introduced by the command gate
  control/vehicle_cmd_gate/script/delays_checker.py
  control/vehicle_cmd_gate/src/vehicle_cmd_gate.cpp
  system/default_ad_api/src/motion.cpp
  system/default_ad_api/src/motion.hpp
Labels: control, system

#3642 refactor(behavior_path_planner): refactoring goal_planner
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/goal_planner_module.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
Labels: planning

#3664 feat(intersection): switch default/occlusion_first_stop when occlusion appeared/disappeared or approved/disapproved
  planning/behavior_velocity_planner/include/scene_module/intersection/scene_intersection.hpp
  planning/behavior_velocity_planner/src/scene_module/intersection/debug.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_intersection.cpp
Labels: planning

#3404 test(obstacle_avoidance_planner): add interface test
  planning/obstacle_avoidance_planner/CMakeLists.txt
  planning/obstacle_avoidance_planner/package.xml
  planning/obstacle_avoidance_planner/test/test_obstacle_avoidance_planner_node_interface.cpp
  planning/planning_test_utils/include/planning_interface_test_manager/planning_interface_test_manager.hpp
  planning/planning_test_utils/include/planning_interface_test_manager/planning_interface_test_manager_utils.hpp
  planning/planning_test_utils/src/planning_interface_test_manager.cpp
Labels: planning

#3685 fix(lane_change): safety check not working when cancel disabled
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/base_class.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
Labels: planning

#3401 test(behavior_velocity_planner): add interface test
  planning/behavior_velocity_planner/CMakeLists.txt
  planning/behavior_velocity_planner/test/src/test_behavior_velocity_planner_node_interface.cpp
  planning/planning_test_utils/include/planning_interface_test_manager/planning_interface_test_manager.hpp
  planning/planning_test_utils/src/planning_interface_test_manager.cpp
Labels: planning

#3692 docs(behavior_path_planner): add safety check document
  planning/behavior_path_planner/docs/behavior_path_planner_lane_change_design.md
  planning/behavior_path_planner/docs/behavior_path_planner_safety_check.md
  planning/behavior_path_planner/image/lane_change/lane_change-collision_check.png
  planning/behavior_path_planner/image/lane_change/lane_change-collision_check_parked_vehicle.png
  planning/behavior_path_planner/image/safety_check/extended_polygons.drawio.svg
  planning/behavior_path_planner/image/safety_check/front_object.drawio.svg
  planning/behavior_path_planner/image/safety_check/safety_check_flow.drawio.svg
Labels: documentation, planning, deploy-docs

#3354 fix(ndt_scan_matcher): ndt_scan_matcher crash when input cloud is empty.
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
Labels: localization

#3681 build(iron): add workaround for image common header
  perception/bytetrack/include/bytetrack/bytetrack_node.hpp
  perception/bytetrack/src/bytetrack_visualizer_node.cpp
  perception/image_projection_based_fusion/src/debugger.cpp
  perception/tensorrt_yolo/include/tensorrt_yolo/nodelet.hpp
  perception/tensorrt_yolox/include/tensorrt_yolox/tensorrt_yolox_node.hpp
  perception/traffic_light_classifier/include/traffic_light_classifier/cnn_classifier.hpp
  perception/traffic_light_classifier/include/traffic_light_classifier/color_classifier.hpp
  perception/traffic_light_classifier/include/traffic_light_classifier/nodelet.hpp
  perception/traffic_light_map_based_detector/include/traffic_light_map_based_detector/node.hpp
  perception/traffic_light_ssd_fine_detector/include/traffic_light_ssd_fine_detector/nodelet.hpp
  perception/traffic_light_visualization/include/traffic_light_roi_visualizer/nodelet.hpp
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_intersection.cpp
  sensing/image_diagnostics/include/image_diagnostics/image_diagnostics_node.hpp
  sensing/image_transport_decompressor/src/image_transport_decompressor.cpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/blockage_diag/blockage_diag_nodelet.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/outlier_filter/dual_return_outlier_filter_nodelet.hpp
Labels: perception, sensing, planning

#3689 fix(tier4_planning_rviz_plugin): fix drivable area width
  common/tier4_planning_rviz_plugin/include/path/display.hpp
Labels: common

#3675 feat(dynamic_avoidance): ignore cut-in vehicles
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/dynamic_avoidance_module.cpp
Labels: planning

#3701 fix(obstacle_avoidance_planner): fix optimization constraint for narrow-road driving
  planning/obstacle_avoidance_planner/src/mpt_optimizer.cpp
Labels: planning

#3704 fix(control_performance_analysis): fix interpolate method
  control/control_performance_analysis/include/control_performance_analysis/control_performance_analysis_core.hpp
  control/control_performance_analysis/src/control_performance_analysis_core.cpp
Labels: control

#3688 fix(obstacle_avoidance_planner): fix script typo
  planning/obstacle_avoidance_planner/CMakeLists.txt
  planning/obstacle_avoidance_planner/docs/debug.md
  planning/obstacle_avoidance_planner/scripts/calculation_time_plotter.py
Labels: documentation, planning

#3691 feat(avoidance): check next & previous road shoulder linestring
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
  planning/route_handler/include/route_handler/route_handler.hpp
Labels: planning

#3694 fix(lane_change): not remove unsafe candidate in new architecture
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/interface.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
Labels: planning

#3706 feat(avoidance): output cylinder type marker for small objects
  planning/behavior_path_planner/src/marker_util/avoidance/debug.cpp
Labels: planning

#3690 docs(behavior_path_planner): update goal planner docs
  planning/behavior_path_planner/docs/behavior_path_planner_goal_planner_design.md
  planning/behavior_path_planner/docs/behavior_path_planner_manager_design.md
Labels: documentation, planning, deploy-docs

#3676 feat(dynamic_avoidance): avoid backward obstacle
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/dynamic_avoidance_module.cpp
Labels: planning

#3686 fix(tier4_perception_launch): fix image_number description
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_radar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detection.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
Labels: launch

#3703 chore(surround_obstacle_checker): skip pcd transform when pcd is empty
  planning/surround_obstacle_checker/src/node.cpp
Labels: planning

#3709 fix(behavior_path_planner): init idling module
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_manager_interface.hpp
Labels: planning

#3712 fix(intersection): fixed bad optional access
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_intersection.cpp
Labels: planning

#3715 fix(behavior_path_planner): handle overlap lane in isEgoOutOfRoute()
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning

#3716 fix(behavior_path_planner): boundary's nearest search
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning

#3719 fix(behavior_path_planner): extract backward obstacles correctly
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning

#3644 refactor(pid_longitudinal_controller): set stopped state if ego is not in autonomous mode
  control/pid_longitudinal_controller/src/pid_longitudinal_controller.cpp
Labels: control

#3710 feat(dynamic_avoidance): consider TTC for predicted path extraction from drivable area
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/dynamic_avoidance_module.cpp
Labels: planning

#3532 feat(path_sampler): add a sampling based path planner
  launch/tier4_planning_launch/launch/planning.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/motion_planning/motion_planning.launch.py
  planning/sampling_based_planner/bezier_sampler/CMakeLists.txt
  planning/sampling_based_planner/bezier_sampler/README.md
  planning/sampling_based_planner/bezier_sampler/include/bezier_sampler/bezier.hpp
  planning/sampling_based_planner/bezier_sampler/include/bezier_sampler/bezier_sampling.hpp
  planning/sampling_based_planner/bezier_sampler/package.xml
  planning/sampling_based_planner/bezier_sampler/src/bezier.cpp
  planning/sampling_based_planner/bezier_sampler/src/bezier_sampling.cpp
  planning/sampling_based_planner/frenet_planner/CMakeLists.txt
  planning/sampling_based_planner/frenet_planner/README.md
  planning/sampling_based_planner/frenet_planner/include/frenet_planner/conversions.hpp
  planning/sampling_based_planner/frenet_planner/include/frenet_planner/frenet_planner.hpp
  planning/sampling_based_planner/frenet_planner/include/frenet_planner/polynomials.hpp
  planning/sampling_based_planner/frenet_planner/include/frenet_planner/structures.hpp
  planning/sampling_based_planner/frenet_planner/launch/frenet_planner.launch
  planning/sampling_based_planner/frenet_planner/package.xml
  planning/sampling_based_planner/frenet_planner/src/frenet_planner/frenet_planner.cpp
  planning/sampling_based_planner/frenet_planner/src/frenet_planner/polynomials.cpp
  planning/sampling_based_planner/path_sampler/CMakeLists.txt
  planning/sampling_based_planner/path_sampler/README.md
  planning/sampling_based_planner/path_sampler/include/path_sampler/common_structs.hpp
  planning/sampling_based_planner/path_sampler/include/path_sampler/node.hpp
  planning/sampling_based_planner/path_sampler/include/path_sampler/parameters.hpp
  planning/sampling_based_planner/path_sampler/include/path_sampler/path_generation.hpp
  planning/sampling_based_planner/path_sampler/include/path_sampler/prepare_inputs.hpp
  planning/sampling_based_planner/path_sampler/include/path_sampler/type_alias.hpp
  planning/sampling_based_planner/path_sampler/include/path_sampler/utils/geometry_utils.hpp
  planning/sampling_based_planner/path_sampler/include/path_sampler/utils/trajectory_utils.hpp
  planning/sampling_based_planner/path_sampler/package.xml
  planning/sampling_based_planner/path_sampler/src/node.cpp
  planning/sampling_based_planner/path_sampler/src/path_generation.cpp
  planning/sampling_based_planner/path_sampler/src/prepare_inputs.cpp
  planning/sampling_based_planner/path_sampler/src/utils/trajectory_utils.cpp
  planning/sampling_based_planner/sampler_common/CMakeLists.txt
  planning/sampling_based_planner/sampler_common/README.md
  planning/sampling_based_planner/sampler_common/include/sampler_common/constraints/footprint.hpp
  planning/sampling_based_planner/sampler_common/include/sampler_common/constraints/hard_constraint.hpp
  planning/sampling_based_planner/sampler_common/include/sampler_common/constraints/map_constraints.hpp
  planning/sampling_based_planner/sampler_common/include/sampler_common/constraints/soft_constraint.hpp
  planning/sampling_based_planner/sampler_common/include/sampler_common/structures.hpp
  planning/sampling_based_planner/sampler_common/include/sampler_common/transform/spline_transform.hpp
  planning/sampling_based_planner/sampler_common/package.xml
  planning/sampling_based_planner/sampler_common/src/sampler_common/constraints/footprint.cpp
  planning/sampling_based_planner/sampler_common/src/sampler_common/constraints/hard_constraint.cpp
  planning/sampling_based_planner/sampler_common/src/sampler_common/constraints/soft_constraint.cpp
  planning/sampling_based_planner/sampler_common/src/sampler_common/transform/spline_transform.cpp
  planning/sampling_based_planner/sampler_common/test/test_structures.cpp
  planning/sampling_based_planner/sampler_common/test/test_transform.cpp
Labels: documentation, planning, launch

#3720 fix(behavior_path_planner): keep terminal point in resamplePathWithSpline
  planning/behavior_path_planner/src/utils/path_utils.cpp
Labels: planning

#3695 test(planning_test_utils): add ASSART_NO_THROW_WITH_ERROR_MSG macro
  planning/behavior_path_planner/test/test_behavior_path_planner_node_interface.cpp
  planning/behavior_velocity_planner/test/src/test_behavior_velocity_planner_node_interface.cpp
  planning/freespace_planner/test/test_freespace_planner_node_interface.cpp
  planning/obstacle_avoidance_planner/test/test_obstacle_avoidance_planner_node_interface.cpp
  planning/obstacle_cruise_planner/test/test_obstacle_cruise_planner_node_interface.cpp
  planning/obstacle_stop_planner/test/test_obstacle_stop_planner_node_interface.cpp
  planning/planning_test_utils/include/planning_interface_test_manager/planning_interface_test_manager.hpp
  planning/planning_test_utils/include/planning_interface_test_manager/planning_interface_test_manager_utils.hpp
Labels: planning

#3566 feat(behavior_path_planner): lane change abort
  planning/behavior_path_planner/config/lane_change/lane_change.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/base_class.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/normal.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/safety_check.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
  planning/behavior_path_planner/src/utils/safety_check.cpp
Labels: planning

#3717 feat(behavior_path_planner): request approval after deciding path in goal_planner
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/goal_planner_module.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
Labels: planning

#3721 fix(geometric_parallel_parking): add check for empty path
  planning/behavior_path_planner/src/utils/geometric_parallel_parking/geometric_parallel_parking.cpp
Labels: planning

#3722 refactor(lane_change): adding module's type to logger
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/base_class.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
Labels: planning

#3726 fix(behavior_path_planner): add isInLaneletWithYawThreshold()
  planning/behavior_path_planner/include/behavior_path_planner/utils/utils.hpp
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning

#3683 feat(vehicle_cmd_gate): do not send current gear if autoware is not engaged
  control/vehicle_cmd_gate/launch/vehicle_cmd_gate.launch.xml
  control/vehicle_cmd_gate/src/vehicle_cmd_gate.cpp
  control/vehicle_cmd_gate/src/vehicle_cmd_gate.hpp
  launch/tier4_control_launch/launch/control.launch.py
Labels: control, launch

#3684 feat(shift_decider): send current gear if the autoware state is not driving
  control/shift_decider/include/shift_decider/shift_decider.hpp
  control/shift_decider/src/shift_decider.cpp
  launch/tier4_control_launch/launch/control.launch.py
Labels: control, launch

#3729 feat(planner_manager): output module status
  planning/behavior_path_planner/src/planner_manager.cpp
Labels: planning

#3733 fix(behavior_velocity_planner): fixed walkway virtual wall marker id duplication
  planning/behavior_velocity_planner/src/scene_module/crosswalk/debug.cpp
Labels: planning

#3730 fix(avoidance): update ego avoidance velocity if the ego is faster than saved velocity
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#3732 fix(compare_map_segmentation): fix bug when set dynamic map loader for no split map
  perception/compare_map_segmentation/README.md
  perception/compare_map_segmentation/include/compare_map_segmentation/voxel_grid_map_loader.hpp
Labels: bug, documentation, perception

#3737 fix(system_error_monitor): time type mismatch error
  system/system_error_monitor/src/system_error_monitor_core.cpp
Labels: system

#3735 fix(motion_utils): fix resample index
  common/motion_utils/src/resample/resample.cpp
Labels: common

#3705 feat(lane_change): add dynamic lateral acc lc
  planning/behavior_path_planner/config/lane_change/lane_change.param.yaml
  planning/behavior_path_planner/docs/behavior_path_planner_lane_change_design.md
  planning/behavior_path_planner/include/behavior_path_planner/parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/utils.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
  planning/behavior_path_planner/test/test_lane_change_utils.cpp
Labels: documentation, planning

#3727 fix(planning_debug_tools): fix y lim of trajectory_visualizer
  planning/planning_debug_tools/scripts/trajectory_visualizer.py
Labels: planning

#3738 fix(lane_change): copy drivable area info
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
Labels: planning

#3745 refactor(avoidance): use magic enum
  planning/behavior_path_planner/src/marker_util/avoidance/debug.cpp
Labels: planning

#3697 feat(qp_interface): add new package which will contain various qp solvers
  common/qp_interface/CMakeLists.txt
  common/qp_interface/design/qp_interface-design.md
  common/qp_interface/include/qp_interface/osqp_csc_matrix_conv.hpp
  common/qp_interface/include/qp_interface/osqp_interface.hpp
  common/qp_interface/include/qp_interface/qp_interface.hpp
  common/qp_interface/package.xml
  common/qp_interface/src/osqp_csc_matrix_conv.cpp
  common/qp_interface/src/osqp_interface.cpp
  common/qp_interface/src/qp_interface.cpp
  common/qp_interface/test/test_csc_matrix_conv.cpp
  common/qp_interface/test/test_osqp_interface.cpp
Labels: documentation, common, deploy-docs

#3741 fix(behavior_path_planner): extract obstacles from drivable area without intersection
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning

#3753 backport: build(bytetrack): add missing dependencies
  perception/bytetrack/package.xml
Labels: perception

#3748 chore(autoware_auto_geometry): add maintainer
  common/autoware_auto_geometry/package.xml
Labels: common

#3752 fix(obstacle_velicity_limiter): fix invalid access to odometry pointer
  planning/obstacle_velocity_limiter/include/obstacle_velocity_limiter/obstacle_velocity_limiter_node.hpp
  planning/obstacle_velocity_limiter/src/obstacle_velocity_limiter_node.cpp
Labels: planning

#3758 fix(behavior_path_planner): fix invalid access for null drivable area bound
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning

#3756 fix(behavior_path_planner): remove setting maximum velocity after lane change
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
Labels: planning

#3746 docs(obstacle_stop_planner): fix dead link error in pre-commit optional
  planning/obstacle_stop_planner/README.md
Labels: documentation, planning

#3077 docs(autoware_auto_geometry): fix link to paper
  .markdown-link-check.json
  common/autoware_auto_geometry/design/polygon_intersection_2d-design.md
Labels: documentation, common

#3764 docs(lidar_centerpoint): fix path of image
  perception/lidar_centerpoint/launch/centerpoint_vs_centerpoint-tiny/README.md
Labels: documentation, perception

#3739 fix(obstacle_stop_planner): extendTrajectory function causes NaN poses
  planning/obstacle_stop_planner/src/planner_utils.cpp
Labels: planning

#3763 feat(intersection): denoise occlusion by morphology open process
  planning/behavior_velocity_planner/config/intersection.param.yaml
  planning/behavior_velocity_planner/include/scene_module/intersection/scene_intersection.hpp
  planning/behavior_velocity_planner/src/scene_module/intersection/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_intersection.cpp
Labels: planning

#3755 fix(behavior_path_planner): fix initial scene module state for new architecture
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_interface.hpp
Labels: planning

#3743 feat(obstacle_cruise_planner): hysteresis for slow down decision
  planning/obstacle_cruise_planner/config/obstacle_cruise_planner.param.yaml
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/node.hpp
  planning/obstacle_cruise_planner/src/node.cpp
Labels: planning

#3751 feat(obstacle_cruise_planner): add margin time for slow down
  planning/obstacle_cruise_planner/config/obstacle_cruise_planner.param.yaml
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/planner_interface.hpp
  planning/obstacle_cruise_planner/src/planner_interface.cpp
Labels: planning

#3699 feat(qp_interface): support proxqp
  common/qp_interface/CMakeLists.txt
  common/qp_interface/include/qp_interface/osqp_interface.hpp
  common/qp_interface/include/qp_interface/proxqp_interface.hpp
  common/qp_interface/include/qp_interface/qp_interface.hpp
  common/qp_interface/package.xml
  common/qp_interface/src/osqp_interface.cpp
  common/qp_interface/src/proxqp_interface.cpp
  common/qp_interface/src/qp_interface.cpp
  common/qp_interface/test/test_osqp_interface.cpp
  common/qp_interface/test/test_proxqp_interface.cpp
Labels: common

#3750 feat(lane_change): enable prepare segment acceleration
  planning/behavior_path_planner/config/lane_change/lane_change.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/base_class.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/normal.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/utils.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
Labels: planning

#3767 feat(avoidance): don't avoid objects around crosswalks
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
Labels: planning

#3766 docs(behaivor_path_planner): fixed default value for document in goal_planner
  planning/behavior_path_planner/docs/behavior_path_planner_goal_planner_design.md
Labels: documentation, planning

#3754 fix(obstacle_avoidance_planner): smooth path connection after optimization
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/utils/trajectory_utils.hpp
  planning/obstacle_avoidance_planner/src/node.cpp
Labels: planning

#3595 fix(avoidance): ignore objects less than execution threshold
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
Labels: planning

#3768 fix(behavior_path_planner): reset idling module
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_manager_interface.hpp
Labels: planning

#3760 feat(behavior_path_planner): add longitudinal acc to path shifter
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_shifter/path_shifter.hpp
  planning/behavior_path_planner/src/utils/path_shifter/path_shifter.cpp
Labels: planning

#3657 fix(behavior_path_planner): use setter to set current_state_
  planning/behavior_path_planner/include/behavior_path_planner/planner_manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_interface.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/dynamic_avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
  planning/behavior_path_planner/src/scene_module/lane_following/lane_following_module.cpp
  planning/behavior_path_planner/src/scene_module/pull_out/pull_out_module.cpp
  planning/behavior_path_planner/src/scene_module/scene_module_bt_node_interface.cpp
  planning/behavior_path_planner/src/scene_module/side_shift/side_shift_module.cpp
Labels: planning

#3771 chore(typo/cspell): fix typos and cscpell errors in `behavior_velocity_planner`
  planning/behavior_velocity_planner/include/scene_module/intersection/scene_intersection.hpp
  planning/behavior_velocity_planner/include/scene_module/intersection/util.hpp
  planning/behavior_velocity_planner/src/node.cpp
  planning/behavior_velocity_planner/src/scene_module/detection_area/scene.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/debug.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_intersection.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/util.cpp
  planning/behavior_velocity_planner/src/utilization/util.cpp
Labels: planning

#3747 fix(motion_utils): fix logic to calculate decel distantace
  common/motion_utils/src/distance/distance.cpp
  common/motion_utils/test/src/distance/test_distance.cpp
Labels: common

#3744 fix(obstacle_cruise_planner): insert slow down with precise constraints
  planning/obstacle_cruise_planner/config/obstacle_cruise_planner.param.yaml
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/planner_interface.hpp
  planning/obstacle_cruise_planner/src/planner_interface.cpp
Labels: planning
