Repository autowarefoundation/autoware_universe, pull requests merged in 2023-12, with the labels that each got.

#5730 chore: update maintainer
  launch/tier4_system_launch/package.xml
  system/dummy_diag_publisher/package.xml
  system/system_monitor/package.xml
Labels: component:system, component:launch, tag:run-build-and-test-differential

#5729 fix(system_error_monitor): avoid invalid access to nullptr
  system/system_error_monitor/src/system_error_monitor_core.cpp
Labels: component:system, tag:run-build-and-test-differential

#5693 feat(intersection): ignore occlusion on amber color too
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5619 feat(obstacle_cruise_planner): prior generation of collision distance
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/common_structs.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/node.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/planner_interface.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/polygon_utils.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/utils.hpp
  planning/obstacle_cruise_planner/src/node.cpp
  planning/obstacle_cruise_planner/src/planner_interface.cpp
  planning/obstacle_cruise_planner/src/polygon_utils.cpp
  planning/obstacle_cruise_planner/src/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5752 feat(pointpainting): add build only option for tensort engine
  perception/image_projection_based_fusion/docs/pointpainting-fusion.md
  perception/image_projection_based_fusion/launch/pointpainting_fusion.launch.xml
  perception/image_projection_based_fusion/src/pointpainting_fusion/node.cpp
Labels: type:documentation, component:perception, tag:run-build-and-test-differential

#5658 feat(avoidance): keep stopping until all shift lines are registered
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/manager.cpp
  planning/behavior_path_planner/src/utils/avoidance/shift_line_generator.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5566 refactor(intersection): rename param, update doc
  planning/behavior_velocity_intersection_module/README.md
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_intersection_module/docs/data-structure.drawio.svg
  planning/behavior_velocity_intersection_module/docs/intersection-attention.drawio.svg
  planning/behavior_velocity_intersection_module/docs/intersection-stoplines.drawio.svg
  planning/behavior_velocity_intersection_module/docs/occlusion-with-tl.drawio.svg
  planning/behavior_velocity_intersection_module/docs/occlusion-without-tl.drawio.svg
  planning/behavior_velocity_intersection_module/docs/occlusion-wo-tl-creeping.png
  planning/behavior_velocity_intersection_module/docs/occlusion_grid.drawio.svg
  planning/behavior_velocity_intersection_module/docs/signal-phase-group.drawio.svg
  planning/behavior_velocity_intersection_module/docs/static-occlusion-timeout.png
  planning/behavior_velocity_intersection_module/docs/stuck-vehicle.drawio.svg
  planning/behavior_velocity_intersection_module/docs/ugly-intersection.drawio.svg
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_intersection_module/src/scene_merge_from_private_road.cpp
  planning/behavior_velocity_intersection_module/src/scene_merge_from_private_road.hpp
  planning/behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_intersection_module/src/util.hpp
  planning/behavior_velocity_intersection_module/src/util_type.hpp
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#5749 feat(trtexec_vendor): remove package
  common/trtexec_vendor/CMakeLists.txt
  common/trtexec_vendor/README.md
  common/trtexec_vendor/env-hooks/trtexec_vendor.sh.in
  common/trtexec_vendor/package.xml
Labels: type:documentation, component:common, tag:run-build-and-test-differential

#5753 fix(system_monitor): fix uninitialized diag level of process monitor
  system/system_monitor/include/system_monitor/process_monitor/diag_task.hpp
Labels: type:bug, component:system, tag:run-build-and-test-differential

#4695 refactor(costmap_generator): rework parameters
  planning/costmap_generator/CMakeLists.txt
  planning/costmap_generator/README.md
  planning/costmap_generator/config/costmap_generator.param.yaml
  planning/costmap_generator/launch/costmap_generator.launch.xml
  planning/costmap_generator/nodes/costmap_generator/costmap_generator_node.cpp
  planning/costmap_generator/schema/costmap_generator.schema.json
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#5407 docs(mpc_lateral_controller): improve description
  control/mpc_lateral_controller/README.md
Labels: type:documentation, component:control, tag:run-build-and-test-differential

#5750 fix(avoidance): include shoulder lane to avoid
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
  planning/route_handler/include/route_handler/route_handler.hpp
Labels: component:planning, tag:run-build-and-test-differential

#5738 chore(obstacle_cruise)!: remove unused params
  planning/obstacle_cruise_planner/config/obstacle_cruise_planner.param.yaml
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/node.hpp
  planning/obstacle_cruise_planner/src/node.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5756 refactor(tier4_autoware_utils): boost optional to std optional
  common/tier4_autoware_utils/include/tier4_autoware_utils/ros/marker_helper.hpp
  common/tier4_autoware_utils/package.xml
  common/tier4_autoware_utils/src/ros/marker_helper.cpp
Labels: component:common, tag:run-build-and-test-differential

#5757 refactor(virtual_traffic_light): boost::optional to std::optional
  planning/behavior_velocity_virtual_traffic_light_module/package.xml
  planning/behavior_velocity_virtual_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_virtual_traffic_light_module/src/scene.hpp
Labels: component:planning, tag:run-build-and-test-differential

#5694 docs(planning): update documentation structure
  planning/.pages
  planning/README.md
Labels: type:documentation, component:planning, tag:deploy-docs, tag:run-build-and-test-differential

#5759 chore(ci): enable cron trigger for spell-check-all
  .github/workflows/spell-check-all.yaml
Labels: type:ci, tag:run-build-and-test-differential

#5763 refactor(landmark_manager): move `calc_new_self_pose` from ar_tag_based_localizer to landmark_manger
  localization/landmark_based_localizer/ar_tag_based_localizer/src/ar_tag_based_localizer.cpp
  localization/landmark_based_localizer/ar_tag_based_localizer/src/ar_tag_based_localizer.hpp
  localization/landmark_based_localizer/landmark_manager/include/landmark_manager/landmark_manager.hpp
  localization/landmark_based_localizer/landmark_manager/package.xml
  localization/landmark_based_localizer/landmark_manager/src/landmark_manager.cpp
Labels: component:localization, tag:run-build-and-test-differential

#5760 refactor(run_out): boost::optional to std::optional
  planning/behavior_velocity_run_out_module/src/dynamic_obstacle.cpp
  planning/behavior_velocity_run_out_module/src/scene.cpp
  planning/behavior_velocity_run_out_module/src/scene.hpp
  planning/behavior_velocity_run_out_module/src/state_machine.hpp
  planning/behavior_velocity_run_out_module/src/utils.cpp
  planning/behavior_velocity_run_out_module/src/utils.hpp
Labels: component:planning, tag:run-build-and-test-differential

#5630 refactor(tier4_perception_launch): refactor perception launcher
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detection.launch.xml
Labels: component:launch, tag:run-build-and-test-differential

#5764 refactor(behavior_velocity_planner_common): boost::optional to std::optional
  planning/behavior_velocity_occlusion_spot_module/src/risk_predictive_braking.cpp
  planning/behavior_velocity_planner/src/planner_manager.cpp
  planning/behavior_velocity_planner_common/include/behavior_velocity_planner_common/planner_data.hpp
  planning/behavior_velocity_planner_common/include/behavior_velocity_planner_common/plugin_interface.hpp
  planning/behavior_velocity_planner_common/include/behavior_velocity_planner_common/plugin_wrapper.hpp
  planning/behavior_velocity_planner_common/include/behavior_velocity_planner_common/scene_module_interface.hpp
  planning/behavior_velocity_planner_common/include/behavior_velocity_planner_common/utilization/arc_lane_util.hpp
  planning/behavior_velocity_planner_common/include/behavior_velocity_planner_common/utilization/util.hpp
  planning/behavior_velocity_planner_common/package.xml
  planning/behavior_velocity_planner_common/src/utilization/arc_lane_util.cpp
  planning/behavior_velocity_planner_common/src/utilization/util.cpp
  planning/behavior_velocity_planner_common/test/src/test_arc_lane_util.cpp
  planning/behavior_velocity_virtual_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_walkway_module/src/scene_walkway.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5772 feat(landmark_manager): add consider_orientation
  localization/landmark_based_localizer/README.md
  localization/landmark_based_localizer/ar_tag_based_localizer/config/ar_tag_based_localizer.param.yaml
  localization/landmark_based_localizer/ar_tag_based_localizer/src/ar_tag_based_localizer.cpp
  localization/landmark_based_localizer/ar_tag_based_localizer/src/ar_tag_based_localizer.hpp
  localization/landmark_based_localizer/doc_image/consider_orientation.drawio.svg
  localization/landmark_based_localizer/landmark_manager/include/landmark_manager/landmark_manager.hpp
  localization/landmark_based_localizer/landmark_manager/src/landmark_manager.cpp
Labels: type:documentation, component:localization, tag:run-build-and-test-differential

#5767 fix(mission_planner): use ClearRoute instead of Trigger to prevent dying
  planning/mission_planner/include/mission_planner/mission_planner_interface.hpp
  planning/mission_planner/src/mission_planner/mission_planner.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5768 fix(mission_planner): fix clear_mrm_route
  planning/mission_planner/src/mission_planner/mission_planner.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5766 fix(mission_planner): fix check_reroute_safety
  planning/mission_planner/src/mission_planner/mission_planner.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5771 refactor(bpp): use pluginlib to load scene module
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.xml
  planning/behavior_path_planner/CMakeLists.txt
  planning/behavior_path_planner/include/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/include/behavior_path_planner/planner_manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/dynamic_avoidance/dynamic_avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/dynamic_avoidance/manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/goal_planner_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/base_class.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/side_shift/manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/side_shift/side_shift_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/start_planner/manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/start_planner/start_planner_module.hpp
  planning/behavior_path_planner/launch/behavior_path_planner.launch.xml
  planning/behavior_path_planner/package.xml
  planning/behavior_path_planner/plugins.xml
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/planner_manager.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/manager.cpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/manager.cpp
  planning/behavior_path_planner/src/scene_module/goal_planner/manager.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/manager.cpp
  planning/behavior_path_planner/src/scene_module/side_shift/manager.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/manager.cpp
  planning/behavior_path_planner/test/test_behavior_path_planner_node_interface.cpp
  planning/behavior_path_planner_common/CMakeLists.txt
  planning/behavior_path_planner_common/include/behavior_path_planner_common/interface/scene_module_interface.hpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/interface/scene_module_manager_interface.hpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/interface/scene_module_visitor.hpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/interface/steering_factor_interface.hpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/parameters.hpp
  planning/behavior_path_planner_common/package.xml
  planning/behavior_path_planner_common/src/interface/scene_module_visitor.cpp
  planning/behavior_path_planner_common/src/interface/steering_factor_interface.cpp
Labels: component:planning, component:launch, tag:run-build-and-test-differential

#5747 refactor(start_planner): refactor debug and safety check logic
  planning/behavior_path_planner/config/goal_planner/goal_planner.param.yaml
  planning/behavior_path_planner/config/start_planner/start_planner.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/start_planner/start_planner_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/start_planner_parameters.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/manager.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/manager.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
  planning/behavior_path_planner/src/utils/start_goal_planner_common/utils.cpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/path_safety_checker/path_safety_checker_parameters.hpp
Labels: component:planning, tag:run-build-and-test-differential

#5774 fix(dynamic_avoidance): deal with reference path changing by LC
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/dynamic_avoidance/dynamic_avoidance_module.hpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/dynamic_avoidance_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5775 docs(planning): update front page
  planning/README.md
Labels: type:documentation, component:planning, tag:deploy-docs, tag:run-build-and-test-differential

#5778 feat(component_state_monitor): monitor traffic light recognition output
  system/component_state_monitor/config/topics.yaml
Labels: component:system, tag:run-build-and-test-differential

#5726 feat(dynamic_avoidance): reintroduce path_generation_method
  planning/behavior_path_planner/config/dynamic_avoidance/dynamic_avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/dynamic_avoidance/dynamic_avoidance_module.hpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/dynamic_avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/manager.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5784 feat(mission_planner): print reroute info
  planning/mission_planner/src/mission_planner/mission_planner.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5785 fix(behavior_path_planner): reset previou modified goal
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5788 fix(mission_planner): fix reroute chattering when mrm route clear fails
  planning/mission_planner/src/mission_planner/mission_planner.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5787 feat(mission_planner): judge reroute safe when ego is stopped
  planning/mission_planner/src/mission_planner/mission_planner.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5786 feat(behavior_path_planner): allow reroute when always executable module running or candidate modules is running
  planning/behavior_path_planner/include/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/include/behavior_path_planner/planner_manager.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/planner_manager.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5691 fix(ekf_localizer): correct the calculation of delay_step in updateMeasurementPose/Twist
  localization/ekf_localizer/include/ekf_localizer/ekf_localizer.hpp
  localization/ekf_localizer/include/ekf_localizer/ekf_module.hpp
  localization/ekf_localizer/include/ekf_localizer/warning_message.hpp
  localization/ekf_localizer/src/ekf_localizer.cpp
  localization/ekf_localizer/src/ekf_module.cpp
  localization/ekf_localizer/src/warning_message.cpp
  localization/ekf_localizer/test/test_warning_message.cpp
Labels: component:localization, tag:run-build-and-test-differential

#5792 fix(start_planner): check safety only when waiting approval
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5782 feat(start_planner): add surround moving obstacle check
  planning/behavior_path_planner/config/start_planner/start_planner.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/start_planner/start_planner_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/start_planner_parameters.hpp
  planning/behavior_path_planner/src/scene_module/start_planner/manager.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/path_safety_checker/objects_filtering.hpp
  planning/behavior_path_planner_common/src/utils/path_safety_checker/objects_filtering.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5804 fix(avoidance): fix invalid optional access
  planning/behavior_path_avoidance_module/src/shift_line_generator.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5806 refactor(behavior_path_planner): delete unnecessary TODO
  planning/behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
  planning/behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5653 fix(crosswalk_traffic_light_estimator): add operation to remove traffic signals with duplicated ids
  perception/crosswalk_traffic_light_estimator/include/crosswalk_traffic_light_estimator/node.hpp
  perception/crosswalk_traffic_light_estimator/src/node.cpp
Labels: component:perception, tag:run-build-and-test-differential

#5813 chore(crosswalk): update comments
  planning/behavior_velocity_crosswalk_module/config/crosswalk.param.yaml
  planning/behavior_velocity_crosswalk_module/src/manager.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5755 refactor(motion_utils): stop using CAPACITY from Trajectory message
  common/motion_utils/src/trajectory/tmp_conversion.cpp
  common/motion_utils/test/src/trajectory/test_trajectory.cpp
Labels: tag:run-build-and-test-differential

#5807 refactor(lane_change): move lane change param
  planning/behavior_path_avoidance_module/test/test_behavior_path_planner_node_interface.cpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/utils.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/manager.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
  planning/behavior_path_planner/test/test_lane_change_utils.cpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/parameters.hpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/utils.hpp
  planning/behavior_path_planner_common/src/utils/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5821 fix(ekf_localizer): correct the initialization of accumulated_delay_times to obtain accurate computation of delay_time
  localization/ekf_localizer/src/ekf_module.cpp
Labels: component:localization, tag:run-build-and-test-differential

#5744 fix(autoware_auto_msgs_adapter): fix predicted path test
  system/autoware_auto_msgs_adapter/test/test_msg_predicted_objects.cpp
Labels: component:system, tag:run-build-and-test-differential

#5689 fix(avoidance): output invalid avoidance path with unsafe state
  planning/behavior_path_avoidance_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5818 fix(localization_util): fixed rejection criteria of SmartPoseBuffer::interpolate
  localization/localization_util/src/smart_pose_buffer.cpp
Labels: component:localization, tag:run-build-and-test-differential

#5824 fix(lidar_centerpoint,image_projection_based_fusion): add guard to avoid exceeding max voxel size
  perception/image_projection_based_fusion/include/image_projection_based_fusion/pointpainting_fusion/preprocess_kernel.hpp
  perception/image_projection_based_fusion/src/pointpainting_fusion/pointpainting_trt.cpp
  perception/image_projection_based_fusion/src/pointpainting_fusion/preprocess_kernel.cu
  perception/lidar_centerpoint/include/lidar_centerpoint/preprocess/preprocess_kernel.hpp
  perception/lidar_centerpoint/lib/centerpoint_trt.cpp
  perception/lidar_centerpoint/lib/preprocess/preprocess_kernel.cu
Labels: component:perception, tag:run-build-and-test-differential

#5810 feat(obstacle_cruise_planner): add jerk and acc limits for slow-down
  planning/obstacle_cruise_planner/config/default_common.param.yaml
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/common_structs.hpp
  planning/obstacle_cruise_planner/src/planner_interface.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5819 fix(traffic_light): stop if the traffic light signal timed out
  planning/behavior_velocity_traffic_light_module/README.md
  planning/behavior_velocity_traffic_light_module/config/traffic_light.param.yaml
  planning/behavior_velocity_traffic_light_module/src/manager.cpp
  planning/behavior_velocity_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_traffic_light_module/src/scene.hpp
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#5762 feat(multi_object_tracker): add debugger output processing_time/cyclic_time/elapsed_time, tentative objects
  perception/multi_object_tracker/config/multi_object_tracker_node.param.yaml
  perception/multi_object_tracker/include/multi_object_tracker/multi_object_tracker_core.hpp
  perception/multi_object_tracker/src/multi_object_tracker_core.cpp
Labels: component:perception, tag:run-build-and-test-differential

#5830 refactor(surround_obstacle_checker): boost::optional to std:optional
  planning/surround_obstacle_checker/include/surround_obstacle_checker/node.hpp
  planning/surround_obstacle_checker/src/node.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5833 docs(intersection): add image
  planning/behavior_velocity_intersection_module/README.md
  planning/behavior_velocity_intersection_module/docs/traffic-light-specific-behavior.drawio.svg
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#5682 fix(avoidance): reset output path when the module transits success status
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/data_structs.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/scene.hpp
  planning/behavior_path_avoidance_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5829 refactor(motion_utils): apply clang-tidy result
  common/motion_utils/include/motion_utils/marker/virtual_wall_marker_creator.hpp
  common/motion_utils/include/motion_utils/resample/resample.hpp
  common/motion_utils/include/motion_utils/resample/resample_utils.hpp
  common/motion_utils/include/motion_utils/trajectory/interpolation.hpp
  common/motion_utils/include/motion_utils/trajectory/path_with_lane_id.hpp
  common/motion_utils/include/motion_utils/trajectory/tmp_conversion.hpp
  common/motion_utils/include/motion_utils/trajectory/trajectory.hpp
  common/motion_utils/include/motion_utils/vehicle/vehicle_state_checker.hpp
  common/motion_utils/src/distance/distance.cpp
  common/motion_utils/src/marker/marker_helper.cpp
  common/motion_utils/src/marker/virtual_wall_marker_creator.cpp
  common/motion_utils/src/resample/resample.cpp
  common/motion_utils/src/trajectory/interpolation.cpp
  common/motion_utils/src/trajectory/tmp_conversion.cpp
Labels: component:common, tag:run-build-and-test-differential

#5838 fix(avoidance): fix missing parent ids
  planning/behavior_path_avoidance_module/src/shift_line_generator.cpp
  planning/behavior_path_avoidance_module/src/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5817 feat(radar_threshold_filter): add unit test
  sensing/radar_threshold_filter/CMakeLists.txt
  sensing/radar_threshold_filter/include/radar_threshold_filter/radar_threshold_filter_node.hpp
  sensing/radar_threshold_filter/src/radar_threshold_filter_node/radar_threshold_filter_node.cpp
  sensing/radar_threshold_filter/test/radar_threshold_filter/test_radar_threshold_filter.cpp
  sensing/radar_threshold_filter/test/test_threshold_filter.cpp
Labels: component:sensing, tag:run-build-and-test-differential

#5836 fix(goal_planner): fix checkOriginalGoalIsInShoulder
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_goal_planner_module/src/util.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5832 refactor(occlusion_spot): boost::optional to std::optional
  planning/behavior_velocity_occlusion_spot_module/src/grid_utils.cpp
  planning/behavior_velocity_occlusion_spot_module/src/grid_utils.hpp
  planning/behavior_velocity_occlusion_spot_module/src/occlusion_spot_utils.cpp
  planning/behavior_velocity_occlusion_spot_module/src/occlusion_spot_utils.hpp
Labels: component:planning, tag:run-build-and-test-differential

#5841 fix(planning): fix typo
  planning/README.md
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#5848 fix(landmark_manager): changed to a shared library
  localization/landmark_based_localizer/landmark_manager/CMakeLists.txt
Labels: component:localization, tag:run-build-and-test-differential

#5781 refactor(localization_launch, ground_segmentation_launch): rename lidar topic
  launch/tier4_localization_launch/launch/localization.launch.xml
  launch/tier4_perception_launch/launch/obstacle_segmentation/ground_segmentation/ground_segmentation.launch.py
Labels: component:launch, tag:run-build-and-test-differential

#5843 feat(system_error_monitor): aggregate control validator diagnostics
  system/system_error_monitor/config/diagnostic_aggregator/control.param.yaml
Labels: component:system, tag:run-build-and-test-differential

#5845 feat(rtc_interface): add publisher to publish auto mode status
  planning/rtc_interface/include/rtc_interface/rtc_interface.hpp
  planning/rtc_interface/src/rtc_interface.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5837 build(detection_by_tracker): move utils.hpp file to the detection_by_tracker folder and namespace to avoid conflicts
  perception/detection_by_tracker/include/detection_by_tracker/detection_by_tracker_core.hpp
  perception/detection_by_tracker/include/detection_by_tracker/utils.hpp
  perception/detection_by_tracker/src/utils.cpp
Labels: component:perception, tag:run-build-and-test-differential

#5831 refactor(blind_spot_module): boost::optional to std::optional
  planning/behavior_velocity_blind_spot_module/package.xml
  planning/behavior_velocity_blind_spot_module/src/scene.cpp
  planning/behavior_velocity_blind_spot_module/src/scene.hpp
Labels: component:planning, tag:run-build-and-test-differential

#5853 feat(tracking_object_merger): check motion direction and yaw direction to prevent unintended direction update
  perception/tracking_object_merger/include/tracking_object_merger/utils/utils.hpp
  perception/tracking_object_merger/src/utils/utils.cpp
Labels: component:perception, tag:run-build-and-test-differential

#5847 fix(behavior, launch): fix launch error
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.xml
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_velocity_planner/src/node.cpp
Labels: component:planning, component:launch, tag:run-build-and-test-differential

#5799 refactor(avoidance): use drivable bound to calculate road shoulder distance
  planning/behavior_path_avoidance_by_lane_change_module/src/scene.cpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/data_structs.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/debug.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/utils.hpp
  planning/behavior_path_avoidance_module/src/debug.cpp
  planning/behavior_path_avoidance_module/src/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5856 fix(multi_object_tracker): fix typo in node yaml parameter
  perception/multi_object_tracker/config/multi_object_tracker_node.param.yaml
Labels: component:perception, tag:run-build-and-test-differential

#5814 feat: add Planning Msg Adapter
  system/autoware_auto_msgs_adapter/CMakeLists.txt
  system/autoware_auto_msgs_adapter/config/adapter_planning.param.yaml
  system/autoware_auto_msgs_adapter/launch/autoware_auto_msgs_adapter.launch.xml
  system/autoware_auto_msgs_adapter/package.xml
  system/autoware_auto_msgs_adapter/schema/autoware_auto_msgs_adapter.schema.json
  system/autoware_auto_msgs_adapter/src/autoware_auto_msgs_adapter_core.cpp
  system/autoware_auto_msgs_adapter/src/include/adapter_planning.hpp
  system/autoware_auto_msgs_adapter/src/include/autoware_auto_msgs_adapter_core.hpp
  system/autoware_auto_msgs_adapter/test/test_msg_planning_trajectory.cpp
Labels: component:system, tag:run-build-and-test-differential

#5716 chore: add glog_component for pointcloud_container
  launch/tier4_perception_launch/launch/obstacle_segmentation/ground_segmentation/ground_segmentation.launch.py
Labels: component:launch, tag:run-build-and-test-differential

#5854 refactor(ar_tag_based_localizer): refactor pub/sub and so on
  launch/tier4_localization_launch/launch/pose_twist_estimator/ar_tag_based_localizer.launch.xml
  localization/landmark_based_localizer/ar_tag_based_localizer/launch/ar_tag_based_localizer.launch.xml
  localization/landmark_based_localizer/ar_tag_based_localizer/package.xml
  localization/landmark_based_localizer/ar_tag_based_localizer/src/ar_tag_based_localizer.cpp
  localization/landmark_based_localizer/ar_tag_based_localizer/src/ar_tag_based_localizer.hpp
  localization/landmark_based_localizer/ar_tag_based_localizer/src/main.cpp
  localization/landmark_based_localizer/ar_tag_based_localizer/test/test.cpp
Labels: component:localization, component:launch, tag:run-build-and-test-differential

#5860 feat(shape_estimation): add bicycle shape corrector
  perception/shape_estimation/include/shape_estimation/corrector/bicycle_corrector.hpp
  perception/shape_estimation/include/shape_estimation/corrector/corrector.hpp
  perception/shape_estimation/lib/shape_estimator.cpp
Labels: component:perception, tag:run-build-and-test-differential

#5868 feat(simple_planning_simulator): add mesurent_steer_bias
  simulator/simple_planning_simulator/README.md
  simulator/simple_planning_simulator/include/simple_planning_simulator/simple_planning_simulator_core.hpp
  simulator/simple_planning_simulator/src/simple_planning_simulator/simple_planning_simulator_core.cpp
Labels: type:documentation, component:simulation, tag:run-build-and-test-differential

#5864 fix(traffic_light_visualization): move header directory to match package name
  perception/traffic_light_visualization/include/traffic_light_visualization/traffic_light_map_visualizer/node.hpp
  perception/traffic_light_visualization/include/traffic_light_visualization/traffic_light_roi_visualizer/nodelet.hpp
  perception/traffic_light_visualization/src/traffic_light_map_visualizer/main.cpp
  perception/traffic_light_visualization/src/traffic_light_map_visualizer/node.cpp
  perception/traffic_light_visualization/src/traffic_light_roi_visualizer/nodelet.cpp
Labels: component:perception, tag:run-build-and-test-differential

#5005 refactor(compare_map_segmentation): rework parameters
  perception/compare_map_segmentation/CMakeLists.txt
  perception/compare_map_segmentation/config/compare_elevation_map_filter.param.yaml
  perception/compare_map_segmentation/config/distance_based_compare_map_filter.param.yaml
  perception/compare_map_segmentation/config/voxel_based_approximate_compare_map_filter.param.yaml
  perception/compare_map_segmentation/config/voxel_based_compare_map_filter.param.yaml
  perception/compare_map_segmentation/config/voxel_distance_based_compare_map_filter.param.yaml
  perception/compare_map_segmentation/launch/compare_elevation_map_filter.launch.xml
  perception/compare_map_segmentation/launch/distance_based_compare_map_filter.launch.xml
  perception/compare_map_segmentation/launch/voxel_based_approximate_compare_map_filter.launch.xml
  perception/compare_map_segmentation/launch/voxel_based_compare_map_filter.launch.xml
  perception/compare_map_segmentation/launch/voxel_distance_based_compare_map_filter.launch.xml
  perception/compare_map_segmentation/schema/compare_elevation_map_filter.schema.json
  perception/compare_map_segmentation/schema/distance_based_compare_map_filter.schema.json
  perception/compare_map_segmentation/schema/voxel_based_approximate_compare_map_filter.schema.json
  perception/compare_map_segmentation/schema/voxel_based_compare_map_filter.schema.json
  perception/compare_map_segmentation/schema/voxel_distance_based_compare_map_filter.schema.json
  perception/compare_map_segmentation/src/compare_elevation_map_filter_node.cpp
Labels: component:perception, tag:run-build-and-test-differential

#5875 feat(behavior_velocity_planner_common): add objects_of_interest_marker_intereface to behavior_velocity_planner
  planning/behavior_velocity_no_stopping_area_module/src/scene_no_stopping_area.cpp
  planning/behavior_velocity_planner_common/include/behavior_velocity_planner_common/scene_module_interface.hpp
  planning/behavior_velocity_planner_common/package.xml
  planning/behavior_velocity_planner_common/src/scene_module_interface.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5877 refactor(behavior_path_planner): move utils function to `behavior_path_planner_common` package
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/geometric_pull_over.hpp
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/goal_searcher.hpp
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/shift_pull_over.hpp
  planning/behavior_path_planner/CMakeLists.txt
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_following/module_data.hpp
  planning/behavior_path_planner_common/CMakeLists.txt
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/occupancy_grid_based_collision_detector/occupancy_grid_based_collision_detector.hpp
  planning/behavior_path_planner_common/src/utils/occupancy_grid_based_collision_detector/occupancy_grid_based_collision_detector.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5849 feat(crosswalk): ignore predicted path going across the crosswalk
  planning/behavior_velocity_crosswalk_module/config/crosswalk.param.yaml
  planning/behavior_velocity_crosswalk_module/include/behavior_velocity_crosswalk_module/util.hpp
  planning/behavior_velocity_crosswalk_module/src/manager.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
Labels: component:planning, tag:run-build-and-test-differential

#4902 refactor(image_projection_based_fusion): add JSON Schema and remove default value spefications
  perception/image_projection_based_fusion/config/pointpainting.param.yaml
  perception/image_projection_based_fusion/config/roi_cluster_fusion.param.yaml
  perception/image_projection_based_fusion/config/roi_pointcloud_fusion.param.yaml
  perception/image_projection_based_fusion/config/roi_sync.param.yaml
  perception/image_projection_based_fusion/docs/images/roi_cluster_fusion_pipeline.svg
  perception/image_projection_based_fusion/docs/roi-cluster-fusion.md
  perception/image_projection_based_fusion/launch/pointpainting_fusion.launch.xml
  perception/image_projection_based_fusion/launch/roi_cluster_fusion.launch.xml
  perception/image_projection_based_fusion/launch/roi_detected_object_fusion.launch.xml
  perception/image_projection_based_fusion/launch/roi_pointcloud_fusion.launch.xml
  perception/image_projection_based_fusion/package.xml
  perception/image_projection_based_fusion/schema/pointpainting.schema.json
  perception/image_projection_based_fusion/schema/roi_cluster_fusion.schema.json
  perception/image_projection_based_fusion/schema/roi_detected_object_fusion.schema.json
  perception/image_projection_based_fusion/schema/roi_pointcloud_fusion.schema.json
  perception/image_projection_based_fusion/schema/roi_sync.schema.json
  perception/image_projection_based_fusion/src/fusion_node.cpp
  perception/image_projection_based_fusion/src/pointpainting_fusion/node.cpp
Labels: type:documentation, component:perception, tag:run-build-and-test-differential

#5805 fix(avoidance): fix unexpected sudden deceleration for avoidance maneuver
  planning/behavior_path_avoidance_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5886 fix(goal_planner): set rederence path for candidate path
  planning/behavior_path_goal_planner_module/src/goal_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5857 fix(avoidance): check far objects during shifting
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/helper.hpp
Labels: component:planning, tag:run-build-and-test-differential

#5885 perf(run_out): improve calculation cost of smoothPath
  planning/behavior_velocity_run_out_module/src/debug.hpp
  planning/behavior_velocity_run_out_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5888 feat(planning_debug_utils): add update_logger_level.sh
  planning/planning_debug_tools/CMakeLists.txt
  planning/planning_debug_tools/README.md
  planning/planning_debug_tools/image/logging_level_updater.png
  planning/planning_debug_tools/image/logging_level_updater_typo.png
  planning/planning_debug_tools/scripts/update_logger_level.sh
Labels: type:documentation, component:planning, tag:deploy-docs, tag:run-build-and-test-differential

#5842 fix(static_drivable_area_expansion): fix bug in expansion logic for hatched road marking
  planning/behavior_path_planner_common/src/utils/drivable_area_expansion/static_drivable_area.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5891 chore(motion_velocity_smoother): remove unnecessary info of non autonomous control
  planning/motion_velocity_smoother/src/motion_velocity_smoother_node.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5889 refactor(behavior_path_planner): remove use_experimental_lane_change_function
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.xml
  planning/behavior_path_planner/README.md
Labels: type:documentation, component:planning, component:launch, tag:run-build-and-test-differential

#5894 perf(planning_debug_tools): improve calculation time of perception_reproducer
  planning/planning_debug_tools/scripts/perception_replayer/perception_reproducer.py
Labels: component:planning, tag:run-build-and-test-differential

#5887 fix(avoidance): unintentional path cut
  planning/behavior_path_avoidance_module/src/scene.cpp
  planning/behavior_path_goal_planner_module/src/default_fixed_goal_planner.cpp
  planning/behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/utils/base_class.hpp
  planning/behavior_path_lane_change_module/src/interface.cpp
  planning/behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/planner_manager.cpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/dynamic_avoidance_module.cpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/data_manager.hpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/interface/scene_module_interface.hpp
  planning/behavior_path_planner_common/src/utils/path_utils.cpp
  planning/behavior_path_side_shift_module/src/scene.cpp
  planning/behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5865 chore: add maintainer in map packages
  launch/tier4_map_launch/package.xml
  map/map_height_fitter/package.xml
  map/map_loader/package.xml
  map/map_projection_loader/package.xml
  map/map_tf_generator/package.xml
Labels: component:map, component:launch, tag:run-build-and-test-differential

#5896 chore(crosswalk): remove debug print
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
Labels: tag:run-build-and-test-differential

#5892 feat(pid_longitudinal_controller): change the condition from emergency to stopped
  control/pid_longitudinal_controller/src/pid_longitudinal_controller.cpp
Labels: component:control, tag:run-build-and-test-differential

#5897 chore(behavior_velocity_planner): use DEBUG for launching modules
  planning/behavior_velocity_planner_common/src/scene_module_interface.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5883 fix(intersection): generate yield stuck detect area from multiple lanes
  planning/behavior_velocity_intersection_module/README.md
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_intersection_module/docs/yield-stuck.drawio.svg
  planning/behavior_velocity_intersection_module/src/debug.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_intersection_module/src/util.hpp
  planning/behavior_velocity_intersection_module/src/util_type.hpp
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#5899 refactor(lane_change): standardizing lane change logger name
  common/tier4_logging_level_configure_rviz_plugin/config/logger_config.yaml
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/utils/base_class.hpp
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/utils/utils.hpp
  planning/behavior_path_lane_change_module/src/interface.cpp
  planning/behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_lane_change_module/src/utils/utils.cpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/interface/scene_module_interface.hpp
Labels: component:planning, component:common, tag:run-build-and-test-differential

#5880 chore(map_loader): visualize crosswalk id
  map/map_loader/src/lanelet2_map_loader/lanelet2_map_visualization_node.cpp
Labels: component:map, tag:run-build-and-test-differential

#5900 feat(dynamic_avoidance): always launch the module when requested
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/dynamic_avoidance/manager.hpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/manager.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5822 docs(raw_vehicle_cmd_converter): update readme
  vehicle/raw_vehicle_cmd_converter/README.md
  vehicle/raw_vehicle_cmd_converter/figure/accel-brake-map-table.png
Labels: tag:deploy-docs, tag:run-build-and-test-differential

#5862 feat(run_out)!: ignore the collision points on crosswalk
  planning/behavior_velocity_run_out_module/config/run_out.param.yaml
  planning/behavior_velocity_run_out_module/package.xml
  planning/behavior_velocity_run_out_module/src/manager.cpp
  planning/behavior_velocity_run_out_module/src/scene.cpp
  planning/behavior_velocity_run_out_module/src/scene.hpp
  planning/behavior_velocity_run_out_module/src/utils.hpp
Labels: component:planning, tag:run-build-and-test-differential

#5902 fix(dynamic_avoidance): fix drivable area generation during LC
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/dynamic_avoidance/dynamic_avoidance_module.hpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/dynamic_avoidance_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5901 feat(dynamic_avoidance): deal with forked path of the same directional vehicles
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/dynamic_avoidance/dynamic_avoidance_module.hpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/dynamic_avoidance_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5898 chore(crosswalk, obstacle_cruise): add maintainer
  planning/behavior_velocity_crosswalk_module/package.xml
  planning/obstacle_cruise_planner/package.xml
Labels: component:planning, tag:run-build-and-test-differential

#5869 refactor(avoidance_by_lane_change): update execution condition
  planning/behavior_path_avoidance_by_lane_change_module/config/avoidance_by_lc.param.yaml
  planning/behavior_path_avoidance_by_lane_change_module/include/behavior_path_avoidance_by_lane_change_module/data_structs.hpp
  planning/behavior_path_avoidance_by_lane_change_module/include/behavior_path_avoidance_by_lane_change_module/interface.hpp
  planning/behavior_path_avoidance_by_lane_change_module/include/behavior_path_avoidance_by_lane_change_module/scene.hpp
  planning/behavior_path_avoidance_by_lane_change_module/src/interface.cpp
  planning/behavior_path_avoidance_by_lane_change_module/src/manager.cpp
  planning/behavior_path_avoidance_by_lane_change_module/src/scene.cpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/parameter_helper.hpp
  planning/behavior_path_avoidance_module/src/manager.cpp
  planning/behavior_path_lane_change_module/src/utils/utils.cpp
  planning/behavior_path_planner/src/planner_manager.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5665 chore(motion_utils): enrich error message
  common/motion_utils/include/motion_utils/resample/resample_utils.hpp
  common/motion_utils/include/motion_utils/trajectory/trajectory.hpp
  common/motion_utils/test/src/trajectory/test_trajectory.cpp
Labels: component:common, tag:run-build-and-test-differential

#5910 feat(intersection): disable stuck detection against private lane
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
Labels: component:planning, tag:run-build-and-test-differential

#5911 fix(run_out): do not insert stop point when stopped in Object method
  planning/behavior_velocity_run_out_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5874 fix(start_planner): refine shift pull out path to start pose
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/shift_pull_out.hpp
  planning/behavior_path_start_planner_module/src/shift_pull_out.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5912 refactor(traffic_light_module): boost::optional to std::optional
  planning/behavior_velocity_traffic_light_module/package.xml
  planning/behavior_velocity_traffic_light_module/src/debug.cpp
  planning/behavior_velocity_traffic_light_module/src/manager.cpp
  planning/behavior_velocity_traffic_light_module/src/manager.hpp
  planning/behavior_velocity_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_traffic_light_module/src/scene.hpp
Labels: component:planning, tag:run-build-and-test-differential

#5914 fix(behavior_path_planner): publish steering factor from scene modules
  planning/behavior_path_planner/include/behavior_path_planner/planner_manager.hpp
Labels: component:planning, tag:run-build-and-test-differential

#5916 docs(pid_longitudinal_controller): add the explanation of STOPPED Parameter
  control/pid_longitudinal_controller/README.md
Labels: type:documentation, component:control, tag:run-build-and-test-differential

#5855 fix(avoidance): update logic to calculate centerline distance
  planning/behavior_path_avoidance_by_lane_change_module/package.xml
  planning/behavior_path_avoidance_by_lane_change_module/src/scene.cpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/data_structs.hpp
  planning/behavior_path_avoidance_module/src/debug.cpp
  planning/behavior_path_avoidance_module/src/scene.cpp
  planning/behavior_path_avoidance_module/src/utils.cpp
  planning/behavior_path_avoidance_module/test/test_utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5866 feat(map_loader): use dummy projector when using local coordinates
  map/map_loader/src/lanelet2_map_loader/lanelet2_local_projector.hpp
  map/map_loader/src/lanelet2_map_loader/lanelet2_map_loader_node.cpp
Labels: component:map, tag:run-build-and-test-differential

#5922 fix(avoidance): check moving distance
  planning/behavior_path_avoidance_module/config/avoidance.param.yaml
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/data_structs.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/parameter_helper.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/scene.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/utils.hpp
  planning/behavior_path_avoidance_module/src/scene.cpp
  planning/behavior_path_avoidance_module/src/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5923 chore(behavior_path_planner_common): add maintainer
  planning/behavior_path_planner_common/package.xml
Labels: component:planning, tag:run-build-and-test-differential

#5904 feat(behavior_path_planner): add a method to notify the planner manager of a successful lane change (update root lanelet)
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/interface.hpp
  planning/behavior_path_planner/src/planner_manager.cpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/interface/scene_module_interface.hpp
Labels: component:planning, tag:run-build-and-test-differential

#5906 feat(behavior_path_planner): potentially speed up cut overlapped lanes
  planning/behavior_path_planner_common/src/utils/drivable_area_expansion/static_drivable_area.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5913 refactor(freespace_planning_algorithm): boost optional to std
  planning/freespace_planning_algorithms/include/freespace_planning_algorithms/rrtstar_core.hpp
  planning/freespace_planning_algorithms/src/rrtstar_core.cpp
Labels: tag:run-build-and-test-differential

#5780 refactor(sensing-imu-corrector): rework parameters
  sensing/imu_corrector/schema/imu_corrector.json
Labels: component:sensing, tag:run-build-and-test-differential

#5917 fix(dynamic_avoidance): fix which side to avoid
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/dynamic_avoidance_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5924 refactor(behavior_path_planner_common): remove unused headers
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/util.hpp
  planning/behavior_path_goal_planner_module/src/freespace_pull_over.cpp
  planning/behavior_path_goal_planner_module/src/geometric_pull_over.cpp
  planning/behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_goal_planner_module/src/goal_searcher.cpp
  planning/behavior_path_goal_planner_module/src/util.cpp
  planning/behavior_path_planner/package.xml
  planning/behavior_path_planner_common/CMakeLists.txt
  planning/behavior_path_planner_common/include/behavior_path_planner_common/data_manager.hpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/interface/scene_module_manager_interface.hpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/interface/steering_factor_interface.hpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/marker_utils/colors.hpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/parameters.hpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/turn_signal_decider.hpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/drivable_area_expansion/footprints.hpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/drivable_area_expansion/path_projection.hpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/drivable_area_expansion/types.hpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/occupancy_grid_based_collision_detector/occupancy_grid_based_collision_detector.hpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/parking_departure/common_module_data.hpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/parking_departure/geometric_parallel_parking.hpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/parking_departure/utils.hpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/path_safety_checker/objects_filtering.hpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/path_safety_checker/safety_check.hpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/path_shifter/path_shifter.hpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/utils.hpp
  planning/behavior_path_planner_common/package.xml
  planning/behavior_path_planner_common/src/interface/steering_factor_interface.cpp
  planning/behavior_path_planner_common/src/marker_utils/utils.cpp
  planning/behavior_path_planner_common/src/turn_signal_decider.cpp
  planning/behavior_path_planner_common/src/utils/drivable_area_expansion/drivable_area_expansion.cpp
  planning/behavior_path_planner_common/src/utils/drivable_area_expansion/footprints.cpp
  planning/behavior_path_planner_common/src/utils/drivable_area_expansion/map_utils.cpp
  planning/behavior_path_planner_common/src/utils/parking_departure/geometric_parallel_parking.cpp
  planning/behavior_path_planner_common/src/utils/parking_departure/utils.cpp
  planning/behavior_path_planner_common/src/utils/path_utils.cpp
  planning/behavior_path_planner_common/src/utils/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5926 fix(object_merger): move headers to object_merger directory
  perception/object_merger/include/object_merger/data_association/data_association.hpp
  perception/object_merger/include/object_merger/data_association/solver/gnn_solver.hpp
  perception/object_merger/include/object_merger/data_association/solver/gnn_solver_interface.hpp
  perception/object_merger/include/object_merger/data_association/solver/mu_successive_shortest_path.hpp
  perception/object_merger/include/object_merger/data_association/solver/successive_shortest_path.hpp
  perception/object_merger/include/object_merger/node.hpp
  perception/object_merger/include/object_merger/utils/utils.hpp
  perception/object_merger/src/object_association_merger/data_association/data_association.cpp
  perception/object_merger/src/object_association_merger/data_association/mu_successive_shortest_path/mu_successive_shortest_path_wrapper.cpp
  perception/object_merger/src/object_association_merger/data_association/successive_shortest_path/successive_shortest_path.cpp
  perception/object_merger/src/object_association_merger/node.cpp
Labels: component:perception, tag:run-build-and-test-differential

#5707 refactor(ekf_localizer): add Simple1DFilter params to parameter file
  localization/ekf_localizer/README.md
  localization/ekf_localizer/config/ekf_localizer.param.yaml
  localization/ekf_localizer/include/ekf_localizer/hyper_parameters.hpp
  localization/ekf_localizer/src/ekf_localizer.cpp
Labels: type:documentation, component:localization, tag:run-build-and-test-differential

#5720 feat(avoidance): don't avoid merging vehicle
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/data_structs.hpp
  planning/behavior_path_avoidance_module/src/debug.cpp
  planning/behavior_path_avoidance_module/src/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5907 refactor(avoidance): remove unused header
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/data_structs.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/debug.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/helper.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/manager.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/scene.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/shift_line_generator.hpp
  planning/behavior_path_avoidance_module/package.xml
  planning/behavior_path_avoidance_module/src/debug.cpp
  planning/behavior_path_avoidance_module/src/scene.cpp
  planning/behavior_path_avoidance_module/src/shift_line_generator.cpp
  planning/behavior_path_avoidance_module/src/utils.cpp
  planning/behavior_path_avoidance_module/test/test_behavior_path_planner_node_interface.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5929 feat(avoidance): output objects of interest
  planning/behavior_path_avoidance_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5915 fix(ndt_scan_matcher): fix map_update_module structure
  localization/ndt_scan_matcher/include/ndt_scan_matcher/map_update_module.hpp
  localization/ndt_scan_matcher/include/ndt_scan_matcher/ndt_scan_matcher_core.hpp
  localization/ndt_scan_matcher/launch/ndt_scan_matcher.launch.xml
  localization/ndt_scan_matcher/src/map_update_module.cpp
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
Labels: component:localization, tag:run-build-and-test-differential

#5844 feat(perception_rviz_plugin): tracked object option to filter by is_stationary flag
  common/autoware_auto_perception_rviz_plugin/include/object_detection/object_polygon_detail.hpp
  common/autoware_auto_perception_rviz_plugin/include/object_detection/object_polygon_display_base.hpp
  common/autoware_auto_perception_rviz_plugin/include/object_detection/tracked_objects_display.hpp
  common/autoware_auto_perception_rviz_plugin/src/object_detection/detected_objects_display.cpp
  common/autoware_auto_perception_rviz_plugin/src/object_detection/object_polygon_detail.cpp
  common/autoware_auto_perception_rviz_plugin/src/object_detection/predicted_objects_display.cpp
  common/autoware_auto_perception_rviz_plugin/src/object_detection/tracked_objects_display.cpp
Labels: component:common, tag:run-build-and-test-differential

#5828 fix(avoidance): take objects on same root lanelet into consideration of safety check
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/data_structs.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/utils.hpp
  planning/behavior_path_avoidance_module/src/debug.cpp
  planning/behavior_path_avoidance_module/src/scene.cpp
  planning/behavior_path_avoidance_module/src/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5930 fix(AEB): ego to object distance calculation logic with predicted path
  control/autonomous_emergency_braking/src/node.cpp
Labels: component:control, tag:run-build-and-test-differential

#5823 feat(radar tracks msgs converter): implement dynamic status flag 'is_stationary' of the tracked object message, fix ego motion compensation
  perception/radar_tracks_msgs_converter/README.md
  perception/radar_tracks_msgs_converter/include/radar_tracks_msgs_converter/radar_tracks_msgs_converter_node.hpp
  perception/radar_tracks_msgs_converter/launch/radar_tracks_msgs_converter.launch.xml
  perception/radar_tracks_msgs_converter/src/radar_tracks_msgs_converter_node/radar_tracks_msgs_converter_node.cpp
Labels: type:documentation, component:perception, tag:run-build-and-test-differential

#5935 feat: add pose_instability_detector to diagnostic_aggregator
  system/system_error_monitor/config/diagnostic_aggregator/localization.param.yaml
Labels: component:system, tag:run-build-and-test-differential

#5945 fix(behavior_path_planner_common): added a guard of obstacle polygon points
  planning/behavior_path_planner_common/src/utils/drivable_area_expansion/static_drivable_area.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5942 fix(system_monitor): move headers to a separate directory
  system/system_monitor/include/system_monitor/hdd_monitor/hdd_monitor.hpp
  system/system_monitor/include/system_monitor/hdd_reader/hdd_reader.hpp
  system/system_monitor/include/system_monitor/msr_reader/msr_reader.hpp
  system/system_monitor/include/system_monitor/net_monitor/net_monitor.hpp
  system/system_monitor/include/system_monitor/traffic_reader/traffic_reader_common.hpp
  system/system_monitor/include/system_monitor/traffic_reader/traffic_reader_service.hpp
  system/system_monitor/reader/hdd_reader/hdd_reader.cpp
  system/system_monitor/reader/msr_reader/msr_reader.cpp
  system/system_monitor/reader/traffic_reader/traffic_reader_main.cpp
  system/system_monitor/reader/traffic_reader/traffic_reader_service.cpp
  system/system_monitor/src/cpu_monitor/intel_cpu_monitor.cpp
  system/system_monitor/src/hdd_monitor/hdd_monitor.cpp
  system/system_monitor/src/net_monitor/net_monitor.cpp
  system/system_monitor/src/voltage_monitor/voltage_monitor.cpp
  system/system_monitor/test/src/cpu_monitor/test_intel_cpu_monitor.cpp
  system/system_monitor/test/src/hdd_monitor/test_hdd_monitor.cpp
Labels: component:system, tag:run-build-and-test-differential

#5947 feat(dynamic_avoidance): change the logic of longitudinal distance to…
  planning/behavior_path_planner/config/dynamic_avoidance/dynamic_avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/dynamic_avoidance/dynamic_avoidance_module.hpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/dynamic_avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/manager.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5928 fix(static_drivable_area_expansion): fix bug in drivable bound edge processing logic
  planning/behavior_path_planner_common/src/utils/drivable_area_expansion/static_drivable_area.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5948 fix(avoidance): add missing param declaration
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/parameter_helper.hpp
Labels: component:planning, tag:run-build-and-test-differential

#5944 fix(safety_check): don't override collision polygon even if it doesn't find corresponding time pose
  planning/behavior_path_planner_common/src/utils/path_safety_checker/safety_check.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5640 feat(drivable area expansion): do not over expand beyond the desired width
  planning/behavior_path_planner/config/drivable_area_expansion.param.yaml
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/drivable_area_expansion/drivable_area_expansion.hpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/drivable_area_expansion/parameters.hpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/drivable_area_expansion/path_projection.hpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/drivable_area_expansion/types.hpp
  planning/behavior_path_planner_common/src/utils/drivable_area_expansion/drivable_area_expansion.cpp
  planning/behavior_path_planner_common/test/test_drivable_area_expansion.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5661 docs(behavior_path_planner): update documentation of the dynamic drivablea area expansion
  planning/behavior_path_planner/docs/behavior_path_planner_drivable_area_design.md
  planning/behavior_path_planner/image/drivable_area/DynamicDrivableArea-ExpDistances.drawio.svg
  planning/behavior_path_planner/image/drivable_area/DynamicDrivableArea-Expansion.drawio.svg
  planning/behavior_path_planner/image/drivable_area/DynamicDrivableArea-Expansion_Input.drawio.svg
  planning/behavior_path_planner/image/drivable_area/DynamicDrivableArea-MaxWidth.drawio.svg
  planning/behavior_path_planner/image/drivable_area/DynamicDrivableArea-MinWidth.drawio.svg
  planning/behavior_path_planner/image/drivable_area/DynamicDrivableArea-Result.drawio.svg
  planning/behavior_path_planner/image/drivable_area/drivable_area_expansion_footprints.png
  planning/behavior_path_planner/image/drivable_area/drivable_area_expansion_inputs.png
  planning/behavior_path_planner/image/drivable_area/drivable_area_expansion_result.png
  planning/behavior_path_planner/image/drivable_area/dynamic_expansion_off.png
  planning/behavior_path_planner/image/drivable_area/dynamic_expansion_on.png
Labels: type:documentation, component:planning, tag:deploy-docs, tag:run-build-and-test-differential

#5949 fix(avoidance): fix condition to trim front shift line
  planning/behavior_path_avoidance_module/src/shift_line_generator.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5908 refactor(motion_utils): change directory name of tmp_conversion
  common/motion_utils/CMakeLists.txt
  common/motion_utils/include/motion_utils/trajectory/conversion.hpp
  common/motion_utils/src/trajectory/conversion.cpp
  common/motion_utils/test/src/trajectory/test_interpolation.cpp
  common/motion_utils/test/src/trajectory/test_trajectory.cpp
  control/control_validator/include/control_validator/utils.hpp
  control/predicted_path_checker/include/predicted_path_checker/collision_checker.hpp
  control/predicted_path_checker/include/predicted_path_checker/predicted_path_checker_node.hpp
  control/pure_pursuit/include/pure_pursuit/pure_pursuit_lateral_controller.hpp
  planning/motion_velocity_smoother/include/motion_velocity_smoother/motion_velocity_smoother_node.hpp
  planning/motion_velocity_smoother/src/resample.cpp
  planning/motion_velocity_smoother/src/smoother/analytical_jerk_constrained_smoother/analytical_jerk_constrained_smoother.cpp
  planning/motion_velocity_smoother/src/smoother/smoother_base.cpp
  planning/obstacle_avoidance_planner/src/utils/trajectory_utils.cpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/common_structs.hpp
  planning/obstacle_cruise_planner/src/node.cpp
  planning/obstacle_cruise_planner/src/planner_interface.cpp
  planning/obstacle_stop_planner/include/obstacle_stop_planner/node.hpp
  planning/obstacle_stop_planner/src/planner_utils.cpp
  planning/path_smoother/src/utils/trajectory_utils.cpp
  planning/planning_topic_converter/src/path_to_trajectory.cpp
  planning/sampling_based_planner/path_sampler/src/utils/trajectory_utils.cpp
  planning/static_centerline_optimizer/src/static_centerline_optimizer_node.cpp
  planning/static_centerline_optimizer/src/successive_trajectory_optimizer_node.cpp
Labels: component:planning, component:control, component:common, tag:run-build-and-test-differential

#5941 fix(autoware_auto_geometry): move headers to a separate directory
  common/autoware_auto_geometry/CMakeLists.txt
  common/autoware_auto_geometry/design/interval.md
  common/autoware_auto_geometry/include/autoware_auto_geometry/bounding_box/bounding_box_common.hpp
  common/autoware_auto_geometry/include/autoware_auto_geometry/bounding_box/eigenbox_2d.hpp
  common/autoware_auto_geometry/include/autoware_auto_geometry/bounding_box/lfit.hpp
  common/autoware_auto_geometry/include/autoware_auto_geometry/bounding_box/rotating_calipers.hpp
  common/autoware_auto_geometry/include/autoware_auto_geometry/bounding_box_2d.hpp
  common/autoware_auto_geometry/include/autoware_auto_geometry/common_2d.hpp
  common/autoware_auto_geometry/include/autoware_auto_geometry/common_3d.hpp
  common/autoware_auto_geometry/include/autoware_auto_geometry/convex_hull.hpp
  common/autoware_auto_geometry/include/autoware_auto_geometry/hull_pockets.hpp
  common/autoware_auto_geometry/include/autoware_auto_geometry/intersection.hpp
  common/autoware_auto_geometry/include/autoware_auto_geometry/interval.hpp
  common/autoware_auto_geometry/include/autoware_auto_geometry/lookup_table.hpp
  common/autoware_auto_geometry/include/autoware_auto_geometry/spatial_hash.hpp
  common/autoware_auto_geometry/include/autoware_auto_geometry/spatial_hash_config.hpp
  common/autoware_auto_geometry/include/autoware_auto_geometry/visibility_control.hpp
  common/autoware_auto_geometry/src/bounding_box.cpp
  common/autoware_auto_geometry/src/spatial_hash.cpp
  common/autoware_auto_geometry/test/include/test_bounding_box.hpp
  common/autoware_auto_geometry/test/include/test_spatial_hash.hpp
  common/autoware_auto_geometry/test/src/lookup_table.cpp
  common/autoware_auto_geometry/test/src/test_area.cpp
  common/autoware_auto_geometry/test/src/test_common_2d.cpp
  common/autoware_auto_geometry/test/src/test_convex_hull.cpp
  common/autoware_auto_geometry/test/src/test_hull_pockets.cpp
  common/autoware_auto_geometry/test/src/test_intersection.cpp
  common/autoware_auto_geometry/test/src/test_interval.cpp
Labels: type:documentation, component:common, tag:run-build-and-test-differential

#5956 fix(ndt_scan_matcher): fixed oscillation in ndt_scan_matcher
  localization/ndt_scan_matcher/include/ndt_scan_matcher/ndt_scan_matcher_core.hpp
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
Labels: component:localization, tag:run-build-and-test-differential

#5927 fix(tier4_planning_rviz_plugin): move headers to tier4_planning_rviz_plugin directory
  common/tier4_planning_rviz_plugin/CMakeLists.txt
  common/tier4_planning_rviz_plugin/include/tier4_planning_rviz_plugin/mission_checkpoint/mission_checkpoint.hpp
  common/tier4_planning_rviz_plugin/include/tier4_planning_rviz_plugin/path/display.hpp
  common/tier4_planning_rviz_plugin/include/tier4_planning_rviz_plugin/path/display_base.hpp
  common/tier4_planning_rviz_plugin/include/tier4_planning_rviz_plugin/pose_with_uuid_stamped/display.hpp
  common/tier4_planning_rviz_plugin/include/tier4_planning_rviz_plugin/utils.hpp
  common/tier4_planning_rviz_plugin/src/mission_checkpoint/mission_checkpoint.cpp
  common/tier4_planning_rviz_plugin/src/path/display.cpp
  common/tier4_planning_rviz_plugin/src/pose_with_uuid_stamped/display.cpp
Labels: component:common, tag:run-build-and-test-differential

#5863 fix(planning_test_utils): rename header directory to match project name
  planning/behavior_path_avoidance_by_lane_change_module/test/test_behavior_path_planner_node_interface.cpp
  planning/behavior_path_avoidance_module/test/test_behavior_path_planner_node_interface.cpp
  planning/behavior_path_external_request_lane_change_module/test/test_behavior_path_planner_node_interface.cpp
  planning/behavior_path_lane_change_module/test/test_behavior_path_planner_node_interface.cpp
  planning/behavior_path_planner/test/test_behavior_path_planner_node_interface.cpp
  planning/behavior_path_side_shift_module/test/test_behavior_path_planner_node_interface.cpp
  planning/behavior_velocity_planner/test/src/test_node_interface.cpp
  planning/freespace_planner/test/test_freespace_planner_node_interface.cpp
  planning/motion_velocity_smoother/test/test_motion_velocity_smoother_node_interface.cpp
  planning/obstacle_avoidance_planner/test/test_obstacle_avoidance_planner_node_interface.cpp
  planning/obstacle_cruise_planner/test/test_obstacle_cruise_planner_node_interface.cpp
  planning/obstacle_stop_planner/test/test_obstacle_stop_planner_node_interface.cpp
  planning/obstacle_velocity_limiter/test/test_obstacle_velocity_limiter_node_interface.cpp
  planning/path_smoother/test/test_path_smoother_node_interface.cpp
  planning/planning_test_utils/include/planning_test_utils/planning_interface_test_manager.hpp
  planning/planning_test_utils/include/planning_test_utils/planning_interface_test_manager_utils.hpp
  planning/planning_test_utils/src/planning_interface_test_manager.cpp
  planning/planning_validator/test/src/test_planning_validator_node_interface.cpp
  planning/scenario_selector/test/test_scenario_selector_node_interface.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5943 fix(diagnostic_converter): move headers to a separate directory
  evaluator/diagnostic_converter/include/diagnostic_converter/converter_node.hpp
  evaluator/diagnostic_converter/src/converter_node.cpp
  evaluator/diagnostic_converter/test/test_converter_node.cpp
Labels: component:evaluator, tag:run-build-and-test-differential
