Repository autowarefoundation/autoware_universe, pull requests merged in 2023-03, with the labels that each got.

#2796 refactor(obstacle_avoidance_planner): clean up the code
  common/interpolation/include/interpolation/spline_interpolation_points_2d.hpp
  common/interpolation/src/spline_interpolation_points_2d.cpp
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/motion_planning/motion_planning.launch.py
  planning/obstacle_avoidance_planner/CMakeLists.txt
  planning/obstacle_avoidance_planner/README.md
  planning/obstacle_avoidance_planner/config/obstacle_avoidance_planner.param.yaml
  planning/obstacle_avoidance_planner/docs/debug.md
  planning/obstacle_avoidance_planner/docs/eb.md
  planning/obstacle_avoidance_planner/docs/mpt.md
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/common_structs.hpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/debug_marker.hpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/eb_path_optimizer.hpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/eb_path_smoother.hpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/mpt_optimizer.hpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/node.hpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/replan_checker.hpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/state_equation_generator.hpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/type_alias.hpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/utils/debug_utils.hpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/utils/geometry_utils.hpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/utils/trajectory_utils.hpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/utils/utils.hpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/vehicle_model/vehicle_model_bicycle_kinematics.hpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/vehicle_model/vehicle_model_bicycle_kinematics_no_delay.hpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/vehicle_model/vehicle_model_interface.hpp
  planning/obstacle_avoidance_planner/launch/obstacle_avoidance_planner.launch.xml
  planning/obstacle_avoidance_planner/media/bounds.svg
  planning/obstacle_avoidance_planner/media/eb.svg
  planning/obstacle_avoidance_planner/media/eb_constraint.svg
  planning/obstacle_avoidance_planner/media/vehicle_circles.svg
  planning/obstacle_avoidance_planner/package.xml
  planning/obstacle_avoidance_planner/scripts/calclation_time_plotter.py
  planning/obstacle_avoidance_planner/scripts/trajectory_visualizer.py
  planning/obstacle_avoidance_planner/src/debug_marker.cpp
  planning/obstacle_avoidance_planner/src/eb_path_optimizer.cpp
  planning/obstacle_avoidance_planner/src/eb_path_smoother.cpp
  planning/obstacle_avoidance_planner/src/mpt_optimizer.cpp
  planning/obstacle_avoidance_planner/src/node.cpp
  planning/obstacle_avoidance_planner/src/replan_checker.cpp
  planning/obstacle_avoidance_planner/src/state_equation_generator.cpp
  planning/obstacle_avoidance_planner/src/utils/debug_utils.cpp
  planning/obstacle_avoidance_planner/src/utils/geometry_utils.cpp
  planning/obstacle_avoidance_planner/src/utils/trajectory_utils.cpp
  planning/obstacle_avoidance_planner/src/utils/utils.cpp
  planning/obstacle_avoidance_planner/src/vehicle_model/vehicle_model_bicycle_kinematics.cpp
  planning/obstacle_avoidance_planner/src/vehicle_model/vehicle_model_bicycle_kinematics_no_delay.cpp
  planning/obstacle_avoidance_planner/src/vehicle_model/vehicle_model_interface.cpp
  planning/static_centerline_optimizer/CMakeLists.txt
  planning/static_centerline_optimizer/include/static_centerline_optimizer/successive_trajectory_optimizer_node.hpp
  planning/static_centerline_optimizer/launch/static_centerline_optimizer.launch.xml
  planning/static_centerline_optimizer/rviz/static_centerline_optimizer.rviz
  planning/static_centerline_optimizer/src/static_centerline_optimizer_node.cpp
  planning/static_centerline_optimizer/src/successive_trajectory_optimizer_node.cpp
Labels: documentation, planning, launch, common, deploy-docs

#2965 docs(behavior_path_planner, gnss_poser): fix dead link
  planning/behavior_path_planner/README.md
  planning/behavior_path_planner/behavior_path_planner_path_generation_design.md
  sensing/gnss_poser/README.md
Labels: documentation, sensing, planning

#2959 fix(motion_velocity_smoother): fix external velocity limit if ego vehicle is stopped
  planning/motion_velocity_smoother/src/motion_velocity_smoother_node.cpp
Labels: planning

#2971 feat(tier4_planning_rviz_plugin): move footprint plugin to path
  common/tier4_planning_rviz_plugin/CMakeLists.txt
  common/tier4_planning_rviz_plugin/include/path/display.hpp
  common/tier4_planning_rviz_plugin/include/path/display_base.hpp
  common/tier4_planning_rviz_plugin/include/path_footprint/display.hpp
  common/tier4_planning_rviz_plugin/include/path_footprint/display_base.hpp
  common/tier4_planning_rviz_plugin/plugins/plugin_description.xml
  common/tier4_planning_rviz_plugin/src/path/display.cpp
  common/tier4_planning_rviz_plugin/src/path_footprint/display.cpp
Labels: common

#2938 feat(avoidance): enable to avoid vehicles that stopped for a long time
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/util/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/marker_util/avoidance/debug.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#2978 fix(behavior_path_planner): rename macro
  planning/behavior_path_planner/CMakeLists.txt
  planning/behavior_path_planner/include/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/include/behavior_path_planner/module_status.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_interface.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
Labels: planning

#2904 feat(pose_initilizer): support gnss/imu pose estimator
  launch/tier4_localization_launch/launch/util/util.launch.xml
  launch/tier4_simulator_launch/launch/simulator.launch.xml
  localization/pose_initializer/CMakeLists.txt
  localization/pose_initializer/README.md
  localization/pose_initializer/launch/pose_initializer.launch.xml
  localization/pose_initializer/src/pose_initializer/ekf_localization_trigger_module.cpp
  localization/pose_initializer/src/pose_initializer/ekf_localization_trigger_module.hpp
  localization/pose_initializer/src/pose_initializer/localization_trigger_module.cpp
  localization/pose_initializer/src/pose_initializer/ndt_localization_trigger_module.cpp
  localization/pose_initializer/src/pose_initializer/ndt_localization_trigger_module.hpp
  localization/pose_initializer/src/pose_initializer/pose_initializer_core.cpp
  localization/pose_initializer/src/pose_initializer/pose_initializer_core.hpp
Labels: documentation, localization, launch

#2988 fix(tier4_state_rviz_plugin): fix typo
  common/tier4_state_rviz_plugin/src/autoware_state_panel.cpp
Labels: common

#2989 fix(motion_velocity_smoother): fix terminal velocity optimization
  planning/motion_velocity_smoother/src/smoother/jerk_filtered_smoother.cpp
Labels: planning

#2992 fix(crop_box_filter): fix bug
  sensing/pointcloud_preprocessor/src/crop_box_filter/crop_box_filter_nodelet.cpp
Labels: sensing

#2932 fix(avoidance): avoidable right side parked-vehicle
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/route_handler/include/route_handler/route_handler.hpp
  planning/route_handler/src/route_handler.cpp
Labels: planning

#2996 feat(tier4_planning_rviz_plugin): add maintainer
  common/tier4_planning_rviz_plugin/package.xml
Labels: common

#2995 fix(tier4_rviz_planning_plugin): clear objects before return
  common/tier4_planning_rviz_plugin/include/path/display.hpp
  common/tier4_planning_rviz_plugin/include/path/display_base.hpp
Labels: common

#2998 refactor(behavior_path_planner): remove unnecessary macros
  planning/behavior_path_planner/include/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/include/behavior_path_planner/parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_manager_interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/side_shift/side_shift_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/side_shift/side_shift_parameters.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
Labels: planning

#2742 refactor(motion_utils): delete calcSignedArcLength with threshold
  common/motion_utils/include/motion_utils/trajectory/trajectory.hpp
  common/motion_utils/test/src/trajectory/test_trajectory.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/pull_over_module.cpp
  planning/behavior_velocity_planner/src/scene_module/blind_spot/scene.cpp
  planning/behavior_velocity_planner/src/scene_module/occlusion_spot/scene_occlusion_spot.cpp
  planning/obstacle_cruise_planner/src/optimization_based_planner/optimization_based_planner.cpp
  planning/obstacle_cruise_planner/src/planner_interface.cpp
Labels: planning, common

#2879 feat(behavior_path_planner): pull over freespace parking
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.py
  launch/tier4_planning_launch/launch/scenario_planning/parking.launch.py
  planning/behavior_path_planner/CMakeLists.txt
  planning/behavior_path_planner/config/pull_over/pull_over.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/include/behavior_path_planner/data_manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/path_utilities.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/pull_over_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/pull_over/freespace_pull_over.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/pull_over/pull_over_parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/pull_over/pull_over_planner_base.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/package.xml
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/path_utilities.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/pull_over_module.cpp
  planning/behavior_path_planner/src/util/pull_over/freespace_pull_over.cpp
  planning/behavior_path_planner/src/util/pull_over/shift_pull_over.cpp
  planning/behavior_path_planner/src/utilities.cpp
  planning/freespace_planning_algorithms/include/freespace_planning_algorithms/abstract_algorithm.hpp
  planning/freespace_planning_algorithms/include/freespace_planning_algorithms/rrtstar.hpp
  planning/freespace_planning_algorithms/package.xml
Labels: planning, launch, reviewer assigned

#2948 docs(behavior_path_planner): add pull over out separated docs and update them for freespace
  planning/behavior_path_planner/README.md
  planning/behavior_path_planner/behavior_path_planner_pull_out_design.md
  planning/behavior_path_planner/behavior_path_planner_pull_over_design.md
  planning/behavior_path_planner/image/pull_over_freespace_parking_flowchart.drawio.svg
Labels: documentation, planning, deploy-docs

#2999 chore(typo): fix typos in comment
  control/pid_longitudinal_controller/src/pid_longitudinal_controller.cpp
  perception/multi_object_tracker/src/tracker/model/big_vehicle_tracker.cpp
  planning/behavior_velocity_planner/config/intersection.param.yaml
  planning/behavior_velocity_planner/include/scene_module/intersection/scene_intersection.hpp
  planning/behavior_velocity_planner/include/utilization/util.hpp
  vehicle/accel_brake_map_calibrator/accel_brake_map_calibrator/include/accel_brake_map_calibrator/accel_brake_map_calibrator_node.hpp
  vehicle/accel_brake_map_calibrator/accel_brake_map_calibrator/src/accel_brake_map_calibrator_node.cpp
Labels: perception, planning, control, vehicle

#2972 refactor(lane_departure_checker): delete default values
  control/lane_departure_checker/src/lane_departure_checker_node/lane_departure_checker_node.cpp
Labels: control

#2913 perf(distortion_corrector_node): performance tuning
  common/tier4_autoware_utils/CMakeLists.txt
  common/tier4_autoware_utils/include/tier4_autoware_utils/math/sin_table.hpp
  common/tier4_autoware_utils/include/tier4_autoware_utils/math/trigonometry.hpp
  common/tier4_autoware_utils/include/tier4_autoware_utils/tier4_autoware_utils.hpp
  common/tier4_autoware_utils/src/math/sin_table.cpp
  common/tier4_autoware_utils/src/math/trigonometry.cpp
  common/tier4_autoware_utils/test/src/math/test_trigonometry.cpp
  sensing/pointcloud_preprocessor/src/distortion_corrector/distortion_corrector.cpp
Labels: sensing, common, reviewer assigned

#2939 feat(probablistic_occupancy_grid_map): add alternative to gridmap origin frame
  perception/probabilistic_occupancy_grid_map/README.md
  perception/probabilistic_occupancy_grid_map/config/laserscan_based_occupancy_grid_map.param.yaml
  perception/probabilistic_occupancy_grid_map/config/pointcloud_based_occupancy_grid_map.param.yaml
  perception/probabilistic_occupancy_grid_map/include/laserscan_based_occupancy_grid_map/laserscan_based_occupancy_grid_map_node.hpp
  perception/probabilistic_occupancy_grid_map/include/pointcloud_based_occupancy_grid_map/occupancy_grid_map.hpp
  perception/probabilistic_occupancy_grid_map/include/pointcloud_based_occupancy_grid_map/pointcloud_based_occupancy_grid_map_node.hpp
  perception/probabilistic_occupancy_grid_map/launch/laserscan_based_occupancy_grid_map.launch.py
  perception/probabilistic_occupancy_grid_map/launch/pointcloud_based_occupancy_grid_map.launch.py
  perception/probabilistic_occupancy_grid_map/src/laserscan_based_occupancy_grid_map/laserscan_based_occupancy_grid_map_node.cpp
  perception/probabilistic_occupancy_grid_map/src/pointcloud_based_occupancy_grid_map/occupancy_grid_map.cpp
  perception/probabilistic_occupancy_grid_map/src/pointcloud_based_occupancy_grid_map/pointcloud_based_occupancy_grid_map_node.cpp
Labels: documentation, perception

#3008 fix(behavior_path_planner): fix drivable area document
  planning/behavior_path_planner/behavior_path_planner_drivable_area_design.md
Labels: documentation, planning

#2985 feat(traffic_light_classifier): add build only option for tensort engine
  perception/traffic_light_classifier/README.md
  perception/traffic_light_classifier/src/cnn_classifier.cpp
Labels: documentation, perception

#3010 fix(crop_box_filter): deal with case when frame_id parameter is not set
  sensing/pointcloud_preprocessor/src/crop_box_filter/crop_box_filter_nodelet.cpp
Labels: sensing

#2957 perf(compare_map_segmentation): replace nearestKSearch by radiusSearch
  perception/compare_map_segmentation/src/voxel_distance_based_compare_map_filter_nodelet.cpp
Labels: perception

#2979 fix(euclidean_cluster): add crop box missing input frame
  perception/euclidean_cluster/config/voxel_grid_based_euclidean_cluster.param.yaml
Labels: perception

#2980 fix(pointcloud_preprocessor): throw error if crop box input frame is missing
  sensing/pointcloud_preprocessor/src/crop_box_filter/crop_box_filter_nodelet.cpp
Labels: sensing

#3012 fix(behavior_path_planner): fix calcLateralDistanceFromEgoToObject
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#2952 fix(autoware_state_panel): change variable for fail safe behavior
  common/tier4_state_rviz_plugin/src/autoware_state_panel.cpp
Labels: common

#2986 feat(traffic_light_ssd_fine_detector): add build only option for tensorrt engine
  perception/traffic_light_ssd_fine_detector/README.md
  perception/traffic_light_ssd_fine_detector/launch/traffic_light_ssd_fine_detector.launch.xml
  perception/traffic_light_ssd_fine_detector/src/nodelet.cpp
Labels: documentation, perception

#2982 feat(tensorrt_yolox): add build only option for tensorrt engine
  perception/tensorrt_yolox/README.md
  perception/tensorrt_yolox/launch/yolox.launch.xml
  perception/tensorrt_yolox/package.xml
  perception/tensorrt_yolox/src/tensorrt_yolox_node.cpp
Labels: documentation, perception

#3018 chore(traffic_light_classifier): add missing launch args and fix typo
  perception/traffic_light_classifier/README.md
  perception/traffic_light_classifier/launch/traffic_light_classifier.launch.xml
Labels: documentation, perception

#3001 fix(behavior_path_planner): use lane following params in new framework
  planning/behavior_path_planner/include/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/include/behavior_path_planner/planner_manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_following/lane_following_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/lane_following/module_data.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/planner_manager.cpp
  planning/behavior_path_planner/src/scene_module/lane_following/lane_following_module.cpp
Labels: planning

#3017 fix(freespace_planning_algorithms): fix uninitialized build error for self-hosted
  planning/freespace_planning_algorithms/include/freespace_planning_algorithms/abstract_algorithm.hpp
  planning/freespace_planning_algorithms/src/rrtstar.cpp
  planning/freespace_planning_algorithms/test/src/test_freespace_planning_algorithms.cpp
Labels: ARM64, planning

#3019 refactor(lane change): delete default values
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
Labels: planning

#3003 feat(pull_out): support new framework
  planning/behavior_path_planner/CMakeLists.txt
  planning/behavior_path_planner/include/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/include/behavior_path_planner/parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_out/manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_out/pull_out_module.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/pull_out/manager.cpp
  planning/behavior_path_planner/src/scene_module/pull_out/pull_out_module.cpp
Labels: planning

#2603 feat(mission_planner): refine goal pose with parameter and add config file
  launch/tier4_planning_launch/launch/planning.launch.xml
  planning/mission_planner/CMakeLists.txt
  planning/mission_planner/README.md
  planning/mission_planner/config/mission_planner.param.yaml
  planning/mission_planner/launch/mission_planner.launch.xml
  planning/mission_planner/src/lanelet2_plugins/default_planner.cpp
  planning/mission_planner/src/lanelet2_plugins/default_planner.hpp
  planning/mission_planner/src/lanelet2_plugins/utility_functions.cpp
  planning/mission_planner/src/lanelet2_plugins/utility_functions.hpp
Labels: documentation, planning, launch

#3011 feat: suppress adapi launch log
  system/default_ad_api/launch/default_ad_api.launch.py
Labels: system

#3022 chore(behavior_path_planner): add maintainer
  planning/behavior_path_planner/package.xml
Labels: planning

#2997 feat(side_shift): support new framework side shift
  planning/behavior_path_planner/CMakeLists.txt
  planning/behavior_path_planner/include/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/include/behavior_path_planner/data_manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/side_shift/manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/side_shift/side_shift_module.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/side_shift/manager.cpp
  planning/behavior_path_planner/src/scene_module/side_shift/side_shift_module.cpp
Labels: planning

#3021 fix(run_out): place of clearing points
  planning/behavior_velocity_planner/src/scene_module/run_out/dynamic_obstacle.cpp
Labels: planning

#3026 build(trajectory_follower_node): added missing dependencies
  control/trajectory_follower_node/package.xml
Labels: control

#3020 feat(tier4_autoware_api_launch): suppress rtc_controller's info
  launch/tier4_autoware_api_launch/launch/autoware_api.launch.xml
Labels: launch

#3030 fix(component_state_monitor): add dependency on topic_state_monitor
  system/component_state_monitor/package.xml
Labels: system

#3029 fix(rtc_interface): fix initial auto mode
  planning/rtc_interface/include/rtc_interface/rtc_interface.hpp
  planning/rtc_interface/src/rtc_interface.cpp
Labels: planning

#3028 fix(behavior_path_planner): fix lane change velocity
  planning/behavior_path_planner/src/scene_module/lane_change/external_request_lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/util/lane_change/util.cpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#3016 feat(lane_change): support new framework
  planning/behavior_path_planner/CMakeLists.txt
  planning/behavior_path_planner/include/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/include/behavior_path_planner/parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/lane_change_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/manager.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/manager.cpp
Labels: planning

#3037 docs(traffic_ligtht_classifier): update document for CNN model customization
  perception/traffic_light_classifier/README.md
Labels: documentation, perception

#3005 feat(pull_over): support new framework
  planning/behavior_path_planner/CMakeLists.txt
  planning/behavior_path_planner/include/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/include/behavior_path_planner/parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/pull_over_module.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/manager.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/pull_over_module.cpp
Labels: planning

#3035 fix(behavior_path_planner): remove duplicated process updateData() in new manager
  planning/behavior_path_planner/include/behavior_path_planner/planner_manager.hpp
Labels: planning

#3015 fix(avoidance): fix logic for RTC output decision
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#3036 fix(behavior_path_planner): prevent re-acceleration in pull over
  planning/behavior_path_planner/src/scene_module/pull_over/pull_over_module.cpp
Labels: planning

#2993 perf(crop_box_filter): skip useless copy
  sensing/pointcloud_preprocessor/src/crop_box_filter/crop_box_filter_nodelet.cpp
Labels: sensing

#3009 fix(obstacle_avoidance_planner): remove the option march=native
  planning/obstacle_avoidance_planner/CMakeLists.txt
Labels: planning

#2514 feat(diagnostic_converter): add converter to use planning_evaluator's output for scenario's condition
  evaluator/diagnostic_converter/CMakeLists.txt
  evaluator/diagnostic_converter/README.md
  evaluator/diagnostic_converter/include/converter_node.hpp
  evaluator/diagnostic_converter/package.xml
  evaluator/diagnostic_converter/src/converter_node.cpp
  evaluator/diagnostic_converter/test/test_converter_node.cpp
  evaluator/planning_evaluator/CMakeLists.txt
  evaluator/planning_evaluator/README.md
  evaluator/planning_evaluator/include/planning_evaluator/metrics/deviation_metrics.hpp
  evaluator/planning_evaluator/include/planning_evaluator/metrics/metric.hpp
  evaluator/planning_evaluator/include/planning_evaluator/metrics/metrics_utils.hpp
  evaluator/planning_evaluator/include/planning_evaluator/metrics/obstacle_metrics.hpp
  evaluator/planning_evaluator/include/planning_evaluator/metrics/stability_metrics.hpp
  evaluator/planning_evaluator/include/planning_evaluator/metrics/trajectory_metrics.hpp
  evaluator/planning_evaluator/include/planning_evaluator/metrics_calculator.hpp
  evaluator/planning_evaluator/include/planning_evaluator/motion_evaluator_node.hpp
  evaluator/planning_evaluator/include/planning_evaluator/parameters.hpp
  evaluator/planning_evaluator/include/planning_evaluator/planning_evaluator_node.hpp
  evaluator/planning_evaluator/include/planning_evaluator/stat.hpp
  evaluator/planning_evaluator/launch/motion_evaluator.launch.xml
  evaluator/planning_evaluator/launch/planning_evaluator.launch.xml
  evaluator/planning_evaluator/package.xml
  evaluator/planning_evaluator/param/planning_evaluator.defaults.yaml
  evaluator/planning_evaluator/src/metrics/deviation_metrics.cpp
  evaluator/planning_evaluator/src/metrics/metrics_utils.cpp
  evaluator/planning_evaluator/src/metrics/obstacle_metrics.cpp
  evaluator/planning_evaluator/src/metrics/stability_metrics.cpp
  evaluator/planning_evaluator/src/metrics/trajectory_metrics.cpp
  evaluator/planning_evaluator/src/metrics_calculator.cpp
  evaluator/planning_evaluator/src/motion_evaluator_node.cpp
  evaluator/planning_evaluator/src/planning_evaluator_node.cpp
  evaluator/planning_evaluator/test/test_planning_evaluator_node.cpp
  launch/tier4_planning_launch/launch/planning.launch.xml
  launch/tier4_simulator_launch/launch/simulator.launch.xml
  planning/planning_evaluator/launch/planning_evaluator.launch.xml
Labels: documentation, planning, launch, evaluator

#3033 fix(avoidance): fix unexpected behavior in yield scenario
  planning/behavior_path_planner/include/behavior_path_planner/util/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#3044 fix(mpc): optimization failure due to steer limit
  control/mpc_lateral_controller/src/mpc.cpp
Labels: control

#3046 refactor(mpc): clean up code
  control/mpc_lateral_controller/include/mpc_lateral_controller/mpc.hpp
  control/mpc_lateral_controller/include/mpc_lateral_controller/mpc_lateral_controller.hpp
  control/mpc_lateral_controller/src/longitudinal_controller_utils.cpp
  control/mpc_lateral_controller/src/mpc.cpp
  control/mpc_lateral_controller/src/mpc_lateral_controller.cpp
  control/mpc_lateral_controller/src/mpc_utils.cpp
Labels: control

#2903 feat: add traffic signals merge node
  perception/traffic_light_selector/CMakeLists.txt
  perception/traffic_light_selector/README.md
  perception/traffic_light_selector/launch/traffic_light_selector.launch.xml
  perception/traffic_light_selector/package.xml
  perception/traffic_light_selector/src/traffic_light_converter.cpp
  perception/traffic_light_selector/src/traffic_light_converter.hpp
  perception/traffic_light_selector/src/traffic_light_selector.cpp
  perception/traffic_light_selector/src/traffic_light_selector.hpp
Labels: documentation, perception

#2960 fix(tier4_planning_rviz_plugin): supress initial warning message
  common/tier4_planning_rviz_plugin/include/path/display.hpp
Labels: common

#3048 refactor(pull_over): move parameter declare pull over
  planning/behavior_path_planner/config/pull_over/pull_over.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/util/pull_over/freespace_pull_over.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/pull_over/pull_over_parameters.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/util/pull_over/freespace_pull_over.cpp
Labels: planning

#3042 fix(lane_change): use previous module output
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#3031 feat(automatic_goal): add automatic goal rviz plugin
  common/tier4_automatic_goal_rviz_plugin/CMakeLists.txt
  common/tier4_automatic_goal_rviz_plugin/README.md
  common/tier4_automatic_goal_rviz_plugin/icons/classes/AutowareAutomaticGoalPanel.png
  common/tier4_automatic_goal_rviz_plugin/icons/classes/AutowareAutomaticGoalTool.png
  common/tier4_automatic_goal_rviz_plugin/images/markers.png
  common/tier4_automatic_goal_rviz_plugin/images/panel.png
  common/tier4_automatic_goal_rviz_plugin/images/select_panels.png
  common/tier4_automatic_goal_rviz_plugin/images/select_tool.png
  common/tier4_automatic_goal_rviz_plugin/launch/automatic_goal_sender.launch.xml
  common/tier4_automatic_goal_rviz_plugin/package.xml
  common/tier4_automatic_goal_rviz_plugin/plugins/plugin_description.xml
  common/tier4_automatic_goal_rviz_plugin/src/automatic_goal_append_tool.cpp
  common/tier4_automatic_goal_rviz_plugin/src/automatic_goal_append_tool.hpp
  common/tier4_automatic_goal_rviz_plugin/src/automatic_goal_panel.cpp
  common/tier4_automatic_goal_rviz_plugin/src/automatic_goal_panel.hpp
  common/tier4_automatic_goal_rviz_plugin/src/automatic_goal_sender.cpp
  common/tier4_automatic_goal_rviz_plugin/src/automatic_goal_sender.hpp
Labels: documentation, common

#2800 feat(behavior_path_planner): use akima spline for xy only first
  planning/behavior_path_planner/include/behavior_path_planner/parameters.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning, reviewer assigned

#3051 fix(lane_change): lane change module changes output path intentionally without approval
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
Labels: planning

#3056 chore(system_error_monitor): supress initial warning
  system/system_error_monitor/src/system_error_monitor_core.cpp
Labels: system

#3062 fix(mpc): reset prev value when mpc failed
  control/mpc_lateral_controller/include/mpc_lateral_controller/mpc.hpp
  control/mpc_lateral_controller/src/mpc.cpp
  control/mpc_lateral_controller/src/mpc_lateral_controller.cpp
Labels: control

#3059 fix(lane_change): use previous output
  planning/behavior_path_planner/include/behavior_path_planner/util/lane_change/util.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/util/lane_change/util.cpp
Labels: planning

#3043 fix(avoidance): use previous module output
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#3061 fix(lane_change): update lane change status in planWaitingApproval()
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
Labels: planning

#3066 fix(avoidance): be able to execute lc + avoidance simlutaneously
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#3064 fix(tensorrt_yolox): resolve all output labels become unknown
  perception/tensorrt_yolox/src/tensorrt_yolox_node.cpp
Labels: perception

#3041 feat(behavior_path_planner): use efficient lateral distance calculation
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/src/util/lane_change/util.cpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#2882 fix(avoidance): fix shift line merging logic
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#3069 fix(velodyne_monitor): add fmt package to dependencies
  system/velodyne_monitor/CMakeLists.txt
Labels: system

#3072 fix(lane_change): use previous module turn signal in waiting approval
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
Labels: planning

#3053 feat(planning_evaluator): add modified goal deviation
  evaluator/planning_evaluator/include/planning_evaluator/metrics/deviation_metrics.hpp
  evaluator/planning_evaluator/include/planning_evaluator/metrics/metric.hpp
  evaluator/planning_evaluator/include/planning_evaluator/metrics_calculator.hpp
  evaluator/planning_evaluator/include/planning_evaluator/planning_evaluator_node.hpp
  evaluator/planning_evaluator/launch/planning_evaluator.launch.xml
  evaluator/planning_evaluator/package.xml
  evaluator/planning_evaluator/param/planning_evaluator.defaults.yaml
  evaluator/planning_evaluator/src/metrics/deviation_metrics.cpp
  evaluator/planning_evaluator/src/metrics_calculator.cpp
  evaluator/planning_evaluator/src/motion_evaluator_node.cpp
  evaluator/planning_evaluator/src/planning_evaluator_node.cpp
  evaluator/planning_evaluator/test/test_planning_evaluator_node.cpp
Labels: evaluator

#3073 fix(pointcloud_preprocessor): pointcloud preprocessor pcl headers
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/vector_map_filter/lanelet2_map_filter_nodelet.hpp
Labels: sensing

#2677 feat(lidar_centerpoint): add build only option for tensorrt engine
  perception/lidar_centerpoint/README.md
  perception/lidar_centerpoint/include/lidar_centerpoint/centerpoint_trt.hpp
  perception/lidar_centerpoint/include/lidar_centerpoint/network/network_trt.hpp
  perception/lidar_centerpoint/include/lidar_centerpoint/network/tensorrt_wrapper.hpp
  perception/lidar_centerpoint/launch/lidar_centerpoint.launch.xml
  perception/lidar_centerpoint/lib/centerpoint_trt.cpp
  perception/lidar_centerpoint/lib/network/network_trt.cpp
  perception/lidar_centerpoint/lib/network/tensorrt_wrapper.cpp
  perception/lidar_centerpoint/package.xml
  perception/lidar_centerpoint/src/node.cpp
Labels: documentation, perception, reviewer assigned

#3060 refactor(lane change): lane change class rework
  planning/behavior_path_planner/include/behavior_path_planner/parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/lane_change_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/lane_change/util.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/planner_manager.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/manager.cpp
  planning/behavior_path_planner/src/util/lane_change/util.cpp
  planning/route_handler/include/route_handler/route_handler.hpp
  planning/route_handler/src/route_handler.cpp
Labels: planning, reviewer assigned

#2355 fix(freespace_planning_algorithms): remove duplicate candidates in tr…
  planning/freespace_planning_algorithms/src/astar_search.cpp
Labels: stale, planning

#3038 feat(pose_initializer): enable pose initialization while running (only for sim)
  launch/tier4_localization_launch/launch/localization.launch.xml
  launch/tier4_localization_launch/launch/util/util.launch.xml
  launch/tier4_simulator_launch/launch/simulator.launch.xml
  launch/tier4_system_launch/launch/system.launch.xml
  localization/pose_initializer/config/pose_initializer.param.yaml
  localization/pose_initializer/config/pose_initializer_common.param.yaml
  localization/pose_initializer/launch/pose_initializer.launch.xml
  system/component_state_monitor/config/topics.yaml
Labels: localization, system, launch, reviewer assigned

#3032 feat(probablisitic_occupancy_grid_map): add scan_frame option for gridmap generation
  launch/tier4_perception_launch/launch/occupancy_grid_map/laserscan_based_occupancy_grid_map.launch.py
  launch/tier4_perception_launch/launch/occupancy_grid_map/pointcloud_based_occupancy_grid_map.launch.py
  launch/tier4_perception_launch/launch/perception.launch.xml
  perception/probabilistic_occupancy_grid_map/CMakeLists.txt
  perception/probabilistic_occupancy_grid_map/README.md
  perception/probabilistic_occupancy_grid_map/config/laserscan_based_occupancy_grid_map.param.yaml
  perception/probabilistic_occupancy_grid_map/config/pointcloud_based_occupancy_grid_map.param.yaml
  perception/probabilistic_occupancy_grid_map/image/gridmap_frame_settings.drawio.svg
  perception/probabilistic_occupancy_grid_map/include/laserscan_based_occupancy_grid_map/laserscan_based_occupancy_grid_map_node.hpp
  perception/probabilistic_occupancy_grid_map/include/pointcloud_based_occupancy_grid_map/occupancy_grid_map.hpp
  perception/probabilistic_occupancy_grid_map/include/pointcloud_based_occupancy_grid_map/pointcloud_based_occupancy_grid_map_node.hpp
  perception/probabilistic_occupancy_grid_map/launch/laserscan_based_occupancy_grid_map.launch.py
  perception/probabilistic_occupancy_grid_map/launch/pointcloud_based_occupancy_grid_map.launch.py
  perception/probabilistic_occupancy_grid_map/src/laserscan_based_occupancy_grid_map/laserscan_based_occupancy_grid_map_node.cpp
  perception/probabilistic_occupancy_grid_map/src/pointcloud_based_occupancy_grid_map/occupancy_grid_map.cpp
  perception/probabilistic_occupancy_grid_map/src/pointcloud_based_occupancy_grid_map/pointcloud_based_occupancy_grid_map_node.cpp
Labels: documentation, perception, launch

#2769 refactor(trajectory_follower_node): remove unnecessary cmake code
  control/trajectory_follower_node/CMakeLists.txt
Labels: control, reviewer assigned

#3057 fix(lane_departure_checker): use kinematic state for ego pose
  control/lane_departure_checker/include/lane_departure_checker/lane_departure_checker.hpp
  control/lane_departure_checker/include/lane_departure_checker/lane_departure_checker_node.hpp
  control/lane_departure_checker/src/lane_departure_checker_node/lane_departure_checker.cpp
  control/lane_departure_checker/src/lane_departure_checker_node/lane_departure_checker_node.cpp
Labels: control, reviewer assigned

#3052 feat(tier4_autoware_utils): add expandPolygon function
  common/tier4_autoware_utils/include/tier4_autoware_utils/geometry/boost_polygon_utils.hpp
  common/tier4_autoware_utils/src/geometry/boost_polygon_utils.cpp
  common/tier4_autoware_utils/test/src/geometry/test_boost_polygon_utils.cpp
  planning/behavior_path_planner/src/util/avoidance/util.cpp
Labels: planning, common, reviewer assigned

#2963 docs(obstacle avoidance planner): update the docs
  planning/obstacle_avoidance_planner/CMakeLists.txt
  planning/obstacle_avoidance_planner/README.md
  planning/obstacle_avoidance_planner/docs/debug.md
  planning/obstacle_avoidance_planner/docs/eb.md
  planning/obstacle_avoidance_planner/docs/mpt.md
  planning/obstacle_avoidance_planner/launch/launch_visualization.launch.xml
  planning/obstacle_avoidance_planner/media/area_with_objects.png
  planning/obstacle_avoidance_planner/media/behavior_path.png
  planning/obstacle_avoidance_planner/media/bounds.png
  planning/obstacle_avoidance_planner/media/bounds_line.png
  planning/obstacle_avoidance_planner/media/calculation_cost_plot.svg
  planning/obstacle_avoidance_planner/media/clearance_map.png
  planning/obstacle_avoidance_planner/media/debug/bounds_visualization.png
  planning/obstacle_avoidance_planner/media/debug/calculation_time_plot.png
  planning/obstacle_avoidance_planner/media/debug/drivable_area_visualization.png
  planning/obstacle_avoidance_planner/media/debug/eb_fixed_traj_visualization.png
  planning/obstacle_avoidance_planner/media/debug/eb_traj_visualization.png
  planning/obstacle_avoidance_planner/media/debug/mpt_fixed_traj_visualization.png
  planning/obstacle_avoidance_planner/media/debug/mpt_ref_traj_visualization.png
  planning/obstacle_avoidance_planner/media/debug/mpt_traj_visualization.png
  planning/obstacle_avoidance_planner/media/debug/path_footprint_visualization.png
  planning/obstacle_avoidance_planner/media/debug/path_visualization.png
  planning/obstacle_avoidance_planner/media/debug/traj_footprint_visualization.png
  planning/obstacle_avoidance_planner/media/debug/traj_visualization.png
  planning/obstacle_avoidance_planner/media/debug/vehicle_circles_visualization.png
  planning/obstacle_avoidance_planner/media/debug/vehicle_traj_circles_visualization.png
  planning/obstacle_avoidance_planner/media/drivable_area.png
  planning/obstacle_avoidance_planner/media/eb_traj.png
  planning/obstacle_avoidance_planner/media/interpolated_points_marker.png
  planning/obstacle_avoidance_planner/media/mpt_fixed_traj.png
  planning/obstacle_avoidance_planner/media/mpt_ref_traj.png
  planning/obstacle_avoidance_planner/media/mpt_traj.png
  planning/obstacle_avoidance_planner/media/object_clearance_map.png
  planning/obstacle_avoidance_planner/media/object_clearance_map_updates.png
  planning/obstacle_avoidance_planner/media/obstacle_avoidance_planner_flowchart.drawio.svg
  planning/obstacle_avoidance_planner/media/obstacle_to_avoid.drawio.svg
  planning/obstacle_avoidance_planner/media/optimized_points_marker.png
  planning/obstacle_avoidance_planner/media/output_traj.png
  planning/obstacle_avoidance_planner/media/smoothed_points_text.png
  planning/obstacle_avoidance_planner/media/trajectory_with_footprint.png
  planning/obstacle_avoidance_planner/rviz/obstacle_avoidance_planner.rviz
  planning/obstacle_avoidance_planner/scripts/calclation_time_plotter.py
  planning/obstacle_avoidance_planner/src/debug_marker.cpp
Labels: documentation, planning, deploy-docs

#3078 fix(tier4_perception_launch): fix config path
  launch/tier4_perception_launch/launch/occupancy_grid_map/laserscan_based_occupancy_grid_map.launch.py
  launch/tier4_simulator_launch/launch/simulator.launch.xml
Labels: launch

#3071 fix(perception): add dependencies to traffic light nodes
  perception/crosswalk_traffic_light_estimator/package.xml
  perception/traffic_light_map_based_detector/package.xml
Labels: perception, reviewer assigned

#3080 chore(tier4_simulator_launch): add code owner
  launch/tier4_simulator_launch/package.xml
Labels: launch

#3081 fix(tier4_simulator_launch): fix occupancy grid map not appearing problem in psim
  launch/tier4_perception_launch/launch/occupancy_grid_map/laserscan_based_occupancy_grid_map.launch.py
  launch/tier4_simulator_launch/launch/simulator.launch.xml
  perception/probabilistic_occupancy_grid_map/config/laserscan_based_occupancy_grid_map.param.yaml
  perception/probabilistic_occupancy_grid_map/launch/laserscan_based_occupancy_grid_map.launch.py
Labels: perception, launch

#3083 refactor(behavior_path_planner): change names in lane change module
  planning/behavior_path_planner/include/behavior_path_planner/util/lane_change/util.hpp
  planning/behavior_path_planner/src/util/lane_change/util.cpp
Labels: planning

#3074 fix(behavior_path_planner): fix lane changing segment s_end
  planning/behavior_path_planner/include/behavior_path_planner/util/lane_change/util.hpp
  planning/behavior_path_planner/src/util/lane_change/util.cpp
Labels: planning, reviewer assigned

#3089 feat(behavior_path_planner): use lanelet utils for lateral calculation
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/src/util/lane_change/util.cpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#3092 fix(pose_initializer): fix launch file
  localization/pose_initializer/launch/pose_initializer.launch.xml
Labels: localization

#3095 fix(behavior_path_planner): reset modified goal id
  planning/behavior_path_planner/src/scene_module/pull_over/pull_over_module.cpp
Labels: planning

#3054 feat(probabilistic_occupancy_grid_map): add pointcloud filter in gridmap generation
  perception/probabilistic_occupancy_grid_map/CMakeLists.txt
  perception/probabilistic_occupancy_grid_map/config/pointcloud_based_occupancy_grid_map.param.yaml
  perception/probabilistic_occupancy_grid_map/include/pointcloud_based_occupancy_grid_map/pointcloud_based_occupancy_grid_map_node.hpp
  perception/probabilistic_occupancy_grid_map/include/utils/utils.hpp
  perception/probabilistic_occupancy_grid_map/src/laserscan_based_occupancy_grid_map/laserscan_based_occupancy_grid_map_node.cpp
  perception/probabilistic_occupancy_grid_map/src/pointcloud_based_occupancy_grid_map/occupancy_grid_map.cpp
  perception/probabilistic_occupancy_grid_map/src/pointcloud_based_occupancy_grid_map/pointcloud_based_occupancy_grid_map_node.cpp
  perception/probabilistic_occupancy_grid_map/src/utils/utils.cpp
Labels: perception

#3096 fix(lidar_centerpoint): updated the config file for the centerpoint tiny v2
  perception/lidar_centerpoint/config/centerpoint_tiny.param.yaml
Labels: perception

#3100 fix(lane_change): fix build error
  planning/behavior_path_planner/src/util/lane_change/util.cpp
Labels: planning

#2793 feat(control): add autonomous emergency braking module
  control/autonomous_emergency_braking/CMakeLists.txt
  control/autonomous_emergency_braking/config/autonomous_emergency_braking.param.yaml
  control/autonomous_emergency_braking/include/autonomous_emergency_braking/node.hpp
  control/autonomous_emergency_braking/launch/autonomous_emergency_braking.launch.xml
  control/autonomous_emergency_braking/package.xml
  control/autonomous_emergency_braking/src/node.cpp
  launch/tier4_control_launch/launch/control.launch.py
  system/system_error_monitor/config/diagnostic_aggregator/control.param.yaml
  system/system_error_monitor/config/system_error_monitor.param.yaml
  system/system_error_monitor/config/system_error_monitor.planning_simulation.param.yaml
Labels: control, system, launch, reviewer assigned

#3055 fix(avoidance): stop only when there is enough space to avoid
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning, reviewer assigned

#3103 fix(system_error_monitor): fix dying node
  system/system_error_monitor/src/system_error_monitor_core.cpp
Labels: system

#3108 fix(AEB): suppress build error (-Werror=pedantic)
  control/autonomous_emergency_braking/CMakeLists.txt
Labels: control

#3106 chore(ground_segmentation): add recheck ground cluster option param
  perception/ground_segmentation/docs/scan-ground-filter.md
  perception/ground_segmentation/include/ground_segmentation/scan_ground_filter_nodelet.hpp
  perception/ground_segmentation/src/scan_ground_filter_nodelet.cpp
Labels: documentation, perception

#3084 fix(surround_obstacle_checker): remove unused include
  planning/surround_obstacle_checker/include/surround_obstacle_checker/node.hpp
Labels: planning

#3093 build(autoware_testing): add missing dependencies
  common/autoware_testing/package.xml
Labels: common

#2794 feat(traffic_light_classifier): add parameters to launch file for using different tensorrt models
  perception/traffic_light_classifier/README.md
  perception/traffic_light_classifier/include/traffic_light_classifier/cnn_classifier.hpp
  perception/traffic_light_classifier/launch/traffic_light_classifier.launch.xml
  perception/traffic_light_classifier/src/cnn_classifier.cpp
Labels: documentation, perception

#3082 perf(motion_utils): improve performance of findNearestIndex
  common/motion_utils/include/motion_utils/trajectory/trajectory.hpp
Labels: common

#2885 feat(elevation_map_loader): use polygon iterator to speed up
  launch/tier4_perception_launch/launch/obstacle_segmentation/ground_segmentation/ground_segmentation.launch.py
  perception/elevation_map_loader/README.md
  perception/elevation_map_loader/include/elevation_map_loader/elevation_map_loader_node.hpp
  perception/elevation_map_loader/launch/elevation_map_loader.launch.xml
  perception/elevation_map_loader/package.xml
  perception/elevation_map_loader/src/elevation_map_loader_node.cpp
Labels: documentation, perception, launch, reviewer assigned

#3109 feat(behavior_path_planner): visualize unavoidable target object
  planning/behavior_path_planner/include/behavior_path_planner/marker_util/avoidance/debug.hpp
  planning/behavior_path_planner/src/marker_util/avoidance/debug.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#3105 fix(planning_debug_tools): install perception_reproducer.py
  planning/planning_debug_tools/CMakeLists.txt
Labels: planning

#3039 chore(ekf_localizer): move parameters to its dedicated yaml file
  launch/tier4_localization_launch/launch/localization.launch.xml
  launch/tier4_localization_launch/launch/pose_twist_fusion_filter/pose_twist_fusion_filter.launch.xml
  localization/ekf_localizer/CMakeLists.txt
  localization/ekf_localizer/config/ekf_localizer.param.yaml
  localization/ekf_localizer/launch/ekf_localizer.launch.xml
Labels: localization, launch

#3131 fix(static_centerline_optimizer): avoid to call declear_parameter twice
  planning/static_centerline_optimizer/src/static_centerline_optimizer_node.cpp
Labels: planning

#3113 feat(accel_brake_map_calibrator): add option to use actuation_cmd
  vehicle/accel_brake_map_calibrator/accel_brake_map_calibrator/README.md
  vehicle/accel_brake_map_calibrator/accel_brake_map_calibrator/config/accel_brake_map_calibrator.param.yaml
  vehicle/accel_brake_map_calibrator/accel_brake_map_calibrator/include/accel_brake_map_calibrator/accel_brake_map_calibrator_node.hpp
  vehicle/accel_brake_map_calibrator/accel_brake_map_calibrator/launch/accel_brake_map_calibrator.launch.xml
  vehicle/accel_brake_map_calibrator/accel_brake_map_calibrator/src/accel_brake_map_calibrator_node.cpp
Labels: documentation, vehicle

#3133 chore(tier4_localization_launch): add maintainer
  launch/tier4_localization_launch/package.xml
Labels: launch

#3094 feat(obstacle_avoidance_planner): visualize bounds
  planning/obstacle_avoidance_planner/src/debug_marker.cpp
Labels: planning

#3068 feat(lane change): support new framework external request
  planning/behavior_path_planner/CMakeLists.txt
  planning/behavior_path_planner/include/behavior_path_planner/parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/external_request_lane_change_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/lane_change_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_visitor.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/lane_change/util.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/external_request_lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/manager.cpp
  planning/behavior_path_planner/src/util/lane_change/util.cpp
  planning/route_handler/include/route_handler/route_handler.hpp
  planning/route_handler/src/route_handler.cpp
Labels: planning

#3076 feat(planning_test_utils): add planning interface test manager for some obstacle modules
  planning/motion_velocity_smoother/CMakeLists.txt
  planning/motion_velocity_smoother/config/default_motion_velocity_smoother.param.yaml
  planning/motion_velocity_smoother/package.xml
  planning/motion_velocity_smoother/test/test_motion_velocity_smoother_node_interface.cpp
  planning/obstacle_cruise_planner/CMakeLists.txt
  planning/obstacle_cruise_planner/config/default_common.param.yaml
  planning/obstacle_cruise_planner/package.xml
  planning/obstacle_cruise_planner/test/test_obstacle_cruise_planner_node_interface.cpp
  planning/obstacle_stop_planner/CMakeLists.txt
  planning/obstacle_stop_planner/package.xml
  planning/obstacle_stop_planner/test/test_obstacle_stop_planner_node_interface.cpp
  planning/planning_test_utils/CMakeLists.txt
  planning/planning_test_utils/README.md
  planning/planning_test_utils/include/planning_interface_test_manager/planning_interface_test_manager.hpp
  planning/planning_test_utils/include/planning_interface_test_manager/planning_interface_test_manager_utils.hpp
  planning/planning_test_utils/package.xml
  planning/planning_test_utils/src/planning_interface_test_manager.cpp
Labels: documentation, planning

#3118 feat(rtc_manager_rviz_plugin): add avoidance by lc
  common/rtc_manager_rviz_plugin/src/rtc_manager_panel.cpp
Labels: common

#3149 feat(diagnostic_converter): apply regex for topic name
  evaluator/diagnostic_converter/src/converter_node.cpp
Labels: evaluator

#3114 fix(behavior_velocity_planner): fix detection area being ignored when the ego vehicle stops over the stop line
  planning/behavior_velocity_planner/config/detection_area.param.yaml
  planning/behavior_velocity_planner/detection-area-design.md
  planning/behavior_velocity_planner/include/scene_module/detection_area/scene.hpp
  planning/behavior_velocity_planner/src/scene_module/detection_area/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/detection_area/scene.cpp
Labels: documentation, planning

#3151 feat(diagnostic_converter): remove unit and blank in the value
  evaluator/diagnostic_converter/src/converter_node.cpp
Labels: evaluator

#3154 fix(static_centerline_optimizer): remove unnecessary files
  planning/static_centerline_optimizer/include/static_centerline_optimizer/collision_free_optimizer_node.hpp
  planning/static_centerline_optimizer/src/collision_free_optimizer_node.cpp
Labels: planning

#3146 fix(behavior_path_planner): fix math formulation in doc
  planning/behavior_path_planner/behavior_path_planner_avoidance_design.md
  planning/behavior_path_planner/behavior_path_planner_path_generation_design.md
Labels: documentation, planning, deploy-docs

#3079 feat(tier4_control_launch): add check_external_emergency_heartbeat option
  launch/tier4_control_launch/launch/control.launch.py
Labels: launch

#3157 feat(tier4_perception_rviz_plugin): add bicycle panel
  common/tier4_perception_rviz_plugin/icons/classes/BikeInitialPoseTool.png
  common/tier4_perception_rviz_plugin/plugins/plugin_description.xml
  common/tier4_perception_rviz_plugin/src/tools/car_pose.cpp
  common/tier4_perception_rviz_plugin/src/tools/car_pose.hpp
  common/tier4_perception_rviz_plugin/src/tools/interactive_object.hpp
Labels: documentation, common

#3158 feat(behavior_path_planner): add distance explanation
  planning/behavior_path_planner/behavior_path_planner_turn_signal_design.md
  planning/behavior_path_planner/image/turn_signal_decider/activation_distance.drawio.svg
Labels: documentation, planning

#3150 chore(intersection): display intersection marker only when stopped
  planning/behavior_velocity_planner/include/scene_module/intersection/scene_intersection.hpp
  planning/behavior_velocity_planner/src/scene_module/intersection/debug.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_intersection.cpp
Labels: planning

#3086 feat(obstacle_avoidance_planner): consider behavior's drivable area violation
  planning/obstacle_avoidance_planner/config/obstacle_avoidance_planner.param.yaml
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/mpt_optimizer.hpp
  planning/obstacle_avoidance_planner/src/mpt_optimizer.cpp
Labels: planning

#3099 fix(avoidance): fix shift line generation logic
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#3152 feat(tier4_simulator_launch): convert /diagnostics_err
  launch/tier4_simulator_launch/launch/simulator.launch.xml
Labels: launch

#3164 refactor(mpc): remove unused file
  control/mpc_lateral_controller/src/smooth_stop.cpp
Labels: control

#3023 feat: add ByteTrack package
  perception/bytetrack/CMakeLists.txt
  perception/bytetrack/README.md
  perception/bytetrack/include/bytetrack/bytetrack.hpp
  perception/bytetrack/include/bytetrack/bytetrack_node.hpp
  perception/bytetrack/include/bytetrack/bytetrack_visualizer_node.hpp
  perception/bytetrack/launch/bytetrack.launch.xml
  perception/bytetrack/lib/include/byte_tracker.h
  perception/bytetrack/lib/include/data_type.h
  perception/bytetrack/lib/include/kalman_filter.h
  perception/bytetrack/lib/include/lapjv.h
  perception/bytetrack/lib/include/strack.h
  perception/bytetrack/lib/src/byte_tracker.cpp
  perception/bytetrack/lib/src/kalman_filter.cpp
  perception/bytetrack/lib/src/lapjv.cpp
  perception/bytetrack/lib/src/strack.cpp
  perception/bytetrack/lib/src/utils.cpp
  perception/bytetrack/package.xml
  perception/bytetrack/src/bytetrack.cpp
  perception/bytetrack/src/bytetrack_node.cpp
  perception/bytetrack/src/bytetrack_visualizer_node.cpp
Labels: documentation, perception, reviewer assigned

#3165 refactor(mpc): remove old library dependency
  control/mpc_lateral_controller/include/mpc_lateral_controller/mpc.hpp
  control/mpc_lateral_controller/include/mpc_lateral_controller/mpc_utils.hpp
  control/mpc_lateral_controller/package.xml
  control/mpc_lateral_controller/src/mpc.cpp
  control/mpc_lateral_controller/src/mpc_utils.cpp
Labels: control

#3167 refactor(pid_longitudinal_controller): remove unused dependency
  control/pid_longitudinal_controller/package.xml
Labels: control

#3172 feat(autonomous_emergency_braking): add maintainer
  control/autonomous_emergency_braking/package.xml
Labels: control

#3168 refactor(trajectory_follower_base): remove unused dependency
  control/trajectory_follower_base/package.xml
Labels: control

#3171 feat(autonomous_emergency_braking): add aeb document
  control/autonomous_emergency_braking/README.md
  control/autonomous_emergency_braking/image/obstacle_filtering_1.drawio.svg
  control/autonomous_emergency_braking/image/obstacle_filtering_2.drawio.svg
  control/autonomous_emergency_braking/image/range.drawio.svg
  control/autonomous_emergency_braking/image/rss_check.drawio.svg
Labels: documentation, control

#3170 test(map_loader): add a ROS 2 test
  map/map_loader/CMakeLists.txt
  map/map_loader/src/pointcloud_map_loader/pointcloud_map_loader_module.cpp
  map/map_loader/src/pointcloud_map_loader/pointcloud_map_loader_module.hpp
  map/map_loader/test/test_differential_map_loader_module.cpp
  map/map_loader/test/test_partial_map_loader_module.cpp
  map/map_loader/test/test_pointcloud_map_loader_module.cpp
Labels: map

#3102 fix(lane_change): use previous module drivable lanes in drivable are generation
  planning/behavior_path_planner/include/behavior_path_planner/data_manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/util/lane_change/util.hpp
  planning/behavior_path_planner/src/planner_manager.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/util/lane_change/util.cpp
Labels: planning

#3087 feat(compare_map_segmentation): add dynamic map loading for voxel_based_compare_map_filter
  launch/tier4_perception_launch/launch/object_recognition/detection/pointcloud_map_filter.launch.py
  perception/compare_map_segmentation/CMakeLists.txt
  perception/compare_map_segmentation/README.md
  perception/compare_map_segmentation/include/compare_map_segmentation/multi_voxel_grid_map_update.hpp
  perception/compare_map_segmentation/include/compare_map_segmentation/voxel_based_compare_map_filter_nodelet.hpp
  perception/compare_map_segmentation/include/compare_map_segmentation/voxel_grid_map_loader.hpp
  perception/compare_map_segmentation/launch/voxel_based_compare_map_filter.launch.xml
  perception/compare_map_segmentation/package.xml
  perception/compare_map_segmentation/src/multi_voxel_grid_map_update.cpp
  perception/compare_map_segmentation/src/voxel_based_compare_map_filter_nodelet.cpp
  perception/compare_map_segmentation/src/voxel_grid_map_loader.cpp
Labels: documentation, perception, launch

#3185 fix(behavior_velocity_planner::intersection): show virtual wall when interrupted by RTC
  planning/behavior_velocity_planner/include/scene_module/intersection/scene_intersection.hpp
  planning/behavior_velocity_planner/src/scene_module/intersection/debug.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_intersection.cpp
Labels: planning

#3186 fix(autonomous_emergency_braking): fix typo
  control/autonomous_emergency_braking/src/node.cpp
Labels: control

#3187 fix(behavior_velocity_planner): fix invalid access
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_intersection.cpp
Labels: planning

#3188 fix(map_loader): address deprecated warning for some environment
  map/map_loader/test/test_pointcloud_map_loader_module.cpp
Labels: map

#3101 chore(lidar_centerpoint): add a check between the model and config's class size
  perception/lidar_centerpoint/lib/network/network_trt.cpp
  perception/lidar_centerpoint/lib/network/tensorrt_wrapper.cpp
Labels: perception

#3176 feat(motion_utils): add cropPoints function
  common/motion_utils/include/motion_utils/trajectory/trajectory.hpp
  common/motion_utils/test/src/trajectory/test_trajectory.cpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/utils/trajectory_utils.hpp
  planning/obstacle_avoidance_planner/src/eb_path_smoother.cpp
  planning/obstacle_avoidance_planner/src/mpt_optimizer.cpp
  planning/obstacle_avoidance_planner/src/node.cpp
Labels: planning, common

#3179 fix(behavior_path_planner): resample path in the route
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#3198 feat(planning_evaluator): push back metric only when output_file_str is defined
  evaluator/planning_evaluator/src/planning_evaluator_node.cpp
Labels: evaluator

#3155 fix(avoidance): get nearest target object
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning
