Repository autowarefoundation/autoware_universe, pull requests merged in 2023-10, with the labels that each got.

#5186 feat(tier4_control_launch): add launch argument for predicted path checker
  launch/tier4_control_launch/launch/control.launch.py
Labels: control, launch, run-build-and-test-differential

#5167 feat(lane_change): expand target lanes for object filtering
  planning/behavior_path_planner/config/lane_change/lane_change.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/utils.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/manager.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
Labels: planning, run-build-and-test-differential

#5168 fix(crosswalk_traffic_light_estimator): change the shape of pedestrian light to CIRCLE
  perception/crosswalk_traffic_light_estimator/src/node.cpp
Labels: perception, run-build-and-test-differential

#5169 fix(crosswalk): check all elements in traffic signal
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
Labels: planning, run-build-and-test-differential

#5056 feat(behavior_path_planner): safety check against dynamic objects after approval for start_planner
  planning/behavior_path_planner/config/goal_planner/goal_planner.param.yaml
  planning/behavior_path_planner/config/start_planner/start_planner.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/start_planner/start_planner_module.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
Labels: planning, run-build-and-test-differential

#5181 fix(trajectory_visualizer): fix plotter error
  planning/planning_debug_tools/scripts/trajectory_visualizer.py
Labels: planning, run-build-and-test-differential

#5122 feat(intersection): ignore occlusion behind blocking vehicle
  planning/behavior_velocity_intersection_module/README.md
  planning/behavior_velocity_intersection_module/docs/occlusion_grid.drawio.svg
  planning/behavior_velocity_intersection_module/src/debug.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_intersection_module/src/util.hpp
  planning/behavior_velocity_intersection_module/src/util_type.hpp
Labels: documentation, planning, deploy-docs, run-build-and-test-differential

#5191 perf(system_monitor): fix program command line reading
  system/system_monitor/include/system_monitor/process_monitor/process_monitor.hpp
  system/system_monitor/src/process_monitor/process_monitor.cpp
Labels: bug, system, run-build-and-test-differential

#4348 fix(behavior_path_planner): if ego leaves the current lane turn the signal on
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning, run-build-and-test-differential, openai-pr-reviewer

#5139 fix(lidar_apollo_instance_segmentation): add arg data_path, update model path
  perception/lidar_apollo_instance_segmentation/launch/lidar_apollo_instance_segmentation.launch.xml
Labels: perception, run-build-and-test-differential

#5204 feat(logger_level_reconfigure_plugin): use node interface and some cosmetic updates
  common/tier4_logging_level_configure_rviz_plugin/CMakeLists.txt
  common/tier4_logging_level_configure_rviz_plugin/config/logger_config.yaml
  common/tier4_logging_level_configure_rviz_plugin/include/tier4_logging_level_configure_rviz_plugin/logging_level_configure.hpp
  common/tier4_logging_level_configure_rviz_plugin/package.xml
  common/tier4_logging_level_configure_rviz_plugin/src/logging_level_configure.cpp
Labels: common, run-build-and-test-differential

#5195 fix(map_based_prediction): filter by distance for opposite lanes as well
  perception/map_based_prediction/include/map_based_prediction/map_based_prediction_node.hpp
  perception/map_based_prediction/src/map_based_prediction_node.cpp
Labels: perception, run-build-and-test-differential

#5201 feat(localization_error_monitor): update parameter
  localization/localization_error_monitor/config/localization_error_monitor.param.yaml
Labels: localization, run-build-and-test-differential

#5205 fix(avoidance): add debug info
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning, run-build-and-test-differential

#5199 fix(simulator, controller): fix inverse pitch calculation
  control/pid_longitudinal_controller/README.md
  control/pid_longitudinal_controller/media/slope_definition.drawio.svg
  control/pid_longitudinal_controller/src/pid_longitudinal_controller.cpp
  simulator/simple_planning_simulator/README.md
  simulator/simple_planning_simulator/media/pitch-calculation.drawio.svg
  simulator/simple_planning_simulator/src/simple_planning_simulator/simple_planning_simulator_core.cpp
Labels: documentation, control, simulator, run-build-and-test-differential

#5188 feat(crosswalk): dyanmic timeout for no intention to walk decision
  planning/behavior_velocity_crosswalk_module/config/crosswalk.param.yaml
  planning/behavior_velocity_crosswalk_module/src/manager.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
Labels: planning, run-build-and-test-differential

#5207 fix(out_of_lane): improve stop decision
  planning/behavior_velocity_out_of_lane_module/CMakeLists.txt
  planning/behavior_velocity_out_of_lane_module/README.md
  planning/behavior_velocity_out_of_lane_module/config/out_of_lane.param.yaml
  planning/behavior_velocity_out_of_lane_module/src/calculate_slowdown_points.hpp
  planning/behavior_velocity_out_of_lane_module/src/decisions.cpp
  planning/behavior_velocity_out_of_lane_module/src/filter_predicted_objects.hpp
  planning/behavior_velocity_out_of_lane_module/src/footprint.cpp
  planning/behavior_velocity_out_of_lane_module/src/lanelets_selection.cpp
  planning/behavior_velocity_out_of_lane_module/src/manager.cpp
  planning/behavior_velocity_out_of_lane_module/src/scene_out_of_lane.cpp
  planning/behavior_velocity_out_of_lane_module/src/scene_out_of_lane.hpp
  planning/behavior_velocity_out_of_lane_module/src/types.hpp
Labels: documentation, planning, run-build-and-test-differential

#5034 feat: add common interface specs test
  common/component_interface_specs/CMakeLists.txt
  common/component_interface_specs/package.xml
  common/component_interface_specs/test/gtest_main.cpp
  common/component_interface_specs/test/test_control.cpp
  common/component_interface_specs/test/test_localization.cpp
  common/component_interface_specs/test/test_map.cpp
  common/component_interface_specs/test/test_perception.cpp
  common/component_interface_specs/test/test_planning.cpp
  common/component_interface_specs/test/test_system.cpp
  common/component_interface_specs/test/test_vehicle.cpp
Labels: common, run-build-and-test-differential

#5198 fix(utils): fix bug in drivable area expansion
  planning/behavior_path_planner/include/behavior_path_planner/utils/utils.hpp
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning, run-build-and-test-differential

#5173 feat: add common interface utils test
  common/component_interface_utils/CMakeLists.txt
  common/component_interface_utils/package.xml
  common/component_interface_utils/test/test_component_interface_utils.cpp
Labels: common, run-build-and-test-differential

#5196 feat(goal_planner): secure lateral distance for path planning with corresponding to the centrifugal force
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/goal_planner_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_safety_checker/safety_check.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/utils/path_safety_checker/safety_check.cpp
Labels: planning, run-build-and-test-differential

#5200 ci(build-and-test-differential): remove sync for the build-and-test-differential workflows
  .github/sync-files.yaml
Labels: ci, run-build-and-test-differential

#5213 revert: "chore: sync files (#4372)"
  mkdocs.yaml
Labels: ci, run-build-and-test-differential

#5192 feat(intersection): aggressively peek into attention area if traffic light does not exist
  planning/behavior_velocity_intersection_module/README.md
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_intersection_module/docs/data-structure.drawio.svg
  planning/behavior_velocity_intersection_module/docs/intersection-attention-ll-rr.drawio.svg
  planning/behavior_velocity_intersection_module/docs/intersection-attention-lr-rl.drawio.svg
  planning/behavior_velocity_intersection_module/docs/intersection-attention-straight.drawio.svg
  planning/behavior_velocity_intersection_module/docs/intersection-attention.drawio.svg
  planning/behavior_velocity_intersection_module/docs/occlusion-without-tl.drawio.svg
  planning/behavior_velocity_intersection_module/docs/stuck-vehicle.drawio.svg
  planning/behavior_velocity_intersection_module/package.xml
  planning/behavior_velocity_intersection_module/src/debug.cpp
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_intersection_module/src/util.hpp
  planning/behavior_velocity_intersection_module/src/util_type.hpp
Labels: documentation, planning, deploy-docs, run-build-and-test-differential

#5180 fix(obstacle_cruise_planner): fix coordinate transformation bag
  planning/obstacle_cruise_planner/src/node.cpp
Labels: planning, run-build-and-test-differential

#5220 perf(ndt_scan_matcher): changed default `initial_estimate_particles_num` to 200
  localization/ndt_scan_matcher/config/ndt_scan_matcher.param.yaml
Labels: localization, run-build-and-test-differential

#5209 feat(yabloc_image_processing): support both of raw and compressed image input
  launch/tier4_localization_launch/launch/pose_twist_estimator/yabloc.launch.xml
  localization/yabloc/yabloc_image_processing/README.md
  localization/yabloc/yabloc_image_processing/launch/image_processing.launch.xml
  localization/yabloc/yabloc_image_processing/src/undistort/undistort_node.cpp
Labels: documentation, localization, launch, run-build-and-test-differential

#5215 chore: fix spell-check errors in perception packages
  perception/lidar_apollo_segmentation_tvm/src/lidar_apollo_segmentation_tvm.cpp
  perception/multi_object_tracker/models.md
  perception/traffic_light_classifier/README.md
Labels: documentation, perception, run-build-and-test-differential

#4901 refactor(heatmap_visualizer): add JSON Schema and remove default value definition
  perception/heatmap_visualizer/CMakeLists.txt
  perception/heatmap_visualizer/README.md
  perception/heatmap_visualizer/config/heatmap_visualizer.param.yaml
  perception/heatmap_visualizer/launch/heatmap_visualizer.launch.xml
  perception/heatmap_visualizer/schema/heatmap_visualizer.schema.json
  perception/heatmap_visualizer/src/heatmap_visualizer_node.cpp
Labels: documentation, perception, run-build-and-test-differential

#5210 refactor(safety_check): support lambda function in target filtering logic
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_safety_checker/objects_filtering.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/utils.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/avoidance_by_lane_change.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
  planning/behavior_path_planner/src/utils/goal_planner/goal_searcher.cpp
  planning/behavior_path_planner/src/utils/path_safety_checker/objects_filtering.cpp
  planning/behavior_path_planner/src/utils/start_planner/geometric_pull_out.cpp
  planning/behavior_path_planner/src/utils/start_planner/shift_pull_out.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning, run-build-and-test-differential

#5177 fix(detected_object_validation): change the points_num of the validator to be set class by class
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_radar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/lidar_based_detection.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
  perception/detected_object_validation/config/obstacle_pointcloud_based_validator.param.yaml
  perception/detected_object_validation/include/obstacle_pointcloud_based_validator/obstacle_pointcloud_based_validator.hpp
  perception/detected_object_validation/launch/obstacle_pointcloud_based_validator.launch.xml
  perception/detected_object_validation/src/obstacle_pointcloud_based_validator.cpp
Labels: perception, launch, run-build-and-test-differential

#5217 refactor(safety_check): use common function in safety check library
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/utils.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/manager.cpp
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
Labels: planning, run-build-and-test-differential

#5214 fix(lane_change): current lane obj treated as target lane obj
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
Labels: planning, run-build-and-test-differential

#5227 fix(blind_spot): fix runtime crash
  planning/behavior_velocity_blind_spot_module/src/debug.cpp
Labels: planning, run-build-and-test-differential

#5231 fix(behavior_velocity_crosswalk_module): stop at stop line associated with crosswalk
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
Labels: planning, run-build-and-test-differential

#5232 fix(autoware_auto_tf2): build fail for duplicated tf2 geometry msgs
  common/autoware_auto_tf2/include/autoware_auto_tf2/tf2_autoware_auto_msgs.hpp
Labels: common

#5228 refactor(safety_check): define filtering function in safety check library
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_safety_checker/objects_filtering.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/avoidance_by_lane_change.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
  planning/behavior_path_planner/src/utils/goal_planner/goal_searcher.cpp
  planning/behavior_path_planner/src/utils/path_safety_checker/objects_filtering.cpp
  planning/behavior_path_planner/src/utils/start_planner/geometric_pull_out.cpp
  planning/behavior_path_planner/src/utils/start_planner/shift_pull_out.cpp
Labels: planning, run-build-and-test-differential

#5233 fix(tier4_perception_launch): fix faraway detection to reduce calculation cost
  launch/tier4_perception_launch/launch/object_recognition/detection/radar_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/tracking/tracking.launch.xml
Labels: launch, run-build-and-test-differential

#5208 feat(obstacle_cruise_planner): obstacle type dependent slow down for obstacle cruise planner
  planning/obstacle_cruise_planner/README.md
  planning/obstacle_cruise_planner/config/obstacle_cruise_planner.param.yaml
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/common_structs.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/planner_interface.hpp
  planning/obstacle_cruise_planner/src/node.cpp
  planning/obstacle_cruise_planner/src/planner_interface.cpp
Labels: documentation, planning, run-build-and-test-differential

#5229 feat(intersection)!: disable the exception behavior in the private areas
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
Labels: planning, run-build-and-test-differential

#5246 feat(lane_change): separate execution and cancel safety check param
  planning/behavior_path_planner/config/lane_change/lane_change.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/manager.cpp
Labels: planning, run-build-and-test-differential

#5234 feat(intersection): yield initially on green light
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
Labels: planning, run-build-and-test-differential

#5235 feat(rtc_auto_mode_manager): eliminate rtc auto mode manager
  launch/tier4_planning_launch/launch/planning.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving.launch.xml
  launch/tier4_planning_launch/package.xml
  planning/behavior_path_planner/config/scene_module_manager.param.yaml
  planning/behavior_velocity_blind_spot_module/config/blind_spot.param.yaml
  planning/behavior_velocity_crosswalk_module/config/crosswalk.param.yaml
  planning/behavior_velocity_detection_area_module/config/detection_area.param.yaml
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_no_stopping_area_module/config/no_stopping_area.param.yaml
  planning/behavior_velocity_traffic_light_module/config/traffic_light.param.yaml
  planning/rtc_auto_mode_manager/CMakeLists.txt
  planning/rtc_auto_mode_manager/README.md
  planning/rtc_auto_mode_manager/config/rtc_auto_mode_manager.param.yaml
  planning/rtc_auto_mode_manager/include/rtc_auto_mode_manager/node.hpp
  planning/rtc_auto_mode_manager/include/rtc_auto_mode_manager/rtc_auto_mode_manager_interface.hpp
  planning/rtc_auto_mode_manager/launch/rtc_auto_mode_manager.launch.xml
  planning/rtc_auto_mode_manager/package.xml
  planning/rtc_auto_mode_manager/src/node.cpp
  planning/rtc_auto_mode_manager/src/rtc_auto_mode_manager_interface.cpp
  planning/rtc_interface/include/rtc_interface/rtc_interface.hpp
  planning/rtc_replayer/launch/rtc_replayer.launch.xml
Labels: documentation, planning, launch, run-build-and-test-differential

#5148 fix(image_projection_based_fusion): add iou_x use in long range for roi_cluster_fusion
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_radar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detection.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
  perception/image_projection_based_fusion/docs/roi-cluster-fusion.md
  perception/image_projection_based_fusion/include/image_projection_based_fusion/roi_cluster_fusion/node.hpp
  perception/image_projection_based_fusion/launch/roi_cluster_fusion.launch.xml
  perception/image_projection_based_fusion/src/roi_cluster_fusion/node.cpp
Labels: documentation, perception, launch, run-build-and-test-differential

#5250 fix(vehicle_cmd_gate): fix filtering condition
  control/vehicle_cmd_gate/src/vehicle_cmd_gate.cpp
Labels: control, run-build-and-test-differential

#5245 fix(lane_change): add guard to neigibor lanelets
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
Labels: planning, run-build-and-test-differential

#4700 feat(autoware_auto_msgs_adapter): add map adapter
  system/autoware_auto_msgs_adapter/CMakeLists.txt
  system/autoware_auto_msgs_adapter/config/adapter_map.param.yaml
  system/autoware_auto_msgs_adapter/launch/autoware_auto_msgs_adapter.launch.xml
  system/autoware_auto_msgs_adapter/package.xml
  system/autoware_auto_msgs_adapter/schema/autoware_auto_msgs_adapter.schema.json
  system/autoware_auto_msgs_adapter/src/autoware_auto_msgs_adapter_core.cpp
  system/autoware_auto_msgs_adapter/src/include/adapter_map.hpp
  system/autoware_auto_msgs_adapter/src/include/autoware_auto_msgs_adapter_core.hpp
  system/autoware_auto_msgs_adapter/test/test_msg_had_map_bin.cpp
Labels: system, run-build-and-test-differential

#5256 refactor(behavior_path_planner): separate processing time function
  planning/behavior_path_planner/include/behavior_path_planner/planner_manager.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/planner_manager.cpp
Labels: planning, run-build-and-test-differential

#5257 chore(obstacle_velocity_limiter): publish processing time as float
  planning/obstacle_velocity_limiter/README.md
  planning/obstacle_velocity_limiter/include/obstacle_velocity_limiter/obstacle_velocity_limiter_node.hpp
  planning/obstacle_velocity_limiter/src/obstacle_velocity_limiter_node.cpp
Labels: documentation, planning, run-build-and-test-differential

#5262 fix(map_projection_loader): fix sample config parameter in readme
  map/map_projection_loader/README.md
Labels: documentation, map, run-build-and-test-differential

#5264 feat(intersection): find stop line from footprint intersection with areas
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_merge_from_private_road.cpp
  planning/behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_intersection_module/src/util_type.hpp
Labels: planning, run-build-and-test-differential

#5265 fix(intersection): collision check considering object width
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
Labels: planning, run-build-and-test-differential

#4799 feat(kalman_filter): add gtest
  common/kalman_filter/CMakeLists.txt
  common/kalman_filter/package.xml
  common/kalman_filter/test/test_kalman_filter.cpp
  common/kalman_filter/test/test_time_delay_kalman_filter.cpp
Labels: common, run-build-and-test-differential

#5268 feat(intersection): not detect stuck vehicle when turning left
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
Labels: planning, run-build-and-test-differential

#5273 refactor(motion_velocity_smoother): align processing time topic name
  planning/motion_velocity_smoother/src/motion_velocity_smoother_node.cpp
Labels: planning, run-build-and-test-differential

#5236 feat(lane_change): keep distance against avoidable stationary objects
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
Labels: planning, run-build-and-test-differential

#5249 feat(lane_change): sampling all possible longitudinal acceleration when the ego is in stuck
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/normal.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
Labels: planning, run-build-and-test-differential

#5276 feat(planning_validator): output processing time
  planning/planning_validator/include/planning_validator/planning_validator.hpp
  planning/planning_validator/src/planning_validator.cpp
Labels: planning, run-build-and-test-differential

#5279 feat(obstacle_stop_planner): output processing time
  planning/obstacle_stop_planner/include/obstacle_stop_planner/node.hpp
  planning/obstacle_stop_planner/src/node.cpp
Labels: planning, run-build-and-test-differential

#5274 feat(path_smoother, obstacle_avoidance_planner): output processing time topic
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/common_structs.hpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/node.hpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/type_alias.hpp
  planning/obstacle_avoidance_planner/src/node.cpp
  planning/path_smoother/include/path_smoother/common_structs.hpp
  planning/path_smoother/include/path_smoother/elastic_band_smoother.hpp
  planning/path_smoother/include/path_smoother/type_alias.hpp
  planning/path_smoother/src/elastic_band_smoother.cpp
Labels: planning, run-build-and-test-differential

#5266 fix(avoidance): align execution request condition
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning, run-build-and-test-differential

#5281 refactor(behavior_path_planner): align processing time topic name
  planning/behavior_path_planner/src/planner_manager.cpp
Labels: planning, run-build-and-test-differential

#5267 fix(avoidance): expand detection area to prevent chattering
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/utils.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
Labels: planning, run-build-and-test-differential

#5278 refactor(obstacle_cruise_planner): align processing time topic name
  planning/obstacle_cruise_planner/src/node.cpp
Labels: planning, run-build-and-test-differential

#5277 chore(intersection): parameterize stuck vehicle detection turn_direction
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
Labels: planning, run-build-and-test-differential

#5284 fix(lane_change): fixed debug visualization bug
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
Labels: planning, run-build-and-test-differential

#5032 feat(avoidance): check if the avoidance path is in drivable area
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/manager.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning, run-build-and-test-differential

#5280 fix(intersection): fix unsigned subtraction
  planning/behavior_velocity_intersection_module/src/util.cpp
Labels: planning, run-build-and-test-differential

#5287 fix(lane_change): update target lane if valid path not found
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
Labels: planning, run-build-and-test-differential

#5194 refactor(behavior_path_planner): remove planner data unused variable
  planning/behavior_path_planner/include/behavior_path_planner/data_manager.hpp
  planning/behavior_path_planner/test/test_drivable_area_expansion.cpp
Labels: planning, run-build-and-test-differential

#5290 fix(goal_planner): disable freespace pull over after arriving modified goal
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
Labels: planning, run-build-and-test-differential

#4340 feat(tracking_object_merger): merge tracked object. especially for far radar object and conventional lidar object
  perception/tracking_object_merger/CMakeLists.txt
  perception/tracking_object_merger/README.md
  perception/tracking_object_merger/config/data_association_matrix.param.yaml
  perception/tracking_object_merger/config/decorative_tracker_merger.param.yaml
  perception/tracking_object_merger/config/decorative_tracker_merger_policy.param.yaml
  perception/tracking_object_merger/image/decorative_tracker_merger.drawio.svg
  perception/tracking_object_merger/image/time_sync.drawio.svg
  perception/tracking_object_merger/image/tracklet_management.drawio.svg
  perception/tracking_object_merger/include/tracking_object_merger/data_association/data_association.hpp
  perception/tracking_object_merger/include/tracking_object_merger/data_association/solver/gnn_solver.hpp
  perception/tracking_object_merger/include/tracking_object_merger/data_association/solver/gnn_solver_interface.hpp
  perception/tracking_object_merger/include/tracking_object_merger/data_association/solver/mu_successive_shortest_path.hpp
  perception/tracking_object_merger/include/tracking_object_merger/data_association/solver/successive_shortest_path.hpp
  perception/tracking_object_merger/include/tracking_object_merger/decorative_tracker_merger.hpp
  perception/tracking_object_merger/include/tracking_object_merger/utils/tracker_state.hpp
  perception/tracking_object_merger/include/tracking_object_merger/utils/utils.hpp
  perception/tracking_object_merger/launch/decorative_tracker_merger.launch.xml
  perception/tracking_object_merger/package.xml
  perception/tracking_object_merger/src/data_association/data_association.cpp
  perception/tracking_object_merger/src/data_association/mu_successive_shortest_path/mu_successive_shortest_path_wrapper.cpp
  perception/tracking_object_merger/src/data_association/successive_shortest_path/successive_shortest_path.cpp
  perception/tracking_object_merger/src/decorative_tracker_merger.cpp
  perception/tracking_object_merger/src/utils/tracker_state.cpp
  perception/tracking_object_merger/src/utils/utils.cpp
Labels: documentation, perception, run-build-and-test-differential, openai-pr-reviewer

#5292 fix(euclidean cluster): update the broken link
  perception/euclidean_cluster/README.md
Labels: documentation, perception, run-build-and-test-differential

#5240 docs(behavior_path_planner): update doc of safety check feature fot start planner
  planning/behavior_path_planner/docs/behavior_path_planner_start_planner_design.md
  planning/behavior_path_planner/image/start_planner/collision_check_range.drawio.svg
Labels: documentation, planning, run-build-and-test-differential

#5078 feat(ndt_scan_matcher): implement tpe sampler in ndt_align_srv
  localization/ndt_scan_matcher/CMakeLists.txt
  localization/ndt_scan_matcher/README.md
  localization/ndt_scan_matcher/config/ndt_scan_matcher.param.yaml
  localization/ndt_scan_matcher/include/ndt_scan_matcher/ndt_scan_matcher_core.hpp
  localization/ndt_scan_matcher/include/ndt_scan_matcher/tree_structured_parzen_estimator.hpp
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
  localization/ndt_scan_matcher/src/tree_structured_parzen_estimator.cpp
  localization/ndt_scan_matcher/test/test_tpe.cpp
Labels: documentation, localization, run-build-and-test-differential

#5288 fix(lane_change): fix force path not appear
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
Labels: planning, run-build-and-test-differential

#5271 fix(lane_change): prevent node from dying for trimmed shifted path
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
  planning/behavior_path_planner/src/utils/path_utils.cpp
Labels: planning, run-build-and-test-differential

#5291 fix(lane_change): add visualization for passParkedObject
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/utils.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
Labels: planning, run-build-and-test-differential

#5172 refactor(map_packages): remove unused depend in pakcages.xml files
  map/map_height_fitter/package.xml
  map/map_loader/CMakeLists.txt
  map/map_loader/package.xml
  map/map_projection_loader/package.xml
  map/util/lanelet2_map_preprocessor/CMakeLists.txt
  map/util/lanelet2_map_preprocessor/package.xml
Labels: map, run-build-and-test-differential

#5299 fix(behavior_path_planner): fix calcMinimumLongitudinalLength args
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_safety_checker/safety_check.hpp
Labels: planning, run-build-and-test-differential

#5296 fix(lane_change): update target lane obj block condition
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
Labels: planning, run-build-and-test-differential

#5301 fix(tier4_autoware_utils): fix `-Werror=float-conversion`
  common/tier4_autoware_utils/include/tier4_autoware_utils/geometry/geometry.hpp
Labels: common, run-build-and-test-differential

#5307 feat(simple_planning_sim): publish lateral acceleration
  simulator/simple_planning_simulator/src/simple_planning_simulator/simple_planning_simulator_core.cpp
Labels: simulator, run-build-and-test-differential

#5270 feat(intersection): new feature of yield stuck detection
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_intersection_module/src/debug.cpp
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_intersection_module/src/util.hpp
  planning/behavior_velocity_intersection_module/src/util_type.hpp
Labels: planning, run-build-and-test-differential

#5286 feat(duplicated_node_checker): add packages to check duplication of node names in ros2
  launch/tier4_system_launch/launch/system.launch.xml
  system/duplicated_node_checker/CMakeLists.txt
  system/duplicated_node_checker/README.md
  system/duplicated_node_checker/config/duplicated_node_checker.param.yaml
  system/duplicated_node_checker/include/duplicated_node_checker/duplicated_node_checker_core.hpp
  system/duplicated_node_checker/launch/duplicated_node_checker.launch.xml
  system/duplicated_node_checker/package.xml
  system/duplicated_node_checker/schema/duplicated_node_checker.schema.json
  system/duplicated_node_checker/src/duplicated_node_checker_core.cpp
  system/system_error_monitor/config/diagnostic_aggregator/system.param.yaml
  system/system_error_monitor/config/system_error_monitor.param.yaml
  system/system_error_monitor/config/system_error_monitor.planning_simulation.param.yaml
Labels: documentation, system, launch, run-build-and-test-differential

#5304 feat(intersection): ignore decelerating vehicle on amber traffic light
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_intersection_module/src/debug.cpp
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_intersection_module/src/util.hpp
  planning/behavior_velocity_intersection_module/src/util_type.hpp
Labels: planning, run-build-and-test-differential

#5300 feat(lane_change): add rss paramas for stuck
  planning/behavior_path_planner/config/lane_change/lane_change.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/base_class.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/normal.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/manager.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
Labels: planning, run-build-and-test-differential

#5302 fix(lane_change): fix chattering for stopped objects
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_safety_checker/path_safety_checker_parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_safety_checker/safety_check.hpp
  planning/behavior_path_planner/src/marker_utils/utils.cpp
  planning/behavior_path_planner/src/utils/path_safety_checker/safety_check.cpp
  planning/behavior_path_planner/test/test_safety_check.cpp
Labels: planning, run-build-and-test-differential

#5306 fix(lane_change): add margin in stuck detection distance
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
Labels: planning, run-build-and-test-differential

#5282 feature(multi_object_tracker): add acc estimation model
  perception/multi_object_tracker/include/multi_object_tracker/tracker/model/bicycle_tracker.hpp
  perception/multi_object_tracker/include/multi_object_tracker/tracker/model/big_vehicle_tracker.hpp
  perception/multi_object_tracker/include/multi_object_tracker/tracker/model/normal_vehicle_tracker.hpp
  perception/multi_object_tracker/include/multi_object_tracker/tracker/model/pedestrian_tracker.hpp
  perception/multi_object_tracker/src/tracker/model/bicycle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/big_vehicle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/normal_vehicle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/pedestrian_tracker.cpp
Labels: perception, run-build-and-test-differential

#5308 refactor(lane_change): add debug log
  common/tier4_logging_level_configure_rviz_plugin/config/logger_config.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/base_class.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/normal.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
Labels: planning, common, run-build-and-test-differential

#4806 chore(ground_segmentation): update docs
  perception/ground_segmentation/docs/image/scan_ground_filter_parameters.drawio.svg
  perception/ground_segmentation/docs/scan-ground-filter.md
Labels: documentation, perception, run-build-and-test-differential

#5315 fix(lane_change): change logger level in isVehicleStuckByObstacle
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
Labels: planning, run-build-and-test-differential

#5294 feat(behavior_path_planner): curvature based drivable area expansion
  planning/behavior_path_planner/CMakeLists.txt
  planning/behavior_path_planner/config/drivable_area_expansion.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/data_manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/drivable_area_expansion/drivable_area_expansion.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/drivable_area_expansion/expansion.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/drivable_area_expansion/footprints.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/drivable_area_expansion/map_utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/drivable_area_expansion/parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/drivable_area_expansion/path_projection.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/drivable_area_expansion/types.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/utils/drivable_area_expansion/drivable_area_expansion.cpp
  planning/behavior_path_planner/src/utils/drivable_area_expansion/expansion.cpp
  planning/behavior_path_planner/src/utils/drivable_area_expansion/footprints.cpp
  planning/behavior_path_planner/src/utils/drivable_area_expansion/map_utils.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
  planning/behavior_path_planner/test/test_drivable_area_expansion.cpp
Labels: planning, run-build-and-test-differential

#5318 fix(lane_change): do not use reference values of polygon outer
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/utils/path_safety_checker/safety_check.cpp
Labels: planning, run-build-and-test-differential

#5321 fix(lane_change): filter out objects out of lane to fix stopping margin chattering
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
Labels: planning, run-build-and-test-differential

#5323 feat(avoidance): add another envelope polygon update logic
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/utils.hpp
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
Labels: planning, run-build-and-test-differential

#5326 fix(tier4_simulator_launch): add lacked param path
  launch/tier4_simulator_launch/launch/simulator.launch.xml
Labels: launch, run-build-and-test-differential

#5325 fix(drivable_area_expansion): correct bound limit check
  planning/behavior_path_planner/src/utils/drivable_area_expansion/drivable_area_expansion.cpp
Labels: planning, run-build-and-test-differential

#5259 feat(imu_corrector): changed GyroBiasEstimator to use ndt pose instead of twist
  sensing/imu_corrector/README.md
  sensing/imu_corrector/config/gyro_bias_estimator.param.yaml
  sensing/imu_corrector/launch/gyro_bias_estimator.launch.xml
  sensing/imu_corrector/src/gyro_bias_estimation_module.cpp
  sensing/imu_corrector/src/gyro_bias_estimation_module.hpp
  sensing/imu_corrector/src/gyro_bias_estimator.cpp
  sensing/imu_corrector/src/gyro_bias_estimator.hpp
  sensing/imu_corrector/test/test_gyro_bias_estimation_module.cpp
Labels: documentation, sensing, run-build-and-test-differential

#5319 feat(ndt_scan_matcher): add initial_to_result_relative_pose
  localization/ndt_scan_matcher/README.md
  localization/ndt_scan_matcher/include/ndt_scan_matcher/ndt_scan_matcher_core.hpp
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
Labels: documentation, localization, run-build-and-test-differential

#5328 fix(tracking_object_merger): fix unintended error in radar tracking merger
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_radar_fusion_based_detection.launch.xml
  perception/tracking_object_merger/include/tracking_object_merger/utils/utils.hpp
Labels: perception, launch, run-build-and-test-differential

#5329 fix(AEB): failure due to an empty path
  control/autonomous_emergency_braking/src/node.cpp
Labels: control, run-build-and-test-differential

#5303 feat(avoidance): make detection area dynamically
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/helper.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/utils.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/manager.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/manager.cpp
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
Labels: planning, run-build-and-test-differential

#5333 fix(drivable_area_expansion): fix max_arc_length parameter and extra_arc_length parameters
  planning/behavior_path_planner/src/utils/drivable_area_expansion/drivable_area_expansion.cpp
Labels: planning, run-build-and-test-differential

#5261 refactor(map_based_prediction): to improve readability. Possibly (unlikely) performance improvements
  perception/map_based_prediction/src/map_based_prediction_node.cpp
Labels: perception, run-build-and-test-differential

#4292 fix(obstacle_avoidance_planner): fix lateral calculations
  planning/obstacle_avoidance_planner/src/debug_marker.cpp
  planning/obstacle_avoidance_planner/src/mpt_optimizer.cpp
Labels: planning, run-build-and-test-differential

#5334 fix(intersection): fix misuse of original path index to interpolated path
  planning/behavior_velocity_intersection_module/src/util.cpp
Labels: planning, run-build-and-test-differential

#5332 fix(intersection): fix infinite loop in tsort
  planning/behavior_velocity_intersection_module/src/util.cpp
Labels: planning, run-build-and-test-differential

#5336 feat(behavior_path_planner): add postProcess() in scene module interface
  planning/behavior_path_planner/include/behavior_path_planner/planner_manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_interface.hpp
Labels: planning, run-build-and-test-differential

#5324 fix(detected_object_validation): consider shoulder lanelet in object lanelet filter
  perception/detected_object_validation/include/detected_object_filter/object_lanelet_filter.hpp
  perception/detected_object_validation/src/object_lanelet_filter.cpp
Labels: perception, run-build-and-test-differential

#5033 fix(gnss_poser): fix_transform_direction_problem
  sensing/gnss_poser/src/gnss_poser_core.cpp
Labels: sensing, run-build-and-test-differential

#5340 feat(system_diagnostic_graph): change config file format
  system/system_diagnostic_graph/CMakeLists.txt
  system/system_diagnostic_graph/README.md
  system/system_diagnostic_graph/config/default.param.yaml
  system/system_diagnostic_graph/doc/overview.drawio.svg
  system/system_diagnostic_graph/example/example.launch.xml
  system/system_diagnostic_graph/example/example1.yaml
  system/system_diagnostic_graph/example/example2.yaml
  system/system_diagnostic_graph/example/example_0.yaml
  system/system_diagnostic_graph/example/example_1.yaml
  system/system_diagnostic_graph/example/example_2.yaml
  system/system_diagnostic_graph/example/example_diags.py
  system/system_diagnostic_graph/example/publisher.py
  system/system_diagnostic_graph/src/core/config.cpp
  system/system_diagnostic_graph/src/core/config.hpp
  system/system_diagnostic_graph/src/core/debug.cpp
  system/system_diagnostic_graph/src/core/expr.cpp
  system/system_diagnostic_graph/src/core/exprs.cpp
  system/system_diagnostic_graph/src/core/exprs.hpp
  system/system_diagnostic_graph/src/core/graph.cpp
  system/system_diagnostic_graph/src/core/graph.hpp
  system/system_diagnostic_graph/src/core/modes.cpp
  system/system_diagnostic_graph/src/core/modes.hpp
  system/system_diagnostic_graph/src/core/node.cpp
  system/system_diagnostic_graph/src/core/node.hpp
  system/system_diagnostic_graph/src/core/nodes.cpp
  system/system_diagnostic_graph/src/core/nodes.hpp
  system/system_diagnostic_graph/src/core/types.hpp
  system/system_diagnostic_graph/src/core/update.cpp
  system/system_diagnostic_graph/src/main.cpp
  system/system_diagnostic_graph/src/main.hpp
  system/system_diagnostic_graph/src/tool.hpp
  system/system_diagnostic_monitor/CMakeLists.txt
  system/system_diagnostic_monitor/README.md
  system/system_diagnostic_monitor/config/autoware.yaml
  system/system_diagnostic_monitor/config/control.yaml
  system/system_diagnostic_monitor/config/localization.yaml
  system/system_diagnostic_monitor/config/map.yaml
  system/system_diagnostic_monitor/config/perception.yaml
  system/system_diagnostic_monitor/config/planning.yaml
  system/system_diagnostic_monitor/config/system.yaml
  system/system_diagnostic_monitor/config/vehicle.yaml
  system/system_diagnostic_monitor/launch/system_diagnostic_monitor.launch.xml
  system/system_diagnostic_monitor/package.xml
  system/system_diagnostic_monitor/script/component_state_diagnostics.py
Labels: documentation, system, run-build-and-test-differential

#5339 chore(traffic_light_fine_detector): update onnx link in readme
  perception/traffic_light_fine_detector/README.md
Labels: documentation, perception, run-build-and-test-differential

#5343 fix(perception_reproducer): publish objects even if out of recorded timestamp
  planning/planning_debug_tools/scripts/perception_replayer/perception_replayer_common.py
Labels: planning, run-build-and-test-differential

#5344 perf(perception_reproducer): improve ego pose extraction
  planning/planning_debug_tools/scripts/perception_replayer/perception_replayer_common.py
Labels: planning, run-build-and-test-differential

#5346 fix(lane_change): fix debug marker
  planning/behavior_path_planner/src/utils/path_safety_checker/safety_check.cpp
Labels: planning, run-build-and-test-differential

#5255 feat(pid_longitudinal_controller): transit to STOPPED even if the sign of the ego velocity goes opposite
  control/pid_longitudinal_controller/src/pid_longitudinal_controller.cpp
Labels: control, run-build-and-test-differential

#5348 feat(lane_change): disable cancel when ego is out of current lanes
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
Labels: planning, run-build-and-test-differential

#5349 perf(drivable area expansion): use faster lateral offset and nearest line calculations
  planning/behavior_path_planner/include/behavior_path_planner/utils/drivable_area_expansion/drivable_area_expansion.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/drivable_area_expansion/map_utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/drivable_area_expansion/types.hpp
  planning/behavior_path_planner/src/utils/drivable_area_expansion/drivable_area_expansion.cpp
  planning/behavior_path_planner/src/utils/drivable_area_expansion/map_utils.cpp
Labels: planning, run-build-and-test-differential

#5202 fix(goal_planner): mutex lock for all getter and setter of status
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/goal_planner_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/goal_planner/util.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/utils/goal_planner/util.cpp
Labels: planning, run-build-and-test-differential

#5347 test(ndt_scan_matcher): add test_ndt_scan_matcher_launch.py
  localization/ndt_scan_matcher/CMakeLists.txt
  localization/ndt_scan_matcher/package.xml
  localization/ndt_scan_matcher/src/map_update_module.cpp
  localization/ndt_scan_matcher/test/test_ndt_scan_matcher_launch.py
Labels: localization, run-build-and-test-differential

#5351 refactor(ndt_scan_matcher): rename `align_using_monte_carlo` , etc.
  localization/ndt_scan_matcher/include/ndt_scan_matcher/ndt_scan_matcher_core.hpp
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
Labels: localization, run-build-and-test-differential

#5341 refactor(behavior_path_planner): remove unused headers
  planning/behavior_path_planner/include/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/include/behavior_path_planner/parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/planner_manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/dynamic_avoidance/dynamic_avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/goal_planner_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/steering_factor_interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/drivable_area_expansion/footprints.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/drivable_area_expansion/parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/drivable_area_expansion/path_projection.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/geometric_parallel_parking/geometric_parallel_parking.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/goal_planner/default_fixed_goal_planner.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/goal_planner/fixed_goal_planner_base.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/goal_planner/goal_searcher.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/goal_planner/goal_searcher_base.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/goal_planner/pull_over_planner_base.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_following/module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_safety_checker/objects_filtering.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_safety_checker/safety_check.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_shifter/path_shifter.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/side_shift/util.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_goal_planner_common/common_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/freespace_pull_out.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/pull_out_planner_base.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/util.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/utils.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/marker_utils/avoidance/debug.cpp
  planning/behavior_path_planner/src/marker_utils/lane_change/debug.cpp
  planning/behavior_path_planner/src/marker_utils/utils.cpp
  planning/behavior_path_planner/src/planner_manager.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/dynamic_avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/avoidance_by_lane_change.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/external_request.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/manager.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/scene_module/side_shift/side_shift_module.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
  planning/behavior_path_planner/src/utils/geometric_parallel_parking/geometric_parallel_parking.cpp
  planning/behavior_path_planner/src/utils/goal_planner/default_fixed_goal_planner.cpp
  planning/behavior_path_planner/src/utils/goal_planner/geometric_pull_over.cpp
  planning/behavior_path_planner/src/utils/goal_planner/goal_searcher.cpp
  planning/behavior_path_planner/src/utils/goal_planner/shift_pull_over.cpp
  planning/behavior_path_planner/src/utils/goal_planner/util.cpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
  planning/behavior_path_planner/src/utils/path_safety_checker/objects_filtering.cpp
  planning/behavior_path_planner/src/utils/path_safety_checker/safety_check.cpp
  planning/behavior_path_planner/src/utils/path_shifter/path_shifter.cpp
  planning/behavior_path_planner/src/utils/path_utils.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
  planning/behavior_path_planner/test/input.hpp
Labels: planning, run-build-and-test-differential

#5283 perf(pointcloud_preprocessor): move print out of hot loop
  sensing/pointcloud_preprocessor/src/crop_box_filter/crop_box_filter_nodelet.cpp
Labels: sensing, run-build-and-test-differential

#5354 fix(ndt_scan_matcher): fix `validate_num_iteration`
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
Labels: localization, run-build-and-test-differential

#5352 feat(planner_manager): limit iteration number by parameter
  planning/behavior_path_planner/config/behavior_path_planner.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/planner_manager.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/planner_manager.cpp
Labels: planning, run-build-and-test-differential

#5313 feat(tier4_perception_launch): add parameter to control detection_by_tracker on/off
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_radar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/lidar_based_detection.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
Labels: launch, run-build-and-test-differential

#5355 fix(route_handler): fix getting next lane logic to prevent from unexpected path cut
  planning/route_handler/src/route_handler.cpp
Labels: planning, run-build-and-test-differential

#5285 feat(map_based_prediction): enable to control lateral path convergence speed by setting control time horizon
  perception/map_based_prediction/README.md
  perception/map_based_prediction/config/map_based_prediction.param.yaml
  perception/map_based_prediction/include/map_based_prediction/map_based_prediction_node.hpp
  perception/map_based_prediction/include/map_based_prediction/path_generator.hpp
  perception/map_based_prediction/src/map_based_prediction_node.cpp
  perception/map_based_prediction/src/path_generator.cpp
Labels: documentation, perception, run-build-and-test-differential

#5248 fix(obstacle_stop_planner, dynamic avoidance): fix coordinate transformation bug
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/dynamic_avoidance_module.cpp
  planning/obstacle_stop_planner/src/adaptive_cruise_control.cpp
Labels: planning, run-build-and-test-differential

#5363 chore(behavior_velocity_crosswalk_module): add maintainer
  planning/behavior_velocity_crosswalk_module/package.xml
Labels: planning, run-build-and-test-differential

#5358 fix(route_handler): filter out start lanelets wrt start checkpoint orientation
  planning/route_handler/src/route_handler.cpp
Labels: planning, run-build-and-test-differential

#5360 perf(motion_utils): faster removeOverlapPoints
  common/motion_utils/include/motion_utils/trajectory/trajectory.hpp
Labels: common, run-build-and-test-differential

#5370 feat(intersection): use own max acc/jerk param
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_intersection_module/src/util.hpp
Labels: planning, run-build-and-test-differential

#5372 fix(start_planner): fix invalid lane id access
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
Labels: planning, run-build-and-test-differential

#5375 feat(processing_time_checker): add a script to display processing time
  planning/planning_debug_tools/CMakeLists.txt
  planning/planning_debug_tools/README.md
  planning/planning_debug_tools/image/processing_time_checker.png
  planning/planning_debug_tools/package.xml
  planning/planning_debug_tools/scripts/processing_time_checker.py
Labels: documentation, planning, run-build-and-test-differential

#5376 refactor(start_planner): guard for invalid lane id
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
Labels: planning, run-build-and-test-differential

#5382 feat(duplicated_node_checker): add duplicated node names to msg
  system/duplicated_node_checker/config/duplicated_node_checker.param.yaml
  system/duplicated_node_checker/include/duplicated_node_checker/duplicated_node_checker_core.hpp
  system/duplicated_node_checker/src/duplicated_node_checker_core.cpp
  system/system_error_monitor/config/system_error_monitor.planning_simulation.param.yaml
Labels: system, run-build-and-test-differential

#5381 fix(goal_planner): fixed goal memory leak
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/goal_planner_module.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
Labels: planning, run-build-and-test-differential

#5371 refactor(goal_planner): rebuild state transition
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/goal_planner_module.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
Labels: planning, run-build-and-test-differential

#5379 fix(goal_planner): use recursive mutex instead of transaction
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/goal_planner_module.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
Labels: planning, run-build-and-test-differential

#5383 fix(crosswalk): fix duplicated crosswalk launch
  planning/behavior_velocity_crosswalk_module/src/manager.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
Labels: planning, run-build-and-test-differential

#5309 docs(mpc_lateral_controller): update parameter description
  control/mpc_lateral_controller/README.md
Labels: documentation, control, run-build-and-test-differential

#5359 feat(behavior_velocity_run_out): ignore momentary detection caused by false positive
  planning/behavior_velocity_run_out_module/README.md
  planning/behavior_velocity_run_out_module/config/run_out.param.yaml
  planning/behavior_velocity_run_out_module/src/manager.cpp
  planning/behavior_velocity_run_out_module/src/scene.cpp
  planning/behavior_velocity_run_out_module/src/scene.hpp
  planning/behavior_velocity_run_out_module/src/utils.hpp
Labels: documentation, planning, run-build-and-test-differential

#5374 feat(imu_corrector): changed input topic of GyroBiasEstimator from ndt_pose to ekf_odom
  sensing/imu_corrector/launch/gyro_bias_estimator.launch.xml
  sensing/imu_corrector/src/gyro_bias_estimator.cpp
  sensing/imu_corrector/src/gyro_bias_estimator.hpp
Labels: sensing, run-build-and-test-differential

#5389 chore(processing_time_checker): update for windows size and rich display
  planning/planning_debug_tools/scripts/processing_time_checker.py
Labels: planning, run-build-and-test-differential

#5378 refactor(topic_state_monitor): add state log message
  system/default_ad_api/src/operation_mode.cpp
  system/default_ad_api/src/operation_mode.hpp
  system/topic_state_monitor/src/topic_state_monitor_core.cpp
Labels: system, run-build-and-test-differential

#5386 fix(intersection): wrong argument order
  planning/behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_intersection_module/src/util.hpp
Labels: planning, run-build-and-test-differential

#5384 fix(utils): remove sharp angle bound
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning, run-build-and-test-differential
