Repository autowarefoundation/autoware_universe, pull requests merged in 2023-06, with the labels that each got.

#3860 feat(avoidance): use same root adjacent lane boundary for avoidable margin calculation
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
  planning/route_handler/include/route_handler/route_handler.hpp
  planning/route_handler/src/route_handler.cpp
Labels: planning

#3871 fix(avoidance): reset avoidance module when the driving lane update is updated
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
Labels: planning

#3877 fix(pointcloud_preprocessor): change velocoty_report to twist_with_covariance
  sensing/pointcloud_preprocessor/docs/concatenate-data.md
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/concatenate_data/concatenate_data_nodelet.hpp
  sensing/pointcloud_preprocessor/package.xml
  sensing/pointcloud_preprocessor/src/concatenate_data/concatenate_data_nodelet.cpp
Labels: documentation, sensing

#3200 feat(map_loader): add publish map projector info
  map/map_loader/include/map_loader/lanelet2_map_loader_node.hpp
  map/map_loader/package.xml
  map/map_loader/src/lanelet2_map_loader/lanelet2_map_loader_node.cpp
  planning/static_centerline_optimizer/src/static_centerline_optimizer_node.cpp
Labels: planning, map

#3863 feat(map_loader): use cylindrical area for map loader
  localization/ndt_scan_matcher/src/map_update_module.cpp
  map/map_height_fitter/src/map_height_fitter.cpp
  map/map_loader/CMakeLists.txt
  map/map_loader/src/pointcloud_map_loader/utils.cpp
  map/map_loader/src/pointcloud_map_loader/utils.hpp
  map/map_loader/test/test_cylinder_box_overlap.cpp
  map/map_loader/test/test_differential_map_loader_module.cpp
  map/map_loader/test/test_partial_map_loader_module.cpp
  map/map_loader/test/test_sphere_box_overlap.cpp
  perception/compare_map_segmentation/src/voxel_grid_map_loader.cpp
Labels: perception, localization, map

#3879 fix(planning_debug_tools): bag directory designation of perception reproducer
  planning/planning_debug_tools/scripts/perception_reproducer.py
Labels: planning

#3884 fix(goal_planner): fix pull over sudden deceleration
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
Labels: planning

#3887 fix(avoidance): fill prev driving lanes at first time
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#3888 refactor(avoidance): create helper class
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/helper.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#3874 feat: add parameter for holding last detected traffic-signal color
  perception/crosswalk_traffic_light_estimator/include/crosswalk_traffic_light_estimator/node.hpp
  perception/crosswalk_traffic_light_estimator/src/node.cpp
Labels: perception

#3883 fix(motion_utils): check if the buffer is empty
  common/motion_utils/src/vehicle/vehicle_state_checker.cpp
  common/motion_utils/test/src/vehicle/test_vehicle_state_checker.cpp
Labels: common

#3885 refactor(avoidance): calculate to_road_shoulder_distance
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
Labels: planning

#3780 feat(traffic_light_arbiter): basic initial implementation
  perception/traffic_light_arbiter/CMakeLists.txt
  perception/traffic_light_arbiter/README.md
  perception/traffic_light_arbiter/include/traffic_light_arbiter/traffic_light_arbiter.hpp
  perception/traffic_light_arbiter/launch/traffic_light_arbiter.launch.xml
  perception/traffic_light_arbiter/package.xml
  perception/traffic_light_arbiter/src/traffic_light_arbiter.cpp
Labels: documentation, perception

#2454 fix(trajectory_follower_nodes): mpc_follower does not send proper converged data under low steering rate limit
  control/mpc_lateral_controller/README.md
  control/mpc_lateral_controller/include/mpc_lateral_controller/mpc_lateral_controller.hpp
  control/mpc_lateral_controller/param/lateral_controller_defaults.param.yaml
  control/mpc_lateral_controller/src/mpc_lateral_controller.cpp
Labels: documentation, control

#3891 fix(behavior_velocity_intersection_module): visualize virtuall wall of merge_from_private_road
  planning/behavior_velocity_intersection_module/src/debug.cpp
Labels: planning

#3287 fix(smoke_test): fix smoke test failing with big nodes
  common/autoware_testing/autoware_testing/smoke_test.py
  common/autoware_testing/cmake/add_smoke_test.cmake
  control/trajectory_follower_node/CMakeLists.txt
  control/trajectory_follower_node/README.md
  control/trajectory_follower_node/param/lateral/mpc.param.yaml
  control/trajectory_follower_node/param/lateral/pure_pursuit.param.yaml
  control/trajectory_follower_node/param/lateral_controller_defaults.param.yaml
  control/trajectory_follower_node/param/longitudinal/pid.param.yaml
  control/trajectory_follower_node/test/test_controller_mpc.param.yaml
  control/trajectory_follower_node/test/test_controller_node.cpp
  control/trajectory_follower_node/test/test_controller_pid.param.yaml
  control/trajectory_follower_node/test/test_controller_pure_pursuit.param.yaml
  control/trajectory_follower_node/test/test_nearest_search.param.yaml
  control/trajectory_follower_node/test/test_vehicle_info.param.yaml
Labels: documentation, control, common

#3803 refactor(pull_out): consolidate similar function
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_out/pull_out_module.hpp
  planning/behavior_path_planner/src/scene_module/pull_out/pull_out_module.cpp
Labels: planning

#3889 docs(obstacle_cruise_planner): slight typo correction
  planning/obstacle_cruise_planner/README.md
Labels: documentation, planning

#3893 fix(goal_planner): fix goal planner execution
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
Labels: planning

#3895 docs(mission_planner): update readme
  planning/mission_planner/README.md
Labels: documentation, planning

#3892 fix(lane_change): disable virtual wall by default
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
Labels: planning

#3810 feat(mpc_lateral_controller): dynamic steer rate lim
  control/mpc_lateral_controller/include/mpc_lateral_controller/mpc.hpp
  control/mpc_lateral_controller/include/mpc_lateral_controller/mpc_lateral_controller.hpp
  control/mpc_lateral_controller/param/lateral_controller_defaults.param.yaml
  control/mpc_lateral_controller/src/mpc.cpp
  control/mpc_lateral_controller/src/mpc_lateral_controller.cpp
  control/mpc_lateral_controller/test/test_mpc.cpp
  control/trajectory_follower_node/param/lateral/mpc.param.yaml
Labels: control

#3898 fix(behavior_path_planner): use bool type for enable flag
  planning/behavior_path_planner/include/behavior_path_planner/parameters.hpp
Labels: planning

#3850 feat(avoidance): remove invalid registered shift lines
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#3847 feat(avoidance): add shift line validator
  planning/behavior_path_planner/include/behavior_path_planner/marker_util/debug_utilities.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/src/marker_util/avoidance/debug.cpp
  planning/behavior_path_planner/src/marker_util/debug_utilities.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#3900 fix(behavior_path_planner): drivable area expansion for hatched road markings
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning

#3800 fix(obstacle_cruise_planner): stick to feasible slow down velocity
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/planner_interface.hpp
  planning/obstacle_cruise_planner/src/planner_interface.cpp
Labels: planning

#3902 docs(behavior_path_planner): drivable area expansion with hatched road markings
  planning/behavior_path_planner/docs/behavior_path_planner_drivable_area_design.md
  planning/behavior_path_planner/image/drivable_area/hatched_road_markings_drivable_area_expansion.drawio.svg
Labels: documentation, planning, deploy-docs

#3904 feat(obstacle_cruise_planner): suppress flickering to entry slow down
  planning/obstacle_cruise_planner/config/obstacle_cruise_planner.param.yaml
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/node.hpp
  planning/obstacle_cruise_planner/src/node.cpp
  planning/obstacle_cruise_planner/src/planner_interface.cpp
Labels: planning

#3901 refactor(mpc_lateral_controller): refactor code, no change behavior.
  control/mpc_lateral_controller/CMakeLists.txt
  control/mpc_lateral_controller/include/mpc_lateral_controller/interpolate.hpp
  control/mpc_lateral_controller/include/mpc_lateral_controller/mpc.hpp
  control/mpc_lateral_controller/include/mpc_lateral_controller/mpc_lateral_controller.hpp
  control/mpc_lateral_controller/include/mpc_lateral_controller/mpc_trajectory.hpp
  control/mpc_lateral_controller/include/mpc_lateral_controller/mpc_utils.hpp
  control/mpc_lateral_controller/include/mpc_lateral_controller/qp_solver/qp_solver_interface.hpp
  control/mpc_lateral_controller/include/mpc_lateral_controller/qp_solver/qp_solver_osqp.hpp
  control/mpc_lateral_controller/include/mpc_lateral_controller/qp_solver/qp_solver_unconstr_fast.hpp
  control/mpc_lateral_controller/include/mpc_lateral_controller/steering_predictor.hpp
  control/mpc_lateral_controller/include/mpc_lateral_controller/vehicle_model/vehicle_model_bicycle_dynamics.hpp
  control/mpc_lateral_controller/include/mpc_lateral_controller/vehicle_model/vehicle_model_bicycle_kinematics.hpp
  control/mpc_lateral_controller/include/mpc_lateral_controller/vehicle_model/vehicle_model_bicycle_kinematics_no_delay.hpp
  control/mpc_lateral_controller/include/mpc_lateral_controller/vehicle_model/vehicle_model_interface.hpp
  control/mpc_lateral_controller/src/interpolate.cpp
  control/mpc_lateral_controller/src/mpc.cpp
  control/mpc_lateral_controller/src/mpc_lateral_controller.cpp
  control/mpc_lateral_controller/src/mpc_trajectory.cpp
  control/mpc_lateral_controller/src/mpc_utils.cpp
  control/mpc_lateral_controller/src/qp_solver/qp_solver_unconstr_fast.cpp
  control/mpc_lateral_controller/src/steering_predictor.cpp
  control/mpc_lateral_controller/test/test_interpolate.cpp
  control/mpc_lateral_controller/test/test_mpc.cpp
  control/mpc_lateral_controller/test/test_mpc_utils.cpp
Labels: control

#3591 test(motion_velocity_smoother): add off-track test
  planning/motion_velocity_smoother/test/test_motion_velocity_smoother_node_interface.cpp
Labels: planning

#3842 feat(mission_planner): add modified goal reroute planner
  planning/mission_planner/src/mission_planner/mission_planner.cpp
Labels: planning

#3907 feat: enable some options for object visualization
  common/autoware_auto_perception_rviz_plugin/include/object_detection/object_polygon_display_base.hpp
Labels: common

#3785 feat(avoidance): stop within current lane in unsafe situation
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/utils.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning

#3000 feat: handle invalid areas / lanelets
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.py
  planning/behavior_velocity_no_drivable_lane_module/CMakeLists.txt
  planning/behavior_velocity_no_drivable_lane_module/docs/no-drivable-lane-design.md
  planning/behavior_velocity_no_drivable_lane_module/docs/no_drivable_lane_design.svg
  planning/behavior_velocity_no_drivable_lane_module/docs/no_drivable_lane_scenarios.svg
  planning/behavior_velocity_no_drivable_lane_module/package.xml
  planning/behavior_velocity_no_drivable_lane_module/plugins.xml
  planning/behavior_velocity_no_drivable_lane_module/src/debug.cpp
  planning/behavior_velocity_no_drivable_lane_module/src/manager.cpp
  planning/behavior_velocity_no_drivable_lane_module/src/manager.hpp
  planning/behavior_velocity_no_drivable_lane_module/src/scene.cpp
  planning/behavior_velocity_no_drivable_lane_module/src/scene.hpp
  planning/behavior_velocity_no_drivable_lane_module/src/util.cpp
  planning/behavior_velocity_no_drivable_lane_module/src/util.hpp
  planning/behavior_velocity_planner/README.md
  planning/behavior_velocity_planner/config/behavior_velocity_planner.param.yaml
  planning/behavior_velocity_planner/config/no_drivable_lane.param.yaml
  planning/behavior_velocity_planner/docs/BehaviorVelocityPlanner-Architecture.drawio.svg
  planning/behavior_velocity_planner/launch/behavior_velocity_planner.launch.xml
  planning/behavior_velocity_planner/src/node.cpp
Labels: documentation, planning, launch

#3908 refactor(start_planner): rename pull out to start planner
  common/rtc_manager_rviz_plugin/src/rtc_manager_panel.cpp
  common/tier4_state_rviz_plugin/src/velocity_steering_factors_panel.cpp
  launch/tier4_planning_launch/launch/planning.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.py
  launch/tier4_planning_launch/package.xml
  perception/lidar_centerpoint/launch/centerpoint_vs_centerpoint-tiny/rviz/centerpoint.rviz
  perception/lidar_centerpoint/launch/centerpoint_vs_centerpoint-tiny/rviz/centerpoint_tiny.rviz
  planning/behavior_path_planner/CMakeLists.txt
  planning/behavior_path_planner/README.md
  planning/behavior_path_planner/config/behavior_path_planner_tree.xml
  planning/behavior_path_planner/config/behavior_path_planner_tree_lane_change_only.xml
  planning/behavior_path_planner/config/behavior_path_planner_tree_lane_change_only_old.xml
  planning/behavior_path_planner/config/behavior_path_planner_tree_old.xml
  planning/behavior_path_planner/config/behavior_path_planner_tree_pull_out.xml
  planning/behavior_path_planner/config/behavior_path_planner_tree_with_external_request_LC.xml
  planning/behavior_path_planner/config/scene_module_manager.param.yaml
  planning/behavior_path_planner/config/start_planner/start_planner.param.yaml
  planning/behavior_path_planner/docs/behavior_path_planner_start_planner_design.md
  planning/behavior_path_planner/include/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/include/behavior_path_planner/parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_visitor.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/start_planner/manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/start_planner/start_planner_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/geometric_pull_out.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/pull_out_path.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/pull_out_planner_base.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/shift_pull_out.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/start_planner_parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/util.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/utils.hpp
  planning/behavior_path_planner/package.xml
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/manager.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
  planning/behavior_path_planner/src/utils/start_planner/geometric_pull_out.cpp
  planning/behavior_path_planner/src/utils/start_planner/shift_pull_out.cpp
  planning/behavior_path_planner/src/utils/start_planner/util.cpp
  planning/behavior_path_planner/test/test_behavior_path_planner_node_interface.cpp
  planning/planning_test_utils/include/planning_interface_test_manager/planning_interface_test_manager.hpp
  planning/planning_test_utils/src/planning_interface_test_manager.cpp
  planning/rtc_auto_mode_manager/config/rtc_auto_mode_manager.param.yaml
  planning/rtc_auto_mode_manager/src/rtc_auto_mode_manager_interface.cpp
  planning/rtc_interface/src/rtc_interface.cpp
  planning/rtc_replayer/src/rtc_replayer_node.cpp
  system/default_ad_api/src/planning.cpp
  system/default_ad_api_helpers/ad_api_visualizers/ad_api_visualizers/planning_factors.py
Labels: documentation, perception, planning, system, launch, common

#3811 refactor(behavior_velocity_planner): update launch and parameter files for plugin
  launch/tier4_planning_launch/launch/planning.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.py
  planning/behavior_velocity_blind_spot_module/CMakeLists.txt
  planning/behavior_velocity_blind_spot_module/config/blind_spot.param.yaml
  planning/behavior_velocity_crosswalk_module/CMakeLists.txt
  planning/behavior_velocity_crosswalk_module/config/crosswalk.param.yaml
  planning/behavior_velocity_detection_area_module/CMakeLists.txt
  planning/behavior_velocity_detection_area_module/config/detection_area.param.yaml
  planning/behavior_velocity_intersection_module/CMakeLists.txt
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_no_drivable_lane_module/CMakeLists.txt
  planning/behavior_velocity_no_drivable_lane_module/config/no_drivable_lane.param.yaml
  planning/behavior_velocity_no_stopping_area_module/CMakeLists.txt
  planning/behavior_velocity_no_stopping_area_module/config/no_stopping_area.param.yaml
  planning/behavior_velocity_occlusion_spot_module/CMakeLists.txt
  planning/behavior_velocity_occlusion_spot_module/config/occlusion_spot.param.yaml
  planning/behavior_velocity_out_of_lane_module/CMakeLists.txt
  planning/behavior_velocity_out_of_lane_module/config/out_of_lane.param.yaml
  planning/behavior_velocity_planner/config/behavior_velocity_planner.param.yaml
  planning/behavior_velocity_planner/package.xml
  planning/behavior_velocity_planner/src/node.cpp
  planning/behavior_velocity_planner/test/src/test_node_interface.cpp
  planning/behavior_velocity_run_out_module/CMakeLists.txt
  planning/behavior_velocity_run_out_module/config/run_out.param.yaml
  planning/behavior_velocity_speed_bump_module/CMakeLists.txt
  planning/behavior_velocity_speed_bump_module/config/speed_bump.param.yaml
  planning/behavior_velocity_stop_line_module/CMakeLists.txt
  planning/behavior_velocity_stop_line_module/config/stop_line.param.yaml
  planning/behavior_velocity_traffic_light_module/CMakeLists.txt
  planning/behavior_velocity_traffic_light_module/config/traffic_light.param.yaml
  planning/behavior_velocity_virtual_traffic_light_module/CMakeLists.txt
  planning/behavior_velocity_virtual_traffic_light_module/config/virtual_traffic_light.param.yaml
Labels: planning, launch

#3917 feat(pull_out): change pull out finish deviation threshold
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
Labels: planning

#3852 feat(avoidance): make it possible to output small shift avoidance path
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#3916 docs(behavior_velocity_planner): update document structure
  planning/behavior_velocity_blind_spot_module/README.md
  planning/behavior_velocity_blind_spot_module/docs/blind-spot-design.md
  planning/behavior_velocity_crosswalk_module/README.md
  planning/behavior_velocity_crosswalk_module/docs/crosswalk-design.md
  planning/behavior_velocity_detection_area_module/README.md
  planning/behavior_velocity_detection_area_module/docs/detection-area-design.md
  planning/behavior_velocity_intersection_module/README.md
  planning/behavior_velocity_intersection_module/docs/intersection-design.md
  planning/behavior_velocity_intersection_module/docs/merge-from-private-design.md
  planning/behavior_velocity_no_stopping_area_module/README.md
  planning/behavior_velocity_no_stopping_area_module/docs/no-stopping-area-design.md
  planning/behavior_velocity_occlusion_spot_module/README.md
  planning/behavior_velocity_occlusion_spot_module/docs/occlusion-spot-design.md
  planning/behavior_velocity_out_of_lane_module/README.md
  planning/behavior_velocity_out_of_lane_module/docs/out-of-lane-design.md
  planning/behavior_velocity_planner/README.md
  planning/behavior_velocity_run_out_module/README.md
  planning/behavior_velocity_run_out_module/docs/run-out-design.md
  planning/behavior_velocity_speed_bump_module/README.md
  planning/behavior_velocity_speed_bump_module/docs/speed-bump-design.md
  planning/behavior_velocity_stop_line_module/README.md
  planning/behavior_velocity_stop_line_module/docs/stop-line-design.md
  planning/behavior_velocity_traffic_light_module/README.md
  planning/behavior_velocity_traffic_light_module/docs/traffic-light-design.md
  planning/behavior_velocity_virtual_traffic_light_module/README.md
  planning/behavior_velocity_virtual_traffic_light_module/docs/virtual-traffic-light-design.md
Labels: documentation, planning, deploy-docs

#3894 feat(behavior_path_planner): enable auto mode without rtc_auto_mode_manager
  planning/behavior_path_planner/config/scene_module_manager.param.yaml
  planning/behavior_path_planner/docs/behavior_path_planner_manager_design.md
  planning/behavior_path_planner/include/behavior_path_planner/parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_manager_interface.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/rtc_interface/include/rtc_interface/rtc_interface.hpp
  planning/rtc_interface/src/rtc_interface.cpp
Labels: documentation, planning

#3913 docs(obstacle_avoidance_planner): update doc for obstacle avoidance
  planning/obstacle_avoidance_planner/docs/mpt.md
  planning/obstacle_avoidance_planner/media/avoid_sudden_steering.drawio.svg
  planning/obstacle_avoidance_planner/media/avoidance_cost.drawio.svg
  planning/obstacle_avoidance_planner/media/keep_minimum_boundary_width.drawio.svg
Labels: documentation, planning, deploy-docs

#3794 refactor(vehicle_cmd_gate): rename adapi pause interface
  control/vehicle_cmd_gate/CMakeLists.txt
  control/vehicle_cmd_gate/src/adapi_pause_interface.cpp
  control/vehicle_cmd_gate/src/adapi_pause_interface.hpp
  control/vehicle_cmd_gate/src/vehicle_cmd_gate.cpp
  control/vehicle_cmd_gate/src/vehicle_cmd_gate.hpp
Labels: control

#3914 fix(compare_map_segmentation): initialize timer_callback_group_
  perception/compare_map_segmentation/src/voxel_grid_map_loader.cpp
Labels: perception

#3922 fix(behavior_path_planner): small refactoring for resamplePathWithSpline
  planning/behavior_path_planner/src/utils/path_utils.cpp
Labels: planning

#3923 fix(behavior_path_planner): avoid invalid access
  planning/behavior_path_planner/src/planner_manager.cpp
Labels: planning

#3920 fix(map_loader): handle enable_selected_load correctly
  map/map_loader/src/pointcloud_map_loader/pointcloud_map_loader_node.cpp
Labels: map

#3925 chore(obstacle_cruise_planner): change cruise color
  planning/obstacle_cruise_planner/src/node.cpp
  planning/obstacle_cruise_planner/src/pid_based_planner/pid_based_planner.cpp
Labels: planning

#3926 chore(dynamic_avoidance): change debug marker's color
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/dynamic_avoidance_module.cpp
Labels: planning

#3918 feat(obstacle_avoidance_planner): consider curvature for min_drivable_width
  planning/obstacle_avoidance_planner/src/mpt_optimizer.cpp
Labels: planning

#3933 docs(mission_planner): remove duplicated param from readme
  planning/mission_planner/README.md
Labels: documentation, planning

#3935 fix(image_projection_based_fusion): fix type of roi_probability_threshold
  perception/image_projection_based_fusion/src/roi_detected_object_fusion/node.cpp
Labels: perception

#3937 refactor(velocity_smoother): simplify calcInitialMotion function
  planning/motion_velocity_smoother/include/motion_velocity_smoother/motion_velocity_smoother_node.hpp
  planning/motion_velocity_smoother/include/motion_velocity_smoother/smoother/smoother_base.hpp
  planning/motion_velocity_smoother/src/motion_velocity_smoother_node.cpp
  planning/motion_velocity_smoother/src/smoother/smoother_base.cpp
Labels: planning

#3909 refactor(avoidance): move small functions to other files
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/helper.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/utils.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
Labels: planning

#3919 fix(map_loader): update readme for metadata
  map/map_loader/README.md
Labels: documentation, map

#3938 refactor(velocity_smoother): move function to util
  planning/motion_velocity_smoother/include/motion_velocity_smoother/trajectory_utils.hpp
  planning/motion_velocity_smoother/src/motion_velocity_smoother_node.cpp
  planning/motion_velocity_smoother/src/trajectory_utils.cpp
Labels: planning

#3924 docs(behavior_path_planner): add accelerated lane change explanations
  planning/behavior_path_planner/docs/behavior_path_planner_lane_change_design.md
  planning/behavior_path_planner/docs/behavior_path_planner_path_generation_design.md
Labels: documentation, planning

#3792 docs(grid_map_utils): remove deadlink
  common/grid_map_utils/README.md
  common/grid_map_utils/package.xml
Labels: documentation, common

#3943 fix(stop_line): fixed stop line module to pub virtual wall when stop_pose is not null
  planning/behavior_velocity_stop_line_module/src/debug.cpp
Labels: planning

#3899 refactor: intersection module
  planning/behavior_velocity_intersection_module/README.md
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_intersection_module/docs/intersection-attention-ll-rr.drawio.svg
  planning/behavior_velocity_intersection_module/docs/intersection-attention-lr-rl.drawio.svg
  planning/behavior_velocity_intersection_module/docs/intersection-attention-straight.drawio.svg
  planning/behavior_velocity_intersection_module/docs/intersection-attention.drawio.svg
  planning/behavior_velocity_intersection_module/docs/intersection-topology.drawio.svg
  planning/behavior_velocity_intersection_module/docs/intersection.drawio.svg
  planning/behavior_velocity_intersection_module/docs/intersection.svg
  planning/behavior_velocity_intersection_module/docs/intersection_fig.png
  planning/behavior_velocity_intersection_module/docs/intersection_straight.png
  planning/behavior_velocity_intersection_module/docs/intersection_turn_left.png
  planning/behavior_velocity_intersection_module/docs/intersection_turn_right.png
  planning/behavior_velocity_intersection_module/docs/stuck-vehicle.drawio.svg
  planning/behavior_velocity_intersection_module/src/debug.cpp
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_intersection_module/src/scene_merge_from_private_road.cpp
  planning/behavior_velocity_intersection_module/src/scene_merge_from_private_road.hpp
  planning/behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_intersection_module/src/util.hpp
  planning/behavior_velocity_intersection_module/src/util_type.hpp
Labels: documentation, planning, deploy-docs

#3932 fix(behavior_velocity_speed_bump_module): fix virtual wall base_link2front offset
  planning/behavior_velocity_speed_bump_module/src/debug.cpp
Labels: bug, planning

#3936 fix(avoidance): fix parent id inconsistency
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#3949 chore(behavior_velocity_speed_bump_module): add maintainer
  planning/behavior_velocity_speed_bump_module/package.xml
Labels: planning

#3956 fix(mission_planner): keep uuid when rerouting with modified goal
  planning/mission_planner/src/mission_planner/mission_planner.cpp
Labels: planning

#3958 fix(bebavior_path_planner): fix turn signal direction in start_planner
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
Labels: planning

#3942 fix(behavior_path_planner): unable to fix bound
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning

#3930 feat(behavior_path_planner): enable lane change to activate turn signal when stopping
  planning/behavior_path_planner/config/lane_change/lane_change.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/base_class.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
Labels: planning

#3961 fix(behavior_path_planner): not rest modules when new route with same uuid is recived
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
Labels: planning

#3939 feat(crosswalk): support crosswalk regulatory element
  map/map_loader/src/lanelet2_map_loader/lanelet2_map_visualization_node.cpp
  planning/behavior_velocity_crosswalk_module/src/manager.cpp
  planning/behavior_velocity_crosswalk_module/src/manager.hpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
  planning/behavior_velocity_crosswalk_module/src/scene_walkway.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_walkway.hpp
  planning/behavior_velocity_crosswalk_module/src/util.cpp
  planning/behavior_velocity_crosswalk_module/src/util.hpp
Labels: planning, map

#3966 fix(goal_planenr): not reset when receving new route
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/goal_planner_module.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
Labels: planning

#3967 refactor(behavior_velocity_no_drivable_lane_module): relocate README file
  planning/behavior_velocity_no_drivable_lane_module/README.md
Labels: documentation, planning

#3915 fix(ekf_localizer): skip update of z/roll/pitch when mahalanobis gate enabled
  localization/ekf_localizer/CMakeLists.txt
  localization/ekf_localizer/include/ekf_localizer/ekf_localizer.hpp
  localization/ekf_localizer/package.xml
  localization/ekf_localizer/src/ekf_localizer.cpp
  localization/ekf_localizer/test/test_ekf_localizer_launch.py
  localization/ekf_localizer/test/test_ekf_localizer_mahalanobis.py
Labels: localization

#3965 docs(behavior_path_planner): add explanation for dynamic lateral acceleration
  planning/behavior_path_planner/docs/behavior_path_planner_lane_change_design.md
Labels: documentation, planning

#3974 fix(behavior_path_planner): fix link in path shifter document
  planning/behavior_path_planner/docs/behavior_path_planner_path_generation_design.md
Labels: documentation, planning

#3973 fix(start_planner): fix start planner is_stopped
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
Labels: planning

#3972 fix(start_planner): fix start planner pendulum
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
Labels: planning

#3968 refactor(behavior_path_planner): generalize safety check function
  planning/behavior_path_planner/include/behavior_path_planner/utils/safety_check.hpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
  planning/behavior_path_planner/src/utils/safety_check.cpp
Labels: planning

#3971 fix(avoidance): don't reset registered shift lines if the base offset is not zero
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#3736 fix(simple_planning_simulator): old style arg for static_tf_publisher
  simulator/simple_planning_simulator/launch/simple_planning_simulator.launch.py
Labels: simulator

#3934 fix(lidar_centerpoint): fix class
  perception/lidar_centerpoint/config/centerpoint.param.yaml
  perception/lidar_centerpoint/config/centerpoint_tiny.param.yaml
Labels: perception

#3950 fix(tier4_perception_launch): fix camera_lidar_radar_fusion_based_detection
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_radar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/radar_based_detection.launch.xml
Labels: launch

#3948 feat(velocity_smoother): plan from ego velocity on manual mode
  planning/motion_velocity_smoother/config/default_motion_velocity_smoother.param.yaml
  planning/motion_velocity_smoother/include/motion_velocity_smoother/motion_velocity_smoother_node.hpp
  planning/motion_velocity_smoother/launch/motion_velocity_smoother.launch.xml
  planning/motion_velocity_smoother/src/motion_velocity_smoother_node.cpp
  planning/motion_velocity_smoother/test/test_motion_velocity_smoother_node_interface.cpp
Labels: planning

#3979 fix(intersection): do not react to rtc for occlusion anymore if occlusion.enable is false
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
Labels: planning

#3980 chore(sync-files): update sync files source of mkdocs
  .github/sync-files.yaml
Labels: ci

#3976 chore(mpc): add default value
  control/mpc_lateral_controller/include/mpc_lateral_controller/mpc.hpp
Labels: control

#3855 feat(avoidance): additional buffer for perception noise
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/manager.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/avoidance_by_lane_change.cpp
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
Labels: planning

#3865 fix(lane_change): extend path during lane changing
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/base_class.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/normal.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
Labels: planning

#3873 fix(behavior_path_planner): fix resample stop point
  planning/behavior_path_planner/src/utils/path_utils.cpp
Labels: planning

#3982 docs(behavior_path_planner): minor update behavior_path_planner_manager_design doc
  planning/behavior_path_planner/docs/behavior_path_planner_manager_design.md
Labels: documentation, planning

#3880 feat(avoidance): add hysteresis to avoidance necessity check
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/utils.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/avoidance_by_lane_change.cpp
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
Labels: planning

#3981 docs(mpc): update readme for how-to-tune-mpc
  control/mpc_lateral_controller/README.md
Labels: documentation, control, deploy-docs

#3983 feat(behavior_path_planner): add a length ratio parameter for lane change turn signal deactivation
  planning/behavior_path_planner/config/lane_change/lane_change.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
Labels: planning

#3978 feat(avoidance): improve stop behavior under decel/jerk constraints option
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/helper.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/utils.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
Labels: planning

#3994 fix(start_planner): fix geometric pull out stop point
  planning/behavior_path_planner/src/utils/geometric_parallel_parking/geometric_parallel_parking.cpp
  planning/behavior_path_planner/src/utils/start_planner/geometric_pull_out.cpp
Labels: planning

#3995 fix(behavior_path_planner): fix root next lanelets check
  planning/behavior_path_planner/src/planner_manager.cpp
Labels: planning

#3997 fix(behavior_path_planner): reset root lane when rerouting
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/planner_manager.cpp
Labels: planning

#3998 feat(avoidance): can set stop/move judge threshold for each object class
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/manager.cpp
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
Labels: planning

#4006 feat(planner_manager): output module add/delete infomation
  planning/behavior_path_planner/include/behavior_path_planner/planner_manager.hpp
  planning/behavior_path_planner/src/planner_manager.cpp
Labels: planning

#4007 chore(goal_planner): fix video title in goal_planner docs
  planning/behavior_path_planner/docs/behavior_path_planner_goal_planner_design.md
Labels: documentation, planning

#4000 feat(behavior_path_planner): add a function to judge a parked vehicle
  planning/behavior_path_planner/include/behavior_path_planner/utils/utils.hpp
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning

#4008 fix(side_shift): add guard to side shift reference path
  planning/behavior_path_planner/src/scene_module/side_shift/side_shift_module.cpp
Labels: planning

#4009 fix(smoother): autonomous driving mode check
  planning/motion_velocity_smoother/src/motion_velocity_smoother_node.cpp
Labels: planning

#4010 feat(motion_velocity_smoother): consider velocity limit on manual driving
  planning/motion_velocity_smoother/src/motion_velocity_smoother_node.cpp
Labels: planning

#3928 feat(behavior_path_planner): use module status idle before approval and keep candiate running module when approved module succeed
  planning/behavior_path_planner/include/behavior_path_planner/planner_manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_interface.hpp
  planning/behavior_path_planner/src/planner_manager.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/dynamic_avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
Labels: planning

#3929 feat(behavior_path_planner): remove SUCCESS module candidate path
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
Labels: planning

#4012 fix(avoidance): don't clear waiting approval if raw shift line exists
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#4005 feat(start_planner): start with acceleration
  planning/behavior_path_planner/config/start_planner/start_planner.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/start_planner_parameters.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/utils/start_planner/shift_pull_out.cpp
Labels: planning

#4020 chore(autoware_auto_msg_adapter): update maintainers
  system/autoware_auto_msgs_adapter/package.xml
Labels: system

#3989 build: fix opencv dependency (release/2023.05)
  planning/behavior_path_planner/package.xml
Labels: planning

#3957 feat(detected_object_validation): add BOUNDING_BOX interface to lanelet filter
  perception/detected_object_validation/include/detected_object_filter/object_lanelet_filter.hpp
  perception/detected_object_validation/object-lanelet-filter.md
  perception/detected_object_validation/src/object_lanelet_filter.cpp
Labels: documentation, perception

#4025 refactor(mission_planner): fix typo
  planning/mission_planner/src/mission_planner/mission_planner.cpp
Labels: planning

#4028 docs: occupancy grid
  perception/probabilistic_occupancy_grid_map/laserscan-based-occupancy-grid-map.md
  perception/probabilistic_occupancy_grid_map/pointcloud-based-occupancy-grid-map.md
Labels: documentation, perception, deploy-docs

#4023 feat(start_planner): visualize start planner type
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
Labels: planning

#4026 feat(start_planner): add length_ratio_for_turn_signal_deactivation_near_intersection
  planning/behavior_path_planner/config/start_planner/start_planner.param.yaml
  planning/behavior_path_planner/docs/behavior_path_planner_start_planner_design.md
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/start_planner_parameters.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
Labels: documentation, planning

#2697 fix(behavior_path_planner): get the right next lane when the lane connects to the start lane
  planning/route_handler/src/route_handler.cpp
Labels: planning

#1401 test: add test(ray_ground_filter/scan_ground_filter) and fix bug for ray_ground_filter
  perception/ground_segmentation/CMakeLists.txt
  perception/ground_segmentation/config/ground_segmentation.param.yaml
  perception/ground_segmentation/include/ground_segmentation/scan_ground_filter_nodelet.hpp
  perception/ground_segmentation/package.xml
  perception/ground_segmentation/test/data/test.pcd
  perception/ground_segmentation/test/test_ray_ground_filter.cpp
  perception/ground_segmentation/test/test_scan_ground_filter.cpp
Labels: perception

#4022 feat(intersection): timeout stuck vehicle stop in private area
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
Labels: planning

#4030 fix(ndt_scan_matcher): set lifetime for MonteCarlo particles marker
  localization/ndt_scan_matcher/src/debug.cpp
Labels: localization

#4034 feat(avoidance): ignore behind unavoidable objects
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#4032 chore(mission_planner): fix route marker
  planning/mission_planner/src/lanelet2_plugins/default_planner.cpp
Labels: planning

#4031 fix(behavior_path_planner): skip unnecessary process in updateDate() when module_status is not RUNNING
  planning/behavior_path_planner/src/scene_module/side_shift/side_shift_module.cpp
Labels: planning

#4036 feat(behavior_path_planner): disable behavior turn signal before the intersection
  planning/behavior_path_planner/src/turn_signal_decider.cpp
Labels: planning

#3999 fix(lane_change): dont cut centerline but insert stop
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/base_class.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/normal.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/utils.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning

#4039 feat(behavior_path_planner): relax longitudinal_velocity_delta_time
  planning/behavior_path_planner/config/behavior_path_planner.param.yaml
Labels: planning

#4021 fix(mpc): relax steering rate limit
  control/trajectory_follower_node/param/lateral/mpc.param.yaml
Labels: control

#4044 fix(points_preprocessor): single input topic should be first element
  sensing/pointcloud_preprocessor/launch/preprocessor.launch.py
Labels: sensing

#4016 feat(avoidance): improve avoidance judgement logic for pedestrian & bicycle
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/utils.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
Labels: planning

#4038 refactor(occpuancy grid map): move param to yaml
  launch/tier4_perception_launch/launch/occupancy_grid_map/probabilistic_occupancy_grid_map.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
  launch/tier4_simulator_launch/launch/simulator.launch.xml
  perception/probabilistic_occupancy_grid_map/config/binary_bayes_filter_updater.param.yaml
  perception/probabilistic_occupancy_grid_map/config/laserscan_based_occupancy_grid_map.param.yaml
  perception/probabilistic_occupancy_grid_map/config/pointcloud_based_occupancy_grid_map.param.yaml
  perception/probabilistic_occupancy_grid_map/include/laserscan_based_occupancy_grid_map/laserscan_based_occupancy_grid_map_node.hpp
  perception/probabilistic_occupancy_grid_map/include/pointcloud_based_occupancy_grid_map/pointcloud_based_occupancy_grid_map_node.hpp
  perception/probabilistic_occupancy_grid_map/include/updater/occupancy_grid_map_binary_bayes_filter_updater.hpp
  perception/probabilistic_occupancy_grid_map/include/updater/occupancy_grid_map_updater_interface.hpp
  perception/probabilistic_occupancy_grid_map/launch/laserscan_based_occupancy_grid_map.launch.py
  perception/probabilistic_occupancy_grid_map/launch/pointcloud_based_occupancy_grid_map.launch.py
  perception/probabilistic_occupancy_grid_map/src/laserscan_based_occupancy_grid_map/laserscan_based_occupancy_grid_map_node.cpp
  perception/probabilistic_occupancy_grid_map/src/pointcloud_based_occupancy_grid_map/pointcloud_based_occupancy_grid_map_node.cpp
  perception/probabilistic_occupancy_grid_map/src/updater/occupancy_grid_map_binary_bayes_filter_updater.cpp
Labels: perception, launch

#4051 feat(behavior_path_planner): use new framework
  planning/behavior_path_planner/CMakeLists.txt
Labels: planning

#4047 feat(dynamic_avoidance): apply LPF to shift length, and positive relative velocity
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/dynamic_avoidance/dynamic_avoidance_module.hpp
  planning/behavior_path_planner/package.xml
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/dynamic_avoidance_module.cpp
Labels: planning

#4046 refactor(crosswalk): minor refactoring
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
Labels: planning

#4045 feat(behavior_velocity_traffic_light_module): print not found traffic ids for warning
  planning/behavior_velocity_traffic_light_module/src/scene.cpp
Labels: planning

#4058 fix(behavior_path_planner): print avoidance and lane change debug mes…
  planning/behavior_path_planner/include/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/include/behavior_path_planner/planner_manager.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/planner_manager.cpp
Labels: planning

#4048 feat(dynamic_avoidance): suppress flickering of dynamic avoidance launching
  planning/behavior_path_planner/config/dynamic_avoidance/dynamic_avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/dynamic_avoidance/dynamic_avoidance_module.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/dynamic_avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/manager.cpp
Labels: planning

#4059 fix(avoidance): update logic to keep waiting approval
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#4061 fix(lane_change): fix debug visualization now showing
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
Labels: planning

#4049 feat(dynamic_avoidance): ignore cut-out vehicle
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/dynamic_avoidance/dynamic_avoidance_module.hpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/dynamic_avoidance_module.cpp
Labels: planning

#4027 feat(mission_planner): add mrm route planner
  planning/mission_planner/src/mission_planner/mission_planner.cpp
  planning/mission_planner/src/mission_planner/mission_planner.hpp
Labels: planning

#4064 revert: "feat(behavior_path_planner): relax longitudinal_velocity_delta_time"
  planning/behavior_path_planner/config/behavior_path_planner.param.yaml
Labels: planning

#4043 fix(start_planner): not run other modules when back pull out
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_manager_interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/start_planner/start_planner_module.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/manager.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
Labels: planning

#3990 build: fix opencv dependency (release/2023.06)
  planning/behavior_path_planner/package.xml
Labels: planning

#4067 docs(default_ad_api): fix link in default_ad_api
  system/default_ad_api/document/fail-safe.md
  system/default_ad_api/document/interface.md
  system/default_ad_api/document/localization.md
  system/default_ad_api/document/motion.md
  system/default_ad_api/document/operation-mode.md
  system/default_ad_api/document/routing.md
Labels: documentation, system

#4066 feat(behavior_path_planner): add turn signal debug marker
  planning/behavior_path_planner/include/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/include/behavior_path_planner/data_manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/turn_signal_decider.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/turn_signal_decider.cpp
Labels: planning

#3987 build: fix opencv dependency
  planning/behavior_path_planner/package.xml
Labels: planning

#3679 perf(voxel_grid_downsample_filter): performance tuning
  sensing/pointcloud_preprocessor/CMakeLists.txt
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/crop_box_filter/crop_box_filter_nodelet.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/downsample_filter/faster_voxel_grid_downsample_filter.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/downsample_filter/voxel_grid_downsample_filter_nodelet.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/filter.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/outlier_filter/ring_outlier_filter_nodelet.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/transform_info.hpp
  sensing/pointcloud_preprocessor/src/downsample_filter/faster_voxel_grid_downsample_filter.cpp
  sensing/pointcloud_preprocessor/src/downsample_filter/voxel_grid_downsample_filter_nodelet.cpp
  sensing/pointcloud_preprocessor/src/filter.cpp
Labels: sensing

#4065 feat(obstacle_cruise_planner): change cruise color to orange
  planning/obstacle_cruise_planner/src/node.cpp
  planning/obstacle_cruise_planner/src/pid_based_planner/pid_based_planner.cpp
Labels: planning

#4072 refactor(lane_change): use common logger
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/normal.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
Labels: planning

#4071 fix(crosswalk): return if the stop point with factor is boost::none
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
Labels: planning

#4041 feat(avoidance): set additional buffer margin independently
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/manager.cpp
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
Labels: planning

#4074 chore(lane_change): add z-pos in debug marker
  planning/behavior_path_planner/src/marker_util/lane_change/debug.cpp
Labels: planning
