Repository autowarefoundation/autoware_universe, pull requests merged in 2023-11, with the labels that each got.

#5426 feat(vehicle_cmd_gate): improve debug marker activation
  control/vehicle_cmd_gate/README.md
  control/vehicle_cmd_gate/config/vehicle_cmd_gate.param.yaml
  control/vehicle_cmd_gate/src/vehicle_cmd_gate.cpp
  control/vehicle_cmd_gate/src/vehicle_cmd_gate.hpp
Labels: documentation, control, run-build-and-test-differential

#5456 fix(pid_longitudinal_control): not check steering convergence when moving
  control/pid_longitudinal_controller/src/pid_longitudinal_controller.cpp
Labels: control, run-build-and-test-differential

#5447 feat(system_diagnostic_graph): unify units and add file path substitution
  system/system_diagnostic_graph/CMakeLists.txt
  system/system_diagnostic_graph/example/example_0.yaml
  system/system_diagnostic_graph/example/example_1.yaml
  system/system_diagnostic_graph/example/example_2.yaml
  system/system_diagnostic_graph/package.xml
  system/system_diagnostic_graph/src/core/config.cpp
  system/system_diagnostic_graph/src/core/config.hpp
  system/system_diagnostic_graph/src/core/debug.cpp
  system/system_diagnostic_graph/src/core/error.hpp
  system/system_diagnostic_graph/src/core/exprs.cpp
  system/system_diagnostic_graph/src/core/exprs.hpp
  system/system_diagnostic_graph/src/core/graph.cpp
  system/system_diagnostic_graph/src/core/graph.hpp
  system/system_diagnostic_graph/src/core/modes.cpp
  system/system_diagnostic_graph/src/core/modes.hpp
  system/system_diagnostic_graph/src/core/nodes.cpp
  system/system_diagnostic_graph/src/core/nodes.hpp
  system/system_diagnostic_graph/src/core/types.hpp
  system/system_diagnostic_graph/src/core/units.cpp
  system/system_diagnostic_graph/src/core/units.hpp
  system/system_diagnostic_graph/src/main.cpp
  system/system_diagnostic_graph/test/files/field-not-found.yaml
  system/system_diagnostic_graph/test/files/file-not-found.yaml
  system/system_diagnostic_graph/test/files/graph-circulation.yaml
  system/system_diagnostic_graph/test/files/invalid-dict-type.yaml
  system/system_diagnostic_graph/test/files/invalid-list-type.yaml
  system/system_diagnostic_graph/test/files/path-conflict.yaml
  system/system_diagnostic_graph/test/files/path-not-found.yaml
  system/system_diagnostic_graph/test/files/unknown-node-type.yaml
  system/system_diagnostic_graph/test/files/unknown-substitution.yaml
  system/system_diagnostic_graph/test/src/test.cpp
  system/system_diagnostic_graph/util/debug.py
Labels: system, run-build-and-test-differential

#5460 fix(simple_planning_simulator): initialize variables
  simulator/simple_planning_simulator/include/simple_planning_simulator/simple_planning_simulator_core.hpp
Labels: simulator, run-build-and-test-differential

#5461 fix(planning_validator): not publish diag before data is ready
  planning/planning_validator/include/planning_validator/planning_validator.hpp
  planning/planning_validator/src/planning_validator.cpp
Labels: planning, run-build-and-test-differential

#5402 fix(lane_change): stop point activated too early
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
Labels: planning, run-build-and-test-differential

#5463 fix(raw_vehicle_cmd_converter): return false if table is empty
  vehicle/raw_vehicle_cmd_converter/src/csv_loader.cpp
Labels: vehicle, run-build-and-test-differential

#5448 refactor(tier4_planning_launch): use xml style launch
  launch/tier4_planning_launch/launch/planning.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.py
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/compare_map.launch.py
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/vector_map_inside_area_filter.launch.py
  launch/tier4_planning_launch/launch/scenario_planning/scenario_planning.launch.xml
Labels: launch, run-build-and-test-differential

#5471 docs(logger_level_reconfigure): update readme
  common/tier4_logging_level_configure_rviz_plugin/README.md
Labels: documentation, common, run-build-and-test-differential

#5468 chore(map_loader): update readme
  map/map_loader/README.md
Labels: documentation, map, run-build-and-test-differential

#5475 ci(sync-files): add mkdocs_macros module
  .github/sync-files.yaml
Labels: ci, run-build-and-test-differential

#5474 ci(sync-files): change stale label to type:stale
  .github/sync-files.yaml
Labels: ci, run-build-and-test-differential

#5478 ci(sync-files): change stale label to status:stale (#5474)
  .github/sync-files.yaml
Labels: ci, run-build-and-test-differential

#5476 ci(pr-labeler): update the labeler.yaml to include "component:"
  .github/labeler.yaml
Labels: ci, run-build-and-test-differential

#5479 ci(pr-labeler): update the labeler.yaml to mark ci and documentation as "type:"
  .github/labeler.yaml
Labels: type:ci, run-build-and-test-differential

#5481 ci(openai-pr-reviewer): update the bot label
  .github/workflows/openai-pr-reviewer.yaml
Labels: type:ci, run-build-and-test-differential

#5482 ci(build-and-test-differential): update the required tag
  .github/workflows/build-and-test-differential.yaml
Labels: type:ci, tag:run-build-and-test-differential

#5477 feat(simple_planning_simulator): add steer dead band
  simulator/simple_planning_simulator/README.md
  simulator/simple_planning_simulator/include/simple_planning_simulator/vehicle_model/sim_model_delay_steer_acc.hpp
  simulator/simple_planning_simulator/include/simple_planning_simulator/vehicle_model/sim_model_delay_steer_acc_geared.hpp
  simulator/simple_planning_simulator/include/simple_planning_simulator/vehicle_model/sim_model_delay_steer_vel.hpp
  simulator/simple_planning_simulator/param/simple_planning_simulator_default.param.yaml
  simulator/simple_planning_simulator/src/simple_planning_simulator/simple_planning_simulator_core.cpp
  simulator/simple_planning_simulator/src/simple_planning_simulator/vehicle_model/sim_model_delay_steer_acc.cpp
  simulator/simple_planning_simulator/src/simple_planning_simulator/vehicle_model/sim_model_delay_steer_acc_geared.cpp
  simulator/simple_planning_simulator/src/simple_planning_simulator/vehicle_model/sim_model_delay_steer_vel.cpp
Labels: type:documentation, component:simulation, tag:run-build-and-test-differential

#5459 refactor(mpc_lateral_controller): add debug info of qp solver
  control/mpc_lateral_controller/include/mpc_lateral_controller/qp_solver/qp_solver_interface.hpp
  control/mpc_lateral_controller/include/mpc_lateral_controller/qp_solver/qp_solver_osqp.hpp
  control/mpc_lateral_controller/include/mpc_lateral_controller/qp_solver/qp_solver_unconstraint_fast.hpp
  control/mpc_lateral_controller/src/mpc.cpp
Labels: component:control, tag:run-build-and-test-differential

#5484 feat(planning_topic_converter): add new package
  planning/planning_topic_converter/CMakeLists.txt
  planning/planning_topic_converter/README.md
  planning/planning_topic_converter/include/planning_topic_converter/converter_base.hpp
  planning/planning_topic_converter/include/planning_topic_converter/path_to_trajectory.hpp
  planning/planning_topic_converter/package.xml
  planning/planning_topic_converter/src/path_to_trajectory.cpp
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#5472 feat(camera_view_plugin): add camera view plugin package
  common/tier4_camera_view_rviz_plugin/CMakeLists.txt
  common/tier4_camera_view_rviz_plugin/README.md
  common/tier4_camera_view_rviz_plugin/icons/classes/BirdEyeViewTool.png
  common/tier4_camera_view_rviz_plugin/icons/classes/ThirdPersonViewTool.png
  common/tier4_camera_view_rviz_plugin/package.xml
  common/tier4_camera_view_rviz_plugin/plugins/plugin_description.xml
  common/tier4_camera_view_rviz_plugin/src/bird_eye_view_controller.cpp
  common/tier4_camera_view_rviz_plugin/src/bird_eye_view_controller.hpp
  common/tier4_camera_view_rviz_plugin/src/bird_eye_view_tool.cpp
  common/tier4_camera_view_rviz_plugin/src/bird_eye_view_tool.hpp
  common/tier4_camera_view_rviz_plugin/src/third_person_view_controller.cpp
  common/tier4_camera_view_rviz_plugin/src/third_person_view_controller.hpp
  common/tier4_camera_view_rviz_plugin/src/third_person_view_tool.cpp
  common/tier4_camera_view_rviz_plugin/src/third_person_view_tool.hpp
Labels: type:documentation, component:common, tag:run-build-and-test-differential

#5470 refactor(tier4_planning_launch): use xml style launch
  launch/tier4_planning_launch/launch/planning.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/motion_planning/motion_planning.launch.py
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/motion_planning/motion_planning.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/scenario_planning.launch.xml
  launch/tier4_planning_launch/package.xml
Labels: component:launch, tag:run-build-and-test-differential

#5487 feat(localization): enable logging_level_configure
  common/tier4_logging_level_configure_rviz_plugin/config/logger_config.yaml
  localization/ekf_localizer/include/ekf_localizer/ekf_localizer.hpp
  localization/ekf_localizer/src/ekf_localizer.cpp
  localization/gyro_odometer/include/gyro_odometer/gyro_odometer_core.hpp
  localization/gyro_odometer/src/gyro_odometer_core.cpp
  localization/localization_error_monitor/include/localization_error_monitor/node.hpp
  localization/localization_error_monitor/package.xml
  localization/localization_error_monitor/src/node.cpp
  localization/ndt_scan_matcher/include/ndt_scan_matcher/ndt_scan_matcher_core.hpp
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
  localization/pose_initializer/package.xml
  localization/pose_initializer/src/pose_initializer/pose_initializer_core.cpp
  localization/pose_initializer/src/pose_initializer/pose_initializer_core.hpp
Labels: component:localization, component:common, tag:run-build-and-test-differential

#5424 refactor(ekf_localizer): isolate ekf into independent module
  localization/ekf_localizer/CMakeLists.txt
  localization/ekf_localizer/include/ekf_localizer/ekf_localizer.hpp
  localization/ekf_localizer/include/ekf_localizer/ekf_module.hpp
  localization/ekf_localizer/src/ekf_localizer.cpp
  localization/ekf_localizer/src/ekf_module.cpp
Labels: component:localization, tag:run-build-and-test-differential

#5465 feat(ndt_scan_matcher): use glog
  localization/ndt_scan_matcher/CMakeLists.txt
  localization/ndt_scan_matcher/package.xml
  localization/ndt_scan_matcher/src/ndt_scan_matcher_node.cpp
Labels: component:localization, tag:run-build-and-test-differential

#5494 refactor(logging_level_configure_plugin): support button grouping
  common/tier4_logging_level_configure_rviz_plugin/config/logger_config.yaml
  common/tier4_logging_level_configure_rviz_plugin/include/tier4_logging_level_configure_rviz_plugin/logging_level_configure.hpp
  common/tier4_logging_level_configure_rviz_plugin/src/logging_level_configure.cpp
Labels: component:common, tag:run-build-and-test-differential

#5467 feat(ekf_localizer, system_error_monitor): system_error_monitor handles ekf diags
  localization/ekf_localizer/config/ekf_localizer.param.yaml
  system/system_error_monitor/config/diagnostic_aggregator/localization.param.yaml
Labels: component:localization, component:system, tag:run-build-and-test-differential

#5458 chore(planning modules): remove maintainer...
  common/interpolation/package.xml
  common/motion_utils/package.xml
  common/tier4_autoware_utils/package.xml
  common/tier4_planning_rviz_plugin/package.xml
  control/autonomous_emergency_braking/package.xml
  launch/tier4_planning_launch/package.xml
  perception/map_based_prediction/package.xml
  planning/behavior_path_planner/package.xml
  planning/behavior_velocity_planner/package.xml
  planning/behavior_velocity_stop_line_module/package.xml
  planning/costmap_generator/package.xml
  planning/freespace_planner/package.xml
  planning/freespace_planning_algorithms/package.xml
  planning/mission_planner/package.xml
  planning/motion_velocity_smoother/package.xml
  planning/obstacle_cruise_planner/package.xml
  planning/route_handler/package.xml
Labels: component:perception, component:planning, component:control, component:launch, component:common, tag:run-build-and-test-differential

#5503 refactor(behavior_path_planner): traffic light utils
  planning/behavior_path_planner/CMakeLists.txt
  planning/behavior_path_planner/include/behavior_path_planner/utils/traffic_light_utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/utils.hpp
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
  planning/behavior_path_planner/src/utils/traffic_light_utils.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5497 refactor(behavior_path_planner): add const to interface methods
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_interface.hpp
Labels: component:planning, tag:run-build-and-test-differential

#5338 feat(ndt_scan_matcher): estimate NDT covariance in real-time with limited initial positions
  localization/ndt_scan_matcher/README.md
  localization/ndt_scan_matcher/config/ndt_scan_matcher.param.yaml
  localization/ndt_scan_matcher/include/ndt_scan_matcher/ndt_scan_matcher_core.hpp
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
Labels: type:documentation, component:localization, tag:run-build-and-test-differential

#5502 refactor(tier4_planning_launch): use xml style launch
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/motion_planning/motion_planning.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/parking.launch.py
  launch/tier4_planning_launch/launch/scenario_planning/parking.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/scenario_planning.launch.xml
Labels: component:launch, tag:run-build-and-test-differential

#5489 fix(avoidance): fix avoidance return dead point calculation logic for high curverture path
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5506 feat(eagleye): split fix2pose
  launch/tier4_localization_launch/launch/pose_twist_estimator/eagleye/eagleye_rt.launch.xml
  launch/tier4_localization_launch/launch/pose_twist_estimator/eagleye/geo_pose_converter.launch.xml
  launch/tier4_localization_launch/package.xml
Labels: component:launch, tag:run-build-and-test-differential

#5514 refactor(lane_change): update state log
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5509 fix(lane_change): do not cut abort path
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/base_class.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/normal.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5504 feat(behavior_path_planner): change execution requested condition
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/start_planner/start_planner_module.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5508 fix(intersection): replace with findFirstNearestIndexWithSoftConstraints
  planning/behavior_velocity_intersection_module/src/util.cpp
Labels: component:planning

#5516 fix(intersection): fix wrong resample process
  planning/behavior_velocity_intersection_module/src/util.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5496 feat(intersection): rectify initial accel/velocity profile in ego velocity profile
  planning/behavior_velocity_intersection_module/README.md
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_intersection_module/docs/ttc.gif
  planning/behavior_velocity_intersection_module/scripts/ttc.py
  planning/behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_planner_common/src/utilization/trajectory_utils.cpp
Labels: type:documentation, component:planning, tag:deploy-docs, tag:run-build-and-test-differential

#5486 fix: add_ros_test to add_launch_test
  localization/ekf_localizer/CMakeLists.txt
  localization/ndt_scan_matcher/CMakeLists.txt
  map/map_loader/CMakeLists.txt
Labels: component:localization, component:map, tag:run-build-and-test-differential

#5520 refactor(behavior_path_planner): remove status_.pull_over_lanes
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/start_planner/start_planner_module.hpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
  planning/behavior_path_planner/src/utils/start_planner/util.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5431 build(lidar_apollo_segmentation_tvm and lidar_apollo_segmentation_tvm_nodes): remove download from cmake
  perception/lidar_apollo_segmentation_tvm/.gitignore
  perception/lidar_apollo_segmentation_tvm/README.md
  perception/lidar_apollo_segmentation_tvm/data/models/baidu_cnn/inference_engine_tvm_config.hpp
  perception/lidar_apollo_segmentation_tvm/include/lidar_apollo_segmentation_tvm/lidar_apollo_segmentation_tvm.hpp
  perception/lidar_apollo_segmentation_tvm/src/lidar_apollo_segmentation_tvm.cpp
  perception/lidar_apollo_segmentation_tvm/test/main.cpp
  perception/lidar_apollo_segmentation_tvm_nodes/README.md
  perception/lidar_apollo_segmentation_tvm_nodes/config/lidar_apollo_segmentation_tvm_nodes.param.yaml
  perception/lidar_apollo_segmentation_tvm_nodes/launch/lidar_apollo_segmentation_tvm_nodes.launch.py
  perception/lidar_apollo_segmentation_tvm_nodes/launch/lidar_apollo_segmentation_tvm_nodes.launch.xml
  perception/lidar_apollo_segmentation_tvm_nodes/schema/lidar_apollo_segmentation_tvm_nodes.schema.json
  perception/lidar_apollo_segmentation_tvm_nodes/src/lidar_apollo_segmentation_tvm_node.cpp
Labels: type:documentation, component:perception, tag:run-build-and-test-differential

#5505 refactor(tier4_planning_launch): align argument name
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/motion_planning/motion_planning.launch.xml
  planning/behavior_path_planner/config/scene_module_manager.param.yaml
  planning/behavior_path_planner/launch/behavior_path_planner.launch.xml
  planning/behavior_path_planner/test/test_behavior_path_planner_node_interface.cpp
  planning/behavior_velocity_planner/config/behavior_velocity_planner.param.yaml
  planning/behavior_velocity_planner/launch/behavior_velocity_planner.launch.xml
  planning/behavior_velocity_planner/test/src/test_node_interface.cpp
Labels: component:planning, component:launch, tag:run-build-and-test-differential

#5522 refactor(system_error_monitor): hide error log in no-fault condition
  system/system_error_monitor/include/system_error_monitor/system_error_monitor_core.hpp
  system/system_error_monitor/src/system_error_monitor_core.cpp
Labels: component:system, tag:run-build-and-test-differential

#5517 feat(behavior_path_planner): add option to insert zero velocity to the center line path
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5526 refactor(start_planner): support new interface
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5525 refactor(goal_planner): support new interface
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5243 refactor(gyro_odometer): rework parameters
  localization/gyro_odometer/CMakeLists.txt
  localization/gyro_odometer/README.md
  localization/gyro_odometer/config/gyro_odometer.param.yaml
  localization/gyro_odometer/launch/gyro_odometer.launch.xml
  localization/gyro_odometer/schema/gyro_odometer.schema.json
  localization/gyro_odometer/src/gyro_odometer_core.cpp
Labels: type:documentation, component:localization, tag:run-build-and-test-differential

#5521 refactor(ar_tag_based_localizer): refactor `ar_tag_based_localizer`
  localization/landmark_based_localizer/ar_tag_based_localizer/package.xml
  localization/landmark_based_localizer/ar_tag_based_localizer/src/ar_tag_based_localizer.cpp
  localization/landmark_based_localizer/ar_tag_based_localizer/src/ar_tag_based_localizer.hpp
Labels: component:localization, tag:run-build-and-test-differential

#5528 refactor(motion_utils): fix typo in calcLongitudinalOffsetPose return
  common/motion_utils/include/motion_utils/trajectory/trajectory.hpp
Labels: tag:run-build-and-test-differential

#5501 fix(simple_planning_simulator): set ego pitch to 0 if road slope is not simulated
  simulator/simple_planning_simulator/src/simple_planning_simulator/simple_planning_simulator_core.cpp
Labels: component:simulation, tag:run-build-and-test-differential, component:simulator

#5532 fix(ndt_scan_matcher): delete diagnostics thread
  localization/ndt_scan_matcher/include/ndt_scan_matcher/map_update_module.hpp
  localization/ndt_scan_matcher/include/ndt_scan_matcher/ndt_scan_matcher_core.hpp
  localization/ndt_scan_matcher/src/map_update_module.cpp
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
Labels: component:localization, tag:run-build-and-test-differential

#5527 refactor(dynamic_avoidance): support new interface
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/dynamic_avoidance/dynamic_avoidance_module.hpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/dynamic_avoidance_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5535 refactor(mission_planner): use combineLaneletsShape in lanelet2_extension
  planning/mission_planner/src/lanelet2_plugins/default_planner.cpp
  planning/mission_planner/src/lanelet2_plugins/utility_functions.cpp
  planning/mission_planner/src/lanelet2_plugins/utility_functions.hpp
Labels: component:planning, tag:run-build-and-test-differential

#5537 feat(controller): publish processing time
  control/trajectory_follower_node/include/trajectory_follower_node/controller_node.hpp
  control/trajectory_follower_node/src/controller_node.cpp
Labels: tag:run-build-and-test-differential

#5543 fix(mission_planner): revert "refactor(mission_planner): use combineLaneletsShape in lanele2_extension (#5535)"
  planning/mission_planner/src/lanelet2_plugins/default_planner.cpp
  planning/mission_planner/src/lanelet2_plugins/utility_functions.cpp
  planning/mission_planner/src/lanelet2_plugins/utility_functions.hpp
Labels: component:planning, tag:run-build-and-test-differential

#5542 fix(tier4_planning_launch): obstacle_cruise_planner pipeline is not connected
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/motion_planning/motion_planning.launch.xml
Labels: component:launch, tag:run-build-and-test-differential

#5548 fix(image_projection_based_fusion): add missing install
  perception/image_projection_based_fusion/CMakeLists.txt
Labels: component:perception, tag:run-build-and-test-differential

#5385 perf(motion_utils): faster removeOverlapPoints and calcLateralOffset functions
  common/motion_utils/include/motion_utils/trajectory/trajectory.hpp
  common/motion_utils/test/src/trajectory/benchmark_calcLateralOffset.cpp
Labels: component:common, tag:run-build-and-test-differential

#5493 refactor(goal_planner): separate thread safe data
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/goal_planner_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/goal_planner/pull_over_planner_base.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5529 refactor(start_planner): refactor backward path calculation in StartPlannerModule
  planning/behavior_path_planner/docs/behavior_path_planner_start_planner_design.md
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/start_planner/start_planner_module.hpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#5367 build(lidar_centerpoint_tvm): remove artifacts download
  perception/lidar_centerpoint_tvm/.gitignore
  perception/lidar_centerpoint_tvm/data/models/centerpoint_backbone/inference_engine_tvm_config.hpp
  perception/lidar_centerpoint_tvm/data/models/centerpoint_backbone/preprocessing_inference_engine_tvm_config.hpp
  perception/lidar_centerpoint_tvm/data/models/centerpoint_encoder/inference_engine_tvm_config.hpp
  perception/lidar_centerpoint_tvm/include/lidar_centerpoint_tvm/centerpoint_tvm.hpp
  perception/lidar_centerpoint_tvm/launch/lidar_centerpoint_tvm.launch.xml
  perception/lidar_centerpoint_tvm/launch/single_inference_lidar_centerpoint_tvm.launch.xml
  perception/lidar_centerpoint_tvm/lib/centerpoint_tvm.cpp
  perception/lidar_centerpoint_tvm/src/node.cpp
  perception/lidar_centerpoint_tvm/src/single_inference_node.cpp
Labels: component:perception, tag:run-build-and-test-differential

#5418 refactor(perception_rviz_plugin): apply thread pool to manage detached thread
  common/autoware_auto_perception_rviz_plugin/include/object_detection/predicted_objects_display.hpp
  common/autoware_auto_perception_rviz_plugin/src/object_detection/predicted_objects_display.cpp
Labels: component:common, tag:run-build-and-test-differential, tag:openai-pr-reviewer

#5547 feat(intersection): use the centerline position of first attention area if there is no traffic light
  planning/behavior_velocity_intersection_module/README.md
  planning/behavior_velocity_intersection_module/docs/data-structure.drawio.svg
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_merge_from_private_road.cpp
  planning/behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_intersection_module/src/util.hpp
  planning/behavior_velocity_intersection_module/src/util_type.hpp
Labels: type:documentation, component:planning, tag:deploy-docs, tag:run-build-and-test-differential

#5552 fix: scan ground filter document
  perception/ground_segmentation/docs/scan-ground-filter.md
Labels: type:documentation, component:perception, tag:deploy-docs, tag:run-build-and-test-differential

#5513 feat(geo_pose_projector): use geo_pose_projector in eagleye
  launch/tier4_localization_launch/launch/pose_twist_estimator/eagleye/eagleye_rt.launch.xml
  launch/tier4_localization_launch/launch/pose_twist_estimator/eagleye/geo_pose_converter.launch.xml
  launch/tier4_localization_launch/package.xml
  localization/geo_pose_projector/CMakeLists.txt
  localization/geo_pose_projector/README.md
  localization/geo_pose_projector/config/geo_pose_projector.param.yaml
  localization/geo_pose_projector/launch/geo_pose_projector.launch.xml
  localization/geo_pose_projector/package.xml
  localization/geo_pose_projector/schema/geo_pose_projector.schema.json
  localization/geo_pose_projector/src/geo_pose_projector.cpp
  localization/geo_pose_projector/src/geo_pose_projector.hpp
  localization/geo_pose_projector/src/geo_pose_projector_node.cpp
Labels: type:documentation, component:localization, component:launch, tag:run-build-and-test-differential

#5534 feat(simple_planning_simulator): add acceleration and steer command scaling factor for debug
  simulator/simple_planning_simulator/README.md
  simulator/simple_planning_simulator/include/simple_planning_simulator/vehicle_model/sim_model_delay_steer_acc.hpp
  simulator/simple_planning_simulator/include/simple_planning_simulator/vehicle_model/sim_model_delay_steer_acc_geared.hpp
  simulator/simple_planning_simulator/src/simple_planning_simulator/simple_planning_simulator_core.cpp
  simulator/simple_planning_simulator/src/simple_planning_simulator/vehicle_model/sim_model_delay_steer_acc.cpp
  simulator/simple_planning_simulator/src/simple_planning_simulator/vehicle_model/sim_model_delay_steer_acc_geared.cpp
Labels: type:documentation, tag:run-build-and-test-differential, component:simulator

#5550 fix(ndt_scan_matcher): make regularization process thread safe
  localization/ndt_scan_matcher/include/ndt_scan_matcher/ndt_scan_matcher_core.hpp
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
Labels: component:localization, tag:run-build-and-test-differential

#5342 test(obstacle_velocity_limiter): added test cases for particle model and approximation method
  planning/obstacle_velocity_limiter/test/test_collision_distance.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5490 fix(sampling_based_planner): fix runtime error
  planning/sampling_based_planner/bezier_sampler/include/bezier_sampler/bezier_sampling.hpp
  planning/sampling_based_planner/path_sampler/src/node.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5523 docs(lane_change): stopping position when an object exists ahead
  planning/behavior_path_planner/docs/behavior_path_planner_lane_change_design.md
  planning/behavior_path_planner/image/lane_change/lane_change-stop_at_terminal.drawio.svg
  planning/behavior_path_planner/image/lane_change/lane_change-stop_at_terminal_no_block.drawio.svg
  planning/behavior_path_planner/image/lane_change/lane_change-stop_far_from_target_lane.drawio.svg
  planning/behavior_path_planner/image/lane_change/lane_change-stop_not_at_terminal.drawio.svg
  planning/behavior_path_planner/image/lane_change/lane_change-stop_not_at_terminal_no_blocking_object.drawio.svg
Labels: type:documentation, component:planning, tag:deploy-docs, tag:run-build-and-test-differential

#5473 fix(detection_by_tracker): add ignore option for each label
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_radar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/lidar_based_detection.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
  perception/detection_by_tracker/CMakeLists.txt
  perception/detection_by_tracker/config/detection_by_tracker.param.yaml
  perception/detection_by_tracker/include/detection_by_tracker/detection_by_tracker_core.hpp
  perception/detection_by_tracker/include/utils/utils.hpp
  perception/detection_by_tracker/launch/detection_by_tracker.launch.xml
  perception/detection_by_tracker/src/detection_by_tracker_core.cpp
  perception/detection_by_tracker/src/utils.cpp
Labels: component:perception, component:launch, tag:run-build-and-test-differential

#5541 feat(image_projection_based_fusion): enable to show iou value in roi_cluster_fusion debug image
  perception/image_projection_based_fusion/include/image_projection_based_fusion/debugger.hpp
  perception/image_projection_based_fusion/src/debugger.cpp
  perception/image_projection_based_fusion/src/fusion_node.cpp
  perception/image_projection_based_fusion/src/roi_cluster_fusion/node.cpp
Labels: component:perception, tag:run-build-and-test-differential

#5511 refactor(landmark_parser): refactored landmark manager
  localization/landmark_based_localizer/README.md
  localization/landmark_based_localizer/ar_tag_based_localizer/package.xml
  localization/landmark_based_localizer/ar_tag_based_localizer/src/ar_tag_based_localizer.cpp
  localization/landmark_based_localizer/ar_tag_based_localizer/src/ar_tag_based_localizer.hpp
  localization/landmark_based_localizer/landmark_manager/CMakeLists.txt
  localization/landmark_based_localizer/landmark_manager/include/landmark_manager/landmark_manager.hpp
  localization/landmark_based_localizer/landmark_manager/package.xml
  localization/landmark_based_localizer/landmark_manager/src/landmark_manager.cpp
Labels: type:documentation, component:localization, tag:run-build-and-test-differential

#5510 feat(obstacle_cruise_planner): use obstacle velocity based obstacle parameters
  planning/obstacle_cruise_planner/README.md
  planning/obstacle_cruise_planner/config/obstacle_cruise_planner.param.yaml
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/planner_interface.hpp
  planning/obstacle_cruise_planner/src/planner_interface.cpp
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#5556 refactor(side_shift): support new interface
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/side_shift/side_shift_module.hpp
  planning/behavior_path_planner/src/scene_module/side_shift/side_shift_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5546 refactor(goal_planner): add updateStatus and reduce variables
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/goal_planner_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/goal_planner/pull_over_planner_base.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5563 fix(simple_planning_simulator): change default value of manual gear, DRIVE -> PARK
  simulator/simple_planning_simulator/src/simple_planning_simulator/simple_planning_simulator_core.cpp
Labels: tag:run-build-and-test-differential, component:simulator

#5577 fix(lane_change): fix object debug marker not having point
  planning/behavior_path_planner/src/marker_utils/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5575 fix(avoidance): fix a bug regarding the nearest search
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5554 refactor(goal_planner): refactoring plan flow and add post process
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/goal_planner_module.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5580 ci(labeler): rename simulator to simulation
  .github/labeler.yaml
Labels: type:ci, tag:run-build-and-test-differential

#5555 feat(motion_velocity_smoother): add motion_velocity_smoother's virtual wall such as MRM
  planning/external_velocity_limit_selector/src/external_velocity_limit_selector_node.cpp
  planning/motion_velocity_smoother/include/motion_velocity_smoother/motion_velocity_smoother_node.hpp
  planning/motion_velocity_smoother/src/motion_velocity_smoother_node.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5439 feat(localization): add `pose_instability_detector`
  launch/tier4_localization_launch/launch/pose_twist_fusion_filter/pose_twist_fusion_filter.launch.xml
  launch/tier4_localization_launch/package.xml
  localization/pose_instability_detector/CMakeLists.txt
  localization/pose_instability_detector/README.md
  localization/pose_instability_detector/config/pose_instability_detector.param.yaml
  localization/pose_instability_detector/launch/pose_instability_detector.launch.xml
  localization/pose_instability_detector/media/rqt_runtime_monitor.png
  localization/pose_instability_detector/media/timeline.drawio.svg
  localization/pose_instability_detector/package.xml
  localization/pose_instability_detector/schema/pose_instability_detector.schema.json
  localization/pose_instability_detector/src/main.cpp
  localization/pose_instability_detector/src/pose_instability_detector.cpp
  localization/pose_instability_detector/src/pose_instability_detector.hpp
  localization/pose_instability_detector/test/test.cpp
  localization/pose_instability_detector/test/test_message_helper_node.hpp
Labels: type:documentation, component:localization, component:launch, tag:run-build-and-test-differential

#5586 fix(drivable_area_expansion): fix bug when reusing previous path points
  planning/behavior_path_planner/src/utils/drivable_area_expansion/drivable_area_expansion.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5327 fix(detected_object_validation): add 3d pointcloud based validator
  perception/detected_object_validation/config/obstacle_pointcloud_based_validator.param.yaml
  perception/detected_object_validation/include/obstacle_pointcloud_based_validator/debugger.hpp
  perception/detected_object_validation/include/obstacle_pointcloud_based_validator/obstacle_pointcloud_based_validator.hpp
  perception/detected_object_validation/obstacle-pointcloud-based-validator.md
  perception/detected_object_validation/package.xml
  perception/detected_object_validation/src/obstacle_pointcloud_based_validator.cpp
Labels: type:documentation, component:perception, tag:run-build-and-test-differential, tag:openai-pr-reviewer

#5596 fix(goal_planner): fix detection_polygons visualiztion
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5597 ci(sync-files): remove stale label pre-commands
  .github/sync-files.yaml
Labels: type:ci, tag:run-build-and-test-differential

#5598 chore(run_out): add maintainer
  planning/behavior_velocity_run_out_module/package.xml
Labels: component:planning, tag:run-build-and-test-differential

#5595 fix(goal_planner): fix extending current lanes
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5599 fix(geo_pose_projector): fix -Werror=deprecated-declarations
  localization/geo_pose_projector/src/geo_pose_projector.cpp
  localization/geo_pose_projector/src/geo_pose_projector.hpp
Labels: component:localization, tag:run-build-and-test-differential

#5559 refactor(goal_planner): refactor select path
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/goal_planner_module.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5582 feat(lane_departure_checker): better cubstones's search
  control/lane_departure_checker/include/lane_departure_checker/lane_departure_checker.hpp
  control/lane_departure_checker/src/lane_departure_checker_node/lane_departure_checker.cpp
Labels: component:control, tag:run-build-and-test-differential

#5602 build(tier4_perception_launch): add tracking_object_merger
  launch/tier4_perception_launch/package.xml
Labels: component:launch, tag:run-build-and-test-differential

#5592 fix(avoidance): fix avoidance exit condition
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5558 fix(avoidance): fix wrong reason for unavoidable situation
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5451 refactor(radar_object_clustering): move radar object clustering parameter to param file
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_radar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/lidar_radar_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/radar_based_detection.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
  perception/radar_object_clustering/CMakeLists.txt
  perception/radar_object_clustering/config/radar_object_clustering.param.yaml
  perception/radar_object_clustering/launch/radar_object_clustering.launch.xml
  perception/radar_object_clustering/src/radar_object_clustering_node/radar_object_clustering_node.cpp
Labels: component:perception, component:launch, tag:run-build-and-test-differential

#5605 feat(radar_object_tracker): change to use use_radar_tracking_fusion as true
  launch/tier4_perception_launch/launch/perception.launch.xml
Labels: component:launch, tag:run-build-and-test-differential

#5557 fix(avoidance): fix bug in shift lon distance calculation
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/helper.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5572 fix(avoidance): prevent sudden steering at avoidance maneuver
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/helper.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/manager.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5197 feat(out_of_lane): more stable decisions
  planning/behavior_velocity_out_of_lane_module/config/out_of_lane.param.yaml
  planning/behavior_velocity_out_of_lane_module/src/calculate_slowdown_points.hpp
  planning/behavior_velocity_out_of_lane_module/src/debug.cpp
  planning/behavior_velocity_out_of_lane_module/src/debug.hpp
  planning/behavior_velocity_out_of_lane_module/src/decisions.cpp
  planning/behavior_velocity_out_of_lane_module/src/decisions.hpp
  planning/behavior_velocity_out_of_lane_module/src/manager.cpp
  planning/behavior_velocity_out_of_lane_module/src/overlapping_range.cpp
  planning/behavior_velocity_out_of_lane_module/src/overlapping_range.hpp
  planning/behavior_velocity_out_of_lane_module/src/scene_out_of_lane.cpp
  planning/behavior_velocity_out_of_lane_module/src/scene_out_of_lane.hpp
  planning/behavior_velocity_out_of_lane_module/src/types.hpp
Labels: component:planning, tag:run-build-and-test-differential

#5561 refactor(goal_planner): add prev_data instead of status
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/goal_planner_module.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5569 feat(goal_planner): keep margin against objects as possible
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/goal_planner_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/goal_planner/pull_over_planner_base.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5611 feat(out_of_lane): improve reuse of previous decision
  planning/behavior_velocity_out_of_lane_module/src/overlapping_range.hpp
  planning/behavior_velocity_out_of_lane_module/src/scene_out_of_lane.cpp
  planning/behavior_velocity_out_of_lane_module/src/scene_out_of_lane.hpp
Labels: component:planning, tag:run-build-and-test-differential

#5606 refactor(start_planner): support new interface
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/start_planner/start_planner_module.hpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5457 fix(lane_change): regulate at the traffic light
  planning/behavior_path_planner/config/lane_change/lane_change.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/normal.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/utils.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/manager.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5618 fix(start_planner, goal_planner): remove inappropriate reference value
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
  planning/behavior_path_planner/src/utils/start_planner/util.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5617 feat(component_state_monitor): monitor pose_estimator output
  system/component_state_monitor/config/topics.yaml
Labels: component:system, tag:run-build-and-test-differential

#5616 fix(simple_planning_simulator): fix ego sign pitch problem
  simulator/simple_planning_simulator/README.md
  simulator/simple_planning_simulator/src/simple_planning_simulator/simple_planning_simulator_core.cpp
Labels: type:documentation, component:simulation, tag:run-build-and-test-differential

#5565 fix(utils): fix monotonic bound create logic
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5628 fix(lane_change): fix abort path
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5622 refactor(start_planner): add verbose parameter for debug print
  planning/behavior_path_planner/config/start_planner/start_planner.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/start_planner/start_planner_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/start_planner_parameters.hpp
  planning/behavior_path_planner/src/scene_module/start_planner/manager.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5620 refactor(goal_planner): add rss safety check function
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/goal_planner_module.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5621 feat(goal_planner): prevent auto approval for unsafe path
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5604 refactor(behavior_path_planner): separate drivable area functions
  planning/behavior_path_planner/CMakeLists.txt
  planning/behavior_path_planner/include/behavior_path_planner/utils/drivable_area_expansion/static_drivable_area.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/goal_planner/util.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/util.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/utils.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/planner_manager.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/dynamic_avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/scene_module/side_shift/side_shift_module.cpp
  planning/behavior_path_planner/src/utils/drivable_area_expansion/static_drivable_area.cpp
  planning/behavior_path_planner/src/utils/goal_planner/shift_pull_over.cpp
  planning/behavior_path_planner/src/utils/path_utils.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
  planning/behavior_path_planner/test/test_utils.cpp
  planning/static_centerline_optimizer/src/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5603 perf(image_projection_based_fusion): replace std::bitset
  perception/image_projection_based_fusion/src/pointpainting_fusion/voxel_generator.cpp
Labels: component:perception, tag:run-build-and-test-differential

#5589 fix(bytetrack): fix uninteded roi value error due to casting int to uint
  perception/bytetrack/src/bytetrack_node.cpp
Labels: component:perception, tag:run-build-and-test-differential

#5637 fix(start_planner): fix logPullOutStatus format specifier
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5636 fix(goal_planner): fix prevent auto approval for unsafe path #5621
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5643 fix(out_of_lane): prevent "Same points are given" error message
  planning/behavior_velocity_out_of_lane_module/src/filter_predicted_objects.hpp
Labels: component:planning, tag:run-build-and-test-differential

#5644 build(lidar_centerpoint_tvm): add missing tf2_sensor_msgs depedency
  perception/lidar_centerpoint_tvm/package.xml
Labels: component:perception, tag:run-build-and-test-differential

#5625 chore(image_projection_based_fusion): fix document
  perception/image_projection_based_fusion/README.md
  perception/image_projection_based_fusion/package.xml
Labels: type:documentation, component:perception, tag:deploy-docs, tag:run-build-and-test-differential

#5648 refactor(surround_obstacle_checker): rework parameters
  planning/surround_obstacle_checker/README.md
  planning/surround_obstacle_checker/schema/surround_obstacle_checker.schema.json
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#5601 refactor(operation_mode_transition_manager): rework parameters
  control/operation_mode_transition_manager/README.md
  control/operation_mode_transition_manager/schema/operation_mode_transition_manager.schema.json
Labels: type:documentation, component:control, tag:run-build-and-test-differential

#5380 refactor(shift_decider): rework parameters
  control/shift_decider/schema/shift_decider.schema.json
Labels: component:control, tag:run-build-and-test-differential

#5629 fix(motion_velocity_smoother): remove steer rate noise
  planning/motion_velocity_smoother/src/smoother/smoother_base.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5218 refactor(scenario_selector): rework parameters
  planning/scenario_selector/CMakeLists.txt
  planning/scenario_selector/README.md
  planning/scenario_selector/config/scenario_selector.param.yaml
  planning/scenario_selector/launch/scenario_selector.launch.xml
  planning/scenario_selector/schema/scenario_selector.schema.json
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#5242 refactor(emergency_handler): rework parameters
  system/emergency_handler/README.md
  system/emergency_handler/schema/emergency_handler.schema.json
  system/emergency_handler/src/emergency_handler/emergency_handler_core.cpp
Labels: type:documentation, component:system, tag:run-build-and-test-differential

#5654 refactor(obstacle_collision_checker): rework parameters
  control/obstacle_collision_checker/schema/obstacle_collision_checker.json
Labels: component:control, tag:run-build-and-test-differential

#5538 refactor(processing_time_checker): display in alphabetical order
  planning/planning_debug_tools/scripts/processing_time_checker.py
Labels: component:planning, tag:run-build-and-test-differential

#5263 refactor(behavior_velocity_planner): rework parameters
  planning/behavior_velocity_planner/launch/behavior_velocity_planner.launch.xml
  planning/behavior_velocity_planner/schema/behavior_velocity_planner.schema.json
  planning/behavior_velocity_planner/src/node.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5238 refactor(external_velocity_limit_selector): rework parameter
  planning/external_velocity_limit_selector/README.md
  planning/external_velocity_limit_selector/config/default.param.yaml
  planning/external_velocity_limit_selector/config/default_common.param.yaml
  planning/external_velocity_limit_selector/config/external_velocity_limit_selector.param.yaml
  planning/external_velocity_limit_selector/launch/external_velocity_limit_selector.launch.xml
  planning/external_velocity_limit_selector/schema/external_velocity_limit_selector.schema.json
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#4693 refactor(gnss_poser): rework parameters
  sensing/gnss_poser/README.md
  sensing/gnss_poser/launch/gnss_poser.launch.xml
  sensing/gnss_poser/schema/gnss_poser.schema.json
Labels: type:documentation, component:sensing, tag:run-build-and-test-differential

#5652 refactor(update_schema_vehicle_cmd_gate): rework parameters
  control/vehicle_cmd_gate/schema/vehicle_cmd_gate.json
Labels: component:control, tag:run-build-and-test-differential

#5488 refactor(steer_offset_estimator): rework parameters
  vehicle/steer_offset_estimator/CMakeLists.txt
  vehicle/steer_offset_estimator/Readme.md
  vehicle/steer_offset_estimator/config/steer_offset_estimator.param.yaml
  vehicle/steer_offset_estimator/launch/steer_offset_estimator.launch.xml
  vehicle/steer_offset_estimator/schema/steer_offset_estimator.schema.json
  vehicle/steer_offset_estimator/src/steer_offset_estimator_node.cpp
Labels: type:documentation, component:vehicle, tag:run-build-and-test-differential

#5568 feat(image_projection_based_fusion): fix iou geometry function
  perception/image_projection_based_fusion/include/image_projection_based_fusion/utils/geometry.hpp
  perception/image_projection_based_fusion/src/roi_cluster_fusion/node.cpp
  perception/image_projection_based_fusion/src/utils/geometry.cpp
Labels: component:perception, tag:run-build-and-test-differential

#5660 refactor(behavior_path_planner): move createObjectDebug to safety check
  planning/behavior_path_planner/include/behavior_path_planner/marker_utils/utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_safety_checker/safety_check.hpp
  planning/behavior_path_planner/src/marker_utils/utils.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
  planning/behavior_path_planner/src/utils/path_safety_checker/safety_check.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5662 feat(goal_planner): add time hysteresis to keep unsafe
  planning/behavior_path_planner/config/goal_planner/goal_planner.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/goal_planner_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_safety_checker/path_safety_checker_parameters.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/scene_module/goal_planner/manager.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5667 refactor(system-velodyne-monitor): rework parameters
  system/velodyne_monitor/schema/velodyne_monitor.json
  system/velodyne_monitor/src/velodyne_monitor.cpp
Labels: component:system, tag:run-build-and-test-differential

#5659 refactor(vehicle_external_cmd_converter): rework parameters
  vehicle/external_cmd_converter/schema/external_cmd_converter.json
  vehicle/external_cmd_converter/src/node.cpp
Labels: component:vehicle, tag:run-build-and-test-differential

#5387 feat(avoidance): suppress unnecessary avoidance path
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/docs/behavior_path_planner_avoidance_design.md
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/utils.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/manager.cpp
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
Labels: type:documentation, component:planning, tag:deploy-docs, tag:run-build-and-test-differential

#5564 feat(objects_of_interest_marker_interface): add objects of interest marker interface
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_safety_checker/path_safety_checker_parameters.hpp
  planning/behavior_path_planner/package.xml
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
  planning/behavior_path_planner/src/utils/path_safety_checker/safety_check.cpp
  planning/objects_of_interest_marker_interface/CMakeLists.txt
  planning/objects_of_interest_marker_interface/README.md
  planning/objects_of_interest_marker_interface/include/objects_of_interest_marker_interface/coloring.hpp
  planning/objects_of_interest_marker_interface/include/objects_of_interest_marker_interface/marker_data.hpp
  planning/objects_of_interest_marker_interface/include/objects_of_interest_marker_interface/marker_utils.hpp
  planning/objects_of_interest_marker_interface/include/objects_of_interest_marker_interface/objects_of_interest_marker_interface.hpp
  planning/objects_of_interest_marker_interface/package.xml
  planning/objects_of_interest_marker_interface/src/coloring.cpp
  planning/objects_of_interest_marker_interface/src/marker_utils.cpp
  planning/objects_of_interest_marker_interface/src/objects_of_interest_marker_interface.cpp
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#5666 feat(logging_level_configure_rviz_plugin): add autoware_util logger button
  common/tier4_logging_level_configure_rviz_plugin/config/logger_config.yaml
Labels: component:common, tag:run-build-and-test-differential

#5670 refactor(behavior_path_planner): move updateCollisionCheckDebugMap to safety checker
  planning/behavior_path_planner/include/behavior_path_planner/marker_utils/utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_safety_checker/safety_check.hpp
  planning/behavior_path_planner/src/marker_utils/utils.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
  planning/behavior_path_planner/src/utils/path_safety_checker/safety_check.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5669 feat(map_based_prediction): consider only routable neighbours for lane change
  perception/map_based_prediction/config/map_based_prediction.param.yaml
  perception/map_based_prediction/include/map_based_prediction/map_based_prediction_node.hpp
  perception/map_based_prediction/src/map_based_prediction_node.cpp
Labels: component:perception, tag:run-build-and-test-differential

#5676 fix(behavior_velocity_planner): fix json schema
  planning/behavior_velocity_planner/schema/behavior_velocity_planner.schema.json
Labels: component:planning, tag:run-build-and-test-differential

#5571 fix(goal_planner): adjust the goal search range to regenerate the feasible refined_path
  planning/behavior_path_planner/include/behavior_path_planner/utils/goal_planner/default_fixed_goal_planner.hpp
  planning/behavior_path_planner/src/utils/goal_planner/default_fixed_goal_planner.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5663 feat(goal_planner): keep decided path
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/goal_planner_module.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5678 feat(dyanmic_avoidance): deal with oncoming forked predicted path
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/dynamic_avoidance/dynamic_avoidance_module.hpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/dynamic_avoidance_module.cpp
Labels: component:planning, tag:run-build-and-test-differential
