Repository autowarefoundation/autoware_universe, pull requests merged in 2023-09, with the labels that each got.

#4677 feat(behavior_path_planner): more stable dynamic drivable area expansion
  planning/behavior_path_planner/config/drivable_area_expansion.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/data_manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/drivable_area_expansion/drivable_area_expansion.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/drivable_area_expansion/footprints.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/drivable_area_expansion/parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/drivable_area_expansion/types.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/utils/drivable_area_expansion/drivable_area_expansion.cpp
  planning/behavior_path_planner/src/utils/drivable_area_expansion/expansion.cpp
  planning/behavior_path_planner/src/utils/drivable_area_expansion/footprints.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
  planning/behavior_path_planner/test/test_drivable_area_expansion.cpp
Labels: planning, run-build-and-test-differential

#4761 fix(out_of_lane): handle undetected overlap edge cases
  planning/behavior_velocity_out_of_lane_module/src/lanelets_selection.cpp
Labels: planning, run-build-and-test-differential

#4828 chore(build): remove tier4_autoware_utils.hpp in common/
  common/motion_utils/include/motion_utils/marker/marker_helper.hpp
  common/motion_utils/include/motion_utils/marker/virtual_wall_marker_creator.hpp
  common/motion_utils/src/marker/marker_helper.cpp
  common/motion_utils/src/marker/virtual_wall_marker_creator.cpp
  common/path_distance_calculator/src/path_distance_calculator.cpp
  common/tier4_vehicle_rviz_plugin/src/tools/console_meter.hpp
  control/mpc_lateral_controller/src/mpc.cpp
Labels: control, common, run-build-and-test-differential

#4784 feat(out_of_lane): filter predicted paths and add min assumed velocity
  planning/behavior_velocity_out_of_lane_module/config/out_of_lane.param.yaml
  planning/behavior_velocity_out_of_lane_module/src/decisions.cpp
  planning/behavior_velocity_out_of_lane_module/src/decisions.hpp
  planning/behavior_velocity_out_of_lane_module/src/filter_predicted_objects.hpp
  planning/behavior_velocity_out_of_lane_module/src/manager.cpp
  planning/behavior_velocity_out_of_lane_module/src/scene_out_of_lane.cpp
  planning/behavior_velocity_out_of_lane_module/src/types.hpp
Labels: planning, run-build-and-test-differential

#4836 fix(lane_change): fix state transition in lane change for multiple module cooperation
  planning/behavior_path_planner/include/behavior_path_planner/planner_manager.hpp
  planning/behavior_path_planner/src/planner_manager.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
Labels: planning, run-build-and-test-differential

#4738 fix(behavior_path_planner): fix left/right split of the drivable area
  planning/behavior_path_planner/src/utils/drivable_area_expansion/drivable_area_expansion.cpp
  planning/behavior_path_planner/test/test_drivable_area_expansion.cpp
Labels: planning, run-build-and-test-differential

#4840 chore(build): remove tier4_autoware_utils.hpp system/
  system/default_ad_api/src/planning.cpp
  system/default_ad_api/src/planning.hpp
Labels: system, run-build-and-test-differential

#4850 fix(map_projection_loader): fix altitude output
  map/map_projection_loader/src/map_projection_loader.cpp
Labels: map, run-build-and-test-differential

#4842 chore(build): remove tier4_autoware_utils.hpp localization/ map/
  localization/gyro_odometer/include/gyro_odometer/gyro_odometer_core.hpp
Labels: localization, run-build-and-test-differential

#4791 feat(gnss_poser): subscribe map projector info
  sensing/gnss_poser/CMakeLists.txt
  sensing/gnss_poser/README.md
  sensing/gnss_poser/config/set_local_origin.param.yaml
  sensing/gnss_poser/include/gnss_poser/convert.hpp
  sensing/gnss_poser/include/gnss_poser/gnss_poser_core.hpp
  sensing/gnss_poser/include/gnss_poser/gnss_stat.hpp
  sensing/gnss_poser/launch/gnss_poser.launch.xml
  sensing/gnss_poser/package.xml
  sensing/gnss_poser/src/gnss_poser_core.cpp
Labels: documentation, sensing, run-build-and-test-differential

#4839 chore(build): remove tier4_autoware_utils.hpp evaluator/ simulator/
  evaluator/kinematic_evaluator/src/metrics/kinematic_metrics.cpp
  evaluator/localization_evaluator/src/metrics/localization_metrics.cpp
  evaluator/planning_evaluator/src/metrics/deviation_metrics.cpp
  evaluator/planning_evaluator/src/metrics/metrics_utils.cpp
  evaluator/planning_evaluator/src/metrics/obstacle_metrics.cpp
  evaluator/planning_evaluator/src/metrics/stability_metrics.cpp
  evaluator/planning_evaluator/src/metrics/trajectory_metrics.cpp
  evaluator/planning_evaluator/src/metrics_calculator.cpp
  simulator/dummy_perception_publisher/src/node.cpp
  simulator/simple_planning_simulator/src/simple_planning_simulator/simple_planning_simulator_core.cpp
Labels: simulator, evaluator, run-build-and-test-differential, openai-pr-reviewer

#4768 refactor(no-drivable-lane): use getOrDeclareParameter
  planning/behavior_velocity_no_drivable_lane_module/src/manager.cpp
  planning/behavior_velocity_planner/test/src/test_node_interface.cpp
Labels: planning, run-build-and-test-differential

#4748 chore(planning_debug_tools): enable to set max velocity by arg in trajectory_visualizer.py
  planning/planning_debug_tools/scripts/trajectory_visualizer.py
Labels: planning, run-build-and-test-differential

#4855 feat(rviz_plugin): add target object type display
  common/tier4_target_object_type_rviz_plugin/CMakeLists.txt
  common/tier4_target_object_type_rviz_plugin/README.md
  common/tier4_target_object_type_rviz_plugin/image/window.png
  common/tier4_target_object_type_rviz_plugin/package.xml
  common/tier4_target_object_type_rviz_plugin/plugins/plugin_description.xml
  common/tier4_target_object_type_rviz_plugin/src/target_object_type_panel.cpp
  common/tier4_target_object_type_rviz_plugin/src/target_object_type_panel.hpp
Labels: documentation, common, run-build-and-test-differential

#4804 refactor(behavior_path_planner): consolidate common function which is used by start and goal planner
  planning/behavior_path_planner/CMakeLists.txt
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/goal_planner_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/geometric_parallel_parking/geometric_parallel_parking.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/goal_planner/goal_planner_parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/goal_planner/pull_over_planner_base.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_safety_checker/path_safety_checker_parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_goal_planner_common/common_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_goal_planner_common/utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/start_planner_parameters.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/utils/geometric_parallel_parking/geometric_parallel_parking.cpp
  planning/behavior_path_planner/src/utils/goal_planner/freespace_pull_over.cpp
  planning/behavior_path_planner/src/utils/goal_planner/geometric_pull_over.cpp
  planning/behavior_path_planner/src/utils/goal_planner/shift_pull_over.cpp
  planning/behavior_path_planner/src/utils/path_safety_checker/objects_filtering.cpp
  planning/behavior_path_planner/src/utils/path_utils.cpp
  planning/behavior_path_planner/src/utils/start_goal_planner_common/utils.cpp
  planning/behavior_path_planner/src/utils/start_planner/geometric_pull_out.cpp
Labels: planning, run-build-and-test-differential

#4846 fix(control_validator): resolve the bug causing inappropriate diagnostic messages.
  control/control_validator/src/utils.cpp
Labels: control, run-build-and-test-differential

#4844 chore(build): remove motion_utils.hpp and tier4_autoware_utils.hpp control/
  control/autonomous_emergency_braking/src/node.cpp
  control/lane_departure_checker/include/lane_departure_checker/lane_departure_checker.hpp
  control/mpc_lateral_controller/src/mpc.cpp
  control/mpc_lateral_controller/src/mpc_lateral_controller.cpp
  control/mpc_lateral_controller/src/mpc_utils.cpp
  control/operation_mode_transition_manager/src/state.cpp
  control/pid_longitudinal_controller/src/pid_longitudinal_controller.cpp
  control/trajectory_follower_node/src/simple_trajectory_follower.cpp
  control/vehicle_cmd_gate/src/vehicle_cmd_gate.hpp
Labels: control, run-build-and-test-differential

#4820 fix(avoidance): fix lateral distance calculation
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/utils.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/avoidance_by_lane_change.cpp
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
Labels: planning, run-build-and-test-differential

#4838 fix(utils): improve sharp bound cleaning
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning, run-build-and-test-differential

#4859 refactor(behavior_path_planner): add vehicle_info_ as member variable in goal_planner
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/goal_planner_module.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
Labels: run-build-and-test-differential

#4785 feat(behavior_path_planner): add always executable module option
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_manager_interface.hpp
  planning/behavior_path_planner/src/planner_manager.cpp
  planning/behavior_path_planner/src/scene_module/goal_planner/manager.cpp
Labels: planning, run-build-and-test-differential

#4852 feat(geography_utils): add lanelet2_projector
  common/geography_utils/CMakeLists.txt
  common/geography_utils/include/geography_utils/lanelet2_projector.hpp
  common/geography_utils/package.xml
  common/geography_utils/src/lanelet2_projector.cpp
  map/map_loader/include/map_loader/lanelet2_map_loader_node.hpp
  map/map_loader/package.xml
  map/map_loader/src/lanelet2_map_loader/lanelet2_map_loader_node.cpp
  planning/static_centerline_optimizer/package.xml
  planning/static_centerline_optimizer/src/static_centerline_optimizer_node.cpp
Labels: planning, map, common, run-build-and-test-differential

#4849 chore(imu_corrector): remove library compilation
  sensing/imu_corrector/CMakeLists.txt
  sensing/imu_corrector/src/gyro_bias_estimator.cpp
  sensing/imu_corrector/src/gyro_bias_estimator.hpp
  sensing/imu_corrector/src/gyro_bias_estimator_node.cpp
  sensing/imu_corrector/src/imu_corrector_core.cpp
  sensing/imu_corrector/src/imu_corrector_core.hpp
  sensing/imu_corrector/src/imu_corrector_node.cpp
Labels: sensing, run-build-and-test-differential

#4841 chore(build): remove tier4_autoware_utils.hpp sensing/
  sensing/imu_corrector/src/imu_corrector_core.cpp
  sensing/imu_corrector/src/imu_corrector_core.hpp
  sensing/radar_static_pointcloud_filter/include/radar_static_pointcloud_filter/radar_static_pointcloud_filter_node.hpp
  sensing/radar_static_pointcloud_filter/src/radar_static_pointcloud_filter_node/radar_static_pointcloud_filter_node.cpp
Labels: sensing, run-build-and-test-differential

#4864 feat(avoidance): check incomming vehicle
  planning/behavior_path_planner/include/behavior_path_planner/marker_utils/avoidance/debug.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/src/marker_utils/avoidance/debug.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning, run-build-and-test-differential

#4866 fix(utils): fix invalid drivable area z-position
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning, run-build-and-test-differential

#4824 feat(map_based_prediciton): enable map_based_prediction.launch.xml to remap input topic
  perception/map_based_prediction/README.md
  perception/map_based_prediction/launch/map_based_prediction.launch.xml
  perception/map_based_prediction/src/map_based_prediction_node.cpp
Labels: documentation, perception, run-build-and-test-differential

#3696 fix(lat_lon_controller): change reference to the node
  control/mpc_lateral_controller/include/mpc_lateral_controller/mpc_lateral_controller.hpp
  control/mpc_lateral_controller/src/mpc_lateral_controller.cpp
  control/pid_longitudinal_controller/include/pid_longitudinal_controller/pid_longitudinal_controller.hpp
  control/pid_longitudinal_controller/src/pid_longitudinal_controller.cpp
  control/pure_pursuit/include/pure_pursuit/pure_pursuit_lateral_controller.hpp
  control/pure_pursuit/src/pure_pursuit/pure_pursuit_lateral_controller.cpp
Labels: control, run-build-and-test-differential

#4867 fix(imu_corrector): fix build failure
  sensing/imu_corrector/package.xml
  sensing/imu_corrector/src/imu_corrector_core.cpp
Labels: sensing, run-build-and-test-differential

#4870 chore(traffic_light_arbiter): use THROTTLE to prevent obscuring other logs
  perception/traffic_light_arbiter/src/traffic_light_arbiter.cpp
Labels: perception, run-build-and-test-differential

#4845 fix(planner_manager): fix module swapping logic
  planning/behavior_path_planner/src/planner_manager.cpp
Labels: planning, run-build-and-test-differential

#4856 refactor(goal_planner): refactor isAllowedGoalModification
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/goal_planner/util.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/scene_module/goal_planner/manager.cpp
  planning/behavior_path_planner/src/utils/goal_planner/util.cpp
Labels: planning, run-build-and-test-differential

#4869 fix(crosswalk): set large minus value in rtc distance if the ego already passed crosswalk
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
Labels: planning, run-build-and-test-differential

#4868 fix(lane_change): skip parked object filtering
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
Labels: planning, run-build-and-test-differential

#4878 fix(behavior_path_planner): fix checkOriginalGoalIsInShoulder
  planning/behavior_path_planner/src/utils/goal_planner/util.cpp
Labels: planning, run-build-and-test-differential

#4837 fix(radar_fusion_to_detected_object): fix parameter handling
  perception/radar_fusion_to_detected_object/README.md
  perception/radar_fusion_to_detected_object/src/radar_fusion_to_detected_object.cpp
Labels: documentation, perception, run-build-and-test-differential

#4875 docs(behavior_path_planner): fix table
  planning/behavior_path_planner/docs/behavior_path_planner_goal_planner_design.md
Labels: documentation, planning, run-build-and-test-differential

#4874 fix(avoidance): use find nearest index to calculate object's overhang & longitudinal
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
Labels: planning, run-build-and-test-differential

#4880 fix(start_planner): start pose candidates
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
Labels: planning, run-build-and-test-differential

#4879 perf(crosswalk): decrease calcSignedArcLength() process
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
Labels: planning, run-build-and-test-differential

#4843 chore(build): remove tier4_autoware_utils.hpp perception/
  perception/crosswalk_traffic_light_estimator/include/crosswalk_traffic_light_estimator/node.hpp
  perception/detected_object_validation/include/obstacle_pointcloud_based_validator/debugger.hpp
  perception/detected_object_validation/src/object_lanelet_filter.cpp
  perception/detected_object_validation/src/object_position_filter.cpp
  perception/detected_object_validation/src/obstacle_pointcloud_based_validator.cpp
  perception/detected_object_validation/src/occupancy_grid_based_validator.cpp
  perception/detection_by_tracker/include/detection_by_tracker/debugger.hpp
  perception/detection_by_tracker/include/detection_by_tracker/detection_by_tracker_core.hpp
  perception/detection_by_tracker/src/detection_by_tracker_core.cpp
  perception/front_vehicle_velocity_estimator/include/front_vehicle_velocity_estimator/front_vehicle_velocity_estimator.hpp
  perception/front_vehicle_velocity_estimator/src/front_vehicle_velocity_estimator_node/front_vehicle_velocity_estimator.cpp
  perception/heatmap_visualizer/src/utils.cpp
  perception/lidar_centerpoint/lib/postprocess/non_maximum_suppression.cpp
  perception/multi_object_tracker/include/multi_object_tracker/utils/utils.hpp
  perception/multi_object_tracker/src/tracker/model/bicycle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/big_vehicle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/multiple_vehicle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/normal_vehicle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/pass_through_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/pedestrian_and_bicycle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/pedestrian_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/unknown_tracker.cpp
  perception/object_merger/include/object_association_merger/utils/utils.hpp
  perception/object_merger/src/object_association_merger/node.cpp
  perception/object_velocity_splitter/src/object_velocity_splitter_node/object_velocity_splitter_node.cpp
  perception/occupancy_grid_map_outlier_filter/src/occupancy_grid_map_outlier_filter_nodelet.cpp
  perception/probabilistic_occupancy_grid_map/include/utils/utils.hpp
  perception/probabilistic_occupancy_grid_map/src/laserscan_based_occupancy_grid_map/laserscan_based_occupancy_grid_map_node.cpp
  perception/probabilistic_occupancy_grid_map/src/pointcloud_based_occupancy_grid_map/occupancy_grid_map_base.cpp
  perception/probabilistic_occupancy_grid_map/src/pointcloud_based_occupancy_grid_map/occupancy_grid_map_fixed.cpp
  perception/probabilistic_occupancy_grid_map/src/pointcloud_based_occupancy_grid_map/occupancy_grid_map_projective.cpp
  perception/probabilistic_occupancy_grid_map/src/pointcloud_based_occupancy_grid_map/pointcloud_based_occupancy_grid_map_node.cpp
  perception/probabilistic_occupancy_grid_map/src/utils/utils.cpp
  perception/radar_fusion_to_detected_object/include/radar_fusion_to_detected_object.hpp
  perception/radar_fusion_to_detected_object/src/radar_fusion_to_detected_object.cpp
  perception/radar_object_clustering/include/radar_object_clustering/radar_object_clustering_node.hpp
  perception/radar_object_clustering/src/radar_object_clustering_node/radar_object_clustering_node.cpp
  perception/radar_tracks_msgs_converter/include/radar_tracks_msgs_converter/radar_tracks_msgs_converter_node.hpp
  perception/radar_tracks_msgs_converter/src/radar_tracks_msgs_converter_node/radar_tracks_msgs_converter_node.cpp
  perception/shape_estimation/include/shape_estimation/corrector/utils.hpp
  perception/shape_estimation/include/shape_estimation/model/model_interface.hpp
  perception/shape_estimation/lib/corrector/utils.cpp
  perception/shape_estimation/src/node.cpp
  perception/simple_object_merger/include/simple_object_merger/simple_object_merger_node.hpp
  perception/simple_object_merger/src/simple_object_merger_node/simple_object_merger_node.cpp
  perception/traffic_light_map_based_detector/src/node.cpp
  perception/traffic_light_occlusion_predictor/src/nodelet.cpp
Labels: perception, run-build-and-test-differential

#4865 ci: ignore tier4_pcl_extensions and remove sensing ignorance
  .cspell-partial.json
Labels: run-build-and-test-differential

#4246 docs(out_of_lane): fix parameters description
  planning/behavior_velocity_out_of_lane_module/README.md
Labels: documentation, planning, run-build-and-test-differential

#4816 fix(goal_planner): fix goal search for narrow shoulder lane
  planning/behavior_path_planner/include/behavior_path_planner/utils/utils.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/utils/goal_planner/goal_searcher.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning, run-build-and-test-differential

#4884 fix(route_handler): fix getter for pose
  planning/route_handler/src/route_handler.cpp
Labels: planning, run-build-and-test-differential

#4853 fix(ndt_scan_matcher): skipping_publish_num does not switches error state
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
Labels: bug, localization, run-build-and-test-differential

#4882 chore: update maintainer of TLR packages
  common/perception_utils/package.xml
  perception/crosswalk_traffic_light_estimator/package.xml
  perception/traffic_light_fine_detector/package.xml
  perception/traffic_light_multi_camera_fusion/package.xml
  perception/traffic_light_occlusion_predictor/package.xml
Labels: perception, common, run-build-and-test-differential

#4873 feat(behavior_path_planner): add safety check against dynamic objects for start/goal planner
  planning/behavior_path_planner/config/goal_planner/goal_planner.param.yaml
  planning/behavior_path_planner/config/start_planner/start_planner.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/goal_planner_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/start_planner/start_planner_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_goal_planner_common/utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/util.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/scene_module/goal_planner/manager.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/manager.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
  planning/behavior_path_planner/src/utils/start_goal_planner_common/utils.cpp
Labels: planning, run-build-and-test-differential

#4889 feat(goal_planner): set ignore_distance_from_lane_start 0.0
  planning/behavior_path_planner/config/goal_planner/goal_planner.param.yaml
  planning/behavior_path_planner/docs/behavior_path_planner_goal_planner_design.md
Labels: documentation, planning, run-build-and-test-differential

#4860 fix(operation_transition_manager): trajectgory deviation calculation
  control/operation_mode_transition_manager/src/state.cpp
Labels: control, run-build-and-test-differential

#4897 refactor(start/goal_planner): minor refactor like const and reference
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/freespace_pull_out.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/geometric_pull_out.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/pull_out_planner_base.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/shift_pull_out.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
  planning/behavior_path_planner/src/utils/geometric_parallel_parking/geometric_parallel_parking.cpp
  planning/behavior_path_planner/src/utils/start_planner/freespace_pull_out.cpp
  planning/behavior_path_planner/src/utils/start_planner/geometric_pull_out.cpp
  planning/behavior_path_planner/src/utils/start_planner/shift_pull_out.cpp
Labels: planning, run-build-and-test-differential

#4894 refactor(start/goal_planner): use combineLanelets
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
  planning/behavior_path_planner/src/utils/goal_planner/geometric_pull_over.cpp
  planning/behavior_path_planner/src/utils/start_planner/geometric_pull_out.cpp
Labels: planning, run-build-and-test-differential

#4831 feat(goal_planner): do not use minimum_request_length for fixed goal planner
  planning/behavior_path_planner/config/goal_planner/goal_planner.param.yaml
  planning/behavior_path_planner/docs/behavior_path_planner_goal_planner_design.md
  planning/behavior_path_planner/include/behavior_path_planner/utils/goal_planner/goal_planner_parameters.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/scene_module/goal_planner/manager.cpp
Labels: documentation, planning, run-build-and-test-differential

#4893 fix(start_planner): fix start pose candidats when the ego is close to the lane end
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/start_planner/start_planner_module.hpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
Labels: planning, run-build-and-test-differential

#4895 feat(start_planner): run start planner even if ego is out of lane
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
Labels: planning, run-build-and-test-differential

#4872 feat(intersection): do not generate stuck vehicle detect area before attention area if attention area exists
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_intersection_module/src/util.hpp
Labels: planning, run-build-and-test-differential

#4871 refactor(radar_static_pointcloud_filter): rework parameters
  sensing/radar_static_pointcloud_filter/CMakeLists.txt
  sensing/radar_static_pointcloud_filter/config/radar_static_pointcloud_filter.param.yaml
  sensing/radar_static_pointcloud_filter/launch/radar_static_pointcloud_filter.launch.xml
  sensing/radar_static_pointcloud_filter/schema/radar_static_pointcloud_filter.schema.json
  sensing/radar_static_pointcloud_filter/src/radar_static_pointcloud_filter_node/radar_static_pointcloud_filter_node.cpp
Labels: sensing, run-build-and-test-differential

#4857 fix(behavior_path_planner): fix functions related to pull over lanes
  planning/behavior_path_planner/include/behavior_path_planner/utils/goal_planner/util.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/utils/goal_planner/freespace_pull_over.cpp
  planning/behavior_path_planner/src/utils/goal_planner/geometric_pull_over.cpp
  planning/behavior_path_planner/src/utils/goal_planner/goal_searcher.cpp
  planning/behavior_path_planner/src/utils/goal_planner/shift_pull_over.cpp
  planning/behavior_path_planner/src/utils/goal_planner/util.cpp
  planning/route_handler/include/route_handler/route_handler.hpp
  planning/route_handler/src/route_handler.cpp
Labels: planning, run-build-and-test-differential

#4899 fix(avoidance): don't output unfeasible path
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning, run-build-and-test-differential

#4887 fix(planning_debug_tools): disable traffic light msg in perception replay
  planning/planning_debug_tools/scripts/perception_replayer/perception_replayer.py
  planning/planning_debug_tools/scripts/perception_replayer/perception_reproducer.py
Labels: planning, run-build-and-test-differential

#4891 feat(operation_transition_mannager): add param enable_engage_on_driving
  control/operation_mode_transition_manager/README.md
  control/operation_mode_transition_manager/config/operation_mode_transition_manager.param.yaml
  control/operation_mode_transition_manager/src/state.cpp
  control/operation_mode_transition_manager/src/state.hpp
Labels: documentation, control, run-build-and-test-differential

#4909 fix(start_planner): fix drivable area without shoulder lanes
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
Labels: planning, run-build-and-test-differential

#4705 fix(image_projection_based_fusion): multi class of one point
  perception/image_projection_based_fusion/include/image_projection_based_fusion/pointpainting_fusion/voxel_generator.hpp
  perception/image_projection_based_fusion/src/pointpainting_fusion/node.cpp
  perception/image_projection_based_fusion/src/pointpainting_fusion/voxel_generator.cpp
Labels: perception, run-build-and-test-differential

#4913 chore(ekf_localizer): organize test
  localization/ekf_localizer/CMakeLists.txt
  localization/ekf_localizer/test/src/test_ekf_localizer.cpp
  localization/ekf_localizer/test/test_covariance.cpp
  localization/ekf_localizer/test/test_ekf_localizer.test
Labels: localization, run-build-and-test-differential

#4898 docs(map_based_prediction): minor refactor for explanation of parameter
  perception/map_based_prediction/README.md
  perception/map_based_prediction/package.xml
Labels: documentation, perception, run-build-and-test-differential

#4858 refactor(trajectory_visualizer): remove duplicated implementation
  planning/planning_debug_tools/scripts/trajectory_visualizer.py
Labels: planning, run-build-and-test-differential

#4861 feat(lane_departure_checker): add border types to check
  control/lane_departure_checker/README.md
  control/lane_departure_checker/config/lane_departure_checker.param.yaml
  control/lane_departure_checker/include/lane_departure_checker/lane_departure_checker.hpp
  control/lane_departure_checker/include/lane_departure_checker/lane_departure_checker_node.hpp
  control/lane_departure_checker/src/lane_departure_checker_node/lane_departure_checker.cpp
  control/lane_departure_checker/src/lane_departure_checker_node/lane_departure_checker_node.cpp
Labels: documentation, control, run-build-and-test-differential

#4892 refactor(behavior_path_planner): visualize debug information of safety check against dynamic obstacles
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_goal_planner_common/common_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_goal_planner_common/utils.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
  planning/behavior_path_planner/src/utils/start_goal_planner_common/utils.cpp
Labels: planning, run-build-and-test-differential

#4921 chore(build): fix traffic_light_map_based_detector
  perception/traffic_light_map_based_detector/package.xml
  perception/traffic_light_map_based_detector/src/node.cpp
Labels: perception, run-build-and-test-differential

#4222 docs(planning_debug_tools): rename readme to README
  planning/planning_debug_tools/README.md
Labels: documentation, planning, deploy-docs, run-build-and-test-differential

#4888 docs(operation_transition_manager): update readme
  control/operation_mode_transition_manager/README.md
  control/operation_mode_transition_manager/image/transition_detailed_structure.drawio.svg
  control/operation_mode_transition_manager/image/transition_rough_structure.drawio.svg
Labels: documentation, control, run-build-and-test-differential

#4815 feat(ndt_scan_matcher): add diag lidar_topic_delay_time_sec
  localization/ndt_scan_matcher/README.md
  localization/ndt_scan_matcher/config/ndt_scan_matcher.param.yaml
  localization/ndt_scan_matcher/include/ndt_scan_matcher/ndt_scan_matcher_core.hpp
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
Labels: documentation, localization, run-build-and-test-differential

#4910 feat(planning_debug_tools): support old auto TrafficSignalArray
  planning/planning_debug_tools/scripts/perception_replayer/perception_replayer.py
  planning/planning_debug_tools/scripts/perception_replayer/perception_replayer_common.py
  planning/planning_debug_tools/scripts/perception_replayer/perception_reproducer.py
Labels: planning, run-build-and-test-differential

#4906 feat(planning_debug_tools): add recorded ego pose publisher to perception replayer
  planning/planning_debug_tools/scripts/perception_replayer/perception_replayer.py
  planning/planning_debug_tools/scripts/perception_replayer/perception_replayer_common.py
  planning/planning_debug_tools/scripts/perception_replayer/time_manager_widget.py
Labels: planning, run-build-and-test-differential

#4907 fix(tier4_planning_rviz_plugin): update vehicle info parameters in panel received from global parameter
  common/tier4_planning_rviz_plugin/include/path/display_base.hpp
Labels: run-build-and-test-differential

#4925 feat(surround_obstacle_checker): make parameters more tunable
  planning/surround_obstacle_checker/config/surround_obstacle_checker.param.yaml
  planning/surround_obstacle_checker/include/surround_obstacle_checker/debug_marker.hpp
  planning/surround_obstacle_checker/include/surround_obstacle_checker/node.hpp
  planning/surround_obstacle_checker/src/debug_marker.cpp
  planning/surround_obstacle_checker/src/node.cpp
Labels: planning, run-build-and-test-differential

#4934 chore(build): remove tier4_autoware_utils.hpp/motion_utils.hpp from freespace/route_handler
  planning/behavior_path_planner/include/behavior_path_planner/data_manager.hpp
  planning/behavior_path_planner/src/utils/drivable_area_expansion/drivable_area_expansion.cpp
  planning/behavior_path_planner/test/test_turn_signal.cpp
  planning/behavior_velocity_out_of_lane_module/src/debug.cpp
  planning/behavior_velocity_out_of_lane_module/src/decisions.cpp
  planning/freespace_planner/package.xml
  planning/freespace_planner/src/freespace_planner/freespace_planner_node.cpp
  planning/freespace_planning_algorithms/src/abstract_algorithm.cpp
  planning/freespace_planning_algorithms/src/astar_search.cpp
  planning/mission_planner/src/lanelet2_plugins/default_planner.cpp
  planning/mission_planner/src/lanelet2_plugins/utility_functions.hpp
  planning/mission_planner/src/mission_planner/arrival_checker.cpp
  planning/route_handler/include/route_handler/route_handler.hpp
  planning/route_handler/package.xml
  planning/route_handler/src/route_handler.cpp
  planning/static_centerline_optimizer/include/static_centerline_optimizer/type_alias.hpp
Labels: planning, run-build-and-test-differential

#4937 chore(build): remove tier4_autoware_utils.hpp/motion_utils.hpp from map_based_prediction
  perception/map_based_prediction/include/map_based_prediction/map_based_prediction_node.hpp
  perception/map_based_prediction/src/map_based_prediction_node.cpp
  perception/map_based_prediction/src/path_generator.cpp
Labels: perception, run-build-and-test-differential

#4932 fix(start_planner): prevent approval when stop path
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
Labels: planning, run-build-and-test-differential

#4936 chore(build): remove tier4_autoware_utils.hpp/motion_utils.hpp from behavior_path_planner
  planning/behavior_path_planner/include/behavior_path_planner/data_manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/marker_utils/utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/planner_manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/utils.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/marker_utils/avoidance/debug.cpp
  planning/behavior_path_planner/src/marker_utils/utils.cpp
  planning/behavior_path_planner/src/planner_manager.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/manager.cpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/dynamic_avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/manager.cpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/scene_module/goal_planner/manager.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/manager.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/scene_module/side_shift/manager.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/manager.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
  planning/behavior_path_planner/src/turn_signal_decider.cpp
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
  planning/behavior_path_planner/src/utils/geometric_parallel_parking/geometric_parallel_parking.cpp
  planning/behavior_path_planner/src/utils/goal_planner/freespace_pull_over.cpp
  planning/behavior_path_planner/src/utils/goal_planner/geometric_pull_over.cpp
  planning/behavior_path_planner/src/utils/goal_planner/goal_searcher.cpp
  planning/behavior_path_planner/src/utils/goal_planner/shift_pull_over.cpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
  planning/behavior_path_planner/src/utils/occupancy_grid_based_collision_detector/occupancy_grid_based_collision_detector.cpp
  planning/behavior_path_planner/src/utils/path_safety_checker/objects_filtering.cpp
  planning/behavior_path_planner/src/utils/path_safety_checker/safety_check.cpp
  planning/behavior_path_planner/src/utils/path_shifter/path_shifter.cpp
  planning/behavior_path_planner/src/utils/path_utils.cpp
  planning/behavior_path_planner/src/utils/start_goal_planner_common/utils.cpp
  planning/behavior_path_planner/src/utils/start_planner/geometric_pull_out.cpp
  planning/behavior_path_planner/src/utils/start_planner/shift_pull_out.cpp
  planning/behavior_path_planner/src/utils/start_planner/util.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
  planning/behavior_path_planner/test/test_lane_change_utils.cpp
  planning/behavior_path_planner/test/test_safety_check.cpp
  planning/behavior_path_planner/test/test_turn_signal.cpp
  planning/behavior_path_planner/test/test_utils.cpp
Labels: planning, run-build-and-test-differential

#4939 chore(build): remove tier4_autoware_utils.hpp/motion_utils.hpp from obstacle_planning
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/common_structs.hpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/mpt_optimizer.hpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/node.hpp
  planning/obstacle_avoidance_planner/src/debug_marker.cpp
  planning/obstacle_avoidance_planner/src/mpt_optimizer.cpp
  planning/obstacle_avoidance_planner/src/node.cpp
  planning/obstacle_avoidance_planner/src/replan_checker.cpp
  planning/obstacle_avoidance_planner/src/utils/geometry_utils.cpp
  planning/obstacle_avoidance_planner/src/utils/trajectory_utils.cpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/common_structs.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/optimization_based_planner/optimization_based_planner.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/planner_interface.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/polygon_utils.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/utils.hpp
  planning/obstacle_cruise_planner/src/node.cpp
  planning/obstacle_cruise_planner/src/optimization_based_planner/optimization_based_planner.cpp
  planning/obstacle_cruise_planner/src/pid_based_planner/pid_based_planner.cpp
  planning/obstacle_cruise_planner/src/planner_interface.cpp
  planning/obstacle_cruise_planner/src/utils.cpp
  planning/obstacle_stop_planner/include/obstacle_stop_planner/adaptive_cruise_control.hpp
  planning/obstacle_stop_planner/include/obstacle_stop_planner/node.hpp
  planning/obstacle_stop_planner/include/obstacle_stop_planner/planner_utils.hpp
  planning/obstacle_stop_planner/src/adaptive_cruise_control.cpp
  planning/obstacle_stop_planner/src/debug_marker.cpp
  planning/obstacle_stop_planner/src/planner_utils.cpp
Labels: planning, run-build-and-test-differential

#4944 fix(perception_replayer): initialize class variables to prevent crashes
  planning/planning_debug_tools/scripts/perception_replayer/perception_replayer.py
  planning/planning_debug_tools/scripts/perception_replayer/perception_replayer_common.py
Labels: planning, run-build-and-test-differential

#4885 fix(ar_tag_based_localizer): added small changes
  launch/tier4_localization_launch/launch/pose_twist_estimator/ar_tag_based_localizer.launch.xml
  localization/ar_tag_based_localizer/README.md
  localization/ar_tag_based_localizer/config/ar_tag_based_localizer.param.yaml
  localization/ar_tag_based_localizer/doc_image/sample_result_in_awsim.png
  localization/ar_tag_based_localizer/include/ar_tag_based_localizer/ar_tag_based_localizer_core.hpp
  localization/ar_tag_based_localizer/src/ar_tag_based_localizer_core.cpp
Labels: documentation, localization, launch, run-build-and-test-differential

#4918 fix(vehicle_cmd_gate): use real velocity for the lateral filter
  control/vehicle_cmd_gate/src/vehicle_cmd_filter.cpp
  control/vehicle_cmd_gate/src/vehicle_cmd_filter.hpp
  control/vehicle_cmd_gate/test/src/test_filter_in_vehicle_cmd_gate_node.cpp
  control/vehicle_cmd_gate/test/src/test_vehicle_cmd_filter.cpp
Labels: control, run-build-and-test-differential

#4947 fix(static_centerline_optimzier): fix build
  planning/static_centerline_optimizer/src/static_centerline_optimizer_node.cpp
Labels: run-build-and-test-differential

#4941 feat(simple_planning_simulator): consider ego pitch angle for simulation
  simulator/simple_planning_simulator/include/simple_planning_simulator/simple_planning_simulator_core.hpp
  simulator/simple_planning_simulator/launch/simple_planning_simulator.launch.py
  simulator/simple_planning_simulator/package.xml
  simulator/simple_planning_simulator/src/simple_planning_simulator/simple_planning_simulator_core.cpp
Labels: simulator, run-build-and-test-differential

#4854 feat(ndt_scan_matcher): adding state switch mecahism for nearest_voxel_transformation_likelihood for deciding does ndt have problems while matching scans
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
Labels: localization, run-build-and-test-differential

#4935 feat(radar_object_tracker): add distance and lanelet map based noise filtering for radar tracking
  perception/radar_object_tracker/README.md
  perception/radar_object_tracker/config/radar_object_tracker.param.yaml
  perception/radar_object_tracker/image/noise_filtering.drawio.svg
  perception/radar_object_tracker/include/radar_object_tracker/radar_object_tracker_node/radar_object_tracker_node.hpp
  perception/radar_object_tracker/launch/radar_object_tracker.launch.xml
  perception/radar_object_tracker/models.md
  perception/radar_object_tracker/package.xml
  perception/radar_object_tracker/src/radar_object_tracker_node/radar_object_tracker_node.cpp
Labels: documentation, perception, run-build-and-test-differential, openai-pr-reviewer

#4699 refactor(crosswalk_traffic_light_estimator): rework parameters
  launch/tier4_perception_launch/launch/traffic_light_recognition/traffic_light.launch.xml
  perception/crosswalk_traffic_light_estimator/CMakeLists.txt
  perception/crosswalk_traffic_light_estimator/README.md
  perception/crosswalk_traffic_light_estimator/config/crosswalk_traffic_light_estimator.param.yaml
  perception/crosswalk_traffic_light_estimator/launch/crosswalk_traffic_light_estimator.launch.xml
  perception/crosswalk_traffic_light_estimator/schema/crosswalk_traffic_light_estimator.schema.json
  perception/crosswalk_traffic_light_estimator/src/node.cpp
Labels: documentation, perception, launch, run-build-and-test-differential

#4940 chore(build): remove tier4_autoware_utils.hpp/motion_utils.hpp from other planning packages
  planning/path_smoother/include/path_smoother/common_structs.hpp
  planning/path_smoother/include/path_smoother/elastic_band_smoother.hpp
  planning/path_smoother/src/elastic_band.cpp
  planning/path_smoother/src/utils/trajectory_utils.cpp
  planning/planning_validator/src/debug_marker.cpp
  planning/planning_validator/src/planning_validator.cpp
  planning/planning_validator/src/utils.cpp
  planning/sampling_based_planner/path_sampler/include/path_sampler/common_structs.hpp
  planning/sampling_based_planner/path_sampler/include/path_sampler/node.hpp
  planning/sampling_based_planner/path_sampler/src/node.cpp
  planning/sampling_based_planner/path_sampler/src/prepare_inputs.cpp
  planning/sampling_based_planner/path_sampler/src/utils/trajectory_utils.cpp
  planning/static_centerline_optimizer/src/static_centerline_optimizer_node.cpp
  planning/static_centerline_optimizer/src/successive_trajectory_optimizer_node.cpp
  planning/static_centerline_optimizer/src/utils.cpp
  planning/surround_obstacle_checker/include/surround_obstacle_checker/node.hpp
  planning/surround_obstacle_checker/src/debug_marker.cpp
  planning/surround_obstacle_checker/src/node.cpp
Labels: planning, run-build-and-test-differential

#4922 fix(voxel_grid_downsample_filter): support no intensity case
  sensing/pointcloud_preprocessor/src/downsample_filter/faster_voxel_grid_downsample_filter.cpp
Labels: bug, sensing, run-build-and-test-differential

#4938 chore(build): remove tier4_autoware_utils.hpp/motion_utils.hpp from behavior_velocities
  planning/behavior_velocity_blind_spot_module/src/debug.cpp
  planning/behavior_velocity_crosswalk_module/src/debug.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
  planning/behavior_velocity_crosswalk_module/src/util.cpp
  planning/behavior_velocity_detection_area_module/src/debug.cpp
  planning/behavior_velocity_intersection_module/src/debug.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_intersection_module/src/scene_merge_from_private_road.hpp
  planning/behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_no_drivable_lane_module/src/debug.cpp
  planning/behavior_velocity_no_drivable_lane_module/src/scene.cpp
  planning/behavior_velocity_no_drivable_lane_module/src/util.cpp
  planning/behavior_velocity_no_stopping_area_module/src/debug.cpp
  planning/behavior_velocity_no_stopping_area_module/src/scene_no_stopping_area.cpp
  planning/behavior_velocity_occlusion_spot_module/src/debug.cpp
  planning/behavior_velocity_occlusion_spot_module/src/occlusion_spot_utils.cpp
  planning/behavior_velocity_occlusion_spot_module/test/src/test_occlusion_spot_utils.cpp
  planning/behavior_velocity_out_of_lane_module/src/footprint.cpp
  planning/behavior_velocity_out_of_lane_module/src/scene_out_of_lane.cpp
  planning/behavior_velocity_out_of_lane_module/src/scene_out_of_lane.hpp
  planning/behavior_velocity_planner/src/node.cpp
  planning/behavior_velocity_planner/src/node.hpp
  planning/behavior_velocity_planner_common/include/behavior_velocity_planner_common/scene_module_interface.hpp
  planning/behavior_velocity_planner_common/include/behavior_velocity_planner_common/utilization/util.hpp
  planning/behavior_velocity_planner_common/src/utilization/debug.cpp
  planning/behavior_velocity_planner_common/src/utilization/util.cpp
  planning/behavior_velocity_planner_common/test/src/test_arc_lane_util.cpp
  planning/behavior_velocity_run_out_module/src/debug.cpp
  planning/behavior_velocity_run_out_module/src/debug.hpp
  planning/behavior_velocity_run_out_module/src/dynamic_obstacle.cpp
  planning/behavior_velocity_run_out_module/src/dynamic_obstacle.hpp
  planning/behavior_velocity_run_out_module/src/path_utils.hpp
  planning/behavior_velocity_run_out_module/src/scene.cpp
  planning/behavior_velocity_run_out_module/src/utils.cpp
  planning/behavior_velocity_run_out_module/src/utils.hpp
  planning/behavior_velocity_speed_bump_module/src/debug.cpp
  planning/behavior_velocity_speed_bump_module/src/scene.cpp
  planning/behavior_velocity_speed_bump_module/src/util.cpp
  planning/behavior_velocity_stop_line_module/src/debug.cpp
  planning/behavior_velocity_traffic_light_module/src/debug.cpp
  planning/behavior_velocity_virtual_traffic_light_module/src/debug.cpp
Labels: planning, run-build-and-test-differential

#4929 fix(start_planner): crop backward path to start from narrow space
  planning/behavior_path_planner/src/utils/start_planner/shift_pull_out.cpp
Labels: planning, run-build-and-test-differential

#4951 refactor(start_planner): refactor drivable lanes
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
Labels: planning, run-build-and-test-differential

#4931 fix(start_planner): fix path update
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
Labels: planning, run-build-and-test-differential

#4956 fix(static_centerline_optimizer): remove double include
  planning/static_centerline_optimizer/src/static_centerline_optimizer_node.cpp
Labels: run-build-and-test-differential

#4926 fix(avoidance): clear rtc status in process on entry
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning, run-build-and-test-differential

#4953 feat(behavior_path_planner): add processOnEntry in start_planner
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/goal_planner_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/start_planner/start_planner_module.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
Labels: planning, run-build-and-test-differential

#4955 fix(image_projection_based_fusion): update parameter value
  perception/image_projection_based_fusion/include/image_projection_based_fusion/roi_cluster_fusion/node.hpp
  perception/image_projection_based_fusion/launch/roi_cluster_fusion.launch.xml
  perception/image_projection_based_fusion/src/roi_cluster_fusion/node.cpp
Labels: perception, run-build-and-test-differential

#4950 fix(start/goal_planner): fix inverse order path points
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_goal_planner_common/utils.hpp
  planning/behavior_path_planner/src/utils/goal_planner/shift_pull_over.cpp
  planning/behavior_path_planner/src/utils/start_goal_planner_common/utils.cpp
  planning/behavior_path_planner/src/utils/start_planner/shift_pull_out.cpp
Labels: planning, run-build-and-test-differential

#4960 chore(control_validator): use throttle for the error log
  control/control_validator/src/control_validator.cpp
Labels: control, run-build-and-test-differential

#4903 fix(intersection): stuck stop line generation when ego is over fist conflicting area
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_intersection_module/src/util_type.hpp
Labels: planning, run-build-and-test-differential

#4927 feat(behavior_path_planner): safety check against dynamic objects after approval in manual mode
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/goal_planner_module.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
Labels: planning, run-build-and-test-differential

#4963 fix(behavior_path_planner): use findSegment for segment search
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning, run-build-and-test-differential

#4962 fix(start_planner): keep max back distace whithin lanes
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
Labels: planning, run-build-and-test-differential

#4952 feat(obstacle_cruise_planner): approching stop on curve
  planning/obstacle_cruise_planner/config/obstacle_cruise_planner.param.yaml
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/common_structs.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/node.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/planner_interface.hpp
  planning/obstacle_cruise_planner/src/node.cpp
  planning/obstacle_cruise_planner/src/planner_interface.cpp
Labels: planning, run-build-and-test-differential

#4966 refactor(goal_planner): remove unused variables
  planning/behavior_path_planner/src/utils/goal_planner/goal_searcher.cpp
Labels: planning, run-build-and-test-differential

#4968 feat(goal_planner): use only static objects in pull over lanes to path generation
  planning/behavior_path_planner/config/goal_planner/goal_planner.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/utils/goal_planner/goal_planner_parameters.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/scene_module/goal_planner/manager.cpp
  planning/behavior_path_planner/src/utils/goal_planner/goal_searcher.cpp
Labels: planning, run-build-and-test-differential

#4949 fix(tensorrt_yolox): update yolox-s model
  perception/tensorrt_yolox/CMakeLists.txt
  perception/tensorrt_yolox/launch/yolox_s_plus_opt.launch.xml
Labels: perception, run-build-and-test-differential

#4945 feat(tier4_system_rviz_plugin): add package
  common/tier4_system_rviz_plugin/CMakeLists.txt
  common/tier4_system_rviz_plugin/README.md
  common/tier4_system_rviz_plugin/package.xml
  common/tier4_system_rviz_plugin/plugins/plugin_description.xml
  common/tier4_system_rviz_plugin/src/jsk_overlay_utils.cpp
  common/tier4_system_rviz_plugin/src/jsk_overlay_utils.hpp
  common/tier4_system_rviz_plugin/src/mrm_summary_overlay_display.cpp
  common/tier4_system_rviz_plugin/src/mrm_summary_overlay_display.hpp
Labels: documentation, common, run-build-and-test-differential

#4973 chore(build): only include forward declaration of lanelet stuff in control/ header files
  control/lane_departure_checker/include/lane_departure_checker/lane_departure_checker_node.hpp
  control/lane_departure_checker/src/lane_departure_checker_node/lane_departure_checker_node.cpp
Labels: control, run-build-and-test-differential

#4930 fix(lane_change): fix target object filter
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
Labels: planning, run-build-and-test-differential

#4967 feat(traffic_light_visualization): update visualization for w/o fine_detection
  perception/traffic_light_visualization/src/traffic_light_roi_visualizer/nodelet.cpp
Labels: perception, run-build-and-test-differential, openai-pr-reviewer

#4980 build(imu_corrector): add missing diagnostic_updater dependency
  sensing/imu_corrector/package.xml
Labels: sensing, run-build-and-test-differential

#4985 chore(multi_object_tracker): fix spell-check errors
  perception/multi_object_tracker/models.md
Labels: documentation, perception, run-build-and-test-differential

#4986 chore(lidar_centerpoint): fix spell-check errors
  perception/lidar_centerpoint/launch/centerpoint_vs_centerpoint-tiny/rviz/centerpoint.rviz
  perception/lidar_centerpoint/launch/centerpoint_vs_centerpoint-tiny/rviz/centerpoint_tiny.rviz
Labels: perception, run-build-and-test-differential

#4988 fix(rtc_manager_panel): fix panel chattering
  common/rtc_manager_rviz_plugin/src/rtc_manager_panel.cpp
Labels: common, run-build-and-test-differential

#4979 chore(lidar_centerpoint): change WARN to DEBUG
  perception/lidar_centerpoint/lib/centerpoint_trt.cpp
Labels: perception, run-build-and-test-differential

#4976 refactor(avoidance): align function style
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning, run-build-and-test-differential

#4984 chore(build): only include forward declaration of lanelet stuff in perception/ header files
  perception/crosswalk_traffic_light_estimator/include/crosswalk_traffic_light_estimator/node.hpp
  perception/crosswalk_traffic_light_estimator/src/node.cpp
  perception/detected_object_validation/include/detected_object_filter/object_lanelet_filter.hpp
  perception/detected_object_validation/include/detected_object_filter/object_position_filter.hpp
  perception/detected_object_validation/src/object_lanelet_filter.cpp
  perception/elevation_map_loader/include/elevation_map_loader/elevation_map_loader_node.hpp
  perception/elevation_map_loader/src/elevation_map_loader_node.cpp
  perception/map_based_prediction/include/map_based_prediction/map_based_prediction_node.hpp
  perception/map_based_prediction/src/map_based_prediction_node.cpp
  perception/traffic_light_map_based_detector/include/traffic_light_map_based_detector/node.hpp
  perception/traffic_light_multi_camera_fusion/include/traffic_light_multi_camera_fusion/node.hpp
  perception/traffic_light_multi_camera_fusion/src/node.cpp
  perception/traffic_light_occlusion_predictor/include/traffic_light_occlusion_predictor/occlusion_predictor.hpp
  perception/traffic_light_visualization/include/traffic_light_map_visualizer/node.hpp
  perception/traffic_light_visualization/src/traffic_light_map_visualizer/node.cpp
Labels: perception, run-build-and-test-differential

#4946 feat(ar_tag_based_localizer): add ekf_pose subscriber
  launch/tier4_localization_launch/launch/pose_twist_estimator/ar_tag_based_localizer.launch.xml
  localization/ar_tag_based_localizer/README.md
  localization/ar_tag_based_localizer/config/ar_tag_based_localizer.param.yaml
  localization/ar_tag_based_localizer/doc_image/node_diagram.drawio.svg
  localization/ar_tag_based_localizer/include/ar_tag_based_localizer/ar_tag_based_localizer_core.hpp
  localization/ar_tag_based_localizer/launch/ar_tag_based_localizer.launch.xml
  localization/ar_tag_based_localizer/src/ar_tag_based_localizer_core.cpp
Labels: documentation, localization, launch, run-build-and-test-differential

#4970 feat(goal_planner): add options of occupancy grid map to use only for goal search
  planning/behavior_path_planner/config/goal_planner/goal_planner.param.yaml
  planning/behavior_path_planner/docs/behavior_path_planner_goal_planner_design.md
  planning/behavior_path_planner/include/behavior_path_planner/utils/goal_planner/goal_planner_parameters.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/scene_module/goal_planner/manager.cpp
  planning/behavior_path_planner/src/utils/goal_planner/goal_searcher.cpp
Labels: documentation, planning, run-build-and-test-differential

#4990 fix(simple_object_merger): fix timeout
  perception/simple_object_merger/src/simple_object_merger_node/simple_object_merger_node.cpp
Labels: perception, run-build-and-test-differential

#4994 feat(object_merger): add queue size parameter
  perception/object_merger/include/object_association_merger/node.hpp
  perception/object_merger/launch/object_association_merger.launch.xml
  perception/object_merger/src/object_association_merger/node.cpp
Labels: perception, run-build-and-test-differential

#4965 fix(resample): remove duplicated poinnt before resampling
  common/motion_utils/src/resample/resample.cpp
Labels: common, run-build-and-test-differential

#4908 fix(lidar_apollo_segmentation_tvm): add include tier4_autoware_utils and dependency
  perception/lidar_apollo_segmentation_tvm/package.xml
  perception/lidar_apollo_segmentation_tvm/src/lidar_apollo_segmentation_tvm.cpp
Labels: perception, run-build-and-test-differential

#4755 fix(adaptive_cruise_planner): prevent large vibration of acceleration command
  planning/obstacle_stop_planner/src/adaptive_cruise_control.cpp
Labels: planning, run-build-and-test-differential

#4883 feat: support transverse mercator projection
  common/geography_utils/src/lanelet2_projector.cpp
  map/map_loader/README.md
  map/map_projection_loader/CMakeLists.txt
  map/map_projection_loader/README.md
  map/map_projection_loader/src/map_projection_loader.cpp
  map/map_projection_loader/test/data/map_projector_info_transverse_mercator.yaml
  map/map_projection_loader/test/test_node_load_transverse_mercator_from_yaml.test.py
Labels: documentation, map, common, run-build-and-test-differential

#4997 refactor(safety_check): check if the object is oncoming
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_safety_checker/safety_check.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/utils/path_safety_checker/safety_check.cpp
Labels: planning, run-build-and-test-differential

#4959 fix(rviz config): remove initial_pose_button_panel
  perception/lidar_centerpoint/launch/centerpoint_vs_centerpoint-tiny/rviz/centerpoint.rviz
  perception/lidar_centerpoint/launch/centerpoint_vs_centerpoint-tiny/rviz/centerpoint_tiny.rviz
  planning/obstacle_avoidance_planner/rviz/obstacle_avoidance_planner.rviz
  planning/static_centerline_optimizer/rviz/static_centerline_optimizer.rviz
  vehicle/accel_brake_map_calibrator/accel_brake_map_calibrator/rviz/occupancy.rviz
Labels: perception, planning, vehicle, run-build-and-test-differential

#4996 chore(build): only include forward declaration of lanelet stuff in route_handler header files
  planning/behavior_path_planner/include/behavior_path_planner/data_manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/marker_utils/avoidance/debug.hpp
  planning/behavior_path_planner/include/behavior_path_planner/marker_utils/utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/planner_manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/start_planner/start_planner_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/turn_signal_decider.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/geometric_parallel_parking/geometric_parallel_parking.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/goal_planner/util.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/util.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/utils.hpp
  planning/behavior_path_planner/src/marker_utils/avoidance/debug.cpp
  planning/behavior_path_planner/src/marker_utils/utils.cpp
  planning/behavior_path_planner/src/planner_manager.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/dynamic_avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/avoidance_by_lane_change.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
  planning/behavior_path_planner/src/turn_signal_decider.cpp
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
  planning/behavior_path_planner/src/utils/geometric_parallel_parking/geometric_parallel_parking.cpp
  planning/behavior_path_planner/src/utils/goal_planner/goal_searcher.cpp
  planning/behavior_path_planner/src/utils/goal_planner/util.cpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
  planning/behavior_path_planner/src/utils/path_utils.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
  planning/behavior_path_planner/test/test_drivable_area_expansion.cpp
  planning/behavior_path_planner/test/test_utils.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
  planning/behavior_velocity_crosswalk_module/src/util.cpp
  planning/behavior_velocity_detection_area_module/src/scene.cpp
  planning/behavior_velocity_no_drivable_lane_module/src/util.cpp
  planning/behavior_velocity_no_stopping_area_module/src/scene_no_stopping_area.cpp
  planning/behavior_velocity_out_of_lane_module/src/decisions.cpp
  planning/behavior_velocity_out_of_lane_module/src/decisions.hpp
  planning/behavior_velocity_out_of_lane_module/src/filter_predicted_objects.hpp
  planning/behavior_velocity_out_of_lane_module/src/lanelets_selection.cpp
  planning/behavior_velocity_planner/src/node.cpp
  planning/behavior_velocity_planner_common/include/behavior_velocity_planner_common/planner_data.hpp
  planning/behavior_velocity_planner_common/include/behavior_velocity_planner_common/utilization/util.hpp
  planning/behavior_velocity_planner_common/src/utilization/util.cpp
  planning/behavior_velocity_speed_bump_module/src/debug.cpp
  planning/behavior_velocity_speed_bump_module/src/scene.hpp
  planning/behavior_velocity_speed_bump_module/src/util.cpp
  planning/mission_planner/src/mission_planner/mission_planner.cpp
  planning/route_handler/include/route_handler/route_handler.hpp
  planning/route_handler/package.xml
  planning/route_handler/src/route_handler.cpp
  planning/static_centerline_optimizer/include/static_centerline_optimizer/utils.hpp
  planning/static_centerline_optimizer/src/static_centerline_optimizer_node.cpp
  planning/static_centerline_optimizer/src/utils.cpp
Labels: planning, run-build-and-test-differential

#4881 feat(behavior_path_planner): extend geometric parallel parking feature to both sides
  planning/behavior_path_planner/include/behavior_path_planner/utils/geometric_parallel_parking/geometric_parallel_parking.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/utils/geometric_parallel_parking/geometric_parallel_parking.cpp
  planning/behavior_path_planner/src/utils/goal_planner/geometric_pull_over.cpp
  planning/behavior_path_planner/src/utils/start_planner/geometric_pull_out.cpp
Labels: planning, run-build-and-test-differential

#4752 feat(tier4_autoware_utils): add function to print backtrace in runtime
  common/tier4_autoware_utils/include/tier4_autoware_utils/system/backtrace.hpp
  common/tier4_autoware_utils/include/tier4_autoware_utils/tier4_autoware_utils.hpp
Labels: common, run-build-and-test-differential

#5007 fix(behavior_path_planner): fix condition when collision detected before approval
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/start_planner_parameters.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
Labels: planning, run-build-and-test-differential

#4991 chore(perception_reproducer): load only rosbag file
  planning/planning_debug_tools/scripts/perception_replayer/perception_replayer.py
  planning/planning_debug_tools/scripts/perception_replayer/perception_replayer_common.py
  planning/planning_debug_tools/scripts/perception_replayer/perception_reproducer.py
Labels: planning, run-build-and-test-differential

#5002 fix(behavior_path_planner): define hysteresis_factor_expand_rate
  planning/behavior_path_planner/config/goal_planner/goal_planner.param.yaml
  planning/behavior_path_planner/config/start_planner/start_planner.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_safety_checker/path_safety_checker_parameters.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/manager.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/manager.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
Labels: planning, run-build-and-test-differential

#5009 fix(behaivor_path_planner): fix uninitialized variables
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/dynamic_avoidance/dynamic_avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/goal_planner_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/goal_planner/goal_planner_parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_following/module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_safety_checker/path_safety_checker_parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/start_planner_parameters.hpp
Labels: planning, run-build-and-test-differential

#5014 feat(behavior_path_planner): update function of createPredictedPath
  planning/behavior_path_planner/config/goal_planner/goal_planner.param.yaml
  planning/behavior_path_planner/config/start_planner/start_planner.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_safety_checker/objects_filtering.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_safety_checker/path_safety_checker_parameters.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/scene_module/goal_planner/manager.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/manager.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
  planning/behavior_path_planner/src/utils/path_safety_checker/objects_filtering.cpp
  planning/behavior_path_planner/src/utils/start_goal_planner_common/utils.cpp
Labels: planning, run-build-and-test-differential

#5020 fix(goal_planner): fix disabling safety check
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
Labels: planning, run-build-and-test-differential

#5015 feat(behavior_path_planner): use common function of createPredictedPath from avoidance module
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/utils.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
Labels: planning, run-build-and-test-differential

#4999 refactor(perception): rearrange clustering pipeline
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_radar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/lidar_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/lidar_radar_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/pointcloud_map_filter.launch.py
  launch/tier4_perception_launch/launch/perception.launch.xml
  perception/euclidean_cluster/config/compare_map.param.yaml
  perception/euclidean_cluster/config/outlier.param.yaml
  perception/euclidean_cluster/config/voxel_grid.param.yaml
  perception/euclidean_cluster/config/voxel_grid_based_euclidean_cluster.param.yaml
  perception/euclidean_cluster/launch/euclidean_cluster.launch.py
  perception/euclidean_cluster/launch/euclidean_cluster.launch.xml
  perception/euclidean_cluster/launch/voxel_grid_based_euclidean_cluster.launch.py
  perception/euclidean_cluster/launch/voxel_grid_based_euclidean_cluster.launch.xml
Labels: perception, launch, run-build-and-test-differential

#5013 refactor(behavior_path_planner): use util function convertToPredictedPath from lane_change
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/utils.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
Labels: planning, run-build-and-test-differential

#5019 fix(lanelet2_projector): fix werror return-type
  common/geography_utils/src/lanelet2_projector.cpp
Labels: common, run-build-and-test-differential

#5018 refactor(avoidance): generate drivable lanes in utils
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/utils.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
Labels: planning, run-build-and-test-differential

#4992 fix(radar_fusion_to_detected_object): fix confidence
  perception/radar_fusion_to_detected_object/src/radar_fusion_to_detected_object.cpp
Labels: perception, run-build-and-test-differential

#4993 fix(radar_tracks_msg_converter): fix twist coordinate conversion
  perception/radar_tracks_msgs_converter/src/radar_tracks_msgs_converter_node/radar_tracks_msgs_converter_node.cpp
Labels: perception, run-build-and-test-differential

#5026 fix(tier4_perception_launch): add object_merger of far_objects to fusion for Camera-LiDAR-Radar fusion
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_radar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/lidar_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/lidar_radar_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/radar_based_detection.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
Labels: launch, run-build-and-test-differential

#5012 fix(mission_planner/behavior_path_planner): use transient local for modified goal
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/mission_planner/src/mission_planner/mission_planner.cpp
  planning/mission_planner/src/mission_planner/mission_planner.hpp
Labels: planning, run-build-and-test-differential

#4974 feat(avoidance): support s-shape avoidance
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/utils.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
Labels: planning, run-build-and-test-differential

#5008 chore(build): simplify common/tier4_autoware_utils header
  common/motion_utils/include/motion_utils/trajectory/trajectory.hpp
  common/tier4_autoware_utils/CMakeLists.txt
  common/tier4_autoware_utils/include/tier4_autoware_utils/geometry/boost_geometry.hpp
  common/tier4_autoware_utils/include/tier4_autoware_utils/geometry/boost_polygon_utils.hpp
  common/tier4_autoware_utils/include/tier4_autoware_utils/geometry/geometry.hpp
  common/tier4_autoware_utils/include/tier4_autoware_utils/geometry/pose_deviation.hpp
  common/tier4_autoware_utils/include/tier4_autoware_utils/ros/marker_helper.hpp
  common/tier4_autoware_utils/package.xml
  common/tier4_autoware_utils/src/geometry/boost_polygon_utils.cpp
  common/tier4_autoware_utils/src/geometry/geometry.cpp
  common/tier4_autoware_utils/src/geometry/pose_deviation.cpp
  common/tier4_autoware_utils/src/ros/marker_helper.cpp
  common/tier4_autoware_utils/test/src/geometry/test_pose_deviation.cpp
  control/autonomous_emergency_braking/src/node.cpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/dynamic_avoidance_module.cpp
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
  planning/behavior_path_planner/src/utils/path_safety_checker/objects_filtering.cpp
  planning/behavior_path_planner/src/utils/path_safety_checker/safety_check.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
  planning/obstacle_cruise_planner/src/planner_interface.cpp
  planning/obstacle_stop_planner/src/planner_utils.cpp
Labels: planning, control, common, run-build-and-test-differential
