Repository autowarefoundation/autoware_universe, pull requests merged in 2024-05, with the labels that each got.

#6908 fix(avoidance): add missing parameter declaration
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/parameter_helper.hpp
  planning/behavior_path_avoidance_module/schema/avoidance.schema.json
  planning/behavior_path_avoidance_module/src/manager.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6910 fix(trajectory_follower_node): fix config file of plot juggler
  control/trajectory_follower_node/config/plot_juggler_trajectory_follower.xml
Labels: component:control, tag:run-build-and-test-differential

#6916 chore(component_state_monitor): relax pose_estimator_pose timeout
  system/component_state_monitor/config/topics.yaml
Labels: component:system, tag:run-build-and-test-differential

#6914 docs(tier4_simulated_clock_rviz_plugin): update how to use
  common/tier4_simulated_clock_rviz_plugin/README.md
Labels: type:documentation, component:common, tag:deploy-docs, tag:run-build-and-test-differential

#6913 refactor(avoidance): rebuild object info list
  planning/behavior_path_avoidance_by_lane_change_module/src/scene.cpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/data_structs.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/debug.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/helper.hpp
  planning/behavior_path_avoidance_module/src/debug.cpp
  planning/behavior_path_avoidance_module/src/scene.cpp
  planning/behavior_path_avoidance_module/src/shift_line_generator.cpp
  planning/behavior_path_avoidance_module/src/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6918 feat(mission_planner): publish initial and goal poses to logs
  planning/mission_planner/src/mission_planner/mission_planner.cpp
  planning/mission_planner/src/mission_planner/mission_planner.hpp
Labels: component:planning, tag:run-build-and-test-differential

#6896 feat(pull_request_templates): improve the pull request template to enhance requirements on documenting interface changes
  .github/PULL_REQUEST_TEMPLATE/small-change.md
  .github/PULL_REQUEST_TEMPLATE/standard-change.md
Labels: type:ci, tag:run-build-and-test-differential

#6864 chore(radar_track_msgs_converter): change radar tracks subscription qos to besteffort
  perception/radar_tracks_msgs_converter/src/radar_tracks_msgs_converter_node/radar_tracks_msgs_converter_node.cpp
  sensing/radar_tracks_noise_filter/src/radar_tracks_noise_filter_node/radar_tracks_noise_filter_node.cpp
Labels: component:perception, component:sensing, tag:run-build-and-test-differential

#6865 feat(probabilistic_occupancy_grid_map): add downsample filter option to ogm creation
  perception/probabilistic_occupancy_grid_map/README.md
  perception/probabilistic_occupancy_grid_map/config/multi_lidar_pointcloud_based_occupancy_grid_map.param.yaml
  perception/probabilistic_occupancy_grid_map/config/pointcloud_based_occupancy_grid_map.param.yaml
  perception/probabilistic_occupancy_grid_map/launch/multi_lidar_pointcloud_based_occupancy_grid_map.launch.py
  perception/probabilistic_occupancy_grid_map/launch/pointcloud_based_occupancy_grid_map.launch.py
  perception/probabilistic_occupancy_grid_map/package.xml
  perception/probabilistic_occupancy_grid_map/pointcloud-based-occupancy-grid-map.md
Labels: type:documentation, component:perception, tag:run-build-and-test-differential

#6926 fix(behavior_path_planner_common): fix warning of containerOutOfBounds
  planning/behavior_path_planner_common/src/utils/path_utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#3629 fix: do not use c++20 char8_t keyword
  common/autoware_auto_common/include/autoware_auto_common/common/types.hpp
Labels: component:common, tag:run-build-and-test-differential

#6921 fix(control_performance_analysis): fix bug of ignoredReturnValue
  control/control_performance_analysis/src/control_performance_analysis_core.cpp
Labels: component:control, tag:run-build-and-test-differential

#6922 fix(perception_online_evaluator): fix bug of constStatement
  evaluator/perception_online_evaluator/src/metrics/detection_count.cpp
Labels: component:evaluator, tag:run-build-and-test-differential

#6917 refactor(bpp): path shifter clang tidy and logging level configuration
  common/tier4_logging_level_configure_rviz_plugin/config/logger_config.yaml
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/path_shifter/path_shifter.hpp
  planning/behavior_path_planner_common/src/utils/path_shifter/path_shifter.cpp
Labels: component:planning, component:common, tag:run-build-and-test-differential

#6797 fix(occupancy_grid_map_outlier_filter): add intensity field
  perception/occupancy_grid_map_outlier_filter/include/occupancy_grid_map_outlier_filter/occupancy_grid_map_outlier_filter_nodelet.hpp
  perception/occupancy_grid_map_outlier_filter/src/occupancy_grid_map_outlier_filter_nodelet.cpp
Labels: component:perception, tag:run-build-and-test-differential

#6904 feat(crosswalk)!: change ego min assumed speed
  planning/behavior_velocity_crosswalk_module/config/crosswalk.param.yaml
  planning/behavior_velocity_crosswalk_module/src/manager.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
Labels: component:planning, tag:run-build-and-test-differential

#6847 perf(lane_change): rework object filter
  planning/behavior_path_avoidance_by_lane_change_module/src/scene.cpp
  planning/behavior_path_goal_planner_module/src/util.cpp
  planning/behavior_path_lane_change_module/README.md
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/scene.hpp
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/utils/data_structs.hpp
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/utils/debug_structs.hpp
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/utils/utils.hpp
  planning/behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_lane_change_module/src/utils/utils.cpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/path_safety_checker/objects_filtering.hpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/path_safety_checker/safety_check.hpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/utils.hpp
  planning/behavior_path_planner_common/src/utils/path_safety_checker/objects_filtering.cpp
  planning/behavior_path_planner_common/src/utils/path_safety_checker/safety_check.cpp
  planning/behavior_path_planner_common/src/utils/utils.cpp
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/pull_out_planner_base.hpp
  planning/behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: type:documentation, component:planning, tag:deploy-docs, tag:run-build-and-test-differential

#6931 fix(lane_change): return safe is object list is empty
  planning/behavior_path_lane_change_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6932 fix(diagnostic_graph_aggregator): fix a bug where unit links were incorrectly updated
  system/diagnostic_graph_aggregator/src/common/graph/config.cpp
Labels: component:system, tag:run-build-and-test-differential

#6912 feat(autonomous_emergency_braking): add obstacle velocity estimation for AEB
  control/autonomous_emergency_braking/README.md
  control/autonomous_emergency_braking/config/autonomous_emergency_braking.param.yaml
  control/autonomous_emergency_braking/include/autonomous_emergency_braking/node.hpp
  control/autonomous_emergency_braking/src/node.cpp
Labels: type:documentation, component:control, tag:run-build-and-test-differential

#6900 feat(start_planner): add centerline crossing check
  planning/behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6923 fix(ground_segmentation): fix warning of identicalConditionAfterEarlyExit
  perception/ground_segmentation/src/scan_ground_filter_nodelet.cpp
Labels: component:perception, tag:run-build-and-test-differential

#6849 fix(voxel_grid_downsample_filter): add intensity field
  launch/tier4_perception_launch/launch/object_recognition/detection/pointcloud_map_filter.launch.py
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/downsample_filter/faster_voxel_grid_downsample_filter.hpp
  sensing/pointcloud_preprocessor/src/downsample_filter/faster_voxel_grid_downsample_filter.cpp
Labels: component:sensing, component:launch, tag:run-build-and-test-differential

#6062 feat(freespace_planner): only plan if ego is stopped
  planning/freespace_planner/include/freespace_planner/freespace_planner_node.hpp
  planning/freespace_planner/src/freespace_planner/freespace_planner_node.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6902 feat(image projection based fusion): unrecify 3d point for image projection based fusion
  perception/image_projection_based_fusion/include/image_projection_based_fusion/roi_detected_object_fusion/node.hpp
  perception/image_projection_based_fusion/include/image_projection_based_fusion/roi_pointcloud_fusion/node.hpp
  perception/image_projection_based_fusion/include/image_projection_based_fusion/segmentation_pointcloud_fusion/node.hpp
  perception/image_projection_based_fusion/include/image_projection_based_fusion/utils/utils.hpp
  perception/image_projection_based_fusion/package.xml
  perception/image_projection_based_fusion/src/pointpainting_fusion/node.cpp
  perception/image_projection_based_fusion/src/roi_cluster_fusion/node.cpp
  perception/image_projection_based_fusion/src/roi_detected_object_fusion/node.cpp
  perception/image_projection_based_fusion/src/roi_pointcloud_fusion/node.cpp
  perception/image_projection_based_fusion/src/segmentation_pointcloud_fusion/node.cpp
  perception/image_projection_based_fusion/src/utils/utils.cpp
Labels: component:perception, tag:run-build-and-test-differential

#6885 perf(route_handler): simplify queries on the road and shoulder lanelets
  planning/behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_goal_planner_module/src/util.cpp
  planning/behavior_path_planner_common/src/utils/path_safety_checker/objects_filtering.cpp
  planning/behavior_path_planner_common/src/utils/path_utils.cpp
  planning/behavior_path_planner_common/src/utils/utils.cpp
  planning/behavior_path_start_planner_module/src/util.cpp
  planning/route_handler/include/route_handler/route_handler.hpp
  planning/route_handler/src/route_handler.cpp
  planning/static_centerline_generator/src/static_centerline_generator_node.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6943 refactor(lane_change): move getCurrentTurnSignalInfo to scene file
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/interface.hpp
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/scene.hpp
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/utils/base_class.hpp
  planning/behavior_path_lane_change_module/src/interface.cpp
  planning/behavior_path_lane_change_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6947 refactor(avoidance): organize alias
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/data_structs.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/debug.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/helper.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/scene.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/shift_line_generator.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/type_alias.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/utils.hpp
  planning/behavior_path_avoidance_module/src/debug.cpp
  planning/behavior_path_avoidance_module/src/scene.cpp
  planning/behavior_path_avoidance_module/src/shift_line_generator.cpp
  planning/behavior_path_avoidance_module/src/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6924 fix(tvm_utility): fix warning of negativeContainerIndex
  common/tvm_utility/example/yolo_v2_tiny/main.cpp
Labels: component:common, tag:run-build-and-test-differential

#6929 perf(yabloc): fix performance warning of iterateByValue
  localization/yabloc/yabloc_pose_initializer/src/camera/projector_module.cpp
Labels: component:localization, tag:run-build-and-test-differential

#6850 feat: add low_intensity_cluster_filter
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/camera_lidar_detector.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
  perception/raindrop_cluster_filter/CMakeLists.txt
  perception/raindrop_cluster_filter/config/low_intensity_cluster_filter.param.yaml
  perception/raindrop_cluster_filter/include/raindrop_cluster_filter/low_intensity_cluster_filter/low_intensity_cluster_filter.hpp
  perception/raindrop_cluster_filter/launch/low_intensity_cluster_filter.launch.xml
  perception/raindrop_cluster_filter/package.xml
  perception/raindrop_cluster_filter/raindrop_cluster_filter.md
  perception/raindrop_cluster_filter/src/low_intensity_cluster_filter.cpp
Labels: type:documentation, component:perception, component:launch, tag:run-build-and-test-differential

#6951 feat(vehicle_cmd_gate): support for real time update params for v cmd gate
  control/vehicle_cmd_gate/src/vehicle_cmd_filter.cpp
  control/vehicle_cmd_gate/src/vehicle_cmd_filter.hpp
  control/vehicle_cmd_gate/src/vehicle_cmd_gate.cpp
  control/vehicle_cmd_gate/src/vehicle_cmd_gate.hpp
Labels: component:control, tag:run-build-and-test-differential

#6925 fix(traffic_light_classifier): fix warning of uninitvar
  perception/traffic_light_classifier/src/cnn_classifier.cpp
Labels: component:perception, tag:run-build-and-test-differential

#6952 feat(build_depends): add glog-vendor
  build_depends.repos
Labels: tag:run-build-and-test-differential

#6854 feat(goal_planner): align z-height of road_shoulder
  planning/behavior_path_goal_planner_module/src/shift_pull_over.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6570 feat(autoware_pose_covariance_modifier): add new node to early fuse gnss and ndt poses
  launch/tier4_localization_launch/launch/pose_twist_estimator/ndt_scan_matcher.launch.xml
  launch/tier4_localization_launch/launch/pose_twist_estimator/pose_twist_estimator.launch.xml
  localization/autoware_pose_covariance_modifier/CMakeLists.txt
  localization/autoware_pose_covariance_modifier/README.md
  localization/autoware_pose_covariance_modifier/config/pose_covariance_modifier.param.yaml
  localization/autoware_pose_covariance_modifier/doc/range_lerp.svg
  localization/autoware_pose_covariance_modifier/launch/pose_covariance_modifier.launch.xml
  localization/autoware_pose_covariance_modifier/package.xml
  localization/autoware_pose_covariance_modifier/schema/pose_covariance_modifier.schema.json
  localization/autoware_pose_covariance_modifier/src/include/pose_covariance_modifier.hpp
  localization/autoware_pose_covariance_modifier/src/pose_covariance_modifier.cpp
Labels: type:documentation, component:localization, component:launch, tag:run-build-and-test-differential, tag:pr-agent, Review effort [1-5]: 4

#6792 chore(glog): add initialization check
  common/glog_component/CMakeLists.txt
  common/glog_component/package.xml
  common/glog_component/src/glog_component.cpp
  evaluator/perception_online_evaluator/CMakeLists.txt
  evaluator/perception_online_evaluator/package.xml
  evaluator/perception_online_evaluator/src/perception_online_evaluator_node.cpp
  localization/ndt_scan_matcher/package.xml
  localization/ndt_scan_matcher/src/ndt_scan_matcher_node.cpp
  localization/pose_estimator_arbiter/package.xml
  localization/pose_estimator_arbiter/src/pose_estimator_arbiter/pose_estimator_arbiter_node.cpp
  localization/yabloc/yabloc_common/package.xml
  localization/yabloc/yabloc_common/src/ground_server/ground_server_node.cpp
  localization/yabloc/yabloc_particle_filter/src/camera_corrector/camera_particle_corrector_node.cpp
  perception/map_based_prediction/package.xml
  perception/map_based_prediction/src/map_based_prediction_node.cpp
  perception/multi_object_tracker/CMakeLists.txt
  perception/multi_object_tracker/package.xml
  perception/multi_object_tracker/src/multi_object_tracker_node.cpp
  perception/radar_object_tracker/package.xml
  perception/radar_object_tracker/src/radar_object_tracker_node/radar_object_tracker_node.cpp
  perception/tracking_object_merger/package.xml
  perception/tracking_object_merger/src/decorative_tracker_merger.cpp
Labels: component:perception, component:localization, component:common, component:evaluator, tag:run-build-and-test-differential

#6954 feat(image projection based fusion): revert #6902 (unrecify 3d point for image projection based fusion)
  perception/image_projection_based_fusion/include/image_projection_based_fusion/roi_detected_object_fusion/node.hpp
  perception/image_projection_based_fusion/include/image_projection_based_fusion/roi_pointcloud_fusion/node.hpp
  perception/image_projection_based_fusion/include/image_projection_based_fusion/segmentation_pointcloud_fusion/node.hpp
  perception/image_projection_based_fusion/include/image_projection_based_fusion/utils/utils.hpp
  perception/image_projection_based_fusion/package.xml
  perception/image_projection_based_fusion/src/pointpainting_fusion/node.cpp
  perception/image_projection_based_fusion/src/roi_cluster_fusion/node.cpp
  perception/image_projection_based_fusion/src/roi_detected_object_fusion/node.cpp
  perception/image_projection_based_fusion/src/roi_pointcloud_fusion/node.cpp
  perception/image_projection_based_fusion/src/segmentation_pointcloud_fusion/node.cpp
  perception/image_projection_based_fusion/src/utils/utils.cpp
Labels: tag:run-build-and-test-differential

#6950 chore: update sensing/perception maintainer
  perception/ground_segmentation/package.xml
  perception/map_based_prediction/package.xml
  perception/object_range_splitter/package.xml
  perception/traffic_light_classifier/package.xml
  perception/traffic_light_map_based_detector/package.xml
  perception/traffic_light_visualization/package.xml
  sensing/image_diagnostics/package.xml
  sensing/pointcloud_preprocessor/package.xml
Labels: component:perception, component:sensing, tag:run-build-and-test-differential

#6927 fix(system_monitor): fix warning of containerOutOfBounds
  system/system_monitor/src/net_monitor/net_monitor.cpp
Labels: component:system, tag:run-build-and-test-differential

#6953 fix(bpp): keep publishing rtc cooperate status
  planning/behavior_path_planner/include/behavior_path_planner/planner_manager.hpp
  planning/behavior_path_planner/src/planner_manager.cpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/interface/scene_module_interface.hpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/interface/scene_module_manager_interface.hpp
Labels: component:planning, tag:run-build-and-test-differential

#6791 fix(ground_segmentation): add intensity field
  perception/ground_segmentation/include/ground_segmentation/ray_ground_filter_nodelet.hpp
  perception/ground_segmentation/src/ransac_ground_filter_nodelet.cpp
  perception/ground_segmentation/src/ray_ground_filter_nodelet.cpp
  perception/ground_segmentation/src/scan_ground_filter_nodelet.cpp
Labels: component:perception, tag:run-build-and-test-differential

#6877 feat(map_based_prediction): use different time horizon
  perception/map_based_prediction/config/map_based_prediction.param.yaml
  perception/map_based_prediction/include/map_based_prediction/map_based_prediction_node.hpp
  perception/map_based_prediction/include/map_based_prediction/path_generator.hpp
  perception/map_based_prediction/schema/map_based_prediction.schema.json
  perception/map_based_prediction/src/map_based_prediction_node.cpp
  perception/map_based_prediction/src/path_generator.cpp
Labels: component:perception, tag:run-build-and-test-differential

#6964 fix(map_based_prediction): improve pedestrian path generation efficiency
  perception/map_based_prediction/src/map_based_prediction_node.cpp
  perception/map_based_prediction/src/path_generator.cpp
Labels: component:perception, tag:run-build-and-test-differential

#6965 feat(goal_planner): fix non-thread-safe access in goal_planner (revert of #6809 and minor fix)
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/geometric_pull_over.hpp
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/goal_searcher.hpp
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/goal_searcher_base.hpp
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/shift_pull_over.hpp
  planning/behavior_path_goal_planner_module/src/geometric_pull_over.cpp
  planning/behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_goal_planner_module/src/goal_searcher.cpp
  planning/behavior_path_goal_planner_module/src/shift_pull_over.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6956 feat(autonomous_emergency_braking): add param update support for AEB
  control/autonomous_emergency_braking/include/autonomous_emergency_braking/node.hpp
  control/autonomous_emergency_braking/src/node.cpp
Labels: component:control, tag:run-build-and-test-differential

#6966 fix(autonomous_emergency_braking): add missing erase to velocity history
  control/autonomous_emergency_braking/include/autonomous_emergency_braking/node.hpp
Labels: component:control, tag:run-build-and-test-differential

#6957 fix(componet_state_monitor): remove ndt node alive monitoring
  system/component_state_monitor/config/topics.yaml
Labels: component:system, tag:run-build-and-test-differential

#6939 feat(path_sampler): make the trajectory smoother, add params, fix crash
  planning/behavior_path_sampling_planner_module/src/sampling_planner_module.cpp
  planning/sampling_based_planner/path_sampler/include/path_sampler/node.hpp
  planning/sampling_based_planner/path_sampler/include/path_sampler/parameters.hpp
  planning/sampling_based_planner/path_sampler/src/node.cpp
  planning/sampling_based_planner/sampler_common/include/sampler_common/constraints/hard_constraint.hpp
  planning/sampling_based_planner/sampler_common/include/sampler_common/structures.hpp
  planning/sampling_based_planner/sampler_common/src/sampler_common/constraints/hard_constraint.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6970 fix(map_based_prediction): revert use different time horizon (#6877)
  perception/map_based_prediction/config/map_based_prediction.param.yaml
  perception/map_based_prediction/include/map_based_prediction/map_based_prediction_node.hpp
  perception/map_based_prediction/include/map_based_prediction/path_generator.hpp
  perception/map_based_prediction/schema/map_based_prediction.schema.json
  perception/map_based_prediction/src/map_based_prediction_node.cpp
  perception/map_based_prediction/src/path_generator.cpp
Labels: component:perception, tag:run-build-and-test-differential

#6959 feat(control_evaluator): implement a control evaluator
  evaluator/control_evaluator/CMakeLists.txt
  evaluator/control_evaluator/README.md
  evaluator/control_evaluator/include/control_evaluator/control_evaluator_node.hpp
  evaluator/control_evaluator/launch/control_evaluator.launch.xml
  evaluator/control_evaluator/package.xml
  evaluator/control_evaluator/param/control_evaluator.defaults.yaml
  evaluator/control_evaluator/src/control_evaluator_node.cpp
  launch/tier4_control_launch/launch/control.launch.py
  launch/tier4_control_launch/package.xml
Labels: type:documentation, component:launch, component:evaluator, tag:run-build-and-test-differential

#6883 feat: update rviz2 overlay
  common/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/include/turn_signals_display.hpp
  common/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/src/gear_display.cpp
  common/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/src/signal_display.cpp
  common/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/src/speed_display.cpp
  common/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/src/speed_limit_display.cpp
  common/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/src/steering_wheel_display.cpp
  common/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/src/traffic_display.cpp
  common/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/src/turn_signals_display.cpp
Labels: component:common, tag:run-build-and-test-differential, type:ui-ux

#6967 perf(side_shift): fix unupdated prev path that caused heavy interpolation
  planning/behavior_path_side_shift_module/include/behavior_path_side_shift_module/scene.hpp
  planning/behavior_path_side_shift_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6980 refactor(mission_planner): remove redundant `is_reroute` check
  planning/mission_planner/src/mission_planner/mission_planner.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6978 fix(autoware_overlay_rviz_plugin): fix subs and cleanup
  common/autoware_overlay_rviz_plugin/autoware_overlay_msgs/CHANGELOG.rst
  common/autoware_overlay_rviz_plugin/autoware_overlay_msgs/CMakeLists.txt
  common/autoware_overlay_rviz_plugin/autoware_overlay_msgs/msg/OverlayText.msg
  common/autoware_overlay_rviz_plugin/autoware_overlay_msgs/package.xml
  common/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/CMakeLists.txt
  common/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/include/overlay_text_display.hpp
  common/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/include/overlay_utils.hpp
  common/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/package.xml
  common/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/src/overlay_text_display.cpp
  common/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/src/signal_display.cpp
Labels: type:documentation, component:common, tag:run-build-and-test-differential

#6973 fix(tier4_calibration_rviz_plugin): fix to set service name and exception failure
  common/tier4_calibration_rviz_plugin/src/accel_brake_map_calibrator_button_panel.cpp
  common/tier4_calibration_rviz_plugin/src/accel_brake_map_calibrator_button_panel.hpp
Labels: component:common, tag:run-build-and-test-differential

#6972 test: behavior path obstacle avoidance
  planning/behavior_path_avoidance_module/test/test_utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6933 feat(rtc_interface)!: add new field to rtc cooperate status
  planning/behavior_path_avoidance_by_lane_change_module/src/interface.cpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/scene.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/type_alias.hpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/interface/scene_module_interface.hpp
  planning/behavior_velocity_blind_spot_module/src/manager.cpp
  planning/behavior_velocity_crosswalk_module/src/manager.cpp
  planning/behavior_velocity_detection_area_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_no_stopping_area_module/src/manager.cpp
  planning/behavior_velocity_planner_common/include/behavior_velocity_planner_common/scene_module_interface.hpp
  planning/behavior_velocity_planner_common/src/scene_module_interface.cpp
  planning/behavior_velocity_traffic_light_module/src/manager.cpp
  planning/rtc_interface/include/rtc_interface/rtc_interface.hpp
  planning/rtc_interface/src/rtc_interface.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6982 fix(behavior_velocity_run_out_module): initialize `accel_reason_`
  planning/behavior_velocity_run_out_module/src/debug.cpp
  planning/behavior_velocity_run_out_module/src/debug.hpp
Labels: component:planning, tag:run-build-and-test-differential

#6855 feat: add autoware_remaining_distance_time_calculator and overlay
  common/autoware_overlay_rviz_plugin/autoware_mission_details_overlay_rviz_plugin/CMakeLists.txt
  common/autoware_overlay_rviz_plugin/autoware_mission_details_overlay_rviz_plugin/LICENSE
  common/autoware_overlay_rviz_plugin/autoware_mission_details_overlay_rviz_plugin/README.md
  common/autoware_overlay_rviz_plugin/autoware_mission_details_overlay_rviz_plugin/assets/av_timer.png
  common/autoware_overlay_rviz_plugin/autoware_mission_details_overlay_rviz_plugin/assets/font/Quicksand/LICENSE
  common/autoware_overlay_rviz_plugin/autoware_mission_details_overlay_rviz_plugin/assets/font/Quicksand/static/Quicksand-Bold.ttf
  common/autoware_overlay_rviz_plugin/autoware_mission_details_overlay_rviz_plugin/assets/font/Quicksand/static/Quicksand-Regular.ttf
  common/autoware_overlay_rviz_plugin/autoware_mission_details_overlay_rviz_plugin/assets/path.png
  common/autoware_overlay_rviz_plugin/autoware_mission_details_overlay_rviz_plugin/autoware_mission_details_overlay_rviz_plugin-extras.cmake
  common/autoware_overlay_rviz_plugin/autoware_mission_details_overlay_rviz_plugin/include/mission_details_display.hpp
  common/autoware_overlay_rviz_plugin/autoware_mission_details_overlay_rviz_plugin/include/overlay_utils.hpp
  common/autoware_overlay_rviz_plugin/autoware_mission_details_overlay_rviz_plugin/include/remaining_distance_time_display.hpp
  common/autoware_overlay_rviz_plugin/autoware_mission_details_overlay_rviz_plugin/package.xml
  common/autoware_overlay_rviz_plugin/autoware_mission_details_overlay_rviz_plugin/plugins_description.xml
  common/autoware_overlay_rviz_plugin/autoware_mission_details_overlay_rviz_plugin/src/mission_details_display.cpp
  common/autoware_overlay_rviz_plugin/autoware_mission_details_overlay_rviz_plugin/src/overlay_utils.cpp
  common/autoware_overlay_rviz_plugin/autoware_mission_details_overlay_rviz_plugin/src/remaining_distance_time_display.cpp
  launch/tier4_planning_launch/launch/planning.launch.xml
  launch/tier4_planning_launch/package.xml
  planning/autoware_remaining_distance_time_calculator/CMakeLists.txt
  planning/autoware_remaining_distance_time_calculator/README.md
  planning/autoware_remaining_distance_time_calculator/config/remaining_distance_time_calculator.param.yaml
  planning/autoware_remaining_distance_time_calculator/launch/remaining_distance_time_calculator.launch.xml
  planning/autoware_remaining_distance_time_calculator/package.xml
  planning/autoware_remaining_distance_time_calculator/schema/remaining_distance_time_calculator.schema.json
  planning/autoware_remaining_distance_time_calculator/src/remaining_distance_time_calculator_node.cpp
  planning/autoware_remaining_distance_time_calculator/src/remaining_distance_time_calculator_node.hpp
Labels: type:documentation, component:planning, component:launch, component:common, tag:run-build-and-test-differential

#6992 fix(accel_brake_map_calibrator): fix accel_brake_map_calibrator not to output invalid maps
  vehicle/accel_brake_map_calibrator/src/accel_brake_map_calibrator_node.cpp
Labels: component:vehicle, tag:run-build-and-test-differential

#6994 feat(mrm_emergency_stop_operator): add support for real time param reconfigure for mrm_emergency_stop
  system/mrm_emergency_stop_operator/include/mrm_emergency_stop_operator/mrm_emergency_stop_operator_core.hpp
  system/mrm_emergency_stop_operator/package.xml
  system/mrm_emergency_stop_operator/src/mrm_emergency_stop_operator/mrm_emergency_stop_operator_core.cpp
Labels: component:system, tag:run-build-and-test-differential

#6991 feat(out_of_lane): add option to ignore overlaps in lane changes
  planning/behavior_velocity_out_of_lane_module/config/out_of_lane.param.yaml
  planning/behavior_velocity_out_of_lane_module/src/lanelets_selection.cpp
  planning/behavior_velocity_out_of_lane_module/src/manager.cpp
  planning/behavior_velocity_out_of_lane_module/src/types.hpp
Labels: component:planning, tag:run-build-and-test-differential

#6886 feat(tier4_perception_launch): downsample perception input pointcloud
  launch/tier4_perception_launch/launch/perception.launch.xml
Labels: component:launch, tag:run-build-and-test-differential

#6999 feat(tier4_perception_launch): fix typo error
  launch/tier4_perception_launch/launch/perception.launch.xml
Labels: component:launch, tag:run-build-and-test-differential

#6987 refactor(behavior_velocity_occlusion_spot_module): reduce cppcheck warning
  planning/behavior_velocity_occlusion_spot_module/src/debug.cpp
  planning/behavior_velocity_occlusion_spot_module/src/grid_utils.cpp
  planning/behavior_velocity_occlusion_spot_module/src/occlusion_spot_utils.cpp
  planning/behavior_velocity_occlusion_spot_module/src/occlusion_spot_utils.hpp
Labels: component:planning, tag:run-build-and-test-differential

#6990 fix(ndt_scan_matcher): improved tpe
  localization/ndt_scan_matcher/config/ndt_scan_matcher.param.yaml
  localization/ndt_scan_matcher/schema/sub/initial_pose_estimation.json
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
  localization/tree_structured_parzen_estimator/include/tree_structured_parzen_estimator/tree_structured_parzen_estimator.hpp
  localization/tree_structured_parzen_estimator/src/tree_structured_parzen_estimator.cpp
  localization/tree_structured_parzen_estimator/test/test_tpe.cpp
Labels: component:localization, tag:run-build-and-test-differential

#7000 refactor(behavior_velocity_occlusion_spot_module): remove unnecessary declaration
  planning/behavior_velocity_occlusion_spot_module/src/debug.cpp
  planning/behavior_velocity_occlusion_spot_module/src/occlusion_spot_utils.cpp
  planning/behavior_velocity_occlusion_spot_module/src/occlusion_spot_utils.hpp
Labels: component:planning, tag:run-build-and-test-differential

#7002 chore(tools): move system and evaluation tools to autoware_tools repo from autoware.universe
  evaluator/tier4_metrics_rviz_plugin/CMakeLists.txt
  evaluator/tier4_metrics_rviz_plugin/README.md
  evaluator/tier4_metrics_rviz_plugin/icons/classes/MetricsVisualizePanel.png
  evaluator/tier4_metrics_rviz_plugin/include/metrics_visualize_panel.hpp
  evaluator/tier4_metrics_rviz_plugin/package.xml
  evaluator/tier4_metrics_rviz_plugin/plugins/plugin_description.xml
  evaluator/tier4_metrics_rviz_plugin/src/metrics_visualize_panel.cpp
  tools/rqt_diagnostic_graph_monitor/CMakeLists.txt
  tools/rqt_diagnostic_graph_monitor/README.md
  tools/rqt_diagnostic_graph_monitor/package.xml
  tools/rqt_diagnostic_graph_monitor/plugin.xml
  tools/rqt_diagnostic_graph_monitor/python/__init__.py
  tools/rqt_diagnostic_graph_monitor/python/graph.py
  tools/rqt_diagnostic_graph_monitor/python/items.py
  tools/rqt_diagnostic_graph_monitor/python/module.py
  tools/rqt_diagnostic_graph_monitor/python/utils.py
  tools/rqt_diagnostic_graph_monitor/python/widget.py
  tools/rqt_diagnostic_graph_monitor/script/cui_diagnostic_graph_monitor
  tools/rqt_diagnostic_graph_monitor/script/rqt_diagnostic_graph_monitor
Labels: type:documentation, component:tools, component:evaluator, tag:run-build-and-test-differential

#7003 chore: added maintainer
  planning/behavior_path_avoidance_module/package.xml
  planning/behavior_path_planner/package.xml
  planning/behavior_path_planner_common/package.xml
  planning/route_handler/package.xml
Labels: component:planning, tag:run-build-and-test-differential

#6981 perf(behavior_path_dynamic_avoidance_module): use const reference
  planning/behavior_path_dynamic_avoidance_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7006 refactor(turn_signal_decider): straddle bound method
  planning/behavior_path_planner_common/include/behavior_path_planner_common/turn_signal_decider.hpp
Labels: component:planning, tag:run-build-and-test-differential

#6935 feat(goal_planner): reject candidate path whose start pose direction is not aligned with ego path
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_goal_planner_module/src/goal_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7007 refactor(behavior_velocity_planner_common): move VelocityFactorInterface to motion_utils
  common/motion_utils/CMakeLists.txt
  common/motion_utils/include/motion_utils/factor/velocity_factor_interface.hpp
  common/motion_utils/package.xml
  common/motion_utils/src/factor/velocity_factor_interface.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_planner_common/CMakeLists.txt
  planning/behavior_velocity_planner_common/include/behavior_velocity_planner_common/scene_module_interface.hpp
Labels: component:planning, component:common, tag:run-build-and-test-differential

#7004 fix(start_planner): issue when ego does not straddle lane bounds and starts from 0 speed
  planning/behavior_path_planner_common/src/turn_signal_decider.cpp
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/start_planner_module.hpp
  planning/behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7008 chore(simple_planning_simulator): publish control mode before the self-position is given
  simulator/simple_planning_simulator/src/simple_planning_simulator/simple_planning_simulator_core.cpp
Labels: component:simulation, tag:run-build-and-test-differential

#7009 feat: componentize-system_error_monitor
  system/system_error_monitor/CMakeLists.txt
  system/system_error_monitor/include/system_error_monitor/system_error_monitor_core.hpp
  system/system_error_monitor/launch/system_error_monitor_node.launch.xml
  system/system_error_monitor/package.xml
  system/system_error_monitor/src/system_error_monitor_core.cpp
  system/system_error_monitor/src/system_error_monitor_node.cpp
Labels: component:system, tag:run-build-and-test-differential

#7025 feat(diagnostic_graph_aggregator): componentize node
  system/diagnostic_graph_aggregator/CMakeLists.txt
  system/diagnostic_graph_aggregator/launch/aggregator.launch.xml
  system/diagnostic_graph_aggregator/package.xml
  system/diagnostic_graph_aggregator/src/node/aggregator.cpp
  system/diagnostic_graph_aggregator/src/node/aggregator.hpp
Labels: component:system, tag:run-build-and-test-differential

#7023 feat(component_interface_tools): componentize node
  common/component_interface_tools/CMakeLists.txt
  common/component_interface_tools/launch/service_log_checker.launch.xml
  common/component_interface_tools/package.xml
  common/component_interface_tools/src/service_log_checker.cpp
  common/component_interface_tools/src/service_log_checker.hpp
Labels: component:common, tag:run-build-and-test-differential

#7026 chore(simple_planning_simulator): add maintainer
  simulator/simple_planning_simulator/package.xml
Labels: component:simulation, tag:run-build-and-test-differential

#7020 perf(map_height_fitter): more efficient query to find closest lanelet
  map/map_height_fitter/src/map_height_fitter.cpp
Labels: component:map, tag:run-build-and-test-differential

#7028 fix(autoware_static_centerline_generator): remove prefix from topics and node names
  planning/autoware_static_centerline_generator/rviz/static_centerline_generator.rviz
  planning/autoware_static_centerline_generator/scripts/app.py
  planning/autoware_static_centerline_generator/scripts/centerline_updater_helper.py
  planning/autoware_static_centerline_generator/src/static_centerline_generator_node.cpp
Labels: component:planning, tag:deploy-docs, tag:run-build-and-test-differential

#7012 refactor(route_handler): remove unused functions in route_handler
  planning/route_handler/include/route_handler/route_handler.hpp
  planning/route_handler/src/route_handler.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6930 fix(lane_change): remove terminal in abort path
  planning/behavior_path_lane_change_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7021 feat(automatic_pose_initializer): componentize node
  system/default_ad_api_helpers/automatic_pose_initializer/CMakeLists.txt
  system/default_ad_api_helpers/automatic_pose_initializer/launch/automatic_pose_initializer.launch.xml
  system/default_ad_api_helpers/automatic_pose_initializer/package.xml
  system/default_ad_api_helpers/automatic_pose_initializer/src/automatic_pose_initializer.cpp
  system/default_ad_api_helpers/automatic_pose_initializer/src/automatic_pose_initializer.hpp
Labels: component:system, tag:run-build-and-test-differential

#7022 feat(ad_api_adaptors): componentize nodes
  system/default_ad_api_helpers/ad_api_adaptors/CMakeLists.txt
  system/default_ad_api_helpers/ad_api_adaptors/launch/rviz_adaptors.launch.xml
  system/default_ad_api_helpers/ad_api_adaptors/package.xml
  system/default_ad_api_helpers/ad_api_adaptors/src/initial_pose_adaptor.cpp
  system/default_ad_api_helpers/ad_api_adaptors/src/initial_pose_adaptor.hpp
  system/default_ad_api_helpers/ad_api_adaptors/src/routing_adaptor.cpp
  system/default_ad_api_helpers/ad_api_adaptors/src/routing_adaptor.hpp
Labels: component:system, tag:run-build-and-test-differential

#7035 fix(automatic_pose_initializer): fix plugin name
  system/default_ad_api_helpers/automatic_pose_initializer/CMakeLists.txt
Labels: component:system, tag:run-build-and-test-differential

#7033 perf(lanelet2_map_preprocessor): use set.find instead of std::find
  map/util/lanelet2_map_preprocessor/src/fix_lane_change_tags.cpp
  map/util/lanelet2_map_preprocessor/src/fix_z_value_by_pcd.cpp
  map/util/lanelet2_map_preprocessor/src/merge_close_lines.cpp
  map/util/lanelet2_map_preprocessor/src/merge_close_points.cpp
  map/util/lanelet2_map_preprocessor/src/remove_unreferenced_geometry.cpp
Labels: component:map, tag:run-build-and-test-differential

#6911 fix(avoidance): unexpected road shoulder distance calculation result
  planning/behavior_path_avoidance_module/src/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7005 refactor(planning_test_utils): remove route_handler dependencies
  planning/autoware_planning_test_manager/include/autoware_planning_test_manager/autoware_planning_test_manager_utils.hpp
  planning/autoware_planning_test_manager/src/autoware_planning_test_manager.cpp
  planning/planning_test_utils/include/planning_test_utils/planning_test_utils.hpp
  planning/planning_test_utils/package.xml
Labels: component:planning, tag:run-build-and-test-differential

#6976 feat(tier4_autoware_utils): default QoS setting of polling subscriber
  common/tier4_autoware_utils/include/tier4_autoware_utils/ros/polling_subscriber.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/node.hpp
  planning/obstacle_cruise_planner/src/node.cpp
Labels: component:planning, component:common, tag:run-build-and-test-differential

#7032 fix(bpp, bvp): keep rtc cooperate status even after manager stops module execution
  planning/behavior_path_planner_common/include/behavior_path_planner_common/interface/scene_module_interface.hpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/interface/scene_module_manager_interface.hpp
  planning/behavior_velocity_planner_common/include/behavior_velocity_planner_common/scene_module_interface.hpp
  planning/behavior_velocity_planner_common/src/scene_module_interface.cpp
  planning/rtc_interface/include/rtc_interface/rtc_interface.hpp
  planning/rtc_interface/src/rtc_interface.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7017 feat: componentize-emergency-handler
  system/emergency_handler/CMakeLists.txt
  system/emergency_handler/include/emergency_handler/emergency_handler_core.hpp
  system/emergency_handler/launch/emergency_handler.launch.xml
  system/emergency_handler/package.xml
  system/emergency_handler/src/emergency_handler/emergency_handler_core.cpp
  system/emergency_handler/src/emergency_handler/emergency_handler_node.cpp
Labels: component:system, tag:run-build-and-test-differential

#7018 feat: componentize-mrm-handler
  system/mrm_handler/CMakeLists.txt
  system/mrm_handler/include/mrm_handler/mrm_handler_core.hpp
  system/mrm_handler/launch/mrm_handler.launch.xml
  system/mrm_handler/package.xml
  system/mrm_handler/src/mrm_handler/mrm_handler_core.cpp
  system/mrm_handler/src/mrm_handler/mrm_handler_node.cpp
Labels: component:system, tag:run-build-and-test-differential

#7011 feat(pointcloud_preprocessor): calculate visibility score in ring outlier filter
  sensing/pointcloud_preprocessor/docs/ring-outlier-filter.md
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/outlier_filter/ring_outlier_filter_nodelet.hpp
  sensing/pointcloud_preprocessor/package.xml
  sensing/pointcloud_preprocessor/src/outlier_filter/ring_outlier_filter_nodelet.cpp
Labels: type:documentation, component:sensing, tag:run-build-and-test-differential

#7041 refactor(default_planner): refactor default_planner header not to hide base class public methods
  planning/mission_planner/src/lanelet2_plugins/default_planner.hpp
Labels: component:planning, tag:run-build-and-test-differential

#6955 refactor(motion_utils): supress log message with rclcpp logging
  common/motion_utils/include/motion_utils/resample/resample_utils.hpp
  common/motion_utils/include/motion_utils/trajectory/trajectory.hpp
  common/motion_utils/test/src/trajectory/test_trajectory.cpp
  common/tier4_logging_level_configure_rviz_plugin/config/logger_config.yaml
Labels: component:common, tag:run-build-and-test-differential

#7039 fix(shape_estimation): segfault when the classification was empty
  perception/shape_estimation/src/node.cpp
Labels: component:perception, tag:run-build-and-test-differential

#7050 fix(obstacle_cruise_planner): fix typo
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/node.hpp
Labels: component:planning, tag:run-build-and-test-differential

#7047 feat(radar_object_tracker): fix lanelet based filter and add test
  perception/radar_object_tracker/CMakeLists.txt
  perception/radar_object_tracker/include/radar_object_tracker/utils/radar_object_tracker_utils.hpp
  perception/radar_object_tracker/package.xml
  perception/radar_object_tracker/src/radar_object_tracker_node/radar_object_tracker_node.cpp
  perception/radar_object_tracker/src/utils/radar_object_tracker_utils.cpp
  perception/radar_object_tracker/test/test_radar_object_tracker_utils.cpp
Labels: component:perception, tag:run-build-and-test-differential

#5954 feat(reaction_analyzer): add reaction anaylzer tool to measure end-to-end delay in sudden obstacle braking response
  tools/reaction_analyzer/CMakeLists.txt
  tools/reaction_analyzer/README.md
  tools/reaction_analyzer/include/reaction_analyzer_node.hpp
  tools/reaction_analyzer/include/subscriber.hpp
  tools/reaction_analyzer/include/topic_publisher.hpp
  tools/reaction_analyzer/include/utils.hpp
  tools/reaction_analyzer/launch/reaction_analyzer.launch.xml
  tools/reaction_analyzer/media/PointcloudPublisherType.png
  tools/reaction_analyzer/media/ReactionAnalyzerDesign.png
  tools/reaction_analyzer/media/sc1-awsim.png
  tools/reaction_analyzer/media/sc1-rviz.png
  tools/reaction_analyzer/media/sc2-awsim.png
  tools/reaction_analyzer/media/sc2-rviz.png
  tools/reaction_analyzer/package.xml
  tools/reaction_analyzer/param/reaction_analyzer.param.yaml
  tools/reaction_analyzer/src/reaction_analyzer_node.cpp
  tools/reaction_analyzer/src/subscriber.cpp
  tools/reaction_analyzer/src/topic_publisher.cpp
  tools/reaction_analyzer/src/utils.cpp
Labels: type:documentation, component:tools, tag:run-build-and-test-differential, tag:pr-agent, Review effort [1-5]: 4

#7034 perf(route_handler): avoid unnecessary copies and heavy loops
  planning/route_handler/src/route_handler.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7029 test(lidar_centerpoint): add test
  perception/lidar_centerpoint/CMakeLists.txt
  perception/lidar_centerpoint/test/test_detection_class_remapper.cpp
  perception/lidar_centerpoint/test/test_nms.cpp
  perception/lidar_centerpoint/test/test_ros_utils.cpp
Labels: component:perception, tag:run-build-and-test-differential

#6997 feat(aeb): replace InterProcessPollingSubscriber
  control/autonomous_emergency_braking/include/autonomous_emergency_braking/node.hpp
  control/autonomous_emergency_braking/package.xml
  control/autonomous_emergency_braking/src/node.cpp
Labels: component:control, tag:run-build-and-test-differential

#7044 feat(behavior_velocity_traffic_light): do not overwrite unknown with past known color
  planning/behavior_velocity_planner/src/node.cpp
  planning/behavior_velocity_traffic_light_module/package.xml
  planning/behavior_velocity_traffic_light_module/src/manager.cpp
  planning/behavior_velocity_traffic_light_module/src/manager.hpp
  planning/behavior_velocity_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_traffic_light_module/src/scene.hpp
Labels: component:planning, tag:run-build-and-test-differential

#7054 refactor(map_based_prediction): add const
  perception/map_based_prediction/include/map_based_prediction/path_generator.hpp
  perception/map_based_prediction/src/path_generator.cpp
Labels: component:perception, tag:run-build-and-test-differential

#7056 test(map_based_prediction): add test for path_generator
  perception/map_based_prediction/CMakeLists.txt
  perception/map_based_prediction/test/map_based_prediction/test_path_generator.cpp
  perception/map_based_prediction/test/test_map_based_prediction.cpp
Labels: component:perception, tag:run-build-and-test-differential

#6825 fix(autoware_static_centerline_generator): update the centerline correctly with map projector
  planning/autoware_static_centerline_generator/launch/static_centerline_generator.launch.xml
  planning/autoware_static_centerline_generator/src/static_centerline_generator_node.cpp
  planning/autoware_static_centerline_generator/src/static_centerline_generator_node.hpp
  planning/autoware_static_centerline_generator/src/utils.cpp
  planning/autoware_static_centerline_generator/src/utils.hpp
Labels: component:planning, tag:run-build-and-test-differential

#7040 feat(obstacle cruise): reduce computation cost
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/polygon_utils.hpp
  planning/obstacle_cruise_planner/src/node.cpp
  planning/obstacle_cruise_planner/src/polygon_utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7067 fix(map_based_prediction): fix typo
  perception/map_based_prediction/test/map_based_prediction/test_path_generator.cpp
Labels: component:perception, tag:run-build-and-test-differential

#7062 docs(map_projection_loader): add projector type image
  map/map_projection_loader/README.md
  map/map_projection_loader/docs/map_projector_type.svg
Labels: type:documentation, component:map, tag:run-build-and-test-differential

#7069 docs(behavior_path_planner): fix start and goal planner links
  planning/behavior_path_planner/README.md
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#7059 refactor(tracking_object_merger): remove unread variables
  perception/tracking_object_merger/src/data_association/data_association.cpp
Labels: component:perception, tag:run-build-and-test-differential

#7073 test(shape_estimation): add unit test on shape_estimation
  perception/shape_estimation/CMakeLists.txt
  perception/shape_estimation/package.xml
  perception/shape_estimation/test/shape_estimation/test_shape_estimator.cpp
  perception/shape_estimation/test/test_shape_estimation.cpp
Labels: component:perception, tag:run-build-and-test-differential

#7060 refactor(ground_segmentation): refactor based on cppcheck
  perception/ground_segmentation/src/ransac_ground_filter_nodelet.cpp
  perception/ground_segmentation/src/scan_ground_filter_nodelet.cpp
Labels: component:perception, tag:run-build-and-test-differential

#7049 docs(behavior_velocity): organize traffic light color action
  planning/behavior_velocity_planner/README.md
Labels: type:documentation, component:planning, tag:deploy-docs, tag:run-build-and-test-differential

#6961 feat(route_handler): add unit tests
  planning/planning_test_utils/CMakeLists.txt
  planning/planning_test_utils/include/planning_test_utils/mock_data_parser.hpp
  planning/planning_test_utils/include/planning_test_utils/planning_test_utils.hpp
  planning/planning_test_utils/src/mock_data_parser.cpp
  planning/planning_test_utils/test/test_mock_data_parser.cpp
  planning/planning_test_utils/test_data/lanelet_route_parser_test.yaml
  planning/planning_test_utils/test_map/2km_test.osm
  planning/route_handler/CMakeLists.txt
  planning/route_handler/README.md
  planning/route_handler/images/lane_change_test_route.svg
  planning/route_handler/images/route_handler_test.svg
  planning/route_handler/package.xml
  planning/route_handler/test/test_route_handler.cpp
  planning/route_handler/test/test_route_handler.hpp
  planning/route_handler/test_route/lane_change_test_route.yaml
Labels: type:documentation, component:planning, tag:deploy-docs, tag:run-build-and-test-differential

#7079 perf(mission_planner): remove queries on all road and shoulder lanelets
  planning/mission_planner/src/lanelet2_plugins/default_planner.cpp
  planning/mission_planner/src/lanelet2_plugins/default_planner.hpp
  planning/mission_planner/src/lanelet2_plugins/utility_functions.cpp
  planning/mission_planner/src/lanelet2_plugins/utility_functions.hpp
Labels: component:planning, tag:run-build-and-test-differential

#6986 refactor(behavior_velocity_no_stopping_area_module): cppcheck warnings
  planning/behavior_velocity_no_stopping_area_module/src/scene_no_stopping_area.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7078 fix(behavior_velocity_planner): fix uninitialized smoother param
  planning/behavior_velocity_planner/src/node.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6818 fix(euclidean_cluster): add intensity field
  perception/euclidean_cluster/include/euclidean_cluster/euclidean_cluster.hpp
  perception/euclidean_cluster/include/euclidean_cluster/euclidean_cluster_interface.hpp
  perception/euclidean_cluster/include/euclidean_cluster/utils.hpp
  perception/euclidean_cluster/include/euclidean_cluster/voxel_grid_based_euclidean_cluster.hpp
  perception/euclidean_cluster/lib/euclidean_cluster.cpp
  perception/euclidean_cluster/lib/utils.cpp
  perception/euclidean_cluster/lib/voxel_grid_based_euclidean_cluster.cpp
  perception/euclidean_cluster/src/voxel_grid_based_euclidean_cluster_node.cpp
Labels: component:perception, tag:run-build-and-test-differential

#7083 fix(rtc_interface): use clock created by node to judge expired cooperate status
  planning/rtc_interface/include/rtc_interface/rtc_interface.hpp
  planning/rtc_interface/src/rtc_interface.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7086 fix(planning_test_utils): fix build error `-werror=sign-compare`
  planning/planning_test_utils/test/test_mock_data_parser.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7085 docs(behavior_velocity_planner): remove misspelling
  planning/behavior_velocity_planner/README.md
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#6998 fix(avoidance): transit rtc cooperate state to FAILED from RUNNING
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/scene.hpp
  planning/behavior_path_avoidance_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7036 feat: update autoware state panel
  common/tier4_state_rviz_plugin/CMakeLists.txt
  common/tier4_state_rviz_plugin/icons/assets/active.png
  common/tier4_state_rviz_plugin/icons/assets/crash.png
  common/tier4_state_rviz_plugin/icons/assets/danger.png
  common/tier4_state_rviz_plugin/icons/assets/none.png
  common/tier4_state_rviz_plugin/icons/assets/pending.png
  common/tier4_state_rviz_plugin/package.xml
  common/tier4_state_rviz_plugin/src/autoware_state_panel.cpp
  common/tier4_state_rviz_plugin/src/custom_button.cpp
  common/tier4_state_rviz_plugin/src/custom_container.cpp
  common/tier4_state_rviz_plugin/src/custom_icon_label.cpp
  common/tier4_state_rviz_plugin/src/custom_label.cpp
  common/tier4_state_rviz_plugin/src/custom_segmented_button.cpp
  common/tier4_state_rviz_plugin/src/custom_segmented_button_item.cpp
  common/tier4_state_rviz_plugin/src/custom_slider.cpp
  common/tier4_state_rviz_plugin/src/custom_toggle_switch.cpp
  common/tier4_state_rviz_plugin/src/include/autoware_state_panel.hpp
  common/tier4_state_rviz_plugin/src/include/custom_button.hpp
  common/tier4_state_rviz_plugin/src/include/custom_container.hpp
  common/tier4_state_rviz_plugin/src/include/custom_icon_label.hpp
  common/tier4_state_rviz_plugin/src/include/custom_label.hpp
  common/tier4_state_rviz_plugin/src/include/custom_segmented_button.hpp
  common/tier4_state_rviz_plugin/src/include/custom_segmented_button_item.hpp
  common/tier4_state_rviz_plugin/src/include/custom_slider.hpp
  common/tier4_state_rviz_plugin/src/include/custom_toggle_switch.hpp
  common/tier4_state_rviz_plugin/src/include/material_colors.hpp
  common/tier4_state_rviz_plugin/src/include/velocity_steering_factors_panel.hpp
  common/tier4_state_rviz_plugin/src/velocity_steering_factors_panel.cpp
Labels: type:documentation, component:common, tag:run-build-and-test-differential, type:ui-ux

#7089 fix(avoidance): fix logger level
  planning/behavior_path_avoidance_module/src/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7084 fix(motion_utils): remove only first point whose orientation is invalid
  common/motion_utils/include/motion_utils/trajectory/trajectory.hpp
  common/motion_utils/test/src/trajectory/test_trajectory.cpp
  planning/behavior_path_planner_common/src/utils/path_shifter/path_shifter.cpp
Labels: component:planning, component:common, tag:run-build-and-test-differential

#7091 chore(image_projection_based_fusion): add unit test for utils
  perception/image_projection_based_fusion/CMakeLists.txt
  perception/image_projection_based_fusion/package.xml
  perception/image_projection_based_fusion/test/test_utils.cpp
Labels: component:perception, tag:run-build-and-test-differential

#7097 feat(avoidance): make it selectable output debug marker from yaml
  planning/behavior_path_avoidance_module/config/avoidance.param.yaml
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/data_structs.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/debug.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/parameter_helper.hpp
  planning/behavior_path_avoidance_module/schema/avoidance.schema.json
  planning/behavior_path_avoidance_module/src/debug.cpp
  planning/behavior_path_avoidance_module/src/manager.cpp
  planning/behavior_path_avoidance_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7098 feat(autonomous_emergency_braking): add info about IMU vs Steering info for AEB doc
  control/autonomous_emergency_braking/README.md
Labels: type:documentation, component:control, tag:run-build-and-test-differential

#7103 perf(behavior_path_planner_common): remove unnecessary angle calculation in OccupancyGridMapBasedDetector
  planning/behavior_path_planner_common/src/utils/occupancy_grid_based_collision_detector/occupancy_grid_based_collision_detector.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7099 feat(stop_filter): componentize StopFilter
  localization/stop_filter/CMakeLists.txt
  localization/stop_filter/include/stop_filter/stop_filter.hpp
  localization/stop_filter/launch/stop_filter.launch.xml
  localization/stop_filter/package.xml
  localization/stop_filter/src/stop_filter.cpp
  localization/stop_filter/src/stop_filter_node.cpp
Labels: component:localization, tag:run-build-and-test-differential

#7101 feat(twist2accel): componentize Twist2Accel
  localization/twist2accel/CMakeLists.txt
  localization/twist2accel/include/twist2accel/twist2accel.hpp
  localization/twist2accel/launch/twist2accel.launch.xml
  localization/twist2accel/package.xml
  localization/twist2accel/src/twist2accel.cpp
  localization/twist2accel/src/twist2accel_node.cpp
Labels: component:localization, tag:run-build-and-test-differential

#7102 feat(localization_error_monitor): componentize LocalizationErrorMonitor
  localization/localization_error_monitor/CMakeLists.txt
  localization/localization_error_monitor/include/localization_error_monitor/localization_error_monitor.hpp
  localization/localization_error_monitor/launch/localization_error_monitor.launch.xml
  localization/localization_error_monitor/package.xml
  localization/localization_error_monitor/src/localization_error_monitor.cpp
  localization/localization_error_monitor/src/main.cpp
Labels: component:localization, tag:run-build-and-test-differential

#7104 feat(localization_error_monitor): componentize EKFLocalizer
  localization/ekf_localizer/CMakeLists.txt
  localization/ekf_localizer/include/ekf_localizer/ekf_localizer.hpp
  localization/ekf_localizer/launch/ekf_localizer.launch.xml
  localization/ekf_localizer/package.xml
  localization/ekf_localizer/src/ekf_localizer.cpp
  localization/ekf_localizer/src/ekf_localizer_node.cpp
Labels: component:localization, tag:run-build-and-test-differential

#7113 feat(pose2twist): componentize Pose2Twist
  localization/pose2twist/CMakeLists.txt
  localization/pose2twist/include/pose2twist/pose2twist_core.hpp
  localization/pose2twist/launch/pose2twist.launch.xml
  localization/pose2twist/package.xml
  localization/pose2twist/src/pose2twist_core.cpp
  localization/pose2twist/src/pose2twist_node.cpp
Labels: component:localization, tag:run-build-and-test-differential

#7115 fix(perception_online_evaluator): fix range resolution
  evaluator/perception_online_evaluator/param/perception_online_evaluator.defaults.yaml
Labels: component:evaluator, tag:run-build-and-test-differential

#7090 refactor(gyro_odometer): componentize node in gyro_odometer
  localization/gyro_odometer/CMakeLists.txt
  localization/gyro_odometer/include/gyro_odometer/gyro_odometer_core.hpp
  localization/gyro_odometer/launch/gyro_odometer.launch.xml
  localization/gyro_odometer/package.xml
  localization/gyro_odometer/src/gyro_odometer_core.cpp
  localization/gyro_odometer/src/gyro_odometer_node.cpp
  localization/gyro_odometer/test/test_gyro_odometer_pubsub.cpp
Labels: component:localization, tag:run-build-and-test-differential

#7100 feat(perception_online_evaluator): add metric_value not only stat
  evaluator/perception_online_evaluator/include/perception_online_evaluator/metrics/metric.hpp
  evaluator/perception_online_evaluator/include/perception_online_evaluator/metrics_calculator.hpp
  evaluator/perception_online_evaluator/include/perception_online_evaluator/perception_online_evaluator_node.hpp
  evaluator/perception_online_evaluator/src/metrics_calculator.cpp
  evaluator/perception_online_evaluator/src/perception_online_evaluator_node.cpp
  evaluator/perception_online_evaluator/test/test_perception_online_evaluator_node.cpp
Labels: component:evaluator, tag:run-build-and-test-differential

#7114 feat(pose_instability_detector): componentize PoseInstabilityDetector
  localization/pose_instability_detector/CMakeLists.txt
  localization/pose_instability_detector/launch/pose_instability_detector.launch.xml
  localization/pose_instability_detector/package.xml
  localization/pose_instability_detector/src/main.cpp
  localization/pose_instability_detector/src/pose_instability_detector.cpp
Labels: component:localization, tag:run-build-and-test-differential

#7105 refactor(obstacle_cruise): refactor a function checkConsistency()
  planning/obstacle_cruise_planner/src/node.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7043 feat(default_ad_api): use diagnostic graph
  launch/tier4_system_launch/launch/system.launch.xml
  system/default_ad_api/src/operation_mode.cpp
  system/default_ad_api/src/operation_mode.hpp
  system/system_diagnostic_monitor/launch/system_diagnostic_monitor.launch.xml
Labels: component:system, component:launch, tag:run-build-and-test-differential

#7118 fix(perception_online_evaluator): revert "add metric_value not only stat (#7100)"
  evaluator/perception_online_evaluator/include/perception_online_evaluator/metrics/metric.hpp
  evaluator/perception_online_evaluator/include/perception_online_evaluator/metrics_calculator.hpp
  evaluator/perception_online_evaluator/include/perception_online_evaluator/perception_online_evaluator_node.hpp
  evaluator/perception_online_evaluator/src/metrics_calculator.cpp
  evaluator/perception_online_evaluator/src/perception_online_evaluator_node.cpp
  evaluator/perception_online_evaluator/test/test_perception_online_evaluator_node.cpp
Labels: component:evaluator, tag:run-build-and-test-differential

#6969 feat(default_ad_api): add heratbeat api
  common/autoware_ad_api_specs/include/autoware_ad_api_specs/system.hpp
  system/default_ad_api/CMakeLists.txt
  system/default_ad_api/launch/default_ad_api.launch.py
  system/default_ad_api/src/heartbeat.cpp
  system/default_ad_api/src/heartbeat.hpp
Labels: component:system, component:common, tag:run-build-and-test-differential

#7117 fix(multi_object_tracker): revert mot node implementation to composable node components
  perception/multi_object_tracker/CMakeLists.txt
  perception/multi_object_tracker/launch/multi_object_tracker.launch.xml
  perception/multi_object_tracker/src/multi_object_tracker_core.cpp
  perception/multi_object_tracker/src/multi_object_tracker_node.cpp
Labels: component:perception, tag:run-build-and-test-differential

#7112 fix(ndt_scan_matcher): modify diagnostic
  localization/ndt_scan_matcher/README.md
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
Labels: type:documentation, component:localization, tag:run-build-and-test-differential

#7120 feat(tier4_autoware_utils): faster sin and cos
  common/tier4_autoware_utils/include/tier4_autoware_utils/math/trigonometry.hpp
  common/tier4_autoware_utils/src/math/trigonometry.cpp
  common/tier4_autoware_utils/test/src/math/test_trigonometry.cpp
Labels: component:common, tag:run-build-and-test-differential

#7110 refactor(blind_spot): devide scene into Categories and act accordingly
  planning/behavior_velocity_blind_spot_module/CMakeLists.txt
  planning/behavior_velocity_blind_spot_module/src/debug.cpp
  planning/behavior_velocity_blind_spot_module/src/decisions.cpp
  planning/behavior_velocity_blind_spot_module/src/manager.cpp
  planning/behavior_velocity_blind_spot_module/src/scene.cpp
  planning/behavior_velocity_blind_spot_module/src/scene.hpp
Labels: component:planning, tag:run-build-and-test-differential

#7119 feat(behavior_path_planner_common): update RTC state to SUCCEEDED
  planning/behavior_path_planner_common/include/behavior_path_planner_common/interface/scene_module_interface.hpp
Labels: component:planning, tag:run-build-and-test-differential
