Repository autowarefoundation/autoware_universe, pull requests merged in 2024-02, with the labels that each got.

#6236 feat(start_planner): disable safety check against dynamic objects when ego polygon overlap with centerline
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/start_planner_module.hpp
  planning/behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6254 fix(obstacle_stop): add vector size guard
  planning/obstacle_stop_planner/src/node.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6211 chore(radar_tracks_noise_filter): add config
  sensing/radar_tracks_noise_filter/CMakeLists.txt
  sensing/radar_tracks_noise_filter/config/radar_tracks_noise_filter.param.yaml
  sensing/radar_tracks_noise_filter/launch/radar_tracks_noise_filter.launch.xml
Labels: component:sensing, tag:run-build-and-test-differential

#6212 chore(simple_object_merger): add config
  perception/simple_object_merger/CMakeLists.txt
  perception/simple_object_merger/README.md
  perception/simple_object_merger/config/simple_object_merger.param.yaml
  perception/simple_object_merger/launch/simple_object_merger.launch.xml
Labels: type:documentation, component:perception, tag:run-build-and-test-differential

#6213 chore(radar_tracks_msgs_converter): add config
  perception/radar_tracks_msgs_converter/CMakeLists.txt
  perception/radar_tracks_msgs_converter/config/radar_tracks_msgs_converter.param.yaml
  perception/radar_tracks_msgs_converter/launch/radar_tracks_msgs_converter.launch.xml
Labels: component:perception, tag:run-build-and-test-differential

#6214 chore(radar_object_clustering): fix config arg name
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/radar_detector.launch.xml
  perception/radar_object_clustering/launch/radar_object_clustering.launch.xml
Labels: component:perception, component:launch, tag:run-build-and-test-differential

#6210 chore(radar_crossing_objects_noise_filter): add config file
  launch/tier4_perception_launch/launch/object_recognition/detection/detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/radar_detector.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
  perception/radar_crossing_objects_noise_filter/CMakeLists.txt
  perception/radar_crossing_objects_noise_filter/config/radar_crossing_objects_noise_filter.param.yaml
  perception/radar_crossing_objects_noise_filter/launch/radar_crossing_objects_noise_filter.launch.xml
Labels: component:perception, component:launch, tag:run-build-and-test-differential

#6215 chore(tier4_perception_launch): fix arg name radar lanelet filter
  launch/tier4_perception_launch/launch/object_recognition/detection/detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/radar_detector.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
Labels: component:launch, tag:run-build-and-test-differential

#6278 ci(build-and-test-differential): use github runner
  .github/workflows/build-and-test-differential.yaml
Labels: type:ci, tag:run-build-and-test-differential

#6208 refactor(ndt_scan_matcher): hierarchize parameters
  localization/ndt_scan_matcher/config/ndt_scan_matcher.param.yaml
  localization/ndt_scan_matcher/include/ndt_scan_matcher/hyper_parameters.hpp
  localization/ndt_scan_matcher/include/ndt_scan_matcher/map_update_module.hpp
  localization/ndt_scan_matcher/include/ndt_scan_matcher/ndt_scan_matcher_core.hpp
  localization/ndt_scan_matcher/src/map_update_module.cpp
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
Labels: component:localization, tag:run-build-and-test-differential

#6284 chore(tier4_map_launch): add maintainer
  launch/tier4_map_launch/package.xml
Labels: component:launch, tag:run-build-and-test-differential

#6279 feat(intersection_occlusion)!: react RTC disapproval and stop even if occlusion detection is OFF
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6056 feat(pointcloud_preprocessor): add pipeline latency time debug information for pointcloud pipeline
  sensing/pointcloud_preprocessor/README.md
  sensing/pointcloud_preprocessor/docs/image/pointcloud_preprocess_pipeline.drawio.png
  sensing/pointcloud_preprocessor/src/concatenate_data/concatenate_and_time_sync_nodelet.cpp
  sensing/pointcloud_preprocessor/src/crop_box_filter/crop_box_filter_nodelet.cpp
  sensing/pointcloud_preprocessor/src/distortion_corrector/distortion_corrector.cpp
  sensing/pointcloud_preprocessor/src/outlier_filter/ring_outlier_filter_nodelet.cpp
Labels: type:documentation, component:sensing, tag:run-build-and-test-differential

#6283 ci(build-and-test-differential): add df -h
  .github/workflows/build-and-test-differential.yaml
Labels: type:ci, tag:run-build-and-test-differential

#6228 feat(detection): add container option
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/camera_lidar_detector.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/lidar_dnn_detector.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/lidar_rule_detector.launch.xml
  perception/euclidean_cluster/launch/euclidean_cluster.launch.py
  perception/euclidean_cluster/launch/euclidean_cluster.launch.xml
  perception/euclidean_cluster/launch/voxel_grid_based_euclidean_cluster.launch.py
  perception/euclidean_cluster/launch/voxel_grid_based_euclidean_cluster.launch.xml
  perception/image_projection_based_fusion/launch/pointpainting_fusion.launch.xml
  perception/lidar_centerpoint/config/detection_class_remapper.param.yaml
  perception/lidar_centerpoint/launch/lidar_centerpoint.launch.xml
Labels: component:perception, component:launch, tag:run-build-and-test-differential

#6264 docs(start_planner): show typical usecase of start planner and limitaion
  planning/behavior_path_start_planner_module/README.md
  planning/behavior_path_start_planner_module/images/freespace_pull_out.png
  planning/behavior_path_start_planner_module/images/geometric_pull_out_path.drawio.svg
  planning/behavior_path_start_planner_module/images/geometric_pull_out_path_with_back.drawio.svg
  planning/behavior_path_start_planner_module/images/shift_pull_out_path.drawio.svg
  planning/behavior_path_start_planner_module/images/shift_pull_out_path_from_road_lane.drawio.svg
  planning/behavior_path_start_planner_module/images/shift_pull_out_path_with_back.drawio.svg
  planning/behavior_path_start_planner_module/images/start_from_road_shoulder.drawio.svg
  planning/behavior_path_start_planner_module/images/start_from_road_side.drawio.svg
  planning/behavior_path_start_planner_module/images/start_planner_example.png
Labels: type:documentation, component:planning, tag:deploy-docs, tag:run-build-and-test-differential

#6110 refactor(start_planner): visualize drivable lanes for shift path and pull_out_lanes for collision detection
  planning/behavior_path_start_planner_module/config/start_planner.param.yaml
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/data_structs.hpp
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/shift_pull_out.hpp
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/start_planner_module.hpp
  planning/behavior_path_start_planner_module/src/shift_pull_out.cpp
  planning/behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6194 docs(goal_planner): update docs
  planning/behavior_path_goal_planner_module/README.md
  planning/behavior_path_goal_planner_module/images/goal_planner-collision_check_margin.drawio.svg
  planning/behavior_path_goal_planner_module/images/goal_planner-deciding_path.drawio.svg
  planning/behavior_path_goal_planner_module/images/goal_planner-goal_candidates.drawio.svg
  planning/behavior_path_goal_planner_module/images/goal_planner-goal_distance.drawio.svg
  planning/behavior_path_goal_planner_module/images/goal_planner-is_safe.drawio.svg
  planning/behavior_path_goal_planner_module/images/goal_planner-longitudinal_margin.drawio.svg
  planning/behavior_path_goal_planner_module/images/goal_planner-object_to_avoid.drawio.svg
  planning/behavior_path_goal_planner_module/images/goal_planner-refined_goal.drawio.svg
  planning/behavior_path_goal_planner_module/images/goal_planner-safety_check.drawio.svg
  planning/behavior_path_goal_planner_module/images/goal_planner-threads.drawio.svg
  planning/behavior_path_goal_planner_module/images/goal_priority_object_to_avoid_rviz.png
  planning/behavior_path_goal_planner_module/images/goal_priority_rviz.png
  planning/behavior_path_goal_planner_module/images/goal_priority_with_goal.png
Labels: type:documentation, component:planning, tag:deploy-docs, tag:run-build-and-test-differential

#6051 fix(bpp): transition from IDLE to WAITING APPROVAL
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/scene.hpp
  planning/behavior_path_dynamic_avoidance_module/include/behavior_path_dynamic_avoidance_module/scene.hpp
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/interface.hpp
  planning/behavior_path_lane_change_module/src/interface.cpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/interface/scene_module_interface.hpp
  planning/behavior_path_side_shift_module/include/behavior_path_side_shift_module/scene.hpp
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/start_planner_module.hpp
Labels: component:planning, tag:run-build-and-test-differential

#6292 ci(build-and-test-differential): remove prevent-no-label-execution
  .github/workflows/build-and-test-differential.yaml
Labels: type:ci

#6082 feat(multi_object_tracker): mot bicycle model revision
  perception/multi_object_tracker/include/multi_object_tracker/tracker/model/bicycle_tracker.hpp
  perception/multi_object_tracker/include/multi_object_tracker/tracker/model/big_vehicle_tracker.hpp
  perception/multi_object_tracker/include/multi_object_tracker/tracker/model/normal_vehicle_tracker.hpp
  perception/multi_object_tracker/models.md
  perception/multi_object_tracker/src/data_association/data_association.cpp
  perception/multi_object_tracker/src/tracker/model/bicycle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/big_vehicle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/normal_vehicle_tracker.cpp
Labels: type:documentation, component:perception, tag:run-build-and-test-differential

#6253 refactor(map_projection_loader): rework parameters
  launch/tier4_map_launch/launch/map.launch.xml
  map/map_projection_loader/CMakeLists.txt
  map/map_projection_loader/README.md
  map/map_projection_loader/config/map_projection_loader.param.yaml
  map/map_projection_loader/launch/map_projection_loader.launch.xml
  map/map_projection_loader/schema/map_projection_loader.schema.json
Labels: type:documentation, component:map, component:launch, tag:deploy-docs, tag:run-build-and-test-differential

#6245 chore(lanelet2_map_loader): enrich error message
  map/map_loader/src/lanelet2_map_loader/lanelet2_map_loader_node.cpp
Labels: tag:run-build-and-test-differential

#6251 docs(lane_change): add description for lane expansion
  planning/behavior_path_lane_change_module/README.md
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#6286 fix(merge_from_private): fix stop position calculation
  planning/behavior_velocity_intersection_module/src/scene_merge_from_private_road.cpp
Labels: component:planning

#6274 fix(tensorrt_common): revert change that breaks build on Jetson Orin
  common/tensorrt_common/include/tensorrt_common/logger.hpp
Labels: component:common, tag:run-build-and-test-differential

#6294 revert(map_loader): revert the change error handling when pcd_metadata file
  map/map_loader/src/pointcloud_map_loader/pointcloud_map_loader_node.cpp
Labels: component:map

#6189 feat(map_based_prediction): consider crosswalks signals
  perception/map_based_prediction/config/map_based_prediction.param.yaml
  perception/map_based_prediction/include/map_based_prediction/map_based_prediction_node.hpp
  perception/map_based_prediction/launch/map_based_prediction.launch.xml
  perception/map_based_prediction/package.xml
  perception/map_based_prediction/src/map_based_prediction_node.cpp
Labels: component:perception, tag:run-build-and-test-differential

#6273 feat(intersection): initially ignore occlusion at intersection with tl, if tl info has never been available
  planning/behavior_velocity_intersection_module/src/scene_intersection_occlusion.cpp
Labels: component:planning

#6293 chore(goal_planner): suppress error message
  planning/behavior_path_goal_planner_module/src/goal_planner_module.cpp
Labels: tag:run-build-and-test-differential

#6295 docs(goal_planner): modify threads docs
  planning/behavior_path_goal_planner_module/images/goal_planner-threads.drawio.svg
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#6298 fix(obstacle_avoidance_planner, path_smoother): change logger level of debug print
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/utils/trajectory_utils.hpp
  planning/path_smoother/include/path_smoother/utils/trajectory_utils.hpp
Labels: component:planning, tag:run-build-and-test-differential

#6306 ci(build-and-test-differential): revert use github runner
  .github/workflows/build-and-test-differential.yaml
Labels: type:ci, tag:run-build-and-test-differential

#6242 feat(obstacle_cruise_planner): yield function for ocp
  planning/obstacle_cruise_planner/README.md
  planning/obstacle_cruise_planner/config/obstacle_cruise_planner.param.yaml
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/common_structs.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/node.hpp
  planning/obstacle_cruise_planner/src/node.cpp
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#6229 refactor(ndt_scan_matcher): rework parameters
  localization/ndt_scan_matcher/README.md
  localization/ndt_scan_matcher/schema/ndt_scan_matcher.schema.json
  localization/ndt_scan_matcher/schema/sub/covariance.json
  localization/ndt_scan_matcher/schema/sub/covariance_covariance_estimation.json
  localization/ndt_scan_matcher/schema/sub/dynamic_map_loading.json
  localization/ndt_scan_matcher/schema/sub/frame.json
  localization/ndt_scan_matcher/schema/sub/initial_pose_estimation.json
  localization/ndt_scan_matcher/schema/sub/ndt.json
  localization/ndt_scan_matcher/schema/sub/ndt_regularization.json
  localization/ndt_scan_matcher/schema/sub/score_estimation.json
  localization/ndt_scan_matcher/schema/sub/score_estimation_no_ground_points.json
  localization/ndt_scan_matcher/schema/sub/validation.json
Labels: type:documentation, component:localization

#6285 fix(avoidance): don't use polygon centroid in shiftable ratio calculation
  planning/behavior_path_avoidance_module/src/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6301 fix(occlusion_spot): set proper condition on optional value
  planning/behavior_velocity_occlusion_spot_module/src/occlusion_spot_utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6318 fix(behavior_path_start_planner_module): check if pull_out_path is empty
  planning/behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6315 fix(intersection): fix stopline midpoint calculation
  planning/behavior_velocity_intersection_module/src/object_manager.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6240 fix(simple_planning_simulator): fix steering bias model
  simulator/simple_planning_simulator/README.md
  simulator/simple_planning_simulator/include/simple_planning_simulator/simple_planning_simulator_core.hpp
  simulator/simple_planning_simulator/include/simple_planning_simulator/vehicle_model/sim_model_delay_steer_acc.hpp
  simulator/simple_planning_simulator/include/simple_planning_simulator/vehicle_model/sim_model_delay_steer_acc_geared.hpp
  simulator/simple_planning_simulator/include/simple_planning_simulator/vehicle_model/sim_model_delay_steer_map_acc_geared.hpp
  simulator/simple_planning_simulator/include/simple_planning_simulator/vehicle_model/sim_model_delay_steer_vel.hpp
  simulator/simple_planning_simulator/src/simple_planning_simulator/simple_planning_simulator_core.cpp
  simulator/simple_planning_simulator/src/simple_planning_simulator/vehicle_model/sim_model_delay_steer_acc.cpp
  simulator/simple_planning_simulator/src/simple_planning_simulator/vehicle_model/sim_model_delay_steer_acc_geared.cpp
  simulator/simple_planning_simulator/src/simple_planning_simulator/vehicle_model/sim_model_delay_steer_map_acc_geared.cpp
  simulator/simple_planning_simulator/src/simple_planning_simulator/vehicle_model/sim_model_delay_steer_vel.cpp
Labels: type:documentation, component:simulation, tag:run-build-and-test-differential

#6196 refactor(ekf_localizer): rework parameters
  localization/ekf_localizer/README.md
  localization/ekf_localizer/config/ekf_localizer.param.yaml
  localization/ekf_localizer/include/ekf_localizer/hyper_parameters.hpp
  localization/ekf_localizer/launch/ekf_localizer.launch.xml
  localization/ekf_localizer/schema/ekf_localizer.schema.json
  localization/ekf_localizer/schema/sub/diagnostics.sub_schema.json
  localization/ekf_localizer/schema/sub/misc.sub_schema.json
  localization/ekf_localizer/schema/sub/node.sub_schema.json
  localization/ekf_localizer/schema/sub/pose_measurement.sub_schema.json
  localization/ekf_localizer/schema/sub/process_noise.sub_schema.json
  localization/ekf_localizer/schema/sub/simple_1d_filter_parameters.sub_schema.json
  localization/ekf_localizer/schema/sub/twist_measurement.sub_schema.json
Labels: type:documentation, component:localization, tag:deploy-docs, tag:run-build-and-test-differential

#6303 docs(behavior_path_goal_planner): fix typo tha -> the
  planning/behavior_path_goal_planner_module/README.md
Labels: type:documentation, component:planning

#6144 feat(pose_estimator_arbiter): add pose_estimator_arbiter with simple switching rule
  launch/tier4_localization_launch/launch/localization.launch.xml
  launch/tier4_localization_launch/launch/pose_twist_estimator/ar_tag_based_localizer.launch.xml
  launch/tier4_localization_launch/launch/pose_twist_estimator/pose_twist_estimator.launch.xml
  launch/tier4_localization_launch/package.xml
  localization/pose_estimator_arbiter/CMakeLists.txt
  localization/pose_estimator_arbiter/README.md
  localization/pose_estimator_arbiter/example_rule/CMakeLists.txt
  localization/pose_estimator_arbiter/example_rule/README.md
  localization/pose_estimator_arbiter/example_rule/src/pose_estimator_arbiter/rule_helper/grid_key.hpp
  localization/pose_estimator_arbiter/example_rule/src/pose_estimator_arbiter/rule_helper/pcd_occupancy.cpp
  localization/pose_estimator_arbiter/example_rule/src/pose_estimator_arbiter/rule_helper/pcd_occupancy.hpp
  localization/pose_estimator_arbiter/example_rule/src/pose_estimator_arbiter/rule_helper/pose_estimator_area.cpp
  localization/pose_estimator_arbiter/example_rule/src/pose_estimator_arbiter/rule_helper/pose_estimator_area.hpp
  localization/pose_estimator_arbiter/example_rule/src/pose_estimator_arbiter/switch_rule/pcd_map_based_rule.cpp
  localization/pose_estimator_arbiter/example_rule/src/pose_estimator_arbiter/switch_rule/pcd_map_based_rule.hpp
  localization/pose_estimator_arbiter/example_rule/src/pose_estimator_arbiter/switch_rule/vector_map_based_rule.cpp
  localization/pose_estimator_arbiter/example_rule/src/pose_estimator_arbiter/switch_rule/vector_map_based_rule.hpp
  localization/pose_estimator_arbiter/example_rule/test/test_pcd_map_based_rule.cpp
  localization/pose_estimator_arbiter/example_rule/test/test_rule_helper.cpp
  localization/pose_estimator_arbiter/example_rule/test/test_vector_map_based_rule.cpp
  localization/pose_estimator_arbiter/launch/pose_estimator_arbiter.launch.xml
  localization/pose_estimator_arbiter/media/architecture.drawio.svg
  localization/pose_estimator_arbiter/media/pcd_occupancy.drawio.svg
  localization/pose_estimator_arbiter/media/pose_estimator_area_in_vector_map.png
  localization/pose_estimator_arbiter/media/single_pose_estimator.drawio.svg
  localization/pose_estimator_arbiter/package.xml
  localization/pose_estimator_arbiter/src/pose_estimator_arbiter/pose_estimator_arbiter.hpp
  localization/pose_estimator_arbiter/src/pose_estimator_arbiter/pose_estimator_arbiter_core.cpp
  localization/pose_estimator_arbiter/src/pose_estimator_arbiter/pose_estimator_arbiter_node.cpp
  localization/pose_estimator_arbiter/src/pose_estimator_arbiter/pose_estimator_type.hpp
  localization/pose_estimator_arbiter/src/pose_estimator_arbiter/shared_data.hpp
  localization/pose_estimator_arbiter/src/pose_estimator_arbiter/stopper/base_stopper.hpp
  localization/pose_estimator_arbiter/src/pose_estimator_arbiter/stopper/stopper_artag.hpp
  localization/pose_estimator_arbiter/src/pose_estimator_arbiter/stopper/stopper_eagleye.hpp
  localization/pose_estimator_arbiter/src/pose_estimator_arbiter/stopper/stopper_ndt.hpp
  localization/pose_estimator_arbiter/src/pose_estimator_arbiter/stopper/stopper_yabloc.hpp
  localization/pose_estimator_arbiter/src/pose_estimator_arbiter/switch_rule/base_switch_rule.hpp
  localization/pose_estimator_arbiter/src/pose_estimator_arbiter/switch_rule/enable_all_rule.cpp
  localization/pose_estimator_arbiter/src/pose_estimator_arbiter/switch_rule/enable_all_rule.hpp
  localization/pose_estimator_arbiter/test/test_pose_estimator_arbiter.py
  localization/pose_estimator_arbiter/test/test_shared_data.cpp
Labels: type:documentation, component:localization, component:launch, tag:run-build-and-test-differential

#6167 chore(lidar_centerpoint): rework parameters
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/lidar_dnn_detector.launch.xml
  perception/lidar_centerpoint/README.md
  perception/lidar_centerpoint/config/centerpoint.param.yaml
  perception/lidar_centerpoint/config/centerpoint_tiny.param.yaml
  perception/lidar_centerpoint/launch/lidar_centerpoint.launch.xml
Labels: type:documentation, component:perception, component:launch, tag:run-build-and-test-differential

#6233 refactor(map_tf_generator): rework parameters
  launch/tier4_map_launch/launch/map.launch.xml
  map/map_tf_generator/CMakeLists.txt
  map/map_tf_generator/README.md
  map/map_tf_generator/config/map_tf_generator.param.yaml
  map/map_tf_generator/launch/map_tf_generator.launch.xml
  map/map_tf_generator/schema/map_tf_generator.schema.json
  map/map_tf_generator/src/pcd_map_tf_generator_node.cpp
  map/map_tf_generator/src/vector_map_tf_generator_node.cpp
Labels: type:documentation, component:map, component:launch, tag:run-build-and-test-differential

#6131 feat(behavior_path_sampling_module): add sampling based planner
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.xml
  planning/behavior_path_planner/config/scene_module_manager.param.yaml
  planning/behavior_path_planner/launch/behavior_path_planner.launch.xml
  planning/behavior_path_planner/package.xml
  planning/behavior_path_sampling_planner_module/CMakeLists.txt
  planning/behavior_path_sampling_planner_module/README.md
  planning/behavior_path_sampling_planner_module/config/sampling_planner.param.yaml
  planning/behavior_path_sampling_planner_module/include/behavior_path_sampling_planner_module/manager.hpp
  planning/behavior_path_sampling_planner_module/include/behavior_path_sampling_planner_module/sampling_planner_module.hpp
  planning/behavior_path_sampling_planner_module/include/behavior_path_sampling_planner_module/sampling_planner_parameters.hpp
  planning/behavior_path_sampling_planner_module/include/behavior_path_sampling_planner_module/util.hpp
  planning/behavior_path_sampling_planner_module/package.xml
  planning/behavior_path_sampling_planner_module/plugins.xml
  planning/behavior_path_sampling_planner_module/src/manager.cpp
  planning/behavior_path_sampling_planner_module/src/sampling_planner_module.cpp
  planning/sampling_based_planner/frenet_planner/include/frenet_planner/frenet_planner.hpp
  planning/sampling_based_planner/frenet_planner/src/frenet_planner/frenet_planner.cpp
  planning/sampling_based_planner/sampler_common/include/sampler_common/constraints/hard_constraint.hpp
  planning/sampling_based_planner/sampler_common/include/sampler_common/structures.hpp
Labels: type:documentation, component:planning, component:launch, tag:deploy-docs, tag:run-build-and-test-differential

#6327 refactor(map_height_fitter): rework parameters
  map/map_height_fitter/CMakeLists.txt
  map/map_height_fitter/README.md
  map/map_height_fitter/config/map_height_fitter.param.yaml
  map/map_height_fitter/launch/map_height_fitter.launch.xml
  map/map_height_fitter/schema/map_height_fitter.schema.json
Labels: type:documentation, component:map, tag:run-build-and-test-differential

#6187 fix(start_planner): remove debug print statement in setDrivableAreaInfo function
  planning/behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6322 fix(start/goal_planner): fix multi thread memory crash
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/start_planner_module.hpp
  planning/behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6287 refactor(tier4_localization_launch): use util.launch.xml instead of util.launch.py
  launch/tier4_localization_launch/launch/pose_twist_estimator/pose_twist_estimator.launch.xml
  launch/tier4_localization_launch/launch/util/util.launch.py
  launch/tier4_localization_launch/launch/util/util.launch.xml
Labels: component:launch, tag:run-build-and-test-differential

#6329 docs(start_planner): add start/end condition
  planning/behavior_path_start_planner_module/README.md
  planning/behavior_path_start_planner_module/images/collision_check_range.drawio.svg
  planning/behavior_path_start_planner_module/images/collision_check_range_shift_pull_out.drawio.svg
  planning/behavior_path_start_planner_module/images/geometric_pull_out_path_with_back.drawio.svg
  planning/behavior_path_start_planner_module/images/priority_order.drawio.svg
  planning/behavior_path_start_planner_module/images/start_pose_candidate.drawio.svg
Labels: type:documentation, component:planning, tag:deploy-docs, tag:run-build-and-test-differential

#6337 fix(multi_object_tracker): bicycle motion model - set minimum wheel-to-center length
  perception/multi_object_tracker/src/tracker/model/bicycle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/big_vehicle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/normal_vehicle_tracker.cpp
Labels: component:perception, tag:run-build-and-test-differential

#6335 fix(intersection_occlusion): fix for PR6273 without traffic light
  planning/behavior_velocity_intersection_module/src/scene_intersection_occlusion.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6320 fix(avoidance): unexpected stop decision in avoidance module
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/helper.hpp
  planning/behavior_path_avoidance_module/src/shift_line_generator.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6314 fix(image_projection_based_fusion): fix spell check and typo minx -> min_x etc...
  perception/image_projection_based_fusion/config/segmentation_pointcloud_fusion.param.yaml
  perception/image_projection_based_fusion/include/image_projection_based_fusion/fusion_node.hpp
  perception/image_projection_based_fusion/launch/roi_cluster_fusion.launch.xml
  perception/image_projection_based_fusion/src/fusion_node.cpp
  perception/image_projection_based_fusion/src/roi_cluster_fusion/node.cpp
  perception/image_projection_based_fusion/src/roi_detected_object_fusion/node.cpp
Labels: component:perception, tag:run-build-and-test-differential

#6277 feat(pointcloud_preprocessor): enable to count empty pointclouds topic in concatenate pointclouds nodelet
  sensing/pointcloud_preprocessor/src/concatenate_data/concatenate_and_time_sync_nodelet.cpp
  sensing/pointcloud_preprocessor/src/time_synchronizer/time_synchronizer_nodelet.cpp
Labels: component:sensing, tag:run-build-and-test-differential

#5773 refactor(pose_initializer): rework parameters
  localization/pose_initializer/README.md
  localization/pose_initializer/config/pose_initializer.param.yaml
  localization/pose_initializer/launch/pose_initializer.launch.xml
  localization/pose_initializer/schema/pose_initializer.schema.json
Labels: type:documentation, component:localization, tag:run-build-and-test-differential

#6312 fix(object_range_splitter): delete default param in src
  perception/object_range_splitter/src/node.cpp
Labels: component:perception, tag:run-build-and-test-differential

#6259 chore(object_velocity_splitter): fix README
  perception/object_velocity_splitter/README.md
Labels: type:documentation, component:perception, tag:run-build-and-test-differential

#6217 chore(planning/control/vehicle): declare ROS params in yaml files
  control/joy_controller/config/joy_controller.param.yaml
  control/joy_controller/launch/joy_controller.launch.xml
  control/trajectory_follower_node/CMakeLists.txt
  control/trajectory_follower_node/config/simple_trajectory_follower.param.yaml
  control/trajectory_follower_node/launch/simple_trajectory_follower.launch.xml
  control/vehicle_cmd_gate/config/vehicle_cmd_gate.param.yaml
  control/vehicle_cmd_gate/launch/vehicle_cmd_gate.launch.xml
  control/vehicle_cmd_gate/test/src/test_filter_in_vehicle_cmd_gate_node.cpp
  planning/obstacle_avoidance_planner/launch/obstacle_avoidance_planner.launch.xml
  planning/obstacle_stop_planner/launch/obstacle_stop_planner.launch.xml
  vehicle/external_cmd_converter/CMakeLists.txt
  vehicle/external_cmd_converter/config/external_cmd_converter.param.yaml
  vehicle/external_cmd_converter/launch/external_cmd_converter.launch.xml
Labels: component:planning, component:control, component:vehicle, tag:run-build-and-test-differential

#6328 feat(intersection): use different expected deceleration for bike/car
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_intersection_module/src/scene_intersection_collision.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6347 chore(object_type_panel): update rosparam name config
  common/tier4_target_object_type_rviz_plugin/src/target_object_type_panel.cpp
Labels: component:common, tag:run-build-and-test-differential

#6299 chore(intersection): add const to member functions, replace enum with class tag for occlusion
  planning/behavior_velocity_intersection_module/src/object_manager.cpp
  planning/behavior_velocity_intersection_module/src/object_manager.hpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_intersection_module/src/scene_intersection_collision.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection_occlusion.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection_prepare_data.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6199 chore(map_loader): rework parameters of map_loader
  map/map_loader/README.md
  map/map_loader/config/lanelet2_map_loader.param.yaml
  map/map_loader/config/pointcloud_map_loader.param.yaml
  map/map_loader/launch/lanelet2_map_loader.launch.xml
  map/map_loader/launch/pointcloud_map_loader.launch.xml
  map/map_loader/schema/lanelet2_map_loader.schema.json
  map/map_loader/schema/pointcloud_map_loader.schema.json
  map/map_loader/src/lanelet2_map_loader/lanelet2_map_loader_node.cpp
  map/map_loader/src/lanelet2_map_loader/lanelet2_map_visualization_node.cpp
  map/map_loader/test/lanelet2_map_loader_launch.test.py
Labels: type:documentation, component:map, tag:run-build-and-test-differential

#6333 chore(ndt scan matcher): rename config path
  launch/tier4_localization_launch/launch/localization.launch.xml
  launch/tier4_localization_launch/launch/pose_twist_estimator/ndt_scan_matcher.launch.xml
  launch/tier4_localization_launch/launch/util/util.launch.xml
Labels: component:launch, tag:run-build-and-test-differential

#6353 feat(start/goal_planner): remove unused param and update time horizon for goal planner's safety check
  planning/behavior_path_goal_planner_module/config/goal_planner.param.yaml
  planning/behavior_path_start_planner_module/README.md
  planning/behavior_path_start_planner_module/config/start_planner.param.yaml
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#6115 feat: remove use_pointcloud_container
  launch/tier4_perception_launch/launch/object_recognition/detection/detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/camera_lidar_detector.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/lidar_dnn_detector.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/lidar_rule_detector.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/pointcloud_map_filter.launch.py
  launch/tier4_perception_launch/launch/obstacle_segmentation/ground_segmentation/ground_segmentation.launch.py
  launch/tier4_perception_launch/launch/occupancy_grid_map/probabilistic_occupancy_grid_map.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.xml
  launch/tier4_sensing_launch/launch/sensing.launch.xml
Labels: component:launch, tag:run-build-and-test-differential

#6252 feat(avoidance): consider objects on shift side lane
  planning/behavior_path_avoidance_by_lane_change_module/src/scene.cpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/data_structs.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/helper.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/utils.hpp
  planning/behavior_path_avoidance_module/src/debug.cpp
  planning/behavior_path_avoidance_module/src/scene.cpp
  planning/behavior_path_avoidance_module/src/shift_line_generator.cpp
  planning/behavior_path_avoidance_module/src/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6339 fix(lane_change): orientation check when constructing path
  planning/behavior_path_lane_change_module/src/utils/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6325 chore(intersection): target type param
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_intersection_module/src/scene_intersection_collision.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection_stuck.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6350 chore(tier4_localization_launch): add maintainer
  launch/tier4_localization_launch/package.xml
Labels: component:launch, tag:run-build-and-test-differential

#6343 fix(multi_object_tracker): tune parameters for pedestrian tracker
  perception/multi_object_tracker/src/tracker/model/bicycle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/big_vehicle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/normal_vehicle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/pedestrian_tracker.cpp
Labels: component:perception, tag:run-build-and-test-differential

#6316 fix(map_based_prediction): fix typo for filename
  perception/map_based_prediction/schema/map_based_prediction.schema.json
Labels: component:perception, tag:run-build-and-test-differential

#6354 fix(readme): add acknowledgement for material icons in tool plugins
  common/tier4_adapi_rviz_plugin/README.md
  common/tier4_automatic_goal_rviz_plugin/README.md
  common/tier4_camera_view_rviz_plugin/README.md
  common/tier4_perception_rviz_plugin/README.md
  common/tier4_planning_rviz_plugin/README.md
Labels: type:documentation, component:common, tag:run-build-and-test-differential, type:ui-ux

#6357 fix(static_drivable_area_expansion): fix invalid z-pos
  planning/behavior_path_planner_common/src/utils/drivable_area_expansion/static_drivable_area.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6260 chore(radar_object_clustering): fix README
  perception/radar_object_clustering/README.md
Labels: type:documentation, component:perception, tag:run-build-and-test-differential

#6321 build(tier4_metrics_rviz_plugin): add missing dependency
  evaluator/tier4_metrics_rviz_plugin/package.xml
Labels: component:evaluator, tag:run-build-and-test-differential

#6258 fix(front_vehicle_velocity): delete package
  perception/front_vehicle_velocity_estimator/CMakeLists.txt
  perception/front_vehicle_velocity_estimator/README.md
  perception/front_vehicle_velocity_estimator/include/front_vehicle_velocity_estimator/front_vehicle_velocity_estimator.hpp
  perception/front_vehicle_velocity_estimator/include/front_vehicle_velocity_estimator/front_vehicle_velocity_estimator_node.hpp
  perception/front_vehicle_velocity_estimator/launch/front_vehicle_velocity_estimator.launch.xml
  perception/front_vehicle_velocity_estimator/package.xml
  perception/front_vehicle_velocity_estimator/src/front_vehicle_velocity_estimator_node/front_vehicle_velocity_estimator.cpp
  perception/front_vehicle_velocity_estimator/src/front_vehicle_velocity_estimator_node/front_vehicle_velocity_estimator_node.cpp
Labels: type:documentation, component:perception, tag:run-build-and-test-differential

#6262 chore(radar_crossing_objects_noise_filter): fix README
  perception/radar_crossing_objects_noise_filter/README.md
Labels: type:documentation, component:perception, tag:run-build-and-test-differential

#6346 fix(AEB): check empty path at low speed
  control/autonomous_emergency_braking/include/autonomous_emergency_braking/node.hpp
  control/autonomous_emergency_braking/package.xml
  control/autonomous_emergency_braking/src/node.cpp
Labels: component:control, tag:run-build-and-test-differential

#6360 feat(traffic_light_ssd_fine_detector): remove package
  perception/traffic_light_ssd_fine_detector/.gitignore
  perception/traffic_light_ssd_fine_detector/CMakeLists.txt
  perception/traffic_light_ssd_fine_detector/README.md
  perception/traffic_light_ssd_fine_detector/include/traffic_light_ssd_fine_detector/nodelet.hpp
  perception/traffic_light_ssd_fine_detector/launch/traffic_light_ssd_fine_detector.launch.xml
  perception/traffic_light_ssd_fine_detector/lib/include/cuda_utils.hpp
  perception/traffic_light_ssd_fine_detector/lib/include/gather_topk.hpp
  perception/traffic_light_ssd_fine_detector/lib/include/gather_topk_kernel.hpp
  perception/traffic_light_ssd_fine_detector/lib/include/grid_priors.hpp
  perception/traffic_light_ssd_fine_detector/lib/include/grid_priors_kernel.hpp
  perception/traffic_light_ssd_fine_detector/lib/include/trt_plugin_helper.hpp
  perception/traffic_light_ssd_fine_detector/lib/include/trt_serialize.hpp
  perception/traffic_light_ssd_fine_detector/lib/include/trt_ssd.hpp
  perception/traffic_light_ssd_fine_detector/lib/src/plugins/gather_topk.cpp
  perception/traffic_light_ssd_fine_detector/lib/src/plugins/gather_topk_kernel.cu
  perception/traffic_light_ssd_fine_detector/lib/src/plugins/grid_priors.cpp
  perception/traffic_light_ssd_fine_detector/lib/src/plugins/grid_priors_kernel.cu
  perception/traffic_light_ssd_fine_detector/lib/src/trt_ssd.cpp
  perception/traffic_light_ssd_fine_detector/package.xml
  perception/traffic_light_ssd_fine_detector/src/nodelet.cpp
  perception/traffic_light_ssd_fine_detector/traffic_light_ssd_fine_detector.xml
  perception/traffic_light_visualization/README.md
Labels: type:documentation, component:perception, tag:run-build-and-test-differential

#6365 fix(control_validator): process died for an empty trajectory
  control/control_validator/src/control_validator.cpp
Labels: component:control, tag:run-build-and-test-differential

#6265 fix(radar_object_clustering): refactor CMakeLists
  perception/radar_object_clustering/CMakeLists.txt
Labels: component:perception, tag:run-build-and-test-differential

#6263 fix(radar_crossing_objects_noise_filter): refactor CMakeLists
  perception/radar_crossing_objects_noise_filter/CMakeLists.txt
Labels: component:perception, tag:run-build-and-test-differential

#6359 feat(heatmap_visualizer): remove package
  perception/heatmap_visualizer/CMakeLists.txt
  perception/heatmap_visualizer/README.md
  perception/heatmap_visualizer/config/heatmap_visualizer.param.yaml
  perception/heatmap_visualizer/image/heatmap_sample.png
  perception/heatmap_visualizer/image/heatmap_visualizer.png
  perception/heatmap_visualizer/include/heatmap_visualizer/heatmap_visualizer_node.hpp
  perception/heatmap_visualizer/include/heatmap_visualizer/utils.hpp
  perception/heatmap_visualizer/launch/heatmap_visualizer.launch.xml
  perception/heatmap_visualizer/package.xml
  perception/heatmap_visualizer/schema/heatmap_visualizer.schema.json
  perception/heatmap_visualizer/src/heatmap_visualizer_node.cpp
  perception/heatmap_visualizer/src/utils.cpp
Labels: type:documentation, component:perception, tag:run-build-and-test-differential

#6356 fix(gnss_poser): no conversion when projection type is local
  sensing/gnss_poser/src/gnss_poser_core.cpp
Labels: component:sensing, tag:run-build-and-test-differential

#6326 feat(tier4_adapi_rviz_plugin): add change button to the route panel
  common/tier4_adapi_rviz_plugin/src/route_panel.cpp
  common/tier4_adapi_rviz_plugin/src/route_panel.hpp
Labels: component:common, tag:run-build-and-test-differential

#6358 fix(dynamic_avoidance): fix minor bugs and comment
  planning/behavior_path_dynamic_avoidance_module/include/behavior_path_dynamic_avoidance_module/scene.hpp
  planning/behavior_path_dynamic_avoidance_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6338 feat(map based prediction, crosswalk)!: transplantation of pedestrians' behavior prediction against green signal
  perception/map_based_prediction/README.md
  perception/map_based_prediction/config/map_based_prediction.param.yaml
  perception/map_based_prediction/include/map_based_prediction/map_based_prediction_node.hpp
  perception/map_based_prediction/src/map_based_prediction_node.cpp
  planning/behavior_velocity_crosswalk_module/README.md
  planning/behavior_velocity_crosswalk_module/config/crosswalk.param.yaml
  planning/behavior_velocity_crosswalk_module/src/manager.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
Labels: type:documentation, component:perception, component:planning, tag:run-build-and-test-differential

#6181 feat(perception): add pipeline_latency_ms publisher
  perception/detected_object_validation/include/detected_object_validation/detected_object_filter/object_lanelet_filter.hpp
  perception/detected_object_validation/include/detected_object_validation/obstacle_pointcloud_based_validator/obstacle_pointcloud_based_validator.hpp
  perception/detected_object_validation/src/object_lanelet_filter.cpp
  perception/detected_object_validation/src/obstacle_pointcloud_based_validator.cpp
  perception/euclidean_cluster/src/euclidean_cluster_node.cpp
  perception/euclidean_cluster/src/voxel_grid_based_euclidean_cluster_node.cpp
  perception/image_projection_based_fusion/src/fusion_node.cpp
  perception/lidar_centerpoint/src/node.cpp
  perception/probabilistic_occupancy_grid_map/src/pointcloud_based_occupancy_grid_map/pointcloud_based_occupancy_grid_map_node.cpp
Labels: component:perception, tag:run-build-and-test-differential

#6083 feat(map_based_prediction): fix object flipping via update function
  perception/map_based_prediction/src/map_based_prediction_node.cpp
Labels: component:perception, tag:run-build-and-test-differential

#6334 fix(out_of_lane): ignore overlaps over all lanelets crossed by the ego path
  planning/behavior_velocity_out_of_lane_module/src/footprint.cpp
  planning/behavior_velocity_out_of_lane_module/src/lanelets_selection.cpp
  planning/behavior_velocity_out_of_lane_module/src/lanelets_selection.hpp
  planning/behavior_velocity_out_of_lane_module/src/overlapping_range.cpp
  planning/behavior_velocity_out_of_lane_module/src/scene_out_of_lane.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6171 chore(bytetrack): rework parameters
  perception/bytetrack/config/bytetrack.param.yaml
  perception/bytetrack/config/bytetrack_visualizer.param.yaml
  perception/bytetrack/config/kalman_filter.param.yaml
  perception/bytetrack/launch/bytetrack.launch.xml
  perception/bytetrack/lib/src/strack.cpp
Labels: component:perception, tag:run-build-and-test-differential

#6250 chore(radar_object_tracker): move tracker config directory to parameter yaml
  launch/tier4_perception_launch/launch/object_recognition/tracking/tracking.launch.xml
  perception/radar_object_tracker/config/radar_object_tracker.param.yaml
  perception/radar_object_tracker/launch/radar_object_tracker.launch.xml
Labels: component:perception, component:launch, tag:run-build-and-test-differential

#6160 chore(object_merger): rework parameters
  launch/tier4_perception_launch/launch/object_recognition/detection/merger/lidar_merger.launch.xml
  perception/object_merger/config/object_association_merger.param.yaml
  perception/object_merger/launch/object_association_merger.launch.xml
Labels: component:perception, component:launch, tag:run-build-and-test-differential

#6216 chore(traffic_light_fine_detector_and_classifier): rework parameters
  launch/tier4_perception_launch/launch/traffic_light_recognition/traffic_light.launch.xml
  launch/tier4_perception_launch/launch/traffic_light_recognition/traffic_light_node_container.launch.py
  perception/traffic_light_classifier/CMakeLists.txt
  perception/traffic_light_classifier/config/car_traffic_light_classifier.param.yaml
  perception/traffic_light_classifier/config/pedestrian_traffic_light_classifier.param.yaml
  perception/traffic_light_classifier/launch/traffic_light_classifier.launch.xml
  perception/traffic_light_fine_detector/CMakeLists.txt
  perception/traffic_light_fine_detector/config/traffic_light_fine_detector.param.yaml
  perception/traffic_light_fine_detector/launch/traffic_light_fine_detector.launch.xml
Labels: component:perception, component:launch, tag:run-build-and-test-differential

#4712 feat(pid_longitudinal_controller): improve delay and slope compensation
  control/pid_longitudinal_controller/include/pid_longitudinal_controller/longitudinal_controller_utils.hpp
  control/pid_longitudinal_controller/include/pid_longitudinal_controller/pid_longitudinal_controller.hpp
  control/pid_longitudinal_controller/param/longitudinal_controller_defaults.param.yaml
  control/pid_longitudinal_controller/src/longitudinal_controller_utils.cpp
  control/pid_longitudinal_controller/src/pid_longitudinal_controller.cpp
  control/pid_longitudinal_controller/test/test_longitudinal_controller_utils.cpp
Labels: component:control, tag:run-build-and-test-differential, tag:openai-pr-reviewer

#5183 fix(vehicle_cmd_gate): fix the problems while transition from/to stopped state
  control/vehicle_cmd_gate/src/vehicle_cmd_gate.cpp
  control/vehicle_cmd_gate/src/vehicle_cmd_gate.hpp
Labels: component:control, tag:run-build-and-test-differential

#6313 fix(object_velocity_splitter): delete default param in src
  perception/object_velocity_splitter/src/object_velocity_splitter_node/object_velocity_splitter_node.cpp
Labels: component:perception, tag:run-build-and-test-differential

#6311 fix(simple_object_merger): delete default param in src
  perception/simple_object_merger/src/simple_object_merger_node/simple_object_merger_node.cpp
Labels: tag:run-build-and-test-differential

#6310 fix(radar_tracks_noise_filter): delete default param in src
  sensing/radar_tracks_noise_filter/src/radar_tracks_noise_filter_node/radar_tracks_noise_filter_node.cpp
Labels: component:sensing, tag:run-build-and-test-differential

#6309 fix(radar_tracks_msgs_converter): delete default param in src
  perception/radar_tracks_msgs_converter/src/radar_tracks_msgs_converter_node/radar_tracks_msgs_converter_node.cpp
Labels: component:perception, tag:run-build-and-test-differential

#6308 fix(radar_threshold_filter): delete default param in src
  sensing/radar_threshold_filter/src/radar_threshold_filter_node/radar_threshold_filter_node.cpp
Labels: component:sensing, tag:run-build-and-test-differential

#6307 fix(radar_crossing_objects_noise_filter): delete default param in src
  perception/radar_crossing_objects_noise_filter/src/radar_crossing_objects_noise_filter_node/radar_crossing_objects_noise_filter_node.cpp
Labels: component:perception, tag:run-build-and-test-differential

#6361 feat(tensorrt_yolo): remove package
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/camera_lidar_detector.launch.xml
  perception/tensorrt_yolo/.gitignore
  perception/tensorrt_yolo/CMakeLists.txt
  perception/tensorrt_yolo/README.md
  perception/tensorrt_yolo/config/yolov3.param.yaml
  perception/tensorrt_yolo/config/yolov4-tiny.param.yaml
  perception/tensorrt_yolo/config/yolov4.param.yaml
  perception/tensorrt_yolo/config/yolov5l.param.yaml
  perception/tensorrt_yolo/config/yolov5m.param.yaml
  perception/tensorrt_yolo/config/yolov5s.param.yaml
  perception/tensorrt_yolo/config/yolov5x.param.yaml
  perception/tensorrt_yolo/include/tensorrt_yolo/nodelet.hpp
  perception/tensorrt_yolo/launch/tensorrt_yolo.launch.xml
  perception/tensorrt_yolo/lib/include/calibrator.hpp
  perception/tensorrt_yolo/lib/include/cuda_utils.hpp
  perception/tensorrt_yolo/lib/include/mish.hpp
  perception/tensorrt_yolo/lib/include/mish_plugin.hpp
  perception/tensorrt_yolo/lib/include/nms.hpp
  perception/tensorrt_yolo/lib/include/nms_plugin.hpp
  perception/tensorrt_yolo/lib/include/trt_yolo.hpp
  perception/tensorrt_yolo/lib/include/yolo_layer.hpp
  perception/tensorrt_yolo/lib/include/yolo_layer_plugin.hpp
  perception/tensorrt_yolo/lib/src/plugins/mish.cu
  perception/tensorrt_yolo/lib/src/plugins/mish_plugin.cpp
  perception/tensorrt_yolo/lib/src/plugins/nms.cu
  perception/tensorrt_yolo/lib/src/plugins/nms_plugin.cpp
  perception/tensorrt_yolo/lib/src/plugins/yolo_layer.cu
  perception/tensorrt_yolo/lib/src/plugins/yolo_layer_plugin.cpp
  perception/tensorrt_yolo/lib/src/trt_yolo.cpp
  perception/tensorrt_yolo/package.xml
  perception/tensorrt_yolo/schema/tensortt_yolo.json
  perception/tensorrt_yolo/src/nodelet.cpp
  perception/tensorrt_yolox/launch/multiple_yolox.launch.xml
Labels: type:documentation, component:perception, component:launch, tag:run-build-and-test-differential

#6200 chore(traffic_light_map_based_detector): rework parameters
  launch/tier4_perception_launch/launch/traffic_light_recognition/traffic_light.launch.xml
  perception/traffic_light_map_based_detector/config/traffic_light_map_based_detector.param.yaml
  perception/traffic_light_map_based_detector/launch/traffic_light_map_based_detector.launch.xml
Labels: component:perception, component:launch, tag:run-build-and-test-differential

#6376 refactor(start_planner): separate debug and info marker for rviz visualization
  planning/behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6377 fix: remove `tensorrt_yolo` from package dependencies in launcher
  launch/tier4_perception_launch/package.xml
Labels: component:launch, tag:run-build-and-test-differential

#6374 fix(start_planner): remove front of shift start pose from collision check section
  planning/behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5971 fix(log-messages): reduce excessive log messages
  control/control_validator/config/control_validator.param.yaml
  control/control_validator/include/control_validator/control_validator.hpp
  control/control_validator/src/control_validator.cpp
  control/pid_longitudinal_controller/src/pid_longitudinal_controller.cpp
  map/map_loader/src/lanelet2_map_loader/lanelet2_map_visualization_node.cpp
  map/map_loader/src/pointcloud_map_loader/pointcloud_map_loader_module.cpp
  map/map_loader/src/pointcloud_map_loader/pointcloud_map_loader_node.cpp
  perception/crosswalk_traffic_light_estimator/src/node.cpp
  perception/map_based_prediction/src/map_based_prediction_node.cpp
  perception/traffic_light_visualization/src/traffic_light_map_visualizer/node.cpp
  planning/behavior_path_planner/src/planner_manager.cpp
  planning/behavior_velocity_planner/src/planner_manager.cpp
  planning/behavior_velocity_traffic_light_module/src/scene.cpp
  planning/freespace_planner/src/freespace_planner/freespace_planner_node.cpp
  planning/obstacle_avoidance_planner/src/node.cpp
  planning/obstacle_avoidance_planner/src/replan_checker.cpp
  planning/path_smoother/src/elastic_band_smoother.cpp
  planning/path_smoother/src/replan_checker.cpp
  planning/route_handler/src/route_handler.cpp
  planning/scenario_selector/src/scenario_selector_node/scenario_selector_node.cpp
  simulator/dummy_perception_publisher/src/node.cpp
  simulator/simple_planning_simulator/src/simple_planning_simulator/simple_planning_simulator_core.cpp
  system/emergency_handler/src/emergency_handler/emergency_handler_core.cpp
Labels: component:perception, component:planning, component:control, component:system, component:map, component:simulation, tag:run-build-and-test-differential

#6372 fix(avoidance): fix bug in minimum overhang distance calculation
  planning/behavior_path_avoidance_module/src/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6375 refactor(tier4_perception_msgs): rename traffic_signal to traffic_light
  common/traffic_light_utils/include/traffic_light_utils/traffic_light_utils.hpp
  common/traffic_light_utils/src/traffic_light_utils.cpp
  common/traffic_light_utils/test/test_traffic_light_utils.cpp
  perception/crosswalk_traffic_light_estimator/README.md
  perception/crosswalk_traffic_light_estimator/include/crosswalk_traffic_light_estimator/node.hpp
  perception/traffic_light_classifier/README.md
  perception/traffic_light_classifier/include/traffic_light_classifier/classifier_interface.hpp
  perception/traffic_light_classifier/include/traffic_light_classifier/cnn_classifier.hpp
  perception/traffic_light_classifier/include/traffic_light_classifier/color_classifier.hpp
  perception/traffic_light_classifier/include/traffic_light_classifier/nodelet.hpp
  perception/traffic_light_classifier/src/cnn_classifier.cpp
  perception/traffic_light_classifier/src/color_classifier.cpp
  perception/traffic_light_classifier/src/nodelet.cpp
  perception/traffic_light_classifier/src/single_image_debug_inference_node.cpp
  perception/traffic_light_multi_camera_fusion/include/traffic_light_multi_camera_fusion/node.hpp
  perception/traffic_light_multi_camera_fusion/src/node.cpp
  perception/traffic_light_occlusion_predictor/include/traffic_light_occlusion_predictor/nodelet.hpp
  perception/traffic_light_occlusion_predictor/src/nodelet.cpp
  perception/traffic_light_visualization/README.md
  perception/traffic_light_visualization/include/traffic_light_visualization/traffic_light_roi_visualizer/nodelet.hpp
  perception/traffic_light_visualization/src/traffic_light_roi_visualizer/nodelet.cpp
Labels: type:documentation, component:perception, component:common, tag:run-build-and-test-differential

#6387 chore(avoidance): add maintainer
  planning/behavior_path_avoidance_module/package.xml
Labels: component:planning, tag:run-build-and-test-differential

#6385 fix(static_drivable_area_expansion): remove process to make drivable bound longitudinally monotonic
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/drivable_area_expansion/static_drivable_area.hpp
  planning/behavior_path_planner_common/src/utils/drivable_area_expansion/static_drivable_area.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6369 feat(goal_planne): check objects within the area between ego edge and boudary of pull_over_lanes
  planning/behavior_path_goal_planner_module/config/goal_planner.param.yaml
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/goal_planner_parameters.hpp
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/util.hpp
  planning/behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_goal_planner_module/src/manager.cpp
  planning/behavior_path_goal_planner_module/src/util.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6340 feat(map_height_fitter): fitting by vector_map
  localization/pose_initializer/launch/pose_initializer.launch.xml
  map/map_height_fitter/CMakeLists.txt
  map/map_height_fitter/config/map_height_fitter.param.yaml
  map/map_height_fitter/launch/map_height_fitter.launch.xml
  map/map_height_fitter/package.xml
  map/map_height_fitter/schema/map_height_fitter.schema.json
  map/map_height_fitter/src/map_height_fitter.cpp
  system/default_ad_api_helpers/ad_api_adaptors/launch/rviz_adaptors.launch.xml
Labels: component:localization, component:system, component:map, tag:run-build-and-test-differential

#6371 chore(crosswalk): change LATER param
  planning/behavior_velocity_crosswalk_module/config/crosswalk.param.yaml
Labels: component:planning, tag:run-build-and-test-differential

#6384 fix(map_loader): fix warnings with single point cloud map metadata
  map/map_loader/src/pointcloud_map_loader/pointcloud_map_loader_node.cpp
Labels: component:map, tag:run-build-and-test-differential

#6324 fix(avoidance): safety check target lanes
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/utils.hpp
  planning/behavior_path_avoidance_module/src/scene.cpp
  planning/behavior_path_avoidance_module/src/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6332 chore(lanelet2_map_preprocessor): add maintainers
  map/util/lanelet2_map_preprocessor/package.xml
Labels: component:map, tag:run-build-and-test-differential

#6390 fix(ar_tag_based_localizer): add ar tag based localizer param
  launch/tier4_localization_launch/launch/localization.launch.xml
  launch/tier4_localization_launch/launch/pose_twist_estimator/ar_tag_based_localizer.launch.xml
Labels: component:launch, tag:run-build-and-test-differential

#6386 fix(tracker_object_merger): add sanity check for tracker merger
  perception/tracking_object_merger/README.md
  perception/tracking_object_merger/include/tracking_object_merger/utils/tracker_state.hpp
  perception/tracking_object_merger/src/decorative_tracker_merger.cpp
  perception/tracking_object_merger/src/utils/tracker_state.cpp
Labels: type:documentation, component:perception, tag:run-build-and-test-differential

#6391 fix(pid_longitudinal_controller): fixed nearest/target index before/after insertion and removal of path points
  control/pid_longitudinal_controller/package.xml
  control/pid_longitudinal_controller/src/pid_longitudinal_controller.cpp
Labels: component:control, tag:run-build-and-test-differential

#6367 chore(emergency_handler): add maintainer
  system/emergency_handler/package.xml
Labels: component:system, tag:run-build-and-test-differential

#6291 fix(bpp-common): use polygon area to check overlap lanelet
  planning/behavior_path_planner_common/src/utils/drivable_area_expansion/static_drivable_area.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6388 feat(motion_velocity_smoother): use common max_vel
  planning/external_velocity_limit_selector/config/default_common.param.yaml
  planning/motion_velocity_smoother/config/default_common.param.yaml
  planning/motion_velocity_smoother/src/motion_velocity_smoother_node.cpp
  planning/obstacle_cruise_planner/config/default_common.param.yaml
  planning/obstacle_stop_planner/config/common.param.yaml
  planning/planning_test_utils/config/test_common.param.yaml
  planning/static_centerline_optimizer/config/common.param.yaml
Labels: component:planning, tag:run-build-and-test-differential

#6195 feat(planning_validator): add validation for trajectory length and related tests
  planning/planning_validator/README.md
  planning/planning_validator/config/planning_validator.param.yaml
  planning/planning_validator/include/planning_validator/planning_validator.hpp
  planning/planning_validator/msg/PlanningValidatorStatus.msg
  planning/planning_validator/src/planning_validator.cpp
  planning/planning_validator/src/utils.cpp
  planning/planning_validator/test/src/test_parameter.hpp
  planning/planning_validator/test/src/test_planning_validator_functions.cpp
  planning/planning_validator/test/src/test_planning_validator_helper.cpp
  planning/planning_validator/test/src/test_planning_validator_helper.hpp
  planning/planning_validator/test/src/test_planning_validator_pubsub.cpp
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#6411 fix(image_projection_based_fusion): fix bug
  perception/image_projection_based_fusion/src/fusion_node.cpp
Labels: component:perception, tag:run-build-and-test-differential

#6408 fix(radar_tracks_msgs_converter): add a missing parameter 'new_frame_id'
  perception/radar_tracks_msgs_converter/config/radar_tracks_msgs_converter.param.yaml
Labels: component:perception, tag:run-build-and-test-differential

#6403 fix(map_based_prediction): suppress spell check failure
  .cspell-partial.json
  perception/map_based_prediction/README.md
  perception/map_based_prediction/include/map_based_prediction/map_based_prediction_node.hpp
  perception/map_based_prediction/src/map_based_prediction_node.cpp
Labels: type:documentation, component:perception, tag:run-build-and-test-differential

#6409 chore(cspell): update .cspell-partial.json
  .cspell-partial.json
Labels: tag:run-build-and-test-differential

#6415 fix(external_velocity_limit_selector): fix parameter name
  planning/external_velocity_limit_selector/src/external_velocity_limit_selector_node.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6410 fix(obstacle_stop_planner): fix null object_ptr access when use_predicted_objects = False
  planning/obstacle_stop_planner/include/obstacle_stop_planner/adaptive_cruise_control.hpp
  planning/obstacle_stop_planner/src/adaptive_cruise_control.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6405 refactor(blind_spot): find first_conflicting_lane just as intersection module
  planning/behavior_velocity_blind_spot_module/src/scene.cpp
  planning/behavior_velocity_blind_spot_module/src/scene.hpp
Labels: component:planning, tag:run-build-and-test-differential, tag:openai-pr-reviewer

#6416 fix(pose_instability_detector): changed the interval_sec value of pose_instability_detector
  localization/pose_instability_detector/config/pose_instability_detector.param.yaml
  localization/pose_instability_detector/schema/pose_instability_detector.schema.json
Labels: component:localization, tag:run-build-and-test-differential

#6424 fix(tracking_object_merger): fix spell check
  perception/tracking_object_merger/src/utils/utils.cpp
Labels: component:perception, tag:run-build-and-test-differential

#6422 fix(radar_object_tracker): fix spell check
  perception/radar_object_tracker/src/tracker/model/constant_turn_rate_motion_tracker.cpp
Labels: component:perception, tag:run-build-and-test-differential

#5989 fix(motion_velocity_smoother): calc first point front_wheel_angle_rad
  planning/motion_velocity_smoother/src/smoother/smoother_base.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6420 fix(perception): fix typo
  perception/bytetrack/README.md
  perception/bytetrack/lib/include/data_type.h
  perception/probabilistic_occupancy_grid_map/test/test_synchronized_grid_map_fusion_node.py
  perception/tracking_object_merger/src/decorative_tracker_merger.cpp
Labels: type:documentation, component:perception, tag:run-build-and-test-differential

#6426 docs(intersection): add upstream feature explanation
  planning/behavior_velocity_intersection_module/README.md
  planning/behavior_velocity_intersection_module/docs/intersection-attention-ll-rr.drawio.svg
  planning/behavior_velocity_intersection_module/docs/intersection-attention-lr-rl.drawio.svg
  planning/behavior_velocity_intersection_module/docs/intersection-attention-straight.drawio.svg
  planning/behavior_velocity_intersection_module/docs/intersection-attention.drawio.svg
  planning/behavior_velocity_intersection_module/docs/upstream-velocity.drawio.svg
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#6349 fix(avoidance): limit drivable lane only when the ego in on original lane
  planning/behavior_path_avoidance_by_lane_change_module/src/scene.cpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/utils.hpp
  planning/behavior_path_avoidance_module/src/scene.cpp
  planning/behavior_path_avoidance_module/src/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6429 feat(compare_map_segmentation): change height downsize logic
  perception/compare_map_segmentation/src/voxel_grid_map_loader.cpp
Labels: component:perception, tag:run-build-and-test-differential

#6435 feat(tier4_control_launch): run control_validator out of main control container
  launch/tier4_control_launch/launch/control.launch.py
Labels: component:launch, tag:run-build-and-test-differential

#6431 fix(behavior_path_planner): catch exception when calculating curvature
  planning/behavior_path_planner_common/src/utils/drivable_area_expansion/drivable_area_expansion.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6407 chore(gnss_poser): add maintainer
  sensing/gnss_poser/package.xml
Labels: component:sensing, tag:run-build-and-test-differential

#6389 docs(planning): add dynamic_obstacle_stop to the list of modules
  planning/.pages
Labels: type:documentation, tag:deploy-docs, tag:run-build-and-test-differential

#5794 fix(obstacle_stop_planner): change the nearest_collision_point calculation place
  planning/obstacle_stop_planner/include/obstacle_stop_planner/node.hpp
  planning/obstacle_stop_planner/src/node.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6418 chore(image_projection_based_fusion): rename debug topics
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/camera_lidar_detector.launch.xml
  perception/image_projection_based_fusion/src/fusion_node.cpp
Labels: component:perception, component:launch, tag:run-build-and-test-differential

#6336 feat(safety_check): add option to use polygon along path in safety check
  planning/behavior_path_avoidance_module/config/avoidance.param.yaml
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/parameter_helper.hpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/path_safety_checker/path_safety_checker_parameters.hpp
  planning/behavior_path_planner_common/src/utils/path_safety_checker/safety_check.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6437 refactor(obstacle_stop_planner): update package.xml
  planning/obstacle_stop_planner/package.xml
Labels: component:planning
