Repository autowarefoundation/autoware_universe, pull requests merged in 2024-11, with the labels that each got.

#9211 fix(rtc_interface): update requested field for every cooperateStatus state
  planning/autoware_rtc_interface/src/rtc_interface.cpp
  planning/autoware_rtc_interface/test/test_rtc_interface.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9205 feat(static_obstacle_avoidance): operator request for ambiguous vehicle
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/data_structs.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/helper.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9213 feat(collision_detector): use polling subscriber
  control/autoware_collision_detector/include/autoware/collision_detector/node.hpp
  control/autoware_collision_detector/src/node.cpp
Labels: component:control, tag:run-build-and-test-differential

#9208 fix(diagnostic_graph_utils): reset graph when new one is received
  system/diagnostic_graph_utils/src/lib/graph.cpp
Labels: component:system, tag:run-build-and-test-differential

#9218 fix(autoware_ndt_scan_matcher): reduce initial_pose_estimation.particles_num from 200 to 100 on tests
  localization/autoware_ndt_scan_matcher/test/test_fixture.hpp
Labels: component:localization, tag:run-build-and-test-differential

#9214 feat(control_launch): add collision detector in launch
  launch/tier4_control_launch/launch/control.launch.xml
Labels: component:launch, tag:run-build-and-test-differential

#9206 chore(obstacle_cruise_planner): add function tests for a utils function
  planning/autoware_obstacle_cruise_planner/CMakeLists.txt
  planning/autoware_obstacle_cruise_planner/test/test_obstacle_cruise_planner_utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9223 test(bpp_common): add unit test for safety check
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/path_safety_checker/safety_check.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/path_safety_checker/safety_check.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/test/test_safety_check.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9192 fix(autoware_behavior_path_goal_planner_module): fix cppcheck unreadVariable
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/manager.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9229 fix(autoware_image_projection_based_fusion): fix bugprone-misplaced-widening-cast
  perception/autoware_image_projection_based_fusion/src/roi_pointcloud_fusion/node.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9227 fix(autoware_euclidean_cluster): fix bugprone-misplaced-widening-cast
  perception/autoware_euclidean_cluster/lib/voxel_grid_based_euclidean_cluster.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9226 fix(autoware_image_projection_based_fusion): fix bugprone-misplaced-widening-cast
  perception/autoware_image_projection_based_fusion/src/utils/utils.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9196 fix(autoware_compare_map_segmentation): fix cppcheck constVariableReference
  perception/autoware_compare_map_segmentation/src/voxel_grid_map_loader/voxel_grid_map_loader.hpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9230 fix(autoware_freespace_planning_algorithms): fix bugprone-unused-raii
  planning/autoware_freespace_planning_algorithms/scripts/bind/astar_search_pybind.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9219 refactor(map_based_prediction): divide objectsCallback
  perception/autoware_map_based_prediction/include/map_based_prediction/map_based_prediction_node.hpp
  perception/autoware_map_based_prediction/src/map_based_prediction_node.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9225 refactor(map_based_prediction): move member functions to utils
  perception/autoware_map_based_prediction/include/map_based_prediction/data_structure.hpp
  perception/autoware_map_based_prediction/include/map_based_prediction/map_based_prediction_node.hpp
  perception/autoware_map_based_prediction/include/map_based_prediction/utils.hpp
  perception/autoware_map_based_prediction/src/map_based_prediction_node.cpp
  perception/autoware_map_based_prediction/src/utils.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9228 test(crosswalk): add unit test
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/CMakeLists.txt
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/test/test_crosswalk.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9221 fix(autoware_probabilistic_occupancy_grid_map): fix bugprone-incorrect-roundings
  perception/autoware_probabilistic_occupancy_grid_map/lib/updater/binary_bayes_filter_updater.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9171 refactor(cuda_utils): prefix package and namespace with autoware
  .github/CODEOWNERS
  perception/autoware_bytetrack/package.xml
  perception/autoware_lidar_apollo_instance_segmentation/CMakeLists.txt
  perception/autoware_lidar_apollo_instance_segmentation/include/autoware/lidar_apollo_instance_segmentation/detector.hpp
  perception/autoware_lidar_apollo_instance_segmentation/package.xml
  perception/autoware_lidar_apollo_instance_segmentation/src/detector.cpp
  perception/autoware_shape_estimation/include/autoware/shape_estimation/tensorrt_shape_estimator.hpp
  perception/autoware_shape_estimation/lib/tensorrt_shape_estimator.cpp
  perception/autoware_shape_estimation/package.xml
  perception/autoware_tensorrt_classifier/include/autoware/tensorrt_classifier/calibrator.hpp
  perception/autoware_tensorrt_classifier/include/autoware/tensorrt_classifier/tensorrt_classifier.hpp
  perception/autoware_tensorrt_classifier/package.xml
  perception/autoware_tensorrt_classifier/src/tensorrt_classifier.cpp
  perception/autoware_tensorrt_yolox/include/autoware/tensorrt_yolox/calibrator.hpp
  perception/autoware_tensorrt_yolox/include/autoware/tensorrt_yolox/tensorrt_yolox.hpp
  perception/autoware_tensorrt_yolox/package.xml
  perception/autoware_tensorrt_yolox/src/tensorrt_yolox.cpp
  perception/autoware_traffic_light_classifier/package.xml
  perception/autoware_traffic_light_classifier/src/classifier/cnn_classifier.hpp
  sensing/autoware_cuda_utils/CMakeLists.txt
  sensing/autoware_cuda_utils/README.md
  sensing/autoware_cuda_utils/include/autoware/cuda_utils/cuda_check_error.hpp
  sensing/autoware_cuda_utils/include/autoware/cuda_utils/cuda_unique_ptr.hpp
  sensing/autoware_cuda_utils/include/autoware/cuda_utils/stream_unique_ptr.hpp
  sensing/autoware_cuda_utils/package.xml
Labels: type:documentation, component:perception, component:sensing, type:ci, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9234 fix(crosswalk): don't use vehicle stop checker to remove unnecessary callback
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
Labels: component:planning, tag:run-build-and-test-differential

#8693 feat(autoware_motion_utils): add new trajectory class
  common/autoware_motion_utils/examples/example_interpolator.cpp
  common/autoware_motion_utils/examples/example_trajectory_path_point.cpp
  common/autoware_motion_utils/examples/example_trajectory_point.cpp
  common/autoware_motion_utils/examples/example_trajectory_pose.cpp
  common/autoware_motion_utils/include/autoware/motion_utils/trajectory_container/trajectory.hpp
  common/autoware_motion_utils/include/autoware/motion_utils/trajectory_container/trajectory/detail/interpolated_array.hpp
  common/autoware_motion_utils/include/autoware/motion_utils/trajectory_container/trajectory/detail/utils.hpp
  common/autoware_motion_utils/include/autoware/motion_utils/trajectory_container/trajectory/trajectory_path_point.hpp
  common/autoware_motion_utils/include/autoware/motion_utils/trajectory_container/trajectory/trajectory_path_point_with_lane_id.hpp
  common/autoware_motion_utils/include/autoware/motion_utils/trajectory_container/trajectory/trajectory_point.hpp
  common/autoware_motion_utils/include/autoware/motion_utils/trajectory_container/trajectory/trajectory_pose.hpp
  common/autoware_motion_utils/package.xml
  common/autoware_motion_utils/src/trajectory_container/trajectory/detail/util.cpp
  common/autoware_motion_utils/src/trajectory_container/trajectory/trajectory_path_point.cpp
  common/autoware_motion_utils/src/trajectory_container/trajectory/trajectory_path_point_with_lane_id.cpp
  common/autoware_motion_utils/src/trajectory_container/trajectory/trajectory_point.cpp
  common/autoware_motion_utils/src/trajectory_container/trajectory/trajectory_pose.cpp
  common/autoware_motion_utils/test/src/trajectory_container/test_trajectory_container.cpp
Labels: component:common, tag:run-build-and-test-differential

#9233 fix(autoware_image_projection_based_fusion): make optional to consider lens distortion in the point projection
  perception/autoware_image_projection_based_fusion/config/fusion_common.param.yaml
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/fusion_node.hpp
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/utils/utils.hpp
  perception/autoware_image_projection_based_fusion/src/fusion_node.cpp
  perception/autoware_image_projection_based_fusion/src/pointpainting_fusion/node.cpp
  perception/autoware_image_projection_based_fusion/src/roi_cluster_fusion/node.cpp
  perception/autoware_image_projection_based_fusion/src/roi_detected_object_fusion/node.cpp
  perception/autoware_image_projection_based_fusion/src/roi_pointcloud_fusion/node.cpp
  perception/autoware_image_projection_based_fusion/src/segmentation_pointcloud_fusion/node.cpp
  perception/autoware_image_projection_based_fusion/src/utils/utils.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9207 feat(autoware_test_utils): add general topic dumper
  common/autoware_test_utils/CMakeLists.txt
  common/autoware_test_utils/README.md
  common/autoware_test_utils/config/sample_topic_snapshot.yaml
  common/autoware_test_utils/include/autoware_test_utils/autoware_test_utils.hpp
  common/autoware_test_utils/include/autoware_test_utils/mock_data_parser.hpp
  common/autoware_test_utils/launch/psim_intersection.launch.xml
  common/autoware_test_utils/launch/psim_road_shoulder.launch.xml
  common/autoware_test_utils/package.xml
  common/autoware_test_utils/rviz/psim_test_map.rviz
  common/autoware_test_utils/src/autoware_test_utils.cpp
  common/autoware_test_utils/src/topic_snapshot_saver.cpp
Labels: type:documentation, component:common, tag:run-build-and-test-differential

#9244 fix(autoware_ekf_localizer): remove `timer_tf_`
  localization/autoware_ekf_localizer/config/ekf_localizer.param.yaml
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/ekf_localizer.hpp
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/hyper_parameters.hpp
  localization/autoware_ekf_localizer/schema/sub/node.sub_schema.json
  localization/autoware_ekf_localizer/src/ekf_localizer.cpp
Labels: component:localization, tag:run-build-and-test-differential

#9237 fix(autoware_rtc_interface): fix dependency
  planning/autoware_rtc_interface/package.xml
Labels: tag:run-build-and-test-differential

#9247 fix(autonomous_emergency_braking): solve issue with arc length
  control/autoware_autonomous_emergency_braking/src/node.cpp
Labels: component:control, tag:run-build-and-test-differential

#9195 fix(autoware_lidar_apollo_instance_segmentation): fix cppcheck suspiciousFloatingPointCast
  perception/autoware_lidar_apollo_instance_segmentation/src/log_table.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9190 fix(autoware_behavior_path_sampling_planner_module): fix cppcheck unusedVariable
  planning/behavior_path_planner/autoware_behavior_path_sampling_planner_module/src/sampling_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9236 refactor(qp_interface): prefix package and namespace with autoware
  .github/CODEOWNERS
  common/autoware_auto_common/design/comparisons.md
  common/autoware_qp_interface/CMakeLists.txt
  common/autoware_qp_interface/design/qp_interface-design.md
  common/autoware_qp_interface/include/autoware/qp_interface/osqp_csc_matrix_conv.hpp
  common/autoware_qp_interface/include/autoware/qp_interface/osqp_interface.hpp
  common/autoware_qp_interface/include/autoware/qp_interface/proxqp_interface.hpp
  common/autoware_qp_interface/include/autoware/qp_interface/qp_interface.hpp
  common/autoware_qp_interface/package.xml
  common/autoware_qp_interface/src/osqp_csc_matrix_conv.cpp
  common/autoware_qp_interface/src/osqp_interface.cpp
  common/autoware_qp_interface/src/proxqp_interface.cpp
  common/autoware_qp_interface/src/qp_interface.cpp
  common/autoware_qp_interface/test/test_csc_matrix_conv.cpp
  common/autoware_qp_interface/test/test_osqp_interface.cpp
  common/autoware_qp_interface/test/test_proxqp_interface.cpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/smoother/jerk_filtered_smoother.hpp
  planning/autoware_velocity_smoother/package.xml
  planning/autoware_velocity_smoother/src/smoother/jerk_filtered_smoother.cpp
Labels: type:documentation, component:planning, type:ci, component:common, tag:run-build-and-test-differential

#9246 chore(autoware_geography_utils): update maintainers
  common/autoware_geography_utils/package.xml
Labels: component:common, tag:run-build-and-test-differential

#9124 fix(lane_change): enable cancel when ego in turn direction lane
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/config/lane_change.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/data_structs.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/utils.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/utils.cpp
Labels: type:documentation, component:planning, tag:deploy-docs, tag:run-build-and-test-differential

#9209 fix(out_of_lane): correct calculations of the stop pose
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/calculate_slowdown_points.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/calculate_slowdown_points.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/filter_predicted_objects.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/footprint.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_collisions.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/types.hpp
Labels: component:planning, tag:run-build-and-test-differential

#8129 fix(autoware_pointcloud_preprocessor): launch file load parameter from yaml
  sensing/autoware_pointcloud_preprocessor/launch/polygon_remover.launch.py
  sensing/autoware_pointcloud_preprocessor/launch/preprocessor.launch.py
Labels: component:sensing, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9072 fix: missing dependency in common components
  common/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/package.xml
  common/tier4_state_rviz_plugin/package.xml
  common/tier4_vehicle_rviz_plugin/package.xml
Labels: component:common, tag:run-build-and-test-differential

#9258 fix(autoware_pointcloud_preprocessor): fix the wrong naming of crop box parameter file
  sensing/autoware_pointcloud_preprocessor/launch/preprocessor.launch.py
Labels: component:sensing, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9257 fix(dummy_diag_publisher): not use diagnostic_updater and param callback
  system/dummy_diag_publisher/include/dummy_diag_publisher/dummy_diag_publisher_core.hpp
  system/dummy_diag_publisher/src/dummy_diag_publisher_core.cpp
Labels: type:improvement, component:system, tag:run-build-and-test-differential

#9239 test(behavior_path_planner_common): add unit test for path shifter
  planning/behavior_path_planner/autoware_behavior_path_planner_common/CMakeLists.txt
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/path_shifter/path_shifter.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/path_shifter/path_shifter.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/test/test_path_shifter.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9067 feat(system_monitor): support loopback network interface
  system/system_monitor/include/system_monitor/net_monitor/net_monitor.hpp
  system/system_monitor/src/net_monitor/net_monitor.cpp
Labels: component:system, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9264 feat(autoware_trajectory): change interface of InterpolatedArray
  common/autoware_trajectory/examples/example_trajectory_path_point.cpp
  common/autoware_trajectory/include/autoware/trajectory/detail/interpolated_array.hpp
  common/autoware_trajectory/test/test_trajectory_container.cpp
Labels: component:common, tag:run-build-and-test-differential

#9069 feat(system_monitor): add on/off config for network traffic monitor
  system/system_monitor/config/net_monitor.param.yaml
  system/system_monitor/include/system_monitor/net_monitor/net_monitor.hpp
  system/system_monitor/include/system_monitor/traffic_reader/traffic_reader_common.hpp
  system/system_monitor/include/system_monitor/traffic_reader/traffic_reader_service.hpp
  system/system_monitor/reader/traffic_reader/traffic_reader_service.cpp
  system/system_monitor/src/net_monitor/net_monitor.cpp
Labels: component:system, tag:run-build-and-test-differential

#9255 feat(detection_area)!: add retruction feature
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/README.md
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/config/detection_area.param.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/src/scene.hpp
Labels: type:documentation, component:planning, tag:deploy-docs, tag:run-build-and-test-differential

#9260 fix(vehicle_cmd_gate): fix processing time measurement
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_gate.cpp
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_gate.hpp
Labels: component:control, tag:run-build-and-test-differential

#9242 fix(bvp): use polling subscriber
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner/src/node.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner/src/node.hpp
Labels: component:planning, tag:run-build-and-test-differential

#9267 refactor(lane_change): remove std::optional from lanes polygon
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/data_structs.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/utils.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9269 fix(bpp): prevent accessing nullopt
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/traffic_light_utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9272 refactor(lane_change): revert "remove std::optional from lanes polygon"
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/data_structs.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/utils.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9271 feat(goal_planner): sort candidate path only when num to avoid is different
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9274 fix(/autoware_freespace_planning_algorithms): fix cppcheck unusedFunction
  planning/autoware_freespace_planning_algorithms/src/astar_search.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9277 fix(autoware_behavior_path_start_planner_module): fix cppcheck unreadVariable
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9275 fix(autoware_ndt_scan_matcher): fix cppcheck unusedFunction
  localization/autoware_ndt_scan_matcher/include/autoware/ndt_scan_matcher/ndt_omp/estimate_covariance.hpp
  localization/autoware_ndt_scan_matcher/src/ndt_omp/estimate_covariance.cpp
Labels: component:localization, tag:run-build-and-test-differential

#9276 fix(autoware_pure_pursuit): fix cppcheck unusedFunction
  control/autoware_pure_pursuit/include/autoware/pure_pursuit/util/planning_utils.hpp
  control/autoware_pure_pursuit/src/autoware_pure_pursuit_core/planning_utils.cpp
Labels: component:control, tag:run-build-and-test-differential

#9279 fix(lane_change): correct computation of maximum lane changing length threshold
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9263 feat(aeb): set global param to override autoware state check
  launch/tier4_control_launch/launch/control.launch.xml
Labels: component:launch, tag:run-build-and-test-differential

#9273 fix(autoware_default_adapi): change subscribing steering factor topic name for obstacle avoidance and lane changes
  system/autoware_default_adapi/src/planning.cpp
Labels: component:system, tag:run-build-and-test-differential

#9268 fix(lane_change): extending lane change path for multiple lane change (RT1-8427)
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9289 fix(behavior_path_planner_common): use boost intersects instead of overlaps
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/path_safety_checker/safety_check.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9286 ci(.github): update image tags
  .github/sync-files.yaml
  .github/workflows/build-and-test-daily-arm64.yaml
  .github/workflows/build-and-test-daily.yaml
  .github/workflows/build-and-test-differential-arm64.yaml
  .github/workflows/build-and-test-differential.yaml
  .github/workflows/build-and-test.yaml
Labels: type:ci, tag:run-build-and-test-differential

#9250 refactor(autoware_ad_api_specs): prefix package and namespace with autoware
  .github/CODEOWNERS
  common/.pages
  common/autoware_adapi_specs/CHANGELOG.rst
  common/autoware_adapi_specs/CMakeLists.txt
  common/autoware_adapi_specs/README.md
  common/autoware_adapi_specs/include/autoware/adapi_specs/fail_safe.hpp
  common/autoware_adapi_specs/include/autoware/adapi_specs/interface.hpp
  common/autoware_adapi_specs/include/autoware/adapi_specs/localization.hpp
  common/autoware_adapi_specs/include/autoware/adapi_specs/motion.hpp
  common/autoware_adapi_specs/include/autoware/adapi_specs/operation_mode.hpp
  common/autoware_adapi_specs/include/autoware/adapi_specs/perception.hpp
  common/autoware_adapi_specs/include/autoware/adapi_specs/planning.hpp
  common/autoware_adapi_specs/include/autoware/adapi_specs/routing.hpp
  common/autoware_adapi_specs/include/autoware/adapi_specs/system.hpp
  common/autoware_adapi_specs/include/autoware/adapi_specs/vehicle.hpp
  common/autoware_adapi_specs/package.xml
  common/tier4_adapi_rviz_plugin/package.xml
  common/tier4_adapi_rviz_plugin/src/door_panel.hpp
  common/tier4_adapi_rviz_plugin/src/route_panel.hpp
  common/tier4_camera_view_rviz_plugin/package.xml
  system/autoware_default_adapi/package.xml
  system/autoware_default_adapi/src/compatibility/autoware_state.hpp
  system/autoware_default_adapi/src/fail_safe.hpp
  system/autoware_default_adapi/src/heartbeat.cpp
  system/autoware_default_adapi/src/heartbeat.hpp
  system/autoware_default_adapi/src/interface.hpp
  system/autoware_default_adapi/src/localization.cpp
  system/autoware_default_adapi/src/localization.hpp
  system/autoware_default_adapi/src/motion.cpp
  system/autoware_default_adapi/src/motion.hpp
  system/autoware_default_adapi/src/operation_mode.hpp
  system/autoware_default_adapi/src/perception.cpp
  system/autoware_default_adapi/src/perception.hpp
  system/autoware_default_adapi/src/planning.hpp
  system/autoware_default_adapi/src/routing.cpp
  system/autoware_default_adapi/src/routing.hpp
  system/autoware_default_adapi/src/vehicle.cpp
  system/autoware_default_adapi/src/vehicle.hpp
  system/autoware_default_adapi/src/vehicle_door.hpp
  system/autoware_default_adapi/src/vehicle_info.hpp
  system/default_ad_api_helpers/ad_api_adaptors/package.xml
  system/default_ad_api_helpers/ad_api_adaptors/src/initial_pose_adaptor.hpp
  system/default_ad_api_helpers/ad_api_adaptors/src/routing_adaptor.hpp
  system/default_ad_api_helpers/automatic_pose_initializer/package.xml
  system/default_ad_api_helpers/automatic_pose_initializer/src/automatic_pose_initializer.hpp
Labels: type:documentation, component:system, type:ci, component:common, tag:run-build-and-test-differential

#9280 chore(autoware_traffic_light*): add maintainer
  .github/CODEOWNERS
  perception/autoware_crosswalk_traffic_light_estimator/package.xml
  perception/autoware_traffic_light_arbiter/package.xml
  perception/autoware_traffic_light_classifier/package.xml
  perception/autoware_traffic_light_fine_detector/package.xml
  perception/autoware_traffic_light_map_based_detector/package.xml
  perception/autoware_traffic_light_multi_camera_fusion/package.xml
  perception/autoware_traffic_light_occlusion_predictor/package.xml
  perception/autoware_traffic_light_visualization/package.xml
Labels: component:perception, type:ci, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9220 fix(autoware_detected_object_validation): fix bugprone-incorrect-roundings
  perception/autoware_detected_object_validation/src/obstacle_pointcloud/obstacle_pointcloud_validator.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9290 feat(autoware_test_utils): use sample_vehicle/sample_sensor_kit
  common/autoware_test_utils/README.md
  common/autoware_test_utils/config/test_vehicle_info.param.yaml
Labels: type:documentation, component:common, tag:run-build-and-test-differential

#9288 refactor(lane_change): remove std::optional from lanes polygon
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/data_structs.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/utils.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9180 feat(tier4_metric_msgs): apply tier4_metric_msgs for scenario_simulator_v2_adapter, control_evaluator, planning_evaluator, autonomous_emergency_braking, obstacle_cruise_planner, motion_velocity_planner, processing_time_checker
  .github/CODEOWNERS
  control/autoware_autonomous_emergency_braking/include/autoware/autonomous_emergency_braking/node.hpp
  control/autoware_autonomous_emergency_braking/package.xml
  control/autoware_autonomous_emergency_braking/src/node.cpp
  evaluator/autoware_control_evaluator/include/autoware/control_evaluator/control_evaluator_node.hpp
  evaluator/autoware_control_evaluator/launch/control_evaluator.launch.xml
  evaluator/autoware_control_evaluator/package.xml
  evaluator/autoware_control_evaluator/src/control_evaluator_node.cpp
  evaluator/autoware_control_evaluator/test/test_control_evaluator_node.cpp
  evaluator/autoware_evaluator_utils/CHANGELOG.rst
  evaluator/autoware_evaluator_utils/CMakeLists.txt
  evaluator/autoware_evaluator_utils/README.md
  evaluator/autoware_evaluator_utils/include/autoware/evaluator_utils/evaluator_utils.hpp
  evaluator/autoware_evaluator_utils/package.xml
  evaluator/autoware_evaluator_utils/src/evaluator_utils.cpp
  evaluator/autoware_planning_evaluator/CMakeLists.txt
  evaluator/autoware_planning_evaluator/README.md
  evaluator/autoware_planning_evaluator/include/autoware/planning_evaluator/planning_evaluator_node.hpp
  evaluator/autoware_planning_evaluator/launch/planning_evaluator.launch.xml
  evaluator/autoware_planning_evaluator/package.xml
  evaluator/autoware_planning_evaluator/src/planning_evaluator_node.cpp
  evaluator/autoware_planning_evaluator/test/test_planning_evaluator_node.cpp
  evaluator/diagnostic_converter/README.md
  evaluator/diagnostic_converter/src/converter_node.cpp
  evaluator/diagnostic_converter/test/test_converter_node.cpp
  evaluator/scenario_simulator_v2_adapter/CHANGELOG.rst
  evaluator/scenario_simulator_v2_adapter/CMakeLists.txt
  evaluator/scenario_simulator_v2_adapter/README.md
  evaluator/scenario_simulator_v2_adapter/config/scenario_simulator_v2_adapter.param.yaml
  evaluator/scenario_simulator_v2_adapter/include/scenario_simulator_v2_adapter/converter_node.hpp
  evaluator/scenario_simulator_v2_adapter/package.xml
  evaluator/scenario_simulator_v2_adapter/schema/scenario_simulator_v2_adapter.schema.json
  evaluator/scenario_simulator_v2_adapter/src/converter_node.cpp
  evaluator/scenario_simulator_v2_adapter/test/test_converter_node.cpp
  launch/tier4_simulator_launch/launch/simulator.launch.xml
  planning/autoware_obstacle_cruise_planner/include/autoware/obstacle_cruise_planner/common_structs.hpp
  planning/autoware_obstacle_cruise_planner/include/autoware/obstacle_cruise_planner/planner_interface.hpp
  planning/autoware_obstacle_cruise_planner/package.xml
  planning/autoware_obstacle_cruise_planner/src/node.cpp
  planning/autoware_obstacle_cruise_planner/src/optimization_based_planner/optimization_based_planner.cpp
  planning/autoware_obstacle_cruise_planner/src/pid_based_planner/pid_based_planner.cpp
  planning/autoware_obstacle_cruise_planner/src/planner_interface.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node/src/node.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node/src/node.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node/src/planner_manager.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node/src/planner_manager.hpp
  system/autoware_processing_time_checker/README.md
  system/autoware_processing_time_checker/package.xml
  system/autoware_processing_time_checker/src/processing_time_checker.cpp
  system/autoware_processing_time_checker/src/processing_time_checker.hpp
Labels: type:documentation, component:planning, component:control, component:system, type:ci, component:launch, component:evaluator, tag:run-build-and-test-differential

#9261 feat(diagnostic_graph_aggregator): implement diagnostic graph dump functionality
  system/diagnostic_graph_aggregator/script/dump.py
Labels: component:system, tag:run-build-and-test-differential, tag:pr-agent

#9281 perf(autoware_ndt_scan_matcher): remove evecs_, evals_ of Leaf for memory efficiency
  localization/autoware_ndt_scan_matcher/include/autoware/ndt_scan_matcher/ndt_omp/multi_voxel_grid_covariance_omp.h
  localization/autoware_ndt_scan_matcher/src/ndt_omp/multi_voxel_grid_covariance_omp_impl.hpp
Labels: component:localization, tag:run-build-and-test-differential

#9149 test(costmap_generator): unit test implementation for costmap generator
  common/autoware_test_utils/test_map/overlap_map.osm
  planning/autoware_costmap_generator/CMakeLists.txt
  planning/autoware_costmap_generator/include/autoware/costmap_generator/costmap_generator.hpp
  planning/autoware_costmap_generator/include/autoware/costmap_generator/utils/object_map_utils.hpp
  planning/autoware_costmap_generator/include/autoware/costmap_generator/utils/objects_to_costmap.hpp
  planning/autoware_costmap_generator/include/autoware/costmap_generator/utils/points_to_costmap.hpp
  planning/autoware_costmap_generator/package.xml
  planning/autoware_costmap_generator/src/costmap_generator.cpp
  planning/autoware_costmap_generator/src/utils/object_map_utils.cpp
  planning/autoware_costmap_generator/src/utils/objects_to_costmap.cpp
  planning/autoware_costmap_generator/src/utils/points_to_costmap.cpp
  planning/autoware_costmap_generator/test/test_costmap_generator.cpp
  planning/autoware_costmap_generator/test/test_object_map_utils.cpp
  planning/autoware_costmap_generator/test/test_objects_to_costmap.cpp
  planning/autoware_costmap_generator/test/test_points_to_costmap.cpp
Labels: component:planning, component:common, tag:run-build-and-test-differential

#9073 fix(control): missing dependency in control components
  control/autoware_autonomous_emergency_braking/package.xml
  control/autoware_control_validator/package.xml
  control/autoware_trajectory_follower_node/package.xml
  control/autoware_vehicle_cmd_gate/package.xml
Labels: component:control, tag:run-build-and-test-differential

#9307 test(autoware_control_evaluator): add unit test for utils autoware_control_evaluator
  evaluator/autoware_control_evaluator/test/test_control_evaluator_node.cpp
Labels: component:evaluator, tag:run-build-and-test-differential

#9308 fix(collision_detector): skip process when odometry is not published
  control/autoware_collision_detector/include/autoware/collision_detector/node.hpp
  control/autoware_collision_detector/src/node.cpp
  launch/tier4_control_launch/launch/control.launch.xml
Labels: component:control, component:launch, tag:run-build-and-test-differential

#9293 feat(goal_planner): safety check with only parking path
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/path_safety_checker/safety_check.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/path_safety_checker/safety_check.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9270 refactor(goal_planner): remove reference_goal_pose getter/setter
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_searcher.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_searcher_base.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_searcher.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9309 feat(start_planner, lane_departure_checker): speed up by updating polygons
  control/autoware_lane_departure_checker/include/autoware/lane_departure_checker/lane_departure_checker.hpp
  control/autoware_lane_departure_checker/src/lane_departure_checker_node/lane_departure_checker.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/shift_pull_out.cpp
Labels: component:planning, component:control, tag:run-build-and-test-differential

#9314 fix(autoware_trajectory): fix bug of autoware_trajectory
  common/autoware_trajectory/src/pose.cpp
Labels: component:common, tag:run-build-and-test-differential

#9315 feat(autoware_trajectory): change default value of min_points
  common/autoware_trajectory/include/autoware/trajectory/path_point.hpp
  common/autoware_trajectory/include/autoware/trajectory/path_point_with_lane_id.hpp
  common/autoware_trajectory/include/autoware/trajectory/point.hpp
  common/autoware_trajectory/include/autoware/trajectory/pose.hpp
Labels: component:common, tag:run-build-and-test-differential

#9316 chore(codecov): update maintained packages
  codecov.yaml
Labels: type:ci, tag:run-build-and-test-differential

#9301 docs: fix links to design documents
  common/.pages
Labels: tag:deploy-docs, tag:run-build-and-test-differential

#9311 fix(costmap_generator): use vehicle frame for lidar height thresholds
  planning/autoware_costmap_generator/README.md
  planning/autoware_costmap_generator/config/costmap_generator.param.yaml
  planning/autoware_costmap_generator/include/autoware/costmap_generator/costmap_generator.hpp
  planning/autoware_costmap_generator/src/costmap_generator.cpp
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#9306 fix(tier4_dummy_object_rviz_plugin): fix missing dependency
  simulator/tier4_dummy_object_rviz_plugin/package.xml
Labels: component:simulation, tag:run-build-and-test-differential

#9319 fix(run_out): output velocity factor
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/src/scene.cpp
  system/autoware_default_adapi/src/planning.cpp
Labels: component:planning, component:system, tag:run-build-and-test-differential

#9321 fix(codeowner): fix codeowner file's directory name
  .github/CODEOWNERS
Labels: type:ci, tag:run-build-and-test-differential

#9296 feat(behavior_velocity_planner): replace first_stop_path_point_index
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/src/scene_no_stopping_area.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner/src/planner_manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/include/autoware/behavior_velocity_planner_common/plugin_interface.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/include/autoware/behavior_velocity_planner_common/plugin_wrapper.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/include/autoware/behavior_velocity_planner_common/scene_module_interface.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/src/scene_module_interface.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9222 feat(run_out_module): add tests to run out
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/CMakeLists.txt
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/src/dynamic_obstacle.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/src/dynamic_obstacle.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/src/path_utils.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/src/utils.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/src/utils.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/tests/test_dynamic_obstacle.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/tests/test_path_utils.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/tests/test_state_machine.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/tests/test_utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9287 feat(hazard_status_converter): hazard status converter subscribe emergency holding
  system/hazard_status_converter/launch/hazard_status_converter.launch.xml
  system/hazard_status_converter/package.xml
  system/hazard_status_converter/src/converter.cpp
  system/hazard_status_converter/src/converter.hpp
Labels: component:system, tag:run-build-and-test-differential

#9285 feat(mrm_handler): mrm handler publish emergecy holding
  system/mrm_handler/include/mrm_handler/mrm_handler_core.hpp
  system/mrm_handler/launch/mrm_handler.launch.xml
  system/mrm_handler/src/mrm_handler/mrm_handler_core.cpp
Labels: component:system, tag:run-build-and-test-differential

#8977 feat(trajectory_follower): publsih control horzion
  control/autoware_mpc_lateral_controller/include/autoware/mpc_lateral_controller/mpc.hpp
  control/autoware_mpc_lateral_controller/include/autoware/mpc_lateral_controller/mpc_lateral_controller.hpp
  control/autoware_mpc_lateral_controller/src/mpc.cpp
  control/autoware_mpc_lateral_controller/src/mpc_lateral_controller.cpp
  control/autoware_mpc_lateral_controller/test/test_mpc.cpp
  control/autoware_pid_longitudinal_controller/src/pid_longitudinal_controller.cpp
  control/autoware_trajectory_follower_base/include/autoware/trajectory_follower_base/control_horizon.hpp
  control/autoware_trajectory_follower_base/include/autoware/trajectory_follower_base/lateral_controller_base.hpp
  control/autoware_trajectory_follower_base/include/autoware/trajectory_follower_base/longitudinal_controller_base.hpp
  control/autoware_trajectory_follower_node/README.md
  control/autoware_trajectory_follower_node/include/autoware/trajectory_follower_node/controller_node.hpp
  control/autoware_trajectory_follower_node/src/controller_node.cpp
Labels: type:documentation, component:control, tag:run-build-and-test-differential

#9249 refactor(fake_test_node): prefix package and namespace with autoware
  .github/CODEOWNERS
  common/.pages
  common/autoware_fake_test_node/CHANGELOG.rst
  common/autoware_fake_test_node/CMakeLists.txt
  common/autoware_fake_test_node/design/fake_test_node-design.md
  common/autoware_fake_test_node/include/autoware/fake_test_node/fake_test_node.hpp
  common/autoware_fake_test_node/include/autoware/fake_test_node/visibility_control.hpp
  common/autoware_fake_test_node/package.xml
  common/autoware_fake_test_node/src/fake_test_node.cpp
  common/autoware_fake_test_node/test/test_fake_test_node.cpp
  control/autoware_trajectory_follower_node/CMakeLists.txt
  control/autoware_trajectory_follower_node/package.xml
  control/autoware_trajectory_follower_node/test/test_controller_node.cpp
  control/autoware_trajectory_follower_node/test/trajectory_follower_test_utils.hpp
  planning/autoware_path_optimizer/package.xml
  planning/autoware_path_smoother/package.xml
  planning/sampling_based_planner/autoware_path_sampler/package.xml
Labels: type:documentation, component:planning, component:control, type:ci, component:common, tag:run-build-and-test-differential

#9327 fix(freespace_planner): fix is near target check
  planning/autoware_freespace_planner/src/autoware_freespace_planner/utils.cpp
  planning/autoware_freespace_planner/test/test_freespace_planner_utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9326 refactor(static obstacle avoidance): remove redundant calculation
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9299 feat(behavior_velocity_stop_line): replace autoware_motion_utils to autoware_trajectory
  common/autoware_motion_utils/include/autoware/motion_utils/factor/velocity_factor_interface.hpp
  common/autoware_motion_utils/src/factor/velocity_factor_interface.cpp
  common/autoware_trajectory/include/autoware/trajectory/detail/utils.hpp
  common/autoware_trajectory/src/detail/util.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/src/debug.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/src/manager.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/src/scene.hpp
Labels: component:planning, component:common, tag:run-build-and-test-differential

#9324 test(bpp_common): add tests for the static drivable area
  common/autoware_test_utils/include/autoware_test_utils/autoware_test_utils.hpp
  common/autoware_test_utils/src/autoware_test_utils.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/CMakeLists.txt
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/drivable_area_expansion/static_drivable_area.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/drivable_area_expansion/static_drivable_area.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/test/test_static_drivable_area.cpp
Labels: component:planning, component:common, tag:run-build-and-test-differential

#9329 chore(crosswalk)!: delete wide crosswalk corresponding function
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
Labels: component:planning, tag:run-build-and-test-differential

#9330 chore(autoware_behavior_velocity_intersection_module): include opencv as system
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/CMakeLists.txt
Labels: component:planning, tag:run-build-and-test-differential

#9325 refactor(bpp): rework steering factor interface
  planning/behavior_path_planner/autoware_behavior_path_avoidance_by_lane_change_module/src/interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_avoidance_by_lane_change_module/src/interface.hpp
  planning/behavior_path_planner/autoware_behavior_path_avoidance_by_lane_change_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_dynamic_obstacle_avoidance_module/include/autoware/behavior_path_dynamic_obstacle_avoidance_module/manager.hpp
  planning/behavior_path_planner/autoware_behavior_path_dynamic_obstacle_avoidance_module/include/autoware/behavior_path_dynamic_obstacle_avoidance_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_dynamic_obstacle_avoidance_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_external_request_lane_change_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/interface.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner/include/autoware/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner/src/planner_manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/interface/scene_module_interface.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/interface/scene_module_manager_interface.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/interface/steering_factor_interface.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/interface/scene_module_manager_interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/interface/steering_factor_interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_sampling_planner_module/include/autoware/behavior_path_sampling_planner_module/manager.hpp
  planning/behavior_path_planner/autoware_behavior_path_sampling_planner_module/include/autoware/behavior_path_sampling_planner_module/sampling_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_sampling_planner_module/src/sampling_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_side_shift_module/include/autoware/behavior_path_side_shift_module/manager.hpp
  planning/behavior_path_planner/autoware_behavior_path_side_shift_module/include/autoware/behavior_path_side_shift_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_side_shift_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/include/autoware/behavior_path_start_planner_module/manager.hpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/include/autoware/behavior_path_start_planner_module/start_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/start_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/manager.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9338 fix(bpp): update collided polygon pose only once
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/path_safety_checker/safety_check.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9340 fix(static_obstacle_avoidance): override setInitState
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/scene.hpp
Labels: component:planning, tag:run-build-and-test-differential

#9331 chore(autoware_traffic_light_visualization): include opencv as system
  perception/autoware_traffic_light_visualization/CMakeLists.txt
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9337 refactor(factor): move steering factor interface to motion utils
  common/autoware_motion_utils/include/autoware/motion_utils/factor/steering_factor_interface.hpp
  common/autoware_motion_utils/src/factor/steering_factor_interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner/include/autoware/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/CMakeLists.txt
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/interface/scene_module_interface.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/interface/scene_module_manager_interface.hpp
Labels: component:planning, component:common, tag:run-build-and-test-differential

#9322 refactor(lane_change): refactor extended object safety check
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/utils.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9336 feat(autoware_traffic_light_multi_camera_fusion): resolve clang-tidy error
  perception/autoware_traffic_light_multi_camera_fusion/package.xml
  perception/autoware_traffic_light_multi_camera_fusion/src/traffic_light_multi_camera_fusion_node.cpp
  perception/autoware_traffic_light_multi_camera_fusion/src/traffic_light_multi_camera_fusion_node.hpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9344 feat(bpp): add velocity interface
  planning/behavior_path_planner/autoware_behavior_path_planner/src/planner_manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/interface/scene_module_interface.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/interface/scene_module_manager_interface.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/interface/scene_module_manager_interface.cpp
  system/autoware_default_adapi/src/planning.cpp
Labels: component:planning, component:system, tag:run-build-and-test-differential

#9345 feat(avoidance): output velocity factor
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9332 feat(freespace_planner): add processing time pub
  planning/autoware_freespace_planner/include/autoware/freespace_planner/freespace_planner_node.hpp
  planning/autoware_freespace_planner/src/autoware_freespace_planner/freespace_planner_node.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9347 feat(start_planner): output velocity factor
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9349 feat(lane_change): output velocity factor
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/interface.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9348 feat(goal_planner): output velocity factor
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9353 feat(mrm_comfortable_stop_operator): add updateParam for mrm comfortable stop
  system/mrm_comfortable_stop_operator/include/mrm_comfortable_stop_operator/mrm_comfortable_stop_operator_core.hpp
  system/mrm_comfortable_stop_operator/package.xml
  system/mrm_comfortable_stop_operator/src/mrm_comfortable_stop_operator/mrm_comfortable_stop_operator_core.cpp
Labels: component:system, tag:run-build-and-test-differential

#9346 fix(factors_panel): sort by distance to stop/decel or point where it starts moving the steering
  common/tier4_state_rviz_plugin/src/velocity_steering_factors_panel.cpp
Labels: component:common, tag:run-build-and-test-differential

#9355 perf(static_obstacle_avoidance): remove redundant calculation related to lanelet functions
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/data_structs.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/helper.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/utils.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9292 feat(goal_planner): move goal_candidates from ThreadSafeData to GoalPlannerData
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/thread_data.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9251 refactor(traffic_light_utils): prefix package and namespace with autoware
  .github/CODEOWNERS
  common/.pages
  common/autoware_traffic_light_utils/CHANGELOG.rst
  common/autoware_traffic_light_utils/CMakeLists.txt
  common/autoware_traffic_light_utils/README.md
  common/autoware_traffic_light_utils/include/autoware/traffic_light_utils/traffic_light_utils.hpp
  common/autoware_traffic_light_utils/package.xml
  common/autoware_traffic_light_utils/src/traffic_light_utils.cpp
  common/autoware_traffic_light_utils/test/test_traffic_light_utils.cpp
  perception/autoware_traffic_light_occlusion_predictor/package.xml
  perception/autoware_traffic_light_occlusion_predictor/src/node.cpp
  perception/autoware_traffic_light_occlusion_predictor/src/node.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/package.xml
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/traffic_light_utils.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/scene.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/filter_predicted_objects.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_module.cpp
Labels: type:documentation, component:perception, component:planning, type:ci, component:common, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9354 chore(perception_utils): install include directory
  perception/perception_utils/CMakeLists.txt
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9351 feat(tier4_control_launch): use preset.yaml to control which modules to launch for control modules
  launch/tier4_control_launch/launch/control.launch.xml
Labels: component:launch, tag:run-build-and-test-differential

#9367 perf(static_obstacle_avoidance): use lanelet::utils instead of route handle for closest lanelet
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9259 fix(compare_map_segmentation): timer period mismatched with parameter
  perception/autoware_compare_map_segmentation/src/voxel_grid_map_loader/voxel_grid_map_loader.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9371 chore(compare_map_segmentation): add maintainer
  perception/autoware_compare_map_segmentation/package.xml
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9139 feat(autoware_multi_object_tracker): new function to add odometry uncertainty
  perception/autoware_multi_object_tracker/config/multi_object_tracker_node.param.yaml
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/uncertainty/uncertainty_processor.hpp
  perception/autoware_multi_object_tracker/lib/uncertainty/uncertainty_processor.cpp
  perception/autoware_multi_object_tracker/package.xml
  perception/autoware_multi_object_tracker/src/multi_object_tracker_node.cpp
  perception/autoware_multi_object_tracker/src/multi_object_tracker_node.hpp
  perception/autoware_multi_object_tracker/src/processor/input_manager.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9231 fix(autoware_behavior_path_sampling_planner_module): fix invalid parameter file
  planning/behavior_path_planner/autoware_behavior_path_sampling_planner_module/config/sampling_planner.param.yaml
Labels: component:planning, tag:run-build-and-test-differential

#9374 chore(autoware_mpc_lateral_controller): add maintainer
  control/autoware_mpc_lateral_controller/package.xml
Labels: tag:run-build-and-test-differential

#9375 fix(yabloc_pose_initializer): include opencv as system
  localization/yabloc/yabloc_pose_initializer/CMakeLists.txt
Labels: component:localization, tag:run-build-and-test-differential

#9376 fix(autoware_pose_estimator_arbiter): add missing include
  localization/autoware_pose_estimator_arbiter/src/shared_data.hpp
Labels: component:localization, tag:run-build-and-test-differential

#9378 fix(autoware_trajectory_follower_node): fix clang-diagnostic-format-security
  control/autoware_trajectory_follower_node/src/controller_node.cpp
Labels: component:control, tag:run-build-and-test-differential

#9381 fix(autoware_control_validator): fix clang-diagnostic-unused-private-field
  control/autoware_control_validator/include/autoware/control_validator/control_validator.hpp
Labels: component:control, tag:run-build-and-test-differential

#9380 fix(control_performance_analysis): clang-diagnostic-pessimizing-move
  control/control_performance_analysis/src/control_performance_analysis_core.cpp
Labels: component:control, tag:run-build-and-test-differential

#9386 test(bpp_common): add unit test for safety check
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/path_safety_checker/safety_check.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/test/test_safety_check.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9373 feat: suppress warning/error of the empty predicted trajectory by MPC
  control/autoware_control_validator/src/control_validator.cpp
  control/autoware_lane_departure_checker/src/lane_departure_checker_node/lane_departure_checker_node.cpp
  control/autoware_mpc_lateral_controller/README.md
Labels: type:documentation, component:control, tag:run-build-and-test-differential

#9390 fix(autoware_mpc_lateral_controller): fix variableScope
  control/autoware_mpc_lateral_controller/src/mpc.cpp
Labels: component:control, tag:run-build-and-test-differential

#9382 feat(mpc_lateral_controller): suppress rclcpp_warning/error
  control/autoware_mpc_lateral_controller/CMakeLists.txt
  control/autoware_mpc_lateral_controller/include/autoware/mpc_lateral_controller/mpc.hpp
  control/autoware_mpc_lateral_controller/include/autoware/mpc_lateral_controller/mpc_lateral_controller.hpp
  control/autoware_mpc_lateral_controller/src/mpc.cpp
  control/autoware_mpc_lateral_controller/src/mpc_lateral_controller.cpp
  control/autoware_mpc_lateral_controller/test/test_mpc.cpp
  control/autoware_trajectory_follower_node/src/controller_node.cpp
Labels: component:control, tag:run-build-and-test-differential

#9388 fix(autoware_obstacle_stop_planner): fix cppcheck warnings
  planning/autoware_obstacle_stop_planner/src/adaptive_cruise_control.cpp
  planning/autoware_obstacle_stop_planner/src/adaptive_cruise_control.hpp
  planning/autoware_obstacle_stop_planner/src/debug_marker.hpp
Labels: component:planning, tag:run-build-and-test-differential

#9369 refactor(sensing): move CUDA related packages to `sensing/cuda` directory
  sensing/cuda/autoware_cuda_utils/CHANGELOG.rst
  sensing/cuda/autoware_cuda_utils/CMakeLists.txt
  sensing/cuda/autoware_cuda_utils/README.md
  sensing/cuda/autoware_cuda_utils/include/autoware/cuda_utils/cuda_check_error.hpp
  sensing/cuda/autoware_cuda_utils/include/autoware/cuda_utils/cuda_unique_ptr.hpp
  sensing/cuda/autoware_cuda_utils/include/autoware/cuda_utils/stream_unique_ptr.hpp
  sensing/cuda/autoware_cuda_utils/package.xml
Labels: type:documentation, component:sensing, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9394 refactor(sensing): revert "move CUDA related packages to `sensing/cuda` directory"
  sensing/autoware_cuda_utils/CHANGELOG.rst
  sensing/autoware_cuda_utils/CMakeLists.txt
  sensing/autoware_cuda_utils/README.md
  sensing/autoware_cuda_utils/include/autoware/cuda_utils/cuda_check_error.hpp
  sensing/autoware_cuda_utils/include/autoware/cuda_utils/cuda_unique_ptr.hpp
  sensing/autoware_cuda_utils/include/autoware/cuda_utils/stream_unique_ptr.hpp
  sensing/autoware_cuda_utils/package.xml
Labels: type:documentation, component:sensing, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9217 fix(autoware_occupancy_grid_map_outlier_filter): fix bugprone-incorrect-roundings
  perception/autoware_occupancy_grid_map_outlier_filter/src/occupancy_grid_map_outlier_filter_node.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9395 fix(autoware_costmap_generator): fix clang-diagnostic-unused-private-field
  planning/autoware_costmap_generator/include/autoware/costmap_generator/utils/points_to_costmap.hpp
Labels: component:planning, tag:run-build-and-test-differential

#9398 fix(autoware_obstacle_cruise_planner): fix clang-diagnostic-defaulted-function-deleted
  planning/autoware_obstacle_cruise_planner/include/autoware/obstacle_cruise_planner/planner_interface.hpp
Labels: component:planning, tag:run-build-and-test-differential

#9396 fix(autoware_freespace_planning_algorithms): fix clang-diagnostic-unused-private-field
  planning/autoware_freespace_planning_algorithms/include/autoware/freespace_planning_algorithms/rrtstar.hpp
  planning/autoware_freespace_planning_algorithms/src/rrtstar.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9399 fix(autoware_surround_obstacle_checker): fix clang-diagnostic-unused-private-field
  planning/autoware_surround_obstacle_checker/src/debug_marker.cpp
  planning/autoware_surround_obstacle_checker/src/debug_marker.hpp
  planning/autoware_surround_obstacle_checker/src/node.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9393 feat(goal_planner): remove unnecessary member from ThreadSafeData
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/thread_data.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9407 fix(autoware_behavior_velocity_intersection_module): fix clang-diagnostic-unused-lambda-capture
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/manager.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9318 test(autoware_test_utils): add TrafficLight to map, fix launcher
  common/autoware_test_utils/launch/psim_intersection.launch.xml
  common/autoware_test_utils/launch/psim_road_shoulder.launch.xml
  common/autoware_test_utils/rviz/psim_test_map.rviz
  common/autoware_test_utils/test_map/intersection/lanelet2_map.osm
Labels: component:common, tag:run-build-and-test-differential

#9409 fix(autoware_behavior_velocity_intersection_module): fix clang-diagnostic-unused-parameter
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9362 feat(behavior_path_planner_common): use azimuth for interpolatePose
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/path_utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9363 fix(behavior_path_planner_common): prevent duplicated point insertion in cutOverlappedLanes
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/drivable_area_expansion/static_drivable_area.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9416 fix(autoware_behavior_velocity_run_out_module): fix clang-diagnostic-unused-lambda-capture
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/src/manager.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9415 fix(autoware_behavior_velocity_walkway_module): fix clang-diagnostic-unused-lambda-capture
  planning/behavior_velocity_planner/autoware_behavior_velocity_walkway_module/src/manager.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9411 fix(autoware_behavior_velocity_planner): fix clang-diagnostic-format-security
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner/src/node.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9300 feat(simple_planning_simulator): add mechanical actuaion sim model
  simulator/simple_planning_simulator/CMakeLists.txt
  simulator/simple_planning_simulator/README.md
  simulator/simple_planning_simulator/docs/actuation_cmd_sim.md
  simulator/simple_planning_simulator/include/simple_planning_simulator/simple_planning_simulator_core.hpp
  simulator/simple_planning_simulator/include/simple_planning_simulator/utils/mechanical_controller.hpp
  simulator/simple_planning_simulator/include/simple_planning_simulator/vehicle_model/sim_model_actuation_cmd.hpp
  simulator/simple_planning_simulator/include/simple_planning_simulator/vehicle_model/sim_model_interface.hpp
  simulator/simple_planning_simulator/launch/simple_planning_simulator.launch.py
  simulator/simple_planning_simulator/media/mechanical_controller.drawio.svg
  simulator/simple_planning_simulator/media/mechanical_controller_system_identification.png
  simulator/simple_planning_simulator/param/simple_planning_simulator_mechanical_sample.param.yaml
  simulator/simple_planning_simulator/src/simple_planning_simulator/simple_planning_simulator_core.cpp
  simulator/simple_planning_simulator/src/simple_planning_simulator/utils/mechanical_controller.cpp
  simulator/simple_planning_simulator/src/simple_planning_simulator/vehicle_model/sim_model_actuation_cmd.cpp
  simulator/simple_planning_simulator/test/test_simple_planning_simulator.cpp
Labels: type:documentation, component:simulation, tag:run-build-and-test-differential

#9405 fix(autoware_behavior_path_start_planner_module): fix clang-diagnostic-unused-variable
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/pull_out_planner_base.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9406 fix(autoware_behavior_velocity_blind_spot_module): fix clang-diagnostic-unused-parameter
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/src/decisions.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9384 feat(pid_longitudinal_controller): suppress rclcpp_warning/error
  control/autoware_pid_longitudinal_controller/CMakeLists.txt
  control/autoware_pid_longitudinal_controller/include/autoware/pid_longitudinal_controller/pid_longitudinal_controller.hpp
  control/autoware_pid_longitudinal_controller/package.xml
  control/autoware_pid_longitudinal_controller/src/pid_longitudinal_controller.cpp
Labels: component:control, tag:run-build-and-test-differential

#9414 fix(autoware_pointcloud_preprocessor): clang-tidy for overrides
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/crop_box_filter/crop_box_filter_node.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/downsample_filter/voxel_grid_downsample_filter_node.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/outlier_filter/ring_outlier_filter_node.hpp
Labels: component:sensing, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9412 fix(autoware_pointcloud_preprocessor): clang-tidy error in distortion corrector
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/distortion_corrector/distortion_corrector.hpp
Labels: component:sensing, tag:run-build-and-test-differential, tag:require-cuda-build-and-test
