Repository autowarefoundation/autoware_universe, pull requests merged in 2024-12, with the labels that each got.

#9509 fix(autoware_image_projection_based_fusion): fix clang-diagnostic-inconsistent-missing-override
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/segmentation_pointcloud_fusion/node.hpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9468 fix(autoware_bytetrack): fix clang-diagnostic-implicit-const-int-float-conversion
  perception/autoware_bytetrack/lib/include/byte_tracker.h
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9240 feat(object_lanelet_filter): add configurable margin for object lanel…
  perception/autoware_detected_object_validation/CMakeLists.txt
  perception/autoware_detected_object_validation/config/object_lanelet_filter.param.yaml
  perception/autoware_detected_object_validation/object-lanelet-filter.md
  perception/autoware_detected_object_validation/src/lanelet_filter/debug.cpp
  perception/autoware_detected_object_validation/src/lanelet_filter/lanelet_filter.cpp
  perception/autoware_detected_object_validation/src/lanelet_filter/lanelet_filter.hpp
Labels: type:documentation, component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9502 feat(velocity_smoother, external_velocity_limit_selector): enable stronger acceleration when requested
  planning/autoware_external_velocity_limit_selector/include/autoware/external_velocity_limit_selector/external_velocity_limit_selector_node.hpp
  planning/autoware_external_velocity_limit_selector/src/external_velocity_limit_selector_node.cpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/node.hpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/smoother/smoother_base.hpp
  planning/autoware_velocity_smoother/src/node.cpp
  planning/autoware_velocity_smoother/src/smoother/smoother_base.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9517 fix(autoware_ground_segmentation): fix clang-diagnostic-inconsistent-missing-override
  perception/autoware_ground_segmentation/src/scan_ground_filter/node.hpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9513 fix(autoware_bytetrack): fix clang-diagnostic-implicit-const-int-float-conversion
  perception/autoware_bytetrack/lib/src/utils.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9525 fix(autoware_pointcloud_preprocessor): remove unused arg and unavailable param file.
  sensing/autoware_pointcloud_preprocessor/launch/approximate_downsample_filter.launch.xml
  sensing/autoware_pointcloud_preprocessor/launch/crop_box_filter_node.launch.xml
  sensing/autoware_pointcloud_preprocessor/launch/dual_return_outlier_filter_node.launch.xml
  sensing/autoware_pointcloud_preprocessor/launch/pickup_based_voxel_grid_downsample_filter_node.launch.xml
  sensing/autoware_pointcloud_preprocessor/launch/pointcloud_accumulator_node.launch.xml
  sensing/autoware_pointcloud_preprocessor/launch/radius_search_2d_outlier_filter_node.launch.xml
  sensing/autoware_pointcloud_preprocessor/launch/random_downsample_filter_node.launch.xml
  sensing/autoware_pointcloud_preprocessor/launch/ring_outlier_filter_node.launch.xml
  sensing/autoware_pointcloud_preprocessor/launch/ring_passthrough_filter.launch.xml
  sensing/autoware_pointcloud_preprocessor/launch/vector_map_inside_area_filter_node.launch.xml
  sensing/autoware_pointcloud_preprocessor/launch/voxel_grid_downsample_filter_node.launch.xml
  sensing/autoware_pointcloud_preprocessor/launch/voxel_grid_outlier_filter_node.launch.xml
Labels: component:sensing, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9532 fix(control_evaluator): correct goal_lateal_deviation
  evaluator/autoware_control_evaluator/src/control_evaluator_node.cpp
Labels: component:evaluator, tag:run-build-and-test-differential

#9522 refactor(goal_planner): move unnecessary member functions
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9446 fix(learning_based_vehicle_model): fix clang-diagnostic-delete-abstract-non-virtual-dtor
  simulator/learning_based_vehicle_model/include/learning_based_vehicle_model/submodel_interface.hpp
Labels: component:simulation, tag:run-build-and-test-differential

#9523 refactor(goal_planner): move PathDecisionController implementation to a different file
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/CMakeLists.txt
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/decision_state.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9527 ci(sync-files): make use of sync-files-templates repo
  .github/sync-files.yaml
Labels: type:ci, tag:run-build-and-test-differential

#9528 refactor: correct spelling
  .cspell.json
  common/autoware_trajectory/include/autoware/trajectory/point.hpp
  common/autoware_trajectory/test/test_trajectory_container.cpp
  control/autoware_trajectory_follower_node/config/plot_juggler_trajectory_follower.xml
  perception/autoware_shape_estimation/lib/tensorrt_shape_estimator.cpp
  planning/autoware_costmap_generator/src/costmap_generator.cpp
  planning/autoware_freespace_planning_algorithms/test/src/test_freespace_planning_algorithms.cpp
  planning/autoware_path_smoother/src/elastic_band.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection_prepare_data.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/test/test_util.cpp
  planning/sampling_based_planner/autoware_sampler_common/test/test_transform.cpp
  simulator/autoware_carla_interface/README.md
Labels: type:documentation, component:perception, component:planning, component:control, component:common, component:simulation, tag:deploy-docs, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9474 feat(tier4_state_rviz_plugin): check for abrupt deceleration
  common/tier4_state_rviz_plugin/package.xml
  common/tier4_state_rviz_plugin/src/include/velocity_steering_factors_panel.hpp
  common/tier4_state_rviz_plugin/src/velocity_steering_factors_panel.cpp
Labels: component:common, tag:run-build-and-test-differential

#9534 chore(blind_spot): divide headers to include/
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/include/autoware/behavior_velocity_blind_spot_module/manager.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/include/autoware/behavior_velocity_blind_spot_module/scene.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/src/debug.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/src/decisions.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9452 feat(behavior_velocity_planner)!: remove stop_reason
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/include/autoware/behavior_velocity_blind_spot_module/scene.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/src/decisions.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/src/scene.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_merge_from_private_road.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_merge_from_private_road.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_drivable_lane_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_drivable_lane_module/src/scene.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/src/scene_no_stopping_area.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/src/scene_no_stopping_area.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_occlusion_spot_module/src/scene_occlusion_spot.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_occlusion_spot_module/src/scene_occlusion_spot.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner/src/node.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner/src/node.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner/src/planner_manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner/src/planner_manager.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/include/autoware/behavior_velocity_planner_common/plugin_interface.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/include/autoware/behavior_velocity_planner_common/plugin_wrapper.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/include/autoware/behavior_velocity_planner_common/scene_module_interface.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/include/autoware/behavior_velocity_planner_common/utilization/util.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/src/scene_module_interface.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/src/utilization/util.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/src/scene.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_speed_bump_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_speed_bump_module/src/scene.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/src/scene.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_template_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_template_module/src/scene.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/scene.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/src/scene.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_walkway_module/src/scene_walkway.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_walkway_module/src/scene_walkway.hpp
Labels: component:planning, tag:run-build-and-test-differential

#9539 refactor(autoware_behavior_path_side_shift_module): refactor shift length retrieval and improve path orientation handling
  planning/behavior_path_planner/autoware_behavior_path_side_shift_module/include/autoware/behavior_path_side_shift_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_side_shift_module/include/autoware/behavior_path_side_shift_module/utils.hpp
  planning/behavior_path_planner/autoware_behavior_path_side_shift_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_side_shift_module/src/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9391 refactor(test_utils): return parser as optional
  common/autoware_test_utils/include/autoware_test_utils/mock_data_parser.hpp
  common/autoware_test_utils/src/autoware_test_utils.cpp
  common/autoware_test_utils/src/mock_data_parser.cpp
  common/autoware_test_utils/test/test_mock_data_parser.cpp
  planning/autoware_planning_test_manager/src/autoware_planning_test_manager.cpp
  planning/autoware_route_handler/test/test_route_handler.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/test/test_lane_change_scene.cpp
Labels: component:planning, component:common, tag:run-build-and-test-differential

#9540 test(autoware_behavior_path_side_shift_module): add unit tests for util function
  planning/behavior_path_planner/autoware_behavior_path_side_shift_module/CMakeLists.txt
  planning/behavior_path_planner/autoware_behavior_path_side_shift_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_side_shift_module/test/test_side_shift_utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9029 test(lane_departure_checker): add tests for calcTrajectoryDeviation(), calcMaxSearchLengthForBoundaries()
  control/autoware_lane_departure_checker/include/autoware/lane_departure_checker/lane_departure_checker.hpp
  control/autoware_lane_departure_checker/include/autoware/lane_departure_checker/utils.hpp
  control/autoware_lane_departure_checker/src/lane_departure_checker_node/lane_departure_checker.cpp
  control/autoware_lane_departure_checker/src/lane_departure_checker_node/utils.cpp
  control/autoware_lane_departure_checker/test/test_calc_max_search_length_for_boundaries.cpp
  control/autoware_lane_departure_checker/test/test_calc_trajectory_deviation.cpp
Labels: component:control, tag:run-build-and-test-differential

#9537 ci(clang-tidy): enable clang-tidy checks in perception
  .clang-tidy-ignore
Labels: tag:run-build-and-test-differential

#9501 fix(scenario_simulator_v2_adapter): remove invalid CHANGELOG.rst file
  evaluator/scenario_simulator_v2_adapter/CHANGELOG.rst
Labels: type:documentation, component:evaluator, tag:run-build-and-test-differential

#9481 chore(image_projection_based_fusion): add debug for roi_pointcloud fusion
  perception/autoware_image_projection_based_fusion/src/roi_pointcloud_fusion/node.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9392 feat!: replace tier4_map_msgs with autoware_map_msgs for MapProjectorInfo
  build_depends.repos
  common/autoware_component_interface_specs/include/autoware/component_interface_specs/map.hpp
  common/autoware_component_interface_specs/package.xml
  common/autoware_geography_utils/include/autoware/geography_utils/lanelet2_projector.hpp
  common/autoware_geography_utils/include/autoware/geography_utils/projection.hpp
  common/autoware_geography_utils/package.xml
  common/autoware_geography_utils/test/test_projection.cpp
  localization/autoware_geo_pose_projector/README.md
  map/autoware_lanelet2_map_visualizer/package.xml
  map/autoware_map_loader/README.md
  map/autoware_map_loader/include/autoware/map_loader/lanelet2_map_loader_node.hpp
  map/autoware_map_loader/package.xml
  map/autoware_map_loader/src/lanelet2_map_loader/lanelet2_map_loader_node.cpp
  map/autoware_map_projection_loader/README.md
  map/autoware_map_projection_loader/include/autoware/map_projection_loader/load_info_from_lanelet2_map.hpp
  map/autoware_map_projection_loader/include/autoware/map_projection_loader/map_projection_loader.hpp
  map/autoware_map_projection_loader/package.xml
  map/autoware_map_projection_loader/src/load_info_from_lanelet2_map.cpp
  map/autoware_map_projection_loader/src/map_projection_loader.cpp
  map/autoware_map_projection_loader/test/data/map_projector_info_local.yaml
  map/autoware_map_projection_loader/test/test_load_info_from_lanelet2_map.cpp
  map/autoware_map_projection_loader/test/test_node_load_local_cartesian_utm_from_yaml.test.py
  map/autoware_map_projection_loader/test/test_node_load_local_from_yaml.test.py
  map/autoware_map_projection_loader/test/test_node_load_mgrs_from_yaml.test.py
  map/autoware_map_projection_loader/test/test_node_load_transverse_mercator_from_yaml.test.py
  planning/autoware_static_centerline_generator/package.xml
  planning/autoware_static_centerline_generator/src/static_centerline_generator_node.hpp
  sensing/autoware_gnss_poser/README.md
  simulator/autoware_carla_interface/README.md
Labels: type:documentation, component:sensing, component:localization, component:planning, component:map, component:common, component:simulation, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9550 chore(cspell): add new word `libtensorrt` to `cspell.json`
  .cspell.json
Labels: tag:run-build-and-test-differential

#9552 docs(control_performance_analysis): utilize mathjax syntax in readme
  control/control_performance_analysis/README.md
Labels: type:documentation, component:control, tag:deploy-docs, tag:run-build-and-test-differential

#9555 docs: update the list styles
  perception/autoware_radar_crossing_objects_noise_filter/README.md
  perception/autoware_radar_object_clustering/README.md
  planning/autoware_path_optimizer/docs/mpt.md
Labels: type:documentation, component:perception, component:planning, tag:deploy-docs, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9536 fix(autoware_ground_segmentation): remove unused function
  perception/autoware_ground_segmentation/src/scan_ground_filter/grid.hpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9544 refactor(blind_spot): move util functions outside of class
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/CMakeLists.txt
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/include/autoware/behavior_velocity_blind_spot_module/scene.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/include/autoware/behavior_velocity_blind_spot_module/util.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/src/util.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9553 fix(autoware_map_based_prediction): msg namespace
  perception/autoware_map_based_prediction/src/map_based_prediction_node.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9486 chore(autoware_lidar_transfusion): added a warning if we are dropping voxels
  perception/autoware_lidar_transfusion/lib/transfusion_trt.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9520 feat(build-and-test-differential): if unnecessary, completely ignore cuda build
  .github/workflows/build-and-test-differential.yaml
Labels: type:ci, tag:run-build-and-test-differential

#9561 fix(autoware_carla_interface): include "modules" submodule in release package and update setup.py
  simulator/autoware_carla_interface/setup.py
Labels: component:simulation, tag:run-build-and-test-differential

#9465 fix(obstacle_stop_planner): remove stop reason
  planning/autoware_obstacle_stop_planner/README.md
  planning/autoware_obstacle_stop_planner/launch/obstacle_stop_planner.launch.xml
  planning/autoware_obstacle_stop_planner/src/debug_marker.cpp
  planning/autoware_obstacle_stop_planner/src/debug_marker.hpp
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#9303 refactor(global_parameter_loader): prefix package and namespace with autoware
  .github/CODEOWNERS
  common/.pages
  common/autoware_global_parameter_loader/CHANGELOG.rst
  common/autoware_global_parameter_loader/CMakeLists.txt
  common/autoware_global_parameter_loader/Readme.md
  common/autoware_global_parameter_loader/launch/global_params.launch.py
  common/autoware_global_parameter_loader/package.xml
  control/control_performance_analysis/package.xml
  planning/autoware_path_optimizer/launch/launch_visualization.launch.xml
  planning/autoware_static_centerline_generator/launch/static_centerline_generator.launch.xml
  planning/autoware_static_centerline_generator/package.xml
  vehicle/autoware_steer_offset_estimator/launch/steer_offset_estimator.launch.xml
  vehicle/autoware_steer_offset_estimator/package.xml
Labels: type:documentation, component:planning, component:control, component:vehicle, type:ci, component:common, tag:run-build-and-test-differential

#9565 fix(cpplint): include what you use - control
  control/autoware_autonomous_emergency_braking/src/node.cpp
  control/autoware_autonomous_emergency_braking/src/utils.cpp
  control/autoware_autonomous_emergency_braking/test/test.cpp
  control/autoware_collision_detector/src/node.cpp
  control/autoware_control_validator/src/control_validator.cpp
  control/autoware_control_validator/test/test_control_validator.cpp
  control/autoware_lane_departure_checker/src/lane_departure_checker_node/lane_departure_checker.cpp
  control/autoware_lane_departure_checker/src/lane_departure_checker_node/utils.cpp
  control/autoware_lane_departure_checker/test/test_calc_max_search_length_for_boundaries.cpp
  control/autoware_lane_departure_checker/test/test_calc_trajectory_deviation.cpp
  control/autoware_lane_departure_checker/test/test_create_vehicle_footprints.cpp
  control/autoware_lane_departure_checker/test/test_resample_trajectory.cpp
  control/autoware_mpc_lateral_controller/src/lowpass_filter.cpp
  control/autoware_mpc_lateral_controller/src/mpc.cpp
  control/autoware_mpc_lateral_controller/src/mpc_trajectory.cpp
  control/autoware_mpc_lateral_controller/src/mpc_utils.cpp
  control/autoware_obstacle_collision_checker/test/test_obstacle_collision_checker.cpp
  control/autoware_operation_mode_transition_manager/src/data.cpp
  control/autoware_operation_mode_transition_manager/src/node.cpp
  control/autoware_operation_mode_transition_manager/src/state.cpp
  control/autoware_pid_longitudinal_controller/src/longitudinal_controller_utils.cpp
  control/autoware_pure_pursuit/src/autoware_pure_pursuit/autoware_pure_pursuit_lateral_controller.cpp
  control/autoware_pure_pursuit/src/autoware_pure_pursuit_core/interpolate.cpp
  control/autoware_smart_mpc_trajectory_follower/autoware_smart_mpc_trajectory_follower/src/proxima_calc.cpp
  control/autoware_trajectory_follower_node/test/test_controller_node.cpp
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_filter.cpp
  control/autoware_vehicle_cmd_gate/test/src/test_filter_in_vehicle_cmd_gate_node.cpp
  control/control_performance_analysis/src/control_performance_analysis_core.cpp
  control/predicted_path_checker/src/predicted_path_checker_node/collision_checker.cpp
  control/predicted_path_checker/src/predicted_path_checker_node/utils.cpp
Labels: component:control, tag:run-build-and-test-differential

#9566 fix(cpplint): include what you use - evaluator
  evaluator/autoware_control_evaluator/test/test_control_evaluator_node.cpp
  evaluator/autoware_planning_evaluator/src/planning_evaluator_node.cpp
  evaluator/autoware_planning_evaluator/test/test_planning_evaluator_node.cpp
  evaluator/kinematic_evaluator/test/test_kinematic_evaluator_node.cpp
  evaluator/localization_evaluator/test/test_localization_evaluator_node.cpp
  evaluator/perception_online_evaluator/src/metrics/detection_count.cpp
  evaluator/perception_online_evaluator/src/metrics/deviation_metrics.cpp
  evaluator/perception_online_evaluator/src/utils/marker_utils.cpp
  evaluator/perception_online_evaluator/src/utils/objects_filtering.cpp
  evaluator/perception_online_evaluator/test/test_perception_online_evaluator_node.cpp
  evaluator/scenario_simulator_v2_adapter/src/converter_node.cpp
Labels: component:evaluator, tag:run-build-and-test-differential

#9567 fix(cpplint): include what you use - localization
  localization/autoware_ekf_localizer/src/ekf_localizer.cpp
  localization/autoware_ekf_localizer/test/test_aged_object_queue.cpp
  localization/autoware_ekf_localizer/test/test_diagnostics.cpp
  localization/autoware_ekf_localizer/test/test_numeric.cpp
  localization/autoware_geo_pose_projector/src/geo_pose_projector.cpp
  localization/autoware_landmark_based_localizer/autoware_ar_tag_based_localizer/src/ar_tag_based_localizer.cpp
  localization/autoware_landmark_based_localizer/autoware_ar_tag_based_localizer/test/test.cpp
  localization/autoware_landmark_based_localizer/autoware_landmark_manager/src/landmark_manager.cpp
  localization/autoware_landmark_based_localizer/autoware_lidar_marker_localizer/src/lidar_marker_localizer.cpp
  localization/autoware_localization_util/src/covariance_ellipse.cpp
  localization/autoware_localization_util/src/tree_structured_parzen_estimator.cpp
  localization/autoware_localization_util/src/util_func.cpp
  localization/autoware_localization_util/test/test_tpe.cpp
  localization/autoware_ndt_scan_matcher/include/autoware/ndt_scan_matcher/ndt_omp/multigrid_ndt_omp.h
  localization/autoware_ndt_scan_matcher/src/map_update_module.cpp
  localization/autoware_ndt_scan_matcher/src/ndt_omp/estimate_covariance.cpp
  localization/autoware_ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
  localization/autoware_ndt_scan_matcher/src/particle.cpp
  localization/autoware_ndt_scan_matcher/test/test_fixture.hpp
  localization/autoware_pose_covariance_modifier/src/pose_covariance_modifier.cpp
  localization/autoware_pose_estimator_arbiter/example_rule/src/rule_helper/pose_estimator_area.cpp
  localization/autoware_pose_estimator_arbiter/example_rule/src/switch_rule/pcd_map_based_rule.cpp
  localization/autoware_pose_estimator_arbiter/example_rule/src/switch_rule/vector_map_based_rule.cpp
  localization/autoware_pose_estimator_arbiter/example_rule/test/test_pcd_map_based_rule.cpp
  localization/autoware_pose_estimator_arbiter/example_rule/test/test_rule_helper.cpp
  localization/autoware_pose_estimator_arbiter/example_rule/test/test_vector_map_based_rule.cpp
  localization/autoware_pose_estimator_arbiter/src/pose_estimator_arbiter_core.cpp
  localization/autoware_pose_estimator_arbiter/src/switch_rule/enable_all_rule.cpp
  localization/autoware_pose_initializer/src/localization_module.cpp
  localization/autoware_pose_initializer/test/test_copy_vector_to_array.cpp
  localization/autoware_pose_instability_detector/src/pose_instability_detector.cpp
  localization/autoware_pose_instability_detector/test/test.cpp
  localization/yabloc/yabloc_common/src/camera_info_subscriber.cpp
  localization/yabloc/yabloc_common/src/cv_decompress.cpp
  localization/yabloc/yabloc_common/src/ground_server/ground_server_core.cpp
  localization/yabloc/yabloc_common/src/ground_server/polygon_operation.cpp
  localization/yabloc/yabloc_common/src/ll2_decomposer/ll2_decomposer_core.cpp
  localization/yabloc/yabloc_common/src/static_tf_subscriber.cpp
  localization/yabloc/yabloc_image_processing/src/graph_segment/graph_segment_core.cpp
  localization/yabloc/yabloc_image_processing/src/graph_segment/similar_area_searcher.cpp
  localization/yabloc/yabloc_image_processing/src/lanelet2_overlay/lanelet2_overlay_core.cpp
  localization/yabloc/yabloc_image_processing/src/line_segment_detector/line_segment_detector_core.cpp
  localization/yabloc/yabloc_image_processing/src/segment_filter/segment_filter_core.cpp
  localization/yabloc/yabloc_image_processing/src/undistort/undistort_node.cpp
  localization/yabloc/yabloc_particle_filter/include/yabloc_particle_filter/ll2_cost_map/hierarchical_cost_map.hpp
  localization/yabloc/yabloc_particle_filter/src/camera_corrector/camera_particle_corrector_core.cpp
  localization/yabloc/yabloc_particle_filter/src/camera_corrector/filter_line_segments.cpp
  localization/yabloc/yabloc_particle_filter/src/common/mean.cpp
  localization/yabloc/yabloc_particle_filter/src/common/particle_visualize_node.cpp
  localization/yabloc/yabloc_particle_filter/src/common/visualize.cpp
  localization/yabloc/yabloc_particle_filter/src/correction/abstract_corrector.cpp
  localization/yabloc/yabloc_particle_filter/src/ll2_cost_map/direct_cost_map.cpp
  localization/yabloc/yabloc_particle_filter/src/ll2_cost_map/hierarchical_cost_map.cpp
  localization/yabloc/yabloc_particle_filter/src/prediction/predictor.cpp
  localization/yabloc/yabloc_particle_filter/src/prediction/resampler.cpp
  localization/yabloc/yabloc_pose_initializer/src/camera/camera_pose_initializer_core.cpp
  localization/yabloc/yabloc_pose_initializer/src/camera/lane_image.cpp
  localization/yabloc/yabloc_pose_initializer/src/camera/marker_module.cpp
  localization/yabloc/yabloc_pose_initializer/src/camera/projector_module.cpp
  localization/yabloc/yabloc_pose_initializer/src/camera/semantic_segmentation.cpp
Labels: component:localization, tag:run-build-and-test-differential

#9568 fix(cpplint): include what you use - map
  map/autoware_map_height_fitter/src/map_height_fitter.cpp
  map/autoware_map_loader/src/lanelet2_map_loader/lanelet2_map_loader_node.cpp
  map/autoware_map_loader/src/pointcloud_map_loader/differential_map_loader_module.cpp
  map/autoware_map_loader/src/pointcloud_map_loader/partial_map_loader_module.cpp
  map/autoware_map_loader/src/pointcloud_map_loader/pointcloud_map_loader_node.cpp
  map/autoware_map_loader/src/pointcloud_map_loader/selected_map_loader_module.cpp
  map/autoware_map_loader/src/pointcloud_map_loader/utils.cpp
  map/autoware_map_loader/test/test_differential_map_loader_module.cpp
  map/autoware_map_loader/test/test_load_pcd_metadata.cpp
  map/autoware_map_loader/test/test_partial_map_loader_module.cpp
  map/autoware_map_loader/test/test_pointcloud_map_loader_module.cpp
  map/autoware_map_loader/test/test_replace_with_absolute_path.cpp
  map/autoware_map_projection_loader/src/map_projection_loader.cpp
  map/autoware_map_projection_loader/test/test_load_info_from_lanelet2_map.cpp
  map/autoware_map_tf_generator/src/pcd_map_tf_generator_node.cpp
  map/autoware_map_tf_generator/src/vector_map_tf_generator_node.cpp
  map/autoware_map_tf_generator/test/test_uniform_random.cpp
Labels: component:map, tag:run-build-and-test-differential

#9571 fix(cpplint): include what you use - sensing
  sensing/autoware_image_diagnostics/src/image_diagnostics_node.cpp
  sensing/autoware_imu_corrector/src/gyro_bias_estimation_module.cpp
  sensing/autoware_imu_corrector/src/gyro_bias_estimator.cpp
  sensing/autoware_imu_corrector/src/imu_corrector_core.cpp
  sensing/autoware_imu_corrector/test/test_gyro_bias_estimation_module.cpp
  sensing/autoware_pointcloud_preprocessor/src/blockage_diag/blockage_diag_node.cpp
  sensing/autoware_pointcloud_preprocessor/src/concatenate_data/concatenate_and_time_sync_nodelet.cpp
  sensing/autoware_pointcloud_preprocessor/src/crop_box_filter/crop_box_filter_node.cpp
  sensing/autoware_pointcloud_preprocessor/src/distortion_corrector/distortion_corrector.cpp
  sensing/autoware_pointcloud_preprocessor/src/distortion_corrector/distortion_corrector_node.cpp
  sensing/autoware_pointcloud_preprocessor/src/downsample_filter/faster_voxel_grid_downsample_filter.cpp
  sensing/autoware_pointcloud_preprocessor/src/downsample_filter/pickup_based_voxel_grid_downsample_filter_node.cpp
  sensing/autoware_pointcloud_preprocessor/src/downsample_filter/robin_hood.h
  sensing/autoware_pointcloud_preprocessor/src/outlier_filter/ring_outlier_filter_node.cpp
  sensing/autoware_pointcloud_preprocessor/src/polygon_remover/polygon_remover.cpp
  sensing/autoware_pointcloud_preprocessor/src/time_synchronizer/time_synchronizer_node.cpp
  sensing/autoware_pointcloud_preprocessor/src/utility/geometry.cpp
  sensing/autoware_pointcloud_preprocessor/src/vector_map_filter/vector_map_inside_area_filter_node.cpp
  sensing/autoware_pointcloud_preprocessor/test/test_distortion_corrector_node.cpp
  sensing/autoware_radar_tracks_noise_filter/test/radar_tracks_noise_filter/test_radar_tracks_noise_filter_is_noise.cpp
  sensing/vehicle_velocity_converter/src/vehicle_velocity_converter.cpp
Labels: component:sensing, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9572 fix(cpplint): include what you use - simulator
  simulator/dummy_perception_publisher/src/node.cpp
  simulator/dummy_perception_publisher/src/pointcloud_creator.cpp
  simulator/dummy_perception_publisher/src/signed_distance_function.cpp
  simulator/fault_injection/include/fault_injection/fault_injection_diag_updater.hpp
  simulator/learning_based_vehicle_model/src/interconnected_model.cpp
  simulator/learning_based_vehicle_model/src/model_connections_helpers.cpp
  simulator/learning_based_vehicle_model/src/simple_pymodel.cpp
  simulator/simple_planning_simulator/src/simple_planning_simulator/simple_planning_simulator_core.cpp
  simulator/simple_planning_simulator/src/simple_planning_simulator/utils/csv_loader.cpp
  simulator/simple_planning_simulator/src/simple_planning_simulator/vehicle_model/sim_model_actuation_cmd.cpp
  simulator/simple_planning_simulator/src/simple_planning_simulator/vehicle_model/sim_model_delay_steer_map_acc_geared.cpp
  simulator/simple_planning_simulator/src/simple_planning_simulator/vehicle_model/sim_model_learned_steer_vel.cpp
  simulator/simple_planning_simulator/test/test_simple_planning_simulator.cpp
  simulator/tier4_dummy_object_rviz_plugin/src/tools/interactive_object.cpp
Labels: component:simulation, tag:run-build-and-test-differential

#9573 fix(cpplint): include what you use - system
  system/autoware_default_adapi/src/perception.cpp
  system/autoware_default_adapi/src/vehicle.cpp
  system/bluetooth_monitor/service/l2ping_service.cpp
  system/bluetooth_monitor/service/main.cpp
  system/component_state_monitor/src/main.cpp
  system/diagnostic_graph_aggregator/src/common/graph/config.cpp
  system/diagnostic_graph_aggregator/src/common/graph/data.cpp
  system/diagnostic_graph_aggregator/src/common/graph/error.cpp
  system/diagnostic_graph_aggregator/src/common/graph/graph.cpp
  system/diagnostic_graph_aggregator/src/common/graph/loader.cpp
  system/diagnostic_graph_aggregator/src/tool/plantuml.cpp
  system/diagnostic_graph_aggregator/src/tool/tree.cpp
  system/diagnostic_graph_aggregator/test/src/test2.cpp
  system/diagnostic_graph_aggregator/test/src/utils.cpp
  system/diagnostic_graph_utils/src/lib/graph.cpp
  system/diagnostic_graph_utils/src/lib/subscription.cpp
  system/diagnostic_graph_utils/src/node/dump.cpp
  system/diagnostic_graph_utils/src/node/logging.cpp
  system/dummy_diag_publisher/src/dummy_diag_publisher_core.cpp
  system/duplicated_node_checker/src/duplicated_node_checker_core.cpp
  system/hazard_status_converter/src/converter.cpp
  system/mrm_comfortable_stop_operator/src/mrm_comfortable_stop_operator/mrm_comfortable_stop_operator_core.cpp
  system/mrm_emergency_stop_operator/src/mrm_emergency_stop_operator/mrm_emergency_stop_operator_core.cpp
  system/system_monitor/reader/msr_reader/msr_reader.cpp
  system/system_monitor/reader/traffic_reader/traffic_reader_main.cpp
  system/system_monitor/reader/traffic_reader/traffic_reader_service.cpp
  system/system_monitor/src/cpu_monitor/cpu_monitor_base.cpp
  system/system_monitor/src/gpu_monitor/nvml_gpu_monitor.cpp
  system/system_monitor/src/hdd_monitor/hdd_monitor.cpp
  system/system_monitor/src/mem_monitor/mem_monitor.cpp
  system/system_monitor/src/net_monitor/net_monitor.cpp
  system/system_monitor/src/ntp_monitor/ntp_monitor.cpp
  system/system_monitor/src/process_monitor/process_monitor.cpp
  system/system_monitor/src/voltage_monitor/voltage_monitor.cpp
  system/system_monitor/test/src/process_monitor/top3.cpp
Labels: component:system, tag:run-build-and-test-differential

#9574 fix(cpplint): include what you use - tools
  tools/reaction_analyzer/src/reaction_analyzer_node.cpp
  tools/reaction_analyzer/src/subscriber.cpp
  tools/reaction_analyzer/src/topic_publisher.cpp
  tools/reaction_analyzer/src/utils.cpp
Labels: component:tools, tag:run-build-and-test-differential

#9575 fix(cpplint): include what you use - vehicle
  vehicle/autoware_accel_brake_map_calibrator/include/autoware_accel_brake_map_calibrator/accel_brake_map_calibrator_node.hpp
  vehicle/autoware_accel_brake_map_calibrator/src/accel_brake_map_calibrator_node.cpp
  vehicle/autoware_external_cmd_converter/src/node.cpp
  vehicle/autoware_external_cmd_converter/tests/test_external_cmd_converter.cpp
  vehicle/autoware_raw_vehicle_cmd_converter/src/csv_loader.cpp
  vehicle/autoware_raw_vehicle_cmd_converter/src/node.cpp
  vehicle/autoware_raw_vehicle_cmd_converter/src/pid.cpp
  vehicle/autoware_raw_vehicle_cmd_converter/test/test_autoware_raw_vehicle_cmd_converter.cpp
Labels: component:vehicle, tag:run-build-and-test-differential

#9545 feat(lane_changing): improve computation of lane changing acceleration
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/config/lane_change.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/calculation.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/parameters.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/calculation.cpp
Labels: type:documentation, component:planning, tag:deploy-docs, tag:run-build-and-test-differential

#9185 feat(lane_change): reduce prepare duration when blinker has been activated
  .github/_CODEOWNERS
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/config/lane_change.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/base_class.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/calculation.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/data_structs.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/parameters.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/calculation.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/test/test_lane_change_scene.cpp
Labels: type:documentation, component:planning, type:ci, tag:run-build-and-test-differential

#9181 chore(compare_map_segmentation): rename defined type
  perception/autoware_compare_map_segmentation/src/distance_based_compare_map_filter/node.hpp
  perception/autoware_compare_map_segmentation/src/voxel_distance_based_compare_map_filter/node.hpp
  perception/autoware_compare_map_segmentation/src/voxel_grid_map_loader/voxel_grid_map_loader.cpp
  perception/autoware_compare_map_segmentation/src/voxel_grid_map_loader/voxel_grid_map_loader.hpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9547 refactor(lane_departure_checker): move member functions to util functions
  control/autoware_lane_departure_checker/include/autoware/lane_departure_checker/lane_departure_checker.hpp
  control/autoware_lane_departure_checker/include/autoware/lane_departure_checker/utils.hpp
  control/autoware_lane_departure_checker/src/lane_departure_checker_node/lane_departure_checker.cpp
  control/autoware_lane_departure_checker/src/lane_departure_checker_node/utils.cpp
Labels: component:control, tag:run-build-and-test-differential

#9548 test(lane_departure_checker): add unit test for createVehiclePassingAreas
  control/autoware_lane_departure_checker/test/test_create_vehicle_passing_areas.cpp
Labels: component:control, tag:run-build-and-test-differential

#9533 fix(autoware_multi_object_tracker): measure latency with latest detection update time
  perception/autoware_multi_object_tracker/src/multi_object_tracker_node.cpp
  perception/autoware_multi_object_tracker/src/multi_object_tracker_node.hpp
  perception/autoware_multi_object_tracker/src/processor/input_manager.cpp
  perception/autoware_multi_object_tracker/src/processor/input_manager.hpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9580 chore(autoware_autonomous_emergency_braking): add package maintainer
  control/autoware_autonomous_emergency_braking/package.xml
Labels: component:control, tag:run-build-and-test-differential

#9581 chore(autoware_behavior_path_static_obstacle_avoidance_module): add maintainer
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/package.xml
Labels: component:planning, tag:run-build-and-test-differential

#9563 feat(bytetrack): remove unreachable code block from lapjv.h
  perception/autoware_bytetrack/lib/include/lapjv.h
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9579 feat(costmap_generator, scenario_selector): improve freespace planning stability
  planning/autoware_costmap_generator/include/autoware/costmap_generator/costmap_generator.hpp
  planning/autoware_costmap_generator/src/costmap_generator.cpp
  planning/autoware_scenario_selector/src/node.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9562 refactor(goal_planner): improve log message and change level
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9554 feat(autoware_geography_utils)!: move autoware_geography_utils to autoware.core
  common/autoware_geography_utils/CHANGELOG.rst
  common/autoware_geography_utils/CMakeLists.txt
  common/autoware_geography_utils/README.md
  common/autoware_geography_utils/include/autoware/geography_utils/height.hpp
  common/autoware_geography_utils/include/autoware/geography_utils/lanelet2_projector.hpp
  common/autoware_geography_utils/include/autoware/geography_utils/projection.hpp
  common/autoware_geography_utils/package.xml
  common/autoware_geography_utils/src/height.cpp
  common/autoware_geography_utils/src/lanelet2_projector.cpp
  common/autoware_geography_utils/src/projection.cpp
  common/autoware_geography_utils/test/test_geography_utils.cpp
  common/autoware_geography_utils/test/test_height.cpp
  common/autoware_geography_utils/test/test_projection.cpp
Labels: type:documentation, component:common, tag:run-build-and-test-differential

#9551 test(autoware_behavior_velocity_planner_common): refactor and test autoware_behavior_velocity_planner_common
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/CMakeLists.txt
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/include/autoware/behavior_velocity_planner_common/planner_data.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/include/autoware/behavior_velocity_planner_common/scene_module_interface.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/include/autoware/behavior_velocity_planner_common/utilization/arc_lane_util.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/include/autoware/behavior_velocity_planner_common/utilization/debug.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/include/autoware/behavior_velocity_planner_common/utilization/path_utilization.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/include/autoware/behavior_velocity_planner_common/utilization/state_machine.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/include/autoware/behavior_velocity_planner_common/utilization/util.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/src/planner_data.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/src/utilization/arc_lane_util.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/src/utilization/boost_geometry_helper.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/src/utilization/debug.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/src/utilization/path_utilization.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/src/utilization/trajectory_utils.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/src/utilization/util.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/test/src/test_path_utilization.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/test/src/test_trajectory_utils.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/test/src/test_util.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9546 docs(autoware_pyplot): add missing readme and move the package to common
  common/autoware_pyplot/CMakeLists.txt
  common/autoware_pyplot/README.md
  common/autoware_pyplot/include/autoware/pyplot/axes.hpp
  common/autoware_pyplot/include/autoware/pyplot/common.hpp
  common/autoware_pyplot/include/autoware/pyplot/figure.hpp
  common/autoware_pyplot/include/autoware/pyplot/legend.hpp
  common/autoware_pyplot/include/autoware/pyplot/loader.hpp
  common/autoware_pyplot/include/autoware/pyplot/patches.hpp
  common/autoware_pyplot/include/autoware/pyplot/pyplot.hpp
  common/autoware_pyplot/include/autoware/pyplot/quiver.hpp
  common/autoware_pyplot/include/autoware/pyplot/text.hpp
  common/autoware_pyplot/package.xml
  common/autoware_pyplot/src/axes.cpp
  common/autoware_pyplot/src/common.cpp
  common/autoware_pyplot/src/figure.cpp
  common/autoware_pyplot/src/legend.cpp
  common/autoware_pyplot/src/patches.cpp
  common/autoware_pyplot/src/pyplot.cpp
  common/autoware_pyplot/src/quiver.cpp
  common/autoware_pyplot/src/text.cpp
  common/autoware_pyplot/test/test_pyplot.cpp
Labels: type:documentation, component:common, tag:run-build-and-test-differential

#8967 refactor(vehicle_velocity_converter)!: prefix package and namespace with autoware
  .github/_CODEOWNERS
  launch/tier4_simulator_launch/launch/simulator.launch.xml
  sensing/autoware_vehicle_velocity_converter/CHANGELOG.rst
  sensing/autoware_vehicle_velocity_converter/CMakeLists.txt
  sensing/autoware_vehicle_velocity_converter/README.md
  sensing/autoware_vehicle_velocity_converter/config/vehicle_velocity_converter.param.yaml
  sensing/autoware_vehicle_velocity_converter/launch/vehicle_velocity_converter.launch.xml
  sensing/autoware_vehicle_velocity_converter/package.xml
  sensing/autoware_vehicle_velocity_converter/schema/vehicle_velocity_converter.json
  sensing/autoware_vehicle_velocity_converter/src/vehicle_velocity_converter.cpp
  sensing/autoware_vehicle_velocity_converter/src/vehicle_velocity_converter.hpp
Labels: type:documentation, component:sensing, type:ci, component:launch, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9460 feat(goal_planner): check opposite lane for lane departure_check
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/util.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9585 fix(goal_planner): fix isStopped judgement
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9591 fix(autoware_behavior_velocity_stop_line_module): remove unused function
  planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9519 fix(autoware_image_projection_based_fusion): detected object roi box projection fix
  perception/autoware_image_projection_based_fusion/src/roi_detected_object_fusion/node.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9385 fix(lane_change): check obj predicted path when filtering
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/utils.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/utils.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/path_safety_checker/objects_filtering.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/path_safety_checker/objects_filtering.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9605 revert(CODEOWNERS): revert accidental rename
  .github/CODEOWNERS
Labels: type:ci, tag:run-build-and-test-differential

#9421 feat(diagnostic_graph_utils): publish error graph instead of the terminal log
  system/diagnostic_graph_utils/launch/logging.launch.xml
  system/diagnostic_graph_utils/package.xml
  system/diagnostic_graph_utils/src/node/logging.cpp
  system/diagnostic_graph_utils/src/node/logging.hpp
Labels: component:system

#9598 ci(pr-agent): reduce the contents:write permission to read for security
  .github/workflows/pr-agent.yaml
Labels: type:ci, tag:run-build-and-test-differential

#9601 ci(build-and-test): use self hosted X64 and add ccache to -daily
  .github/workflows/build-and-test-daily.yaml
  .github/workflows/build-and-test.yaml
Labels: type:ci, tag:run-build-and-test-differential

#6297 build(behavior_path_planner_common): fix #include <rclcpp/clock.hpp>
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/data_manager.hpp
Labels: component:planning, tag:run-build-and-test-differential

#9596 feat: remove max rois limit in the image projection based fusion
  perception/autoware_image_projection_based_fusion/src/fusion_node.cpp
Labels: component:perception, tag:require-cuda-build-and-test

#9595 fix(lidar_centerpoint): non-maximum suppression target decision logic
  perception/autoware_image_projection_based_fusion/config/pointpainting.param.yaml
  perception/autoware_image_projection_based_fusion/docs/pointpainting-fusion.md
  perception/autoware_image_projection_based_fusion/schema/pointpainting.schema.json
  perception/autoware_image_projection_based_fusion/src/pointpainting_fusion/node.cpp
  perception/autoware_lidar_centerpoint/README.md
  perception/autoware_lidar_centerpoint/config/centerpoint.param.yaml
  perception/autoware_lidar_centerpoint/config/centerpoint_sigma.param.yaml
  perception/autoware_lidar_centerpoint/config/centerpoint_tiny.param.yaml
  perception/autoware_lidar_centerpoint/include/autoware/lidar_centerpoint/postprocess/non_maximum_suppression.hpp
  perception/autoware_lidar_centerpoint/lib/postprocess/non_maximum_suppression.cpp
  perception/autoware_lidar_centerpoint/schema/centerpoint.schemal.json
  perception/autoware_lidar_centerpoint/src/node.cpp
  perception/autoware_lidar_centerpoint/test/test_nms.cpp
Labels: type:documentation, component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9612 fix(autoware_lidar_transfusion): non-maximum suppression target decision logic
  perception/autoware_lidar_transfusion/config/transfusion.param.yaml
  perception/autoware_lidar_transfusion/include/autoware/lidar_transfusion/postprocess/non_maximum_suppression.hpp
  perception/autoware_lidar_transfusion/lib/postprocess/non_maximum_suppression.cpp
  perception/autoware_lidar_transfusion/schema/transfusion.schema.dummy.json
  perception/autoware_lidar_transfusion/src/lidar_transfusion_node.cpp
  perception/autoware_lidar_transfusion/test/test_nms.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9594 refactor(obstacle_cruise_planner)!: refactor rviz and terminal info
  planning/autoware_obstacle_cruise_planner/include/autoware/obstacle_cruise_planner/common_structs.hpp
  planning/autoware_obstacle_cruise_planner/include/autoware/obstacle_cruise_planner/node.hpp
  planning/autoware_obstacle_cruise_planner/package.xml
  planning/autoware_obstacle_cruise_planner/src/node.cpp
  planning/autoware_obstacle_cruise_planner/src/pid_based_planner/pid_based_planner.cpp
  planning/autoware_obstacle_cruise_planner/src/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9609 feat(duplicated_node_checker): show the node name on the terminal
  system/duplicated_node_checker/src/duplicated_node_checker_core.cpp
Labels: component:system, tag:run-build-and-test-differential

#9426 fix(static_centerline_generator): several bug fixes
  common/autoware_vehicle_info_utils/include/autoware_vehicle_info_utils/vehicle_info.hpp
  common/autoware_vehicle_info_utils/src/vehicle_info.cpp
  planning/autoware_static_centerline_generator/launch/static_centerline_generator.launch.xml
  planning/autoware_static_centerline_generator/package.xml
  planning/autoware_static_centerline_generator/src/static_centerline_generator_node.cpp
Labels: component:planning, component:common, tag:run-build-and-test-differential

#9613 refactor(autoware_multi_object_tracker): merge normal_vehicle_tracker and big_vehicle_tracker
  perception/autoware_multi_object_tracker/CMakeLists.txt
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/big_vehicle_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/multiple_vehicle_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/vehicle_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/tracker.hpp
  perception/autoware_multi_object_tracker/lib/tracker/model/multiple_vehicle_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/normal_vehicle_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/vehicle_tracker.cpp
  perception/autoware_multi_object_tracker/src/processor/processor.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9624 fix(tier4_perception_launch): update multi-channel subscribing channel name to lidar_detection_model_type
  launch/tier4_perception_launch/launch/object_recognition/tracking/tracking.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
Labels: component:launch, tag:run-build-and-test-differential

#9617 refactor(autoware_test_utils): enhance makeMapBinMsg to accept package name and map filename parameters
  common/autoware_test_utils/include/autoware_test_utils/autoware_test_utils.hpp
  common/autoware_test_utils/src/autoware_test_utils.cpp
  planning/autoware_planning_test_manager/include/autoware_planning_test_manager/autoware_planning_test_manager_utils.hpp
Labels: component:planning, component:common, tag:run-build-and-test-differential

#9611 refactor(tier4_perception_launch): refactoring detection launchers
  launch/tier4_perception_launch/launch/object_recognition/detection/detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/camera_lidar_detector.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/lidar_rule_detector.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/tracker_based_detector.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
Labels: component:launch, tag:run-build-and-test-differential

#9526 fix(lane_change): remove overlapping preceding lanes
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/utils.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9625 refactor(lane_change): separate structs to different folders
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/base_class.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/interface.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/manager.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/structs/data.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/structs/debug.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/structs/parameters.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/structs/path.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/calculation.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/markers.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/utils.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/markers.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/utils.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/test/test_lane_change_scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/test/test_lane_change_utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9634 fix(tier4_simulator_launch): add missing argument of tracking launch to simulator launch
  launch/tier4_simulator_launch/launch/simulator.launch.xml
Labels: component:launch, tag:run-build-and-test-differential

#9627 fix(autoware_overlay_rviz_plugin): fix clang-tidy errors
  visualization/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/src/speed_display.cpp
  visualization/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/src/steering_wheel_display.cpp
  visualization/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/src/traffic_display.cpp
  visualization/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/src/turn_signals_display.cpp
Labels: tag:run-build-and-test-differential

#9628 fix(tier4_state_rviz_plugin): fix bugprone-integer-division
  visualization/tier4_state_rviz_plugin/src/custom_container.cpp
  visualization/tier4_state_rviz_plugin/src/custom_icon_label.cpp
  visualization/tier4_state_rviz_plugin/src/custom_segmented_button.cpp
  visualization/tier4_state_rviz_plugin/src/custom_segmented_button_item.cpp
Labels: tag:run-build-and-test-differential

#9629 fix(autoware_pid_longitudinal_controller): fix bugprone-branch-clone
  control/autoware_pid_longitudinal_controller/src/smooth_stop.cpp
Labels: component:control, tag:run-build-and-test-differential

#9631 fix(perception_online_evaluator): fix bugprone-branch-clone
  evaluator/perception_online_evaluator/src/metrics/detection_count.cpp
Labels: component:evaluator, tag:run-build-and-test-differential

#9638 ci(build-and-test): set concurrency to sequential and remove workflow_dispatch
  .github/workflows/build-and-test.yaml
Labels: tag:run-build-and-test-differential

#9639 build(autoware_freespace_planning_algorithms): increase test timeout to 2 mins
  planning/autoware_freespace_planning_algorithms/CMakeLists.txt
Labels: tag:run-build-and-test-differential

#9640 test(autoware_behavior_path_start_planner_module): add unit tests for geometric shift pull out planner
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/CMakeLists.txt
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/include/autoware/behavior_path_start_planner_module/geometric_pull_out.hpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/pull_out_planner_base.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test/test_geometric_pull_out.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9643 fix(autoware_stop_filter): fix bugprone-reserved-identifier
  localization/autoware_stop_filter/src/stop_filter.cpp
Labels: component:localization, tag:run-build-and-test-differential

#9514 feat(goal_planner): divide Planners to isolated threads
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/CMakeLists.txt
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/thread_data.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/pull_over_planner/geometric_pull_over.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/pull_over_planner/shift_pull_over.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/thread_data.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9642 feat(goal_planner): add bezier based pull over planner
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/CMakeLists.txt
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/config/sample_planner_data_case1.yaml
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/config/sample_planner_data_case2.yaml
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/config/sample_planner_data_case3.yaml
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/examples/plot_map_case1.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/examples/plot_map_case2.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/pull_over_planner/bezier_pull_over.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/pull_over_planner/pull_over_planner_base.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/package.xml
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/pull_over_planner/bezier_pull_over.cpp
  planning/sampling_based_planner/autoware_bezier_sampler/include/autoware_bezier_sampler/bezier_sampling.hpp
  planning/sampling_based_planner/autoware_bezier_sampler/src/bezier_sampling.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9608 feat(autoware_lidar_centerpoint): process front voxels first
  perception/autoware_lidar_centerpoint/lib/preprocess/preprocess_kernel.cu
Labels: component:perception, tag:require-cuda-build-and-test

#9621 refactor(autoware_multi_object_tracker): add configurable tracker parameters
  perception/autoware_multi_object_tracker/config/multi_object_tracker_node.param.yaml
  perception/autoware_multi_object_tracker/schema/multi_object_tracker_node.schema.json
  perception/autoware_multi_object_tracker/src/multi_object_tracker_node.cpp
  perception/autoware_multi_object_tracker/src/processor/processor.cpp
  perception/autoware_multi_object_tracker/src/processor/processor.hpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9644 perf(goal_planner): remove unnecessary call to setMap on freespace planning
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/pull_over_planner/freespace_pull_over.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/pull_over_planner/freespace_pull_over.cpp
Labels: component:planning

#9650 refactor(goal_planner): divide sort function
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9632 feat(image_projection_based_fusion): add timekeeper
  perception/autoware_image_projection_based_fusion/config/fusion_common.param.yaml
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/fusion_node.hpp
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/roi_cluster_fusion/node.hpp
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/roi_pointcloud_fusion/node.hpp
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/segmentation_pointcloud_fusion/node.hpp
  perception/autoware_image_projection_based_fusion/src/fusion_node.cpp
  perception/autoware_image_projection_based_fusion/src/pointpainting_fusion/node.cpp
  perception/autoware_image_projection_based_fusion/src/roi_cluster_fusion/node.cpp
  perception/autoware_image_projection_based_fusion/src/roi_detected_object_fusion/node.cpp
  perception/autoware_image_projection_based_fusion/src/roi_pointcloud_fusion/node.cpp
  perception/autoware_image_projection_based_fusion/src/segmentation_pointcloud_fusion/node.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9651 fix(autoware_multi_object_tracker): fix bugprone-errors
  perception/autoware_multi_object_tracker/lib/tracker/model/bicycle_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/motion_model/bicycle_motion_model.cpp
  perception/autoware_multi_object_tracker/src/processor/input_manager.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9655 chore(autoware_costmap_generator): suppress Could not find a connection between 'map' and 'base_link'
  planning/autoware_costmap_generator/src/costmap_generator.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9654 fix(autoware_radar_fusion_to_detected_object): fix bugprone-errors
  perception/autoware_radar_fusion_to_detected_object/src/node.cpp
  perception/autoware_radar_fusion_to_detected_object/src/radar_fusion_to_detected_object.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9154 docs(obstacle_cruise_planner): add supplemental figures
  planning/autoware_obstacle_cruise_planner/README.md
  planning/autoware_obstacle_cruise_planner/media/behavior_determination_flowchart.drawio.svg
  planning/autoware_obstacle_cruise_planner/media/cruise_planning_block_diagram.drawio.svg
Labels: type:documentation, component:planning, tag:deploy-docs, tag:run-build-and-test-differential

#9658 fix(autoware_radar_tracks_msgs_converter): fix bugprone-reserved-identifier
  perception/autoware_radar_tracks_msgs_converter/src/radar_tracks_msgs_converter_node.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9656 feat(pid_longitudinal_controller): update trajectory_adaptive; add debug_values, adopt rate limit fillter
  control/autoware_pid_longitudinal_controller/include/autoware/pid_longitudinal_controller/debug_values.hpp
  control/autoware_pid_longitudinal_controller/include/autoware/pid_longitudinal_controller/pid_longitudinal_controller.hpp
  control/autoware_pid_longitudinal_controller/src/pid_longitudinal_controller.cpp
Labels: component:control, tag:run-build-and-test-differential

#9603 feat(autoware_test_utils): add visualization
  common/autoware_pyplot/CMakeLists.txt
  common/autoware_test_utils/include/autoware_test_utils/visualization.hpp
  common/autoware_test_utils/package.xml
Labels: component:common, tag:run-build-and-test-differential

#9664 chore(autoware_test_utils): update test map
  common/autoware_test_utils/test_map/road_shoulder/lanelet2_map.osm
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/test/test_util.cpp
Labels: component:planning, component:common, tag:run-build-and-test-differential

#9659 fix(autoware_shape_estimation): fix bugprone-branch-clone
  perception/autoware_shape_estimation/lib/corrector/utils.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9662 fix(autoware_tracking_object_merger): fix bugprone-branch-clone
  perception/autoware_tracking_object_merger/src/utils/utils.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9668 fix(autoware_traffic_light_visualization): fix bugprone-branch-clone
  perception/autoware_traffic_light_visualization/src/traffic_light_map_visualizer/node.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9669 fix(autoware_costmap_generator): fix bugprone-branch-clone
  planning/autoware_costmap_generator/src/utils/objects_to_costmap.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9663 feat(autoware_detected_object_validation): set validate distance in the obstacle pointcloud based validator
  perception/autoware_detected_object_validation/config/obstacle_pointcloud_based_validator.param.yaml
  perception/autoware_detected_object_validation/schema/obstacle_pointcloud_based_validator.schema.json
  perception/autoware_detected_object_validation/src/obstacle_pointcloud/obstacle_pointcloud_validator.cpp
  perception/autoware_detected_object_validation/src/obstacle_pointcloud/obstacle_pointcloud_validator.hpp
Labels: component:perception, run:deploy-docs, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#8249 fix(dummy_infrastructure): schema file name
  system/dummy_infrastructure/schema/dummy_infrastructure.schema.json
Labels: status:stale, component:system, tag:run-build-and-test-differential

#9681 feat(pid_longitudinal_controller): add smooth_stop mode in debug_values
  control/autoware_pid_longitudinal_controller/include/autoware/pid_longitudinal_controller/debug_values.hpp
  control/autoware_pid_longitudinal_controller/include/autoware/pid_longitudinal_controller/smooth_stop.hpp
  control/autoware_pid_longitudinal_controller/src/pid_longitudinal_controller.cpp
  control/autoware_pid_longitudinal_controller/src/smooth_stop.cpp
  control/autoware_pid_longitudinal_controller/test/test_smooth_stop.cpp
Labels: component:control, tag:run-build-and-test-differential

#9652 fix(autoware_probabilistic_occupancy_grid_map): fix bugprone-branch-clone
  perception/autoware_probabilistic_occupancy_grid_map/lib/costmap_2d/occupancy_grid_map_fixed.cpp
  perception/autoware_probabilistic_occupancy_grid_map/lib/costmap_2d/occupancy_grid_map_projective.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9648 fix(autoware_ground_segmentation): fix bugprone-branch-clone
  perception/autoware_ground_segmentation/src/scan_ground_filter/node.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9686 fix: enable to copy all information in pickup based pointcloud downsampler
  sensing/autoware_pointcloud_preprocessor/src/downsample_filter/pickup_based_voxel_grid_downsample_filter_node.cpp
Labels: tag:run-build-and-test-differential

#8140 docs: modified minor sign error
  control/autoware_mpc_lateral_controller/model_predictive_control_algorithm.md
Labels: type:documentation, component:control, tag:run-build-and-test-differential

#9675 feat(pid_longitudinal_controller): remove trans/rot deviation validation since the control_validator has the same feature
  control/autoware_pid_longitudinal_controller/config/autoware_pid_longitudinal_controller.param.yaml
  control/autoware_pid_longitudinal_controller/include/autoware/pid_longitudinal_controller/pid_longitudinal_controller.hpp
  control/autoware_pid_longitudinal_controller/media/LongitudinalControllerStateTransition.drawio.svg
  control/autoware_pid_longitudinal_controller/schema/autoware_pid_longitudinal_controller.schema.json
  control/autoware_pid_longitudinal_controller/src/pid_longitudinal_controller.cpp
  control/autoware_trajectory_follower_node/test/test_controller_node.cpp
Labels: type:documentation, component:control, tag:run-build-and-test-differential

#9685 feat(pid_longitudinal_controller): add virtual wall for dry steering and emergency
  control/autoware_pid_longitudinal_controller/include/autoware/pid_longitudinal_controller/pid_longitudinal_controller.hpp
  control/autoware_pid_longitudinal_controller/src/pid_longitudinal_controller.cpp
Labels: component:control, tag:run-build-and-test-differential

#9684 feat(mpc_lateral_controller): remove trans/rot deviation validation since the control_validator has the same feature
  control/autoware_mpc_lateral_controller/README.md
  control/autoware_mpc_lateral_controller/include/autoware/mpc_lateral_controller/mpc.hpp
  control/autoware_mpc_lateral_controller/param/lateral_controller_defaults.param.yaml
  control/autoware_mpc_lateral_controller/src/mpc.cpp
  control/autoware_mpc_lateral_controller/src/mpc_lateral_controller.cpp
  control/autoware_mpc_lateral_controller/test/test_mpc.cpp
Labels: type:documentation, component:control, tag:run-build-and-test-differential

#9674 feat(planning_evaluator): add lateral trajectory displacement metrics
  evaluator/autoware_planning_evaluator/config/planning_evaluator.param.yaml
  evaluator/autoware_planning_evaluator/include/autoware/planning_evaluator/metrics/deviation_metrics.hpp
  evaluator/autoware_planning_evaluator/include/autoware/planning_evaluator/metrics/metric.hpp
  evaluator/autoware_planning_evaluator/schema/autoware_planning_evaluator.schema.json
  evaluator/autoware_planning_evaluator/src/metrics/deviation_metrics.cpp
  evaluator/autoware_planning_evaluator/src/metrics_calculator.cpp
Labels: component:evaluator

#9692 feat(behavior_velocity_planner): remove unnecessary tier4_api_msgs
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/manager.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/manager.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner/src/node.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/include/autoware/behavior_velocity_planner_common/planner_data.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/package.xml
Labels: component:planning, tag:run-build-and-test-differential

#9695 feat: update autoware_internal_msgs version in build_depends.repos
  build_depends.repos
Labels: tag:run-build-and-test-differential

#9691 feat(motion_velocity_planner): remove unnecessary tier4_api_msgs and tier4_v2x_msgs
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common/include/autoware/motion_velocity_planner_common/planner_data.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node/README.md
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node/launch/motion_velocity_planner.launch.xml
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node/src/node.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node/src/node.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node/test/src/test_node_interface.cpp
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#9676 feat(motion_utils): add planning factor interface
  common/autoware_motion_utils/include/autoware/motion_utils/factor/planning_factor_interface.hpp
  common/autoware_motion_utils/src/factor/planing_factor_interface.cpp
Labels: component:common, tag:run-build-and-test-differential

#9690 fix(mpc_lateral_controller): prevent unstable steering command while stopped
  control/autoware_mpc_lateral_controller/src/mpc_lateral_controller.cpp
Labels: component:control, tag:run-build-and-test-differential

#9538 feat(system_monitor): check UDP network errors
  system/system_monitor/README.md
  system/system_monitor/config/net_monitor.param.yaml
  system/system_monitor/docs/ros_parameters.md
  system/system_monitor/docs/topics_net_monitor.md
  system/system_monitor/include/system_monitor/net_monitor/net_monitor.hpp
  system/system_monitor/src/net_monitor/net_monitor.cpp
Labels: type:documentation, component:system, tag:run-build-and-test-differential

#9660 fix(autoware_tensorrt_common): fix bugprone-integer-division
  perception/autoware_tensorrt_common/src/tensorrt_common.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9670 fix(autoware_freespace_planning_algorithms): fix bugprone-errors
  planning/autoware_freespace_planning_algorithms/src/abstract_algorithm.cpp
  planning/autoware_freespace_planning_algorithms/src/astar_search.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9697 fix(autoware_path_smoother): fix bugprone-branch-clone
  planning/autoware_path_smoother/src/elastic_band.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9700 fix(autoware_behavior_path_planner_common): fix bugprone-errors
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/drivable_area_expansion/static_drivable_area.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/occupancy_grid_based_collision_detector/occupancy_grid_based_collision_detector.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9705 feat(pid_longitudinal_controller): add new slope compensation mode trajectory_goal_adaptive
  control/autoware_pid_longitudinal_controller/README.md
  control/autoware_pid_longitudinal_controller/config/autoware_pid_longitudinal_controller.param.yaml
  control/autoware_pid_longitudinal_controller/include/autoware/pid_longitudinal_controller/pid_longitudinal_controller.hpp
  control/autoware_pid_longitudinal_controller/src/pid_longitudinal_controller.cpp
Labels: type:documentation, component:control, run:deploy-docs, tag:run-build-and-test-differential

#9703 feat(pid_longitudinal_controller): update plotjuggler settings
  control/autoware_trajectory_follower_node/config/plot_juggler_trajectory_follower.xml
Labels: component:control, tag:run-build-and-test-differential

#9707 chore(trajectory_follower_node): fix typos
  control/autoware_trajectory_follower_node/config/plot_juggler_trajectory_follower.xml
Labels: component:control, tag:run-build-and-test-differential, run:clang-tidy-pr-review

#8971 chore(autoware_mpc_lateral_controller): fix formula description in vehicle_model_bicycle_kinematics.hpp
  control/autoware_mpc_lateral_controller/include/autoware/mpc_lateral_controller/vehicle_model/vehicle_model_bicycle_kinematics.hpp
Labels: status:stale, component:control, tag:run-build-and-test-differential

#9647 fix(autoware_bytetrack): fix bugprone-reserved-identifier
  perception/autoware_bytetrack/lib/src/lapjv.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9713 fix(autoware_motion_utils): remove clang compiler error
  common/autoware_motion_utils/test/src/trajectory/benchmark_calcLateralOffset.cpp
Labels: component:common, tag:run-build-and-test-differential

#9716 fix(raw_veihicle_converter): fix too long line
  vehicle/autoware_raw_vehicle_cmd_converter/CMakeLists.txt
Labels: component:vehicle, tag:run-build-and-test-differential

#9710 fix(autoware_universe_utils): fix bug in test
  common/autoware_universe_utils/test/src/math/test_trigonometry.cpp
Labels: component:common, tag:run-build-and-test-differential

#9715 fix(autoware_behavior_velocity_run_out_module): fix bugprone-branch-clone
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9724 fix(autoware_image_transport_decompressor): fix bugprone-branch-clone
  sensing/autoware_image_transport_decompressor/src/image_transport_decompressor.cpp
Labels: component:sensing, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9711 fix(autoware_interpolation): remove clang compiler error
  common/autoware_interpolation/test/src/test_interpolation_utils.cpp
Labels: component:common, tag:run-build-and-test-differential

#9730 fix(autoware_planning_evaluator): fix bugprone-exception-escape
  evaluator/autoware_planning_evaluator/src/motion_evaluator_node.cpp
  evaluator/autoware_planning_evaluator/src/planning_evaluator_node.cpp
Labels: component:evaluator, tag:run-build-and-test-differential

#9718 feat(planning_evaluator): add evaluation feature of trajectory lateral displacement
  evaluator/autoware_planning_evaluator/README.md
  evaluator/autoware_planning_evaluator/config/planning_evaluator.param.yaml
  evaluator/autoware_planning_evaluator/include/autoware/planning_evaluator/metrics/metric.hpp
  evaluator/autoware_planning_evaluator/include/autoware/planning_evaluator/metrics/metrics_utils.hpp
  evaluator/autoware_planning_evaluator/include/autoware/planning_evaluator/metrics/stability_metrics.hpp
  evaluator/autoware_planning_evaluator/include/autoware/planning_evaluator/metrics_calculator.hpp
  evaluator/autoware_planning_evaluator/include/autoware/planning_evaluator/parameters.hpp
  evaluator/autoware_planning_evaluator/src/metrics/metrics_utils.cpp
  evaluator/autoware_planning_evaluator/src/metrics/stability_metrics.cpp
  evaluator/autoware_planning_evaluator/src/metrics_calculator.cpp
  evaluator/autoware_planning_evaluator/src/planning_evaluator_node.cpp
Labels: type:documentation, component:evaluator, tag:run-build-and-test-differential

#9723 fix(autoware_image_diagnostics): fix bugprone-branch-clone
  sensing/autoware_image_diagnostics/src/image_diagnostics_node.cpp
Labels: component:sensing, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9635 feat(image_projection_based_fusion): add cache for camera projection
  perception/autoware_image_projection_based_fusion/CMakeLists.txt
  perception/autoware_image_projection_based_fusion/README.md
  perception/autoware_image_projection_based_fusion/config/fusion_common.param.yaml
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/camera_projection.hpp
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/fusion_node.hpp
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/pointpainting_fusion/node.hpp
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/roi_cluster_fusion/node.hpp
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/roi_detected_object_fusion/node.hpp
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/roi_pointcloud_fusion/node.hpp
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/segmentation_pointcloud_fusion/node.hpp
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/utils/utils.hpp
  perception/autoware_image_projection_based_fusion/schema/fusion_common.schema.json
  perception/autoware_image_projection_based_fusion/src/camera_projection.cpp
  perception/autoware_image_projection_based_fusion/src/fusion_node.cpp
  perception/autoware_image_projection_based_fusion/src/pointpainting_fusion/node.cpp
  perception/autoware_image_projection_based_fusion/src/roi_cluster_fusion/node.cpp
  perception/autoware_image_projection_based_fusion/src/roi_detected_object_fusion/node.cpp
  perception/autoware_image_projection_based_fusion/src/roi_pointcloud_fusion/node.cpp
  perception/autoware_image_projection_based_fusion/src/segmentation_pointcloud_fusion/node.cpp
  perception/autoware_image_projection_based_fusion/src/utils/utils.cpp
Labels: type:documentation, component:perception, run:deploy-docs, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9742 feat(motion_planning): use StringStamped in autoware_internal_debug_msgs
  planning/autoware_path_optimizer/include/autoware/path_optimizer/type_alias.hpp
  planning/autoware_path_optimizer/package.xml
  planning/autoware_path_smoother/include/autoware/path_smoother/type_alias.hpp
  planning/autoware_path_smoother/package.xml
  planning/sampling_based_planner/autoware_path_sampler/include/autoware_path_sampler/type_alias.hpp
  planning/sampling_based_planner/autoware_path_sampler/package.xml
Labels: component:planning, tag:run-build-and-test-differential

#9745 feat(motion_velocity_planner): use Float64Stamped in autoware_internal_debug_msgs
  planning/motion_velocity_planner/autoware_motion_velocity_dynamic_obstacle_stop_module/src/dynamic_obstacle_stop_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_velocity_limiter_module/src/obstacle_velocity_limiter_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common/include/autoware/motion_velocity_planner_common/plugin_module_interface.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node/src/node.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node/src/node.hpp
Labels: component:planning, tag:run-build-and-test-differential

#9741 feat(diagnostic_graph_utils): use StringStamped in autoware_internal_debug_msgs
  system/diagnostic_graph_utils/package.xml
  system/diagnostic_graph_utils/src/node/logging.cpp
  system/diagnostic_graph_utils/src/node/logging.hpp
Labels: component:system, tag:run-build-and-test-differential

#9749 feat(velocity_smoother): use autoware internal Stamped messages
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/node.hpp
  planning/autoware_velocity_smoother/package.xml
Labels: component:planning, tag:run-build-and-test-differential

#9735 fix(lane_change): fix prepare length too short at low speed (RT1-8909)
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/calculation.cpp
Labels: component:planning, tag:run-build-and-test-differential
