Repository autowarefoundation/autoware_universe, pull requests merged in 2024-07, with the labels that each got.

#7708 feat(ekf_localizer): add covariance ellipse diagnostics
  localization/ekf_localizer/README.md
  localization/ekf_localizer/config/ekf_localizer.param.yaml
  localization/ekf_localizer/include/ekf_localizer/diagnostics.hpp
  localization/ekf_localizer/include/ekf_localizer/ekf_localizer.hpp
  localization/ekf_localizer/include/ekf_localizer/hyper_parameters.hpp
  localization/ekf_localizer/media/ekf_diagnostics.png
  localization/ekf_localizer/package.xml
  localization/ekf_localizer/schema/sub/diagnostics.sub_schema.json
  localization/ekf_localizer/src/diagnostics.cpp
  localization/ekf_localizer/src/ekf_localizer.cpp
Labels: type:documentation, component:localization, tag:run-build-and-test-differential, tag:run-clang-tidy-differential

#7681 fix(pose_instability_detector): fix a rare error
  localization/pose_instability_detector/src/pose_instability_detector.cpp
  localization/pose_instability_detector/test/test.cpp
Labels: component:localization, tag:run-build-and-test-differential, tag:run-clang-tidy-differential

#7688 fix(behavior_path_planner, behavior_velocity_planner): fix redefinition errors
  planning/behavior_path_planner/autoware_behavior_path_avoidance_by_lane_change_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/src/manager.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7760 fix(autoware_joy_controller): add virtual destructor to autoware_joy_controller
  control/autoware_joy_controller/include/autoware/joy_controller/joy_controller.hpp
  control/autoware_joy_controller/include/autoware/joy_controller/joy_converter/g29_joy_converter.hpp
  control/autoware_joy_controller/include/autoware/joy_controller/joy_converter/joy_converter_base.hpp
  control/autoware_joy_controller/src/joy_controller_node.cpp
Labels: component:control, tag:run-build-and-test-differential

#7758 fix(lidar_centerpoint): remove python3-open3d depend
  perception/lidar_centerpoint/package.xml
Labels: component:perception, tag:run-build-and-test-differential

#7756 refactor(static_centerline_optimizer): clean up the code
  planning/autoware_static_centerline_generator/rviz/static_centerline_generator.rviz
  planning/autoware_static_centerline_generator/scripts/centerline_updater_helper.py
  planning/autoware_static_centerline_generator/src/static_centerline_generator_node.cpp
  planning/autoware_static_centerline_generator/src/static_centerline_generator_node.hpp
Labels: component:planning, tag:run-build-and-test-differential

#7729 ci(clang-tidy-differential): point to the new config
  .github/workflows/build-and-test-differential.yaml
Labels: type:ci, tag:run-build-and-test-differential

#7759 fix(tvm_utility): add virtual destructor to tvm_utility
  common/tvm_utility/include/tvm_utility/pipeline.hpp
Labels: component:common, tag:run-build-and-test-differential

#7695 fix(autoware_perception_rviz_plugin): fix duplicateBranch warnings
  common/autoware_perception_rviz_plugin/src/object_detection/object_polygon_detail.cpp
Labels: component:common, tag:run-build-and-test-differential

#7770 fix(static_centerline_generator): save_map only once
  planning/autoware_static_centerline_generator/scripts/centerline_updater_helper.py
Labels: component:planning, tag:run-build-and-test-differential

#7767 ci: add codecov token
  .github/workflows/build-and-test-daily-arm64.yaml
  .github/workflows/build-and-test-daily.yaml
  .github/workflows/build-and-test-differential-arm64.yaml
  .github/workflows/build-and-test-differential.yaml
  .github/workflows/build-and-test.yaml
Labels: type:ci, tag:run-build-and-test-differential

#7774 feat: add handle angle scale property to signal display
  common/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/assets/images/wheel.png
  common/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/include/signal_display.hpp
  common/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/include/steering_wheel_display.hpp
  common/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/src/signal_display.cpp
  common/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/src/steering_wheel_display.cpp
Labels: type:documentation, component:common, tag:run-build-and-test-differential, type:ui-ux

#7662 fix(euclidean_cluster): fix euclidean cluster params
  perception/euclidean_cluster/lib/voxel_grid_based_euclidean_cluster.cpp
Labels: component:perception, tag:run-build-and-test-differential

#7642 refactor(object_merger)!: fix namespace and directory structure
  perception/object_merger/CMakeLists.txt
  perception/object_merger/include/autoware_object_merger/association/data_association.hpp
  perception/object_merger/include/autoware_object_merger/association/solver/gnn_solver.hpp
  perception/object_merger/include/autoware_object_merger/association/solver/gnn_solver_interface.hpp
  perception/object_merger/include/autoware_object_merger/association/solver/mu_ssp.hpp
  perception/object_merger/include/autoware_object_merger/association/solver/ssp.hpp
  perception/object_merger/include/object_merger/utils/utils.hpp
  perception/object_merger/package.xml
  perception/object_merger/src/association/data_association.cpp
  perception/object_merger/src/association/solver/mu_successive_shortest_path_wrapper.cpp
  perception/object_merger/src/association/solver/successive_shortest_path.cpp
  perception/object_merger/src/object_association_merger_node.cpp
  perception/object_merger/src/object_association_merger_node.hpp
Labels: component:perception, tag:run-build-and-test-differential

#7775 chore(ci): add inline suppressions to cppcheck
  .github/workflows/cppcheck-daily.yaml
  .github/workflows/cppcheck-differential.yaml
Labels: type:ci, tag:run-build-and-test-differential

#7765 feat(control_evaluator): add lanelet info to the metrics
  evaluator/autoware_control_evaluator/include/autoware/control_evaluator/control_evaluator_node.hpp
  evaluator/autoware_control_evaluator/launch/control_evaluator.launch.xml
  evaluator/autoware_control_evaluator/package.xml
  evaluator/autoware_control_evaluator/src/control_evaluator_node.cpp
  launch/tier4_control_launch/launch/control.launch.py
Labels: component:launch, component:evaluator, tag:run-build-and-test-differential

#7777 chore(ci): run cppcheck-differential on modified packages
  .github/workflows/cppcheck-differential.yaml
Labels: type:ci, tag:run-build-and-test-differential

#7766 chore(ci): remove unnecessary cppcheck suppression
  .cppcheck_suppressions
Labels: tag:run-build-and-test-differential

#7781 feat(planning_evaluator): add lanelet info to the planning evaluator
  evaluator/autoware_planning_evaluator/include/autoware/planning_evaluator/planning_evaluator_node.hpp
  evaluator/autoware_planning_evaluator/launch/planning_evaluator.launch.xml
  evaluator/autoware_planning_evaluator/package.xml
  evaluator/autoware_planning_evaluator/src/planning_evaluator_node.cpp
Labels: component:evaluator, tag:run-build-and-test-differential

#7768 fix(diagnostic_graph_aggregator): fix uselessOverride warning
  system/diagnostic_graph_aggregator/src/common/graph/units.hpp
Labels: component:system, tag:run-build-and-test-differential

#7565 refactor(autoware_obstacle_stop_planner): prefix package and namespace with autoware
  .github/CODEOWNERS
  launch/tier4_planning_launch/package.xml
  planning/.pages
  planning/autoware_obstacle_stop_planner/CMakeLists.txt
  planning/autoware_obstacle_stop_planner/README.md
  planning/autoware_obstacle_stop_planner/config/adaptive_cruise_control.param.yaml
  planning/autoware_obstacle_stop_planner/config/common.param.yaml
  planning/autoware_obstacle_stop_planner/config/obstacle_stop_planner.param.yaml
  planning/autoware_obstacle_stop_planner/config/plot_juggler_adaptive_cruise.xml
  planning/autoware_obstacle_stop_planner/config/plot_juggler_slow_down.xml
  planning/autoware_obstacle_stop_planner/config/rqt_multiplot_adaptive_cruise.xml
  planning/autoware_obstacle_stop_planner/docs/adaptive_cruise.drawio.svg
  planning/autoware_obstacle_stop_planner/docs/collision_parameters.svg
  planning/autoware_obstacle_stop_planner/docs/keep_stopping.svg
  planning/autoware_obstacle_stop_planner/docs/min_longitudinal_margin.svg
  planning/autoware_obstacle_stop_planner/docs/restart.svg
  planning/autoware_obstacle_stop_planner/docs/restart_prevention.svg
  planning/autoware_obstacle_stop_planner/docs/slow_down_parameters.svg
  planning/autoware_obstacle_stop_planner/docs/slow_down_target.svg
  planning/autoware_obstacle_stop_planner/docs/stop_target.svg
  planning/autoware_obstacle_stop_planner/launch/obstacle_stop_planner.launch.xml
  planning/autoware_obstacle_stop_planner/package.xml
  planning/autoware_obstacle_stop_planner/src/adaptive_cruise_control.cpp
  planning/autoware_obstacle_stop_planner/src/adaptive_cruise_control.hpp
  planning/autoware_obstacle_stop_planner/src/debug_marker.cpp
  planning/autoware_obstacle_stop_planner/src/debug_marker.hpp
  planning/autoware_obstacle_stop_planner/src/node.cpp
  planning/autoware_obstacle_stop_planner/src/node.hpp
  planning/autoware_obstacle_stop_planner/src/planner_data.hpp
  planning/autoware_obstacle_stop_planner/src/planner_utils.cpp
  planning/autoware_obstacle_stop_planner/src/planner_utils.hpp
  planning/autoware_obstacle_stop_planner/test/test_autoware_obstacle_stop_planner_node_interface.cpp
Labels: type:documentation, component:planning, type:ci, component:launch, tag:run-build-and-test-differential

#7782 refactor(control_evaluator): use class naming standard and use remapped param name
  evaluator/autoware_control_evaluator/CMakeLists.txt
  evaluator/autoware_control_evaluator/include/autoware/control_evaluator/control_evaluator_node.hpp
  evaluator/autoware_control_evaluator/src/control_evaluator_node.cpp
  launch/tier4_control_launch/launch/control.launch.py
Labels: component:launch, component:evaluator, tag:run-build-and-test-differential

#7784 feat(mrm_handler): operate mrm only when autonomous operation mode
  system/mrm_handler/include/mrm_handler/mrm_handler_core.hpp
  system/mrm_handler/src/mrm_handler/mrm_handler_core.cpp
Labels: component:system, tag:run-build-and-test-differential

#7793 ci(codecov.yaml): make ci succeed regardless of coverage
  codecov.yaml
Labels: type:ci, tag:run-build-and-test-differential

#7794 chore(ci): add problem matcher for cppcheck
  .github/cppcheck-problem-matcher.json
  .github/workflows/cppcheck-daily.yaml
  .github/workflows/cppcheck-differential.yaml
Labels: type:ci, tag:run-build-and-test-differential

#7796 fix(faster_voxel_grid_downsample_filter): typo in if statement in get_min_max_voxel()
  sensing/pointcloud_preprocessor/src/downsample_filter/faster_voxel_grid_downsample_filter.cpp
Labels: component:sensing, tag:run-build-and-test-differential

#7764 feat(autoware_behavior_path_planner): remove max_module_size param
  planning/behavior_path_planner/autoware_behavior_path_planner/config/scene_module_manager.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_planner/docs/behavior_path_planner_manager_design.md
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/interface/scene_module_manager_interface.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/parameters.hpp
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#7762 fix(lidar_apollo_segmentation_tvm): add virtual destructor to lidar_apollo_segmentation_tvm
  perception/lidar_apollo_segmentation_tvm/include/lidar_apollo_segmentation_tvm/feature_generator.hpp
  perception/lidar_apollo_segmentation_tvm/include/lidar_apollo_segmentation_tvm/feature_map.hpp
  perception/lidar_apollo_segmentation_tvm/include/lidar_apollo_segmentation_tvm/lidar_apollo_segmentation_tvm.hpp
  perception/lidar_apollo_segmentation_tvm/src/feature_generator.cpp
  perception/lidar_apollo_segmentation_tvm/src/lidar_apollo_segmentation_tvm.cpp
Labels: component:perception, tag:run-build-and-test-differential

#7761 fix(detected_object_validation): add virtual destructor to obstacle_pointcloud_based_validator
  perception/detected_object_validation/include/detected_object_validation/obstacle_pointcloud_based_validator/debugger.hpp
  perception/detected_object_validation/include/detected_object_validation/obstacle_pointcloud_based_validator/obstacle_pointcloud_based_validator.hpp
Labels: component:perception, tag:run-build-and-test-differential

#7797 chore: updated maintainers for the autoware_point_types package
  common/autoware_point_types/package.xml
Labels: component:common, tag:run-build-and-test-differential

#7771 fix(ground_segmentation): fix bug
  launch/tier4_perception_launch/package.xml
  perception/ground_segmentation/src/ransac_ground_filter_nodelet.cpp
Labels: component:perception, component:launch, tag:run-build-and-test-differential

#7734 fix(euclidean_cluster): fix max_cluster_size bug
  perception/euclidean_cluster/lib/voxel_grid_based_euclidean_cluster.cpp
Labels: component:perception, tag:run-build-and-test-differential

#7799 chore: add maintainers to the apollo related packages
  perception/lidar_apollo_instance_segmentation/package.xml
  perception/lidar_apollo_segmentation_tvm/package.xml
  perception/lidar_apollo_segmentation_tvm_nodes/package.xml
Labels: component:perception, tag:run-build-and-test-differential

#6658 feat(pointcloud_preprocessor): runtime configurable output topic qos
  sensing/livox/autoware_livox_tag_filter/src/livox_tag_filter_node.cpp
  sensing/pointcloud_preprocessor/src/concatenate_data/concatenate_and_time_sync_nodelet.cpp
  sensing/pointcloud_preprocessor/src/concatenate_data/concatenate_pointclouds.cpp
  sensing/pointcloud_preprocessor/src/crop_box_filter/crop_box_filter_nodelet.cpp
  sensing/pointcloud_preprocessor/src/distortion_corrector/distortion_corrector.cpp
  sensing/pointcloud_preprocessor/src/filter.cpp
  sensing/pointcloud_preprocessor/src/outlier_filter/dual_return_outlier_filter_nodelet.cpp
  sensing/pointcloud_preprocessor/src/outlier_filter/ring_outlier_filter_nodelet.cpp
  sensing/pointcloud_preprocessor/src/time_synchronizer/time_synchronizer_nodelet.cpp
  sensing/pointcloud_preprocessor/src/vector_map_filter/lanelet2_map_filter_nodelet.cpp
  sensing/radar_scan_to_pointcloud2/src/radar_scan_to_pointcloud2_node/radar_scan_to_pointcloud2_node.cpp
Labels: component:sensing, tag:run-build-and-test-differential

#7137 feat(pointcloud_preprocessor): support for 3d distortion correction algorithm and refactor distortion correction node
  sensing/pointcloud_preprocessor/CMakeLists.txt
  sensing/pointcloud_preprocessor/config/distortion_corrector_node.param.yaml
  sensing/pointcloud_preprocessor/docs/distortion-corrector.md
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/distortion_corrector/distortion_corrector.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/distortion_corrector/distortion_corrector_node.hpp
  sensing/pointcloud_preprocessor/launch/distortion_corrector_node.launch.xml
  sensing/pointcloud_preprocessor/package.xml
  sensing/pointcloud_preprocessor/schema/distortion_corrector_node.schema.json
  sensing/pointcloud_preprocessor/src/distortion_corrector/distortion_corrector.cpp
  sensing/pointcloud_preprocessor/src/distortion_corrector/distortion_corrector_node.cpp
  sensing/pointcloud_preprocessor/test/test_distortion_corrector.py
  sensing/pointcloud_preprocessor/test/test_distortion_corrector_use_imu_false.py
Labels: type:documentation, component:sensing, tag:run-build-and-test-differential

#7744 refactor(ground_segmentation)!: fix namespace and directory structure
  launch/tier4_perception_launch/launch/obstacle_segmentation/ground_segmentation/ground_segmentation.launch.py
  perception/ground_segmentation/CMakeLists.txt
  perception/ground_segmentation/config/ground_segmentation.param.yaml
  perception/ground_segmentation/launch/scan_ground_filter.launch.py
  perception/ground_segmentation/src/ransac_ground_filter/node.cpp
  perception/ground_segmentation/src/ransac_ground_filter/node.hpp
  perception/ground_segmentation/src/ray_ground_filter/gencolors.hpp
  perception/ground_segmentation/src/ray_ground_filter/node.cpp
  perception/ground_segmentation/src/ray_ground_filter/node.hpp
  perception/ground_segmentation/src/scan_ground_filter/node.cpp
  perception/ground_segmentation/src/scan_ground_filter/node.hpp
  perception/ground_segmentation/test/test_ransac_ground_filter.cpp
  perception/ground_segmentation/test/test_ray_ground_filter.cpp
  perception/ground_segmentation/test/test_scan_ground_filter.cpp
Labels: component:perception, component:launch, tag:run-build-and-test-differential

#7803 ci(codecov.yaml): make it pass regardless of coverage
  codecov.yaml
Labels: type:ci, tag:run-build-and-test-differential

#7785 refactor(raindrop_cluster_filter)!: fix namespace and directory structure
  perception/raindrop_cluster_filter/CMakeLists.txt
  perception/raindrop_cluster_filter/src/low_intensity_cluster_filter_node.cpp
  perception/raindrop_cluster_filter/src/low_intensity_cluster_filter_node.hpp
Labels: component:perception, tag:run-build-and-test-differential

#7789 refactor(stop_filter): prefix package and namespace with autoware
  .github/CODEOWNERS
  launch/tier4_localization_launch/launch/pose_twist_fusion_filter/pose_twist_fusion_filter.launch.xml
  localization/autoware_stop_filter/CMakeLists.txt
  localization/autoware_stop_filter/README.md
  localization/autoware_stop_filter/config/stop_filter.param.yaml
  localization/autoware_stop_filter/launch/stop_filter.launch.xml
  localization/autoware_stop_filter/package.xml
  localization/autoware_stop_filter/schema/stop_filter.schema.json
  localization/autoware_stop_filter/src/stop_filter.cpp
  localization/autoware_stop_filter/src/stop_filter.hpp
Labels: type:documentation, component:localization, type:ci, component:launch, tag:run-build-and-test-differential

#7813 fix(autoware_map_based_prediction): fix syntaxError
  perception/autoware_map_based_prediction/src/map_based_prediction_node.cpp
  perception/autoware_map_based_prediction/src/path_generator.cpp
Labels: component:perception, tag:run-build-and-test-differential

#7801 feat(pointcloud_preprocessor): add unit test for distortion corrector node
  sensing/pointcloud_preprocessor/CMakeLists.txt
  sensing/pointcloud_preprocessor/test/test_distortion_corrector.py
  sensing/pointcloud_preprocessor/test/test_distortion_corrector_node.cpp
  sensing/pointcloud_preprocessor/test/test_distortion_corrector_use_imu_false.py
Labels: component:sensing, tag:run-build-and-test-differential

#7815 fix(tier4_planning_rviz_plugin): fix calculation of drivable area bounds
  common/tier4_planning_rviz_plugin/include/tier4_planning_rviz_plugin/path/display.hpp
Labels: component:common, tag:run-build-and-test-differential

#6907 feat(obstacle_cruise_planner): support pointcloud-based obstacles
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/motion_planning/motion_planning.launch.xml
  planning/autoware_obstacle_cruise_planner/config/obstacle_cruise_planner.param.yaml
  planning/autoware_obstacle_cruise_planner/include/autoware/obstacle_cruise_planner/common_structs.hpp
  planning/autoware_obstacle_cruise_planner/include/autoware/obstacle_cruise_planner/node.hpp
  planning/autoware_obstacle_cruise_planner/include/autoware/obstacle_cruise_planner/planner_interface.hpp
  planning/autoware_obstacle_cruise_planner/include/autoware/obstacle_cruise_planner/type_alias.hpp
  planning/autoware_obstacle_cruise_planner/src/node.cpp
  planning/autoware_obstacle_cruise_planner/src/planner_interface.cpp
Labels: component:planning, component:launch, tag:run-build-and-test-differential

#7812 fix(autoware_freespace_planning_algorithms): fix syntaxError
  planning/autoware_freespace_planning_algorithms/scripts/bind/astar_search_pybind.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7816 fix(autoware_behavior_path_planner_common): fix knownConditionTrueFalse
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/path_shifter/path_shifter.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7738 refactor(cluster_merger)!: fix namespace and directory structure
  perception/cluster_merger/CMakeLists.txt
  perception/cluster_merger/src/cluster_merger_node.cpp
  perception/cluster_merger/src/cluster_merger_node.hpp
Labels: component:perception, tag:run-build-and-test-differential

#7820 fix(stop_filter): fix plugin name
  localization/autoware_stop_filter/CMakeLists.txt
Labels: component:localization, tag:run-build-and-test-differential

#7822 fix(object_merger): fix knownConditionTrueFalse
  perception/object_merger/src/association/data_association.cpp
Labels: component:perception, tag:run-build-and-test-differential

#7824 fix(radar_object_tracker): fix knownConditionTrueFalse
  perception/radar_object_tracker/src/association/data_association.cpp
Labels: component:perception, tag:run-build-and-test-differential

#7825 fix(tracking_object_merger): fix knownConditionTrueFalse
  perception/tracking_object_merger/src/association/data_association.cpp
Labels: component:perception, tag:run-build-and-test-differential

#7821 fix(multi_object_tracker): fix knownConditionTrueFalse
  perception/multi_object_tracker/src/data_association/data_association.cpp
Labels: component:perception, tag:run-build-and-test-differential

#7742 refactor(detection_by_tracker)!: fix namespace and directory structure
  perception/detection_by_tracker/CMakeLists.txt
  perception/detection_by_tracker/launch/detection_by_tracker.launch.xml
  perception/detection_by_tracker/package.xml
  perception/detection_by_tracker/src/debugger/debugger.hpp
  perception/detection_by_tracker/src/detection_by_tracker_node.cpp
  perception/detection_by_tracker/src/detection_by_tracker_node.hpp
  perception/detection_by_tracker/src/utils/utils.cpp
  perception/detection_by_tracker/src/utils/utils.hpp
Labels: component:perception, tag:run-build-and-test-differential

#7829 fix(ci): skip when modified package has no cpp/hpp files
  .github/workflows/cppcheck-differential.yaml
Labels: type:ci, tag:run-build-and-test-differential

#7682 refactor(tier4_control_launch): replace python launch with xml
  launch/tier4_control_launch/launch/control.launch.py
  launch/tier4_control_launch/launch/control.launch.xml
Labels: component:launch, tag:run-build-and-test-differential

#7780 chore(ci): remove unnecessary cppcheck suppresion
  .cppcheck_suppressions
Labels: tag:run-build-and-test-differential

#7831 feat(freespace_planning_algorithms): add is_back flag into the return of A* python wrapper
  planning/autoware_freespace_planning_algorithms/autoware_freespace_planning_algorithms/astar_search.py
  planning/autoware_freespace_planning_algorithms/scripts/bind/astar_search_pybind.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7070 chore(freespace_planning_algorithm): modify A* script for standalone running
  planning/autoware_freespace_planning_algorithms/src/astar_search.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7814 fix(radar_fusion_to_detected_object): fix knownConditionTrueFalse
  perception/radar_fusion_to_detected_object/src/radar_fusion_to_detected_object.cpp
Labels: component:perception, tag:run-build-and-test-differential

#7835 fix(autoware_behavior_velocity_intersection_module): fix shadowFunction
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/intersection_lanelets.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/object_manager.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7836 feat(obstacle_cruise_planner): add diagnostics publishing to cruise planner
  planning/autoware_obstacle_cruise_planner/include/autoware/obstacle_cruise_planner/planner_interface.hpp
  planning/autoware_obstacle_cruise_planner/src/node.cpp
  planning/autoware_obstacle_cruise_planner/src/planner_interface.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7838 fix(diagnostic_graph_aggregator): fix shadowFunction
  system/diagnostic_graph_aggregator/src/common/graph/config.cpp
  system/diagnostic_graph_aggregator/src/common/graph/data.cpp
  system/diagnostic_graph_aggregator/src/common/graph/units.cpp
Labels: component:system, tag:run-build-and-test-differential

#7828 feat(safety_check): filter safety check targe objects by yaw deviation between pose and lane
  planning/behavior_path_planner/autoware_behavior_path_avoidance_by_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/util.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/path_safety_checker/objects_filtering.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/path_safety_checker/objects_filtering.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/include/autoware/behavior_path_start_planner_module/pull_out_planner_base.hpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/start_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7791 feat(goal_planner): prioritize pull over path by curvature
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/config/goal_planner.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_parameters.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/pull_over_planner_base.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/manager.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7830 fix(static_obstacle_avoidance): fix issues in target object filtering logic
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/data_structs.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/debug.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/shift_line_generator.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7748 refactor(occupancy_grid_map_outlier_filter)!: fix namespace and directory structure
  launch/tier4_perception_launch/launch/obstacle_segmentation/ground_segmentation/ground_segmentation.launch.py
  perception/occupancy_grid_map_outlier_filter/CMakeLists.txt
  perception/occupancy_grid_map_outlier_filter/package.xml
  perception/occupancy_grid_map_outlier_filter/src/occupancy_grid_map_outlier_filter_node.cpp
  perception/occupancy_grid_map_outlier_filter/src/occupancy_grid_map_outlier_filter_node.hpp
Labels: component:perception, component:launch, tag:run-build-and-test-differential

#7757 chore(motion_velocity_planner): add new codeowners
  .github/CODEOWNERS
Labels: type:ci, tag:run-build-and-test-differential

#7739 refactor(detected_object_feature_remover)!: fix namespace and directory structure
  perception/detected_object_feature_remover/CMakeLists.txt
  perception/detected_object_feature_remover/launch/detected_object_feature_remover.launch.xml
  perception/detected_object_feature_remover/src/detected_object_feature_remover_node.cpp
  perception/detected_object_feature_remover/src/detected_object_feature_remover_node.hpp
Labels: component:perception, tag:run-build-and-test-differential

#7840 fix(motion_velocity_planner): use the slowdown velocity (instead of 0)
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node/src/node.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7837 refactor(map_height_fitter): apply static analysis
  map/map_height_fitter/include/map_height_fitter/map_height_fitter.hpp
  map/map_height_fitter/src/map_height_fitter.cpp
Labels: component:map, tag:run-build-and-test-differential, tag:run-clang-tidy-differential

#7810 refactor(velocity_smoother): change method to take data for external velocity
  planning/autoware_velocity_smoother/src/node.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7847 fix: adapi vehicle topic qos
  common/autoware_ad_api_specs/include/autoware_ad_api_specs/vehicle.hpp
  system/default_ad_api/src/utils/topics.hpp
  system/default_ad_api/src/vehicle_door.cpp
  system/default_ad_api/src/vehicle_door.hpp
Labels: component:system, component:common, tag:run-build-and-test-differential

#7843 refactor(static_avoidance): modify getAdjacentLane function
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7786 fix(pointcloud_preprocessor): fix preprocessorErrorDirective
  sensing/pointcloud_preprocessor/src/downsample_filter/robin_hood.h
Labels: component:sensing, tag:run-build-and-test-differential

#7811 fix(probabilistic_occupancy_grid_map): fix noExplicitConstructor
  perception/probabilistic_occupancy_grid_map/src/fusion/single_frame_fusion_policy.cpp
  perception/probabilistic_occupancy_grid_map/src/pointcloud_based_occupancy_grid_map/occupancy_grid_map_projective.cpp
Labels: component:perception, tag:run-build-and-test-differential

#7839 fix(imu_corrector): fix shadowFunction
  sensing/imu_corrector/src/gyro_bias_estimator.cpp
Labels: component:sensing, tag:run-build-and-test-differential

#7846 fix(control_launch): fix control launch control_evaluator plugin name
  launch/tier4_control_launch/launch/control.launch.xml
Labels: component:launch, tag:run-build-and-test-differential

#7826 fix(traffic_light_occlusion_predictor): fix cppcheck warnings
  perception/traffic_light_occlusion_predictor/src/nodelet.cpp
  perception/traffic_light_occlusion_predictor/src/occlusion_predictor.cpp
Labels: component:perception, tag:run-build-and-test-differential

#7817 fix(autoware_planning_validator): fix knownConditionTrueFalse
  planning/autoware_planning_validator/src/invalid_trajectory_publisher/invalid_trajectory_publisher.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7854 chore(ci): remove unnecessary cppcheck suppression
  .cppcheck_suppressions
Labels: tag:run-build-and-test-differential

#7823 fix(tensorrt_yolox): fix knownConditionTrueFalse
  perception/tensorrt_yolox/src/tensorrt_yolox.cpp
Labels: component:perception, tag:run-build-and-test-differential

#7841 refactor(lane_change): move struct to lane change namespace
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/base_class.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/data_structs.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/path.hpp
Labels: component:planning, tag:run-build-and-test-differential

#7858 fix(image_projection_based_fusion): segmentation pointcloud fusion param update
  perception/image_projection_based_fusion/config/segmentation_pointcloud_fusion.param.yaml
  perception/image_projection_based_fusion/docs/segmentation-pointcloud-fusion.md
  perception/image_projection_based_fusion/include/image_projection_based_fusion/segmentation_pointcloud_fusion/node.hpp
  perception/image_projection_based_fusion/schema/segmentation_pointcloud_fusion.schema.json
  perception/image_projection_based_fusion/src/segmentation_pointcloud_fusion/node.cpp
Labels: type:documentation, component:perception, tag:deploy-docs, tag:run-build-and-test-differential

#7850 fix(static_obstacle_avoidance): ignore pedestrian/cyclist who is not on road edge
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/utils.cpp
Labels: type:documentation, component:planning, tag:deploy-docs, tag:run-build-and-test-differential

#7827 feat(planning_evaluator): add planning evaluator polling sub
  evaluator/autoware_planning_evaluator/include/autoware/planning_evaluator/planning_evaluator_node.hpp
  evaluator/autoware_planning_evaluator/src/planning_evaluator_node.cpp
Labels: component:evaluator, tag:run-build-and-test-differential

#7237 perf(map_based_prediction): remove query on all fences linestrings
  perception/autoware_map_based_prediction/src/map_based_prediction_node.cpp
Labels: component:perception, tag:run-build-and-test-differential

#7865 fix(yabloc_image_processing): fix shadowFunction
  localization/yabloc/yabloc_image_processing/src/undistort/undistort_node.cpp
Labels: component:localization, tag:run-build-and-test-differential

#7862 chore(ci): remove unnecessary cppcheck suppression
  .cppcheck_suppressions
Labels: tag:run-build-and-test-differential

#7855 fix(fake_test_node, osqp_interface, qp_interface): remove unnecessary cppcheck inline suppressions
  common/fake_test_node/test/test_fake_test_node.cpp
  common/osqp_interface/test/test_osqp_interface.cpp
  common/qp_interface/test/test_osqp_interface.cpp
  common/qp_interface/test/test_proxqp_interface.cpp
Labels: component:common, tag:run-build-and-test-differential

#7842 feat(mission_planner): reroute in manual driving
  planning/autoware_mission_planner/README.md
  planning/autoware_mission_planner/launch/mission_planner.launch.xml
  planning/autoware_mission_planner/src/mission_planner/mission_planner.cpp
  planning/autoware_mission_planner/src/mission_planner/mission_planner.hpp
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#7845 refactor(map_loader): apply static analysis
  map/map_loader/include/map_loader/lanelet2_map_loader_node.hpp
  map/map_loader/include/map_loader/lanelet2_map_visualization_node.hpp
  map/map_loader/src/lanelet2_map_loader/lanelet2_local_projector.hpp
  map/map_loader/src/lanelet2_map_loader/lanelet2_map_loader_node.cpp
  map/map_loader/src/lanelet2_map_loader/lanelet2_map_visualization_node.cpp
  map/map_loader/src/pointcloud_map_loader/differential_map_loader_module.cpp
  map/map_loader/src/pointcloud_map_loader/differential_map_loader_module.hpp
  map/map_loader/src/pointcloud_map_loader/partial_map_loader_module.cpp
  map/map_loader/src/pointcloud_map_loader/partial_map_loader_module.hpp
  map/map_loader/src/pointcloud_map_loader/pointcloud_map_loader_module.cpp
  map/map_loader/src/pointcloud_map_loader/pointcloud_map_loader_module.hpp
  map/map_loader/src/pointcloud_map_loader/pointcloud_map_loader_node.cpp
  map/map_loader/src/pointcloud_map_loader/pointcloud_map_loader_node.hpp
  map/map_loader/src/pointcloud_map_loader/selected_map_loader_module.cpp
  map/map_loader/src/pointcloud_map_loader/selected_map_loader_module.hpp
  map/map_loader/src/pointcloud_map_loader/utils.cpp
  map/map_loader/src/pointcloud_map_loader/utils.hpp
  map/map_loader/test/test_cylinder_box_overlap.cpp
  map/map_loader/test/test_load_pcd_metadata.cpp
  map/map_loader/test/test_pointcloud_map_loader_module.cpp
  map/map_loader/test/test_replace_with_absolute_path.cpp
Labels: component:map, tag:run-build-and-test-differential, tag:run-clang-tidy-differential

#7867 fix(system_monitor): apply cppcheck-suppress for cstyleCast
  system/system_monitor/reader/hdd_reader/hdd_reader.cpp
  system/system_monitor/reader/msr_reader/msr_reader.cpp
  system/system_monitor/src/cpu_monitor/intel_cpu_monitor.cpp
  system/system_monitor/src/hdd_monitor/hdd_monitor.cpp
  system/system_monitor/test/src/cpu_monitor/test_intel_cpu_monitor.cpp
  system/system_monitor/test/src/hdd_monitor/test_hdd_monitor.cpp
Labels: component:system, tag:run-build-and-test-differential

#7225 feat(tier4_perception_launch): add image segmentation based pointcloud filter
  launch/tier4_perception_launch/launch/object_recognition/detection/detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/camera_lidar_detector.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
Labels: component:launch, tag:run-build-and-test-differential

#7869 fix(bluetooth_monitor): apply cppcheck-suppress for cstyleCast
  system/bluetooth_monitor/service/l2ping_service.cpp
Labels: component:system, tag:run-build-and-test-differential

#7596 feat(ndt_scan_matcher): estimate the covariance of ndt scan matching in real time instead of using a predefined value
  localization/ndt_scan_matcher/README.md
  localization/ndt_scan_matcher/config/ndt_scan_matcher.param.yaml
  localization/ndt_scan_matcher/include/ndt_scan_matcher/hyper_parameters.hpp
  localization/ndt_scan_matcher/include/ndt_scan_matcher/ndt_scan_matcher_core.hpp
  localization/ndt_scan_matcher/media/calculation_of_ndt_covariance.png
  localization/ndt_scan_matcher/schema/sub/covariance_covariance_estimation.json
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
Labels: type:documentation, component:localization, tag:run-build-and-test-differential

#7169 feat(pointpainting_fusion): add test for painting util
  perception/image_projection_based_fusion/CMakeLists.txt
  perception/image_projection_based_fusion/include/image_projection_based_fusion/pointpainting_fusion/node.hpp
  perception/image_projection_based_fusion/src/pointpainting_fusion/node.cpp
  perception/image_projection_based_fusion/test/test_pointpainting_fusion.cpp
Labels: component:perception, tag:run-build-and-test-differential

#7879 fix(pointcloud_preprocessor): temporarily remove distortion corrector unit test
  sensing/pointcloud_preprocessor/CMakeLists.txt
  sensing/pointcloud_preprocessor/test/test_distortion_corrector_node.cpp
Labels: component:sensing, tag:run-build-and-test-differential

#7874 refactor(gnss_poser): apply static analysis
  sensing/gnss_poser/include/gnss_poser/gnss_poser_core.hpp
  sensing/gnss_poser/src/gnss_poser_core.cpp
Labels: component:sensing, tag:run-build-and-test-differential, tag:run-clang-tidy-differential

#7878 fix(pointcloud_preprocessor): fix documentation
  sensing/pointcloud_preprocessor/docs/distortion-corrector.md
Labels: type:documentation, component:sensing, tag:run-build-and-test-differential

#7885 fix(motion_planning): fix processing time topic names
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node/src/node.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node/src/node.hpp
Labels: component:planning, tag:run-build-and-test-differential

#7872 refactor(probabilistic_occupancy_grid_map)!: fix namespace and directory structure
  perception/probabilistic_occupancy_grid_map/CMakeLists.txt
  perception/probabilistic_occupancy_grid_map/include/autoware/probabilistic_occupancy_grid_map/cost_value/cost_value.hpp
  perception/probabilistic_occupancy_grid_map/include/autoware/probabilistic_occupancy_grid_map/costmap_2d/occupancy_grid_map.hpp
  perception/probabilistic_occupancy_grid_map/include/autoware/probabilistic_occupancy_grid_map/costmap_2d/occupancy_grid_map_base.hpp
  perception/probabilistic_occupancy_grid_map/include/autoware/probabilistic_occupancy_grid_map/costmap_2d/occupancy_grid_map_fixed.hpp
  perception/probabilistic_occupancy_grid_map/include/autoware/probabilistic_occupancy_grid_map/costmap_2d/occupancy_grid_map_projective.hpp
  perception/probabilistic_occupancy_grid_map/include/autoware/probabilistic_occupancy_grid_map/fusion_policy/fusion_policy.hpp
  perception/probabilistic_occupancy_grid_map/include/autoware/probabilistic_occupancy_grid_map/updater/binary_bayes_filter_updater.hpp
  perception/probabilistic_occupancy_grid_map/include/autoware/probabilistic_occupancy_grid_map/updater/log_odds_bayes_filter_updater.hpp
  perception/probabilistic_occupancy_grid_map/include/autoware/probabilistic_occupancy_grid_map/updater/ogm_updater_interface.hpp
  perception/probabilistic_occupancy_grid_map/include/autoware/probabilistic_occupancy_grid_map/utils/utils.hpp
  perception/probabilistic_occupancy_grid_map/launch/laserscan_based_occupancy_grid_map.launch.py
  perception/probabilistic_occupancy_grid_map/launch/multi_lidar_pointcloud_based_occupancy_grid_map.launch.py
  perception/probabilistic_occupancy_grid_map/launch/pointcloud_based_occupancy_grid_map.launch.py
  perception/probabilistic_occupancy_grid_map/lib/costmap_2d/occupancy_grid_map.cpp
  perception/probabilistic_occupancy_grid_map/lib/costmap_2d/occupancy_grid_map_base.cpp
  perception/probabilistic_occupancy_grid_map/lib/costmap_2d/occupancy_grid_map_fixed.cpp
  perception/probabilistic_occupancy_grid_map/lib/costmap_2d/occupancy_grid_map_projective.cpp
  perception/probabilistic_occupancy_grid_map/lib/fusion_policy/fusion_policy.cpp
  perception/probabilistic_occupancy_grid_map/lib/updater/binary_bayes_filter_updater.cpp
  perception/probabilistic_occupancy_grid_map/lib/updater/log_odds_bayes_filter_updater.cpp
  perception/probabilistic_occupancy_grid_map/lib/utils/utils.cpp
  perception/probabilistic_occupancy_grid_map/package.xml
  perception/probabilistic_occupancy_grid_map/src/fusion/synchronized_grid_map_fusion_node.cpp
  perception/probabilistic_occupancy_grid_map/src/fusion/synchronized_grid_map_fusion_node.hpp
  perception/probabilistic_occupancy_grid_map/src/laserscan_based_occupancy_grid_map/laserscan_based_occupancy_grid_map_node.cpp
  perception/probabilistic_occupancy_grid_map/src/laserscan_based_occupancy_grid_map/laserscan_based_occupancy_grid_map_node.hpp
  perception/probabilistic_occupancy_grid_map/src/pointcloud_based_occupancy_grid_map/pointcloud_based_occupancy_grid_map_node.cpp
  perception/probabilistic_occupancy_grid_map/src/pointcloud_based_occupancy_grid_map/pointcloud_based_occupancy_grid_map_node.hpp
  perception/probabilistic_occupancy_grid_map/test/cost_value_test.cpp
  perception/probabilistic_occupancy_grid_map/test/fusion_policy_test.cpp
  perception/probabilistic_occupancy_grid_map/test/test_utils.cpp
Labels: component:perception, tag:run-build-and-test-differential

#7870 refactor(lanelet2_map_preprocessor): apply static analysis
  map/util/lanelet2_map_preprocessor/src/fix_lane_change_tags.cpp
  map/util/lanelet2_map_preprocessor/src/fix_z_value_by_pcd.cpp
  map/util/lanelet2_map_preprocessor/src/merge_close_lines.cpp
  map/util/lanelet2_map_preprocessor/src/merge_close_points.cpp
  map/util/lanelet2_map_preprocessor/src/remove_unreferenced_geometry.cpp
  map/util/lanelet2_map_preprocessor/src/transform_maps.cpp
Labels: component:map, tag:run-build-and-test-differential, tag:run-clang-tidy-differential

#7886 fix(pointcloud_preprocessor): fix the bug where the geometry message was not saved correctly.
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/distortion_corrector/distortion_corrector.hpp
  sensing/pointcloud_preprocessor/src/distortion_corrector/distortion_corrector.cpp
Labels: component:sensing, tag:run-build-and-test-differential

#7754 feat(autoware_universe_utils): add TimeKeeper to track function's processing time
  common/autoware_universe_utils/CMakeLists.txt
  common/autoware_universe_utils/README.md
  common/autoware_universe_utils/examples/example_scoped_time_track.cpp
  common/autoware_universe_utils/examples/example_time_keeper.cpp
  common/autoware_universe_utils/include/autoware/universe_utils/system/time_keeper.hpp
  common/autoware_universe_utils/src/system/time_keeper.cpp
  common/autoware_universe_utils/test/src/system/test_time_keeper.cpp
  planning/autoware_path_optimizer/include/autoware/path_optimizer/common_structs.hpp
  planning/autoware_path_optimizer/include/autoware/path_optimizer/mpt_optimizer.hpp
  planning/autoware_path_optimizer/include/autoware/path_optimizer/node.hpp
  planning/autoware_path_optimizer/include/autoware/path_optimizer/state_equation_generator.hpp
  planning/autoware_path_optimizer/src/mpt_optimizer.cpp
  planning/autoware_path_optimizer/src/node.cpp
  planning/autoware_path_optimizer/src/state_equation_generator.cpp
Labels: type:documentation, component:planning, component:common, tag:run-build-and-test-differential

#7904 fix(multi_object_tracker): fix publish interval adjust timing
  perception/multi_object_tracker/src/multi_object_tracker_node.cpp
Labels: component:perception, tag:run-build-and-test-differential

#7893 refactor(tier4_perception_launch): add maintainer to tier4_perception_launch
  launch/tier4_perception_launch/package.xml
Labels: component:launch, tag:run-build-and-test-differential

#7887 refactor(euclidean_cluster)!: fix namespace and directory structure
  perception/detection_by_tracker/src/debugger/debugger.hpp
  perception/detection_by_tracker/src/detection_by_tracker_node.cpp
  perception/detection_by_tracker/src/detection_by_tracker_node.hpp
  perception/euclidean_cluster/CMakeLists.txt
  perception/euclidean_cluster/include/autoware/euclidean_cluster/euclidean_cluster.hpp
  perception/euclidean_cluster/include/autoware/euclidean_cluster/euclidean_cluster_interface.hpp
  perception/euclidean_cluster/include/autoware/euclidean_cluster/utils.hpp
  perception/euclidean_cluster/include/autoware/euclidean_cluster/voxel_grid_based_euclidean_cluster.hpp
  perception/euclidean_cluster/launch/euclidean_cluster.launch.py
  perception/euclidean_cluster/launch/voxel_grid_based_euclidean_cluster.launch.py
  perception/euclidean_cluster/lib/euclidean_cluster.cpp
  perception/euclidean_cluster/lib/utils.cpp
  perception/euclidean_cluster/lib/voxel_grid_based_euclidean_cluster.cpp
  perception/euclidean_cluster/src/euclidean_cluster_node.cpp
  perception/euclidean_cluster/src/euclidean_cluster_node.hpp
  perception/euclidean_cluster/src/voxel_grid_based_euclidean_cluster_node.cpp
  perception/euclidean_cluster/src/voxel_grid_based_euclidean_cluster_node.hpp
  perception/image_projection_based_fusion/src/roi_pointcloud_fusion/node.cpp
Labels: component:perception, tag:run-build-and-test-differential

#7898 chore(radar_object_tracker): delete maintainer
  perception/radar_object_tracker/package.xml
Labels: component:perception, tag:run-build-and-test-differential

#7589 chore(autoware_behavior_velocity_planner): remove no_prefix function from tests
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner/test/src/test_node_interface.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7908 fix(euclidean_cluster): include autoware_universe_utils headers
  perception/euclidean_cluster/package.xml
Labels: component:perception, tag:run-build-and-test-differential

#7894 feat(autonomous_emergency_braking): add virtual stop wall to aeb
  .github/CODEOWNERS
  control/autoware_autonomous_emergency_braking/README.md
  control/autoware_autonomous_emergency_braking/config/autonomous_emergency_braking.param.yaml
  control/autoware_autonomous_emergency_braking/include/autoware/autonomous_emergency_braking/node.hpp
  control/autoware_autonomous_emergency_braking/include/autoware/autonomous_emergency_braking/utils.hpp
  control/autoware_autonomous_emergency_braking/package.xml
  control/autoware_autonomous_emergency_braking/src/node.cpp
Labels: type:documentation, component:control, tag:update-codeowners-from-packages, type:ci, tag:run-build-and-test-differential

#7889 docs(goal_planner): update parameter description
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/README.md
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#7902 fix(start/goal_planner): fix addition of duplicate segments in calcBeforeShiftedArcLength
  common/autoware_motion_utils/include/autoware/motion_utils/trajectory/trajectory.hpp
  common/autoware_motion_utils/src/trajectory/trajectory.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/shift_pull_over.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/shift_pull_out.cpp
Labels: component:planning, component:common, tag:run-build-and-test-differential

#7920 fix(frenet_planner): fix mistake in the curvature calculation
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/motion_planning/motion_planning.launch.xml
  planning/sampling_based_planner/autoware_frenet_planner/src/frenet_planner/frenet_planner.cpp
Labels: component:planning, component:launch, tag:run-build-and-test-differential

#7833 fix(pointcloud_preprocessor): fix distortion corrector unit test
  sensing/pointcloud_preprocessor/CMakeLists.txt
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/distortion_corrector/distortion_corrector.hpp
  sensing/pointcloud_preprocessor/src/distortion_corrector/distortion_corrector.cpp
  sensing/pointcloud_preprocessor/test/test_distortion_corrector_node.cpp
Labels: component:sensing, tag:run-build-and-test-differential

#6996 feat: migrating pointcloud types
  common/autoware_point_types/include/autoware_point_types/types.hpp
  common/autoware_point_types/test/test_point_types.cpp
  launch/tier4_perception_launch/launch/traffic_light_recognition/traffic_light.launch.xml
  perception/ground_segmentation/src/scan_ground_filter/node.cpp
  perception/ground_segmentation/src/scan_ground_filter/node.hpp
  perception/image_projection_based_fusion/src/pointpainting_fusion/node.cpp
  perception/lidar_apollo_instance_segmentation/src/detector.cpp
  perception/lidar_apollo_segmentation_tvm/src/lidar_apollo_segmentation_tvm.cpp
  perception/raindrop_cluster_filter/src/low_intensity_cluster_filter_node.cpp
  sensing/pointcloud_preprocessor/CMakeLists.txt
  sensing/pointcloud_preprocessor/docs/dual-return-outlier-filter.md
  sensing/pointcloud_preprocessor/docs/ring-outlier-filter.md
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/concatenate_data/concatenate_and_time_sync_nodelet.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/concatenate_data/concatenate_pointclouds.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/downsample_filter/faster_voxel_grid_downsample_filter.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/outlier_filter/ring_outlier_filter_nodelet.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/polygon_remover/polygon_remover.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/time_synchronizer/time_synchronizer_nodelet.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/utility/geometry.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/utility/memory.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/vector_map_filter/vector_map_inside_area_filter.hpp
  sensing/pointcloud_preprocessor/src/blockage_diag/blockage_diag_nodelet.cpp
  sensing/pointcloud_preprocessor/src/concatenate_data/concatenate_and_time_sync_nodelet.cpp
  sensing/pointcloud_preprocessor/src/concatenate_data/concatenate_pointclouds.cpp
  sensing/pointcloud_preprocessor/src/distortion_corrector/distortion_corrector.cpp
  sensing/pointcloud_preprocessor/src/downsample_filter/faster_voxel_grid_downsample_filter.cpp
  sensing/pointcloud_preprocessor/src/downsample_filter/voxel_grid_downsample_filter_nodelet.cpp
  sensing/pointcloud_preprocessor/src/filter.cpp
  sensing/pointcloud_preprocessor/src/outlier_filter/dual_return_outlier_filter_nodelet.cpp
  sensing/pointcloud_preprocessor/src/outlier_filter/ring_outlier_filter_nodelet.cpp
  sensing/pointcloud_preprocessor/src/time_synchronizer/time_synchronizer_nodelet.cpp
  sensing/pointcloud_preprocessor/src/utility/geometry.cpp
  sensing/pointcloud_preprocessor/src/utility/memory.cpp
  sensing/pointcloud_preprocessor/test/test_distortion_corrector_node.cpp
  sensing/pointcloud_preprocessor/test/test_utilities.cpp
Labels: type:documentation, component:perception, component:sensing, component:launch, component:common, tag:run-build-and-test-differential

#7074 feat(map_loader, route_handler)!: add format_version validation
  map/map_loader/config/lanelet2_map_loader.param.yaml
  map/map_loader/include/map_loader/lanelet2_map_loader_node.hpp
  map/map_loader/schema/lanelet2_map_loader.schema.json
  map/map_loader/src/lanelet2_map_loader/lanelet2_map_loader_node.cpp
  map/map_loader/test/lanelet2_map_loader_launch.test.py
  planning/autoware_route_handler/src/route_handler.cpp
Labels: component:planning, component:map, tag:run-build-and-test-differential

#7919 chore: add missing dependency
  launch/tier4_perception_launch/package.xml
Labels: component:launch, tag:run-build-and-test-differential

#7880 fix(static_obstacle_avoidance): stop position is unstable
  planning/behavior_path_planner/autoware_behavior_path_avoidance_by_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/debug.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/utils.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/debug.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7925 feat(blind_spot): consider road_shoulder if exist
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7915 refactor(image_diagnostics): fix namespace and directory structure
  sensing/image_diagnostics/CMakeLists.txt
  sensing/image_diagnostics/src/image_diagnostics_node.cpp
  sensing/image_diagnostics/src/image_diagnostics_node.hpp
Labels: component:sensing, tag:run-build-and-test-differential

#7903 fix(controller): revival of dry steering
  control/autoware_mpc_lateral_controller/include/autoware/mpc_lateral_controller/mpc.hpp
  control/autoware_mpc_lateral_controller/src/mpc.cpp
  control/autoware_pid_longitudinal_controller/include/autoware/pid_longitudinal_controller/pid_longitudinal_controller.hpp
  control/autoware_pid_longitudinal_controller/src/pid_longitudinal_controller.cpp
  control/autoware_trajectory_follower_node/test/test_controller_node.cpp
Labels: component:control, tag:run-build-and-test-differential

#7928 fix(autoware_behavior_velocity_no_drivable_lane_module): fix bug of uninitialization
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_drivable_lane_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7929 fix: added temporary retrocompatibility to old perception data
  sensing/pointcloud_preprocessor/src/filter.cpp
Labels: component:sensing, tag:run-build-and-test-differential

#7745 feat(lidar_transfusion): intensity as uint8 and tests
  perception/lidar_transfusion/CMakeLists.txt
  perception/lidar_transfusion/README.md
  perception/lidar_transfusion/include/lidar_transfusion/preprocess/pointcloud_densification.hpp
  perception/lidar_transfusion/include/lidar_transfusion/preprocess/preprocess_kernel.hpp
  perception/lidar_transfusion/include/lidar_transfusion/preprocess/voxel_generator.hpp
  perception/lidar_transfusion/include/lidar_transfusion/ros_utils.hpp
  perception/lidar_transfusion/include/lidar_transfusion/utils.hpp
  perception/lidar_transfusion/lib/preprocess/pointcloud_densification.cpp
  perception/lidar_transfusion/lib/preprocess/preprocess_kernel.cu
  perception/lidar_transfusion/lib/preprocess/voxel_generator.cpp
  perception/lidar_transfusion/package.xml
  perception/lidar_transfusion/test/test_detection_class_remapper.cpp
  perception/lidar_transfusion/test/test_nms.cpp
  perception/lidar_transfusion/test/test_postprocess_kernel.cpp
  perception/lidar_transfusion/test/test_postprocess_kernel.hpp
  perception/lidar_transfusion/test/test_preprocess_kernel.cpp
  perception/lidar_transfusion/test/test_preprocess_kernel.hpp
  perception/lidar_transfusion/test/test_ros_utils.cpp
  perception/lidar_transfusion/test/test_voxel_generator.cpp
  perception/lidar_transfusion/test/test_voxel_generator.hpp
Labels: type:documentation, component:perception, tag:run-build-and-test-differential

#7882 fix(autoware_universe_utils): fix constParameterReference
  common/autoware_universe_utils/include/autoware/universe_utils/geometry/geometry.hpp
  common/autoware_universe_utils/src/geometry/geometry.cpp
Labels: component:common, tag:run-build-and-test-differential

#7910 refactor(compare_map_segmentation)!: fix namespace and directory structure
  launch/tier4_perception_launch/launch/object_recognition/detection/filter/pointcloud_map_filter.launch.py
  launch/tier4_perception_launch/launch/obstacle_segmentation/ground_segmentation/ground_segmentation.launch.py
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.xml
  perception/compare_map_segmentation/CMakeLists.txt
  perception/compare_map_segmentation/src/compare_elevation_map_filter/node.cpp
  perception/compare_map_segmentation/src/compare_elevation_map_filter/node.hpp
  perception/compare_map_segmentation/src/distance_based_compare_map_filter/node.cpp
  perception/compare_map_segmentation/src/distance_based_compare_map_filter/node.hpp
  perception/compare_map_segmentation/src/voxel_based_approximate_compare_map_filter/node.cpp
  perception/compare_map_segmentation/src/voxel_based_approximate_compare_map_filter/node.hpp
  perception/compare_map_segmentation/src/voxel_based_compare_map_filter/node.cpp
  perception/compare_map_segmentation/src/voxel_based_compare_map_filter/node.hpp
  perception/compare_map_segmentation/src/voxel_distance_based_compare_map_filter/node.cpp
  perception/compare_map_segmentation/src/voxel_distance_based_compare_map_filter/node.hpp
  perception/compare_map_segmentation/src/voxel_grid_map_loader/voxel_grid_map_loader.cpp
  perception/compare_map_segmentation/src/voxel_grid_map_loader/voxel_grid_map_loader.hpp
Labels: component:perception, component:launch, tag:run-build-and-test-differential

#7913 refactor(radar_threshold_filter): fix namespace and directory structure
  sensing/radar_threshold_filter/CMakeLists.txt
  sensing/radar_threshold_filter/src/radar_threshold_filter_node.cpp
  sensing/radar_threshold_filter/src/radar_threshold_filter_node.hpp
  sensing/radar_threshold_filter/test/radar_threshold_filter/test_radar_threshold_filter.cpp
Labels: component:sensing, tag:run-build-and-test-differential

#7912 refactor(radar_scan_to_pointcloud2): fix namespace and directory structure
  sensing/radar_scan_to_pointcloud2/CMakeLists.txt
  sensing/radar_scan_to_pointcloud2/package.xml
  sensing/radar_scan_to_pointcloud2/src/radar_scan_to_pointcloud2_node.cpp
  sensing/radar_scan_to_pointcloud2/src/radar_scan_to_pointcloud2_node.hpp
Labels: component:sensing, tag:run-build-and-test-differential

#7911 refactor(radar_tracks_noise_filter)!: fix namespace and directory structure
  sensing/radar_tracks_noise_filter/CMakeLists.txt
  sensing/radar_tracks_noise_filter/src/radar_tracks_noise_filter_node.cpp
  sensing/radar_tracks_noise_filter/src/radar_tracks_noise_filter_node.hpp
  sensing/radar_tracks_noise_filter/test/radar_tracks_noise_filter/test_radar_tracks_noise_filter_is_noise.cpp
Labels: component:sensing, tag:run-build-and-test-differential

#7914 refactor(radar_static_pointcloud_filter): fix namespace and directory structure
  sensing/radar_static_pointcloud_filter/CMakeLists.txt
  sensing/radar_static_pointcloud_filter/package.xml
  sensing/radar_static_pointcloud_filter/src/radar_static_pointcloud_filter_node.cpp
  sensing/radar_static_pointcloud_filter/src/radar_static_pointcloud_filter_node.hpp
Labels: component:sensing, tag:run-build-and-test-differential

#7890 feat(lidar_transfusion): update TransFusion-L model
  perception/lidar_transfusion/README.md
  perception/lidar_transfusion/config/transfusion.param.yaml
  perception/lidar_transfusion/include/lidar_transfusion/transfusion_config.hpp
  perception/lidar_transfusion/schema/transfusion.schema.json
  perception/lidar_transfusion/src/lidar_transfusion_node.cpp
Labels: type:documentation, component:perception, tag:run-build-and-test-differential

#7906 fix(tensorrt_common): fix shadowVariable
  common/tensorrt_common/src/tensorrt_common.cpp
Labels: component:common, tag:run-build-and-test-differential

#7800 feat(tensorrt_yolox): change CMakeLists to be able to build cuda function without runtime gpu
  perception/tensorrt_yolox/CMakeLists.txt
Labels: component:perception, tag:run-build-and-test-differential

#7940 chore(localization, map): remove maintainer
  launch/tier4_localization_launch/package.xml
  launch/tier4_map_launch/package.xml
  localization/autoware_stop_filter/package.xml
  localization/ekf_localizer/package.xml
  localization/geo_pose_projector/package.xml
  localization/localization_error_monitor/package.xml
  localization/ndt_scan_matcher/package.xml
  localization/twist2accel/package.xml
  localization/yabloc/yabloc_monitor/package.xml
  map/map_loader/package.xml
  map/map_projection_loader/package.xml
  sensing/gnss_poser/package.xml
  sensing/imu_corrector/package.xml
Labels: component:sensing, component:localization, component:map, component:launch, tag:run-build-and-test-differential

#7941 fix(object_merger): fix shadowVariable
  perception/object_merger/src/association/solver/successive_shortest_path.cpp
Labels: component:perception, tag:run-build-and-test-differential

#7939 fix(multi_object_tracker): fix shadowVariable
  perception/multi_object_tracker/src/multi_object_tracker_node.cpp
Labels: component:perception, tag:run-build-and-test-differential

#7851 fix(static_obstacle_avoidance): don't automatically avoid ambiguous vehicle
  planning/behavior_path_planner/autoware_behavior_path_avoidance_by_lane_change_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/config/static_obstacle_avoidance.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/data_structs.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/helper.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/parameter_helper.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/schema/static_obstacle_avoidance.schema.json
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7938 fix(lidar_apollo_segmentation_tvm): fix shadowVariable
  perception/lidar_apollo_segmentation_tvm/src/lidar_apollo_segmentation_tvm.cpp
Labels: component:perception, tag:run-build-and-test-differential

#7945 fix(autoware_radar_object_tracker): fix shadowVariable
  perception/autoware_radar_object_tracker/src/association/ssp/successive_shortest_path.cpp
Labels: component:perception, tag:run-build-and-test-differential

#7947 fix(tensorrt_yolox): fix shadowVariable
  perception/tensorrt_yolox/src/tensorrt_yolox.cpp
Labels: component:perception, tag:run-build-and-test-differential

#7948 fix(tracking_object_merger): fix shadowVariable
  perception/tracking_object_merger/src/association/solver/successive_shortest_path.cpp
Labels: component:perception, tag:run-build-and-test-differential

#7953 fix(lidar_transfusion): install lib
  perception/lidar_transfusion/CMakeLists.txt
Labels: component:perception, tag:run-build-and-test-differential

#7921 fix(autoware_external_cmd_converter): fix check_topic_state
  vehicle/autoware_external_cmd_converter/src/node.cpp
Labels: component:vehicle, tag:run-build-and-test-differential

#7861 feat(obstacle_cruise_planner): prevent chattering when using point cloud
  planning/autoware_obstacle_cruise_planner/include/autoware/obstacle_cruise_planner/node.hpp
  planning/autoware_obstacle_cruise_planner/src/node.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7959 feat(duplicated_node_checker): add duplicate nodes to ignore
  system/duplicated_node_checker/config/duplicated_node_checker.param.yaml
  system/duplicated_node_checker/include/duplicated_node_checker/duplicated_node_checker_core.hpp
  system/duplicated_node_checker/src/duplicated_node_checker_core.cpp
Labels: component:system, tag:run-build-and-test-differential

#7753 perf(dynamic_obstacle_stop): construct rtree nodes in place
  planning/motion_velocity_planner/autoware_motion_velocity_dynamic_obstacle_stop_module/src/footprint.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7961 fix(ci): ignore only-hpp-package in cppcheck-differential
  .github/workflows/cppcheck-differential.yaml
Labels: type:ci, tag:run-build-and-test-differential

#7899 chore(perception_utils): delete maintainer
  common/perception_utils/package.xml
Labels: component:common, tag:run-build-and-test-differential

#7873 fix(tensorrt_yolox): fix cstyleCast to reinterpret_cast
  perception/tensorrt_yolox/src/tensorrt_yolox.cpp
Labels: component:perception, tag:run-build-and-test-differential

#7965 fix(autoware_behavior_path_planner_common): fix shadowVariable
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential
