Repository autowarefoundation/autoware_universe, pull requests merged in 2024-03, with the labels that each got.

#6524 fix(ci): remove json-schema-check filter
  .github/workflows/json-schema-check.yaml
Labels: type:ci, tag:run-build-and-test-differential

#6466 refactor(behavior_path_planner): remove unused drivable area parameters
  planning/behavior_path_avoidance_module/config/avoidance.param.yaml
  planning/behavior_path_planner/config/behavior_path_planner.param.yaml
Labels: component:planning, tag:run-build-and-test-differential

#6530 ci(json-schema-check): run only if relevant files are changed
  .github/workflows/json-schema-check.yaml
Labels: type:ci, tag:run-build-and-test-differential

#6472 fix(tensorrt_yolox): renamed input output topic names
  perception/tensorrt_yolox/launch/multiple_yolox.launch.xml
Labels: component:perception, tag:run-build-and-test-differential

#6525 feat(pointcloud_preprocessor): enable to change synchronized pointcloud topic name
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/concatenate_data/concatenate_and_time_sync_nodelet.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/time_synchronizer/time_synchronizer_nodelet.hpp
  sensing/pointcloud_preprocessor/src/concatenate_data/concatenate_and_time_sync_nodelet.cpp
  sensing/pointcloud_preprocessor/src/concatenate_data/concatenate_pointclouds.cpp
  sensing/pointcloud_preprocessor/src/time_synchronizer/time_synchronizer_nodelet.cpp
Labels: component:sensing, tag:run-build-and-test-differential

#6432 fix: suppress spell check failure to ignore LOBF, bcnn, CTRV and DLCPU
  perception/lidar_apollo_segmentation_tvm/data/models/baidu_cnn/inference_engine_tvm_config.hpp
  perception/lidar_centerpoint_tvm/data/models/centerpoint_backbone/inference_engine_tvm_config.hpp
  perception/lidar_centerpoint_tvm/data/models/centerpoint_backbone/preprocessing_inference_engine_tvm_config.hpp
  perception/lidar_centerpoint_tvm/data/models/centerpoint_encoder/inference_engine_tvm_config.hpp
  perception/multi_object_tracker/src/tracker/model/pedestrian_tracker.cpp
  perception/probabilistic_occupancy_grid_map/include/probabilistic_occupancy_grid_map/fusion/synchronized_grid_map_fusion_node.hpp
  perception/probabilistic_occupancy_grid_map/include/probabilistic_occupancy_grid_map/updater/occupancy_grid_map_log_odds_bayes_filter_updater.hpp
  perception/probabilistic_occupancy_grid_map/src/fusion/synchronized_grid_map_fusion_node.cpp
  perception/probabilistic_occupancy_grid_map/src/updater/occupancy_grid_map_log_odds_bayes_filter_updater.cpp
Labels: component:perception, tag:run-build-and-test-differential

#6370 feat(start_planner): add object_types_to_check_for_path_generation
  planning/behavior_path_start_planner_module/README.md
  planning/behavior_path_start_planner_module/config/start_planner.param.yaml
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/data_structs.hpp
  planning/behavior_path_start_planner_module/src/manager.cpp
  planning/behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#6230 fix(manual_controller): set PARK gear when going from reverse to drive
  common/tier4_control_rviz_plugin/src/tools/manual_controller.cpp
  common/tier4_control_rviz_plugin/src/tools/manual_controller.hpp
Labels: component:common, tag:run-build-and-test-differential

#6528 feat(tier4_localization_launch): change the default input pointcloud of localization into the concatenated pointcloud
  launch/tier4_localization_launch/launch/localization.launch.xml
  launch/tier4_localization_launch/launch/pose_twist_estimator/pose_twist_estimator.launch.xml
  launch/tier4_localization_launch/launch/util/util.launch.xml
Labels: component:launch, tag:run-build-and-test-differential

#6536 chore(ground_segmentation): rename topic and node
  launch/tier4_perception_launch/launch/obstacle_segmentation/ground_segmentation/ground_segmentation.launch.py
  launch/tier4_perception_launch/launch/perception.launch.xml
  perception/probabilistic_occupancy_grid_map/synchronized_grid_map_fusion.md
Labels: type:documentation, component:perception, component:launch, tag:run-build-and-test-differential

#6516 fix(lane_change): approval chatters when no valid paths
  planning/behavior_path_lane_change_module/src/interface.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6542 fix(intersection): fix possible invalid access
  planning/behavior_velocity_intersection_module/src/scene_intersection_stuck.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6505 chore(ndt_scan_matcher): refactor NDT map update
  localization/ndt_scan_matcher/src/map_update_module.cpp
Labels: component:localization, tag:run-build-and-test-differential

#6540 feat: add pull over to autoware_state_panel of rviz
  common/tier4_state_rviz_plugin/src/autoware_state_panel.cpp
Labels: component:common, tag:run-build-and-test-differential

#6541 fix(mpc_lateral_controller): reset ctrl_cmd_prev during manual mode
  control/mpc_lateral_controller/src/mpc_lateral_controller.cpp
Labels: component:control, tag:run-build-and-test-differential

#6522 feat(mrm_handler, emergency_handler): remove takeover
  system/emergency_handler/config/emergency_handler.param.yaml
  system/emergency_handler/include/emergency_handler/emergency_handler_core.hpp
  system/emergency_handler/schema/emergency_handler.schema.json
  system/emergency_handler/src/emergency_handler/emergency_handler_core.cpp
  system/mrm_handler/config/mrm_handler.param.yaml
  system/mrm_handler/include/mrm_handler/mrm_handler_core.hpp
  system/mrm_handler/schema/mrm_handler.schema.json
  system/mrm_handler/src/mrm_handler/mrm_handler_core.cpp
Labels: component:system, tag:run-build-and-test-differential

#6514 refactor(mrm_handler): delete control_cmd publish function
  system/mrm_handler/include/mrm_handler/mrm_handler_core.hpp
  system/mrm_handler/src/mrm_handler/mrm_handler_core.cpp
Labels: component:system, tag:run-build-and-test-differential

#6551 chore: update maintainer
  perception/cluster_merger/package.xml
  perception/compare_map_segmentation/package.xml
  perception/detected_object_validation/package.xml
  perception/euclidean_cluster/package.xml
  perception/ground_segmentation/package.xml
  perception/image_projection_based_fusion/package.xml
  sensing/image_diagnostics/package.xml
  sensing/pointcloud_preprocessor/package.xml
Labels: component:perception, component:sensing, tag:run-build-and-test-differential

#6548 docs(image_projection_based_fusion): update segmentation_pointcloud_fusion node docs
  perception/image_projection_based_fusion/docs/images/segmentation_pointcloud_fusion.png
  perception/image_projection_based_fusion/docs/segmentation-pointcloud-fusion.md
Labels: type:documentation, component:perception, tag:deploy-docs, tag:run-build-and-test-differential

#6549 chore(ground_segmentation_launch): change max_z of cropbox filter to vehicle_height
  launch/tier4_perception_launch/launch/obstacle_segmentation/ground_segmentation/ground_segmentation.launch.py
Labels: component:launch, tag:run-build-and-test-differential

#6471 ci: update build-and-test and -differential jobs
  .github/workflows/build-and-test-arm64.yaml
  .github/workflows/build-and-test-differential-arm64.yaml
  .github/workflows/build-and-test-differential.yaml
  .github/workflows/build-and-test.yaml
Labels: type:arm64, type:ci, tag:run-build-and-test-differential

#6520 feat(avoidance): change lateral margin based on if it's parked vehicle
  planning/behavior_path_avoidance_by_lane_change_module/config/avoidance_by_lane_change.param.yaml
  planning/behavior_path_avoidance_by_lane_change_module/src/manager.cpp
  planning/behavior_path_avoidance_by_lane_change_module/src/scene.cpp
  planning/behavior_path_avoidance_module/config/avoidance.param.yaml
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/data_structs.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/parameter_helper.hpp
  planning/behavior_path_avoidance_module/src/debug.cpp
  planning/behavior_path_avoidance_module/src/manager.cpp
  planning/behavior_path_avoidance_module/src/scene.cpp
  planning/behavior_path_avoidance_module/src/shift_line_generator.cpp
  planning/behavior_path_avoidance_module/src/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6556 feat(perception_online_evaluator): publish metrics of each object class
  evaluator/perception_online_evaluator/include/perception_online_evaluator/metrics_calculator.hpp
  evaluator/perception_online_evaluator/include/perception_online_evaluator/utils/objects_filtering.hpp
  evaluator/perception_online_evaluator/package.xml
  evaluator/perception_online_evaluator/src/metrics_calculator.cpp
  evaluator/perception_online_evaluator/src/utils/objects_filtering.cpp
  evaluator/perception_online_evaluator/test/test_perception_online_evaluator_node.cpp
Labels: component:evaluator, tag:run-build-and-test-differential

#6545 feat(start_planner): prevent hindering rear vehicles
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/utils/utils.hpp
  planning/behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_lane_change_module/src/utils/utils.cpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/utils.hpp
  planning/behavior_path_planner_common/src/utils/path_safety_checker/objects_filtering.cpp
  planning/behavior_path_planner_common/src/utils/utils.cpp
  planning/behavior_path_start_planner_module/README.md
  planning/behavior_path_start_planner_module/config/start_planner.param.yaml
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/data_structs.hpp
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/start_planner_module.hpp
  planning/behavior_path_start_planner_module/src/manager.cpp
  planning/behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#6558 fix(start_planner): consider backward completion before preparing blinker
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/start_planner_module.hpp
  planning/behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6476 fix(raw_vehicle_cmd_converter): csv paths are resolved in param.yaml
  vehicle/raw_vehicle_cmd_converter/config/raw_vehicle_cmd_converter.param.yaml
  vehicle/raw_vehicle_cmd_converter/launch/raw_vehicle_converter.launch.xml
  vehicle/raw_vehicle_cmd_converter/schema/raw_vehicle_cmd_converter.schema.json
Labels: component:vehicle, DevOps Dojo: ROS Node Conf, tag:run-build-and-test-differential

#6566 fix(drivable_area_expansion): fix invalid access
  planning/behavior_path_planner_common/src/utils/drivable_area_expansion/static_drivable_area.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6533 refactor(radar_tracks_msgs_converter): rework parameters
  perception/radar_tracks_msgs_converter/README.md
  perception/radar_tracks_msgs_converter/schema/radar_tracks_msgs_converter.schema.json
Labels: type:documentation, component:perception, DevOps Dojo: ROS Node Conf, tag:run-build-and-test-differential

#6568 fix(tier4_metrics_rviz_plugin): fix metrics_name column
  evaluator/tier4_metrics_rviz_plugin/src/metrics_visualize_panel.hpp
Labels: component:evaluator, tag:run-build-and-test-differential

#6567 fix(route_handler): query shoulder lane in getLaneletSequence() if only_route_lanes is false and the arg is shoulder type
  planning/route_handler/src/route_handler.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6478 feat(out_of_lane): cut predicted paths after red lights
  planning/behavior_velocity_out_of_lane_module/config/out_of_lane.param.yaml
  planning/behavior_velocity_out_of_lane_module/package.xml
  planning/behavior_velocity_out_of_lane_module/src/decisions.cpp
  planning/behavior_velocity_out_of_lane_module/src/filter_predicted_objects.cpp
  planning/behavior_velocity_out_of_lane_module/src/filter_predicted_objects.hpp
  planning/behavior_velocity_out_of_lane_module/src/manager.cpp
  planning/behavior_velocity_out_of_lane_module/src/scene_out_of_lane.cpp
  planning/behavior_velocity_out_of_lane_module/src/types.hpp
Labels: component:planning, tag:run-build-and-test-differential

#6399 fix(emergency_handler): fix hazard status timeout
  system/emergency_handler/include/emergency_handler/emergency_handler_core.hpp
  system/emergency_handler/src/emergency_handler/emergency_handler_core.cpp
Labels: component:system, tag:run-build-and-test-differential

#6572 chore(tier4_metrics_rviz_plugin): add kosuke55 and rej55 as maintainer
  evaluator/tier4_metrics_rviz_plugin/package.xml
Labels: component:evaluator, tag:run-build-and-test-differential

#6571 feat(tier4_metrics_rviz_plugin): switch visualization target topic
  evaluator/tier4_metrics_rviz_plugin/src/metrics_visualize_panel.cpp
  evaluator/tier4_metrics_rviz_plugin/src/metrics_visualize_panel.hpp
Labels: component:evaluator, tag:run-build-and-test-differential

#6563 fix(component_state_monitor): change pose_estimator_pose rate
  system/component_state_monitor/config/topics.yaml
Labels: component:system, tag:run-build-and-test-differential

#6577 feat(tier4_metrics_rviz_plugin): add selected metrics view tab
  evaluator/tier4_metrics_rviz_plugin/CMakeLists.txt
  evaluator/tier4_metrics_rviz_plugin/include/metrics_visualize_panel.hpp
  evaluator/tier4_metrics_rviz_plugin/src/metrics_visualize_panel.cpp
Labels: component:evaluator, tag:run-build-and-test-differential

#6560 fix(ndt_scan_matcher): added error handling about update_ndt
  localization/ndt_scan_matcher/src/map_update_module.cpp
Labels: component:localization, tag:run-build-and-test-differential

#6578 fix(mpc_lateral_controller): precise backward driving
  control/mpc_lateral_controller/src/mpc.cpp
Labels: component:control, tag:run-build-and-test-differential

#6497 feat(lidar_centerpoint): remove files those are no longer supported nor used
  perception/lidar_centerpoint/CMakeLists.txt
  perception/lidar_centerpoint/README.md
  perception/lidar_centerpoint/include/lidar_centerpoint/single_inference_node.hpp
  perception/lidar_centerpoint/launch/centerpoint_vs_centerpoint-tiny/README.md
  perception/lidar_centerpoint/launch/centerpoint_vs_centerpoint-tiny/centerpoint_vs_centerpoint-tiny.launch.xml
  perception/lidar_centerpoint/launch/centerpoint_vs_centerpoint-tiny/rviz/centerpoint.rviz
  perception/lidar_centerpoint/launch/centerpoint_vs_centerpoint-tiny/rviz/centerpoint_tiny.rviz
  perception/lidar_centerpoint/launch/single_inference_lidar_centerpoint.launch.xml
  perception/lidar_centerpoint/scripts/lidar_centerpoint_visualizer.py
  perception/lidar_centerpoint/src/single_inference_node.cpp
Labels: type:documentation, component:perception, tag:run-build-and-test-differential

#6582 chore(imu_corrector): relax gyro bias threshold parameter
  sensing/imu_corrector/config/gyro_bias_estimator.param.yaml
Labels: component:sensing, tag:run-build-and-test-differential

#6532 feat: add timeouts of request services
  system/mrm_handler/config/mrm_handler.param.yaml
  system/mrm_handler/image/mrm-state.svg
  system/mrm_handler/include/mrm_handler/mrm_handler_core.hpp
  system/mrm_handler/schema/mrm_handler.schema.json
  system/mrm_handler/src/mrm_handler/mrm_handler_core.cpp
Labels: type:documentation, component:system, tag:run-build-and-test-differential

#5861 perf(common_ground_filter): performance tuning
  perception/ground_segmentation/include/ground_segmentation/scan_ground_filter_nodelet.hpp
  perception/ground_segmentation/src/scan_ground_filter_nodelet.cpp
  perception/ground_segmentation/test/test_scan_ground_filter.cpp
  sensing/pointcloud_preprocessor/src/filter.cpp
Labels: component:perception, component:sensing, tag:run-build-and-test-differential

#6588 fix(lane_departure_checker): empty lanelet polygon
  control/lane_departure_checker/include/lane_departure_checker/lane_departure_checker.hpp
  control/lane_departure_checker/src/lane_departure_checker_node/lane_departure_checker.cpp
  planning/behavior_path_start_planner_module/src/shift_pull_out.cpp
Labels: component:planning, component:control, tag:run-build-and-test-differential

#6513 fix(mrm_handler): fix bug in operation mode availability timeout
  system/mrm_handler/include/mrm_handler/mrm_handler_core.hpp
  system/mrm_handler/src/mrm_handler/mrm_handler_core.cpp
Labels: component:system, tag:run-build-and-test-differential

#6592 build(perception_online_evaluator): add lanelet2_extension dependency
  evaluator/perception_online_evaluator/package.xml
Labels: component:evaluator, tag:run-build-and-test-differential

#6565 fix(avoidance): ignore objects are in intersection when the ego stops by red traffic signal
  planning/behavior_path_avoidance_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6595 fix(perception_online_evaluator): fix build error
  evaluator/perception_online_evaluator/test/test_perception_online_evaluator_node.cpp
Labels: component:evaluator, tag:run-build-and-test-differential

#6574 feat(map_based_prediction, etc): publish processing time in various perception nodes
  perception/detection_by_tracker/include/detection_by_tracker/debugger.hpp
  perception/detection_by_tracker/src/detection_by_tracker_core.cpp
  perception/map_based_prediction/README.md
  perception/map_based_prediction/include/map_based_prediction/map_based_prediction_node.hpp
  perception/map_based_prediction/src/map_based_prediction_node.cpp
  perception/multi_object_tracker/src/multi_object_tracker_core.cpp
  perception/object_merger/include/object_merger/node.hpp
  perception/object_merger/src/object_association_merger/node.cpp
  perception/shape_estimation/src/node.cpp
  perception/shape_estimation/src/node.hpp
  perception/tracking_object_merger/include/tracking_object_merger/decorative_tracker_merger.hpp
  perception/tracking_object_merger/src/decorative_tracker_merger.cpp
Labels: type:documentation, component:perception, tag:run-build-and-test-differential

#6585 fix(intersection_occlusion): estimate dynamic occlusion source with triangle
  planning/behavior_velocity_intersection_module/src/debug.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_intersection_module/src/scene_intersection_occlusion.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6406 fix(log-messages): reduce excessive log messages
  localization/localization_util/src/smart_pose_buffer.cpp
  localization/localization_util/src/util_func.cpp
  localization/ndt_scan_matcher/src/map_update_module.cpp
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
  localization/pose_initializer/src/pose_initializer/ndt_module.cpp
  sensing/pointcloud_preprocessor/src/concatenate_data/concatenate_and_time_sync_nodelet.cpp
  sensing/pointcloud_preprocessor/src/filter.cpp
Labels: component:sensing, component:localization, tag:run-build-and-test-differential

#6552 chore: add maintainer Yoshi Ri to packages
  perception/bytetrack/package.xml
  perception/detected_object_validation/package.xml
Labels: component:perception, tag:run-build-and-test-differential

#6440 feat(tier4_autoware_utils): add published time debug class into utils
  build_depends.repos
  common/tier4_autoware_utils/include/tier4_autoware_utils/ros/published_time_publisher.hpp
  common/tier4_autoware_utils/package.xml
Labels: component:common, tag:run-build-and-test-differential

#6587 refactor(multi_object_tracker): define motion model class
  perception/multi_object_tracker/CMakeLists.txt
  perception/multi_object_tracker/include/multi_object_tracker/tracker/model/bicycle_tracker.hpp
  perception/multi_object_tracker/include/multi_object_tracker/tracker/model/big_vehicle_tracker.hpp
  perception/multi_object_tracker/include/multi_object_tracker/tracker/model/normal_vehicle_tracker.hpp
  perception/multi_object_tracker/include/multi_object_tracker/tracker/model/pedestrian_tracker.hpp
  perception/multi_object_tracker/include/multi_object_tracker/tracker/model/unknown_tracker.hpp
  perception/multi_object_tracker/include/multi_object_tracker/tracker/motion_model/bicycle_motion_model.hpp
  perception/multi_object_tracker/include/multi_object_tracker/tracker/motion_model/ctrv_motion_model.hpp
  perception/multi_object_tracker/include/multi_object_tracker/tracker/motion_model/cv_motion_model.hpp
  perception/multi_object_tracker/include/multi_object_tracker/tracker/motion_model/motion_model_base.hpp
  perception/multi_object_tracker/include/multi_object_tracker/utils/utils.hpp
  perception/multi_object_tracker/src/multi_object_tracker_core.cpp
  perception/multi_object_tracker/src/tracker/model/bicycle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/big_vehicle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/normal_vehicle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/pedestrian_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/unknown_tracker.cpp
  perception/multi_object_tracker/src/tracker/motion_model/bicycle_motion_model.cpp
  perception/multi_object_tracker/src/tracker/motion_model/ctrv_motion_model.cpp
  perception/multi_object_tracker/src/tracker/motion_model/cv_motion_model.cpp
  perception/multi_object_tracker/src/tracker/motion_model/motion_model_base.cpp
Labels: component:perception, tag:run-build-and-test-differential

#6596 chore(cspell): merge `spell-check-partial` and `spell-check-all`
  .cspell-partial.json
  .cspell.json
  .github/workflows/spell-check-all.yaml
  .github/workflows/spell-check-partial.yaml
  perception/bytetrack/src/bytetrack.cpp
Labels: component:perception, type:ci, tag:run-build-and-test-differential

#6599 fix(blind_spot): find collision point using sibling straight lanelet boundary
  planning/behavior_velocity_blind_spot_module/src/scene.cpp
  planning/behavior_velocity_blind_spot_module/src/scene.hpp
Labels: component:planning, tag:run-build-and-test-differential

#6581 refactor(pointcloud_preprocessor): publish noise points in ring outlier filter
  sensing/pointcloud_preprocessor/docs/ring-outlier-filter.md
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/outlier_filter/ring_outlier_filter_nodelet.hpp
  sensing/pointcloud_preprocessor/src/outlier_filter/dual_return_outlier_filter_nodelet.cpp
  sensing/pointcloud_preprocessor/src/outlier_filter/ring_outlier_filter_nodelet.cpp
Labels: type:documentation, component:sensing, tag:run-build-and-test-differential

#6606 fix: add cspell ignore for CTRV
  perception/multi_object_tracker/CMakeLists.txt
  perception/multi_object_tracker/include/multi_object_tracker/tracker/model/pedestrian_tracker.hpp
  perception/multi_object_tracker/include/multi_object_tracker/tracker/motion_model/ctrv_motion_model.hpp
  perception/multi_object_tracker/src/tracker/motion_model/bicycle_motion_model.cpp
Labels: component:perception, tag:run-build-and-test-differential

#5485 feat(probabilistic_occupancy_grid_map): add synchronized ogm fusion node
  launch/tier4_perception_launch/launch/occupancy_grid_map/probabilistic_occupancy_grid_map.launch.xml
  perception/probabilistic_occupancy_grid_map/config/multi_lidar_pointcloud_based_occupancy_grid_map.param.yaml
  perception/probabilistic_occupancy_grid_map/launch/multi_lidar_pointcloud_based_occupancy_grid_map.launch.py
  perception/probabilistic_occupancy_grid_map/src/fusion/synchronized_grid_map_fusion_node.cpp
  perception/probabilistic_occupancy_grid_map/src/pointcloud_based_occupancy_grid_map/pointcloud_based_occupancy_grid_map_node.cpp
Labels: component:perception, component:launch, tag:run-build-and-test-differential, tag:openai-pr-reviewer

#6598 fix(shape_estimation): preserve irregular large size vehicle detected by camera_lidar_fusion as unknown
  perception/shape_estimation/config/shape_estimation.param.yaml
  perception/shape_estimation/lib/shape_estimator.cpp
  perception/shape_estimation/src/node.cpp
  perception/shape_estimation/src/node.hpp
Labels: component:perception, tag:run-build-and-test-differential

#6608 feat(intersection_occlusion): quickly delete occlusion wall on change from green to yellow/red
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_intersection_module/src/scene_intersection_occlusion.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection_prepare_data.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6579 feat(pid_longitudinal_controller): add maker for stop reason
  control/pid_longitudinal_controller/include/pid_longitudinal_controller/pid_longitudinal_controller.hpp
  control/pid_longitudinal_controller/src/pid_longitudinal_controller.cpp
  launch/tier4_control_launch/launch/control.launch.py
Labels: component:control, component:launch, tag:run-build-and-test-differential

#6382 feat(tier4_simulator_launch): add option to disable all perception related modules
  launch/tier4_simulator_launch/launch/simulator.launch.xml
Labels: component:launch, tag:run-build-and-test-differential

#5980 perf(occupancy_grid_map_outlier_filter): improve performance
  perception/occupancy_grid_map_outlier_filter/src/occupancy_grid_map_outlier_filter_nodelet.cpp
Labels: component:perception, tag:run-build-and-test-differential

#6613 docs(diagnostic_graph_aggregator): update documents
  system/diagnostic_graph_aggregator/README.md
  system/diagnostic_graph_aggregator/doc/format/and.md
  system/diagnostic_graph_aggregator/doc/format/diag.md
  system/diagnostic_graph_aggregator/doc/format/edit.md
  system/diagnostic_graph_aggregator/doc/format/edit/remove.md
  system/diagnostic_graph_aggregator/doc/format/graph-file.md
  system/diagnostic_graph_aggregator/doc/format/graph.md
  system/diagnostic_graph_aggregator/doc/format/node.md
  system/diagnostic_graph_aggregator/doc/format/node/and.md
  system/diagnostic_graph_aggregator/doc/format/node/const.md
  system/diagnostic_graph_aggregator/doc/format/node/diag.md
  system/diagnostic_graph_aggregator/doc/format/node/link.md
  system/diagnostic_graph_aggregator/doc/format/node/or.md
  system/diagnostic_graph_aggregator/doc/format/node/remap.md
  system/diagnostic_graph_aggregator/doc/format/or.md
  system/diagnostic_graph_aggregator/doc/format/path.md
  system/diagnostic_graph_aggregator/doc/format/unit.md
  system/diagnostic_graph_aggregator/example/dummy-diags.py
  system/diagnostic_graph_aggregator/example/example-edit.launch.xml
  system/diagnostic_graph_aggregator/example/example-main.launch.xml
  system/diagnostic_graph_aggregator/example/graph/edit.yaml
  system/diagnostic_graph_aggregator/example/graph/main.yaml
  system/diagnostic_graph_aggregator/example/graph/module1.yaml
  system/diagnostic_graph_aggregator/example/graph/module2.yaml
Labels: type:documentation, component:system, tag:deploy-docs, tag:run-build-and-test-differential

#6611 fix(multi_object_tracker): mot multi-step prediction is not work as intended
  perception/multi_object_tracker/include/multi_object_tracker/multi_object_tracker_core.hpp
  perception/multi_object_tracker/src/multi_object_tracker_core.cpp
  perception/multi_object_tracker/src/tracker/motion_model/bicycle_motion_model.cpp
  perception/multi_object_tracker/src/tracker/motion_model/ctrv_motion_model.cpp
  perception/multi_object_tracker/src/tracker/motion_model/cv_motion_model.cpp
  perception/multi_object_tracker/src/tracker/motion_model/motion_model_base.cpp
Labels: component:perception, tag:run-build-and-test-differential

#6569 feat(pointcloud_preprocessor): add pipeline_latency_ms debug publisher to missed modules
  sensing/pointcloud_preprocessor/src/concatenate_data/concatenate_pointclouds.cpp
  sensing/pointcloud_preprocessor/src/time_synchronizer/time_synchronizer_nodelet.cpp
Labels: component:sensing, tag:run-build-and-test-differential

#6607 feat(multi_object_tracker): add object class filtering in tracking process
  perception/multi_object_tracker/include/multi_object_tracker/tracker/model/tracker_base.hpp
  perception/multi_object_tracker/src/tracker/model/multiple_vehicle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/pedestrian_and_bicycle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/tracker_base.cpp
Labels: component:perception, tag:run-build-and-test-differential

#6601 fix(avoidance): the module ignored merging objects unexpectedly
  planning/behavior_path_avoidance_by_lane_change_module/src/manager.cpp
  planning/behavior_path_avoidance_module/config/avoidance.param.yaml
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/data_structs.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/helper.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/parameter_helper.hpp
  planning/behavior_path_avoidance_module/src/debug.cpp
  planning/behavior_path_avoidance_module/src/scene.cpp
  planning/behavior_path_avoidance_module/src/shift_line_generator.cpp
  planning/behavior_path_avoidance_module/src/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6615 fix(lane_change): consider max velocity during path planning
  planning/behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/parameters.hpp
Labels: component:planning, tag:run-build-and-test-differential

#6490 feat: add published_time publisher debug to packages
  common/tier4_autoware_utils/include/tier4_autoware_utils/ros/published_time_publisher.hpp
  control/trajectory_follower_node/include/trajectory_follower_node/controller_node.hpp
  control/trajectory_follower_node/package.xml
  control/trajectory_follower_node/src/controller_node.cpp
  control/vehicle_cmd_gate/package.xml
  control/vehicle_cmd_gate/src/vehicle_cmd_gate.cpp
  control/vehicle_cmd_gate/src/vehicle_cmd_gate.hpp
  perception/detected_object_feature_remover/include/detected_object_feature_remover/detected_object_feature_remover.hpp
  perception/detected_object_feature_remover/package.xml
  perception/detected_object_feature_remover/src/detected_object_feature_remover.cpp
  perception/detected_object_validation/include/detected_object_validation/detected_object_filter/object_lanelet_filter.hpp
  perception/detected_object_validation/include/detected_object_validation/detected_object_filter/object_position_filter.hpp
  perception/detected_object_validation/include/detected_object_validation/obstacle_pointcloud_based_validator/obstacle_pointcloud_based_validator.hpp
  perception/detected_object_validation/include/detected_object_validation/occupancy_grid_based_validator/occupancy_grid_based_validator.hpp
  perception/detected_object_validation/src/object_lanelet_filter.cpp
  perception/detected_object_validation/src/object_position_filter.cpp
  perception/detected_object_validation/src/obstacle_pointcloud_based_validator.cpp
  perception/detected_object_validation/src/occupancy_grid_based_validator.cpp
  perception/detection_by_tracker/include/detection_by_tracker/detection_by_tracker_core.hpp
  perception/detection_by_tracker/src/detection_by_tracker_core.cpp
  perception/lidar_centerpoint/include/lidar_centerpoint/node.hpp
  perception/lidar_centerpoint/src/node.cpp
  perception/map_based_prediction/include/map_based_prediction/map_based_prediction_node.hpp
  perception/map_based_prediction/src/map_based_prediction_node.cpp
  perception/multi_object_tracker/include/multi_object_tracker/multi_object_tracker_core.hpp
  perception/multi_object_tracker/src/multi_object_tracker_core.cpp
  perception/object_merger/include/object_merger/node.hpp
  perception/object_merger/src/object_association_merger/node.cpp
  perception/occupancy_grid_map_outlier_filter/include/occupancy_grid_map_outlier_filter/occupancy_grid_map_outlier_filter_nodelet.hpp
  perception/occupancy_grid_map_outlier_filter/src/occupancy_grid_map_outlier_filter_nodelet.cpp
  perception/shape_estimation/src/node.cpp
  perception/shape_estimation/src/node.hpp
  perception/tracking_object_merger/include/tracking_object_merger/decorative_tracker_merger.hpp
  perception/tracking_object_merger/src/decorative_tracker_merger.cpp
  planning/behavior_path_planner/include/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_velocity_planner/src/node.cpp
  planning/behavior_velocity_planner/src/node.hpp
  planning/motion_velocity_smoother/include/motion_velocity_smoother/motion_velocity_smoother_node.hpp
  planning/motion_velocity_smoother/src/motion_velocity_smoother_node.cpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/node.hpp
  planning/obstacle_avoidance_planner/src/node.cpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/node.hpp
  planning/obstacle_cruise_planner/src/node.cpp
  planning/obstacle_stop_planner/include/obstacle_stop_planner/node.hpp
  planning/obstacle_stop_planner/src/node.cpp
  planning/obstacle_velocity_limiter/include/obstacle_velocity_limiter/obstacle_velocity_limiter_node.hpp
  planning/obstacle_velocity_limiter/src/obstacle_velocity_limiter_node.cpp
  planning/path_smoother/include/path_smoother/elastic_band_smoother.hpp
  planning/path_smoother/src/elastic_band_smoother.cpp
  planning/planning_validator/include/planning_validator/planning_validator.hpp
  planning/planning_validator/src/planning_validator.cpp
  planning/scenario_selector/include/scenario_selector/scenario_selector_node.hpp
  planning/scenario_selector/package.xml
  planning/scenario_selector/src/scenario_selector_node/scenario_selector_node.cpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/filter.hpp
  sensing/pointcloud_preprocessor/src/filter.cpp
Labels: component:perception, component:sensing, component:planning, component:control, component:common, tag:run-build-and-test-differential

#6620 fix(ndt_scan_matcher): avoid passing nullptr in ndt
  localization/ndt_scan_matcher/src/map_update_module.cpp
Labels: component:localization, tag:run-build-and-test-differential

#6632 ci: add pr-agent
  .github/workflows/pr-agent.yaml
Labels: type:ci, tag:run-build-and-test-differential, tag:pr-agent

#6634 ci(pr-agent): don't run automatically
  .github/workflows/pr-agent.yaml
Labels: type:ci, tag:run-build-and-test-differential, tag:pr-agent

#6625 feat(behavior_path_planner_common): add general method for calculating turn signal for bpp modules
  planning/behavior_path_planner_common/docs/behavior_path_planner_turn_signal_design.md
  planning/behavior_path_planner_common/include/behavior_path_planner_common/data_manager.hpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/turn_signal_decider.hpp
  planning/behavior_path_planner_common/src/turn_signal_decider.cpp
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#6564 feat(start_planner): move collision check to plan method
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/freespace_pull_out.hpp
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/geometric_pull_out.hpp
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/pull_out_planner_base.hpp
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/shift_pull_out.hpp
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/util.hpp
  planning/behavior_path_start_planner_module/src/geometric_pull_out.cpp
  planning/behavior_path_start_planner_module/src/shift_pull_out.cpp
  planning/behavior_path_start_planner_module/src/start_planner_module.cpp
  planning/behavior_path_start_planner_module/src/util.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6610 feat(published_time_publisher): add unit test
  common/tier4_autoware_utils/test/src/ros/test_published_time_publisher.cpp
Labels: component:common, tag:run-build-and-test-differential, tag:pr-agent, Review effort [1-5]: 4

#6628 feat(start_planner): add general turn signal method to start planner
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/start_planner_module.hpp
  planning/behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6633 fix(route_handler): detect looped road shoulders in getShoulderLaneletSequence()
  planning/behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/route_handler/src/route_handler.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6586 feat(pointcloud_preprocessor): make concatenate node to publish pointclouds in sensor frame
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/concatenate_data/concatenate_and_time_sync_nodelet.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/time_synchronizer/time_synchronizer_nodelet.hpp
  sensing/pointcloud_preprocessor/src/concatenate_data/concatenate_and_time_sync_nodelet.cpp
  sensing/pointcloud_preprocessor/src/time_synchronizer/time_synchronizer_nodelet.cpp
Labels: component:sensing, tag:run-build-and-test-differential

#6641 fix(tier4_autoware_utils): fix build error (caused by `published_time_publisher.hpp`)
  common/tier4_autoware_utils/include/tier4_autoware_utils/ros/published_time_publisher.hpp
Labels: component:common, tag:run-build-and-test-differential

#6643 feat(start_planner): add a sanity check if the path is empty
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/pull_out_planner_base.hpp
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/util.hpp
  planning/behavior_path_start_planner_module/src/util.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6640 refactor(trajectory_follower_node): apply default param to the param file used for test
  control/mpc_lateral_controller/param/lateral_controller_defaults.param.yaml
  control/pid_longitudinal_controller/param/longitudinal_controller_defaults.param.yaml
  control/trajectory_follower_node/test/test_controller_node.cpp
  control/trajectory_follower_node/test/test_lateral_controller_node.cpp
  control/trajectory_follower_node/test/test_longitudinal_controller_node.cpp
Labels: component:control, tag:run-build-and-test-differential

#6627 feat(lane_change_module): add general method to get turn signal for LC module
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/scene.hpp
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/utils/base_class.hpp
  planning/behavior_path_lane_change_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6644 refactor(obstacle_cruise_planner): move slow down params to a clear location
  planning/obstacle_cruise_planner/config/obstacle_cruise_planner.param.yaml
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/common_structs.hpp
Labels: component:planning, tag:run-build-and-test-differential

#6647 ci(build-and-test-differential): bring back clang-tidy-differential job
  .github/workflows/build-and-test-differential.yaml
Labels: type:ci, tag:run-build-and-test-differential

#6624 fix(ar_tag_based_localizer): added 1 second wait to test
  localization/landmark_based_localizer/ar_tag_based_localizer/test/test.cpp
Labels: component:localization, tag:run-build-and-test-differential

#6651 fix(tier4_autoware_utils): clang-tidy errors for published_time_publisher
  common/tier4_autoware_utils/include/tier4_autoware_utils/ros/published_time_publisher.hpp
Labels: component:common, tag:run-build-and-test-differential

#6631 feat(avoidance): wait and see ambiguous stopped vehicle
  planning/behavior_path_avoidance_by_lane_change_module/src/manager.cpp
  planning/behavior_path_avoidance_module/config/avoidance.param.yaml
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/data_structs.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/helper.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/parameter_helper.hpp
  planning/behavior_path_avoidance_module/src/debug.cpp
  planning/behavior_path_avoidance_module/src/scene.cpp
  planning/behavior_path_avoidance_module/src/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6594 feat(dynamic_obstacle_stop): add option to ignore unavoidable collisions
  planning/behavior_velocity_dynamic_obstacle_stop_module/README.md
  planning/behavior_velocity_dynamic_obstacle_stop_module/config/dynamic_obstacle_stop.param.yaml
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/manager.cpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/object_filtering.cpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/scene_dynamic_obstacle_stop.cpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/types.hpp
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#6650 fix(behavior_velocity_run_out): construct predicted path up to max pr…
  planning/behavior_velocity_run_out_module/src/dynamic_obstacle.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6654 refactor(pointcloud_preprocessor): move roi_mode_map_ definition inside DualReturnOutlierFilterComponent class
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/outlier_filter/dual_return_outlier_filter_nodelet.hpp
Labels: component:sensing, tag:run-build-and-test-differential

#6355 fix(avoidance): don't slow down if avoidance is NOT definitely necessary during unsafe condition
  planning/behavior_path_avoidance_module/config/avoidance.param.yaml
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/data_structs.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/parameter_helper.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/scene.hpp
  planning/behavior_path_avoidance_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6630 fix(out_of_lane): use bigger stop lines to cut predicted paths
  planning/behavior_velocity_out_of_lane_module/src/filter_predicted_objects.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6666 feat: enable multithreading for the control container
  launch/tier4_control_launch/launch/control.launch.py
Labels: component:launch, tag:run-build-and-test-differential

#6669 feat(dynamic_obstacle_stop): set velocity factor to ROUTE_OBSTACLE
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/scene_dynamic_obstacle_stop.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6668 feat(out_of_lane): set velocity_factor to ROUTE_OBSTACLE
  planning/behavior_velocity_out_of_lane_module/src/scene_out_of_lane.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6670 feat(crosswalk): add velocity factor when slowing down
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6653 fix(motion_utils): check size after overlap points removal
  common/motion_utils/include/motion_utils/trajectory/trajectory.hpp
Labels: component:common, tag:run-build-and-test-differential

#6663 fix(probabilistic_occupancy_grid_map): fix launch config name from old one
  perception/probabilistic_occupancy_grid_map/launch/multi_lidar_pointcloud_based_occupancy_grid_map.launch.py
Labels: component:perception, tag:run-build-and-test-differential

#6679 fix(planning_validator): calculate max lateral acceleration after resampling trajectory
  planning/planning_validator/src/planning_validator.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6649 test(ndt_scan_matcher): added an unit test to ndt_scan_matcher
  localization/ndt_scan_matcher/CMakeLists.txt
  localization/ndt_scan_matcher/include/ndt_scan_matcher/ndt_scan_matcher_core.hpp
  localization/ndt_scan_matcher/src/map_update_module.cpp
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
  localization/ndt_scan_matcher/test/stub_initialpose_client.hpp
  localization/ndt_scan_matcher/test/stub_pcd_loader.hpp
  localization/ndt_scan_matcher/test/stub_sensor_pcd_publisher.hpp
  localization/ndt_scan_matcher/test/stub_trigger_node_client.hpp
  localization/ndt_scan_matcher/test/test_cases/once_initialize_at_out_of_map_then_initialize_correctly.cpp
  localization/ndt_scan_matcher/test/test_cases/standard_sequence_for_initial_pose_estimation.cpp
  localization/ndt_scan_matcher/test/test_fixture.hpp
  localization/ndt_scan_matcher/test/test_util.hpp
Labels: component:localization, tag:run-build-and-test-differential, tag:pr-agent, Review effort [1-5]: 4

#6685 chore(tier4_planning_launch): set log output both
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.xml
Labels: component:launch, tag:run-build-and-test-differential

#6600 fix(out_of_lane): calculate path lanelets that we can miss during a lane change
  planning/behavior_velocity_out_of_lane_module/src/lanelets_selection.cpp
  planning/behavior_velocity_out_of_lane_module/src/lanelets_selection.hpp
Labels: component:planning, tag:run-build-and-test-differential

#6629 feat(goal_planner): add general turnsignalinfo method for goal planner
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_goal_planner_module/src/goal_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6646 feat(goal_planner): add param reconfig to goal planner
  planning/behavior_path_goal_planner_module/src/manager.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6637 feat(AEB): add height filter for avoiding the ghost brake by false positive point clouds
  control/autonomous_emergency_braking/README.md
  control/autonomous_emergency_braking/config/autonomous_emergency_braking.param.yaml
  control/autonomous_emergency_braking/include/autonomous_emergency_braking/node.hpp
  control/autonomous_emergency_braking/src/node.cpp
Labels: type:documentation, component:control, tag:run-build-and-test-differential

#6665 fix(vehicle_cmd_gate): fix publisher HZ in the unit test by introducing variable window length
  control/vehicle_cmd_gate/test/src/test_filter_in_vehicle_cmd_gate_node.cpp
Labels: component:control, tag:run-build-and-test-differential

#5737 feat(default_ad_api): add door api
  common/autoware_ad_api_specs/include/autoware_ad_api_specs/vehicle.hpp
  common/component_interface_specs/include/component_interface_specs/vehicle.hpp
  common/tier4_adapi_rviz_plugin/CMakeLists.txt
  common/tier4_adapi_rviz_plugin/plugins/plugin_description.xml
  common/tier4_adapi_rviz_plugin/src/door_panel.cpp
  common/tier4_adapi_rviz_plugin/src/door_panel.hpp
  launch/tier4_simulator_launch/launch/simulator.launch.xml
  simulator/vehicle_door_simulator/CMakeLists.txt
  simulator/vehicle_door_simulator/README.md
  simulator/vehicle_door_simulator/launch/vehicle_door_simulator.launch.xml
  simulator/vehicle_door_simulator/package.xml
  simulator/vehicle_door_simulator/src/dummy_doors.cpp
  simulator/vehicle_door_simulator/src/dummy_doors.hpp
  system/default_ad_api/CMakeLists.txt
  system/default_ad_api/README.md
  system/default_ad_api/launch/default_ad_api.launch.py
  system/default_ad_api/src/vehicle_door.cpp
  system/default_ad_api/src/vehicle_door.hpp
Labels: type:documentation, component:system, component:launch, component:common, component:simulation, tag:run-build-and-test-differential

#6686 fix(lane_change): do not return empty path if no valid path
  planning/behavior_path_lane_change_module/src/interface.cpp
  planning/behavior_path_lane_change_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6662 fix(avoidance_by_lane_change): object filtering too conservative
  planning/behavior_path_avoidance_by_lane_change_module/include/behavior_path_avoidance_by_lane_change_module/scene.hpp
  planning/behavior_path_avoidance_by_lane_change_module/src/scene.cpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/data_structs.hpp
  planning/behavior_path_lane_change_module/src/interface.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6680 feat(behavior_velocity_run_out_module): exclude obstacle crossing ego back line
  planning/behavior_velocity_run_out_module/README.md
  planning/behavior_velocity_run_out_module/config/run_out.param.yaml
  planning/behavior_velocity_run_out_module/docs/ego_cut_line.svg
  planning/behavior_velocity_run_out_module/src/debug.cpp
  planning/behavior_velocity_run_out_module/src/debug.hpp
  planning/behavior_velocity_run_out_module/src/manager.cpp
  planning/behavior_velocity_run_out_module/src/scene.cpp
  planning/behavior_velocity_run_out_module/src/scene.hpp
  planning/behavior_velocity_run_out_module/src/utils.cpp
  planning/behavior_velocity_run_out_module/src/utils.hpp
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#6690 feat(run_out): add motorcyles to run out module target obstacles
  planning/behavior_velocity_run_out_module/README.md
  planning/behavior_velocity_run_out_module/config/run_out.param.yaml
  planning/behavior_velocity_run_out_module/package.xml
  planning/behavior_velocity_run_out_module/src/manager.cpp
  planning/behavior_velocity_run_out_module/src/scene.cpp
  planning/behavior_velocity_run_out_module/src/scene.hpp
  planning/behavior_velocity_run_out_module/src/utils.hpp
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#6655 refactor(start planner): refactor for clarity, readability and maybe performance
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/start_planner_module.hpp
  planning/behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6695 fix(goal_planner): stop path candidates update after arriving modified goal
  planning/behavior_path_goal_planner_module/src/goal_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6697 perf(static_centerline_optimizer): cleanup the package dependencies
  planning/static_centerline_optimizer/CMakeLists.txt
  planning/static_centerline_optimizer/package.xml
Labels: component:planning, tag:run-build-and-test-differential

#6696 fix(freespace_planner): fix parking trajectory errors and warnings when parking completed
  planning/freespace_planner/src/freespace_planner/freespace_planner_node.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6711 fix(dynamic_obstacle_stop,out_of_lane,crosswalk): update velocity factor
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/scene_dynamic_obstacle_stop.cpp
  planning/behavior_velocity_out_of_lane_module/src/scene_out_of_lane.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6645 chore(blockage_diag): add dust diagnostic option param
  sensing/pointcloud_preprocessor/config/blockage_diagnostics_param_file.yaml
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/blockage_diag/blockage_diag_nodelet.hpp
  sensing/pointcloud_preprocessor/src/blockage_diag/blockage_diag_nodelet.cpp
Labels: component:sensing, tag:run-build-and-test-differential

#6683 feat(dynamic_obstacle_stop): use a time buffer for each dynamic objects
  planning/behavior_velocity_dynamic_obstacle_stop_module/README.md
  planning/behavior_velocity_dynamic_obstacle_stop_module/config/dynamic_obstacle_stop.param.yaml
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/collision.cpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/collision.hpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/debug.cpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/debug.hpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/manager.cpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/object_stop_decision.cpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/object_stop_decision.hpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/scene_dynamic_obstacle_stop.cpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/scene_dynamic_obstacle_stop.hpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/types.hpp
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#6583 refactor(image_projection_based_fusion): rename template argument
  perception/image_projection_based_fusion/include/image_projection_based_fusion/fusion_node.hpp
  perception/image_projection_based_fusion/src/fusion_node.cpp
Labels: component:perception, tag:run-build-and-test-differential

#6648 docs(dynamic_avoidance): update doc
  planning/behavior_path_dynamic_avoidance_module/README.md
  planning/behavior_path_dynamic_avoidance_module/image/image-20230807-151945.png
  planning/behavior_path_dynamic_avoidance_module/image/image-20230807-152835.png
  planning/behavior_path_dynamic_avoidance_module/image/image-20230808-095936.png
  planning/behavior_path_dynamic_avoidance_module/image/image-20230808-152853.png
Labels: type:documentation, component:planning, tag:deploy-docs, tag:run-build-and-test-differential

#6604 feat(crosswalk): ignore occlusions in the presence of traffic lights
  planning/behavior_velocity_crosswalk_module/README.md
  planning/behavior_velocity_crosswalk_module/config/crosswalk.param.yaml
  planning/behavior_velocity_crosswalk_module/include/behavior_velocity_crosswalk_module/util.hpp
  planning/behavior_velocity_crosswalk_module/src/debug.cpp
  planning/behavior_velocity_crosswalk_module/src/manager.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#6714 fix(dynamic_obstacle_stop): fix run time error
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/scene_dynamic_obstacle_stop.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6486 docs(mpc_lateral_controller): modify mathjax visualization error
  control/mpc_lateral_controller/model_predictive_control_algorithm.md
Labels: type:documentation, component:control, tag:deploy-docs, tag:run-build-and-test-differential

#6716 refactor(dynamic_obstacle_stop): change log level for processing time
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/scene_dynamic_obstacle_stop.cpp
Labels: component:planning, tag:run-build-and-test-differential
