Repository autowarefoundation/autoware_universe, pull requests merged in 2024-01, with the labels that each got.

#5972 refactor(intersection): cleanup utility function
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_intersection_module/src/scene_merge_from_private_road.cpp
  planning/behavior_velocity_intersection_module/src/scene_merge_from_private_road.hpp
  planning/behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_intersection_module/src/util.hpp
  planning/behavior_velocity_intersection_module/src/util_type.hpp
Labels: component:planning, tag:run-build-and-test-differential

#6014 fix(static_drivable_area_expansion): fix drivable bound edge process
  planning/behavior_path_planner_common/src/utils/drivable_area_expansion/static_drivable_area.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6011 fix(obstacle_avoidance_planner): use update_bounds instead of update_lower/upper_bounds
  planning/obstacle_avoidance_planner/src/mpt_optimizer.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6010 chore(traffic_light_module): use RCLCPP_DEBUG for the debug printing
  planning/behavior_velocity_traffic_light_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5997 chore(map_height_fitter): set log level of debug printing to DEBUG
  map/map_height_fitter/src/map_height_fitter.cpp
Labels: component:map, tag:run-build-and-test-differential

#5996 chore: set log level of debug printing in rviz plugin to DEBUG
  common/tier4_api_utils/include/tier4_api_utils/rclcpp/client.hpp
  common/tier4_control_rviz_plugin/src/tools/manual_controller.cpp
  common/tier4_state_rviz_plugin/src/autoware_state_panel.hpp
Labels: component:common, tag:run-build-and-test-differential

#5995 chore(component_interface_utils): set log level of debug printing to DEBUG
  common/component_interface_utils/include/component_interface_utils/rclcpp/interface.hpp
Labels: component:common, tag:run-build-and-test-differential

#5953 feat(dynamic_avoidance): apply ego's lateral acc/jerk constraints to object polygon
  planning/behavior_path_planner/config/dynamic_avoidance/dynamic_avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/dynamic_avoidance/dynamic_avoidance_module.hpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/dynamic_avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/manager.cpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/marker_utils/utils.hpp
  planning/behavior_path_planner_common/src/marker_utils/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6020 fix(motion_utils): fix the right bound assignment in resamplePath
  common/motion_utils/src/resample/resample.cpp
Labels: component:common, tag:run-build-and-test-differential

#6021 feat(motion_utils, etc): add header argument in convertToTrajectory
  common/motion_utils/include/motion_utils/trajectory/conversion.hpp
  common/motion_utils/src/trajectory/conversion.cpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/utils/trajectory_utils.hpp
  planning/obstacle_avoidance_planner/src/mpt_optimizer.cpp
  planning/obstacle_avoidance_planner/src/node.cpp
  planning/obstacle_avoidance_planner/src/utils/trajectory_utils.cpp
  planning/obstacle_cruise_planner/src/node.cpp
  planning/path_smoother/include/path_smoother/utils/trajectory_utils.hpp
  planning/path_smoother/src/elastic_band.cpp
  planning/path_smoother/src/elastic_band_smoother.cpp
  planning/path_smoother/src/utils/trajectory_utils.cpp
  planning/planning_topic_converter/src/path_to_trajectory.cpp
  planning/sampling_based_planner/path_sampler/include/path_sampler/utils/trajectory_utils.hpp
  planning/sampling_based_planner/path_sampler/src/node.cpp
  planning/sampling_based_planner/path_sampler/src/utils/trajectory_utils.cpp
Labels: component:planning, component:common, tag:run-build-and-test-differential

#6024 chore(mission_planner): use RCLCPP_DEBUG for debug printing
  planning/mission_planner/src/lanelet2_plugins/default_planner.cpp
  planning/mission_planner/src/mission_planner/mission_planner.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5986 chore(autoware_auto_perception_rviz_plugin): add existence probability for rviz
  common/autoware_auto_perception_rviz_plugin/include/object_detection/object_polygon_detail.hpp
  common/autoware_auto_perception_rviz_plugin/include/object_detection/object_polygon_display_base.hpp
  common/autoware_auto_perception_rviz_plugin/src/object_detection/detected_objects_display.cpp
  common/autoware_auto_perception_rviz_plugin/src/object_detection/object_polygon_detail.cpp
  common/autoware_auto_perception_rviz_plugin/src/object_detection/predicted_objects_display.cpp
  common/autoware_auto_perception_rviz_plugin/src/object_detection/tracked_objects_display.cpp
Labels: component:common, tag:run-build-and-test-differential

#6025 build(multi_object_tracker): add missing diagnostic_updater dependency
  perception/multi_object_tracker/package.xml
Labels: component:perception, tag:run-build-and-test-differential

#6008 refactor(ndt_scan_matcher): removed tf2_listener_module
  localization/localization_util/CMakeLists.txt
  localization/localization_util/include/localization_util/tf2_listener_module.hpp
  localization/localization_util/src/tf2_listener_module.cpp
  localization/ndt_scan_matcher/include/ndt_scan_matcher/map_update_module.hpp
  localization/ndt_scan_matcher/include/ndt_scan_matcher/ndt_scan_matcher_core.hpp
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
Labels: component:localization, tag:run-build-and-test-differential

#5834 docs(ekf_localizer): improve readme and explain confusing process
  localization/ekf_localizer/README.md
  localization/ekf_localizer/src/ekf_module.cpp
Labels: type:documentation, component:localization, tag:run-build-and-test-differential

#5993 feat(probabilistic_occupancy_grid_map): add grid map fusion node
  launch/tier4_perception_launch/launch/occupancy_grid_map/probabilistic_occupancy_grid_map.launch.xml
  perception/probabilistic_occupancy_grid_map/CMakeLists.txt
  perception/probabilistic_occupancy_grid_map/README.md
  perception/probabilistic_occupancy_grid_map/config/synchronized_grid_map_fusion_node.param.yaml
  perception/probabilistic_occupancy_grid_map/image/synchronized_grid_map_fusion.drawio.svg
  perception/probabilistic_occupancy_grid_map/include/cost_value.hpp
  perception/probabilistic_occupancy_grid_map/include/fusion/single_frame_fusion_policy.hpp
  perception/probabilistic_occupancy_grid_map/include/fusion/synchronized_grid_map_fusion_node.hpp
  perception/probabilistic_occupancy_grid_map/include/updater/occupancy_grid_map_log_odds_bayes_filter_updater.hpp
  perception/probabilistic_occupancy_grid_map/include/utils/utils.hpp
  perception/probabilistic_occupancy_grid_map/launch/synchronized_occupancy_grid_map_fusion.launch.xml
  perception/probabilistic_occupancy_grid_map/src/fusion/single_frame_fusion_policy.cpp
  perception/probabilistic_occupancy_grid_map/src/fusion/synchronized_grid_map_fusion_node.cpp
  perception/probabilistic_occupancy_grid_map/src/updater/occupancy_grid_map_log_odds_bayes_filter_updater.cpp
  perception/probabilistic_occupancy_grid_map/src/utils/utils.cpp
  perception/probabilistic_occupancy_grid_map/synchronized_grid_map_fusion.md
  perception/probabilistic_occupancy_grid_map/test/cost_value_test.cpp
  perception/probabilistic_occupancy_grid_map/test/fusion_policy_test.cpp
  perception/probabilistic_occupancy_grid_map/test/test_synchronized_grid_map_fusion_node.py
Labels: type:documentation, component:perception, component:launch, tag:run-build-and-test-differential

#5873 refactor(ndt_scan_matcher, map_loader): remove map_module
  localization/ndt_scan_matcher/CMakeLists.txt
  localization/ndt_scan_matcher/README.md
  localization/ndt_scan_matcher/config/ndt_scan_matcher.param.yaml
  localization/ndt_scan_matcher/include/ndt_scan_matcher/map_module.hpp
  localization/ndt_scan_matcher/include/ndt_scan_matcher/ndt_scan_matcher_core.hpp
  localization/ndt_scan_matcher/launch/ndt_scan_matcher.launch.xml
  localization/ndt_scan_matcher/src/map_module.cpp
  localization/ndt_scan_matcher/src/map_update_module.cpp
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
  map/map_loader/README.md
  map/map_loader/config/pointcloud_map_loader.param.yaml
  map/map_loader/src/pointcloud_map_loader/pointcloud_map_loader_node.cpp
Labels: type:documentation, component:localization, component:map, tag:run-build-and-test-differential

#6023 refactor(behavior_velocity_planner): output path's interval can be designated by yaml
  planning/behavior_velocity_planner/config/behavior_velocity_planner.param.yaml
  planning/behavior_velocity_planner/src/node.cpp
  planning/behavior_velocity_planner/src/node.hpp
  planning/behavior_velocity_planner_common/include/behavior_velocity_planner_common/utilization/path_utilization.hpp
Labels: component:planning, tag:run-build-and-test-differential

#6013 fix(avoidance, lane_change): modules handle unknown traffic signal in the same way as red signal
  common/traffic_light_utils/include/traffic_light_utils/traffic_light_utils.hpp
  common/traffic_light_utils/package.xml
  common/traffic_light_utils/src/traffic_light_utils.cpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/traffic_light_utils.hpp
  planning/behavior_path_planner_common/package.xml
  planning/behavior_path_planner_common/src/utils/traffic_light_utils.cpp
  planning/behavior_velocity_traffic_light_module/package.xml
  planning/behavior_velocity_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_traffic_light_module/src/scene.hpp
Labels: component:planning, component:common, tag:run-build-and-test-differential

#6015 fix(crosswalk): stopping besides the stop line
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5919 fix(autoware_auto_common): move headers to a separate directory
  common/autoware_auto_common/design/comparisons.md
  common/autoware_auto_common/include/autoware_auto_common/common/type_traits.hpp
  common/autoware_auto_common/include/autoware_auto_common/common/types.hpp
  common/autoware_auto_common/include/autoware_auto_common/common/visibility_control.hpp
  common/autoware_auto_common/include/autoware_auto_common/helper_functions/angle_utils.hpp
  common/autoware_auto_common/include/autoware_auto_common/helper_functions/bool_comparisons.hpp
  common/autoware_auto_common/include/autoware_auto_common/helper_functions/byte_reader.hpp
  common/autoware_auto_common/include/autoware_auto_common/helper_functions/crtp.hpp
  common/autoware_auto_common/include/autoware_auto_common/helper_functions/float_comparisons.hpp
  common/autoware_auto_common/include/autoware_auto_common/helper_functions/mahalanobis_distance.hpp
  common/autoware_auto_common/include/autoware_auto_common/helper_functions/message_adapters.hpp
  common/autoware_auto_common/include/autoware_auto_common/helper_functions/template_utils.hpp
  common/autoware_auto_common/include/autoware_auto_common/helper_functions/type_name.hpp
  common/autoware_auto_common/test/test_angle_utils.cpp
  common/autoware_auto_common/test/test_bool_comparisons.cpp
  common/autoware_auto_common/test/test_byte_reader.cpp
  common/autoware_auto_common/test/test_float_comparisons.cpp
  common/autoware_auto_common/test/test_mahalanobis_distance.cpp
  common/autoware_auto_common/test/test_message_field_adapters.cpp
  common/autoware_auto_common/test/test_template_utils.cpp
  common/autoware_auto_common/test/test_type_name.cpp
  common/autoware_auto_common/test/test_type_traits.cpp
  common/autoware_auto_geometry/include/autoware_auto_geometry/common_2d.hpp
  common/autoware_auto_geometry/include/autoware_auto_geometry/convex_hull.hpp
  common/autoware_auto_geometry/include/autoware_auto_geometry/hull_pockets.hpp
  common/autoware_auto_geometry/include/autoware_auto_geometry/interval.hpp
  common/autoware_auto_geometry/include/autoware_auto_geometry/lookup_table.hpp
  common/autoware_auto_geometry/include/autoware_auto_geometry/spatial_hash.hpp
  common/autoware_auto_geometry/include/autoware_auto_geometry/spatial_hash_config.hpp
  common/autoware_auto_geometry/test/src/lookup_table.cpp
  common/autoware_auto_perception_rviz_plugin/include/object_detection/object_polygon_display_base.hpp
  common/autoware_auto_perception_rviz_plugin/src/common/color_alpha_property.cpp
  common/autoware_auto_tf2/include/autoware_auto_tf2/tf2_autoware_auto_msgs.hpp
  common/fake_test_node/test/test_fake_test_node.cpp
  planning/sampling_based_planner/frenet_planner/src/frenet_planner/frenet_planner.cpp
  simulator/simple_planning_simulator/include/simple_planning_simulator/vehicle_model/sim_model_delay_steer_map_acc_geared.hpp
Labels: type:documentation, component:planning, component:common, component:simulation, tag:run-build-and-test-differential

#6009 feat(map_based_prediction): cope with consecutive crosswalks
  perception/map_based_prediction/src/map_based_prediction_node.cpp
Labels: component:perception, tag:run-build-and-test-differential

#5992 refactor(map_projection_loader): make important part a library
  map/map_projection_loader/include/map_projection_loader/map_projection_loader.hpp
  map/map_projection_loader/src/map_projection_loader.cpp
Labels: component:map, tag:run-build-and-test-differential

#6030 fix((merge_from_private): fixed first attention lanelet calculation
  planning/behavior_velocity_intersection_module/src/scene_merge_from_private_road.cpp
  planning/behavior_velocity_intersection_module/src/scene_merge_from_private_road.hpp
Labels: component:planning, tag:run-build-and-test-differential

#5562 feat(image_projection_based_fusion): add image segmentation_pointcloud_fusion for pointcloud filter
  perception/image_projection_based_fusion/CMakeLists.txt
  perception/image_projection_based_fusion/config/segmentation_pointcloud_fusion.param.yaml
  perception/image_projection_based_fusion/docs/segmentation-pointcloud-fusion.md
  perception/image_projection_based_fusion/include/image_projection_based_fusion/fusion_node.hpp
  perception/image_projection_based_fusion/include/image_projection_based_fusion/pointpainting_fusion/node.hpp
  perception/image_projection_based_fusion/include/image_projection_based_fusion/roi_cluster_fusion/node.hpp
  perception/image_projection_based_fusion/include/image_projection_based_fusion/roi_detected_object_fusion/node.hpp
  perception/image_projection_based_fusion/include/image_projection_based_fusion/roi_pointcloud_fusion/node.hpp
  perception/image_projection_based_fusion/include/image_projection_based_fusion/segmentation_pointcloud_fusion/node.hpp
  perception/image_projection_based_fusion/launch/segmentation_pointcloud_fusion.launch.xml
  perception/image_projection_based_fusion/src/fusion_node.cpp
  perception/image_projection_based_fusion/src/pointpainting_fusion/node.cpp
  perception/image_projection_based_fusion/src/roi_cluster_fusion/node.cpp
  perception/image_projection_based_fusion/src/roi_detected_object_fusion/node.cpp
  perception/image_projection_based_fusion/src/roi_pointcloud_fusion/node.cpp
  perception/image_projection_based_fusion/src/segmentation_pointcloud_fusion/node.cpp
Labels: type:documentation, component:perception, tag:deploy-docs, tag:run-build-and-test-differential

#6003 docs(start_planner): update explanation about start pose candidate's priority
  planning/behavior_path_start_planner_module/README.md
  planning/behavior_path_start_planner_module/images/priority_order.drawio.svg
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#5835 feat(behavior_velocity_planner): add new 'dynamic_obstacle_stop' module
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.xml
  planning/behavior_velocity_dynamic_obstacle_stop_module/CMakeLists.txt
  planning/behavior_velocity_dynamic_obstacle_stop_module/README.md
  planning/behavior_velocity_dynamic_obstacle_stop_module/config/dynamic_obstacle_stop.param.yaml
  planning/behavior_velocity_dynamic_obstacle_stop_module/docs/DynamicObstacleStop-Collision.drawio.svg
  planning/behavior_velocity_dynamic_obstacle_stop_module/docs/DynamicObstacleStop-Filtering.drawio.svg
  planning/behavior_velocity_dynamic_obstacle_stop_module/docs/DynamicObstacleStop-ImmediatePaths.drawio.svg
  planning/behavior_velocity_dynamic_obstacle_stop_module/docs/DynamicObstacleStop-StopPoint.drawio.svg
  planning/behavior_velocity_dynamic_obstacle_stop_module/docs/dynamic_obstacle_stop_rviz.png
  planning/behavior_velocity_dynamic_obstacle_stop_module/package.xml
  planning/behavior_velocity_dynamic_obstacle_stop_module/plugins.xml
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/collision.cpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/collision.hpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/debug.cpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/debug.hpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/footprint.cpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/footprint.hpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/manager.cpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/manager.hpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/object_filtering.cpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/object_filtering.hpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/scene_dynamic_obstacle_stop.cpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/scene_dynamic_obstacle_stop.hpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/types.hpp
  planning/behavior_velocity_planner/launch/behavior_velocity_planner.launch.xml
Labels: type:documentation, component:planning, component:launch, tag:deploy-docs, tag:run-build-and-test-differential

#6028 fix(map_loader): show traffic light regulatory element id per lanelet
  map/map_loader/src/lanelet2_map_loader/lanelet2_map_visualization_node.cpp
Labels: component:map, tag:run-build-and-test-differential

#5998 fix(start_planner): don't update start pose when backward driving is finished
  planning/behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6002 docs(start_planner): update Purpose / Role of the document
  planning/behavior_path_start_planner_module/README.md
  planning/behavior_path_start_planner_module/images/start_from_road_lane.drawio.svg
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#5909 refactor(motion_utils): clear the repeat definitions and correct the dependencies
  common/interpolation/include/interpolation/spherical_linear_interpolation.hpp
  common/interpolation/src/spherical_linear_interpolation.cpp
  common/motion_utils/include/motion_utils/trajectory/conversion.hpp
  control/pid_longitudinal_controller/include/pid_longitudinal_controller/longitudinal_controller_utils.hpp
  control/pid_longitudinal_controller/src/longitudinal_controller_utils.cpp
  control/pid_longitudinal_controller/test/test_longitudinal_controller_utils.cpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/path_utils.hpp
  planning/behavior_path_planner_common/src/utils/path_utils.cpp
  planning/behavior_velocity_planner_common/include/behavior_velocity_planner_common/utilization/trajectory_utils.hpp
  planning/behavior_velocity_planner_common/src/utilization/trajectory_utils.cpp
  planning/planning_test_utils/include/planning_test_utils/planning_interface_test_manager_utils.hpp
  planning/planning_test_utils/package.xml
  planning/planning_test_utils/src/planning_interface_test_manager.cpp
Labels: component:planning, component:control, component:common, tag:run-build-and-test-differential

#6006 fix(static_drivable_area_expansion): fix bound extraction logic
  planning/behavior_path_planner_common/src/utils/drivable_area_expansion/static_drivable_area.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6016 feat(avoidance): check traffic light info in order to limit drivable area
  planning/behavior_path_avoidance_by_lane_change_module/src/scene.cpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/utils.hpp
  planning/behavior_path_avoidance_module/src/scene.cpp
  planning/behavior_path_avoidance_module/src/utils.cpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/traffic_light_utils.hpp
  planning/behavior_path_planner_common/src/utils/traffic_light_utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6017 fix(avoidance): return shift path was not generated expectedly
  planning/behavior_path_avoidance_module/src/scene.cpp
  planning/behavior_path_avoidance_module/src/shift_line_generator.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6041 refactor(ndt_scan_matcher): fixed ndt_scan_matcher.launch.xml
  launch/tier4_localization_launch/launch/pose_twist_estimator/ndt_scan_matcher.launch.xml
  localization/ndt_scan_matcher/launch/ndt_scan_matcher.launch.xml
Labels: component:localization, component:launch, tag:run-build-and-test-differential

#6036 feat(behavior_velocity): add the option to keep the last valid observation
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_planner/src/node.cpp
  planning/behavior_velocity_planner_common/include/behavior_velocity_planner_common/planner_data.hpp
  planning/behavior_velocity_traffic_light_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6042 feat(intersection): distinguish 1st/2nd attention lanelet
  planning/behavior_velocity_intersection_module/src/debug.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
Labels: component:planning, tag:run-build-and-test-differential

#6037 fix(motion_velocity_smoother): make stopping_distance and stopping_velocity be able to work
  planning/motion_velocity_smoother/src/motion_velocity_smoother_node.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6040 refactor(tier4_planning_launch): remove duplicate arguments in launchfile
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.xml
Labels: component:launch, tag:run-build-and-test-differential

#6034 fix(lane_change): check able to return to original lane in abort
  planning/behavior_path_lane_change_module/src/interface.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5983 feat(start_planner): keep distance against front objects
  planning/behavior_path_start_planner_module/README.md
  planning/behavior_path_start_planner_module/config/start_planner.param.yaml
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/start_planner_module.hpp
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/start_planner_parameters.hpp
  planning/behavior_path_start_planner_module/src/manager.cpp
  planning/behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#6004 feat(ekf_localizer): tf publisher as an option
  localization/ekf_localizer/README.md
  localization/ekf_localizer/config/ekf_localizer.param.yaml
  localization/ekf_localizer/include/ekf_localizer/hyper_parameters.hpp
  localization/ekf_localizer/src/ekf_localizer.cpp
Labels: type:documentation, component:localization, tag:run-build-and-test-differential

#6049 refactor(behavior_path_planner): remove create_vehicle_footprint.hpp
  planning/behavior_path_avoidance_module/src/utils.cpp
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/pull_over_planner_base.hpp
  planning/behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/create_vehicle_footprint.hpp
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/pull_out_planner_base.hpp
  planning/behavior_path_start_planner_module/src/start_planner_module.cpp
  planning/behavior_path_start_planner_module/src/util.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5994 feat(start_planner): define collision check margin as list
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/parking_departure/common_module_data.hpp
  planning/behavior_path_start_planner_module/README.md
  planning/behavior_path_start_planner_module/config/start_planner.param.yaml
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/start_planner_module.hpp
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/start_planner_parameters.hpp
  planning/behavior_path_start_planner_module/src/manager.cpp
  planning/behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#6039 fix(map_based_prediction): yaw rate can be overwritten by max function
  perception/map_based_prediction/include/map_based_prediction/map_based_prediction_node.hpp
  perception/map_based_prediction/src/map_based_prediction_node.cpp
  perception/map_based_prediction/src/path_generator.cpp
Labels: component:perception, tag:run-build-and-test-differential

#6050 fix(intersection): fix bugs
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6053 feat(mission_planner): check shoulder lanelets for check_goal_footprint
  planning/mission_planner/src/lanelet2_plugins/default_planner.cpp
  planning/mission_planner/src/lanelet2_plugins/utility_functions.cpp
  planning/mission_planner/src/lanelet2_plugins/utility_functions.hpp
Labels: component:planning, tag:run-build-and-test-differential

#6033 feat(crosswalk): change the TTC formula
  planning/behavior_velocity_crosswalk_module/config/crosswalk.param.yaml
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5330 refactor(shape_estimation): rework parameters
  perception/shape_estimation/CMakeLists.txt
  perception/shape_estimation/README.md
  perception/shape_estimation/config/shape_estimation.param.yaml
  perception/shape_estimation/launch/shape_estimation.launch.xml
  perception/shape_estimation/schema/shape_estimation.schema.json
  perception/shape_estimation/src/node.cpp
Labels: type:documentation, component:perception, tag:run-build-and-test-differential

#6063 feat(landmark_manager): add get_landmarrks func
  localization/landmark_based_localizer/landmark_manager/include/landmark_manager/landmark_manager.hpp
  localization/landmark_based_localizer/landmark_manager/src/landmark_manager.cpp
Labels: component:localization, tag:run-build-and-test-differential

#6035 feat(perception_rviz_plugin): visualize object heading direction on 3d bounding box
  common/autoware_auto_perception_rviz_plugin/include/object_detection/object_polygon_detail.hpp
  common/autoware_auto_perception_rviz_plugin/include/object_detection/object_polygon_display_base.hpp
  common/autoware_auto_perception_rviz_plugin/src/object_detection/detected_objects_display.cpp
  common/autoware_auto_perception_rviz_plugin/src/object_detection/object_polygon_detail.cpp
  common/autoware_auto_perception_rviz_plugin/src/object_detection/predicted_objects_display.cpp
  common/autoware_auto_perception_rviz_plugin/src/object_detection/tracked_objects_display.cpp
Labels: component:common, tag:run-build-and-test-differential

#5990 feat(geography_utils): add mgrs code in projector
  common/geography_utils/src/lanelet2_projector.cpp
Labels: component:common, tag:run-build-and-test-differential

#5576 feat(mpc): calculate mpc predicted trajectory in the world coordinate to improve accuracy
  control/mpc_lateral_controller/include/mpc_lateral_controller/mpc.hpp
  control/mpc_lateral_controller/include/mpc_lateral_controller/mpc_lateral_controller.hpp
  control/mpc_lateral_controller/include/mpc_lateral_controller/mpc_trajectory.hpp
  control/mpc_lateral_controller/include/mpc_lateral_controller/mpc_utils.hpp
  control/mpc_lateral_controller/include/mpc_lateral_controller/vehicle_model/vehicle_model_bicycle_dynamics.hpp
  control/mpc_lateral_controller/include/mpc_lateral_controller/vehicle_model/vehicle_model_bicycle_kinematics.hpp
  control/mpc_lateral_controller/include/mpc_lateral_controller/vehicle_model/vehicle_model_bicycle_kinematics_no_delay.hpp
  control/mpc_lateral_controller/include/mpc_lateral_controller/vehicle_model/vehicle_model_interface.hpp
  control/mpc_lateral_controller/param/lateral_controller_defaults.param.yaml
  control/mpc_lateral_controller/src/mpc.cpp
  control/mpc_lateral_controller/src/mpc_lateral_controller.cpp
  control/mpc_lateral_controller/src/mpc_trajectory.cpp
  control/mpc_lateral_controller/src/mpc_utils.cpp
  control/mpc_lateral_controller/src/vehicle_model/vehicle_model_bicycle_dynamics.cpp
  control/mpc_lateral_controller/src/vehicle_model/vehicle_model_bicycle_kinematics.cpp
  control/mpc_lateral_controller/src/vehicle_model/vehicle_model_bicycle_kinematics_no_delay.cpp
  control/mpc_lateral_controller/src/vehicle_model/vehicle_model_interface.cpp
  control/mpc_lateral_controller/test/test_mpc.cpp
  control/trajectory_follower_node/param/lateral/mpc.param.yaml
Labels: component:control, tag:run-build-and-test-differential, tag:openai-pr-reviewer

#6054 perf(bpp): reduce computational cost
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/data_structs.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/scene.hpp
  planning/behavior_path_avoidance_module/src/debug.cpp
  planning/behavior_path_avoidance_module/src/scene.cpp
  planning/behavior_path_avoidance_module/src/utils.cpp
  planning/behavior_path_planner_common/src/turn_signal_decider.cpp
  planning/behavior_path_planner_common/src/utils/drivable_area_expansion/static_drivable_area.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6075 fix(image_projection_based_fusion): re-organize the parameters for image projection fusion
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_radar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detection.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
Labels: component:launch, tag:run-build-and-test-differential

#6066 fix(ekf_localizer): fixed timer in ekf_localizer
  localization/ekf_localizer/include/ekf_localizer/ekf_localizer.hpp
  localization/ekf_localizer/src/ekf_localizer.cpp
Labels: component:localization, tag:run-build-and-test-differential

#6077 feat(goal_planner): output objects of interest
  planning/behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner_common/src/utils/path_safety_checker/safety_check.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6078 feat(start_planner): output objects of interest
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/start_planner_module.hpp
  planning/behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6074 feat(perception_rviz_plugin): rviz object covariances
  common/autoware_auto_perception_rviz_plugin/include/autoware_auto_perception_rviz_plugin/object_detection/object_polygon_detail.hpp
  common/autoware_auto_perception_rviz_plugin/include/autoware_auto_perception_rviz_plugin/object_detection/object_polygon_display_base.hpp
  common/autoware_auto_perception_rviz_plugin/src/object_detection/detected_objects_display.cpp
  common/autoware_auto_perception_rviz_plugin/src/object_detection/object_polygon_detail.cpp
  common/autoware_auto_perception_rviz_plugin/src/object_detection/predicted_objects_display.cpp
  common/autoware_auto_perception_rviz_plugin/src/object_detection/tracked_objects_display.cpp
Labels: component:common, tag:run-build-and-test-differential

#6071 feat(static_centerline_optimizer): get behavior_velocity_planner's path interval from yaml
  planning/static_centerline_optimizer/launch/static_centerline_optimizer.launch.xml
  planning/static_centerline_optimizer/package.xml
  planning/static_centerline_optimizer/src/static_centerline_optimizer_node.cpp
  planning/static_centerline_optimizer/test/test_static_centerline_optimizer.test.py
Labels: component:planning, tag:run-build-and-test-differential

#6068 feat(goal_planner): add scale buffer to calcModuleRequestLength
  planning/behavior_path_goal_planner_module/src/goal_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6084 feat(avoidance): improve object detection area in order not to prevent endless loop
  planning/behavior_path_avoidance_by_lane_change_module/src/scene.cpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/utils.hpp
  planning/behavior_path_avoidance_module/src/scene.cpp
  planning/behavior_path_avoidance_module/src/shift_line_generator.cpp
  planning/behavior_path_avoidance_module/src/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6065 feat(ndt_scan_matcher): change coordinate of output_pose_covariance
  localization/ndt_scan_matcher/include/ndt_scan_matcher/ndt_scan_matcher_core.hpp
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
Labels: component:localization, tag:run-build-and-test-differential

#5979 feat(avoidance/goal_planner): execute avoidance and pull over simultaneously
  planning/behavior_path_avoidance_module/README.md
  planning/behavior_path_avoidance_module/config/avoidance.param.yaml
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/data_structs.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/parameter_helper.hpp
  planning/behavior_path_avoidance_module/src/shift_line_generator.cpp
  planning/behavior_path_avoidance_module/src/utils.cpp
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/pull_over_planner_base.hpp
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/shift_pull_over.hpp
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/util.hpp
  planning/behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_goal_planner_module/src/manager.cpp
  planning/behavior_path_goal_planner_module/src/shift_pull_over.cpp
  planning/behavior_path_goal_planner_module/src/util.cpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/utils.hpp
  planning/behavior_path_planner_common/src/utils/utils.cpp
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#6076 feat(yabloc): add yabloc trigger service to suspend and restart the estimation
  localization/yabloc/yabloc_image_processing/launch/image_processing.launch.xml
  localization/yabloc/yabloc_particle_filter/README.md
  localization/yabloc/yabloc_particle_filter/include/yabloc_particle_filter/prediction/predictor.hpp
  localization/yabloc/yabloc_particle_filter/launch/yabloc_particle_filter.launch.xml
  localization/yabloc/yabloc_particle_filter/src/prediction/predictor.cpp
Labels: type:documentation, component:localization, tag:run-build-and-test-differential

#6095 feat(goal_planner): exclude goals located laterally in no_parking_areas
  planning/behavior_path_goal_planner_module/src/goal_searcher.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6096 chore(mission_planner): add logs for reroute safety check
  planning/mission_planner/src/mission_planner/mission_planner.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6090 fix(AbLC, lane_change): fix module name inconsistency
  planning/behavior_path_avoidance_by_lane_change_module/config/avoidance_by_lane_change.param.yaml
  planning/behavior_path_avoidance_by_lane_change_module/include/behavior_path_avoidance_by_lane_change_module/manager.hpp
  planning/behavior_path_avoidance_by_lane_change_module/src/manager.cpp
  planning/behavior_path_avoidance_by_lane_change_module/test/test_behavior_path_planner_node_interface.cpp
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/manager.hpp
  planning/behavior_path_lane_change_module/src/manager.cpp
  planning/behavior_path_planner/config/scene_module_manager.param.yaml
  planning/behavior_path_planner/src/planner_manager.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6097 fix(avoidance): fix detection area issue in avoidance module
  planning/behavior_path_avoidance_module/src/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6085 chore: add localization & mapping maintainers
  launch/tier4_localization_launch/package.xml
  localization/ekf_localizer/package.xml
  localization/geo_pose_projector/package.xml
  localization/gyro_odometer/package.xml
  localization/landmark_based_localizer/ar_tag_based_localizer/package.xml
  localization/landmark_based_localizer/landmark_manager/package.xml
  localization/localization_error_monitor/package.xml
  localization/localization_util/package.xml
  localization/ndt_scan_matcher/package.xml
  localization/pose2twist/package.xml
  localization/pose_initializer/package.xml
  localization/pose_instability_detector/package.xml
  localization/stop_filter/package.xml
  localization/tree_structured_parzen_estimator/package.xml
  localization/twist2accel/package.xml
  localization/yabloc/yabloc_common/package.xml
  localization/yabloc/yabloc_image_processing/package.xml
  localization/yabloc/yabloc_monitor/package.xml
  localization/yabloc/yabloc_particle_filter/package.xml
  localization/yabloc/yabloc_pose_initializer/package.xml
  map/map_height_fitter/package.xml
  map/map_loader/package.xml
  map/map_projection_loader/package.xml
  map/map_tf_generator/package.xml
Labels: component:localization, component:map, component:launch, tag:run-build-and-test-differential

#6057 feat(obstacle_cruise_planner): add calculation of obstacle distance to ego
  planning/obstacle_cruise_planner/src/planner_interface.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6098 fix: rename `score_threshold` into `score_thresh` in config
  perception/tensorrt_yolo/config/yolov3.param.yaml
  perception/tensorrt_yolo/config/yolov4-tiny.param.yaml
  perception/tensorrt_yolo/config/yolov4.param.yaml
  perception/tensorrt_yolo/config/yolov5l.param.yaml
  perception/tensorrt_yolo/config/yolov5m.param.yaml
  perception/tensorrt_yolo/config/yolov5s.param.yaml
  perception/tensorrt_yolo/config/yolov5x.param.yaml
Labels: component:perception, tag:run-build-and-test-differential

#6086 chore: update api package maintainers
  common/autoware_ad_api_specs/package.xml
  common/component_interface_specs/package.xml
  common/component_interface_tools/package.xml
  common/component_interface_utils/package.xml
  common/path_distance_calculator/package.xml
  common/tier4_api_utils/package.xml
  common/tier4_datetime_rviz_plugin/package.xml
  common/tier4_localization_rviz_plugin/package.xml
  launch/tier4_autoware_api_launch/package.xml
  system/component_state_monitor/package.xml
  system/default_ad_api/package.xml
  system/default_ad_api_helpers/ad_api_adaptors/package.xml
  system/default_ad_api_helpers/ad_api_visualizers/package.xml
  system/default_ad_api_helpers/automatic_pose_initializer/package.xml
Labels: component:system, component:launch, component:common, tag:run-build-and-test-differential

#6100 feat(rviz_plugin): add string visualization plugin
  common/tier4_debug_rviz_plugin/CMakeLists.txt
  common/tier4_debug_rviz_plugin/icons/classes/StringStampedOverlayDisplay.png
  common/tier4_debug_rviz_plugin/include/tier4_debug_rviz_plugin/string_stamped.hpp
  common/tier4_debug_rviz_plugin/plugins/plugin_description.xml
  common/tier4_debug_rviz_plugin/src/string_stamped.cpp
Labels: type:documentation, component:common, tag:run-build-and-test-differential

#6099 feat(behavior_path_planner): output manager internal state as topic
  planning/behavior_path_planner/include/behavior_path_planner/planner_manager.hpp
  planning/behavior_path_planner/src/planner_manager.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6087 refactor(goal_planner): remove duplicated execution condition
  planning/behavior_path_goal_planner_module/src/goal_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6061 fix(behavior_velocity_planner, behavior_path_planner): refresh raw traffic light id map every callback
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_velocity_planner/src/node.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6080 fix(radar_tracks_msgs_converter): change default parameter for twist compensation
  perception/radar_tracks_msgs_converter/README.md
  perception/radar_tracks_msgs_converter/launch/radar_tracks_msgs_converter.launch.xml
Labels: type:documentation, component:perception, tag:run-build-and-test-differential

#6106 fix(pointpainting): fix param path declaration
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_radar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
Labels: component:launch, tag:run-build-and-test-differential

#5583 docs(crosswalk): update the document
  planning/behavior_velocity_crosswalk_module/README.md
  planning/behavior_velocity_crosswalk_module/docs/crosswalk_attention_range.svg
  planning/behavior_velocity_crosswalk_module/docs/crosswalk_module.svg
  planning/behavior_velocity_crosswalk_module/docs/debug_markers.png
  planning/behavior_velocity_crosswalk_module/docs/explicit_stop_line.svg
  planning/behavior_velocity_crosswalk_module/docs/far_object_threshold.drawio.svg
  planning/behavior_velocity_crosswalk_module/docs/limitation.svg
  planning/behavior_velocity_crosswalk_module/docs/no-intension.svg
  planning/behavior_velocity_crosswalk_module/docs/stop_line.svg
  planning/behavior_velocity_crosswalk_module/docs/stop_line_distance.svg
  planning/behavior_velocity_crosswalk_module/docs/stop_line_margin.svg
  planning/behavior_velocity_crosswalk_module/docs/stop_margin.svg
  planning/behavior_velocity_crosswalk_module/docs/stuck_vehicle_attention_range.svg
  planning/behavior_velocity_crosswalk_module/docs/stuck_vehicle_detection.svg
  planning/behavior_velocity_crosswalk_module/docs/ttc_vs_ttv.drawio.svg
  planning/behavior_velocity_crosswalk_module/docs/virtual_collision_point.svg
  planning/behavior_velocity_crosswalk_module/docs/virtual_stop_line.svg
  planning/behavior_velocity_crosswalk_module/docs/with_traffic_light.svg
  planning/behavior_velocity_crosswalk_module/docs/without_traffic_light.svg
Labels: type:documentation, component:planning, tag:deploy-docs, tag:run-build-and-test-differential

#6047 feat(intersection): more precise pass judge handling considering occlusion detection and 1st/2nd attention lane
  planning/behavior_velocity_intersection_module/README.md
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_intersection_module/docs/pass-judge-line.drawio.svg
  planning/behavior_velocity_intersection_module/src/debug.cpp
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
Labels: type:documentation, component:planning, tag:deploy-docs, tag:run-build-and-test-differential

#5635 feat(blind_spot): consider opposite adjacent lane for wrong vehicles
  planning/behavior_velocity_blind_spot_module/config/blind_spot.param.yaml
  planning/behavior_velocity_blind_spot_module/src/debug.cpp
  planning/behavior_velocity_blind_spot_module/src/manager.cpp
  planning/behavior_velocity_blind_spot_module/src/scene.cpp
  planning/behavior_velocity_blind_spot_module/src/scene.hpp
Labels: component:planning, tag:run-build-and-test-differential

#6069 docs(vehicle_info): add docs for versioning
  vehicle/vehicle_info_util/Readme.md
  vehicle/vehicle_info_util/config/vehicle_info.param.yaml
Labels: type:documentation, component:vehicle, tag:run-build-and-test-differential

#6103 refactor(start_planner): visualize shifting section
  planning/behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6101 refactor(start_planner): separate start planner parameters and debug data structure
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/parking_departure/common_module_data.hpp
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/data_structs.hpp
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/debug.hpp
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/pull_out_planner_base.hpp
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/start_planner_module.hpp
  planning/behavior_path_start_planner_module/src/debug.cpp
  planning/behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6104 fix(behavior_velocity_crosswalk_module): check if p_safety_slow is empty
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6091 feat: always separate lidar preprocessing from pointcloud_container
  launch/tier4_localization_launch/launch/localization.launch.xml
  launch/tier4_localization_launch/launch/pose_twist_estimator/pose_twist_estimator.launch.xml
  launch/tier4_localization_launch/launch/util/util.launch.py
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_radar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/lidar_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/lidar_radar_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/pointcloud_map_filter.launch.py
  launch/tier4_perception_launch/launch/obstacle_segmentation/ground_segmentation/ground_segmentation.launch.py
  launch/tier4_perception_launch/launch/occupancy_grid_map/probabilistic_occupancy_grid_map.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
  perception/probabilistic_occupancy_grid_map/launch/laserscan_based_occupancy_grid_map.launch.py
  perception/probabilistic_occupancy_grid_map/launch/pointcloud_based_occupancy_grid_map.launch.py
  perception/probabilistic_occupancy_grid_map/synchronized_grid_map_fusion.md
Labels: type:documentation, component:perception, component:launch, tag:run-build-and-test-differential

#6072 feat(map_based_prediction): use obstacle acceleration for map prediction
  perception/map_based_prediction/README.md
  perception/map_based_prediction/config/map_based_prediction.param.yaml
  perception/map_based_prediction/include/map_based_prediction/map_based_prediction_node.hpp
  perception/map_based_prediction/include/map_based_prediction/path_generator.hpp
  perception/map_based_prediction/src/map_based_prediction_node.cpp
  perception/map_based_prediction/src/path_generator.cpp
Labels: type:documentation, component:perception, tag:run-build-and-test-differential

#6094 feat(behavior_velocity_planner): add enable_all_modules_auto_mode argument to launch files for behavior velocity planner modules
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.xml
  planning/behavior_velocity_blind_spot_module/src/manager.cpp
  planning/behavior_velocity_crosswalk_module/src/manager.cpp
  planning/behavior_velocity_detection_area_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_no_stopping_area_module/src/manager.cpp
  planning/behavior_velocity_planner_common/include/behavior_velocity_planner_common/scene_module_interface.hpp
  planning/behavior_velocity_traffic_light_module/src/manager.cpp
Labels: component:planning, component:launch, tag:run-build-and-test-differential

#6105 refactor(start_planner): calculate drivable lanes efficiently
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/shift_pull_out.hpp
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/start_planner_module.hpp
  planning/behavior_path_start_planner_module/src/shift_pull_out.cpp
  planning/behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6114 chore(pointcloud_container): move glog_component to autoware_launch
  launch/tier4_perception_launch/launch/obstacle_segmentation/ground_segmentation/ground_segmentation.launch.py
Labels: component:launch, tag:run-build-and-test-differential

#6125 fix(start/goal_planner): do not call freespace planner callback when not necessary
  planning/behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6124 feat(goal_planner): expand pull over lanes for detection area of path generation collision check
  planning/behavior_path_goal_planner_module/README.md
  planning/behavior_path_goal_planner_module/config/goal_planner.param.yaml
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/goal_planner_parameters.hpp
  planning/behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_goal_planner_module/src/manager.cpp
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#6119 feat(goal_planner): display stop pose infomation
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_goal_planner_module/src/goal_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6126 feat(planning_validator): add invalid size error
  planning/planning_validator/include/planning_validator/planning_validator.hpp
  planning/planning_validator/msg/PlanningValidatorStatus.msg
  planning/planning_validator/src/planning_validator.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6112 feat(dynamic_avoidance): add a guard of LPF for reference path changed by avoidance/LC
  planning/behavior_path_dynamic_avoidance_module/include/behavior_path_dynamic_avoidance_module/scene.hpp
  planning/behavior_path_dynamic_avoidance_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6118 chore(planning): change params to vehicle tested values
  planning/behavior_velocity_crosswalk_module/config/crosswalk.param.yaml
  planning/behavior_velocity_walkway_module/config/walkway.param.yaml
  planning/obstacle_cruise_planner/config/obstacle_cruise_planner.param.yaml
Labels: component:planning, tag:run-build-and-test-differential

#6121 docs(start_planner): fix image filename in README.md
  planning/behavior_path_start_planner_module/README.md
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#6123 docs(side_shift): update side shift document
  planning/behavior_path_side_shift_module/README.md
  planning/behavior_path_side_shift_module/images/side_shift_status.drawio.svg
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#6130 chore(run_out): add maintainer
  planning/behavior_velocity_run_out_module/package.xml
Labels: component:planning, tag:run-build-and-test-differential

#6116 feat(gnss_poser): use header.frame_id as gnss_frame
  sensing/gnss_poser/README.md
  sensing/gnss_poser/config/gnss_poser.param.yaml
  sensing/gnss_poser/include/gnss_poser/gnss_poser_core.hpp
  sensing/gnss_poser/schema/gnss_poser.schema.json
  sensing/gnss_poser/src/gnss_poser_core.cpp
Labels: type:documentation, component:sensing, tag:run-build-and-test-differential

#6132 fix(external_velocity_limit_selector): revert "refactor(external_velocity_limit_selector): rework parameter (#5238)"
  planning/external_velocity_limit_selector/README.md
  planning/external_velocity_limit_selector/config/default.param.yaml
  planning/external_velocity_limit_selector/config/default_common.param.yaml
  planning/external_velocity_limit_selector/config/external_velocity_limit_selector.param.yaml
  planning/external_velocity_limit_selector/launch/external_velocity_limit_selector.launch.xml
  planning/external_velocity_limit_selector/schema/external_velocity_limit_selector.schema.json
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#4256 feat(simple_planning_simulator): add option to use initialpose for z position
  simulator/simple_planning_simulator/include/simple_planning_simulator/simple_planning_simulator_core.hpp
  simulator/simple_planning_simulator/src/simple_planning_simulator/simple_planning_simulator_core.cpp
Labels: component:simulation, tag:run-build-and-test-differential, tag:openai-pr-reviewer

#6137 fix(dynamic_avoidance): remove cerr
  planning/behavior_path_dynamic_avoidance_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6136 fix(raw_vehicle_cmd_converter): fix parameter files to parse path to csv files
  launch/tier4_vehicle_launch/launch/vehicle.launch.xml
  vehicle/raw_vehicle_cmd_converter/config/raw_vehicle_cmd_converter.param.yaml
  vehicle/raw_vehicle_cmd_converter/launch/raw_vehicle_converter.launch.xml
  vehicle/raw_vehicle_cmd_converter/schema/raw_vehicle_cmd_converter.schema.json
Labels: component:vehicle, component:launch, tag:run-build-and-test-differential

#6142 feat(goal_planner): use expanded pull over lanes for filtering in goal searcher
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/util.hpp
  planning/behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_goal_planner_module/src/goal_searcher.cpp
  planning/behavior_path_goal_planner_module/src/util.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6120 fix(goal_planner): fix sudden stop and simpify process
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_goal_planner_module/src/goal_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6128 feat(goal_planner): add deciding status to check collision for for a certain period of time
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/goal_searcher.hpp
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/goal_searcher_base.hpp
  planning/behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_goal_planner_module/src/goal_searcher.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6127 feat(system_error_monitor): enable invalid trajectory size diag
  system/system_error_monitor/config/diagnostic_aggregator/planning.param.yaml
Labels: component:system, tag:run-build-and-test-differential

#6088 refactor(lane_change): update lc status in updateData
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/scene.hpp
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/utils/base_class.hpp
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/utils/path.hpp
  planning/behavior_path_lane_change_module/src/interface.cpp
  planning/behavior_path_lane_change_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6140 docs(map_projection_loader): add limitations
  map/map_projection_loader/README.md
Labels: type:documentation, component:map, tag:run-build-and-test-differential

#6155 fix(gnss_poser): remove gnss_frame from schema.json
  sensing/gnss_poser/schema/gnss_poser.schema.json
Labels: component:sensing, tag:run-build-and-test-differential

#6148 revert(perf_ring_outlier_filter): temporal revert for further investigation
  sensing/pointcloud_preprocessor/docs/ring-outlier-filter.md
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/outlier_filter/ring_outlier_filter_nodelet.hpp
  sensing/pointcloud_preprocessor/package.xml
  sensing/pointcloud_preprocessor/src/outlier_filter/ring_outlier_filter_nodelet.cpp
Labels: type:documentation, component:sensing, tag:run-build-and-test-differential

#6157 chore(shape_estimation): remove unnecessary param
  perception/shape_estimation/launch/shape_estimation.launch.xml
Labels: component:perception, tag:run-build-and-test-differential

#6129 fix(planning_evaluator): fix crashes with empty trajectories
  evaluator/planning_evaluator/src/metrics/trajectory_metrics.cpp
Labels: component:evaluator, tag:run-build-and-test-differential

#6153 feat(tier4_automatic_goal_rviz_plugin): make it possible to register checkpoints
  common/tier4_automatic_goal_rviz_plugin/CMakeLists.txt
  common/tier4_automatic_goal_rviz_plugin/icons/classes/AutowareAutomaticCheckpointTool.png
  common/tier4_automatic_goal_rviz_plugin/package.xml
  common/tier4_automatic_goal_rviz_plugin/plugins/plugin_description.xml
  common/tier4_automatic_goal_rviz_plugin/src/automatic_checkpoint_append_tool.cpp
  common/tier4_automatic_goal_rviz_plugin/src/automatic_checkpoint_append_tool.hpp
  common/tier4_automatic_goal_rviz_plugin/src/automatic_goal_panel.cpp
  common/tier4_automatic_goal_rviz_plugin/src/automatic_goal_panel.hpp
  common/tier4_automatic_goal_rviz_plugin/src/automatic_goal_sender.cpp
  common/tier4_automatic_goal_rviz_plugin/src/automatic_goal_sender.hpp
Labels: type:documentation, component:common, tag:run-build-and-test-differential

#6164 chore(ar_tag_based_localizer): add json schema
  localization/landmark_based_localizer/ar_tag_based_localizer/README.md
  localization/landmark_based_localizer/ar_tag_based_localizer/schema/ar_tag_based_localizer.schema.json
Labels: type:documentation, component:localization, tag:run-build-and-test-differential

#6161 fix(ndt_scan_matcher): fix type of critical_upper_bound_exe_time_ms
  localization/ndt_scan_matcher/config/ndt_scan_matcher.param.yaml
  localization/ndt_scan_matcher/include/ndt_scan_matcher/ndt_scan_matcher_core.hpp
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
Labels: component:localization, tag:run-build-and-test-differential

#6156 refactor(localization_error_monitor): rework parameters
  localization/localization_error_monitor/README.md
  localization/localization_error_monitor/schema/localization_error_monitor.schema.json
Labels: type:documentation, component:localization, tag:run-build-and-test-differential

#6150 feat(crosswalk)!: improve stuck prevention on crosswalk
  planning/behavior_velocity_crosswalk_module/config/crosswalk.param.yaml
  planning/behavior_velocity_crosswalk_module/src/manager.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
Labels: component:planning, tag:run-build-and-test-differential

#6170 chore(yabloc): rework parameters
  localization/yabloc/yabloc_common/README.md
  localization/yabloc/yabloc_common/schema/ground_server.schema.json
  localization/yabloc/yabloc_common/schema/ll2_decomposer.schema.json
  localization/yabloc/yabloc_image_processing/README.md
  localization/yabloc/yabloc_image_processing/schema/graph_segment.schema.json
  localization/yabloc/yabloc_image_processing/schema/segment_filter.schema.json
  localization/yabloc/yabloc_image_processing/schema/undistort.schema.json
  localization/yabloc/yabloc_monitor/README.md
  localization/yabloc/yabloc_monitor/schema/yabloc_monitor.schema.json
  localization/yabloc/yabloc_particle_filter/README.md
  localization/yabloc/yabloc_particle_filter/schema/camera_particle_corrector.schema.json
  localization/yabloc/yabloc_particle_filter/schema/gnss_particle_corrector.schema.json
  localization/yabloc/yabloc_particle_filter/schema/predictor.schema.json
  localization/yabloc/yabloc_pose_initializer/README.md
  localization/yabloc/yabloc_pose_initializer/schema/camera_pose_initializer.schema.json
Labels: type:documentation, component:localization, tag:run-build-and-test-differential

#6177 docs(crosswalk): update docs
  planning/behavior_velocity_crosswalk_module/README.md
  planning/behavior_velocity_crosswalk_module/docs/stuck_vehicle_detection.svg
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#6179 fix(dynamic_avoidance_planner): inherit modified goal
  planning/behavior_path_dynamic_avoidance_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6172 fix(start_planner): update drivable area info and enable idle to running state transition
  planning/behavior_path_planner_common/src/utils/drivable_area_expansion/static_drivable_area.cpp
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/start_planner_module.hpp
  planning/behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5178 refactor(localization_error_monitor): rename localization_accuracy
  localization/localization_error_monitor/src/diagnostics.cpp
  simulator/fault_injection/config/fault_injection.param.yaml
  system/system_error_monitor/config/diagnostic_aggregator/localization.param.yaml
  system/system_error_monitor/config/system_error_monitor.param.yaml
  system/system_error_monitor/config/system_error_monitor.planning_simulation.param.yaml
Labels: component:localization, component:system, component:simulation, tag:run-build-and-test-differential

#6174 fix(behavior_path_planner): sort keep last modules considering priority
  planning/behavior_path_planner/src/planner_manager.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6175 refactor(lane_change): add const to lane change functions
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/scene.hpp
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/utils/base_class.hpp
  planning/behavior_path_lane_change_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6183 chore(yabloc): replace parameters by json_to_markdown in readme
  localization/yabloc/yabloc_common/README.md
  localization/yabloc/yabloc_image_processing/README.md
Labels: type:documentation, component:localization, tag:run-build-and-test-differential

#6184 chore(motion_velocity_smoother): add maintainer
  planning/motion_velocity_smoother/package.xml
Labels: component:planning, tag:run-build-and-test-differential

#6178 feat(goal_planner): consider moving objects when deciding path
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_goal_planner_module/src/goal_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6188 fix(avoidance): turn signal doesn't turn on
  planning/behavior_path_avoidance_module/src/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6154 feat(metrics_visualize_panel): add new plugin to show planning metrics
  evaluator/tier4_metrics_rviz_plugin/CMakeLists.txt
  evaluator/tier4_metrics_rviz_plugin/README.md
  evaluator/tier4_metrics_rviz_plugin/icons/classes/MetricsVisualizePanel.png
  evaluator/tier4_metrics_rviz_plugin/package.xml
  evaluator/tier4_metrics_rviz_plugin/plugins/plugin_description.xml
  evaluator/tier4_metrics_rviz_plugin/src/metrics_visualize_panel.cpp
  evaluator/tier4_metrics_rviz_plugin/src/metrics_visualize_panel.hpp
Labels: type:documentation, component:evaluator, tag:run-build-and-test-differential

#6117 refactor: update TRT build log
  common/tensorrt_common/include/tensorrt_common/logger.hpp
  common/tensorrt_common/src/tensorrt_common.cpp
  perception/lidar_centerpoint/lib/network/network_trt.cpp
  perception/lidar_centerpoint/lib/network/tensorrt_wrapper.cpp
  perception/tensorrt_yolo/lib/include/trt_yolo.hpp
  perception/tensorrt_yolo/lib/src/trt_yolo.cpp
  perception/tensorrt_yolo/package.xml
  perception/traffic_light_classifier/launch/traffic_light_classifier.launch.xml
  perception/traffic_light_fine_detector/launch/traffic_light_fine_detector.launch.xml
  perception/traffic_light_ssd_fine_detector/launch/traffic_light_ssd_fine_detector.launch.xml
  perception/traffic_light_ssd_fine_detector/lib/include/trt_ssd.hpp
  perception/traffic_light_ssd_fine_detector/lib/src/trt_ssd.cpp
  perception/traffic_light_ssd_fine_detector/package.xml
Labels: component:perception, component:common, tag:run-build-and-test-differential

#6193 fix(avoidance): fix bug in turn signal decision
  planning/behavior_path_avoidance_module/src/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6166 chore(detected_object_validation): rework parameters
  perception/detected_object_validation/config/obstacle_pointcloud_based_validator.param.yaml
  perception/detected_object_validation/config/occupancy_grid_based_validator.param.yaml
  perception/detected_object_validation/launch/obstacle_pointcloud_based_validator.launch.xml
  perception/detected_object_validation/launch/occupancy_grid_based_validator.launch.xml
Labels: component:perception, tag:run-build-and-test-differential

#6001 feat(avoidance): make it possible to use freespace areas in avoidance module
  planning/behavior_path_avoidance_by_lane_change_module/src/scene.cpp
  planning/behavior_path_avoidance_module/config/avoidance.param.yaml
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/data_structs.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/parameter_helper.hpp
  planning/behavior_path_avoidance_module/src/scene.cpp
  planning/behavior_path_planner/src/planner_manager.cpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/data_manager.hpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/drivable_area_expansion/static_drivable_area.hpp
  planning/behavior_path_planner_common/src/utils/drivable_area_expansion/static_drivable_area.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6159 chore(object_range_splitter): rework parameters
  launch/tier4_perception_launch/launch/object_recognition/detection/detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/radar_detector.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
  perception/object_range_splitter/CMakeLists.txt
  perception/object_range_splitter/config/object_range_splitter.param.yaml
  perception/object_range_splitter/launch/object_range_splitter.launch.xml
Labels: component:perception, component:launch, tag:run-build-and-test-differential

#6143 feat(intersection): publish and visualize the reason for dangerous situation to blame past detection fault retrospectively
  planning/behavior_velocity_intersection_module/CMakeLists.txt
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_intersection_module/package.xml
  planning/behavior_velocity_intersection_module/src/debug.cpp
  planning/behavior_velocity_intersection_module/src/decision_result.cpp
  planning/behavior_velocity_intersection_module/src/decision_result.hpp
  planning/behavior_velocity_intersection_module/src/interpolated_path_info.hpp
  planning/behavior_velocity_intersection_module/src/intersection_lanelets.hpp
  planning/behavior_velocity_intersection_module/src/intersection_stoplines.hpp
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/object_manager.cpp
  planning/behavior_velocity_intersection_module/src/object_manager.hpp
  planning/behavior_velocity_intersection_module/src/result.hpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_intersection_module/src/scene_intersection_collision.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection_occlusion.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection_prepare_data.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection_stuck.cpp
  planning/behavior_velocity_intersection_module/src/util.hpp
Labels: component:planning, tag:run-build-and-test-differential

#6173 refactor(lane_change): combine all debug data into single struct
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/interface.hpp
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/utils/base_class.hpp
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/utils/debug_structs.hpp
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/utils/markers.hpp
  planning/behavior_path_lane_change_module/src/interface.cpp
  planning/behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_lane_change_module/src/utils/markers.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6182 fix(tracking_object_merger): enable to association unknown class in tracker merger
  perception/tracking_object_merger/config/data_association_matrix.param.yaml
  perception/tracking_object_merger/src/utils/utils.cpp
Labels: component:perception, tag:run-build-and-test-differential

#6186 refactor(ndt_scan_matcher): rename de-grounded
  localization/ndt_scan_matcher/README.md
  localization/ndt_scan_matcher/config/ndt_scan_matcher.param.yaml
  localization/ndt_scan_matcher/include/ndt_scan_matcher/ndt_scan_matcher_core.hpp
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
Labels: type:documentation, component:localization, tag:run-build-and-test-differential

#6133 fix(simple_object_merger): change the default param of timeout_threshold
  perception/simple_object_merger/launch/simple_object_merger.launch.xml
  perception/simple_object_merger/src/simple_object_merger_node/simple_object_merger_node.cpp
Labels: component:perception, tag:run-build-and-test-differential

#6201 feat(intersection, blind_spot): add objects of interest marker
  planning/behavior_velocity_blind_spot_module/src/scene.cpp
  planning/behavior_velocity_blind_spot_module/src/scene.hpp
  planning/behavior_velocity_intersection_module/src/scene_intersection_collision.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6168 fix(tracking_object_merger): fix bug and rework parameters
  perception/tracking_object_merger/config/decorative_tracker_merger.param.yaml
  perception/tracking_object_merger/launch/decorative_tracker_merger.launch.xml
Labels: component:perception, tag:run-build-and-test-differential

#6139 feat(imu_corrector): changed publication algorithm and content of /diagnostics in gyro_bias_estimator
  sensing/imu_corrector/README.md
  sensing/imu_corrector/config/gyro_bias_estimator.param.yaml
  sensing/imu_corrector/src/gyro_bias_estimator.cpp
  sensing/imu_corrector/src/gyro_bias_estimator.hpp
Labels: type:documentation, component:sensing, tag:run-build-and-test-differential

#6190 build(yabloc_pose_initializer): fix dependencies
  localization/yabloc/yabloc_pose_initializer/CMakeLists.txt
  localization/yabloc/yabloc_pose_initializer/package.xml
Labels: component:localization, tag:run-build-and-test-differential

#6207 fix(intersection): judge pass judge at intersection without tl with occlusion detection
  planning/behavior_velocity_intersection_module/src/decision_result.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6202 chore(simple_object_merger): fix README
  perception/simple_object_merger/README.md
Labels: type:documentation, component:perception, tag:run-build-and-test-differential

#5957 feat: new rviz ui - speed/gear/turnsignal/steering
  common/awf_vehicle_rviz_plugin/awf_2d_overlay_vehicle/CMakeLists.txt
  common/awf_vehicle_rviz_plugin/awf_2d_overlay_vehicle/LICENSE
  common/awf_vehicle_rviz_plugin/awf_2d_overlay_vehicle/README.md
  common/awf_vehicle_rviz_plugin/awf_2d_overlay_vehicle/assets/font/Quicksand/LICENSE
  common/awf_vehicle_rviz_plugin/awf_2d_overlay_vehicle/assets/font/Quicksand/static/Quicksand-Bold.ttf
  common/awf_vehicle_rviz_plugin/awf_2d_overlay_vehicle/assets/font/Quicksand/static/Quicksand-Light.ttf
  common/awf_vehicle_rviz_plugin/awf_2d_overlay_vehicle/assets/font/Quicksand/static/Quicksand-Medium.ttf
  common/awf_vehicle_rviz_plugin/awf_2d_overlay_vehicle/assets/font/Quicksand/static/Quicksand-Regular.ttf
  common/awf_vehicle_rviz_plugin/awf_2d_overlay_vehicle/assets/font/Quicksand/static/Quicksand-SemiBold.ttf
  common/awf_vehicle_rviz_plugin/awf_2d_overlay_vehicle/assets/images/arrow.png
  common/awf_vehicle_rviz_plugin/awf_2d_overlay_vehicle/assets/images/select_add.png
  common/awf_vehicle_rviz_plugin/awf_2d_overlay_vehicle/assets/images/select_topic_name.png
  common/awf_vehicle_rviz_plugin/awf_2d_overlay_vehicle/assets/images/select_vehicle_plugin.png
  common/awf_vehicle_rviz_plugin/awf_2d_overlay_vehicle/assets/images/traffic.png
  common/awf_vehicle_rviz_plugin/awf_2d_overlay_vehicle/assets/images/wheel.png
  common/awf_vehicle_rviz_plugin/awf_2d_overlay_vehicle/awf_2d_overlay_vehicle-extras.cmake
  common/awf_vehicle_rviz_plugin/awf_2d_overlay_vehicle/include/gear_display.hpp
  common/awf_vehicle_rviz_plugin/awf_2d_overlay_vehicle/include/overlay_text_display.hpp
  common/awf_vehicle_rviz_plugin/awf_2d_overlay_vehicle/include/overlay_utils.hpp
  common/awf_vehicle_rviz_plugin/awf_2d_overlay_vehicle/include/signal_display.hpp
  common/awf_vehicle_rviz_plugin/awf_2d_overlay_vehicle/include/speed_display.hpp
  common/awf_vehicle_rviz_plugin/awf_2d_overlay_vehicle/include/speed_limit_display.hpp
  common/awf_vehicle_rviz_plugin/awf_2d_overlay_vehicle/include/steering_wheel_display.hpp
  common/awf_vehicle_rviz_plugin/awf_2d_overlay_vehicle/include/traffic_display.hpp
  common/awf_vehicle_rviz_plugin/awf_2d_overlay_vehicle/include/turn_signals_display.hpp
  common/awf_vehicle_rviz_plugin/awf_2d_overlay_vehicle/package.xml
  common/awf_vehicle_rviz_plugin/awf_2d_overlay_vehicle/plugins_description.xml
  common/awf_vehicle_rviz_plugin/awf_2d_overlay_vehicle/src/gear_display.cpp
  common/awf_vehicle_rviz_plugin/awf_2d_overlay_vehicle/src/overlay_text_display.cpp
  common/awf_vehicle_rviz_plugin/awf_2d_overlay_vehicle/src/overlay_utils.cpp
  common/awf_vehicle_rviz_plugin/awf_2d_overlay_vehicle/src/signal_display.cpp
  common/awf_vehicle_rviz_plugin/awf_2d_overlay_vehicle/src/speed_display.cpp
  common/awf_vehicle_rviz_plugin/awf_2d_overlay_vehicle/src/speed_limit_display.cpp
  common/awf_vehicle_rviz_plugin/awf_2d_overlay_vehicle/src/steering_wheel_display.cpp
  common/awf_vehicle_rviz_plugin/awf_2d_overlay_vehicle/src/traffic_display.cpp
  common/awf_vehicle_rviz_plugin/awf_2d_overlay_vehicle/src/turn_signals_display.cpp
  common/awf_vehicle_rviz_plugin/rviz_2d_overlay_msgs/CHANGELOG.rst
  common/awf_vehicle_rviz_plugin/rviz_2d_overlay_msgs/CMakeLists.txt
  common/awf_vehicle_rviz_plugin/rviz_2d_overlay_msgs/msg/OverlayText.msg
  common/awf_vehicle_rviz_plugin/rviz_2d_overlay_msgs/package.xml
Labels: type:documentation, component:common, tag:run-build-and-test-differential, type:ui-ux

#6163 chore(traffic_light_fine_detector): fix_default_tlr_yolox_model_name
  perception/traffic_light_fine_detector/launch/traffic_light_fine_detector.launch.xml
Labels: component:perception, tag:run-build-and-test-differential
