Repository autowarefoundation/autoware_universe, pull requests merged in 2024-09, with the labels that each got.

#8587 fix(ground-segmentation): missing ament_index_cpp dependency
  perception/autoware_ground_segmentation/package.xml
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#8657 feat(autoware_multi_object_tracker): reduce trigger latency
  perception/autoware_multi_object_tracker/src/multi_object_tracker_node.cpp
  perception/autoware_multi_object_tracker/src/multi_object_tracker_node.hpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#8679 fix(out_of_lane): fix a bug with the rtree reference deleted nodes
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_collisions.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_collisions.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8682 refactor(start_planner, lane_departure_checker): remove redundant calculation in fuseLaneletPolygon
  control/autoware_lane_departure_checker/include/autoware/lane_departure_checker/lane_departure_checker.hpp
  control/autoware_lane_departure_checker/src/lane_departure_checker_node/lane_departure_checker.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/shift_pull_out.cpp
Labels: component:planning, component:control, tag:run-build-and-test-differential

#8703 chore(autoware_gnss_poser): make source codes follow the coding rules
  sensing/autoware_gnss_poser/CMakeLists.txt
  sensing/autoware_gnss_poser/include/autoware/gnss_poser/gnss_poser_node.hpp
  sensing/autoware_gnss_poser/src/gnss_poser_node.cpp
Labels: component:sensing, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#8680 refactor(ekf_localizer): add namespace "autoware::ekf_localizer::"
  localization/ekf_localizer/CMakeLists.txt
  localization/ekf_localizer/include/ekf_localizer/aged_object_queue.hpp
  localization/ekf_localizer/include/ekf_localizer/covariance.hpp
  localization/ekf_localizer/include/ekf_localizer/diagnostics.hpp
  localization/ekf_localizer/include/ekf_localizer/ekf_localizer.hpp
  localization/ekf_localizer/include/ekf_localizer/ekf_module.hpp
  localization/ekf_localizer/include/ekf_localizer/hyper_parameters.hpp
  localization/ekf_localizer/include/ekf_localizer/mahalanobis.hpp
  localization/ekf_localizer/include/ekf_localizer/matrix_types.hpp
  localization/ekf_localizer/include/ekf_localizer/measurement.hpp
  localization/ekf_localizer/include/ekf_localizer/numeric.hpp
  localization/ekf_localizer/include/ekf_localizer/state_index.hpp
  localization/ekf_localizer/include/ekf_localizer/state_transition.hpp
  localization/ekf_localizer/include/ekf_localizer/string.hpp
  localization/ekf_localizer/include/ekf_localizer/warning.hpp
  localization/ekf_localizer/include/ekf_localizer/warning_message.hpp
  localization/ekf_localizer/src/covariance.cpp
  localization/ekf_localizer/src/diagnostics.cpp
  localization/ekf_localizer/src/ekf_localizer.cpp
  localization/ekf_localizer/src/ekf_module.cpp
  localization/ekf_localizer/src/mahalanobis.cpp
  localization/ekf_localizer/src/measurement.cpp
  localization/ekf_localizer/src/state_transition.cpp
  localization/ekf_localizer/src/warning_message.cpp
  localization/ekf_localizer/test/test_aged_object_queue.cpp
  localization/ekf_localizer/test/test_covariance.cpp
  localization/ekf_localizer/test/test_diagnostics.cpp
  localization/ekf_localizer/test/test_mahalanobis.cpp
  localization/ekf_localizer/test/test_measurement.cpp
  localization/ekf_localizer/test/test_numeric.cpp
  localization/ekf_localizer/test/test_state_transition.cpp
  localization/ekf_localizer/test/test_string.cpp
  localization/ekf_localizer/test/test_warning_message.cpp
Labels: component:localization, tag:run-build-and-test-differential

#8606 fix(time_utils): fix unusedFunction
  common/time_utils/include/time_utils/time_utils.hpp
  common/time_utils/src/time_utils/time_utils.cpp
Labels: component:common, tag:run-build-and-test-differential

#8706 feat(autonomous_emergency_braking): add timekeeper to AEB
  control/autoware_autonomous_emergency_braking/include/autoware/autonomous_emergency_braking/node.hpp
  control/autoware_autonomous_emergency_braking/src/node.cpp
Labels: component:control, tag:run-build-and-test-differential

#8616 fix(tier4_planning_rviz_plugin): fix unusedFunction
  common/tier4_planning_rviz_plugin/src/tools/jsk_overlay_utils.cpp
  common/tier4_planning_rviz_plugin/src/tools/jsk_overlay_utils.hpp
Labels: component:common, tag:run-build-and-test-differential

#8697 refactor(goal_planner): remove unnecessary member from pull_over_planner
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/pull_over_planner/freespace_pull_over.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/pull_over_planner/geometric_pull_over.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/pull_over_planner/pull_over_planner_base.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/pull_over_planner/shift_pull_over.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/pull_over_planner/freespace_pull_over.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/pull_over_planner/geometric_pull_over.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/pull_over_planner/shift_pull_over.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8702 fix(tier4_perception_launch): launch namespace of `detection_by_tracker`
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/tracker_based_detector.launch.xml
Labels: component:launch, tag:run-build-and-test-differential

#8675 fix(bpp): use common steering factor interface for same scene modules
  planning/behavior_path_planner/autoware_behavior_path_avoidance_by_lane_change_module/src/interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_avoidance_by_lane_change_module/src/interface.hpp
  planning/behavior_path_planner/autoware_behavior_path_avoidance_by_lane_change_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_dynamic_obstacle_avoidance_module/include/autoware/behavior_path_dynamic_obstacle_avoidance_module/manager.hpp
  planning/behavior_path_planner/autoware_behavior_path_dynamic_obstacle_avoidance_module/include/autoware/behavior_path_dynamic_obstacle_avoidance_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_dynamic_obstacle_avoidance_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_external_request_lane_change_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/manager.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/interface.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/interface/scene_module_interface.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/interface/scene_module_manager_interface.hpp
  planning/behavior_path_planner/autoware_behavior_path_sampling_planner_module/include/autoware/behavior_path_sampling_planner_module/manager.hpp
  planning/behavior_path_planner/autoware_behavior_path_sampling_planner_module/include/autoware/behavior_path_sampling_planner_module/sampling_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_sampling_planner_module/src/sampling_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_side_shift_module/include/autoware/behavior_path_side_shift_module/manager.hpp
  planning/behavior_path_planner/autoware_behavior_path_side_shift_module/include/autoware/behavior_path_side_shift_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_side_shift_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/include/autoware/behavior_path_start_planner_module/manager.hpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/include/autoware/behavior_path_start_planner_module/start_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/start_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/manager.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8692 docs(out_of_lane): update documentation for the new design
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/README.md
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/config/out_of_lane.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/docs/ego_lane.png
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/docs/footprints.png
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/docs/object_paths.png
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/docs/out_of_lane-footprints_other_lanes_overlaps_ranges.png
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/docs/out_of_lane_areas.png
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/docs/out_of_lane_slow.png
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/docs/out_of_lane_stop.png
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/docs/path_green_light.png
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/docs/path_red_light.png
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/docs/ttcs.png
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/docs/ttcs_avoid.png
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/debug.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/types.hpp
Labels: type:documentation, component:planning, tag:deploy-docs, tag:run-build-and-test-differential

#8712 refactor(goal_planner): initialize parameter with free function
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/manager.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/manager.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8713 ci(cppcheck): change all cppcheck from daily to weekly
  .github/workflows/cppcheck-weekly.yaml
Labels: type:ci, tag:run-build-and-test-differential

#8717 ci(cppcheck): fix workflow name
  .github/workflows/cppcheck-weekly.yaml
Labels: type:ci, tag:run-build-and-test-differential

#8691 refactor(ndt_scan_marcher): add namespace "autoware::ndt_scan_matcher::"
  localization/ndt_scan_matcher/CMakeLists.txt
  localization/ndt_scan_matcher/include/ndt_scan_matcher/hyper_parameters.hpp
  localization/ndt_scan_matcher/include/ndt_scan_matcher/map_update_module.hpp
  localization/ndt_scan_matcher/include/ndt_scan_matcher/ndt_scan_matcher_core.hpp
  localization/ndt_scan_matcher/include/ndt_scan_matcher/particle.hpp
  localization/ndt_scan_matcher/src/map_update_module.cpp
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
  localization/ndt_scan_matcher/src/particle.cpp
  localization/ndt_scan_matcher/test/test_fixture.hpp
Labels: component:localization, tag:run-build-and-test-differential

#8720 fix(static_obstacle_avoidance): use wrong parameter
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/helper.hpp
Labels: component:planning, tag:run-build-and-test-differential

#8709 fix(autoware_behavior_path_start_planner_module): fix unusedFunction
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/CMakeLists.txt
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/include/autoware/behavior_path_start_planner_module/pull_out_planner_base.hpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/pull_out_planner_base.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/util.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8205 refactor(autoware_lidar_transfusion): split config
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/lidar_dnn_detector.launch.xml
  perception/autoware_lidar_transfusion/README.md
  perception/autoware_lidar_transfusion/config/transfusion.param.yaml
  perception/autoware_lidar_transfusion/config/transfusion_ml_package.param.yaml
  perception/autoware_lidar_transfusion/launch/lidar_transfusion.launch.xml
  perception/autoware_lidar_transfusion/schema/transfusion.schema.dummy.json
  perception/autoware_lidar_transfusion/schema/transfusion_ml_package.schema.json
Labels: type:documentation, component:perception, component:launch, tag:deploy-docs, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#8707 fix(autoware_behavior_path_planner_common): fix unusedFunction
  planning/behavior_path_planner/autoware_behavior_path_planner_common/CMakeLists.txt
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/interface/scene_module_interface.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/interface/scene_module_manager_interface.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/interface/scene_module_interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/interface/scene_module_manager_interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/marker_utils/utils.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8643 fix(autoware_obstacle_stop_planner): fix unusedFunction
  planning/autoware_obstacle_stop_planner/src/debug_marker.hpp
Labels: component:planning, tag:run-build-and-test-differential

#8721 fix(static_obstacle_avoidance): change implementation the logic to remove invalid small shift lines
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/shift_line_generator.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8723 fix(autoware_universe_utils): fix unusedFunction
  common/autoware_universe_utils/src/system/backtrace.cpp
Labels: component:common, tag:run-build-and-test-differential

#8594 refactor(autoware_universe_utils): refactor Boost.Geometry alternatives
  common/autoware_universe_utils/CMakeLists.txt
  common/autoware_universe_utils/include/autoware/universe_utils/geometry/alt_geometry.hpp
  common/autoware_universe_utils/include/autoware/universe_utils/geometry/geometry.hpp
  common/autoware_universe_utils/src/geometry/alt_geometry.cpp
  common/autoware_universe_utils/src/geometry/geometry.cpp
  common/autoware_universe_utils/test/src/geometry/test_alt_geometry.cpp
  common/autoware_universe_utils/test/src/geometry/test_geometry.cpp
Labels: component:common, tag:run-build-and-test-differential

#8732 fix(autoware_behavior_path_static_obstacle_avoidance_module): fix unusedFunction
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8730 fix(autoware_path_sampler): fix unusedFunction
  planning/sampling_based_planner/autoware_path_sampler/include/autoware_path_sampler/utils/trajectory_utils.hpp
  planning/sampling_based_planner/autoware_path_sampler/src/utils/trajectory_utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8734 feat(autonomous_emergency_braking): increase aeb speed by getting last transform
  control/autoware_autonomous_emergency_braking/src/node.cpp
Labels: component:control, tag:run-build-and-test-differential

#8731 chore(autoware_lidar_centerpoint): add centerpoint sigma parameter
  perception/autoware_lidar_centerpoint/config/centerpoint_sigma.param.yaml
Labels: tag:run-build-and-test-differential

#8710 fix(mission_planner): improve condition to check if the goal is within the lane
  planning/autoware_mission_planner/src/lanelet2_plugins/default_planner.cpp
  planning/autoware_mission_planner/src/lanelet2_plugins/default_planner.hpp
  planning/autoware_mission_planner/src/lanelet2_plugins/utility_functions.cpp
  planning/autoware_mission_planner/src/lanelet2_plugins/utility_functions.hpp
Labels: component:planning, tag:run-build-and-test-differential

#8729 refactor(cuda_utils): move cuda_utils to sensing
  sensing/cuda_utils/CMakeLists.txt
  sensing/cuda_utils/README.md
  sensing/cuda_utils/include/cuda_utils/cuda_check_error.hpp
  sensing/cuda_utils/include/cuda_utils/cuda_unique_ptr.hpp
  sensing/cuda_utils/include/cuda_utils/stream_unique_ptr.hpp
  sensing/cuda_utils/package.xml
Labels: type:documentation, component:sensing, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#8684 fix(behavior_velocity_traffic_light): make dilemma_zone_plotter.py executable
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/scripts/dilemma_zone_plotter.py
Labels: component:planning, tag:run-build-and-test-differential

#8743 fix(autoware_pointcloud_preprocessor): instantiate templates so that the symbols exist when linking
  sensing/autoware_pointcloud_preprocessor/src/distortion_corrector/distortion_corrector.cpp
Labels: component:sensing, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#8738 fix(autoware_shape_estimation): resolve undefined reference to `~TrtShapeEstimator()`
  perception/autoware_shape_estimation/include/autoware/shape_estimation/tensorrt_shape_estimator.hpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#8714 feat(goal_planner): extend pull over lanes inward to extract objects
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_searcher.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_searcher_base.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/util.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_searcher.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/util.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8744 fix(compare_map_segmentation): use squared distance to compare threshold
  perception/autoware_compare_map_segmentation/src/distance_based_compare_map_filter/node.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#8736 fix(autoware_behavior_path_planner_common): fix unusedFunction
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/interface/scene_module_interface.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/interface/scene_module_manager_interface.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/interface/scene_module_interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/interface/scene_module_manager_interface.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8754 fix(static_obstacle_avoidance): ignore objects which has already been decided to avoid
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/debug.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/shift_line_generator.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8512 fix(autoware_obstacle_stop_planner): register obstacle stop planner node with autoware scoping
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/motion_planning/motion_planning.launch.xml
  planning/autoware_obstacle_stop_planner/CMakeLists.txt
Labels: component:planning, component:launch, tag:run-build-and-test-differential

#8694 feat(behavior_planning): update test map for BusStopArea and bicycle_lanes
  planning/behavior_path_planner/autoware_behavior_path_planner_common/CMakeLists.txt
  planning/behavior_path_planner/autoware_behavior_path_planner_common/test_map/road_shoulder/lanelet2_map.osm
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/test_map/intersection/lanelet2_map.osm
Labels: component:planning, tag:run-build-and-test-differential

#8758 fix(pid_longitudinal_controller): fix the same point error
  control/autoware_pid_longitudinal_controller/src/pid_longitudinal_controller.cpp
Labels: component:control, tag:run-build-and-test-differential

#8748 feat(perception_utils)!: move perception_utils from common to perception folder
  perception/perception_utils/CMakeLists.txt
  perception/perception_utils/README.md
  perception/perception_utils/include/perception_utils/prime_synchronizer.hpp
  perception/perception_utils/include/perception_utils/run_length_encoder.hpp
  perception/perception_utils/package.xml
  perception/perception_utils/src/run_length_encoder.cpp
Labels: type:documentation, component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#8575 fix(autoware_shape_estimation): fix unusedFunction
  perception/autoware_shape_estimation/CMakeLists.txt
  perception/autoware_shape_estimation/include/autoware/shape_estimation/corrector/reference_shape_size_corrector.hpp
  perception/autoware_shape_estimation/include/autoware/shape_estimation/corrector/vehicle_corrector.hpp
  perception/autoware_shape_estimation/lib/corrector/reference_shape_size_corrector.cpp
  perception/autoware_shape_estimation/lib/corrector/vehicle_corrector.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#8763 fix(goal_planner): fix typo
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8762 fix(pointcloud_preprocessor): fix typo
  sensing/autoware_pointcloud_preprocessor/launch/vector_map_inside_area_filter_node.launch.xml
Labels: component:sensing, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#8733 fix(autoware_motion_utils): fix unusedFunction
  common/autoware_motion_utils/README.md
Labels: type:documentation, component:common, tag:run-build-and-test-differential

#8653 fix(autoware_behavior_path_lane_change_module): fix unusedFunction
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/utils.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8295 feat(autoware_behavior_path_dynamic_obstacle_avoidance): expand drivable area
  planning/behavior_path_planner/autoware_behavior_path_dynamic_obstacle_avoidance_module/config/dynamic_obstacle_avoidance.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_dynamic_obstacle_avoidance_module/include/autoware/behavior_path_dynamic_obstacle_avoidance_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_dynamic_obstacle_avoidance_module/package.xml
  planning/behavior_path_planner/autoware_behavior_path_dynamic_obstacle_avoidance_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_dynamic_obstacle_avoidance_module/src/scene.cpp
Labels: type:new-feature, component:planning, tag:run-build-and-test-differential

#8719 feat(surround_obstacle_checker): integrate generate_parameter_library
  planning/autoware_surround_obstacle_checker/CMakeLists.txt
  planning/autoware_surround_obstacle_checker/package.xml
  planning/autoware_surround_obstacle_checker/param/surround_obstacle_checker_node_parameters.yaml
  planning/autoware_surround_obstacle_checker/src/node.cpp
  planning/autoware_surround_obstacle_checker/src/node.hpp
Labels: component:planning, tag:run-build-and-test-differential

#8764 fix(goal_planner): fix object extraction area
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/util.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8767 refactor(behavior_path_planner): planner data parameter initializer function
  planning/behavior_path_planner/autoware_behavior_path_planner/include/autoware/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/data_manager.hpp
Labels: component:planning, tag:run-build-and-test-differential

#8687 fix(pure_pursuit): add autoware_ prefix in launch file
  control/autoware_pure_pursuit/launch/pure_pursuit.launch.xml
Labels: component:control, tag:run-build-and-test-differential

#8772 feat(behavior_path_goal planner): add example plot for development
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/CMakeLists.txt
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/examples/plot_map.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/manager.hpp
Labels: component:planning, tag:run-build-and-test-differential

#8769 fix(autoware_image_projection_based_fusion): resolve issue with segmentation pointcloud fusion node failing with multiple mask inputs
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/segmentation_pointcloud_fusion/node.hpp
  perception/autoware_image_projection_based_fusion/src/segmentation_pointcloud_fusion/node.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#8609 feat(universe_utils): add Triangulation (ear clipping) implementation for 2D concave polygon with/without holes
  common/autoware_universe_utils/CMakeLists.txt
  common/autoware_universe_utils/include/autoware/universe_utils/geometry/ear_clipping.hpp
  common/autoware_universe_utils/include/autoware/universe_utils/geometry/random_concave_polygon.hpp
  common/autoware_universe_utils/src/geometry/ear_clipping.cpp
  common/autoware_universe_utils/src/geometry/random_concave_polygon.cpp
  common/autoware_universe_utils/src/geometry/random_convex_polygon.cpp
  common/autoware_universe_utils/test/src/geometry/test_geometry.cpp
Labels: component:common, tag:run-build-and-test-differential

#8781 refactor(custom_button): improve drop shadow effect
  common/tier4_state_rviz_plugin/src/custom_button.cpp
Labels: component:common, tag:run-build-and-test-differential

#8774 fix(autoware_surround_obstacle_checker): fix unusedFunction
  planning/autoware_surround_obstacle_checker/src/debug_marker.cpp
  planning/autoware_surround_obstacle_checker/src/debug_marker.hpp
Labels: component:planning, tag:run-build-and-test-differential

#8775 fix(autoware_behavior_path_goal_planner_module): fix unusedFunction
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/util.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/util.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8776 fix(autoware_behavior_path_static_obstacle_avoidance_module): fix unusedFunction
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8779 fix(autoware_behavior_velocity_run_out_module): fix unusedFunction
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/src/debug.hpp
Labels: component:planning, tag:run-build-and-test-differential

#8778 feat(autonomous_emergency_braking): speed up aeb
  control/autoware_autonomous_emergency_braking/include/autoware/autonomous_emergency_braking/node.hpp
  control/autoware_autonomous_emergency_braking/include/autoware/autonomous_emergency_braking/utils.hpp
  control/autoware_autonomous_emergency_braking/src/node.cpp
  control/autoware_autonomous_emergency_braking/src/utils.cpp
  control/autoware_autonomous_emergency_braking/test/test.cpp
Labels: component:control, tag:run-build-and-test-differential

#8759 docs(static_obstacle_avoidance): light edits. Typos, grammar fixes
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/images/purpose/avoidance.png
Labels: type:documentation, component:planning, tag:deploy-docs, tag:run-build-and-test-differential

#8751 perf(autoware_map_based_prediction): replace pow
  perception/autoware_map_based_prediction/src/path_generator.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#8725 fix(autoware_compare_map_segmentation): fix unusedFunction
  perception/autoware_compare_map_segmentation/src/voxel_grid_map_loader/voxel_grid_map_loader.hpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#8436 feat(autoware_mpc_lateral_controller): add predicted trajectory acconts for input delay
  control/autoware_mpc_lateral_controller/README.md
  control/autoware_mpc_lateral_controller/include/autoware/mpc_lateral_controller/mpc.hpp
  control/autoware_mpc_lateral_controller/param/lateral_controller_defaults.param.yaml
  control/autoware_mpc_lateral_controller/src/mpc.cpp
  control/autoware_mpc_lateral_controller/src/mpc_lateral_controller.cpp
  control/autoware_trajectory_follower_node/param/lateral/mpc.param.yaml
Labels: type:documentation, component:control, tag:run-build-and-test-differential

#8768 feat(autoware_motion_utils): set zero velocity after stop in resample trajectory
  common/autoware_motion_utils/src/resample/resample.cpp
  common/autoware_motion_utils/test/src/resample/test_resample.cpp
Labels: component:common, tag:run-build-and-test-differential

#8766 feat(ndt_scan_matcher, ekf_localizer): fix some code for deterministic test
  localization/ekf_localizer/README.md
  localization/ekf_localizer/include/ekf_localizer/ekf_localizer.hpp
  localization/ekf_localizer/media/ekf_diagnostics_callback_pose.png
  localization/ekf_localizer/media/ekf_diagnostics_callback_twist.png
  localization/ekf_localizer/src/ekf_localizer.cpp
  localization/localization_util/src/tree_structured_parzen_estimator.cpp
  localization/ndt_scan_matcher/include/ndt_scan_matcher/ndt_scan_matcher_core.hpp
Labels: type:documentation, component:localization, tag:run-build-and-test-differential

#8726 fix(static_obstacle_avoidance): improve turn signal output timing when the ego returns original lane
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/debug.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/debug.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8270 test(autoware_behavior_path_planner_common): add tests for calcInterpolatedPoseWithVelocity
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/path_safety_checker/safety_check.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/test/test_safety_check.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8800 chore(ci): update lanelet2_extension version for build
  build_depends.repos
Labels: tag:run-build-and-test-differential

#8799 fix(motion_velocity_planner): relax test precision to prevent random failures
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common/test/test_collision_checker.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8788 fix(autoware_frenet_planner): fix unusedFunction
  planning/sampling_based_planner/autoware_frenet_planner/include/autoware_frenet_planner/frenet_planner.hpp
  planning/sampling_based_planner/autoware_frenet_planner/src/frenet_planner/frenet_planner.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8224 refactor(autoware_external_cmd_converter): add explanation about external control commands
  vehicle/autoware_external_cmd_converter/README.md
Labels: type:documentation, component:vehicle, tag:run-build-and-test-differential

#8602 feat(autoware_map_based_prediction): improve frenet path generation
  perception/autoware_map_based_prediction/include/map_based_prediction/map_based_prediction_node.hpp
  perception/autoware_map_based_prediction/include/map_based_prediction/path_generator.hpp
  perception/autoware_map_based_prediction/src/map_based_prediction_node.cpp
  perception/autoware_map_based_prediction/src/path_generator.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#8807 fix(autoware_frenet_planner): fix build error
  planning/sampling_based_planner/autoware_frenet_planner/include/autoware_frenet_planner/frenet_planner.hpp
  planning/sampling_based_planner/autoware_frenet_planner/src/frenet_planner/frenet_planner.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8472 refactor(autoware_pointcloud_preprocessor): rework ring passthrough filter parameters
  sensing/autoware_pointcloud_preprocessor/CMakeLists.txt
  sensing/autoware_pointcloud_preprocessor/config/passthrough_filter_uint16_node.param.yaml
  sensing/autoware_pointcloud_preprocessor/docs/passthrough-filter.md
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/passthrough_filter/passthrough_filter_node.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/passthrough_filter/passthrough_filter_uint16_node.hpp
  sensing/autoware_pointcloud_preprocessor/launch/ring_passthrough_filter.launch.xml
  sensing/autoware_pointcloud_preprocessor/schema/passthrough_filter_uint16_node.schema.json
  sensing/autoware_pointcloud_preprocessor/src/passthrough_filter/passthrough_filter_node.cpp
  sensing/autoware_pointcloud_preprocessor/src/passthrough_filter/passthrough_filter_uint16_node.cpp
Labels: type:documentation, component:sensing, tag:deploy-docs, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#8777 feat(map loader): visualize bus stop area and bicycle_lane
  map/map_loader/package.xml
  map/map_loader/src/lanelet2_map_loader/lanelet2_map_visualization_node.cpp
Labels: component:map, tag:run-build-and-test-differential

#8597 feat(occupancy_grid_map_outlier_filter): add time_keeper
  perception/autoware_occupancy_grid_map_outlier_filter/config/occupancy_grid_map_outlier_filter.param.yaml
  perception/autoware_occupancy_grid_map_outlier_filter/src/occupancy_grid_map_outlier_filter_node.cpp
  perception/autoware_occupancy_grid_map_outlier_filter/src/occupancy_grid_map_outlier_filter_node.hpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#8808 revert(autoware_map_based_prediction): revert improve frenet path gen
  perception/autoware_map_based_prediction/include/map_based_prediction/map_based_prediction_node.hpp
  perception/autoware_map_based_prediction/include/map_based_prediction/path_generator.hpp
  perception/autoware_map_based_prediction/src/map_based_prediction_node.cpp
  perception/autoware_map_based_prediction/src/path_generator.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#8811 feat(autoware_map_based_prediction): improve frenet path generation
  perception/autoware_map_based_prediction/include/map_based_prediction/map_based_prediction_node.hpp
  perception/autoware_map_based_prediction/include/map_based_prediction/path_generator.hpp
  perception/autoware_map_based_prediction/src/map_based_prediction_node.cpp
  perception/autoware_map_based_prediction/src/path_generator.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#8794 feat(goal_planner): add getBusStopAreaPolygons
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_searcher.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_searcher.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8792 fix(motion_planning): align the parameters with launcher
  planning/autoware_obstacle_cruise_planner/config/obstacle_cruise_planner.param.yaml
  planning/autoware_path_optimizer/config/path_optimizer.param.yaml
  planning/autoware_path_smoother/config/elastic_band_smoother.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/config/out_of_lane.param.yaml
Labels: component:planning, tag:run-build-and-test-differential

#8791 fix(behavior_velocity_planner): align the parameters with launcher
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/config/crosswalk.param.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_occlusion_spot_module/config/occlusion_spot.param.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/config/run_out.param.yaml
Labels: component:planning, tag:run-build-and-test-differential

#8790 fix(autoware_behavior_path_planner): align the parameters with launcher
  planning/behavior_path_planner/autoware_behavior_path_dynamic_obstacle_avoidance_module/config/dynamic_obstacle_avoidance.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/config/goal_planner.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/config/lane_change.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_planner/config/behavior_path_planner.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_planner/config/drivable_area_expansion.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_planner/config/scene_module_manager.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_sampling_planner_module/config/sampling_planner.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/config/start_planner.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/config/static_obstacle_avoidance.param.yaml
Labels: component:planning, tag:run-build-and-test-differential

#8601 feat(probabilistic_occupancy_grid_map): add time_keeper
  perception/autoware_probabilistic_occupancy_grid_map/config/laserscan_based_occupancy_grid_map.param.yaml
  perception/autoware_probabilistic_occupancy_grid_map/config/multi_lidar_pointcloud_based_occupancy_grid_map.param.yaml
  perception/autoware_probabilistic_occupancy_grid_map/config/pointcloud_based_occupancy_grid_map.param.yaml
  perception/autoware_probabilistic_occupancy_grid_map/config/synchronized_grid_map_fusion_node.param.yaml
  perception/autoware_probabilistic_occupancy_grid_map/launch/multi_lidar_pointcloud_based_occupancy_grid_map.launch.py
  perception/autoware_probabilistic_occupancy_grid_map/src/fusion/synchronized_grid_map_fusion_node.cpp
  perception/autoware_probabilistic_occupancy_grid_map/src/fusion/synchronized_grid_map_fusion_node.hpp
  perception/autoware_probabilistic_occupancy_grid_map/src/laserscan_based_occupancy_grid_map/laserscan_based_occupancy_grid_map_node.cpp
  perception/autoware_probabilistic_occupancy_grid_map/src/laserscan_based_occupancy_grid_map/laserscan_based_occupancy_grid_map_node.hpp
  perception/autoware_probabilistic_occupancy_grid_map/src/pointcloud_based_occupancy_grid_map/pointcloud_based_occupancy_grid_map_node.cpp
  perception/autoware_probabilistic_occupancy_grid_map/src/pointcloud_based_occupancy_grid_map/pointcloud_based_occupancy_grid_map_node.hpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#8795 feat(goal_planner): dense goal candidate sampling in BusStopArea
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/CMakeLists.txt
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/config/goal_planner.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_parameters.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_searcher.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/util.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/package.xml
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_searcher.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/util.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/test/test_util.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8715 feat(goal_planner): execute goal planner if previous module path terminal is pull over neighboring lane
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#8582 fix(autoware_component_monitor): fix unusedFunction
  system/autoware_component_monitor/src/unit_conversions.hpp
Labels: component:system, tag:run-build-and-test-differential

#8585 feat(ground_segmentation): add time_keeper
  perception/autoware_ground_segmentation/config/ground_segmentation.param.yaml
  perception/autoware_ground_segmentation/config/ransac_ground_filter.param.yaml
  perception/autoware_ground_segmentation/config/ray_ground_filter.param.yaml
  perception/autoware_ground_segmentation/config/scan_ground_filter.param.yaml
  perception/autoware_ground_segmentation/package.xml
  perception/autoware_ground_segmentation/src/ransac_ground_filter/node.cpp
  perception/autoware_ground_segmentation/src/ransac_ground_filter/node.hpp
  perception/autoware_ground_segmentation/src/ray_ground_filter/node.cpp
  perception/autoware_ground_segmentation/src/ray_ground_filter/node.hpp
  perception/autoware_ground_segmentation/src/scan_ground_filter/node.cpp
  perception/autoware_ground_segmentation/src/scan_ground_filter/node.hpp
  perception/autoware_ground_segmentation/test/test_ransac_ground_filter.cpp
  perception/autoware_ground_segmentation/test/test_ray_ground_filter.cpp
  perception/autoware_ground_segmentation/test/test_scan_ground_filter.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#8820 refactor(autoware_lidar_centerpoint): use std::size_t instead of size_t
  perception/autoware_lidar_centerpoint/include/autoware/lidar_centerpoint/cuda_utils.hpp
  perception/autoware_lidar_centerpoint/include/autoware/lidar_centerpoint/network/tensorrt_wrapper.hpp
  perception/autoware_lidar_centerpoint/include/autoware/lidar_centerpoint/preprocess/pointcloud_densification.hpp
  perception/autoware_lidar_centerpoint/include/autoware/lidar_centerpoint/preprocess/preprocess_kernel.hpp
  perception/autoware_lidar_centerpoint/lib/network/tensorrt_wrapper.cpp
  perception/autoware_lidar_centerpoint/lib/preprocess/preprocess_kernel.cu
  perception/autoware_lidar_centerpoint/lib/preprocess/voxel_generator.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#8819 fix(tier4_camera_view_rviz_plugin): fix uninitMemberVar
  common/tier4_camera_view_rviz_plugin/src/bird_eye_view_tool.cpp
  common/tier4_camera_view_rviz_plugin/src/third_person_view_tool.cpp
Labels: component:common, tag:run-build-and-test-differential

#8825 docs(map_loader): update the link of map_projection_loader
  map/map_loader/README.md
Labels: type:documentation, component:map, tag:run-build-and-test-differential

#8683 refactor(tier4_localization_rviz_plugin): apply static analysis
  common/tier4_localization_rviz_plugin/src/pose_history/pose_history_display.cpp
  common/tier4_localization_rviz_plugin/src/pose_history/pose_history_display.hpp
  common/tier4_localization_rviz_plugin/src/pose_history_footprint/display.cpp
  common/tier4_localization_rviz_plugin/src/pose_history_footprint/display.hpp
  common/tier4_localization_rviz_plugin/src/pose_with_covariance_history/pose_with_covariance_history_display.cpp
  common/tier4_localization_rviz_plugin/src/pose_with_covariance_history/pose_with_covariance_history_display.hpp
Labels: component:common, tag:run-build-and-test-differential

#8816 fix(autoware_test_utils): fix unusedFunction
  common/autoware_test_utils/src/autoware_test_utils.cpp
Labels: component:common, tag:run-build-and-test-differential

#8824 fix(tier4_localization_rviz_plugin): fix knownConditionTrueFalse
  common/tier4_localization_rviz_plugin/src/pose_history_footprint/display.cpp
Labels: component:common, tag:run-build-and-test-differential

#8814 feat(autoware_lidar_centerpoint): shuffled points before feeding them to the model
  perception/autoware_lidar_centerpoint/include/autoware/lidar_centerpoint/centerpoint_trt.hpp
  perception/autoware_lidar_centerpoint/include/autoware/lidar_centerpoint/cuda_utils.hpp
  perception/autoware_lidar_centerpoint/include/autoware/lidar_centerpoint/preprocess/preprocess_kernel.hpp
  perception/autoware_lidar_centerpoint/lib/centerpoint_trt.cpp
  perception/autoware_lidar_centerpoint/lib/preprocess/preprocess_kernel.cu
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#8831 fix(tier4_state_rviz_plugin): fix shadowVariable
  common/tier4_state_rviz_plugin/src/autoware_state_panel.cpp
Labels: component:common, tag:run-build-and-test-differential

#8818 fix(tier4_perception_rviz_plugin): relocate tier4_perception_rviz_plugin and rename it to tier4_dummy_object_rviz_plugin
  .github/CODEOWNERS
  common/.pages
  simulator/tier4_dummy_object_rviz_plugin/CMakeLists.txt
  simulator/tier4_dummy_object_rviz_plugin/README.md
  simulator/tier4_dummy_object_rviz_plugin/icons/classes/BikeInitialPoseTool.png
  simulator/tier4_dummy_object_rviz_plugin/icons/classes/BusInitialPoseTool.png
  simulator/tier4_dummy_object_rviz_plugin/icons/classes/CarInitialPoseTool.png
  simulator/tier4_dummy_object_rviz_plugin/icons/classes/DeleteAllObjectsTool.png
  simulator/tier4_dummy_object_rviz_plugin/icons/classes/PedestrianInitialPoseTool.png
  simulator/tier4_dummy_object_rviz_plugin/icons/classes/UnknownInitialPoseTool.png
  simulator/tier4_dummy_object_rviz_plugin/images/select_add.png
  simulator/tier4_dummy_object_rviz_plugin/images/select_dummy_car.png
  simulator/tier4_dummy_object_rviz_plugin/images/select_plugin.png
  simulator/tier4_dummy_object_rviz_plugin/images/tool_properties.png
  simulator/tier4_dummy_object_rviz_plugin/package.xml
  simulator/tier4_dummy_object_rviz_plugin/plugins/plugin_description.xml
  simulator/tier4_dummy_object_rviz_plugin/src/tools/car_pose.cpp
  simulator/tier4_dummy_object_rviz_plugin/src/tools/car_pose.hpp
  simulator/tier4_dummy_object_rviz_plugin/src/tools/delete_all_objects.cpp
  simulator/tier4_dummy_object_rviz_plugin/src/tools/delete_all_objects.hpp
  simulator/tier4_dummy_object_rviz_plugin/src/tools/interactive_object.cpp
  simulator/tier4_dummy_object_rviz_plugin/src/tools/interactive_object.hpp
  simulator/tier4_dummy_object_rviz_plugin/src/tools/pedestrian_pose.cpp
  simulator/tier4_dummy_object_rviz_plugin/src/tools/pedestrian_pose.hpp
  simulator/tier4_dummy_object_rviz_plugin/src/tools/unknown_pose.cpp
  simulator/tier4_dummy_object_rviz_plugin/src/tools/unknown_pose.hpp
  simulator/tier4_dummy_object_rviz_plugin/src/tools/util.cpp
  simulator/tier4_dummy_object_rviz_plugin/src/tools/util.hpp
Labels: type:documentation, type:ci, component:simulation, tag:run-build-and-test-differential

#8832 fix(tier4_state_rviz_plugin): fix constVariablePointer
  common/tier4_state_rviz_plugin/src/autoware_state_panel.cpp
Labels: component:common, tag:run-build-and-test-differential

#8833 fix(ndt_scan_matcher): improve error message in ndt_scan_matcher
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
Labels: component:localization, tag:run-build-and-test-differential

#8830 fix(tier4_dummy_object_rviz_plugin): fix functionConst
  simulator/tier4_dummy_object_rviz_plugin/src/tools/interactive_object.cpp
  simulator/tier4_dummy_object_rviz_plugin/src/tools/interactive_object.hpp
Labels: component:simulation, tag:run-build-and-test-differential

#8838 fix(tier4_localization_rviz_plugin): fix constVariableReference
  common/tier4_localization_rviz_plugin/src/pose_history_footprint/display.cpp
Labels: component:common, tag:run-build-and-test-differential

#8812 refactor(goal_planner): reduce call to isSafePath
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8809 refactor(cluster_merger): remove unused variable and rename topic
  perception/autoware_cluster_merger/launch/cluster_merger.launch.xml
  perception/autoware_cluster_merger/src/cluster_merger_node.cpp
  perception/autoware_cluster_merger/src/cluster_merger_node.hpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#8543 fix(localization_error_monitor, system diag): fix to use diagnostics_module in localization_util
  localization/autoware_localization_error_monitor/CMakeLists.txt
  localization/autoware_localization_error_monitor/media/diagnostics.png
  localization/autoware_localization_error_monitor/src/diagnostics.hpp
  localization/autoware_localization_error_monitor/src/diagnostics_helper.hpp
  localization/autoware_localization_error_monitor/src/localization_error_monitor.cpp
  localization/autoware_localization_error_monitor/src/localization_error_monitor.hpp
  localization/autoware_localization_error_monitor/test/test_diagnostics.cpp
  system/system_diagnostic_monitor/config/localization.yaml
  system/system_error_monitor/config/diagnostic_aggregator/localization.param.yaml
Labels: type:documentation, component:localization, component:system, tag:run-build-and-test-differential

#8815 feat(autoware_lidar_transfusion): shuffled points before feeding them to the model
  perception/autoware_lidar_transfusion/include/autoware/lidar_transfusion/cuda_utils.hpp
  perception/autoware_lidar_transfusion/include/autoware/lidar_transfusion/network/network_trt.hpp
  perception/autoware_lidar_transfusion/include/autoware/lidar_transfusion/preprocess/pointcloud_densification.hpp
  perception/autoware_lidar_transfusion/include/autoware/lidar_transfusion/preprocess/preprocess_kernel.hpp
  perception/autoware_lidar_transfusion/include/autoware/lidar_transfusion/preprocess/voxel_generator.hpp
  perception/autoware_lidar_transfusion/include/autoware/lidar_transfusion/transfusion_trt.hpp
  perception/autoware_lidar_transfusion/lib/preprocess/preprocess_kernel.cu
  perception/autoware_lidar_transfusion/lib/transfusion_trt.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#8835 fix(autoware_behavior_velocity_intersection_module): fix virtualCallInConstructor
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/manager.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8836 fix(autoware_behavior_velocity_intersection_module): fix unreadVariable
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/manager.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8844 fix(tier4_dummy_object_rviz_plugin): fix unusedFunction
  simulator/tier4_dummy_object_rviz_plugin/src/tools/delete_all_objects.cpp
Labels: component:simulation, tag:run-build-and-test-differential

#8845 fix(tier4_state_rviz_plugin): fix unusedFunction
  common/tier4_state_rviz_plugin/src/include/autoware_state_panel.hpp
Labels: component:common, tag:run-build-and-test-differential

#8770 feat(external_velocity_limit_selector): integrate generate_parameter_library
  planning/autoware_external_velocity_limit_selector/CMakeLists.txt
  planning/autoware_external_velocity_limit_selector/include/autoware/external_velocity_limit_selector/external_velocity_limit_selector_node.hpp
  planning/autoware_external_velocity_limit_selector/package.xml
  planning/autoware_external_velocity_limit_selector/param/external_velocity_limit_selector_parameters.yaml
  planning/autoware_external_velocity_limit_selector/src/external_velocity_limit_selector_node.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8789 fix(control): align the parameters with launcher
  control/autoware_autonomous_emergency_braking/config/autonomous_emergency_braking.param.yaml
  control/autoware_control_validator/config/control_validator.param.yaml
  control/autoware_lane_departure_checker/config/lane_departure_checker.param.yaml
  control/autoware_trajectory_follower_node/param/lateral/mpc.param.yaml
  control/autoware_trajectory_follower_node/param/longitudinal/pid.param.yaml
  control/autoware_vehicle_cmd_gate/config/vehicle_cmd_gate.param.yaml
  control/obstacle_collision_checker/config/obstacle_collision_checker.param.yaml
Labels: component:control, tag:run-build-and-test-differential

#8793 fix(other_planning_packages): align the parameters with launcher
  planning/autoware_costmap_generator/config/costmap_generator.param.yaml
  planning/autoware_freespace_planner/config/freespace_planner.param.yaml
  planning/autoware_obstacle_stop_planner/config/common.param.yaml
  planning/autoware_obstacle_stop_planner/config/obstacle_stop_planner.param.yaml
  planning/autoware_obstacle_stop_planner/schema/obstacle_stop_planner.schema.json
  planning/autoware_static_centerline_generator/config/common.param.yaml
  planning/autoware_surround_obstacle_checker/config/surround_obstacle_checker.param.yaml
Labels: component:planning, tag:run-build-and-test-differential

#8757 feat(mission_planner): add option to prevent rerouting in autonomous driving mode
  planning/autoware_mission_planner/README.md
  planning/autoware_mission_planner/config/mission_planner.param.yaml
  planning/autoware_mission_planner/src/mission_planner/mission_planner.cpp
  planning/autoware_mission_planner/src/mission_planner/mission_planner.hpp
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#8666 fix(autoware_behavior_velocity_intersection_module): fix unusedFunction
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/debug.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/util.hpp
Labels: component:planning, tag:run-build-and-test-differential

#8840 fix(tier4_adapi_rviz_plugin): fix unusedFunction
  common/tier4_adapi_rviz_plugin/src/state_panel.cpp
Labels: component:common, tag:run-build-and-test-differential

#8823 docs(map_loader): update the link of pointcloud_divider
  map/map_loader/README.md
Labels: type:documentation, component:map, tag:run-build-and-test-differential

#8810 chore(cluster_merger): add node test
  perception/autoware_cluster_merger/CMakeLists.txt
  perception/autoware_cluster_merger/package.xml
  perception/autoware_cluster_merger/test/test_cluster_merger.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#8822 docs(static_obstacle_avoidance): update envelope polygon creation
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/images/path_generation/polygon_update.png
Labels: type:documentation, component:planning, tag:deploy-docs, tag:run-build-and-test-differential

#8828 fix(dummy_perception_publisher, tier4_dummy_object_rviz_plugin): separate dummy object msg
  simulator/dummy_perception_publisher/CMakeLists.txt
  simulator/dummy_perception_publisher/README.md
  simulator/dummy_perception_publisher/include/dummy_perception_publisher/node.hpp
  simulator/dummy_perception_publisher/msg/InitialState.msg
  simulator/dummy_perception_publisher/msg/Object.msg
  simulator/dummy_perception_publisher/package.xml
  simulator/dummy_perception_publisher/src/node.cpp
  simulator/tier4_dummy_object_rviz_plugin/README.md
  simulator/tier4_dummy_object_rviz_plugin/package.xml
  simulator/tier4_dummy_object_rviz_plugin/src/tools/car_pose.cpp
  simulator/tier4_dummy_object_rviz_plugin/src/tools/car_pose.hpp
  simulator/tier4_dummy_object_rviz_plugin/src/tools/delete_all_objects.cpp
  simulator/tier4_dummy_object_rviz_plugin/src/tools/delete_all_objects.hpp
  simulator/tier4_dummy_object_rviz_plugin/src/tools/interactive_object.cpp
  simulator/tier4_dummy_object_rviz_plugin/src/tools/interactive_object.hpp
  simulator/tier4_dummy_object_rviz_plugin/src/tools/pedestrian_pose.cpp
  simulator/tier4_dummy_object_rviz_plugin/src/tools/pedestrian_pose.hpp
  simulator/tier4_dummy_object_rviz_plugin/src/tools/unknown_pose.cpp
  simulator/tier4_dummy_object_rviz_plugin/src/tools/unknown_pose.hpp
Labels: type:documentation, component:simulation, tag:run-build-and-test-differential

#8857 fix(autoware_test_utils): fix unusedFunction
  common/autoware_test_utils/src/autoware_test_utils.cpp
  common/autoware_test_utils/src/mock_data_parser.cpp
Labels: component:common, tag:run-build-and-test-differential

#8858 fix(autoware_object_merger): default merger priority within enum range
  perception/autoware_object_merger/config/object_association_merger.param.yaml
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#8705 refactor(ekf_localizer): moved Simple1DFilter from ekf_localizer to ekf_module
  localization/ekf_localizer/include/ekf_localizer/ekf_localizer.hpp
  localization/ekf_localizer/include/ekf_localizer/ekf_module.hpp
  localization/ekf_localizer/src/ekf_localizer.cpp
  localization/ekf_localizer/src/ekf_module.cpp
Labels: component:localization, tag:run-build-and-test-differential

#8863 feat(start_planner): add skip_rear_vehicle_check parameter
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/config/start_planner.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/include/autoware/behavior_path_start_planner_module/data_structs.hpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#8865 feat(autonomous_emergency_braking): add markers showing aeb convex hull polygons for debugging purposes
  control/autoware_autonomous_emergency_braking/include/autoware/autonomous_emergency_braking/node.hpp
  control/autoware_autonomous_emergency_braking/include/autoware/autonomous_emergency_braking/utils.hpp
  control/autoware_autonomous_emergency_braking/src/node.cpp
  control/autoware_autonomous_emergency_braking/src/utils.cpp
  control/autoware_autonomous_emergency_braking/test/test.cpp
Labels: component:control, tag:run-build-and-test-differential

#8855 feat(rtc_interface, lane_change): check state transition for cooperate status
  planning/autoware_rtc_interface/src/rtc_interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/interface.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8867 chore(autoware_component_monitor): add maintainers
  system/autoware_component_monitor/package.xml
Labels: component:system, tag:run-build-and-test-differential

#8487 refactor(autoware_pointcloud_preprocessor): rework pointcloud accumulator parameters
  sensing/autoware_pointcloud_preprocessor/CMakeLists.txt
  sensing/autoware_pointcloud_preprocessor/config/pointcloud_accumulator_node.param.yaml
  sensing/autoware_pointcloud_preprocessor/docs/pointcloud-accumulator.md
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/pointcloud_accumulator/pointcloud_accumulator_node.hpp
  sensing/autoware_pointcloud_preprocessor/launch/pointcloud_accumulator_node.launch.xml
  sensing/autoware_pointcloud_preprocessor/schema/pointcloud_accumulator_node.schema.json
  sensing/autoware_pointcloud_preprocessor/src/pointcloud_accumulator/pointcloud_accumulator_node.cpp
Labels: type:documentation, component:sensing, tag:deploy-docs, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#8827 feat(costmap_generator): integrate generate_parameter_library
  planning/autoware_costmap_generator/CMakeLists.txt
  planning/autoware_costmap_generator/include/autoware_costmap_generator/costmap_generator.hpp
  planning/autoware_costmap_generator/nodes/autoware_costmap_generator/costmap_generator_node.cpp
  planning/autoware_costmap_generator/package.xml
  planning/autoware_costmap_generator/param/costmap_generator_node_parameters.yaml
Labels: component:planning, tag:run-build-and-test-differential

#8839 perf(motion_velocity_planner): fix heavy resampling and transform lookup
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node/src/node.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node/src/node.hpp
Labels: component:planning, tag:run-build-and-test-differential

#8873 docs(autonomous_emergency_braking): make a clearer image for aeb when localization is faulty
  control/autoware_autonomous_emergency_braking/image/wrong-mpc.drawio.svg
Labels: tag:deploy-docs, tag:run-build-and-test-differential

#8786 fix(autoware_behavior_path_goal_planner_module): fix unusedFunction
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/util.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/util.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8798 perf(motion_velocity_smoother): remove some heavy debug logging
  planning/autoware_velocity_smoother/src/smoother/analytical_jerk_constrained_smoother/velocity_planning_utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8853 feat(crosswalk)!: update stop position caluculation
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/README.md
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/config/crosswalk.param.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
Labels: type:documentation, component:planning, tag:deploy-docs, tag:run-build-and-test-differential

#8746 refactor(autoware_planning_evaluator): devops node dojo
  evaluator/autoware_planning_evaluator/CMakeLists.txt
  evaluator/autoware_planning_evaluator/README.md
  evaluator/autoware_planning_evaluator/config/planning_evaluator.param.yaml
  evaluator/autoware_planning_evaluator/launch/planning_evaluator.launch.xml
  evaluator/autoware_planning_evaluator/schema/autoware_planning_evaluator.schema.json
  evaluator/autoware_planning_evaluator/test/test_planning_evaluator_node.cpp
Labels: type:documentation, tag:deploy-docs, component:evaluator, tag:run-build-and-test-differential

#8834 fix(autoware_behavior_path_planner): fix syntaxError
  planning/behavior_path_planner/autoware_behavior_path_planner/src/behavior_path_planner_node.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8885 fix(blind_spot): hide debug information
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8880 feat(signal_processing): add set gain function
  common/signal_processing/include/signal_processing/lowpass_filter_1d.hpp
  common/signal_processing/src/lowpass_filter_1d.cpp
Labels: component:common, tag:run-build-and-test-differential

#8883 fix(rtc_interface): update cooperateStatus state transition
  planning/autoware_rtc_interface/src/rtc_interface.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8801 fix(lanelet2_map_preprocessor): remove lanelet2_map_preprocessor package
  map/util/lanelet2_map_preprocessor/CMakeLists.txt
  map/util/lanelet2_map_preprocessor/README.md
  map/util/lanelet2_map_preprocessor/config/fix_z_value_by_pcd.param.yaml
  map/util/lanelet2_map_preprocessor/config/transform_maps.param.yaml
  map/util/lanelet2_map_preprocessor/launch/fix_z_value_by_pcd.launch.xml
  map/util/lanelet2_map_preprocessor/launch/transform_maps.launch.xml
  map/util/lanelet2_map_preprocessor/package.xml
  map/util/lanelet2_map_preprocessor/schema/transform_maps.schema.json
  map/util/lanelet2_map_preprocessor/src/fix_lane_change_tags.cpp
  map/util/lanelet2_map_preprocessor/src/fix_z_value_by_pcd.cpp
  map/util/lanelet2_map_preprocessor/src/merge_close_lines.cpp
  map/util/lanelet2_map_preprocessor/src/merge_close_points.cpp
  map/util/lanelet2_map_preprocessor/src/remove_unreferenced_geometry.cpp
  map/util/lanelet2_map_preprocessor/src/transform_maps.cpp
Labels: type:documentation, component:map, tag:run-build-and-test-differential

#8887 test(lane_departure_checker): add tests for cutTrajectory
  control/autoware_lane_departure_checker/CMakeLists.txt
  control/autoware_lane_departure_checker/include/autoware/lane_departure_checker/lane_departure_checker.hpp
  control/autoware_lane_departure_checker/include/autoware/lane_departure_checker/utils.hpp
  control/autoware_lane_departure_checker/package.xml
  control/autoware_lane_departure_checker/src/lane_departure_checker_node/lane_departure_checker.cpp
  control/autoware_lane_departure_checker/src/lane_departure_checker_node/utils.cpp
  control/autoware_lane_departure_checker/test/test_cut_trajectory.cpp
Labels: component:control, tag:run-build-and-test-differential

#8895 test(lane_departure_checker): add tests for resampleTrajectory
  control/autoware_lane_departure_checker/include/autoware/lane_departure_checker/lane_departure_checker.hpp
  control/autoware_lane_departure_checker/include/autoware/lane_departure_checker/utils.hpp
  control/autoware_lane_departure_checker/src/lane_departure_checker_node/lane_departure_checker.cpp
  control/autoware_lane_departure_checker/src/lane_departure_checker_node/utils.cpp
  control/autoware_lane_departure_checker/test/test_cut_trajectory.cpp
  control/autoware_lane_departure_checker/test/test_resample_trajectory.cpp
Labels: component:control, tag:run-build-and-test-differential

#8856 feat(ndt_scan_matcher): visualize matching score each point
  localization/ndt_scan_matcher/include/ndt_scan_matcher/ndt_scan_matcher_core.hpp
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
Labels: component:localization, tag:run-build-and-test-differential

#8896 fix: removed access to unused ROS_VERSION environment variable.
  simulator/autoware_carla_interface/CMakeLists.txt
  simulator/autoware_carla_interface/setup.py
Labels: component:simulation, tag:run-build-and-test-differential

#8884 fix(bvp): fix rtc state update logic
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/src/scene_module_interface.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8708 chore(autoware_vehicle_info_utils): move package to common directory
  common/autoware_vehicle_info_utils/CMakeLists.txt
  common/autoware_vehicle_info_utils/Readme.md
  common/autoware_vehicle_info_utils/config/polygon_remover.yaml
  common/autoware_vehicle_info_utils/config/vehicle_info.param.yaml
  common/autoware_vehicle_info_utils/config/vehicle_mirror.param.yaml
  common/autoware_vehicle_info_utils/include/autoware_vehicle_info_utils/vehicle_info.hpp
  common/autoware_vehicle_info_utils/include/autoware_vehicle_info_utils/vehicle_info_utils.hpp
  common/autoware_vehicle_info_utils/launch/sample.launch.py
  common/autoware_vehicle_info_utils/launch/vehicle_info.launch.py
  common/autoware_vehicle_info_utils/package.xml
  common/autoware_vehicle_info_utils/scripts/min_turning_radius_calculator.py
  common/autoware_vehicle_info_utils/src/vehicle_info.cpp
  common/autoware_vehicle_info_utils/src/vehicle_info_utils.cpp
Labels: type:documentation, component:common, tag:run-build-and-test-differential

#8846 style: update state panel plugin
  common/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/src/speed_limit_display.cpp
  common/tier4_state_rviz_plugin/src/autoware_state_panel.cpp
  common/tier4_state_rviz_plugin/src/custom_button.cpp
  common/tier4_state_rviz_plugin/src/custom_segmented_button_item.cpp
  common/tier4_state_rviz_plugin/src/custom_slider.cpp
  common/tier4_state_rviz_plugin/src/custom_toggle_switch.cpp
  common/tier4_state_rviz_plugin/src/include/custom_button.hpp
  common/tier4_state_rviz_plugin/src/include/custom_segmented_button_item.hpp
  common/tier4_state_rviz_plugin/src/include/custom_toggle_switch.hpp
  common/tier4_state_rviz_plugin/src/include/material_colors.hpp
Labels: component:common, tag:run-build-and-test-differential

#8899 fix(behavior_path_planner): fix rtc state update logic
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/interface/scene_module_interface.hpp
Labels: component:planning, tag:run-build-and-test-differential

#8886 perf(costmap_generator): prevent long transform lookup and add timekeeper
  planning/autoware_costmap_generator/include/autoware_costmap_generator/costmap_generator.hpp
  planning/autoware_costmap_generator/nodes/autoware_costmap_generator/costmap_generator_node.cpp
  planning/autoware_costmap_generator/nodes/autoware_costmap_generator/object_map_utils.cpp
  planning/autoware_costmap_generator/package.xml
Labels: component:planning, tag:run-build-and-test-differential

#8901 fix(static_obstacle_avoidance): update UUID when candidate shift is empty
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/scene.hpp
Labels: component:planning, tag:run-build-and-test-differential
