Repository autowarefoundation/autoware_universe, pull requests merged in 2024-08, with the labels that each got.

#8272 fix(autoware_lidar_centerpoint): place device vector in CUDA device system
  perception/autoware_lidar_centerpoint/include/autoware/lidar_centerpoint/postprocess/postprocess_kernel.hpp
  perception/autoware_lidar_centerpoint/lib/postprocess/postprocess_kernel.cu
Labels: component:perception, tag:run-build-and-test-differential

#8273 fix(autoware_lidar_transfusion): place device vector in CUDA device system
  perception/autoware_lidar_transfusion/include/autoware/lidar_transfusion/postprocess/postprocess_kernel.hpp
  perception/autoware_lidar_transfusion/lib/postprocess/postprocess_kernel.cu
Labels: component:perception, tag:run-build-and-test-differential

#8023 fix(autoware_behavior_velocity_intersection_module): fix funcArgNamesDifferent
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/object_manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/object_manager.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection.hpp
Labels: component:planning, tag:run-build-and-test-differential

#8244 fix(learning_based_vehicle_model): fix passedByValue
  simulator/learning_based_vehicle_model/include/learning_based_vehicle_model/model_connections_helpers.hpp
  simulator/learning_based_vehicle_model/src/model_connections_helpers.cpp
Labels: component:simulation, tag:run-build-and-test-differential

#8291 fix(autoware_ground_segmentation): fix functionConst
  perception/autoware_ground_segmentation/src/scan_ground_filter/node.hpp
Labels: component:perception, tag:run-build-and-test-differential

#8287 fix(autoware_radar_fusion_to_detected_object): fix functionConst
  perception/autoware_radar_fusion_to_detected_object/src/include/radar_fusion_to_detected_object.hpp
  perception/autoware_radar_fusion_to_detected_object/src/radar_fusion_to_detected_object.cpp
Labels: component:perception, tag:run-build-and-test-differential

#8281 fix(autoware_freespace_planning_algorithms): fix functionConst
  planning/autoware_freespace_planning_algorithms/include/autoware/freespace_planning_algorithms/astar_search.hpp
  planning/autoware_freespace_planning_algorithms/src/astar_search.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8284 fix(autoware_behavior_velocity_run_out_module): fix functionConst
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/src/debug.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/src/debug.hpp
Labels: component:planning, tag:run-build-and-test-differential

#8268 refactor(smart_mpc_trajectory_folower): modify pacakge structure and install without setup.py
  control/autoware_smart_mpc_trajectory_follower/CMakeLists.txt
  control/autoware_smart_mpc_trajectory_follower/README.md
  control/autoware_smart_mpc_trajectory_follower/autoware_smart_mpc_trajectory_follower/scripts/drive_NN.py
  control/autoware_smart_mpc_trajectory_follower/autoware_smart_mpc_trajectory_follower/scripts/drive_functions.py
  control/autoware_smart_mpc_trajectory_follower/autoware_smart_mpc_trajectory_follower/src/proxima_calc.cpp
  control/autoware_smart_mpc_trajectory_follower/package.xml
  control/autoware_smart_mpc_trajectory_follower/scripts/pympc_trajectory_follower.py
  control/autoware_smart_mpc_trajectory_follower/setup.py
Labels: type:documentation, component:control, tag:run-build-and-test-differential

#8315 fix(tier4_perception_launch): set `use_image_transport` in launch
  launch/tier4_perception_launch/launch/traffic_light_recognition/traffic_light_node_container.launch.py
Labels: component:launch, tag:run-build-and-test-differential

#8207 fix(autoware_velocity_smoother): fix passedByValue
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/smoother/analytical_jerk_constrained_smoother/velocity_planning_utils.hpp
  planning/autoware_velocity_smoother/src/smoother/analytical_jerk_constrained_smoother/velocity_planning_utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8312 feat(autonomous_emergency_braking): add info marker and override for state
  control/autoware_autonomous_emergency_braking/config/autonomous_emergency_braking.param.yaml
  control/autoware_autonomous_emergency_braking/include/autoware/autonomous_emergency_braking/node.hpp
  control/autoware_autonomous_emergency_braking/src/node.cpp
Labels: component:control, tag:run-build-and-test-differential

#8211 fix(autoware_behavior_velocity_occlusion_module): fix passedByValue
  planning/behavior_velocity_planner/autoware_behavior_velocity_occlusion_spot_module/src/debug.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_occlusion_spot_module/src/occlusion_spot_utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8192 fix(autoware_perception_rviz_plugin): fix passedByValue
  common/autoware_perception_rviz_plugin/include/autoware_perception_rviz_plugin/object_detection/object_polygon_detail.hpp
  common/autoware_perception_rviz_plugin/src/object_detection/object_polygon_detail.cpp
Labels: component:common, tag:run-build-and-test-differential

#8189 fix(autoware_obstacle_stop_planner): fix passedByValue
  planning/autoware_obstacle_stop_planner/src/adaptive_cruise_control.cpp
  planning/autoware_obstacle_stop_planner/src/adaptive_cruise_control.hpp
  planning/autoware_obstacle_stop_planner/src/planner_utils.cpp
  planning/autoware_obstacle_stop_planner/src/planner_utils.hpp
Labels: component:planning, tag:run-build-and-test-differential

#8225 fix(autoware_pure_pursuit): fix redundantInitialization redundantInitialization
  control/autoware_pure_pursuit/src/autoware_pure_pursuit/autoware_pure_pursuit_lateral_controller.cpp
  control/autoware_pure_pursuit/src/autoware_pure_pursuit_core/interpolate.cpp
Labels: component:control, tag:run-build-and-test-differential

#8330 docs(autonomous_emergency_braking): update readme for new param
  control/autoware_autonomous_emergency_braking/README.md
Labels: tag:run-build-and-test-differential

#7860 feat(shape_estimation): add ml shape estimation
  perception/autoware_shape_estimation/CMakeLists.txt
  perception/autoware_shape_estimation/README.md
  perception/autoware_shape_estimation/config/shape_estimation.param.yaml
  perception/autoware_shape_estimation/include/autoware/shape_estimation/tensorrt_shape_estimator.hpp
  perception/autoware_shape_estimation/launch/shape_estimation.launch.xml
  perception/autoware_shape_estimation/lib/tensorrt_shape_estimator.cpp
  perception/autoware_shape_estimation/package.xml
  perception/autoware_shape_estimation/schema/shape_estimation.schema.json
  perception/autoware_shape_estimation/src/shape_estimation_node.cpp
  perception/autoware_shape_estimation/src/shape_estimation_node.hpp
Labels: type:documentation, component:perception, tag:run-build-and-test-differential

#8279 fix(diagnostic_graph_aggregator): fix functionConst
  system/diagnostic_graph_aggregator/src/common/graph/graph.hpp
Labels: component:system, tag:run-build-and-test-differential

#8133 fix(lane_change): relax finish judge
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/config/lane_change.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/data_structs.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/utils.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/utils.cpp
Labels: type:documentation, component:planning, tag:deploy-docs, tag:run-build-and-test-differential

#8316 feat(lane_change): use different rss param to deal with parked vehicle
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/config/lane_change.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/data_structs.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
Labels: type:documentation, component:planning, tag:deploy-docs, tag:run-build-and-test-differential

#8126 feat(autonomous_emergency_braking): add some tests to aeb
  control/autoware_autonomous_emergency_braking/CMakeLists.txt
  control/autoware_autonomous_emergency_braking/include/autoware/autonomous_emergency_braking/node.hpp
  control/autoware_autonomous_emergency_braking/launch/autoware_autonomous_emergency_braking.launch.xml
  control/autoware_autonomous_emergency_braking/package.xml
  control/autoware_autonomous_emergency_braking/src/node.cpp
  control/autoware_autonomous_emergency_braking/src/utils.cpp
  control/autoware_autonomous_emergency_braking/test/test.cpp
  control/autoware_autonomous_emergency_braking/test/test.hpp
  launch/tier4_control_launch/launch/control.launch.xml
Labels: component:control, component:launch, tag:run-build-and-test-differential

#8242 fix(autoware_pointcloud_preprocessor): fix passedByValue
  sensing/autoware_pointcloud_preprocessor/src/downsample_filter/robin_hood.h
Labels: component:sensing, tag:run-build-and-test-differential

#8289 fix(autoware_probabilistic_occupancy_grid_map): fix functionConst
  perception/autoware_probabilistic_occupancy_grid_map/lib/fusion_policy/fusion_policy.cpp
Labels: component:perception, tag:run-build-and-test-differential

#8280 fix(autoware_pointcloud_preprocessor): fix functionConst
  sensing/autoware_pointcloud_preprocessor/src/downsample_filter/robin_hood.h
Labels: component:sensing, tag:run-build-and-test-differential

#8243 fix(autoware_vehicle_cmd_gate): fix passedByValue
  control/autoware_vehicle_cmd_gate/src/marker_helper.hpp
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_filter.cpp
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_filter.hpp
Labels: component:control, tag:run-build-and-test-differential

#8339 fix(autoware_vehicle_cmd_gate): fix uninitMemberVar
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_filter.cpp
Labels: component:control, tag:run-build-and-test-differential

#8332 fix(autoware_behavior_velocity_detection_area_module): fix uninitMemberVar
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8320 fix(autoware_behavior_velocity_speed_bump_module): fix uninitMemberVar
  planning/behavior_velocity_planner/autoware_behavior_velocity_occlusion_spot_module/src/occlusion_spot_utils.hpp
Labels: component:planning, tag:run-build-and-test-differential

#8319 fix(autoware_behavior_velocity_speed_bump_module): fix uninitMemberVar
  planning/behavior_velocity_planner/autoware_behavior_velocity_speed_bump_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8318 fix(autoware_behavior_velocity_stop_line_module): fix uninitMemberVar
  planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8317 fix(autoware_behavior_velocity_traffic_light_module): fix uninitMemberVar
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8283 fix(autoware_behavior_velocity_intersection_module): fix functionConst
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/object_manager.hpp
Labels: component:planning, tag:run-build-and-test-differential

#8282 fix(autoware_obstacle_stop_planner): fix functionConst
  planning/autoware_obstacle_stop_planner/src/adaptive_cruise_control.cpp
  planning/autoware_obstacle_stop_planner/src/adaptive_cruise_control.hpp
Labels: component:planning, tag:run-build-and-test-differential

#8314 fix(autoware_motion_velocity_obstacle_velocity_limiter_module): fix uninitMemberVar
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_velocity_limiter_module/src/parameters.hpp
Labels: component:planning, tag:run-build-and-test-differential

#8313 fix(diagnostic_graph_aggregator): fix uninitMemberVar
  system/diagnostic_graph_aggregator/src/common/graph/config.hpp
Labels: component:system, tag:run-build-and-test-differential

#8321 fix(autoware_behavior_velocity_no_stopping_area_module): fix uninitMemberVar
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/src/scene_no_stopping_area.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8322 fix(autoware_behavior_velocity_no_drivable_lane_module): fix uninitMemberVar
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_drivable_lane_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_drivable_lane_module/src/scene.hpp
Labels: component:planning, tag:run-build-and-test-differential

#8333 fix(autoware_probabilistic_occupancy_grid_map): fix uninitMemberVar
  perception/autoware_probabilistic_occupancy_grid_map/lib/costmap_2d/occupancy_grid_map_fixed.cpp
Labels: component:perception, tag:run-build-and-test-differential

#8335 fix(autoware_multi_object_tracker): fix uninitMemberVar
  perception/autoware_multi_object_tracker/src/processor/input_manager.hpp
Labels: component:perception, tag:run-build-and-test-differential

#8241 fix(autoware_traffic_light_visualization): fix passedByValue
  perception/autoware_traffic_light_visualization/src/traffic_light_map_visualizer/node.cpp
Labels: component:perception, tag:run-build-and-test-differential

#8277 fix(autoware_multi_object_tracker): revert latency reduction logic and bring back to timer trigger
  perception/autoware_multi_object_tracker/src/multi_object_tracker_node.cpp
  perception/autoware_multi_object_tracker/src/multi_object_tracker_node.hpp
Labels: component:perception, tag:run-build-and-test-differential

#8327 ci: use self-hosted machine for build-and-test-differential-cuda
  .github/workflows/build-and-test-daily.yaml
  .github/workflows/build-and-test-differential.yaml
  .github/workflows/build-and-test.yaml
Labels: type:ci, tag:run-build-and-test-differential

#8326 fix(start/goal_planner): align geometric parall parking start pose with center line
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/parking_departure/geometric_parallel_parking.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8336 fix(autoware_ground_segmentation): fix uninitMemberVar
  perception/autoware_ground_segmentation/src/scan_ground_filter/node.hpp
Labels: component:perception, tag:run-build-and-test-differential

#8338 fix(autoware_compare_map_segmentation): fix uninitMemberVar
  perception/autoware_compare_map_segmentation/src/voxel_grid_map_loader/voxel_grid_map_loader.hpp
Labels: component:perception, tag:run-build-and-test-differential

#8337 fix(freespace_planner): disable randomly failing tests
  planning/autoware_freespace_planner/test/test_freespace_planner_node_interface.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8174 perf(autoware_pointcloud_preprocessor): lazy & managed TF listeners
  common/autoware_universe_utils/include/autoware/universe_utils/ros/static_transform_buffer.hpp
  common/autoware_universe_utils/package.xml
  common/autoware_universe_utils/test/src/ros/test_static_transform_buffer.cpp
  perception/autoware_ground_segmentation/src/ransac_ground_filter/node.cpp
  perception/autoware_ground_segmentation/src/ransac_ground_filter/node.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/concatenate_and_time_sync_nodelet.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/concatenate_pointclouds.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/distortion_corrector/distortion_corrector.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/filter.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/time_synchronizer/time_synchronizer_nodelet.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/vector_map_filter/vector_map_inside_area_filter.hpp
  sensing/autoware_pointcloud_preprocessor/src/concatenate_data/concatenate_and_time_sync_nodelet.cpp
  sensing/autoware_pointcloud_preprocessor/src/concatenate_data/concatenate_pointclouds.cpp
  sensing/autoware_pointcloud_preprocessor/src/distortion_corrector/distortion_corrector.cpp
  sensing/autoware_pointcloud_preprocessor/src/filter.cpp
  sensing/autoware_pointcloud_preprocessor/src/time_synchronizer/time_synchronizer_nodelet.cpp
  sensing/autoware_pointcloud_preprocessor/src/vector_map_filter/vector_map_inside_area_filter.cpp
Labels: component:perception, component:sensing, component:common, tag:run-build-and-test-differential

#8299 refactor(twist2accel)!: prefix package and namespace with autoware
  .github/CODEOWNERS
  launch/tier4_localization_launch/launch/pose_twist_fusion_filter/pose_twist_fusion_filter.launch.xml
  localization/autoware_twist2accel/CMakeLists.txt
  localization/autoware_twist2accel/README.md
  localization/autoware_twist2accel/config/twist2accel.param.yaml
  localization/autoware_twist2accel/launch/twist2accel.launch.xml
  localization/autoware_twist2accel/package.xml
  localization/autoware_twist2accel/schema/twist2accel.schema.json
  localization/autoware_twist2accel/src/twist2accel.cpp
  localization/autoware_twist2accel/src/twist2accel.hpp
Labels: type:documentation, component:localization, type:ci, component:launch, tag:run-build-and-test-differential

#8230 fix(autoware_accel_brake_map_calibrator): fix redundantInitialization
  vehicle/autoware_accel_brake_map_calibrator/src/accel_brake_map_calibrator_node.cpp
Labels: component:vehicle, tag:run-build-and-test-differential

#8368 chore(ci): remove unnecessary redundantInitialization cppcheck suppression
  .cppcheck_suppressions
Labels: tag:run-build-and-test-differential

#8294 fix(traffic_light_visualizer): remove cerr temporarily to avoid flooding logs
  perception/autoware_traffic_light_visualization/src/traffic_light_roi_visualizer/shape_draw.cpp
Labels: component:perception, tag:run-build-and-test-differential

#8344 fix(static_obstacle_avoidance): remove invalid small shift lines
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/shift_line_generator.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8345 fix(static_obstacle_avoidance): check opposite lane
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8374 chore(codecov): ignore test directory in codecov
  codecov.yaml
Labels: type:ci, tag:run-build-and-test-differential

#8375 chore(readme): add codecov badge
  README.md
Labels: type:documentation, tag:run-build-and-test-differential

#8163 fix(autoware_pointcloud_preprocessor): fix cppcheck warnings of functionStatic
  sensing/autoware_pointcloud_preprocessor/src/downsample_filter/robin_hood.h
Labels: component:sensing, tag:run-build-and-test-differential

#8256 fix(autoware_detected_object_validation): fix cppcheck warnings of functionStatic
  perception/autoware_detected_object_validation/src/obstacle_pointcloud/debugger.hpp
  perception/autoware_detected_object_validation/src/obstacle_pointcloud/obstacle_pointcloud_validator.hpp
Labels: component:perception, tag:run-build-and-test-differential

#8286 fix(autoware_traffic_light_occlusion_predictor): fix functionConst
  perception/autoware_traffic_light_occlusion_predictor/src/occlusion_predictor.cpp
  perception/autoware_traffic_light_occlusion_predictor/src/occlusion_predictor.hpp
Labels: component:perception, tag:run-build-and-test-differential

#8265 fix(autoware_auto_common): fix cppcheck warnings of functionStatic
  common/autoware_auto_common/test/test_template_utils.cpp
Labels: component:common, tag:run-build-and-test-differential

#8306 fix(docs): fox docs for autoware object range splitter
  perception/autoware_object_range_splitter/README.md
Labels: type:documentation, component:perception, tag:deploy-docs, tag:run-build-and-test-differential

#8305 fix(docs): fix docs for radar tracks msgs converter
  perception/autoware_radar_tracks_msgs_converter/README.md
Labels: type:documentation, component:perception, tag:deploy-docs, tag:run-build-and-test-differential

#8292 fix(doc, object_merger): fix object merger document path
  perception/autoware_object_merger/README.md
Labels: type:documentation, component:perception, tag:run-build-and-test-differential

#8085 refactor(autoware_path_distance_calculator): prefix package and namespace with autoware
  .github/CODEOWNERS
  common/.pages
  common/autoware_path_distance_calculator/CMakeLists.txt
  common/autoware_path_distance_calculator/Readme.md
  common/autoware_path_distance_calculator/launch/path_distance_calculator.launch.xml
  common/autoware_path_distance_calculator/package.xml
  common/autoware_path_distance_calculator/src/path_distance_calculator.cpp
  common/autoware_path_distance_calculator/src/path_distance_calculator.hpp
  launch/tier4_autoware_api_launch/launch/deprecated_api.launch.xml
  launch/tier4_autoware_api_launch/package.xml
Labels: type:documentation, type:ci, component:launch, component:common, tag:run-build-and-test-differential

#8264 fix(autoware_obstacle_stop_planner): fix cppcheck warning of functionStatic
  planning/autoware_obstacle_stop_planner/src/adaptive_cruise_control.hpp
  planning/autoware_obstacle_stop_planner/src/debug_marker.hpp
Labels: component:planning, tag:run-build-and-test-differential

#8266 fix(diagnostic_graph_aggregator): fix cppcheck warning of functionStatic
  system/diagnostic_graph_aggregator/src/common/graph/units.hpp
Labels: component:system, tag:run-build-and-test-differential

#8031 fix(autoware_map_based_prediction): fix argument order
  perception/autoware_map_based_prediction/src/path_generator.cpp
Labels: component:perception, tag:run-build-and-test-differential

#8385 fix: add autoware prefix
  common/autoware_path_distance_calculator/launch/path_distance_calculator.launch.xml
Labels: component:common, tag:run-build-and-test-differential

#7608 fix(traffic_light_classifier): fix zero size roi bug
  perception/autoware_traffic_light_classifier/src/traffic_light_classifier_node.cpp
Labels: component:perception, tag:run-build-and-test-differential

#8357 refactor(lane_change): check start point directly after getting start point
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8262 fix(behavior_velocity_planner): fix cppcheck warnings of functionStatic
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/src/debug.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/src/state_machine.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/src/state_machine.hpp
Labels: component:planning, tag:run-build-and-test-differential

#8260 fix(autoware_vehicle_cmd_gate): fix cppcheck warning of functionStatic
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_filter.cpp
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_filter.hpp
Labels: component:control, tag:run-build-and-test-differential

#8253 fix(autoware_vehicle_cmd_gate): fix functionConst
  control/autoware_vehicle_cmd_gate/src/adapi_pause_interface.cpp
  control/autoware_vehicle_cmd_gate/src/adapi_pause_interface.hpp
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_filter.hpp
Labels: component:control, tag:run-build-and-test-differential

#8263 fix(autoware_compare_map_segmentation): fix cppcheck warnings of functionStatic
  perception/autoware_compare_map_segmentation/src/voxel_grid_map_loader/voxel_grid_map_loader.cpp
  perception/autoware_compare_map_segmentation/src/voxel_grid_map_loader/voxel_grid_map_loader.hpp
Labels: component:perception, tag:run-build-and-test-differential

#8257 fix(autoware_detection_by_tracker): fix cppcheck warning of functionStatic
  perception/autoware_detection_by_tracker/src/debugger/debugger.hpp
Labels: component:perception, tag:run-build-and-test-differential

#8387 chore(lane_change): add codeowner
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/package.xml
Labels: component:planning, tag:run-build-and-test-differential

#8358 refactor(lane_change): refactor debug print when computing paths
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8359 fix(lane_change): skip path computation if len exceed dist to terminal start
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/CMakeLists.txt
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/calculation.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/calculation.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8267 feat(default_ad_api): release adapi v1.5.0
  system/default_ad_api/src/interface.cpp
  system/default_ad_api/test/node/interface_version.py
Labels: component:system, tag:run-build-and-test-differential

#8290 fix(autoware_multi_object_tracker): fix functionConst
  perception/autoware_multi_object_tracker/src/debugger/debugger.hpp
  perception/autoware_multi_object_tracker/src/processor/input_manager.hpp
Labels: component:perception, tag:run-build-and-test-differential

#8124 fix(ndt_scan_matcher): apply interface change of ndt_omp
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
Labels: component:localization, tag:run-build-and-test-differential

#8347 refactor(pose2twist)!: prefix package and namespace with autoware
  .github/CODEOWNERS
  localization/autoware_pose2twist/CMakeLists.txt
  localization/autoware_pose2twist/README.md
  localization/autoware_pose2twist/launch/pose2twist.launch.xml
  localization/autoware_pose2twist/package.xml
  localization/autoware_pose2twist/src/pose2twist_core.cpp
  localization/autoware_pose2twist/src/pose2twist_core.hpp
  localization/autoware_pose2twist/test/test_angular_velocity.cpp
  vehicle/autoware_steer_offset_estimator/launch/steer_offset_estimator.launch.xml
  vehicle/autoware_steer_offset_estimator/package.xml
Labels: type:documentation, component:localization, component:vehicle, type:ci, tag:run-build-and-test-differential

#8391 fix(autoware_twist2accel): fix funcArgNamesDifferent
  localization/autoware_twist2accel/src/twist2accel.hpp
Labels: component:localization, tag:run-build-and-test-differential

#8390 feat(gyro_odometer): fix to use diagnostics_module in localization_util
  localization/gyro_odometer/CMakeLists.txt
  localization/gyro_odometer/include/gyro_odometer/diagnostics_module.hpp
  localization/gyro_odometer/include/gyro_odometer/gyro_odometer_core.hpp
  localization/gyro_odometer/package.xml
  localization/gyro_odometer/src/diagnostics_module.cpp
Labels: component:localization, tag:run-build-and-test-differential

#8392 fix(autoware_traffic_light_classifier): fix passedByValue
  perception/autoware_traffic_light_classifier/src/classifier/cnn_classifier.cpp
  perception/autoware_traffic_light_classifier/src/classifier/cnn_classifier.hpp
Labels: component:perception, tag:run-build-and-test-differential

#8388 perf(map_based_prediction): filter surrounding crosswalks for pedestrians beforehand
  perception/autoware_map_based_prediction/src/map_based_prediction_node.cpp
Labels: component:perception, tag:run-build-and-test-differential

#8095 fix(ekf_localizer): add_delay_compensation_for_roll_and_pitch
  localization/ekf_localizer/include/ekf_localizer/ekf_localizer.hpp
  localization/ekf_localizer/include/ekf_localizer/ekf_module.hpp
  localization/ekf_localizer/src/ekf_localizer.cpp
  localization/ekf_localizer/src/ekf_module.cpp
Labels: component:localization, tag:run-build-and-test-differential

#8350 fix(tensorrt_common): fix unreadVariable
  common/tensorrt_common/src/tensorrt_common.cpp
Labels: component:common, tag:run-build-and-test-differential

#8352 fix(autoware_planning_evaluator): fix unreadVariable
  evaluator/autoware_planning_evaluator/src/metrics/metrics_utils.cpp
Labels: component:evaluator, tag:run-build-and-test-differential

#8353 fix(autoware_ground_segmentation): fix unreadVariable
  perception/autoware_ground_segmentation/src/scan_ground_filter/node.cpp
Labels: component:perception, tag:run-build-and-test-differential

#8346 fix(autoware_smart_mpc_trajectory_follower): fix uninitMemberVar
  control/autoware_smart_mpc_trajectory_follower/autoware_smart_mpc_trajectory_follower/src/proxima_calc.cpp
Labels: component:control, tag:run-build-and-test-differential

#8238 fix(route_handler): make new route continuous with previous route
  planning/autoware_route_handler/src/route_handler.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8356 fix(autoware_tensorrt_yolox): fix unreadVariable
  perception/autoware_tensorrt_yolox/src/tensorrt_yolox.cpp
Labels: component:perception, tag:run-build-and-test-differential

#8399 chore(ci): remove funcArgNamesDifferent and passedByValue suppressions
  .cppcheck_suppressions
Labels: tag:run-build-and-test-differential

#8145 fix(autoware_universe_utils): fix constParameterReference
  common/autoware_universe_utils/src/geometry/random_convex_polygon.cpp
Labels: component:common, tag:run-build-and-test-differential

#8355 fix(tensorrt classifier wrapper): fix unreadVariable
  perception/autoware_tensorrt_classifier/src/tensorrt_classifier.cpp
Labels: component:perception, tag:run-build-and-test-differential

#8393 fix(autoware_smart_mpc_trajectory_follower): fix unusedStructMember
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection_occlusion.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8394 fix(autoware_behavior_velocity_virtual_traffic_light_module): fix unusedStructMember
  planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8360 fix(autoware_freespace_planning_algorithms): fix unreadVariable
  planning/autoware_freespace_planning_algorithms/src/reeds_shepp.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8276 chore(ci): remove unnecessary constParameterReference cppcheck suppression
  .cppcheck_suppressions
Labels: tag:run-build-and-test-differential

#8403 perf(map_based_prediction): remove unncessary withinRoadLanelet()
  perception/autoware_map_based_prediction/src/map_based_prediction_node.cpp
Labels: component:perception, tag:run-build-and-test-differential

#8361 fix(autoware_path_optimizer): fix unreadVariable
  planning/autoware_path_optimizer/src/mpt_optimizer.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8406 perf(map_based_prediction): create a fence LineString layer and use rtree query
  perception/autoware_map_based_prediction/include/map_based_prediction/map_based_prediction_node.hpp
  perception/autoware_map_based_prediction/src/map_based_prediction_node.cpp
Labels: component:perception, tag:run-build-and-test-differential

#8179 docs(autoware_multi_object_tracker): add default values on the schema json
  perception/autoware_multi_object_tracker/schema/data_association_matrix.schema.json
  perception/autoware_multi_object_tracker/schema/input_channels.schema.json
Labels: component:perception, tag:run-build-and-test-differential

#8400 perf(map_based_prediction): use linear interpolation for path conversion
  perception/autoware_map_based_prediction/src/map_based_prediction_node.cpp
Labels: component:perception, tag:run-build-and-test-differential

#8412 fix(traffic_light_classifier): fix traffic light monitor warning
  perception/autoware_traffic_light_classifier/src/traffic_light_classifier_node.cpp
Labels: component:perception, tag:run-build-and-test-differential

#7905 fix(tensorrt_yolox): add run length encoding for sematic segmentation mask
  perception/autoware_tensorrt_yolox/CMakeLists.txt
  perception/autoware_tensorrt_yolox/include/autoware/tensorrt_yolox/tensorrt_yolox_node.hpp
  perception/autoware_tensorrt_yolox/include/autoware/tensorrt_yolox/utils.hpp
  perception/autoware_tensorrt_yolox/src/tensorrt_yolox_node.cpp
  perception/autoware_tensorrt_yolox/src/utils.cpp
Labels: component:perception, tag:run-build-and-test-differential

#8293 fix(autoware_elevation_map_loader): fix functionConst
  perception/autoware_elevation_map_loader/src/elevation_map_loader_node.hpp
Labels: component:perception, tag:run-build-and-test-differential

#8417 revert(map_based_prediction): use linear interpolation for path conversion
  perception/autoware_map_based_prediction/src/map_based_prediction_node.cpp
Labels: component:perception, tag:run-build-and-test-differential

#8402 fix(ring_outlier_filter): remove unnecessary resize to prevent zero points
  sensing/autoware_pointcloud_preprocessor/src/outlier_filter/ring_outlier_filter_nodelet.cpp
Labels: component:sensing, tag:run-build-and-test-differential

#8365 fix(autoware_behavior_path_goal_planner_module): fix unreadVariable
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/manager.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8366 fix(autoware_motion_velocity_obstacle_velocity_limiter_module): fix unreadVariable
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_velocity_limiter_module/benchmarks/collision_checker_benchmark.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8364 fix(autoware_velocity_smoother): fix unreadVariable
  planning/autoware_velocity_smoother/src/trajectory_utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8334 refactor(geo_pose_projector)!: prefix package and namespace with autoware
  .github/CODEOWNERS
  launch/tier4_localization_launch/launch/pose_twist_estimator/eagleye/eagleye_rt.launch.xml
  launch/tier4_localization_launch/package.xml
  localization/autoware_geo_pose_projector/CMakeLists.txt
  localization/autoware_geo_pose_projector/README.md
  localization/autoware_geo_pose_projector/config/geo_pose_projector.param.yaml
  localization/autoware_geo_pose_projector/launch/geo_pose_projector.launch.xml
  localization/autoware_geo_pose_projector/package.xml
  localization/autoware_geo_pose_projector/schema/geo_pose_projector.schema.json
  localization/autoware_geo_pose_projector/src/geo_pose_projector.cpp
  localization/autoware_geo_pose_projector/src/geo_pose_projector.hpp
Labels: type:documentation, component:localization, type:ci, component:launch, tag:run-build-and-test-differential

#8370 fix(autoware_pointcloud_preprocessor): fix unreadVariable
  sensing/autoware_pointcloud_preprocessor/src/distortion_corrector/distortion_corrector.cpp
Labels: component:sensing, tag:run-build-and-test-differential

#8371 fix(bluetooth_monitor): fix unreadVariable
  system/bluetooth_monitor/src/bluetooth_monitor.cpp
Labels: component:system, tag:run-build-and-test-differential

#8372 fix(system_monitor): fix unreadVariable
  system/system_monitor/src/cpu_monitor/intel_cpu_monitor.cpp
  system/system_monitor/src/gpu_monitor/nvml_gpu_monitor.cpp
Labels: component:system, tag:run-build-and-test-differential

#8401 fix(system_monitor): fix unusedStructMember
  system/system_monitor/reader/hdd_reader/hdd_reader.cpp
  system/system_monitor/reader/msr_reader/msr_reader.cpp
Labels: component:system, tag:run-build-and-test-differential

#8362 fix(lane_change): skip generating path if lane changing path is too long
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/data_structs.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/utils.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7778 feat(autoware_universe_utils): reduce dependence on Boost.Geometry
  common/autoware_universe_utils/include/autoware/universe_utils/geometry/geometry.hpp
  common/autoware_universe_utils/src/geometry/geometry.cpp
  common/autoware_universe_utils/test/src/geometry/test_geometry.cpp
Labels: component:common, tag:run-build-and-test-differential

#8416 perf(map_based_prediction): apply lerp instead of spline
  perception/autoware_map_based_prediction/src/path_generator.cpp
Labels: component:perception, tag:run-build-and-test-differential

#8424 fix(autoware_multi_object_tracker): fix functionConst
  perception/autoware_multi_object_tracker/src/debugger/debugger.hpp
Labels: component:perception, tag:run-build-and-test-differential

#8084 feat(autoware_vehicle_cmd_gate): check the timestamp of input topics to avoid using old topics
  control/autoware_vehicle_cmd_gate/README.md
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_gate.cpp
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_gate.hpp
Labels: type:documentation, component:control, tag:run-build-and-test-differential

#8250 test(dynamic_obstacle_stop): add tests and do some refactoring
  planning/motion_velocity_planner/autoware_motion_velocity_dynamic_obstacle_stop_module/CMakeLists.txt
  planning/motion_velocity_planner/autoware_motion_velocity_dynamic_obstacle_stop_module/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_dynamic_obstacle_stop_module/src/object_filtering.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_dynamic_obstacle_stop_module/src/object_filtering.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_dynamic_obstacle_stop_module/src/types.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_dynamic_obstacle_stop_module/test/test_object_filtering.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8278 chore(traffic_light_arbiter): missing name changes
  perception/autoware_traffic_light_arbiter/README.md
  perception/autoware_traffic_light_arbiter/package.xml
Labels: type:documentation, component:perception, tag:run-build-and-test-differential

#8418 fix(autoware_tracking_object_merger): add merge frame
  perception/autoware_tracking_object_merger/config/decorative_tracker_merger.param.yaml
  perception/autoware_tracking_object_merger/include/autoware/tracking_object_merger/decorative_tracker_merger_node.hpp
  perception/autoware_tracking_object_merger/include/autoware/tracking_object_merger/utils/tracker_state.hpp
  perception/autoware_tracking_object_merger/src/decorative_tracker_merger_node.cpp
  perception/autoware_tracking_object_merger/src/utils/tracker_state.cpp
Labels: component:perception, tag:run-build-and-test-differential

#8425 fix(autoware_universe_utils): fix memory leak of time_keeper
  common/autoware_universe_utils/include/autoware/universe_utils/system/time_keeper.hpp
  common/autoware_universe_utils/src/system/time_keeper.cpp
Labels: component:common, tag:run-build-and-test-differential

#8258 fix(traffic_light_occlusion_predictor): fix cppcheck warnings of functionStatic
  perception/autoware_traffic_light_occlusion_predictor/src/occlusion_predictor.hpp
Labels: component:perception, tag:run-build-and-test-differential

#8432 perf(static_obstacle_avoidance): improve logic to reduce computational cost
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/path_safety_checker/objects_filtering.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8363 fix(lane_change): skip generating path if longitudinal distance difference is less than threshold
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/config/lane_change.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/data_structs.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8214 refactor(lane_change): separate leading and trailing objects
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/base_class.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/data_structs.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/debug_structs.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/markers.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/utils.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/markers.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8427 perf(autoware_map_based_prediction): improve orientation calculation and resample converted path
  perception/autoware_map_based_prediction/src/map_based_prediction_node.cpp
Labels: component:perception, tag:run-build-and-test-differential

#8440 chore(out_of_lane): add Mamoru SOBUE as maintainer
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/package.xml
Labels: component:planning, tag:run-build-and-test-differential

#8426 fix(autoware_probabilistic_occupancy_grid_map): fix functionConst
  perception/autoware_probabilistic_occupancy_grid_map/lib/fusion_policy/fusion_policy.cpp
Labels: component:perception, tag:run-build-and-test-differential

#8395 fix(autoware_livox_tag_filter): fix unusedStructMember
  sensing/livox/autoware_livox_tag_filter/src/livox_tag_filter_node.cpp
Labels: component:sensing, tag:run-build-and-test-differential

#8349 fix(qp_interface): fix unreadVariable
  common/qp_interface/src/osqp_interface.cpp
Labels: component:common, tag:run-build-and-test-differential

#8439 perf(out_of_lane): use rtree to get stop lines and trajectory lanelets
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/filter_predicted_objects.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/filter_predicted_objects.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/lanelets_selection.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/types.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/test/test_filter_predicted_objects.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8433 fix(static_obstacle_avoidance): change avoidance condition
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8429 fix(autoware_radar_fusion_to_detected_object): fix variableScope
  perception/autoware_radar_fusion_to_detected_object/src/radar_fusion_to_detected_object.cpp
Labels: component:perception, tag:run-build-and-test-differential

#8456 feat(autoware_universe_utils): add LRU Cache
  common/autoware_universe_utils/examples/example_lru_cache.cpp
  common/autoware_universe_utils/include/autoware/universe_utils/system/lru_cache.hpp
  common/autoware_universe_utils/test/src/system/test_lru_cache.cpp
Labels: component:common, tag:run-build-and-test-differential

#8449 fix(goal_planner): fix lane departure check not working correctly due to uninitialized variable
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/config/goal_planner.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_parameters.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/manager.cpp
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#8451 fix(lane_departure_checker): fix uninitialized variables
  control/autoware_lane_departure_checker/include/autoware/lane_departure_checker/lane_departure_checker.hpp
Labels: component:control, tag:run-build-and-test-differential

#8452 ci(cppcheck): remove unnecessary suppressions
  .cppcheck_suppressions
Labels: tag:run-build-and-test-differential

#8413 perf(map_based_prediction): improve world to map transform calculation
  perception/autoware_map_based_prediction/src/map_based_prediction_node.cpp
Labels: component:perception, tag:run-build-and-test-differential

#8331 feat(psim)!: change a setting parameter type from bool to string
  launch/tier4_simulator_launch/launch/simulator.launch.xml
Labels: component:launch, tag:run-build-and-test-differential

#8089 feat(freespace_planning_algorithms): use distance to nearest obstacle to improve path planning
  planning/autoware_freespace_planner/README.md
  planning/autoware_freespace_planner/config/freespace_planner.param.yaml
  planning/autoware_freespace_planner/src/autoware_freespace_planner/freespace_planner_node.cpp
  planning/autoware_freespace_planning_algorithms/include/autoware/freespace_planning_algorithms/abstract_algorithm.hpp
  planning/autoware_freespace_planning_algorithms/include/autoware/freespace_planning_algorithms/astar_search.hpp
  planning/autoware_freespace_planning_algorithms/include/autoware/freespace_planning_algorithms/kinematic_bicycle_model.hpp
  planning/autoware_freespace_planning_algorithms/scripts/bind/astar_search_pybind.cpp
  planning/autoware_freespace_planning_algorithms/scripts/example/example.py
  planning/autoware_freespace_planning_algorithms/src/abstract_algorithm.cpp
  planning/autoware_freespace_planning_algorithms/src/astar_search.cpp
  planning/autoware_freespace_planning_algorithms/src/rrtstar.cpp
  planning/autoware_freespace_planning_algorithms/test/src/test_freespace_planning_algorithms.cpp
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#8275 feat(pose_initializer, ndt_scan_matcher): check initial pose result and publish diag
  localization/ndt_scan_matcher/include/ndt_scan_matcher/ndt_scan_matcher_core.hpp
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
  localization/pose_initializer/README.md
  localization/pose_initializer/media/diagnostic_pose_reliability.png
  localization/pose_initializer/package.xml
  localization/pose_initializer/src/pose_initializer/localization_module.cpp
  localization/pose_initializer/src/pose_initializer/localization_module.hpp
  localization/pose_initializer/src/pose_initializer/pose_initializer_core.cpp
  localization/pose_initializer/src/pose_initializer/pose_initializer_core.hpp
  localization/yabloc/yabloc_pose_initializer/src/camera/camera_pose_initializer_core.cpp
Labels: type:documentation, component:localization, tag:run-build-and-test-differential

#8377 fix(tier4_planning_rviz_plugin): fix cppcheck warning of virtualCallInConstructor
  common/tier4_planning_rviz_plugin/src/tools/jsk_overlay_utils.cpp
Labels: component:common, tag:run-build-and-test-differential

#8378 fix(tier4_system_rviz_plugin): fix cppcheck warning of virtualCallInConstructor
  common/tier4_system_rviz_plugin/src/jsk_overlay_utils.cpp
Labels: component:common, tag:run-build-and-test-differential

#8379 fix(tier4_vehicle_rviz_plugin): fix cppcheck warning of virtualCallInConstructor
  common/tier4_vehicle_rviz_plugin/src/tools/jsk_overlay_utils.cpp
Labels: component:common, tag:run-build-and-test-differential
