Repository autowarefoundation/autoware_universe, pull requests merged in 2024-10, with the labels that each got.

#8468 refactor(autoware_pointcloud_preprocessor): rework ring outlier filter parameters
  sensing/autoware_pointcloud_preprocessor/CMakeLists.txt
  sensing/autoware_pointcloud_preprocessor/config/ring_outlier_filter_node.param.yaml
  sensing/autoware_pointcloud_preprocessor/docs/ring-outlier-filter.md
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/outlier_filter/ring_outlier_filter_node.hpp
  sensing/autoware_pointcloud_preprocessor/launch/ring_outlier_filter_node.launch.xml
  sensing/autoware_pointcloud_preprocessor/schema/ring_outlier_filter_node.schema.json
  sensing/autoware_pointcloud_preprocessor/src/outlier_filter/ring_outlier_filter_node.cpp
Labels: type:documentation, component:sensing, tag:deploy-docs, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#8990 refactor(goal_planner): remove unused header and divide ThreadSafeData to another file
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/decision_state.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_searcher.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/manager.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/pull_over_planner/freespace_pull_over.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/thread_data.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/util.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/default_fixed_goal_planner.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_searcher.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/pull_over_planner/freespace_pull_over.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/pull_over_planner/geometric_pull_over.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/util.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8992 feat(codecov): add codecov component for planning and control
  codecov.yaml
Labels: tag:run-build-and-test-differential

#8993 fix(universe_utils): avoid test timeout
  common/autoware_universe_utils/test/src/geometry/test_alt_geometry.cpp
  common/autoware_universe_utils/test/src/geometry/test_geometry.cpp
Labels: component:common, tag:run-build-and-test-differential

#8998 feat(autonomous_emergency_braking): add sanity chackes
  control/autoware_autonomous_emergency_braking/src/node.cpp
Labels: component:control, tag:run-build-and-test-differential

#8996 fix(autoware_lidar_centerpoint): fix twist covariance orientation
  perception/autoware_lidar_centerpoint/include/autoware/lidar_centerpoint/ros_utils.hpp
  perception/autoware_lidar_centerpoint/lib/ros_utils.cpp
  perception/autoware_lidar_centerpoint/test/test_ros_utils.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#8475 refactor(autoware_pointcloud_preprocessor): rework dual return outlier filter parameters
  sensing/autoware_pointcloud_preprocessor/CMakeLists.txt
  sensing/autoware_pointcloud_preprocessor/config/dual_return_outlier_filter_node.param.yaml
  sensing/autoware_pointcloud_preprocessor/docs/dual-return-outlier-filter.md
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/outlier_filter/dual_return_outlier_filter_node.hpp
  sensing/autoware_pointcloud_preprocessor/launch/dual_return_outlier_filter.launch.xml
  sensing/autoware_pointcloud_preprocessor/launch/dual_return_outlier_filter_node.launch.xml
  sensing/autoware_pointcloud_preprocessor/schema/dual_return_outlier_filter_node.schema.json
  sensing/autoware_pointcloud_preprocessor/src/outlier_filter/dual_return_outlier_filter_node.cpp
Labels: type:documentation, component:sensing, tag:deploy-docs, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#8480 refactor(autoware_pointcloud_preprocessor): rework approximate downsample filter parameters
  sensing/autoware_pointcloud_preprocessor/CMakeLists.txt
  sensing/autoware_pointcloud_preprocessor/config/approximate_downsample_filter_node.param.yaml
  sensing/autoware_pointcloud_preprocessor/docs/downsample-filter.md
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/downsample_filter/approximate_downsample_filter_node.hpp
  sensing/autoware_pointcloud_preprocessor/launch/approximate_downsample_filter.launch.xml
  sensing/autoware_pointcloud_preprocessor/schema/approximate_downsample_filter_node.schema.json
  sensing/autoware_pointcloud_preprocessor/src/downsample_filter/approximate_downsample_filter_node.cpp
Labels: type:documentation, component:sensing, tag:deploy-docs, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#8876 fix(autoware_behavior_velocity_planner_common): add node clock, fix use sim time
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/include/autoware/behavior_velocity_planner_common/planner_data.hpp
Labels: component:planning, tag:run-build-and-test-differential

#8987 fix(autoware_behavior_path_avoidance_by_lane_change_module): fix unmatchedSuppression
  planning/behavior_path_planner/autoware_behavior_path_avoidance_by_lane_change_module/src/interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_avoidance_by_lane_change_module/src/manager.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9005 feat(autoware_behavior_path_planner_common): disable feature of turning off blinker at low velocity
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/turn_signal_decider.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9004 feat(autonomous_emergency_braking): set max imu path length
  control/autoware_autonomous_emergency_braking/README.md
  control/autoware_autonomous_emergency_braking/config/autonomous_emergency_braking.param.yaml
  control/autoware_autonomous_emergency_braking/include/autoware/autonomous_emergency_braking/node.hpp
  control/autoware_autonomous_emergency_braking/src/node.cpp
  control/autoware_autonomous_emergency_braking/test/test.cpp
Labels: type:documentation, component:control, tag:run-build-and-test-differential

#9012 refactor(mission_planner): move anonymous functions to utils and add namespace
  planning/autoware_mission_planner/src/lanelet2_plugins/default_planner.cpp
  planning/autoware_mission_planner/src/lanelet2_plugins/utility_functions.cpp
  planning/autoware_mission_planner/src/lanelet2_plugins/utility_functions.hpp
Labels: component:planning, tag:run-build-and-test-differential

#9001 refactor(autoware_multi_object_tracker): separate detected object covariance modeling
  perception/autoware_multi_object_tracker/CMakeLists.txt
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/object_model/object_model.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/bicycle_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/big_vehicle_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/normal_vehicle_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/pedestrian_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/motion_model/bicycle_motion_model.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/motion_model/ctrv_motion_model.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/motion_model/cv_motion_model.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/uncertainty/uncertainty_processor.hpp
  perception/autoware_multi_object_tracker/lib/tracker/model/bicycle_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/big_vehicle_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/normal_vehicle_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/pedestrian_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/motion_model/bicycle_motion_model.cpp
  perception/autoware_multi_object_tracker/lib/tracker/motion_model/ctrv_motion_model.cpp
  perception/autoware_multi_object_tracker/lib/tracker/motion_model/cv_motion_model.cpp
  perception/autoware_multi_object_tracker/lib/uncertainty/uncertainty_processor.cpp
  perception/autoware_multi_object_tracker/src/multi_object_tracker_node.cpp
  perception/autoware_multi_object_tracker/src/multi_object_tracker_node.hpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#8874 fix(tier4_control_launch): fix aeb input predicted object topic name
  launch/tier4_control_launch/launch/control.launch.xml
Labels: component:launch, tag:run-build-and-test-differential

#8994 refactor(goal_planner): use the PullOverPath, PullOverPathCandidates copied from ThreadData to reduce access
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/pull_over_planner/pull_over_planner_base.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9021 ci(codecov): update planning target component
  codecov.yaml
Labels: type:ci, tag:run-build-and-test-differential

#8997 refactor(lane_change): refactor code using transient data
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/base_class.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/data_structs.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/utils.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9011 test(mission_planner): add unit tests of utility functions
  planning/autoware_mission_planner/CMakeLists.txt
  planning/autoware_mission_planner/test/test_utility_functions.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9019 feat(autoware_multi_object_tracker): set maximum reverse velocity to bicycle and crtv motion models
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/motion_model/bicycle_motion_model.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/motion_model/ctrv_motion_model.hpp
  perception/autoware_multi_object_tracker/lib/tracker/motion_model/bicycle_motion_model.cpp
  perception/autoware_multi_object_tracker/lib/tracker/motion_model/ctrv_motion_model.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9022 fix(goal_planner): fix parking_path curvature and DecidingState transition
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/decision_state.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/pull_over_planner/pull_over_planner_base.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9025 ci(codecov): manage perception component
  codecov.yaml
Labels: type:ci, tag:run-build-and-test-differential

#9026 ci(codecov): add map/localization target
  codecov.yaml
Labels: type:ci, tag:run-build-and-test-differential

#9027 chore(avoidance_by_lane_change, external_request_lane_change): add maintainers
  planning/behavior_path_planner/autoware_behavior_path_avoidance_by_lane_change_module/package.xml
  planning/behavior_path_planner/autoware_behavior_path_external_request_lane_change_module/package.xml
Labels: component:planning, tag:run-build-and-test-differential

#9028 ci(codecov): perception component
  codecov.yaml
Labels: type:ci, tag:run-build-and-test-differential

#8999 refactor(lane_change): replace any code that can use transient data
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/base_class.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/data_structs.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#9030 ci(codecov): add setting for entire each component
  codecov.yaml
Labels: type:ci, tag:run-build-and-test-differential

#9033 chore(path_optimizer): add warn msg for exceptional behavior
  planning/autoware_path_optimizer/src/mpt_optimizer.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9031 refactor(tier4_perception_launch): remove duplicated parameter declaration
  launch/tier4_perception_launch/launch/object_recognition/detection/filter/pointcloud_map_filter.launch.py
Labels: component:launch, tag:run-build-and-test-differential

#9036 fix(behavior_path_planner_common): swap boolean for filterObjectsByVelocity
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/path_safety_checker/objects_filtering.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/path_safety_checker/objects_filtering.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9006 refactor(goal planner): hold modified_goal in PullOverPath ,copy modified goal once from background thread
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/pull_over_planner/freespace_pull_over.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/pull_over_planner/geometric_pull_over.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/pull_over_planner/pull_over_planner_base.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/pull_over_planner/shift_pull_over.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/pull_over_planner/freespace_pull_over.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/pull_over_planner/geometric_pull_over.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/pull_over_planner/pull_over_planner_base.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/pull_over_planner/shift_pull_over.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9040 fix(intersection): set RTC enable
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/manager.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8989 test(obstacle_collision_checker): refactor and add tests
  control/obstacle_collision_checker/include/obstacle_collision_checker/obstacle_collision_checker.hpp
  control/obstacle_collision_checker/include/obstacle_collision_checker/obstacle_collision_checker_node.hpp
  control/obstacle_collision_checker/src/obstacle_collision_checker_node/obstacle_collision_checker.cpp
  control/obstacle_collision_checker/src/obstacle_collision_checker_node/obstacle_collision_checker_node.cpp
  control/obstacle_collision_checker/test/test_obstacle_collision_checker.cpp
Labels: component:control, tag:run-build-and-test-differential

#9041 chore(codecov): fix perception component
  codecov.yaml
Labels: type:ci, tag:run-build-and-test-differential

#9039 test(surround_obstacle_checker): add unit tests
  planning/autoware_surround_obstacle_checker/CMakeLists.txt
  planning/autoware_surround_obstacle_checker/package.xml
  planning/autoware_surround_obstacle_checker/src/node.cpp
  planning/autoware_surround_obstacle_checker/src/node.hpp
  planning/autoware_surround_obstacle_checker/test/test_surround_obstacle_checker.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9042 chore: added maintainers to the cuda_utils package
  sensing/cuda_utils/package.xml
Labels: component:sensing, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9043 chore(tensorrt_common): update maintainers
  common/tensorrt_common/package.xml
Labels: tag:update-codeowners-from-packages, component:common, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#8972 feat(tier4_planning_rviz_plugin): set path colors from rviz and add fade_out feature
  common/tier4_planning_rviz_plugin/include/tier4_planning_rviz_plugin/path/display_base.hpp
Labels: component:common, tag:run-build-and-test-differential, type:ui-ux

#9032 docs(coverage): display component wise coverage matrics
  README.md
Labels: type:documentation, tag:deploy-docs, tag:run-build-and-test-differential

#9044 refactor(lane_change): refactor get_lane_change_lanes function
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/base_class.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/utils.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/utils.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/utils.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9048 fix(autoware_mpc_lateral_controller): fix calculation method of predicted trajectory
  control/autoware_mpc_lateral_controller/src/vehicle_model/vehicle_model_bicycle_kinematics.cpp
Labels: component:control, tag:run-build-and-test-differential

#9050 test(mission_planner): add test of default_planner
  planning/autoware_mission_planner/test/test_lanelet2_plugins_default_planner.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9053 chore(mission_planner): fix typo
  planning/autoware_mission_planner/test/test_lanelet2_plugins_default_planner.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8072 feat(obstacle_cruise_planner): improve stop and cruise behavior for cut-in & out
  planning/autoware_obstacle_cruise_planner/config/obstacle_cruise_planner.param.yaml
  planning/autoware_obstacle_cruise_planner/include/autoware/obstacle_cruise_planner/common_structs.hpp
  planning/autoware_obstacle_cruise_planner/include/autoware/obstacle_cruise_planner/node.hpp
  planning/autoware_obstacle_cruise_planner/include/autoware/obstacle_cruise_planner/polygon_utils.hpp
  planning/autoware_obstacle_cruise_planner/src/node.cpp
  planning/autoware_obstacle_cruise_planner/src/polygon_utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9052 feat(autoware_lidar _ransfusion): fix 3d bounding box orientation
  perception/autoware_lidar_transfusion/lib/postprocess/postprocess_kernel.cu
  perception/autoware_lidar_transfusion/lib/ros_utils.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9056 test(bpp_common): add test for footprint
  planning/behavior_path_planner/autoware_behavior_path_planner_common/CMakeLists.txt
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/drivable_area_expansion/footprints.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/package.xml
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/drivable_area_expansion/footprints.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/test/test_footprints.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9062 test(bpp_common): add test for object related functions
  planning/behavior_path_planner/autoware_behavior_path_planner/test/test_utils.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/CMakeLists.txt
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/utils.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/utils.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/test/test_utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9055 test(bpp_common): add test for parking departure utils
  planning/behavior_path_planner/autoware_behavior_path_planner_common/CMakeLists.txt
  planning/behavior_path_planner/autoware_behavior_path_planner_common/test/test_parking_departure_utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9010 refactor(goal_planner): remove modified_goal in ThreadDafeData
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/pull_over_planner/pull_over_planner_base.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/thread_data.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9063 refactor(goal_planner): remove lane parking pull over path
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/pull_over_planner/pull_over_planner_base.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/thread_data.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9057 fix(autoware_lidar_transfusion): set tensor names by matching with predefined values.
  perception/autoware_lidar_transfusion/include/autoware/lidar_transfusion/utils.hpp
  perception/autoware_lidar_transfusion/lib/network/network_trt.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9064 refactor(goal_planner): remove prev_data / last_path_idx_time from ThreadSafeData
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/thread_data.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7602 fix: fix Boost.Optional build error on Jazzy
  common/autoware_signal_processing/test/src/lowpass_filter_1d_test.cpp
  common/autoware_signal_processing/test/src/lowpass_filter_test.cpp
  common/object_recognition_utils/test/src/test_predicted_path_utils.cpp
Labels: component:common, tag:run-build-and-test-differential

#9066 test(bpp_common): add test for occupancy grid based collision detector
  planning/behavior_path_planner/autoware_behavior_path_planner_common/CMakeLists.txt
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/occupancy_grid_based_collision_detector/occupancy_grid_based_collision_detector.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/occupancy_grid_based_collision_detector/occupancy_grid_based_collision_detector.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/test/test_occupancy_grid_based_collision_detector.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9077 chore(obstacle_cruise_planner): add maintainer
  planning/autoware_obstacle_cruise_planner/package.xml
Labels: component:planning, tag:run-build-and-test-differential

#9046 test(traffic_light): write test for utils
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/CMakeLists.txt
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/utils.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/utils.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/test/test_utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9071 fix(crosswalk): fix passing direction calclation for the objects
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9070 fix(lane_change): insert stop for current lanes object (RT0-33761)
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/base_class.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/utils.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/utils.cpp
Labels: type:documentation, component:planning, tag:deploy-docs, tag:run-build-and-test-differential

#9080 fix(.github): change `runs-on` value from `ubuntu-latest` to `ubuntu-22.04`
  .github/workflows/build-and-test-differential.yaml
  .github/workflows/cancel-previous-workflows.yaml
  .github/workflows/check-build-depends.yaml
  .github/workflows/clang-tidy-pr-comments-manually.yaml
  .github/workflows/clang-tidy-pr-comments.yaml
  .github/workflows/comment-on-pr.yaml
  .github/workflows/cppcheck-differential.yaml
  .github/workflows/cppcheck-weekly.yaml
  .github/workflows/dco.yaml
  .github/workflows/delete-closed-pr-docs.yaml
  .github/workflows/deploy-docs.yaml
  .github/workflows/github-release.yaml
  .github/workflows/json-schema-check.yaml
  .github/workflows/pr-agent.yaml
  .github/workflows/pr-labeler.yaml
  .github/workflows/pre-commit-autoupdate.yaml
  .github/workflows/pre-commit-optional.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/spell-check-daily.yaml
  .github/workflows/spell-check-differential.yaml
  .github/workflows/sync-files.yaml
  .github/workflows/update-codeowners-from-packages.yaml
Labels: type:ci, tag:run-build-and-test-differential

#9078 refactor(autoware_autonomous_emergency_braking): rename info_marker_publisher to virtual_wall_publisher
  control/autoware_autonomous_emergency_braking/include/autoware/autonomous_emergency_braking/node.hpp
  control/autoware_autonomous_emergency_braking/src/node.cpp
Labels: component:control, tag:run-build-and-test-differential

#9082 docs(autoware_pose_covariance_modifier): fix gt symbol
  localization/autoware_pose_covariance_modifier/README.md
Labels: type:documentation, component:localization, tag:run-build-and-test-differential

#8958 refactor(osqp_interface): added autoware prefix to osqp_interface
  common/autoware_osqp_interface/CMakeLists.txt
  common/autoware_osqp_interface/design/osqp_interface-design.md
  common/autoware_osqp_interface/include/autoware/osqp_interface/csc_matrix_conv.hpp
  common/autoware_osqp_interface/include/autoware/osqp_interface/osqp_interface.hpp
  common/autoware_osqp_interface/include/autoware/osqp_interface/visibility_control.hpp
  common/autoware_osqp_interface/package.xml
  common/autoware_osqp_interface/src/csc_matrix_conv.cpp
  common/autoware_osqp_interface/src/osqp_interface.cpp
  common/autoware_osqp_interface/test/test_csc_matrix_conv.cpp
  common/autoware_osqp_interface/test/test_osqp_interface.cpp
  control/autoware_mpc_lateral_controller/include/autoware/mpc_lateral_controller/qp_solver/qp_solver_osqp.hpp
  control/autoware_mpc_lateral_controller/package.xml
  control/autoware_trajectory_follower_base/package.xml
  planning/autoware_obstacle_cruise_planner/include/autoware/obstacle_cruise_planner/optimization_based_planner/velocity_optimizer.hpp
  planning/autoware_obstacle_cruise_planner/package.xml
  planning/autoware_path_optimizer/include/autoware/path_optimizer/mpt_optimizer.hpp
  planning/autoware_path_optimizer/package.xml
  planning/autoware_path_optimizer/src/mpt_optimizer.cpp
  planning/autoware_path_smoother/include/autoware/path_smoother/elastic_band.hpp
  planning/autoware_path_smoother/package.xml
  planning/autoware_path_smoother/src/elastic_band.cpp
  planning/autoware_static_centerline_generator/package.xml
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/node.hpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/smoother/l2_pseudo_jerk_smoother.hpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/smoother/linf_pseudo_jerk_smoother.hpp
  planning/autoware_velocity_smoother/package.xml
Labels: type:documentation, component:planning, component:control, component:common, tag:run-build-and-test-differential

#9009 test(no_stopping_area): refactor and add tests
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/CMakeLists.txt
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/src/debug.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/src/manager.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/src/scene_no_stopping_area.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/src/scene_no_stopping_area.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/src/utils.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/src/utils.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/test/test_utils.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/include/autoware/behavior_velocity_planner_common/scene_module_interface.hpp
Labels: component:planning, tag:run-build-and-test-differential

#9081 refactor(bpp_common, motion_utils): move path shifter util functions to autoware::motion_utils
  common/autoware_motion_utils/include/autoware/motion_utils/trajectory/path_shift.hpp
  common/autoware_motion_utils/src/trajectory/path_shift.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/pull_over_planner/shift_pull_over.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/calculation.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/path_shifter/path_shifter.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/path_shifter/path_shifter.cpp
  planning/behavior_path_planner/autoware_behavior_path_side_shift_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/shift_pull_out.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/helper.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/shift_line_generator.cpp
Labels: component:planning, component:common, tag:run-build-and-test-differential

#9083 test(motion_utils): add test for path shift
  common/autoware_motion_utils/test/src/trajectory/test_path_shift.cpp
Labels: component:common, tag:run-build-and-test-differential

#9065 feat(costmap_generator, control_validator, scenario_selector, surround_obstacle_checker, vehicle_cmd_gate): add processing time pub.
  control/autoware_control_validator/include/autoware/control_validator/control_validator.hpp
  control/autoware_control_validator/src/control_validator.cpp
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_gate.cpp
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_gate.hpp
  planning/autoware_costmap_generator/include/autoware_costmap_generator/costmap_generator.hpp
  planning/autoware_costmap_generator/nodes/autoware_costmap_generator/costmap_generator_node.cpp
  planning/autoware_scenario_selector/include/autoware/scenario_selector/node.hpp
  planning/autoware_scenario_selector/src/node.cpp
  planning/autoware_surround_obstacle_checker/src/node.cpp
  planning/autoware_surround_obstacle_checker/src/node.hpp
  system/autoware_processing_time_checker/config/processing_time_checker.param.yaml
Labels: component:planning, component:control, component:system, tag:run-build-and-test-differential

#8945 refactor(polar_grid): add autoware prefix to polar_grid
  common/autoware_polar_grid/CMakeLists.txt
  common/autoware_polar_grid/Readme.md
  common/autoware_polar_grid/icons/classes/PolarGridDisplay.png
  common/autoware_polar_grid/package.xml
  common/autoware_polar_grid/plugins/plugin_description.xml
  common/autoware_polar_grid/src/polar_grid_display.cpp
  common/autoware_polar_grid/src/polar_grid_display.hpp
Labels: type:documentation, component:common, tag:run-build-and-test-differential

#9058 refactor(freespace_planner): move functions to utils
  planning/autoware_freespace_planner/CMakeLists.txt
  planning/autoware_freespace_planner/include/autoware/freespace_planner/utils.hpp
  planning/autoware_freespace_planner/src/autoware_freespace_planner/freespace_planner_node.cpp
  planning/autoware_freespace_planner/src/autoware_freespace_planner/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9059 test(freespace_planner): add unit tests for util functions
  planning/autoware_freespace_planner/CMakeLists.txt
  planning/autoware_freespace_planner/test/test_freespace_planner_utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9060 test(freespace_planner): make unit tests for member functions
  planning/autoware_freespace_planner/CMakeLists.txt
  planning/autoware_freespace_planner/include/autoware/freespace_planner/freespace_planner_node.hpp
  planning/autoware_freespace_planner/test/test_freespace_planner.cpp
  planning/autoware_freespace_planner/test/test_freespace_planner_utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9049 test(bpp_common): add test for objects filtering except for lanelet using functions
  planning/behavior_path_planner/autoware_behavior_path_planner_common/CMakeLists.txt
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/path_safety_checker/objects_filtering.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/path_safety_checker/objects_filtering.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/test/test_objects_filtering.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9018 fix(tensorrt_common): add enqueueV3 support
  common/tensorrt_common/include/tensorrt_common/tensorrt_common.hpp
  common/tensorrt_common/src/tensorrt_common.cpp
Labels: component:common, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9024 fix(compare_map_segmentation): throw runtime error when using non-split map pointcloud for DynamicMapLoader
  perception/autoware_compare_map_segmentation/config/distance_based_compare_map_filter.param.yaml
  perception/autoware_compare_map_segmentation/config/voxel_based_approximate_compare_map_filter.param.yaml
  perception/autoware_compare_map_segmentation/config/voxel_based_compare_map_filter.param.yaml
  perception/autoware_compare_map_segmentation/config/voxel_distance_based_compare_map_filter.param.yaml
  perception/autoware_compare_map_segmentation/schema/distance_based_compare_map_filter.schema.json
  perception/autoware_compare_map_segmentation/schema/voxel_based_approximate_compare_map_filter.schema.json
  perception/autoware_compare_map_segmentation/schema/voxel_based_compare_map_filter.schema.json
  perception/autoware_compare_map_segmentation/schema/voxel_distance_based_compare_map_filter.schema.json
  perception/autoware_compare_map_segmentation/src/voxel_grid_map_loader/voxel_grid_map_loader.cpp
  perception/autoware_compare_map_segmentation/src/voxel_grid_map_loader/voxel_grid_map_loader.hpp
Labels: component:perception, tag:deploy-docs, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9085 refactor(lane_change): reducing clang-tidy warnings
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/calculation.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/utils.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9084 fix(autoware_ground_segmentation): fix scan ground filter logic
  perception/autoware_ground_segmentation/src/scan_ground_filter/node.cpp
  perception/autoware_ground_segmentation/src/scan_ground_filter/node.hpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9089 fix(avoidance): don't insert stop line if the ego can't avoid or return
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/helper.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9114 test(autoware_control_evaluator): add test for autoware_control_evaluator.
  evaluator/autoware_control_evaluator/CMakeLists.txt
  evaluator/autoware_control_evaluator/include/autoware/control_evaluator/control_evaluator_node.hpp
  evaluator/autoware_control_evaluator/package.xml
  evaluator/autoware_control_evaluator/test/test_control_evaluator_node.cpp
Labels: component:evaluator, tag:run-build-and-test-differential

#9087 test(detection_area): refactor and add unit tests
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/CMakeLists.txt
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/src/scene.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/src/utils.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/src/utils.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/test/test_utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9116 feat(autoware_ground_segmentation): implementing linear least square fitting for local gradient calculation
  perception/autoware_ground_segmentation/src/scan_ground_filter/node.cpp
  perception/autoware_ground_segmentation/src/scan_ground_filter/node.hpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9090 feat(lane_change): add unit test for normal lane change class (RT1-7970)
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/CMakeLists.txt
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/manager.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/base_class.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/test/test_lane_change_scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/interface/scene_module_manager_interface.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9099 refactor(tensorrt_common)!: fix namespace, directory structure & move to perception namespace
  .github/CODEOWNERS
  .github/labeler.yaml
  common/.pages
  perception/autoware_bytetrack/package.xml
  perception/autoware_lidar_apollo_instance_segmentation/CMakeLists.txt
  perception/autoware_lidar_apollo_instance_segmentation/include/autoware/lidar_apollo_instance_segmentation/detector.hpp
  perception/autoware_lidar_apollo_instance_segmentation/package.xml
  perception/autoware_lidar_apollo_instance_segmentation/src/detector.cpp
  perception/autoware_lidar_centerpoint/include/autoware/lidar_centerpoint/network/tensorrt_wrapper.hpp
  perception/autoware_lidar_centerpoint/lib/network/network_trt.cpp
  perception/autoware_lidar_centerpoint/lib/network/tensorrt_wrapper.cpp
  perception/autoware_lidar_centerpoint/package.xml
  perception/autoware_lidar_transfusion/include/autoware/lidar_transfusion/network/network_trt.hpp
  perception/autoware_lidar_transfusion/lib/network/network_trt.cpp
  perception/autoware_lidar_transfusion/package.xml
  perception/autoware_shape_estimation/include/autoware/shape_estimation/tensorrt_shape_estimator.hpp
  perception/autoware_shape_estimation/lib/tensorrt_shape_estimator.cpp
  perception/autoware_shape_estimation/package.xml
  perception/autoware_shape_estimation/src/shape_estimation_node.cpp
  perception/autoware_shape_estimation/src/shape_estimation_node.hpp
  perception/autoware_tensorrt_classifier/include/autoware/tensorrt_classifier/tensorrt_classifier.hpp
  perception/autoware_tensorrt_classifier/package.xml
  perception/autoware_tensorrt_classifier/src/tensorrt_classifier.cpp
  perception/autoware_tensorrt_common/CMakeLists.txt
  perception/autoware_tensorrt_common/README.md
  perception/autoware_tensorrt_common/include/autoware/tensorrt_common/logger.hpp
  perception/autoware_tensorrt_common/include/autoware/tensorrt_common/simple_profiler.hpp
  perception/autoware_tensorrt_common/include/autoware/tensorrt_common/tensorrt_common.hpp
  perception/autoware_tensorrt_common/package.xml
  perception/autoware_tensorrt_common/src/simple_profiler.cpp
  perception/autoware_tensorrt_common/src/tensorrt_common.cpp
  perception/autoware_tensorrt_yolox/CMakeLists.txt
  perception/autoware_tensorrt_yolox/include/autoware/tensorrt_yolox/tensorrt_yolox.hpp
  perception/autoware_tensorrt_yolox/package.xml
  perception/autoware_tensorrt_yolox/src/tensorrt_yolox.cpp
  perception/autoware_tensorrt_yolox/src/tensorrt_yolox_node.cpp
  perception/autoware_traffic_light_classifier/package.xml
  perception/autoware_traffic_light_classifier/src/classifier/cnn_classifier.cpp
  perception/autoware_traffic_light_classifier/src/classifier/cnn_classifier.hpp
  perception/autoware_traffic_light_fine_detector/src/traffic_light_fine_detector_node.cpp
Labels: type:documentation, component:perception, type:ci, tag:deploy-docs, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9113 feat(test_utils): add simple path with lane id generator
  common/autoware_test_utils/include/autoware_test_utils/autoware_test_utils.hpp
  common/autoware_test_utils/src/autoware_test_utils.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/test/test_utils.cpp
Labels: component:planning, component:common, tag:run-build-and-test-differential

#9119 fix(intersection): handle pass judge after red/arrow-signal to ignore NPCs after the signal changed to green again
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8466 refactor(autoware_pointcloud_preprocessor): rework crop box parameters
  perception/autoware_euclidean_cluster/config/voxel_grid_based_euclidean_cluster.param.yaml
  sensing/autoware_pointcloud_preprocessor/CMakeLists.txt
  sensing/autoware_pointcloud_preprocessor/config/crop_box_filter_node.param.yaml
  sensing/autoware_pointcloud_preprocessor/docs/crop-box-filter.md
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/crop_box_filter/crop_box_filter_node.hpp
  sensing/autoware_pointcloud_preprocessor/launch/crop_box_filter_node.launch.xml
  sensing/autoware_pointcloud_preprocessor/schema/crop_box_filter_node.schema.json
  sensing/autoware_pointcloud_preprocessor/src/crop_box_filter/crop_box_filter_node.cpp
Labels: type:documentation, component:perception, component:sensing, tag:deploy-docs, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9075 refactor(goal_planner): move last_previous_module_output_path out of ThreadSafeData
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/thread_data.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9122 test(bpp_common): add test for path utils
  planning/behavior_path_planner/autoware_behavior_path_planner_common/CMakeLists.txt
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/path_utils.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/path_utils.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/test/test_path_utils.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9106 refactor(virtual_traffic_light): move to utils for unit test
  planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/CMakeLists.txt
  planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/src/utils.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/src/utils.hpp
Labels: component:planning, tag:run-build-and-test-differential

#9125 chore(autoware_map_based_prediction): add maintainers to package.xml
  perception/autoware_map_based_prediction/package.xml
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9121 fix(crosswalk): fix occlusion detection range calculation and add debug markers
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/include/autoware/behavior_velocity_crosswalk_module/util.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/debug.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/occluded_crosswalk.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/occluded_crosswalk.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9093 refactor(component_interface_tools): prefix package and namespace with autoware
  common/autoware_component_interface_tools/CMakeLists.txt
  common/autoware_component_interface_tools/README.md
  common/autoware_component_interface_tools/launch/service_log_checker.launch.xml
  common/autoware_component_interface_tools/package.xml
  common/autoware_component_interface_tools/src/service_log_checker.cpp
  common/autoware_component_interface_tools/src/service_log_checker.hpp
  common/component_interface_tools/launch/service_log_checker.launch.xml
Labels: type:documentation, component:common, tag:run-build-and-test-differential

#9123 fix(utils): fix envelope polygon update logic
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9133 fix(system): fixed to use autoware_component_interface_tools
  launch/tier4_system_launch/launch/system.launch.xml
Labels: component:launch, tag:run-build-and-test-differential

#9101 fix(mission_planner): return without change_route if new route is empty
  planning/autoware_mission_planner/src/mission_planner/mission_planner.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9127 chore(simple_planning_simulator): add stop_filter_param_path
  launch/tier4_simulator_launch/launch/simulator.launch.xml
Labels: component:launch, tag:run-build-and-test-differential

#9134 test(static_obstacle_avoidance): add unit test for utils functions
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/type_alias.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/utils.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/package.xml
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/utils.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/test/test_utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9098 feat(autoware_test_utils): add path with lane id parser
  common/autoware_test_utils/include/autoware_test_utils/mock_data_parser.hpp
  common/autoware_test_utils/src/autoware_test_utils.cpp
  common/autoware_test_utils/src/mock_data_parser.cpp
  common/autoware_test_utils/test/test_mock_data_parser.cpp
  common/autoware_test_utils/test_data/path_with_lane_id_parser_test.yaml
  planning/autoware_route_handler/test/test_route_handler.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/test/test_lane_change_scene.cpp
Labels: component:planning, component:common, tag:run-build-and-test-differential

#9091 refactor(lane_change): refactor longitudinal acceleration sampling
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/calculation.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/data_structs.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/utils.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/calculation.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9120 feat(control_validator): add hold and lpf
  control/autoware_control_validator/README.md
  control/autoware_control_validator/config/control_validator.param.yaml
  control/autoware_control_validator/include/autoware/control_validator/control_validator.hpp
  control/autoware_control_validator/msg/ControlValidatorStatus.msg
  control/autoware_control_validator/package.xml
  control/autoware_control_validator/src/control_validator.cpp
Labels: type:documentation, component:control, tag:run-build-and-test-differential

#9140 chore(goal_planner): compare sampled/filtered candidate paths on plot
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/CMakeLists.txt
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/examples/plot_map.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9142 fix(static_obstacle_avoidance): suppress unnecessary warning
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9138 fix(tier4_map_launch): remove parameter use_intra_process
  launch/tier4_map_launch/launch/map.launch.xml
Labels: component:launch, tag:run-build-and-test-differential

#9141 fix(autonomous_emergency_braking): fix no backward imu path and wrong back distance usage
  control/autoware_autonomous_emergency_braking/src/node.cpp
Labels: component:control, tag:run-build-and-test-differential

#9118 feat(autoware_external_cmd_converter): add ext cmd converter tests
  vehicle/autoware_external_cmd_converter/CMakeLists.txt
  vehicle/autoware_external_cmd_converter/config/test_external_cmd_converter.param.yaml
  vehicle/autoware_external_cmd_converter/include/autoware_external_cmd_converter/node.hpp
  vehicle/autoware_external_cmd_converter/package.xml
  vehicle/autoware_external_cmd_converter/src/node.cpp
  vehicle/autoware_external_cmd_converter/tests/test_external_cmd_converter.cpp
Labels: component:vehicle, tag:run-build-and-test-differential

#9003 chore(tier4_perception_launch): enable to receive argument `centerpoint_model_name` from autoware_launch
  launch/tier4_perception_launch/launch/object_recognition/detection/detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/camera_lidar_detector.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/lidar_dnn_detector.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/merger/camera_lidar_merger.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/merger/camera_lidar_radar_merger.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/merger/lidar_merger.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
Labels: component:launch, tag:run-build-and-test-differential

#9107 test(virtual_traffic_light): add unit tests for utils
  planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/CMakeLists.txt
  planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/test/test_utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9103 fix(behavior_path_planner, behavior_velocity_planner): fix to not read invalid ID
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/utils.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/drivable_area_expansion/static_drivable_area.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/utils.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/util.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9150 fix(autoware_image_projection_based_fusion): pointpainting bug fix for point projection
  perception/autoware_image_projection_based_fusion/src/pointpainting_fusion/node.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9151 refactor(vehicle_info): add API description, add unit-tests, add owner
  common/autoware_vehicle_info_utils/CMakeLists.txt
  common/autoware_vehicle_info_utils/include/autoware_vehicle_info_utils/vehicle_info.hpp
  common/autoware_vehicle_info_utils/include/autoware_vehicle_info_utils/vehicle_info_utils.hpp
  common/autoware_vehicle_info_utils/package.xml
  common/autoware_vehicle_info_utils/src/vehicle_info.cpp
  common/autoware_vehicle_info_utils/src/vehicle_info_utils.cpp
  common/autoware_vehicle_info_utils/test/test_vehicle_info_utils.cpp
Labels: component:common, tag:run-build-and-test-differential

#9158 feat(start_planner): update param to match launch
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/config/start_planner.param.yaml
Labels: component:planning, tag:run-build-and-test-differential

#9104 refactor(autoware_map_based_prediction): refactoring lanelet path prediction and pose path conversion
  perception/autoware_map_based_prediction/include/map_based_prediction/map_based_prediction_node.hpp
  perception/autoware_map_based_prediction/src/map_based_prediction_node.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9163 fix(traffic_light_utils): prevent accessing nullopt
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/traffic_light_utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9159 feat(goal_planner): align vehicle footprint heading parallel to parking side lane boundary
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/CMakeLists.txt
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/examples/plot_map.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/util.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_searcher.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/util.cpp
Labels: component:planning, tag:run-build-and-test-differential

#8380 feat(autoware_pointcloud_preprocessor): distortion corrector node update azimuth and distance
  common/autoware_universe_utils/NOTICE
  common/autoware_universe_utils/include/autoware/universe_utils/math/trigonometry.hpp
  common/autoware_universe_utils/src/math/trigonometry.cpp
  common/autoware_universe_utils/test/src/math/test_trigonometry.cpp
  common/autoware_universe_utils/third_party_licenses/opencv-license.md
  sensing/autoware_pointcloud_preprocessor/config/distortion_corrector_node.param.yaml
  sensing/autoware_pointcloud_preprocessor/docs/distortion-corrector.md
  sensing/autoware_pointcloud_preprocessor/docs/image/hesai.drawio.png
  sensing/autoware_pointcloud_preprocessor/docs/image/velodyne.drawio.png
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/distortion_corrector/distortion_corrector.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/distortion_corrector/distortion_corrector_node.hpp
  sensing/autoware_pointcloud_preprocessor/schema/distortion_corrector_node.schema.json
  sensing/autoware_pointcloud_preprocessor/src/distortion_corrector/distortion_corrector.cpp
  sensing/autoware_pointcloud_preprocessor/src/distortion_corrector/distortion_corrector_node.cpp
  sensing/autoware_pointcloud_preprocessor/test/test_distortion_corrector_node.cpp
Labels: type:documentation, component:sensing, component:common, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9097 fix(compare_map_segmentation): add missing mutex lock
  perception/autoware_compare_map_segmentation/src/distance_based_compare_map_filter/node.cpp
  perception/autoware_compare_map_segmentation/src/distance_based_compare_map_filter/node.hpp
  perception/autoware_compare_map_segmentation/src/voxel_based_approximate_compare_map_filter/node.cpp
  perception/autoware_compare_map_segmentation/src/voxel_based_approximate_compare_map_filter/node.hpp
  perception/autoware_compare_map_segmentation/src/voxel_based_compare_map_filter/node.cpp
  perception/autoware_compare_map_segmentation/src/voxel_distance_based_compare_map_filter/node.cpp
  perception/autoware_compare_map_segmentation/src/voxel_distance_based_compare_map_filter/node.hpp
  perception/autoware_compare_map_segmentation/src/voxel_grid_map_loader/voxel_grid_map_loader.cpp
  perception/autoware_compare_map_segmentation/src/voxel_grid_map_loader/voxel_grid_map_loader.hpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9167 feat(autoware_test_utils): add parser for geometry_msgs and others
  common/autoware_test_utils/include/autoware_test_utils/mock_data_parser.hpp
  common/autoware_test_utils/src/mock_data_parser.cpp
  common/autoware_test_utils/test/test_mock_data_parser.cpp
Labels: component:common, tag:run-build-and-test-differential

#9157 feat(collision_detector): add autoware_collision_detector
  control/autoware_collision_detector/CMakeLists.txt
  control/autoware_collision_detector/README.md
  control/autoware_collision_detector/config/collision_detector.param.yaml
  control/autoware_collision_detector/include/autoware/collision_detector/node.hpp
  control/autoware_collision_detector/launch/collision_detector.launch.xml
  control/autoware_collision_detector/package.xml
  control/autoware_collision_detector/src/node.cpp
Labels: type:documentation, component:control, tag:run-build-and-test-differential

#9148 feat(autoware_shape_estimation): add reference object based corrector
  perception/autoware_detection_by_tracker/src/detection_by_tracker_node.cpp
  perception/autoware_shape_estimation/CMakeLists.txt
  perception/autoware_shape_estimation/include/autoware/shape_estimation/corrector/corrector.hpp
  perception/autoware_shape_estimation/include/autoware/shape_estimation/corrector/reference_object_based_corrector.hpp
  perception/autoware_shape_estimation/include/autoware/shape_estimation/corrector/utils.hpp
  perception/autoware_shape_estimation/include/autoware/shape_estimation/shape_estimator.hpp
  perception/autoware_shape_estimation/lib/corrector/reference_object_based_corrector.cpp
  perception/autoware_shape_estimation/lib/corrector/utils.cpp
  perception/autoware_shape_estimation/lib/shape_estimator.cpp
  perception/autoware_shape_estimation/src/shape_estimation_node.cpp
  perception/autoware_shape_estimation/test/shape_estimation/test_shape_estimator.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9162 refactor(autoware_compare_map_segmentation): resolve clang-tidy error in autoware_compare_map_segmentation
  perception/autoware_compare_map_segmentation/src/compare_elevation_map_filter/node.cpp
  perception/autoware_compare_map_segmentation/src/compare_elevation_map_filter/node.hpp
  perception/autoware_compare_map_segmentation/src/distance_based_compare_map_filter/node.cpp
  perception/autoware_compare_map_segmentation/src/distance_based_compare_map_filter/node.hpp
  perception/autoware_compare_map_segmentation/src/voxel_based_approximate_compare_map_filter/node.cpp
  perception/autoware_compare_map_segmentation/src/voxel_based_approximate_compare_map_filter/node.hpp
  perception/autoware_compare_map_segmentation/src/voxel_based_compare_map_filter/node.cpp
  perception/autoware_compare_map_segmentation/src/voxel_based_compare_map_filter/node.hpp
  perception/autoware_compare_map_segmentation/src/voxel_distance_based_compare_map_filter/node.cpp
  perception/autoware_compare_map_segmentation/src/voxel_distance_based_compare_map_filter/node.hpp
  perception/autoware_compare_map_segmentation/src/voxel_grid_map_loader/voxel_grid_map_loader.cpp
  perception/autoware_compare_map_segmentation/src/voxel_grid_map_loader/voxel_grid_map_loader.hpp
  sensing/autoware_pointcloud_preprocessor/CMakeLists.txt
Labels: component:perception, component:sensing, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9160 perf(costmap_generator): manual blurring and fill polygons without OpenCV
  planning/autoware_costmap_generator/include/autoware_costmap_generator/costmap_generator.hpp
  planning/autoware_costmap_generator/include/autoware_costmap_generator/object_map_utils.hpp
  planning/autoware_costmap_generator/include/autoware_costmap_generator/objects_to_costmap.hpp
  planning/autoware_costmap_generator/nodes/autoware_costmap_generator/costmap_generator_node.cpp
  planning/autoware_costmap_generator/nodes/autoware_costmap_generator/object_map_utils.cpp
  planning/autoware_costmap_generator/nodes/autoware_costmap_generator/objects_to_costmap.cpp
  planning/autoware_costmap_generator/package.xml
Labels: component:planning, tag:run-build-and-test-differential

#9165 fix(autoware_test_utils): remove unnecessary cppcheck suppression
  common/autoware_test_utils/src/autoware_test_utils.cpp
Labels: component:common, tag:run-build-and-test-differential

#9166 ci(build-and-test): reduce cores used by colcon build
  .github/workflows/build-and-test-differential-arm64.yaml
  .github/workflows/build-and-test-differential.yaml
  .github/workflows/build-and-test.yaml
Labels: type:ci, tag:run-build-and-test-differential

#9094 refactor(component_interface_specs): prefix package and namespace with autoware
  common/autoware_component_interface_specs/CMakeLists.txt
  common/autoware_component_interface_specs/README.md
  common/autoware_component_interface_specs/include/autoware/component_interface_specs/control.hpp
  common/autoware_component_interface_specs/include/autoware/component_interface_specs/localization.hpp
  common/autoware_component_interface_specs/include/autoware/component_interface_specs/map.hpp
  common/autoware_component_interface_specs/include/autoware/component_interface_specs/perception.hpp
  common/autoware_component_interface_specs/include/autoware/component_interface_specs/planning.hpp
  common/autoware_component_interface_specs/include/autoware/component_interface_specs/system.hpp
  common/autoware_component_interface_specs/include/autoware/component_interface_specs/vehicle.hpp
  common/autoware_component_interface_specs/package.xml
  common/autoware_component_interface_specs/test/gtest_main.cpp
  common/autoware_component_interface_specs/test/test_control.cpp
  common/autoware_component_interface_specs/test/test_localization.cpp
  common/autoware_component_interface_specs/test/test_map.cpp
  common/autoware_component_interface_specs/test/test_perception.cpp
  common/autoware_component_interface_specs/test/test_planning.cpp
  common/autoware_component_interface_specs/test/test_system.cpp
  common/autoware_component_interface_specs/test/test_vehicle.cpp
  common/autoware_test_utils/include/autoware_test_utils/autoware_test_utils.hpp
  common/autoware_test_utils/package.xml
  control/autoware_operation_mode_transition_manager/package.xml
  control/autoware_operation_mode_transition_manager/src/node.hpp
  control/autoware_vehicle_cmd_gate/package.xml
  control/autoware_vehicle_cmd_gate/src/adapi_pause_interface.hpp
  control/autoware_vehicle_cmd_gate/src/moderate_stop_interface.hpp
  control/predicted_path_checker/include/predicted_path_checker/predicted_path_checker_node.hpp
  control/predicted_path_checker/package.xml
  control/predicted_path_checker/src/predicted_path_checker_node/predicted_path_checker_node.cpp
  localization/autoware_geo_pose_projector/package.xml
  localization/autoware_geo_pose_projector/src/geo_pose_projector.hpp
  localization/autoware_pose_initializer/package.xml
  localization/autoware_pose_initializer/src/ekf_localization_trigger_module.cpp
  localization/autoware_pose_initializer/src/gnss_module.cpp
  localization/autoware_pose_initializer/src/localization_module.cpp
  localization/autoware_pose_initializer/src/ndt_localization_trigger_module.cpp
  localization/autoware_pose_initializer/src/pose_initializer_core.hpp
  map/autoware_map_projection_loader/include/autoware/map_projection_loader/map_projection_loader.hpp
  map/autoware_map_projection_loader/package.xml
  map/map_loader/include/map_loader/lanelet2_map_loader_node.hpp
  map/map_loader/package.xml
  planning/autoware_planning_test_manager/include/autoware_planning_test_manager/autoware_planning_test_manager.hpp
  planning/autoware_planning_test_manager/package.xml
  sensing/autoware_gnss_poser/include/autoware/gnss_poser/gnss_poser_node.hpp
  sensing/autoware_gnss_poser/package.xml
  system/autoware_default_adapi/package.xml
  system/autoware_default_adapi/src/fail_safe.hpp
  system/autoware_default_adapi/src/localization.hpp
  system/autoware_default_adapi/src/motion.cpp
  system/autoware_default_adapi/src/motion.hpp
  system/autoware_default_adapi/src/operation_mode.hpp
  system/autoware_default_adapi/src/perception.cpp
  system/autoware_default_adapi/src/perception.hpp
  system/autoware_default_adapi/src/planning.hpp
  system/autoware_default_adapi/src/routing.cpp
  system/autoware_default_adapi/src/routing.hpp
  system/autoware_default_adapi/src/vehicle.cpp
  system/autoware_default_adapi/src/vehicle.hpp
  system/autoware_default_adapi/src/vehicle_door.cpp
  system/autoware_default_adapi/src/vehicle_door.hpp
Labels: type:documentation, component:sensing, component:localization, component:planning, component:control, component:system, component:map, component:common, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9175 feat(autoware_motion_utils): add spherical linear interpolator
  common/autoware_motion_utils/include/autoware/motion_utils/trajectory_container/interpolator.hpp
  common/autoware_motion_utils/include/autoware/motion_utils/trajectory_container/interpolator/detail/interpolator_mixin.hpp
  common/autoware_motion_utils/include/autoware/motion_utils/trajectory_container/interpolator/spherical_linear.hpp
  common/autoware_motion_utils/src/trajectory_container/interpolator/spherical_linear.cpp
  common/autoware_motion_utils/test/src/trajectory_container/test_interpolator.cpp
Labels: component:common, tag:run-build-and-test-differential

#9144 fix: fix internal door interface qos
  common/autoware_component_interface_specs/include/autoware/component_interface_specs/vehicle.hpp
  simulator/vehicle_door_simulator/src/dummy_doors.cpp
Labels: component:common, component:simulation, tag:run-build-and-test-differential

#9170 refactor(autoware_grid_map_utils): prefix folder structure with autoware/
  common/autoware_grid_map_utils/include/autoware/grid_map_utils/polygon_iterator.hpp
  common/autoware_grid_map_utils/src/polygon_iterator.cpp
  common/autoware_grid_map_utils/test/benchmark.cpp
  common/autoware_grid_map_utils/test/test_polygon_iterator.cpp
  perception/autoware_elevation_map_loader/src/elevation_map_loader_node.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/occluded_crosswalk.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_occlusion_spot_module/src/grid_utils.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_velocity_limiter_module/src/occupancy_grid_utils.cpp
Labels: component:perception, component:planning, component:common, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9007 chore(intersection): print RTC status in diagnostic debug message
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/decision_result.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/decision_result.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9179 fix(costmap_generator): fix include for grid_map_utils
  planning/autoware_costmap_generator/nodes/autoware_costmap_generator/object_map_utils.cpp
  planning/autoware_costmap_generator/nodes/autoware_costmap_generator/objects_to_costmap.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9174 refactor(autoware_test_utils): sanitize includes in header
  common/autoware_test_utils/include/autoware_test_utils/autoware_test_utils.hpp
  common/autoware_test_utils/include/autoware_test_utils/mock_data_parser.hpp
  common/autoware_test_utils/src/autoware_test_utils.cpp
  common/autoware_test_utils/src/mock_data_parser.cpp
  planning/autoware_planning_test_manager/include/autoware_planning_test_manager/autoware_planning_test_manager_utils.hpp
Labels: component:planning, component:common, tag:run-build-and-test-differential

#9176 feat(autoware_test_utils): add parser for PredictedObjects
  common/autoware_test_utils/include/autoware_test_utils/mock_data_parser.hpp
  common/autoware_test_utils/src/mock_data_parser.cpp
  common/autoware_test_utils/test/test_mock_data_parser.cpp
Labels: component:common, tag:run-build-and-test-differential

#8747 test(autoware_traffic_light_arbiter): add node test
  perception/autoware_traffic_light_arbiter/CMakeLists.txt
  perception/autoware_traffic_light_arbiter/package.xml
  perception/autoware_traffic_light_arbiter/test/test_node.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9184 chore(collision_detector): add maintainer
  control/autoware_collision_detector/package.xml
Labels: component:control, tag:run-build-and-test-differential

#9129 fix(behavior_path_planner): suppress reseting root lanelet
  planning/behavior_path_planner/autoware_behavior_path_planner/include/autoware/behavior_path_planner/planner_manager.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner/src/planner_manager.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9136 feat(mission_planner): reroute with current route start pose when triggered by modifed goal
  planning/autoware_mission_planner/src/mission_planner/mission_planner.cpp
  planning/autoware_mission_planner/src/mission_planner/mission_planner.hpp
  planning/autoware_route_handler/src/route_handler.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9186 fix(autoware_traffic_light_arbiter): fix build error
  perception/autoware_traffic_light_arbiter/test/test_node.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9191 fix(autoware_route_handler): fix cppcheck unusedVariable
  planning/autoware_route_handler/src/route_handler.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9169 refactor(autoware_point_types): prefix namespace with autoware::point_types
  common/autoware_point_types/include/autoware/point_types/types.hpp
  common/autoware_point_types/test/test_point_types.cpp
  localization/autoware_landmark_based_localizer/autoware_lidar_marker_localizer/src/lidar_marker_localizer.cpp
  perception/autoware_compare_map_segmentation/test/test_distance_based_compare_map_filter.cpp
  perception/autoware_compare_map_segmentation/test/test_voxel_based_approximate_compare_map_filter.cpp
  perception/autoware_compare_map_segmentation/test/test_voxel_based_compare_map_filter.cpp
  perception/autoware_compare_map_segmentation/test/test_voxel_distance_based_compare_map_filter.cpp
  perception/autoware_euclidean_cluster/test/test_voxel_grid_based_euclidean_cluster.cpp
  perception/autoware_image_projection_based_fusion/src/pointpainting_fusion/node.cpp
  perception/autoware_image_projection_based_fusion/test/test_utils.cpp
  perception/autoware_lidar_transfusion/include/autoware/lidar_transfusion/preprocess/voxel_generator.hpp
  perception/autoware_lidar_transfusion/include/autoware/lidar_transfusion/ros_utils.hpp
  perception/autoware_lidar_transfusion/test/test_voxel_generator.cpp
  perception/autoware_raindrop_cluster_filter/test/test_low_intensity_cluster_filter.cpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/concatenate_and_time_sync_nodelet.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/concatenate_pointclouds.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/outlier_filter/ring_outlier_filter_node.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/time_synchronizer/time_synchronizer_node.hpp
  sensing/autoware_pointcloud_preprocessor/src/blockage_diag/blockage_diag_node.cpp
  sensing/autoware_pointcloud_preprocessor/src/concatenate_data/concatenate_and_time_sync_nodelet.cpp
  sensing/autoware_pointcloud_preprocessor/src/concatenate_data/concatenate_pointclouds.cpp
  sensing/autoware_pointcloud_preprocessor/src/outlier_filter/dual_return_outlier_filter_node.cpp
  sensing/autoware_pointcloud_preprocessor/src/outlier_filter/ring_outlier_filter_node.cpp
  sensing/autoware_pointcloud_preprocessor/src/time_synchronizer/time_synchronizer_node.cpp
  sensing/autoware_pointcloud_preprocessor/src/utility/memory.cpp
Labels: component:perception, component:sensing, component:localization, component:common, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#9172 refactor(goal_distance_calculator): prefix package and namespace with autoware
  .github/CODEOWNERS
  common/autoware_goal_distance_calculator/CMakeLists.txt
  common/autoware_goal_distance_calculator/Readme.md
  common/autoware_goal_distance_calculator/config/goal_distance_calculator.param.yaml
  common/autoware_goal_distance_calculator/include/autoware/goal_distance_calculator/goal_distance_calculator.hpp
  common/autoware_goal_distance_calculator/include/autoware/goal_distance_calculator/goal_distance_calculator_node.hpp
  common/autoware_goal_distance_calculator/launch/goal_distance_calculator.launch.xml
  common/autoware_goal_distance_calculator/package.xml
  common/autoware_goal_distance_calculator/schema/goal_distance_calculator.schema.json
  common/autoware_goal_distance_calculator/src/goal_distance_calculator.cpp
  common/autoware_goal_distance_calculator/src/goal_distance_calculator_node.cpp
  common/goal_distance_calculator/CMakeLists.txt
Labels: type:documentation, type:ci, component:common, tag:run-build-and-test-differential

#9128 fix(simple_planning_simulator): change orger of IDX in SimModelDelayS…
  simulator/simple_planning_simulator/include/simple_planning_simulator/vehicle_model/sim_model_delay_steer_acc_geared_wo_fall_guard.hpp
Labels: component:planning, component:simulation, tag:run-build-and-test-differential

#9173 refactor(time_utils): prefix package and namespace with autoware
  .github/CODEOWNERS
  common/autoware_time_utils/CMakeLists.txt
  common/autoware_time_utils/include/autoware/time_utils/stopwatch.hpp
  common/autoware_time_utils/include/autoware/time_utils/time_utils.hpp
  common/autoware_time_utils/include/autoware/time_utils/visibility_control.hpp
  common/autoware_time_utils/package.xml
  common/autoware_time_utils/src/time_utils/time_utils.cpp
Labels: type:ci, component:common, tag:run-build-and-test-differential

#9202 feat(rtc_interface): add requested field
  planning/autoware_rtc_interface/CMakeLists.txt
  planning/autoware_rtc_interface/include/autoware/rtc_interface/rtc_interface.hpp
  planning/autoware_rtc_interface/package.xml
  planning/autoware_rtc_interface/src/rtc_interface.cpp
  planning/autoware_rtc_interface/test/test_rtc_interface.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9199 fix(mpc_lateral_controller): correctly resample the MPC trajectory yaws
  control/autoware_mpc_lateral_controller/src/mpc_utils.cpp
Labels: component:control, tag:run-build-and-test-differential

#9204 fix(bpp): prevent accessing nullopt
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/traffic_light_utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#9201 refactor(autoware_map_based_prediction): split pedestrian and bicycle predictor
  perception/autoware_map_based_prediction/CMakeLists.txt
  perception/autoware_map_based_prediction/include/map_based_prediction/data_structure.hpp
  perception/autoware_map_based_prediction/include/map_based_prediction/map_based_prediction_node.hpp
  perception/autoware_map_based_prediction/include/map_based_prediction/path_generator.hpp
  perception/autoware_map_based_prediction/include/map_based_prediction/predictor_vru.hpp
  perception/autoware_map_based_prediction/include/map_based_prediction/utils.hpp
  perception/autoware_map_based_prediction/src/debug.cpp
  perception/autoware_map_based_prediction/src/map_based_prediction_node.cpp
  perception/autoware_map_based_prediction/src/path_generator.cpp
  perception/autoware_map_based_prediction/src/predictor_vru.cpp
  perception/autoware_map_based_prediction/src/utils.cpp
  perception/autoware_map_based_prediction/test/map_based_prediction/test_path_generator.cpp
Labels: component:perception, tag:run-build-and-test-differential, tag:require-cuda-build-and-test

#8912 refactor(ndt_scan_matcher, ndt_omp): move ndt_omp into ndt_scan_matcher
  localization/autoware_ndt_scan_matcher/CMakeLists.txt
  localization/autoware_ndt_scan_matcher/include/autoware/ndt_scan_matcher/hyper_parameters.hpp
  localization/autoware_ndt_scan_matcher/include/autoware/ndt_scan_matcher/map_update_module.hpp
  localization/autoware_ndt_scan_matcher/include/autoware/ndt_scan_matcher/ndt_omp/LICENSE
  localization/autoware_ndt_scan_matcher/include/autoware/ndt_scan_matcher/ndt_omp/README.md
  localization/autoware_ndt_scan_matcher/include/autoware/ndt_scan_matcher/ndt_omp/estimate_covariance.hpp
  localization/autoware_ndt_scan_matcher/include/autoware/ndt_scan_matcher/ndt_omp/multi_voxel_grid_covariance_omp.h
  localization/autoware_ndt_scan_matcher/include/autoware/ndt_scan_matcher/ndt_omp/multigrid_ndt_omp.h
  localization/autoware_ndt_scan_matcher/include/autoware/ndt_scan_matcher/ndt_omp/ndt_struct.hpp
  localization/autoware_ndt_scan_matcher/include/autoware/ndt_scan_matcher/ndt_scan_matcher_core.hpp
  localization/autoware_ndt_scan_matcher/package.xml
  localization/autoware_ndt_scan_matcher/src/ndt_omp/estimate_covariance.cpp
  localization/autoware_ndt_scan_matcher/src/ndt_omp/multi_voxel_grid_covariance_omp.cpp
  localization/autoware_ndt_scan_matcher/src/ndt_omp/multi_voxel_grid_covariance_omp_impl.hpp
  localization/autoware_ndt_scan_matcher/src/ndt_omp/multigrid_ndt_omp.cpp
  localization/autoware_ndt_scan_matcher/src/ndt_omp/multigrid_ndt_omp_impl.hpp
  localization/autoware_ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
Labels: type:documentation, component:localization, tag:run-build-and-test-differential

#9177 feat(autoware_test_utils): add traffic light msgs parser
  common/autoware_test_utils/include/autoware_test_utils/mock_data_parser.hpp
  common/autoware_test_utils/src/mock_data_parser.cpp
  common/autoware_test_utils/test/test_mock_data_parser.cpp
Labels: component:common, tag:run-build-and-test-differential
