Repository autowarefoundation/autoware_universe, pull requests merged in 2024-06, with the labels that each got.

#7213 feat(obstacle_avoidance_planner): use polling subscriber
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/node.hpp
  planning/obstacle_avoidance_planner/src/node.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7214 feat(path_smoother): use polling subscriber
  planning/path_smoother/include/path_smoother/elastic_band_smoother.hpp
  planning/path_smoother/src/elastic_band_smoother.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7208 fix(yabloc): fix bug in capturing in lambda function
  localization/yabloc/yabloc_common/src/extract_line_segments.cpp
Labels: component:localization, tag:run-build-and-test-differential

#7207 refactor(yabloc): use constexpr properly
  localization/yabloc/yabloc_common/src/extract_line_segments.cpp
Labels: component:localization, tag:run-build-and-test-differential

#7212 fix(autoware_auto_common): nullptr_t
  common/autoware_auto_common/include/autoware_auto_common/helper_functions/message_adapters.hpp
Labels: component:common, tag:run-build-and-test-differential

#7096 test(image_projection_based_fusion): add unit test code for geometry
  perception/image_projection_based_fusion/CMakeLists.txt
  perception/image_projection_based_fusion/test/test_geometry.cpp
Labels: component:perception, tag:run-build-and-test-differential

#7186 feat(detected_object_validation): filter unknown objects with its footprint
  perception/detected_object_validation/include/detected_object_validation/detected_object_filter/object_lanelet_filter.hpp
  perception/detected_object_validation/include/detected_object_validation/utils/utils.hpp
  perception/detected_object_validation/src/object_lanelet_filter.cpp
Labels: component:perception, tag:run-build-and-test-differential

#7217 feat: remove autoware_auto_geometry package
  .github/CODEOWNERS
  common/.pages
  common/autoware_auto_geometry/CMakeLists.txt
  common/autoware_auto_geometry/design/interval.md
  common/autoware_auto_geometry/design/polygon_intersection_2d-design.md
  common/autoware_auto_geometry/design/spatial-hash-design.md
  common/autoware_auto_geometry/include/autoware_auto_geometry/bounding_box/bounding_box_common.hpp
  common/autoware_auto_geometry/include/autoware_auto_geometry/bounding_box/eigenbox_2d.hpp
  common/autoware_auto_geometry/include/autoware_auto_geometry/bounding_box/lfit.hpp
  common/autoware_auto_geometry/include/autoware_auto_geometry/bounding_box/rotating_calipers.hpp
  common/autoware_auto_geometry/include/autoware_auto_geometry/bounding_box_2d.hpp
  common/autoware_auto_geometry/include/autoware_auto_geometry/common_2d.hpp
  common/autoware_auto_geometry/include/autoware_auto_geometry/common_3d.hpp
  common/autoware_auto_geometry/include/autoware_auto_geometry/convex_hull.hpp
  common/autoware_auto_geometry/include/autoware_auto_geometry/hull_pockets.hpp
  common/autoware_auto_geometry/include/autoware_auto_geometry/intersection.hpp
  common/autoware_auto_geometry/include/autoware_auto_geometry/interval.hpp
  common/autoware_auto_geometry/include/autoware_auto_geometry/lookup_table.hpp
  common/autoware_auto_geometry/include/autoware_auto_geometry/spatial_hash.hpp
  common/autoware_auto_geometry/include/autoware_auto_geometry/spatial_hash_config.hpp
  common/autoware_auto_geometry/include/autoware_auto_geometry/visibility_control.hpp
  common/autoware_auto_geometry/package.xml
  common/autoware_auto_geometry/src/bounding_box.cpp
  common/autoware_auto_geometry/src/spatial_hash.cpp
  common/autoware_auto_geometry/test/include/test_bounding_box.hpp
  common/autoware_auto_geometry/test/include/test_spatial_hash.hpp
  common/autoware_auto_geometry/test/src/lookup_table.cpp
  common/autoware_auto_geometry/test/src/test_area.cpp
  common/autoware_auto_geometry/test/src/test_common_2d.cpp
  common/autoware_auto_geometry/test/src/test_convex_hull.cpp
  common/autoware_auto_geometry/test/src/test_geometry.cpp
  common/autoware_auto_geometry/test/src/test_hull_pockets.cpp
  common/autoware_auto_geometry/test/src/test_intersection.cpp
  common/autoware_auto_geometry/test/src/test_interval.cpp
  perception/traffic_light_occlusion_predictor/package.xml
Labels: type:documentation, component:perception, type:ci, component:common, tag:run-build-and-test-differential

#7221 feat(autoware_auto_perception_rviz_plugin)!: rename package to autoware_perception_rviz_plugin
  .github/CODEOWNERS
  common/.pages
  common/autoware_auto_perception_rviz_plugin/include/autoware_auto_perception_rviz_plugin/visibility_control.hpp
  common/autoware_perception_rviz_plugin/CMakeLists.txt
  common/autoware_perception_rviz_plugin/README.md
  common/autoware_perception_rviz_plugin/icons/classes/DetectedObjects.png
  common/autoware_perception_rviz_plugin/icons/classes/PredictedObjects.png
  common/autoware_perception_rviz_plugin/icons/classes/TrackedObjects.png
  common/autoware_perception_rviz_plugin/images/detected-object-visualization-description.jpg
  common/autoware_perception_rviz_plugin/images/predicted-object-visualization-description.jpg
  common/autoware_perception_rviz_plugin/images/tracked-object-visualization-description.jpg
  common/autoware_perception_rviz_plugin/include/autoware_perception_rviz_plugin/common/color_alpha_property.hpp
  common/autoware_perception_rviz_plugin/include/autoware_perception_rviz_plugin/object_detection/detected_objects_display.hpp
  common/autoware_perception_rviz_plugin/include/autoware_perception_rviz_plugin/object_detection/object_polygon_detail.hpp
  common/autoware_perception_rviz_plugin/include/autoware_perception_rviz_plugin/object_detection/object_polygon_display_base.hpp
  common/autoware_perception_rviz_plugin/include/autoware_perception_rviz_plugin/object_detection/predicted_objects_display.hpp
  common/autoware_perception_rviz_plugin/include/autoware_perception_rviz_plugin/object_detection/tracked_objects_display.hpp
  common/autoware_perception_rviz_plugin/include/autoware_perception_rviz_plugin/visibility_control.hpp
  common/autoware_perception_rviz_plugin/package.xml
  common/autoware_perception_rviz_plugin/plugins_description.xml
  common/autoware_perception_rviz_plugin/src/common/color_alpha_property.cpp
  common/autoware_perception_rviz_plugin/src/object_detection/detected_objects_display.cpp
  common/autoware_perception_rviz_plugin/src/object_detection/object_polygon_detail.cpp
  common/autoware_perception_rviz_plugin/src/object_detection/predicted_objects_display.cpp
  common/autoware_perception_rviz_plugin/src/object_detection/tracked_objects_display.cpp
  planning/obstacle_avoidance_planner/rviz/obstacle_avoidance_planner.rviz
Labels: type:documentation, component:planning, type:ci, component:common, tag:run-build-and-test-differential

#6639 refactor(behavior_velocity_template_module): prefix package and namespace with autoware_
  .github/CODEOWNERS
  planning/.pages
  planning/autoware_behavior_velocity_planner/package.xml
  planning/autoware_behavior_velocity_template_module/CMakeLists.txt
  planning/autoware_behavior_velocity_template_module/README.md
  planning/autoware_behavior_velocity_template_module/config/template.param.yaml
  planning/autoware_behavior_velocity_template_module/package.xml
  planning/autoware_behavior_velocity_template_module/plugins.xml
  planning/autoware_behavior_velocity_template_module/src/manager.cpp
  planning/autoware_behavior_velocity_template_module/src/manager.hpp
  planning/autoware_behavior_velocity_template_module/src/scene.cpp
  planning/autoware_behavior_velocity_template_module/src/scene.hpp
  planning/behavior_velocity_template_module/plugins.xml
Labels: type:documentation, component:planning, type:ci, tag:deploy-docs, tag:run-build-and-test-differential

#7218 feat!: remove autoware_auto_tf2 package
  .github/CODEOWNERS
  common/.pages
  common/autoware_auto_tf2/CMakeLists.txt
  common/autoware_auto_tf2/design/autoware-auto-tf2-design.md
  common/autoware_auto_tf2/include/autoware_auto_tf2/tf2_autoware_auto_msgs.hpp
  common/autoware_auto_tf2/package.xml
  common/autoware_auto_tf2/test/test_tf2_autoware_auto_msgs.cpp
  planning/autoware_behavior_path_static_obstacle_avoidance_module/package.xml
  planning/behavior_path_planner/package.xml
  planning/behavior_path_planner_common/package.xml
  planning/behavior_path_sampling_planner_module/package.xml
  planning/behavior_velocity_crosswalk_module/package.xml
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_planner_common/package.xml
  planning/surround_obstacle_checker/package.xml
  planning/surround_obstacle_checker/src/node.cpp
  simulator/simple_planning_simulator/include/simple_planning_simulator/vehicle_model/sim_model_delay_steer_map_acc_geared.hpp
  simulator/simple_planning_simulator/package.xml
  simulator/simple_planning_simulator/src/simple_planning_simulator/simple_planning_simulator_core.cpp
Labels: type:documentation, component:planning, type:ci, component:common, component:simulation, tag:run-build-and-test-differential

#7244 feat!: replace autoware_auto_msgs with autoware_msgs for map modules
  map/map_height_fitter/package.xml
  map/map_height_fitter/src/map_height_fitter.cpp
  map/map_loader/README.md
  map/map_loader/include/map_loader/lanelet2_map_loader_node.hpp
  map/map_loader/include/map_loader/lanelet2_map_visualization_node.hpp
  map/map_loader/package.xml
  map/map_loader/src/lanelet2_map_loader/lanelet2_map_loader_node.cpp
  map/map_loader/src/lanelet2_map_loader/lanelet2_map_visualization_node.cpp
  map/map_tf_generator/README.md
  map/map_tf_generator/src/vector_map_tf_generator_node.cpp
Labels: type:documentation, component:map, tag:deploy-docs, tag:run-build-and-test-differential

#7248 feat!: replace autoware_auto_msgs with autoware_msgs for simulator modules
  simulator/dummy_perception_publisher/CMakeLists.txt
  simulator/dummy_perception_publisher/README.md
  simulator/dummy_perception_publisher/include/dummy_perception_publisher/node.hpp
  simulator/dummy_perception_publisher/msg/Object.msg
  simulator/dummy_perception_publisher/package.xml
  simulator/dummy_perception_publisher/src/empty_objects_publisher.cpp
  simulator/dummy_perception_publisher/src/node.cpp
  simulator/simple_planning_simulator/README.md
  simulator/simple_planning_simulator/include/simple_planning_simulator/simple_planning_simulator_core.hpp
  simulator/simple_planning_simulator/include/simple_planning_simulator/vehicle_model/sim_model_delay_steer_acc_geared.hpp
  simulator/simple_planning_simulator/include/simple_planning_simulator/vehicle_model/sim_model_delay_steer_map_acc_geared.hpp
  simulator/simple_planning_simulator/include/simple_planning_simulator/vehicle_model/sim_model_ideal_steer_acc_geared.hpp
  simulator/simple_planning_simulator/include/simple_planning_simulator/vehicle_model/sim_model_interface.hpp
  simulator/simple_planning_simulator/package.xml
  simulator/simple_planning_simulator/src/simple_planning_simulator/simple_planning_simulator_core.cpp
  simulator/simple_planning_simulator/src/simple_planning_simulator/vehicle_model/sim_model_delay_steer_acc_geared.cpp
  simulator/simple_planning_simulator/src/simple_planning_simulator/vehicle_model/sim_model_delay_steer_map_acc_geared.cpp
  simulator/simple_planning_simulator/src/simple_planning_simulator/vehicle_model/sim_model_ideal_steer_acc_geared.cpp
  simulator/simple_planning_simulator/test/test_simple_planning_simulator.cpp
Labels: type:documentation, component:simulation, tag:deploy-docs, tag:run-build-and-test-differential

#7243 feat!: replace autoware_auto_msgs with autoware_msgs for localization modules
  localization/landmark_based_localizer/ar_tag_based_localizer/README.md
  localization/landmark_based_localizer/ar_tag_based_localizer/src/ar_tag_based_localizer.cpp
  localization/landmark_based_localizer/ar_tag_based_localizer/src/ar_tag_based_localizer.hpp
  localization/landmark_based_localizer/landmark_manager/include/landmark_manager/landmark_manager.hpp
  localization/landmark_based_localizer/landmark_manager/package.xml
  localization/landmark_based_localizer/landmark_manager/src/landmark_manager.cpp
  localization/pose_estimator_arbiter/README.md
  localization/pose_estimator_arbiter/example_rule/src/pose_estimator_arbiter/rule_helper/pose_estimator_area.hpp
  localization/pose_estimator_arbiter/example_rule/src/pose_estimator_arbiter/switch_rule/vector_map_based_rule.cpp
  localization/pose_estimator_arbiter/example_rule/test/test_rule_helper.cpp
  localization/pose_estimator_arbiter/example_rule/test/test_vector_map_based_rule.cpp
  localization/pose_estimator_arbiter/package.xml
  localization/pose_estimator_arbiter/src/pose_estimator_arbiter/pose_estimator_arbiter.hpp
  localization/pose_estimator_arbiter/src/pose_estimator_arbiter/shared_data.hpp
  localization/yabloc/yabloc_common/README.md
  localization/yabloc/yabloc_common/include/yabloc_common/ground_server/ground_server.hpp
  localization/yabloc/yabloc_common/include/yabloc_common/ll2_decomposer/ll2_decomposer.hpp
  localization/yabloc/yabloc_common/package.xml
  localization/yabloc/yabloc_common/src/ground_server/ground_server_core.cpp
  localization/yabloc/yabloc_common/src/ll2_decomposer/ll2_decomposer_core.cpp
  localization/yabloc/yabloc_pose_initializer/README.md
  localization/yabloc/yabloc_pose_initializer/include/yabloc_pose_initializer/camera/camera_pose_initializer.hpp
  localization/yabloc/yabloc_pose_initializer/package.xml
  localization/yabloc/yabloc_pose_initializer/src/camera/camera_pose_initializer_core.cpp
Labels: type:documentation, component:localization, tag:deploy-docs, tag:run-build-and-test-differential

#7267 chore: remove unused file in motion_utils package
  common/motion_utils/include/motion_utils/trajectory/tmp_conversion.hpp
Labels: component:common

#7251 feat!: replace autoware_auto_msgs with autoware_msgs for vehicle modules
  vehicle/accel_brake_map_calibrator/include/accel_brake_map_calibrator/accel_brake_map_calibrator_node.hpp
  vehicle/accel_brake_map_calibrator/package.xml
  vehicle/accel_brake_map_calibrator/scripts/actuation_cmd_publisher.py
  vehicle/accel_brake_map_calibrator/test/sim_actuation_status_publisher.py
  vehicle/external_cmd_converter/README.md
  vehicle/external_cmd_converter/include/external_cmd_converter/node.hpp
  vehicle/external_cmd_converter/package.xml
  vehicle/external_cmd_converter/src/node.cpp
  vehicle/raw_vehicle_cmd_converter/README.md
  vehicle/raw_vehicle_cmd_converter/include/raw_vehicle_cmd_converter/node.hpp
  vehicle/raw_vehicle_cmd_converter/package.xml
  vehicle/raw_vehicle_cmd_converter/src/node.cpp
  vehicle/steer_offset_estimator/Readme.md
  vehicle/steer_offset_estimator/include/steer_offset_estimator/steer_offset_estimator_node.hpp
  vehicle/steer_offset_estimator/package.xml
Labels: type:documentation, component:vehicle, tag:run-build-and-test-differential

#7250 feat!: replace autoware_auto_msgs with autoware_msgs for tools
  tools/reaction_analyzer/README.md
  tools/reaction_analyzer/include/reaction_analyzer_node.hpp
  tools/reaction_analyzer/include/subscriber.hpp
  tools/reaction_analyzer/include/topic_publisher.hpp
  tools/reaction_analyzer/include/utils.hpp
  tools/reaction_analyzer/package.xml
  tools/reaction_analyzer/param/reaction_analyzer.param.yaml
  tools/reaction_analyzer/src/subscriber.cpp
  tools/reaction_analyzer/src/topic_publisher.cpp
  tools/reaction_analyzer/src/utils.cpp
Labels: type:documentation, component:tools

#7242 feat!: replace autoware_auto_msgs with autoware_msgs for launch files
  launch/tier4_perception_launch/launch/traffic_light_recognition/traffic_light.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/motion_planning/motion_planning.launch.xml
Labels: component:launch, tag:deploy-docs, tag:run-build-and-test-differential

#7252 feat(build_depends.repos): remove autoware_auto_msgs from build_depends.repos
  build_depends.repos
Labels: tag:run-build-and-test-differential

#7268 feat(object_recognition_utils): fix failing test
  common/object_recognition_utils/test/src/test_predicted_path_utils.cpp
Labels: component:common, tag:run-build-and-test-differential

#7275 fix(object_recognition_utils): fix test for resamplePredictedPath_by_vector
  common/object_recognition_utils/test/src/test_predicted_path_utils.cpp
Labels: component:common

#7270 chore(ci): add a workflow for DCO check to avoid DCO bot system failure
  .github/workflows/dco.yaml
Labels: type:ci, tag:run-build-and-test-differential

#7262 ci(cppcheck-all, cppcheck-differential): add cppcheck
  .cppcheck_suppressions
  .github/workflows/cppcheck-all.yaml
  .github/workflows/cppcheck-differential.yaml
Labels: type:ci, tag:run-build-and-test-differential

#7155 refactor(autoware_velocity_virtual_traffic_light_module): prefix package with autoware_ and move code to the autoware namespace
  .github/CODEOWNERS
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.xml
  planning/.pages
  planning/autoware_behavior_velocity_planner/README.md
  planning/autoware_behavior_velocity_planner/package.xml
  planning/autoware_behavior_velocity_planner/test/src/test_node_interface.cpp
  planning/autoware_behavior_velocity_virtual_traffic_light_module/CMakeLists.txt
  planning/autoware_behavior_velocity_virtual_traffic_light_module/README.md
  planning/autoware_behavior_velocity_virtual_traffic_light_module/config/virtual_traffic_light.param.yaml
  planning/autoware_behavior_velocity_virtual_traffic_light_module/docs/V2X_support_traffic_light.png
  planning/autoware_behavior_velocity_virtual_traffic_light_module/docs/intersection-coordination.png
  planning/autoware_behavior_velocity_virtual_traffic_light_module/docs/keep_stopping.svg
  planning/autoware_behavior_velocity_virtual_traffic_light_module/docs/restart.svg
  planning/autoware_behavior_velocity_virtual_traffic_light_module/docs/restart_prevention.svg
  planning/autoware_behavior_velocity_virtual_traffic_light_module/package.xml
  planning/autoware_behavior_velocity_virtual_traffic_light_module/plugins.xml
  planning/autoware_behavior_velocity_virtual_traffic_light_module/src/debug.cpp
  planning/autoware_behavior_velocity_virtual_traffic_light_module/src/manager.cpp
  planning/autoware_behavior_velocity_virtual_traffic_light_module/src/manager.hpp
  planning/autoware_behavior_velocity_virtual_traffic_light_module/src/scene.cpp
  planning/autoware_behavior_velocity_virtual_traffic_light_module/src/scene.hpp
  planning/behavior_velocity_virtual_traffic_light_module/plugins.xml
Labels: type:documentation, component:planning, type:ci, component:launch, tag:run-build-and-test-differential

#7045 fix(bpp): overwrite turn signal by latter module
  planning/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
  planning/behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/turn_signal_decider.hpp
  planning/behavior_path_planner_common/src/turn_signal_decider.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7233 docs(planning): fix path to documents
  planning/.pages
  planning/autoware_behavior_path_dynamic_obstacle_avoidance_module/README.md
  planning/autoware_behavior_path_static_obstacle_avoidance_module/schema/static_obstacle_avoidance.schema.json
  planning/behavior_path_avoidance_by_lane_change_module/README.md
  planning/behavior_path_lane_change_module/README.md
Labels: type:documentation, component:planning, tag:deploy-docs, tag:run-build-and-test-differential

#7198 fix(autoware_pose_covariance_modifier): change log output from screen to both
  localization/autoware_pose_covariance_modifier/launch/pose_covariance_modifier.launch.xml
Labels: component:localization, tag:run-build-and-test-differential

#7196 feat(yabloc_image_processing): componentize yabloc_image_processing nodes
  localization/yabloc/yabloc_image_processing/CMakeLists.txt
  localization/yabloc/yabloc_image_processing/include/yabloc_image_processing/graph_segment/graph_segment.hpp
  localization/yabloc/yabloc_image_processing/include/yabloc_image_processing/lanelet2_overlay/lanelet2_overlay.hpp
  localization/yabloc/yabloc_image_processing/include/yabloc_image_processing/line_segment_detector/line_segment_detector.hpp
  localization/yabloc/yabloc_image_processing/include/yabloc_image_processing/line_segments_overlay/line_segments_overlay.hpp
  localization/yabloc/yabloc_image_processing/include/yabloc_image_processing/segment_filter/segment_filter.hpp
  localization/yabloc/yabloc_image_processing/launch/image_processing.launch.xml
  localization/yabloc/yabloc_image_processing/launch/overlay.launch.xml
  localization/yabloc/yabloc_image_processing/package.xml
  localization/yabloc/yabloc_image_processing/src/graph_segment/graph_segment_core.cpp
  localization/yabloc/yabloc_image_processing/src/graph_segment/graph_segment_node.cpp
  localization/yabloc/yabloc_image_processing/src/lanelet2_overlay/lanelet2_overlay_core.cpp
  localization/yabloc/yabloc_image_processing/src/lanelet2_overlay/lanelet2_overlay_node.cpp
  localization/yabloc/yabloc_image_processing/src/line_segment_detector/line_segment_detector_core.cpp
  localization/yabloc/yabloc_image_processing/src/line_segment_detector/line_segment_detector_node.cpp
  localization/yabloc/yabloc_image_processing/src/line_segments_overlay/line_segments_overlay_core.cpp
  localization/yabloc/yabloc_image_processing/src/line_segments_overlay/line_segments_overlay_node.cpp
  localization/yabloc/yabloc_image_processing/src/segment_filter/segment_filter_core.cpp
  localization/yabloc/yabloc_image_processing/src/segment_filter/segment_filter_node.cpp
  localization/yabloc/yabloc_image_processing/src/undistort/undistort_node.cpp
Labels: component:localization, tag:run-build-and-test-differential

#7203 fix(map_loader): add log output
  map/map_loader/launch/lanelet2_map_loader.launch.xml
  map/map_loader/launch/pointcloud_map_loader.launch.xml
Labels: component:map, tag:run-build-and-test-differential

#7265 refactor(simple_planning_simulator): remove static odom tf publisher
  simulator/simple_planning_simulator/launch/simple_planning_simulator.launch.py
Labels: component:simulation, tag:run-build-and-test-differential

#7188 feat(gyro_odometer): add diagnostic
  localization/gyro_odometer/CMakeLists.txt
  localization/gyro_odometer/README.md
  localization/gyro_odometer/include/gyro_odometer/diagnostics_module.hpp
  localization/gyro_odometer/include/gyro_odometer/gyro_odometer_core.hpp
  localization/gyro_odometer/media/diagnostic.png
  localization/gyro_odometer/package.xml
  localization/gyro_odometer/src/diagnostics_module.cpp
  localization/gyro_odometer/src/gyro_odometer_core.cpp
Labels: type:documentation, component:localization, tag:run-build-and-test-differential

#7215 feat(surround_obstacle_checker): use polling subscriber
  planning/surround_obstacle_checker/include/surround_obstacle_checker/node.hpp
  planning/surround_obstacle_checker/src/node.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7227 feat(ndt_scan_matcher): added score diff to ndt diag
  localization/ndt_scan_matcher/README.md
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
Labels: type:documentation, component:localization, tag:run-build-and-test-differential

#7289 fix(tier4_map_launch): change log output
  launch/tier4_map_launch/launch/map.launch.xml
Labels: component:launch, tag:run-build-and-test-differential

#7224 fix(image_projection_based_fusion): add copying input fields to output for segmentation_pointcloud_fusion
  perception/image_projection_based_fusion/include/image_projection_based_fusion/segmentation_pointcloud_fusion/node.hpp
  perception/image_projection_based_fusion/src/segmentation_pointcloud_fusion/node.cpp
Labels: component:perception, tag:run-build-and-test-differential

#7154 refactor(autoware_velocity_run_out_module): prefix package with autoware_ and move code to the autoware namespace
  .github/CODEOWNERS
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.xml
  planning/.pages
  planning/autoware_behavior_velocity_planner/README.md
  planning/autoware_behavior_velocity_planner/package.xml
  planning/autoware_behavior_velocity_planner/test/src/test_node_interface.cpp
  planning/autoware_behavior_velocity_run_out_module/CMakeLists.txt
  planning/autoware_behavior_velocity_run_out_module/README.md
  planning/autoware_behavior_velocity_run_out_module/config/run_out.param.yaml
  planning/autoware_behavior_velocity_run_out_module/docs/calculate_expected_target_velocity.svg
  planning/autoware_behavior_velocity_run_out_module/docs/collision_detection_for_shape.svg
  planning/autoware_behavior_velocity_run_out_module/docs/collision_points.svg
  planning/autoware_behavior_velocity_run_out_module/docs/create_dynamic_obstacle.svg
  planning/autoware_behavior_velocity_run_out_module/docs/create_polygon_on_path_point.svg
  planning/autoware_behavior_velocity_run_out_module/docs/ego_cut_line.svg
  planning/autoware_behavior_velocity_run_out_module/docs/exclude_obstacles_by_partition.svg
  planning/autoware_behavior_velocity_run_out_module/docs/insert_velocity.svg
  planning/autoware_behavior_velocity_run_out_module/docs/insert_velocity_to_approach.svg
  planning/autoware_behavior_velocity_run_out_module/docs/run_out_overview.svg
  planning/autoware_behavior_velocity_run_out_module/package.xml
  planning/autoware_behavior_velocity_run_out_module/plugins.xml
  planning/autoware_behavior_velocity_run_out_module/src/debug.cpp
  planning/autoware_behavior_velocity_run_out_module/src/debug.hpp
  planning/autoware_behavior_velocity_run_out_module/src/dynamic_obstacle.cpp
  planning/autoware_behavior_velocity_run_out_module/src/dynamic_obstacle.hpp
  planning/autoware_behavior_velocity_run_out_module/src/manager.cpp
  planning/autoware_behavior_velocity_run_out_module/src/manager.hpp
  planning/autoware_behavior_velocity_run_out_module/src/path_utils.cpp
  planning/autoware_behavior_velocity_run_out_module/src/path_utils.hpp
  planning/autoware_behavior_velocity_run_out_module/src/scene.cpp
  planning/autoware_behavior_velocity_run_out_module/src/scene.hpp
  planning/autoware_behavior_velocity_run_out_module/src/state_machine.cpp
  planning/autoware_behavior_velocity_run_out_module/src/state_machine.hpp
  planning/autoware_behavior_velocity_run_out_module/src/utils.cpp
  planning/autoware_behavior_velocity_run_out_module/src/utils.hpp
  planning/behavior_velocity_run_out_module/plugins.xml
Labels: type:documentation, component:planning, type:ci, component:launch, tag:run-build-and-test-differential

#7264 fix(emergency_handler,mrm_handler): check for ego speed when determining the gear command
  system/emergency_handler/include/emergency_handler/emergency_handler_core.hpp
  system/emergency_handler/src/emergency_handler/emergency_handler_core.cpp
  system/mrm_handler/include/mrm_handler/mrm_handler_core.hpp
  system/mrm_handler/src/mrm_handler/mrm_handler_core.cpp
Labels: component:system, tag:run-build-and-test-differential

#7290 chore(surround_obstacle_checker): add maintainer
  planning/surround_obstacle_checker/package.xml
Labels: component:planning, tag:run-build-and-test-differential

#7295 chore(autoware_external_velocity_limit_selector): add prefix `autoware_`
  .github/CODEOWNERS
  launch/tier4_planning_launch/launch/scenario_planning/scenario_planning.launch.xml
  launch/tier4_planning_launch/package.xml
  planning/.pages
  planning/autoware_external_velocity_limit_selector/CMakeLists.txt
  planning/autoware_external_velocity_limit_selector/README.md
  planning/autoware_external_velocity_limit_selector/config/default.param.yaml
  planning/autoware_external_velocity_limit_selector/config/default_common.param.yaml
  planning/autoware_external_velocity_limit_selector/image/external_velocity_limit_selector.png
  planning/autoware_external_velocity_limit_selector/include/autoware_external_velocity_limit_selector/external_velocity_limit_selector_node.hpp
  planning/autoware_external_velocity_limit_selector/launch/external_velocity_limit_selector.launch.xml
  planning/autoware_external_velocity_limit_selector/package.xml
  planning/autoware_external_velocity_limit_selector/src/external_velocity_limit_selector_node.cpp
Labels: type:documentation, component:planning, type:ci, component:launch, tag:run-build-and-test-differential

#7277 refactor(mrm_handler): use switch for state machine
  system/mrm_handler/src/mrm_handler/mrm_handler_core.cpp
Labels: component:system, tag:run-build-and-test-differential

#7296 chore(autoware_planning_topic_converter): add prefix `autoware_`
  .github/CODEOWNERS
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/motion_planning/motion_planning.launch.xml
  launch/tier4_planning_launch/package.xml
  planning/.pages
  planning/autoware_planning_topic_converter/CMakeLists.txt
  planning/autoware_planning_topic_converter/README.md
  planning/autoware_planning_topic_converter/include/autoware_planning_topic_converter/converter_base.hpp
  planning/autoware_planning_topic_converter/include/autoware_planning_topic_converter/path_to_trajectory.hpp
  planning/autoware_planning_topic_converter/package.xml
  planning/autoware_planning_topic_converter/src/path_to_trajectory.cpp
Labels: type:documentation, component:planning, type:ci, component:launch, tag:run-build-and-test-differential

#7116 feat(vehicle_velocity_converter): componentize VehicleVelocityConverter
  sensing/vehicle_velocity_converter/CMakeLists.txt
  sensing/vehicle_velocity_converter/include/vehicle_velocity_converter/vehicle_velocity_converter.hpp
  sensing/vehicle_velocity_converter/launch/vehicle_velocity_converter.launch.xml
  sensing/vehicle_velocity_converter/package.xml
  sensing/vehicle_velocity_converter/src/vehicle_velocity_converter.cpp
  sensing/vehicle_velocity_converter/src/vehicle_velocity_converter_node.cpp
Labels: component:sensing, tag:run-build-and-test-differential

#7302 refactor(stop_filter): apply static analysis
  localization/stop_filter/include/stop_filter/stop_filter.hpp
  localization/stop_filter/src/stop_filter.cpp
Labels: component:localization, tag:run-build-and-test-differential

#7312 ci(cppcheck-all): rename to cppcheck-daily and make it run only daily
  .github/workflows/cppcheck-daily.yaml
Labels: type:ci, tag:run-build-and-test-differential

#7317 chore(ci): add faster ament_cmake to build_depends.repos
  build_depends.repos
Labels: tag:run-build-and-test-differential

#7332 ci(openai-pr-reviewer): remove the action
  .github/workflows/openai-pr-reviewer.yaml
Labels: type:ci, tag:run-build-and-test-differential, tag:pr-agent, configuration changes, other, Review effort [1-5]: 1

#7334 ci(pr-agent): update configuration
  .github/workflows/pr-agent.yaml
Labels: type:ci, tag:run-build-and-test-differential, tag:pr-agent

#7336 ci(build-and-test): run on self hosted
  .github/workflows/build-and-test.yaml
Labels: type:ci, tag:run-build-and-test-differential, tag:pr-agent

#7342 chore(steer_offset_estimator): add prefix autoware_ to steer_offset_estimator
  .github/CODEOWNERS
  vehicle/autoware_steer_offset_estimator/CMakeLists.txt
  vehicle/autoware_steer_offset_estimator/Readme.md
  vehicle/autoware_steer_offset_estimator/config/steer_offset_estimator.param.yaml
  vehicle/autoware_steer_offset_estimator/image/kinematic_constraints.png
  vehicle/autoware_steer_offset_estimator/image/steer_offset.png
  vehicle/autoware_steer_offset_estimator/include/autoware_steer_offset_estimator/steer_offset_estimator_node.hpp
  vehicle/autoware_steer_offset_estimator/launch/steer_offset_estimator.launch.xml
  vehicle/autoware_steer_offset_estimator/package.xml
  vehicle/autoware_steer_offset_estimator/schema/steer_offset_estimator.schema.json
  vehicle/autoware_steer_offset_estimator/src/steer_offset_estimator_node.cpp
Labels: type:documentation, component:vehicle, type:ci, tag:run-build-and-test-differential

#7300 feat(pointcloud_preprocessor): add z filter in vector map inside
  sensing/pointcloud_preprocessor/CMakeLists.txt
  sensing/pointcloud_preprocessor/docs/vector-map-inside-area-filter.md
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/utility/utilities.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/vector_map_filter/vector_map_inside_area_filter.hpp
  sensing/pointcloud_preprocessor/src/utility/utilities.cpp
  sensing/pointcloud_preprocessor/src/vector_map_filter/vector_map_inside_area_filter.cpp
  sensing/pointcloud_preprocessor/test/test_utilities.cpp
Labels: type:documentation, component:sensing, tag:run-build-and-test-differential

#7238 fix(map_based_prediction): fix generatePathForOnLaneVehicle
  perception/map_based_prediction/src/path_generator.cpp
Labels: component:perception, tag:run-build-and-test-differential

#7298 refactor(surround_obstacle_checker)!: prefix package and namespace with autoware
  .github/CODEOWNERS
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/motion_planning/motion_planning.launch.xml
  launch/tier4_planning_launch/package.xml
  planning/.pages
  planning/autoware_surround_obstacle_checker/CMakeLists.txt
  planning/autoware_surround_obstacle_checker/README.md
  planning/autoware_surround_obstacle_checker/config/surround_obstacle_checker.param.yaml
  planning/autoware_surround_obstacle_checker/include/autoware_surround_obstacle_checker/debug_marker.hpp
  planning/autoware_surround_obstacle_checker/include/autoware_surround_obstacle_checker/node.hpp
  planning/autoware_surround_obstacle_checker/launch/surround_obstacle_checker.launch.xml
  planning/autoware_surround_obstacle_checker/media/check_distance.drawio.svg
  planning/autoware_surround_obstacle_checker/package.xml
  planning/autoware_surround_obstacle_checker/schema/surround_obstacle_checker.schema.json
  planning/autoware_surround_obstacle_checker/src/debug_marker.cpp
  planning/autoware_surround_obstacle_checker/src/node.cpp
  planning/autoware_surround_obstacle_checker/surround_obstacle_checker-design.ja.md
Labels: type:documentation, component:planning, type:ci, component:launch, tag:run-build-and-test-differential

#7326 refactor(behavior_path_side_shift_module)!: prefix package and namespace with autoware
  .github/CODEOWNERS
  planning/.pages
  planning/autoware_behavior_path_side_shift_module/CMakeLists.txt
  planning/autoware_behavior_path_side_shift_module/README.md
  planning/autoware_behavior_path_side_shift_module/config/side_shift.param.yaml
  planning/autoware_behavior_path_side_shift_module/images/side_shift_status.drawio.svg
  planning/autoware_behavior_path_side_shift_module/include/autoware_behavior_path_side_shift_module/data_structs.hpp
  planning/autoware_behavior_path_side_shift_module/include/autoware_behavior_path_side_shift_module/manager.hpp
  planning/autoware_behavior_path_side_shift_module/include/autoware_behavior_path_side_shift_module/scene.hpp
  planning/autoware_behavior_path_side_shift_module/include/autoware_behavior_path_side_shift_module/utils.hpp
  planning/autoware_behavior_path_side_shift_module/package.xml
  planning/autoware_behavior_path_side_shift_module/plugins.xml
  planning/autoware_behavior_path_side_shift_module/src/manager.cpp
  planning/autoware_behavior_path_side_shift_module/src/scene.cpp
  planning/autoware_behavior_path_side_shift_module/src/utils.cpp
  planning/autoware_behavior_path_side_shift_module/test/test_behavior_path_planner_node_interface.cpp
  planning/behavior_path_planner/README.md
Labels: type:documentation, component:planning, type:ci, tag:run-build-and-test-differential

#7299 fix(yabloc): suppress no viable conversion error
  localization/yabloc/yabloc_common/package.xml
  localization/yabloc/yabloc_common/src/ll2_decomposer/ll2_decomposer_core.cpp
  localization/yabloc/yabloc_particle_filter/src/common/particle_visualize_node.cpp
  localization/yabloc/yabloc_particle_filter/src/common/visualize.cpp
  localization/yabloc/yabloc_particle_filter/src/gnss_corrector/gnss_corrector_core.cpp
  localization/yabloc/yabloc_particle_filter/src/ll2_cost_map/hierarchical_cost_map.cpp
  localization/yabloc/yabloc_pose_initializer/src/camera/marker_module.cpp
Labels: component:localization, tag:run-build-and-test-differential

#7230 feat(obstacle_curise): revert lateral stop margin for unknown objects
  planning/obstacle_cruise_planner/config/obstacle_cruise_planner.param.yaml
Labels: component:planning, tag:run-build-and-test-differential

#7191 chore(mrm_comfortable_stop_operator): remove unused main file
  system/mrm_comfortable_stop_operator/src/mrm_comfortable_stop_operator/mrm_comfortable_stop_operator_node.cpp
Labels: component:system, tag:run-build-and-test-differential

#7315 refactor(behavior velocity intersection)!: prefix package and namespace with autoware_
  planning/.pages
  planning/autoware_behavior_velocity_intersection_module/CMakeLists.txt
  planning/autoware_behavior_velocity_intersection_module/README.md
  planning/autoware_behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/autoware_behavior_velocity_intersection_module/docs/data-structure.drawio.svg
  planning/autoware_behavior_velocity_intersection_module/docs/intersection-attention-ll-rr.drawio.svg
  planning/autoware_behavior_velocity_intersection_module/docs/intersection-attention-lr-rl.drawio.svg
  planning/autoware_behavior_velocity_intersection_module/docs/intersection-attention-straight.drawio.svg
  planning/autoware_behavior_velocity_intersection_module/docs/intersection-attention.drawio.svg
  planning/autoware_behavior_velocity_intersection_module/docs/intersection-stoplines.drawio.svg
  planning/autoware_behavior_velocity_intersection_module/docs/intersection-topology.drawio.svg
  planning/autoware_behavior_velocity_intersection_module/docs/merge_from_private.png
  planning/autoware_behavior_velocity_intersection_module/docs/occlusion-with-tl.drawio.svg
  planning/autoware_behavior_velocity_intersection_module/docs/occlusion-without-tl.drawio.svg
  planning/autoware_behavior_velocity_intersection_module/docs/occlusion-wo-tl-creeping.png
  planning/autoware_behavior_velocity_intersection_module/docs/occlusion_grid.drawio.svg
  planning/autoware_behavior_velocity_intersection_module/docs/pass-judge-line.drawio.svg
  planning/autoware_behavior_velocity_intersection_module/docs/signal-phase-group.drawio.svg
  planning/autoware_behavior_velocity_intersection_module/docs/static-occlusion-timeout.png
  planning/autoware_behavior_velocity_intersection_module/docs/stuck-vehicle.drawio.svg
  planning/autoware_behavior_velocity_intersection_module/docs/traffic-light-specific-behavior.drawio.svg
  planning/autoware_behavior_velocity_intersection_module/docs/ttc.gif
  planning/autoware_behavior_velocity_intersection_module/docs/ugly-intersection.drawio.svg
  planning/autoware_behavior_velocity_intersection_module/docs/upstream-velocity.drawio.svg
  planning/autoware_behavior_velocity_intersection_module/docs/yield-stuck.drawio.svg
  planning/autoware_behavior_velocity_intersection_module/package.xml
  planning/autoware_behavior_velocity_intersection_module/plugins.xml
  planning/autoware_behavior_velocity_intersection_module/scripts/ttc.py
  planning/autoware_behavior_velocity_intersection_module/src/debug.cpp
  planning/autoware_behavior_velocity_intersection_module/src/decision_result.cpp
  planning/autoware_behavior_velocity_intersection_module/src/decision_result.hpp
  planning/autoware_behavior_velocity_intersection_module/src/interpolated_path_info.hpp
  planning/autoware_behavior_velocity_intersection_module/src/intersection_lanelets.cpp
  planning/autoware_behavior_velocity_intersection_module/src/intersection_lanelets.hpp
  planning/autoware_behavior_velocity_intersection_module/src/intersection_stoplines.hpp
  planning/autoware_behavior_velocity_intersection_module/src/manager.cpp
  planning/autoware_behavior_velocity_intersection_module/src/manager.hpp
  planning/autoware_behavior_velocity_intersection_module/src/object_manager.cpp
  planning/autoware_behavior_velocity_intersection_module/src/object_manager.hpp
  planning/autoware_behavior_velocity_intersection_module/src/result.hpp
  planning/autoware_behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/autoware_behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/autoware_behavior_velocity_intersection_module/src/scene_intersection_collision.cpp
  planning/autoware_behavior_velocity_intersection_module/src/scene_intersection_occlusion.cpp
  planning/autoware_behavior_velocity_intersection_module/src/scene_intersection_prepare_data.cpp
  planning/autoware_behavior_velocity_intersection_module/src/scene_intersection_stuck.cpp
  planning/autoware_behavior_velocity_intersection_module/src/scene_merge_from_private_road.cpp
  planning/autoware_behavior_velocity_intersection_module/src/scene_merge_from_private_road.hpp
  planning/autoware_behavior_velocity_intersection_module/src/util.cpp
  planning/autoware_behavior_velocity_intersection_module/src/util.hpp
  planning/autoware_behavior_velocity_planner/README.md
  planning/autoware_behavior_velocity_planner/package.xml
  planning/autoware_behavior_velocity_planner/test/src/test_node_interface.cpp
  planning/behavior_velocity_intersection_module/plugins.xml
Labels: type:documentation, component:planning, tag:deploy-docs, tag:run-build-and-test-differential

#7297 feat(emergency_handler, mrm_handler): change to read topic by polling
  system/emergency_handler/include/emergency_handler/emergency_handler_core.hpp
  system/emergency_handler/package.xml
  system/emergency_handler/src/emergency_handler/emergency_handler_core.cpp
  system/mrm_handler/include/mrm_handler/mrm_handler_core.hpp
  system/mrm_handler/package.xml
  system/mrm_handler/src/mrm_handler/mrm_handler_core.cpp
Labels: component:system, tag:run-build-and-test-differential

#7322 fix(pose2twist): compute angular velocity through quaternion
  localization/pose2twist/CMakeLists.txt
  localization/pose2twist/README.md
  localization/pose2twist/include/pose2twist/pose2twist_core.hpp
  localization/pose2twist/src/pose2twist_core.cpp
  localization/pose2twist/test/test_angular_velocity.cpp
Labels: type:documentation, component:localization, tag:run-build-and-test-differential

#7346 chore(smart_mpc): add maitainers
  control/smart_mpc_trajectory_follower/package.xml
Labels: component:control, tag:run-build-and-test-differential

#7352 refactor(behavior_path_start_planner_module)!: prefix package and namespace with autoware
  .github/CODEOWNERS
  planning/.pages
  planning/autoware_behavior_path_start_planner_module/CMakeLists.txt
  planning/autoware_behavior_path_start_planner_module/README.md
  planning/autoware_behavior_path_start_planner_module/config/start_planner.param.yaml
  planning/autoware_behavior_path_start_planner_module/images/collision_check_range_shift_pull_out.drawio.svg
  planning/autoware_behavior_path_start_planner_module/images/freespace_pull_out.png
  planning/autoware_behavior_path_start_planner_module/images/geometric_pull_out.drawio.svg
  planning/autoware_behavior_path_start_planner_module/images/geometric_pull_out_path.drawio.svg
  planning/autoware_behavior_path_start_planner_module/images/geometric_pull_out_path_with_back.drawio.svg
  planning/autoware_behavior_path_start_planner_module/images/priority_order.drawio.svg
  planning/autoware_behavior_path_start_planner_module/images/pull_out_after_back.drawio.svg
  planning/autoware_behavior_path_start_planner_module/images/pull_out_collision_check.drawio.svg
  planning/autoware_behavior_path_start_planner_module/images/shift_pull_out.drawio.svg
  planning/autoware_behavior_path_start_planner_module/images/shift_pull_out_path.drawio.svg
  planning/autoware_behavior_path_start_planner_module/images/shift_pull_out_path_from_road_lane.drawio.svg
  planning/autoware_behavior_path_start_planner_module/images/shift_pull_out_path_with_back.drawio.svg
  planning/autoware_behavior_path_start_planner_module/images/start_planner_example.png
  planning/autoware_behavior_path_start_planner_module/images/start_pose_candidate.drawio.svg
  planning/autoware_behavior_path_start_planner_module/include/autoware_behavior_path_start_planner_module/data_structs.hpp
  planning/autoware_behavior_path_start_planner_module/include/autoware_behavior_path_start_planner_module/debug.hpp
  planning/autoware_behavior_path_start_planner_module/include/autoware_behavior_path_start_planner_module/freespace_pull_out.hpp
  planning/autoware_behavior_path_start_planner_module/include/autoware_behavior_path_start_planner_module/geometric_pull_out.hpp
  planning/autoware_behavior_path_start_planner_module/include/autoware_behavior_path_start_planner_module/manager.hpp
  planning/autoware_behavior_path_start_planner_module/include/autoware_behavior_path_start_planner_module/pull_out_path.hpp
  planning/autoware_behavior_path_start_planner_module/include/autoware_behavior_path_start_planner_module/pull_out_planner_base.hpp
  planning/autoware_behavior_path_start_planner_module/include/autoware_behavior_path_start_planner_module/shift_pull_out.hpp
  planning/autoware_behavior_path_start_planner_module/include/autoware_behavior_path_start_planner_module/start_planner_module.hpp
  planning/autoware_behavior_path_start_planner_module/include/autoware_behavior_path_start_planner_module/util.hpp
  planning/autoware_behavior_path_start_planner_module/package.xml
  planning/autoware_behavior_path_start_planner_module/plugins.xml
  planning/autoware_behavior_path_start_planner_module/src/debug.cpp
  planning/autoware_behavior_path_start_planner_module/src/freespace_pull_out.cpp
  planning/autoware_behavior_path_start_planner_module/src/geometric_pull_out.cpp
  planning/autoware_behavior_path_start_planner_module/src/manager.cpp
  planning/autoware_behavior_path_start_planner_module/src/shift_pull_out.cpp
  planning/autoware_behavior_path_start_planner_module/src/start_planner_module.cpp
  planning/autoware_behavior_path_start_planner_module/src/util.cpp
  planning/behavior_path_planner/README.md
Labels: type:documentation, component:planning, type:ci, tag:run-build-and-test-differential

#7229 fix(static_obstacle_avoidance): return shift validation
  planning/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7226 refactor(sampling_planner_module): use std::make_shared
  planning/behavior_path_sampling_planner_module/src/sampling_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7320 refactor(planning_validator)!: prefix package and namespace with autoware
  launch/tier4_planning_launch/launch/planning.launch.xml
  launch/tier4_planning_launch/package.xml
  planning/.pages
  planning/autoware_planning_test_manager/README.md
  planning/planning_validator/CMakeLists.txt
  planning/planning_validator/README.md
  planning/planning_validator/config/planning_validator_plotjugler_config.xml
  planning/planning_validator/image/planning_validator.drawio.svg
  planning/planning_validator/include/autoware_planning_validator/debug_marker.hpp
  planning/planning_validator/include/autoware_planning_validator/planning_validator.hpp
  planning/planning_validator/include/autoware_planning_validator/utils.hpp
  planning/planning_validator/launch/invalid_trajectory_publisher.launch.xml
  planning/planning_validator/launch/planning_validator.launch.xml
  planning/planning_validator/package.xml
  planning/planning_validator/src/debug_marker.cpp
  planning/planning_validator/src/invalid_trajectory_publisher/invalid_trajectory_publisher.cpp
  planning/planning_validator/src/invalid_trajectory_publisher/invalid_trajectory_publisher.hpp
  planning/planning_validator/src/planning_validator.cpp
  planning/planning_validator/src/utils.cpp
  planning/planning_validator/test/src/test_planning_validator_functions.cpp
  planning/planning_validator/test/src/test_planning_validator_node_interface.cpp
  planning/planning_validator/test/src/test_planning_validator_pubsub.cpp
Labels: type:documentation, component:planning, component:launch, tag:run-build-and-test-differential

#7042 feat(pose_instability_detector): change validation algorithm
  localization/pose_instability_detector/README.md
  localization/pose_instability_detector/config/pose_instability_detector.param.yaml
  localization/pose_instability_detector/include/autoware/pose_instability_detector/pose_instability_detector.hpp
  localization/pose_instability_detector/media/how_to_snip_twist.png
  localization/pose_instability_detector/media/lateral_threshold_calculation.png
  localization/pose_instability_detector/media/pose_instability_detector_overview.png
  localization/pose_instability_detector/media/rqt_runtime_monitor.png
  localization/pose_instability_detector/schema/pose_instability_detector.schema.json
  localization/pose_instability_detector/src/pose_instability_detector.cpp
  localization/pose_instability_detector/src/pose_instability_detector.hpp
  localization/pose_instability_detector/test/test.cpp
Labels: type:documentation, component:localization, tag:run-build-and-test-differential

#7331 ci(clang-tidy-differential): split it out of build-and-test-differential
  .github/workflows/build-and-test-differential.yaml
  .github/workflows/clang-tidy-differential.yaml
Labels: type:ci, tag:run-build-and-test-differential, tag:run-clang-tidy-differential

#7129 feat(imu_corrector): componentize ImuCorrector and GyroBiasEstimator
  sensing/imu_corrector/CMakeLists.txt
  sensing/imu_corrector/launch/gyro_bias_estimator.launch.xml
  sensing/imu_corrector/launch/imu_corrector.launch.xml
  sensing/imu_corrector/src/gyro_bias_estimator.cpp
  sensing/imu_corrector/src/gyro_bias_estimator.hpp
  sensing/imu_corrector/src/gyro_bias_estimator_node.cpp
  sensing/imu_corrector/src/imu_corrector_core.cpp
  sensing/imu_corrector/src/imu_corrector_core.hpp
  sensing/imu_corrector/src/imu_corrector_node.cpp
Labels: component:sensing, tag:run-build-and-test-differential

#7354 refactor(path_optimizer, velocity_smoother)!: prefix package and namespace with autoware
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/motion_planning/motion_planning.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/scenario_planning.launch.xml
  planning/autoware_behavior_velocity_planner/src/node.cpp
  planning/autoware_behavior_velocity_planner_common/include/autoware_behavior_velocity_planner_common/planner_data.hpp
  planning/autoware_behavior_velocity_planner_common/src/utilization/trajectory_utils.cpp
  planning/autoware_path_optimizer/CMakeLists.txt
  planning/autoware_path_optimizer/include/autoware_path_optimizer/common_structs.hpp
  planning/autoware_path_optimizer/include/autoware_path_optimizer/debug_marker.hpp
  planning/autoware_path_optimizer/include/autoware_path_optimizer/mpt_optimizer.hpp
  planning/autoware_path_optimizer/include/autoware_path_optimizer/node.hpp
  planning/autoware_path_optimizer/include/autoware_path_optimizer/replan_checker.hpp
  planning/autoware_path_optimizer/include/autoware_path_optimizer/state_equation_generator.hpp
  planning/autoware_path_optimizer/include/autoware_path_optimizer/type_alias.hpp
  planning/autoware_path_optimizer/include/autoware_path_optimizer/utils/geometry_utils.hpp
  planning/autoware_path_optimizer/include/autoware_path_optimizer/utils/trajectory_utils.hpp
  planning/autoware_path_optimizer/src/debug_marker.cpp
  planning/autoware_path_optimizer/src/mpt_optimizer.cpp
  planning/autoware_path_optimizer/src/node.cpp
  planning/autoware_path_optimizer/src/replan_checker.cpp
  planning/autoware_path_optimizer/src/state_equation_generator.cpp
  planning/autoware_path_optimizer/src/utils/geometry_utils.cpp
  planning/autoware_path_optimizer/src/utils/trajectory_utils.cpp
  planning/autoware_path_optimizer/test/test_path_optimizer_node_interface.cpp
  planning/autoware_static_centerline_generator/src/centerline_source/optimization_trajectory_based_centerline.cpp
  planning/autoware_velocity_smoother/CMakeLists.txt
  planning/autoware_velocity_smoother/include/autoware_velocity_smoother/node.hpp
  planning/autoware_velocity_smoother/include/autoware_velocity_smoother/resample.hpp
  planning/autoware_velocity_smoother/include/autoware_velocity_smoother/smoother/analytical_jerk_constrained_smoother/analytical_jerk_constrained_smoother.hpp
  planning/autoware_velocity_smoother/include/autoware_velocity_smoother/smoother/analytical_jerk_constrained_smoother/velocity_planning_utils.hpp
  planning/autoware_velocity_smoother/include/autoware_velocity_smoother/smoother/jerk_filtered_smoother.hpp
  planning/autoware_velocity_smoother/include/autoware_velocity_smoother/smoother/l2_pseudo_jerk_smoother.hpp
  planning/autoware_velocity_smoother/include/autoware_velocity_smoother/smoother/linf_pseudo_jerk_smoother.hpp
  planning/autoware_velocity_smoother/include/autoware_velocity_smoother/smoother/smoother_base.hpp
  planning/autoware_velocity_smoother/include/autoware_velocity_smoother/trajectory_utils.hpp
  planning/autoware_velocity_smoother/src/node.cpp
  planning/autoware_velocity_smoother/src/resample.cpp
  planning/autoware_velocity_smoother/src/smoother/analytical_jerk_constrained_smoother/analytical_jerk_constrained_smoother.cpp
  planning/autoware_velocity_smoother/src/smoother/analytical_jerk_constrained_smoother/velocity_planning_utils.cpp
  planning/autoware_velocity_smoother/src/smoother/jerk_filtered_smoother.cpp
  planning/autoware_velocity_smoother/src/smoother/l2_pseudo_jerk_smoother.cpp
  planning/autoware_velocity_smoother/src/smoother/linf_pseudo_jerk_smoother.cpp
  planning/autoware_velocity_smoother/src/smoother/smoother_base.cpp
  planning/autoware_velocity_smoother/src/trajectory_utils.cpp
  planning/autoware_velocity_smoother/test/test_smoother_functions.cpp
  planning/autoware_velocity_smoother/test/test_velocity_smoother_node_interface.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common/include/autoware_motion_velocity_planner_common/planner_data.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node/src/node.cpp
Labels: component:planning, component:launch, tag:run-build-and-test-differential

#7329 refactor(costmap_generator)!: add autoware prefix
  .github/CODEOWNERS
  launch/tier4_planning_launch/launch/scenario_planning/parking.launch.xml
  launch/tier4_planning_launch/package.xml
  planning/autoware_behavior_path_start_planner_module/README.md
  planning/autoware_costmap_generator/CMakeLists.txt
  planning/autoware_costmap_generator/README.md
  planning/autoware_costmap_generator/config/costmap_generator.param.yaml
  planning/autoware_costmap_generator/include/autoware_costmap_generator/costmap_generator.hpp
  planning/autoware_costmap_generator/include/autoware_costmap_generator/object_map_utils.hpp
  planning/autoware_costmap_generator/include/autoware_costmap_generator/objects_to_costmap.hpp
  planning/autoware_costmap_generator/include/autoware_costmap_generator/points_to_costmap.hpp
  planning/autoware_costmap_generator/launch/costmap_generator.launch.xml
  planning/autoware_costmap_generator/nodes/autoware_costmap_generator/costmap_generator_node.cpp
  planning/autoware_costmap_generator/nodes/autoware_costmap_generator/object_map_utils.cpp
  planning/autoware_costmap_generator/nodes/autoware_costmap_generator/objects_to_costmap.cpp
  planning/autoware_costmap_generator/nodes/autoware_costmap_generator/points_to_costmap.cpp
  planning/autoware_costmap_generator/package.xml
  planning/autoware_costmap_generator/schema/costmap_generator.schema.json
  planning/autoware_costmap_generator/test/test_objects_to_costmap.cpp
  planning/autoware_costmap_generator/test/test_points_to_costmap.cpp
Labels: type:documentation, component:planning, type:ci, component:launch, tag:run-build-and-test-differential

#7360 refactor(gyro_odometer): apply static analysis
  localization/gyro_odometer/include/gyro_odometer/diagnostics_module.hpp
  localization/gyro_odometer/include/gyro_odometer/gyro_odometer_core.hpp
  localization/gyro_odometer/src/diagnostics_module.cpp
  localization/gyro_odometer/src/gyro_odometer_core.cpp
  localization/gyro_odometer/test/test_gyro_odometer_helper.cpp
  localization/gyro_odometer/test/test_gyro_odometer_helper.hpp
  localization/gyro_odometer/test/test_gyro_odometer_pubsub.cpp
Labels: component:localization, tag:run-build-and-test-differential

#7167 fix(perception_online_evaluator): add metric_value not only stat (#7100)(#7118) (revert of revert)
  evaluator/perception_online_evaluator/include/perception_online_evaluator/metrics/metric.hpp
  evaluator/perception_online_evaluator/include/perception_online_evaluator/metrics_calculator.hpp
  evaluator/perception_online_evaluator/include/perception_online_evaluator/perception_online_evaluator_node.hpp
  evaluator/perception_online_evaluator/src/metrics_calculator.cpp
  evaluator/perception_online_evaluator/src/perception_online_evaluator_node.cpp
  evaluator/perception_online_evaluator/test/test_perception_online_evaluator_node.cpp
Labels: component:evaluator, tag:run-build-and-test-differential

#7366 chore(lane_departure_checker): add maintainer
  control/lane_departure_checker/package.xml
Labels: tag:run-build-and-test-differential

#7294 feat(autonomous_emergency_braking): prefix package and namespace with autoware_
  .github/CODEOWNERS
  control/autoware_autonomous_emergency_braking/CMakeLists.txt
  control/autoware_autonomous_emergency_braking/README.md
  control/autoware_autonomous_emergency_braking/config/autonomous_emergency_braking.param.yaml
  control/autoware_autonomous_emergency_braking/image/obstacle_filtering_1.drawio.svg
  control/autoware_autonomous_emergency_braking/image/obstacle_filtering_2.drawio.svg
  control/autoware_autonomous_emergency_braking/image/range.drawio.svg
  control/autoware_autonomous_emergency_braking/image/rss_check.drawio.svg
  control/autoware_autonomous_emergency_braking/include/autoware_autonomous_emergency_braking/node.hpp
  control/autoware_autonomous_emergency_braking/launch/autoware_autonomous_emergency_braking.launch.xml
  control/autoware_autonomous_emergency_braking/package.xml
  control/autoware_autonomous_emergency_braking/src/node.cpp
  launch/tier4_control_launch/launch/control.launch.py
  system/system_error_monitor/config/diagnostic_aggregator/control.param.yaml
  system/system_error_monitor/config/system_error_monitor.param.yaml
  system/system_error_monitor/config/system_error_monitor.planning_simulation.param.yaml
Labels: type:documentation, component:control, component:system, type:ci, component:launch, tag:run-build-and-test-differential

#6890 feat(lidar_transfusion): add lidar_transfusion 3D detection package
  launch/tier4_perception_launch/launch/object_recognition/detection/detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/lidar_dnn_detector.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
  perception/lidar_transfusion/CMakeLists.txt
  perception/lidar_transfusion/README.md
  perception/lidar_transfusion/config/detection_class_remapper.param.yaml
  perception/lidar_transfusion/config/transfusion.param.yaml
  perception/lidar_transfusion/include/lidar_transfusion/cuda_utils.hpp
  perception/lidar_transfusion/include/lidar_transfusion/detection_class_remapper.hpp
  perception/lidar_transfusion/include/lidar_transfusion/lidar_transfusion_node.hpp
  perception/lidar_transfusion/include/lidar_transfusion/network/network_trt.hpp
  perception/lidar_transfusion/include/lidar_transfusion/postprocess/circle_nms_kernel.hpp
  perception/lidar_transfusion/include/lidar_transfusion/postprocess/non_maximum_suppression.hpp
  perception/lidar_transfusion/include/lidar_transfusion/postprocess/postprocess_kernel.hpp
  perception/lidar_transfusion/include/lidar_transfusion/preprocess/pointcloud_densification.hpp
  perception/lidar_transfusion/include/lidar_transfusion/preprocess/preprocess_kernel.hpp
  perception/lidar_transfusion/include/lidar_transfusion/preprocess/voxel_generator.hpp
  perception/lidar_transfusion/include/lidar_transfusion/ros_utils.hpp
  perception/lidar_transfusion/include/lidar_transfusion/transfusion_config.hpp
  perception/lidar_transfusion/include/lidar_transfusion/transfusion_trt.hpp
  perception/lidar_transfusion/include/lidar_transfusion/utils.hpp
  perception/lidar_transfusion/include/lidar_transfusion/visibility_control.hpp
  perception/lidar_transfusion/launch/lidar_transfusion.launch.xml
  perception/lidar_transfusion/lib/detection_class_remapper.cpp
  perception/lidar_transfusion/lib/network/network_trt.cpp
  perception/lidar_transfusion/lib/postprocess/circle_nms_kernel.cu
  perception/lidar_transfusion/lib/postprocess/non_maximum_suppression.cpp
  perception/lidar_transfusion/lib/postprocess/postprocess_kernel.cu
  perception/lidar_transfusion/lib/preprocess/pointcloud_densification.cpp
  perception/lidar_transfusion/lib/preprocess/preprocess_kernel.cu
  perception/lidar_transfusion/lib/preprocess/voxel_generator.cpp
  perception/lidar_transfusion/lib/ros_utils.cpp
  perception/lidar_transfusion/lib/transfusion_trt.cpp
  perception/lidar_transfusion/package.xml
  perception/lidar_transfusion/schema/detection_class_remapper.schema.json
  perception/lidar_transfusion/schema/transfusion.schema.json
  perception/lidar_transfusion/src/lidar_transfusion_node.cpp
Labels: type:documentation, component:perception, component:launch, tag:run-build-and-test-differential

#7371 fix(autoware_planning_validator): revert node name change
  planning/planning_validator/launch/planning_validator.launch.xml
Labels: component:planning, tag:run-build-and-test-differential

#6638 refactor(behavior_path_avoidance_by_lane_change_module): prefix package and namespace with autoware_
  .github/CODEOWNERS
  planning/.pages
  planning/autoware_behavior_path_avoidance_by_lane_change_module/CMakeLists.txt
  planning/autoware_behavior_path_avoidance_by_lane_change_module/README.md
  planning/autoware_behavior_path_avoidance_by_lane_change_module/config/avoidance_by_lane_change.param.yaml
  planning/autoware_behavior_path_avoidance_by_lane_change_module/images/avoidance_by_lane_change.svg
  planning/autoware_behavior_path_avoidance_by_lane_change_module/images/avoidance_by_lc_trigger_1.svg
  planning/autoware_behavior_path_avoidance_by_lane_change_module/images/avoidance_by_lc_trigger_2.svg
  planning/autoware_behavior_path_avoidance_by_lane_change_module/package.xml
  planning/autoware_behavior_path_avoidance_by_lane_change_module/plugins.xml
  planning/autoware_behavior_path_avoidance_by_lane_change_module/src/data_structs.hpp
  planning/autoware_behavior_path_avoidance_by_lane_change_module/src/interface.cpp
  planning/autoware_behavior_path_avoidance_by_lane_change_module/src/interface.hpp
  planning/autoware_behavior_path_avoidance_by_lane_change_module/src/manager.cpp
  planning/autoware_behavior_path_avoidance_by_lane_change_module/src/manager.hpp
  planning/autoware_behavior_path_avoidance_by_lane_change_module/src/scene.cpp
  planning/autoware_behavior_path_avoidance_by_lane_change_module/src/scene.hpp
  planning/autoware_behavior_path_avoidance_by_lane_change_module/test/test_behavior_path_planner_node_interface.cpp
  planning/behavior_path_avoidance_by_lane_change_module/plugins.xml
Labels: type:documentation, component:planning, type:ci, tag:deploy-docs, tag:run-build-and-test-differential

#7377 fix(tier4_planning_launch): unexpected modules were registered
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/motion_planning/motion_planning.launch.xml
Labels: component:launch, tag:run-build-and-test-differential

#7216 feat(autoware_velocity_smoother): use polling subscriber
  planning/autoware_velocity_smoother/include/autoware_velocity_smoother/node.hpp
  planning/autoware_velocity_smoother/src/node.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7286 feat(joy_controller): use polling subscriber
  control/joy_controller/include/joy_controller/joy_controller.hpp
  control/joy_controller/package.xml
  control/joy_controller/src/joy_controller/joy_controller_node.cpp
Labels: component:control, tag:run-build-and-test-differential

#7382 refactor(joy_controller)!: prefix package and namespace with autoware
  .github/CODEOWNERS
  control/autoware_joy_controller/CMakeLists.txt
  control/autoware_joy_controller/README.md
  control/autoware_joy_controller/config/joy_controller_ds4.param.yaml
  control/autoware_joy_controller/config/joy_controller_g29.param.yaml
  control/autoware_joy_controller/config/joy_controller_p65.param.yaml
  control/autoware_joy_controller/config/joy_controller_xbox.param.yaml
  control/autoware_joy_controller/include/autoware_joy_controller/joy_controller.hpp
  control/autoware_joy_controller/include/autoware_joy_controller/joy_converter/ds4_joy_converter.hpp
  control/autoware_joy_controller/include/autoware_joy_controller/joy_converter/g29_joy_converter.hpp
  control/autoware_joy_controller/include/autoware_joy_controller/joy_converter/joy_converter_base.hpp
  control/autoware_joy_controller/include/autoware_joy_controller/joy_converter/p65_joy_converter.hpp
  control/autoware_joy_controller/include/autoware_joy_controller/joy_converter/xbox_joy_converter.hpp
  control/autoware_joy_controller/launch/joy_controller.launch.xml
  control/autoware_joy_controller/launch/joy_controller_param_selection.launch.xml
  control/autoware_joy_controller/package.xml
  control/autoware_joy_controller/schema/joy_controller.schema.json
  control/autoware_joy_controller/src/joy_controller_node.cpp
  control/joy_controller/CMakeLists.txt
  control/joy_controller/launch/joy_controller_param_selection.launch.xml
Labels: type:documentation, component:control, type:ci, tag:run-build-and-test-differential

#7378 feat(tier4_autoware_utils): suppress too many warning of TF transform failure
  common/tier4_autoware_utils/include/tier4_autoware_utils/ros/transform_listener.hpp
Labels: component:common, tag:run-build-and-test-differential

#7383 refactor(pid_longitudinal_controller)!: prefix package and namespace with autoware
  .github/CODEOWNERS
  control/autoware_pid_longitudinal_controller/CMakeLists.txt
  control/autoware_pid_longitudinal_controller/README.md
  control/autoware_pid_longitudinal_controller/include/autoware_pid_longitudinal_controller/debug_values.hpp
  control/autoware_pid_longitudinal_controller/include/autoware_pid_longitudinal_controller/longitudinal_controller_utils.hpp
  control/autoware_pid_longitudinal_controller/include/autoware_pid_longitudinal_controller/lowpass_filter.hpp
  control/autoware_pid_longitudinal_controller/include/autoware_pid_longitudinal_controller/pid.hpp
  control/autoware_pid_longitudinal_controller/include/autoware_pid_longitudinal_controller/pid_longitudinal_controller.hpp
  control/autoware_pid_longitudinal_controller/include/autoware_pid_longitudinal_controller/smooth_stop.hpp
  control/autoware_pid_longitudinal_controller/media/BrakeKeeping.drawio.svg
  control/autoware_pid_longitudinal_controller/media/LongitudinalControllerDiagram.drawio.svg
  control/autoware_pid_longitudinal_controller/media/LongitudinalControllerStateTransition.drawio.svg
  control/autoware_pid_longitudinal_controller/media/slope_definition.drawio.svg
  control/autoware_pid_longitudinal_controller/package.xml
  control/autoware_pid_longitudinal_controller/param/longitudinal_controller_defaults.param.yaml
  control/autoware_pid_longitudinal_controller/src/longitudinal_controller_utils.cpp
  control/autoware_pid_longitudinal_controller/src/pid.cpp
  control/autoware_pid_longitudinal_controller/src/pid_longitudinal_controller.cpp
  control/autoware_pid_longitudinal_controller/src/smooth_stop.cpp
  control/autoware_pid_longitudinal_controller/test/test_longitudinal_controller_utils.cpp
  control/autoware_pid_longitudinal_controller/test/test_pid.cpp
  control/autoware_pid_longitudinal_controller/test/test_smooth_stop.cpp
  control/trajectory_follower_node/package.xml
  control/trajectory_follower_node/param/longitudinal/pid.param.yaml
  control/trajectory_follower_node/src/controller_node.cpp
  control/trajectory_follower_node/test/test_controller_node.cpp
Labels: type:documentation, component:control, type:ci, tag:run-build-and-test-differential

#7381 refactor(path_smoother)!: prefix package and namespace with autoware
  .github/CODEOWNERS
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/motion_planning/motion_planning.launch.xml
  planning/.pages
  planning/autoware_path_smoother/CMakeLists.txt
  planning/autoware_path_smoother/README.md
  planning/autoware_path_smoother/config/elastic_band_smoother.param.yaml
  planning/autoware_path_smoother/docs/eb.md
  planning/autoware_path_smoother/include/autoware_path_smoother/common_structs.hpp
  planning/autoware_path_smoother/include/autoware_path_smoother/elastic_band.hpp
  planning/autoware_path_smoother/include/autoware_path_smoother/elastic_band_smoother.hpp
  planning/autoware_path_smoother/include/autoware_path_smoother/replan_checker.hpp
  planning/autoware_path_smoother/include/autoware_path_smoother/type_alias.hpp
  planning/autoware_path_smoother/include/autoware_path_smoother/utils/geometry_utils.hpp
  planning/autoware_path_smoother/include/autoware_path_smoother/utils/trajectory_utils.hpp
  planning/autoware_path_smoother/launch/elastic_band_smoother.launch.xml
  planning/autoware_path_smoother/media/debug/eb_fixed_traj_visualization.png
  planning/autoware_path_smoother/media/debug/eb_traj_visualization.png
  planning/autoware_path_smoother/media/eb.svg
  planning/autoware_path_smoother/media/eb_constraint.svg
  planning/autoware_path_smoother/package.xml
  planning/autoware_path_smoother/scripts/calculation_time_plotter.py
  planning/autoware_path_smoother/src/elastic_band.cpp
  planning/autoware_path_smoother/src/elastic_band_smoother.cpp
  planning/autoware_path_smoother/src/replan_checker.cpp
  planning/autoware_path_smoother/src/utils/trajectory_utils.cpp
  planning/autoware_path_smoother/test/test_autoware_path_smoother_node_interface.cpp
  planning/autoware_static_centerline_generator/launch/static_centerline_generator.launch.xml
  planning/autoware_static_centerline_generator/package.xml
  planning/autoware_static_centerline_generator/src/centerline_source/optimization_trajectory_based_centerline.cpp
  planning/autoware_static_centerline_generator/test/test_static_centerline_generator.test.py
Labels: type:documentation, component:planning, type:ci, component:launch, tag:run-build-and-test-differential

#7359 refactor(out_of_lane): remove from behavior_velocity
  .github/CODEOWNERS
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/motion_planning/motion_planning.launch.xml
  planning/.pages
  planning/autoware_behavior_velocity_planner/launch/behavior_velocity_planner.launch.xml
  planning/autoware_behavior_velocity_planner/package.xml
  planning/autoware_behavior_velocity_planner/test/src/test_node_interface.cpp
  planning/behavior_velocity_out_of_lane_module/CMakeLists.txt
  planning/behavior_velocity_out_of_lane_module/README.md
  planning/behavior_velocity_out_of_lane_module/config/out_of_lane.param.yaml
  planning/behavior_velocity_out_of_lane_module/docs/out_of_lane-footprints_other_lanes_overlaps_ranges.png
  planning/behavior_velocity_out_of_lane_module/docs/out_of_lane_slow.png
  planning/behavior_velocity_out_of_lane_module/docs/out_of_lane_stop.png
  planning/behavior_velocity_out_of_lane_module/package.xml
  planning/behavior_velocity_out_of_lane_module/plugins.xml
  planning/behavior_velocity_out_of_lane_module/src/calculate_slowdown_points.hpp
  planning/behavior_velocity_out_of_lane_module/src/debug.cpp
  planning/behavior_velocity_out_of_lane_module/src/debug.hpp
  planning/behavior_velocity_out_of_lane_module/src/decisions.cpp
  planning/behavior_velocity_out_of_lane_module/src/decisions.hpp
  planning/behavior_velocity_out_of_lane_module/src/filter_predicted_objects.cpp
  planning/behavior_velocity_out_of_lane_module/src/filter_predicted_objects.hpp
  planning/behavior_velocity_out_of_lane_module/src/footprint.cpp
  planning/behavior_velocity_out_of_lane_module/src/footprint.hpp
  planning/behavior_velocity_out_of_lane_module/src/lanelets_selection.cpp
  planning/behavior_velocity_out_of_lane_module/src/lanelets_selection.hpp
  planning/behavior_velocity_out_of_lane_module/src/manager.cpp
  planning/behavior_velocity_out_of_lane_module/src/manager.hpp
  planning/behavior_velocity_out_of_lane_module/src/overlapping_range.cpp
  planning/behavior_velocity_out_of_lane_module/src/overlapping_range.hpp
  planning/behavior_velocity_out_of_lane_module/src/scene_out_of_lane.cpp
  planning/behavior_velocity_out_of_lane_module/src/scene_out_of_lane.hpp
  planning/behavior_velocity_out_of_lane_module/src/types.hpp
Labels: type:documentation, component:planning, type:ci, component:launch, tag:run-build-and-test-differential

#7347 fix(multi_object_tracker): fix segmentation fault bug of the debug object process
  perception/multi_object_tracker/src/debugger/debug_object.cpp
Labels: component:perception, tag:run-build-and-test-differential

#7327 chore(vehicle_cmd_gate): add prefix autoware_ to vehicle_cmd_gate
  .github/CODEOWNERS
  control/autoware_vehicle_cmd_gate/CMakeLists.txt
  control/autoware_vehicle_cmd_gate/README.md
  control/autoware_vehicle_cmd_gate/config/vehicle_cmd_gate.param.yaml
  control/autoware_vehicle_cmd_gate/image/filter.png
  control/autoware_vehicle_cmd_gate/launch/vehicle_cmd_gate.launch.xml
  control/autoware_vehicle_cmd_gate/msg/IsFilterActivated.msg
  control/autoware_vehicle_cmd_gate/package.xml
  control/autoware_vehicle_cmd_gate/schema/vehicle_cmd_gate.json
  control/autoware_vehicle_cmd_gate/script/delays_checker.py
  control/autoware_vehicle_cmd_gate/src/adapi_pause_interface.cpp
  control/autoware_vehicle_cmd_gate/src/adapi_pause_interface.hpp
  control/autoware_vehicle_cmd_gate/src/marker_helper.hpp
  control/autoware_vehicle_cmd_gate/src/moderate_stop_interface.cpp
  control/autoware_vehicle_cmd_gate/src/moderate_stop_interface.hpp
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_filter.cpp
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_filter.hpp
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_gate.cpp
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_gate.hpp
  control/autoware_vehicle_cmd_gate/test/src/test_filter_in_vehicle_cmd_gate_node.cpp
  control/autoware_vehicle_cmd_gate/test/src/test_main.cpp
  control/autoware_vehicle_cmd_gate/test/src/test_vehicle_cmd_filter.cpp
  launch/tier4_control_launch/launch/control.launch.py
  launch/tier4_control_launch/package.xml
Labels: type:documentation, component:control, type:ci, component:launch, tag:run-build-and-test-differential

#7358 feat(autoware_lane_departure_checker): use polling subscriber
  control/lane_departure_checker/include/autoware_lane_departure_checker/lane_departure_checker_node.hpp
  control/lane_departure_checker/src/lane_departure_checker_node/lane_departure_checker_node.cpp
Labels: component:control, tag:run-build-and-test-differential

#7389 chore(control): add maintainer for several control modules
  control/operation_mode_transition_manager/package.xml
  control/pure_pursuit/package.xml
  control/shift_decider/package.xml
Labels: component:control, tag:run-build-and-test-differential

#7285 refactor(behavior_velocity_stop_line_module): prefix package and namespace with autoware_
  .github/CODEOWNERS
  planning/.pages
  planning/autoware_behavior_velocity_planner/README.md
  planning/autoware_behavior_velocity_planner/package.xml
  planning/autoware_behavior_velocity_planner/test/src/test_node_interface.cpp
  planning/autoware_behavior_velocity_stop_line_module/CMakeLists.txt
  planning/autoware_behavior_velocity_stop_line_module/README.md
  planning/autoware_behavior_velocity_stop_line_module/config/stop_line.param.yaml
  planning/autoware_behavior_velocity_stop_line_module/docs/calculate_stop_pose.drawio.svg
  planning/autoware_behavior_velocity_stop_line_module/docs/find_collision_segment.drawio.svg
  planning/autoware_behavior_velocity_stop_line_module/docs/find_offset_segment.drawio.svg
  planning/autoware_behavior_velocity_stop_line_module/docs/keep_stopping.svg
  planning/autoware_behavior_velocity_stop_line_module/docs/node_and_segment.drawio.svg
  planning/autoware_behavior_velocity_stop_line_module/docs/restart.svg
  planning/autoware_behavior_velocity_stop_line_module/docs/restart_prevention.svg
  planning/autoware_behavior_velocity_stop_line_module/docs/stop_line.svg
  planning/autoware_behavior_velocity_stop_line_module/package.xml
  planning/autoware_behavior_velocity_stop_line_module/plugins.xml
  planning/autoware_behavior_velocity_stop_line_module/src/debug.cpp
  planning/autoware_behavior_velocity_stop_line_module/src/manager.cpp
  planning/autoware_behavior_velocity_stop_line_module/src/manager.hpp
  planning/autoware_behavior_velocity_stop_line_module/src/scene.cpp
  planning/autoware_behavior_velocity_stop_line_module/src/scene.hpp
Labels: type:documentation, component:planning, type:ci, tag:run-build-and-test-differential

#7349 feat(tier4_autoware_utils): add InterProcessPollingSubscriber helper factory
  common/tier4_autoware_utils/include/tier4_autoware_utils/ros/polling_subscriber.hpp
Labels: component:common, tag:run-build-and-test-differential

#7222 feat(route_hanler): handle waypoints in lanelet2 map
  planning/route_handler/include/route_handler/route_handler.hpp
  planning/route_handler/src/route_handler.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7375 refactor(freespace_planning_algorithms)!: add autoware prefix
  .github/CODEOWNERS
  planning/autoware_behavior_path_planner_common/include/autoware_behavior_path_planner_common/utils/path_utils.hpp
  planning/autoware_behavior_path_planner_common/package.xml
  planning/autoware_behavior_path_planner_common/src/utils/path_utils.cpp
  planning/autoware_behavior_path_start_planner_module/include/autoware_behavior_path_start_planner_module/data_structs.hpp
  planning/autoware_behavior_path_start_planner_module/include/autoware_behavior_path_start_planner_module/freespace_pull_out.hpp
  planning/autoware_behavior_path_start_planner_module/src/freespace_pull_out.cpp
  planning/autoware_freespace_planning_algorithms/CMakeLists.txt
  planning/autoware_freespace_planning_algorithms/README.md
  planning/autoware_freespace_planning_algorithms/autoware_freespace_planning_algorithms/__init__.py
  planning/autoware_freespace_planning_algorithms/autoware_freespace_planning_algorithms/astar_search.py
  planning/autoware_freespace_planning_algorithms/figs/summary-astar_single.png
  planning/autoware_freespace_planning_algorithms/figs/summary-rrtstar_fastest.png
  planning/autoware_freespace_planning_algorithms/figs/summary-rrtstar_informed_update.png
  planning/autoware_freespace_planning_algorithms/include/autoware_freespace_planning_algorithms/abstract_algorithm.hpp
  planning/autoware_freespace_planning_algorithms/include/autoware_freespace_planning_algorithms/astar_search.hpp
  planning/autoware_freespace_planning_algorithms/include/autoware_freespace_planning_algorithms/reeds_shepp.hpp
  planning/autoware_freespace_planning_algorithms/include/autoware_freespace_planning_algorithms/rrtstar.hpp
  planning/autoware_freespace_planning_algorithms/include/autoware_freespace_planning_algorithms/rrtstar_core.hpp
  planning/autoware_freespace_planning_algorithms/package.xml
  planning/autoware_freespace_planning_algorithms/rrtstar.md
  planning/autoware_freespace_planning_algorithms/scripts/bind/astar_search_pybind.cpp
  planning/autoware_freespace_planning_algorithms/scripts/example/example.py
  planning/autoware_freespace_planning_algorithms/src/abstract_algorithm.cpp
  planning/autoware_freespace_planning_algorithms/src/astar_search.cpp
  planning/autoware_freespace_planning_algorithms/src/reeds_shepp.cpp
  planning/autoware_freespace_planning_algorithms/src/rrtstar.cpp
  planning/autoware_freespace_planning_algorithms/src/rrtstar_core.cpp
  planning/autoware_freespace_planning_algorithms/test/debug_plot.py
  planning/autoware_freespace_planning_algorithms/test/debug_plot_rrtstar_core.py
  planning/autoware_freespace_planning_algorithms/test/src/test_freespace_planning_algorithms.cpp
  planning/autoware_freespace_planning_algorithms/test/src/test_rrtstar_core_informed.cpp
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/freespace_pull_over.hpp
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/goal_planner_parameters.hpp
  planning/behavior_path_goal_planner_module/src/freespace_pull_over.cpp
  planning/behavior_path_planner/package.xml
  planning/freespace_planner/include/freespace_planner/freespace_planner_node.hpp
  planning/freespace_planner/package.xml
  planning/freespace_planner/src/freespace_planner/freespace_planner_node.cpp
Labels: type:documentation, component:planning, type:ci, tag:run-build-and-test-differential

#7386 fix(motion_planning.launch): fix input traj of obstacle_velocity_limiter
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/motion_planning/motion_planning.launch.xml
Labels: component:launch, tag:run-build-and-test-differential

#7223 feat(motion_velocity_planner): use polling subscriber to efficiently get messages
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/filter_predicted_objects.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common/include/autoware_motion_velocity_planner_common/planner_data.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node/src/node.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node/src/node.hpp
Labels: component:planning, tag:run-build-and-test-differential

#7357 refactor(occlusion_spot): add autoware prefix
  planning/autoware_behavior_velocity_occlusion_spot_module/CMakeLists.txt
  planning/autoware_behavior_velocity_occlusion_spot_module/README.md
  planning/autoware_behavior_velocity_occlusion_spot_module/config/occlusion_spot.param.yaml
  planning/autoware_behavior_velocity_occlusion_spot_module/docs/behavior_after_safe_margin.drawio.svg
  planning/autoware_behavior_velocity_occlusion_spot_module/docs/collision_free.drawio.svg
  planning/autoware_behavior_velocity_occlusion_spot_module/docs/da.drawio.svg
  planning/autoware_behavior_velocity_occlusion_spot_module/docs/maximum_slowdown_velocity.drawio.svg
  planning/autoware_behavior_velocity_occlusion_spot_module/docs/object_info_partition.drawio.svg
  planning/autoware_behavior_velocity_occlusion_spot_module/docs/occlusion_spot.drawio.svg
  planning/autoware_behavior_velocity_occlusion_spot_module/docs/occlusion_spot.svg
  planning/autoware_behavior_velocity_occlusion_spot_module/docs/raycast_shadow.drawio.svg
  planning/autoware_behavior_velocity_occlusion_spot_module/docs/safe_motion.drawio.svg
  planning/autoware_behavior_velocity_occlusion_spot_module/docs/velocity_planning.drawio.svg
  planning/autoware_behavior_velocity_occlusion_spot_module/package.xml
  planning/autoware_behavior_velocity_occlusion_spot_module/plugins.xml
  planning/autoware_behavior_velocity_occlusion_spot_module/src/debug.cpp
  planning/autoware_behavior_velocity_occlusion_spot_module/src/grid_utils.cpp
  planning/autoware_behavior_velocity_occlusion_spot_module/src/grid_utils.hpp
  planning/autoware_behavior_velocity_occlusion_spot_module/src/manager.cpp
  planning/autoware_behavior_velocity_occlusion_spot_module/src/manager.hpp
  planning/autoware_behavior_velocity_occlusion_spot_module/src/occlusion_spot_utils.cpp
  planning/autoware_behavior_velocity_occlusion_spot_module/src/occlusion_spot_utils.hpp
  planning/autoware_behavior_velocity_occlusion_spot_module/src/risk_predictive_braking.cpp
  planning/autoware_behavior_velocity_occlusion_spot_module/src/risk_predictive_braking.hpp
  planning/autoware_behavior_velocity_occlusion_spot_module/src/scene_occlusion_spot.cpp
  planning/autoware_behavior_velocity_occlusion_spot_module/src/scene_occlusion_spot.hpp
  planning/autoware_behavior_velocity_occlusion_spot_module/test/src/test_grid_utils.cpp
  planning/autoware_behavior_velocity_occlusion_spot_module/test/src/test_occlusion_spot_utils.cpp
  planning/autoware_behavior_velocity_occlusion_spot_module/test/src/test_risk_predictive_braking.cpp
  planning/autoware_behavior_velocity_occlusion_spot_module/test/src/utils.hpp
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#7379 refactor(scenario_selector): prefix package and namespace with autoware_
  .github/CODEOWNERS
  launch/tier4_planning_launch/launch/scenario_planning/scenario_planning.launch.xml
  launch/tier4_planning_launch/package.xml
  planning/.pages
  planning/autoware_scenario_selector/CMakeLists.txt
  planning/autoware_scenario_selector/README.md
  planning/autoware_scenario_selector/config/scenario_selector.param.yaml
  planning/autoware_scenario_selector/include/autoware_scenario_selector/node.hpp
  planning/autoware_scenario_selector/launch/dummy_scenario_selector_lane_driving.launch.xml
  planning/autoware_scenario_selector/launch/dummy_scenario_selector_parking.launch.xml
  planning/autoware_scenario_selector/launch/scenario_selector.launch.xml
  planning/autoware_scenario_selector/package.xml
  planning/autoware_scenario_selector/schema/scenario_selector.schema.json
  planning/autoware_scenario_selector/src/node.cpp
  planning/autoware_scenario_selector/test/test_autoware_scenario_selector_node_interface.cpp
Labels: type:documentation, component:planning, type:ci, component:launch, tag:run-build-and-test-differential

#7384 refactor(external_cmd_selector): prefix package and namespace with au…
  .github/CODEOWNERS
  control/autoware_external_cmd_selector/CMakeLists.txt
  control/autoware_external_cmd_selector/README.md
  control/autoware_external_cmd_selector/config/external_cmd_selector.param.yaml
  control/autoware_external_cmd_selector/include/autoware_external_cmd_selector/external_cmd_selector_node.hpp
  control/autoware_external_cmd_selector/launch/external_cmd_selector.launch.py
  control/autoware_external_cmd_selector/launch/external_cmd_selector.launch.xml
  control/autoware_external_cmd_selector/package.xml
  control/autoware_external_cmd_selector/src/autoware_external_cmd_selector/external_cmd_selector_node.cpp
  control/external_cmd_selector/CMakeLists.txt
  launch/tier4_control_launch/launch/control.launch.py
  launch/tier4_control_launch/package.xml
  launch/tier4_planning_launch/package.xml
Labels: type:documentation, component:control, type:ci, component:launch, tag:run-build-and-test-differential

#7391 refactor(map_based_prediction): prefix map based prediction
  launch/tier4_perception_launch/launch/object_recognition/prediction/prediction.launch.xml
  perception/autoware_map_based_prediction/CMakeLists.txt
  perception/autoware_map_based_prediction/README.md
  perception/autoware_map_based_prediction/config/map_based_prediction.param.yaml
  perception/autoware_map_based_prediction/images/exception.svg
  perception/autoware_map_based_prediction/images/inside_road.svg
  perception/autoware_map_based_prediction/images/outside_road.svg
  perception/autoware_map_based_prediction/images/target_objects.svg
  perception/autoware_map_based_prediction/include/map_based_prediction/map_based_prediction_node.hpp
  perception/autoware_map_based_prediction/include/map_based_prediction/path_generator.hpp
  perception/autoware_map_based_prediction/launch/map_based_prediction.launch.xml
  perception/autoware_map_based_prediction/media/lane_change_detection.drawio.svg
  perception/autoware_map_based_prediction/media/lanechange_detection_right_to_left.png
  perception/autoware_map_based_prediction/media/map_based_prediction_flow.drawio.svg
  perception/autoware_map_based_prediction/media/object_history.drawio.svg
  perception/autoware_map_based_prediction/package.xml
  perception/autoware_map_based_prediction/schema/map_based_prediction.schema.json
  perception/autoware_map_based_prediction/src/debug.cpp
  perception/autoware_map_based_prediction/src/map_based_prediction_node.cpp
  perception/autoware_map_based_prediction/src/path_generator.cpp
  perception/autoware_map_based_prediction/test/map_based_prediction/test_path_generator.cpp
  perception/autoware_map_based_prediction/test/test_map_based_prediction.cpp
Labels: type:documentation, component:perception, component:launch, tag:run-build-and-test-differential

#7393 fix(occlusion_spot_module): fix dependencies, docs, codeowners
  .github/CODEOWNERS
  planning/.pages
  planning/autoware_behavior_velocity_planner/README.md
  planning/autoware_behavior_velocity_planner/package.xml
  planning/autoware_behavior_velocity_planner/test/src/test_node_interface.cpp
  planning/autoware_behavior_velocity_run_out_module/README.md
  planning/behavior_velocity_occlusion_spot_module/plugins.xml
Labels: type:documentation, component:planning, type:ci, tag:run-build-and-test-differential

#7395 chore(tier4_perception_launch): rename autoware_map_based_prediction_depend
  launch/tier4_perception_launch/package.xml
Labels: component:launch, tag:run-build-and-test-differential

#7396 ci(clang-tidy-differential): fix tag requirement
  .github/workflows/clang-tidy-differential.yaml
Labels: type:ci, tag:run-build-and-test-differential

#7278 refactor(ndt scan matcher): apply static analysis
  localization/ndt_scan_matcher/include/ndt_scan_matcher/diagnostics_module.hpp
  localization/ndt_scan_matcher/include/ndt_scan_matcher/hyper_parameters.hpp
  localization/ndt_scan_matcher/include/ndt_scan_matcher/ndt_scan_matcher_core.hpp
  localization/ndt_scan_matcher/src/diagnostics_module.cpp
  localization/ndt_scan_matcher/src/map_update_module.cpp
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
  localization/ndt_scan_matcher/test/test_util.hpp
Labels: component:localization, tag:run-build-and-test-differential

#7324 refactor(ekf localizer): apply static analysis
  localization/ekf_localizer/include/ekf_localizer/aged_object_queue.hpp
  localization/ekf_localizer/include/ekf_localizer/covariance.hpp
  localization/ekf_localizer/include/ekf_localizer/diagnostics.hpp
  localization/ekf_localizer/include/ekf_localizer/ekf_localizer.hpp
  localization/ekf_localizer/include/ekf_localizer/ekf_module.hpp
  localization/ekf_localizer/include/ekf_localizer/hyper_parameters.hpp
  localization/ekf_localizer/include/ekf_localizer/mahalanobis.hpp
  localization/ekf_localizer/include/ekf_localizer/measurement.hpp
  localization/ekf_localizer/include/ekf_localizer/numeric.hpp
  localization/ekf_localizer/include/ekf_localizer/state_transition.hpp
  localization/ekf_localizer/include/ekf_localizer/string.hpp
  localization/ekf_localizer/include/ekf_localizer/warning.hpp
  localization/ekf_localizer/include/ekf_localizer/warning_message.hpp
  localization/ekf_localizer/src/covariance.cpp
  localization/ekf_localizer/src/diagnostics.cpp
  localization/ekf_localizer/src/ekf_localizer.cpp
  localization/ekf_localizer/src/ekf_module.cpp
  localization/ekf_localizer/src/mahalanobis.cpp
  localization/ekf_localizer/src/measurement.cpp
  localization/ekf_localizer/src/state_transition.cpp
  localization/ekf_localizer/src/warning_message.cpp
  localization/ekf_localizer/test/test_covariance.cpp
  localization/ekf_localizer/test/test_diagnostics.cpp
  localization/ekf_localizer/test/test_mahalanobis.cpp
  localization/ekf_localizer/test/test_measurement.cpp
  localization/ekf_localizer/test/test_numeric.cpp
  localization/ekf_localizer/test/test_state_transition.cpp
  localization/ekf_localizer/test/test_string.cpp
  localization/ekf_localizer/test/test_warning_message.cpp
Labels: component:localization, tag:run-build-and-test-differential, tag:run-clang-tidy-differential

#7398 refactor(ndt scan matcher): apply static analysis revert
  localization/ndt_scan_matcher/include/ndt_scan_matcher/diagnostics_module.hpp
  localization/ndt_scan_matcher/include/ndt_scan_matcher/hyper_parameters.hpp
  localization/ndt_scan_matcher/include/ndt_scan_matcher/ndt_scan_matcher_core.hpp
  localization/ndt_scan_matcher/src/diagnostics_module.cpp
  localization/ndt_scan_matcher/src/map_update_module.cpp
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
  localization/ndt_scan_matcher/test/test_util.hpp
Labels: component:localization, tag:run-build-and-test-differential

#7355 refactor(pose_initializer): apply static analysis
  localization/pose_initializer/src/pose_initializer/copy_vector_to_array.hpp
  localization/pose_initializer/src/pose_initializer/gnss_module.cpp
  localization/pose_initializer/src/pose_initializer/gnss_module.hpp
  localization/pose_initializer/src/pose_initializer/ndt_module.cpp
  localization/pose_initializer/src/pose_initializer/pose_initializer_core.cpp
  localization/pose_initializer/src/pose_initializer/pose_initializer_core.hpp
  localization/pose_initializer/src/pose_initializer/yabloc_module.cpp
  localization/pose_initializer/test/test_copy_vector_to_array.cpp
Labels: component:localization, tag:run-build-and-test-differential

#7399 refactor(localization_util): apply static analysis
  localization/localization_util/src/util_func.cpp
  localization/localization_util/test/test_smart_pose_buffer.cpp
Labels: component:localization, tag:run-build-and-test-differential

#7356 feat(planning_validator): use polling subscriber
  planning/planning_validator/include/autoware_planning_validator/planning_validator.hpp
  planning/planning_validator/src/planning_validator.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7376 refactor(freespace_planner)!: add autoware prefix
  launch/tier4_planning_launch/launch/scenario_planning/parking.launch.xml
  launch/tier4_planning_launch/package.xml
  planning/autoware_behavior_path_start_planner_module/README.md
  planning/autoware_freespace_planner/CMakeLists.txt
  planning/autoware_freespace_planner/README.md
  planning/autoware_freespace_planner/config/freespace_planner.param.yaml
  planning/autoware_freespace_planner/include/autoware_freespace_planner/freespace_planner_node.hpp
  planning/autoware_freespace_planner/launch/freespace_planner.launch.xml
  planning/autoware_freespace_planner/package.xml
  planning/autoware_freespace_planner/src/autoware_freespace_planner/freespace_planner_node.cpp
  planning/autoware_freespace_planner/test/test_freespace_planner_node_interface.cpp
Labels: type:documentation, component:planning, component:launch, tag:run-build-and-test-differential

#7402 refactor(ndt scan matcher): apply static analysis
  localization/ndt_scan_matcher/include/ndt_scan_matcher/diagnostics_module.hpp
  localization/ndt_scan_matcher/include/ndt_scan_matcher/hyper_parameters.hpp
  localization/ndt_scan_matcher/include/ndt_scan_matcher/ndt_scan_matcher_core.hpp
  localization/ndt_scan_matcher/src/diagnostics_module.cpp
  localization/ndt_scan_matcher/src/map_update_module.cpp
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
  localization/ndt_scan_matcher/test/test_util.hpp
Labels: component:localization, tag:run-build-and-test-differential, tag:run-clang-tidy-differential

#7363 refactor(localization_error_monitor): apply static analysis
  localization/localization_error_monitor/include/localization_error_monitor/diagnostics.hpp
  localization/localization_error_monitor/include/localization_error_monitor/localization_error_monitor.hpp
  localization/localization_error_monitor/src/diagnostics.cpp
  localization/localization_error_monitor/src/localization_error_monitor.cpp
  localization/localization_error_monitor/test/test_diagnostics.cpp
Labels: component:localization, tag:run-build-and-test-differential, tag:run-clang-tidy-differential

#7350 refactor(map_tf_generator): apply static analysis
  map/map_tf_generator/include/map_tf_generator/uniform_random.hpp
  map/map_tf_generator/src/pcd_map_tf_generator_node.cpp
  map/map_tf_generator/src/vector_map_tf_generator_node.cpp
  map/map_tf_generator/test/test_uniform_random.cpp
Labels: component:map, tag:run-build-and-test-differential, tag:run-clang-tidy-differential

#7380 refactor(behavior_velocity_blind_spot_module): prefix package and nam…
  .github/CODEOWNERS
  planning/.pages
  planning/autoware_behavior_velocity_blind_spot_module/CMakeLists.txt
  planning/autoware_behavior_velocity_blind_spot_module/README.md
  planning/autoware_behavior_velocity_blind_spot_module/config/blind_spot.param.yaml
  planning/autoware_behavior_velocity_blind_spot_module/docs/blind-spot.drawio.svg
  planning/autoware_behavior_velocity_blind_spot_module/docs/blind-spot.svg
  planning/autoware_behavior_velocity_blind_spot_module/package.xml
  planning/autoware_behavior_velocity_blind_spot_module/plugins.xml
  planning/autoware_behavior_velocity_blind_spot_module/src/debug.cpp
  planning/autoware_behavior_velocity_blind_spot_module/src/decisions.cpp
  planning/autoware_behavior_velocity_blind_spot_module/src/manager.cpp
  planning/autoware_behavior_velocity_blind_spot_module/src/manager.hpp
  planning/autoware_behavior_velocity_blind_spot_module/src/scene.cpp
  planning/autoware_behavior_velocity_blind_spot_module/src/scene.hpp
  planning/autoware_behavior_velocity_planner/README.md
  planning/autoware_behavior_velocity_planner/package.xml
  planning/autoware_behavior_velocity_planner/test/src/test_node_interface.cpp
Labels: type:documentation, component:planning, type:ci, tag:run-build-and-test-differential

#7408 ci(build-and-test-differential): set checkout fetch-depth to 1
  .github/workflows/build-and-test-differential-arm64.yaml
  .github/workflows/build-and-test-differential.yaml
Labels: type:ci, tag:run-build-and-test-differential

#7405 chore(map): udpate maintainer
  launch/tier4_map_launch/package.xml
  map/map_loader/package.xml
  map/util/lanelet2_map_preprocessor/package.xml
Labels: component:map, component:launch, tag:run-build-and-test-differential

#7370 refactor(behavior_path_lane_change_module)!: prefix package and namespace with autoware
  .github/CODEOWNERS
  planning/.pages
  planning/autoware_behavior_path_avoidance_by_lane_change_module/README.md
  planning/autoware_behavior_path_avoidance_by_lane_change_module/package.xml
  planning/autoware_behavior_path_avoidance_by_lane_change_module/src/interface.hpp
  planning/autoware_behavior_path_avoidance_by_lane_change_module/src/manager.hpp
  planning/autoware_behavior_path_avoidance_by_lane_change_module/src/scene.cpp
  planning/autoware_behavior_path_avoidance_by_lane_change_module/src/scene.hpp
  planning/autoware_behavior_path_avoidance_by_lane_change_module/test/test_behavior_path_planner_node_interface.cpp
  planning/autoware_behavior_path_external_request_lane_change_module/package.xml
  planning/autoware_behavior_path_external_request_lane_change_module/src/manager.cpp
  planning/autoware_behavior_path_external_request_lane_change_module/src/manager.hpp
  planning/autoware_behavior_path_external_request_lane_change_module/src/scene.hpp
  planning/autoware_behavior_path_external_request_lane_change_module/test/test_behavior_path_planner_node_interface.cpp
  planning/autoware_behavior_path_lane_change_module/CMakeLists.txt
  planning/autoware_behavior_path_lane_change_module/README.md
  planning/autoware_behavior_path_lane_change_module/config/lane_change.param.yaml
  planning/autoware_behavior_path_lane_change_module/images/lane_change-abort.png
  planning/autoware_behavior_path_lane_change_module/images/lane_change-cancel.png
  planning/autoware_behavior_path_lane_change_module/images/lane_change-candidate_path_samples.png
  planning/autoware_behavior_path_lane_change_module/images/lane_change-cant_cancel_no_abort.png
  planning/autoware_behavior_path_lane_change_module/images/lane_change-debug-1.png
  planning/autoware_behavior_path_lane_change_module/images/lane_change-debug-2.png
  planning/autoware_behavior_path_lane_change_module/images/lane_change-debug-3.png
  planning/autoware_behavior_path_lane_change_module/images/lane_change-enable_collision_check_at_prepare_phase.png
  planning/autoware_behavior_path_lane_change_module/images/lane_change-intersection_case.png
  planning/autoware_behavior_path_lane_change_module/images/lane_change-lane_change_phases.png
  planning/autoware_behavior_path_lane_change_module/images/lane_change-lane_expansion-with.png
  planning/autoware_behavior_path_lane_change_module/images/lane_change-lane_expansion-without.png
  planning/autoware_behavior_path_lane_change_module/images/lane_change-stop_at_terminal.drawio.svg
  planning/autoware_behavior_path_lane_change_module/images/lane_change-stop_at_terminal_no_block.drawio.svg
  planning/autoware_behavior_path_lane_change_module/images/lane_change-stop_far_from_target_lane.drawio.svg
  planning/autoware_behavior_path_lane_change_module/images/lane_change-stop_not_at_terminal.drawio.svg
  planning/autoware_behavior_path_lane_change_module/images/lane_change-stop_not_at_terminal_no_blocking_object.drawio.svg
  planning/autoware_behavior_path_lane_change_module/images/lane_change-when_cannot_change_lanes.png
  planning/autoware_behavior_path_lane_change_module/images/lane_change.drawio.svg
  planning/autoware_behavior_path_lane_change_module/images/lane_objects.drawio.svg
  planning/autoware_behavior_path_lane_change_module/include/autoware_behavior_path_lane_change_module/interface.hpp
  planning/autoware_behavior_path_lane_change_module/include/autoware_behavior_path_lane_change_module/manager.hpp
  planning/autoware_behavior_path_lane_change_module/include/autoware_behavior_path_lane_change_module/scene.hpp
  planning/autoware_behavior_path_lane_change_module/include/autoware_behavior_path_lane_change_module/utils/base_class.hpp
  planning/autoware_behavior_path_lane_change_module/include/autoware_behavior_path_lane_change_module/utils/data_structs.hpp
  planning/autoware_behavior_path_lane_change_module/include/autoware_behavior_path_lane_change_module/utils/debug_structs.hpp
  planning/autoware_behavior_path_lane_change_module/include/autoware_behavior_path_lane_change_module/utils/markers.hpp
  planning/autoware_behavior_path_lane_change_module/include/autoware_behavior_path_lane_change_module/utils/path.hpp
  planning/autoware_behavior_path_lane_change_module/include/autoware_behavior_path_lane_change_module/utils/utils.hpp
  planning/autoware_behavior_path_lane_change_module/package.xml
  planning/autoware_behavior_path_lane_change_module/plugins.xml
  planning/autoware_behavior_path_lane_change_module/src/interface.cpp
  planning/autoware_behavior_path_lane_change_module/src/manager.cpp
  planning/autoware_behavior_path_lane_change_module/src/scene.cpp
  planning/autoware_behavior_path_lane_change_module/src/utils/markers.cpp
  planning/autoware_behavior_path_lane_change_module/src/utils/utils.cpp
  planning/autoware_behavior_path_lane_change_module/test/test_behavior_path_planner_node_interface.cpp
  planning/autoware_behavior_path_lane_change_module/test/test_lane_change_utils.cpp
  planning/behavior_path_lane_change_module/plugins.xml
  planning/behavior_path_planner/README.md
Labels: type:documentation, component:planning, type:ci, tag:run-build-and-test-differential

#6746 refactor(sensing/image_transport_decompressor): rework parameters
  sensing/image_transport_decompressor/README.md
  sensing/image_transport_decompressor/config/image_transport_decompressor.param.yaml
  sensing/image_transport_decompressor/launch/image_transport_decompressor.launch.xml
  sensing/image_transport_decompressor/schema/image_transport_decompressor.schema.json
  sensing/image_transport_decompressor/src/image_transport_decompressor.cpp
Labels: type:documentation, component:sensing, tag:deploy-docs, tag:run-build-and-test-differential

#7403 feat(trajectory_follower_node): use polling subscribers
  control/trajectory_follower_node/include/trajectory_follower_node/controller_node.hpp
  control/trajectory_follower_node/include/trajectory_follower_node/simple_trajectory_follower.hpp
  control/trajectory_follower_node/src/controller_node.cpp
  control/trajectory_follower_node/src/simple_trajectory_follower.cpp
Labels: component:control, tag:run-build-and-test-differential

#7385 refactor(raw_vehicle_cmd_converter)!: prefix package and namespace with autoware
  .github/CODEOWNERS
  launch/tier4_vehicle_launch/launch/vehicle.launch.xml
  vehicle/accel_brake_map_calibrator/README.md
  vehicle/accel_brake_map_calibrator/include/accel_brake_map_calibrator/accel_brake_map_calibrator_node.hpp
  vehicle/accel_brake_map_calibrator/launch/accel_brake_map_calibrator.launch.xml
  vehicle/accel_brake_map_calibrator/package.xml
  vehicle/accel_brake_map_calibrator/scripts/new_accel_brake_map_server.py
  vehicle/accel_brake_map_calibrator/scripts/view_plot.py
  vehicle/autoware_raw_vehicle_cmd_converter/CMakeLists.txt
  vehicle/autoware_raw_vehicle_cmd_converter/README.md
  vehicle/autoware_raw_vehicle_cmd_converter/config/raw_vehicle_cmd_converter.param.yaml
  vehicle/autoware_raw_vehicle_cmd_converter/data/default/accel_map.csv
  vehicle/autoware_raw_vehicle_cmd_converter/data/default/brake_map.csv
  vehicle/autoware_raw_vehicle_cmd_converter/data/default/steer_map.csv
  vehicle/autoware_raw_vehicle_cmd_converter/figure/accel-brake-map-table.png
  vehicle/autoware_raw_vehicle_cmd_converter/include/autoware_raw_vehicle_cmd_converter/accel_map.hpp
  vehicle/autoware_raw_vehicle_cmd_converter/include/autoware_raw_vehicle_cmd_converter/brake_map.hpp
  vehicle/autoware_raw_vehicle_cmd_converter/include/autoware_raw_vehicle_cmd_converter/csv_loader.hpp
  vehicle/autoware_raw_vehicle_cmd_converter/include/autoware_raw_vehicle_cmd_converter/node.hpp
  vehicle/autoware_raw_vehicle_cmd_converter/include/autoware_raw_vehicle_cmd_converter/pid.hpp
  vehicle/autoware_raw_vehicle_cmd_converter/include/autoware_raw_vehicle_cmd_converter/steer_map.hpp
  vehicle/autoware_raw_vehicle_cmd_converter/launch/raw_vehicle_converter.launch.xml
  vehicle/autoware_raw_vehicle_cmd_converter/package.xml
  vehicle/autoware_raw_vehicle_cmd_converter/schema/raw_vehicle_cmd_converter.schema.json
  vehicle/autoware_raw_vehicle_cmd_converter/scripts/plot_accel_brake_map.py
  vehicle/autoware_raw_vehicle_cmd_converter/src/accel_map.cpp
  vehicle/autoware_raw_vehicle_cmd_converter/src/brake_map.cpp
  vehicle/autoware_raw_vehicle_cmd_converter/src/csv_loader.cpp
  vehicle/autoware_raw_vehicle_cmd_converter/src/node.cpp
  vehicle/autoware_raw_vehicle_cmd_converter/src/pid.cpp
  vehicle/autoware_raw_vehicle_cmd_converter/src/steer_map.cpp
  vehicle/autoware_raw_vehicle_cmd_converter/test/map_data/test_1col_map.csv
  vehicle/autoware_raw_vehicle_cmd_converter/test/map_data/test_accel_map.csv
  vehicle/autoware_raw_vehicle_cmd_converter/test/map_data/test_brake_map.csv
  vehicle/autoware_raw_vehicle_cmd_converter/test/map_data/test_inconsistent_rows_map.csv
  vehicle/autoware_raw_vehicle_cmd_converter/test/map_data/test_not_interpolatable.csv
  vehicle/autoware_raw_vehicle_cmd_converter/test/map_data/test_steer_map.csv
  vehicle/autoware_raw_vehicle_cmd_converter/test/test_autoware_raw_vehicle_cmd_converter.cpp
  vehicle/external_cmd_converter/include/external_cmd_converter/node.hpp
  vehicle/external_cmd_converter/launch/external_cmd_converter.launch.py
  vehicle/external_cmd_converter/launch/external_cmd_converter.launch.xml
  vehicle/external_cmd_converter/package.xml
  vehicle/raw_vehicle_cmd_converter/CMakeLists.txt
Labels: type:documentation, component:vehicle, type:ci, component:launch, tag:run-build-and-test-differential

#7162 refactor(behavior_velocity_traffic_light_module): prefix package and namespace with autoware
  .github/CODEOWNERS
  planning/.pages
  planning/autoware_behavior_velocity_planner/README.md
  planning/autoware_behavior_velocity_planner/package.xml
  planning/autoware_behavior_velocity_planner/test/src/test_node_interface.cpp
  planning/autoware_behavior_velocity_traffic_light_module/CMakeLists.txt
  planning/autoware_behavior_velocity_traffic_light_module/README.md
  planning/autoware_behavior_velocity_traffic_light_module/config/traffic_light.param.yaml
  planning/autoware_behavior_velocity_traffic_light_module/docs/crosswalk.png
  planning/autoware_behavior_velocity_traffic_light_module/docs/traffic_light.svg
  planning/autoware_behavior_velocity_traffic_light_module/docs/traffic_light_dilemma.svg
  planning/autoware_behavior_velocity_traffic_light_module/package.xml
  planning/autoware_behavior_velocity_traffic_light_module/plugins.xml
  planning/autoware_behavior_velocity_traffic_light_module/src/debug.cpp
  planning/autoware_behavior_velocity_traffic_light_module/src/manager.cpp
  planning/autoware_behavior_velocity_traffic_light_module/src/manager.hpp
  planning/autoware_behavior_velocity_traffic_light_module/src/scene.cpp
  planning/autoware_behavior_velocity_traffic_light_module/src/scene.hpp
Labels: type:documentation, component:planning, type:ci, tag:run-build-and-test-differential

#7417 fix(autoware_control_validator): fix vehicle info utils
  control/autoware_control_validator/src/control_validator.cpp
Labels: tag:run-build-and-test-differential

#7411 refactor(planning_validator)!: rename directory name
  planning/autoware_planning_validator/CMakeLists.txt
  planning/autoware_planning_validator/README.md
  planning/autoware_planning_validator/config/planning_validator.param.yaml
  planning/autoware_planning_validator/config/planning_validator_plotjugler_config.xml
  planning/autoware_planning_validator/image/planning_validator.drawio.svg
  planning/autoware_planning_validator/include/autoware_planning_validator/debug_marker.hpp
  planning/autoware_planning_validator/include/autoware_planning_validator/planning_validator.hpp
  planning/autoware_planning_validator/include/autoware_planning_validator/utils.hpp
  planning/autoware_planning_validator/launch/invalid_trajectory_publisher.launch.xml
  planning/autoware_planning_validator/launch/planning_validator.launch.xml
  planning/autoware_planning_validator/msg/PlanningValidatorStatus.msg
  planning/autoware_planning_validator/package.xml
  planning/autoware_planning_validator/src/debug_marker.cpp
  planning/autoware_planning_validator/src/invalid_trajectory_publisher/invalid_trajectory_publisher.cpp
  planning/autoware_planning_validator/src/invalid_trajectory_publisher/invalid_trajectory_publisher.hpp
  planning/autoware_planning_validator/src/planning_validator.cpp
  planning/autoware_planning_validator/src/utils.cpp
  planning/autoware_planning_validator/test/src/test_main.cpp
  planning/autoware_planning_validator/test/src/test_parameter.hpp
  planning/autoware_planning_validator/test/src/test_planning_validator_functions.cpp
  planning/autoware_planning_validator/test/src/test_planning_validator_helper.cpp
  planning/autoware_planning_validator/test/src/test_planning_validator_helper.hpp
  planning/autoware_planning_validator/test/src/test_planning_validator_node_interface.cpp
  planning/autoware_planning_validator/test/src/test_planning_validator_pubsub.cpp
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#7409 feat(polling_subscriber): polling srbscriber for multiple data
  common/tier4_autoware_utils/include/tier4_autoware_utils/ros/polling_subscriber.hpp
Labels: component:common, tag:run-build-and-test-differential

#7418 feat(vehicle_cmd_gate): use polling subscriber
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_gate.cpp
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_gate.hpp
Labels: component:control, tag:run-build-and-test-differential

#7404 feat(tier4_autoware_utils): add the API to check if taken data is stale
  common/tier4_autoware_utils/include/tier4_autoware_utils/ros/polling_subscriber.hpp
  control/lane_departure_checker/src/lane_departure_checker_node/lane_departure_checker_node.cpp
Labels: component:control, component:common, tag:run-build-and-test-differential

#7413 refactor(objects_of_interest_marker_interface)!: prefix package and namespace with autoware
  .github/CODEOWNERS
  planning/.pages
  planning/autoware_behavior_path_lane_change_module/include/autoware_behavior_path_lane_change_module/interface.hpp
  planning/autoware_behavior_path_planner_common/include/autoware_behavior_path_planner_common/interface/scene_module_interface.hpp
  planning/autoware_behavior_path_planner_common/package.xml
  planning/autoware_behavior_path_static_obstacle_avoidance_module/package.xml
  planning/autoware_behavior_velocity_planner_common/include/autoware_behavior_velocity_planner_common/scene_module_interface.hpp
  planning/autoware_behavior_velocity_planner_common/package.xml
  planning/autoware_objects_of_interest_marker_interface/CMakeLists.txt
  planning/autoware_objects_of_interest_marker_interface/README.md
  planning/autoware_objects_of_interest_marker_interface/include/autoware_objects_of_interest_marker_interface/coloring.hpp
  planning/autoware_objects_of_interest_marker_interface/include/autoware_objects_of_interest_marker_interface/marker_data.hpp
  planning/autoware_objects_of_interest_marker_interface/include/autoware_objects_of_interest_marker_interface/marker_utils.hpp
  planning/autoware_objects_of_interest_marker_interface/include/autoware_objects_of_interest_marker_interface/objects_of_interest_marker_interface.hpp
  planning/autoware_objects_of_interest_marker_interface/package.xml
  planning/autoware_objects_of_interest_marker_interface/src/coloring.cpp
  planning/autoware_objects_of_interest_marker_interface/src/marker_utils.cpp
  planning/autoware_objects_of_interest_marker_interface/src/objects_of_interest_marker_interface.cpp
Labels: type:documentation, component:planning, type:ci, tag:run-build-and-test-differential

#7410 refactor(autoware_lane_departure_checker)!: rename directory name
  control/autoware_lane_departure_checker/CMakeLists.txt
  control/autoware_lane_departure_checker/README.md
  control/autoware_lane_departure_checker/config/lane_departure_checker.param.yaml
  control/autoware_lane_departure_checker/include/autoware_lane_departure_checker/lane_departure_checker.hpp
  control/autoware_lane_departure_checker/include/autoware_lane_departure_checker/lane_departure_checker_node.hpp
  control/autoware_lane_departure_checker/include/autoware_lane_departure_checker/util/create_vehicle_footprint.hpp
  control/autoware_lane_departure_checker/launch/lane_departure_checker.launch.xml
  control/autoware_lane_departure_checker/package.xml
  control/autoware_lane_departure_checker/schema/lane_departure_checker.json
  control/autoware_lane_departure_checker/src/lane_departure_checker_node/lane_departure_checker.cpp
  control/autoware_lane_departure_checker/src/lane_departure_checker_node/lane_departure_checker_node.cpp
Labels: type:documentation, component:control, tag:run-build-and-test-differential

#7414 refactor(mission_planner)!: add autoware prefix and namespace
  .github/CODEOWNERS
  launch/tier4_planning_launch/launch/mission_planning/mission_planning.launch.xml
  launch/tier4_planning_launch/package.xml
  planning/autoware_mission_planner/CMakeLists.txt
  planning/autoware_mission_planner/README.md
  planning/autoware_mission_planner/config/mission_planner.param.yaml
  planning/autoware_mission_planner/include/mission_planner/mission_planner_plugin.hpp
  planning/autoware_mission_planner/launch/goal_pose_visualizer.launch.xml
  planning/autoware_mission_planner/launch/mission_planner.launch.xml
  planning/autoware_mission_planner/media/architecture.drawio.svg
  planning/autoware_mission_planner/media/goal_footprints.svg
  planning/autoware_mission_planner/media/rerouting_safety.svg
  planning/autoware_mission_planner/media/route_sections.svg
  planning/autoware_mission_planner/package.xml
  planning/autoware_mission_planner/plugins/plugin_description.xml
  planning/autoware_mission_planner/schema/mission_planner.schema.json
  planning/autoware_mission_planner/src/goal_pose_visualizer/goal_pose_visualizer.cpp
  planning/autoware_mission_planner/src/goal_pose_visualizer/goal_pose_visualizer.hpp
  planning/autoware_mission_planner/src/lanelet2_plugins/default_planner.cpp
  planning/autoware_mission_planner/src/lanelet2_plugins/default_planner.hpp
  planning/autoware_mission_planner/src/lanelet2_plugins/utility_functions.cpp
  planning/autoware_mission_planner/src/lanelet2_plugins/utility_functions.hpp
  planning/autoware_mission_planner/src/mission_planner/arrival_checker.cpp
  planning/autoware_mission_planner/src/mission_planner/arrival_checker.hpp
  planning/autoware_mission_planner/src/mission_planner/mission_planner.cpp
  planning/autoware_mission_planner/src/mission_planner/mission_planner.hpp
  planning/autoware_mission_planner/src/mission_planner/route_selector.cpp
  planning/autoware_mission_planner/src/mission_planner/route_selector.hpp
  planning/autoware_mission_planner/src/mission_planner/service_utils.cpp
  planning/autoware_mission_planner/src/mission_planner/service_utils.hpp
  planning/autoware_static_centerline_generator/package.xml
  planning/autoware_static_centerline_generator/src/static_centerline_generator_node.cpp
  planning/autoware_static_centerline_generator/test/test_static_centerline_generator.test.py
  planning/mission_planner/plugins/plugin_description.xml
Labels: type:documentation, component:planning, type:ci, component:launch, tag:run-build-and-test-differential

#6898 feat(avoidance): keep enough distance to avoid object in front of red signal
  planning/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware_behavior_path_static_obstacle_avoidance_module/data_structs.hpp
  planning/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware_behavior_path_static_obstacle_avoidance_module/helper.hpp
  planning/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
  planning/autoware_behavior_path_static_obstacle_avoidance_module/src/shift_line_generator.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7365 refactor(crosswalk_traffic_light_estimator)!: add autoware_ prefix
  .github/CODEOWNERS
  launch/tier4_perception_launch/launch/traffic_light_recognition/traffic_light.launch.xml
  launch/tier4_perception_launch/package.xml
  perception/autoware_crosswalk_traffic_light_estimator/CMakeLists.txt
  perception/autoware_crosswalk_traffic_light_estimator/README.md
  perception/autoware_crosswalk_traffic_light_estimator/config/crosswalk_traffic_light_estimator.param.yaml
  perception/autoware_crosswalk_traffic_light_estimator/images/intersection1.svg
  perception/autoware_crosswalk_traffic_light_estimator/images/intersection2.svg
  perception/autoware_crosswalk_traffic_light_estimator/images/straight.drawio.svg
  perception/autoware_crosswalk_traffic_light_estimator/include/autoware_crosswalk_traffic_light_estimator/node.hpp
  perception/autoware_crosswalk_traffic_light_estimator/launch/crosswalk_traffic_light_estimator.launch.xml
  perception/autoware_crosswalk_traffic_light_estimator/package.xml
  perception/autoware_crosswalk_traffic_light_estimator/schema/crosswalk_traffic_light_estimator.schema.json
  perception/autoware_crosswalk_traffic_light_estimator/src/node.cpp
Labels: type:documentation, component:perception, type:ci, component:launch, tag:run-build-and-test-differential

#7420 refactor(goal_planner): add autoware prefix
  .github/CODEOWNERS
  planning/autoware_behavior_path_goal_planner_module/CMakeLists.txt
  planning/autoware_behavior_path_goal_planner_module/README.md
  planning/autoware_behavior_path_goal_planner_module/config/goal_planner.param.yaml
  planning/autoware_behavior_path_goal_planner_module/images/arc_backward_parking.drawio.svg
  planning/autoware_behavior_path_goal_planner_module/images/arc_forward_parking.drawio.svg
  planning/autoware_behavior_path_goal_planner_module/images/goal_planner-collision_check_margin.drawio.svg
  planning/autoware_behavior_path_goal_planner_module/images/goal_planner-deciding_path.drawio.svg
  planning/autoware_behavior_path_goal_planner_module/images/goal_planner-goal_candidates.drawio.svg
  planning/autoware_behavior_path_goal_planner_module/images/goal_planner-goal_distance.drawio.svg
  planning/autoware_behavior_path_goal_planner_module/images/goal_planner-is_safe.drawio.svg
  planning/autoware_behavior_path_goal_planner_module/images/goal_planner-longitudinal_margin.drawio.svg
  planning/autoware_behavior_path_goal_planner_module/images/goal_planner-object_to_avoid.drawio.svg
  planning/autoware_behavior_path_goal_planner_module/images/goal_planner-refined_goal.drawio.svg
  planning/autoware_behavior_path_goal_planner_module/images/goal_planner-safety_check.drawio.svg
  planning/autoware_behavior_path_goal_planner_module/images/goal_planner-threads.drawio.svg
  planning/autoware_behavior_path_goal_planner_module/images/goal_priority_object_to_avoid_rviz.png
  planning/autoware_behavior_path_goal_planner_module/images/goal_priority_rviz.png
  planning/autoware_behavior_path_goal_planner_module/images/goal_priority_with_goal.png
  planning/autoware_behavior_path_goal_planner_module/images/path_goal_refinement.drawio.svg
  planning/autoware_behavior_path_goal_planner_module/images/pull_over_freespace_parking_flowchart.drawio.svg
  planning/autoware_behavior_path_goal_planner_module/images/shift_parking.drawio.svg
  planning/autoware_behavior_path_goal_planner_module/include/autoware_behavior_path_goal_planner_module/default_fixed_goal_planner.hpp
  planning/autoware_behavior_path_goal_planner_module/include/autoware_behavior_path_goal_planner_module/fixed_goal_planner_base.hpp
  planning/autoware_behavior_path_goal_planner_module/include/autoware_behavior_path_goal_planner_module/freespace_pull_over.hpp
  planning/autoware_behavior_path_goal_planner_module/include/autoware_behavior_path_goal_planner_module/geometric_pull_over.hpp
  planning/autoware_behavior_path_goal_planner_module/include/autoware_behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/autoware_behavior_path_goal_planner_module/include/autoware_behavior_path_goal_planner_module/goal_planner_parameters.hpp
  planning/autoware_behavior_path_goal_planner_module/include/autoware_behavior_path_goal_planner_module/goal_searcher.hpp
  planning/autoware_behavior_path_goal_planner_module/include/autoware_behavior_path_goal_planner_module/goal_searcher_base.hpp
  planning/autoware_behavior_path_goal_planner_module/include/autoware_behavior_path_goal_planner_module/manager.hpp
  planning/autoware_behavior_path_goal_planner_module/include/autoware_behavior_path_goal_planner_module/pull_over_planner_base.hpp
  planning/autoware_behavior_path_goal_planner_module/include/autoware_behavior_path_goal_planner_module/shift_pull_over.hpp
  planning/autoware_behavior_path_goal_planner_module/include/autoware_behavior_path_goal_planner_module/util.hpp
  planning/autoware_behavior_path_goal_planner_module/package.xml
  planning/autoware_behavior_path_goal_planner_module/plugins.xml
  planning/autoware_behavior_path_goal_planner_module/src/default_fixed_goal_planner.cpp
  planning/autoware_behavior_path_goal_planner_module/src/freespace_pull_over.cpp
  planning/autoware_behavior_path_goal_planner_module/src/geometric_pull_over.cpp
  planning/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/autoware_behavior_path_goal_planner_module/src/goal_searcher.cpp
  planning/autoware_behavior_path_goal_planner_module/src/manager.cpp
  planning/autoware_behavior_path_goal_planner_module/src/shift_pull_over.cpp
  planning/autoware_behavior_path_goal_planner_module/src/util.cpp
  planning/behavior_path_planner/README.md
Labels: type:documentation, component:perception, component:planning, type:ci, tag:run-build-and-test-differential

#7010 fix(virtual traffic light): suppress launch
  planning/autoware_behavior_velocity_virtual_traffic_light_module/src/manager.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7351 refactor(accel_brake_map_calibrator)!: add autoware_ prefix
  .github/CODEOWNERS
  perception/autoware_crosswalk_traffic_light_estimator/src/node.cpp
  vehicle/autoware_accel_brake_map_calibrator/CMakeLists.txt
  vehicle/autoware_accel_brake_map_calibrator/README.md
  vehicle/autoware_accel_brake_map_calibrator/config/accel_brake_map_calibrator.param.yaml
  vehicle/autoware_accel_brake_map_calibrator/config/accel_brake_map_calibrator.xml
  vehicle/autoware_accel_brake_map_calibrator/data/accel_map.csv
  vehicle/autoware_accel_brake_map_calibrator/data/accel_map_double_res.csv
  vehicle/autoware_accel_brake_map_calibrator/data/brake_map.csv
  vehicle/autoware_accel_brake_map_calibrator/data/brake_map_double_res.csv
  vehicle/autoware_accel_brake_map_calibrator/include/autoware_accel_brake_map_calibrator/accel_brake_map_calibrator_node.hpp
  vehicle/autoware_accel_brake_map_calibrator/launch/accel_brake_map_calibrator.launch.xml
  vehicle/autoware_accel_brake_map_calibrator/media/actuation_cmd_publisher_util.png
  vehicle/autoware_accel_brake_map_calibrator/media/add_panel.png
  vehicle/autoware_accel_brake_map_calibrator/media/calib_rviz_image_sample.png
  vehicle/autoware_accel_brake_map_calibrator/media/calibrator_button_panel.png
  vehicle/autoware_accel_brake_map_calibrator/media/fourcell_RLS.png
  vehicle/autoware_accel_brake_map_calibrator/media/log_sample.png
  vehicle/autoware_accel_brake_map_calibrator/media/push_calibration_button.png
  vehicle/autoware_accel_brake_map_calibrator/media/statistics_sample.png
  vehicle/autoware_accel_brake_map_calibrator/package.xml
  vehicle/autoware_accel_brake_map_calibrator/rviz/occupancy.rviz
  vehicle/autoware_accel_brake_map_calibrator/scripts/__init__.py
  vehicle/autoware_accel_brake_map_calibrator/scripts/accel_tester.py
  vehicle/autoware_accel_brake_map_calibrator/scripts/actuation_cmd_publisher.py
  vehicle/autoware_accel_brake_map_calibrator/scripts/brake_tester.py
  vehicle/autoware_accel_brake_map_calibrator/scripts/calc_utils.py
  vehicle/autoware_accel_brake_map_calibrator/scripts/config.py
  vehicle/autoware_accel_brake_map_calibrator/scripts/csv_reader.py
  vehicle/autoware_accel_brake_map_calibrator/scripts/delay_estimator.py
  vehicle/autoware_accel_brake_map_calibrator/scripts/log_analyzer.py
  vehicle/autoware_accel_brake_map_calibrator/scripts/new_accel_brake_map_server.py
  vehicle/autoware_accel_brake_map_calibrator/scripts/plotter.py
  vehicle/autoware_accel_brake_map_calibrator/scripts/view_plot.py
  vehicle/autoware_accel_brake_map_calibrator/scripts/view_statistics.py
  vehicle/autoware_accel_brake_map_calibrator/src/accel_brake_map_calibrator_node.cpp
  vehicle/autoware_accel_brake_map_calibrator/src/main.cpp
  vehicle/autoware_accel_brake_map_calibrator/test/plot_csv_client_node.py
  vehicle/autoware_accel_brake_map_calibrator/test/sim_actuation_status_publisher.py
  vehicle/autoware_raw_vehicle_cmd_converter/README.md
Labels: type:documentation, component:perception, component:vehicle, type:ci, tag:run-build-and-test-differential

#7361 refactor(external cmd converter)!: add autoware_ prefix
  .github/CODEOWNERS
  launch/tier4_control_launch/launch/control.launch.py
  launch/tier4_control_launch/package.xml
  vehicle/autoware_external_cmd_converter/CMakeLists.txt
  vehicle/autoware_external_cmd_converter/README.md
  vehicle/autoware_external_cmd_converter/config/external_cmd_converter.param.yaml
  vehicle/autoware_external_cmd_converter/include/autoware_external_cmd_converter/node.hpp
  vehicle/autoware_external_cmd_converter/launch/external_cmd_converter.launch.py
  vehicle/autoware_external_cmd_converter/launch/external_cmd_converter.launch.xml
  vehicle/autoware_external_cmd_converter/package.xml
  vehicle/autoware_external_cmd_converter/schema/external_cmd_converter.json
  vehicle/autoware_external_cmd_converter/src/node.cpp
  vehicle/external_cmd_converter/CMakeLists.txt
Labels: type:documentation, component:vehicle, type:ci, component:launch, tag:run-build-and-test-differential

#7423 fix(tier4_control_launch, crosswalk_traffic_light_estimator): fix a mistake when adding prefixes
  launch/tier4_control_launch/package.xml
  perception/autoware_crosswalk_traffic_light_estimator/src/node.cpp
Labels: component:perception, component:launch, tag:run-build-and-test-differential

#7274 feat(behavior_velocity_planner): use polling subscriber to improve performance
  planning/autoware_behavior_velocity_planner/src/node.cpp
  planning/autoware_behavior_velocity_planner/src/node.hpp
Labels: component:planning, tag:run-build-and-test-differential

#7343 refactor(trajectory_follower_base): trajectory follower base add autoware prefix
  .github/CODEOWNERS
  control/autoware_mpc_lateral_controller/include/autoware_mpc_lateral_controller/mpc_lateral_controller.hpp
  control/autoware_mpc_lateral_controller/package.xml
  control/autoware_pid_longitudinal_controller/include/autoware_pid_longitudinal_controller/pid_longitudinal_controller.hpp
  control/autoware_pid_longitudinal_controller/package.xml
  control/autoware_trajectory_follower_base/CMakeLists.txt
  control/autoware_trajectory_follower_base/README.md
  control/autoware_trajectory_follower_base/include/autoware_trajectory_follower_base/input_data.hpp
  control/autoware_trajectory_follower_base/include/autoware_trajectory_follower_base/lateral_controller_base.hpp
  control/autoware_trajectory_follower_base/include/autoware_trajectory_follower_base/longitudinal_controller_base.hpp
  control/autoware_trajectory_follower_base/include/autoware_trajectory_follower_base/sync_data.hpp
  control/autoware_trajectory_follower_base/include/autoware_trajectory_follower_base/visibility_control.hpp
  control/autoware_trajectory_follower_base/package.xml
  control/autoware_trajectory_follower_base/src/lateral_controller_base.cpp
  control/autoware_trajectory_follower_base/src/longitudinal_controller_base.cpp
  control/pure_pursuit/include/pure_pursuit/pure_pursuit_lateral_controller.hpp
  control/pure_pursuit/package.xml
  control/trajectory_follower_node/README.md
  control/trajectory_follower_node/include/trajectory_follower_node/controller_node.hpp
  control/trajectory_follower_node/package.xml
Labels: type:documentation, component:control, type:ci, tag:run-build-and-test-differential

#7392 refactor(behavior_path_sampling_planner_module): add autoware prefix
  .github/CODEOWNERS
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.xml
  planning/autoware_behavior_path_sampling_planner_module/CMakeLists.txt
  planning/autoware_behavior_path_sampling_planner_module/README.md
  planning/autoware_behavior_path_sampling_planner_module/config/sampling_planner.param.yaml
  planning/autoware_behavior_path_sampling_planner_module/include/autoware_behavior_path_sampling_planner_module/manager.hpp
  planning/autoware_behavior_path_sampling_planner_module/include/autoware_behavior_path_sampling_planner_module/sampling_planner_module.hpp
  planning/autoware_behavior_path_sampling_planner_module/include/autoware_behavior_path_sampling_planner_module/sampling_planner_parameters.hpp
  planning/autoware_behavior_path_sampling_planner_module/include/autoware_behavior_path_sampling_planner_module/util.hpp
  planning/autoware_behavior_path_sampling_planner_module/package.xml
  planning/autoware_behavior_path_sampling_planner_module/plugins.xml
  planning/autoware_behavior_path_sampling_planner_module/src/manager.cpp
  planning/autoware_behavior_path_sampling_planner_module/src/sampling_planner_module.cpp
  planning/behavior_path_sampling_planner_module/plugins.xml
Labels: type:documentation, component:planning, type:ci, component:launch, tag:run-build-and-test-differential

#7424 chore(rtc_replayer): remove from universe
  planning/rtc_replayer/CMakeLists.txt
  planning/rtc_replayer/README.md
  planning/rtc_replayer/include/rtc_replayer/rtc_replayer_node.hpp
  planning/rtc_replayer/launch/rtc_replayer.launch.xml
  planning/rtc_replayer/package.xml
  planning/rtc_replayer/src/rtc_replayer_node.cpp
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#7394 feat(sampling_based_planner): use polling subscribers
  planning/sampling_based_planner/autoware_path_sampler/include/autoware_path_sampler/node.hpp
  planning/sampling_based_planner/autoware_path_sampler/src/node.cpp
Labels: component:planning, tag:run-build-and-test-differential

#7426 feat(autoware_control_validator): add polling subcribers
  control/autoware_control_validator/include/autoware_control_validator/control_validator.hpp
  control/autoware_control_validator/src/control_validator.cpp
Labels: component:control, tag:run-build-and-test-differential

#7425 refactor(no_stopping_area)!: add autoware prefix
  .github/CODEOWNERS
  planning/autoware_behavior_velocity_no_stopping_area_module/CMakeLists.txt
  planning/autoware_behavior_velocity_no_stopping_area_module/README.md
  planning/autoware_behavior_velocity_no_stopping_area_module/config/no_stopping_area.param.yaml
  planning/autoware_behavior_velocity_no_stopping_area_module/docs/no-stopping-area.svg
  planning/autoware_behavior_velocity_no_stopping_area_module/package.xml
  planning/autoware_behavior_velocity_no_stopping_area_module/plugins.xml
  planning/autoware_behavior_velocity_no_stopping_area_module/src/debug.cpp
  planning/autoware_behavior_velocity_no_stopping_area_module/src/manager.cpp
  planning/autoware_behavior_velocity_no_stopping_area_module/src/manager.hpp
  planning/autoware_behavior_velocity_no_stopping_area_module/src/scene_no_stopping_area.cpp
  planning/autoware_behavior_velocity_no_stopping_area_module/src/scene_no_stopping_area.hpp
Labels: type:documentation, component:planning, type:ci, tag:run-build-and-test-differential

#7407 refactor(crosswalk)!: add autoware_ prefix
  .github/CODEOWNERS
  planning/.pages
  planning/autoware_behavior_velocity_crosswalk_module/CMakeLists.txt
  planning/autoware_behavior_velocity_crosswalk_module/README.md
  planning/autoware_behavior_velocity_crosswalk_module/config/crosswalk.param.yaml
  planning/autoware_behavior_velocity_crosswalk_module/docs/crosswalk_attention_range.svg
  planning/autoware_behavior_velocity_crosswalk_module/docs/crosswalk_module.svg
  planning/autoware_behavior_velocity_crosswalk_module/docs/debug_markers.png
  planning/autoware_behavior_velocity_crosswalk_module/docs/example.png
  planning/autoware_behavior_velocity_crosswalk_module/docs/explicit_stop_line.svg
  planning/autoware_behavior_velocity_crosswalk_module/docs/far_object_threshold.drawio.svg
  planning/autoware_behavior_velocity_crosswalk_module/docs/stuck_vehicle_detection.svg
  planning/autoware_behavior_velocity_crosswalk_module/docs/time_to_collision_plot.png
  planning/autoware_behavior_velocity_crosswalk_module/docs/ttc-ttv.svg
  planning/autoware_behavior_velocity_crosswalk_module/docs/ttc_vs_ttv.drawio.svg
  planning/autoware_behavior_velocity_crosswalk_module/docs/virtual_collision_point.svg
  planning/autoware_behavior_velocity_crosswalk_module/docs/virtual_stop_line.svg
  planning/autoware_behavior_velocity_crosswalk_module/docs/with_occlusion.svg
  planning/autoware_behavior_velocity_crosswalk_module/docs/with_traffic_light.svg
  planning/autoware_behavior_velocity_crosswalk_module/docs/without_traffic_light.svg
  planning/autoware_behavior_velocity_crosswalk_module/include/autoware_behavior_velocity_crosswalk_module/util.hpp
  planning/autoware_behavior_velocity_crosswalk_module/package.xml
  planning/autoware_behavior_velocity_crosswalk_module/plugins.xml
  planning/autoware_behavior_velocity_crosswalk_module/scripts/time_to_collision_plotter.py
  planning/autoware_behavior_velocity_crosswalk_module/src/debug.cpp
  planning/autoware_behavior_velocity_crosswalk_module/src/manager.cpp
  planning/autoware_behavior_velocity_crosswalk_module/src/manager.hpp
  planning/autoware_behavior_velocity_crosswalk_module/src/occluded_crosswalk.cpp
  planning/autoware_behavior_velocity_crosswalk_module/src/occluded_crosswalk.hpp
  planning/autoware_behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/autoware_behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
  planning/autoware_behavior_velocity_crosswalk_module/src/util.cpp
  planning/autoware_behavior_velocity_planner/README.md
  planning/autoware_behavior_velocity_planner/package.xml
  planning/autoware_behavior_velocity_planner/test/src/test_node_interface.cpp
  planning/autoware_behavior_velocity_run_out_module/package.xml
  planning/autoware_behavior_velocity_run_out_module/src/scene.cpp
  planning/autoware_behavior_velocity_walkway_module/package.xml
  planning/autoware_behavior_velocity_walkway_module/src/scene_walkway.hpp
Labels: type:documentation, component:planning, type:ci, tag:run-build-and-test-differential

#7310 refactor(shift_decider): prefix package and namespace with autoware_
  control/autoware_shift_decider/CMakeLists.txt
  control/autoware_shift_decider/README.md
  control/autoware_shift_decider/config/shift_decider.param.yaml
  control/autoware_shift_decider/include/autoware_shift_decider/autoware_shift_decider.hpp
  control/autoware_shift_decider/launch/shift_decider.launch.xml
  control/autoware_shift_decider/package.xml
  control/autoware_shift_decider/schema/shift_decider.schema.json
  control/autoware_shift_decider/src/autoware_shift_decider.cpp
  control/shift_decider/CMakeLists.txt
  launch/tier4_control_launch/launch/control.launch.py
  launch/tier4_control_launch/package.xml
Labels: type:documentation, component:control, component:launch, tag:run-build-and-test-differential

#7397 feat(map based prediction): use polling subscriber
  perception/autoware_map_based_prediction/include/map_based_prediction/map_based_prediction_node.hpp
  perception/autoware_map_based_prediction/src/map_based_prediction_node.cpp
Labels: component:perception, tag:run-build-and-test-differential

#7344 refactor(trajectory_follower_node): trajectory follower node add autoware prefix
  .github/CODEOWNERS
  control/autoware_mpc_lateral_controller/README.md
  control/autoware_pid_longitudinal_controller/README.md
  control/autoware_trajectory_follower_base/README.md
  control/autoware_trajectory_follower_node/CMakeLists.txt
  control/autoware_trajectory_follower_node/README.md
  control/autoware_trajectory_follower_node/config/plot_juggler_trajectory_follower.xml
  control/autoware_trajectory_follower_node/config/simple_trajectory_follower.param.yaml
  control/autoware_trajectory_follower_node/design/media/Controller.drawio.svg
  control/autoware_trajectory_follower_node/design/simple_trajectory_follower-design.md
  control/autoware_trajectory_follower_node/include/autoware_trajectory_follower_node/controller_node.hpp
  control/autoware_trajectory_follower_node/include/autoware_trajectory_follower_node/simple_trajectory_follower.hpp
  control/autoware_trajectory_follower_node/include/autoware_trajectory_follower_node/visibility_control.hpp
  control/autoware_trajectory_follower_node/launch/simple_trajectory_follower.launch.xml
  control/autoware_trajectory_follower_node/package.xml
  control/autoware_trajectory_follower_node/param/lateral/mpc.param.yaml
  control/autoware_trajectory_follower_node/param/lateral/pure_pursuit.param.yaml
  control/autoware_trajectory_follower_node/param/longitudinal/pid.param.yaml
  control/autoware_trajectory_follower_node/param/trajectory_follower_node.param.yaml
  control/autoware_trajectory_follower_node/src/controller_node.cpp
  control/autoware_trajectory_follower_node/src/simple_trajectory_follower.cpp
  control/autoware_trajectory_follower_node/test/test_controller_mpc.param.yaml
  control/autoware_trajectory_follower_node/test/test_controller_node.cpp
  control/autoware_trajectory_follower_node/test/test_controller_pid.param.yaml
  control/autoware_trajectory_follower_node/test/test_controller_pure_pursuit.param.yaml
  control/autoware_trajectory_follower_node/test/test_nearest_search.param.yaml
  control/autoware_trajectory_follower_node/test/test_vehicle_info.param.yaml
  control/autoware_trajectory_follower_node/test/trajectory_follower_test_utils.hpp
  control/pure_pursuit/README.md
  launch/tier4_control_launch/launch/control.launch.py
  launch/tier4_control_launch/package.xml
Labels: type:documentation, component:control, type:ci, component:launch, tag:run-build-and-test-differential

#7431 fix(behavior_velocity_planner): fix test_depend
  planning/autoware_behavior_velocity_planner/package.xml
Labels: component:planning, tag:run-build-and-test-differential

#7328 feat(operation_mode_transition_manager): use polling subscriber
  control/operation_mode_transition_manager/src/node.cpp
  control/operation_mode_transition_manager/src/node.hpp
Labels: component:control, tag:run-build-and-test-differential

#7330 feat(pure_pursuit): add polling subscriber
  control/pure_pursuit/include/pure_pursuit/pure_pursuit_node.hpp
  control/pure_pursuit/src/pure_pursuit/pure_pursuit_node.cpp
Labels: component:control, tag:run-build-and-test-differential

#7345 feat(shift_decider): use polling subscriber
  control/autoware_shift_decider/include/autoware_shift_decider/autoware_shift_decider.hpp
  control/autoware_shift_decider/package.xml
  control/autoware_shift_decider/src/autoware_shift_decider.cpp
Labels: component:control, tag:run-build-and-test-differential

#7291 refactor(operation_mode_transition_manager): prefix package and namespace with autoware_
  control/autoware_operation_mode_transition_manager/CMakeLists.txt
  control/autoware_operation_mode_transition_manager/README.md
  control/autoware_operation_mode_transition_manager/config/operation_mode_transition_manager.param.yaml
  control/autoware_operation_mode_transition_manager/image/transition_detailed_structure.drawio.svg
  control/autoware_operation_mode_transition_manager/image/transition_rough_structure.drawio.svg
  control/autoware_operation_mode_transition_manager/launch/operation_mode_transition_manager.launch.xml
  control/autoware_operation_mode_transition_manager/msg/OperationModeTransitionManagerDebug.msg
  control/autoware_operation_mode_transition_manager/package.xml
  control/autoware_operation_mode_transition_manager/schema/operation_mode_transition_manager.schema.json
  control/autoware_operation_mode_transition_manager/src/compatibility.cpp
  control/autoware_operation_mode_transition_manager/src/compatibility.hpp
  control/autoware_operation_mode_transition_manager/src/data.cpp
  control/autoware_operation_mode_transition_manager/src/data.hpp
  control/autoware_operation_mode_transition_manager/src/node.cpp
  control/autoware_operation_mode_transition_manager/src/node.hpp
  control/autoware_operation_mode_transition_manager/src/state.cpp
  control/autoware_operation_mode_transition_manager/src/state.hpp
  control/autoware_operation_mode_transition_manager/src/util.hpp
  launch/tier4_control_launch/launch/control.launch.py
Labels: type:documentation, component:control, component:launch, tag:deploy-docs, tag:run-build-and-test-differential
