Repository autowarefoundation/autoware_universe, pull requests merged in 2024-04, with the labels that each got.

#6712 feat(default_ad_api): add dynamic_obstacle_stop velocity factor topic
  system/default_ad_api/src/planning.cpp
Labels: component:system, tag:run-build-and-test-differential

#6694 feat(default_ad_api): release adapi v1.2.0
  system/default_ad_api/src/interface.cpp
  system/default_ad_api/test/node/interface_version.py
Labels: component:system, tag:run-build-and-test-differential

#6703 feat(run_out_module): exclude obstacles on path
  planning/behavior_velocity_run_out_module/README.md
  planning/behavior_velocity_run_out_module/config/run_out.param.yaml
  planning/behavior_velocity_run_out_module/src/dynamic_obstacle.cpp
  planning/behavior_velocity_run_out_module/src/dynamic_obstacle.hpp
  planning/behavior_velocity_run_out_module/src/manager.cpp
  planning/behavior_velocity_run_out_module/src/scene.cpp
  planning/behavior_velocity_run_out_module/src/scene.hpp
  planning/behavior_velocity_run_out_module/src/utils.hpp
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#6529 feat(lane_change): additional debug markers
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/utils/debug_structs.hpp
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/utils/markers.hpp
  planning/behavior_path_lane_change_module/src/interface.cpp
  planning/behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_lane_change_module/src/utils/markers.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6699 feat(ndt_scan_matcher): fix first update map
  localization/ndt_scan_matcher/src/map_update_module.cpp
Labels: component:localization, tag:run-build-and-test-differential

#6692 feat(pose_initilizer): set intial pose directly
  launch/tier4_localization_launch/launch/localization.launch.xml
  launch/tier4_localization_launch/launch/pose_twist_estimator/pose_twist_estimator.launch.xml
  localization/pose_initializer/config/pose_initializer.param.yaml
  localization/pose_initializer/schema/pose_initializer.schema.json
  localization/pose_initializer/src/pose_initializer/ekf_localization_trigger_module.cpp
  localization/pose_initializer/src/pose_initializer/ekf_localization_trigger_module.hpp
  localization/pose_initializer/src/pose_initializer/ndt_localization_trigger_module.cpp
  localization/pose_initializer/src/pose_initializer/ndt_localization_trigger_module.hpp
  localization/pose_initializer/src/pose_initializer/pose_initializer_core.cpp
  localization/pose_initializer/src/pose_initializer/pose_initializer_core.hpp
Labels: component:localization, component:launch, tag:run-build-and-test-differential

#6544 docs(lane_change): update documentation
  planning/behavior_path_lane_change_module/README.md
  planning/behavior_path_lane_change_module/images/lane_change-lane_change_phases.png
  planning/behavior_path_lane_change_module/images/lane_change-lane_expansion-with.png
  planning/behavior_path_lane_change_module/images/lane_change-lane_expansion-without.png
Labels: type:documentation, component:planning, tag:deploy-docs, tag:run-build-and-test-differential

#6681 feat(perception_online_evaluator): unify debug markers instead of separating for each object
  evaluator/perception_online_evaluator/include/perception_online_evaluator/utils/marker_utils.hpp
  evaluator/perception_online_evaluator/src/perception_online_evaluator_node.cpp
  evaluator/perception_online_evaluator/src/utils/marker_utils.cpp
Labels: component:evaluator, tag:run-build-and-test-differential

#6682 feat(perception_online_evaluator): extract moving object for deviation check
  evaluator/perception_online_evaluator/param/perception_online_evaluator.defaults.yaml
  evaluator/perception_online_evaluator/src/metrics_calculator.cpp
  evaluator/perception_online_evaluator/test/test_perception_online_evaluator_node.cpp
Labels: component:evaluator, tag:run-build-and-test-differential

#6721 feat(start_planner): add validation check to prevent over cropped paths
  planning/behavior_path_start_planner_module/config/start_planner.param.yaml
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/data_structs.hpp
  planning/behavior_path_start_planner_module/src/manager.cpp
  planning/behavior_path_start_planner_module/src/shift_pull_out.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6704 feat(obstacle_avoidance_planner): sanitize reference points
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/utils/trajectory_utils.hpp
  planning/obstacle_avoidance_planner/src/mpt_optimizer.cpp
  planning/obstacle_avoidance_planner/src/utils/trajectory_utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6723 fix(pose_initializer): added "user_defined_initial_pose" to dummy localization
  launch/tier4_simulator_launch/launch/simulator.launch.xml
Labels: component:launch, tag:run-build-and-test-differential

#6717 feat(static_centerline_optimizer): static centerline optimizer with GUI
  planning/static_centerline_optimizer/include/static_centerline_optimizer/static_centerline_optimizer_node.hpp
  planning/static_centerline_optimizer/launch/static_centerline_optimizer.launch.xml
  planning/static_centerline_optimizer/scripts/centerline_updater_helper.py
  planning/static_centerline_optimizer/scripts/tmp/run.sh
  planning/static_centerline_optimizer/src/static_centerline_optimizer_node.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6706 feat(multi_object_tracker): debug timer to work with reduced replay rate recomputation
  perception/multi_object_tracker/CMakeLists.txt
  perception/multi_object_tracker/include/multi_object_tracker/debugger.hpp
  perception/multi_object_tracker/include/multi_object_tracker/multi_object_tracker_core.hpp
  perception/multi_object_tracker/src/debugger.cpp
  perception/multi_object_tracker/src/multi_object_tracker_core.cpp
Labels: component:perception, tag:run-build-and-test-differential

#6701 fix(object_recognition_utils): check polygon area on iou calculation
  common/object_recognition_utils/include/object_recognition_utils/matching.hpp
Labels: component:common, tag:run-build-and-test-differential

#6730 fix(predicted_path_checker): check if trajectory size
  control/predicted_path_checker/src/predicted_path_checker_node/predicted_path_checker_node.cpp
Labels: type:bug, component:control, tag:run-build-and-test-differential

#6727 fix(static_centerline_optimizer): fix latlon values of generated LL2 map
  planning/static_centerline_optimizer/include/static_centerline_optimizer/static_centerline_optimizer_node.hpp
  planning/static_centerline_optimizer/package.xml
  planning/static_centerline_optimizer/src/static_centerline_optimizer_node.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6561 fix(lane_change): check prepare phase in intersection
  planning/behavior_path_lane_change_module/README.md
  planning/behavior_path_lane_change_module/config/lane_change.param.yaml
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/scene.hpp
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/utils/data_structs.hpp
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/utils/utils.hpp
  planning/behavior_path_lane_change_module/src/manager.cpp
  planning/behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_lane_change_module/src/utils/utils.cpp
Labels: type:documentation, component:planning, tag:deploy-docs, tag:run-build-and-test-differential

#6722 fix(lane_change): fix terminal path not working in some case
  planning/behavior_path_lane_change_module/src/utils/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6729 chore(goal_planner): delete unnecessary comments
  planning/behavior_path_goal_planner_module/src/goal_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#5021 feat(global_parameter_loader): add gtest to global parameter loader
  build_depends.repos
  common/global_parameter_loader/CMakeLists.txt
  common/global_parameter_loader/package.xml
  common/global_parameter_loader/test/test_global_params_launch.cpp
Labels: component:common, tag:run-build-and-test-differential

#6664 feat(time_synchronizer_nodelet): set input_offsets zero if it was not defined
  sensing/pointcloud_preprocessor/src/time_synchronizer/time_synchronizer_nodelet.cpp
Labels: component:sensing, tag:run-build-and-test-differential

#6705 refactor(object_range_splitter): rework parameters
  perception/object_range_splitter/README.md
  perception/object_range_splitter/schema/object_range_splitter.schema.json
Labels: type:documentation, component:perception, tag:run-build-and-test-differential

#6702 feat(tier4_autoware_utils, obstacle_cruise): change to read topic by polling
  common/tier4_autoware_utils/include/tier4_autoware_utils/ros/polling_subscriber.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/node.hpp
  planning/obstacle_cruise_planner/src/node.cpp
Labels: component:planning, component:common, tag:run-build-and-test-differential

#6737 docs(perception_online_evaluator): add description about yaw rate evaluation
  evaluator/perception_online_evaluator/README.md
Labels: type:documentation, component:evaluator, tag:run-build-and-test-differential

#6733 fix(hazard_status_converter): check current operation mode
  system/hazard_status_converter/package.xml
  system/hazard_status_converter/src/converter.cpp
  system/hazard_status_converter/src/converter.hpp
Labels: component:system, tag:run-build-and-test-differential

#6734 fix(lane_change): limit prepare and lane changing length
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/utils/utils.hpp
  planning/behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_lane_change_module/src/utils/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6748 feat(perception_online_evaluator): ignore reversal of orientation from yaw_rate calculation
  evaluator/perception_online_evaluator/src/metrics_calculator.cpp
  evaluator/perception_online_evaluator/src/perception_online_evaluator_node.cpp
Labels: component:evaluator, tag:run-build-and-test-differential

#6684 feat(obstacle_pointcloud_based_validator_node): skip validation when obstacle pointcloud is empty
  perception/detected_object_validation/src/obstacle_pointcloud_based_validator.cpp
Labels: component:perception, tag:run-build-and-test-differential

#6726 feat(lane_change): check prepare phase in turn direction lanes
  planning/behavior_path_lane_change_module/README.md
  planning/behavior_path_lane_change_module/config/lane_change.param.yaml
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/utils/data_structs.hpp
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/utils/utils.hpp
  planning/behavior_path_lane_change_module/src/manager.cpp
  planning/behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_lane_change_module/src/utils/utils.cpp
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#6732 feat(run_out): maintain run out stop wall
  planning/behavior_velocity_run_out_module/config/run_out.param.yaml
  planning/behavior_velocity_run_out_module/src/manager.cpp
  planning/behavior_velocity_run_out_module/src/scene.cpp
  planning/behavior_velocity_run_out_module/src/scene.hpp
  planning/behavior_velocity_run_out_module/src/utils.hpp
Labels: component:planning, tag:run-build-and-test-differential

#6755 fix(route_handler): exception in route_handler caused by int overflow
  planning/route_handler/src/route_handler.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6757 fix(multi_object_tracker): debugger timers checks if the timer is initialized
  perception/multi_object_tracker/include/multi_object_tracker/debugger.hpp
  perception/multi_object_tracker/src/debugger.cpp
  perception/multi_object_tracker/src/multi_object_tracker_core.cpp
Labels: component:perception, tag:run-build-and-test-differential

#6576 docs(mission_planner): update readme for route selector
  planning/mission_planner/README.md
  planning/mission_planner/media/architecture.drawio.svg
  planning/mission_planner/media/rerouting_interface.svg
Labels: type:documentation, component:planning, tag:deploy-docs, tag:run-build-and-test-differential

#6752 fix(behavior_path_planner): fix behavior_path_planner node to check occupancy_grid before running
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6759 fix(avoidance): add update param to use rqt reconfigure
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/parameter_helper.hpp
  planning/behavior_path_avoidance_module/src/manager.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6698 feat(avoidance): limit acceleration during avoidance maneuver
  planning/behavior_path_avoidance_module/config/avoidance.param.yaml
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/data_structs.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/helper.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/parameter_helper.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/scene.hpp
  planning/behavior_path_avoidance_module/src/manager.cpp
  planning/behavior_path_avoidance_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6764 fix(tier4_autoware_utils): fix `-Werror=unused-parameter`
  common/tier4_autoware_utils/include/tier4_autoware_utils/ros/polling_subscriber.hpp
Labels: component:common, tag:run-build-and-test-differential

#6760 feat(lane_change): use external velocity limit in safety check
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/scene.hpp
  planning/behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/include/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/data_manager.hpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/path_safety_checker/safety_check.hpp
  planning/behavior_path_planner_common/src/utils/path_safety_checker/safety_check.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6775 fix(multi_object_tracker): mot timer bug fix
  perception/multi_object_tracker/src/debugger.cpp
  perception/multi_object_tracker/src/multi_object_tracker_core.cpp
Labels: component:perception, tag:run-build-and-test-differential

#6710 feat(multi_object_tracker): reduce publish delay
  perception/multi_object_tracker/include/multi_object_tracker/multi_object_tracker_core.hpp
  perception/multi_object_tracker/src/multi_object_tracker_core.cpp
Labels: component:perception, tag:run-build-and-test-differential

#6753 chore(ground_segmentation): add tuning param
  perception/ground_segmentation/config/ground_segmentation.param.yaml
  perception/ground_segmentation/config/scan_ground_filter.param.yaml
  perception/ground_segmentation/docs/scan-ground-filter.md
  perception/ground_segmentation/include/ground_segmentation/scan_ground_filter_nodelet.hpp
  perception/ground_segmentation/src/scan_ground_filter_nodelet.cpp
  perception/ground_segmentation/test/test_scan_ground_filter.cpp
Labels: type:documentation, component:perception, tag:run-build-and-test-differential

#6768 fix(avoidance): bug in the logic to judge whether it's a parked vehicle
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/utils.hpp
  planning/behavior_path_avoidance_module/src/scene.cpp
  planning/behavior_path_avoidance_module/src/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6765 fix(avoidance): fix margin param inconsistency
  planning/behavior_path_avoidance_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6562 fix(freespace_planning_algorithms): fix issue of astar search planner not reaching goal pose
  planning/freespace_planning_algorithms/src/astar_search.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6782 docs(dynamic_avoidance): fix sentence
  planning/behavior_path_dynamic_avoidance_module/README.md
Labels: type:documentation, component:planning, tag:deploy-docs, tag:run-build-and-test-differential

#6780 chore(multi_object_tracker): change node and glog implementation
  perception/multi_object_tracker/CMakeLists.txt
  perception/multi_object_tracker/src/multi_object_tracker_core.cpp
  perception/multi_object_tracker/src/multi_object_tracker_node.cpp
Labels: component:perception, tag:run-build-and-test-differential

#6750 feat(fault injection): change for diagnostic graph aggregator
  simulator/fault_injection/README.md
  simulator/fault_injection/config/fault_injection.param.yaml
  simulator/fault_injection/include/fault_injection/fault_injection_diag_updater.hpp
  simulator/fault_injection/include/fault_injection/fault_injection_node.hpp
  simulator/fault_injection/src/fault_injection_node/fault_injection_node.cpp
  simulator/fault_injection/test/config/test_event_diag.param.yaml
  simulator/fault_injection/test/test_fault_injection_node.test.py
Labels: type:documentation, component:simulation, tag:run-build-and-test-differential

#6783 refactor(static_centerline_optimizer): admit I/F for other sources of centerline
  planning/static_centerline_optimizer/config/static_centerline_optimizer.param.yaml
  planning/static_centerline_optimizer/include/static_centerline_optimizer/static_centerline_optimizer_node.hpp
  planning/static_centerline_optimizer/src/static_centerline_optimizer_node.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6742 feat(multi_object_tracker): process modulation
  perception/multi_object_tracker/CMakeLists.txt
  perception/multi_object_tracker/include/multi_object_tracker/debugger.hpp
  perception/multi_object_tracker/include/multi_object_tracker/multi_object_tracker_core.hpp
  perception/multi_object_tracker/include/multi_object_tracker/processor/processor.hpp
  perception/multi_object_tracker/package.xml
  perception/multi_object_tracker/src/multi_object_tracker_core.cpp
  perception/multi_object_tracker/src/processor/processor.cpp
Labels: component:perception, tag:run-build-and-test-differential

#6781 fix(avoidance): fix invalid road bound distance calculation
  planning/behavior_path_avoidance_module/src/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6786 refactor(avoidance): rebuild parameter structure
  planning/behavior_path_avoidance_by_lane_change_module/config/avoidance_by_lane_change.param.yaml
  planning/behavior_path_avoidance_by_lane_change_module/src/manager.cpp
  planning/behavior_path_avoidance_module/config/avoidance.param.yaml
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/data_structs.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/helper.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/parameter_helper.hpp
  planning/behavior_path_avoidance_module/src/manager.cpp
  planning/behavior_path_avoidance_module/src/scene.cpp
  planning/behavior_path_avoidance_module/src/shift_line_generator.cpp
  planning/behavior_path_avoidance_module/src/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6788 feat(static_centerline_optimizer): generate centerline from ego's trajectory in bag
  planning/route_handler/include/route_handler/route_handler.hpp
  planning/route_handler/src/route_handler.cpp
  planning/static_centerline_optimizer/CMakeLists.txt
  planning/static_centerline_optimizer/config/static_centerline_optimizer.param.yaml
  planning/static_centerline_optimizer/include/static_centerline_optimizer/centerline_source/bag_ego_trajectory_based_centerline.hpp
  planning/static_centerline_optimizer/include/static_centerline_optimizer/centerline_source/optimization_trajectory_based_centerline.hpp
  planning/static_centerline_optimizer/include/static_centerline_optimizer/static_centerline_optimizer_node.hpp
  planning/static_centerline_optimizer/include/static_centerline_optimizer/utils.hpp
  planning/static_centerline_optimizer/launch/static_centerline_optimizer.launch.xml
  planning/static_centerline_optimizer/scripts/tmp/bag_ego_trajectory_based_centerline.sh
  planning/static_centerline_optimizer/scripts/tmp/optimization_trajectory_based_centerline.sh
  planning/static_centerline_optimizer/scripts/tmp/run.sh
  planning/static_centerline_optimizer/src/centerline_source/bag_ego_trajectory_based_centerline.cpp
  planning/static_centerline_optimizer/src/centerline_source/optimization_trajectory_based_centerline.cpp
  planning/static_centerline_optimizer/src/static_centerline_optimizer_node.cpp
  planning/static_centerline_optimizer/src/utils.cpp
  planning/static_centerline_optimizer/test/data/bag_ego_trajectory.db3
  planning/static_centerline_optimizer/test/test_static_centerline_optimizer.test.py
Labels: component:planning, tag:run-build-and-test-differential

#6794 refactor(static_centerline_optimizer): clean up the code
  planning/static_centerline_optimizer/include/static_centerline_optimizer/centerline_source/bag_ego_trajectory_based_centerline.hpp
  planning/static_centerline_optimizer/include/static_centerline_optimizer/centerline_source/optimization_trajectory_based_centerline.hpp
  planning/static_centerline_optimizer/include/static_centerline_optimizer/static_centerline_optimizer_node.hpp
  planning/static_centerline_optimizer/include/static_centerline_optimizer/utils.hpp
  planning/static_centerline_optimizer/launch/static_centerline_optimizer.launch.xml
  planning/static_centerline_optimizer/src/centerline_source/bag_ego_trajectory_based_centerline.cpp
  planning/static_centerline_optimizer/src/centerline_source/optimization_trajectory_based_centerline.cpp
  planning/static_centerline_optimizer/src/static_centerline_optimizer_node.cpp
  planning/static_centerline_optimizer/src/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6789 docs(avoidance): use json schema
  planning/behavior_path_avoidance_module/README.md
  planning/behavior_path_avoidance_module/schema/avoidance.schema.json
Labels: type:documentation, component:planning, tag:deploy-docs, tag:run-build-and-test-differential

#6798 refactor(avoidance): unify redundant parameters
  planning/behavior_path_avoidance_module/config/avoidance.param.yaml
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/data_structs.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/helper.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/parameter_helper.hpp
  planning/behavior_path_avoidance_module/schema/avoidance.schema.json
  planning/behavior_path_avoidance_module/src/manager.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6801 fix(ground_segmentation launch): fix topic name conflict in additional_lidars option
  launch/tier4_perception_launch/launch/obstacle_segmentation/ground_segmentation/ground_segmentation.launch.py
Labels: component:launch, tag:run-build-and-test-differential

#6772 fix(map_based_prediction): use object_buffer_time_length_
  perception/map_based_prediction/src/map_based_prediction_node.cpp
Labels: component:perception, tag:run-build-and-test-differential

#6779 feat(start_planner): fix non-thread-safe access
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/pull_out_planner_base.hpp
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/start_planner_module.hpp
  planning/behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6800 revert(lane_change): disable terminal path
  planning/behavior_path_lane_change_module/src/interface.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6740 feat(goal_planner): fix non-thread-safe access in goal_planner
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/geometric_pull_over.hpp
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/goal_searcher.hpp
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/goal_searcher_base.hpp
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/shift_pull_over.hpp
  planning/behavior_path_goal_planner_module/src/geometric_pull_over.cpp
  planning/behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_goal_planner_module/src/goal_searcher.cpp
  planning/behavior_path_goal_planner_module/src/shift_pull_over.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6809 revert(goal_planner): fix non-thread-safe access in goal_planner (#6740)
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/geometric_pull_over.hpp
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/goal_searcher.hpp
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/goal_searcher_base.hpp
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/shift_pull_over.hpp
  planning/behavior_path_goal_planner_module/src/geometric_pull_over.cpp
  planning/behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_goal_planner_module/src/goal_searcher.cpp
  planning/behavior_path_goal_planner_module/src/shift_pull_over.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6689 fix(intersection): detect stuck vehicle by position on detect area
  planning/behavior_velocity_intersection_module/src/scene_intersection_stuck.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6807 fix(compare_map_segmentation): add intensity field
  perception/compare_map_segmentation/src/distance_based_compare_map_filter_nodelet.cpp
  perception/compare_map_segmentation/src/voxel_based_approximate_compare_map_filter_nodelet.cpp
  perception/compare_map_segmentation/src/voxel_based_compare_map_filter_nodelet.cpp
  perception/compare_map_segmentation/src/voxel_distance_based_compare_map_filter_nodelet.cpp
Labels: component:perception, tag:run-build-and-test-differential

#6813 fix(obstacle_avoidance_planner): fix mathjax visualization error
  planning/obstacle_avoidance_planner/docs/mpt.md
Labels: type:documentation, component:planning, tag:deploy-docs, tag:run-build-and-test-differential

#6793 feat(perception_online_evaluator): add predicted path variance
  evaluator/perception_online_evaluator/CMakeLists.txt
  evaluator/perception_online_evaluator/README.md
  evaluator/perception_online_evaluator/images/path_deviation.drawio.svg
  evaluator/perception_online_evaluator/images/path_deviation_each_object.drawio.svg
  evaluator/perception_online_evaluator/include/perception_online_evaluator/metrics/metric.hpp
  evaluator/perception_online_evaluator/include/perception_online_evaluator/metrics_calculator.hpp
  evaluator/perception_online_evaluator/src/metrics_calculator.cpp
  evaluator/perception_online_evaluator/src/utils/marker_utils.cpp
  evaluator/perception_online_evaluator/test/test_perception_online_evaluator_node.cpp
Labels: type:documentation, tag:deploy-docs, component:evaluator, tag:run-build-and-test-differential

#6821 fix(path_smoother): fix mathjax visualization error
  planning/path_smoother/docs/eb.md
Labels: type:documentation, component:planning, tag:deploy-docs, tag:run-build-and-test-differential

#6804 feat(static_centerline_generator): add script to show diff of lanelet2 maps
  planning/static_centerline_generator/scripts/show_lanelet2_map_diff.py
  planning/static_centerline_generator/src/static_centerline_generator_node.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6827 feat(perception_online_evaluator): better waitForDummyNode
  evaluator/perception_online_evaluator/test/test_perception_online_evaluator_node.cpp
Labels: component:evaluator, tag:run-build-and-test-differential

#6819 docs(perception_online_evaluator): update metrics explanation
  evaluator/perception_online_evaluator/README.md
  evaluator/perception_online_evaluator/images/lateral_deviation.drawio.svg
  evaluator/perception_online_evaluator/images/yaw_deviation.drawio.svg
  evaluator/perception_online_evaluator/images/yaw_rate.drawio.svg
Labels: type:documentation, tag:deploy-docs, component:evaluator, tag:run-build-and-test-differential, documentation

#6823 feat(logger_level_configure): make it possible to change level of container logger
  common/tier4_autoware_utils/CMakeLists.txt
  common/tier4_autoware_utils/include/tier4_autoware_utils/ros/logger_level_configure.hpp
  common/tier4_autoware_utils/package.xml
  common/tier4_autoware_utils/src/ros/logger_level_configure.cpp
  common/tier4_logging_level_configure_rviz_plugin/config/logger_config.yaml
  launch/tier4_control_launch/launch/control.launch.py
  launch/tier4_control_launch/package.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/motion_planning/motion_planning.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/scenario_planning.launch.xml
  launch/tier4_planning_launch/package.xml
  planning/mission_planner/launch/mission_planner.launch.xml
Labels: component:planning, component:launch, component:common, tag:run-build-and-test-differential

#6834 feat(crosswalk): restricts to enter the IGNORE status
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
Labels: component:planning, tag:run-build-and-test-differential

#6754 feat(obstacle_cruise): ignore right beside objects
  planning/obstacle_cruise_planner/config/obstacle_cruise_planner.param.yaml
  planning/obstacle_cruise_planner/src/node.cpp
  planning/obstacle_cruise_planner/src/polygon_utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6839 feat(behavior_path_planner_common): add safety target object located on shoulder lane
  planning/behavior_path_planner_common/src/utils/path_safety_checker/objects_filtering.cpp
  planning/behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6842 revert: "feat(logger_level_configure): make it possible to change level of container logger (#6823)"
  common/tier4_autoware_utils/CMakeLists.txt
  common/tier4_autoware_utils/include/tier4_autoware_utils/ros/logger_level_configure.hpp
  common/tier4_autoware_utils/package.xml
  common/tier4_autoware_utils/src/ros/logger_level_configure.cpp
  common/tier4_logging_level_configure_rviz_plugin/config/logger_config.yaml
  launch/tier4_control_launch/launch/control.launch.py
  launch/tier4_control_launch/package.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/motion_planning/motion_planning.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/scenario_planning.launch.xml
  launch/tier4_planning_launch/package.xml
  planning/mission_planner/launch/mission_planner.launch.xml
Labels: component:planning, component:launch, component:common, tag:run-build-and-test-differential

#6843 perf(pointcloud_preprocessor): prevent excessive log and speed up a bit
  sensing/pointcloud_preprocessor/src/distortion_corrector/distortion_corrector.cpp
Labels: component:sensing, tag:run-build-and-test-differential

#6751 chore: added sensing members to sensing related packages
  sensing/image_transport_decompressor/package.xml
  sensing/livox/livox_tag_filter/package.xml
  sensing/pointcloud_preprocessor/package.xml
Labels: component:sensing, tag:run-build-and-test-differential

#6784 refactor(lane_change): make return previous output a common function
  planning/behavior_path_avoidance_by_lane_change_module/src/scene.cpp
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/utils/base_class.hpp
  planning/behavior_path_lane_change_module/src/interface.cpp
  planning/behavior_path_lane_change_module/src/scene.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6553 feat(dynamic_avoidance): avoid pedestrians
  planning/behavior_path_dynamic_avoidance_module/README.md
  planning/behavior_path_dynamic_avoidance_module/config/dynamic_avoidance.param.yaml
  planning/behavior_path_dynamic_avoidance_module/image/2024-04-18_15-13-01.png
  planning/behavior_path_dynamic_avoidance_module/image/2024-04-18_15-32-03.png
  planning/behavior_path_dynamic_avoidance_module/include/behavior_path_dynamic_avoidance_module/scene.hpp
  planning/behavior_path_dynamic_avoidance_module/src/manager.cpp
  planning/behavior_path_dynamic_avoidance_module/src/scene.cpp
Labels: type:documentation, component:planning, tag:deploy-docs, tag:run-build-and-test-differential

#6857 feat(probabilistic_occupancy_grid_map): enable to create partial occupancy grid map without filter obstacle pointcloud
  perception/probabilistic_occupancy_grid_map/src/pointcloud_based_occupancy_grid_map/occupancy_grid_map_fixed.cpp
  perception/probabilistic_occupancy_grid_map/src/pointcloud_based_occupancy_grid_map/occupancy_grid_map_projective.cpp
Labels: component:perception, tag:run-build-and-test-differential

#6739 perf(behavior_path_planner): improve getReferencePath to support very long routes
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/interface.hpp
  planning/behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/docs/behavior_path_planner_manager_design.md
  planning/behavior_path_planner/image/manager/avoidance.svg
  planning/behavior_path_planner/image/manager/current_route_lanelet.svg
  planning/behavior_path_planner/image/manager/lane_change.svg
  planning/behavior_path_planner/image/manager/root_lanelet.svg
  planning/behavior_path_planner/include/behavior_path_planner/planner_manager.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/planner_manager.cpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/interface/scene_module_interface.hpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/utils.hpp
  planning/behavior_path_planner_common/src/utils/utils.cpp
  planning/behavior_path_sampling_planner_module/include/behavior_path_sampling_planner_module/sampling_planner_module.hpp
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#6720 docs(tier4_logging_level_configure_rviz_plugin): update document
  common/tier4_logging_level_configure_rviz_plugin/README.md
Labels: type:documentation, component:common, tag:deploy-docs, tag:run-build-and-test-differential

#6845 refactor(lane_change): refactor min and max lane change length
  planning/behavior_path_avoidance_by_lane_change_module/src/scene.cpp
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/utils/utils.hpp
  planning/behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_lane_change_module/src/utils/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6822 refactor(bpp, avoidance): remove unnecessary verbose flag
  common/tier4_logging_level_configure_rviz_plugin/config/logger_config.yaml
  planning/behavior_path_avoidance_module/config/avoidance.param.yaml
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/data_structs.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/parameter_helper.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/utils.hpp
  planning/behavior_path_avoidance_module/schema/avoidance.schema.json
  planning/behavior_path_avoidance_module/src/manager.cpp
  planning/behavior_path_avoidance_module/src/scene.cpp
  planning/behavior_path_avoidance_module/src/utils.cpp
  planning/behavior_path_planner/config/behavior_path_planner.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/planner_manager.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/planner_manager.cpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/parameters.hpp
Labels: component:planning, component:common, tag:run-build-and-test-differential

#6861 feat(perception_online_evaluator): add use_perception_online_evaluator option and disable it by default
  launch/tier4_perception_launch/launch/perception.launch.xml
  launch/tier4_simulator_launch/launch/simulator.launch.xml
Labels: component:launch, tag:run-build-and-test-differential

#6867 feat(tier4_screen_capture_panel): add new service to capture screen shot
  common/tier4_screen_capture_rviz_plugin/README.md
  common/tier4_screen_capture_rviz_plugin/package.xml
  common/tier4_screen_capture_rviz_plugin/src/screen_capture_panel.cpp
  common/tier4_screen_capture_rviz_plugin/src/screen_capture_panel.hpp
Labels: type:documentation, component:common, tag:run-build-and-test-differential

#6868 feat(bpp-interface): add empty path validation
  planning/behavior_path_planner_common/include/behavior_path_planner_common/interface/scene_module_interface.hpp
Labels: component:planning, tag:run-build-and-test-differential

#6858 refactor(bpp): simplify extended predicted object initialization
  planning/behavior_path_lane_change_module/src/utils/utils.cpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/path_safety_checker/path_safety_checker_parameters.hpp
  planning/behavior_path_planner_common/src/utils/path_safety_checker/objects_filtering.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6860 chore(roi_pointcloud_fusion): add maximum cluster size param
  perception/image_projection_based_fusion/config/roi_pointcloud_fusion.param.yaml
  perception/image_projection_based_fusion/docs/roi-pointcloud-fusion.md
  perception/image_projection_based_fusion/include/image_projection_based_fusion/roi_pointcloud_fusion/node.hpp
  perception/image_projection_based_fusion/include/image_projection_based_fusion/utils/utils.hpp
  perception/image_projection_based_fusion/schema/roi_pointcloud_fusion.schema.json
  perception/image_projection_based_fusion/src/roi_pointcloud_fusion/node.cpp
  perception/image_projection_based_fusion/src/utils/utils.cpp
Labels: type:documentation, component:perception, tag:run-build-and-test-differential

#6848 feat(perception_evaluator): counts objects within detection range
  evaluator/perception_online_evaluator/CMakeLists.txt
  evaluator/perception_online_evaluator/README.md
  evaluator/perception_online_evaluator/images/detection_counts.drawio.svg
  evaluator/perception_online_evaluator/images/yaw_rate.drawio.svg
  evaluator/perception_online_evaluator/include/perception_online_evaluator/metrics/detection_count.hpp
  evaluator/perception_online_evaluator/include/perception_online_evaluator/metrics/metric.hpp
  evaluator/perception_online_evaluator/include/perception_online_evaluator/metrics_calculator.hpp
  evaluator/perception_online_evaluator/include/perception_online_evaluator/parameters.hpp
  evaluator/perception_online_evaluator/include/perception_online_evaluator/perception_online_evaluator_node.hpp
  evaluator/perception_online_evaluator/param/perception_online_evaluator.defaults.yaml
  evaluator/perception_online_evaluator/src/metrics/detection_count.cpp
  evaluator/perception_online_evaluator/src/metrics_calculator.cpp
  evaluator/perception_online_evaluator/src/perception_online_evaluator_node.cpp
  evaluator/perception_online_evaluator/src/utils/objects_filtering.cpp
  evaluator/perception_online_evaluator/test/test_perception_online_evaluator_node.cpp
Labels: type:documentation, tag:deploy-docs, component:evaluator, tag:run-build-and-test-differential

#6725 perf(behavior_path_planner_common): simplify turn signal loop to support large maps
  planning/behavior_path_planner_common/src/turn_signal_decider.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6873 refactor(lane_change): fix logger
  common/tier4_logging_level_configure_rviz_plugin/config/logger_config.yaml
  planning/behavior_path_lane_change_module/src/utils/utils.cpp
Labels: component:planning, component:common, tag:run-build-and-test-differential

#6840 fix(image_projection_based_fusion): add intensity field for roi_pointcloud_fusion
  perception/image_projection_based_fusion/include/image_projection_based_fusion/utils/utils.hpp
  perception/image_projection_based_fusion/src/roi_pointcloud_fusion/node.cpp
  perception/image_projection_based_fusion/src/utils/utils.cpp
Labels: component:perception, tag:run-build-and-test-differential

#6872 revert: feat(global_parameter_loader): add gtest to global parameter loader
  build_depends.repos
  common/global_parameter_loader/CMakeLists.txt
  common/global_parameter_loader/package.xml
  common/global_parameter_loader/test/test_global_params_launch.cpp
Labels: component:common, tag:run-build-and-test-differential

#6398 feat(freespace_planning_algorithms): add Astar search by python
  planning/freespace_planning_algorithms/CMakeLists.txt
  planning/freespace_planning_algorithms/README.md
  planning/freespace_planning_algorithms/freespace_planning_algorithms/__init__.py
  planning/freespace_planning_algorithms/freespace_planning_algorithms/astar_search.py
  planning/freespace_planning_algorithms/package.xml
  planning/freespace_planning_algorithms/scripts/bind/astar_search_pybind.cpp
  planning/freespace_planning_algorithms/scripts/example/example.py
Labels: type:documentation, component:planning, tag:run-build-and-test-differential

#6879 fix(tier4_perception_launch): change traffic light recognition pipeline
  launch/tier4_perception_launch/launch/traffic_light_recognition/traffic_light.launch.xml
Labels: component:launch, tag:run-build-and-test-differential

#6891 feat: remove control mode command msg
  simulator/simple_planning_simulator/include/simple_planning_simulator/simple_planning_simulator_core.hpp
Labels: component:simulation, tag:run-build-and-test-differential

#6895 feat!: remove VehicleControlCommand, VehicleKinematicState, and vehicleOdometry messages
  control/mpc_lateral_controller/include/mpc_lateral_controller/mpc_lateral_controller.hpp
  control/pid_longitudinal_controller/include/pid_longitudinal_controller/pid_longitudinal_controller.hpp
  control/trajectory_follower_node/include/trajectory_follower_node/controller_node.hpp
  control/trajectory_follower_node/test/test_controller_node.cpp
  simulator/simple_planning_simulator/include/simple_planning_simulator/simple_planning_simulator_core.hpp
Labels: component:control, component:simulation, tag:run-build-and-test-differential

#6889 feat(system diags): rename diag of ndt scan matcher
  simulator/fault_injection/config/fault_injection.param.yaml
  system/system_diagnostic_monitor/config/autoware-psim.yaml
  system/system_diagnostic_monitor/config/localization.yaml
  system/system_error_monitor/config/diagnostic_aggregator/localization.param.yaml
  system/system_error_monitor/config/system_error_monitor.param.yaml
  system/system_error_monitor/config/system_error_monitor.planning_simulation.param.yaml
Labels: component:system, component:simulation, tag:run-build-and-test-differential

#6875 feat(autonomous_emergency_braking): filter and crop aeb pointcloud
  control/autonomous_emergency_braking/README.md
  control/autonomous_emergency_braking/config/autonomous_emergency_braking.param.yaml
  control/autonomous_emergency_braking/include/autonomous_emergency_braking/node.hpp
  control/autonomous_emergency_braking/src/node.cpp
Labels: type:documentation, component:control, tag:run-build-and-test-differential

#6888 fix(route_handler): add logger
  common/tier4_logging_level_configure_rviz_plugin/config/logger_config.yaml
Labels: component:common, tag:run-build-and-test-differential

#6743 refactor(sensing/livox_tag_filter): rework parameters
  sensing/livox/livox_tag_filter/CMakeLists.txt
  sensing/livox/livox_tag_filter/config/livox_tag_filter.param.yaml
  sensing/livox/livox_tag_filter/launch/livox_tag_filter.launch.xml
  sensing/livox/livox_tag_filter/schema/livox_tag_filter.schema.json
  sensing/livox/livox_tag_filter/src/livox_tag_filter_node/livox_tag_filter_node.cpp
Labels: component:sensing, tag:deploy-docs, tag:run-build-and-test-differential

#5076 feat(ndt_scan_matcher): remake diag
  localization/ndt_scan_matcher/CMakeLists.txt
  localization/ndt_scan_matcher/README.md
  localization/ndt_scan_matcher/include/ndt_scan_matcher/diagnostics_module.hpp
  localization/ndt_scan_matcher/include/ndt_scan_matcher/hyper_parameters.hpp
  localization/ndt_scan_matcher/include/ndt_scan_matcher/map_update_module.hpp
  localization/ndt_scan_matcher/include/ndt_scan_matcher/ndt_scan_matcher_core.hpp
  localization/ndt_scan_matcher/media/diagnostic_initial_pose_subscriber_status.png
  localization/ndt_scan_matcher/media/diagnostic_map_update_status.png
  localization/ndt_scan_matcher/media/diagnostic_ndt_align_service_status.png
  localization/ndt_scan_matcher/media/diagnostic_regularization_pose_subscriber_status.png
  localization/ndt_scan_matcher/media/diagnostic_scan_matching_status.png
  localization/ndt_scan_matcher/media/diagnostic_trigger_node_service_status.png
  localization/ndt_scan_matcher/src/diagnostics_module.cpp
  localization/ndt_scan_matcher/src/map_update_module.cpp
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
Labels: type:documentation, component:localization, tag:run-build-and-test-differential

#6901 fix(lidar_centerpoint): add param file for centerpoint_tiny
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/lidar_dnn_detector.launch.xml
  perception/lidar_centerpoint/config/centerpoint_tiny.param.yaml
  perception/lidar_centerpoint/launch/lidar_centerpoint.launch.xml
Labels: component:perception, component:launch, tag:run-build-and-test-differential

#6766 fix(avoidance): fix bug in the logic to check object moving distance
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/scene.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/utils.hpp
  planning/behavior_path_avoidance_module/src/scene.cpp
  planning/behavior_path_avoidance_module/src/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6871 fix(ekf_localizer): updated ekf gate_dist params
  localization/ekf_localizer/README.md
  localization/ekf_localizer/config/ekf_localizer.param.yaml
  localization/ekf_localizer/media/ekf_diagnostics.png
  localization/ekf_localizer/schema/sub/pose_measurement.sub_schema.json
  localization/ekf_localizer/schema/sub/twist_measurement.sub_schema.json
Labels: type:documentation, component:localization, tag:run-build-and-test-differential

#6903 chore(autoware_auto_perception_rviz_plugin): improve distant object visibility
  common/autoware_auto_perception_rviz_plugin/include/autoware_auto_perception_rviz_plugin/object_detection/object_polygon_detail.hpp
  common/autoware_auto_perception_rviz_plugin/include/autoware_auto_perception_rviz_plugin/object_detection/object_polygon_display_base.hpp
  common/autoware_auto_perception_rviz_plugin/src/object_detection/object_polygon_detail.cpp
Labels: component:common, tag:run-build-and-test-differential

#6731 fix(avoidance): fix logic to check if it is parked vehicle
  planning/behavior_path_avoidance_module/src/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6808 fix(avoidance): don't avoid merging/deviating vehicle whose overhang distance is larger than threshold
  planning/behavior_path_avoidance_module/config/avoidance.param.yaml
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/data_structs.hpp
  planning/behavior_path_avoidance_module/schema/avoidance.schema.json
  planning/behavior_path_avoidance_module/src/debug.cpp
  planning/behavior_path_avoidance_module/src/utils.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6906 fix(bpp): change wrong function parameter's type for safety check
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/path_safety_checker/safety_check.hpp
  planning/behavior_path_planner_common/src/utils/path_safety_checker/safety_check.cpp
Labels: component:planning, tag:run-build-and-test-differential

#6899 feat(autoware_overlay_rviz_plugin): get the current traffic light
  common/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/include/signal_display.hpp
  common/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/include/traffic_display.hpp
  common/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/src/signal_display.cpp
  common/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/src/traffic_display.cpp
Labels: component:common, tag:run-build-and-test-differential
