Repository autowarefoundation/autoware_universe, pull requests merged in 2025-01, with the labels that each got.

#9790 feat(behavior_velocity_modules): add node test
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/CMakeLists.txt
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/test/test_node_interface.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/CMakeLists.txt
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/test/test_node_interface.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/CMakeLists.txt
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/test/test_node_interface.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/test/test_node_interface.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/CMakeLists.txt
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/test/test_node_interface.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner/CMakeLists.txt
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner/include/autoware/behavior_velocity_planner/node.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner/src/node.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner/srv/LoadPlugin.srv
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner/srv/UnloadPlugin.srv
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/CMakeLists.txt
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/test/test_dynamic_obstacle.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/test/test_node_interface.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/test/test_path_utils.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/test/test_state_machine.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/test/test_utils.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/CMakeLists.txt
  planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/test/test_node_interface.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/CMakeLists.txt
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/test/test_node_interface.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/test/test_node_interface.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_walkway_module/CMakeLists.txt
  planning/behavior_velocity_planner/autoware_behavior_velocity_walkway_module/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_walkway_module/test/test_node_interface.cpp
Labels: component:planning, run:build-and-test-differential

#9725 fix(simple_planning_simulator): fix bugprone-branch-clone
  simulator/simple_planning_simulator/src/simple_planning_simulator/simple_planning_simulator_core.cpp
Labels: component:simulation, run:build-and-test-differential

#9712 fix(autoware_behavior_velocity_occlusion_spot_module): fix bugprone-macro-parentheses
  planning/behavior_velocity_planner/autoware_behavior_velocity_occlusion_spot_module/src/scene_occlusion_spot.cpp
Labels: component:planning, run:build-and-test-differential

#9645 fix(autoware_carla_interface): fix lidar topic name
  simulator/autoware_carla_interface/src/autoware_carla_interface/carla_ros.py
Labels: component:simulation, run:build-and-test-differential, simulator:carla

#9812 feat(motion_velocity_planner): introduce Object/Pointcloud structure in PlannerData
  planning/motion_velocity_planner/autoware_motion_velocity_dynamic_obstacle_stop_module/src/dynamic_obstacle_stop_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_dynamic_obstacle_stop_module/src/object_filtering.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_dynamic_obstacle_stop_module/src/object_filtering.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_dynamic_obstacle_stop_module/test/test_object_filtering.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_velocity_limiter_module/src/obstacle_velocity_limiter.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_velocity_limiter_module/src/obstacle_velocity_limiter.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_velocity_limiter_module/src/obstacle_velocity_limiter_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_velocity_limiter_module/src/obstacles.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_velocity_limiter_module/src/obstacles.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_velocity_limiter_module/test/test_collision_distance.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/filter_predicted_objects.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common/include/autoware/motion_velocity_planner_common/planner_data.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node/src/node.cpp
Labels: component:planning, run:build-and-test-differential

#9746 feat(behavior_velocity_planner): remove virtual traffic light dependency from behavior_velocity_planner and behavior_velocity_planner_common
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner/include/autoware/behavior_velocity_planner/node.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner/src/node.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner/src/test_utils.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/include/autoware/behavior_velocity_planner_common/planner_data.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/include/autoware/behavior_velocity_planner_common/scene_module_interface.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/src/manager.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/src/scene.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/test/test_node_interface.cpp
Labels: component:planning, run:build-and-test-differential

#9795 fix(autoware_lidar_centerpoint): fixed rounding errors that caused illegal memory access
  perception/autoware_lidar_centerpoint/lib/preprocess/preprocess_kernel.cu
Labels: component:perception, run:build-and-test-differential

#9796 fix(autoware_lidar_transfusion): fixed rounding errors that caused illegal memory access
  perception/autoware_lidar_transfusion/lib/preprocess/preprocess_kernel.cu
Labels: component:perception, run:build-and-test-differential

#9827 refactor(autoware_behavior_path_start_planner_module): remove unnecessary time_keeper parameter from pull-out planners
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/include/autoware/behavior_path_start_planner_module/freespace_pull_out.hpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/include/autoware/behavior_path_start_planner_module/geometric_pull_out.hpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/include/autoware/behavior_path_start_planner_module/pull_out_planner_base.hpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/include/autoware/behavior_path_start_planner_module/shift_pull_out.hpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/freespace_pull_out.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/start_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test/test_geometric_pull_out.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test/test_shift_pull_out.cpp
Labels: component:planning, run:build-and-test-differential

#9840 fix(planning): corrects typos
  planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/README.md
Labels: type:documentation, component:planning, run:build-and-test-differential

#9814 fix(planning): corrects typo in svg
  planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/docs/node_and_segment.drawio.svg
Labels: type:documentation, component:planning, run:build-and-test-differential

#9843 fix(autoware_motion_velocity_obstacle_velocity_limiter_module): remove cppcheck suppressions
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_velocity_limiter_module/benchmarks/collision_checker_benchmark.cpp
Labels: component:planning, run:build-and-test-differential

#9841 feat(autoware_test_utils): add visualization and yaml dumper for PathWithLaneId
  common/autoware_test_utils/config/sample_topic_snapshot.yaml
  common/autoware_test_utils/include/autoware_test_utils/mock_data_parser.hpp
  common/autoware_test_utils/include/autoware_test_utils/visualization.hpp
  common/autoware_test_utils/package.xml
  common/autoware_test_utils/src/mock_data_parser.cpp
  common/autoware_test_utils/src/topic_snapshot_saver.cpp
  common/autoware_test_utils/test_map/intersection/lanelet2_map.osm
Labels: run:build-and-test-differential

#9815 fix(tier4_camera_view_rviz_plugin): fix bugprone-parent-virtual-call
  visualization/tier4_camera_view_rviz_plugin/src/third_person_view_controller.cpp
Labels: run:build-and-test-differential

#9781 fix(system_monitor): fix bugprone-exception-escape
  system/system_monitor/reader/hdd_reader/hdd_reader.cpp
  system/system_monitor/reader/msr_reader/msr_reader.cpp
Labels: component:system, run:build-and-test-differential

#9787 feat(ekf_localizer): check whether the initialpose has been set
  localization/autoware_ekf_localizer/README.md
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/diagnostics.hpp
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/ekf_localizer.hpp
  localization/autoware_ekf_localizer/media/ekf_diagnostics.png
  localization/autoware_ekf_localizer/src/diagnostics.cpp
  localization/autoware_ekf_localizer/src/ekf_localizer.cpp
  localization/autoware_ekf_localizer/test/test_diagnostics.cpp
Labels: type:documentation, component:localization, run:build-and-test-differential

#9597 test(blind_spot): add unit tests for util functions
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/CMakeLists.txt
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/include/autoware/behavior_velocity_blind_spot_module/manager.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/include/autoware/behavior_velocity_blind_spot_module/parameter.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/include/autoware/behavior_velocity_blind_spot_module/scene.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/include/autoware/behavior_velocity_blind_spot_module/util.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/src/parameter.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/src/util.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/test/test_util.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/test_data/object_on_adj_lane.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/test_data/object_on_shoulder.yaml
Labels: component:planning, run:build-and-test-differential

#9720 feat(lidar_centerpoint, pointpainting): add diag publisher for max voxel size
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/pointpainting_fusion/node.hpp
  perception/autoware_image_projection_based_fusion/src/pointpainting_fusion/node.cpp
  perception/autoware_lidar_centerpoint/include/autoware/lidar_centerpoint/centerpoint_trt.hpp
  perception/autoware_lidar_centerpoint/include/autoware/lidar_centerpoint/node.hpp
  perception/autoware_lidar_centerpoint/lib/centerpoint_trt.cpp
  perception/autoware_lidar_centerpoint/src/node.cpp
Labels: component:perception, run:build-and-test-differential, tag:require-cuda-build-and-test

#9789 refactor(autoware_image_projection_based_fusion): organize 2d-detection related members
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/fusion_node.hpp
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/pointpainting_fusion/node.hpp
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/roi_cluster_fusion/node.hpp
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/roi_detected_object_fusion/node.hpp
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/roi_pointcloud_fusion/node.hpp
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/segmentation_pointcloud_fusion/node.hpp
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/utils/utils.hpp
  perception/autoware_image_projection_based_fusion/src/fusion_node.cpp
  perception/autoware_image_projection_based_fusion/src/pointpainting_fusion/node.cpp
  perception/autoware_image_projection_based_fusion/src/roi_cluster_fusion/node.cpp
  perception/autoware_image_projection_based_fusion/src/roi_detected_object_fusion/node.cpp
  perception/autoware_image_projection_based_fusion/src/roi_pointcloud_fusion/node.cpp
  perception/autoware_image_projection_based_fusion/src/segmentation_pointcloud_fusion/node.cpp
  perception/autoware_image_projection_based_fusion/src/utils/utils.cpp
Labels: component:perception, run:build-and-test-differential

#9863 docs(bpp): revise explanation for Failure modules
  planning/behavior_path_planner/autoware_behavior_path_planner/docs/behavior_path_planner_manager_design.md
  planning/behavior_path_planner/autoware_behavior_path_planner/package.xml
Labels: type:documentation, component:planning, run:deploy-docs, run:build-and-test-differential

#9864 feat(autoware_point_types): move autoware_point_types to autoware.core
  common/autoware_point_types/CHANGELOG.rst
  common/autoware_point_types/CMakeLists.txt
  common/autoware_point_types/README.md
  common/autoware_point_types/include/autoware/point_types/types.hpp
  common/autoware_point_types/package.xml
  common/autoware_point_types/test/test_point_types.cpp
Labels: component:common, run:build-and-test-differential

#9862 fix(image_projection_based_fusion): remove mutex
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/fusion_node.hpp
  perception/autoware_image_projection_based_fusion/src/fusion_node.cpp
Labels: component:perception, run:build-and-test-differential

#9879 feat: tier4_debug_msgs to autoware_internal_debug_msgs in files perc…
  perception/autoware_multi_object_tracker/src/debugger/debugger.cpp
Labels: component:perception, run:build-and-test-differential

#9875 feat: tier4_debug_msgs changed to autoware_internal_debug_msgs in fil…
  perception/autoware_map_based_prediction/include/map_based_prediction/map_based_prediction_node.hpp
  perception/autoware_map_based_prediction/package.xml
  perception/autoware_map_based_prediction/src/map_based_prediction_node.cpp
Labels: component:perception, run:build-and-test-differential

#9874 chore(autoware_string_stamped_overlay_rviz_plugin): fix version in package.xml
  visualization/autoware_overlay_rviz_plugin/autoware_string_stamped_overlay_rviz_plugin/package.xml
Labels: run:build-and-test-differential

#9881 chore(autoware_twist2accel): remove an unused dependency
  localization/autoware_twist2accel/package.xml
  localization/autoware_twist2accel/src/twist2accel.hpp
Labels: component:localization, run:build-and-test-differential

#9867 feat: tier4_debug_msgs to autoware_internal_debug_msgs in files localization/autoware_stop_filter
  localization/autoware_stop_filter/README.md
  localization/autoware_stop_filter/package.xml
  localization/autoware_stop_filter/src/stop_filter.cpp
  localization/autoware_stop_filter/src/stop_filter.hpp
Labels: type:documentation, component:localization, run:build-and-test-differential

#9866 feat: tier4_debug_msgs changed to autoware_internal_debug_msgs in files localization/autoware_pose2twist
  localization/autoware_pose2twist/README.md
  localization/autoware_pose2twist/package.xml
  localization/autoware_pose2twist/src/pose2twist_core.cpp
  localization/autoware_pose2twist/src/pose2twist_core.hpp
Labels: type:documentation, component:localization, run:build-and-test-differential

#9855 feat(static_centerline_generator)!: remove the package
  planning/autoware_static_centerline_generator/CHANGELOG.rst
  planning/autoware_static_centerline_generator/CMakeLists.txt
  planning/autoware_static_centerline_generator/README.md
  planning/autoware_static_centerline_generator/config/common.param.yaml
  planning/autoware_static_centerline_generator/config/nearest_search.param.yaml
  planning/autoware_static_centerline_generator/config/static_centerline_generator.param.yaml
  planning/autoware_static_centerline_generator/config/vehicle_info.param.yaml
  planning/autoware_static_centerline_generator/launch/run_planning_server.launch.xml
  planning/autoware_static_centerline_generator/launch/static_centerline_generator.launch.xml
  planning/autoware_static_centerline_generator/media/rviz.png
  planning/autoware_static_centerline_generator/media/unsafe_footprints.png
  planning/autoware_static_centerline_generator/msg/PointsWithLaneId.msg
  planning/autoware_static_centerline_generator/package.xml
  planning/autoware_static_centerline_generator/rviz/static_centerline_generator.rviz
  planning/autoware_static_centerline_generator/scripts/app.py
  planning/autoware_static_centerline_generator/scripts/centerline_updater_helper.py
  planning/autoware_static_centerline_generator/scripts/show_lanelet2_map_diff.py
  planning/autoware_static_centerline_generator/scripts/tmp/bag_ego_trajectory_based_centerline.sh
  planning/autoware_static_centerline_generator/scripts/tmp/optimization_trajectory_based_centerline.sh
  planning/autoware_static_centerline_generator/src/centerline_source/bag_ego_trajectory_based_centerline.cpp
  planning/autoware_static_centerline_generator/src/centerline_source/bag_ego_trajectory_based_centerline.hpp
  planning/autoware_static_centerline_generator/src/centerline_source/optimization_trajectory_based_centerline.cpp
  planning/autoware_static_centerline_generator/src/centerline_source/optimization_trajectory_based_centerline.hpp
  planning/autoware_static_centerline_generator/src/main.cpp
  planning/autoware_static_centerline_generator/src/static_centerline_generator_node.cpp
  planning/autoware_static_centerline_generator/src/static_centerline_generator_node.hpp
  planning/autoware_static_centerline_generator/src/type_alias.hpp
  planning/autoware_static_centerline_generator/src/utils.cpp
  planning/autoware_static_centerline_generator/src/utils.hpp
  planning/autoware_static_centerline_generator/srv/LoadMap.srv
  planning/autoware_static_centerline_generator/srv/PlanPath.srv
  planning/autoware_static_centerline_generator/srv/PlanRoute.srv
  planning/autoware_static_centerline_generator/test/data/bag_ego_trajectory_turn-left-right.db3
  planning/autoware_static_centerline_generator/test/data/bag_ego_trajectory_turn-right.db3
  planning/autoware_static_centerline_generator/test/data/lanelet2_map.osm
  planning/autoware_static_centerline_generator/test/test_static_centerline_generator.test.py
Labels: type:documentation, component:planning, run:build-and-test-differential

#9860 feat: tier4_debug_msgs changed to autoware_internal_debug_msgs in fies localization/autoware_ekf_localizer
  localization/autoware_ekf_localizer/README.md
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/ekf_localizer.hpp
  localization/autoware_ekf_localizer/package.xml
  localization/autoware_ekf_localizer/src/ekf_localizer.cpp
Labels: type:documentation, component:localization, run:build-and-test-differential

#9880 feat: tier4_debug_msgs changed to autoware_internal_debug_msgs in fil…
  perception/autoware_detection_by_tracker/src/debugger/debugger.hpp
Labels: component:perception, run:build-and-test-differential

#9858 feat: tier4_debug_msgs changed to autoware_internal_debug_msgs in fil…
  evaluator/autoware_control_evaluator/include/autoware/control_evaluator/control_evaluator_node.hpp
  evaluator/autoware_control_evaluator/src/control_evaluator_node.cpp
Labels: component:evaluator, run:build-and-test-differential

#9857 feat: tier4_debug_msgs changed to autoware_internal_debug_msgs in fil…
  control/control_performance_analysis/package.xml
  control/control_performance_analysis/scripts/control_performance_plot.py
Labels: component:control, run:build-and-test-differential

#9852 feat: tier4_debug_msgs changed to autoware_internal_msgs in files con…
  control/autoware_trajectory_follower_base/package.xml
Labels: component:control, run:build-and-test-differential

#9848 feat: tier4_debug_msgs changed to autoware_internal_debug_msgs in fil…
  control/autoware_pid_longitudinal_controller/include/autoware/pid_longitudinal_controller/pid_longitudinal_controller.hpp
  control/autoware_pid_longitudinal_controller/package.xml
  control/autoware_pid_longitudinal_controller/src/pid_longitudinal_controller.cpp
Labels: component:control, run:build-and-test-differential

#9846 feat: tier4_debug_msgs changed to autoware_internal_debug_msgs in fil…
  control/autoware_lane_departure_checker/include/autoware/lane_departure_checker/lane_departure_checker_node.hpp
  control/autoware_lane_departure_checker/package.xml
  control/autoware_lane_departure_checker/src/lane_departure_checker_node/lane_departure_checker_node.cpp
  control/autoware_mpc_lateral_controller/include/autoware/mpc_lateral_controller/mpc.hpp
  control/autoware_mpc_lateral_controller/include/autoware/mpc_lateral_controller/mpc_lateral_controller.hpp
  control/autoware_mpc_lateral_controller/package.xml
  control/autoware_mpc_lateral_controller/test/test_mpc.cpp
Labels: component:control, run:build-and-test-differential

#9835 refactor(lane_change): refactor transit failure function
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/interface.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/structs/data.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/structs/debug.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/markers.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/markers.cpp
Labels: component:planning, run:build-and-test-differential

#9791 refactor(lane_departure_checker): improve LaneDepartureChecker initialization and parameter handling
  control/autoware_lane_departure_checker/CMakeLists.txt
  control/autoware_lane_departure_checker/include/autoware/lane_departure_checker/lane_departure_checker.hpp
  control/autoware_lane_departure_checker/include/autoware/lane_departure_checker/lane_departure_checker_node.hpp
  control/autoware_lane_departure_checker/include/autoware/lane_departure_checker/parameters.hpp
  control/autoware_lane_departure_checker/src/lane_departure_checker_node/lane_departure_checker_node.cpp
  control/autoware_lane_departure_checker/src/lane_departure_checker_node/parameters.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/examples/plot_map_case1.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/examples/plot_map_case2.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/start_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test/test_geometric_pull_out.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test/test_shift_pull_out.cpp
Labels: component:planning, component:control, run:build-and-test-differential

#9886 fix(planning): text revisions
  planning/behavior_path_planner/autoware_behavior_path_planner/README.md
Labels: type:documentation, component:planning, run:build-and-test-differential

#9850 feat(goal_planner): update lateral_deviation_thresh from `0.3` to `0.1`
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
Labels: component:planning, run:build-and-test-differential

#9762 refactor(autoware_tensorrt_common): multi-TensorRT compatibility & tensorrt_common as unified lib for all perception components
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/pointpainting_fusion/pointpainting_trt.hpp
  perception/autoware_image_projection_based_fusion/src/pointpainting_fusion/node.cpp
  perception/autoware_image_projection_based_fusion/src/pointpainting_fusion/pointpainting_trt.cpp
  perception/autoware_lidar_apollo_instance_segmentation/src/detector.cpp
  perception/autoware_lidar_centerpoint/CMakeLists.txt
  perception/autoware_lidar_centerpoint/include/autoware/lidar_centerpoint/centerpoint_trt.hpp
  perception/autoware_lidar_centerpoint/include/autoware/lidar_centerpoint/network/network_trt.hpp
  perception/autoware_lidar_centerpoint/include/autoware/lidar_centerpoint/network/tensorrt_wrapper.hpp
  perception/autoware_lidar_centerpoint/lib/centerpoint_trt.cpp
  perception/autoware_lidar_centerpoint/lib/network/network_trt.cpp
  perception/autoware_lidar_centerpoint/lib/network/tensorrt_wrapper.cpp
  perception/autoware_lidar_centerpoint/src/node.cpp
  perception/autoware_lidar_transfusion/CMakeLists.txt
  perception/autoware_lidar_transfusion/include/autoware/lidar_transfusion/network/network_trt.hpp
  perception/autoware_lidar_transfusion/include/autoware/lidar_transfusion/transfusion_config.hpp
  perception/autoware_lidar_transfusion/include/autoware/lidar_transfusion/transfusion_trt.hpp
  perception/autoware_lidar_transfusion/lib/network/network_trt.cpp
  perception/autoware_lidar_transfusion/lib/transfusion_trt.cpp
  perception/autoware_lidar_transfusion/src/lidar_transfusion_node.cpp
  perception/autoware_shape_estimation/CMakeLists.txt
  perception/autoware_shape_estimation/include/autoware/shape_estimation/tensorrt_shape_estimator.hpp
  perception/autoware_shape_estimation/lib/tensorrt_shape_estimator.cpp
  perception/autoware_shape_estimation/src/shape_estimation_node.cpp
  perception/autoware_tensorrt_classifier/CMakeLists.txt
  perception/autoware_tensorrt_classifier/include/autoware/tensorrt_classifier/tensorrt_classifier.hpp
  perception/autoware_tensorrt_classifier/src/tensorrt_classifier.cpp
  perception/autoware_tensorrt_common/CMakeLists.txt
  perception/autoware_tensorrt_common/README.md
  perception/autoware_tensorrt_common/include/autoware/tensorrt_common/conv_profiler.hpp
  perception/autoware_tensorrt_common/include/autoware/tensorrt_common/logger.hpp
  perception/autoware_tensorrt_common/include/autoware/tensorrt_common/profiler.hpp
  perception/autoware_tensorrt_common/include/autoware/tensorrt_common/simple_profiler.hpp
  perception/autoware_tensorrt_common/include/autoware/tensorrt_common/tensorrt_common.hpp
  perception/autoware_tensorrt_common/include/autoware/tensorrt_common/tensorrt_conv_calib.hpp
  perception/autoware_tensorrt_common/include/autoware/tensorrt_common/utils.hpp
  perception/autoware_tensorrt_common/src/profiler.cpp
  perception/autoware_tensorrt_common/src/simple_profiler.cpp
  perception/autoware_tensorrt_common/src/tensorrt_common.cpp
  perception/autoware_tensorrt_yolox/CMakeLists.txt
  perception/autoware_tensorrt_yolox/include/autoware/tensorrt_yolox/tensorrt_yolox.hpp
  perception/autoware_tensorrt_yolox/src/tensorrt_yolox.cpp
  perception/autoware_tensorrt_yolox/src/tensorrt_yolox_node.cpp
  perception/autoware_tensorrt_yolox/src/yolox_single_image_inference_node.cpp
  perception/autoware_traffic_light_classifier/CMakeLists.txt
  perception/autoware_traffic_light_classifier/src/classifier/cnn_classifier.cpp
  perception/autoware_traffic_light_fine_detector/CMakeLists.txt
  perception/autoware_traffic_light_fine_detector/src/traffic_light_fine_detector_node.cpp
Labels: type:documentation, component:perception, run:build-and-test-differential, tag:require-cuda-build-and-test

#9696 fix(planning_evaluator): update lateral_trajectory_displacement to absolute value
  evaluator/autoware_planning_evaluator/src/metrics/deviation_metrics.cpp
Labels: component:evaluator, run:build-and-test-differential

#9845 docs(lane_change): explaining cancel and abort process
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/images/check_able_to_return.png
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/images/lane_change-abort.png
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/images/lane_change-abort_computation.png
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/images/lane_change-cancel.png
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/images/lane_change-cant_cancel_no_abort.png
Labels: type:documentation, component:planning, run:deploy-docs, run:build-and-test-differential

#9892 docs(lane_change): fix broken link
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/README.md
Labels: type:documentation, component:planning, run:deploy-docs, run:build-and-test-differential

#9837 feat: tier4_debug_msgs to autoware_internal_debug_msgs in file contr…
  control/autoware_control_validator/include/autoware/control_validator/control_validator.hpp
  control/autoware_control_validator/src/control_validator.cpp
Labels: component:control, run:build-and-test-differential

#9885 feat(lane_change): append candidate path index to metric debug table
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/structs/debug.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/markers.cpp
Labels: component:planning, run:build-and-test-differential

#9859 feat: tier4_debug_msgs changed to autoware_internal_debug_msgs in fil…
  evaluator/autoware_planning_evaluator/include/autoware/planning_evaluator/planning_evaluator_node.hpp
  evaluator/autoware_planning_evaluator/src/planning_evaluator_node.cpp
Labels: component:evaluator, run:build-and-test-differential

#9698 fix(autoware_rtc_interface): fix bugprone-branch-clone
  planning/autoware_rtc_interface/src/rtc_interface.cpp
Labels: component:planning, run:build-and-test-differential

#9767 feat(lane_change): using frenet planner to generate lane change path when ego near terminal
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/config/lane_change.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/images/terminal_branched_frenet.png
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/images/terminal_branched_path_shifter.png
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/images/terminal_curved_frenet.png
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/images/terminal_curved_path_shifter.png
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/images/terminal_straight_frenet.png
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/images/terminal_straight_path_shifter.png
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/structs/data.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/structs/debug.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/structs/parameters.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/structs/path.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/path.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/utils.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/package.xml
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/markers.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/path.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/utils.cpp
  planning/sampling_based_planner/autoware_frenet_planner/src/frenet_planner/frenet_planner.cpp
Labels: type:documentation, component:planning, run:deploy-docs, run:build-and-test-differential

#9506 fix(learning_based_vehicle_model): fix clang-diagnostic-delete-abstract-non-virtual-dtor
  simulator/learning_based_vehicle_model/src/interconnected_model.cpp
Labels: component:simulation, run:build-and-test-differential

#9013 feat(remaining_distance_time_calculator): skip calculation during parking
  planning/autoware_remaining_distance_time_calculator/README.md
  planning/autoware_remaining_distance_time_calculator/launch/remaining_distance_time_calculator.launch.xml
  planning/autoware_remaining_distance_time_calculator/src/remaining_distance_time_calculator_node.cpp
  planning/autoware_remaining_distance_time_calculator/src/remaining_distance_time_calculator_node.hpp
Labels: type:documentation, component:planning, run:build-and-test-differential

#9893 feat(autoware_object_merger): tier4_debug_msgs changed to autoware_internal_debug_msgs in fil…
  perception/autoware_object_merger/src/object_association_merger_node.cpp
Labels: component:perception, run:build-and-test-differential

#9887 feat(lane_change_module): add update paramter function for non defined paramters
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/manager.cpp
Labels: component:planning, run:build-and-test-differential

#9913 fix(behavior_velocity_planner_common): fix unregister process
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/include/autoware/behavior_velocity_planner_common/scene_module_interface.hpp
Labels: component:planning, run:build-and-test-differential

#7281 docs: added odometry input in README.md
  planning/autoware_mission_planner/README.md
Labels: type:documentation, component:planning, run:build-and-test-differential

#9156 fix(autoware_tensorrt_yolox): modify tensorrt_yolox_node name
  perception/autoware_tensorrt_yolox/launch/multiple_yolox.launch.xml
  perception/autoware_tensorrt_yolox/launch/yolox_s_plus_opt.launch.xml
Labels: component:perception, run:build-and-test-differential

#8944 test(external_velocity_limit_selector): add node test
  planning/autoware_external_velocity_limit_selector/CMakeLists.txt
  planning/autoware_external_velocity_limit_selector/package.xml
  planning/autoware_external_velocity_limit_selector/src/external_velocity_limit_selector_node.cpp
  planning/autoware_external_velocity_limit_selector/test/test_external_velocity_limit_selector_node_launch.py
Labels: component:planning, run:build-and-test-differential

#8826 feat(remaining_distance_time_calculator): integrate generate_parameter_library
  planning/autoware_remaining_distance_time_calculator/CMakeLists.txt
  planning/autoware_remaining_distance_time_calculator/package.xml
  planning/autoware_remaining_distance_time_calculator/param/remaining_distance_time_calculator_parameters.yaml
  planning/autoware_remaining_distance_time_calculator/src/remaining_distance_time_calculator_node.cpp
  planning/autoware_remaining_distance_time_calculator/src/remaining_distance_time_calculator_node.hpp
Labels: component:planning, run:build-and-test-differential

#9888 feat(autoware_localization_util): porting from universe to core, autoware_localization_util, remove from universe repo
  localization/autoware_localization_util/CHANGELOG.rst
  localization/autoware_localization_util/CMakeLists.txt
  localization/autoware_localization_util/README.md
  localization/autoware_localization_util/include/autoware/localization_util/covariance_ellipse.hpp
  localization/autoware_localization_util/include/autoware/localization_util/matrix_type.hpp
  localization/autoware_localization_util/include/autoware/localization_util/smart_pose_buffer.hpp
  localization/autoware_localization_util/include/autoware/localization_util/tree_structured_parzen_estimator.hpp
  localization/autoware_localization_util/include/autoware/localization_util/util_func.hpp
  localization/autoware_localization_util/package.xml
  localization/autoware_localization_util/src/covariance_ellipse.cpp
  localization/autoware_localization_util/src/smart_pose_buffer.cpp
  localization/autoware_localization_util/src/tree_structured_parzen_estimator.cpp
  localization/autoware_localization_util/src/util_func.cpp
  localization/autoware_localization_util/test/test_smart_pose_buffer.cpp
  localization/autoware_localization_util/test/test_tpe.cpp
Labels: type:documentation, component:localization, run:build-and-test-differential

#9919 fix(dummy_infrastructure): fix bugprone-reserved-identifier
  system/dummy_infrastructure/src/dummy_infrastructure_node/dummy_infrastructure_node.cpp
Labels: component:system, run:build-and-test-differential

#9824 feat(autoware_qp_interface): porting autoware_qp_interface package to autoware.core
  common/autoware_qp_interface/CHANGELOG.rst
  common/autoware_qp_interface/CMakeLists.txt
  common/autoware_qp_interface/design/qp_interface-design.md
  common/autoware_qp_interface/include/autoware/qp_interface/osqp_csc_matrix_conv.hpp
  common/autoware_qp_interface/include/autoware/qp_interface/osqp_interface.hpp
  common/autoware_qp_interface/include/autoware/qp_interface/proxqp_interface.hpp
  common/autoware_qp_interface/include/autoware/qp_interface/qp_interface.hpp
  common/autoware_qp_interface/package.xml
  common/autoware_qp_interface/src/osqp_csc_matrix_conv.cpp
  common/autoware_qp_interface/src/osqp_interface.cpp
  common/autoware_qp_interface/src/proxqp_interface.cpp
  common/autoware_qp_interface/src/qp_interface.cpp
  common/autoware_qp_interface/test/test_csc_matrix_conv.cpp
  common/autoware_qp_interface/test/test_osqp_interface.cpp
  common/autoware_qp_interface/test/test_proxqp_interface.cpp
Labels: type:documentation, component:common, run:build-and-test-differential

#9890 feat(autoware_osqp_interface): porting autoware_osqp_interface package to autoware.core
  common/autoware_osqp_interface/CHANGELOG.rst
  common/autoware_osqp_interface/CMakeLists.txt
  common/autoware_osqp_interface/design/osqp_interface-design.md
  common/autoware_osqp_interface/include/autoware/osqp_interface/csc_matrix_conv.hpp
  common/autoware_osqp_interface/include/autoware/osqp_interface/osqp_interface.hpp
  common/autoware_osqp_interface/include/autoware/osqp_interface/visibility_control.hpp
  common/autoware_osqp_interface/package.xml
  common/autoware_osqp_interface/src/csc_matrix_conv.cpp
  common/autoware_osqp_interface/src/osqp_interface.cpp
  common/autoware_osqp_interface/test/test_csc_matrix_conv.cpp
  common/autoware_osqp_interface/test/test_osqp_interface.cpp
Labels: type:documentation, component:common, run:build-and-test-differential

#9872 feat(autoware_kalman_filter): move autoware_kalman_filter to autowar.core
  common/autoware_kalman_filter/CHANGELOG.rst
  common/autoware_kalman_filter/CMakeLists.txt
  common/autoware_kalman_filter/README.md
  common/autoware_kalman_filter/include/autoware/kalman_filter/kalman_filter.hpp
  common/autoware_kalman_filter/include/autoware/kalman_filter/time_delay_kalman_filter.hpp
  common/autoware_kalman_filter/package.xml
  common/autoware_kalman_filter/src/kalman_filter.cpp
  common/autoware_kalman_filter/src/time_delay_kalman_filter.cpp
  common/autoware_kalman_filter/test/test_kalman_filter.cpp
  common/autoware_kalman_filter/test/test_time_delay_kalman_filter.cpp
Labels: component:common, run:build-and-test-differential

#9901 feat(autoware_costmap_generator): tier4_debug_msgs changed to autoware_internal-debug_msgs in autoware_costmap_generator
  planning/autoware_costmap_generator/include/autoware/costmap_generator/costmap_generator.hpp
  planning/autoware_costmap_generator/src/costmap_generator.cpp
Labels: component:planning, run:build-and-test-differential

#9915 feat(autoware_surround_obstacle_checker): tier4_debug_msgs changed to autoware_internal_debug_msgs in autoware_surround_obstacle_checker
  planning/autoware_surround_obstacle_checker/src/node.cpp
  planning/autoware_surround_obstacle_checker/src/node.hpp
Labels: component:planning, run:build-and-test-differential

#9903 feat(autoware_freespace_planner): tier4_debug_msgs changed to autoware_internal_debug_msgs in autoware_freespace_planner
  planning/autoware_freespace_planner/include/autoware/freespace_planner/freespace_planner_node.hpp
  planning/autoware_freespace_planner/src/autoware_freespace_planner/freespace_planner_node.cpp
Labels: component:planning, run:build-and-test-differential

#9914 feat(autoware_scenario_selector): tier4_debug_msgs changed to autoware_internal_debug_msgs in autoware_scenario_selector
  planning/autoware_scenario_selector/include/autoware/scenario_selector/node.hpp
  planning/autoware_scenario_selector/src/node.cpp
Labels: component:planning, run:build-and-test-differential

#9894 feat(autoware_occupancy_grid_map_outlier_filter): tier4_debug_msgs changed to autoware_internal_debug_msgs in fil…
  perception/autoware_occupancy_grid_map_outlier_filter/src/occupancy_grid_map_outlier_filter_node.cpp
Labels: component:perception, run:build-and-test-differential

#9876 feat(autoware_lidar_apollo_instance_segmentation): tier4_debug_msgs to autoware_internal_debug_msgs in files perce…
  perception/autoware_lidar_apollo_instance_segmentation/CMakeLists.txt
  perception/autoware_lidar_apollo_instance_segmentation/package.xml
  perception/autoware_lidar_apollo_instance_segmentation/src/node.cpp
Labels: component:perception, run:build-and-test-differential

#9878 feat(autoware_ground_segmentation): tier4_debug_msgs changed to autoware_internal_debug_msgs in fil…
  perception/autoware_ground_segmentation/src/scan_ground_filter/node.cpp
Labels: component:perception, run:build-and-test-differential

#9918 feat(autoware_image_diagnostics): tier4_debug_msgs changed to autoware_internal_debug_msgs in autoware_image_diagnostics
  sensing/autoware_image_diagnostics/README.md
  sensing/autoware_image_diagnostics/package.xml
  sensing/autoware_image_diagnostics/src/image_diagnostics_node.cpp
  sensing/autoware_image_diagnostics/src/image_diagnostics_node.hpp
Labels: type:documentation, component:sensing, run:build-and-test-differential

#9869 feat(autoware_compare_map_segmentation): tier4_debug_msgs changed to autoware_internal_debug_msgs in fil…
  perception/autoware_compare_map_segmentation/src/distance_based_compare_map_filter/node.cpp
  perception/autoware_compare_map_segmentation/src/voxel_based_approximate_compare_map_filter/node.cpp
  perception/autoware_compare_map_segmentation/src/voxel_based_compare_map_filter/node.cpp
  perception/autoware_compare_map_segmentation/src/voxel_distance_based_compare_map_filter/node.cpp
Labels: component:perception, run:build-and-test-differential

#9895 feat(autoware_probabilistic_occupancy_grid_map): tier4_debug_msgs changed to autoware_internal_debug_msgs in autoware_probabilistic_occupancy_grid_map
  perception/autoware_probabilistic_occupancy_grid_map/src/fusion/synchronized_grid_map_fusion_node.cpp
  perception/autoware_probabilistic_occupancy_grid_map/src/pointcloud_based_occupancy_grid_map/pointcloud_based_occupancy_grid_map_node.cpp
Labels: component:perception, run:build-and-test-differential

#9920 feat(autoware_pointcloud_preprocessor): tier4_debug_msgs changed to autoware_internal_debug_msgs in autoware_pointcloud_preprocessor
  sensing/autoware_pointcloud_preprocessor/docs/blockage-diag.md
  sensing/autoware_pointcloud_preprocessor/docs/dual-return-outlier-filter.md
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/blockage_diag/blockage_diag_node.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/concatenate_and_time_sync_nodelet.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/concatenate_pointclouds.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/outlier_filter/dual_return_outlier_filter_node.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/outlier_filter/ring_outlier_filter_node.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/time_synchronizer/time_synchronizer_node.hpp
  sensing/autoware_pointcloud_preprocessor/package.xml
  sensing/autoware_pointcloud_preprocessor/src/blockage_diag/blockage_diag_node.cpp
  sensing/autoware_pointcloud_preprocessor/src/concatenate_data/concatenate_and_time_sync_nodelet.cpp
  sensing/autoware_pointcloud_preprocessor/src/concatenate_data/concatenate_pointclouds.cpp
  sensing/autoware_pointcloud_preprocessor/src/crop_box_filter/crop_box_filter_node.cpp
  sensing/autoware_pointcloud_preprocessor/src/distortion_corrector/distortion_corrector_node.cpp
  sensing/autoware_pointcloud_preprocessor/src/downsample_filter/pickup_based_voxel_grid_downsample_filter_node.cpp
  sensing/autoware_pointcloud_preprocessor/src/outlier_filter/dual_return_outlier_filter_node.cpp
  sensing/autoware_pointcloud_preprocessor/src/outlier_filter/ring_outlier_filter_node.cpp
  sensing/autoware_pointcloud_preprocessor/src/time_synchronizer/time_synchronizer_node.cpp
Labels: type:documentation, component:sensing, run:build-and-test-differential

#9925 chore(autoware_test_utils): move rviz config to autoware_launch
  common/autoware_test_utils/CMakeLists.txt
  common/autoware_test_utils/launch/psim_intersection.launch.xml
  common/autoware_test_utils/launch/psim_road_shoulder.launch.xml
  common/autoware_test_utils/rviz/psim_test_map.rviz
Labels: component:common, run:build-and-test-differential

#9820 chore(autoware_traffic_light_occlusion_predictor): modify docs
  perception/autoware_traffic_light_occlusion_predictor/README.md
Labels: type:documentation, component:perception, run:build-and-test-differential

#9821 chore(autoware_traffic_light_multi_camera_fusion): modify docs
  perception/autoware_traffic_light_multi_camera_fusion/README.md
Labels: type:documentation, component:perception, run:build-and-test-differential

#9822 chore(autoware_crosswalk_traffic_light_estimator): fix docs
  perception/autoware_crosswalk_traffic_light_estimator/README.md
  perception/autoware_crosswalk_traffic_light_estimator/images/flashing_state.png
  perception/autoware_crosswalk_traffic_light_estimator/images/traffic_light.png
Labels: type:documentation, component:perception, run:build-and-test-differential

#9929 fix(mrm_handler): simplify hazard command choice
  system/mrm_handler/src/mrm_handler/mrm_handler_core.cpp
Labels: component:system, run:build-and-test-differential

#9932 fix(goal_planner): fix geometric pull over
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/pull_over_planner/geometric_pull_over.cpp
Labels: component:planning, run:build-and-test-differential

#9908 feat(lane_change): ensure path generation doesn't exceed time limit
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/config/lane_change.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/structs/parameters.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
Labels: type:documentation, component:planning, run:build-and-test-differential

#9934 chore(simple_planning_simulator): add maintainer
  .github/CODEOWNERS
  simulator/simple_planning_simulator/package.xml
Labels: type:ci, component:simulation, run:build-and-test-differential

#9897 feat(autoware_shape_estimation): tier4_debug_msgs chnaged to autoware_internal_debug_msgs in autoware_shape_estimation
  perception/autoware_shape_estimation/src/shape_estimation_node.cpp
Labels: component:perception, run:build-and-test-differential

#9935 fix: remove unnecessary parameters
  control/autoware_pid_longitudinal_controller/README.md
  control/autoware_trajectory_follower_node/param/lateral/mpc.param.yaml
  control/autoware_trajectory_follower_node/param/longitudinal/pid.param.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/config/crosswalk.param.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/README.md
Labels: type:documentation, component:planning, component:control, run:build-and-test-differential

#9937 test(start_planner): disable GenerateValidFreespacePullOutPath test
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test/test_freespace_pull_out.cpp
Labels: component:planning, run:build-and-test-differential

#9940 feat(motion_utils): add detail and pass type to VirtualWall
  common/autoware_motion_utils/include/autoware/motion_utils/marker/marker_helper.hpp
  common/autoware_motion_utils/include/autoware/motion_utils/marker/virtual_wall_marker_creator.hpp
  common/autoware_motion_utils/src/marker/marker_helper.cpp
  common/autoware_motion_utils/src/marker/virtual_wall_marker_creator.cpp
Labels: component:common, run:build-and-test-differential

#9944 fix(start_planner, goal_planner): refactor lane departure checker initialization
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/pull_over_planner/geometric_pull_over.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/pull_over_planner/shift_pull_over.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/geometric_pull_out.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/shift_pull_out.cpp
Labels: component:planning, run:build-and-test-differential

#9943 feat(behavior_velocity_planner)!: remove velocity_factor completely
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_drivable_lane_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/src/scene_no_stopping_area.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_occlusion_spot_module/src/scene_occlusion_spot.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/include/autoware/behavior_velocity_planner_common/scene_module_interface.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/src/scene.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/src/scene.hpp
Labels: component:planning, run:build-and-test-differential

#9939 fix(obstacle_stop_planner): migrate planning factor
  planning/autoware_obstacle_stop_planner/src/debug_marker.cpp
  planning/autoware_obstacle_stop_planner/src/debug_marker.hpp
  system/autoware_default_adapi/src/planning.cpp
Labels: component:planning, component:system, run:build-and-test-differential, run:clang-tidy-pr-review

#9950 fix(map_based_prediction): fix unintentional accumulation of lanelets
  perception/autoware_map_based_prediction/src/predictor_vru.cpp
Labels: component:perception, run:build-and-test-differential

#9817 chore(autoware_traffic_light_map_based_detector): modify docs
  perception/autoware_traffic_light_map_based_detector/README.md
Labels: type:documentation, component:perception, run:build-and-test-differential

#9818 chore(autoware_traffic_light_fine_detector): modify docs and related params
  perception/autoware_traffic_light_fine_detector/README.md
  perception/autoware_traffic_light_fine_detector/config/traffic_light_fine_detector.param.yaml
  perception/autoware_traffic_light_fine_detector/src/traffic_light_fine_detector_node.cpp
Labels: type:documentation, component:perception, run:build-and-test-differential

#9853 feat: tier4_debug_msgs changed to autoware_internal_debug_msgs in fil…
  control/autoware_trajectory_follower_node/README.md
  control/autoware_trajectory_follower_node/include/autoware/trajectory_follower_node/controller_node.hpp
Labels: type:documentation, component:control, run:build-and-test-differential

#9851 feat: tier4_debug_msgs changed to autoware_internal_debug_msgs in fil…
  control/autoware_smart_mpc_trajectory_follower/autoware_smart_mpc_trajectory_follower/training_and_data_check/rosbag2.bash
  control/autoware_smart_mpc_trajectory_follower/scripts/pympc_trajectory_follower.py
Labels: component:control, run:build-and-test-differential

#9871 feat(autoware_detected_object_validation): tier4_debug_msgs changed to autoware_internal_debug_msgs in fil…
  perception/autoware_detected_object_validation/src/lanelet_filter/lanelet_filter.cpp
  perception/autoware_detected_object_validation/src/obstacle_pointcloud/obstacle_pointcloud_validator.cpp
Labels: component:perception, run:build-and-test-differential

#9911 feat(autoware_planning_validator)!: tier4_debug_msgs changed to autoware_internal_debug_msgs in autoware_planning_validator
  planning/autoware_planning_validator/include/autoware/planning_validator/planning_validator.hpp
Labels: component:planning, run:build-and-test-differential

#9904 feat: tier4_debug_msgs changed to autoware_internal_debug_msgs in fil…
  planning/autoware_mission_planner/src/mission_planner/mission_planner.cpp
  planning/autoware_mission_planner/src/mission_planner/mission_planner.hpp
  planning/autoware_mission_planner/src/mission_planner/route_selector.cpp
  planning/autoware_mission_planner/src/mission_planner/route_selector.hpp
Labels: component:planning, run:build-and-test-differential

#9951 fix(imu_corrector): remove non-periodic publish to /diagnostics topic
  sensing/autoware_imu_corrector/src/gyro_bias_estimator.cpp
Labels: component:sensing, run:build-and-test-differential

#9921 feat(autoware_processing_time_checker)!: tier4_debug_msgs changed to autoware_internal_debug_msgs in autoware_processing_time_checker
  system/autoware_processing_time_checker/README.md
  system/autoware_processing_time_checker/package.xml
  system/autoware_processing_time_checker/src/processing_time_checker.hpp
Labels: type:documentation, component:system, run:build-and-test-differential

#9926 feat(autoware_steer_offset_estimator)!: tier4_debug_msgs changed to autoware_internal_debug_msgs in autoware_steer_offset_estimator
  vehicle/autoware_steer_offset_estimator/Readme.md
  vehicle/autoware_steer_offset_estimator/include/autoware_steer_offset_estimator/steer_offset_estimator_node.hpp
  vehicle/autoware_steer_offset_estimator/package.xml
Labels: type:documentation, component:vehicle, run:build-and-test-differential

#9923 feat(autoware_accel_brake_map_calibrator)!: tier4_debug_msgs changed to autoware_internal_debug_msgs in autoware_accel_brake_map_calibrator
  vehicle/autoware_accel_brake_map_calibrator/include/autoware_accel_brake_map_calibrator/accel_brake_map_calibrator_node.hpp
  vehicle/autoware_accel_brake_map_calibrator/package.xml
  vehicle/autoware_accel_brake_map_calibrator/scripts/accel_tester.py
  vehicle/autoware_accel_brake_map_calibrator/scripts/actuation_cmd_publisher.py
  vehicle/autoware_accel_brake_map_calibrator/scripts/brake_tester.py
Labels: component:vehicle, run:build-and-test-differential

#9924 feat(autoware_raw_vehicle_cmd_converter)!: tier4_debug_msgs changed to autoware_internal_debug_msgs in autoware_raw_vehicle_cmd_converter
  vehicle/autoware_raw_vehicle_cmd_converter/include/autoware_raw_vehicle_cmd_converter/node.hpp
  vehicle/autoware_raw_vehicle_cmd_converter/package.xml
  vehicle/autoware_raw_vehicle_cmd_converter/src/node.cpp
Labels: component:vehicle, run:build-and-test-differential

#9896 feat(autoware_raindrop_cluster_filter)!: tier4_debug_msgs changed to autoware_internal_debug_msgs in autoware_raindrop_cluster_filter
  perception/autoware_raindrop_cluster_filter/src/low_intensity_cluster_filter_node.cpp
Labels: component:perception, run:build-and-test-differential

#9953 feat(autoware_planning_test_manager): remove dependency of VirtualTrafficLightState and ExpandStopRange
  planning/autoware_obstacle_stop_planner/test/test_autoware_obstacle_stop_planner_node_interface.cpp
  planning/autoware_planning_test_manager/include/autoware_planning_test_manager/autoware_planning_test_manager.hpp
  planning/autoware_planning_test_manager/package.xml
  planning/autoware_planning_test_manager/src/autoware_planning_test_manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/test/test_node_interface.cpp
Labels: component:planning, run:build-and-test-differential

#9967 feat(autoware_planning_test_manager): remove dependency of tier4_planning_msgs::msg::LateralOffset
  common/autoware_test_utils/package.xml
  planning/autoware_planning_test_manager/include/autoware_planning_test_manager/autoware_planning_test_manager.hpp
  planning/autoware_planning_test_manager/package.xml
  planning/autoware_planning_test_manager/src/autoware_planning_test_manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner/src/test_utils.cpp
Labels: component:planning, component:common, run:build-and-test-differential

#9954 feat: apply `autoware_` prefix for `evaluator/localization_evaluator`
  evaluator/autoware_localization_evaluator/CHANGELOG.rst
  evaluator/autoware_localization_evaluator/CMakeLists.txt
  evaluator/autoware_localization_evaluator/README.md
  evaluator/autoware_localization_evaluator/config/localization_evaluator.param.yaml
  evaluator/autoware_localization_evaluator/include/autoware/localization_evaluator/localization_evaluator_node.hpp
  evaluator/autoware_localization_evaluator/include/autoware/localization_evaluator/metrics/localization_metrics.hpp
  evaluator/autoware_localization_evaluator/include/autoware/localization_evaluator/metrics/metric.hpp
  evaluator/autoware_localization_evaluator/include/autoware/localization_evaluator/metrics_calculator.hpp
  evaluator/autoware_localization_evaluator/include/autoware/localization_evaluator/parameters.hpp
  evaluator/autoware_localization_evaluator/launch/localization_evaluator.launch.xml
  evaluator/autoware_localization_evaluator/package.xml
  evaluator/autoware_localization_evaluator/schema/localization_evaluator.schema.json
  evaluator/autoware_localization_evaluator/src/localization_evaluator_node.cpp
  evaluator/autoware_localization_evaluator/src/metrics/localization_metrics.cpp
  evaluator/autoware_localization_evaluator/src/metrics_calculator.cpp
  evaluator/autoware_localization_evaluator/test/test_localization_evaluator_node.cpp
Labels: type:documentation, component:evaluator, run:build-and-test-differential

#9946 feat(dummy_diag_publisher): update param setting
  system/dummy_diag_publisher/include/dummy_diag_publisher/dummy_diag_publisher_core.hpp
  system/dummy_diag_publisher/package.xml
  system/dummy_diag_publisher/src/dummy_diag_publisher_core.cpp
Labels: component:system, run:build-and-test-differential, tag:require-cuda-build-and-test, run:clang-tidy-pr-review

#8943 fix(autoware_lidar_marker_localization): fix segmentation fault
  localization/autoware_landmark_based_localizer/autoware_lidar_marker_localizer/src/lidar_marker_localizer.cpp
Labels: component:localization, run:build-and-test-differential

#9978 feat(autoware_ekf_localizer)!: porting from universe to core
  codecov.yaml
  localization/autoware_ekf_localizer/CHANGELOG.rst
  localization/autoware_ekf_localizer/CMakeLists.txt
  localization/autoware_ekf_localizer/README.md
  localization/autoware_ekf_localizer/config/ekf_localizer.param.yaml
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/aged_object_queue.hpp
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/covariance.hpp
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/diagnostics.hpp
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/ekf_localizer.hpp
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/ekf_module.hpp
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/hyper_parameters.hpp
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/mahalanobis.hpp
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/matrix_types.hpp
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/measurement.hpp
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/numeric.hpp
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/state_index.hpp
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/state_transition.hpp
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/string.hpp
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/warning.hpp
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/warning_message.hpp
  localization/autoware_ekf_localizer/launch/ekf_localizer.launch.xml
  localization/autoware_ekf_localizer/media/calculation_delta_from_pitch.png
  localization/autoware_ekf_localizer/media/delay_model_eq.png
  localization/autoware_ekf_localizer/media/ekf_autoware_res.png
  localization/autoware_ekf_localizer/media/ekf_delay_comp.png
  localization/autoware_ekf_localizer/media/ekf_diagnostics.png
  localization/autoware_ekf_localizer/media/ekf_diagnostics_callback_pose.png
  localization/autoware_ekf_localizer/media/ekf_diagnostics_callback_twist.png
  localization/autoware_ekf_localizer/media/ekf_dynamics.png
  localization/autoware_ekf_localizer/media/ekf_flowchart.png
  localization/autoware_ekf_localizer/media/ekf_smooth_update.png
  localization/autoware_ekf_localizer/package.xml
  localization/autoware_ekf_localizer/schema/ekf_localizer.schema.json
  localization/autoware_ekf_localizer/schema/sub/diagnostics.sub_schema.json
  localization/autoware_ekf_localizer/schema/sub/misc.sub_schema.json
  localization/autoware_ekf_localizer/schema/sub/node.sub_schema.json
  localization/autoware_ekf_localizer/schema/sub/pose_measurement.sub_schema.json
  localization/autoware_ekf_localizer/schema/sub/process_noise.sub_schema.json
  localization/autoware_ekf_localizer/schema/sub/simple_1d_filter_parameters.sub_schema.json
  localization/autoware_ekf_localizer/schema/sub/twist_measurement.sub_schema.json
  localization/autoware_ekf_localizer/src/covariance.cpp
  localization/autoware_ekf_localizer/src/diagnostics.cpp
  localization/autoware_ekf_localizer/src/ekf_localizer.cpp
  localization/autoware_ekf_localizer/src/ekf_module.cpp
  localization/autoware_ekf_localizer/src/mahalanobis.cpp
  localization/autoware_ekf_localizer/src/measurement.cpp
  localization/autoware_ekf_localizer/src/state_transition.cpp
  localization/autoware_ekf_localizer/src/warning_message.cpp
  localization/autoware_ekf_localizer/test/test_aged_object_queue.cpp
  localization/autoware_ekf_localizer/test/test_covariance.cpp
  localization/autoware_ekf_localizer/test/test_diagnostics.cpp
  localization/autoware_ekf_localizer/test/test_ekf_localizer_launch.py
  localization/autoware_ekf_localizer/test/test_ekf_localizer_mahalanobis.py
  localization/autoware_ekf_localizer/test/test_mahalanobis.cpp
  localization/autoware_ekf_localizer/test/test_measurement.cpp
  localization/autoware_ekf_localizer/test/test_numeric.cpp
  localization/autoware_ekf_localizer/test/test_state_transition.cpp
  localization/autoware_ekf_localizer/test/test_string.cpp
  localization/autoware_ekf_localizer/test/test_warning_message.cpp
  localization/autoware_pose_covariance_modifier/README.md
Labels: type:documentation, component:localization, type:ci, run:build-and-test-differential

#9947 docs(lane_change): object filtering description
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/README.md
Labels: type:documentation, component:planning, run:deploy-docs, run:build-and-test-differential

#9912 feat(multi_object_tracker): integrate odometry and transform processes
  perception/autoware_multi_object_tracker/CMakeLists.txt
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/object_model/shapes.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/odometry.hpp
  perception/autoware_multi_object_tracker/lib/object_model/shapes.cpp
  perception/autoware_multi_object_tracker/lib/odometry.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/bicycle_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/pass_through_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/pedestrian_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/unknown_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/vehicle_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/motion_model/bicycle_motion_model.cpp
  perception/autoware_multi_object_tracker/lib/tracker/motion_model/ctrv_motion_model.cpp
  perception/autoware_multi_object_tracker/lib/uncertainty/uncertainty_processor.cpp
  perception/autoware_multi_object_tracker/src/multi_object_tracker_node.cpp
  perception/autoware_multi_object_tracker/src/multi_object_tracker_node.hpp
  perception/autoware_multi_object_tracker/src/processor/input_manager.cpp
  perception/autoware_multi_object_tracker/src/processor/input_manager.hpp
Labels: component:perception, run:build-and-test-differential

#9865 fix(image_projection_based_fusion): revise message publishers
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/camera_lidar_detector.launch.xml
  perception/autoware_image_projection_based_fusion/docs/pointpainting-fusion.md
  perception/autoware_image_projection_based_fusion/docs/roi-cluster-fusion.md
  perception/autoware_image_projection_based_fusion/docs/roi-detected-object-fusion.md
  perception/autoware_image_projection_based_fusion/docs/roi-pointcloud-fusion.md
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/fusion_node.hpp
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/pointpainting_fusion/node.hpp
  perception/autoware_image_projection_based_fusion/launch/roi_pointcloud_fusion.launch.xml
  perception/autoware_image_projection_based_fusion/src/fusion_node.cpp
  perception/autoware_image_projection_based_fusion/src/pointpainting_fusion/node.cpp
  perception/autoware_image_projection_based_fusion/src/roi_detected_object_fusion/node.cpp
  perception/autoware_image_projection_based_fusion/src/roi_pointcloud_fusion/node.cpp
Labels: type:documentation, component:perception, component:launch, run:build-and-test-differential

#9753 feat(autoware_component_interface_specs_universe!): rename package
  .github/CODEOWNERS
  common/.pages
  common/autoware_component_interface_specs_universe/CHANGELOG.rst
  common/autoware_component_interface_specs_universe/CMakeLists.txt
  common/autoware_component_interface_specs_universe/README.md
  common/autoware_component_interface_specs_universe/include/autoware/component_interface_specs_universe/control.hpp
  common/autoware_component_interface_specs_universe/include/autoware/component_interface_specs_universe/localization.hpp
  common/autoware_component_interface_specs_universe/include/autoware/component_interface_specs_universe/map.hpp
  common/autoware_component_interface_specs_universe/include/autoware/component_interface_specs_universe/perception.hpp
  common/autoware_component_interface_specs_universe/include/autoware/component_interface_specs_universe/planning.hpp
  common/autoware_component_interface_specs_universe/include/autoware/component_interface_specs_universe/system.hpp
  common/autoware_component_interface_specs_universe/include/autoware/component_interface_specs_universe/vehicle.hpp
  common/autoware_component_interface_specs_universe/package.xml
  common/autoware_component_interface_specs_universe/test/gtest_main.cpp
  common/autoware_component_interface_specs_universe/test/test_control.cpp
  common/autoware_component_interface_specs_universe/test/test_localization.cpp
  common/autoware_component_interface_specs_universe/test/test_map.cpp
  common/autoware_component_interface_specs_universe/test/test_perception.cpp
  common/autoware_component_interface_specs_universe/test/test_planning.cpp
  common/autoware_component_interface_specs_universe/test/test_system.cpp
  common/autoware_component_interface_specs_universe/test/test_vehicle.cpp
  common/autoware_test_utils/package.xml
  control/autoware_operation_mode_transition_manager/package.xml
  control/autoware_operation_mode_transition_manager/src/node.hpp
  control/autoware_vehicle_cmd_gate/package.xml
  control/autoware_vehicle_cmd_gate/src/adapi_pause_interface.hpp
  control/autoware_vehicle_cmd_gate/src/moderate_stop_interface.hpp
  control/predicted_path_checker/include/predicted_path_checker/predicted_path_checker_node.hpp
  control/predicted_path_checker/package.xml
  control/predicted_path_checker/src/predicted_path_checker_node/predicted_path_checker_node.cpp
  localization/autoware_geo_pose_projector/package.xml
  localization/autoware_geo_pose_projector/src/geo_pose_projector.hpp
  localization/autoware_pose_initializer/package.xml
  localization/autoware_pose_initializer/src/ekf_localization_trigger_module.cpp
  localization/autoware_pose_initializer/src/gnss_module.cpp
  localization/autoware_pose_initializer/src/localization_module.cpp
  localization/autoware_pose_initializer/src/ndt_localization_trigger_module.cpp
  localization/autoware_pose_initializer/src/pose_initializer_core.hpp
  map/autoware_map_loader/include/autoware/map_loader/lanelet2_map_loader_node.hpp
  map/autoware_map_loader/package.xml
  map/autoware_map_projection_loader/include/autoware/map_projection_loader/map_projection_loader.hpp
  map/autoware_map_projection_loader/package.xml
  planning/autoware_planning_test_manager/include/autoware_planning_test_manager/autoware_planning_test_manager.hpp
  planning/autoware_planning_test_manager/package.xml
  sensing/autoware_gnss_poser/include/autoware/gnss_poser/gnss_poser_node.hpp
  sensing/autoware_gnss_poser/package.xml
  system/autoware_default_adapi/package.xml
  system/autoware_default_adapi/src/fail_safe.hpp
  system/autoware_default_adapi/src/localization.hpp
  system/autoware_default_adapi/src/motion.cpp
  system/autoware_default_adapi/src/motion.hpp
  system/autoware_default_adapi/src/operation_mode.hpp
  system/autoware_default_adapi/src/perception.cpp
  system/autoware_default_adapi/src/perception.hpp
  system/autoware_default_adapi/src/planning.hpp
  system/autoware_default_adapi/src/routing.cpp
  system/autoware_default_adapi/src/routing.hpp
  system/autoware_default_adapi/src/vehicle.cpp
  system/autoware_default_adapi/src/vehicle.hpp
  system/autoware_default_adapi/src/vehicle_door.hpp
Labels: type:documentation, component:sensing, component:localization, component:planning, component:control, component:system, component:map, type:ci, component:common, run:build-and-test-differential, tag:require-cuda-build-and-test

#9952 feat(crosswalk): add pass marker
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/include/autoware/behavior_velocity_crosswalk_module/util.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/debug.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
Labels: component:planning, run:build-and-test-differential

#9983 chore(crosswalk): port the same direction ignore block
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
Labels: component:planning, run:build-and-test-differential

#9916 feat(sampling_based_planner)!: tier4_debug_msgs changed to autoware_internal_debug_msgs in sampling_based_planner
  planning/sampling_based_planner/autoware_path_sampler/package.xml
Labels: component:planning, run:build-and-test-differential

#8300 feat(autoware_pointcloud_preprocessor): redesign concatenate and time sync node
  sensing/autoware_pointcloud_preprocessor/CMakeLists.txt
  sensing/autoware_pointcloud_preprocessor/config/concatenate_and_time_sync_node.param.yaml
  sensing/autoware_pointcloud_preprocessor/docs/concatenate-data.md
  sensing/autoware_pointcloud_preprocessor/docs/image/concatenate_algorithm.drawio.svg
  sensing/autoware_pointcloud_preprocessor/docs/image/concatenate_all.png
  sensing/autoware_pointcloud_preprocessor/docs/image/concatenate_data.drawio.svg
  sensing/autoware_pointcloud_preprocessor/docs/image/concatenate_edge_case.drawio.svg
  sensing/autoware_pointcloud_preprocessor/docs/image/concatenate_left.png
  sensing/autoware_pointcloud_preprocessor/docs/image/concatenate_right.png
  sensing/autoware_pointcloud_preprocessor/docs/image/concatenate_top.png
  sensing/autoware_pointcloud_preprocessor/docs/image/ideal_timestamp_offset.drawio.svg
  sensing/autoware_pointcloud_preprocessor/docs/image/jitter.png
  sensing/autoware_pointcloud_preprocessor/docs/image/noise_timestamp_offset.drawio.svg
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/cloud_collector.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/collector_matching_strategy.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/combine_cloud_handler.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/concatenate_and_time_sync_node.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/concatenate_and_time_sync_nodelet.hpp
  sensing/autoware_pointcloud_preprocessor/launch/concatenate_and_time_sync_node.launch.xml
  sensing/autoware_pointcloud_preprocessor/schema/concatenate_and_time_sync_node.schema.json
  sensing/autoware_pointcloud_preprocessor/src/concatenate_data/cloud_collector.cpp
  sensing/autoware_pointcloud_preprocessor/src/concatenate_data/collector_matching_strategy.cpp
  sensing/autoware_pointcloud_preprocessor/src/concatenate_data/combine_cloud_handler.cpp
  sensing/autoware_pointcloud_preprocessor/src/concatenate_data/concatenate_and_time_sync_node.cpp
  sensing/autoware_pointcloud_preprocessor/src/concatenate_data/concatenate_and_time_sync_nodelet.cpp
  sensing/autoware_pointcloud_preprocessor/test/test_concatenate_node_component.py
  sensing/autoware_pointcloud_preprocessor/test/test_concatenate_node_unit.cpp
Labels: type:documentation, component:sensing, run:deploy-docs, run:build-and-test-differential, tag:require-cuda-build-and-test

#9990 feat(workflows): bump version workflow
  .github/workflows/bump-version-pr.yaml
Labels: type:ci, run:build-and-test-differential

#9938 fix(tier4_perception_launch): rearrange roi based cluster pipeline
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/camera_lidar_detector.launch.xml
Labels: component:launch, run:build-and-test-differential

#9828 feat(tensorrt_yolox): add launch for tlr model
  perception/autoware_tensorrt_yolox/README.md
  perception/autoware_tensorrt_yolox/config/yolox_traffic_light_detector.param.yaml
  perception/autoware_tensorrt_yolox/launch/yolox_traffic_light_detector.launch.xml
Labels: type:documentation, component:perception, run:build-and-test-differential

#9942 feat(motion_velocity_planner)!: add _suffix to autoware_motion_velocity_planner_common and autoware_motion_velocity_planner_node
  codecov.yaml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/motion_planning/motion_planning.launch.xml
  planning/.pages
  planning/motion_velocity_planner/autoware_motion_velocity_dynamic_obstacle_stop_module/CMakeLists.txt
  planning/motion_velocity_planner/autoware_motion_velocity_dynamic_obstacle_stop_module/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_dynamic_obstacle_stop_module/src/dynamic_obstacle_stop_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_dynamic_obstacle_stop_module/src/object_filtering.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_dynamic_obstacle_stop_module/test/test_object_filtering.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_velocity_limiter_module/CMakeLists.txt
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_velocity_limiter_module/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_velocity_limiter_module/src/obstacle_velocity_limiter.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_velocity_limiter_module/src/obstacle_velocity_limiter_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_velocity_limiter_module/src/obstacles.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_velocity_limiter_module/test/test_collision_distance.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/CMakeLists.txt
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/calculate_slowdown_points.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/filter_predicted_objects.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_collisions.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common_universe/CHANGELOG.rst
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common_universe/CMakeLists.txt
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common_universe/include/autoware/motion_velocity_planner_common_universe/collision_checker.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common_universe/include/autoware/motion_velocity_planner_common_universe/planner_data.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common_universe/include/autoware/motion_velocity_planner_common_universe/plugin_module_interface.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common_universe/include/autoware/motion_velocity_planner_common_universe/velocity_planning_result.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common_universe/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common_universe/src/collision_checker.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common_universe/test/test_collision_checker.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node_universe/CHANGELOG.rst
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node_universe/CMakeLists.txt
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node_universe/README.md
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node_universe/config/motion_velocity_planner.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node_universe/docs/MotionVelocityPlanner-InternalInterface.drawio.svg
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node_universe/docs/set_stop_velocity.drawio.svg
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node_universe/launch/motion_velocity_planner.launch.xml
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node_universe/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node_universe/schema/motion_velocity_planner.schema.json
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node_universe/src/node.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node_universe/src/node.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node_universe/src/planner_manager.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node_universe/src/planner_manager.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node_universe/srv/LoadPlugin.srv
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node_universe/srv/UnloadPlugin.srv
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node_universe/test/src/test_node_interface.cpp
Labels: type:documentation, component:planning, type:ci, component:launch, run:build-and-test-differential

#9910 feat(autoware_path_smoother)!: tier4_debug_msgs changed to autoware_internal_debug_msgs in autoware_path_smoother
  planning/autoware_path_smoother/include/autoware/path_smoother/type_alias.hpp
  planning/autoware_path_smoother/package.xml
  planning/autoware_path_smoother/scripts/calculation_time_plotter.py
Labels: component:planning, run:build-and-test-differential

#9906 feat(autoware_obstacle_stop_planner)!: tier4_debug_msgs changed to autoware_internal_debug_msgs in autoware_obstacle_stop_planner
  planning/autoware_obstacle_stop_planner/package.xml
  planning/autoware_obstacle_stop_planner/src/adaptive_cruise_control.cpp
  planning/autoware_obstacle_stop_planner/src/adaptive_cruise_control.hpp
  planning/autoware_obstacle_stop_planner/src/debug_marker.hpp
  planning/autoware_obstacle_stop_planner/src/node.hpp
Labels: component:planning, run:build-and-test-differential

#9905 feat(autoware_obstacle_cruise_planner)!: tier4_debug_msgs changed to autoware_internal_debug_msgs in autoware_obstacle_cruise_planner
  planning/autoware_obstacle_cruise_planner/include/autoware/obstacle_cruise_planner/pid_based_planner/cruise_planning_debug_info.hpp
  planning/autoware_obstacle_cruise_planner/include/autoware/obstacle_cruise_planner/stop_planning_debug_info.hpp
  planning/autoware_obstacle_cruise_planner/include/autoware/obstacle_cruise_planner/type_alias.hpp
  planning/autoware_obstacle_cruise_planner/package.xml
Labels: component:planning, run:build-and-test-differential

#9907 feat(autoware_path_optimizer)!: tier4_debug_msgs changed to autoware-internal_debug_msgs in autoware_path_optimizer
  planning/autoware_path_optimizer/include/autoware/path_optimizer/type_alias.hpp
  planning/autoware_path_optimizer/package.xml
  planning/autoware_path_optimizer/scripts/calculation_time_plotter.py
Labels: component:planning, run:build-and-test-differential

#9849 feat(autoware_pure_pursuit)!: tier4_debug_msgs changed to autoware_internal_debug_msgs in autoware_pure_pursuit
  control/autoware_pure_pursuit/include/autoware/pure_pursuit/autoware_pure_pursuit_lateral_controller.hpp
  control/autoware_pure_pursuit/package.xml
  control/autoware_pure_pursuit/src/autoware_pure_pursuit/autoware_pure_pursuit_lateral_controller.cpp
Labels: component:control, run:build-and-test-differential

#9988 feat(crosswalk): update judgle time against the stopped objects
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
Labels: component:planning, run:build-and-test-differential

#9833 feat(autoware_goal_distance_calculator)!: tier4_debug_msgs to autoware_internal_debug_msgs for autoware_goal_distance_calculator
  common/autoware_goal_distance_calculator/Readme.md
  common/autoware_goal_distance_calculator/include/autoware/goal_distance_calculator/goal_distance_calculator_node.hpp
  common/autoware_goal_distance_calculator/package.xml
  common/autoware_goal_distance_calculator/src/goal_distance_calculator_node.cpp
Labels: type:documentation, component:common, run:build-and-test-differential

#9958 fix(autoware_dummy_diag_publisher): add autowre prefix
  .github/CODEOWNERS
  system/autoware_dummy_diag_publisher/CHANGELOG.rst
  system/autoware_dummy_diag_publisher/CMakeLists.txt
  system/autoware_dummy_diag_publisher/README.md
  system/autoware_dummy_diag_publisher/config/_empty.param.yaml
  system/autoware_dummy_diag_publisher/config/dummy_diag_publisher.param.yaml
  system/autoware_dummy_diag_publisher/config/extra.param.yaml
  system/autoware_dummy_diag_publisher/include/autoware/dummy_diag_publisher/dummy_diag_publisher_core.hpp
  system/autoware_dummy_diag_publisher/launch/dummy_diag_publisher.launch.xml
  system/autoware_dummy_diag_publisher/launch/dummy_diag_publisher_node.launch.xml
  system/autoware_dummy_diag_publisher/package.xml
  system/autoware_dummy_diag_publisher/src/dummy_diag_publisher_core.cpp
  system/dummy_diag_publisher/launch/dummy_diag_publisher_node.launch.xml
Labels: type:documentation, component:system, type:ci, run:build-and-test-differential, tag:require-cuda-build-and-test, run:clang-tidy-pr-review

#9999 feat(rviz): add new plugin to visualize planning factor
  visualization/tier4_planning_factor_rviz_plugin/CMakeLists.txt
  visualization/tier4_planning_factor_rviz_plugin/README.md
  visualization/tier4_planning_factor_rviz_plugin/icons/classes/PlanningFactorRvizPlugin.png
  visualization/tier4_planning_factor_rviz_plugin/package.xml
  visualization/tier4_planning_factor_rviz_plugin/plugins.xml
  visualization/tier4_planning_factor_rviz_plugin/src/planning_factor_rviz_plugin.cpp
  visualization/tier4_planning_factor_rviz_plugin/src/planning_factor_rviz_plugin.hpp
Labels: type:documentation, run:build-and-test-differential, run:clang-tidy-pr-review

#9959 fix(tier4_system_launch): add autoware prefix to dummy diag publisher launcher
  launch/tier4_system_launch/launch/system.launch.xml
Labels: component:launch, run:build-and-test-differential, tag:require-cuda-build-and-test, run:clang-tidy-pr-review

#9949 docs(lane_change): update lane change documentation
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/images/lane_change-candidate_path_samples.png
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/images/lane_change-intersection_turn_lane_1.png
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/images/lane_change-intersection_turn_lane_2.png
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/images/lane_change-lon_accel_sampling.png
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/base_class.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
Labels: type:documentation, component:planning, run:deploy-docs, run:build-and-test-differential

#9856 feat(autoware_vehicle_cmd_gate)!: tier4-debug_msgs changed to autoware_internal_debug_msgs in autoware_vehicle_cmd_gate
  control/autoware_vehicle_cmd_gate/package.xml
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_gate.cpp
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_gate.hpp
Labels: component:control, run:build-and-test-differential

#10004 revert: revert "feat(autoware_ekf_localizer)!: porting from universe to core (#9978)"
  codecov.yaml
  localization/autoware_ekf_localizer/CHANGELOG.rst
  localization/autoware_ekf_localizer/CMakeLists.txt
  localization/autoware_ekf_localizer/README.md
  localization/autoware_ekf_localizer/config/ekf_localizer.param.yaml
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/aged_object_queue.hpp
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/covariance.hpp
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/diagnostics.hpp
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/ekf_localizer.hpp
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/ekf_module.hpp
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/hyper_parameters.hpp
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/mahalanobis.hpp
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/matrix_types.hpp
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/measurement.hpp
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/numeric.hpp
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/state_index.hpp
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/state_transition.hpp
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/string.hpp
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/warning.hpp
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/warning_message.hpp
  localization/autoware_ekf_localizer/launch/ekf_localizer.launch.xml
  localization/autoware_ekf_localizer/media/calculation_delta_from_pitch.png
  localization/autoware_ekf_localizer/media/delay_model_eq.png
  localization/autoware_ekf_localizer/media/ekf_autoware_res.png
  localization/autoware_ekf_localizer/media/ekf_delay_comp.png
  localization/autoware_ekf_localizer/media/ekf_diagnostics.png
  localization/autoware_ekf_localizer/media/ekf_diagnostics_callback_pose.png
  localization/autoware_ekf_localizer/media/ekf_diagnostics_callback_twist.png
  localization/autoware_ekf_localizer/media/ekf_dynamics.png
  localization/autoware_ekf_localizer/media/ekf_flowchart.png
  localization/autoware_ekf_localizer/media/ekf_smooth_update.png
  localization/autoware_ekf_localizer/package.xml
  localization/autoware_ekf_localizer/schema/ekf_localizer.schema.json
  localization/autoware_ekf_localizer/schema/sub/diagnostics.sub_schema.json
  localization/autoware_ekf_localizer/schema/sub/misc.sub_schema.json
  localization/autoware_ekf_localizer/schema/sub/node.sub_schema.json
  localization/autoware_ekf_localizer/schema/sub/pose_measurement.sub_schema.json
  localization/autoware_ekf_localizer/schema/sub/process_noise.sub_schema.json
  localization/autoware_ekf_localizer/schema/sub/simple_1d_filter_parameters.sub_schema.json
  localization/autoware_ekf_localizer/schema/sub/twist_measurement.sub_schema.json
  localization/autoware_ekf_localizer/src/covariance.cpp
  localization/autoware_ekf_localizer/src/diagnostics.cpp
  localization/autoware_ekf_localizer/src/ekf_localizer.cpp
  localization/autoware_ekf_localizer/src/ekf_module.cpp
  localization/autoware_ekf_localizer/src/mahalanobis.cpp
  localization/autoware_ekf_localizer/src/measurement.cpp
  localization/autoware_ekf_localizer/src/state_transition.cpp
  localization/autoware_ekf_localizer/src/warning_message.cpp
  localization/autoware_ekf_localizer/test/test_aged_object_queue.cpp
  localization/autoware_ekf_localizer/test/test_covariance.cpp
  localization/autoware_ekf_localizer/test/test_diagnostics.cpp
  localization/autoware_ekf_localizer/test/test_ekf_localizer_launch.py
  localization/autoware_ekf_localizer/test/test_ekf_localizer_mahalanobis.py
  localization/autoware_ekf_localizer/test/test_mahalanobis.cpp
  localization/autoware_ekf_localizer/test/test_measurement.cpp
  localization/autoware_ekf_localizer/test/test_numeric.cpp
  localization/autoware_ekf_localizer/test/test_state_transition.cpp
  localization/autoware_ekf_localizer/test/test_string.cpp
  localization/autoware_ekf_localizer/test/test_warning_message.cpp
  localization/autoware_pose_covariance_modifier/README.md
Labels: type:documentation, component:localization, type:ci, run:build-and-test-differential

#9960 feat: apply `autoware_` prefix for `bluetooth_monitor`
  .github/CODEOWNERS
  system/autoware_bluetooth_monitor/CHANGELOG.rst
  system/autoware_bluetooth_monitor/CMakeLists.txt
  system/autoware_bluetooth_monitor/README.md
  system/autoware_bluetooth_monitor/config/bluetooth_monitor.param.yaml
  system/autoware_bluetooth_monitor/docs/block_diagram.drawio.svg
  system/autoware_bluetooth_monitor/include/autoware/bluetooth_monitor/bluetooth_monitor.hpp
  system/autoware_bluetooth_monitor/include/autoware/bluetooth_monitor/service/l2ping.hpp
  system/autoware_bluetooth_monitor/include/autoware/bluetooth_monitor/service/l2ping_interface.hpp
  system/autoware_bluetooth_monitor/include/autoware/bluetooth_monitor/service/l2ping_service.hpp
  system/autoware_bluetooth_monitor/launch/bluetooth_monitor.launch.xml
  system/autoware_bluetooth_monitor/package.xml
  system/autoware_bluetooth_monitor/schema/bluetooth_monitor.schema.json
  system/autoware_bluetooth_monitor/service/l2ping.cpp
  system/autoware_bluetooth_monitor/service/l2ping_service.cpp
  system/autoware_bluetooth_monitor/service/main.cpp
  system/autoware_bluetooth_monitor/src/bluetooth_monitor.cpp
  system/bluetooth_monitor/launch/bluetooth_monitor.launch.xml
Labels: type:documentation, component:system, type:ci, run:build-and-test-differential

#9956 feat: apply `autoware_` prefix for `perception_online_evaluator`
  .github/CODEOWNERS
  evaluator/autoware_perception_online_evaluator/CHANGELOG.rst
  evaluator/autoware_perception_online_evaluator/CMakeLists.txt
  evaluator/autoware_perception_online_evaluator/README.md
  evaluator/autoware_perception_online_evaluator/images/detection_counts.drawio.svg
  evaluator/autoware_perception_online_evaluator/images/lateral_deviation.drawio.svg
  evaluator/autoware_perception_online_evaluator/images/path_deviation.drawio.svg
  evaluator/autoware_perception_online_evaluator/images/path_deviation_each_object.drawio.svg
  evaluator/autoware_perception_online_evaluator/images/yaw_deviation.drawio.svg
  evaluator/autoware_perception_online_evaluator/images/yaw_rate.drawio.svg
  evaluator/autoware_perception_online_evaluator/include/autoware/perception_online_evaluator/metrics/detection_count.hpp
  evaluator/autoware_perception_online_evaluator/include/autoware/perception_online_evaluator/metrics/deviation_metrics.hpp
  evaluator/autoware_perception_online_evaluator/include/autoware/perception_online_evaluator/metrics/metric.hpp
  evaluator/autoware_perception_online_evaluator/include/autoware/perception_online_evaluator/metrics_calculator.hpp
  evaluator/autoware_perception_online_evaluator/include/autoware/perception_online_evaluator/parameters.hpp
  evaluator/autoware_perception_online_evaluator/include/autoware/perception_online_evaluator/perception_online_evaluator_node.hpp
  evaluator/autoware_perception_online_evaluator/include/autoware/perception_online_evaluator/utils/marker_utils.hpp
  evaluator/autoware_perception_online_evaluator/include/autoware/perception_online_evaluator/utils/objects_filtering.hpp
  evaluator/autoware_perception_online_evaluator/launch/perception_online_evaluator.launch.xml
  evaluator/autoware_perception_online_evaluator/package.xml
  evaluator/autoware_perception_online_evaluator/param/perception_online_evaluator.defaults.yaml
  evaluator/autoware_perception_online_evaluator/src/metrics/detection_count.cpp
  evaluator/autoware_perception_online_evaluator/src/metrics/deviation_metrics.cpp
  evaluator/autoware_perception_online_evaluator/src/metrics_calculator.cpp
  evaluator/autoware_perception_online_evaluator/src/perception_online_evaluator_node.cpp
  evaluator/autoware_perception_online_evaluator/src/utils/marker_utils.cpp
  evaluator/autoware_perception_online_evaluator/src/utils/objects_filtering.cpp
  evaluator/autoware_perception_online_evaluator/test/test_perception_online_evaluator_node.cpp
  evaluator/perception_online_evaluator/CMakeLists.txt
  evaluator/perception_online_evaluator/launch/motion_evaluator.launch.xml
Labels: type:documentation, type:ci, component:evaluator, run:build-and-test-differential

#9970 feat: apply `autoware_` prefix for `duplicated_node_checker`
  .github/CODEOWNERS
  system/autoware_duplicated_node_checker/CHANGELOG.rst
  system/autoware_duplicated_node_checker/CMakeLists.txt
  system/autoware_duplicated_node_checker/README.md
  system/autoware_duplicated_node_checker/config/duplicated_node_checker.param.yaml
  system/autoware_duplicated_node_checker/include/autoware/duplicated_node_checker/duplicated_node_checker_core.hpp
  system/autoware_duplicated_node_checker/launch/duplicated_node_checker.launch.xml
  system/autoware_duplicated_node_checker/package.xml
  system/autoware_duplicated_node_checker/schema/duplicated_node_checker.schema.json
  system/autoware_duplicated_node_checker/src/duplicated_node_checker_core.cpp
  system/duplicated_node_checker/launch/duplicated_node_checker.launch.xml
Labels: type:documentation, component:system, type:ci, run:build-and-test-differential

#9870 feat(autoware_crosswalk_traffic_light_estimator)!: tier4_debug_msgs changes to autoware_internal_debug_msgs in autoware_crosswalk_traffic_light_estimator
  perception/autoware_crosswalk_traffic_light_estimator/README.md
  perception/autoware_crosswalk_traffic_light_estimator/include/autoware_crosswalk_traffic_light_estimator/node.hpp
  perception/autoware_crosswalk_traffic_light_estimator/package.xml
Labels: type:documentation, component:perception, run:build-and-test-differential

#9922 feat(diagnostic_graph_utils): remove unnecessary dependency in diagnostic_graph_utils
  system/diagnostic_graph_utils/package.xml
Labels: component:system, run:build-and-test-differential

#10006 feat(intersection): add wall marker for too late detect objects
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/debug.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection.hpp
Labels: component:planning, run:build-and-test-differential

#10003 feat(autoware_detected_object_validation): add height filter in lanelet filtering
  perception/autoware_detected_object_validation/CMakeLists.txt
  perception/autoware_detected_object_validation/config/object_lanelet_filter.param.yaml
  perception/autoware_detected_object_validation/object-lanelet-filter.md
  perception/autoware_detected_object_validation/schema/object_lanelet_filter.schema.json
  perception/autoware_detected_object_validation/src/lanelet_filter/lanelet_filter.cpp
  perception/autoware_detected_object_validation/src/lanelet_filter/lanelet_filter.hpp
  perception/autoware_detected_object_validation/test/lanelet_filter/test_lanelet_filter.cpp
  perception/autoware_detected_object_validation/test/test_lanelet_utils.hpp
Labels: type:documentation, component:perception, run:deploy-docs, run:build-and-test-differential

#9964 feat(autoware_topic_relay_controller): add topic relay controller node
  system/autoware_topic_relay_controller/CMakeLists.txt
  system/autoware_topic_relay_controller/README.md
  system/autoware_topic_relay_controller/config/topic_relay_controller.param.yaml
  system/autoware_topic_relay_controller/launch/topic_relay_controller.launch.xml
  system/autoware_topic_relay_controller/package.xml
  system/autoware_topic_relay_controller/src/topic_relay_controller_node.cpp
  system/autoware_topic_relay_controller/src/topic_relay_controller_node.hpp
Labels: type:documentation, component:system, run:build-and-test-differential, tag:require-cuda-build-and-test, run:clang-tidy-pr-review

#10007 fix(launch): fix missing changes for launch
  launch/tier4_perception_launch/launch/perception.launch.xml
  launch/tier4_simulator_launch/launch/simulator.launch.xml
  launch/tier4_system_launch/launch/system.launch.xml
Labels: component:launch, run:build-and-test-differential

#10000 feat(static_obstacle_avoidance): output safety factor
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/interface/scene_module_interface.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/path_safety_checker/safety_check.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/path_safety_checker/safety_check.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
Labels: component:planning, run:build-and-test-differential, run:clang-tidy-pr-review

#9899 feat(autoware_tracking_object_merger)!: tier4_debug_msgs changed to autoware_internal_debug_msgs in autoware_tracking_object_merger
  perception/autoware_tracking_object_merger/src/decorative_tracker_merger_node.cpp
Labels: component:perception, run:build-and-test-differential

#9900 feat(traffic_light_fine_detector)!: tier4_debug_msgs changed to autoware_internal_debug_msgs in traffic_light_fine_detector
  perception/autoware_traffic_light_fine_detector/README.md
  perception/autoware_traffic_light_fine_detector/package.xml
  perception/autoware_traffic_light_fine_detector/src/traffic_light_fine_detector_node.cpp
  perception/autoware_traffic_light_fine_detector/src/traffic_light_fine_detector_node.hpp
Labels: type:documentation, component:perception, run:build-and-test-differential

#9873 feat(autoware_euclidean_cluster)!: tier4_debug_msgs changed to autoware_internal_debug_msgs in autoware_euclidean_cluster
  perception/autoware_euclidean_cluster/src/euclidean_cluster_node.cpp
  perception/autoware_euclidean_cluster/src/voxel_grid_based_euclidean_cluster_node.cpp
Labels: component:perception, run:build-and-test-differential

#9898 feat(autoware_tensorrt_yolox)!: tier4_debug_msgs changed to autoware_internal_debug_msgs in autoware_tensorrt_yolox
  perception/autoware_tensorrt_yolox/package.xml
  perception/autoware_tensorrt_yolox/src/tensorrt_yolox_node.cpp
Labels: component:perception, run:build-and-test-differential

#9969 feat: apply `autoware_` prefix for `dummy_infrastructure`
  .github/CODEOWNERS
  system/autoware_dummy_infrastructure/CHANGELOG.rst
  system/autoware_dummy_infrastructure/CMakeLists.txt
  system/autoware_dummy_infrastructure/README.md
  system/autoware_dummy_infrastructure/config/dummy_infrastructure.param.yaml
  system/autoware_dummy_infrastructure/include/autoware/dummy_infrastructure/dummy_infrastructure_node.hpp
  system/autoware_dummy_infrastructure/launch/dummy_infrastructure.launch.xml
  system/autoware_dummy_infrastructure/package.xml
  system/autoware_dummy_infrastructure/schema/dummy_infrastructure.schema.json
  system/autoware_dummy_infrastructure/src/dummy_infrastructure_node/dummy_infrastructure_node.cpp
  system/dummy_infrastructure/CMakeLists.txt
Labels: type:documentation, component:system, type:ci, run:build-and-test-differential

#9877 feat(autoware_image_projection_based_fusion)!: tier4_debug-msgs changed to autoware_internal_debug_msgs in autoware_image_projection_based_fusion
  perception/autoware_image_projection_based_fusion/package.xml
  perception/autoware_image_projection_based_fusion/src/fusion_node.cpp
Labels: component:perception, run:build-and-test-differential
