Repository autowarefoundation/autoware_universe, pull requests merged in 2025-09, with the labels that each got.

#11279 fix(gpu_monitor): explicitly qualify a function call to stop error from the cppcheck-differential CI workflow
  system/autoware_system_monitor/include/system_monitor/gpu_monitor/gpu_monitor_base.hpp
  system/autoware_system_monitor/include/system_monitor/gpu_monitor/nvml_gpu_monitor.hpp
  system/autoware_system_monitor/src/gpu_monitor/gpu_monitor_base.cpp
  system/autoware_system_monitor/src/gpu_monitor/nvml_gpu_monitor.cpp
Labels: component:system, run:build-and-test-differential

#11277 feat(trajectory modifier): add trajectory modifier
  planning/autoware_trajectory_modifier/CMakeLists.txt
  planning/autoware_trajectory_modifier/README.md
  planning/autoware_trajectory_modifier/config/trajectory_modifier.param.yaml
  planning/autoware_trajectory_modifier/include/autoware/trajectory_modifier/trajectory_modifier.hpp
  planning/autoware_trajectory_modifier/include/autoware/trajectory_modifier/trajectory_modifier_plugins/stop_point_fixer.hpp
  planning/autoware_trajectory_modifier/include/autoware/trajectory_modifier/trajectory_modifier_plugins/trajectory_modifier_plugin_base.hpp
  planning/autoware_trajectory_modifier/include/autoware/trajectory_modifier/trajectory_modifier_structs.hpp
  planning/autoware_trajectory_modifier/include/autoware/trajectory_modifier/utils.hpp
  planning/autoware_trajectory_modifier/launch/trajectory_modifier.launch.xml
  planning/autoware_trajectory_modifier/package.xml
  planning/autoware_trajectory_modifier/schema/trajectory_modifier.schema.json
  planning/autoware_trajectory_modifier/src/trajectory_modifier.cpp
  planning/autoware_trajectory_modifier/src/trajectory_modifier_plugins/stop_point_fixer.cpp
  planning/autoware_trajectory_modifier/src/utils.cpp
  planning/autoware_trajectory_modifier/tests/test_stop_point_fixer_integration.cpp
  planning/autoware_trajectory_modifier/tests/test_trajectory_modifier.cpp
  planning/autoware_trajectory_modifier/tests/test_utils.cpp
Labels: type:documentation, component:planning, run:build-and-test-differential

#11298 feat(pose_instability_detector): make pose_instability_detector filtered by dimensions
  localization/autoware_pose_instability_detector/config/pose_instability_detector.param.yaml
  localization/autoware_pose_instability_detector/include/autoware/pose_instability_detector/pose_instability_detector.hpp
  localization/autoware_pose_instability_detector/schema/pose_instability_detector.schema.json
  localization/autoware_pose_instability_detector/src/pose_instability_detector.cpp
Labels: component:localization, run:build-and-test-differential

#11189 fix(autoware_boundary_departure_checker): remove unused function
  common/autoware_boundary_departure_checker/include/autoware/boundary_departure_checker/conversion.hpp
  common/autoware_boundary_departure_checker/src/conversion.cpp
Labels: component:common, run:build-and-test-differential

#11199 fix(hdd_monitor,cpu_monitor): use unix sockets for IPC with helper applications
  system/autoware_system_monitor/README.md
  system/autoware_system_monitor/config/cpu_monitor.param.yaml
  system/autoware_system_monitor/config/hdd_monitor.param.yaml
  system/autoware_system_monitor/docs/hdd_reader.md
  system/autoware_system_monitor/docs/msr_reader.md
  system/autoware_system_monitor/docs/ros_parameters.md
  system/autoware_system_monitor/docs/traffic_reader.md
  system/autoware_system_monitor/include/system_monitor/cpu_monitor/intel_cpu_monitor.hpp
  system/autoware_system_monitor/include/system_monitor/hdd_monitor/hdd_monitor.hpp
  system/autoware_system_monitor/reader/hdd_reader/hdd_reader.cpp
  system/autoware_system_monitor/reader/msr_reader/msr_reader.cpp
  system/autoware_system_monitor/src/cpu_monitor/intel_cpu_monitor.cpp
  system/autoware_system_monitor/src/hdd_monitor/hdd_monitor.cpp
  system/autoware_system_monitor/test/config/test_hdd_monitor.param.yaml
  system/autoware_system_monitor/test/src/cpu_monitor/test_intel_cpu_monitor.cpp
Labels: type:documentation, component:system, run:build-and-test-differential, component:interfaces

#11212 docs(boundary_departure): update README for new steering abnormalities
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/README.md
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/images/steering_abnormalities_footprint.png
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/images/steering_abnormalities_trajectories.svg
Labels: type:documentation, component:planning, run:deploy-docs, run:build-and-test-differential

#11207 fix(autoware_control_command_gate, autoware_vehicle_cmd_gate): remove unused function
  control/autoware_control_command_gate/src/common/control_command_filter.hpp
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_filter.hpp
Labels: component:control, run:build-and-test-differential

#11302 fix(static_obstacle_avoidance): fix multiple shift line generation algorithm
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/shift_line_generator.cpp
Labels: component:planning, run:build-and-test-differential

#11313 chore(autoware_steer_offset_estimator): add maintainer
  vehicle/autoware_steer_offset_estimator/package.xml
Labels: run:build-and-test-differential

#10724 feat: scale gyro estimation
  sensing/autoware_imu_corrector/CMakeLists.txt
  sensing/autoware_imu_corrector/README.md
  sensing/autoware_imu_corrector/config/gyro_bias_estimator.param.yaml
  sensing/autoware_imu_corrector/config/gyro_scale_estimator.param.yaml
  sensing/autoware_imu_corrector/config/imu_corrector.param.yaml
  sensing/autoware_imu_corrector/include/autoware/imu_corrector/gyro_bias_estimation_module.hpp
  sensing/autoware_imu_corrector/include/autoware/imu_corrector/gyro_bias_estimator.hpp
  sensing/autoware_imu_corrector/include/autoware/imu_corrector/imu_corrector_core.hpp
  sensing/autoware_imu_corrector/launch/gyro_bias_estimator.launch.xml
  sensing/autoware_imu_corrector/launch/imu_corrector.launch.xml
  sensing/autoware_imu_corrector/package.xml
  sensing/autoware_imu_corrector/schema/gyro_scale_estimator.schema.json
  sensing/autoware_imu_corrector/schema/imu_corrector.schema.json
  sensing/autoware_imu_corrector/src/gyro_bias_estimation_module.cpp
  sensing/autoware_imu_corrector/src/gyro_bias_estimator.cpp
  sensing/autoware_imu_corrector/src/gyro_bias_estimator.hpp
  sensing/autoware_imu_corrector/src/imu_corrector_core.cpp
  sensing/autoware_imu_corrector/test/test_gyro_bias_estimation_module.cpp
  sensing/autoware_imu_corrector/test/test_gyro_bias_scale_estimation_module.cpp
  sensing/autoware_imu_corrector/test/test_main.cpp
Labels: type:documentation, component:sensing, run:deploy-docs, run:build-and-test-differential

#11314 feat: on off scale and bias correction
  sensing/autoware_imu_corrector/config/gyro_scale_estimator.param.yaml
  sensing/autoware_imu_corrector/include/autoware/imu_corrector/imu_corrector_core.hpp
  sensing/autoware_imu_corrector/launch/imu_corrector.launch.xml
  sensing/autoware_imu_corrector/schema/gyro_scale_estimator.schema.json
  sensing/autoware_imu_corrector/src/imu_corrector_core.cpp
Labels: component:sensing, run:build-and-test-differential

#11267 fix(run_out): fix virtual wall pose
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/run_out_module.cpp
Labels: component:planning, run:build-and-test-differential, run:clang-tidy-pr-review

#11320 chore(run_out): rm the autoware_behavior_velocity_run_out module
  .github/CODEOWNERS
  codecov.yaml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/motion_planning/motion_planning.launch.xml
  planning/.pages
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/CHANGELOG.rst
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/CMakeLists.txt
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/README.md
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/config/run_out.param.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/docs/calculate_expected_target_velocity.svg
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/docs/collision_detection_for_shape.svg
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/docs/collision_points.svg
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/docs/create_dynamic_obstacle.svg
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/docs/create_polygon_on_path_point.svg
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/docs/ego_cut_line.svg
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/docs/exclude_obstacles_by_partition.svg
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/docs/insert_velocity.svg
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/docs/insert_velocity_to_approach.svg
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/docs/run_out_overview.svg
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/plugins.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/src/debug.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/src/debug.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/src/dynamic_obstacle.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/src/dynamic_obstacle.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/src/manager.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/src/path_utils.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/src/path_utils.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/src/scene.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/src/state_machine.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/src/state_machine.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/src/utils.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/src/utils.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/test/test_dynamic_obstacle.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/test/test_node_interface.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/test/test_path_utils.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/test/test_state_machine.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/test/test_utils.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/README.md
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/debug.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/run_out_module.cpp
  system/autoware_processing_time_checker/config/processing_time_checker.param.yaml
Labels: type:documentation, component:planning, component:system, type:ci, component:launch, run:build-and-test-differential

#11322 refactor(diffusion_planner): lanelet.hpp
  planning/autoware_diffusion_planner/include/autoware/diffusion_planner/conversion/lanelet.hpp
  planning/autoware_diffusion_planner/src/conversion/lanelet.cpp
  planning/autoware_diffusion_planner/src/preprocessing/lane_segments.cpp
  planning/autoware_diffusion_planner/test/lanelet_edge_case_test.cpp
  planning/autoware_diffusion_planner/test/lanelet_integration_test.cpp
  planning/autoware_diffusion_planner/test/lanelet_test.cpp
Labels: component:planning, run:build-and-test-differential

#11307 feat(bpp, lane_change): enable prepare phase check even when ego is preparing
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/config/lane_change.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/structs/parameters.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/path_safety_checker/safety_check.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/path_safety_checker/safety_check.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/test/test_safety_check.cpp
Labels: type:documentation, component:planning, run:build-and-test-differential

#11323 fix(boundary_departure): false activation for underpass/overpass areas
  common/autoware_boundary_departure_checker/include/autoware/boundary_departure_checker/boundary_departure_checker.hpp
  common/autoware_boundary_departure_checker/include/autoware/boundary_departure_checker/conversion.hpp
  common/autoware_boundary_departure_checker/include/autoware/boundary_departure_checker/data_structs.hpp
  common/autoware_boundary_departure_checker/include/autoware/boundary_departure_checker/type_alias.hpp
  common/autoware_boundary_departure_checker/src/boundary_departure_checker_abnormality.cpp
  common/autoware_boundary_departure_checker/src/conversion.cpp
Labels: component:common, run:build-and-test-differential

#11318 feat(trajectory_ranker): add trajectory ranker
  planning/autoware_trajectory_ranker/CMakeLists.txt
  planning/autoware_trajectory_ranker/README.md
  planning/autoware_trajectory_ranker/config/evaluation.param.yaml
  planning/autoware_trajectory_ranker/include/autoware/trajectory_ranker/data_structs.hpp
  planning/autoware_trajectory_ranker/include/autoware/trajectory_ranker/evaluation.hpp
  planning/autoware_trajectory_ranker/include/autoware/trajectory_ranker/interface/data_interface.hpp
  planning/autoware_trajectory_ranker/include/autoware/trajectory_ranker/interface/metrics_interface.hpp
  planning/autoware_trajectory_ranker/include/autoware/trajectory_ranker/metrics/distance_metric.hpp
  planning/autoware_trajectory_ranker/include/autoware/trajectory_ranker/metrics/lateral_acceleration_metric.hpp
  planning/autoware_trajectory_ranker/include/autoware/trajectory_ranker/metrics/lateral_deviation_metric.hpp
  planning/autoware_trajectory_ranker/include/autoware/trajectory_ranker/metrics/longitudinal_jerk_metric.hpp
  planning/autoware_trajectory_ranker/include/autoware/trajectory_ranker/metrics/metrics_utils.hpp
  planning/autoware_trajectory_ranker/include/autoware/trajectory_ranker/metrics/steering_consistency_metric.hpp
  planning/autoware_trajectory_ranker/include/autoware/trajectory_ranker/metrics/time_to_collision_metric.hpp
  planning/autoware_trajectory_ranker/include/autoware/trajectory_ranker/trajectory_ranker_node.hpp
  planning/autoware_trajectory_ranker/include/autoware/trajectory_ranker/utils.hpp
  planning/autoware_trajectory_ranker/launch/trajectory_ranker.launch.xml
  planning/autoware_trajectory_ranker/package.xml
  planning/autoware_trajectory_ranker/param/trajectory_ranker_parameters.yaml
  planning/autoware_trajectory_ranker/plugins.xml
  planning/autoware_trajectory_ranker/src/evaluation.cpp
  planning/autoware_trajectory_ranker/src/metrics/distance_metric.cpp
  planning/autoware_trajectory_ranker/src/metrics/lateral_acceleration_metric.cpp
  planning/autoware_trajectory_ranker/src/metrics/lateral_deviation_metric.cpp
  planning/autoware_trajectory_ranker/src/metrics/longitudinal_jerk_metric.cpp
  planning/autoware_trajectory_ranker/src/metrics/metrics_utils.cpp
  planning/autoware_trajectory_ranker/src/metrics/steering_consistency_metric.cpp
  planning/autoware_trajectory_ranker/src/metrics/time_to_collision_metric.cpp
  planning/autoware_trajectory_ranker/src/trajectory_ranker_node.cpp
  planning/autoware_trajectory_ranker/src/utils.cpp
  planning/autoware_trajectory_ranker/test/test_evaluator.cpp
  planning/autoware_trajectory_ranker/test/test_metrics.cpp
  planning/autoware_trajectory_ranker/test/test_metrics_utils.cpp
  planning/autoware_trajectory_ranker/test/test_utils.cpp
Labels: type:documentation, component:planning, run:build-and-test-differential

#11330 refactor(diffusion_planner): fix to use `lane_segments_`
  planning/autoware_diffusion_planner/include/autoware/diffusion_planner/dimensions.hpp
  planning/autoware_diffusion_planner/include/autoware/diffusion_planner/preprocessing/lane_segments.hpp
  planning/autoware_diffusion_planner/src/preprocessing/lane_segments.cpp
Labels: component:planning, run:build-and-test-differential

#11331 refactor(boundary_departure): move visualization marker functions to …
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/boundary_departure_prevention_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/boundary_departure_prevention_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/debug.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/debug.hpp
Labels: component:planning, run:build-and-test-differential

#11308 feat(component_state_monitor): use topic_state_monitor component
  system/autoware_component_state_monitor/launch/component_state_monitor.launch.py
  system/autoware_topic_state_monitor/CMakeLists.txt
  system/autoware_topic_state_monitor/launch/load_topic_state_monitor.launch.xml
  system/autoware_topic_state_monitor/launch/load_topic_state_monitor_tf.launch.xml
  system/autoware_topic_state_monitor/src/topic_state_monitor.cpp
  system/autoware_topic_state_monitor/src/topic_state_monitor.hpp
  system/autoware_topic_state_monitor/src/topic_state_monitor_core.cpp
  system/autoware_topic_state_monitor/src/topic_state_monitor_core.hpp
Labels: component:system, run:build-and-test-differential

#11324 feat(trajectory_adapter): add trajectory adapter
  planning/autoware_trajectory_adapter/CMakeLists.txt
  planning/autoware_trajectory_adapter/README.md
  planning/autoware_trajectory_adapter/launch/trajectory_adapter.launch.xml
  planning/autoware_trajectory_adapter/package.xml
  planning/autoware_trajectory_adapter/src/trajectory_adapter_node.cpp
  planning/autoware_trajectory_adapter/src/trajectory_adapter_node.hpp
Labels: type:documentation, component:planning, run:build-and-test-differential

#11229 docs(boundary_departure): update documentation
  planning/.pages
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/README.md
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/images/departure_interval-after_merge_1.png
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/images/departure_interval-after_merge_2.png
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/images/departure_interval-after_merge_3.png
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/images/departure_interval-before_merge_1.png
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/images/departure_interval-before_merge_2.png
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/images/departure_interval-before_merge_3.png
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/images/departure_interval-closest_pts_to_boundaries.png
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/images/departure_interval-departure_points.png
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/images/departure_interval-dpt_pts_after_merge.png
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/images/departure_intervals-find_interval.png
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/images/departure_intervals-group_nearby_pts.png
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/images/slow_down-interpolated_target_speed.png
Labels: type:documentation, component:planning, run:deploy-docs, run:build-and-test-differential

#11345 refactor(pipeline_latency_monitor): change log level from WARN to DEBUG for negative latency values
  system/autoware_pipeline_latency_monitor/src/pipeline_latency_monitor_node.cpp
Labels: run:build-and-test-differential

#11104 fix(tier4_perception_launch): add yolox 2d detection launch with bytetrack
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/camera_2d_detector.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/camera_lidar_detector.launch.xml
  launch/tier4_perception_launch/package.xml
  perception/autoware_bytetrack/launch/bytetrack.launch.xml
Labels: component:perception, component:launch, run:build-and-test-differential

#11340 feat(RTC, behavior_velocity_planner): set manual RTC via the lanelet map
  planning/autoware_rtc_interface/README.md
  planning/autoware_rtc_interface/include/autoware/rtc_interface/rtc_interface.hpp
  planning/autoware_rtc_interface/src/rtc_interface.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/README.md
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/README.md
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_rtc_interface/include/autoware/behavior_velocity_rtc_interface/scene_module_interface_with_rtc.hpp
Labels: type:documentation, component:planning, run:build-and-test-differential

#11127 feat(start_planner): add plotting functionality with lanelet and vehicle foot print to specific output directory
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/.gitignore
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/CMakeLists.txt
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/package.xml
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test/include/start_planner_test_helper.hpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test/src/start_planner_test_helper.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test/test_shift_pull_out.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test_data/route_data3.yaml
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test_data/route_data4.yaml
Labels: component:planning, run:build-and-test-differential

#11352 feat(diffusion-planner): update ONNX model versioning details and limitations
  planning/autoware_diffusion_planner/README.md
Labels: type:documentation, component:planning, run:deploy-docs, run:build-and-test-differential, run:clang-tidy-pr-review

#11348 feat(diffusion_planner): add `sampled_trajectories` to the model input and add a new parameter `temperature`
  planning/autoware_diffusion_planner/config/diffusion_planner.param.yaml
  planning/autoware_diffusion_planner/include/autoware/diffusion_planner/diffusion_planner_node.hpp
  planning/autoware_diffusion_planner/include/autoware/diffusion_planner/dimensions.hpp
  planning/autoware_diffusion_planner/include/autoware/diffusion_planner/preprocessing/preprocessing_utils.hpp
  planning/autoware_diffusion_planner/schema/diffusion_planner.schema.json
  planning/autoware_diffusion_planner/src/diffusion_planner_node.cpp
  planning/autoware_diffusion_planner/src/preprocessing/preprocessing_utils.cpp
Labels: component:planning, run:build-and-test-differential

#11367 fix(diffusion_planner): fixed `const` to `constexpr`
  planning/autoware_diffusion_planner/include/autoware/diffusion_planner/conversion/lanelet.hpp
Labels: component:planning, run:build-and-test-differential

#11362 ci: use github hosted runner for arm
  .github/workflows/build-and-test-daily.yaml
  .github/workflows/build-and-test-differential-arm64.yaml
Labels: type:arm64, type:ci, run:build-and-test-differential

#11343 feat(obstacle_slow_down): add curve margin feature
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/config/obstacle_slow_down.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/obstacle_slow_down_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/obstacle_slow_down_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/parameters.hpp
Labels: component:planning, run:build-and-test-differential

#11278 docs: add document of mode transition debug topic
  control/autoware_operation_mode_transition_manager/README.md
  system/autoware_command_mode_decider/README.md
Labels: type:documentation, component:control, component:system, run:build-and-test-differential

#11378 refactor(diffusion_planner): refactor lane_segment
  planning/autoware_diffusion_planner/config/diffusion_planner.param.yaml
  planning/autoware_diffusion_planner/include/autoware/diffusion_planner/constants.hpp
  planning/autoware_diffusion_planner/include/autoware/diffusion_planner/conversion/lanelet.hpp
  planning/autoware_diffusion_planner/include/autoware/diffusion_planner/diffusion_planner_node.hpp
  planning/autoware_diffusion_planner/include/autoware/diffusion_planner/polyline.hpp
  planning/autoware_diffusion_planner/include/autoware/diffusion_planner/preprocessing/lane_segments.hpp
  planning/autoware_diffusion_planner/schema/diffusion_planner.schema.json
  planning/autoware_diffusion_planner/src/conversion/lanelet.cpp
  planning/autoware_diffusion_planner/src/diffusion_planner_node.cpp
  planning/autoware_diffusion_planner/src/preprocessing/lane_segments.cpp
  planning/autoware_diffusion_planner/test/lane_segments_test.cpp
  planning/autoware_diffusion_planner/test/lane_segments_test.hpp
  planning/autoware_diffusion_planner/test/lanelet_edge_case_test.cpp
  planning/autoware_diffusion_planner/test/lanelet_integration_test.cpp
  planning/autoware_diffusion_planner/test/lanelet_test.cpp
Labels: component:planning, run:build-and-test-differential

#11364 feat(launch): add args to select the 2d camera detection model
  launch/tier4_perception_launch/launch/object_recognition/detection/detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/camera_2d_detector.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/camera_lidar_detector.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
Labels: component:launch, run:build-and-test-differential

#11384 fix(drivable_area): add bounds validation and proper coordinate transformation in drivable area processing
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/drivable_area_expansion/static_drivable_area.cpp
Labels: component:planning, run:build-and-test-differential

#11390 refactor(diffusion_planner): move postprocessing internal functions to cpp
  planning/autoware_diffusion_planner/include/autoware/diffusion_planner/postprocessing/postprocessing_utils.hpp
  planning/autoware_diffusion_planner/src/diffusion_planner_node.cpp
  planning/autoware_diffusion_planner/src/postprocessing/postprocessing_utils.cpp
  planning/autoware_diffusion_planner/test/postprocessing_utils_edge_case_test.cpp
  planning/autoware_diffusion_planner/test/postprocessing_utils_test.cpp
Labels: component:planning, run:build-and-test-differential

#11354 fix(autoware_tensorrt_plugins): install cuda_ops to be available when autoware_tensorrt_plugins installs
  perception/autoware_tensorrt_plugins/CMakeLists.txt
Labels: component:perception, run:build-and-test-differential, tag:require-cuda-build-and-test

#11376 feat(tier4_system_rviz_plugin): remove tier4_system_rviz_plugin
  visualization/tier4_system_rviz_plugin/CHANGELOG.rst
  visualization/tier4_system_rviz_plugin/CMakeLists.txt
  visualization/tier4_system_rviz_plugin/README.md
  visualization/tier4_system_rviz_plugin/package.xml
  visualization/tier4_system_rviz_plugin/plugins/plugin_description.xml
  visualization/tier4_system_rviz_plugin/src/jsk_overlay_utils.cpp
  visualization/tier4_system_rviz_plugin/src/jsk_overlay_utils.hpp
  visualization/tier4_system_rviz_plugin/src/mrm_summary_overlay_display.cpp
  visualization/tier4_system_rviz_plugin/src/mrm_summary_overlay_display.hpp
Labels: type:documentation, run:build-and-test-differential

#11394 docs(goal_planner): add explanation for paramter
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/README.md
Labels: run:deploy-docs, run:build-and-test-differential

#11401 fix(planning_validator): update QoS settings for operational mode state subscriber
  planning/planning_validator/autoware_planning_validator/include/autoware/planning_validator/node.hpp
  planning/planning_validator/autoware_planning_validator_trajectory_checker/test/test_trajectory_checker_diag.cpp
Labels: component:planning, run:build-and-test-differential

#11402 feat(control_evaluator): add lateral_acceleration_abs metric
  evaluator/autoware_control_evaluator/include/autoware/control_evaluator/control_evaluator_node.hpp
  evaluator/autoware_control_evaluator/include/autoware/control_evaluator/metrics/metric.hpp
  evaluator/autoware_control_evaluator/src/control_evaluator_node.cpp
Labels: component:evaluator, run:build-and-test-differential

#10633 refactor(autoware_traffic_light_classifier): split utils and add test
  perception/autoware_traffic_light_classifier/CMakeLists.txt
  perception/autoware_traffic_light_classifier/package.xml
  perception/autoware_traffic_light_classifier/src/classifier/cnn_classifier.cpp
  perception/autoware_traffic_light_classifier/src/classifier/cnn_classifier.hpp
  perception/autoware_traffic_light_classifier/src/traffic_light_classifier_node.cpp
  perception/autoware_traffic_light_classifier/src/traffic_light_classifier_node.hpp
  perception/autoware_traffic_light_classifier/src/traffic_light_classifier_process.cpp
  perception/autoware_traffic_light_classifier/src/traffic_light_classifier_process.hpp
  perception/autoware_traffic_light_classifier/test/test_data/backlight_medium.png
  perception/autoware_traffic_light_classifier/test/test_data/backlight_strong.png
  perception/autoware_traffic_light_classifier/test/test_data/backlight_weak.png
  perception/autoware_traffic_light_classifier/test/test_data/normal.png
  perception/autoware_traffic_light_classifier/test/test_utils.cpp
Labels: type:documentation, component:perception, run:build-and-test-differential

#11398 fix(cuda_pointcloud_preprocessor): use uint64_t and nanoseconds to prevent potential precision loss
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/cuda_pointcloud_preprocessor_node.hpp
  sensing/autoware_cuda_pointcloud_preprocessor/src/cuda_pointcloud_preprocessor/cuda_pointcloud_preprocessor_node.cpp
Labels: component:sensing, run:build-and-test-differential

#11405 refactor(autoware_lidar_apollo_instance_segmentation): refactor launch and parameter
  perception/autoware_lidar_apollo_instance_segmentation/config/hdl-64.param.yaml
  perception/autoware_lidar_apollo_instance_segmentation/config/vlp-16.param.yaml
  perception/autoware_lidar_apollo_instance_segmentation/config/vls-128.param.yaml
  perception/autoware_lidar_apollo_instance_segmentation/launch/lidar_apollo_instance_segmentation.launch.xml
  perception/autoware_lidar_apollo_instance_segmentation/schema/hdl-64.schema.json
  perception/autoware_lidar_apollo_instance_segmentation/schema/vlp-16.schema.json
  perception/autoware_lidar_apollo_instance_segmentation/schema/vls-128.schema.json
Labels: component:perception, run:build-and-test-differential

#11381 fix(goal_planner): smooth goal connection for goal_planner
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/default_fixed_goal_planner.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner/test/test_utils.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/utils.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/utils.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/test/test_utils.cpp
Labels: component:planning, run:build-and-test-differential

#11404 feat: add safety gate for generator-selector framework
  planning/autoware_trajectory_safety_filter/CMakeLists.txt
  planning/autoware_trajectory_safety_filter/README.md
  planning/autoware_trajectory_safety_filter/config/trajectory_safety_filter.param.yaml
  planning/autoware_trajectory_safety_filter/include/autoware/trajectory_safety_filter/filter_context.hpp
  planning/autoware_trajectory_safety_filter/include/autoware/trajectory_safety_filter/filters/collision_filter.hpp
  planning/autoware_trajectory_safety_filter/include/autoware/trajectory_safety_filter/filters/out_of_lane_filter.hpp
  planning/autoware_trajectory_safety_filter/include/autoware/trajectory_safety_filter/safety_filter_interface.hpp
  planning/autoware_trajectory_safety_filter/include/autoware/trajectory_safety_filter/trajectory_safety_filter_node.hpp
  planning/autoware_trajectory_safety_filter/launch/trajectory_safety_filter.launch.xml
  planning/autoware_trajectory_safety_filter/package.xml
  planning/autoware_trajectory_safety_filter/param/parameter_struct.yaml
  planning/autoware_trajectory_safety_filter/plugins.xml
  planning/autoware_trajectory_safety_filter/src/filters/collision_filter.cpp
  planning/autoware_trajectory_safety_filter/src/filters/out_of_lane_filter.cpp
  planning/autoware_trajectory_safety_filter/src/trajectory_safety_filter_node.cpp
Labels: type:documentation, component:planning, run:build-and-test-differential

#10360 refactor(autoware_traffic_light_multi_camera_fusion): split utils and add test
  perception/autoware_traffic_light_multi_camera_fusion/CMakeLists.txt
  perception/autoware_traffic_light_multi_camera_fusion/package.xml
  perception/autoware_traffic_light_multi_camera_fusion/src/traffic_light_multi_camera_fusion_node.cpp
  perception/autoware_traffic_light_multi_camera_fusion/src/traffic_light_multi_camera_fusion_node.hpp
  perception/autoware_traffic_light_multi_camera_fusion/src/traffic_light_multi_camera_fusion_process.cpp
  perception/autoware_traffic_light_multi_camera_fusion/src/traffic_light_multi_camera_fusion_process.hpp
  perception/autoware_traffic_light_multi_camera_fusion/test/test_utils.cpp
Labels: component:perception, run:build-and-test-differential

#11361 feat(intersection): ignore precited path overtaking ego
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection_collision.cpp
Labels: component:planning, run:build-and-test-differential

#11412 feat(run_out): support specifying polygon subtypes for map filtering
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/README.md
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/schema/run_out.schema.json
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/map_data.cpp
Labels: type:documentation, component:planning, run:build-and-test-differential, run:clang-tidy-pr-review

#11011 feat(autoware_dummy_perception_publisher): dummy object predicted path functionality
  simulator/autoware_dummy_perception_publisher/CMakeLists.txt
  simulator/autoware_dummy_perception_publisher/README.md
  simulator/autoware_dummy_perception_publisher/config/dummy_perception_publisher.param.yaml
  simulator/autoware_dummy_perception_publisher/include/autoware/dummy_perception_publisher/dummy_object_movement_base_plugin.hpp
  simulator/autoware_dummy_perception_publisher/include/autoware/dummy_perception_publisher/movement_utils.hpp
  simulator/autoware_dummy_perception_publisher/include/autoware/dummy_perception_publisher/node.hpp
  simulator/autoware_dummy_perception_publisher/include/autoware/dummy_perception_publisher/object_info.hpp
  simulator/autoware_dummy_perception_publisher/include/autoware/dummy_perception_publisher/predicted_object_movement_plugin.hpp
  simulator/autoware_dummy_perception_publisher/include/autoware/dummy_perception_publisher/straight_line_object_movement_plugin.hpp
  simulator/autoware_dummy_perception_publisher/launch/dummy_perception_publisher.launch.xml
  simulator/autoware_dummy_perception_publisher/package.xml
  simulator/autoware_dummy_perception_publisher/schema/dummy_perception_publisher.schema.json
  simulator/autoware_dummy_perception_publisher/src/movement_utils.cpp
  simulator/autoware_dummy_perception_publisher/src/node.cpp
  simulator/autoware_dummy_perception_publisher/src/object_info.cpp
  simulator/autoware_dummy_perception_publisher/src/predicted_object_movement_plugin.cpp
  simulator/autoware_dummy_perception_publisher/src/straight_line_object_movement_plugin.cpp
  simulator/tier4_dummy_object_rviz_plugin/src/tools/car_pose.cpp
  simulator/tier4_dummy_object_rviz_plugin/src/tools/interactive_object.cpp
  simulator/tier4_dummy_object_rviz_plugin/src/tools/interactive_object.hpp
  simulator/tier4_dummy_object_rviz_plugin/src/tools/pedestrian_pose.cpp
  simulator/tier4_dummy_object_rviz_plugin/src/tools/unknown_pose.cpp
Labels: type:documentation, component:simulation, run:build-and-test-differential

#11076 feat(autoware_bevformer): implementation of bevformer using tensorrt
  perception/autoware_tensorrt_bevformer/CMakeLists.txt
  perception/autoware_tensorrt_bevformer/README.md
  perception/autoware_tensorrt_bevformer/TensorRT/README.md
  perception/autoware_tensorrt_bevformer/TensorRT/common/checkMacrosPlugin.cpp
  perception/autoware_tensorrt_bevformer/TensorRT/common/checkMacrosPlugin.h
  perception/autoware_tensorrt_bevformer/TensorRT/common/cuda_helper.cu
  perception/autoware_tensorrt_bevformer/TensorRT/common/cuda_helper.h
  perception/autoware_tensorrt_bevformer/TensorRT/common/cuda_int8.h
  perception/autoware_tensorrt_bevformer/TensorRT/common/helper.h
  perception/autoware_tensorrt_bevformer/TensorRT/common/serialize.h
  perception/autoware_tensorrt_bevformer/TensorRT/cudaComputeVersion.cu
  perception/autoware_tensorrt_bevformer/TensorRT/plugin/modulated_deformable_conv2d/modulatedDeformableConv2dKernel.cu
  perception/autoware_tensorrt_bevformer/TensorRT/plugin/modulated_deformable_conv2d/modulatedDeformableConv2dKernel.h
  perception/autoware_tensorrt_bevformer/TensorRT/plugin/modulated_deformable_conv2d/modulatedDeformableConv2dPlugin.cpp
  perception/autoware_tensorrt_bevformer/TensorRT/plugin/modulated_deformable_conv2d/modulatedDeformableConv2dPlugin.h
  perception/autoware_tensorrt_bevformer/TensorRT/plugin/multi_scale_deformable_attn/multiScaleDeformableAttnKernel.cu
  perception/autoware_tensorrt_bevformer/TensorRT/plugin/multi_scale_deformable_attn/multiScaleDeformableAttnKernel.h
  perception/autoware_tensorrt_bevformer/TensorRT/plugin/multi_scale_deformable_attn/multiScaleDeformableAttnPlugin.cpp
  perception/autoware_tensorrt_bevformer/TensorRT/plugin/multi_scale_deformable_attn/multiScaleDeformableAttnPlugin.h
  perception/autoware_tensorrt_bevformer/TensorRT/plugin/rotate/rotateKernel.cu
  perception/autoware_tensorrt_bevformer/TensorRT/plugin/rotate/rotateKernel.h
  perception/autoware_tensorrt_bevformer/TensorRT/plugin/rotate/rotatePlugin.cpp
  perception/autoware_tensorrt_bevformer/TensorRT/plugin/rotate/rotatePlugin.h
  perception/autoware_tensorrt_bevformer/config/bevformer.param.yaml
  perception/autoware_tensorrt_bevformer/launch/bevformer.launch.xml
  perception/autoware_tensorrt_bevformer/package.xml
  perception/autoware_tensorrt_bevformer/src/bevformer_data_loader.cpp
  perception/autoware_tensorrt_bevformer/src/bevformer_data_loader.hpp
  perception/autoware_tensorrt_bevformer/src/bevformer_data_manager.cpp
  perception/autoware_tensorrt_bevformer/src/bevformer_data_manager.hpp
  perception/autoware_tensorrt_bevformer/src/bevformer_inference_engine.cpp
  perception/autoware_tensorrt_bevformer/src/bevformer_inference_engine.hpp
  perception/autoware_tensorrt_bevformer/src/bevformer_node.cpp
  perception/autoware_tensorrt_bevformer/src/bevformer_node.hpp
  perception/autoware_tensorrt_bevformer/src/bevformer_preprocessor.cpp
  perception/autoware_tensorrt_bevformer/src/bevformer_preprocessor.hpp
  perception/autoware_tensorrt_bevformer/src/marker_util.hpp
  perception/autoware_tensorrt_bevformer/src/marker_utils.cpp
  perception/autoware_tensorrt_bevformer/src/postprocessing/postprocessing.cpp
  perception/autoware_tensorrt_bevformer/src/postprocessing/postprocessing.hpp
  perception/autoware_tensorrt_bevformer/src/preprocessing/augmentation_transforms.cpp
  perception/autoware_tensorrt_bevformer/src/preprocessing/augmentation_transforms.hpp
  perception/autoware_tensorrt_bevformer/src/preprocessing/compose.cpp
  perception/autoware_tensorrt_bevformer/src/preprocessing/data_types.hpp
  perception/autoware_tensorrt_bevformer/src/preprocessing/multi_scale_flip_aug_3d.cpp
  perception/autoware_tensorrt_bevformer/src/preprocessing/multi_scale_flip_aug_3d.hpp
  perception/autoware_tensorrt_bevformer/src/preprocessing/normalize_multiview_image.cpp
  perception/autoware_tensorrt_bevformer/src/preprocessing/normalize_multiview_image.hpp
  perception/autoware_tensorrt_bevformer/src/preprocessing/preprocessing_pipeline.cpp
  perception/autoware_tensorrt_bevformer/src/preprocessing/preprocessing_pipeline.hpp
  perception/autoware_tensorrt_bevformer/src/preprocessing/transforms.hpp
  perception/autoware_tensorrt_bevformer/src/ros_utils.cpp
  perception/autoware_tensorrt_bevformer/src/ros_utils.hpp
Labels: type:documentation, component:perception, run:deploy-docs, run:build-and-test-differential

#11400 chore(carla-interface): fix spell-check
  simulator/autoware_carla_interface/src/autoware_carla_interface/carla_ros.py
Labels: component:simulation, run:build-and-test-differential

#10600 feat(autoware_ptv3): implemented an inference node for ptv3 using tensorrt
  perception/autoware_ptv3/CMakeLists.txt
  perception/autoware_ptv3/README.md
  perception/autoware_ptv3/config/ml_package_ptv3.param.yaml
  perception/autoware_ptv3/config/ptv3.param.yaml
  perception/autoware_ptv3/include/autoware/ptv3/postprocess/postprocess_kernel.hpp
  perception/autoware_ptv3/include/autoware/ptv3/preprocess/point_type.hpp
  perception/autoware_ptv3/include/autoware/ptv3/preprocess/preprocess_kernel.hpp
  perception/autoware_ptv3/include/autoware/ptv3/ptv3_config.hpp
  perception/autoware_ptv3/include/autoware/ptv3/ptv3_node.hpp
  perception/autoware_ptv3/include/autoware/ptv3/ptv3_trt.hpp
  perception/autoware_ptv3/include/autoware/ptv3/ros_utils.hpp
  perception/autoware_ptv3/include/autoware/ptv3/utils.hpp
  perception/autoware_ptv3/include/autoware/ptv3/visibility_control.hpp
  perception/autoware_ptv3/launch/ptv3.launch.xml
  perception/autoware_ptv3/lib/postprocess/postprocess_kernel.cu
  perception/autoware_ptv3/lib/preprocess/preprocess_kernel.cu
  perception/autoware_ptv3/lib/ptv3_trt.cpp
  perception/autoware_ptv3/package.xml
  perception/autoware_ptv3/schema/ml_package_ptv3.schema.json
  perception/autoware_ptv3/schema/ptv3.schema.json
  perception/autoware_ptv3/src/ptv3_node.cpp
Labels: type:documentation, component:perception, run:build-and-test-differential, tag:require-cuda-build-and-test

#11261 feat(start_planner): add plotting functionality for the test of geometric, clothoid, and freespace planner with additional yaml data
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test/src/start_planner_test_helper.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test/test_clothoid_pull_out.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test/test_freespace_pull_out.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test/test_geometric_pull_out.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test/test_shift_pull_out.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test_data/route_data2.1.yaml
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test_data/route_data2.2.yaml
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test_data/route_data2.3.yaml
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test_data/route_data3.1.yaml
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test_data/route_data3.2.yaml
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test_data/route_data3.3.yaml
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test_data/route_data4.1.yaml
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test_data/route_data4.2.yaml
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test_data/route_data4.3.yaml
Labels: component:planning, run:build-and-test-differential

#11427 feat(autoware_freespace_planner): utilize all 3 components of velocity
  planning/autoware_freespace_planner/src/autoware_freespace_planner/utils.cpp
Labels: component:planning, run:build-and-test-differential
