Repository autowarefoundation/autoware_universe, pull requests merged in 2025-08, with the labels that each got.

#11106 fix(static_obstacle_avoidance): fix coding error
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/utils.cpp
Labels: component:planning, run:build-and-test-differential

#11103 fix(control_evaluator): publish dist to uncrossable boundary
  evaluator/autoware_control_evaluator/src/control_evaluator_node.cpp
Labels: component:evaluator, run:build-and-test-differential

#11083 fix(boundary_departure): merging multiple close by departure points
  common/autoware_boundary_departure_checker/include/autoware/boundary_departure_checker/data_structs.hpp
  common/autoware_boundary_departure_checker/include/autoware/boundary_departure_checker/parameters.hpp
  common/autoware_boundary_departure_checker/include/autoware/boundary_departure_checker/utils.hpp
  common/autoware_boundary_departure_checker/src/boundary_departure_checker_abnormality.cpp
  common/autoware_boundary_departure_checker/src/utils.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/config/boundary_departure_prevention.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/schema/boundary_departure_prevention.schema.json
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/boundary_departure_prevention_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/parameters.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/utils.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/utils.hpp
Labels: component:planning, component:common, run:deploy-docs, run:build-and-test-differential

#11098 refactor(pointcloud_preprocessor): extract downsample logic from pickup_based_voxel_downsample_filter
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/downsample_filter/pickup_based_voxel_grid_downsample_filter_node.hpp
  sensing/autoware_pointcloud_preprocessor/src/downsample_filter/pickup_based_voxel_grid_downsample_filter_node.cpp
  sensing/autoware_pointcloud_preprocessor/test/test_pickup_based_voxel_grid_downsample_filter_node.cpp
Labels: component:sensing, run:build-and-test-differential

#11101 fix(autoware_trajectory_follower, autoware_mission_planner_universe, autoware_scenario_selector): use transient_local for operation_mode_state
  control/autoware_trajectory_follower_node/include/autoware/trajectory_follower_node/controller_node.hpp
  control/autoware_trajectory_follower_node/test/test_controller_node.cpp
  planning/autoware_mission_planner_universe/src/mission_planner/mission_planner.cpp
  planning/autoware_scenario_selector/src/node.cpp
Labels: component:planning, component:control, run:build-and-test-differential

#11097 fix(operation_mode_transition_manager): modify the engage condition
  control/autoware_operation_mode_transition_manager/src/state.cpp
Labels: component:control, run:build-and-test-differential

#11112 chore(image_projection_based_fusion): add initializing status log
  perception/autoware_image_projection_based_fusion/src/fusion_node.cpp
Labels: component:perception, run:build-and-test-differential

#11085 feat(boundary_departure): slow down computation
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/boundary_departure_prevention_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/slow_down_interpolator.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/slow_down_interpolator.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/utils.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/utils.hpp
Labels: component:planning, run:build-and-test-differential

#11024 feat(autoware_system_monitor): publish network_status
  system/autoware_system_monitor/include/system_monitor/net_monitor/net_monitor.hpp
  system/autoware_system_monitor/src/net_monitor/net_monitor.cpp
Labels: component:system, run:build-and-test-differential

#11119 fix(planning_validator): init validation status
  control/autoware_control_validator/src/control_validator.cpp
  planning/planning_validator/autoware_planning_validator/include/autoware/planning_validator/types.hpp
Labels: component:planning, component:control, run:build-and-test-differential, run:clang-tidy-pr-review

#11111 fix(multi object tracker): fix classification filter implementation
  perception/autoware_multi_object_tracker/config/data_association_matrix.param.yaml
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/tracker_base.hpp
  perception/autoware_multi_object_tracker/lib/tracker/model/multiple_vehicle_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/pedestrian_and_bicycle_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/tracker_base.cpp
  perception/autoware_multi_object_tracker/schema/data_association_matrix.schema.json
  perception/autoware_multi_object_tracker/src/processor/processor.cpp
  perception/autoware_multi_object_tracker/test/test_bench.cpp
Labels: component:perception, run:build-and-test-differential

#11102 fix(multi_object_tracker): add irregular objects topic
  launch/tier4_perception_launch/launch/object_recognition/tracking/tracking.launch.xml
  perception/autoware_multi_object_tracker/README.md
  perception/autoware_multi_object_tracker/config/input_channels.param.yaml
  perception/autoware_multi_object_tracker/schema/input_channels.schema.json
Labels: type:documentation, component:perception, component:launch, run:deploy-docs, run:build-and-test-differential

#10455 feat(diagnostic_graph_aggregator): diagnostic graph test interface
  examples/autoware_diagnostic_graph_test_examples/CMakeLists.txt
  examples/autoware_diagnostic_graph_test_examples/data/graph.yaml
  examples/autoware_diagnostic_graph_test_examples/package.xml
  examples/autoware_diagnostic_graph_test_examples/test/example.cpp
  system/autoware_diagnostic_graph_aggregator/CMakeLists.txt
  system/autoware_diagnostic_graph_aggregator/include/autoware/diagnostic_graph_aggregator/tests/tests.hpp
  system/autoware_diagnostic_graph_aggregator/src/tests/tests.cpp
Labels: component:system, run:build-and-test-differential

#11020 feat(autoware_system_monitor): publish cpu_temperature
  system/autoware_system_monitor/include/system_monitor/cpu_monitor/cpu_monitor_base.hpp
  system/autoware_system_monitor/include/system_monitor/cpu_monitor/intel_cpu_monitor.hpp
  system/autoware_system_monitor/include/system_monitor/cpu_monitor/raspi_cpu_monitor.hpp
  system/autoware_system_monitor/src/cpu_monitor/cpu_monitor_base.cpp
  system/autoware_system_monitor/src/cpu_monitor/intel_cpu_monitor.cpp
  system/autoware_system_monitor/src/cpu_monitor/raspi_cpu_monitor.cpp
Labels: component:system, run:build-and-test-differential

#11023 feat(autoware_system_monitor): publish hdd_status
  system/autoware_system_monitor/include/system_monitor/hdd_monitor/hdd_monitor.hpp
  system/autoware_system_monitor/src/hdd_monitor/hdd_monitor.cpp
Labels: component:system, run:build-and-test-differential

#11022 feat(autoware_system_monitor): publish gpu_status
  system/autoware_system_monitor/include/system_monitor/gpu_monitor/gpu_monitor_base.hpp
  system/autoware_system_monitor/include/system_monitor/gpu_monitor/nvml_gpu_monitor.hpp
  system/autoware_system_monitor/src/gpu_monitor/gpu_monitor_base.cpp
  system/autoware_system_monitor/src/gpu_monitor/nvml_gpu_monitor.cpp
Labels: component:system, run:build-and-test-differential

#11093 feat: update diffusion planner inputs/outputs
  planning/autoware_diffusion_planner/include/autoware/diffusion_planner/constants.hpp
  planning/autoware_diffusion_planner/include/autoware/diffusion_planner/conversion/lanelet.hpp
  planning/autoware_diffusion_planner/include/autoware/diffusion_planner/diffusion_planner_node.hpp
  planning/autoware_diffusion_planner/include/autoware/diffusion_planner/dimensions.hpp
  planning/autoware_diffusion_planner/include/autoware/diffusion_planner/preprocessing/lane_segments.hpp
  planning/autoware_diffusion_planner/include/autoware/diffusion_planner/utils/utils.hpp
  planning/autoware_diffusion_planner/launch/diffusion_planner.launch.xml
  planning/autoware_diffusion_planner/src/conversion/lanelet.cpp
  planning/autoware_diffusion_planner/src/diffusion_planner_node.cpp
  planning/autoware_diffusion_planner/src/preprocessing/lane_segments.cpp
  planning/autoware_diffusion_planner/src/preprocessing/preprocessing_utils.cpp
  planning/autoware_diffusion_planner/src/utils/utils.cpp
  planning/autoware_diffusion_planner/test/lane_segments_test.cpp
  planning/autoware_diffusion_planner/test/lane_segments_test.hpp
  planning/autoware_diffusion_planner/test/lanelet_integration_test.cpp
Labels: component:planning, run:build-and-test-differential

#11100 feat(autoware_traffic_light_arbiter): handle multiple external sources
  perception/autoware_traffic_light_arbiter/include/autoware/traffic_light_arbiter/traffic_light_arbiter.hpp
  perception/autoware_traffic_light_arbiter/src/traffic_light_arbiter.cpp
  perception/autoware_traffic_light_arbiter/test/test_node.cpp
Labels: component:perception, run:build-and-test-differential

#11125 feat(control_evaluator): add option to output_metrics only when ego is moving
  evaluator/autoware_control_evaluator/config/control_evaluator.param.yaml
  evaluator/autoware_control_evaluator/include/autoware/control_evaluator/control_evaluator_node.hpp
  evaluator/autoware_control_evaluator/schema/autoware_control_evaluator.schema.json
  evaluator/autoware_control_evaluator/src/control_evaluator_node.cpp
Labels: component:evaluator, run:build-and-test-differential

#11132 fix(multi object tracker): tracker type to associate
  perception/autoware_multi_object_tracker/config/multi_object_tracker_node.param.yaml
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/association/association.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/object_model/object_model.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/object_model/types.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/multiple_vehicle_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/pass_through_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/pedestrian_and_bicycle_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/tracker_base.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/vehicle_tracker.hpp
  perception/autoware_multi_object_tracker/lib/association/association.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/multiple_vehicle_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/pass_through_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/pedestrian_and_bicycle_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/pedestrian_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/unknown_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/vehicle_tracker.cpp
  perception/autoware_multi_object_tracker/schema/multi_object_tracker_node.schema.json
  perception/autoware_multi_object_tracker/src/multi_object_tracker_node.cpp
  perception/autoware_multi_object_tracker/src/processor/processor.cpp
  perception/autoware_multi_object_tracker/src/processor/processor.hpp
  perception/autoware_multi_object_tracker/test/test_bench.cpp
  perception/autoware_multi_object_tracker/test/test_bench.hpp
Labels: component:perception, run:build-and-test-differential

#11077 feat(surround_obstacle_checker): add safety factors to the published planning factor
  planning/autoware_surround_obstacle_checker/CMakeLists.txt
  planning/autoware_surround_obstacle_checker/package.xml
  planning/autoware_surround_obstacle_checker/src/debug_marker.cpp
  planning/autoware_surround_obstacle_checker/src/debug_marker.hpp
  planning/autoware_surround_obstacle_checker/src/node.cpp
  planning/autoware_surround_obstacle_checker/src/node.hpp
  planning/autoware_surround_obstacle_checker/src/type_alias.hpp
  planning/autoware_surround_obstacle_checker/src/types.hpp
  planning/autoware_surround_obstacle_checker/test/test_planning_factor.cpp
Labels: component:planning, run:build-and-test-differential, run:clang-tidy-pr-review

#11135 feat: change planning output topic name to /planning/trajectory
  common/autoware_component_interface_specs_universe/include/autoware/component_interface_specs_universe/planning.hpp
  control/autoware_control_performance_analysis/README.md
  control/autoware_control_performance_analysis/launch/control_performance_analysis.launch.xml
  control/autoware_control_validator/launch/control_validator.launch.xml
  control/autoware_lane_departure_checker/README.md
  control/autoware_lane_departure_checker/launch/lane_departure_checker.launch.xml
  control/autoware_obstacle_collision_checker/launch/obstacle_collision_checker.launch.xml
  control/autoware_operation_mode_transition_manager/README.md
  control/autoware_operation_mode_transition_manager/launch/autonomous_mode_transition_flag_node.launch.xml
  control/autoware_operation_mode_transition_manager/launch/operation_mode_transition_manager.launch.xml
  control/autoware_predicted_path_checker/launch/predicted_path_checker.launch.xml
  control/autoware_pure_pursuit/launch/pure_pursuit.launch.xml
  control/autoware_smart_mpc_trajectory_follower/scripts/pympc_trajectory_follower.py
  control/autoware_trajectory_follower_node/launch/simple_trajectory_follower.launch.xml
  evaluator/autoware_control_evaluator/launch/control_evaluator.launch.xml
  evaluator/autoware_planning_evaluator/launch/planning_evaluator.launch.xml
  launch/tier4_control_launch/launch/control.launch.xml
  launch/tier4_planning_launch/launch/planning.launch.xml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/optimization_based_planner/optimization_based_planner.cpp
  planning/planning_validator/autoware_planning_validator/launch/planning_validator.launch.xml
  simulator/autoware_simple_planning_simulator/launch/simple_planning_simulator.launch.py
  system/autoware_component_state_monitor/config/topics.yaml
  tools/reaction_analyzer/param/reaction_analyzer.param.yaml
Labels: type:documentation, component:planning, component:control, component:tools, component:system, component:launch, component:common, component:simulation, component:evaluator, run:build-and-test-differential

#11154 ci(autoware_diffusion_planner): add planning/autoware_diffusion_planner/**
  .github/workflows/build-test-tidy-pr.yaml
Labels: type:ci, run:build-and-test-differential

#11131 fix(boundary_departure): gradual slow down with feasible profile
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/slow_down_interpolator.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/slow_down_interpolator.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/utils.cpp
Labels: component:planning, run:build-and-test-differential

#11150 refactor(boundary_departure): check output exist and matches type for diagnostic level
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/boundary_departure_prevention_module.cpp
Labels: component:planning, run:build-and-test-differential

#11153 feat(mpc_lateral_controller): publish the wheel angle in the predicted trajectory
  control/autoware_mpc_lateral_controller/include/autoware/mpc_lateral_controller/mpc_utils.hpp
  control/autoware_mpc_lateral_controller/src/mpc.cpp
  control/autoware_mpc_lateral_controller/src/mpc_utils.cpp
Labels: component:control, run:build-and-test-differential

#11143 refactor(diffusion_planner): add `LaneSegmentContext`
  planning/autoware_diffusion_planner/include/autoware/diffusion_planner/diffusion_planner_node.hpp
  planning/autoware_diffusion_planner/include/autoware/diffusion_planner/preprocessing/lane_segments.hpp
  planning/autoware_diffusion_planner/src/diffusion_planner_node.cpp
  planning/autoware_diffusion_planner/src/preprocessing/lane_segments.cpp
  planning/autoware_diffusion_planner/test/lane_segments_test.cpp
  planning/autoware_diffusion_planner/test/lanelet_integration_test.cpp
Labels: component:planning, run:build-and-test-differential

#11163 refactor(diffusion_planner): fix `LaneSegmentContext` constructor
  planning/autoware_diffusion_planner/include/autoware/diffusion_planner/diffusion_planner_node.hpp
  planning/autoware_diffusion_planner/include/autoware/diffusion_planner/preprocessing/lane_segments.hpp
  planning/autoware_diffusion_planner/src/diffusion_planner_node.cpp
  planning/autoware_diffusion_planner/src/preprocessing/lane_segments.cpp
  planning/autoware_diffusion_planner/test/lane_segments_test.cpp
  planning/autoware_diffusion_planner/test/lane_segments_test.hpp
Labels: component:planning, run:build-and-test-differential

#11130 feat(boundary_departure_checker): improve steering abnormality
  common/autoware_boundary_departure_checker/CMakeLists.txt
  common/autoware_boundary_departure_checker/include/autoware/boundary_departure_checker/boundary_departure_checker.hpp
  common/autoware_boundary_departure_checker/include/autoware/boundary_departure_checker/data_structs.hpp
  common/autoware_boundary_departure_checker/include/autoware/boundary_departure_checker/parameters.hpp
  common/autoware_boundary_departure_checker/include/autoware/boundary_departure_checker/steering_abnormality_utils.hpp
  common/autoware_boundary_departure_checker/include/autoware/boundary_departure_checker/utils.hpp
  common/autoware_boundary_departure_checker/package.xml
  common/autoware_boundary_departure_checker/src/boundary_departure_checker_abnormality.cpp
  common/autoware_boundary_departure_checker/src/steering_abnormality_utils.cpp
  common/autoware_boundary_departure_checker/src/utils.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/config/boundary_departure_prevention.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/schema/boundary_departure_prevention.schema.json
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/boundary_departure_prevention_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/parameters.hpp
Labels: component:planning, component:common, run:build-and-test-differential

#11166 fix(crosswalk): fix: incorrect inserted stop point calculation for restart suppression
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
Labels: component:planning, run:build-and-test-differential, run:clang-tidy-pr-review

#11165 fix(traffic_light): fix: incorrect inserted stop point calculation for restart suppression
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/scene.cpp
Labels: component:planning, run:build-and-test-differential, run:clang-tidy-pr-review

#11136 perf(boundary_departure): more efficient arc length calculations for ego footprint points
  common/autoware_boundary_departure_checker/include/autoware/boundary_departure_checker/boundary_departure_checker.hpp
  common/autoware_boundary_departure_checker/include/autoware/boundary_departure_checker/data_structs.hpp
  common/autoware_boundary_departure_checker/include/autoware/boundary_departure_checker/utils.hpp
  common/autoware_boundary_departure_checker/src/boundary_departure_checker_abnormality.cpp
  common/autoware_boundary_departure_checker/src/utils.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/boundary_departure_prevention_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/boundary_departure_prevention_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/utils.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/utils.hpp
Labels: component:planning, component:common, run:build-and-test-differential

#11158 fix(command_mode_decider): fix mode continuation condition
  system/autoware_command_mode_decider_plugins/src/command_mode_decider.cpp
  system/autoware_command_mode_decider_plugins/src/command_mode_decider.hpp
Labels: component:system, run:build-and-test-differential

#11168 refactor(diffusion_planner): fix `transform_and_select_rows`
  planning/autoware_diffusion_planner/include/autoware/diffusion_planner/diffusion_planner_node.hpp
  planning/autoware_diffusion_planner/include/autoware/diffusion_planner/preprocessing/lane_segments.hpp
  planning/autoware_diffusion_planner/src/diffusion_planner_node.cpp
  planning/autoware_diffusion_planner/src/preprocessing/lane_segments.cpp
Labels: component:planning, run:build-and-test-differential

#11173 fix(boundary_departure): critical departure not cleared
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/config/boundary_departure_prevention.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/schema/boundary_departure_prevention.schema.json
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/boundary_departure_prevention_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/boundary_departure_prevention_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/parameters.hpp
Labels: component:planning, run:build-and-test-differential

#10944 feat(turn_signal_decider): add turn signal support for roundabouts
  build_depends_humble.repos
  planning/behavior_path_planner/autoware_behavior_path_planner/config/behavior_path_planner.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/docs/behavior_path_planner_turn_signal_design.md
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/data_manager.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/parameters.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/turn_signal_decider.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/turn_signal_decider.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/test/test_turn_signal.cpp
Labels: type:documentation, component:planning, run:build-and-test-differential

#11184 fix(autoware_diffusion_planner): remove unused function
  planning/autoware_diffusion_planner/src/conversion/lanelet.cpp
Labels: component:planning, run:build-and-test-differential

#11180 feat(boundary_departure): support addition parameters for dynamic reconfiguration
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/boundary_departure_prevention_module.cpp
Labels: component:planning, run:build-and-test-differential, tag:pre-commit-autoupdate

#11183 fix(autoware_command_mode_decider): remove unused function
  system/autoware_command_mode_decider/src/command_mode_decider_base.cpp
Labels: component:system, run:build-and-test-differential

#11187 fix(behavior_path_planner): remove unused function
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/include/autoware/behavior_path_start_planner_module/util.hpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/util.cpp
Labels: component:planning, run:build-and-test-differential

#11190 fix(autoware_boundary_departure_checker): remove unused function
  common/autoware_boundary_departure_checker/include/autoware/boundary_departure_checker/utils.hpp
  common/autoware_boundary_departure_checker/src/utils.cpp
Labels: component:common, run:build-and-test-differential

#11193 fix(tier4_planning_factor_rviz_plugin): remove unused function
  visualization/tier4_planning_factor_rviz_plugin/src/planning_factor_rviz_plugin.hpp
Labels: run:build-and-test-differential

#11185 fix(autoware_behavior_path_bidirectional_traffic_module): remove unused function
  planning/behavior_path_planner/autoware_behavior_path_bidirectional_traffic_module/include/autoware/behavior_path_bidirectional_traffic_module/utils.hpp
  planning/behavior_path_planner/autoware_behavior_path_bidirectional_traffic_module/src/utils.cpp
Labels: component:planning, run:build-and-test-differential

#11181 fix(autoware_control_command_gate): solve ignoredReturnValue warning
  control/autoware_control_command_gate/src/common/control_command_filter.cpp
Labels: component:control, run:build-and-test-differential

#11200 fix(autoware_boundary_departure_checker): add missing dependency to magic_enum
  common/autoware_boundary_departure_checker/package.xml
Labels: component:common, run:build-and-test-differential

#11201 fix(autoware_boundary_departure_checker): add missing dependency to magic_enum
  common/autoware_boundary_departure_checker/package.xml
Labels: component:common, run:build-and-test-differential

#11195 fix(autoware_behavior_path_start_planner_module): remove unused function
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/include/autoware/behavior_path_start_planner_module/util.hpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/clothoid_pull_out.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/util.cpp
Labels: component:planning, run:build-and-test-differential

#11205 fix(autoware_behavior_path_start_planner_module): remove unused function
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/include/autoware/behavior_path_start_planner_module/util.hpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/util.cpp
Labels: component:planning, run:build-and-test-differential

#11206 fix(autoware_behavior_velocity_blind_spot_module): remove unused function
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/src/util.cpp
Labels: component:planning, run:build-and-test-differential

#11204 fix(autoware_behavior_path_start_planner_module): remove unused function
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/include/autoware/behavior_path_start_planner_module/clothoid_pull_out.hpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/clothoid_pull_out.cpp
Labels: component:planning, run:build-and-test-differential

#11203 fix(bpp): namespace of the processing time topic
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/interface/scene_module_manager_interface.cpp
Labels: component:planning, run:build-and-test-differential, run:clang-tidy-pr-review

#11208 fix(run_out): add default param file and update schema file
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/config/run_out.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/schema/run_out.schema.json
Labels: component:planning, run:build-and-test-differential

#11197 feat(diffusion_planner): multibatch inference
  planning/autoware_diffusion_planner/config/diffusion_planner.param.yaml
  planning/autoware_diffusion_planner/include/autoware/diffusion_planner/diffusion_planner_node.hpp
  planning/autoware_diffusion_planner/schema/diffusion_planner.schema.json
  planning/autoware_diffusion_planner/src/diffusion_planner_node.cpp
  planning/autoware_diffusion_planner/src/postprocessing/postprocessing_utils.cpp
Labels: component:planning, run:build-and-test-differential

#11124 fix(intersection): move header files to include directory
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/include/autoware/behavior_velocity_intersection_module/decision_result.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/include/autoware/behavior_velocity_intersection_module/interpolated_path_info.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/include/autoware/behavior_velocity_intersection_module/intersection_lanelets.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/include/autoware/behavior_velocity_intersection_module/intersection_stoplines.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/include/autoware/behavior_velocity_intersection_module/manager.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/include/autoware/behavior_velocity_intersection_module/object_manager.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/include/autoware/behavior_velocity_intersection_module/result.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/include/autoware/behavior_velocity_intersection_module/scene_intersection.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/include/autoware/behavior_velocity_intersection_module/scene_merge_from_private_road.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/include/autoware/behavior_velocity_intersection_module/util.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/debug.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/decision_result.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/intersection_lanelets.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/object_manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection_collision.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection_occlusion.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection_prepare_data.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection_stuck.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_merge_from_private_road.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/test/test_util.cpp
Labels: component:planning, run:build-and-test-differential

#11232 feat(tier4_perception_launch): add an option to choose prediction model type
  launch/tier4_perception_launch/launch/object_recognition/prediction/prediction.launch.xml
  launch/tier4_perception_launch/package.xml
  perception/autoware_simpl_prediction/config/simpl.param.yaml
  perception/autoware_simpl_prediction/launch/simpl.launch.xml
Labels: component:perception, component:launch, run:build-and-test-differential, tag:require-cuda-build-and-test

#11234 feat(blind_spot): add the flag to ignore non vru
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/config/blind_spot.param.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/include/autoware/behavior_velocity_blind_spot_module/parameter.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/src/parameter.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/src/scene.cpp
Labels: component:planning, run:build-and-test-differential

#11216 feat(planning_validator): add operational mode state handling and validation filtering
  planning/planning_validator/autoware_planning_validator/CMakeLists.txt
  planning/planning_validator/autoware_planning_validator/README.md
  planning/planning_validator/autoware_planning_validator/include/autoware/planning_validator/node.hpp
  planning/planning_validator/autoware_planning_validator/launch/planning_validator.launch.xml
  planning/planning_validator/autoware_planning_validator/package.xml
  planning/planning_validator/autoware_planning_validator/src/node.cpp
  planning/planning_validator/autoware_planning_validator_trajectory_checker/test/test_trajectory_checker_diag.cpp
Labels: type:documentation, component:planning, run:build-and-test-differential

#11134 feat(arrived_goal): improve arrival judgment when ego-vehicle overshoots goal
  planning/autoware_mission_planner_universe/README.md
  planning/autoware_mission_planner_universe/schema/mission_planner.schema.json
  planning/autoware_mission_planner_universe/src/mission_planner/arrival_checker.cpp
  planning/autoware_mission_planner_universe/src/mission_planner/arrival_checker.hpp
Labels: type:documentation, component:planning, run:build-and-test-differential

#11005 feat(planning, perception): replace wall_timer with generic timer
  perception/autoware_elevation_map_loader/src/elevation_map_loader_node.cpp
  perception/autoware_object_merger/src/object_association_merger_node.cpp
  perception/autoware_tensorrt_bevdet/src/bevdet_node.cpp
  planning/autoware_hazard_lights_selector/src/node.cpp
  planning/autoware_mission_planner_universe/src/mission_planner/mission_planner.cpp
Labels: component:perception, component:planning, run:build-and-test-differential

#11051 test(test_bench): add support for unknown object in unit test
  perception/autoware_multi_object_tracker/README.md
  perception/autoware_multi_object_tracker/test/test_bench.cpp
  perception/autoware_multi_object_tracker/test/test_bench.hpp
  perception/autoware_multi_object_tracker/test/test_multi_object_tracker.cpp
  perception/autoware_multi_object_tracker/test/test_utils.cpp
  perception/autoware_multi_object_tracker/test/test_utils.hpp
Labels: type:documentation, component:perception, run:build-and-test-differential

#11249 feat(steer_offset_estimator): load initial steer offset from arbitrary file and publish steering_offset_error
  vehicle/autoware_steer_offset_estimator/config/steer_offset.param.yaml
  vehicle/autoware_steer_offset_estimator/include/autoware_steer_offset_estimator/steer_offset_estimator_node.hpp
  vehicle/autoware_steer_offset_estimator/launch/steer_offset_estimator.launch.xml
  vehicle/autoware_steer_offset_estimator/src/steer_offset_estimator_node.cpp
Labels: component:vehicle, run:build-and-test-differential

#11251 chore(accel_brake_map_calibrator): change output topic name of accel_brake_map_calibrator
  vehicle/autoware_accel_brake_map_calibrator/launch/accel_brake_map_calibrator.launch.xml
Labels: component:vehicle, run:build-and-test-differential

#11246 fix(diffusion_planner): change the order of width and length
  planning/autoware_diffusion_planner/include/autoware/diffusion_planner/conversion/agent.hpp
  planning/autoware_diffusion_planner/src/conversion/agent.cpp
Labels: component:planning, run:build-and-test-differential

#11256 chore(tier4_control_launch): add maintainers
  launch/tier4_control_launch/package.xml
Labels: component:launch, run:build-and-test-differential

#11242 refactor(launch): topic remapping for object recognition and point cloud input to planning/control module
  launch/tier4_control_launch/launch/control.launch.xml
  launch/tier4_planning_launch/launch/planning.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/motion_planning/motion_planning.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/parking.launch.xml
  planning/planning_validator/autoware_planning_validator/launch/planning_validator.launch.xml
Labels: component:planning, component:launch, run:build-and-test-differential

#11238 fix(intersection_collision_checker): use traffic light context for intersection collision detection
  planning/planning_validator/autoware_planning_validator/README.md
  planning/planning_validator/autoware_planning_validator/config/planning_validator.param.yaml
  planning/planning_validator/autoware_planning_validator/include/autoware/planning_validator/node.hpp
  planning/planning_validator/autoware_planning_validator/include/autoware/planning_validator/types.hpp
  planning/planning_validator/autoware_planning_validator/launch/planning_validator.launch.xml
  planning/planning_validator/autoware_planning_validator/package.xml
  planning/planning_validator/autoware_planning_validator/src/node.cpp
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/README.md
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/config/intersection_collision_checker.param.yaml
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/include/autoware/planning_validator_intersection_collision_checker/utils.hpp
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/package.xml
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/param/intersection_collision_checker_node_parameters.yaml
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/src/intersection_collision_checker.cpp
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/src/utils.cpp
  planning/planning_validator/autoware_planning_validator_test_utils/src/planning_validator_test_utils.cpp
Labels: type:documentation, component:planning, run:build-and-test-differential, run:clang-tidy-pr-review

#11247 fix(intersection): hold collision stop pose
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/include/autoware/behavior_velocity_intersection_module/decision_result.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/include/autoware/behavior_velocity_intersection_module/scene_intersection.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection_collision.cpp
Labels: component:planning, run:build-and-test-differential, run:clang-tidy-pr-review

#11260 refactor(diffusion_planner): move `create_ego_agent_past` to preprocessing_utils
  planning/autoware_diffusion_planner/include/autoware/diffusion_planner/diffusion_planner_node.hpp
  planning/autoware_diffusion_planner/include/autoware/diffusion_planner/preprocessing/preprocessing_utils.hpp
  planning/autoware_diffusion_planner/src/conversion/lanelet.cpp
  planning/autoware_diffusion_planner/src/diffusion_planner_node.cpp
  planning/autoware_diffusion_planner/src/preprocessing/preprocessing_utils.cpp
Labels: component:planning, run:build-and-test-differential

#11244 fix(autoware_multi_object_tracker): update isConfident method signature and logic for time handling
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/tracker_base.hpp
  perception/autoware_multi_object_tracker/lib/tracker/model/pass_through_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/tracker_base.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/unknown_tracker.cpp
  perception/autoware_multi_object_tracker/src/processor/processor.cpp
Labels: component:perception, run:build-and-test-differential

#11230 feat(autoware_multi_object_tracker): improve vehicle motion model kalman filter
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/object_model/object_model.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/object_model/shapes.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/object_model/types.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/vehicle_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/motion_model/bicycle_motion_model.hpp
  perception/autoware_multi_object_tracker/lib/object_model/shapes.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/vehicle_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/motion_model/bicycle_motion_model.cpp
  perception/autoware_multi_object_tracker/models.md
  perception/autoware_multi_object_tracker/src/processor/input_manager.cpp
Labels: type:documentation, component:perception, run:deploy-docs, run:build-and-test-differential

#11258 fix(fusion node): subscribe from concatenation info
  launch/tier4_perception_launch/launch/object_recognition/detection/detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/camera_lidar_detector.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/camera_lidar_irregular_object_detector.launch.py
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/camera_lidar_irregular_object_detector.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/merger/camera_lidar_merger.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/merger/camera_lidar_radar_merger.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/fusion_matching_strategy.hpp
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/fusion_node.hpp
  perception/autoware_image_projection_based_fusion/launch/roi_cluster_fusion.launch.xml
  perception/autoware_image_projection_based_fusion/launch/roi_detected_object_fusion.launch.xml
  perception/autoware_image_projection_based_fusion/launch/roi_pointcloud_fusion.launch.xml
  perception/autoware_image_projection_based_fusion/launch/segmentation_pointcloud_fusion.launch.py
  perception/autoware_image_projection_based_fusion/launch/segmentation_pointcloud_fusion.launch.xml
  perception/autoware_image_projection_based_fusion/package.xml
  perception/autoware_image_projection_based_fusion/src/fusion_matching_strategy.cpp
  perception/autoware_image_projection_based_fusion/src/fusion_node.cpp
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/cuda_concatenate_data/cuda_combine_cloud_handler.hpp
  sensing/autoware_cuda_pointcloud_preprocessor/src/cuda_concatenate_data/cuda_combine_cloud_handler.cpp
  sensing/autoware_pointcloud_preprocessor/docs/concatenate-data.md
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/cloud_collector.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/cloud_collector.ipp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/collector_info.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/combine_cloud_handler.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/combine_cloud_handler_base.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/concatenate_pointclouds.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/concatenation_info_manager.hpp
  sensing/autoware_pointcloud_preprocessor/src/concatenate_data/combine_cloud_handler.cpp
  sensing/autoware_pointcloud_preprocessor/src/concatenate_data/concatenate_pointclouds.cpp
  sensing/autoware_pointcloud_preprocessor/test/test_concatenation_info.cpp
Labels: type:documentation, component:perception, component:sensing, component:launch, run:deploy-docs, run:build-and-test-differential

#11276 fix(multi object tracker): bug fix of object position from tracker state vector
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/motion_model/bicycle_motion_model.hpp
  perception/autoware_multi_object_tracker/lib/tracker/motion_model/bicycle_motion_model.cpp
Labels: component:perception, run:build-and-test-differential

#11215 fix(autoware_motion_velocity_boundary_departure_prevention_module): remove unused function
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/marker_utils/colors.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/debug.cpp
Labels: component:planning, run:build-and-test-differential

#11281 fix(autoware_probabilistic_occupancy_grid_map): skip frame when TF is unavailable to avoid crash
  perception/autoware_probabilistic_occupancy_grid_map/src/laserscan_based_occupancy_grid_map/laserscan_based_occupancy_grid_map_node.cpp
Labels: component:perception, run:build-and-test-differential

#11270 feat(goal_planner): ignore parked object in bus_stop
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_searcher.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
Labels: component:planning, run:build-and-test-differential

#11265 fix(blind_spot): filter non-vru based on lateral clearance
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/include/autoware/behavior_velocity_blind_spot_module/scene.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/include/autoware/behavior_velocity_blind_spot_module/util.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/src/util.cpp
Labels: component:planning, run:build-and-test-differential

#11282 fix(blind_spot): cut virtual blind lines up to intersection lanelet's bound
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/include/autoware/behavior_velocity_blind_spot_module/util.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/src/util.cpp
Labels: component:planning, run:build-and-test-differential

#11274 fix(start_planner): clothoid collision check offset parameter
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/config/start_planner.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/include/autoware/behavior_path_start_planner_module/data_structs.hpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/clothoid_pull_out.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/data_structs.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: type:documentation, component:planning, run:build-and-test-differential

#11284 feat(diffusion_planner): add diagnostics
  planning/autoware_diffusion_planner/include/autoware/diffusion_planner/diffusion_planner_node.hpp
  planning/autoware_diffusion_planner/include/autoware/diffusion_planner/dimensions.hpp
  planning/autoware_diffusion_planner/include/autoware/diffusion_planner/postprocessing/postprocessing_utils.hpp
  planning/autoware_diffusion_planner/package.xml
  planning/autoware_diffusion_planner/src/diffusion_planner_node.cpp
  planning/autoware_diffusion_planner/src/postprocessing/postprocessing_utils.cpp
Labels: component:planning, run:build-and-test-differential

#11275 feat(start_planner): prioritize planner type with list
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/config/start_planner.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/images/priority_order.drawio.svg
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/include/autoware/behavior_path_start_planner_module/data_structs.hpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/include/autoware/behavior_path_start_planner_module/start_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/data_structs.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: type:documentation, component:planning, run:build-and-test-differential

#11286 fix(rear_collision_checker): correct deviation judgment logic from current driving lane
  planning/planning_validator/autoware_planning_validator_rear_collision_checker/src/utils.cpp
Labels: component:planning, run:build-and-test-differential, run:clang-tidy-pr-review

#11243 refactor(boundary_departure): simplify diagnostic pointer call
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/boundary_departure_prevention_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/boundary_departure_prevention_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/parameters.hpp
Labels: component:planning, run:build-and-test-differential

#11245 refactor(boundary_departure): make plan single-exit to eliminate repeated debug logs and redundant update_ptr_ calls
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/boundary_departure_prevention_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/boundary_departure_prevention_module.hpp
Labels: component:planning, run:build-and-test-differential

#11290 fix(autoware_trajectory_optimizer): reduce excessive optimizer logging
  planning/autoware_trajectory_optimizer/src/trajectory_optimizer.cpp
  planning/autoware_trajectory_optimizer/src/utils.cpp
Labels: component:planning, run:build-and-test-differential

#11060 feat(autoware_agnocast_wrapper): support runtime fallback to ROS 2 behavior
  common/autoware_agnocast_wrapper/include/autoware/agnocast_wrapper/autoware_agnocast_wrapper.hpp
  common/autoware_agnocast_wrapper/package.xml
Labels: component:common, run:build-and-test-differential

#11287 feat(goal_planner): make parameters for stopping buffer
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/config/goal_planner.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_parameters.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/manager.cpp
Labels: type:documentation, component:planning, run:build-and-test-differential
