Repository autowarefoundation/autoware_universe, pull requests merged in 2025-04, with the labels that each got.

#10375 fix(pred_path_checker,dyn_obstacle_stop): use output of removeOverlaps
  control/autoware_predicted_path_checker/src/predicted_path_checker_node/predicted_path_checker_node.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_dynamic_obstacle_stop_module/src/dynamic_obstacle_stop_module.cpp
Labels: component:planning, component:control, run:build-and-test-differential

#10376 fix(detection_area): integrate RTC feature
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/config/detection_area.param.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/src/manager.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/src/scene.hpp
Labels: component:planning, run:build-and-test-differential, run:clang-tidy-pr-review

#10319 feat(autoware_overlay_rviz_plugin)!: add static blinking option for turn_signal
  visualization/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/include/signal_display.hpp
  visualization/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/include/turn_signals_display.hpp
  visualization/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/src/signal_display.cpp
  visualization/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/src/turn_signals_display.cpp
Labels: run:build-and-test-differential

#10372 fix(control_validator): memory-related crash when processing large trajectories
  control/autoware_control_validator/src/utils.cpp
Labels: component:control, run:build-and-test-differential

#10354 feat: manual control
  control/autoware_external_cmd_selector/include/autoware/external_cmd_selector/external_cmd_selector_node.hpp
  control/autoware_external_cmd_selector/launch/external_cmd_selector.launch.py
  control/autoware_external_cmd_selector/launch/external_cmd_selector.launch.xml
  control/autoware_external_cmd_selector/package.xml
  control/autoware_external_cmd_selector/src/autoware_external_cmd_selector/external_cmd_selector_node.cpp
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_gate.cpp
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_gate.hpp
  control/autoware_vehicle_cmd_gate/test/src/test_filter_in_vehicle_cmd_gate_node.cpp
  system/autoware_default_adapi/CMakeLists.txt
  system/autoware_default_adapi/config/default_adapi.param.yaml
  system/autoware_default_adapi/launch/default_adapi.launch.py
  system/autoware_default_adapi/package.xml
  system/autoware_default_adapi/src/manual_control.cpp
  system/autoware_default_adapi/src/manual_control.hpp
  system/autoware_default_adapi/src/utils/command_conversion.cpp
  system/autoware_default_adapi/src/utils/command_conversion.hpp
  vehicle/autoware_external_cmd_converter/include/autoware_external_cmd_converter/node.hpp
  vehicle/autoware_external_cmd_converter/launch/external_cmd_converter.launch.py
  vehicle/autoware_external_cmd_converter/launch/external_cmd_converter.launch.xml
  vehicle/autoware_external_cmd_converter/package.xml
  vehicle/autoware_external_cmd_converter/src/node.cpp
  vehicle/autoware_external_cmd_converter/tests/test_external_cmd_converter.cpp
Labels: component:control, component:system, component:vehicle, run:build-and-test-differential

#10377 feat: add autoware_agnocast_wrapper package
  build_depends_humble.repos
  common/autoware_agnocast_wrapper/CMakeLists.txt
  common/autoware_agnocast_wrapper/README.md
  common/autoware_agnocast_wrapper/cmake/agnocast_wrapper_config_extras.cmake
  common/autoware_agnocast_wrapper/include/autoware/agnocast_wrapper/autoware_agnocast_wrapper.hpp
  common/autoware_agnocast_wrapper/package.xml
Labels: type:documentation, component:common, run:build-and-test-differential

#10226 feat(autoware_pointcloud_preprocessor): add pointcloud_densifier package
  sensing/autoware_pointcloud_preprocessor/CMakeLists.txt
  sensing/autoware_pointcloud_preprocessor/README.md
  sensing/autoware_pointcloud_preprocessor/config/pointcloud_densifier.param.yaml
  sensing/autoware_pointcloud_preprocessor/docs/pointcloud-densifier.md
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/pointcloud_densifier/occupancy_grid.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/pointcloud_densifier/pointcloud_densifier_node.hpp
  sensing/autoware_pointcloud_preprocessor/launch/pointcloud_densifier.launch.py
  sensing/autoware_pointcloud_preprocessor/package.xml
  sensing/autoware_pointcloud_preprocessor/schema/pointcloud_densifier_node.schema.json
  sensing/autoware_pointcloud_preprocessor/src/filter.cpp
  sensing/autoware_pointcloud_preprocessor/src/pointcloud_densifier/occupancy_grid.cpp
  sensing/autoware_pointcloud_preprocessor/src/pointcloud_densifier/pointcloud_densifier_node.cpp
Labels: type:documentation, component:sensing, run:build-and-test-differential

#10382 fix(autoware_agnocast_wrapper): invalid comment out
  common/autoware_agnocast_wrapper/cmake/agnocast_wrapper_config_extras.cmake
Labels: component:common, run:build-and-test-differential

#10384 fix(agnocast_wrapper): fix invalid include
  common/autoware_agnocast_wrapper/include/autoware/agnocast_wrapper/autoware_agnocast_wrapper.hpp
Labels: component:common, run:build-and-test-differential

#10301 feat(multi_object_tracker): add diagnostics warning when extrapolation time exceeds limit with latency guarantee enabled
  perception/autoware_multi_object_tracker/config/multi_object_tracker_node.param.yaml
  perception/autoware_multi_object_tracker/schema/multi_object_tracker_node.schema.json
  perception/autoware_multi_object_tracker/src/debugger/debugger.cpp
  perception/autoware_multi_object_tracker/src/debugger/debugger.hpp
  perception/autoware_multi_object_tracker/src/multi_object_tracker_node.cpp
Labels: component:perception, run:build-and-test-differential

#10386 fix(simple_planning_simulator): fix a small turn_signal bug
  simulator/autoware_simple_planning_simulator/src/simple_planning_simulator/simple_planning_simulator_core.cpp
Labels: component:simulation, run:build-and-test-differential

#10390 fix(autoware_agnocast_wrapper): typename in AUTOWARE_POLLING_SUBSCRIBER macro
  common/autoware_agnocast_wrapper/include/autoware/agnocast_wrapper/autoware_agnocast_wrapper.hpp
Labels: component:common, run:build-and-test-differential

#10369 fix: add irregular object detector pipeline
  launch/tier4_perception_launch/launch/object_recognition/detection/detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/camera_lidar_detector.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/camera_lidar_irregular_object_detector.launch.py
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/camera_lidar_irregular_object_detector.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/merger/camera_lidar_merger.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/merger/camera_lidar_radar_merger.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
Labels: component:launch, run:build-and-test-differential

#10391 fix(agnocast_wrapper): fix build error
  common/autoware_agnocast_wrapper/CMakeLists.txt
  common/autoware_agnocast_wrapper/package.xml
Labels: component:common, run:build-and-test-differential

#10380 feat(autoware_default_adapi): release adapi v1.8.0
  system/autoware_default_adapi/src/interface.cpp
  system/autoware_default_adapi/test/node/interface_version.py
Labels: component:system, run:build-and-test-differential

#10284 feat(lidar_centerpoint): add diagnostics for processing time
  perception/autoware_lidar_centerpoint/config/centerpoint_common.param.yaml
  perception/autoware_lidar_centerpoint/include/autoware/lidar_centerpoint/node.hpp
  perception/autoware_lidar_centerpoint/launch/lidar_centerpoint.launch.xml
  perception/autoware_lidar_centerpoint/schema/centerpoint_common.schema.json
  perception/autoware_lidar_centerpoint/src/node.cpp
Labels: component:perception, run:build-and-test-differential

#10393 fix(start_planner): fix segmentation fault when generating backward path
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/util.cpp
Labels: component:planning, run:build-and-test-differential

#10400 fix: missing dependency on tf2_sensor_msgs
  sensing/autoware_pointcloud_preprocessor/package.xml
Labels: component:sensing, run:build-and-test-differential

#10392 fix(agnocast_wrapper): separate message ptr types into unique and shared
  common/autoware_agnocast_wrapper/include/autoware/agnocast_wrapper/autoware_agnocast_wrapper.hpp
Labels: component:common, run:build-and-test-differential

#10402 fix: temporarily ignore autoware_agnocast_wrapper
  common/autoware_agnocast_wrapper/COLCON_IGNORE
Labels: run:build-and-test-differential

#10385 feat(planning_validator): improve lateral acc calculation
  planning/autoware_planning_validator/include/autoware/planning_validator/utils.hpp
  planning/autoware_planning_validator/src/utils.cpp
Labels: component:planning, run:build-and-test-differential

#10405 fix(lidar_marker_localizer): fix typo in launch file
  localization/autoware_landmark_based_localizer/autoware_lidar_marker_localizer/launch/lidar_marker_localizer.launch.xml
Labels: component:localization, run:build-and-test-differential

#10238 fix(start_planner): use waypoints as centerline if available
  build_depends_humble.repos
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/include/autoware/behavior_path_start_planner_module/start_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning, run:build-and-test-differential, run:clang-tidy-pr-review

#10368 feat(autoware_planning_evaluator): refactor planning_evaluator for new metrics
  evaluator/autoware_planning_evaluator/README.md
  evaluator/autoware_planning_evaluator/config/planning_evaluator.param.yaml
  evaluator/autoware_planning_evaluator/include/autoware/planning_evaluator/metric_accumulators/blinker_accumulator.hpp
  evaluator/autoware_planning_evaluator/include/autoware/planning_evaluator/metric_accumulators/common_accumulator.hpp
  evaluator/autoware_planning_evaluator/include/autoware/planning_evaluator/metric_accumulators/planning_factor_accumulator.hpp
  evaluator/autoware_planning_evaluator/include/autoware/planning_evaluator/metric_accumulators/steer_accumulator.hpp
  evaluator/autoware_planning_evaluator/include/autoware/planning_evaluator/metrics/metric.hpp
  evaluator/autoware_planning_evaluator/include/autoware/planning_evaluator/metrics/metrics_utils.hpp
  evaluator/autoware_planning_evaluator/include/autoware/planning_evaluator/metrics/output_metric.hpp
  evaluator/autoware_planning_evaluator/include/autoware/planning_evaluator/metrics_accumulator.hpp
  evaluator/autoware_planning_evaluator/include/autoware/planning_evaluator/metrics_calculator.hpp
  evaluator/autoware_planning_evaluator/include/autoware/planning_evaluator/parameters.hpp
  evaluator/autoware_planning_evaluator/include/autoware/planning_evaluator/planning_evaluator_node.hpp
  evaluator/autoware_planning_evaluator/launch/planning_evaluator.launch.xml
  evaluator/autoware_planning_evaluator/package.xml
  evaluator/autoware_planning_evaluator/schema/autoware_planning_evaluator.schema.json
  evaluator/autoware_planning_evaluator/src/metric_accumulators/blinker_accumulator.cpp
  evaluator/autoware_planning_evaluator/src/metric_accumulators/common_accumulator.cpp
  evaluator/autoware_planning_evaluator/src/metric_accumulators/planning_factor_accumulator.cpp
  evaluator/autoware_planning_evaluator/src/metric_accumulators/steer_accuulator.cpp
  evaluator/autoware_planning_evaluator/src/metrics_accumulator.cpp
  evaluator/autoware_planning_evaluator/src/planning_evaluator_node.cpp
  evaluator/autoware_planning_evaluator/test/test_planning_evaluator_node.cpp
Labels: type:documentation, component:evaluator, run:build-and-test-differential

#10401 refactor(planning_validator): restructure planning validator configuration
  planning/autoware_planning_validator/README.md
  planning/autoware_planning_validator/config/planning_validator.param.yaml
  planning/autoware_planning_validator/include/autoware/planning_validator/parameters.hpp
  planning/autoware_planning_validator/include/autoware/planning_validator/planning_validator.hpp
  planning/autoware_planning_validator/src/planning_validator.cpp
  planning/autoware_planning_validator/test/src/test_parameter.hpp
  planning/autoware_planning_validator/test/src/test_planning_validator_helper.cpp
Labels: type:documentation, component:planning, run:deploy-docs, run:build-and-test-differential

#10363 refactor(control validaor): refactor control_validator
  control/autoware_control_validator/include/autoware/control_validator/control_validator.hpp
  control/autoware_control_validator/src/control_validator.cpp
  control/autoware_control_validator/test/test_control_validator.cpp
Labels: component:control, run:build-and-test-differential

#10415 feat(tier4_simulator_launch): remove exec_depend on autoware_launch
  launch/tier4_simulator_launch/launch/simulator.launch.xml
Labels: component:launch, run:build-and-test-differential

#10416 fix(build_depends_humble.repos): update `autoware_cmake` to address #10410
  build_depends_humble.repos
  visualization/tier4_traffic_light_rviz_plugin/CMakeLists.txt
Labels: run:build-and-test-differential, component:visualization

#10412 fix(pointcloud_preprocessor): added missing includes
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/pointcloud_densifier/pointcloud_densifier_node.hpp
Labels: component:sensing, run:build-and-test-differential

#10417 fix(behavior_path_planner): apply THROTTLE to frequent log
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
Labels: component:planning, run:build-and-test-differential

#10419 fix(planning): apply THROTTLE to frequent log
  planning/autoware_planning_validator/src/planning_validator.cpp
  planning/autoware_remaining_distance_time_calculator/src/remaining_distance_time_calculator_node.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/src/scene.cpp
Labels: component:planning, run:build-and-test-differential

#10413 fix(autoware_compare_map_segmentation): missing includes
  perception/autoware_compare_map_segmentation/src/voxel_based_compare_map_filter/node.hpp
Labels: component:perception, run:build-and-test-differential

#10421 chore(autoware_planning_validator): add new maintainers to planning_validator
  planning/autoware_planning_validator/package.xml
Labels: component:planning, run:build-and-test-differential

#10396 feat(perception_launch): add common param file
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/lidar_dnn_detector.launch.xml
Labels: component:launch, run:build-and-test-differential

#10280 feat(probabilistic_occupancy_grid_map): add diagnostics warning when latency is too long
  perception/autoware_probabilistic_occupancy_grid_map/config/pointcloud_based_occupancy_grid_map.param.yaml
  perception/autoware_probabilistic_occupancy_grid_map/schema/pointcloud_based_occupancy_grid_map.schema.json
  perception/autoware_probabilistic_occupancy_grid_map/src/pointcloud_based_occupancy_grid_map/pointcloud_based_occupancy_grid_map_node.cpp
  perception/autoware_probabilistic_occupancy_grid_map/src/pointcloud_based_occupancy_grid_map/pointcloud_based_occupancy_grid_map_node.hpp
Labels: component:perception, run:build-and-test-differential

#10404 fix: add missing exec_depend
  launch/tier4_perception_launch/package.xml
  simulator/autoware_dummy_perception_publisher/package.xml
  system/autoware_default_adapi/package.xml
  tools/reaction_analyzer/package.xml
Labels: component:tools, component:system, component:launch, component:simulation, run:build-and-test-differential

#10425 feat(mrm_handler): modify log level
  system/autoware_mrm_handler/src/mrm_handler/mrm_handler_core.cpp
Labels: component:system, run:build-and-test-differential

#9977 feat(autoware_cluster_merger): created Schema file and updated ReadME file for parameters settings
  perception/autoware_cluster_merger/README.md
  perception/autoware_cluster_merger/schema/cluster_merger.schema.json
Labels: type:documentation, component:perception, run:deploy-docs, run:build-and-test-differential

#10381 feat(compare_map_segmentation): publish warning when pcl::voxelgrid failed to filter with large leaf size
  perception/autoware_compare_map_segmentation/CMakeLists.txt
  perception/autoware_compare_map_segmentation/include/autoware/compare_map_segmentation/voxel_grid_map_loader.hpp
  perception/autoware_compare_map_segmentation/lib/voxel_grid_map_loader.cpp
  perception/autoware_compare_map_segmentation/package.xml
  perception/autoware_compare_map_segmentation/src/distance_based_compare_map_filter/node.hpp
  perception/autoware_compare_map_segmentation/src/voxel_based_approximate_compare_map_filter/node.cpp
  perception/autoware_compare_map_segmentation/src/voxel_based_approximate_compare_map_filter/node.hpp
  perception/autoware_compare_map_segmentation/src/voxel_based_compare_map_filter/node.cpp
  perception/autoware_compare_map_segmentation/src/voxel_based_compare_map_filter/node.hpp
  perception/autoware_compare_map_segmentation/src/voxel_distance_based_compare_map_filter/node.cpp
  perception/autoware_compare_map_segmentation/src/voxel_distance_based_compare_map_filter/node.hpp
Labels: component:perception, run:build-and-test-differential

#10398 feat(lidar_transfusion): add diagnostics for processing time
  perception/autoware_lidar_transfusion/config/transfusion_common.param.yaml
  perception/autoware_lidar_transfusion/include/autoware/lidar_transfusion/lidar_transfusion_node.hpp
  perception/autoware_lidar_transfusion/launch/lidar_transfusion.launch.xml
  perception/autoware_lidar_transfusion/schema/transfusion_common.schema.json
  perception/autoware_lidar_transfusion/src/lidar_transfusion_node.cpp
Labels: component:perception, run:build-and-test-differential

#10428 feat(autoware_multi_object_tracker): vehicle's ego frame as a parameter
  perception/autoware_multi_object_tracker/config/multi_object_tracker_node.param.yaml
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/odometry.hpp
  perception/autoware_multi_object_tracker/lib/odometry.cpp
  perception/autoware_multi_object_tracker/schema/multi_object_tracker_node.schema.json
  perception/autoware_multi_object_tracker/src/multi_object_tracker_node.cpp
Labels: component:perception, run:build-and-test-differential

#10403 fix(autoware_path_optimizer): incorrect application of input velocity due to badly mapping output trajectory to input trajectory
  planning/autoware_path_optimizer/src/node.cpp
Labels: component:planning, run:build-and-test-differential

#10433 fix(control_evaluator): fix bugs about output_metrics
  evaluator/autoware_control_evaluator/include/autoware/control_evaluator/control_evaluator_node.hpp
  evaluator/autoware_control_evaluator/include/autoware/control_evaluator/metrics/metric.hpp
  evaluator/autoware_control_evaluator/src/control_evaluator_node.cpp
  evaluator/autoware_control_evaluator/test/test_control_evaluator_node.cpp
Labels: component:evaluator, run:build-and-test-differential

#10271 feat(tier4_localization_rviz_plugin): add colored_pose_with_covariance_history
  visualization/tier4_localization_rviz_plugin/CMakeLists.txt
  visualization/tier4_localization_rviz_plugin/icons/classes/ColoredPoseWithCovarianceHistory.png
  visualization/tier4_localization_rviz_plugin/package.xml
  visualization/tier4_localization_rviz_plugin/plugins/plugin_description.xml
  visualization/tier4_localization_rviz_plugin/src/colored_pose_with_covariance_history/colored_pose_with_covariance_history_display.cpp
  visualization/tier4_localization_rviz_plugin/src/colored_pose_with_covariance_history/colored_pose_with_covariance_history_display.hpp
Labels: type:documentation, run:build-and-test-differential, component:visualization

#10278 feat(euclidean_cluster): add diagnostics warning when cluster skipped
  perception/autoware_euclidean_cluster/include/autoware/euclidean_cluster/voxel_grid_based_euclidean_cluster.hpp
  perception/autoware_euclidean_cluster/lib/voxel_grid_based_euclidean_cluster.cpp
  perception/autoware_euclidean_cluster/src/voxel_grid_based_euclidean_cluster_node.cpp
  perception/autoware_euclidean_cluster/src/voxel_grid_based_euclidean_cluster_node.hpp
Labels: component:perception, run:build-and-test-differential

#10432 feat(radar_object_tracker): add diagnostics for checking radar input status
  perception/autoware_radar_object_tracker/config/radar_object_tracker.param.yaml
  perception/autoware_radar_object_tracker/src/radar_object_tracker_node.cpp
  perception/autoware_radar_object_tracker/src/radar_object_tracker_node.hpp
Labels: component:perception, run:build-and-test-differential

#10002 feat(autoware_autonomous_emergency_braking): created Schema file and updated ReadME file for parameters setting
  control/autoware_autonomous_emergency_braking/README.md
  control/autoware_autonomous_emergency_braking/schema/autonomous_emergency_braking.schema.json
Labels: type:documentation, component:control, run:deploy-docs, run:build-and-test-differential

#10397 feat(pointpainting_fusion): add diagnostics for processing time of pointpainting
  perception/autoware_image_projection_based_fusion/config/pointpainting_common.param.yaml
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/pointpainting_fusion/node.hpp
  perception/autoware_image_projection_based_fusion/launch/pointpainting_fusion.launch.xml
  perception/autoware_image_projection_based_fusion/schema/pointpainting_common.schema.json
  perception/autoware_image_projection_based_fusion/src/pointpainting_fusion/node.cpp
Labels: component:perception, run:build-and-test-differential

#10407 feat(tier4_autoware_api_launch): launch tier4_deprecated_api_adapter
  launch/tier4_autoware_api_launch/launch/deprecated_api.launch.xml
Labels: component:launch, run:build-and-test-differential

#10429 chore(autoware_planning_evaluator): record goal_stop_deviation only when ego stop
  evaluator/autoware_planning_evaluator/src/planning_evaluator_node.cpp
Labels: component:evaluator, run:build-and-test-differential

#10437 ci: update versions in build_depends_humble.repos
  build_depends_humble.repos
Labels: run:build-and-test-differential

#9197 perf(autoware_pointcloud_preprocessor): introduce managed transform buffer with implicitly defined listener type
  build_depends_humble.repos
  build_depends_nightly.repos
  common/autoware_universe_utils/include/autoware/universe_utils/ros/managed_transform_buffer.hpp
  common/autoware_universe_utils/test/src/ros/test_managed_transform_buffer.cpp
  perception/autoware_ground_segmentation/README.md
  perception/autoware_ground_segmentation/docs/ransac-ground-filter.md
  perception/autoware_ground_segmentation/docs/ray-ground-filter.md
  perception/autoware_ground_segmentation/docs/scan-ground-filter.md
  perception/autoware_ground_segmentation/package.xml
  perception/autoware_ground_segmentation/src/ransac_ground_filter/node.cpp
  perception/autoware_ground_segmentation/src/ransac_ground_filter/node.hpp
  perception/autoware_ground_segmentation/src/ray_ground_filter/node.hpp
  perception/autoware_ground_segmentation/src/scan_ground_filter/node.hpp
  sensing/autoware_pointcloud_preprocessor/CMakeLists.txt
  sensing/autoware_pointcloud_preprocessor/config/concatenate_and_time_sync_node.param.yaml
  sensing/autoware_pointcloud_preprocessor/config/concatenate_pointclouds.param.yaml
  sensing/autoware_pointcloud_preprocessor/config/distortion_corrector_node.param.yaml
  sensing/autoware_pointcloud_preprocessor/config/time_synchronizer_node.param.yaml
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/combine_cloud_handler.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/concatenate_and_time_sync_node.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/concatenate_pointclouds.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/distortion_corrector/distortion_corrector.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/filter.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/pointcloud_densifier/pointcloud_densifier_node.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/time_synchronizer/time_synchronizer_node.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/vector_map_filter/lanelet2_map_filter_node.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/vector_map_filter/vector_map_inside_area_filter_node.hpp
  sensing/autoware_pointcloud_preprocessor/package.xml
  sensing/autoware_pointcloud_preprocessor/schema/concatenate_and_time_sync_node.schema.json
  sensing/autoware_pointcloud_preprocessor/schema/concatenate_pointclouds.schema.json
  sensing/autoware_pointcloud_preprocessor/schema/distortion_corrector_node.schema.json
  sensing/autoware_pointcloud_preprocessor/schema/time_synchronizer_node.schema.json
  sensing/autoware_pointcloud_preprocessor/src/concatenate_data/combine_cloud_handler.cpp
  sensing/autoware_pointcloud_preprocessor/src/concatenate_data/concatenate_and_time_sync_node.cpp
  sensing/autoware_pointcloud_preprocessor/src/concatenate_data/concatenate_pointclouds.cpp
  sensing/autoware_pointcloud_preprocessor/src/distortion_corrector/distortion_corrector.cpp
  sensing/autoware_pointcloud_preprocessor/src/distortion_corrector/distortion_corrector_node.cpp
  sensing/autoware_pointcloud_preprocessor/src/filter.cpp
  sensing/autoware_pointcloud_preprocessor/src/pointcloud_densifier/pointcloud_densifier_node.cpp
  sensing/autoware_pointcloud_preprocessor/src/time_synchronizer/time_synchronizer_node.cpp
  sensing/autoware_pointcloud_preprocessor/src/vector_map_filter/lanelet2_map_filter_node.cpp
  sensing/autoware_pointcloud_preprocessor/src/vector_map_filter/vector_map_inside_area_filter_node.cpp
  sensing/autoware_pointcloud_preprocessor/test/test_concatenate_node_component.py
  sensing/autoware_pointcloud_preprocessor/test/test_concatenate_node_unit.cpp
  sensing/autoware_pointcloud_preprocessor/test/test_distortion_corrector_node.cpp
Labels: type:documentation, component:perception, component:sensing, component:common, run:build-and-test-differential, tag:require-cuda-build-and-test

#10024 feat(autoware_bevfusion): implementation of bevfusion using tensorrt
  perception/autoware_bevfusion/CMakeLists.txt
  perception/autoware_bevfusion/README.md
  perception/autoware_bevfusion/config/bevfusion_camera_lidar.param.yaml
  perception/autoware_bevfusion/config/bevfusion_lidar.param.yaml
  perception/autoware_bevfusion/config/detection_class_remapper.param.yaml
  perception/autoware_bevfusion/config/ml_package_bevfusion_camera_lidar.param.yaml
  perception/autoware_bevfusion/config/ml_package_bevfusion_lidar.param.yaml
  perception/autoware_bevfusion/include/autoware/bev_ops/bev_pool_cuda.hpp
  perception/autoware_bevfusion/include/autoware/bevfusion/bevfusion_config.hpp
  perception/autoware_bevfusion/include/autoware/bevfusion/bevfusion_node.hpp
  perception/autoware_bevfusion/include/autoware/bevfusion/bevfusion_trt.hpp
  perception/autoware_bevfusion/include/autoware/bevfusion/detection_class_remapper.hpp
  perception/autoware_bevfusion/include/autoware/bevfusion/postprocess/circle_nms_kernel.hpp
  perception/autoware_bevfusion/include/autoware/bevfusion/postprocess/non_maximum_suppression.hpp
  perception/autoware_bevfusion/include/autoware/bevfusion/postprocess/postprocess_kernel.hpp
  perception/autoware_bevfusion/include/autoware/bevfusion/preprocess/point_type.hpp
  perception/autoware_bevfusion/include/autoware/bevfusion/preprocess/pointcloud_densification.hpp
  perception/autoware_bevfusion/include/autoware/bevfusion/preprocess/precomputed_features.hpp
  perception/autoware_bevfusion/include/autoware/bevfusion/preprocess/preprocess_kernel.hpp
  perception/autoware_bevfusion/include/autoware/bevfusion/preprocess/voxel_generator.hpp
  perception/autoware_bevfusion/include/autoware/bevfusion/ros_utils.hpp
  perception/autoware_bevfusion/include/autoware/bevfusion/utils.hpp
  perception/autoware_bevfusion/include/autoware/bevfusion/visibility_control.hpp
  perception/autoware_bevfusion/include/autoware/tensorrt_plugins/get_indices_pairs_implicit_gemm_plugin.hpp
  perception/autoware_bevfusion/include/autoware/tensorrt_plugins/get_indices_pairs_implicit_gemm_plugin_creator.hpp
  perception/autoware_bevfusion/include/autoware/tensorrt_plugins/implicit_gemm_plugin.hpp
  perception/autoware_bevfusion/include/autoware/tensorrt_plugins/implicit_gemm_plugin_creator.hpp
  perception/autoware_bevfusion/include/autoware/tensorrt_plugins/plugin_registration.hpp
  perception/autoware_bevfusion/include/autoware/tensorrt_plugins/plugin_utils.hpp
  perception/autoware_bevfusion/include/autoware/tensorrt_plugins/quick_cumsum_cuda_plugin.hpp
  perception/autoware_bevfusion/include/autoware/tensorrt_plugins/quick_cumsum_cuda_plugin_creator.hpp
  perception/autoware_bevfusion/launch/bevfusion.launch.xml
  perception/autoware_bevfusion/lib/bevfusion_trt.cpp
  perception/autoware_bevfusion/lib/detection_class_remapper.cpp
  perception/autoware_bevfusion/lib/postprocess/circle_nms_kernel.cu
  perception/autoware_bevfusion/lib/postprocess/non_maximum_suppression.cpp
  perception/autoware_bevfusion/lib/postprocess/postprocess_kernel.cu
  perception/autoware_bevfusion/lib/preprocess/pointcloud_densification.cpp
  perception/autoware_bevfusion/lib/preprocess/precomputed_features.cpp
  perception/autoware_bevfusion/lib/preprocess/preprocess_kernel.cu
  perception/autoware_bevfusion/lib/preprocess/voxel_generator.cpp
  perception/autoware_bevfusion/lib/ros_utils.cpp
  perception/autoware_bevfusion/package.xml
  perception/autoware_bevfusion/schema/bevfusion.schema.json
  perception/autoware_bevfusion/schema/detection_class_remapper.schema.json
  perception/autoware_bevfusion/schema/ml_package_bevfusion.schema.json
  perception/autoware_bevfusion/src/bev_ops/bev_pool_cuda.cu
  perception/autoware_bevfusion/src/bevfusion_node.cpp
  perception/autoware_bevfusion/src/tensorrt_plugins/get_indices_pairs_implicit_gemm_plugin.cpp
  perception/autoware_bevfusion/src/tensorrt_plugins/get_indices_pairs_implicit_gemm_plugin_creator.cpp
  perception/autoware_bevfusion/src/tensorrt_plugins/implicit_gemm_plugin.cpp
  perception/autoware_bevfusion/src/tensorrt_plugins/implicit_gemm_plugin_creator.cpp
  perception/autoware_bevfusion/src/tensorrt_plugins/plugin_registration.cpp
  perception/autoware_bevfusion/src/tensorrt_plugins/plugin_utils.cpp
  perception/autoware_bevfusion/src/tensorrt_plugins/quick_cumsum_cuda_plugin.cpp
  perception/autoware_bevfusion/src/tensorrt_plugins/quick_cumsum_cuda_plugin_creator.cpp
  sensing/autoware_cuda_utils/include/autoware/cuda_utils/cuda_utils.hpp
Labels: type:documentation, component:perception, component:sensing, tag:update-codeowners-from-packages, run:build-and-test-differential, tag:require-cuda-build-and-test

#10443 feat(autoware_universe_utils): add intersect and getPoint for Point2d type
  common/autoware_universe_utils/include/autoware/universe_utils/geometry/geometry.hpp
  common/autoware_universe_utils/src/geometry/geometry.cpp
Labels: component:common, run:build-and-test-differential

#10430 feat(ndt_scan_matcher): applied THROTTLE to frequent logs
  localization/autoware_ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
Labels: component:localization, run:build-and-test-differential

#10444 chore(autoware_bevfusion): add maintainer
  perception/autoware_bevfusion/package.xml
Labels: tag:update-codeowners-from-packages, run:build-and-test-differential

#10438 refactor(planning_validator): separate validation check for steering and steering rate
  planning/autoware_planning_validator/README.md
  planning/autoware_planning_validator/config/planning_validator.param.yaml
  planning/autoware_planning_validator/include/autoware/planning_validator/parameters.hpp
  planning/autoware_planning_validator/src/planning_validator.cpp
  planning/autoware_planning_validator/test/src/test_planning_validator_helper.cpp
Labels: type:documentation, component:planning, run:build-and-test-differential

#10431 feat(autoware_multi_object_tracker): implement time keeper
  perception/autoware_multi_object_tracker/config/multi_object_tracker_node.param.yaml
  perception/autoware_multi_object_tracker/schema/multi_object_tracker_node.schema.json
  perception/autoware_multi_object_tracker/src/multi_object_tracker_node.cpp
  perception/autoware_multi_object_tracker/src/multi_object_tracker_node.hpp
  perception/autoware_multi_object_tracker/src/processor/processor.cpp
  perception/autoware_multi_object_tracker/src/processor/processor.hpp
Labels: component:perception, run:build-and-test-differential

#10434 feat(perception_launch): add common param path for transfusion
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/lidar_dnn_detector.launch.xml
Labels: component:launch, run:build-and-test-differential

#10449 fix(autoware_multi_object_tracker): fix bicycle renovation vector dimension
  perception/autoware_multi_object_tracker/lib/tracker/motion_model/bicycle_motion_model.cpp
Labels: component:perception, run:build-and-test-differential

#10451 feat(traffic_light): restart suppression at traffic light stop_point
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/config/traffic_light.param.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/scene.hpp
Labels: component:planning, run:build-and-test-differential

#10283 feat(object_merger): add diagnostics warning for timeout when merging
  perception/autoware_object_merger/config/object_association_merger.param.yaml
  perception/autoware_object_merger/include/autoware/object_merger/object_association_merger_node.hpp
  perception/autoware_object_merger/schema/object_association_merger.schema.json
  perception/autoware_object_merger/src/object_association_merger_node.cpp
Labels: component:perception, run:build-and-test-differential

#10454 fix(autoware_tensorrt_yolox): explicitly install shared library
  perception/autoware_tensorrt_yolox/CMakeLists.txt
Labels: component:perception, run:build-and-test-differential

#10460 feat(tensorrt_yolox): add autoware_utils packages
  perception/autoware_tensorrt_yolox/package.xml
Labels: component:perception, run:build-and-test-differential

#10422 feat(control_validator): add over run estimation feature
  control/autoware_control_validator/README.md
  control/autoware_control_validator/config/control_validator.param.yaml
  control/autoware_control_validator/include/autoware/control_validator/control_validator.hpp
  control/autoware_control_validator/msg/ControlValidatorStatus.msg
  control/autoware_control_validator/src/control_validator.cpp
Labels: type:documentation, component:control, run:build-and-test-differential

#10446 feat(out_of_lane): revise logic for using previous stop pose
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/config/out_of_lane.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/types.hpp
Labels: component:planning, run:build-and-test-differential

#10447 feat(out_of_lane): add ttc threshold for releasing stop decision
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/config/out_of_lane.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_collisions.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_collisions.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/types.hpp
Labels: component:planning, run:build-and-test-differential

#10414 feat: reduce warn log frequency
  perception/autoware_detected_object_validation/src/lanelet_filter/lanelet_filter.cpp
  perception/autoware_simple_object_merger/src/simple_object_merger_node.cpp
  perception/autoware_simple_object_merger/src/simple_object_merger_node.hpp
Labels: component:perception, run:build-and-test-differential

#10461 fix(multi_object_tracker): add required headers
  perception/autoware_multi_object_tracker/lib/association/association.cpp
  perception/autoware_multi_object_tracker/lib/uncertainty/uncertainty_processor.cpp
Labels: component:perception, run:build-and-test-differential

#10463 fix(radar_object_tracker): add required headers
  perception/autoware_radar_object_tracker/src/association/data_association.cpp
Labels: component:perception, run:build-and-test-differential

#10479 build(autoware_planning_validator): fix missing angles dependency
  planning/autoware_planning_validator/package.xml
Labels: component:planning, run:build-and-test-differential

#10478 build(autoware_path_optimizer): fix missing diagnostic_updater dependency
  planning/autoware_path_optimizer/package.xml
Labels: component:planning, run:build-and-test-differential

#10480 build(autoware_radar_object_tracker): fix missing diagnostic_updater dependency
  perception/autoware_radar_object_tracker/package.xml
Labels: component:perception, run:build-and-test-differential

#10123 feat(autoware_path_optimizer): created the schema file,updated the readme file
  planning/autoware_path_optimizer/README.md
  planning/autoware_path_optimizer/schema/path_optimizer.schema.json
Labels: type:documentation, component:planning, run:deploy-docs, run:build-and-test-differential

#8935 refactor(mpc_lateral_controller): rework parameter
  control/autoware_mpc_lateral_controller/README.md
  control/autoware_mpc_lateral_controller/schema/mpc_lateral_controller.schema.json
  control/autoware_mpc_lateral_controller/schema/sub/debug_publish.json
  control/autoware_mpc_lateral_controller/schema/sub/dynamics_model.json
  control/autoware_mpc_lateral_controller/schema/sub/lowpass_filter.json
  control/autoware_mpc_lateral_controller/schema/sub/mpc_optimization.json
  control/autoware_mpc_lateral_controller/schema/sub/path_smoothing.json
  control/autoware_mpc_lateral_controller/schema/sub/steering_offset.json
  control/autoware_mpc_lateral_controller/schema/sub/stop_state.json
  control/autoware_mpc_lateral_controller/schema/sub/system.json
  control/autoware_mpc_lateral_controller/schema/sub/trajectory_extending.json
  control/autoware_mpc_lateral_controller/schema/sub/vehicle_model.json
Labels: type:documentation, component:control, run:deploy-docs, run:build-and-test-differential

#8988 refactor(ground_segmentation): rework parameter
  perception/autoware_ground_segmentation/README.md
  perception/autoware_ground_segmentation/schema/ground_segmentation.schema.json
  perception/autoware_ground_segmentation/schema/ransac_ground_filter.schema.json
  perception/autoware_ground_segmentation/schema/ray_ground_filter.schema.json
  perception/autoware_ground_segmentation/schema/scan_ground_filter.schema.json
Labels: type:documentation, component:perception, run:deploy-docs, run:build-and-test-differential, tag:require-cuda-build-and-test

#10499 fix(autoware_image_projection_based_fusion): add missing params `common_param_path` when not use container
  perception/autoware_image_projection_based_fusion/launch/pointpainting_fusion.launch.xml
Labels: component:perception, run:build-and-test-differential

#10418 fix(control): apply THROTTLE to frequent log
  control/autoware_mpc_lateral_controller/include/autoware/mpc_lateral_controller/qp_solver/qp_solver_osqp.hpp
  control/autoware_mpc_lateral_controller/src/mpc_lateral_controller.cpp
  control/autoware_mpc_lateral_controller/src/qp_solver/qp_solver_osqp.cpp
  control/autoware_mpc_lateral_controller/test/test_mpc.cpp
  control/autoware_operation_mode_transition_manager/src/node.cpp
  control/autoware_operation_mode_transition_manager/src/state.cpp
Labels: component:control, run:build-and-test-differential

#10098 feat(autoware_object_velocity_splitter): created the schema file, updated the readme file
  perception/autoware_object_velocity_splitter/README.md
  perception/autoware_object_velocity_splitter/schema/object_velocity_splitter.schema.json
Labels: type:documentation, component:perception, run:deploy-docs, run:build-and-test-differential

#10379 fix(process_monitor): get process statistics directly from /proc files to avoid process spawning of Linux commands
  system/autoware_system_monitor/CMakeLists.txt
  system/autoware_system_monitor/include/system_monitor/process_monitor/process_information.hpp
  system/autoware_system_monitor/include/system_monitor/process_monitor/process_monitor.hpp
  system/autoware_system_monitor/package.xml
  system/autoware_system_monitor/src/process_monitor/process_monitor.cpp
  system/autoware_system_monitor/test/data/process_monitor/dummy_proc_appearing_process.tar.bz2
  system/autoware_system_monitor/test/data/process_monitor/dummy_proc_base.tar.bz2
  system/autoware_system_monitor/test/data/process_monitor/dummy_proc_base_1s_after.tar.bz2
  system/autoware_system_monitor/test/data/process_monitor/dummy_proc_disappearing_process.tar.bz2
  system/autoware_system_monitor/test/data/process_monitor/dummy_proc_extreme_data.tar.bz2
  system/autoware_system_monitor/test/data/process_monitor/dummy_proc_incomplete_files.tar.bz2
  system/autoware_system_monitor/test/data/process_monitor/dummy_proc_memory_size_format.tar.bz2
  system/autoware_system_monitor/test/data/process_monitor/dummy_proc_missing_files.tar.bz2
  system/autoware_system_monitor/test/data/process_monitor/dummy_proc_no_uptime.tar.bz2
  system/autoware_system_monitor/test/data/process_monitor/dummy_proc_nonnumeric_files.tar.bz2
  system/autoware_system_monitor/test/data/process_monitor/dummy_proc_not_mounted.tar.bz2
  system/autoware_system_monitor/test/data/process_monitor/dummy_proc_overflow_values.tar.bz2
  system/autoware_system_monitor/test/data/process_monitor/dummy_proc_replaced_processes.tar.bz2
  system/autoware_system_monitor/test/data/process_monitor/dummy_proc_stat_comm_variations.tar.bz2
  system/autoware_system_monitor/test/data/process_monitor/dummy_proc_stat_state_variations.tar.bz2
  system/autoware_system_monitor/test/data/process_monitor/dummy_proc_unreadable.tar.bz2
  system/autoware_system_monitor/test/src/process_monitor/echo1.cpp
  system/autoware_system_monitor/test/src/process_monitor/sed1.cpp
  system/autoware_system_monitor/test/src/process_monitor/sort1.cpp
  system/autoware_system_monitor/test/src/process_monitor/test_process_monitor.cpp
  system/autoware_system_monitor/test/src/process_monitor/top1.cpp
  system/autoware_system_monitor/test/src/process_monitor/top2.cpp
  system/autoware_system_monitor/test/src/process_monitor/top3.cpp
Labels: component:system, run:build-and-test-differential

#10502 ci: fix conditions of prepare build_depends.repos file (main branch)
  .github/workflows/build-and-test-differential-arm64.yaml
  .github/workflows/build-and-test-differential.yaml
  .github/workflows/build-and-test-packages-above-differential.yaml
  .github/workflows/check-build-depends.yaml
  .github/workflows/clang-tidy-differential.yaml
Labels: type:ci, run:build-and-test-differential

#10440 feat(planning_validator): add lateral jerk validation feature
  planning/autoware_planning_validator/README.md
  planning/autoware_planning_validator/config/planning_validator.param.yaml
  planning/autoware_planning_validator/include/autoware/planning_validator/parameters.hpp
  planning/autoware_planning_validator/include/autoware/planning_validator/planning_validator.hpp
  planning/autoware_planning_validator/include/autoware/planning_validator/utils.hpp
  planning/autoware_planning_validator/msg/PlanningValidatorStatus.msg
  planning/autoware_planning_validator/src/planning_validator.cpp
  planning/autoware_planning_validator/src/utils.cpp
  planning/autoware_planning_validator/test/src/test_parameter.hpp
  planning/autoware_planning_validator/test/src/test_planning_validator_functions.cpp
  planning/autoware_planning_validator/test/src/test_planning_validator_helper.cpp
  planning/autoware_planning_validator/test/src/test_planning_validator_helper.hpp
Labels: type:documentation, component:planning, run:build-and-test-differential

#10339 feat(planning_validator): check for sudden shift in planning trajectory
  planning/autoware_planning_validator/README.md
  planning/autoware_planning_validator/config/planning_validator.param.yaml
  planning/autoware_planning_validator/include/autoware/planning_validator/parameters.hpp
  planning/autoware_planning_validator/include/autoware/planning_validator/planning_validator.hpp
  planning/autoware_planning_validator/include/autoware/planning_validator/utils.hpp
  planning/autoware_planning_validator/launch/planning_validator.launch.xml
  planning/autoware_planning_validator/msg/PlanningValidatorStatus.msg
  planning/autoware_planning_validator/src/planning_validator.cpp
  planning/autoware_planning_validator/src/utils.cpp
  planning/autoware_planning_validator/test/src/test_parameter.hpp
  planning/autoware_planning_validator/test/src/test_planning_validator_functions.cpp
  planning/autoware_planning_validator/test/src/test_planning_validator_helper.cpp
  planning/autoware_planning_validator/test/src/test_planning_validator_helper.hpp
  planning/autoware_planning_validator/test/src/test_planning_validator_node_interface.cpp
  planning/autoware_planning_validator/test/src/test_planning_validator_pubsub.cpp
  system/autoware_system_diagnostic_monitor/config/planning.yaml
Labels: type:documentation, component:planning, component:system, run:deploy-docs, run:build-and-test-differential

#10506 fix(autoware_system_monitor): quick fix for autoware_system_monitor
  system/autoware_system_monitor/src/process_monitor/process_monitor.cpp
Labels: component:system, run:build-and-test-differential

#10388 feat(motion_velocity_planner): add new run_out module
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/motion_planning/motion_planning.launch.xml
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/CMakeLists.txt
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/README.md
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/config/run_out.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/docs/collisions.png
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/docs/decisions.png
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/docs/dynamic_objects_filtering.png
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/docs/flow_diagram.svg
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/docs/front_left_ego_ls.png
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/docs/front_right_ego_ls.png
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/docs/map_filtering_data.png
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/docs/objects_of_intersect.png
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/docs/rear_left_ego_ls.png
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/docs/rear_right_ego_ls.png
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/docs/stop_slow_virtual_walls.png
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/plugins.xml
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/schema/run_out.schema.json
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/collision.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/collisions.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/debug.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/decision.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/decision.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/footprints.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/footprints.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/map_data.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/map_data.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/objects_filtering.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/objects_filtering.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/parameters.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/run_out_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/run_out_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/slowdown.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/slowdown.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/types.hpp
Labels: type:documentation, component:planning, component:launch, run:deploy-docs, run:build-and-test-differential

#10508 fix(control_validator): fix less trajectory point check
  control/autoware_control_validator/src/control_validator.cpp
Labels: component:control, run:build-and-test-differential

#10477 feat(autoware_motion_velocity_planner): point-cloud clustering optimization
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/config/obstacle_slow_down.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/obstacle_slow_down_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/parameters.hpp
Labels: component:planning, run:build-and-test-differential

#10513 feat(autoware_lidar_transfusion): introduce cuda blackboard to transfusion
  perception/autoware_lidar_transfusion/include/autoware/lidar_transfusion/lidar_transfusion_node.hpp
  perception/autoware_lidar_transfusion/include/autoware/lidar_transfusion/preprocess/pointcloud_densification.hpp
  perception/autoware_lidar_transfusion/include/autoware/lidar_transfusion/preprocess/voxel_generator.hpp
  perception/autoware_lidar_transfusion/include/autoware/lidar_transfusion/transfusion_trt.hpp
  perception/autoware_lidar_transfusion/launch/lidar_transfusion.launch.xml
  perception/autoware_lidar_transfusion/lib/preprocess/pointcloud_densification.cpp
  perception/autoware_lidar_transfusion/lib/preprocess/preprocess_kernel.cu
  perception/autoware_lidar_transfusion/lib/preprocess/voxel_generator.cpp
  perception/autoware_lidar_transfusion/lib/transfusion_trt.cpp
  perception/autoware_lidar_transfusion/package.xml
  perception/autoware_lidar_transfusion/src/lidar_transfusion_node.cpp
Labels: component:perception, run:build-and-test-differential, tag:require-cuda-build-and-test

#10300 feat(autoware_cuda_pointcloud_preprocessor): pointcloud concatenation
  sensing/autoware_cuda_pointcloud_preprocessor/CMakeLists.txt
  sensing/autoware_cuda_pointcloud_preprocessor/README.md
  sensing/autoware_cuda_pointcloud_preprocessor/docs/cuda-concatenate-data.md
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/cuda_concatenate_data/cuda_cloud_collector.hpp
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/cuda_concatenate_data/cuda_combine_cloud_handler.hpp
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/cuda_concatenate_data/cuda_combine_cloud_handler_kernel.hpp
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/cuda_concatenate_data/cuda_concatenate_and_time_sync_node.hpp
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/cuda_concatenate_data/cuda_traits.hpp
  sensing/autoware_cuda_pointcloud_preprocessor/launch/cuda_concatenate_and_time_sync_node.launch.xml
  sensing/autoware_cuda_pointcloud_preprocessor/src/cuda_concatenate_data/cuda_cloud_collector.cpp
  sensing/autoware_cuda_pointcloud_preprocessor/src/cuda_concatenate_data/cuda_collector_matching_strategy.cpp
  sensing/autoware_cuda_pointcloud_preprocessor/src/cuda_concatenate_data/cuda_combine_cloud_handler.cpp
  sensing/autoware_cuda_pointcloud_preprocessor/src/cuda_concatenate_data/cuda_combine_cloud_handler_kernel.cu
  sensing/autoware_cuda_pointcloud_preprocessor/src/cuda_concatenate_data/cuda_concatenate_and_time_sync_node.cpp
Labels: type:documentation, component:sensing, run:build-and-test-differential

#10509 feat(autoware_cuda_pointcloud_preprocessor): replace imu and twist callback with polling subscriber
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/cuda_pointcloud_preprocessor_node.hpp
  sensing/autoware_cuda_pointcloud_preprocessor/src/cuda_pointcloud_preprocessor/cuda_pointcloud_preprocessor_node.cpp
Labels: component:sensing, run:build-and-test-differential

#10450 feat(blind_spot): extend attention area to straight lanelet
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/src/util.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/test/test_util.cpp
Labels: component:planning, run:build-and-test-differential

#10352 feat(autoware_traffic_light_selector): new matching algorithm and unit test
  launch/tier4_perception_launch/launch/perception.launch.xml
  launch/tier4_perception_launch/launch/traffic_light_recognition/traffic_light.launch.xml
  launch/tier4_perception_launch/launch/traffic_light_recognition/traffic_light_node_container.launch.py
  perception/autoware_traffic_light_selector/CMakeLists.txt
  perception/autoware_traffic_light_selector/README.md
  perception/autoware_traffic_light_selector/config/traffic_light_selector.param.yaml
  perception/autoware_traffic_light_selector/launch/traffic_light_selector.launch.xml
  perception/autoware_traffic_light_selector/package.xml
  perception/autoware_traffic_light_selector/schema/traffic_light_selector.schema.json
  perception/autoware_traffic_light_selector/src/traffic_light_selector_node.cpp
  perception/autoware_traffic_light_selector/src/traffic_light_selector_node.hpp
  perception/autoware_traffic_light_selector/src/traffic_light_selector_utils.cpp
  perception/autoware_traffic_light_selector/src/traffic_light_selector_utils.hpp
  perception/autoware_traffic_light_selector/src/utils.cpp
  perception/autoware_traffic_light_selector/src/utils.hpp
  perception/autoware_traffic_light_selector/test/test_utils.cpp
Labels: type:documentation, component:perception, component:launch, run:build-and-test-differential

#10453 refactor(operation_mode_transition_manager): less member variable
  control/autoware_operation_mode_transition_manager/package.xml
  control/autoware_operation_mode_transition_manager/src/node.cpp
  control/autoware_operation_mode_transition_manager/src/node.hpp
  control/autoware_operation_mode_transition_manager/src/state.cpp
  control/autoware_operation_mode_transition_manager/src/state.hpp
Labels: component:control, run:build-and-test-differential

#10533 build(autoware_elevation_map_loader): add map_msgs dependency
  perception/autoware_elevation_map_loader/package.xml
Labels: component:perception, run:build-and-test-differential

#10524 refactor(virtual_traffic_light, QC): replace checkCollision with autoware_utils_geometry
  planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/src/utils.hpp
Labels: component:planning, run:build-and-test-differential

#10535 chore(motion_velocity_run_out): add diagnostic_updater for dependency resolve
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/package.xml
Labels: component:planning

#10536 chore(simulator.launch): remove params of traffic_light_selector
  launch/tier4_simulator_launch/launch/simulator.launch.xml
Labels: component:launch, run:build-and-test-differential

#10531 fix(image_projection_based_fusion): fix redundantAssignment warning
  perception/autoware_image_projection_based_fusion/src/camera_projection.cpp
Labels: component:perception, run:build-and-test-differential

#10494 fix(autoware_gyro_odometer): fix deprecated autoware_utils header
  localization/autoware_gyro_odometer/package.xml
  localization/autoware_gyro_odometer/src/gyro_odometer_core.cpp
  localization/autoware_gyro_odometer/src/gyro_odometer_core.hpp
Labels: component:localization, run:build-and-test-differential

#10518 fix(autoware_pose_instability_detector ): fix deprecated autoware_utils header
  localization/autoware_pose_instability_detector/package.xml
  localization/autoware_pose_instability_detector/src/pose_instability_detector.cpp
Labels: component:localization, run:build-and-test-differential

#10512 fix(autoware_ndt_scan_matcher): fix deprecated autoware_utils header
  localization/autoware_ndt_scan_matcher/include/autoware/ndt_scan_matcher/map_update_module.hpp
  localization/autoware_ndt_scan_matcher/include/autoware/ndt_scan_matcher/ndt_scan_matcher_core.hpp
  localization/autoware_ndt_scan_matcher/package.xml
  localization/autoware_ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
Labels: component:localization, run:build-and-test-differential

#10498 fix(localization_error_monitor): fix deprecated autoware_utils header
  localization/autoware_localization_error_monitor/package.xml
  localization/autoware_localization_error_monitor/src/localization_error_monitor.cpp
  localization/autoware_localization_error_monitor/src/localization_error_monitor.hpp
Labels: component:localization, run:build-and-test-differential

#10528 fix(multi_object_tracker): remove unused function isChannelSpawnEnabled
  perception/autoware_multi_object_tracker/src/processor/input_manager.hpp
Labels: component:perception, run:build-and-test-differential

#10527 fix(multi_object_tracker): remove unused function getMeasurementYaw
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/object_model/shapes.hpp
  perception/autoware_multi_object_tracker/lib/object_model/shapes.cpp
Labels: component:perception, run:build-and-test-differential

#9993 feat(autoware_simple_object_merger): created Schema file and updated ReadME file for parameters setting
  perception/autoware_simple_object_merger/README.md
  perception/autoware_simple_object_merger/schema/autoware_simple_object_merger.schema.json
Labels: type:documentation, component:perception, run:deploy-docs, run:build-and-test-differential

#10459 feat(autoware_radar_objects_adapter): adapter from sensing radar objects into perception detections
  build_depends_humble.repos
  sensing/autoware_radar_objects_adapter/CMakeLists.txt
  sensing/autoware_radar_objects_adapter/README.md
  sensing/autoware_radar_objects_adapter/config/radar_objects_adapter.param.yaml
  sensing/autoware_radar_objects_adapter/include/autoware/radar_objects_adapter/radar_objects_adapter.hpp
  sensing/autoware_radar_objects_adapter/launch/radar_objects_adapter.launch.xml
  sensing/autoware_radar_objects_adapter/package.xml
  sensing/autoware_radar_objects_adapter/schema/radar_objects_adapter.schema.json
  sensing/autoware_radar_objects_adapter/src/radar_objects_adapter.cpp
Labels: type:documentation, component:sensing, run:build-and-test-differential

#10543 chore(tier4_perception_launch): enforce valid perception modes
  launch/tier4_perception_launch/launch/object_recognition/detection/detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/tracking/tracking.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
Labels: component:launch, run:build-and-test-differential

#10532 fix(vehicle_cmd_gate): fix bug in limitLateralSteer
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_filter.cpp
Labels: component:control, run:build-and-test-differential

#10525 refactor(goal_planner): do not use only_route_lanes = false
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/util.cpp
Labels: component:planning, run:build-and-test-differential

#10548 fix(motion_velocity_planner/run_out): fix tf2 include (.hpp->.h)
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/collisions.cpp
Labels: component:planning, run:build-and-test-differential

#10546 feat(behavior_velocity_planner): only wait for the required subscriptions
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/include/autoware/behavior_velocity_blind_spot_module/manager.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/manager.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/src/manager.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/manager.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_drivable_lane_module/src/manager.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/src/manager.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_occlusion_spot_module/src/manager.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/src/manager.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_speed_bump_module/src/manager.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_template_module/src/manager.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/manager.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/src/manager.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_walkway_module/src/manager.hpp
Labels: component:planning, run:build-and-test-differential

#10551 fix(autoware_bevfusion): build error when using ninja-build tool
  perception/autoware_bevfusion/CMakeLists.txt
Labels: component:perception, run:build-and-test-differential

#10542 fix(ndt_scan_matcher): implicit double to float conversion
  localization/autoware_ndt_scan_matcher/include/autoware/ndt_scan_matcher/hyper_parameters.hpp
  localization/autoware_ndt_scan_matcher/include/autoware/ndt_scan_matcher/ndt_omp/ndt_struct.hpp
Labels: component:localization, run:build-and-test-differential

#10500 docs(autoware_ground_segmentation): move parameter table to respective README
  perception/autoware_ground_segmentation/README.md
  perception/autoware_ground_segmentation/docs/ransac-ground-filter.md
  perception/autoware_ground_segmentation/docs/ray-ground-filter.md
  perception/autoware_ground_segmentation/docs/scan-ground-filter.md
  perception/autoware_ground_segmentation/schema/ground_segmentation.schema.json
  perception/autoware_ground_segmentation/schema/ransac_ground_filter.schema.json
  perception/autoware_ground_segmentation/schema/ray_ground_filter.schema.json
  perception/autoware_ground_segmentation/schema/scan_ground_filter.schema.json
Labels: type:documentation, component:perception, run:deploy-docs, run:build-and-test-differential

#9980 feat(radar_threshold_filter): add schema file for radar_threshold_filter and upadted the README file
  sensing/autoware_radar_threshold_filter/README.md
  sensing/autoware_radar_threshold_filter/schema/radar_threshold_filter.schema.json
Labels: type:documentation, component:sensing, run:deploy-docs, run:build-and-test-differential

#10435 feat(behavior_velocity_planner): extend stop line to path bound
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/src/utils.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/src/utils.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/test/test_utils.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection_prepare_data.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/src/scene_no_stopping_area.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/src/utils.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/src/utils.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/test/test_utils.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/utils.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/utils.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/test/test_utils.cpp
Labels: component:planning, run:build-and-test-differential, run:clang-tidy-pr-review

#10558 fix(autoware_probabilistic_occupancy_grid_map): skipped first iteration
  perception/autoware_probabilistic_occupancy_grid_map/include/autoware/probabilistic_occupancy_grid_map/costmap_2d/occupancy_grid_map_base.hpp
  perception/autoware_probabilistic_occupancy_grid_map/lib/costmap_2d/occupancy_grid_map_base.cpp
Labels: component:perception, run:build-and-test-differential, tag:require-cuda-build-and-test

#10537 feat(ring_outlier_filter): update filtering parameter and process
  sensing/autoware_pointcloud_preprocessor/config/ring_outlier_filter_node.param.yaml
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/outlier_filter/ring_outlier_filter_node.hpp
  sensing/autoware_pointcloud_preprocessor/schema/ring_outlier_filter_node.schema.json
  sensing/autoware_pointcloud_preprocessor/src/outlier_filter/ring_outlier_filter_node.cpp
Labels: component:sensing, run:build-and-test-differential

#10562 fix(out_of_lane): throttle log message to avoid spamming the logs
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_module.cpp
Labels: component:planning, run:build-and-test-differential

#10564 fix(motion_velocity_planner): remove unused function
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/objects_filtering.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/objects_filtering.hpp
Labels: component:planning, run:build-and-test-differential

#10563 fix(motion_velocity_planner): remove unused functions
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/types.hpp
Labels: component:planning, run:build-and-test-differential

#10526 chore: re-introduce agnocast and fix version to v2.1.0
  build_depends_humble.repos
  common/autoware_agnocast_wrapper/COLCON_IGNORE
Labels: component:common, run:build-and-test-differential

#10565 fix(autoware_probabilistic_occupancy_grid_map): incorrect placement of updateOrigin init call check
  perception/autoware_probabilistic_occupancy_grid_map/lib/costmap_2d/occupancy_grid_map_base.cpp
Labels: run:build-and-test-differential, tag:require-cuda-build-and-test

#10464 feat(autoware_radar_object_tracker): adaptation to autoware_utils
  perception/autoware_radar_object_tracker/include/autoware_radar_object_tracker/utils/radar_object_tracker_utils.hpp
  perception/autoware_radar_object_tracker/package.xml
  perception/autoware_radar_object_tracker/src/association/data_association.cpp
  perception/autoware_radar_object_tracker/src/tracker/model/constant_turn_rate_motion_tracker.cpp
  perception/autoware_radar_object_tracker/src/tracker/model/linear_motion_tracker.cpp
  perception/autoware_radar_object_tracker/src/utils/radar_object_tracker_utils.cpp
Labels: component:perception, run:build-and-test-differential

#10572 fix(autoware_compare_map_segmentation): handle empty output point cloud
  perception/autoware_compare_map_segmentation/src/voxel_based_compare_map_filter/node.cpp
Labels: component:perception, run:build-and-test-differential
