Repository autowarefoundation/autoware_universe, pull requests merged in 2025-07, with the labels that each got.

#10893 feat(diagnostic_graph_aggregator): add initializing flag
  system/autoware_diagnostic_graph_aggregator/package.xml
  system/autoware_diagnostic_graph_aggregator/src/common/graph/graph.cpp
  system/autoware_diagnostic_graph_aggregator/src/common/graph/graph.hpp
  system/autoware_diagnostic_graph_aggregator/src/common/graph/levels.cpp
  system/autoware_diagnostic_graph_aggregator/src/common/graph/levels.hpp
  system/autoware_diagnostic_graph_aggregator/src/common/graph/nodes.cpp
  system/autoware_diagnostic_graph_aggregator/src/common/graph/nodes.hpp
  system/autoware_diagnostic_graph_aggregator/src/node/aggregator.cpp
  system/autoware_diagnostic_graph_aggregator/src/node/aggregator.hpp
  system/autoware_diagnostic_graph_aggregator/test/src/test_levels.cpp
  system/autoware_diagnostic_graph_aggregator/test/src/tests/timeline.cpp
  system/autoware_diagnostic_graph_aggregator/test/src/tests/timeline.hpp
Labels: component:system, run:build-and-test-differential

#10889 feat(start_planner): add infomation to the PlanningFactor topic
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/CMakeLists.txt
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/start_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test/test_planning_factor.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test_data/dynamic_objects_data.yaml
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test_data/route_data.yaml
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test_data/vehicle_odometry_data.yaml
Labels: component:planning, run:build-and-test-differential

#10905 chore(tier4_state_rviz_plugin): add maintainer
  visualization/tier4_state_rviz_plugin/package.xml
Labels: run:build-and-test-differential

#10900 feat(intersection): adjust collision stopline position to be ahead of ego by braking distance
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/intersection_stoplines.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection_prepare_data.cpp
Labels: component:planning, run:build-and-test-differential

#10895 feat(tier4_state_rviz_plugin): use mrm description api
  visualization/tier4_state_rviz_plugin/src/autoware_state_panel.cpp
  visualization/tier4_state_rviz_plugin/src/include/autoware_state_panel.hpp
Labels: run:build-and-test-differential

#10904 docs(default_adapi_universe): add detailed description for autoware state arrived
  system/autoware_default_adapi_universe/document/autoware-state.md
  system/autoware_default_adapi_universe/document/images/autoware-state-table.drawio.svg
Labels: type:documentation, component:system, run:build-and-test-differential

#10913 docs(motion_velocity_planner): add the run_out module to the planning pages
  planning/.pages
Labels: run:deploy-docs, run:build-and-test-differential

#10835 feat(intersection_module): add infomation to PlanningFactor topic
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/CMakeLists.txt
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/manager.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/test/test_planning_factor.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/test_data/dynamic_objects_data.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/test_data/dynamic_objects_for_occlusion_data.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/test_data/occupancy_grid_for_occlusion_data.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/test_data/path_with_lane_id_data.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/test_data/path_with_lane_id_for_occlusion_data.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/test_data/vehicle_odometry_data.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/test_data/vehicle_odometry_for_occlusion_data.yaml
Labels: component:planning, run:build-and-test-differential

#10915 feat(vehicle_cmd_gate): update maintainer and readme
  control/autoware_vehicle_cmd_gate/README.md
  control/autoware_vehicle_cmd_gate/package.xml
Labels: type:documentation, component:control, run:build-and-test-differential

#10896 chore(run_out): add Zulfaqar Azmi as maintainer
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/package.xml
Labels: run:build-and-test-differential

#10892 feat(run_out): add planning factors
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/decision.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/decision.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/run_out_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/run_out_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/slowdown.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/slowdown.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/types.hpp
Labels: component:planning, run:build-and-test-differential

#10924 fix(image_projection_based_fusion): loosen rois_number check
  perception/autoware_image_projection_based_fusion/src/fusion_matching_strategy.cpp
  perception/autoware_image_projection_based_fusion/src/fusion_node.cpp
Labels: component:perception, run:build-and-test-differential

#10930 fix(autoware_map_based_prediction): take most probable class for prediction
  perception/autoware_map_based_prediction/include/map_based_prediction/utils.hpp
  perception/autoware_map_based_prediction/package.xml
  perception/autoware_map_based_prediction/src/map_based_prediction_node.cpp
  perception/autoware_map_based_prediction/src/predictor_vru.cpp
  perception/autoware_map_based_prediction/src/utils.cpp
Labels: component:perception, run:build-and-test-differential

#10026 feat(tier4_state_rviz_plugin): save & load config of VelocitySteeringFactorsPanel
  visualization/tier4_state_rviz_plugin/src/include/velocity_steering_factors_panel.hpp
  visualization/tier4_state_rviz_plugin/src/velocity_steering_factors_panel.cpp
Labels: run:build-and-test-differential, run:clang-tidy-pr-review

#10934 fix(simple object merger): handle when tf could not get properly
  perception/autoware_simple_object_merger/include/autoware/simple_object_merger/simple_object_merger_base.hpp
  perception/autoware_simple_object_merger/src/simple_detected_object_merger_node.cpp
  perception/autoware_simple_object_merger/src/simple_tracked_object_merger_node.cpp
Labels: component:perception, run:build-and-test-differential

#10928 feat(intersection_collision_checker): improve target lane selection and velocity estimation to reduce false positives
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/config/intersection_collision_checker.param.yaml
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/include/autoware/planning_validator_intersection_collision_checker/types.hpp
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/package.xml
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/param/intersection_collision_checker_node_parameters.yaml
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/src/intersection_collision_checker.cpp
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/src/utils.cpp
Labels: component:planning, run:build-and-test-differential

#10799 fix(planning_validator): fix conflict between trajectory shift and distance deviation checks
  planning/planning_validator/autoware_planning_validator/README.md
  planning/planning_validator/autoware_planning_validator/src/node.cpp
  planning/planning_validator/autoware_planning_validator/src/utils.cpp
  planning/planning_validator/autoware_planning_validator_trajectory_checker/src/trajectory_checker.cpp
Labels: type:documentation, component:planning, run:deploy-docs, run:build-and-test-differential

#10920 fix(lane_change): add curvature threshold for frenet planner
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/config/lane_change.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/structs/debug.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/structs/parameters.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/structs/path.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/markers.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/path.cpp
Labels: type:documentation, component:planning, run:deploy-docs, run:build-and-test-differential

#10916 feat(radar pipeline): radar tracked object pipeline
  launch/tier4_perception_launch/launch/object_recognition/detection/detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/tracking/tracking.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
Labels: component:launch, run:build-and-test-differential

#10942 fix(perception): update radar detection logic for multi-channel support
  launch/tier4_perception_launch/launch/object_recognition/detection/detection.launch.xml
Labels: component:launch, run:build-and-test-differential

#10926 fix(autoware_control_validator): prevent division by zero in time calculation
  control/autoware_control_validator/src/control_validator.cpp
Labels: component:control, run:build-and-test-differential

#10943 chore(bidirectional_traffic): modify readme
  planning/behavior_path_planner/autoware_behavior_path_bidirectional_traffic_module/README.md
Labels: type:documentation, component:planning, run:build-and-test-differential

#10933 feat(behavior_path_planner_common): ignore the turn signals when using the zebra zone
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/turn_signal_decider.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/package.xml
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/turn_signal_decider.cpp
Labels: component:planning, run:build-and-test-differential

#10939 feat(control_validator): enhance trajectory validation with previous reference trajectory
  control/autoware_control_validator/include/autoware/control_validator/control_validator.hpp
  control/autoware_control_validator/src/control_validator.cpp
  control/autoware_control_validator/test/test_control_validator.cpp
Labels: component:control, run:build-and-test-differential

#10946 fix(simulator.launch): replace object recognition tracking with multi-object tracker integration
  launch/tier4_simulator_launch/launch/simulator.launch.xml
Labels: component:launch, run:build-and-test-differential

#10929 perf(multi_object_tracker): fast IoU calculation in the tracker association and merging
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/object_model/shapes.hpp
  perception/autoware_multi_object_tracker/lib/association/association.cpp
  perception/autoware_multi_object_tracker/lib/object_model/shapes.cpp
  perception/autoware_multi_object_tracker/src/processor/processor.cpp
  perception/autoware_multi_object_tracker/src/processor/processor.hpp
Labels: component:perception, run:build-and-test-differential

#10937 fix(autoware_system_monitor): allow variations of arm64 thermal zone type name
  system/autoware_system_monitor/include/system_monitor/system_monitor_utility.hpp
Labels: type:bug, type:arm64, component:system, run:build-and-test-differential

#10902 fix(static_obstacle_avoidance): ensure sufficient avoidance margin on high-curvature paths for parked vehicle avoidance
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/data_structs.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/utils.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/utils.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/test/test_utils.cpp
Labels: component:planning, run:build-and-test-differential, run:clang-tidy-pr-review

#10948 fix(behavior_path_static_obstacle_avoidance_module): fix isWithinLanes
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/utils.cpp
Labels: component:planning, run:build-and-test-differential

#10952 feat(autoware_command_mode_switcher_plugins): publish hazard lights c…
  system/autoware_command_mode_switcher/config/default.param.yaml
  system/autoware_command_mode_switcher_plugins/package.xml
  system/autoware_command_mode_switcher_plugins/src/comfortable_stop.cpp
  system/autoware_command_mode_switcher_plugins/src/comfortable_stop.hpp
Labels: component:system, run:build-and-test-differential

#10953 feat(tier4_system_launch): add arg for diag reset remapping
  launch/tier4_system_launch/launch/system.launch.xml
Labels: component:launch, run:build-and-test-differential

#10894 feat(default_adapi_universe): check mrm state when reset diag
  system/autoware_default_adapi_universe/src/diagnostics.cpp
  system/autoware_default_adapi_universe/src/diagnostics.hpp
Labels: component:system, run:build-and-test-differential

#10917 feat(control_command_gate): support vehicle_cmd_gate interface
  control/autoware_control_command_gate/CMakeLists.txt
  control/autoware_control_command_gate/config/default.param.yaml
  control/autoware_control_command_gate/package.xml
  control/autoware_control_command_gate/src/command/compatibility.cpp
  control/autoware_control_command_gate/src/command/compatibility.hpp
  control/autoware_control_command_gate/src/command/compatibility/emergency_interface.cpp
  control/autoware_control_command_gate/src/command/compatibility/emergency_interface.hpp
  control/autoware_control_command_gate/src/command/compatibility/moderate_stop_interface.cpp
  control/autoware_control_command_gate/src/command/compatibility/moderate_stop_interface.hpp
Labels: component:control, run:build-and-test-differential

#10950 fix: use autowarefoundation for CHANGELOG instead of youtalk fork
  system/autoware_system_monitor/CHANGELOG.rst
Labels: type:documentation, component:system, run:build-and-test-differential

#10962 fix(boundary_departure): disable when autoware disengaged
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/boundary_departure_prevention_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/boundary_departure_prevention_module.hpp
Labels: component:planning, run:build-and-test-differential

#10969 chore(boundary_departure): add logging for monitoring
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/boundary_departure_prevention_module.cpp
Labels: run:build-and-test-differential

#10819 fix(lane_change): fix lc rtc update
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
Labels: component:planning, run:build-and-test-differential

#10949 feat(out_of_lane): cut trajectory footprints behind the current ego front
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/calculate_slowdown_points.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/debug.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/footprint.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/footprint.hpp
Labels: component:planning, run:build-and-test-differential

#10973 fix(tier4_perception_launch): add one more camera fusion
  launch/tier4_perception_launch/launch/object_recognition/detection/detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/camera_lidar_detector.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/merger/camera_lidar_merger.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/merger/camera_lidar_radar_merger.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
  perception/autoware_image_projection_based_fusion/launch/pointpainting_fusion.launch.xml
  perception/autoware_image_projection_based_fusion/launch/roi_cluster_fusion.launch.xml
  perception/autoware_image_projection_based_fusion/launch/roi_detected_object_fusion.launch.xml
  perception/autoware_image_projection_based_fusion/launch/roi_pointcloud_fusion.launch.xml
  perception/autoware_image_projection_based_fusion/launch/segmentation_pointcloud_fusion.launch.xml
Labels: component:perception, component:launch, run:build-and-test-differential

#10966 fix(autoware_system_monitor): fix a ticket link in CHANGELOG.rst (about v0.44.0)
  system/autoware_system_monitor/CHANGELOG.rst
Labels: type:documentation, component:system, run:build-and-test-differential

#10961 feat(autoware_pose_instability_detector): make pose_instability_detector configurable in autoware_launch
  launch/tier4_localization_launch/launch/localization.launch.xml
  launch/tier4_localization_launch/launch/pose_twist_fusion_filter/pose_twist_fusion_filter.launch.xml
Labels: component:launch, run:build-and-test-differential

#10982 style(pre-commit): autofix
  common/autoware_universe_utils/README.md
  control/autoware_autonomous_emergency_braking/README.md
  control/autoware_collision_detector/README.md
  evaluator/autoware_planning_evaluator/README.md
  perception/autoware_probabilistic_occupancy_grid_map/pointcloud-based-occupancy-grid-map.md
  perception/autoware_radar_object_tracker/models.md
  perception/autoware_shape_estimation/README.md
  planning/autoware_path_optimizer/README.md
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/README.md
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/README.md
  simulator/autoware_carla_interface/README.md
  system/autoware_bluetooth_monitor/README.md
  tools/reaction_analyzer/README.md
Labels: type:documentation, component:perception, component:planning, component:control, component:tools, component:system, component:common, component:simulation, run:deploy-docs, component:evaluator, run:build-and-test-differential

#10984 build: fix missing tensorrt_cmake_module dependency
  perception/autoware_tensorrt_plugins/package.xml
Labels: component:perception, run:build-and-test-differential

#10988 feat(autoware_radar_object_tracker): change package name in config file
  perception/autoware_radar_object_tracker/config/radar_object_tracker.param.yaml
Labels: run:build-and-test-differential

#10605 chore(autoware_tensorrt_common): improved logging when loading plugins
  perception/autoware_tensorrt_common/src/tensorrt_common.cpp
Labels: component:perception, run:build-and-test-differential, tag:require-cuda-build-and-test

#10976 feat(autoware_traffic_light_rviz_plugin): add traffic light display
  visualization/autoware_traffic_light_rviz_plugin/CMakeLists.txt
  visualization/autoware_traffic_light_rviz_plugin/README.md
  visualization/autoware_traffic_light_rviz_plugin/include/autoware_traffic_light_rviz_plugin/traffic_light_display.hpp
  visualization/autoware_traffic_light_rviz_plugin/include/autoware_traffic_light_rviz_plugin/traffic_light_types.hpp
  visualization/autoware_traffic_light_rviz_plugin/package.xml
  visualization/autoware_traffic_light_rviz_plugin/plugins/plugin_description.xml
  visualization/autoware_traffic_light_rviz_plugin/src/traffic_light_display.cpp
  visualization/autoware_traffic_light_rviz_plugin/visualization.png
Labels: type:documentation, run:build-and-test-differential

#10441 feat(autoware_bevdet): implementation of bevdet using tensorrt
  .cspell.json
  build_depends_humble.repos
  launch/tier4_perception_launch/launch/object_recognition/detection/detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/camera_bev_detector.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/tracking/tracking.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
  perception/autoware_tensorrt_bevdet/CMakeLists.txt
  perception/autoware_tensorrt_bevdet/README.md
  perception/autoware_tensorrt_bevdet/config/bevdet.param.yaml
  perception/autoware_tensorrt_bevdet/config/bevdet_r50_4dlongterm_depth.yaml
  perception/autoware_tensorrt_bevdet/include/autoware/tensorrt_bevdet/bevdet_node.hpp
  perception/autoware_tensorrt_bevdet/include/autoware/tensorrt_bevdet/marker_utils.hpp
  perception/autoware_tensorrt_bevdet/include/autoware/tensorrt_bevdet/ros_utils.hpp
  perception/autoware_tensorrt_bevdet/launch/tensorrt_bevdet.launch.xml
  perception/autoware_tensorrt_bevdet/package.xml
  perception/autoware_tensorrt_bevdet/src/bevdet_node.cpp
  perception/autoware_tensorrt_bevdet/src/marker_utils.cpp
  perception/autoware_tensorrt_bevdet/src/ros_utils.cpp
Labels: type:documentation, component:perception, component:launch, run:build-and-test-differential

#10981 fix(multi_object_tracker): correct index usage of association matrix
  perception/autoware_multi_object_tracker/src/processor/processor.cpp
Labels: component:perception, run:build-and-test-differential

#10994 docs(autoware_pointcloud_preprocessor): point cloud concatenation strategies
  sensing/autoware_pointcloud_preprocessor/docs/concatenate-data.md
Labels: type:documentation, component:sensing, run:deploy-docs, run:build-and-test-differential

#10991 feat(control_evaluator): add steering_angle_abs metric
  evaluator/autoware_control_evaluator/include/autoware/control_evaluator/control_evaluator_node.hpp
  evaluator/autoware_control_evaluator/include/autoware/control_evaluator/metrics/metric.hpp
  evaluator/autoware_control_evaluator/src/control_evaluator_node.cpp
Labels: component:evaluator, run:build-and-test-differential

#11000 style(pre-commit): autofix (#10982)
  common/autoware_universe_utils/README.md
  control/autoware_autonomous_emergency_braking/README.md
  control/autoware_collision_detector/README.md
  evaluator/autoware_planning_evaluator/README.md
  perception/autoware_probabilistic_occupancy_grid_map/pointcloud-based-occupancy-grid-map.md
  perception/autoware_radar_object_tracker/models.md
  perception/autoware_shape_estimation/README.md
  planning/autoware_path_optimizer/README.md
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/README.md
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/README.md
  simulator/autoware_carla_interface/README.md
  system/autoware_bluetooth_monitor/README.md
  tools/reaction_analyzer/README.md
Labels: type:documentation, component:perception, component:planning, component:control, component:tools, component:system, component:common, component:simulation, component:evaluator, run:build-and-test-differential

#10124 feat(autoware_path_smoother): create the schema file and update the readme
  planning/autoware_path_smoother/README.md
  planning/autoware_path_smoother/schema/elastic_band_smoother.schema.json
Labels: type:documentation, component:planning, run:deploy-docs, run:build-and-test-differential

#10974 test(multi_object_tracker): add test bench and performance testing for multi-object tracker
  perception/autoware_multi_object_tracker/CMakeLists.txt
  perception/autoware_multi_object_tracker/README.md
  perception/autoware_multi_object_tracker/package.xml
  perception/autoware_multi_object_tracker/test/data/test_data1/test_data1.db3
  perception/autoware_multi_object_tracker/test/test_bench.cpp
  perception/autoware_multi_object_tracker/test/test_bench.hpp
  perception/autoware_multi_object_tracker/test/test_multi_object_tracker.cpp
  perception/autoware_multi_object_tracker/test/test_utils.cpp
  perception/autoware_multi_object_tracker/test/test_utils.hpp
Labels: type:documentation, component:perception, run:build-and-test-differential

#10635 fix(autoware_traffic_light_utils): remove default value `setSignalUnknown
  common/autoware_traffic_light_utils/include/autoware/traffic_light_utils/traffic_light_utils.hpp
Labels: component:common, run:build-and-test-differential

#11003 fix(pointcloud_preprocessor): handle empty pointclouds in pickup_based_downsample_filter
  sensing/autoware_pointcloud_preprocessor/CMakeLists.txt
  sensing/autoware_pointcloud_preprocessor/src/downsample_filter/pickup_based_voxel_grid_downsample_filter_node.cpp
  sensing/autoware_pointcloud_preprocessor/test/test_pickup_based_voxel_grid_downsample_filter_node.cpp
Labels: component:sensing, run:build-and-test-differential

#10999 test(cuda_utils): add unit tests, CUDA test helpers that skip if no CUDA device is available
  sensing/autoware_cuda_utils/CMakeLists.txt
  sensing/autoware_cuda_utils/include/autoware/cuda_utils/cuda_gtest_utils.hpp
  sensing/autoware_cuda_utils/package.xml
  sensing/autoware_cuda_utils/test/test_cuda_check_error.cu
  sensing/autoware_cuda_utils/test/test_cuda_unique_ptr.cu
  sensing/autoware_cuda_utils/test/test_cuda_utils.cu
  sensing/autoware_cuda_utils/test/test_main.cpp
  sensing/autoware_cuda_utils/test/test_stream_unique_ptr.cu
Labels: component:sensing, run:build-and-test-differential

#10923 feat(out_of_lane): add objects.extra_width parameter
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/README.md
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/config/out_of_lane.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_collisions.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_collisions.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/types.hpp
Labels: type:documentation, component:planning, run:build-and-test-differential

#10986 refactor(boundary_departure): reduce autonomous mode logging level
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/boundary_departure_prevention_module.cpp
Labels: component:planning, run:build-and-test-differential

#10997 feat(autoware_cuda_utils): add thrust utils
  sensing/autoware_cuda_utils/CMakeLists.txt
  sensing/autoware_cuda_utils/include/autoware/cuda_utils/thrust_utils.hpp
  sensing/autoware_cuda_utils/test/test_thrust_utils.cu
Labels: component:sensing, run:build-and-test-differential

#11002 fix(radar_tracks_objects_converter): publish topic even if objects array is empty
  perception/autoware_radar_tracks_msgs_converter/src/radar_tracks_msgs_converter_node.cpp
Labels: component:perception, run:build-and-test-differential

#10992 feat(rear_collision_checker): improve collision detection logic
  planning/planning_validator/autoware_planning_validator_rear_collision_checker/config/rear_collision_checker.param.yaml
  planning/planning_validator/autoware_planning_validator_rear_collision_checker/param/rear_collision_checker_node_parameters.yaml
  planning/planning_validator/autoware_planning_validator_rear_collision_checker/src/rear_collision_checker.cpp
  planning/planning_validator/autoware_planning_validator_rear_collision_checker/src/utils.cpp
Labels: component:planning, run:build-and-test-differential

#11010 feat(workflow): add workflow to automatically update versions in build_depends.repos
  .github/workflows/bump-repo-versions-build-depends.yaml
Labels: type:ci, run:build-and-test-differential

#11007 fix(planning_validator): suppress unnecessary error messages
  planning/planning_validator/autoware_planning_validator/include/autoware/planning_validator/types.hpp
  planning/planning_validator/autoware_planning_validator/src/node.cpp
Labels: component:planning, run:build-and-test-differential, run:clang-tidy-pr-review

#11026 feat(start_planner): improve trajectory generation with consideration of current ego vehicle heading
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning, run:build-and-test-differential

#10989 fix(behavior_path_planner): resample the path before generating the drivable area
  planning/behavior_path_planner/autoware_behavior_path_planner/include/autoware/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner/src/planner_manager.cpp
Labels: component:planning, run:build-and-test-differential

#11030 feat(intersection_collision_checker): improve logic to address false negatives
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/config/intersection_collision_checker.param.yaml
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/include/autoware/planning_validator_intersection_collision_checker/intersection_collision_checker.hpp
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/include/autoware/planning_validator_intersection_collision_checker/types.hpp
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/param/intersection_collision_checker_node_parameters.yaml
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/src/intersection_collision_checker.cpp
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/src/utils.cpp
Labels: component:planning, run:build-and-test-differential

#11025 fix(diffusion_planner): modify unread parameters
  planning/autoware_diffusion_planner/config/diffusion_planner.param.yaml
  planning/autoware_diffusion_planner/launch/diffusion_planner.launch.xml
Labels: component:planning, run:build-and-test-differential

#10964 feat(start_planner_module): replace getArcCoordinates with getArcCoordinatesOnEgoCenterline
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/freespace_pull_out.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/geometric_pull_out.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/shift_pull_out.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/start_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/util.cpp
Labels: component:planning, run:build-and-test-differential

#11008 fix(intersection): remove reference "traffic_light_id" as it is deprecated
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection.cpp
Labels: component:planning, run:build-and-test-differential

#11034 fix(intersection_collision_checker): use parameter instead of static constexpr
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/include/autoware/planning_validator_intersection_collision_checker/types.hpp
Labels: component:planning, run:build-and-test-differential

#11035 fix(static_obstacle_avoidance): load missing unstable classification parameter
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/parameter_helper.hpp
Labels: component:planning, run:build-and-test-differential

#11027 feat(crosswalk): improve robustness to prevent stop decision from being canceled by transient noise
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/README.md
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/config/crosswalk.param.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
Labels: type:documentation, component:planning, run:build-and-test-differential, run:clang-tidy-pr-review

#11042 fix(autoware_object_merger): add merger priority_mode
  launch/tier4_perception_launch/launch/object_recognition/detection/detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/merger/camera_lidar_merger.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/merger/camera_lidar_radar_merger.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
  perception/autoware_object_merger/config/object_association_merger.param.yaml
  perception/autoware_object_merger/include/autoware/object_merger/object_association_merger_node.hpp
  perception/autoware_object_merger/schema/object_association_merger.schema.json
  perception/autoware_object_merger/src/object_association_merger_node.cpp
Labels: component:perception, component:launch, run:deploy-docs, run:build-and-test-differential

#11032 fix(static_obstacle_avoidance): correct lane departure check during obstacle avoidance
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
Labels: component:planning, run:build-and-test-differential

#11028 feat(map_based_prediction): prevent predicted path from chattering under noisy pose and velocity estimation
  perception/autoware_map_based_prediction/README.md
  perception/autoware_map_based_prediction/config/map_based_prediction.param.yaml
  perception/autoware_map_based_prediction/include/map_based_prediction/data_structure.hpp
  perception/autoware_map_based_prediction/include/map_based_prediction/predictor_vru.hpp
  perception/autoware_map_based_prediction/schema/map_based_prediction.schema.json
  perception/autoware_map_based_prediction/src/map_based_prediction_node.cpp
  perception/autoware_map_based_prediction/src/predictor_vru.cpp
Labels: type:documentation, component:perception, run:deploy-docs, run:build-and-test-differential, run:clang-tidy-pr-review

#11048 feat(autoware_traffic_light_classifier): move `rclcpp::shutdown();` from child to parent to avoid `rclcpp::exceptions::RCLError`
  perception/autoware_traffic_light_classifier/src/classifier/cnn_classifier.cpp
  perception/autoware_traffic_light_classifier/src/traffic_light_classifier_node.cpp
Labels: component:perception, run:build-and-test-differential

#10781 refactor(vehicle_cmd_gate): rename variable naming consistency in vehicle command filter
  control/autoware_vehicle_cmd_gate/README.md
  control/autoware_vehicle_cmd_gate/config/vehicle_cmd_gate.param.yaml
  control/autoware_vehicle_cmd_gate/schema/vehicle_cmd_gate.json
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_filter.cpp
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_filter.hpp
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_gate.cpp
  control/autoware_vehicle_cmd_gate/test/src/test_filter_in_vehicle_cmd_gate_node.cpp
  control/autoware_vehicle_cmd_gate/test/src/test_vehicle_cmd_filter.cpp
Labels: type:documentation, component:control, run:build-and-test-differential

#11056 feat(repos): upgrade agnocast version to 2.1.1
  build_depends_humble.repos
Labels: run:build-and-test-differential, common

#11057 feat(autoware_vehicle_cmd_gate): steer rate limit with lateral jerk constraint
  control/autoware_vehicle_cmd_gate/README.md
  control/autoware_vehicle_cmd_gate/config/vehicle_cmd_gate.param.yaml
  control/autoware_vehicle_cmd_gate/schema/vehicle_cmd_gate.json
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_filter.cpp
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_filter.hpp
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_gate.cpp
  control/autoware_vehicle_cmd_gate/test/src/test_vehicle_cmd_filter.cpp
Labels: type:documentation, component:control, run:build-and-test-differential

#11061 docs(autoware_diffusion_planner): remove obsolete information
  planning/autoware_diffusion_planner/README.md
Labels: type:documentation, component:planning, run:deploy-docs, run:build-and-test-differential

#11058 fix(intersection_collision_checker): improve logic for objects near overlap
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/config/intersection_collision_checker.param.yaml
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/include/autoware/planning_validator_intersection_collision_checker/types.hpp
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/param/intersection_collision_checker_node_parameters.yaml
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/src/intersection_collision_checker.cpp
Labels: component:planning, run:build-and-test-differential

#11062 feat(out_of_lane): add safety factors to the published planning factor
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/calculate_slowdown_points.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/calculate_slowdown_points.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_collisions.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_collisions.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/types.hpp
Labels: component:planning, run:build-and-test-differential

#10998 perf(autoware_cuda_pointcloud_preprocessor): execute thrust operations on the node's own CUDA stream
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/cuda_pointcloud_preprocessor.hpp
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/organize_kernels.hpp
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/types.hpp
  sensing/autoware_cuda_pointcloud_preprocessor/src/cuda_pointcloud_preprocessor/cuda_pointcloud_preprocessor.cu
  sensing/autoware_cuda_pointcloud_preprocessor/src/cuda_pointcloud_preprocessor/organize_kernels.cu
Labels: component:sensing, run:build-and-test-differential

#11039 feat(autoware_behavior_path_start_planner_module): unit test from yaml files
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test/include/start_planner_test_helper.hpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test/src/start_planner_test_helper.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test/test_shift_pull_out.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test_data/route_data2.yaml
Labels: component:planning, run:build-and-test-differential

#11059 fix(lane_change): properly handle force activation when there is no valid LC path
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/interface.cpp
Labels: component:planning, run:build-and-test-differential

#11078 chore(surround_obstacle_checker): update maintainer
  planning/autoware_surround_obstacle_checker/package.xml
Labels: component:planning, run:build-and-test-differential, run:clang-tidy-pr-review

#10824 feat(autoware_simpl): add ML-based motion prediction node
  .github/CODEOWNERS
  perception/autoware_simpl_prediction/CMakeLists.txt
  perception/autoware_simpl_prediction/README.md
  perception/autoware_simpl_prediction/config/simpl.param.yaml
  perception/autoware_simpl_prediction/include/autoware/simpl_prediction/archetype/agent.hpp
  perception/autoware_simpl_prediction/include/autoware/simpl_prediction/archetype/exception.hpp
  perception/autoware_simpl_prediction/include/autoware/simpl_prediction/archetype/fixed_queue.hpp
  perception/autoware_simpl_prediction/include/autoware/simpl_prediction/archetype/map.hpp
  perception/autoware_simpl_prediction/include/autoware/simpl_prediction/archetype/polyline.hpp
  perception/autoware_simpl_prediction/include/autoware/simpl_prediction/archetype/result.hpp
  perception/autoware_simpl_prediction/include/autoware/simpl_prediction/archetype/tensor.hpp
  perception/autoware_simpl_prediction/include/autoware/simpl_prediction/conversion/lanelet.hpp
  perception/autoware_simpl_prediction/include/autoware/simpl_prediction/conversion/tracked_object.hpp
  perception/autoware_simpl_prediction/include/autoware/simpl_prediction/processing/postprocessor.hpp
  perception/autoware_simpl_prediction/include/autoware/simpl_prediction/processing/preprocessor.hpp
  perception/autoware_simpl_prediction/include/autoware/simpl_prediction/simpl_node.hpp
  perception/autoware_simpl_prediction/include/autoware/simpl_prediction/trt_simpl.hpp
  perception/autoware_simpl_prediction/launch/simpl.launch.xml
  perception/autoware_simpl_prediction/package.xml
  perception/autoware_simpl_prediction/schema/simpl.schema.json
  perception/autoware_simpl_prediction/src/archetype/agent.cpp
  perception/autoware_simpl_prediction/src/archetype/polyline.cpp
  perception/autoware_simpl_prediction/src/conversion/lanelet.cpp
  perception/autoware_simpl_prediction/src/conversion/tracked_object.cpp
  perception/autoware_simpl_prediction/src/processing/postprocessor.cpp
  perception/autoware_simpl_prediction/src/processing/preprocessor.cpp
  perception/autoware_simpl_prediction/src/simpl_node.cpp
  perception/autoware_simpl_prediction/src/trt_simpl.cpp
  perception/autoware_simpl_prediction/test/test_agent.cpp
  perception/autoware_simpl_prediction/test/test_exception.cpp
  perception/autoware_simpl_prediction/test/test_fixed_queue.cpp
  perception/autoware_simpl_prediction/test/test_lanelet_conversion.cpp
  perception/autoware_simpl_prediction/test/test_map.cpp
  perception/autoware_simpl_prediction/test/test_polyline.cpp
  perception/autoware_simpl_prediction/test/test_postprocessor.cpp
  perception/autoware_simpl_prediction/test/test_preprocessor.cpp
  perception/autoware_simpl_prediction/test/test_result.cpp
  perception/autoware_simpl_prediction/test/test_tensor.cpp
  perception/autoware_simpl_prediction/test/test_tracked_object_conversion.cpp
Labels: type:documentation, component:perception, type:ci, run:build-and-test-differential

#11082 feat(run_out): add parameters to select which debug markers to publish
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/CMakeLists.txt
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/config/run_out.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/schema/run_out.schema.json
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/debug.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/parameters.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/run_out_module.cpp
Labels: component:planning, run:build-and-test-differential

#11070 docs(intersection_collision_checker): update documentation
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/README.md
Labels: type:documentation, component:planning, run:deploy-docs, run:build-and-test-differential

#11080 refactor(clothoid_pull_out): change log level from WARN to DEBUG/INFO
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/clothoid_pull_out.cpp
Labels: component:planning, run:deploy-docs, run:build-and-test-differential
