Repository autowarefoundation/autoware_universe, pull requests merged in 2025-06, with the labels that each got.

#10729 feat(behavior_path_planner): organize a part of behavior path info/debug markers
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/util.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/util.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/start_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/debug.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/debug.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
Labels: component:planning, run:build-and-test-differential

#10575 feat(tier4_perception_rviz_plugin): add RViz plugin for DetectedObjectsWithFeature message visualization
  visualization/tier4_perception_rviz_plugin/CHANGELOG.rst
  visualization/tier4_perception_rviz_plugin/CMakeLists.txt
  visualization/tier4_perception_rviz_plugin/README.md
  visualization/tier4_perception_rviz_plugin/icons/classes/DetectedObjectsWithFeature.png
  visualization/tier4_perception_rviz_plugin/images/detected-object-with-feature-visualization-description.jpg
  visualization/tier4_perception_rviz_plugin/include/tier4_perception_rviz_plugin/object_detection/detected_objects_wf_display.hpp
  visualization/tier4_perception_rviz_plugin/include/tier4_perception_rviz_plugin/object_detection/detected_objects_wf_helper.hpp
  visualization/tier4_perception_rviz_plugin/include/tier4_perception_rviz_plugin/visibility_control.hpp
  visualization/tier4_perception_rviz_plugin/package.xml
  visualization/tier4_perception_rviz_plugin/plugins_description.xml
  visualization/tier4_perception_rviz_plugin/src/object_detection/detected_objects_wf_display.cpp
  visualization/tier4_perception_rviz_plugin/src/object_detection/detected_objects_wf_helper.cpp
Labels: type:documentation, run:build-and-test-differential

#10723 fix(cuda_pointcloud_preprocessor): reset data when receiving zero siz…
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/organize_kernels.hpp
  sensing/autoware_cuda_pointcloud_preprocessor/src/cuda_pointcloud_preprocessor/common_kernels.cu
  sensing/autoware_cuda_pointcloud_preprocessor/src/cuda_pointcloud_preprocessor/cuda_pointcloud_preprocessor.cu
  sensing/autoware_cuda_pointcloud_preprocessor/src/cuda_pointcloud_preprocessor/organize_kernels.cu
Labels: component:sensing, run:build-and-test-differential, tag:require-cuda-build-and-test

#10544 feat(intersection): experimental overshoot in merging
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/intersection_stoplines.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection_collision.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection_prepare_data.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/util.hpp
Labels: component:planning, run:build-and-test-differential

#10741 chore(control_evaluator): refactor control evaluator's logics.
  evaluator/autoware_control_evaluator/src/control_evaluator_node.cpp
Labels: component:evaluator, run:build-and-test-differential

#10746 fix(run_out): guard against decreasing ego trajectory times
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/run_out_module.cpp
Labels: component:planning, run:build-and-test-differential

#10691 feat(autoware_pose_initializer): remove dependency to universe packages
  localization/autoware_pose_initializer/package.xml
  localization/autoware_pose_initializer/src/ekf_localization_trigger_module.cpp
  localization/autoware_pose_initializer/src/gnss_module.cpp
  localization/autoware_pose_initializer/src/localization_module.cpp
  localization/autoware_pose_initializer/src/ndt_localization_trigger_module.cpp
  localization/autoware_pose_initializer/src/pose_initializer_core.cpp
  localization/autoware_pose_initializer/src/pose_initializer_core.hpp
Labels: component:localization, run:build-and-test-differential

#10745 feat(planning_validator): subscribe additional topic for collision detection
  planning/planning_validator/autoware_planning_validator/include/autoware/planning_validator/node.hpp
  planning/planning_validator/autoware_planning_validator/include/autoware/planning_validator/types.hpp
  planning/planning_validator/autoware_planning_validator/launch/planning_validator.launch.xml
  planning/planning_validator/autoware_planning_validator/package.xml
  planning/planning_validator/autoware_planning_validator/src/node.cpp
  planning/planning_validator/autoware_planning_validator/test/src/test_planning_validator_node_interface.cpp
  planning/planning_validator/autoware_planning_validator_trajectory_checker/test/test_trajectory_checker_diag.cpp
Labels: component:planning, run:build-and-test-differential, run:clang-tidy-pr-review

#10555 feat(cuda_pointcloud_preprocessor): update filtering parameter and process
  sensing/autoware_cuda_pointcloud_preprocessor/config/cuda_pointcloud_preprocessor.param.yaml
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/outlier_kernels.hpp
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/types.hpp
  sensing/autoware_cuda_pointcloud_preprocessor/schema/cuda_pointcloud_preprocessor.schema.json
  sensing/autoware_cuda_pointcloud_preprocessor/src/cuda_pointcloud_preprocessor/cuda_pointcloud_preprocessor.cu
  sensing/autoware_cuda_pointcloud_preprocessor/src/cuda_pointcloud_preprocessor/cuda_pointcloud_preprocessor_node.cpp
  sensing/autoware_cuda_pointcloud_preprocessor/src/cuda_pointcloud_preprocessor/outlier_kernels.cu
Labels: component:sensing, run:build-and-test-differential

#10762 chore(run_out): add Alqudah Mohammad as maintainer
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/package.xml
Labels: component:planning, run:build-and-test-differential

#10577 chore(multi_object_tracker): multi channel multi-object-tracker, set topic by launcher
  launch/tier4_perception_launch/launch/object_recognition/tracking/tracking.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
  perception/autoware_multi_object_tracker/README.md
  perception/autoware_multi_object_tracker/config/input_channels.param.yaml
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/object_model/types.hpp
  perception/autoware_multi_object_tracker/launch/multi_object_tracker.launch.xml
  perception/autoware_multi_object_tracker/schema/input_channels.schema.json
  perception/autoware_multi_object_tracker/src/multi_object_tracker_node.cpp
Labels: type:documentation, component:perception, component:launch, run:deploy-docs, run:build-and-test-differential

#10763 feat(autoware_crosswalk_traffic_light_estimator): add parameters to use pedestrian traffic signal result estimated in perception pipeline
  perception/autoware_crosswalk_traffic_light_estimator/README.md
  perception/autoware_crosswalk_traffic_light_estimator/config/crosswalk_traffic_light_estimator.param.yaml
  perception/autoware_crosswalk_traffic_light_estimator/include/autoware_crosswalk_traffic_light_estimator/node.hpp
  perception/autoware_crosswalk_traffic_light_estimator/schema/crosswalk_traffic_light_estimator.schema.json
  perception/autoware_crosswalk_traffic_light_estimator/src/node.cpp
Labels: type:documentation, component:perception, run:build-and-test-differential

#10684 fix(pid_longitudinal_controller): fix reseting the prev value
  control/autoware_pid_longitudinal_controller/src/pid_longitudinal_controller.cpp
Labels: component:control, run:build-and-test-differential

#10764 feat(default_adapi): add vehicle command api
  common/autoware_adapi_specs/include/autoware/adapi_specs/vehicle.hpp
  common/autoware_component_interface_specs_universe/include/autoware/component_interface_specs_universe/control.hpp
  common/autoware_component_interface_utils/include/autoware/component_interface_utils/rclcpp.hpp
  system/autoware_default_adapi_universe/CMakeLists.txt
  system/autoware_default_adapi_universe/launch/default_adapi.launch.py
  system/autoware_default_adapi_universe/package.xml
  system/autoware_default_adapi_universe/src/vehicle_command.cpp
  system/autoware_default_adapi_universe/src/vehicle_command.hpp
Labels: component:system, component:common, run:build-and-test-differential

#10727 feat(autoware_lidar_centerpoint): add ShortRange centerpoint as another new node base on autoware_lidar_centerpoint
  launch/tier4_perception_launch/launch/object_recognition/detection/detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/lidar_dnn_detector.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
  perception/autoware_lidar_centerpoint/README.md
  perception/autoware_lidar_centerpoint/config/centerpoint_short_range.param.yaml
  perception/autoware_lidar_centerpoint/config/centerpoint_short_range_ml_package.param.yaml
  perception/autoware_lidar_centerpoint/include/autoware/lidar_centerpoint/centerpoint_config.hpp
  perception/autoware_lidar_centerpoint/include/autoware/lidar_centerpoint/node.hpp
  perception/autoware_lidar_centerpoint/include/autoware/lidar_centerpoint/preprocess/pointcloud_densification.hpp
  perception/autoware_lidar_centerpoint/launch/lidar_centerpoint.launch.xml
  perception/autoware_lidar_centerpoint/lib/centerpoint_trt.cpp
  perception/autoware_lidar_centerpoint/lib/preprocess/pointcloud_densification.cpp
  perception/autoware_lidar_centerpoint/lib/preprocess/voxel_generator.cpp
  perception/autoware_lidar_centerpoint/src/node.cpp
Labels: type:documentation, component:perception, component:launch, run:deploy-docs, run:build-and-test-differential

#10766 fix(goal_planner): publish debug_objects_extraction_polygon
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/util.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/util.cpp
Labels: component:planning, run:build-and-test-differential

#10767 feat(goal_planner): add param of path_decision_state_controller.check_collision_duration
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/config/goal_planner.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_parameters.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/decision_state.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/manager.cpp
Labels: type:documentation, component:planning, run:build-and-test-differential

#10654 chore(perception): remove unused object filter packages
  codecov.yaml
  launch/tier4_perception_launch/launch/object_recognition/detection/detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/filter/radar_filter.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
  perception/autoware_radar_crossing_objects_noise_filter/CHANGELOG.rst
  perception/autoware_radar_crossing_objects_noise_filter/CMakeLists.txt
  perception/autoware_radar_crossing_objects_noise_filter/README.md
  perception/autoware_radar_crossing_objects_noise_filter/config/radar_crossing_objects_noise_filter.param.yaml
  perception/autoware_radar_crossing_objects_noise_filter/docs/radar_crossing_objects_noise_filter.drawio.svg
  perception/autoware_radar_crossing_objects_noise_filter/docs/turning_around.png
  perception/autoware_radar_crossing_objects_noise_filter/docs/vertical_velocity_objects.png
  perception/autoware_radar_crossing_objects_noise_filter/launch/radar_crossing_objects_noise_filter.launch.xml
  perception/autoware_radar_crossing_objects_noise_filter/package.xml
  perception/autoware_radar_crossing_objects_noise_filter/schema/radar_crossing_objects_noise_filter.schema.json
  perception/autoware_radar_crossing_objects_noise_filter/src/radar_crossing_objects_noise_filter_node.cpp
  perception/autoware_radar_crossing_objects_noise_filter/src/radar_crossing_objects_noise_filter_node.hpp
  perception/autoware_radar_crossing_objects_noise_filter/test/test_radar_crossing_objects_filter.cpp
  perception/autoware_radar_crossing_objects_noise_filter/test/test_radar_crossing_objects_noise_filter/test_radar_crossing_objects_filter_is_noise.cpp
  perception/autoware_radar_object_clustering/CHANGELOG.rst
  perception/autoware_radar_object_clustering/CMakeLists.txt
  perception/autoware_radar_object_clustering/README.md
  perception/autoware_radar_object_clustering/config/radar_object_clustering.param.yaml
  perception/autoware_radar_object_clustering/docs/clustering.drawio.svg
  perception/autoware_radar_object_clustering/docs/radar_clustering.drawio.svg
  perception/autoware_radar_object_clustering/launch/radar_object_clustering.launch.xml
  perception/autoware_radar_object_clustering/package.xml
  perception/autoware_radar_object_clustering/schema/radar_object_clustering.schema.json
  perception/autoware_radar_object_clustering/src/radar_object_clustering_node.cpp
  perception/autoware_radar_object_clustering/src/radar_object_clustering_node.hpp
  perception/autoware_simple_object_merger/README.md
Labels: type:documentation, component:perception, type:ci, component:launch, run:build-and-test-differential

#10777 fix(detection_area): fix args for calcJudgeLineDistWithAccLimit
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/src/scene.cpp
Labels: component:planning, run:build-and-test-differential

#10770 feat(tier4_simulator_launch): add use_pointcloud_container argument
  launch/tier4_perception_launch/launch/occupancy_grid_map/probabilistic_occupancy_grid_map.launch.xml
  launch/tier4_simulator_launch/launch/simulator.launch.xml
Labels: component:launch, run:build-and-test-differential

#10786 feat(tier4_simulator_launch): add use_pointcloud_container argument (#10770)
  launch/tier4_perception_launch/launch/occupancy_grid_map/probabilistic_occupancy_grid_map.launch.xml
  launch/tier4_simulator_launch/launch/simulator.launch.xml
Labels: component:launch, run:build-and-test-differential

#10790 fix(multi_object_tracker): correct area calculation for cylinder shape in getArea function
  perception/autoware_multi_object_tracker/lib/object_model/types.cpp
Labels: component:perception, run:build-and-test-differential

#10520 fix(autoware_simple_planning_simulator ): fix deprecated autoware_utils header
  simulator/autoware_simple_planning_simulator/package.xml
  simulator/autoware_simple_planning_simulator/src/simple_planning_simulator/simple_planning_simulator_core.cpp
Labels: component:simulation, run:build-and-test-differential

#10791 fix: #10591
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/concatenate_and_time_sync_node.ipp
Labels: component:sensing, run:build-and-test-differential

#10750 feat(planning_validator): implement redundant collision prevention feature when ego makes a turn at intersection
  launch/tier4_planning_launch/launch/planning.launch.xml
  planning/planning_validator/autoware_planning_validator/include/autoware/planning_validator/debug_marker.hpp
  planning/planning_validator/autoware_planning_validator/include/autoware/planning_validator/node.hpp
  planning/planning_validator/autoware_planning_validator/include/autoware/planning_validator/types.hpp
  planning/planning_validator/autoware_planning_validator/launch/planning_validator.launch.xml
  planning/planning_validator/autoware_planning_validator/msg/PlanningValidatorStatus.msg
  planning/planning_validator/autoware_planning_validator/package.xml
  planning/planning_validator/autoware_planning_validator/src/debug_marker.cpp
  planning/planning_validator/autoware_planning_validator/src/node.cpp
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/CMakeLists.txt
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/config/intersection_collision_checker.param.yaml
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/include/autoware/planning_validator_intersection_collision_checker/intersection_collision_checker.hpp
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/include/autoware/planning_validator_intersection_collision_checker/types.hpp
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/include/autoware/planning_validator_intersection_collision_checker/utils.hpp
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/package.xml
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/plugins.xml
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/src/intersection_collision_checker.cpp
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/src/utils.cpp
Labels: component:planning, component:launch, run:build-and-test-differential

#10794 fix(static_obstacle_avoidance): fix slow down logic
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
Labels: component:planning, run:build-and-test-differential, run:clang-tidy-pr-review

#10797 feat(detection_area): improve log message
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/README.md
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/config/detection_area.param.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/src/scene.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/src/utils.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/src/utils.hpp
Labels: type:documentation, component:planning, run:build-and-test-differential

#10776 feat(goal_planner): check previous module's stopline when regenerate candidates
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/decision_state.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/util.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/decision_state.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/util.cpp
Labels: component:planning, run:build-and-test-differential

#10802 feat(autoware_adapi_specs)!: port the package to Autoware Core
  common/autoware_adapi_specs/CHANGELOG.rst
  common/autoware_adapi_specs/CMakeLists.txt
  common/autoware_adapi_specs/README.md
  common/autoware_adapi_specs/include/autoware/adapi_specs/fail_safe.hpp
  common/autoware_adapi_specs/include/autoware/adapi_specs/interface.hpp
  common/autoware_adapi_specs/include/autoware/adapi_specs/localization.hpp
  common/autoware_adapi_specs/include/autoware/adapi_specs/motion.hpp
  common/autoware_adapi_specs/include/autoware/adapi_specs/operation_mode.hpp
  common/autoware_adapi_specs/include/autoware/adapi_specs/perception.hpp
  common/autoware_adapi_specs/include/autoware/adapi_specs/planning.hpp
  common/autoware_adapi_specs/include/autoware/adapi_specs/routing.hpp
  common/autoware_adapi_specs/include/autoware/adapi_specs/system.hpp
  common/autoware_adapi_specs/include/autoware/adapi_specs/vehicle.hpp
  common/autoware_adapi_specs/package.xml
Labels: type:documentation, component:common, run:build-and-test-differential

#8196 refactor(pure_pursuit): rework parameters
  control/autoware_pure_pursuit/README.md
  control/autoware_pure_pursuit/schema/pure_pursuit.schema.json
Labels: type:documentation, component:control, run:deploy-docs, DevOps Dojo: ROS Node Conf, run:build-and-test-differential

#10189 feat(scenario_simulator_v2_adapter): updated the read me file and schema
  evaluator/autoware_scenario_simulator_v2_adapter/schema/scenario_simulator_v2_adapter.schema.json
Labels: run:deploy-docs, component:evaluator, run:build-and-test-differential

#10804 fix(static_obstacle_avoidance): debug marker is not published properly
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
Labels: component:planning, run:build-and-test-differential, run:clang-tidy-pr-review

#10805 chore(boundary_departure_checker): add maintainer
  common/autoware_boundary_departure_checker/package.xml
Labels: component:common, run:build-and-test-differential

#10809 chore(autoware_cuda_pointcloud_preprocessor): add myself as maintainer
  sensing/autoware_cuda_pointcloud_preprocessor/package.xml
Labels: tag:update-codeowners-from-packages, run:build-and-test-differential

#10801 fix(planning_validator): fix the lateral distance calculation
  planning/planning_validator/autoware_planning_validator/README.md
  planning/planning_validator/autoware_planning_validator_trajectory_checker/src/trajectory_checker.cpp
  planning/planning_validator/autoware_planning_validator_trajectory_checker/test/test_trajectory_checker_diag.cpp
Labels: type:documentation, component:planning, run:build-and-test-differential

#10813 fix(autoware_static_obstacle_avoidance): fix classification method of unstable object
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/config/static_obstacle_avoidance.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/data_structs.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/utils.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/schema/static_obstacle_avoidance.schema.json
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/utils.cpp
Labels: component:planning, run:build-and-test-differential

#10811 fix(static_obstacle_avoidance): fixed an issue where the detection of lane departure into the oncoming lane was inaccurate
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
Labels: component:planning, run:build-and-test-differential, run:clang-tidy-pr-review

#10810 feat(processing_time_checker): output 99th and 95th percentile of processing time statics
  system/autoware_processing_time_checker/package.xml
  system/autoware_processing_time_checker/src/digestible.hpp
  system/autoware_processing_time_checker/src/processing_time_checker.cpp
  system/autoware_processing_time_checker/src/processing_time_checker.hpp
Labels: component:system, run:build-and-test-differential

#10815 chore(radar): delete maintainer for radar packages
  perception/autoware_object_velocity_splitter/package.xml
  perception/autoware_radar_fusion_to_detected_object/package.xml
  perception/autoware_radar_tracks_msgs_converter/package.xml
  perception/autoware_simple_object_merger/package.xml
  sensing/autoware_radar_scan_to_pointcloud2/package.xml
  sensing/autoware_radar_static_pointcloud_filter/package.xml
  sensing/autoware_radar_threshold_filter/package.xml
  sensing/autoware_radar_tracks_noise_filter/package.xml
Labels: component:perception, component:sensing, run:build-and-test-differential

#10807 fix(autoware_pointcloud_preprocessor): unify diagnostic interface namespace
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/concatenate_and_time_sync_node.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/distortion_corrector/distortion_corrector_node.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/filter.hpp
Labels: component:sensing, run:build-and-test-differential

#10820 feat(control_evaluator): change metrics to non-absolute and add their absolute version
  evaluator/autoware_control_evaluator/include/autoware/control_evaluator/control_evaluator_node.hpp
  evaluator/autoware_control_evaluator/include/autoware/control_evaluator/metrics/metric.hpp
  evaluator/autoware_control_evaluator/src/control_evaluator_node.cpp
  evaluator/autoware_control_evaluator/src/metrics/deviation_metrics.cpp
  evaluator/autoware_control_evaluator/test/test_control_evaluator_node.cpp
Labels: component:evaluator, run:build-and-test-differential

#10743 feat: add adaptive covariance threshold for tracker lifecycle management
  perception/autoware_multi_object_tracker/CMakeLists.txt
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/tracker_base.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/util/adaptive_threshold_cache.hpp
  perception/autoware_multi_object_tracker/lib/tracker/model/tracker_base.cpp
  perception/autoware_multi_object_tracker/lib/tracker/util/adaptive_threshold_cache.cpp
  perception/autoware_multi_object_tracker/src/multi_object_tracker_node.cpp
  perception/autoware_multi_object_tracker/src/processor/processor.cpp
  perception/autoware_multi_object_tracker/src/processor/processor.hpp
Labels: component:perception, run:build-and-test-differential

#10825 feat(command_mode_types): create package
  system/autoware_command_mode_types/CMakeLists.txt
  system/autoware_command_mode_types/README.md
  system/autoware_command_mode_types/doc/command-mode-architecture.drawio.svg
  system/autoware_command_mode_types/include/autoware_command_mode_types/modes.hpp
  system/autoware_command_mode_types/include/autoware_command_mode_types/sources.hpp
  system/autoware_command_mode_types/package.xml
Labels: type:documentation, component:system, run:build-and-test-differential

#10800 feat(planning_validator): implement a collision detection feature for rearward objects of the vehicle
  planning/planning_validator/autoware_planning_validator/include/autoware/planning_validator/debug_marker.hpp
  planning/planning_validator/autoware_planning_validator/launch/planning_validator.launch.xml
  planning/planning_validator/autoware_planning_validator/msg/PlanningValidatorStatus.msg
  planning/planning_validator/autoware_planning_validator/src/debug_marker.cpp
  planning/planning_validator/autoware_planning_validator/src/node.cpp
  planning/planning_validator/autoware_planning_validator_rear_collision_checker/CMakeLists.txt
  planning/planning_validator/autoware_planning_validator_rear_collision_checker/config/rear_collision_checker.param.yaml
  planning/planning_validator/autoware_planning_validator_rear_collision_checker/package.xml
  planning/planning_validator/autoware_planning_validator_rear_collision_checker/param/rear_collision_checker_node_parameters.yaml
  planning/planning_validator/autoware_planning_validator_rear_collision_checker/plugins.xml
  planning/planning_validator/autoware_planning_validator_rear_collision_checker/src/rear_collision_checker.cpp
  planning/planning_validator/autoware_planning_validator_rear_collision_checker/src/rear_collision_checker.hpp
  planning/planning_validator/autoware_planning_validator_rear_collision_checker/src/structs.hpp
  planning/planning_validator/autoware_planning_validator_rear_collision_checker/src/utils.cpp
  planning/planning_validator/autoware_planning_validator_rear_collision_checker/src/utils.hpp
Labels: component:planning, run:build-and-test-differential, run:clang-tidy-pr-review

#10823 fix(segmentation_pointcloud_fusion): add missing context
  perception/autoware_image_projection_based_fusion/launch/segmentation_pointcloud_fusion.launch.py
Labels: component:perception, run:build-and-test-differential

#10831 fix(roi_cluster_fusion): fix target frame's timestamp
  perception/autoware_image_projection_based_fusion/src/roi_cluster_fusion/node.cpp
Labels: component:perception, run:build-and-test-differential

#10833 fix(roi_cluster_fusion): fix typo
  perception/autoware_image_projection_based_fusion/config/roi_cluster_fusion.param.yaml
  perception/autoware_image_projection_based_fusion/docs/roi-cluster-fusion.md
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/roi_cluster_fusion/node.hpp
  perception/autoware_image_projection_based_fusion/schema/roi_cluster_fusion.schema.json
  perception/autoware_image_projection_based_fusion/src/roi_cluster_fusion/node.cpp
Labels: type:documentation, component:perception, run:deploy-docs, run:build-and-test-differential

#10814 feat(virtual_traffic_light): improve log message
  planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/src/scene.hpp
Labels: component:planning, run:build-and-test-differential

#10768 feat(autoware_behavior_velocity_traffic_light_module): add v2i
  common/autoware_traffic_light_utils/include/autoware/traffic_light_utils/traffic_light_utils.hpp
  common/autoware_traffic_light_utils/src/traffic_light_utils.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/config/traffic_light.param.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/scene.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/utils.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/utils.hpp
Labels: component:planning, component:common, run:build-and-test-differential

#10828 feat(operaton_mode_transition_manager): add flag node
  control/autoware_operation_mode_transition_manager/CMakeLists.txt
  control/autoware_operation_mode_transition_manager/launch/autonomous_mode_transition_flag_node.launch.xml
  control/autoware_operation_mode_transition_manager/package.xml
  control/autoware_operation_mode_transition_manager/src/autonomous_mode_transition_flag_node.cpp
  control/autoware_operation_mode_transition_manager/src/autonomous_mode_transition_flag_node.hpp
Labels: component:control, run:build-and-test-differential

#10827 feat!: replace tier4_planning_msgs service with autoware_planning_msgs
  build_depends_humble.repos
  common/autoware_component_interface_specs_universe/include/autoware/component_interface_specs_universe/planning.hpp
  planning/autoware_mission_planner_universe/launch/mission_planner.launch.xml
  planning/autoware_mission_planner_universe/src/mission_planner/mission_planner.hpp
  planning/autoware_mission_planner_universe/src/mission_planner/route_selector.hpp
  system/autoware_default_adapi_universe/src/utils/route_conversion.hpp
Labels: component:planning, component:system, component:common, run:build-and-test-differential

#10844 feat!: replace autoware_internal_localization_msgs with autoware_localization_msgs for InitializeLocalization service
  common/autoware_component_interface_specs_universe/include/autoware/component_interface_specs_universe/localization.hpp
  common/autoware_component_interface_specs_universe/package.xml
  system/autoware_default_adapi_universe/src/utils/localization_conversion.cpp
  system/autoware_default_adapi_universe/src/utils/localization_conversion.hpp
Labels: component:system, component:common, run:build-and-test-differential

#10842 feat!: replace tier4_system_msgs with autoware_system_msgs for services
  common/autoware_component_interface_specs_universe/include/autoware/component_interface_specs_universe/system.hpp
  common/autoware_component_interface_specs_universe/package.xml
  control/autoware_operation_mode_transition_manager/README.md
  control/autoware_operation_mode_transition_manager/package.xml
  control/autoware_operation_mode_transition_manager/src/data.hpp
Labels: type:documentation, component:control, component:common, run:build-and-test-differential

#10818 feat(planning_validator): add condition to check the yaw deviation
  planning/planning_validator/autoware_planning_validator/README.md
  planning/planning_validator/autoware_planning_validator_test_utils/include/autoware/planning_validator_test_utils/test_parameters.hpp
  planning/planning_validator/autoware_planning_validator_test_utils/src/planning_validator_test_utils.cpp
  planning/planning_validator/autoware_planning_validator_trajectory_checker/config/trajectory_checker.param.yaml
  planning/planning_validator/autoware_planning_validator_trajectory_checker/include/autoware/planning_validator_trajectory_checker/parameters.hpp
  planning/planning_validator/autoware_planning_validator_trajectory_checker/src/trajectory_checker.cpp
Labels: type:documentation, component:planning, run:build-and-test-differential

#10843 fix(intersection): fix path lanelets generation
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection_collision.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection_prepare_data.cpp
Labels: component:planning, run:build-and-test-differential

#10849 feat(autoware_adapi_adaptors)!: remove the package as part of porting to Autoware Core
  system/autoware_default_adapi_helpers/autoware_adapi_adaptors/CHANGELOG.rst
  system/autoware_default_adapi_helpers/autoware_adapi_adaptors/CMakeLists.txt
  system/autoware_default_adapi_helpers/autoware_adapi_adaptors/README.md
  system/autoware_default_adapi_helpers/autoware_adapi_adaptors/config/initial_pose.param.yaml
  system/autoware_default_adapi_helpers/autoware_adapi_adaptors/launch/rviz_adaptors.launch.xml
  system/autoware_default_adapi_helpers/autoware_adapi_adaptors/package.xml
  system/autoware_default_adapi_helpers/autoware_adapi_adaptors/schema/adapi_adaptors.schema.json
  system/autoware_default_adapi_helpers/autoware_adapi_adaptors/src/initial_pose_adaptor.cpp
  system/autoware_default_adapi_helpers/autoware_adapi_adaptors/src/initial_pose_adaptor.hpp
  system/autoware_default_adapi_helpers/autoware_adapi_adaptors/src/routing_adaptor.cpp
  system/autoware_default_adapi_helpers/autoware_adapi_adaptors/src/routing_adaptor.hpp
Labels: type:documentation, component:system, run:build-and-test-differential

#10752 feat(tier4_autoware_api_launch): add tier4 api to replace old api
  launch/tier4_autoware_api_launch/launch/deprecated_api.launch.xml
  launch/tier4_autoware_api_launch/package.xml
Labels: component:launch, run:build-and-test-differential

#10708 refactor(blockage_diag): split up `filter` function, add doc comments
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/blockage_diag/blockage_diag_node.hpp
  sensing/autoware_pointcloud_preprocessor/src/blockage_diag/blockage_diag_node.cpp
Labels: component:sensing, run:build-and-test-differential

#10846 feat(default_adapi_universe): support diag level latch and filter
  system/autoware_default_adapi_universe/package.xml
  system/autoware_default_adapi_universe/src/diagnostics.cpp
  system/autoware_default_adapi_universe/src/diagnostics.hpp
Labels: component:system, run:build-and-test-differential

#10838 feat(default_adapi_universe): add mrm description api
  system/autoware_default_adapi_universe/config/default_adapi.param.yaml
  system/autoware_default_adapi_universe/src/fail_safe.cpp
  system/autoware_default_adapi_universe/src/fail_safe.hpp
Labels: component:system, run:build-and-test-differential

#10169 feat(control_command_gate): create package
  control/autoware_control_command_gate/CMakeLists.txt
  control/autoware_control_command_gate/README.md
  control/autoware_control_command_gate/config/default.param.yaml
  control/autoware_control_command_gate/doc/dataflow.drawio.svg
  control/autoware_control_command_gate/launch/control_command_gate.launch.xml
  control/autoware_control_command_gate/package.xml
  control/autoware_control_command_gate/src/command/builtin.cpp
  control/autoware_control_command_gate/src/command/builtin.hpp
  control/autoware_control_command_gate/src/command/filter.cpp
  control/autoware_control_command_gate/src/command/filter.hpp
  control/autoware_control_command_gate/src/command/interface.cpp
  control/autoware_control_command_gate/src/command/interface.hpp
  control/autoware_control_command_gate/src/command/publisher.cpp
  control/autoware_control_command_gate/src/command/publisher.hpp
  control/autoware_control_command_gate/src/command/selector.cpp
  control/autoware_control_command_gate/src/command/selector.hpp
  control/autoware_control_command_gate/src/command/source.cpp
  control/autoware_control_command_gate/src/command/source.hpp
  control/autoware_control_command_gate/src/command/subscription.cpp
  control/autoware_control_command_gate/src/command/subscription.hpp
  control/autoware_control_command_gate/src/common/control_command_filter.cpp
  control/autoware_control_command_gate/src/common/control_command_filter.hpp
  control/autoware_control_command_gate/src/common/timeout_diagnostics.cpp
  control/autoware_control_command_gate/src/common/timeout_diagnostics.hpp
  control/autoware_control_command_gate/src/common/vehicle_status.cpp
  control/autoware_control_command_gate/src/common/vehicle_status.hpp
  control/autoware_control_command_gate/src/control_command_gate.cpp
  control/autoware_control_command_gate/src/control_command_gate.hpp
Labels: type:documentation, component:control, run:build-and-test-differential

#10171 feat(command_mode_decider): create package
  system/autoware_command_mode_decider/CMakeLists.txt
  system/autoware_command_mode_decider/README.md
  system/autoware_command_mode_decider/config/default.param.yaml
  system/autoware_command_mode_decider/doc/peripheral-ros-graph.drawio.svg
  system/autoware_command_mode_decider/include/autoware_command_mode_decider/plugin.hpp
  system/autoware_command_mode_decider/include/autoware_command_mode_decider/status.hpp
  system/autoware_command_mode_decider/launch/decider.launch.xml
  system/autoware_command_mode_decider/package.xml
  system/autoware_command_mode_decider/src/command_mode_decider_base.cpp
  system/autoware_command_mode_decider/src/command_mode_decider_base.hpp
  system/autoware_command_mode_decider/src/plugin/plugin.cpp
  system/autoware_command_mode_decider/src/plugin/status.cpp
  system/autoware_command_mode_decider_plugins/CMakeLists.txt
  system/autoware_command_mode_decider_plugins/package.xml
  system/autoware_command_mode_decider_plugins/plugins.xml
  system/autoware_command_mode_decider_plugins/src/command_mode_decider.cpp
  system/autoware_command_mode_decider_plugins/src/command_mode_decider.hpp
Labels: type:documentation, component:system, run:build-and-test-differential

#10862 fix(boundary_departure_prevention): add processing time/time keeper
  common/autoware_boundary_departure_checker/include/autoware/boundary_departure_checker/boundary_departure_checker.hpp
  common/autoware_boundary_departure_checker/src/boundary_departure_checker_abnormality.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/boundary_departure_prevention_module.cpp
Labels: component:planning, component:common, run:build-and-test-differential

#10858 feat(command_mode_decider): reflect message porting
  system/autoware_command_mode_decider/package.xml
  system/autoware_command_mode_decider/src/command_mode_decider_base.hpp
  system/autoware_command_mode_decider_plugins/src/command_mode_decider.cpp
Labels: component:system, run:build-and-test-differential

#10865 fix(static_obstacle_avoidance): fix filtering logic to avoid vehicle in T-intersection
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/utils.cpp
Labels: component:planning, run:build-and-test-differential, run:clang-tidy-pr-review

#10867 feat(autoware_behavior_velocity_traffic_light_module): enhance rviz for v2i
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/debug.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/scene.hpp
Labels: component:planning, run:build-and-test-differential

#10861 feat(tier4_state_rviz_plugin): display unknown value
  visualization/tier4_state_rviz_plugin/src/autoware_state_panel.cpp
Labels: run:build-and-test-differential

#10863 feat(path_generator): publish processing time
  system/autoware_processing_time_checker/config/processing_time_checker.param.yaml
Labels: component:system, run:deploy-docs, run:build-and-test-differential

#10866 fix(lane_change): fix code to prevent node crash
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
Labels: component:planning, run:build-and-test-differential

#10839 feat(planning_validator): improve intersection collision checker implementation
  planning/planning_validator/autoware_planning_validator/include/autoware/planning_validator/debug_marker.hpp
  planning/planning_validator/autoware_planning_validator/include/autoware/planning_validator/plugin_interface.hpp
  planning/planning_validator/autoware_planning_validator/msg/PlanningValidatorStatus.msg
  planning/planning_validator/autoware_planning_validator/package.xml
  planning/planning_validator/autoware_planning_validator/src/node.cpp
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/CMakeLists.txt
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/README.md
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/config/intersection_collision_checker.param.yaml
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/images/left_turn_target_lanelets.png
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/images/right_turn_target_lanelets.png
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/include/autoware/planning_validator_intersection_collision_checker/intersection_collision_checker.hpp
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/include/autoware/planning_validator_intersection_collision_checker/types.hpp
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/include/autoware/planning_validator_intersection_collision_checker/utils.hpp
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/package.xml
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/param/intersection_collision_checker_node_parameters.yaml
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/src/intersection_collision_checker.cpp
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/src/utils.cpp
  planning/planning_validator/autoware_planning_validator_rear_collision_checker/src/rear_collision_checker.cpp
  planning/planning_validator/autoware_planning_validator_rear_collision_checker/src/rear_collision_checker.hpp
Labels: type:documentation, component:planning, run:deploy-docs, run:build-and-test-differential

#10771 feat(autoware_multi_object_tracker): unknown as static object
  perception/autoware_multi_object_tracker/CMakeLists.txt
  perception/autoware_multi_object_tracker/config/multi_object_tracker_node.param.yaml
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/multiple_vehicle_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/pass_through_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/pedestrian_and_bicycle_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/pedestrian_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/tracker_base.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/unknown_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/vehicle_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/motion_model/static_motion_model.hpp
  perception/autoware_multi_object_tracker/lib/object_model/shapes.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/multiple_vehicle_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/pass_through_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/pedestrian_and_bicycle_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/pedestrian_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/unknown_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/vehicle_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/motion_model/static_motion_model.cpp
  perception/autoware_multi_object_tracker/schema/multi_object_tracker_node.schema.json
  perception/autoware_multi_object_tracker/src/multi_object_tracker_node.cpp
  perception/autoware_multi_object_tracker/src/processor/processor.cpp
  perception/autoware_multi_object_tracker/src/processor/processor.hpp
Labels: component:perception, run:build-and-test-differential

#10870 feat(static_obstacle_avoidance): support separate lateral jerk constraints for avoidance and return maneuvers
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/config/static_obstacle_avoidance.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/data_structs.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/helper.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/parameter_helper.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/schema/static_obstacle_avoidance.schema.json
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/shift_line_generator.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/test/test_utils.cpp
Labels: component:planning, run:build-and-test-differential, run:clang-tidy-pr-review

#10876 feat(control_validator): 2 thresholds for the yaw deviation (warn/error)
  control/autoware_control_validator/README.md
  control/autoware_control_validator/config/control_validator.param.yaml
  control/autoware_control_validator/include/autoware/control_validator/control_validator.hpp
  control/autoware_control_validator/msg/ControlValidatorStatus.msg
  control/autoware_control_validator/src/control_validator.cpp
Labels: type:documentation, component:control, run:build-and-test-differential

#10837 perf: optimize multi-object tracker
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/association/association.hpp
  perception/autoware_multi_object_tracker/lib/association/association.cpp
  perception/autoware_multi_object_tracker/lib/object_model/shapes.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/tracker_base.cpp
Labels: component:perception, run:build-and-test-differential

#10784 feat(goal_planner): check pull over lane crossing validity when triggering candidate generation thread
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/decision_state.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/pull_over_planner/pull_over_planner_base.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/thread_data.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/util.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/decision_state.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/pull_over_planner/bezier_pull_over.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/pull_over_planner/geometric_pull_over.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/pull_over_planner/shift_pull_over.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/thread_data.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/util.cpp
Labels: component:planning, run:build-and-test-differential

#10753 fix(mpc): update time from start in the predicted trajectory
  control/autoware_mpc_lateral_controller/src/mpc_utils.cpp
Labels: component:control, run:build-and-test-differential

#10789 feat(multi_object_tracker): parameters tuned for mahalanobis distance
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/object_model/object_model.hpp
  perception/autoware_multi_object_tracker/lib/association/association.cpp
Labels: component:perception, run:build-and-test-differential

#7588 feat(default_adapi): use polling subscription
  common/autoware_component_interface_utils/include/autoware/component_interface_utils/rclcpp/create_interface.hpp
  common/autoware_component_interface_utils/include/autoware/component_interface_utils/rclcpp/topic_subscription.hpp
  system/autoware_default_adapi_universe/src/compatibility/autoware_state.cpp
  system/autoware_default_adapi_universe/src/compatibility/autoware_state.hpp
  system/autoware_default_adapi_universe/src/planning.cpp
  system/autoware_default_adapi_universe/src/planning.hpp
  system/autoware_default_adapi_universe/src/vehicle_status.cpp
  system/autoware_default_adapi_universe/src/vehicle_status.hpp
Labels: component:system, component:common, run:build-and-test-differential

#10890 fix(static_obstacle_avoidance): fix coding error
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/utils.cpp
Labels: component:planning, run:build-and-test-differential

#10879 feat(autoware_ground_segmentation): change point follow logic (#294)
  perception/autoware_ground_segmentation/src/scan_ground_filter/node.cpp
Labels: type:bug, component:perception, run:build-and-test-differential, perception

#10883 fix(autoware_detected_object_validation): templatize lanelet filter
  perception/autoware_detected_object_validation/CMakeLists.txt
  perception/autoware_detected_object_validation/README.md
  perception/autoware_detected_object_validation/config/tracked_object_lanelet_filter.param.yaml
  perception/autoware_detected_object_validation/include/autoware/detected_object_validation/utils/utils.hpp
  perception/autoware_detected_object_validation/launch/tracked_object_lanelet_filter.launch.xml
  perception/autoware_detected_object_validation/schema/detected_object_lanelet_filter.schema.json
  perception/autoware_detected_object_validation/schema/tracked_object_lanelet_filter.schema.json
  perception/autoware_detected_object_validation/src/lanelet_filter/debug.cpp
  perception/autoware_detected_object_validation/src/lanelet_filter/detected_object_lanelet_filter.cpp
  perception/autoware_detected_object_validation/src/lanelet_filter/detected_object_lanelet_filter.hpp
  perception/autoware_detected_object_validation/src/lanelet_filter/lanelet_filter_base.cpp
  perception/autoware_detected_object_validation/src/lanelet_filter/lanelet_filter_base.hpp
  perception/autoware_detected_object_validation/src/lanelet_filter/tracked_object_lanelet_filter.cpp
  perception/autoware_detected_object_validation/src/lanelet_filter/tracked_object_lanelet_filter.hpp
  perception/autoware_detected_object_validation/test/lanelet_filter/test_lanelet_filter.cpp
Labels: type:documentation, component:perception, run:deploy-docs, run:build-and-test-differential

#10881 feat(autoware_lidar_centerpoint): add class-wise confidence thresholds to CenterPoint
  perception/autoware_image_projection_based_fusion/config/pointpainting.param.yaml
  perception/autoware_image_projection_based_fusion/docs/pointpainting-fusion.md
  perception/autoware_image_projection_based_fusion/schema/pointpainting.schema.json
  perception/autoware_image_projection_based_fusion/src/pointpainting_fusion/node.cpp
  perception/autoware_lidar_centerpoint/README.md
  perception/autoware_lidar_centerpoint/config/centerpoint.param.yaml
  perception/autoware_lidar_centerpoint/config/centerpoint_short_range.param.yaml
  perception/autoware_lidar_centerpoint/config/centerpoint_sigma.param.yaml
  perception/autoware_lidar_centerpoint/config/centerpoint_tiny.param.yaml
  perception/autoware_lidar_centerpoint/include/autoware/lidar_centerpoint/centerpoint_config.hpp
  perception/autoware_lidar_centerpoint/include/autoware/lidar_centerpoint/postprocess/postprocess_kernel.hpp
  perception/autoware_lidar_centerpoint/lib/centerpoint_trt.cpp
  perception/autoware_lidar_centerpoint/lib/postprocess/postprocess_kernel.cu
  perception/autoware_lidar_centerpoint/schema/centerpoint.schemal.json
  perception/autoware_lidar_centerpoint/src/node.cpp
Labels: type:documentation, component:perception, run:build-and-test-differential, tag:require-cuda-build-and-test

#10840 refactor(obstacle_slowdown_module, obstacle_cruise_module): follow function name change in autoware_core
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/obstacle_cruise_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/obstacle_slow_down_module.cpp
Labels: component:planning, run:build-and-test-differential
