Repository autowarefoundation/autoware_universe, pull requests merged in 2025-05, with the labels that each got.

#10573 feat(start_planner): add virtual stop detail
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/interface/scene_module_manager_interface.hpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/include/autoware/behavior_path_start_planner_module/start_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning, run:build-and-test-differential

#10426 feat(tier4_api_utils): modify log level
  common/tier4_api_utils/include/tier4_api_utils/rclcpp/service.hpp
Labels: component:common, run:build-and-test-differential

#10395 feat(autoware_lanelet2_map_visualizer): visualize waypoints
  map/autoware_lanelet2_map_visualizer/src/lanelet2_map_visualization_node.cpp
Labels: component:map, run:build-and-test-differential, run:clang-tidy-pr-review

#10581 chore(autoware_external_velocity_limit_selector): update code owner
  planning/autoware_external_velocity_limit_selector/package.xml
Labels: component:planning, run:build-and-test-differential

#10589 build: update build_depends_humble.repos for 0.44.1 release
  build_depends_humble.repos
Labels: run:build-and-test-differential

#10556 feat(autoware_radar_objects_adapter): add publisher for tracks with uuid
  sensing/autoware_radar_objects_adapter/config/radar_objects_adapter.param.yaml
  sensing/autoware_radar_objects_adapter/launch/radar_objects_adapter.launch.xml
  sensing/autoware_radar_objects_adapter/schema/radar_objects_adapter.schema.json
  sensing/autoware_radar_objects_adapter/src/radar_objects_adapter.cpp
  sensing/autoware_radar_objects_adapter/src/radar_objects_adapter.hpp
Labels: component:sensing, run:build-and-test-differential

#10574 chore(autoware_traffic_light_category_merger): reduce dependency
  perception/autoware_traffic_light_category_merger/CMakeLists.txt
  perception/autoware_traffic_light_category_merger/src/traffic_light_category_merger_node.cpp
  perception/autoware_traffic_light_category_merger/src/traffic_light_category_merger_node.hpp
Labels: component:perception, run:build-and-test-differential

#10594 chore(control_validator): update maintainer
  control/autoware_control_validator/package.xml
Labels: component:control, run:build-and-test-differential

#10593 refactor(control_validator): visualize stop reason to virtual wall
  control/autoware_control_validator/include/autoware/control_validator/control_validator.hpp
  control/autoware_control_validator/include/autoware/control_validator/debug_marker.hpp
  control/autoware_control_validator/src/control_validator.cpp
  control/autoware_control_validator/src/debug_marker.cpp
Labels: component:control, run:build-and-test-differential

#10496 fix(yabloc_common): fix deprecated autoware_utils header
  localization/yabloc/yabloc_common/package.xml
  localization/yabloc/yabloc_common/src/ll2_decomposer/ll2_decomposer_core.cpp
Labels: component:localization, run:build-and-test-differential

#10497 fix(yabloc_particle_filter): fix deprecated autoware_utils header
  localization/yabloc/yabloc_particle_filter/package.xml
  localization/yabloc/yabloc_particle_filter/src/camera_corrector/camera_particle_corrector_core.cpp
  localization/yabloc/yabloc_particle_filter/src/ll2_cost_map/hierarchical_cost_map.cpp
Labels: component:localization, run:build-and-test-differential

#10510 fix(autoware_pose_estimator_arbiter): fix deprecated autoware_utils header
  localization/autoware_pose_estimator_arbiter/example_rule/src/switch_rule/pcd_map_based_rule.cpp
  localization/autoware_pose_estimator_arbiter/package.xml
  localization/autoware_pose_estimator_arbiter/src/pose_estimator_arbiter.hpp
  localization/autoware_pose_estimator_arbiter/src/pose_estimator_arbiter_core.cpp
Labels: component:localization, run:build-and-test-differential

#10560 fix(motion_velocity_planner): add missing header
  planning/motion_velocity_planner/autoware_motion_velocity_dynamic_obstacle_stop_module/src/dynamic_obstacle_stop_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/run_out_module.cpp
Labels: component:planning, run:build-and-test-differential

#10557 docs(default_adapi): add document of params and diags
  system/autoware_default_adapi/CMakeLists.txt
  system/autoware_default_adapi/README.md
  system/autoware_default_adapi/document/diagnostics.md
  system/autoware_default_adapi/document/parameters.md
  system/autoware_default_adapi/script/guide.py
Labels: type:documentation, component:system, run:build-and-test-differential

#10561 fix(behavior_velocity_planner): add missing header
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_merge_from_private_road.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_drivable_lane_module/src/scene.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_occlusion_spot_module/src/scene_occlusion_spot.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_rtc_interface/include/autoware/behavior_velocity_rtc_interface/scene_module_interface_with_rtc.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/src/scene.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_speed_bump_module/src/scene.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_template_module/src/scene.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/src/scene.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/src/utils.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_walkway_module/src/scene_walkway.hpp
Labels: component:planning, run:build-and-test-differential

#10552 fix(behavior_velocity_crosswalk_module): add missing header
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
Labels: component:planning, run:build-and-test-differential

#10585 feat(static_obstacle_avoidance): add flag to wait approval when the ego uses opposite lane
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/config/static_obstacle_avoidance.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/data_structs.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/parameter_helper.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/schema/static_obstacle_avoidance.schema.json
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
Labels: component:planning, run:build-and-test-differential, run:clang-tidy-pr-review

#10599 fix(autoware_probabilistic_occupancy_grid_map): fix to avoid division by zero
  perception/autoware_probabilistic_occupancy_grid_map/include/autoware/probabilistic_occupancy_grid_map/utils/cuda_pointcloud.hpp
Labels: component:perception, run:build-and-test-differential

#10608 feat(bevfusion.schema): add default values for sensor_fusion and thresholds array
  perception/autoware_bevfusion/schema/bevfusion.schema.json
Labels: component:perception, run:deploy-docs, run:build-and-test-differential

#10550 feat(default_adapi): add mrm request api
  common/autoware_adapi_specs/include/autoware/adapi_specs/fail_safe.hpp
  system/autoware_default_adapi/CMakeLists.txt
  system/autoware_default_adapi/config/default_adapi.param.yaml
  system/autoware_default_adapi/launch/default_adapi.launch.py
  system/autoware_default_adapi/package.xml
  system/autoware_default_adapi/src/mrm_request.cpp
  system/autoware_default_adapi/src/mrm_request.hpp
Labels: component:system, component:common, run:build-and-test-differential

#10578 fix(probabilistic_occupancy_grid_map): add missing parameter for multi-lidar
  perception/autoware_probabilistic_occupancy_grid_map/config/multi_lidar_pointcloud_based_occupancy_grid_map.param.yaml
Labels: component:perception, run:build-and-test-differential

#10609 fix(segmentation pointcloud fusion): fix launch for selectable camera IDs
  launch/tier4_perception_launch/launch/object_recognition/detection/detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/camera_lidar_detector.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
  perception/autoware_image_projection_based_fusion/launch/segmentation_pointcloud_fusion.launch.py
Labels: component:perception, component:launch, run:build-and-test-differential

#10580 feat(radar): update radar pipeline
  launch/tier4_perception_launch/launch/object_recognition/detection/filter/radar_filter.launch.xml
  launch/tier4_perception_launch/package.xml
  perception/autoware_simple_object_merger/src/simple_object_merger_node.cpp
Labels: component:perception, component:launch, run:build-and-test-differential

#10607 fix(autoware_radar_objects_adapter): update schema path in readme
  sensing/autoware_radar_objects_adapter/README.md
Labels: type:documentation, component:sensing, run:deploy-docs, run:build-and-test-differential

#10606 feat(out_of_lane): resample object predicted paths to prevent empty gaps
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/filter_predicted_objects.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/filter_predicted_objects.hpp
Labels: component:planning, run:build-and-test-differential

#10522 feat(autoware_lanelet2_map_visualizer): porting autoware_lanelet2_map_visualizer to autoware_core
  map/autoware_lanelet2_map_visualizer/CHANGELOG.rst
  map/autoware_lanelet2_map_visualizer/CMakeLists.txt
  map/autoware_lanelet2_map_visualizer/README.md
  map/autoware_lanelet2_map_visualizer/launch/lanelet2_map_visualizer.launch.xml
  map/autoware_lanelet2_map_visualizer/package.xml
  map/autoware_lanelet2_map_visualizer/src/lanelet2_map_visualization_node.cpp
  map/autoware_lanelet2_map_visualizer/src/lanelet2_map_visualization_node.hpp
Labels: type:documentation, component:map, run:build-and-test-differential

#10507 feat(autoware_gyro_odometer): move autoware_gyro_odometer to Autoware Core
  localization/autoware_gyro_odometer/CHANGELOG.rst
  localization/autoware_gyro_odometer/CMakeLists.txt
  localization/autoware_gyro_odometer/README.md
  localization/autoware_gyro_odometer/config/gyro_odometer.param.yaml
  localization/autoware_gyro_odometer/launch/gyro_odometer.launch.xml
  localization/autoware_gyro_odometer/media/diagnostic.png
  localization/autoware_gyro_odometer/package.xml
  localization/autoware_gyro_odometer/schema/gyro_odometer.schema.json
  localization/autoware_gyro_odometer/src/gyro_odometer_core.cpp
  localization/autoware_gyro_odometer/src/gyro_odometer_core.hpp
  localization/autoware_gyro_odometer/test/test_gyro_odometer_helper.cpp
  localization/autoware_gyro_odometer/test/test_gyro_odometer_helper.hpp
  localization/autoware_gyro_odometer/test/test_gyro_odometer_pubsub.cpp
  localization/autoware_gyro_odometer/test/test_main.cpp
Labels: type:documentation, component:localization, run:build-and-test-differential

#10559 fix(autoware_motion_velocity_obstacle_slow_down_module): fix for mishandling lateral-distance
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/obstacle_slow_down_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/obstacle_slow_down_module.hpp
Labels: component:planning, run:build-and-test-differential

#10517 fix(autoware_pose_initializer): fix deprecated autoware_utils header
  localization/autoware_pose_initializer/package.xml
  localization/autoware_pose_initializer/src/pose_initializer_core.cpp
  localization/autoware_pose_initializer/src/pose_initializer_core.hpp
Labels: component:localization, run:build-and-test-differential

#10623 fix(detection_area_module,virtual_traffic_light,no_stopping_area): support overlap lane
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/src/scene_no_stopping_area.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/src/scene.cpp
Labels: component:planning, run:build-and-test-differential

#10617 fix(autoware_pointcloud_preprocessor): combine_cloud_handler always set XYZIRC
  sensing/autoware_pointcloud_preprocessor/src/concatenate_data/combine_cloud_handler.cpp
Labels: component:sensing, run:build-and-test-differential

#10631 fix(traffic_light_utils): remove condition in `setSignalUnknown`
  common/autoware_traffic_light_utils/src/traffic_light_utils.cpp
Labels: component:common, run:build-and-test-differential

#10611 feat(autoware_tensorrt_yolox): added target architectures for yolox
  perception/autoware_tensorrt_yolox/CMakeLists.txt
Labels: component:perception, run:build-and-test-differential, tag:require-cuda-build-and-test

#10615 feat(autoware_lidar_transfusion): added target architectures for transfusion
  perception/autoware_lidar_transfusion/CMakeLists.txt
Labels: component:perception, run:build-and-test-differential, tag:require-cuda-build-and-test

#10613 feat(autoware_bevfusion): added target architectures for bevfusion
  perception/autoware_bevfusion/CMakeLists.txt
Labels: component:perception, run:build-and-test-differential, tag:require-cuda-build-and-test

#10612 feat(autoware_cuda_pointcloud_preprocessor): added target architectures for the cuda pointcloud preprocessor
  sensing/autoware_cuda_pointcloud_preprocessor/CMakeLists.txt
Labels: component:sensing, run:build-and-test-differential, tag:require-cuda-build-and-test

#10616 feat(autoware_lidar_centerpoint): added target architectures for centerpoint
  perception/autoware_lidar_centerpoint/CMakeLists.txt
Labels: component:perception, run:build-and-test-differential, tag:require-cuda-build-and-test

#10010 feat(autoware_raindrop_cluster_filter): created Schema file and updated ReadME file for parameters setting
  perception/autoware_raindrop_cluster_filter/raindrop_cluster_filter.md
  perception/autoware_raindrop_cluster_filter/schema/low_intensity_cluster_filter.schema.json
Labels: type:documentation, component:perception, run:deploy-docs, run:build-and-test-differential

#10627 chore(autoware_tensorrt_plugins): update maintainer
  perception/autoware_tensorrt_plugins/package.xml
Labels: component:perception, tag:update-codeowners-from-packages, run:build-and-test-differential, tag:require-cuda-build-and-test

#10637 fix(Rviz): fix memory leak and crash
  common/tier4_planning_rviz_plugin/include/path/display_base.hpp
  common/tier4_planning_rviz_plugin/src/path/display.cpp
Labels: common

#10570 fix(tier4_planning_rviz_plugin): handle empty trajectory
  visualization/tier4_planning_rviz_plugin/include/tier4_planning_rviz_plugin/path/display.hpp
Labels: run:build-and-test-differential

#10624 feat(tier4_planning_rviz_plugin): add glog in the path visualization
  visualization/tier4_planning_rviz_plugin/CMakeLists.txt
  visualization/tier4_planning_rviz_plugin/include/tier4_planning_rviz_plugin/path/display.hpp
  visualization/tier4_planning_rviz_plugin/include/tier4_planning_rviz_plugin/path/display_base.hpp
  visualization/tier4_planning_rviz_plugin/package.xml
  visualization/tier4_planning_rviz_plugin/src/path/display.cpp
Labels: run:build-and-test-differential

#10630 chore(vehicle_cmd_gate): suppress frequent log
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_gate.cpp
Labels: component:control, run:build-and-test-differential

#10626 fix(intersection): interpolate object polygons precisely
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/scripts/ttc.py
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/debug.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection_collision.cpp
Labels: component:planning, run:build-and-test-differential

#10621 chore(elevation_map): add @asa-naki to maitainer
  perception/autoware_compare_map_segmentation/package.xml
  perception/autoware_elevation_map_loader/package.xml
Labels: component:perception, run:build-and-test-differential

#10592 feat(autoware_lidar_centerpoint): add distance of z to pillar center as a new lidar encoder feature in CenterPoint
  perception/autoware_lidar_centerpoint/include/autoware/lidar_centerpoint/preprocess/preprocess_kernel.hpp
  perception/autoware_lidar_centerpoint/lib/centerpoint_trt.cpp
  perception/autoware_lidar_centerpoint/lib/preprocess/preprocess_kernel.cu
Labels: component:perception, run:build-and-test-differential, tag:require-cuda-build-and-test

#9076 refactor(mrm_emergency_stop_operator ): rework parameter
  system/autoware_mrm_emergency_stop_operator/README.md
  system/autoware_mrm_emergency_stop_operator/src/mrm_emergency_stop_operator/mrm_emergency_stop_operator_core.cpp
  system/mrm_emergency_stop_operator/schema/mrm_emergency_stop_operator.schema.json
Labels: type:documentation, component:system, run:deploy-docs, run:build-and-test-differential

#10644 chore: update traffic light packages code owner
  perception/autoware_crosswalk_traffic_light_estimator/package.xml
  perception/autoware_tensorrt_classifier/package.xml
  perception/autoware_traffic_light_arbiter/package.xml
  perception/autoware_traffic_light_category_merger/package.xml
  perception/autoware_traffic_light_classifier/package.xml
  perception/autoware_traffic_light_fine_detector/package.xml
  perception/autoware_traffic_light_map_based_detector/package.xml
  perception/autoware_traffic_light_multi_camera_fusion/package.xml
  perception/autoware_traffic_light_occlusion_predictor/package.xml
  perception/autoware_traffic_light_selector/package.xml
  perception/autoware_traffic_light_visualization/package.xml
Labels: component:perception, run:build-and-test-differential

#10640 feat(autoware_traffic_light_arbiter): add namespace `traffic_light`
  perception/autoware_traffic_light_arbiter/CMakeLists.txt
  perception/autoware_traffic_light_arbiter/include/autoware/traffic_light_arbiter/signal_match_validator.hpp
  perception/autoware_traffic_light_arbiter/include/autoware/traffic_light_arbiter/traffic_light_arbiter.hpp
  perception/autoware_traffic_light_arbiter/src/signal_match_validator.cpp
  perception/autoware_traffic_light_arbiter/src/traffic_light_arbiter.cpp
  perception/autoware_traffic_light_arbiter/test/test_node.cpp
Labels: component:perception, run:build-and-test-differential

#10378 feat(autoware_multi_object_tracker): tracker confidence check by its uncertainty
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/object_model/types.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/tracker_base.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/motion_model/motion_model_base.hpp
  perception/autoware_multi_object_tracker/lib/object_model/types.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/tracker_base.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/vehicle_tracker.cpp
  perception/autoware_multi_object_tracker/src/debugger/debug_object.cpp
  perception/autoware_multi_object_tracker/src/debugger/debug_object.hpp
  perception/autoware_multi_object_tracker/src/processor/processor.cpp
  perception/autoware_multi_object_tracker/src/processor/processor.hpp
Labels: component:perception, run:build-and-test-differential

#10638 feat(collision_detector): time buffer and ignore behind rear axle
  control/autoware_collision_detector/README.md
  control/autoware_collision_detector/config/collision_detector.param.yaml
  control/autoware_collision_detector/include/autoware/collision_detector/debug.hpp
  control/autoware_collision_detector/include/autoware/collision_detector/node.hpp
  control/autoware_collision_detector/src/node.cpp
Labels: type:documentation, component:control, run:build-and-test-differential

#10619 feat(control_validator): add lateral jerk validation
  control/autoware_control_validator/README.md
  control/autoware_control_validator/config/control_validator.param.yaml
  control/autoware_control_validator/include/autoware/control_validator/control_validator.hpp
  control/autoware_control_validator/msg/ControlValidatorStatus.msg
  control/autoware_control_validator/script/max_steering_rate_checker.py
  control/autoware_control_validator/src/control_validator.cpp
Labels: type:documentation, component:control, run:build-and-test-differential

#10642 ci(build-and-test*): simplify with reusable workflows
  .github/workflows/build-and-test-daily-arm64.yaml
  .github/workflows/build-and-test-daily.yaml
  .github/workflows/build-and-test-reusable.yaml
  .github/workflows/build-and-test.yaml
Labels: type:ci, run:build-and-test-differential

#10651 fix(collision_detector): rename parameters to prevent launch issues
  control/autoware_collision_detector/config/collision_detector.param.yaml
  control/autoware_collision_detector/src/node.cpp
Labels: component:control, run:build-and-test-differential

#10645 chore: perception code owner update
  perception/autoware_bevfusion/package.xml
  perception/autoware_bytetrack/package.xml
  perception/autoware_cluster_merger/package.xml
  perception/autoware_compare_map_segmentation/package.xml
  perception/autoware_detected_object_feature_remover/package.xml
  perception/autoware_detected_object_validation/package.xml
  perception/autoware_detection_by_tracker/package.xml
  perception/autoware_euclidean_cluster/package.xml
  perception/autoware_ground_segmentation/package.xml
  perception/autoware_image_projection_based_fusion/package.xml
  perception/autoware_lidar_apollo_instance_segmentation/package.xml
  perception/autoware_lidar_centerpoint/package.xml
  perception/autoware_lidar_transfusion/package.xml
  perception/autoware_multi_object_tracker/package.xml
  perception/autoware_object_merger/package.xml
  perception/autoware_object_range_splitter/package.xml
  perception/autoware_object_velocity_splitter/package.xml
  perception/autoware_occupancy_grid_map_outlier_filter/package.xml
  perception/autoware_probabilistic_occupancy_grid_map/package.xml
  perception/autoware_radar_crossing_objects_noise_filter/package.xml
  perception/autoware_raindrop_cluster_filter/package.xml
  perception/autoware_shape_estimation/package.xml
  perception/autoware_tensorrt_common/package.xml
  perception/autoware_tensorrt_plugins/package.xml
  perception/autoware_tensorrt_yolox/package.xml
  perception/autoware_tracking_object_merger/package.xml
  perception/perception_utils/package.xml
Labels: component:perception, tag:update-codeowners-from-packages, run:build-and-test-differential

#10345 chore(autoware_traffic_light_visualization): modify docs
  perception/autoware_traffic_light_visualization/README.md
  perception/autoware_traffic_light_visualization/docs/map-visualization.png
  perception/autoware_traffic_light_visualization/docs/roi-visualization.png
  perception/autoware_traffic_light_visualization/images/roi-visualization.png
Labels: type:documentation, component:perception, run:deploy-docs, run:build-and-test-differential

#10614 feat(autoware_probabilistic_occupancy_grid_map): added target architectures for the ogm
  perception/autoware_probabilistic_occupancy_grid_map/CMakeLists.txt
Labels: component:perception, run:build-and-test-differential, tag:require-cuda-build-and-test

#10439 feat(crosswalk): update stop position logic
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/README.md
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/config/crosswalk.param.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/docs/stop_distance_from_object_preferred.svg
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/docs/stop_position.svg
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
Labels: type:documentation, component:planning, run:deploy-docs, run:build-and-test-differential

#7038 fix(bpp): remove unnecessary enable_module in sampling_planner
  planning/behavior_path_planner/autoware_behavior_path_planner/config/scene_module_manager.param.yaml
Labels: component:planning, run:build-and-test-differential

#9622 fix(autoware_behavior_path_planner_common): modify geometric parallel parking path planning
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/parking_departure/geometric_parallel_parking.cpp
Labels: component:planning, run:build-and-test-differential

#10659 fix(autoware_behavior_path_planner_common): revert "modify geometric parallel parking path planning" #9622
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/parking_departure/geometric_parallel_parking.cpp
Labels: component:planning, run:build-and-test-differential

#10661 feat(motion_planning): add direct path to trajectory conversion pipeline when both motion_path_smoother and motion_path_planner are disabled
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/motion_planning/motion_planning.launch.xml
Labels: component:launch, run:build-and-test-differential

#10353 refactor(autoware_traffic_light_map_based_detector): split utils and add test
  perception/autoware_traffic_light_map_based_detector/CMakeLists.txt
  perception/autoware_traffic_light_map_based_detector/config/traffic_light_map_based_detector.param.yaml
  perception/autoware_traffic_light_map_based_detector/package.xml
  perception/autoware_traffic_light_map_based_detector/src/traffic_light_map_based_detector_node.cpp
  perception/autoware_traffic_light_map_based_detector/src/traffic_light_map_based_detector_node.hpp
  perception/autoware_traffic_light_map_based_detector/src/traffic_light_map_based_detector_process.cpp
  perception/autoware_traffic_light_map_based_detector/src/traffic_light_map_based_detector_process.hpp
  perception/autoware_traffic_light_map_based_detector/test/test_utils.cpp
Labels: component:perception, run:build-and-test-differential

#10620 feat(elevation_map_loader): improve log message
  perception/autoware_elevation_map_loader/src/elevation_map_loader_node.cpp
Labels: component:perception, run:build-and-test-differential

#10567 feat(localization): replace tier4_localization_msgs used by ndt_align_srv with autoware_internal_localization_msgs
  common/autoware_component_interface_specs_universe/include/autoware/component_interface_specs_universe/localization.hpp
  common/autoware_component_interface_specs_universe/package.xml
  localization/autoware_ndt_scan_matcher/README.md
  localization/autoware_ndt_scan_matcher/include/autoware/ndt_scan_matcher/ndt_scan_matcher_core.hpp
  localization/autoware_ndt_scan_matcher/package.xml
  localization/autoware_ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
  localization/autoware_ndt_scan_matcher/test/stub_initialpose_client.hpp
  localization/autoware_pose_initializer/README.md
  localization/autoware_pose_initializer/package.xml
  localization/autoware_pose_initializer/src/localization_module.hpp
  localization/yabloc/yabloc_pose_initializer/README.md
  localization/yabloc/yabloc_pose_initializer/include/yabloc_pose_initializer/camera/camera_pose_initializer.hpp
  localization/yabloc/yabloc_pose_initializer/package.xml
  map/autoware_map_height_fitter/package.xml
  map/autoware_map_height_fitter/src/map_height_fitter_node.cpp
  system/autoware_default_adapi/src/utils/localization_conversion.cpp
  system/autoware_default_adapi/src/utils/localization_conversion.hpp
Labels: type:documentation, component:localization, component:system, component:map, component:common, run:build-and-test-differential

#10677 ci(build-and-test*): use self hosted fleet
  .github/workflows/build-and-test-daily.yaml
  .github/workflows/build-and-test-differential-arm64.yaml
  .github/workflows/build-and-test-differential.yaml
  .github/workflows/build-test-tidy-pr.yaml
  .github/workflows/clang-tidy-differential.yaml
Labels: type:ci, run:build-and-test-differential

#10666 fix(autoware_ground_segmentation): correct slope threshold global to local
  perception/autoware_ground_segmentation/src/scan_ground_filter/grid_ground_filter.cpp
Labels: component:perception, run:build-and-test-differential

#10602 feat(autoware_tensorrt_plugins): implemented a tensorrt plugin for the segment_csr operation
  perception/autoware_tensorrt_plugins/CMakeLists.txt
  perception/autoware_tensorrt_plugins/README.md
  perception/autoware_tensorrt_plugins/include/autoware/scatter_ops/atomics.cuh
  perception/autoware_tensorrt_plugins/include/autoware/scatter_ops/reduction.cuh
  perception/autoware_tensorrt_plugins/include/autoware/scatter_ops/reduction.h
  perception/autoware_tensorrt_plugins/include/autoware/scatter_ops/segment_csr.h
  perception/autoware_tensorrt_plugins/include/autoware/scatter_ops/utils.cuh
  perception/autoware_tensorrt_plugins/include/autoware/tensorrt_plugins/segment_csr_plugin.hpp
  perception/autoware_tensorrt_plugins/include/autoware/tensorrt_plugins/segment_csr_plugin_creator.hpp
  perception/autoware_tensorrt_plugins/src/plugin_registration.cpp
  perception/autoware_tensorrt_plugins/src/scatter_ops/segment_csr.cu
  perception/autoware_tensorrt_plugins/src/segment_csr_plugin.cpp
  perception/autoware_tensorrt_plugins/src/segment_csr_plugin_creator.cpp
Labels: type:documentation, component:perception, run:build-and-test-differential, tag:require-cuda-build-and-test

#10604 feat(autoware_tensorrt_plugins): implemented a tensorrt plugin for the unique operation
  perception/autoware_tensorrt_plugins/CMakeLists.txt
  perception/autoware_tensorrt_plugins/README.md
  perception/autoware_tensorrt_plugins/include/autoware/tensorrt_plugins/unique_plugin.hpp
  perception/autoware_tensorrt_plugins/include/autoware/tensorrt_plugins/unique_plugin_creator.hpp
  perception/autoware_tensorrt_plugins/include/autoware/unique_ops/unique.hpp
  perception/autoware_tensorrt_plugins/src/plugin_registration.cpp
  perception/autoware_tensorrt_plugins/src/unique_ops/unique.cu
  perception/autoware_tensorrt_plugins/src/unique_plugin.cpp
  perception/autoware_tensorrt_plugins/src/unique_plugin_creator.cpp
Labels: type:documentation, component:perception, run:build-and-test-differential, tag:require-cuda-build-and-test

#10603 feat(autoware_tensorrt_plugins): implemented tensorrt plugins for the native spconv algorithms
  perception/autoware_tensorrt_plugins/CMakeLists.txt
  perception/autoware_tensorrt_plugins/include/autoware/tensorrt_plugins/get_indices_pairs_plugin.hpp
  perception/autoware_tensorrt_plugins/include/autoware/tensorrt_plugins/get_indices_pairs_plugin_creator.hpp
  perception/autoware_tensorrt_plugins/include/autoware/tensorrt_plugins/indice_conv_plugin.hpp
  perception/autoware_tensorrt_plugins/include/autoware/tensorrt_plugins/indice_conv_plugin_creator.hpp
  perception/autoware_tensorrt_plugins/src/get_indices_pairs_plugin.cpp
  perception/autoware_tensorrt_plugins/src/get_indices_pairs_plugin_creator.cpp
  perception/autoware_tensorrt_plugins/src/indice_conv_plugin.cpp
  perception/autoware_tensorrt_plugins/src/indice_conv_plugin_creator.cpp
  perception/autoware_tensorrt_plugins/src/plugin_registration.cpp
Labels: component:perception, run:build-and-test-differential, tag:require-cuda-build-and-test

#10597 fix(autoware_mrm_handler): add emergency turn indicators
  control/autoware_vehicle_cmd_gate/README.md
  control/autoware_vehicle_cmd_gate/launch/vehicle_cmd_gate.launch.xml
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_gate.cpp
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_gate.hpp
  launch/tier4_control_launch/launch/control.launch.xml
  system/autoware_mrm_handler/README.md
  system/autoware_mrm_handler/config/mrm_handler.param.yaml
  system/autoware_mrm_handler/include/autoware/mrm_handler/mrm_handler_core.hpp
  system/autoware_mrm_handler/launch/mrm_handler.launch.xml
  system/autoware_mrm_handler/schema/mrm_handler.schema.json
  system/autoware_mrm_handler/src/mrm_handler/mrm_handler_core.cpp
Labels: type:documentation, component:control, component:system, component:launch, run:build-and-test-differential, tag:require-cuda-build-and-test, run:clang-tidy-pr-review

#10675 feat(autoware_perception_rviz_plugin)!: remove the package from Autoware Universe
  visualization/autoware_perception_rviz_plugin/CHANGELOG.rst
  visualization/autoware_perception_rviz_plugin/CMakeLists.txt
  visualization/autoware_perception_rviz_plugin/README.md
  visualization/autoware_perception_rviz_plugin/icons/classes/DetectedObjects.png
  visualization/autoware_perception_rviz_plugin/icons/classes/PredictedObjects.png
  visualization/autoware_perception_rviz_plugin/icons/classes/TrackedObjects.png
  visualization/autoware_perception_rviz_plugin/images/detected-object-visualization-description.jpg
  visualization/autoware_perception_rviz_plugin/images/predicted-object-visualization-description.jpg
  visualization/autoware_perception_rviz_plugin/images/tracked-object-visualization-description.jpg
  visualization/autoware_perception_rviz_plugin/include/autoware_perception_rviz_plugin/common/color_alpha_property.hpp
  visualization/autoware_perception_rviz_plugin/include/autoware_perception_rviz_plugin/object_detection/detected_objects_display.hpp
  visualization/autoware_perception_rviz_plugin/include/autoware_perception_rviz_plugin/object_detection/object_polygon_detail.hpp
  visualization/autoware_perception_rviz_plugin/include/autoware_perception_rviz_plugin/object_detection/object_polygon_display_base.hpp
  visualization/autoware_perception_rviz_plugin/include/autoware_perception_rviz_plugin/object_detection/predicted_objects_display.hpp
  visualization/autoware_perception_rviz_plugin/include/autoware_perception_rviz_plugin/object_detection/tracked_objects_display.hpp
  visualization/autoware_perception_rviz_plugin/include/autoware_perception_rviz_plugin/visibility_control.hpp
  visualization/autoware_perception_rviz_plugin/package.xml
  visualization/autoware_perception_rviz_plugin/plugins_description.xml
  visualization/autoware_perception_rviz_plugin/src/common/color_alpha_property.cpp
  visualization/autoware_perception_rviz_plugin/src/object_detection/detected_objects_display.cpp
  visualization/autoware_perception_rviz_plugin/src/object_detection/object_polygon_detail.cpp
  visualization/autoware_perception_rviz_plugin/src/object_detection/predicted_objects_display.cpp
  visualization/autoware_perception_rviz_plugin/src/object_detection/tracked_objects_display.cpp
Labels: run:build-and-test-differential

#10673 feat(tier4_planning_rviz_plugin)!: remove the package from Autoware Universe
  visualization/tier4_planning_rviz_plugin/CHANGELOG.rst
  visualization/tier4_planning_rviz_plugin/CMakeLists.txt
  visualization/tier4_planning_rviz_plugin/README.md
  visualization/tier4_planning_rviz_plugin/icons/classes/DrivableArea.png
  visualization/tier4_planning_rviz_plugin/icons/classes/MaxVelocity.png
  visualization/tier4_planning_rviz_plugin/icons/classes/MissionCheckpointTool.png
  visualization/tier4_planning_rviz_plugin/icons/classes/Path.png
  visualization/tier4_planning_rviz_plugin/icons/classes/PathFootprint.png
  visualization/tier4_planning_rviz_plugin/icons/classes/PathWithLaneId.png
  visualization/tier4_planning_rviz_plugin/icons/classes/PathWithLaneIdFootprint.png
  visualization/tier4_planning_rviz_plugin/icons/classes/PoseWithUuidStamped.png
  visualization/tier4_planning_rviz_plugin/icons/classes/Trajectory.png
  visualization/tier4_planning_rviz_plugin/icons/classes/TrajectoryFootprint.png
  visualization/tier4_planning_rviz_plugin/images/select_add.png
  visualization/tier4_planning_rviz_plugin/images/select_planning_plugin.png
  visualization/tier4_planning_rviz_plugin/images/select_topic_name.png
  visualization/tier4_planning_rviz_plugin/include/tier4_planning_rviz_plugin/mission_checkpoint/mission_checkpoint.hpp
  visualization/tier4_planning_rviz_plugin/include/tier4_planning_rviz_plugin/path/display.hpp
  visualization/tier4_planning_rviz_plugin/include/tier4_planning_rviz_plugin/path/display_base.hpp
  visualization/tier4_planning_rviz_plugin/include/tier4_planning_rviz_plugin/pose_with_uuid_stamped/display.hpp
  visualization/tier4_planning_rviz_plugin/include/tier4_planning_rviz_plugin/utils.hpp
  visualization/tier4_planning_rviz_plugin/package.xml
  visualization/tier4_planning_rviz_plugin/plugins/plugin_description.xml
  visualization/tier4_planning_rviz_plugin/src/mission_checkpoint/mission_checkpoint.cpp
  visualization/tier4_planning_rviz_plugin/src/path/display.cpp
  visualization/tier4_planning_rviz_plugin/src/pose_with_uuid_stamped/display.cpp
  visualization/tier4_planning_rviz_plugin/src/tools/jsk_overlay_utils.cpp
  visualization/tier4_planning_rviz_plugin/src/tools/jsk_overlay_utils.hpp
  visualization/tier4_planning_rviz_plugin/src/tools/max_velocity.cpp
  visualization/tier4_planning_rviz_plugin/src/tools/max_velocity.hpp
Labels: type:documentation, run:build-and-test-differential

#10636 ci(build-and-test-daily): offload uploading coverage to public runners
  .github/workflows/build-and-test-reusable.yaml
Labels: type:ci, run:build-and-test-differential

#10643 chore(autoware_pure_pursuit): remove unused files
  control/autoware_pure_pursuit/include/autoware/pure_pursuit/autoware_pure_pursuit_node.hpp
  control/autoware_pure_pursuit/src/autoware_pure_pursuit/autoware_pure_pursuit_node.cpp
Labels: component:control, run:build-and-test-differential

#10529 fix(tensorrt_plugins): remove unused function logInfo
  perception/autoware_tensorrt_plugins/include/autoware/tensorrt_plugins/plugin_utils.hpp
  perception/autoware_tensorrt_plugins/src/plugin_utils.cpp
Labels: component:perception, run:build-and-test-differential

#10669 fix(static_obstacle_avoidance): fix the judging algorithm that determines whether the vehicle can stop in front of the inserted stop line.
  planning/behavior_path_planner/autoware_behavior_path_avoidance_by_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/utils.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/utils.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/test/test_utils.cpp
Labels: component:planning, run:build-and-test-differential

#10687 feat: mpc info throttle msgs
  control/autoware_mpc_lateral_controller/include/autoware/mpc_lateral_controller/mpc_lateral_controller.hpp
  control/autoware_mpc_lateral_controller/src/mpc_lateral_controller.cpp
Labels: component:control, run:build-and-test-differential

#10672 fix(obstacle_slow_down_module): fix object type specified params bug
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/parameters.hpp
Labels: component:planning, run:build-and-test-differential

#10686 fix(scan_ground_segmentation): separate parameter for recheck ignore distance
  perception/autoware_ground_segmentation/config/ground_segmentation.param.yaml
  perception/autoware_ground_segmentation/config/scan_ground_filter.param.yaml
  perception/autoware_ground_segmentation/schema/ground_segmentation.schema.json
  perception/autoware_ground_segmentation/schema/scan_ground_filter.schema.json
  perception/autoware_ground_segmentation/src/scan_ground_filter/grid_ground_filter.cpp
  perception/autoware_ground_segmentation/src/scan_ground_filter/grid_ground_filter.hpp
  perception/autoware_ground_segmentation/src/scan_ground_filter/node.cpp
  perception/autoware_ground_segmentation/src/scan_ground_filter/node.hpp
  perception/autoware_ground_segmentation/test/test_scan_ground_filter.cpp
Labels: component:perception, run:deploy-docs, run:build-and-test-differential

#10647 feat(obstacle_stop_module): maintain larger stop distance for opposing traffic
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/obstacle_cruise_module.cpp
Labels: component:planning, run:build-and-test-differential

#10566 feat: accelerate voxel filter
  sensing/autoware_cuda_pointcloud_preprocessor/CMakeLists.txt
  sensing/autoware_cuda_pointcloud_preprocessor/README.md
  sensing/autoware_cuda_pointcloud_preprocessor/config/cuda_voxel_grid_downsample_filter.param.yaml
  sensing/autoware_cuda_pointcloud_preprocessor/docs/cuda-voxel-grid-downsample.md
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/cuda_downsample_filter/cuda_voxel_grid_downsample_filter.hpp
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/cuda_downsample_filter/cuda_voxel_grid_downsample_filter_node.hpp
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/cuda_downsample_filter/thrust_custom_allocator.hpp
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/memory.hpp
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/point_types.hpp
  sensing/autoware_cuda_pointcloud_preprocessor/launch/cuda_voxel_grid_downsample_filter.launch.xml
  sensing/autoware_cuda_pointcloud_preprocessor/package.xml
  sensing/autoware_cuda_pointcloud_preprocessor/schema/cuda_voxel_grid_downsample_filter.schema.json
  sensing/autoware_cuda_pointcloud_preprocessor/src/cuda_downsample_filter/cuda_voxel_grid_downsample_filter.cu
  sensing/autoware_cuda_pointcloud_preprocessor/src/cuda_downsample_filter/cuda_voxel_grid_downsample_filter_node.cpp
Labels: type:documentation, component:sensing, run:build-and-test-differential

#10394 feat(autoware_behavior_path_bidirectional_traffic_module): add a functionality for bidirectional traffic
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.xml
  planning/behavior_path_planner/autoware_behavior_path_bidirectional_traffic_module/CMakeLists.txt
  planning/behavior_path_planner/autoware_behavior_path_bidirectional_traffic_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_bidirectional_traffic_module/assets/ApproachingToShift.drawio.svg
  planning/behavior_path_planner/autoware_behavior_path_bidirectional_traffic_module/assets/BackToNormalLane.drawio.svg
  planning/behavior_path_planner/autoware_behavior_path_bidirectional_traffic_module/assets/BidirectionalTrafficMap.png
  planning/behavior_path_planner/autoware_behavior_path_bidirectional_traffic_module/assets/BidirectionalTrafficShiojiri.png
  planning/behavior_path_planner/autoware_behavior_path_bidirectional_traffic_module/assets/KeepLeft.drawio.svg
  planning/behavior_path_planner/autoware_behavior_path_bidirectional_traffic_module/assets/NoNeedToGiveWay.drawio.svg
  planning/behavior_path_planner/autoware_behavior_path_bidirectional_traffic_module/assets/ShiftDistance.drawio.svg
  planning/behavior_path_planner/autoware_behavior_path_bidirectional_traffic_module/assets/ShiftingRoadside.drawio.svg
  planning/behavior_path_planner/autoware_behavior_path_bidirectional_traffic_module/assets/WaitingForOncomingCarsToPass.drawio.svg
  planning/behavior_path_planner/autoware_behavior_path_bidirectional_traffic_module/config/bidirectional_traffic.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_bidirectional_traffic_module/include/autoware/behavior_path_bidirectional_traffic_module/bidirectional_lanelets.hpp
  planning/behavior_path_planner/autoware_behavior_path_bidirectional_traffic_module/include/autoware/behavior_path_bidirectional_traffic_module/give_way.hpp
  planning/behavior_path_planner/autoware_behavior_path_bidirectional_traffic_module/include/autoware/behavior_path_bidirectional_traffic_module/keep_left.hpp
  planning/behavior_path_planner/autoware_behavior_path_bidirectional_traffic_module/include/autoware/behavior_path_bidirectional_traffic_module/manager.hpp
  planning/behavior_path_planner/autoware_behavior_path_bidirectional_traffic_module/include/autoware/behavior_path_bidirectional_traffic_module/oncoming_car.hpp
  planning/behavior_path_planner/autoware_behavior_path_bidirectional_traffic_module/include/autoware/behavior_path_bidirectional_traffic_module/parameter.hpp
  planning/behavior_path_planner/autoware_behavior_path_bidirectional_traffic_module/include/autoware/behavior_path_bidirectional_traffic_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_bidirectional_traffic_module/include/autoware/behavior_path_bidirectional_traffic_module/utils.hpp
  planning/behavior_path_planner/autoware_behavior_path_bidirectional_traffic_module/package.xml
  planning/behavior_path_planner/autoware_behavior_path_bidirectional_traffic_module/plugins.xml
  planning/behavior_path_planner/autoware_behavior_path_bidirectional_traffic_module/schema/bidirectional_traffic.schema.json
  planning/behavior_path_planner/autoware_behavior_path_bidirectional_traffic_module/src/bidirectional_lanelets.cpp
  planning/behavior_path_planner/autoware_behavior_path_bidirectional_traffic_module/src/give_way.cpp
  planning/behavior_path_planner/autoware_behavior_path_bidirectional_traffic_module/src/keep_left.cpp
  planning/behavior_path_planner/autoware_behavior_path_bidirectional_traffic_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_bidirectional_traffic_module/src/oncoming_car.cpp
  planning/behavior_path_planner/autoware_behavior_path_bidirectional_traffic_module/src/parameter.cpp
  planning/behavior_path_planner/autoware_behavior_path_bidirectional_traffic_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_bidirectional_traffic_module/src/utils.cpp
  planning/behavior_path_planner/autoware_behavior_path_bidirectional_traffic_module/test/test_bidirectional_lanelets.cpp
  planning/behavior_path_planner/autoware_behavior_path_bidirectional_traffic_module/test/test_give_way.cpp
  planning/behavior_path_planner/autoware_behavior_path_bidirectional_traffic_module/test/test_helper.hpp
  planning/behavior_path_planner/autoware_behavior_path_bidirectional_traffic_module/test/test_keep_left.cpp
  planning/behavior_path_planner/autoware_behavior_path_bidirectional_traffic_module/test_data/path1.yaml
  planning/behavior_path_planner/autoware_behavior_path_bidirectional_traffic_module/test_data/path2.yaml
  planning/behavior_path_planner/autoware_behavior_path_bidirectional_traffic_module/test_map/lanelet2_map.osm
  planning/behavior_path_planner/autoware_behavior_path_planner/launch/behavior_path_planner.launch.xml
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/utils.cpp
Labels: type:documentation, component:planning, component:launch, run:deploy-docs, run:build-and-test-differential

#10698 fix(autoware_universe_utils): remove unused function
  common/autoware_universe_utils/include/autoware/universe_utils/ros/marker_helper.hpp
  common/autoware_universe_utils/src/ros/marker_helper.cpp
Labels: component:common, run:build-and-test-differential

#10700 fix(sampling_based_planner): remove unmatched suppression
  planning/sampling_based_planner/autoware_frenet_planner/src/frenet_planner/frenet_planner.cpp
Labels: component:planning, run:build-and-test-differential

#10632 feat(autoware_tensorrt_classifier): split cuda and cpp
  perception/autoware_tensorrt_classifier/CMakeLists.txt
Labels: component:perception, run:build-and-test-differential

#10726 fix(path_optimizer): undefined behavior when optimizer failure
  planning/autoware_path_optimizer/src/node.cpp
Labels: component:planning, run:build-and-test-differential

#10618 feat(autoware_euclidean_cluster): enhance VoxelGridBasedEuclideanCluster with Large Cluster Filtering Parameters
  perception/autoware_detection_by_tracker/src/detection_by_tracker_node.cpp
  perception/autoware_euclidean_cluster/README.md
  perception/autoware_euclidean_cluster/config/voxel_grid_based_euclidean_cluster.param.yaml
  perception/autoware_euclidean_cluster/include/autoware/euclidean_cluster/voxel_grid_based_euclidean_cluster.hpp
  perception/autoware_euclidean_cluster/lib/voxel_grid_based_euclidean_cluster.cpp
  perception/autoware_euclidean_cluster/src/voxel_grid_based_euclidean_cluster_node.cpp
  perception/autoware_euclidean_cluster/src/voxel_grid_based_euclidean_cluster_node.hpp
  perception/autoware_euclidean_cluster/test/test_voxel_grid_based_euclidean_cluster.cpp
Labels: type:documentation, component:perception, run:deploy-docs, run:build-and-test-differential

#10731 fix(autoware_map_based_prediction): reverse vru object if it has negative vx
  perception/autoware_map_based_prediction/src/predictor_vru.cpp
Labels: component:perception, run:build-and-test-differential

#10697 feat(mission_planner): print route state when set_route fails
  planning/autoware_mission_planner_universe/src/mission_planner/mission_planner.cpp
Labels: component:planning, run:build-and-test-differential

#10733 chore(build_depends_humble.repos): update autoware_msgs
  build_depends_humble.repos
Labels: run:build-and-test-differential

#10649 feat(autoware_detected_object_validation): add lanelet object elevation filter
  perception/autoware_detected_object_validation/CMakeLists.txt
  perception/autoware_detected_object_validation/config/object_lanelet_filter.param.yaml
  perception/autoware_detected_object_validation/object-lanelet-filter.md
  perception/autoware_detected_object_validation/schema/object_lanelet_filter.schema.json
  perception/autoware_detected_object_validation/src/lanelet_filter/lanelet_filter.cpp
  perception/autoware_detected_object_validation/src/lanelet_filter/lanelet_filter.hpp
  perception/autoware_detected_object_validation/test/lanelet_filter/test_lanelet_filter.cpp
Labels: type:documentation, component:perception, run:build-and-test-differential

#10639 feat(system_diagnostic_monitor)!: remove package
  launch/tier4_system_launch/launch/system.launch.xml
  launch/tier4_system_launch/package.xml
  system/autoware_system_diagnostic_monitor/CHANGELOG.rst
  system/autoware_system_diagnostic_monitor/CMakeLists.txt
  system/autoware_system_diagnostic_monitor/README.md
  system/autoware_system_diagnostic_monitor/config/autoware-main.yaml
  system/autoware_system_diagnostic_monitor/config/autoware-psim.yaml
  system/autoware_system_diagnostic_monitor/config/control.yaml
  system/autoware_system_diagnostic_monitor/config/hardware.yaml
  system/autoware_system_diagnostic_monitor/config/localization.yaml
  system/autoware_system_diagnostic_monitor/config/map.yaml
  system/autoware_system_diagnostic_monitor/config/perception.yaml
  system/autoware_system_diagnostic_monitor/config/planning.yaml
  system/autoware_system_diagnostic_monitor/config/system.yaml
  system/autoware_system_diagnostic_monitor/config/vehicle.yaml
  system/autoware_system_diagnostic_monitor/launch/system_diagnostic_monitor.launch.xml
  system/autoware_system_diagnostic_monitor/package.xml
  system/autoware_system_diagnostic_monitor/script/component_state_diagnostics.py
Labels: type:documentation, component:system, component:launch, run:build-and-test-differential

#10721 feat(obstacle_slow_down): update parameter explanation
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/README.md
Labels: type:documentation, component:planning, run:deploy-docs, run:build-and-test-differential

#10652 feat(autoware_traffic_light_arbiter): adopt new traffic light message
  perception/autoware_traffic_light_arbiter/README.md
  perception/autoware_traffic_light_arbiter/include/autoware/traffic_light_arbiter/traffic_light_arbiter.hpp
  perception/autoware_traffic_light_arbiter/src/traffic_light_arbiter.cpp
  perception/autoware_traffic_light_arbiter/test/test_node.cpp
Labels: type:documentation, component:perception, run:build-and-test-differential

#10732 feat(autoware_motion_velocity_planner): only wait for required subscriptions
  planning/motion_velocity_planner/autoware_motion_velocity_dynamic_obstacle_stop_module/src/dynamic_obstacle_stop_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/obstacle_cruise_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/obstacle_slow_down_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_velocity_limiter_module/src/obstacle_velocity_limiter_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/run_out_module.hpp
Labels: component:planning, run:build-and-test-differential
