Repository autowarefoundation/autoware_universe, pull requests merged in 2025-03, with the labels that each got.

#10160 chore(tier4_perception_launch): re-order objects_validation process after lidar ml detector
  launch/tier4_perception_launch/launch/object_recognition/detection/detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/camera_lidar_detector.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/merger/camera_lidar_merger.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/merger/camera_lidar_radar_merger.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/merger/lidar_merger.launch.xml
Labels: component:launch, run:build-and-test-differential

#10137 feat(elevation_map_loader): add grid_map_rviz_plugin to dependency
  perception/autoware_elevation_map_loader/package.xml
Labels: component:perception, run:build-and-test-differential

#10082 fix(autoware_pointcloud_preprocessor): fix potential double unlock in concatenate node
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/cloud_collector.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/collector_matching_strategy.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/combine_cloud_handler.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/concatenate_and_time_sync_node.hpp
  sensing/autoware_pointcloud_preprocessor/src/concatenate_data/cloud_collector.cpp
  sensing/autoware_pointcloud_preprocessor/src/concatenate_data/concatenate_and_time_sync_node.cpp
Labels: component:sensing, run:build-and-test-differential

#10209 chore(route_handler, QC): remove unused function
  planning/autoware_route_handler/include/autoware/route_handler/route_handler.hpp
  planning/autoware_route_handler/src/route_handler.cpp
Labels: component:planning, run:build-and-test-differential

#10016 feat(autoware_image_based_projection_fusion): redesign image based projection fusion node
  perception/autoware_image_projection_based_fusion/CMakeLists.txt
  perception/autoware_image_projection_based_fusion/README.md
  perception/autoware_image_projection_based_fusion/config/fusion_common.param.yaml
  perception/autoware_image_projection_based_fusion/docs/images/fusion_algorithm.drawio.svg
  perception/autoware_image_projection_based_fusion/docs/images/lidar_camera_sync.svg
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/fusion_collector.hpp
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/fusion_matching_strategy.hpp
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/fusion_node.hpp
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/fusion_types.hpp
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/pointpainting_fusion/node.hpp
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/roi_cluster_fusion/node.hpp
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/roi_detected_object_fusion/node.hpp
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/roi_pointcloud_fusion/node.hpp
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/segmentation_pointcloud_fusion/node.hpp
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/utils/utils.hpp
  perception/autoware_image_projection_based_fusion/launch/roi_detected_object_fusion.launch.xml
  perception/autoware_image_projection_based_fusion/package.xml
  perception/autoware_image_projection_based_fusion/schema/fusion_common.schema.json
  perception/autoware_image_projection_based_fusion/src/fusion_collector.cpp
  perception/autoware_image_projection_based_fusion/src/fusion_matching_strategy.cpp
  perception/autoware_image_projection_based_fusion/src/fusion_node.cpp
  perception/autoware_image_projection_based_fusion/src/pointpainting_fusion/node.cpp
  perception/autoware_image_projection_based_fusion/src/roi_cluster_fusion/node.cpp
  perception/autoware_image_projection_based_fusion/src/roi_detected_object_fusion/node.cpp
  perception/autoware_image_projection_based_fusion/src/roi_pointcloud_fusion/node.cpp
  perception/autoware_image_projection_based_fusion/src/segmentation_pointcloud_fusion/node.cpp
  perception/autoware_image_projection_based_fusion/src/utils/utils.cpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/collector_matching_strategy.hpp
  sensing/autoware_pointcloud_preprocessor/src/concatenate_data/concatenate_and_time_sync_node.cpp
Labels: type:documentation, component:perception, component:sensing, run:deploy-docs, run:build-and-test-differential

#10196 fix(segmentation_pointcloud_fusion): set valid pointcloud field for output pointcloud
  perception/autoware_image_projection_based_fusion/src/segmentation_pointcloud_fusion/node.cpp
Labels: component:perception, run:build-and-test-differential

#10201 fix(planning, control): reuse stamp of subscribed topic to measure component latency
  control/autoware_trajectory_follower_node/src/controller_node.cpp
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_gate.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner/src/node.cpp
Labels: component:planning, component:control, run:build-and-test-differential, run:clang-tidy-pr-review

#10221 fix(lane_departure_checker): fix trajectory resampling logic to keep given interval
  control/autoware_lane_departure_checker/src/lane_departure_checker_node/utils.cpp
  control/autoware_lane_departure_checker/test/test_resample_trajectory.cpp
Labels: component:control, run:build-and-test-differential

#10223 feat(dummy_infrastructure): auto approval when ego stops at stop line
  system/autoware_dummy_infrastructure/config/dummy_infrastructure.param.yaml
  system/autoware_dummy_infrastructure/include/autoware/dummy_infrastructure/dummy_infrastructure_node.hpp
  system/autoware_dummy_infrastructure/launch/dummy_infrastructure.launch.xml
  system/autoware_dummy_infrastructure/package.xml
  system/autoware_dummy_infrastructure/schema/dummy_infrastructure.schema.json
  system/autoware_dummy_infrastructure/src/dummy_infrastructure_node/dummy_infrastructure_node.cpp
Labels: component:system, run:build-and-test-differential

#10215 feat(autoware_object_recognition_utils): remove from universe
  common/autoware_object_recognition_utils/CHANGELOG.rst
  common/autoware_object_recognition_utils/CMakeLists.txt
  common/autoware_object_recognition_utils/README.md
  common/autoware_object_recognition_utils/include/autoware/object_recognition_utils/conversion.hpp
  common/autoware_object_recognition_utils/include/autoware/object_recognition_utils/geometry.hpp
  common/autoware_object_recognition_utils/include/autoware/object_recognition_utils/matching.hpp
  common/autoware_object_recognition_utils/include/autoware/object_recognition_utils/object_classification.hpp
  common/autoware_object_recognition_utils/include/autoware/object_recognition_utils/object_recognition_utils.hpp
  common/autoware_object_recognition_utils/include/autoware/object_recognition_utils/predicted_path_utils.hpp
  common/autoware_object_recognition_utils/include/autoware/object_recognition_utils/transform.hpp
  common/autoware_object_recognition_utils/package.xml
  common/autoware_object_recognition_utils/src/conversion.cpp
  common/autoware_object_recognition_utils/src/predicted_path_utils.cpp
  common/autoware_object_recognition_utils/test/src/test_conversion.cpp
  common/autoware_object_recognition_utils/test/src/test_geometry.cpp
  common/autoware_object_recognition_utils/test/src/test_matching.cpp
  common/autoware_object_recognition_utils/test/src/test_object_classification.cpp
  common/autoware_object_recognition_utils/test/src/test_predicted_path_utils.cpp
Labels: type:documentation, component:common, run:build-and-test-differential, common

#10185 chore(autoware_pointcloud_preprocessor): fix variable naming in distortion corrector
  sensing/autoware_pointcloud_preprocessor/src/distortion_corrector/distortion_corrector.cpp
  sensing/autoware_pointcloud_preprocessor/test/test_distortion_corrector_node.cpp
Labels: component:sensing, run:build-and-test-differential

#10073 refactor: add autoware_cuda_dependency_meta
  common/autoware_cuda_dependency_meta/CMakeLists.txt
  common/autoware_cuda_dependency_meta/README.md
  common/autoware_cuda_dependency_meta/package.xml
  perception/autoware_bytetrack/package.xml
  perception/autoware_image_projection_based_fusion/package.xml
  perception/autoware_lidar_apollo_instance_segmentation/package.xml
  perception/autoware_lidar_centerpoint/package.xml
  perception/autoware_lidar_transfusion/package.xml
  perception/autoware_probabilistic_occupancy_grid_map/package.xml
  perception/autoware_shape_estimation/package.xml
  perception/autoware_tensorrt_classifier/package.xml
  perception/autoware_tensorrt_common/package.xml
  perception/autoware_tensorrt_yolox/package.xml
  perception/autoware_traffic_light_classifier/package.xml
  perception/autoware_traffic_light_fine_detector/package.xml
  sensing/autoware_cuda_utils/package.xml
Labels: type:documentation, component:perception, component:sensing, component:common, run:build-and-test-differential

#10204 feat(Autoware_planning_factor_interface): replace tier4_msgs with autoware_internal_msgs
  planning/autoware_obstacle_cruise_planner/package.xml
  planning/autoware_obstacle_cruise_planner/src/pid_based_planner/pid_based_planner.cpp
  planning/autoware_obstacle_cruise_planner/src/planner_interface.cpp
  planning/autoware_obstacle_stop_planner/package.xml
  planning/autoware_obstacle_stop_planner/src/debug_marker.cpp
  planning/autoware_planning_factor_interface/include/autoware/planning_factor_interface/planning_factor_interface.hpp
  planning/autoware_planning_factor_interface/package.xml
  planning/autoware_surround_obstacle_checker/package.xml
  planning/autoware_surround_obstacle_checker/src/debug_marker.cpp
  planning/autoware_surround_obstacle_checker/src/debug_marker.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/interface/scene_module_interface.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/path_safety_checker/safety_check.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/package.xml
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/path_safety_checker/safety_check.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/src/decisions.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_merge_from_private_road.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_drivable_lane_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/src/scene_no_stopping_area.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_walkway_module/src/scene_walkway.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/type_alias.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/type_alias.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/type_alias.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common_universe/include/autoware/motion_velocity_planner_common_universe/plugin_module_interface.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common_universe/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node_universe/README.md
  system/autoware_default_adapi/package.xml
  system/autoware_default_adapi/src/planning.hpp
  system/autoware_dummy_infrastructure/include/autoware/dummy_infrastructure/dummy_infrastructure_node.hpp
  system/autoware_dummy_infrastructure/package.xml
  visualization/tier4_planning_factor_rviz_plugin/package.xml
  visualization/tier4_planning_factor_rviz_plugin/plugins.xml
  visualization/tier4_planning_factor_rviz_plugin/src/planning_factor_rviz_plugin.cpp
  visualization/tier4_planning_factor_rviz_plugin/src/planning_factor_rviz_plugin.hpp
Labels: type:documentation, component:planning, component:system, run:build-and-test-differential, component:visualization

#10239 chore(mpc_lateral_controller): add package maintainer
  control/autoware_mpc_lateral_controller/package.xml
Labels: component:control, run:build-and-test-differential

#10132 fix(tier4_system_launch): add missing exec_depend
  launch/tier4_system_launch/package.xml
Labels: component:launch, run:build-and-test-differential

#10133 fix(tier4_vehicle_launch): add missing exec_depend
  launch/tier4_vehicle_launch/package.xml
Labels: component:launch, run:build-and-test-differential

#10134 fix(planning): add missing exec_depend
  planning/autoware_freespace_planner/launch/freespace_planner.launch.xml
  planning/autoware_obstacle_stop_planner/launch/obstacle_stop_planner.launch.xml
  planning/autoware_path_optimizer/package.xml
Labels: component:planning, run:build-and-test-differential

#10242 fix(static_obstacle_avoidance): ego doesn't keep stopping in unsafe condition
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
Labels: component:planning, run:build-and-test-differential, run:clang-tidy-pr-review

#10135 fix(common): fix package name of find-pkg-share
  common/autoware_goal_distance_calculator/launch/goal_distance_calculator.launch.xml
Labels: component:common, run:build-and-test-differential

#10240 feat(control_validator): add diag to check control component latency
  control/autoware_control_validator/config/control_validator.param.yaml
  control/autoware_control_validator/include/autoware/control_validator/control_validator.hpp
  control/autoware_control_validator/msg/ControlValidatorStatus.msg
  control/autoware_control_validator/package.xml
  control/autoware_control_validator/src/control_validator.cpp
  launch/tier4_control_launch/launch/control.launch.xml
Labels: component:control, component:launch, run:build-and-test-differential, run:clang-tidy-pr-review

#10245 fix(stopline, traffic_light): fix planning factor distance value
  planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/scene.cpp
Labels: component:planning, run:build-and-test-differential

#10222 fix(compare_map_filter): deadlock bug fix
  perception/autoware_compare_map_segmentation/src/distance_based_compare_map_filter/node.cpp
  perception/autoware_compare_map_segmentation/src/distance_based_compare_map_filter/node.hpp
  perception/autoware_compare_map_segmentation/src/voxel_based_approximate_compare_map_filter/node.cpp
  perception/autoware_compare_map_segmentation/src/voxel_distance_based_compare_map_filter/node.cpp
  perception/autoware_compare_map_segmentation/src/voxel_distance_based_compare_map_filter/node.hpp
  perception/autoware_compare_map_segmentation/src/voxel_grid_map_loader/voxel_grid_map_loader.cpp
  perception/autoware_compare_map_segmentation/src/voxel_grid_map_loader/voxel_grid_map_loader.hpp
Labels: component:perception, run:build-and-test-differential

#10243 feat(autoware_planning_factor_interface): remove from universe
  planning/autoware_planning_factor_interface/CHANGELOG.rst
  planning/autoware_planning_factor_interface/CMakeLists.txt
  planning/autoware_planning_factor_interface/README.md
  planning/autoware_planning_factor_interface/include/autoware/planning_factor_interface/planning_factor_interface.hpp
  planning/autoware_planning_factor_interface/package.xml
  planning/autoware_planning_factor_interface/src/planing_factor_interface.cpp
Labels: type:documentation, component:planning, run:build-and-test-differential

#10140 fix(out_of_lane): fix condition to keep using previous stop pose within some time buffer
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_module.cpp
Labels: component:planning, run:build-and-test-differential

#10229 feat(planning_factor): support new cruise planner's factor
  system/autoware_default_adapi/src/planning.cpp
Labels: component:system, run:build-and-test-differential

#10227 fix(obstacle_cruise_planner): ignore invalid stopping objects
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/README.md
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/config/obstacle_cruise.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/obstacle_cruise_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/obstacle_cruise_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/parameters.hpp
Labels: type:documentation, component:planning, run:build-and-test-differential

#10249 fix(tier4_planning_launch): remap topics for path_generator
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.xml
Labels: component:launch, run:deploy-docs, run:build-and-test-differential

#10246 feat(control_evaluator): add a new stop_deviation metric
  evaluator/autoware_control_evaluator/CMakeLists.txt
  evaluator/autoware_control_evaluator/config/control_evaluator.param.yaml
  evaluator/autoware_control_evaluator/include/autoware/control_evaluator/control_evaluator_node.hpp
  evaluator/autoware_control_evaluator/include/autoware/control_evaluator/metrics/metric.hpp
  evaluator/autoware_control_evaluator/launch/control_evaluator.launch.xml
  evaluator/autoware_control_evaluator/package.xml
  evaluator/autoware_control_evaluator/param/control_evaluator.defaults.yaml
  evaluator/autoware_control_evaluator/schema/autoware_control_evaluator.schema.json
  evaluator/autoware_control_evaluator/src/control_evaluator_node.cpp
  evaluator/autoware_control_evaluator/test/test_control_evaluator_node.cpp
  evaluator/autoware_planning_evaluator/schema/autoware_planning_evaluator.schema.json
Labels: component:evaluator, run:build-and-test-differential

#10250 fix(obstacle_stop): accounting for vehicle bumper length when handling point-cloud stop points
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/obstacle_stop_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/obstacle_stop_module.hpp
Labels: component:planning, run:build-and-test-differential

#10181 fix(path_optimizer): remove unnecesary optional
  planning/autoware_path_optimizer/include/autoware/path_optimizer/mpt_optimizer.hpp
  planning/autoware_path_optimizer/src/mpt_optimizer.cpp
Labels: component:planning, run:build-and-test-differential

#10235 fix(autoware_mpc_lateral_controller): replace Eigen::VectorXd with Eigen::Vector3d for state representation
  control/autoware_mpc_lateral_controller/src/vehicle_model/vehicle_model_bicycle_kinematics.cpp
Labels: component:control, run:build-and-test-differential

#10254 fix(dynamic_obstacle_stop): publish processing time when early return
  planning/motion_velocity_planner/autoware_motion_velocity_dynamic_obstacle_stop_module/src/dynamic_obstacle_stop_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_dynamic_obstacle_stop_module/src/dynamic_obstacle_stop_module.hpp
Labels: component:planning, run:build-and-test-differential

#10236 feat(control_validator)!: add overrun check
  control/autoware_control_validator/README.md
  control/autoware_control_validator/config/control_validator.param.yaml
  control/autoware_control_validator/include/autoware/control_validator/control_validator.hpp
  control/autoware_control_validator/msg/ControlValidatorStatus.msg
  control/autoware_control_validator/src/control_validator.cpp
Labels: type:documentation, component:control, run:build-and-test-differential

#10220 feat(behavior_path_planner_common): modify drivable area expansion to be able to avoid static objects
  planning/behavior_path_planner/autoware_behavior_path_planner/config/drivable_area_expansion.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/docs/behavior_path_planner_drivable_area_design.md
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/drivable_area_expansion/parameters.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/drivable_area_expansion/footprints.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/test/test_drivable_area_expansion.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/test/test_footprints.cpp
Labels: type:documentation, component:planning, run:deploy-docs, run:build-and-test-differential, run:clang-tidy-pr-review

#10244 fix(lane_change_module): fix planning factor issue
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/test/test_lane_change_scene.cpp
Labels: component:planning, run:build-and-test-differential

#10261 fix(autoware_mission_planner_universe): add explicit test dependency
  planning/autoware_mission_planner_universe/CMakeLists.txt
Labels: component:planning, run:build-and-test-differential

#10258 feat(planning_validator): add yaw deviation metric
  planning/autoware_planning_validator/README.md
  planning/autoware_planning_validator/config/planning_validator.param.yaml
  planning/autoware_planning_validator/include/autoware/planning_validator/planning_validator.hpp
  planning/autoware_planning_validator/msg/PlanningValidatorStatus.msg
  planning/autoware_planning_validator/src/planning_validator.cpp
  planning/autoware_planning_validator/test/src/test_parameter.hpp
  planning/autoware_planning_validator/test/src/test_planning_validator_helper.cpp
  planning/autoware_planning_validator/test/src/test_planning_validator_pubsub.cpp
Labels: type:documentation, component:planning, run:build-and-test-differential

#10260 fix(autoware_universe_utils): fix procedure to check if point is on edge
  common/autoware_universe_utils/src/geometry/alt_geometry.cpp
  common/autoware_universe_utils/test/src/geometry/test_alt_geometry.cpp
Labels: component:common, run:build-and-test-differential, run:clang-tidy-pr-review

#10202 fix(static_obstacle_avoidance): turn signal chattering
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
Labels: component:planning, run:build-and-test-differential

#10207 fix(goal_planner): invert lane boundary of neighbor opposite lanelets when generating departure check lane
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/util.cpp
Labels: component:planning, run:build-and-test-differential

#10252 fix(ndt_scan_matcher): fix the covariance calculation
  localization/autoware_ndt_scan_matcher/src/ndt_omp/multi_voxel_grid_covariance_omp_impl.hpp
Labels: component:localization, run:build-and-test-differential

#9854 feat: add build-and-test-packages-above-differential.yaml and packages_above.repos
  .github/workflows/build-and-test-packages-above-differential.yaml
  .github/workflows/build-test-tidy-pr.yaml
  packages_above.repos
Labels: type:ci, run:build-and-test-differential

#10247 fix(autoware_map_loader): exec name renamed in 24652f8
  map/autoware_map_loader/launch/lanelet2_map_loader.launch.xml
Labels: component:map, run:build-and-test-differential

#10267 fix(out_of_lane): fix object path time collision calculation
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_collisions.cpp
Labels: component:planning, run:build-and-test-differential

#10232 fix(obstacle_cruise_planner): fix obstacle filtering logic
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/obstacle_cruise_module.cpp
Labels: component:planning, run:build-and-test-differential

#10272 fix(segmentation_pointcloud_fusion): fix typo of defaut camera info topic
  perception/autoware_image_projection_based_fusion/launch/segmentation_pointcloud_fusion.launch.xml
Labels: component:perception, run:build-and-test-differential

#10274 fix(goal_planner): ignore use bus_stop_area flag if there are no BusStopArea on the pull over lanes
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_searcher.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_searcher.cpp
Labels: component:planning, run:build-and-test-differential

#10203 refactor(multi_object_tracker): internal message driven process
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/association/association.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/object_model/shapes.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/object_model/types.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/bicycle_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/multiple_vehicle_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/pass_through_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/pedestrian_and_bicycle_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/pedestrian_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/tracker_base.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/unknown_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/vehicle_tracker.hpp
  perception/autoware_multi_object_tracker/lib/association/association.cpp
  perception/autoware_multi_object_tracker/lib/object_model/shapes.cpp
  perception/autoware_multi_object_tracker/lib/object_model/types.cpp
  perception/autoware_multi_object_tracker/lib/odometry.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/bicycle_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/multiple_vehicle_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/pass_through_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/pedestrian_and_bicycle_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/pedestrian_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/tracker_base.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/unknown_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/vehicle_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/motion_model/bicycle_motion_model.cpp
  perception/autoware_multi_object_tracker/lib/tracker/motion_model/ctrv_motion_model.cpp
  perception/autoware_multi_object_tracker/lib/tracker/motion_model/cv_motion_model.cpp
  perception/autoware_multi_object_tracker/lib/uncertainty/uncertainty_processor.cpp
  perception/autoware_multi_object_tracker/src/debugger/debug_object.cpp
  perception/autoware_multi_object_tracker/src/debugger/debug_object.hpp
  perception/autoware_multi_object_tracker/src/debugger/debugger.cpp
  perception/autoware_multi_object_tracker/src/debugger/debugger.hpp
  perception/autoware_multi_object_tracker/src/multi_object_tracker_node.cpp
  perception/autoware_multi_object_tracker/src/multi_object_tracker_node.hpp
  perception/autoware_multi_object_tracker/src/processor/input_manager.cpp
  perception/autoware_multi_object_tracker/src/processor/input_manager.hpp
  perception/autoware_multi_object_tracker/src/processor/processor.cpp
  perception/autoware_multi_object_tracker/src/processor/processor.hpp
Labels: component:perception, run:build-and-test-differential

#10218 feat(traffic_light_classifier): update diagnostics when harsh backlight is detected
  perception/autoware_traffic_light_classifier/package.xml
  perception/autoware_traffic_light_classifier/src/traffic_light_classifier_node.cpp
  perception/autoware_traffic_light_classifier/src/traffic_light_classifier_node.hpp
Labels: component:perception, run:build-and-test-differential

#10289 fix(obstacle stop/slow_down): early return without point cloud
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/obstacle_slow_down_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/obstacle_slow_down_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/obstacle_stop_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/obstacle_stop_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/parameters.hpp
Labels: component:planning, run:build-and-test-differential

#10269 fix(obstacle_stop): use max_lat_margin_against_unknown only for predicted object
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/config/obstacle_stop.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/obstacle_stop_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/parameters.hpp
Labels: component:planning, run:build-and-test-differential

#10286 fix(autoware_multi_object_tracker): unknown object orientation
  perception/autoware_multi_object_tracker/lib/object_model/shapes.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/unknown_tracker.cpp
  perception/autoware_multi_object_tracker/src/processor/input_manager.cpp
Labels: component:perception, run:build-and-test-differential

#10270 feat: apply splitting of autoware_utils_geometry
  planning/autoware_path_optimizer/include/autoware/path_optimizer/utils/geometry_utils.hpp
  planning/autoware_path_optimizer/include/autoware/path_optimizer/utils/trajectory_utils.hpp
  planning/autoware_path_optimizer/src/utils/geometry_utils.cpp
  planning/autoware_path_optimizer/src/utils/trajectory_utils.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection_prepare_data.cpp
Labels: component:planning, run:build-and-test-differential

#10292 fix(behavior_velocity_planner): planning factor integration
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/src/decisions.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_merge_from_private_road.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_drivable_lane_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/src/scene_no_stopping_area.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_walkway_module/src/scene_walkway.cpp
Labels: component:planning, run:build-and-test-differential, run:clang-tidy-pr-review

#10273 feat!: replace VelocityLimit messages with autoware_internal_planning_msgs
  planning/autoware_external_velocity_limit_selector/README.md
  planning/autoware_external_velocity_limit_selector/include/autoware/external_velocity_limit_selector/external_velocity_limit_selector_node.hpp
  planning/autoware_external_velocity_limit_selector/package.xml
  planning/autoware_external_velocity_limit_selector/test/test_external_velocity_limit_selector_node_launch.py
  planning/autoware_obstacle_cruise_planner/README.md
  planning/autoware_obstacle_cruise_planner/include/autoware/obstacle_cruise_planner/type_alias.hpp
  planning/autoware_obstacle_cruise_planner/src/pid_based_planner/pid_based_planner.cpp
  planning/autoware_obstacle_stop_planner/src/node.hpp
  planning/autoware_remaining_distance_time_calculator/package.xml
  planning/autoware_remaining_distance_time_calculator/src/remaining_distance_time_calculator_node.cpp
  planning/autoware_remaining_distance_time_calculator/src/remaining_distance_time_calculator_node.hpp
  planning/autoware_surround_obstacle_checker/README.md
  planning/autoware_surround_obstacle_checker/src/node.hpp
  planning/autoware_surround_obstacle_checker/surround_obstacle_checker-design.ja.md
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/node.hpp
  planning/autoware_velocity_smoother/package.xml
  planning/autoware_velocity_smoother/test/test_velocity_smoother_node_interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner/include/autoware/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner/package.xml
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/data_manager.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner/include/autoware/behavior_velocity_planner/node.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner/src/test_utils.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/include/autoware/behavior_velocity_planner_common/planner_data.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/pid_based_planner/pid_based_planner.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/type_alias.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/type_alias.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common_universe/include/autoware/motion_velocity_planner_common_universe/velocity_planning_result.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node_universe/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node_universe/src/node.hpp
  system/autoware_mrm_comfortable_stop_operator/README.md
  system/autoware_mrm_comfortable_stop_operator/include/autoware/mrm_comfortable_stop_operator/mrm_comfortable_stop_operator_core.hpp
  system/autoware_mrm_comfortable_stop_operator/package.xml
  system/autoware_mrm_comfortable_stop_operator/src/mrm_comfortable_stop_operator/mrm_comfortable_stop_operator_core.cpp
  visualization/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/CMakeLists.txt
  visualization/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/README.md
  visualization/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/include/signal_display.hpp
  visualization/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/include/speed_limit_display.hpp
  visualization/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/package.xml
  visualization/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/src/signal_display.cpp
  visualization/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/src/speed_limit_display.cpp
  visualization/tier4_planning_rviz_plugin/README.md
  visualization/tier4_planning_rviz_plugin/package.xml
  visualization/tier4_planning_rviz_plugin/src/tools/max_velocity.cpp
  visualization/tier4_planning_rviz_plugin/src/tools/max_velocity.hpp
  visualization/tier4_state_rviz_plugin/README.md
  visualization/tier4_state_rviz_plugin/package.xml
  visualization/tier4_state_rviz_plugin/src/autoware_state_panel.cpp
  visualization/tier4_state_rviz_plugin/src/include/autoware_state_panel.hpp
Labels: type:documentation, component:planning, component:system, run:build-and-test-differential

#10297 chore(autoware_cuda_pointcloud_preprocessor): add maintainer
  sensing/autoware_cuda_pointcloud_preprocessor/package.xml
Labels: component:sensing, tag:update-codeowners-from-packages, run:build-and-test-differential

#10276 feat(path_optimizer): additional failure logging and failure mode handling
  control/autoware_mpc_lateral_controller/src/qp_solver/qp_solver_osqp.cpp
  planning/autoware_obstacle_cruise_planner/src/optimization_based_planner/velocity_optimizer.cpp
  planning/autoware_path_optimizer/include/autoware/path_optimizer/mpt_optimizer.hpp
  planning/autoware_path_optimizer/include/autoware/path_optimizer/node.hpp
  planning/autoware_path_optimizer/include/autoware/path_optimizer/state_equation_generator.hpp
  planning/autoware_path_optimizer/include/autoware/path_optimizer/utils/conditional_timer.hpp
  planning/autoware_path_optimizer/src/mpt_optimizer.cpp
  planning/autoware_path_optimizer/src/node.cpp
  planning/autoware_path_smoother/src/elastic_band.cpp
  planning/autoware_velocity_smoother/src/smoother/l2_pseudo_jerk_smoother.cpp
  planning/autoware_velocity_smoother/src/smoother/linf_pseudo_jerk_smoother.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/optimization_based_planner/velocity_optimizer.cpp
  system/autoware_system_diagnostic_monitor/config/planning.yaml
Labels: component:planning, component:control, component:system, run:build-and-test-differential

#10307 fix(safety_check): set safety condition properly
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/path_safety_checker/safety_check.cpp
Labels: component:planning, run:build-and-test-differential, run:clang-tidy-pr-review

#10313 feat(autoware_pointcloud_preprocessor): add missing vehicle msg depency
  sensing/autoware_pointcloud_preprocessor/package.xml
Labels: run:build-and-test-differential

#10303 fix(autoware_behavior_path_static_obstacle_avoidance_module): blinker bug in static obstacle avoidance
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
Labels: component:planning, run:build-and-test-differential

#10314 refactor(control): remove unimplemented function declarations
  control/autoware_lane_departure_checker/include/autoware/lane_departure_checker/lane_departure_checker_node.hpp
Labels: component:control, run:build-and-test-differential

#10312 fix(autoware_carla_interface): updated the CARLA interface to convert steer angle to actuator command and to model steering with first order dynamics and updated the "steer_map.csv" file
  simulator/autoware_carla_interface/calibration_maps/steer_map.csv
  simulator/autoware_carla_interface/src/autoware_carla_interface/carla_ros.py
Labels: component:simulation, run:build-and-test-differential

#10294 feat(goal_planner): expand outer collision check margin
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/config/goal_planner.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/images/goal_planner-collision_check_margin.drawio.svg
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_parameters.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/util.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/decision_state.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/util.cpp
Labels: type:documentation, component:planning, run:build-and-test-differential

#10277 feat(autoware_multi_object_tracker): selective update per channel
  perception/autoware_multi_object_tracker/CMakeLists.txt
  perception/autoware_multi_object_tracker/config/input_channels.param.yaml
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/object_model/types.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/bicycle_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/multiple_vehicle_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/pass_through_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/pedestrian_and_bicycle_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/pedestrian_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/tracker_base.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/unknown_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/vehicle_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/motion_model/bicycle_motion_model.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/tracker.hpp
  perception/autoware_multi_object_tracker/lib/tracker/model/bicycle_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/multiple_vehicle_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/pass_through_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/pedestrian_and_bicycle_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/pedestrian_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/tracker_base.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/unknown_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/vehicle_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/motion_model/bicycle_motion_model.cpp
  perception/autoware_multi_object_tracker/schema/input_channels.schema.json
  perception/autoware_multi_object_tracker/src/multi_object_tracker_node.cpp
  perception/autoware_multi_object_tracker/src/processor/processor.cpp
Labels: component:perception, run:build-and-test-differential

#10335 feat(autoware_signal_processing)!: port autoware_signal_processing to Autoware Core
  common/autoware_signal_processing/CHANGELOG.rst
  common/autoware_signal_processing/CMakeLists.txt
  common/autoware_signal_processing/README.md
  common/autoware_signal_processing/documentation/ButterworthFilter.md
  common/autoware_signal_processing/documentation/img.png
  common/autoware_signal_processing/include/autoware/signal_processing/butterworth.hpp
  common/autoware_signal_processing/include/autoware/signal_processing/lowpass_filter.hpp
  common/autoware_signal_processing/include/autoware/signal_processing/lowpass_filter_1d.hpp
  common/autoware_signal_processing/package.xml
  common/autoware_signal_processing/src/butterworth.cpp
  common/autoware_signal_processing/src/lowpass_filter.cpp
  common/autoware_signal_processing/src/lowpass_filter_1d.cpp
  common/autoware_signal_processing/test/include/butterworth_filter_test.hpp
  common/autoware_signal_processing/test/src/butterworth_filter_test.cpp
  common/autoware_signal_processing/test/src/lowpass_filter_1d_test.cpp
  common/autoware_signal_processing/test/src/lowpass_filter_test.cpp
  common/autoware_signal_processing/usage_examples/main_butterworth.cpp
Labels: type:documentation, component:common, run:build-and-test-differential

#10332 feat(crosswalk_module): consider objects on crosswalk when pedestrian traffic light is red
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/config/crosswalk.param.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
Labels: component:planning, run:build-and-test-differential

#10265 feat(autoware_map_projection_loader)!: move autoware_map_projection_loader package to Autoware Core
  map/autoware_map_projection_loader/CHANGELOG.rst
  map/autoware_map_projection_loader/CMakeLists.txt
  map/autoware_map_projection_loader/README.md
  map/autoware_map_projection_loader/config/map_projection_loader.param.yaml
  map/autoware_map_projection_loader/docs/map_projector_type.svg
  map/autoware_map_projection_loader/include/autoware/map_projection_loader/load_info_from_lanelet2_map.hpp
  map/autoware_map_projection_loader/include/autoware/map_projection_loader/map_projection_loader.hpp
  map/autoware_map_projection_loader/launch/map_projection_loader.launch.xml
  map/autoware_map_projection_loader/package.xml
  map/autoware_map_projection_loader/schema/map_projection_loader.schema.json
  map/autoware_map_projection_loader/src/load_info_from_lanelet2_map.cpp
  map/autoware_map_projection_loader/src/map_projection_loader.cpp
  map/autoware_map_projection_loader/test/data/map_projector_info_local.yaml
  map/autoware_map_projection_loader/test/data/map_projector_info_local_cartesian_utm.yaml
  map/autoware_map_projection_loader/test/data/map_projector_info_mgrs.yaml
  map/autoware_map_projection_loader/test/data/map_projector_info_transverse_mercator.yaml
  map/autoware_map_projection_loader/test/test_load_info_from_lanelet2_map.cpp
  map/autoware_map_projection_loader/test/test_node_load_local_cartesian_utm_from_yaml.test.py
  map/autoware_map_projection_loader/test/test_node_load_local_from_yaml.test.py
  map/autoware_map_projection_loader/test/test_node_load_mgrs_from_yaml.test.py
  map/autoware_map_projection_loader/test/test_node_load_transverse_mercator_from_yaml.test.py
Labels: type:documentation, component:map, run:build-and-test-differential

#10331 feat(autoware_velocity_smoother)!: move autoware_velocity_smoother to Autoware Core
  planning/autoware_velocity_smoother/CHANGELOG.rst
  planning/autoware_velocity_smoother/CMakeLists.txt
  planning/autoware_velocity_smoother/README.ja.md
  planning/autoware_velocity_smoother/README.md
  planning/autoware_velocity_smoother/config/Analytical.param.yaml
  planning/autoware_velocity_smoother/config/JerkFiltered.param.yaml
  planning/autoware_velocity_smoother/config/L2.param.yaml
  planning/autoware_velocity_smoother/config/Linf.param.yaml
  planning/autoware_velocity_smoother/config/default_common.param.yaml
  planning/autoware_velocity_smoother/config/default_velocity_smoother.param.yaml
  planning/autoware_velocity_smoother/config/rqt_multiplot.xml
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/node.hpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/resample.hpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/smoother/analytical_jerk_constrained_smoother/analytical_jerk_constrained_smoother.hpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/smoother/analytical_jerk_constrained_smoother/velocity_planning_utils.hpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/smoother/jerk_filtered_smoother.hpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/smoother/l2_pseudo_jerk_smoother.hpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/smoother/linf_pseudo_jerk_smoother.hpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/smoother/smoother_base.hpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/trajectory_utils.hpp
  planning/autoware_velocity_smoother/launch/velocity_smoother.launch.xml
  planning/autoware_velocity_smoother/media/motion_velocity_smoother_flow.drawio.svg
  planning/autoware_velocity_smoother/package.xml
  planning/autoware_velocity_smoother/src/node.cpp
  planning/autoware_velocity_smoother/src/resample.cpp
  planning/autoware_velocity_smoother/src/smoother/analytical_jerk_constrained_smoother/analytical_jerk_constrained_smoother.cpp
  planning/autoware_velocity_smoother/src/smoother/analytical_jerk_constrained_smoother/velocity_planning_utils.cpp
  planning/autoware_velocity_smoother/src/smoother/jerk_filtered_smoother.cpp
  planning/autoware_velocity_smoother/src/smoother/l2_pseudo_jerk_smoother.cpp
  planning/autoware_velocity_smoother/src/smoother/linf_pseudo_jerk_smoother.cpp
  planning/autoware_velocity_smoother/src/smoother/smoother_base.cpp
  planning/autoware_velocity_smoother/src/trajectory_utils.cpp
  planning/autoware_velocity_smoother/test/test_smoother_functions.cpp
  planning/autoware_velocity_smoother/test/test_velocity_smoother_node_interface.cpp
Labels: type:documentation, component:planning, run:build-and-test-differential

#10299 fix(voxel_based_compare_map): temporary fix pointcloud transform lookup
  perception/autoware_compare_map_segmentation/src/voxel_based_compare_map_filter/node.cpp
  perception/autoware_compare_map_segmentation/src/voxel_based_compare_map_filter/node.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/filter.hpp
Labels: component:perception, component:sensing, run:build-and-test-differential

#10329 fix(image_projection_based_fusion): add outside of FOV checking
  perception/autoware_image_projection_based_fusion/src/roi_pointcloud_fusion/node.cpp
  perception/autoware_image_projection_based_fusion/src/segmentation_pointcloud_fusion/node.cpp
Labels: component:perception, run:build-and-test-differential

#10333 fix(roi_pointcloud_fusion): add roi scale factor param
  perception/autoware_image_projection_based_fusion/config/roi_pointcloud_fusion.param.yaml
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/roi_pointcloud_fusion/node.hpp
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/utils/geometry.hpp
  perception/autoware_image_projection_based_fusion/schema/roi_pointcloud_fusion.schema.json
  perception/autoware_image_projection_based_fusion/src/roi_pointcloud_fusion/node.cpp
  perception/autoware_image_projection_based_fusion/src/utils/geometry.cpp
Labels: component:perception, run:deploy-docs, run:build-and-test-differential

#10334 fix(roi_pointcloud_fusion): merge into pointcloud container
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/camera_lidar_detector.launch.xml
  perception/autoware_image_projection_based_fusion/launch/roi_pointcloud_fusion.launch.xml
Labels: component:perception, component:launch, run:build-and-test-differential

#10342 fix(motion_velocity_planner): remove Metric messages
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/metrics_manager.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/obstacle_cruise_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/obstacle_cruise_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/type_alias.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/metrics_manager.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/obstacle_slow_down_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/obstacle_slow_down_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/type_alias.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/metrics_manager.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/obstacle_stop_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/obstacle_stop_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/type_alias.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node_universe/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node_universe/src/node.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node_universe/src/node.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node_universe/src/planner_manager.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node_universe/src/planner_manager.hpp
Labels: component:planning, run:build-and-test-differential

#10346 fix(autoware_image_projection_based_fusion): unintended new container behavior
  perception/autoware_image_projection_based_fusion/launch/roi_pointcloud_fusion.launch.xml
Labels: component:perception, run:build-and-test-differential

#10336 feat(autoware_stop_filter)!: port package to Autoware Core
  localization/autoware_stop_filter/CHANGELOG.rst
  localization/autoware_stop_filter/CMakeLists.txt
  localization/autoware_stop_filter/README.md
  localization/autoware_stop_filter/config/stop_filter.param.yaml
  localization/autoware_stop_filter/launch/stop_filter.launch.xml
  localization/autoware_stop_filter/package.xml
  localization/autoware_stop_filter/schema/stop_filter.schema.json
  localization/autoware_stop_filter/src/stop_filter.cpp
  localization/autoware_stop_filter/src/stop_filter.hpp
Labels: type:documentation, component:localization, run:build-and-test-differential

#10328 fix(autoware_radar_static_pointcloud_filter): add dependencies and use correct qos
  sensing/autoware_radar_static_pointcloud_filter/config/radar_static_pointcloud_filter.param.yaml
  sensing/autoware_radar_static_pointcloud_filter/package.xml
  sensing/autoware_radar_static_pointcloud_filter/schema/radar_static_pointcloud_filter.schema.json
  sensing/autoware_radar_static_pointcloud_filter/src/radar_static_pointcloud_filter_node.cpp
  sensing/autoware_radar_static_pointcloud_filter/src/radar_static_pointcloud_filter_node.hpp
Labels: component:sensing, run:build-and-test-differential

#10257 feat(autoware_tracker_object_merger): add diagnostics
  perception/autoware_tracking_object_merger/config/decorative_tracker_merger.param.yaml
  perception/autoware_tracking_object_merger/include/autoware/tracking_object_merger/decorative_tracker_merger_node.hpp
  perception/autoware_tracking_object_merger/package.xml
  perception/autoware_tracking_object_merger/src/decorative_tracker_merger_node.cpp
Labels: component:perception, run:build-and-test-differential

#10205 fix(behavior_path_planner, behavior_static_obstacle_avoidance_module): crash during goal changes
  planning/behavior_path_planner/autoware_behavior_path_planner/include/autoware/behavior_path_planner/planner_manager.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner/src/planner_manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/path_utils.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/utils.cpp
Labels: component:planning, run:build-and-test-differential

#10341 fix(control_validator): fix sign miss and add code test
  control/autoware_control_validator/include/autoware/control_validator/control_validator.hpp
  control/autoware_control_validator/src/control_validator.cpp
  control/autoware_control_validator/test/test_control_validator.cpp
Labels: component:control, run:build-and-test-differential

#10351 fix(compare_map_segmentation): last map update logic
  perception/autoware_compare_map_segmentation/src/voxel_grid_map_loader/voxel_grid_map_loader.cpp
Labels: component:perception, run:build-and-test-differential

#10219 feat(map_based_prediction): add diagnostic handler to warn the processing time excess
  perception/autoware_map_based_prediction/config/map_based_prediction.param.yaml
  perception/autoware_map_based_prediction/include/map_based_prediction/map_based_prediction_node.hpp
  perception/autoware_map_based_prediction/src/map_based_prediction_node.cpp
Labels: component:perception, run:build-and-test-differential

#10321 feat(start/goal_planner): use common max steer angle parameter from vehicle_info
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/config/goal_planner.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/pull_over_planner/geometric_pull_over.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/parking_departure/geometric_parallel_parking.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/parking_departure/geometric_parallel_parking.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/config/start_planner.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/data_structs.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/geometric_pull_out.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/manager.cpp
Labels: type:documentation, component:planning, run:build-and-test-differential

#10355 fix(control validator): combine callback functions to fix error count increment bug
  control/autoware_control_validator/include/autoware/control_validator/control_validator.hpp
  control/autoware_control_validator/src/control_validator.cpp
Labels: component:control, run:build-and-test-differential

#10357 feat(autoware_global_parameter_loader)!: port autoware_global_parameter_loader package to Autoware Core
  common/autoware_global_parameter_loader/CHANGELOG.rst
  common/autoware_global_parameter_loader/CMakeLists.txt
  common/autoware_global_parameter_loader/Readme.md
  common/autoware_global_parameter_loader/launch/global_params.launch.py
  common/autoware_global_parameter_loader/package.xml
Labels: run:build-and-test-differential

#10348 feat(autoware_motion_velocity_obstacle_stop_module): porting to core
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/CHANGELOG.rst
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/CMakeLists.txt
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/README.md
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/config/obstacle_stop.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/docs/collision_point.png
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/docs/detection_area.png
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/docs/stop_visualization.png
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/plugins.xml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/obstacle_stop_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/obstacle_stop_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/parameters.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/stop_planning_debug_info.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/type_alias.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/types.hpp
Labels: type:documentation, component:planning, run:build-and-test-differential

#10362 feat(autoware_planning_topic_converter)!: port autwoare_planning_topic_converter package to Autoware Universe
  planning/autoware_planning_topic_converter/CHANGELOG.rst
  planning/autoware_planning_topic_converter/CMakeLists.txt
  planning/autoware_planning_topic_converter/README.md
  planning/autoware_planning_topic_converter/include/autoware/planning_topic_converter/converter_base.hpp
  planning/autoware_planning_topic_converter/include/autoware/planning_topic_converter/path_to_trajectory.hpp
  planning/autoware_planning_topic_converter/package.xml
  planning/autoware_planning_topic_converter/src/path_to_trajectory.cpp
Labels: type:documentation, component:planning, run:build-and-test-differential

#10361 feat(autoware_vehicle_velocity_converter)!: port autoware_vehicle_velocity_converter to Autoware Core
  sensing/autoware_vehicle_velocity_converter/CHANGELOG.rst
  sensing/autoware_vehicle_velocity_converter/CMakeLists.txt
  sensing/autoware_vehicle_velocity_converter/README.md
  sensing/autoware_vehicle_velocity_converter/config/vehicle_velocity_converter.param.yaml
  sensing/autoware_vehicle_velocity_converter/launch/vehicle_velocity_converter.launch.xml
  sensing/autoware_vehicle_velocity_converter/package.xml
  sensing/autoware_vehicle_velocity_converter/schema/vehicle_velocity_converter.json
  sensing/autoware_vehicle_velocity_converter/src/vehicle_velocity_converter.cpp
  sensing/autoware_vehicle_velocity_converter/src/vehicle_velocity_converter.hpp
Labels: type:documentation, component:sensing, run:build-and-test-differential

#10359 chore(localization, perception): remove koji minoda as maintainer from multiple packages
  evaluator/autoware_localization_evaluator/package.xml
  perception/autoware_image_projection_based_fusion/package.xml
  perception/autoware_lidar_centerpoint/package.xml
Labels: component:perception, tag:update-codeowners-from-packages, component:evaluator, run:build-and-test-differential

#10350 fix(autoware_radar_static_pointcloud_filter): lookup timestamp and er…
  sensing/autoware_radar_static_pointcloud_filter/src/radar_static_pointcloud_filter_node.cpp
Labels: component:sensing, run:build-and-test-differential

#10364 feat(autoware_default_adapi): log autoware state change
  system/autoware_default_adapi/src/compatibility/autoware_state.cpp
  system/autoware_default_adapi/src/compatibility/autoware_state.hpp
Labels: component:system, run:build-and-test-differential

#10327 feat(autoware_default_adapi): disable sample web server
  system/autoware_default_adapi/launch/default_adapi.launch.py
Labels: component:system, run:build-and-test-differential

#10281 fix(autoware_crosswalk_traffic_light_estimator): add process that guard access to empty elements
  perception/autoware_crosswalk_traffic_light_estimator/src/node.cpp
Labels: component:perception, run:build-and-test-differential

#9453 feat(autoware_lidar_centerpoint): added the cuda_blackboard to centerpoint
  build_depends_humble.repos
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/pointpainting_fusion/pointpainting_trt.hpp
  perception/autoware_image_projection_based_fusion/src/pointpainting_fusion/pointpainting_trt.cpp
  perception/autoware_lidar_centerpoint/include/autoware/lidar_centerpoint/centerpoint_trt.hpp
  perception/autoware_lidar_centerpoint/include/autoware/lidar_centerpoint/node.hpp
  perception/autoware_lidar_centerpoint/include/autoware/lidar_centerpoint/preprocess/pointcloud_densification.hpp
  perception/autoware_lidar_centerpoint/include/autoware/lidar_centerpoint/preprocess/voxel_generator.hpp
  perception/autoware_lidar_centerpoint/launch/lidar_centerpoint.launch.xml
  perception/autoware_lidar_centerpoint/lib/centerpoint_trt.cpp
  perception/autoware_lidar_centerpoint/lib/postprocess/circle_nms_kernel.cu
  perception/autoware_lidar_centerpoint/lib/postprocess/postprocess_kernel.cu
  perception/autoware_lidar_centerpoint/lib/preprocess/pointcloud_densification.cpp
  perception/autoware_lidar_centerpoint/lib/preprocess/voxel_generator.cpp
  perception/autoware_lidar_centerpoint/lib/ros_utils.cpp
  perception/autoware_lidar_centerpoint/package.xml
  perception/autoware_lidar_centerpoint/src/node.cpp
Labels: component:perception, run:build-and-test-differential, tag:require-cuda-build-and-test

#10320 feat(autoware_tenssort_common): validate TensorRT engine version for cached engine
  perception/autoware_tensorrt_common/include/autoware/tensorrt_common/tensorrt_common.hpp
  perception/autoware_tensorrt_common/src/tensorrt_common.cpp
Labels: component:perception, run:build-and-test-differential

#10358 chore(perception): code owner revision
  common/autoware_traffic_light_utils/package.xml
  launch/tier4_perception_launch/package.xml
  perception/autoware_lidar_centerpoint/package.xml
  perception/autoware_object_range_splitter/package.xml
  perception/autoware_object_velocity_splitter/package.xml
  perception/autoware_shape_estimation/package.xml
  perception/autoware_simple_object_merger/package.xml
  perception/autoware_tensorrt_classifier/package.xml
  sensing/autoware_image_diagnostics/package.xml
Labels: component:perception, component:sensing, tag:update-codeowners-from-packages, component:launch, component:common, run:build-and-test-differential

#10322 fix(motion_velocity_obstacle_xxx_module): fix debug topic name
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/obstacle_cruise_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/obstacle_slow_down_module.cpp
Labels: component:planning, run:build-and-test-differential

#10370 feat(tier4_planning_rviz_plugin): add time from start text to Trajectory
  visualization/tier4_planning_rviz_plugin/include/tier4_planning_rviz_plugin/path/display.hpp
  visualization/tier4_planning_rviz_plugin/include/tier4_planning_rviz_plugin/path/display_base.hpp
Labels: run:build-and-test-differential

#10347 feat(autoware_multi_object_tracker): update overlapped tracker removing process in multi obj tracker
  perception/autoware_multi_object_tracker/src/processor/processor.cpp
Labels: component:perception, run:build-and-test-differential
