Repository autowarefoundation/autoware_universe, pull requests merged in 2025-02, with the labels that each got.

#10020 feat(autoware_planning_evaluator): add resampled_relative_angle metrics
  evaluator/autoware_planning_evaluator/config/planning_evaluator.param.yaml
  evaluator/autoware_planning_evaluator/include/autoware/planning_evaluator/metrics/metric.hpp
  evaluator/autoware_planning_evaluator/include/autoware/planning_evaluator/metrics/trajectory_metrics.hpp
  evaluator/autoware_planning_evaluator/include/autoware/planning_evaluator/metrics_calculator.hpp
  evaluator/autoware_planning_evaluator/include/autoware/planning_evaluator/motion_evaluator_node.hpp
  evaluator/autoware_planning_evaluator/include/autoware/planning_evaluator/planning_evaluator_node.hpp
  evaluator/autoware_planning_evaluator/package.xml
  evaluator/autoware_planning_evaluator/schema/autoware_planning_evaluator.schema.json
  evaluator/autoware_planning_evaluator/src/metrics/trajectory_metrics.cpp
  evaluator/autoware_planning_evaluator/src/metrics_calculator.cpp
  evaluator/autoware_planning_evaluator/src/motion_evaluator_node.cpp
  evaluator/autoware_planning_evaluator/src/planning_evaluator_node.cpp
  evaluator/autoware_planning_evaluator/test/test_planning_evaluator_node.cpp
Labels: component:evaluator, run:build-and-test-differential

#9998 chore(traffic_light_occlusion_predictor): created Schema file and updated ReadME file for parameters setting and deleted default parameter from the node.cpp file
  perception/autoware_traffic_light_occlusion_predictor/README.md
  perception/autoware_traffic_light_occlusion_predictor/schema/traffic_light_occlusion_predictor.schema.json
  perception/autoware_traffic_light_occlusion_predictor/src/node.cpp
Labels: type:documentation, component:perception, run:deploy-docs, run:build-and-test-differential

#10054 fix: modify the exec name of autoware_pointcloud_map_loader
  map/autoware_map_loader/launch/pointcloud_map_loader.launch.xml
Labels: component:map, run:build-and-test-differential

#10064 feat(autoware_behavior_velocity_traffic_light_module): adjust velocity threshold for ensure stop at yellow light
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/README.md
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/config/traffic_light.param.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/scene.hpp
Labels: type:documentation, component:planning, run:build-and-test-differential

#10001 feat(autoware_radar_crossing_objects_noise_filter): created schema file and updated readme file for parameters setting
  perception/autoware_radar_crossing_objects_noise_filter/README.md
  perception/autoware_radar_crossing_objects_noise_filter/schema/radar_crossing_objects_noise_filter.schema.json
Labels: type:documentation, component:perception, run:build-and-test-differential

#9992 feat(autoware_radar_tracks_noise_filter): Created Schema file and updated ReadME file for parameters setting
  sensing/autoware_radar_tracks_noise_filter/README.md
  sensing/autoware_radar_tracks_noise_filter/launch/radar_tracks_noise_filter.launch.xml
  sensing/autoware_radar_tracks_noise_filter/schema/radar_tracks_noise_filter.schema.json
Labels: type:documentation, component:sensing, run:build-and-test-differential

#9966 feat(radar_object_clustering): created schema file and updated readme file for parameters settings
  perception/autoware_radar_object_clustering/README.md
  perception/autoware_radar_object_clustering/config/radar_object_clustering.param.yaml
  perception/autoware_radar_object_clustering/schema/radar_object_clustering.schema.json
Labels: type:documentation, component:perception, run:build-and-test-differential

#10070 fix(autoware_map_height_fitter): find PCL package after autoware_package() is called
  map/autoware_map_height_fitter/CMakeLists.txt
Labels: component:map, run:build-and-test-differential

#10062 feat(diagnostic_graph_aggregator): remove edit feature
  system/autoware_diagnostic_graph_aggregator/README.md
  system/autoware_diagnostic_graph_aggregator/doc/format/edit.md
  system/autoware_diagnostic_graph_aggregator/doc/format/edit/remove.md
  system/autoware_diagnostic_graph_aggregator/doc/format/graph.md
  system/autoware_diagnostic_graph_aggregator/example/example-edit.launch.xml
  system/autoware_diagnostic_graph_aggregator/example/graph/edit.yaml
Labels: type:documentation, component:system, run:build-and-test-differential

#9994 chore(autoware_traffic_light_multi_camera_fusion): created Schema file and updated ReadME file for parameters setting
  perception/autoware_traffic_light_multi_camera_fusion/README.md
  perception/autoware_traffic_light_multi_camera_fusion/config/traffic_light_multi_camera_fusion.param.yaml
  perception/autoware_traffic_light_multi_camera_fusion/schema/traffic_light_multi_camera_fusion.schema.json
  perception/autoware_traffic_light_multi_camera_fusion/src/traffic_light_multi_camera_fusion_node.cpp
Labels: type:documentation, component:perception, run:deploy-docs, run:build-and-test-differential

#10071 fix(traffic_light.launch.xml): add lacked params
  launch/tier4_perception_launch/launch/traffic_light_recognition/traffic_light.launch.xml
Labels: component:launch, run:build-and-test-differential

#10072 fix(radar_tracks_noise_filter): fix launch file
  sensing/autoware_radar_tracks_noise_filter/launch/radar_tracks_noise_filter.launch.xml
Labels: component:sensing, run:build-and-test-differential

#10048 feat(autoware_traffic_light_classifier): add traffic light classifier schema, README and car and ped launcher
  launch/tier4_perception_launch/launch/traffic_light_recognition/traffic_light_node_container.launch.py
  perception/autoware_traffic_light_classifier/README.md
  perception/autoware_traffic_light_classifier/config/car_traffic_light_classifier.param.yaml
  perception/autoware_traffic_light_classifier/config/pedestrian_traffic_light_classifier.param.yaml
  perception/autoware_traffic_light_classifier/launch/car_traffic_light_classifier.launch.xml
  perception/autoware_traffic_light_classifier/launch/pedestrian_traffic_light_classifier.launch.xml
  perception/autoware_traffic_light_classifier/schema/car_traffic_light_classifier.schema.json
  perception/autoware_traffic_light_classifier/schema/pedestrian_traffic_light_classifier.schema.json
  perception/autoware_traffic_light_classifier/src/classifier/cnn_classifier.cpp
  perception/autoware_traffic_light_classifier/src/traffic_light_classifier_node.cpp
Labels: type:documentation, component:perception, component:launch, run:deploy-docs, run:build-and-test-differential

#9728 test(autoware_universe_utils): make opencv_fast_atan2 test reproducible
  common/autoware_universe_utils/test/src/math/test_trigonometry.cpp
Labels: component:common, run:build-and-test-differential

#10076 chore(autoware_lidar_centerpoint): add maintainer
  perception/autoware_lidar_centerpoint/package.xml
Labels: tag:update-codeowners-from-packages, run:build-and-test-differential

#10059 fix(motion_velocity_planner_common): fix the calc_possible_min_dist_from_obj_to_traj_poly calculation
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common_universe/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common_universe/src/utils.cpp
Labels: component:planning, run:build-and-test-differential

#10081 fix(autoware_topic_relay_controller): fix typo
  system/autoware_topic_relay_controller/config/topic_relay_controller.param.yaml
Labels: component:system, run:build-and-test-differential

#10083 chore(pointcloud_preprocessor): add Max to codeowners
  sensing/autoware_pointcloud_preprocessor/package.xml
Labels: component:sensing, tag:update-codeowners-from-packages, run:build-and-test-differential

#10079 refactor(goal_planner): fix updateData continuation condition
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
Labels: component:planning, run:build-and-test-differential

#9748 feat(traffic_light_category_merger): add new traffic_light_category_merger package
  perception/autoware_traffic_light_category_merger/CMakeLists.txt
  perception/autoware_traffic_light_category_merger/README.md
  perception/autoware_traffic_light_category_merger/launch/traffic_light_category_merger.launch.xml
  perception/autoware_traffic_light_category_merger/package.xml
  perception/autoware_traffic_light_category_merger/src/traffic_light_category_merger_node.cpp
  perception/autoware_traffic_light_category_merger/src/traffic_light_category_merger_node.hpp
Labels: type:documentation, component:perception, run:deploy-docs, run:build-and-test-differential, tag:require-cuda-build-and-test

#9721 feat(traffic_light_selector): add new node for traffic light selection
  perception/autoware_traffic_light_selector/CMakeLists.txt
  perception/autoware_traffic_light_selector/README.md
  perception/autoware_traffic_light_selector/config/traffic_light_selector.param.yaml
  perception/autoware_traffic_light_selector/launch/traffic_light_selector.launch.xml
  perception/autoware_traffic_light_selector/package.xml
  perception/autoware_traffic_light_selector/schema/traffic_light_selector.schema.json
  perception/autoware_traffic_light_selector/src/traffic_light_selector_node.cpp
  perception/autoware_traffic_light_selector/src/traffic_light_selector_node.hpp
  perception/autoware_traffic_light_selector/src/utils.cpp
  perception/autoware_traffic_light_selector/src/utils.hpp
Labels: type:documentation, component:perception, run:deploy-docs, run:build-and-test-differential, tag:require-cuda-build-and-test

#10060 feat(autoware_probabilistic_occupancy_grid_map): improved data handling on the ogm
  perception/autoware_probabilistic_occupancy_grid_map/include/autoware/probabilistic_occupancy_grid_map/costmap_2d/occupancy_grid_map_base.hpp
  perception/autoware_probabilistic_occupancy_grid_map/include/autoware/probabilistic_occupancy_grid_map/utils/cuda_pointcloud.hpp
  perception/autoware_probabilistic_occupancy_grid_map/lib/costmap_2d/occupancy_grid_map_base.cpp
  perception/autoware_probabilistic_occupancy_grid_map/lib/costmap_2d/occupancy_grid_map_fixed.cpp
  perception/autoware_probabilistic_occupancy_grid_map/lib/updater/binary_bayes_filter_updater.cpp
  perception/autoware_probabilistic_occupancy_grid_map/lib/updater/log_odds_bayes_filter_updater.cpp
  perception/autoware_probabilistic_occupancy_grid_map/src/pointcloud_based_occupancy_grid_map/pointcloud_based_occupancy_grid_map_node.cpp
  perception/autoware_probabilistic_occupancy_grid_map/src/pointcloud_based_occupancy_grid_map/pointcloud_based_occupancy_grid_map_node.hpp
Labels: component:perception, run:build-and-test-differential

#10061 fix(probabilistic_occupancy_grid_map): build and runtime on non-cuda environments
  perception/autoware_probabilistic_occupancy_grid_map/CMakeLists.txt
  perception/autoware_probabilistic_occupancy_grid_map/include/autoware/probabilistic_occupancy_grid_map/costmap_2d/occupancy_grid_map_base.hpp
  perception/autoware_probabilistic_occupancy_grid_map/include/autoware/probabilistic_occupancy_grid_map/updater/binary_bayes_filter_updater.hpp
  perception/autoware_probabilistic_occupancy_grid_map/include/autoware/probabilistic_occupancy_grid_map/updater/ogm_updater_interface.hpp
  perception/autoware_probabilistic_occupancy_grid_map/include/autoware/probabilistic_occupancy_grid_map/utils/utils.hpp
  perception/autoware_probabilistic_occupancy_grid_map/lib/costmap_2d/occupancy_grid_map_base.cpp
  perception/autoware_probabilistic_occupancy_grid_map/lib/updater/binary_bayes_filter_updater.cpp
  perception/autoware_probabilistic_occupancy_grid_map/lib/updater/log_odds_bayes_filter_updater.cpp
  perception/autoware_probabilistic_occupancy_grid_map/lib/utils/utils.cpp
Labels: component:perception, run:build-and-test-differential, tag:require-cuda-build-and-test

#10065 fix(behavior_velocity_run_out_module): fix slow_down jerk filter
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/src/scene.hpp
Labels: component:planning, run:build-and-test-differential

#10091 fix: add missing includes to autoware_universe_utils
  control/autoware_control_performance_analysis/src/control_performance_analysis_core.cpp
  control/autoware_pid_longitudinal_controller/src/longitudinal_controller_utils.cpp
  control/autoware_predicted_path_checker/src/predicted_path_checker_node/predicted_path_checker_node.cpp
  control/autoware_predicted_path_checker/src/predicted_path_checker_node/utils.cpp
  control/autoware_pure_pursuit/src/autoware_pure_pursuit/autoware_pure_pursuit_lateral_controller.cpp
  planning/autoware_freespace_planner/src/autoware_freespace_planner/utils.cpp
  planning/autoware_obstacle_stop_planner/src/node.hpp
  planning/autoware_obstacle_stop_planner/src/planner_utils.cpp
  planning/autoware_path_smoother/include/autoware/path_smoother/utils/trajectory_utils.hpp
  planning/autoware_path_smoother/src/utils/trajectory_utils.cpp
  planning/autoware_velocity_smoother/src/resample.cpp
  planning/autoware_velocity_smoother/src/smoother/analytical_jerk_constrained_smoother/analytical_jerk_constrained_smoother.cpp
  planning/autoware_velocity_smoother/src/smoother/analytical_jerk_constrained_smoother/velocity_planning_utils.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/path_safety_checker/safety_check.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/path_safety_checker/objects_filtering.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/utils.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/type_alias.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_drivable_lane_module/src/util.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/src/utilization/path_utilization.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/src/utilization/util.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/src/utils.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/test/test_dynamic_obstacle.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_dynamic_obstacle_stop_module/src/collision.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_dynamic_obstacle_stop_module/src/object_filtering.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/filter_predicted_objects.cpp
  planning/sampling_based_planner/autoware_path_sampler/include/autoware_path_sampler/utils/geometry_utils.hpp
  planning/sampling_based_planner/autoware_path_sampler/include/autoware_path_sampler/utils/trajectory_utils.hpp
  planning/sampling_based_planner/autoware_sampler_common/package.xml
  tools/reaction_analyzer/src/reaction_analyzer_node.cpp
  vehicle/autoware_raw_vehicle_cmd_converter/package.xml
Labels: component:planning, component:control, component:tools, component:vehicle, run:build-and-test-differential

#10094 perf(behavior_path_planner): improve getOverlappedLaneletId
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/drivable_area_expansion/static_drivable_area.cpp
Labels: component:planning, run:build-and-test-differential

#10100 feat(autoware_traffic_light_arbiter): added schema and related files for autoware_traffic_light_arbiter
  perception/autoware_traffic_light_arbiter/README.md
  perception/autoware_traffic_light_arbiter/schema/traffic_light_arbiter.schema.json
  perception/autoware_traffic_light_arbiter/src/traffic_light_arbiter.cpp
Labels: type:documentation, component:perception, run:deploy-docs, run:build-and-test-differential

#10090 chore(autoware_map_based_prediction): delete unused function and parameter
  perception/autoware_map_based_prediction/README.md
  perception/autoware_map_based_prediction/include/map_based_prediction/map_based_prediction_node.hpp
  perception/autoware_map_based_prediction/src/map_based_prediction_node.cpp
Labels: type:documentation, component:perception, run:build-and-test-differential

#10093 chore(autoware_trajectory): remove unnecessary tier4_planing_msgs dependency
  common/autoware_trajectory/package.xml
Labels: component:common, run:build-and-test-differential

#10096 refactor(bpp_common): refactor calcBound
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/drivable_area_expansion/static_drivable_area.cpp
Labels: component:planning, run:build-and-test-differential

#10089 fix(autoware_traffic_light_selector): add camera_info into message_filter
  perception/autoware_traffic_light_selector/src/traffic_light_selector_node.cpp
  perception/autoware_traffic_light_selector/src/traffic_light_selector_node.hpp
Labels: component:perception, run:build-and-test-differential

#10102 fix(ground_segmentation): bring junction parameter from param file to launch argument
  launch/tier4_perception_launch/launch/obstacle_segmentation/ground_segmentation/ground_segmentation.launch.py
  launch/tier4_perception_launch/launch/perception.launch.xml
Labels: component:launch, run:build-and-test-differential

#10101 feat(goal_planner): ensure stop while path candidates are empty
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_searcher.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_searcher.cpp
Labels: component:planning, run:build-and-test-differential

#10092 feat: remove dependency on autoware_universe_utils from autoware_interpolation and autoware_motion_utils
  build_depends.repos
  common/autoware_interpolation/include/autoware/interpolation/spline_interpolation.hpp
  common/autoware_interpolation/include/autoware/interpolation/spline_interpolation_points_2d.hpp
  common/autoware_interpolation/package.xml
  common/autoware_interpolation/src/spline_interpolation_points_2d.cpp
  common/autoware_interpolation/test/src/test_spline_interpolation.cpp
  common/autoware_interpolation/test/src/test_spline_interpolation_points_2d.cpp
  common/autoware_motion_utils/docs/vehicle/vehicle.md
  common/autoware_motion_utils/include/autoware/motion_utils/resample/resample_utils.hpp
  common/autoware_motion_utils/include/autoware/motion_utils/trajectory/interpolation.hpp
  common/autoware_motion_utils/include/autoware/motion_utils/trajectory/trajectory.hpp
  common/autoware_motion_utils/package.xml
  common/autoware_motion_utils/src/marker/marker_helper.cpp
  common/autoware_motion_utils/src/resample/resample.cpp
  common/autoware_motion_utils/src/trajectory/interpolation.cpp
  common/autoware_motion_utils/src/trajectory/path_with_lane_id.cpp
  common/autoware_motion_utils/src/trajectory/trajectory.cpp
  common/autoware_motion_utils/test/src/resample/test_resample.cpp
  common/autoware_motion_utils/test/src/trajectory/benchmark_calcLateralOffset.cpp
  common/autoware_motion_utils/test/src/trajectory/test_interpolation.cpp
  common/autoware_motion_utils/test/src/trajectory/test_path_with_lane_id.cpp
  common/autoware_motion_utils/test/src/trajectory/test_trajectory.cpp
  common/autoware_motion_utils/test/src/vehicle/test_vehicle_state_checker.cpp
  planning/autoware_path_optimizer/include/autoware/path_optimizer/utils/geometry_utils.hpp
  planning/autoware_path_optimizer/include/autoware/path_optimizer/utils/trajectory_utils.hpp
  planning/autoware_path_optimizer/src/mpt_optimizer.cpp
  planning/autoware_path_optimizer/src/node.cpp
  planning/autoware_path_optimizer/src/replan_checker.cpp
  planning/autoware_path_optimizer/src/utils/geometry_utils.cpp
  planning/autoware_path_optimizer/src/utils/trajectory_utils.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection_prepare_data.cpp
Labels: type:documentation, component:planning, component:common, run:build-and-test-differential

#10099 chore(autoware_probabilistic_occupancy_grid_map): fixed cuda use on non-cuda settings
  perception/autoware_probabilistic_occupancy_grid_map/lib/updater/binary_bayes_filter_updater.cpp
Labels: component:perception, run:build-and-test-differential

#10018 feat(autoware_interpolation): porting autoware_interpolation package to autoware.core
  common/autoware_interpolation/CHANGELOG.rst
  common/autoware_interpolation/CMakeLists.txt
  common/autoware_interpolation/README.md
  common/autoware_interpolation/include/autoware/interpolation/interpolation_utils.hpp
  common/autoware_interpolation/include/autoware/interpolation/linear_interpolation.hpp
  common/autoware_interpolation/include/autoware/interpolation/spherical_linear_interpolation.hpp
  common/autoware_interpolation/include/autoware/interpolation/spline_interpolation.hpp
  common/autoware_interpolation/include/autoware/interpolation/spline_interpolation_points_2d.hpp
  common/autoware_interpolation/include/autoware/interpolation/zero_order_hold.hpp
  common/autoware_interpolation/package.xml
  common/autoware_interpolation/src/linear_interpolation.cpp
  common/autoware_interpolation/src/spherical_linear_interpolation.cpp
  common/autoware_interpolation/src/spline_interpolation.cpp
  common/autoware_interpolation/src/spline_interpolation_points_2d.cpp
  common/autoware_interpolation/test/src/test_interpolation.cpp
  common/autoware_interpolation/test/src/test_interpolation_utils.cpp
  common/autoware_interpolation/test/src/test_linear_interpolation.cpp
  common/autoware_interpolation/test/src/test_spherical_linear_interpolation.cpp
  common/autoware_interpolation/test/src/test_spline_interpolation.cpp
  common/autoware_interpolation/test/src/test_spline_interpolation_points_2d.cpp
  common/autoware_interpolation/test/src/test_zero_order_hold.cpp
Labels: type:documentation, component:common, run:build-and-test-differential

#10106 feat(autoware_traffic_light_fine_detector): created the schema file,updated the readme file and deleted the default parameter in node files code
  perception/autoware_traffic_light_fine_detector/README.md
  perception/autoware_traffic_light_fine_detector/launch/traffic_light_fine_detector.launch.xml
  perception/autoware_traffic_light_fine_detector/schema/traffic_light_fine_detector.schema.json
  perception/autoware_traffic_light_fine_detector/src/traffic_light_fine_detector_node.cpp
Labels: type:documentation, component:perception, run:deploy-docs, run:build-and-test-differential

#10087 fix(autoware_image_projection_based_fusion): modify incorrect index access in pointcloud filtering for out-of-range points
  perception/autoware_image_projection_based_fusion/src/pointpainting_fusion/node.cpp
Labels: component:perception, run:build-and-test-differential

#10105 feat(autoware_motion_utils)!: port to `autoware.core/common`
  common/autoware_motion_utils/CHANGELOG.rst
  common/autoware_motion_utils/CMakeLists.txt
  common/autoware_motion_utils/README.md
  common/autoware_motion_utils/docs/vehicle/vehicle.md
  common/autoware_motion_utils/include/autoware/motion_utils/constants.hpp
  common/autoware_motion_utils/include/autoware/motion_utils/distance/distance.hpp
  common/autoware_motion_utils/include/autoware/motion_utils/marker/marker_helper.hpp
  common/autoware_motion_utils/include/autoware/motion_utils/marker/virtual_wall_marker_creator.hpp
  common/autoware_motion_utils/include/autoware/motion_utils/resample/resample.hpp
  common/autoware_motion_utils/include/autoware/motion_utils/resample/resample_utils.hpp
  common/autoware_motion_utils/include/autoware/motion_utils/trajectory/conversion.hpp
  common/autoware_motion_utils/include/autoware/motion_utils/trajectory/interpolation.hpp
  common/autoware_motion_utils/include/autoware/motion_utils/trajectory/path_shift.hpp
  common/autoware_motion_utils/include/autoware/motion_utils/trajectory/path_with_lane_id.hpp
  common/autoware_motion_utils/include/autoware/motion_utils/trajectory/trajectory.hpp
  common/autoware_motion_utils/include/autoware/motion_utils/vehicle/vehicle_state_checker.hpp
  common/autoware_motion_utils/media/ego_nearest_search.svg
  common/autoware_motion_utils/media/segment.svg
  common/autoware_motion_utils/package.xml
  common/autoware_motion_utils/src/distance/distance.cpp
  common/autoware_motion_utils/src/marker/marker_helper.cpp
  common/autoware_motion_utils/src/marker/virtual_wall_marker_creator.cpp
  common/autoware_motion_utils/src/resample/resample.cpp
  common/autoware_motion_utils/src/trajectory/conversion.cpp
  common/autoware_motion_utils/src/trajectory/interpolation.cpp
  common/autoware_motion_utils/src/trajectory/path_shift.cpp
  common/autoware_motion_utils/src/trajectory/path_with_lane_id.cpp
  common/autoware_motion_utils/src/trajectory/trajectory.cpp
  common/autoware_motion_utils/src/vehicle/vehicle_state_checker.cpp
  common/autoware_motion_utils/test/src/distance/test_distance.cpp
  common/autoware_motion_utils/test/src/marker/test_virtual_wall_marker_creator.cpp
  common/autoware_motion_utils/test/src/resample/test_resample.cpp
  common/autoware_motion_utils/test/src/test_motion_utils.cpp
  common/autoware_motion_utils/test/src/trajectory/benchmark_calcLateralOffset.cpp
  common/autoware_motion_utils/test/src/trajectory/test_interpolation.cpp
  common/autoware_motion_utils/test/src/trajectory/test_path_shift.cpp
  common/autoware_motion_utils/test/src/trajectory/test_path_with_lane_id.cpp
  common/autoware_motion_utils/test/src/trajectory/test_trajectory.cpp
  common/autoware_motion_utils/test/src/vehicle/test_vehicle_state_checker.cpp
  common/autoware_motion_utils/test/src/vehicle/test_vehicle_state_checker_helper.hpp
Labels: type:documentation, component:common, run:build-and-test-differential

#10067 feat(autoware_ekf_localizer)!: porting from universe to core 2nd
  codecov.yaml
  localization/autoware_ekf_localizer/CHANGELOG.rst
  localization/autoware_ekf_localizer/CMakeLists.txt
  localization/autoware_ekf_localizer/README.md
  localization/autoware_ekf_localizer/config/ekf_localizer.param.yaml
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/aged_object_queue.hpp
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/covariance.hpp
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/diagnostics.hpp
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/ekf_localizer.hpp
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/ekf_module.hpp
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/hyper_parameters.hpp
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/mahalanobis.hpp
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/matrix_types.hpp
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/measurement.hpp
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/numeric.hpp
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/state_index.hpp
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/state_transition.hpp
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/string.hpp
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/warning.hpp
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/warning_message.hpp
  localization/autoware_ekf_localizer/launch/ekf_localizer.launch.xml
  localization/autoware_ekf_localizer/media/calculation_delta_from_pitch.png
  localization/autoware_ekf_localizer/media/delay_model_eq.png
  localization/autoware_ekf_localizer/media/ekf_autoware_res.png
  localization/autoware_ekf_localizer/media/ekf_delay_comp.png
  localization/autoware_ekf_localizer/media/ekf_diagnostics.png
  localization/autoware_ekf_localizer/media/ekf_diagnostics_callback_pose.png
  localization/autoware_ekf_localizer/media/ekf_diagnostics_callback_twist.png
  localization/autoware_ekf_localizer/media/ekf_dynamics.png
  localization/autoware_ekf_localizer/media/ekf_flowchart.png
  localization/autoware_ekf_localizer/media/ekf_smooth_update.png
  localization/autoware_ekf_localizer/package.xml
  localization/autoware_ekf_localizer/schema/ekf_localizer.schema.json
  localization/autoware_ekf_localizer/schema/sub/diagnostics.sub_schema.json
  localization/autoware_ekf_localizer/schema/sub/misc.sub_schema.json
  localization/autoware_ekf_localizer/schema/sub/node.sub_schema.json
  localization/autoware_ekf_localizer/schema/sub/pose_measurement.sub_schema.json
  localization/autoware_ekf_localizer/schema/sub/process_noise.sub_schema.json
  localization/autoware_ekf_localizer/schema/sub/simple_1d_filter_parameters.sub_schema.json
  localization/autoware_ekf_localizer/schema/sub/twist_measurement.sub_schema.json
  localization/autoware_ekf_localizer/src/covariance.cpp
  localization/autoware_ekf_localizer/src/diagnostics.cpp
  localization/autoware_ekf_localizer/src/ekf_localizer.cpp
  localization/autoware_ekf_localizer/src/ekf_module.cpp
  localization/autoware_ekf_localizer/src/mahalanobis.cpp
  localization/autoware_ekf_localizer/src/measurement.cpp
  localization/autoware_ekf_localizer/src/state_transition.cpp
  localization/autoware_ekf_localizer/src/warning_message.cpp
  localization/autoware_ekf_localizer/test/test_aged_object_queue.cpp
  localization/autoware_ekf_localizer/test/test_covariance.cpp
  localization/autoware_ekf_localizer/test/test_diagnostics.cpp
  localization/autoware_ekf_localizer/test/test_ekf_localizer_launch.py
  localization/autoware_ekf_localizer/test/test_ekf_localizer_mahalanobis.py
  localization/autoware_ekf_localizer/test/test_mahalanobis.cpp
  localization/autoware_ekf_localizer/test/test_measurement.cpp
  localization/autoware_ekf_localizer/test/test_numeric.cpp
  localization/autoware_ekf_localizer/test/test_state_transition.cpp
  localization/autoware_ekf_localizer/test/test_string.cpp
  localization/autoware_ekf_localizer/test/test_warning_message.cpp
  localization/autoware_pose_covariance_modifier/README.md
Labels: type:documentation, component:localization, type:ci, run:build-and-test-differential

#10103 fix(lane_change): fix end pose not connected to goal (RT1-9247)
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/path.cpp
Labels: component:planning, run:build-and-test-differential

#10078 feat(lane_change): improve the calculation of the target lateral velocity in Frenet frame
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/path.cpp
Labels: component:planning, run:build-and-test-differential

#10107 feat(autoware_traffic_light_map_based_detector): created the schema file,updated the readme file and deleted the default parameter in node files code
  launch/tier4_perception_launch/launch/traffic_light_recognition/traffic_light_map_based_detector.launch.py
  perception/autoware_traffic_light_map_based_detector/README.md
  perception/autoware_traffic_light_map_based_detector/config/traffic_light_map_based_detector.param.yaml
  perception/autoware_traffic_light_map_based_detector/launch/traffic_light_map_based_detector.launch.xml
  perception/autoware_traffic_light_map_based_detector/schema/traffic_light_map_based_detector.schema.json
  perception/autoware_traffic_light_map_based_detector/src/traffic_light_map_based_detector_node.cpp
Labels: type:documentation, component:perception, component:launch, run:deploy-docs, run:build-and-test-differential

#10057 feat(distortion_corrector_node): replace imu and twist callback with polling subscriber
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/distortion_corrector/distortion_corrector_node.hpp
  sensing/autoware_pointcloud_preprocessor/src/distortion_corrector/distortion_corrector_node.cpp
Labels: type:improvement, component:sensing, run:build-and-test-differential

#10117 feat!: move autoware_testing from universe to core
  common/autoware_testing/CHANGELOG.rst
  common/autoware_testing/CMakeLists.txt
  common/autoware_testing/autoware_testing-extras.cmake
  common/autoware_testing/autoware_testing/__init__.py
  common/autoware_testing/autoware_testing/smoke_test.py
  common/autoware_testing/cmake/add_smoke_test.cmake
  common/autoware_testing/design/autoware_testing-design.md
  common/autoware_testing/package.xml
  common/autoware_testing/resource/autoware_testing
  common/autoware_testing/setup.cfg
  common/autoware_testing/setup.py
Labels: type:documentation, component:common, run:build-and-test-differential

#10119 fix(autoware_route_handler): fix a bug of route_handler
  planning/autoware_route_handler/src/route_handler.cpp
Labels: component:planning, run:build-and-test-differential

#10109 chore(motion_velocity_obstacle_stop_module): remove unnecessary dependency
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/package.xml
Labels: component:planning, run:build-and-test-differential

#10120 chore(autonomous_emergency_braking): remove unnecessary dependency
  control/autoware_autonomous_emergency_braking/package.xml
Labels: component:control, run:build-and-test-differential

#10121 fix(lane_change): remove string literals from stopwatch toc
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
Labels: component:planning, run:build-and-test-differential

#10113 feat(autoware_trajectory)!: port to `autoware.core/common`
  common/autoware_trajectory/CHANGELOG.rst
  common/autoware_trajectory/CMakeLists.txt
  common/autoware_trajectory/README.md
  common/autoware_trajectory/examples/example_find_intervals.cpp
  common/autoware_trajectory/examples/example_interpolator.cpp
  common/autoware_trajectory/examples/example_shift.cpp
  common/autoware_trajectory/examples/example_trajectory_path_point.cpp
  common/autoware_trajectory/examples/example_trajectory_point.cpp
  common/autoware_trajectory/examples/example_trajectory_pose.cpp
  common/autoware_trajectory/include/autoware/trajectory/detail/helpers.hpp
  common/autoware_trajectory/include/autoware/trajectory/detail/interpolated_array.hpp
  common/autoware_trajectory/include/autoware/trajectory/detail/logging.hpp
  common/autoware_trajectory/include/autoware/trajectory/detail/types.hpp
  common/autoware_trajectory/include/autoware/trajectory/forward.hpp
  common/autoware_trajectory/include/autoware/trajectory/interpolator/akima_spline.hpp
  common/autoware_trajectory/include/autoware/trajectory/interpolator/cubic_spline.hpp
  common/autoware_trajectory/include/autoware/trajectory/interpolator/detail/interpolator_common_interface.hpp
  common/autoware_trajectory/include/autoware/trajectory/interpolator/detail/interpolator_mixin.hpp
  common/autoware_trajectory/include/autoware/trajectory/interpolator/detail/nearest_neighbor_common_impl.hpp
  common/autoware_trajectory/include/autoware/trajectory/interpolator/detail/stairstep_common_impl.hpp
  common/autoware_trajectory/include/autoware/trajectory/interpolator/interpolator.hpp
  common/autoware_trajectory/include/autoware/trajectory/interpolator/linear.hpp
  common/autoware_trajectory/include/autoware/trajectory/interpolator/nearest_neighbor.hpp
  common/autoware_trajectory/include/autoware/trajectory/interpolator/spherical_linear.hpp
  common/autoware_trajectory/include/autoware/trajectory/interpolator/stairstep.hpp
  common/autoware_trajectory/include/autoware/trajectory/path_point.hpp
  common/autoware_trajectory/include/autoware/trajectory/path_point_with_lane_id.hpp
  common/autoware_trajectory/include/autoware/trajectory/point.hpp
  common/autoware_trajectory/include/autoware/trajectory/pose.hpp
  common/autoware_trajectory/include/autoware/trajectory/utils/closest.hpp
  common/autoware_trajectory/include/autoware/trajectory/utils/crop.hpp
  common/autoware_trajectory/include/autoware/trajectory/utils/crossed.hpp
  common/autoware_trajectory/include/autoware/trajectory/utils/find_intervals.hpp
  common/autoware_trajectory/include/autoware/trajectory/utils/shift.hpp
  common/autoware_trajectory/package.xml
  common/autoware_trajectory/src/detail/logging.cpp
  common/autoware_trajectory/src/detail/types.cpp
  common/autoware_trajectory/src/detail/util.cpp
  common/autoware_trajectory/src/interpolator/akima_spline.cpp
  common/autoware_trajectory/src/interpolator/cubic_spline.cpp
  common/autoware_trajectory/src/interpolator/linear.cpp
  common/autoware_trajectory/src/interpolator/spherical_linear.cpp
  common/autoware_trajectory/src/path_point.cpp
  common/autoware_trajectory/src/path_point_with_lane_id.cpp
  common/autoware_trajectory/src/point.cpp
  common/autoware_trajectory/src/pose.cpp
  common/autoware_trajectory/src/utils/closest.cpp
  common/autoware_trajectory/src/utils/crossed.cpp
  common/autoware_trajectory/src/utils/find_intervals.cpp
  common/autoware_trajectory/src/utils/shift.cpp
  common/autoware_trajectory/test/test_helpers.cpp
  common/autoware_trajectory/test/test_interpolator.cpp
  common/autoware_trajectory/test/test_trajectory_container.cpp
Labels: type:documentation, component:common, run:build-and-test-differential

#10122 chore(motion_velocity_planner_universe): fix build depends
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node_universe/package.xml
Labels: component:planning, run:build-and-test-differential

#10127 feat(mkdocs.yaml): update the separator characters
  mkdocs.yaml
Labels: type:ci, run:deploy-docs, run:build-and-test-differential

#10115 fix(autoware_pointcloud_preprocessor): empty input validation
  sensing/autoware_pointcloud_preprocessor/schema/pickup_based_voxel_grid_downsample_filter_node.schema.json
  sensing/autoware_pointcloud_preprocessor/src/downsample_filter/pickup_based_voxel_grid_downsample_filter_node.cpp
Labels: component:sensing, run:build-and-test-differential

#10058 feat(goal_planner): resample path interval for lane departure check accuracy
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/pull_over_planner/geometric_pull_over.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/pull_over_planner/shift_pull_over.cpp
Labels: component:planning, run:build-and-test-differential

#10138 fix(route_handler): use non-preferred route segment even if checkpoint is not on preferred lanelet at best
  planning/autoware_route_handler/src/route_handler.cpp
Labels: component:planning, run:build-and-test-differential

#10116 feat(tier4_perception_launch): change tlr pedestrian classifier model
  launch/tier4_perception_launch/launch/perception.launch.xml
Labels: component:launch, run:build-and-test-differential

#10151 chore(autoware_map_projection_loader): show map error details
  map/autoware_map_projection_loader/src/load_info_from_lanelet2_map.cpp
Labels: component:map, run:build-and-test-differential

#10148 ci(build-depends.repos): separate repos for humble and nightly
  .github/actions/combine-repos-action/README.md
  .github/actions/combine-repos-action/action.yaml
  .github/actions/combine-repos-action/combine-repos.py
  .github/sync-files.yaml
  .github/workflows/build-and-test-daily-arm64.yaml
  .github/workflows/build-and-test-daily.yaml
  .github/workflows/build-and-test-differential-arm64.yaml
  .github/workflows/build-and-test-differential.yaml
  .github/workflows/build-and-test.yaml
  .github/workflows/check-build-depends.yaml
  build_depends_humble.repos
  build_depends_nightly.repos
Labels: type:ci, run:build-and-test-differential

#10141 build(autoware_traffic_light_selector): fix missing sophus dependency
  perception/autoware_traffic_light_selector/package.xml
Labels: component:perception, run:build-and-test-differential

#10139 chore(motion_velocity_planner_universe): fix build depends (#10122)
  .github/actions/combine-repos-action/README.md
  .github/actions/combine-repos-action/action.yaml
  .github/actions/combine-repos-action/combine-repos.py
  .github/sync-files.yaml
  .github/workflows/build-and-test-daily-arm64.yaml
  .github/workflows/build-and-test-daily.yaml
  .github/workflows/build-and-test-differential-arm64.yaml
  .github/workflows/build-and-test-differential.yaml
  .github/workflows/build-and-test.yaml
  .github/workflows/check-build-depends.yaml
  build_depends_humble.repos
  build_depends_nightly.repos
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node_universe/package.xml
Labels: component:planning, type:ci, run:build-and-test-differential

#10144 chore(traffic_light_multi_camera_fusion): read parameters from yaml file
  launch/tier4_perception_launch/launch/perception.launch.xml
  launch/tier4_perception_launch/launch/traffic_light_recognition/traffic_light.launch.xml
  perception/autoware_traffic_light_multi_camera_fusion/config/traffic_light_multi_camera_fusion.param.yaml
  perception/autoware_traffic_light_multi_camera_fusion/launch/traffic_light_multi_camera_fusion.launch.xml
  perception/autoware_traffic_light_multi_camera_fusion/schema/traffic_light_multi_camera_fusion.schema.json
Labels: component:perception, component:launch, run:build-and-test-differential

#9731 feat(tier4_perception_launch): add option for new TL detector model
  launch/tier4_perception_launch/launch/perception.launch.xml
  launch/tier4_perception_launch/launch/traffic_light_recognition/traffic_light.launch.xml
  launch/tier4_perception_launch/launch/traffic_light_recognition/traffic_light_map_based_detector.launch.py
  launch/tier4_perception_launch/launch/traffic_light_recognition/traffic_light_node_container.launch.py
  perception/autoware_traffic_light_visualization/config/traffic_light_visualization.param.yaml
  perception/autoware_traffic_light_visualization/launch/traffic_light_roi_visualizer.launch.xml
  perception/autoware_traffic_light_visualization/schema/traffic_light_visualization.schema.json
  perception/autoware_traffic_light_visualization/src/traffic_light_roi_visualizer/node.cpp
  perception/autoware_traffic_light_visualization/src/traffic_light_roi_visualizer/node.hpp
Labels: component:perception, component:launch, run:deploy-docs, run:build-and-test-differential

#9909 feat(autoware_gnss_poser): porting from universe to core
  sensing/autoware_gnss_poser/CHANGELOG.rst
  sensing/autoware_gnss_poser/CMakeLists.txt
  sensing/autoware_gnss_poser/README.md
  sensing/autoware_gnss_poser/config/gnss_poser.param.yaml
  sensing/autoware_gnss_poser/include/autoware/gnss_poser/gnss_poser_node.hpp
  sensing/autoware_gnss_poser/launch/gnss_poser.launch.xml
  sensing/autoware_gnss_poser/package.xml
  sensing/autoware_gnss_poser/schema/gnss_poser.schema.json
  sensing/autoware_gnss_poser/src/gnss_poser_node.cpp
Labels: type:documentation, component:sensing, run:build-and-test-differential

#10162 ci(build_depends.repos): fix for clang-tidy-differential
  .github/workflows/clang-tidy-differential.yaml
Labels: type:ci, run:build-and-test-differential

#10163 ci(build_depends.repos): fix for clang-tidy-differential
  .github/workflows/clang-tidy-differential.yaml
Labels: type:ci, run:build-and-test-differential

#10074 feat(autoware_pointcloud_preprocessor): reuse collectors to reduce creation of collector and timer
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/cloud_collector.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/concatenate_and_time_sync_node.hpp
  sensing/autoware_pointcloud_preprocessor/src/concatenate_data/cloud_collector.cpp
  sensing/autoware_pointcloud_preprocessor/src/concatenate_data/combine_cloud_handler.cpp
  sensing/autoware_pointcloud_preprocessor/src/concatenate_data/concatenate_and_time_sync_node.cpp
  sensing/autoware_pointcloud_preprocessor/test/test_concatenate_node_unit.cpp
Labels: component:sensing, run:build-and-test-differential

#10158 feat(autoware_default_adapi): allow route clear while vehicle is stopped
  system/autoware_default_adapi/config/default_adapi.param.yaml
  system/autoware_default_adapi/src/routing.cpp
  system/autoware_default_adapi/src/routing.hpp
Labels: component:system, run:build-and-test-differential

#10157 fix(autoware_radar_scan_to_pointcloud2): use sensor data qos
  sensing/autoware_radar_scan_to_pointcloud2/config/radar_scan_to_pointcloud2.param.yaml
  sensing/autoware_radar_scan_to_pointcloud2/schema/radar_scan_to_pointcloud2.schema.json
  sensing/autoware_radar_scan_to_pointcloud2/src/radar_scan_to_pointcloud2_node.cpp
  sensing/autoware_radar_scan_to_pointcloud2/src/radar_scan_to_pointcloud2_node.hpp
Labels: component:sensing, run:build-and-test-differential

#10165 fix(tier4_perception_launch): add missing parameter for planning simulation
  launch/tier4_perception_launch/launch/traffic_light_recognition/traffic_light.launch.xml
Labels: component:launch, run:build-and-test-differential

#10156 fix(autoware_radar_threshold_filter): use sensor data qos
  sensing/autoware_radar_threshold_filter/config/radar_threshold_filter.param.yaml
  sensing/autoware_radar_threshold_filter/src/radar_threshold_filter_node.cpp
  sensing/autoware_radar_threshold_filter/src/radar_threshold_filter_node.hpp
  sensing/autoware_radar_threshold_filter/test/radar_threshold_filter/test_radar_threshold_filter.cpp
Labels: component:sensing, run:build-and-test-differential

#10152 feat(autoware_pyplot)!: transfer autoware_pyplot to autoware.core repository
  common/autoware_pyplot/CHANGELOG.rst
  common/autoware_pyplot/CMakeLists.txt
  common/autoware_pyplot/README.md
  common/autoware_pyplot/include/autoware/pyplot/axes.hpp
  common/autoware_pyplot/include/autoware/pyplot/common.hpp
  common/autoware_pyplot/include/autoware/pyplot/figure.hpp
  common/autoware_pyplot/include/autoware/pyplot/legend.hpp
  common/autoware_pyplot/include/autoware/pyplot/loader.hpp
  common/autoware_pyplot/include/autoware/pyplot/patches.hpp
  common/autoware_pyplot/include/autoware/pyplot/pyplot.hpp
  common/autoware_pyplot/include/autoware/pyplot/quiver.hpp
  common/autoware_pyplot/include/autoware/pyplot/text.hpp
  common/autoware_pyplot/package.xml
  common/autoware_pyplot/src/axes.cpp
  common/autoware_pyplot/src/common.cpp
  common/autoware_pyplot/src/figure.cpp
  common/autoware_pyplot/src/legend.cpp
  common/autoware_pyplot/src/patches.cpp
  common/autoware_pyplot/src/pyplot.cpp
  common/autoware_pyplot/src/quiver.cpp
  common/autoware_pyplot/src/text.cpp
  common/autoware_pyplot/test/test_pyplot.cpp
Labels: type:documentation, component:common, run:build-and-test-differential

#10153 feat: replace autoware_universe_utils with autoware_utils in autoware_route_handler
  planning/autoware_route_handler/package.xml
  planning/autoware_route_handler/src/route_handler.cpp
  planning/autoware_route_handler/test/test_route_handler.cpp
Labels: component:planning, run:build-and-test-differential

#10175 fix(autoware_traffic_light_category_merger): add missing dependency to autoware_universe_utils
  perception/autoware_traffic_light_category_merger/package.xml
Labels: component:perception, run:build-and-test-differential

#10174 feat(autoware_objects_of_interest_marker_interface): replace autoware_universe_utils with autoware_utils
  planning/autoware_objects_of_interest_marker_interface/include/autoware/objects_of_interest_marker_interface/coloring.hpp
  planning/autoware_objects_of_interest_marker_interface/include/autoware/objects_of_interest_marker_interface/marker_utils.hpp
  planning/autoware_objects_of_interest_marker_interface/package.xml
  planning/autoware_objects_of_interest_marker_interface/src/coloring.cpp
  planning/autoware_objects_of_interest_marker_interface/src/marker_utils.cpp
  planning/autoware_objects_of_interest_marker_interface/src/objects_of_interest_marker_interface.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/occluded_crosswalk.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection_occlusion.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection_prepare_data.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection_stuck.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_merge_from_private_road.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_walkway_module/src/scene_walkway.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/obstacle_cruise_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/obstacle_slow_down_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/obstacle_stop_module.cpp
Labels: component:planning, run:build-and-test-differential

#10167 feat(autoware_vehicle_info_utils): replace autoware_universe_utils with autoware_utils
  common/autoware_universe_utils/include/autoware/universe_utils/geometry/boost_geometry.hpp
  common/autoware_universe_utils/package.xml
  common/autoware_vehicle_info_utils/include/autoware_vehicle_info_utils/vehicle_info.hpp
  common/autoware_vehicle_info_utils/package.xml
  common/autoware_vehicle_info_utils/src/vehicle_info.cpp
  control/autoware_collision_detector/package.xml
  control/autoware_lane_departure_checker/src/lane_departure_checker_node/lane_departure_checker_node.cpp
  control/autoware_lane_departure_checker/src/lane_departure_checker_node/utils.cpp
  control/autoware_obstacle_collision_checker/include/autoware/obstacle_collision_checker/obstacle_collision_checker.hpp
  control/autoware_obstacle_collision_checker/src/debug.cpp
  evaluator/autoware_control_evaluator/include/autoware/control_evaluator/control_evaluator_node.hpp
  evaluator/autoware_control_evaluator/src/control_evaluator_node.cpp
  evaluator/autoware_perception_online_evaluator/include/autoware/perception_online_evaluator/utils/marker_utils.hpp
  evaluator/autoware_perception_online_evaluator/src/utils/marker_utils.cpp
  planning/autoware_mission_planner_universe/src/lanelet2_plugins/default_planner.cpp
  planning/autoware_mission_planner_universe/src/lanelet2_plugins/default_planner.hpp
  planning/autoware_obstacle_cruise_planner/include/autoware/obstacle_cruise_planner/type_alias.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_searcher.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/utils.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning, component:control, component:common, component:evaluator, run:build-and-test-differential

#9931 feat(autoware_objects_of_interest_marker_interface): porting from universe to core
  planning/autoware_objects_of_interest_marker_interface/CHANGELOG.rst
  planning/autoware_objects_of_interest_marker_interface/CMakeLists.txt
  planning/autoware_objects_of_interest_marker_interface/README.md
  planning/autoware_objects_of_interest_marker_interface/include/autoware/objects_of_interest_marker_interface/coloring.hpp
  planning/autoware_objects_of_interest_marker_interface/include/autoware/objects_of_interest_marker_interface/marker_data.hpp
  planning/autoware_objects_of_interest_marker_interface/include/autoware/objects_of_interest_marker_interface/marker_utils.hpp
  planning/autoware_objects_of_interest_marker_interface/include/autoware/objects_of_interest_marker_interface/objects_of_interest_marker_interface.hpp
  planning/autoware_objects_of_interest_marker_interface/package.xml
  planning/autoware_objects_of_interest_marker_interface/src/coloring.cpp
  planning/autoware_objects_of_interest_marker_interface/src/marker_utils.cpp
  planning/autoware_objects_of_interest_marker_interface/src/objects_of_interest_marker_interface.cpp
Labels: type:documentation, component:planning, run:build-and-test-differential

#10179 feat(mission_planner): tolerate goal footprint being inside the previous lanelets of closest lanelet
  planning/autoware_mission_planner_universe/src/lanelet2_plugins/default_planner.cpp
Labels: component:planning, run:build-and-test-differential

#10182 fix(autoware_behavior_path_goal_planner_module): check optional before accessing
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/pull_over_planner/shift_pull_over.cpp
Labels: component:planning, run:build-and-test-differential

#10118 feat(goal_planner): align vehicle center to be parallel to lane boundary
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_searcher.cpp
Labels: component:planning, run:build-and-test-differential

#10114 refactor(goal_planner): refactor planPullOverAsCandidate
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
Labels: component:planning, run:build-and-test-differential

#9694 feat(autoware_vehicle_info_utils): move autoware_vehicle_info_utils to autoware.core
  common/autoware_vehicle_info_utils/CHANGELOG.rst
  common/autoware_vehicle_info_utils/CMakeLists.txt
  common/autoware_vehicle_info_utils/Readme.md
  common/autoware_vehicle_info_utils/config/polygon_remover.yaml
  common/autoware_vehicle_info_utils/config/vehicle_info.param.yaml
  common/autoware_vehicle_info_utils/config/vehicle_mirror.param.yaml
  common/autoware_vehicle_info_utils/include/autoware_vehicle_info_utils/vehicle_info.hpp
  common/autoware_vehicle_info_utils/include/autoware_vehicle_info_utils/vehicle_info_utils.hpp
  common/autoware_vehicle_info_utils/launch/sample.launch.py
  common/autoware_vehicle_info_utils/launch/vehicle_info.launch.py
  common/autoware_vehicle_info_utils/package.xml
  common/autoware_vehicle_info_utils/scripts/min_turning_radius_calculator.py
  common/autoware_vehicle_info_utils/src/vehicle_info.cpp
  common/autoware_vehicle_info_utils/src/vehicle_info_utils.cpp
  common/autoware_vehicle_info_utils/test/test_vehicle_info_utils.cpp
Labels: type:documentation, component:common, run:build-and-test-differential

#10188 chore(lane_change, QC): remove unused function
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/utils.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/utils.cpp
Labels: component:planning, run:build-and-test-differential

#10110 chore: refine maintainer list
  common/autoware_object_recognition_utils/package.xml
  common/autoware_traffic_light_utils/package.xml
  evaluator/autoware_perception_online_evaluator/package.xml
  launch/tier4_perception_launch/package.xml
  perception/autoware_cluster_merger/package.xml
  perception/autoware_crosswalk_traffic_light_estimator/package.xml
  perception/autoware_detected_object_validation/package.xml
  perception/autoware_ground_segmentation/package.xml
  perception/autoware_image_projection_based_fusion/package.xml
  perception/autoware_object_velocity_splitter/package.xml
  perception/autoware_radar_crossing_objects_noise_filter/package.xml
  perception/autoware_radar_fusion_to_detected_object/package.xml
  perception/autoware_radar_object_clustering/package.xml
  perception/autoware_radar_tracks_msgs_converter/package.xml
  perception/autoware_simple_object_merger/package.xml
  perception/autoware_tensorrt_classifier/package.xml
  perception/autoware_traffic_light_arbiter/package.xml
  perception/autoware_traffic_light_classifier/package.xml
  perception/autoware_traffic_light_fine_detector/package.xml
  perception/autoware_traffic_light_map_based_detector/package.xml
  perception/autoware_traffic_light_multi_camera_fusion/package.xml
  perception/autoware_traffic_light_occlusion_predictor/package.xml
  perception/perception_utils/package.xml
  sensing/autoware_pointcloud_preprocessor/package.xml
  sensing/autoware_radar_scan_to_pointcloud2/package.xml
  sensing/autoware_radar_static_pointcloud_filter/package.xml
  sensing/autoware_radar_threshold_filter/package.xml
  sensing/autoware_radar_tracks_noise_filter/package.xml
  visualization/autoware_perception_rviz_plugin/package.xml
Labels: component:perception, component:sensing, component:launch, component:common, component:evaluator, run:build-and-test-differential

#10112 feat(autoware_motion_velocity_obstacle_<stop/slow_down>_module): brings Point Cloud handling to this module
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/config/obstacle_slow_down.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/obstacle_slow_down_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/obstacle_slow_down_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/parameters.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/types.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/config/obstacle_stop.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/obstacle_stop_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/obstacle_stop_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/parameters.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common_universe/include/autoware/motion_velocity_planner_common_universe/planner_data.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common_universe/include/autoware/motion_velocity_planner_common_universe/utils.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common_universe/src/utils.cpp
Labels: component:planning, run:build-and-test-differential

#10130 fix(tier4_perception_launch): add missing exec_depend
  launch/tier4_perception_launch/package.xml
  perception/autoware_detected_object_validation/package.xml
Labels: component:perception, component:launch, run:build-and-test-differential

#10131 fix(tier4_simulator_launch): add missing exec_depend
  launch/tier4_simulator_launch/package.xml
Labels: component:launch, run:build-and-test-differential

#9238 feat(map_loader): add support for local cartesian projection
  build_depends_humble.repos
  map/autoware_map_projection_loader/README.md
  map/autoware_map_projection_loader/src/map_projection_loader.cpp
Labels: type:documentation, component:map, run:build-and-test-differential

#10198 ci: use Code Build for build-and-test-differentianl-cuda
  .github/workflows/build-and-test-differential.yaml
  .github/workflows/build-test-tidy-pr.yaml
Labels: type:ci, run:build-and-test-differential

#10180 feat!: replace scenario msg from tier4_planning_msgs to autoware_internal_planning_msgs
  planning/autoware_costmap_generator/include/autoware/costmap_generator/costmap_generator.hpp
  planning/autoware_costmap_generator/src/costmap_generator.cpp
  planning/autoware_costmap_generator/test/test_costmap_generator.cpp
  planning/autoware_freespace_planner/include/autoware/freespace_planner/freespace_planner_node.hpp
  planning/autoware_freespace_planner/include/autoware/freespace_planner/utils.hpp
  planning/autoware_freespace_planner/test/test_freespace_planner_node_interface.cpp
  planning/autoware_remaining_distance_time_calculator/src/remaining_distance_time_calculator_node.cpp
  planning/autoware_remaining_distance_time_calculator/src/remaining_distance_time_calculator_node.hpp
  planning/autoware_scenario_selector/include/autoware/scenario_selector/node.hpp
  planning/autoware_scenario_selector/src/node.cpp
  planning/autoware_scenario_selector/test/test_autoware_scenario_selector_node_interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner/README.md
  planning/behavior_path_planner/autoware_behavior_path_planner/include/autoware/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner/src/test_utils.cpp
Labels: type:documentation, component:planning, run:build-and-test-differential

#10164 feat(autoware_planning_test_manager): porting autoware_planning_test_manager package to autoware.core
  planning/autoware_planning_test_manager/CHANGELOG.rst
  planning/autoware_planning_test_manager/CMakeLists.txt
  planning/autoware_planning_test_manager/README.md
  planning/autoware_planning_test_manager/include/autoware_planning_test_manager/autoware_planning_test_manager.hpp
  planning/autoware_planning_test_manager/include/autoware_planning_test_manager/autoware_planning_test_manager_utils.hpp
  planning/autoware_planning_test_manager/package.xml
  planning/autoware_planning_test_manager/src/autoware_planning_test_manager.cpp
Labels: type:documentation, component:planning, run:build-and-test-differential

#10195 refactor(goal_planner, QC): remove unused function
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/pull_over_planner/shift_pull_over.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/pull_over_planner/shift_pull_over.cpp
Labels: component:planning, run:build-and-test-differential

#10200 ci: use Code Build for clang-tidy-differential-cuda
  .github/workflows/build-test-tidy-pr.yaml
Labels: type:ci, run:build-and-test-differential
