Repository autowarefoundation/autoware_universe, pull requests merged in 2025-10, with the labels that each got.

#11432 feat(intersection): revert stop position calculation as before temporarily
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/include/autoware/behavior_velocity_intersection_module/decision_result.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/include/autoware/behavior_velocity_intersection_module/intersection_stoplines.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/include/autoware/behavior_velocity_intersection_module/scene_intersection.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection_collision.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection_prepare_data.cpp
Labels: component:planning, run:build-and-test-differential

#11420 feat(autoware_camera_streampetr): cuda based undistortion with rectification
  perception/autoware_camera_streampetr/README.md
  perception/autoware_camera_streampetr/include/autoware/camera_streampetr/network/camera_data_store.hpp
  perception/autoware_camera_streampetr/include/autoware/camera_streampetr/network/preprocess.hpp
  perception/autoware_camera_streampetr/launch/tensorrt_stream_petr.launch.xml
  perception/autoware_camera_streampetr/launch/tensorrt_stream_petr_compressed.launch.xml
  perception/autoware_camera_streampetr/lib/network/camera_data_store.cpp
  perception/autoware_camera_streampetr/lib/network/preprocess_kernel.cu
  perception/autoware_camera_streampetr/src/node.cpp
Labels: type:documentation, component:perception, run:build-and-test-differential

#11403 feat(start_planner): add plotting feature for the failed test cases.
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/CMakeLists.txt
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test/include/start_planner_test_helper.hpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test/src/start_planner_test_helper.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test/test_clothoid_pull_out.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test/test_freespace_pull_out.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test/test_geometric_pull_out.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test/test_shift_pull_out.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test_data/route_data3.yaml
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test_data/route_data4.yaml
Labels: component:planning, run:build-and-test-differential

#11441 fix(trajectory_optimizer): add acceleration recalculation
  planning/autoware_trajectory_optimizer/src/utils.cpp
Labels: component:planning, run:build-and-test-differential

#11425 fix(agnocast_wrapper): fix const rvalue reference binding error in AgnocastPollingSubscriber
  common/autoware_agnocast_wrapper/include/autoware/agnocast_wrapper/autoware_agnocast_wrapper.hpp
Labels: component:common, run:build-and-test-differential

#11443 fix(diffusion_planner): fix remaining velocity
  planning/autoware_diffusion_planner/src/postprocessing/postprocessing_utils.cpp
Labels: component:planning, run:build-and-test-differential

#11454 fix(diffusion_planner): wrong agent index
  planning/autoware_diffusion_planner/include/autoware/diffusion_planner/diffusion_planner_node.hpp
  planning/autoware_diffusion_planner/src/diffusion_planner_node.cpp
Labels: component:planning, run:build-and-test-differential, run:clang-tidy-pr-review

#11342 fix(lane_change): include stopping object beside ego as target
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/structs/data.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/utils.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/utils.cpp
Labels: type:documentation, component:planning, run:deploy-docs, run:build-and-test-differential

#11411 feat(autoware_image_object_locator): add autoware_image_object_locator package
  perception/autoware_image_object_locator/CMakeLists.txt
  perception/autoware_image_object_locator/README.md
  perception/autoware_image_object_locator/config/bbox_object_locator.param.yaml
  perception/autoware_image_object_locator/docs/bbox-object-locator.md
  perception/autoware_image_object_locator/launch/bbox_object_locator.launch.xml
  perception/autoware_image_object_locator/package.xml
  perception/autoware_image_object_locator/schema/bbox_object_locator.schema.json
  perception/autoware_image_object_locator/src/bbox_object_locator_node.cpp
  perception/autoware_image_object_locator/src/bbox_object_locator_node.hpp
Labels: type:documentation, component:perception, run:deploy-docs, run:build-and-test-differential

#11442 fix(out_of_lane): ensure the calculated stop pose is feasible
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_module.cpp
Labels: component:planning, run:build-and-test-differential, run:clang-tidy-pr-review

#11455 feat(static_obstacle_avoidance): avoidance for parking violation and vru
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/config/static_obstacle_avoidance.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/data_structs.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/helper.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/parameter_helper.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/schema/static_obstacle_avoidance.schema.json
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/debug.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/utils.cpp
Labels: component:planning, run:build-and-test-differential

#11458 chore(perception): add maintainer
  perception/autoware_detected_object_validation/package.xml
  perception/autoware_image_projection_based_fusion/package.xml
  perception/autoware_object_sorter/package.xml
  perception/autoware_shape_estimation/package.xml
  perception/autoware_simple_object_merger/package.xml
Labels: component:perception, run:build-and-test-differential

#11461 chore: relieve pose_estimator_lateral_tolerance to 0.5
  localization/autoware_pose_instability_detector/config/pose_instability_detector.param.yaml
  localization/autoware_pose_instability_detector/schema/pose_instability_detector.schema.json
Labels: component:localization, run:build-and-test-differential
